<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="customer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div id="conteitemcarrusel">
    <div class="itemcarrusel" id="itemcarrusel-1">
      <div class="tarjetacarrusel" id="tarjetacarrusel-1"> 
          <img src="Images/testimonials1 1.png" alt="persona1">
      </div> 
<div class="flechascarrusel">
   <div class="comilla"><img src="Images/“.png" alt="comillas"> </div>
   
  <div class="texto"><br> <p> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam </br>  sem   . In hendrerit     nulla quam nunc, accumsan congue. Lorem ipsum  </br> primis in nibh vel risus. </p></div>

</div>
</div>

<div class="fincarrusel">
  <img src="/Images/Ellipse 5.png" alt="">
  <img src="/Images/Ellipse 5.png" alt="">
  <img src="/Images/Ellipse 5.png" alt="">
  <br>
  <br>
  <div class="name"><p1>Emily, Los Angeles</p1></div>
</div>
  



<div class="itemcarrusel" id="itemcarrusel-2">
  <div class="tarjetacarrusel" id="tarjetacarrusel-2">
   <img src="Images/testimonials1 3.png" alt="persona1">
  </div> 
<div class="flechascarrusel">
  </div>
</div>
<div class="itemcarrusel" id="itemcarrusel-3">
  <div class="tarjetacarrusel" id="tarjetacarrusel-3">
     <img src="Images/testimonials1 4.png" alt="persona1">
  </div> 
<div class="flechascarrusel">
</div>
</div>
</div>
<div id="contepuntos">
  <a href="#itemcarrusel-1"><img src="Images/Vector (1).png" alt=""></a>
  <a href="#itemcarrusel-2"><img src="Images/Ellipse 7.png" alt=""></a>
  <a href="#itemcarrusel-3"><img src="Images/Ellipse 8.png" alt=""></a>

</div>


</body>
</html>

  