@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.container {
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  font-style: normal;
}

* {
  --accent-color: #4985ff;
  --main-light-color: #ffffff;
  --main-dark-color: #000000;
  --main-wan-color: #999999;
  --section-line-color: #e0e0e0;
  --works-background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
  --button-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.works {
  position: relative;
}

.works-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50%;
  z-index: -1;
  background: var(--works-background);
}

.works .works-container {
  position: relative;
  max-width: 1140px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 65px 0;
  width: auto;
}

.works-top {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__title {
  margin-left: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: var(--main-light-color);
  width: 540px;
}

.works__button {
  width: 200px;
  height: 45px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main-light-color);
  background: #4985ff;
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
  border: none;
  border-radius: 30px;
}

.works-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-list__item {
  max-width: 350px;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}

.works-list__item:not(:last-child) {
  margin-right: 30px;
}

.works-list__img {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.works-list__name {
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}

.works-list__text {
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-wan-color);
}

.works-list__text--number-color {
  color: var(--accent-color);
}

.works-list__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

.section-line {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  width: 1140px;
  background-color: var(--section-line-color);
}
/*# sourceMappingURL=main.css.map */