*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.galery {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
}

.photo {
    display: flex;
    flex-direction: column;  
}

.photo img {
    margin: 4px;
    transition: 0.3s;
}

.photo img:hover {
    transform: scale(1.25) translateX(-10px) translateY(-10px);
    
}

.slider {
    height: 380px;
     
}

.slides {
    display: flex;
    overflow: hidden;
}

.carruselTestimonials {
    height: 100%;
    position: relative;
}

.carruselItems {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   }

.carruselItems:hover {
    transform: rotateY(360deg)
}

.contentTestimony {
    position: relative;
}

#quotationMarks {
    position: absolute;
    top: 0;
    margin-top: 32px;
    margin-left: 72px;  
}

.carruselArrows {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 300px;
    padding-bottom: 0;
}

#arrows {
    color: #E1E1E1;
    padding-bottom: 80px;
}

.testimony {
    background-color: #FAFAFA;
    width: 968px;
    height: 138px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 109px;
    padding-top: 53px;
}

.datesTestimony {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
    color: #000000;


}

a {
    text-decoration: none;
}

#iconHome {
    color: #D31342;
    margin: 9px;
}

#iconCircle {
    width: 12px;
    height: 12px;
    color: #D9D9D9;
    margin: 9px;
}

#contentPoints {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 23px;
}

#contentPuntos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 820px;
    padding-top: 32px;
    padding-bottom: 120px;
}