.header__navigation {
  font-family: 'DM Sans';
  padding-top: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color-light);
}
.header__list {
  display: flex;
  gap: 35px;
  padding-left: 0px;
}
