// названия шрифтов
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

$white: #ffffff;
$black: #000000;

// цвет текста
$primary-text-color: $white;
$secondary-text-color: $black;

// дополнительный цвет текста для блока в секции "manufacture" и "location"
$alternate-text-color: #907e82;

// цвет заголовков и подзаголовков
$primary-title-color: #d41443;
$secondary-title-color: #ffa5ba;

// цвета фона для наведения и акцентирования
$primary-accent-color: #d41342;
$secondary-accent-color: #ecebeb;
$demarcation-accent-color: #fff9f7;

// цвет фона, в т.ч. плавающих
$header-bg-color: #ffb8ca;
$primary-bg-color: $white;
$secondary-bg-color: #fff5f6;

// дополнительные цвета для слайдера
$primary-decor-color: #e1e1e1;
$smallcircle-decor-color: #c7133e;
$largecircle-decor-color: #d9d9d9;
$home-decor-color: #d31342;
$alternate-bg-color: #fafafa;

// дополнительные цвета для секции "products" и "location"
$primary-overlay-decor-color: #f0d1a5;
$secondary-overlay-decor-color: #c2e297;
$alternate-overlay-decor-color: #ffb8ca;

$color-icon: #fea5bb;
