html {
  overflow-y: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  @media screen and(min-width:480px) {
    max-width: 418px;
  }
  @media screen and(min-width:768px) {
    max-width: 690px;
  }
  @media screen and(min-width:1280px) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
