.button {
  min-width: 260px;
  height: 48px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.button.primary {
  color: $light-background-color;
  background-color: $hover-color;
}

.button.secondary {
  color: $dark-background-color;
  background-color: $light-background-color;
  border: 2px solid $hover-color;
}

@media screen and (min-width: 1344px) {
  .button {
    min-width: 354px;
    height: 70px;
    padding-top: 26px;
    padding-left: 24px;
    padding-bottom: 26px;
    padding-right: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
  }
}
