.section-advantages {
  padding-bottom: 50px;
  @media screen and (min-width: $breakpoint-desktop) {
    padding-bottom: 130px;
  }
}
.advantages-list {
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: flex-start;
  }
}
.advantages-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    justify-content: flex-start;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $breakpoint-desktop) {
    position: relative;
    &:not(:last-child) {
      margin-right: 364px;
    }
  }
}
.advantages-icon {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  @media screen and (min-width: $breakpoint-desktop) {
    width: 100px;
    height: 100px;
    margin-right: 0;
  }
}
.advantages-content {
  width: 55%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  @media screen and (min-width: $breakpoint-desktop) {
    position: absolute;
    left: 82px;
    width: 360px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.649;
    .advantages-list-item:last-child & {
      width: 275px;
    }
  }
}

// @media screen and (min-width: 320px) and (max-width: 767px) {
//   .advantages-list-item:not(:last-child) {
//     margin-bottom: 30px;
//   }

//   .advantages-list-item {
//     display: flex;
//     align-items: center;
//     width: 216px;
//     height: 60px;
//   }

//   .advantages-content {
//     font-size: 14px;
//     line-height: 1.429;
//   }
// }

// @media screen and (min-width: 480px) {
//   .advantages-list-item {
//     display: flex;
//     justify-content: start;
//   }

//   .advantages-icon {
//     margin-right: 10px;
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 1319px) {

//   .advantages-list {
//     display: flex;
//     width: 688px;
//     height: 60px;
//   }

//   .advantages-content {
//     font-size: 14px;
//     line-height: 1.429;
//   }
// }

// @media screen and (min-width: 768px) {
//   .advantages-list-item {
//     display: flex;
//     align-items: center;
//   }

//   .advantages-icon {
//     margin-right: 10px;
//   }

//   .advantages-list-item:not(:last-child) {
//     margin-right: 20px;
//   }
// }

// @media screen and (min-width: 1320px) {
//   .container-advantages {
//     padding-top: 107px;
//     padding-bottom: 130px;
//   }

//   .advantages-list {
//     display: flex;
//     height: 102px;
//   }

//   .advantages-list-item {
//     position: relative;
//     display: flex;
//     align-items: center;
//   }

//   .advantages-list-item:not(:last-child) {
//     margin-right: 348px;
//   }

//   .advantages-content {
//     position: absolute;
//     left: 82px;
//     width: 366px;
//     height: 66px;
//     font-size: 20px;
//     line-height: 1.649;
//   }
// }

// .advantages-list-item svg {
//   width: 100px;
//   height: 102px;
// }

// .advantages-content {
//   margin-top: 0;
//   margin-bottom: 0;
//   font-family: $main-font;
//   font-style: normal;
//   font-weight: 800;
//   letter-spacing: 0.08em;
//   color: $text-color-black;
// }
