.section-hero {
  padding-bottom: 66px;
  background-image: url('../images/hero/hero-layer1mobile.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 77px;

  @media screen and (min-width: $breakpoint-tablet) {
    background-image: url('../images/hero/hero-layer1tablet.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    background-image: url('../images/hero/hero-layer1desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  // background 2x mobile
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/hero-layer1mobile@2x.png');
  }

  // background 2x tablet
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $breakpoint-tablet),
    screen and (min-resolution: 192dpi) and (min-width: $breakpoint-tablet),
    screen and (min-resolution: 2dppx) and (min-width: $breakpoint-tablet) {
    background-image: url('../images/hero/hero-layer1tablet@2x.png');
  }

  // background 2x desktop
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $breakpoint-desktop),
    screen and (min-resolution: 192dpi) and (min-width: $breakpoint-desktop),
    screen and (min-resolution: 2dppx) and (min-width: $breakpoint-desktop) {
    background-image: url('../images/hero/hero-layer1desktop@2x.png');
  }
}

.hero-side {
  margin-bottom: 40px;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  @media screen and (min-width: $breakpoint-tablet) {
    display: block;
  }
}
.container-hero {
  // outline: 2px solid tomato;
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
  }
}
.hero-title {
  font-family: $main-font;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: $text-color-black;
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    width: 332px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 58px;
    margin-bottom: 24px;
    width: 642px;
  }
}
.hero-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: $text-color-grey;
  @media screen and (min-width: $breakpoint-desktop) {
    font-weight: 500;
    font-size: 20px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
  }
}
.hero-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #111518;
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 20px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    margin-right: 6px;
  }
}
.hero-accent {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #ff6b09;
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 20px;
    line-height: 164.9%;
  }
}
.hero-button {
  max-width: 260px;
  // margin-bottom: 40px;
  padding-right: 6px;
  padding-left: 6px;
  transition: 0.7s;
  @media screen and (min-width: $breakpoint-desktop) {
    min-width: 354px;
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-button:hover,
.hero-button:focus {
  transform: scale(1.1);
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
}

.hero-wrapper {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    width: 332px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 536px;
    margin-bottom: 40px;
  }
}
.hero-images {
  width: 208px;
  height: 178px;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-tablet) {
    width: 378px;
    height: 321px;
    padding-top: 30px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 842px;
    height: 718px;
    padding-top: 0;
    margin-top: -60px;
    margin-right: -140px;
  }
}
.layer1 {
  position: absolute;
  top: -10px;
  left: 20px;
  @media screen and (min-width: $breakpoint-tablet) {
    top: 10px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    top: -55px;
    left: 72px;
  }
}
.hero-description-accent {
  @media screen and (min-width: $breakpoint-desktop) {
    display: inline-flex;
  }
}
