.section-registration {
  margin-top: 300px;
  padding-top: 50px;
  padding-bottom: 50px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: $background-color-black;
  background-image: url(../images/registration/registration-mobile-min.png);

  @media screen and(min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/registration/registration@2x-mobile-min.png);
  }
  @media screen and (min-width: $breakpoint-tablet) {
    background-image: url(../images/registration/registration-tablet-min.png);
  }

  @media screen and(min-device-pixel-ratio: 2) and (min-width: $breakpoint-tablet),
    screen and (min-resolution: 192dpi) and (min-width: $breakpoint-tablet),
    screen and (min-resolution: 2dppx) and (min-width: $breakpoint-tablet) {
    background-image: url(../images/registration/registration@2x-mobile-min.png);
  }

  @media screen and (min-width: $breakpoint-desktop) {
    background-image: url(../images/registration/registration-desktop-min.png);
  }

  @media screen and(min-device-pixel-ratio: 2) and (min-width: $breakpoint-desktop),
    screen and (min-resolution: 192dpi) and (min-width: $breakpoint-desktop),
    screen and (min-resolution: 2dppx) and (min-width: $breakpoint-desktop) {
    background-image: url(../images/registration/registration@2x-desktop-min.png);
  }

  @media screen and(min-width:$breakpoint-tablet) and(max-width:1319px) {
    padding-bottom: 71px;
  }

  @media screen and(min-width:$breakpoint-desktop) {
    padding-top: 100px;
    padding-bottom: 62px;
  }

  & span {
    color: $accent-color;
  }
}

.registration {
  &-title {
    text-align: center;
    color: $text-color-white;
    @media screen and(max-width:767px) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 136%;
    }

    @media screen and(min-width:$breakpoint-tablet) {
      margin: auto;
      width: 559px;
      margin-bottom: 40px;
    }
    @media screen and(min-width:$breakpoint-desktop) {
      width: 1111px;
      margin-bottom: 50px;
    }
  }
  &-description {
    color: $text-color-white;

    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.129;
    letter-spacing: 0.08em;

    @media screen and(min-width:$breakpoint-tablet) and(max-width:1319px) {
      font-size: 14px;
      line-height: 1.214;
    }
    @media screen and(min-width:$breakpoint-desktop) {
      font-size: 30px;
      line-height: 1.233;
    }

    &-bottom {
      margin-bottom: 30px;

      @media screen and(min-width:$breakpoint-tablet) and(max-width:1319px) {
        margin-bottom: 40px;
      }
      @media screen and(min-width:$breakpoint-desktop) {
        margin-bottom: 56px;
      }
    }
  }
}
.registration-form {
  &-list {
    margin-bottom: 50px;

    @media screen and(min-widht:$breakpoint-tablet) and(max-width:1319px) {
      margin-bottom: 31px;
    }
    @media screen and(min-width:$breakpoint-desktop) {
      margin-bottom: 80px;
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 20px;
  }
  &-input {
    display: block;
    margin: 0 auto;
    padding: 15px 28px;
    max-width: 100%;

    border: 1px solid $text-color-white;
    box-sizing: border-box;
    background-color: transparent;
    color: $text-color-white;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.08em;

    &::-webkit-input-placeholder {
      color: $text-color-white;
    }
    &::-moz-placeholder {
      color: $text-color-white;
    }
    &:-moz-placeholder {
      color: $text-color-white;
    }
    &:-ms-input-placeholder {
      color: $text-color-white;
    }

    @media screen and(min-width:$breakpoint-tablet) {
      min-width: 390px;
    }

    @media screen and(min-width:$breakpoint-desktop) {
      min-width: 478px;
      font-size: 20px;
      line-height: 1.142;
    }
  }
  &-btn {
    margin: 0 auto;
  }
}
