.section-reviews {
  padding-bottom: 50px;
  @media screen and (min-width: $breakpoint-desktop) {
    padding-bottom: 130px;
  }
}
.reviews {
  margin: 0 auto;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  &-title {
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $text-color-black;
    text-align: center;
  }
}
.reviews-text-list {
  &-item-name {
    font-weight: 800;
    line-height: 1.23;
    letter-spacing: 0.08em;
    color: $accent-color;
  }
  &-item-eduacation {
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: $text-color-grey;
  }
  &-item-feedback {
    font-weight: 500;
    line-height: 1.66;
    color: #3d3d3d;
  }
}

.read-more {
  font-weight: 500;
  line-height: 1.56;
  text-decoration-line: underline;
  color: $accent-color;
}

  .reviews-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .reviews-text-list {
    &-item-name {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &-item-eduacation {
      font-size: 12px;
      margin-bottom: 10px;
    }
    &-item-feedback {
      font-size: 12px;
      padding-bottom: 30px;
    }

    .read-more {
      font-size: 12px;
    }
  }
  .reviews {
    &-img {
      width: 90px;
      height: 90px;
    }
    &-img,
    &-vk {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &-slider-img-list {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      &-item {
        margin-right: 10px;
        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
  }

@media screen and (max-width: 767px) {
  .not-shown {
    display: none;
  }
  .reviews {
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 20px;
    &-text-list {
      text-align: center;
    }
  }

  .arrov-mob-left::after {
    position: absolute;
    content: '';
    display: block;
    background-image: url('../images/slider/arrowleft.svg');
    background-repeat: no-repeat;
    width: 28px;
    height: 18px;
    top: 20px;
    left: 0;
  }
  .arrov-mob-right::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url('../images/slider/arrowright.svg');
    background-repeat: no-repeat;
    width: 28px;
    height: 18px;
    top: 20px;
    right: 0;
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .reviews {
    display: flex;
    &-img {
      width: 150px;
      height: 150px;
    }
    &-title {
      font-size: 26px;
      margin-bottom: 70px;
    }
    &-text-part {
      display: flex;
      width: 412px;
      text-align: left;
    }
    &-text-list-item-name {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &-text-list-item-eduacation {
      margin-bottom: 20px;
    }
  }

  .reviews-img-part {
    display: flex;
    margin-left: 40px;
    margin-right: 46px;
  }

  .reviews-slider-img-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .reviews-img-part {
    position: relative;
  }
  .reviews-img-list::after {
    position: absolute;
    content: '';
    display: block;
    background-image: url('../images/slider/arrowleft.svg');
    background-repeat: no-repeat;
    width: 28px;
    height: 18px;
    top: 110px;
    left: -50px;
  }
  .reviews-text-part {
    position: relative;
  }
  .reviews-text-list::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url('../images/slider/arrowright.svg');
    background-repeat: no-repeat;
    width: 28px;
    height: 18px;
    top: 110px;
    right: -50px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .reviews {
    width: 1090px;
    margin-top: 50px;
    &-title {
      font-size: 46px;
      margin-bottom: 50px;
    }
    &-text-part {
      width: 706px;
      margin-top: 50px;
    }
    &-text-list-item-name {
      font-size: 30px;
      margin-bottom: 10px;
    }
    &-text-list-item-eduacation {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &-text-list-item-feedback {
      font-size: 18px;
    }
    .read-more {
      font-size: 18px;
    }
  }

  .reviews-img-list::after {
    top: 130px;
    left: -170px;
  }

  .reviews-text-list::before {
    top: 130px;
    right: -170px;
  }

  .reviews-img-part {
    margin-top: 50px;
    margin-left: 82px;
    margin-right: 40px;
  }
  .reviews-slider-img-list {
    margin-top: 40px;
  }
}
