.before-second-head {
    position: relative;

    &>h2:before {
        display: block;
        width: 60px;
        content: '';
        position: absolute;
        border-bottom: 1px solid $main-text;
        top: 49%;
        left: 0;
    }
}

// Нужно что-то решить з именами классов, пробовола делать плейсхолдер, не получилось(