body {
  color: $primary-text-color;
  font-family: $font-text;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 84px 31px;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
    padding: 84px 31px;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 100px 39px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 130px 55px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-name {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.01em;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
