/*для выезжающих из секции элементов (2шт)*/
.overflovewd-container {
    position: relative;
}
.overflovewd-element {
    position: absolute;
    transform: translateY(25%);

    @media screen and (min-width: $tablet){
        transform: translateY(50%);
    }
}