.location {
    font-family: DM Sans, sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 56.5px;
    text-align: center;
    background: $tradition-background-color;
}

.location-container {
    display: inline-block;
    margin-top: 84px;
    max-width: 480px;
    padding: 0 50px;

    @media screen and (min-width: $tablet) {
        margin-top: -78px;
        max-width: 970px;
        padding: 0 36px;
    }

    @media screen and (min-width: $desktop) {
        margin-top: -102px;
        max-width: 100%;
        padding: 0 115px;
    }
}


.location-cards {
    width: 100%;
    padding: 43px 20px;
    text-align: left;

    background: $main-white-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
    }

    @media (min-width: $tablet) and (max-width: 1199px) {
        width: calc((100% - 40px)/3);
        padding: 50px 32px;
        
        &:not(:last-child) {
            margin-right: 20px;
        }       
    }

    @media screen and (min-width: $desktop) {
        width: 330px;
    }
}

.location-institution-truck {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $main-white-color;
    background-color: $pistachio-color;
   

    display: inline-block;
    margin-bottom: 25px;
    padding: 0 30px;
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: $desktop) {
        font-size: 16px;
        margin-bottom: 32px;
    }
}

.location-institution-cafe {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $main-white-color;
    background-color: $gold-color;

    display: inline-block;
    margin-bottom: 25px;
    padding: 0 30px;
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: $desktop) {
        font-size: 16px;
        margin-bottom: 32px;
    }
}

.location-town {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.86;
    font-weight: 500;
    letter-spacing: 0.04em;

    @media screen and (min-width: $tablet) {
        margin-bottom: 14px;
        font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 10px;
        font-size: 16px;
    }
}

.location-description {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    color: $main-grey-color;

    @media screen and (min-width: $tablet) {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.66;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.83;
    }
}

.location-shedule {
    margin-bottom: 25px;
    padding: 25px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    @media screen and (min-width: $tablet) {
        margin-bottom: 30px;
        padding: 30px 0;
        font-size: 14px;
        line-height: 1.86;
        font-weight: 500;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 32px;
        padding: 32px 0;
        font-size: 16px;
    }
}

.location-shedule-days {
    display: block;

    font-size: 12px;
    line-height: 1.86;
    font-weight: 500;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
}

.location-shedule-time {
    display: block;

    font-size: 12px;
    line-height: 1.86;
    font-weight: 500;
    color: $dark-pink-color;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
}

.location-phone,
.location-mail {
    text-decoration: none;

    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    color: $main-grey-color;
    font-style: normal;
    

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.83;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
}

.location-contacts {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;    
    } 
}


