.how-container { 
    margin: 0 auto;              
    
}

.how-section-background {
    background: #FFF5F6;
}

.how-title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;    
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFA5BA;
    margin-bottom: 15px;
}

.how-subtitle {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;    
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
}

.how-text-bold {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;    
    color: #000000;
}

.how-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;    
    color: #907E82;
}

.how-btn-read-more-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.285;        
    align-items: center;
    text-align: center;
    color: #D41443;    
    outline: none;
}

.how-list-item {    
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;    
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
}

.how-list-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;    
    color: #000000;     
    display: block;        
}

@media screen and (min-width:320px) {
    .how-container {
        width: 320px;
        padding-top: 125px;
        padding-bottom: 145px;   
        padding-left: 20px;
        padding-right: 20px;     
    }

    .how-title {
        font-size: 18px;
        line-height: 1.167;        
    }

    .how-subtitle {
        font-size: 34px;
        line-height: 1.147;
        margin-bottom: 29px;      
    }

    .how-img {
        margin-bottom: 46px;
    }

    .how-text-bold-section {
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .how-text-bold {
        font-size: 12px;
        line-height: 1.583;              
    }

    .how-text {        
        font-size: 12px;
        line-height: 1.583;        
    }

    .how-btn-read-more {
        width: 176px;
        height: 44px;
        background: #FFFFFF;
        border-radius: 22px;
        border: none;
    }

    .how-btn-read-more-text {        
        margin-left: 30px;
        margin-bottom: 39px;
    }

    .how-list-item {
        margin-top: 16px;
        margin-bottom: 16px;        
        font-size: 36px;
        line-height: 1.139;        
    }

    .how-list-text {        
        font-size: 12px;
        line-height: 1.667;              
    }

    .how-list-text-container:not(:last-child){
        margin-bottom: 38px;
    }
}


@media screen and (min-width:768px) {
    .how-container {  
        width: 768px;      
        padding-top: 125px;
        padding-bottom: 242px;   
        padding-left: 36px;
        padding-right: 36px;     
    }

    .how-title {
        font-size: 26px;
        line-height: 1.154;        
    }

    .how-subtitle {
        font-size: 48px;
        line-height: 1.146;
        margin-bottom: 29px;      
    }

    .how-section {
        display: flex;        
    }

    .how-img {
        width: 340px;
        height: 340px;
    }

    .how-text-bold-section {
        width: 340px;
        margin-left: 17px;
        margin-right: 0px;
        margin-bottom: 28px;
    }

    .how-text-bold {
        font-size: 14px;
        line-height: 1.786;              
    }

    .how-text {        
        font-size: 14px;
        line-height: 1.786;        
    }

    .how-btn-read-more-text {        
        margin-left: 17px;
        margin-bottom: 66px;
    }

    .how-list {
        display: flex;
    }

    .how-list-text-container {
        width: 180px;
    }

    .how-list-text-container:not(:last-child) {
        margin-right: 60px;
    }

    .how-list-item {
        margin-top: 36px;
        margin-bottom: 13px;        
        font-size: 48px;
        line-height: 1.146;        
    }

    .how-list-text {        
        font-size: 14px;
        line-height: 1.714;              
    }
}

@media screen and (min-width:1200px) {
    .how-container {  
        width: 1200px;      
        padding-top: 125px;
        padding-bottom: 310px;   
        padding-left: 115px;
        padding-right: 115px;     
    }

    
    .how-title {
        font-size: 30px;
        line-height: 1.133;        
    }

    .how-subtitle {
        font-size: 58px;
        line-height: 1.137;
        margin-bottom: 29px;      
    }

    .how-img {
        width: 516px;
        height: 433px;
    }

    .how-text-bold-section {
        width: 463px;
        margin-left: 74px;
        margin-right: 0px;
        margin-bottom: 35px;
    }

    .how-btn-read-more-text {        
        margin-left: 74px;
        margin-bottom: 146px;
    }

    .how-list-text-container {
        width: 270px;
    }

    .how-list-text-container:not(:last-child) {
        margin-right: 90px;
    }

    .how-list-item {
        margin-top: 36px;
        margin-bottom: 13px;        
        font-size: 58px;
        line-height: 1.138;        
    }

    .how-list-text {        
        font-size: 16px;
        line-height: 1.75;              
    }
}