.container {
  margin: 0 auto;
  text-align: center;
}

.products-subtitle {
  margin-bottom: 15px;
  font-family: $secondary-font;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffa5ba;
}

.products-title {
  font-family: $secondary-font;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.products-list-item {
  position: relative;
  border-radius: 24px;

  &.icecream {
    background-color: #ffb8ca;
  }

  &.icecoffee {
    background-color: #f0d1a5;
  }

  &.milkshakes {
    background-color: #c2e297;
  }

  .products-subtitle {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
}

.products-list-item-img {
  position: absolute;
  display: block;
  max-width: 100%;
  margin: 0;
}

.products-list-item-text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.products-list-item-icon {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
    padding-top: 121px;
    padding-right: 20px;
    padding-bottom: 98px;
    padding-left: 20px;
  }

  .products-subtitle {
    font-size: 18px;
    line-height: 1.167;
  }

  .products-title {
    margin-bottom: 144px;
    font-size: 34px;
    line-height: 1.147;
  }

  .products-list-item {
    padding-top: 161px;
    padding-right: 40px;
    padding-bottom: 41px;
    padding-left: 40px;

    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  .products-list-item-img {
    top: -113px;
    left: 15px;
  }

  .products-list-item-text {
    margin: 30px 0;
    line-height: 1.52;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 122px;
    padding-right: 34px;
    padding-bottom: 112px;
    padding-left: 34px;
  }

  .products-subtitle {
    font-size: 26px;
    line-height: 1.154;
  }

  .products-title {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.146;
  }

  .products-list {
    display: flex;
    justify-content: center;
  }

  .products-list-item {
    padding-top: 152px;
    padding-right: 11px;
    padding-bottom: 40px;
    padding-left: 11px;
    max-width: calc((100% - 40px) / 3);

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .products-list-item-img {
    top: -104px;
    left: 0;
  }

  .products-list-item-text {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.786;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-top: 127px;
    padding-right: 113px;
    padding-bottom: 119px;
    padding-left: 113px;
  }

  .products-subtitle {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }

  .products-title {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.138;
  }

  .products-list {
    display: flex;
    justify-content: center;
  }

  .products-list-item {
    padding-top: 163px;
    padding-right: 44px;
    padding-bottom: 50px;
    padding-left: 44px;
    max-width: calc((100% - 46px) / 3);

    .products-subtitle {
      margin-bottom: 32px;
      font-size: 30px;
      line-height: 1.133;
    }

    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  .products-list-item-img {
    top: -210px;
    left: 3px;
  }

  .products-list-item-text {
    margin-top: 32px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.75;
  }
}
