.hero {
  background-color: #ffb8ca;

  .container {
    position: relative;
    margin: 0 auto;
    padding-top: 193px;
    padding-bottom: 160px;
    background-image: url(../images/ellipse.png);
    background-repeat: no-repeat;
    background-position: 36px 75px;
    background-size: 346px 344px;
    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding-top: 94px;
      padding-bottom: 0;
      background-position: 307px 31px;
      background-size: 324px 322px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding-top: 156px;
      padding-left: 77px;
      padding-right: 97px;
      background-position: 475px 52px;
      background-size: 538px 538px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .conteiner {
      background-image: url(../images/ellipse@2x.png);
    }
  }
}

.hero-title__block {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1280px) {
    margin-left: 38px;
  }
}
.hero-title {
  position: relative;
  z-index: 50;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-size: 26px;
  //   font-size: 38px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.16;
  }
  .imet {
    font-size: 48px;
    line-height: 96.5%;
    color: #d41443;
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 90.5%;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
    }
  }
}
.hero-button__list {
  display: flex;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 38px;
    margin-bottom: 56px;
  }

  .hero-button__list-item:not(:last-child) {
    margin-right: 10px;
    @media screen and (min-width: 1280px) {
      margin-right: 20px;
    }
  }
}
.hero-button {
  position: relative;
  z-index: 50;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #d41443;
  border: none;
  border-radius: 20px;
  font-family: $main-font;
  font-size: 8px;
  line-height: 1.25px;
  color: #ffffff;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.285;
  }
}
.hero-button__icon {
  background-color: #fff;
  color: #d41443;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.hero-block__milk {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.hero-block__milk-img {
  @media screen and (min-width: 1280px) {
    width: 188px;
  }
}
.hero-block__milk-text {
  margin-bottom: 7px;
  width: 114px;
  height: 48px;
  font-family: $main-font;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;

  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 140%;
  }
}
.hero-block__milk-arrow {
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}
.hero-list {
  display: none;

  .hero-list__item {
    position: relative;
    padding-top: 2px;
    padding-right: 10px;
    @media screen and (min-width: 1280px) {
      padding-top: 4px;
      padding-right: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 13px;
      @media screen and (min-width: 1280px) {
        margin-bottom: 15px;
      }
    }

    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #ffffff;
      @media screen and (min-width: 1280px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  .number {
    position: relative;
    z-index: 5;
    font-family: $secondary-font;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 1.15;
    }
  }
  .places {
    font-family: $main-font;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #ffffff;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.28;
    }
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.hero-block {
  display: flex;
  justify-content: space-between;
}
.hero-img__girl {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    width: 293px;
  }
}
.hero-img__icecream {
  position: absolute;
  top: 115px;
  left: 117px;
  max-width: 171px;
  @media screen and (min-width: 768px) {
    width: 143px;
    height: 336px;
    top: 44px;
    left: 378px;
  }
  @media screen and (min-width: 1280px) {
    width: 236px;
    height: 557px;
    top: 120px;
    left: 594px;
  }
}
