// 1 Стили к кнопке "отправить"

%button-link-text-go {
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: #303030;
  color: #ffffff;
  padding: 12px 38px;
}
// Ховер к1
%button-link-text-go-hov {
  background: #ff6c00;
  color: #ffffff;
}

// 2 Стили к кнопке "онлайн-заказ" светлый

%button-link-text-white {
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: #ffffff;
  color: #303030;
  padding: 12px 20px;
}
// Ховер к 2
%button-link-text-white-hov {
  background: #ff6c00;
  color: #ffffff;
}
// 3 Стили к кнопке "онлайн-заказ" темный
%button-link-text-black {
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: #303030;
  color: #ffffff;
  padding: 12px 20px;
}
// Ховер к 3
%button-link-text-black-hov {
  background: #ff6c00;
  color: #ffffff;
}
