html {
  box-sizing: border-box;
}
* {
  border: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: auto;
}
img {
  border: none;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  list-style: none;
}

.img {
  display: block;
}
