body {
  font-family: 'DM Sans', 'Sans Serif';
  font-style: normal;
  letter-spacing: 0.04em;
  font-weight: 500;
  margin: 0;
  //забули
  box-sizing: border-box;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 114px;
    padding-right: 114px;
  }
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

// це вже не потрібно
/*
// h2 titles
.accent-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;


  color: #d41443;

  @media screen and (max-width: 767px) {
    font-size: 34px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 48px;
  }
  color: $accent-color;

}

//h3
.subtitle {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;


  @media screen and (max-width: 767px) {
    font-size: 18px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 26px;
  }
}
}*/

.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
