body {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: $text-color;
    overflow-x: hidden;

}

img {
    display: block;
    width: 100%;
    height: auto;
}

:root {
    @media screen and (min-width: 768px) {
        --color2: $accent-color;
    }

}