*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: $primary-background-color;
}

.list {
  list-style: none;
}

.linc {
  text-decoration: none;
}
