html {
  scroll-behavior: smooth;
  @media screen and (min-width: $pc) {
    overflow-x: hidden;
  }
}

body {
  background-color: $white;
  color: $text;
  font-family: Montserrat;
   @media screen and (min-width: $pc) {
    overflow-x: hidden;
  }

}



main {
  min-width: 320px;
}

footer {
  min-width: 320px;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 67px;
  }

  @media (min-width: $pc) {
    width: $pc;
    padding: 0 228px;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.bg-1 {
  position: absolute; 
  width: 100%;
  min-width: 320px;
  z-index: -1;
  @media (min-width: $tablet) {
    display: none;
  }
}