html {
  scroll-behavior: smooth;
}

// Базовые стили для body

body {
  background-color: $white-color;

  color: $primary-text-color;

  font-family: DM Sans, sans-serif;
  font-size: 14px;
  // line-height: 1.78;
  // letter-spacing: 0.04em;

  &.modal-open {
    overflow: hidden;
  }
}

// Убирает лишние отступы у картинок снизу + добавляет отзывчивость

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Убирает подчеркивание у всех ссылок

a {
  text-decoration: none;
}

// Обнуляет стиль списка (дубль в плейсхолдерах)

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Скрывает элемент из потока (оставляет для экранных читалок)

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Общие стили для контейнера

// Размеры контейнера мобайл
.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  // Размеры контейнера таблет
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 34px;
    padding-left: 34px;
  }

  // Размеры контейнера десктоп
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  outline: none;
  border-color: transparent;
}

// Обнуляет отступы у текста и элементов списка
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}