.container {
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    min-width: 216px;
  }
  @media screen and (min-width: 768px) {
    padding: 0;
    width: 688px;
  }
  @media screen and (min-width: 1680px) {
    // padding: 0 183px;
    width: 1314px;
    margin: 0 auto;
  }
}
