.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 61px;
  padding-bottom: 62px;
  background-color: var(--container-bg-color);
  &__label {
    font-family: var(--products-title-font-family);
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--container-label-color);
    padding-top: 61px;
  }
}
