.html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
margin: 0px;
padding: 0px;  
}
body {
    font-family: $main-font;
    font-style: normal;    
}
img{
    display: block;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
}
.address {
    font-style: normal;
    }
.title{
    color: $subtitle-light-theme-color;
    }
.text{
    color: $text-color;
    }
.subtitle{  
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 3%;
}