.footer_box-one {
  min-height: 507px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $dark-bcg-color;
  background-size: cover;
  background-position: center;

  text-align: center;
  @media screen and (min-width: 768px) {
    min-height: 520px;
  }
  @media screen and (min-width: 1680px) {
    min-height: 840px;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  background-image: url('../images/optimised-svg-header-footer/footer-img-mobile.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/optimised-svg-header-footer/footer-img-mobile2@x.png');
  }

  @media screen and (min-width: 768px) and (max-width: 1680px) {
    background-image: url('../images/optimised-svg-header-footer/footer-img-tablet.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/optimised-svg-header-footer/footer-img-tablet@2x.png');
    }
  }

  @media screen and (min-width: 1680px) {
    min-height: 600px;
    background-image: url('../images/optimised-svg-header-footer/footer-img-desktop.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/optimised-svg-header-footer/footer-img-desktop@2x.png');
    }
  }
}
.footer-title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.03em;
  color: $white-color;

  color: $white-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 1.3;
  }

  @media screen and (min-width: 1680px) {
    font-size: 46px;
    line-height: 1.3;
  }
}
.footer-accent {
  color: $accent-color;
}
.footer-text {
  display: block;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: $white-color;

  color: $white-color;
  @media screen and (min-width: 768px) {
    ont-weight: 600;
    font-size: 14px;
  }
  @media screen and (min-width: 1680px) {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
  }
}
.form_input-box {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  min-width: 80%;
  min-height: 48px;
  border: 1px solid $white-color;
  background-color: transparent;
  &:first-child {
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
    outline-color: $accent-color;
  }

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: $white-color;

  @media screen and (min-width: 320px) {
    min-width: 280px;
  }

  @media screen and (min-width: 768px) {
    min-width: 390px;
  }

  @media screen and (min-width: 1680px) {
    min-width: 480px;
    min-height: 70px;
    font-weight: 600;
    font-size: 20px;
  }
}

.main-button {
  margin-top: 50px;
  background-color: $accent-color;
  color: $white-color;
  &:hover,
  &:focus {
    background-color: $white-color;
    color: $accent-color;
  }
  @media screen and (min-width: 1680px) {
    margin-top: 80px;
  }
}
ul {
  list-style: none;
}
.footer_box-two {
  min-height: 200px;
  background-color: $main-bcg-color;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.footer-contacts {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.footer-logo {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-right: 200px;
    margin-left: 0;
  }
  @media screen and (min-width: 1680px) {
    margin-right: 295px;
  }
}
.contacts-list {
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.contacts-item {
  @media screen and (max-width: 767px) {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
  }

  &:hover .contacts-phone,
  &:focus .contacts-phone {
    color: $accent-color;
  }
}

.contacts-img {
  width: 20px;
  height: 20px;
  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
}
.footer_box-three {
  background-color: $dark-bcg-color;
  height: 70px;
  padding: 21px;
}
.footer-rights {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.contacts-phone {
  color: $title-text-color;
  margin-left: 10px;
  margin-right: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1680px) {
    margin-left: 15px;
    font-size: 30px;
    text-align: center;
  }
}
.contacts-slash {
  @media screen and (min-width: 768px) {
    padding-left: 25px;
    width: 90px;
    height: 40px;
    border-left: 2px solid $primary-text-color;
  }
}
