html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans';
  color: #000000;
  background-color: #ffffff;
  min-width: 320px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: transparent;
  border-radius: 50%;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  display: none;
}

.container {
  // position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  min-width: 320px;
  // max-width: 480px;

  @media screen and(min-width:$mobile) {
    width: 480px;
  }

  @media screen and(min-width:$tablet) {
    width: 768px;
    padding-right: 34px;
    padding-left: 34px;
  }

  @media screen and(min-width:$desktop) {
    width: $desktop;
    max-width: 100vw;
    padding-left: 115px;
    padding-right: 115px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
