:root {
  scroll-behavior: smooth;
}

body {
  background-color: $white-color;
  font-family: $basic-font;
  &.popup-open {
    overflow: hidden;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 14px 10px 12px;
  min-width: 170px;
  cursor: pointer;

  border: 1px solid $accent-color;
  border-radius: 5px;
  outline: none;

  text-align: center;
  text-transform: uppercase;
  @include font(500, 12px, 1.33);

  color: $black-color;
  background-color: transparent;
  @include transition(color, background-color, border-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
    border-color: $accent-color;
    color: $white-color;
  }
}

.section {
  min-width: 300px;
  padding: $sec-pad-mob;

  @media screen and (min-width: $tablet) {
    padding-top: $sec-pad;
    padding-bottom: $sec-pad;
  }
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-width: 300px;
  max-width: $tablet - 1;
  padding-left: $cont-pad-mob;
  padding-right: $cont-pad-mob;

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    max-width: $tablet;
    padding-left: $cont-pad-tab;
    padding-right: $cont-pad-tab;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: $cont-pad-desk;
    padding-right: $cont-pad-desk;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-top: 0px;
  margin-bottom: 0px;
}
