html {
  box-sizing: border-box;
  /* width: 1600px; */
  margin-right: auto;
  margin-left: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.hidden {
  /* display: none; */
  position: absolute;
  width: 1;
  height: 1;
  margin: -1;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
