img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}
