body {
  font-style: normal;
  font-weight: 400;
  font-family: $text-font;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: $title-font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  font-style: none;
  text-decoration: none;
}
