.container {
  margin-top: 400px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.benefits {
  width: auto;
  height: 1809px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: $main-text;
  margin-bottom: 30px;
}

.sub-titiles {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $main-text;
}

.dash {
  font-weight: 900;
  font-size: 20px;
  line-height: 164.9%;
  display: flex;
  justify-content: center;
  color: $acent-text;
}

.description {
  //   padding-right: 11px;
  //   padding-left: 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $secondary-text;
}

.benefits-list {
  position: relative;
  width: 280px;
  height: 280px;
  margin-bottom: 15px;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}
.benefits-icon {
  position: absolute;
  top: 30px;
  left: 120px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 728px;
  }

  .benefits {
    width: 688px;
    height: 1116px;
  }

  .benefits-list {
    position: relative;
    width: 334px;
    height: 334px;
    margin-bottom: 27px;
    margin-right: 20px;

    // &:nth-last-child(6n) {
    //   margin-right: 0px;
    // }
  }

  .thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefits-icon {
    top: 40px;
    left: 138px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1300px;
  }

  .benefits {
    width: 1314px;
    height: 919px;
  }

  .benefits-list {
    position: relative;
    width: 425px;
    height: 396px;
    margin-bottom: 15px;
  }

  .benefits-icon {
    top: 40px;
    left: 190px;
  }
}
