.benefits {
  width: 320px;
  height: 1809px;
  left: 0px;
  top: 1680px;
}

.benefits-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: $main-text;
  margin-bottom: 30px;
}

.sub-titiles {
  padding-top: 97px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $main-text;
}

.dash {
  font-weight: 900;
  font-size: 20px;
  line-height: 164.9%;
  display: flex;
  justify-content: center;
  color: $acent-text;
}

.description {
  //   padding-right: 11px;
  //   padding-left: 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $secondary-text;
}

.benefits-list {
  width: 280px;
  height: 280px;
  margin-bottom: 15px;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}
