.title {
  font-size: 34px;
  line-height: 1.147;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.04;
  color: $text-color-primary;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 48px;
    line-height: 1.146;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06;
  }
}

.sub-title {
  font-size: 18px;
  line-height: 1.166;
  text-transform: uppercase;
  font-weight: 400;
  color: $text-color-pink;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.153;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04;
  }
}
