$font-size__desk: (
  'header-title': 38px,
  'nav': 16px,
  'text': 14px,
  'card-title label-title': 30px,
  'title-section': 58px,
  'text-client': 20px,
  'button-modal': 16px,
  'button-anchor': 14px,
  'numbers-header': 46px,
  'text-more': 16px,
);

@function getFont-size__desk($key) {
  @return map-get($font-size__desk, $key);
}

$font-size__tab: (
  'header-title': 22px,
  'nav-tablet': 14px,
  'text-header': 8px,
  'card-title label-title': 26px,
  'title-section': 48px,
  'button-anchor': 8px,
  'numbers-header': 28px,
  'text-client': 14px,
  'text-categories': 16px,
);

@function getFont-size__tab($key) {
  @return map-get($font-size__tab, $key);
}

$font-size__mob: (
  'header-title': 26px,
  'text': 12px,
  'card-title': 28px,
  'title-section': 34px,
  'subtitle': 20px,
  'number': 36px,
  'label-title': 18px,
  'button-anchor': 8px,
  'nav-tablet': 14px,
);

@function getFont-size__mob($key) {
  @return map-get($font-size__mob, $key);
}
