body {
    
    letter-spacing: 0.04em;
    font-weight: 500;
    margin: 0;
  
   
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .container {
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
    
    
    
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  
  
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  .visualy-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }