body {
  font-family: $main-text-font, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $first-text-color;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $title-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: $first-text-color;
}
p {
  margin: 0;
}
.content-container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and(min-width:1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
