.container {
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;


    @include mq(mobile) {
        width: 320px;
    }

    @include mq(tablet) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @include mq(desktop) {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}