.about-backdrop{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 400ms linear;
}
.about-modal {
  position: absolute;
  max-width: 500px;
  max-width: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0e6e6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
//   padding: 40px;
}
.modal-close-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 15px;
  right: 15px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:hover {
      background-color: tomato;
    // fill: blue;
  }
}
.about-icon-close{
    margin-left: -3px;
margin-top: 1px;
width: 28px;
height: 28px;
fill: red;
  &:hover {
    fill: rgb(255, 255, 255);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title{
font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 34px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
margin-top: 20px;
color: #ec8da3;   
}
.about-img-modal{
    max-width: 470px;
    margin-top: -30px;
    margin-left: -30px;
    position: absolute;
    filter: alpha(Opacity=50);
    opacity: 0.2;
}
.about-bg-modal{
    margin-top: 300px;
    max-width: 100%;
    filter: alpha(Opacity=50);
    opacity: 0.5;
}
.modal-text{
    position: absolute;
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 1.94;
letter-spacing: 0.04em;

color: #907E82;
    text-align: center;
    width: 300px;
    margin-top: 15px;
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes milk{
    0%{
transform: rotate(0deg);
    }


    100%{
transform: rotate(360deg);
    } 
}
.about-bg-modal {
    animation-name: milk;
}