* {
  // border: 1px solid grey;
  margin: 0px;
  padding: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.about-section {
  background: var(--second-section-color);
  padding-top: 60px;
  padding-bottom: 120px;
}

.about-label {
  font-family: var(--font-secondary);
  font-weight: 400;
  // font-size: 30px;
  // line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-header-color);
}

.about-title {
  font-family: var(--font-secondary);
  font-weight: 400;
  // font-size: 58px;
  // line-height: 66px;
  // text-align: center;
  // letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color-dark);
  margin-top: 15px;
}

.made {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.made-info {
  display: flex;
  flex-direction: column;
  // margin-left: 100px;
  // margin-top: 90px;
  // width: 464px;
}

.made-info {
  &__textone {
    font-family: var(--font-primary);
    font-style: normal;
    letter-spacing: 0.04em;
    color: #000000;
  }
}

.made-info__text-second {
  @extend .made-info__textone;
  color: var(--primary-text-color);
  letter-spacing: 0.04em;
}

.readmore-btn {
  background: var(--button-white-color);
  border-radius: 22px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-color-dark);
  width: 176px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.readmore-btn__icon {
  margin-left: 13.6px;
  margin-top: 3px;
}

@media screen and (max-width: 767px) {
  .about-section {
    background-image: url(/src/images/about-images/Background-about@1x-D.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 68%;
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-label {
    font-size: 18px;
    line-height: 21px;
  }
  .about-title {
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-left: 25px;
    margin-right: 25px;
  }

  .made {
    flex-wrap: wrap;
  }

  .made-info__textone,
  .made-info__text-second {
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
  }

  .made-info {
    width: 240px;
  }
  .readmore-btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .about-section {
    background-image: none;
  }

  .about-label {
    font-size: 26px;
    line-height: 30px;
  }

  .about-title {
    width: auto;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .made {
    flex-wrap: nowrap;
  }

  .made-info__textone,
  .made-info__text-second {
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
  }

  .made-info {
    display: flex;
    flex-direction: column;
    width: 382px;
    margin-top: 0px;
    margin-left: 32px;
    margin-right: 0px;
  }
  .readmore-btn {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about-section {
    background-image: url(/src/images/about-images/Background-about@1x-D.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 90% 70%;
  }

  .container {
    max-width: 1280px;
  }
  .about-label {
    font-size: 30px;
    line-height: 34px;
  }

  .about-title {
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .made {
    flex-wrap: nowrap;
  }
  .made-image {
    margin-left: 16px;
  }

  .made-info__textone {
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
  }
  .made-info__text-second {
    font-size: 14px;
    line-height: 194%;
  }

  .made-info__textone,
  .made-info__text-second {
    transform: scale(1);
    transition: all 0.25s linear;
    &:hover {
      transform: scale(1.1);
    }
  }

  .made-info {
    // display: flex;
    // flex-direction: column;
    margin-left: 100px;
    margin-top: 90px;
    width: 464px;
  }
  .readmore-btn {
    margin-top: 30px;
    &:hover {
      background-color: #ecebeb;
      transform: scale(1.1);
    }
  }
}
