.about-us .container {
  padding: 84px 31px;
  margin: 0 auto;

  width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 100px 39px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 130px 15px 130px 15px;
    display: flex;
  }
}

.about-us .examples {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 64px;
  }
}

.about-us .item {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.about-us .img {
  @media screen and (max-width: 1199px) {
    width: 330px;
    height: 235px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 445px;
  }
}

.about-us .title-text {
  margin: 0;
  margin-bottom: 20px;

  font-family: $OpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $titleTextColor;

  &::before {
    content: '';
    display: inline-block;

    margin-right: 20px;

    width: 60px;
    height: 1px;

    background: #303030;
    transform: translateY(-3px);
  }
}

.about-us .subtitle-text {
  display: block;
  margin-bottom: 20px;

  font-family: $Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;

  color: $titleTextColor;

  @media screen and (min-width: 1200px) {
    font-size: 42px;
  }
}

.about-us .appeal-text {
  display: block;
  margin-bottom: 20px;

  font-family: $OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: 0.02em;

  color: $textSeconaryColor;

  @media screen and (min-width: 780px) {
    line-height: 1.6;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.7;
  }
}

.about-us .text {
  margin: 0;
  margin-bottom: 40px;

  font-family: $OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.02em;

  color: $textSeconaryColor;
}
