// General styles

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

.container {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: $tablet-breakpoint) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .container {
    margin: 0 auto;
    width: 1200px;
  }
}

.section__subheading,
.section__heading {
  font-family: 'Titan One';
  letter-spacing: 0.04em;
  line-height: 1.145;
  text-align: center;
  text-transform: capitalize;
}

.section {
  &__subheading {
    color: #ffa5ba;
    font-size: 18px;
  }

  &__heading {
    color: #d41443;
    font-size: 34px;
    letter-spacing: 4%;
    margin-top: 18px;
  }
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .section {
    &--products {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__subheading {
      font-size: 26px;
    }
    &__heading {
      font-size: 48px;
      letter-spacing: 4%;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .section {
    &__subheading {
      font-size: 34px;
      letter-spacing: 4%;
    }
    &__heading {
      font-size: 58px;
      letter-spacing: 6%;
    }
  }
}

// ABOUT SECTION

.section--about {
  background-color: #fff5f6;
  padding: 60px 0;
}

.about-story {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $tablet-breakpoint) {
  .about-story {
    flex-direction: row;
  }
  .about-story__image-container,
  .about-story__content {
    width: 50%;
  }
  .about-story__content {
    padding-right: 0;
  }
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .about-story {
    margin-top: 40px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .about-story {
    margin-top: 60px;
  }
}

.about-story__image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .about-story__image {
    width: 90%;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .about-story__image {
    width: 80%;
  }
}

.about-story__text {
  color: #907e82;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.76;
  width: 80%;
}
.about-story__text--accented {
  color: #000000;
}

.about-story__text:last-of-type {
  margin-top: 18px;
}

.button-read-more {
  background-color: #fff;
  border: none;
  border-radius: 26px;
  color: #d41443;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.76;
  width: 176px;
  height: 44px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: $tablet-breakpoint) {
  .about-story__text:last-of-type {
    margin-top: 32px;
  }
  .buttpon-read-more {
    font-size: 16px;
    margin-top: 40px;
  }
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .about-story__text {
    font-size: 14px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .about-story__content {
    padding-top: 90px;
  }
  .about-story__text {
    font-size: 16px;
  }
}
