//Mobile design. Starting low resolutin, anything till tablet size will customize by following formats.

.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0px 10%;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

  .title-about {
    padding-bottom: 40px;
    display: flex;
    height: 44px;
    justify-content: flex-start;
    align-items: flex-start;

    .title-about h2 {
      color: #1e2827;
      font-size: 32px;
      font-family: Epilogue;
      font-weight: 600;
      word-wrap: break-word;
    }
  }

  .content {
    padding-top: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    display: inline-flex;

    .text-image {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .text-about {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .text-first {
          width: 100%;
          color: #141414;
          font-size: 14px;
          font-family: Epilogue;
          font-weight: 300;
          line-height: 18px;
          word-wrap: break-word;
        }

        .text-second {
          width: 100%;
          color: #141414;
          font-size: 14px;
          font-family: Epilogue;
          font-weight: 300;
          line-height: 18px;
          word-wrap: break-word;
        }
      }

      img {
        width: 100%;
        height: auto;
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .about-us {
    grid-template-columns: 20% 80%;
    display: grid;
    width: 100%;
    height: 100%;
    padding-top: 64px;
    padding-left: 0px;
    padding-right: 20px;
    gap: 40px;

    .title-about {
      display: flex;
      justify-content: flex-end;
      gap: 346px;
      padding-left: 0px;

      .tittle-about h2 {
        font-family: Epilogue;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.02em;
        text-align: left;
        font-size: 40px;
        color: #1e2827;
        word-wrap: break-word;
      }
    }

    .content {
      width: 100%;
      height: auto;
      padding-top: 0px;

      .text-image {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;

        .text-about {
          width: 80%;
          flex-direction: row;
          gap: 20px;
          display: flex;

          .text-first {
            width: 220px;
            word-wrap: break-word;
          }

          .text-second {
            width: 250px;
            word-wrap: break-word;
          }
        }

        img {
          width: 80%;
          height: 365px;
        }
      }
    }
  }
}

// Web desing! Starting 1024 width screen resolution, it will apply the following formats.

@media screen and (min-width: 1024px) {
  .about-us {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;

    .content {
      width: 100%;
      height: auto;

      .text-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-about {
          height: auto;
          display: flex;
          flex-direction: row;
          color: #1e2827;
          width: 80%;
          padding: 20px;

          .text-first {
            width: 50%;
          }

          .text-second {
            width: 50%;
          }
        }

        img {
          width: 80%;
          padding: 0;
        }
      }
    }

    .title-about {
      display: flex;
      padding: 20px;
      justify-content: flex-end;

      h2 {
        font-size: 40px;
      }
    }
  }
}
