.about {
  background: #fff5f6;
  padding-top: 244px;
  padding-bottom: 39px;
}
.about-slogan {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.154;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.133;
  }
}
.about-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 25px;
  //padding: 0px 60px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.146;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.138;
  }
}
.about-item {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.left-side {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  // align-items: center;
  // justify-content: center;
}
.photo {
  width: 100%;
}
.right-side {
  display: block;
  @media screen and (min-width: 768px) {
    margin-top: 106px;
  }
}
.text-first {
  //font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  margin-top: 45px;
  @media screen and (min-width: 768px) {
    max-width: 400px;
    margin-top: 0px;
  }
}
.text-second {
  //font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  padding: 0px 50px;
  margin-top: 40px;
  background-size: cover;

  background-image: url('../images/backcround-images/milkbg-mobail.png');
  @media screen and (max-width: 479px) {
    width: 100%;
    height: 133px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/backcround-images/milkbg-mobail.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192 dpi),
      screen and (min-resolution: 2px) {
      .text-second {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/backcround-images/milkbg-mobail@2x.png');
      }
    }
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 133px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/backcround-images/milkbg-mobail.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192 dpi),
      screen and (min-resolution: 2px) {
      .text-second {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/backcround-images/milkbg-mobail@2x.png');
      }
    }
  }
  @media screen and (min-width: 768px) {
    background-image: none;
  }
  @media screen and (min-width: 768px) {
    max-width: 410px;
  }
}
.btn-block {
  display: flex;
}
.about-btn {
  //font-family: DM Sans;
  //font-style: normal;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.302;
  border: none;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  margin-top: 17px;
  background-color: #ffffff;
  color: #d41443;
}
.about-icon {
  width: 5px;
  height: 9px;
  fill: #d41443;
}
