// GLOBAL STYLES
/* MOBILE */
@media screen and (max-width: 768px) {
  .about {
    background: #fff5f6;
    // background-image: url(../images/about-bg-M@X1.png);
    // background-repeat: no-repeat;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-left: 64px;
    padding-right: 56px;
    &__second {
      color: #ffa5ba;
      width: 198px;
      height: 21px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      font-family: 'Titan One';
      font-style: normal;
    }
    &__first {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-top: 20px;
      color: #d41443;
    }
  }
  .container-about {
    // background-image: url(../images/about-bg-M@X1.png);
    // background-repeat: no-repeat;
  }

  .about-description {
    background-image: url(../images/about-bg-M@X1.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    &__first {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 162%;
      letter-spacing: 0.04em;
      color: #000000;
      width: 220px;
      height: 111px;
    }

    &__second {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 162%;
      letter-spacing: 0.04em;
      color: #907e82;
      width: 220px;
      height: 171px;
    }
  }
  .about-button {
    display: flex;
    justify-content: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
    width: 176px;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 40px;
    &__icon {
      margin-left: 14px;
    }
  }
  .about-button:hover,
  .about-button:focus {
    background: #ecebeb;
    border-radius: 22px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about {
    display: flex;
    background: #fff5f6;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__second {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #ffa5ba;
    }
    &__first {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #d41443;
      margin-top: 16px;
    }
  }
  .about-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 90px;
    &__first {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 174%;
      letter-spacing: 0.04em;
      color: #000000;
      width: 334px;
      height: 95px;
    }
    &__second {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 194%;
      letter-spacing: 0.04em;
      color: #907e82;
      width: 334px;
      height: 155px;
    }
  }
  .about-button {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
    width: 176px;
    height: 44px;
    &__icon {
      margin-left: 14px;
    }
  }

  .about-button:hover,
  .about-button:focus {
    background: #ecebeb;
    border-radius: 22px;
  }

  .container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .about-images {
    margin-top: 60px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .container {
    // max-width: 1200px;
  }

  .about {
    display: flex;
    background: #fff5f6;
    background-image: url(../images/about-bg-D@X2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__second {
      font-family: 'Titan One';
      font-style: normal;
      color: #ffa5ba;
      font-weight: 400;
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
    &__first {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 66px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #d41443;
      margin-top: 16px;
    }
  }
  .about-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 90px;
    &__first {
      width: 400px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 176%;
      letter-spacing: 0.04em;
      color: #000000;
    }
    &__second {
      width: 401px;

      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 194%;
      letter-spacing: 0.04em;
      color: #907e82;
    }
  }
  .about-button {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
    width: 176px;
    height: 44px;
    &__icon {
      margin-left: 14px;
    }
  }

  .about-button:hover,
  .about-button:focus {
    background: #ecebeb;
    border-radius: 22px;
  }

  .container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .about-images {
    margin-top: 60px;
  }
}
