.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--dark-background);
    width: 100%;
    gap: 20px;
    padding: 20px;
    color: #fff;
    

    .about-section-svg-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 62px;
        height: 62px;
    }

    svg {
        width: 32px;
        height: 32px;
    }

    .about-chocolate,.about-price ,.about-us {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-right: 28px;
    }
}










/* Tablet */

@media screen and (min-width: 768px) {
    
    .about-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;
        padding: 50px 32px;

        .scale-divider {
            width: 308px;
        }
    }

    }
    


/* Desktop */


@media screen and (min-width : 1158px) {

    .about-section {
        gap: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 50px;

        .about-chocolate, .about-price {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 18px;
        }

        svg {
            fill: #fff;
        }

        .vertical-dash {
            border: 1px solid rgba(255, 255, 255, 0.5);
            height: 124px;
        }
    
    }

}