// .section.container {
//   padding-left: 52px;
//   padding-right: 52px;
// }

.advantages-item {
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantages-text {
  @include font(700, 14px, 1.429, 0.08em);
}
