// Общие стили
a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
    max-width: 100%;
    height: auto;
}

// Контейнер секции
.container-team {
  padding-left: 15px;
  padding-right: 15px;
  

  @media screen and (min-width: $mobile) {
    width: 480px;
    padding-left: 31px;
    padding-right: 31px;
    
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-left: 159px;
    padding-right: 159px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
// Секция мастеров
.team {
  background-color: $accent-bg-color;
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

// Заголовок секции
.team-sub-title {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 20px;

  color: $title-text-color;

  font-weight: $font-weight-semi-bold;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  
  @media screen and (max-width: 479px) {
    font-size: 7px;
  }
}

.dash{
  display: inline-flex;
  margin-bottom: 5px;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: $title-text-color;

  @media screen and (max-width: 479px) {
    width: 30px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
}

.team-title {
  margin-top: 0;
  margin-bottom: 44px;

  color: $title-text-color;

  font-family: 'Raleway';
  font-weight: $font-weight-bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  text-align: left;

  @media screen and (max-width: 479px) {
    font-size: 32px;
  }
}

// Офофрмление списка сотрудников
.team-list {
  @media screen and (max-width: 1169px) {
    .master-card {
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: 1170px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .master-card:not(:last-child){
        margin-right: 30px;
      }

      .master-card {
        width: calc((100% - 2 * 30px) / 3);
      }
  }
}

// Карточка сотрудника
.master-card {
  text-align: center;
  background-color: transparent;

  img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $mobile) and (max-width: $mobile-top) {
    width: 418px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px
  }

}

//  Имя сотрудника
.master-name {
  margin-bottom: 8px;

  color: $title-text-color;

  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
}

// Должность
.master-position {
  margin-bottom: 30px;

  color: $accent-color;

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;    
  text-align: center;    
}

// Список иконок социальных сетей

.social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  
  li:not(:last-child) {
      margin-right: 10px;
  }
}

// Иконки социальных сетей в карточках сотрудников и в футере
.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: all $main-transition-timing;
 
  fill: $title-text-color;
  background-color: $main-bg-color;

  cursor: pointer;

  &:hover, &:focus {
    fill: $accent-color;
  }
}