body {
  background-color: $secondary-bg-color;
  color: $main-text-color;
  font-family: $main-fonte-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
textarea {
  resize: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 480px) {
    width: 280px;
  }
  @media screen and (min-width: $tablet-width) {
    width: 700px;
  }
  @media screen and (min-width: $desktop-width) {
    width: 1050px;
  }
}
.section-title {
  margin-top: 0;
  font-family: $title-fonte-family;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $primary-title-color;
}
.button {
  border: 1px solid transparent;
  border-radius: 22px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: $accent-color;
  background-color: #ffffff;
  outline: none;
}
