// text-color
$primary-text-color: #111518;
$secondary-text-color: #b9b9b9;
$h-text-color: #ffffff;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #111518;
$primary-button-color: #ffffff;
$secondary-button-color: #ff6b09;
$acent-color: #ff6b09;
$span-text-color: #ff6b09;

// breakpoints
$mobile: 480px;
$mobile-tablet: 578px;
$tablet: 768px;
$desktop: 1200px;

body {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.57;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.08em;
}

a {
  text-decoration: none;
  display: block;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
