// Вариант контейнера Романа

// .container {
//   padding: 0;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-right: auto;
//   margin-left: auto;

//   @media screen and (min-width: $mobile) {
//     width: 480px;
//   }

//   @media screen and (min-width: $tablet) {
//     width: 768px;
//   }

//   @media screen and (min-width: $desktop) {
//     width: 1200px;
//   }

//   img {
//     display: block;
//     max-width: 100%;
//     height: auto;
//   }

//   ul {
//     list-style: none;
//   }
// }

//Вариант контейнера Антона

// .container {
//   margin-left: auto;
//   margin-right: auto;

//   @media screen and (min-width: 480px) {
//     width: 480px;
//     // padding-left: 31px;
//     // padding-right: 31px;
//   }

//   @media screen and(max-width: 767px) {
//     padding-left: 31px;
//     padding-right: 31px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//     padding-left: 40px;
//     padding-right: 40px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 1280px;
//     padding-left: 55px;
//     padding-right: 55px;
//   }
// }

//Вариант контейнера Артема

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 480px) {
    width: 480px;
  }

  @media screen and(max-width: 767px) {
    padding: 84px 31px;
  }

  @media screen and(min-width: 768px) {
    width: 768px;
    padding: 100px 40px;
  }

  @media screen and(min-width: 1280px) {
    width: 1280px;
    padding: 130px 55px;
  }
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

// /*Класс для заголовков Секций - типа "Наши мастера"*/
// h2 {
//   margin-top: 20px;
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 42px;
//   line-height: 49px;
//   letter-spacing: 0.05em;

//   color: $title-color;
// }

// /*Класс для текста параграфов перед названием секций (те, перед которыми палки стоят :)) */
// .section-manifest {
//   font-family: Open Sans;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 11px;
//   line-height: 15px;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;

//   color: $title-color;
// }
