.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin: auto;

    .modal-content {
        width: 85%;
        background-color: #fff;
        position: fixed;
        padding-left: 24px;
        padding-right: 24px;
        background: #FAFAFA;
        flex-shrink: 0;
        margin: 0;
        height: auto;



        .close-btn-buy {
            position: absolute;
            right: 14px;
            top: 14px;
            border: none;
            border-radius: 15px;
            background-color: #fafafa;
            cursor: pointer;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            svg {
                width: 28px;
                height: 28px;
            }
        }

        .buy-now-form {
            .form-title {
                font-family: "Montserrat", sans-serif;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: -0.6px;
                text-transform: uppercase;
                margin-top: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                .title-span {
                    color: var(--orange-color);
                    font-family: "Montserrat", sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: -0.6px;
                    margin-top: 0;
                }

                span {
                    color: var(--dark-font);
                }
            }

            .buy-now-container {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 100%;




                .img-container-buy-now {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;


                }

                .personal-details-container {
                    padding-top: 32px;

                    span {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 14px;
                        letter-spacing: -0.02em;
                        text-align: left;

                    }

                    .name-container {
                        display: flex;
                        flex-direction: column;
                    }

                }

                .weight-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 16px;
                    padding-right: 16px;
                    border-radius: 15px;
                    border: 1px solid #1111111A;
                    background: #fff;
                    width: 100%;
                    margin: auto;

                    .weight-img {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }

                    .weight-btn {
                        width: 70px;
                        height: 29px;
                        border-radius: 100px;
                        padding: 6px 16px;
                        border: 1px solid #1111111A;
                        background: linear-gradient(0deg, rgba(17, 17, 17, 0.1), rgba(17, 17, 17, 0.1)),
                            linear-gradient(0deg, #FAFAFA, #FAFAFA);
                    }
                }


            }

            .personal-details-container {
                display: flex;
                flex-direction: column;
                gap: 9px;

            }

            .input-container {
                position: relative;
                padding-top: 8px;



                .flag-nr {
                    position: absolute;
                    top: 17px;
                    left: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 74px;
                    padding-left: 0px;
                    gap: 8px;
                    flex-shrink: 0;
                    align-self: stretch;

                    .vertical-line {
                        border-right: 3px solid rgba(17, 17, 17, 0.05);
                        height: 25px;
                        padding-left: 10px;


                    }
                }

                .card-nr {
                    position: absolute;
                    top: 20px;
                    right: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .text-field.phone-flag {
                    padding-left: 120px;
                }

                .text-field {
                    width: 100%;
                    height: 46px;
                    border-radius: 13px;
                    border: 1.5px solid rgba(17, 17, 17, 0.05);
                    outline: none;
                    padding: 14px 18px;
                    margin-bottom: 14px;
                    background-color: #fafafa;

                    &::placeholder {
                        color: rgba(64, 64, 64, 0.3);
                        font-family: "Montserrat", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
            }

            .comments-buy-now {
                width: 100%;
                height: 91px;
                padding-left: 24px;
                padding-top: 22px;
                margin-bottom: 18px;
                border-radius: 13px;
                border: 1.5px solid rgba(17, 17, 17, 0.05);
                outline: none;
                background-color: #fafafa;
                margin-top: 8px;

                &::placeholder {
                    color: rgba(64, 64, 64, 0.3);
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }


    }


    .is-hidden {
        visibility: hidden;
        cursor: pointer;
    }
}


@media only screen and (min-width: 768px) {
    .modal {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        .modal-content {
            position: relative;
            padding: 48px;
            width: 609px;
            height: 1058px;
            border-radius: 15px;
            margin: auto;

            .buy-now-form .buy-now-container {
                display: flex;
                flex-direction: column;
                width: 513px;

                .personal-details-container .name-container {
                    margin-top: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .input-container {
                        width: 246px;
                    }


                }

                .img-container-buy-now {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 0;

                    .weight-container {
                        display: flex;
                        flex-direction: column;
                        height: 196px;
                        width: 160px;


                        .weight-img {
                            width: 120px;
                            height: 107px;
                            margin-top: 24px;
                        }

                        .weight-btn {
                            margin-bottom: 18px;
                        }

                    }

                }

                .input-container {
                    position: relative;

                    .text-field {
                        width: 100%;
                        height: 66px;
                        padding: 22px 24px;

                    }

                    .text-field.phone-flag {
                        padding-left: 155px;
                    }

                    .flag-nr {
                        top: 26px;
                        left: 40px;
                        width: 74px;
                        padding-right: 0px;
                        gap: 18px;
                        flex-shrink: 0;
                        align-self: stretch;

                        .vertical-line {
                            border-right: 3px solid rgba(17, 17, 17, 0.05);
                            height: 25px;
                            padding-left: 10px;
                        }
                    }

                    .card-nr {
                        top: 30px;
                    }
                }

                .comments-buy-now {
                    width: 100%;
                    height: 137px;
                    padding-left: 24px;
                    padding-top: 22px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1158px) {}