.section-cafe {
  background: #fff5f6;
}

@media screen and (min-width: 320px) {
  .section-cafe {
    position: relative;
    bottom: -94px;
  }
  .cont-logo {
    padding-top: 43px;
  }
  .container-cafe {
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-bottom: 20px;
  }
  .container-logo {
    // margin-top: 41px;
    margin-left: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    // line-height: 186%;
    /* or 22px */

    display: flex;
    width: 80px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;

    background: #f0d1a5;
    border-radius: 4px;
  }
  .container-text {
    padding-left: 24px;
  }
  .cafe-title {
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */

    letter-spacing: 0.04em;

    color: #000000;
  }
  .cafe-sub-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 179px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    color: #907e82;
  }
  .bord {
    width: 179px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
  }
  .sub-title {
    display: block;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */

    color: #000000;
  }
  .post-sub-title {
    display: block;
    margin-left: 20px;
    margin-top: 0;
    color: #ffa5ba;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
  }
  .contact-list {
    display: block;
    margin-left: 20px;
    padding-bottom: 43px;
    list-style: none;
    padding-left: 0;
  }
  .cafe-link {
    text-decoration: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    color: #907e82;
  }
  .container-foodtruck {
    width: 130px;
    height: 16px;
    left: 70px;
    top: 5610px;
    padding-left: 27px;
    padding-right: 27px;

    background: #c2e297;
    border-radius: 4px;

    display: flex;
    align-items: center;
    text-align: center;
  }
  .button-footer {
    position: relative;
    width: 161px;
    margin-left: auto;
    margin-right: auto;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background: #d41342;
    border-radius: 22px;
    border-style: none;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 24px;
    padding-left: 17px;
  }
  .button-footer-light {
    position: relative;
    width: 161px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
    border-style: none;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 31px;
    padding-left: 32px;
  }
  .cont-pos {
    position: relative;
    top: -86px;
  }

  .con-caf {
    margin-bottom: 54px;
  }
  .icon {
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 11px;
    right: 15px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  .icon-Vector-white {
    width: 0.7001953125em;
  }
  .icon-red {
    position: absolute;
    left: 115px;
    display: inline-block;
    width: 1em;
    height: 11px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  .icon-Vector-red {
    width: 0.7001953125em;
  }
}

@media screen and (min-width: 768px) {
  .over-cofe {
    display: flex;
  }
  .over-cofe:not(:last-child) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container-cafe {
    margin-bottom: 81px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .button-list {
    display: flex;
    justify-content: center;
  }
  .button-footer-light {
    width: 191px;
    margin-top: 0;
    margin-left: 15px;
    padding-left: 37px;
  }
  .icon {
    right: 32px;
  }
  .icon-red {
    left: 122px;
  }
  .button-footer {
    width: 191px;
    padding-left: 30px;
  }
  .cafe-sub-title {
    margin-left: 21px;
    width: 150px;
  }
  // .groop-cafe {
  // }
  .container-logo {
    height: 28px;
    font-size: 16px;
    width: 73px;
    border-radius: 6px;
    margin-left: 31px;
  }
  .container-text {
    padding-left: 15px;
  }
  .container-foodtruck {
    width: 138px;
    height: 28px;
    border-radius: 6px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .cafe-title {
    margin-top: 30px;
    margin-left: 31px;
    margin-bottom: 14px;
    font-size: 14px;
  }
  .cafe-sub-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 166%;
    margin-left: 31px;
    /* or 23px */

    color: #907e82;
  }
  .cont-pos {
    position: relative;
    top: -71px;
  }
  .sub-title {
    font-size: 16px;
    margin-top: 16px;
    margin-left: 31px;
  }
  .cafe-link {
    font-size: 14px;
  }
  .bord {
    width: 157px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .post-sub-title {
    font-size: 14px;
    margin-left: 31px;
  }
  .contact-list {
    margin-left: 31px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .section-cafe {
    background-image: url(../images/dots.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .cafe-title {
    font-size: 16px;
    margin-top: 32px;
    margin-left: 43px;
    margin-bottom: 10px;
  }
  .cafe-sub-title {
    width: 243px;
    font-size: 16px;
  }
  .container-cafe {
    width: 330px;
    margin-bottom: 86px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .cafe-sub-title,
  .sub-title,
  .post-sub-title,
  .container-logo,
  .contact-list {
    margin-left: 43px;
  }
  .bord {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 234px;
  }
  .post-sub-title {
    font-size: 16px;
  }
  .sub-title {
    margin-top: 15px;
  }
  .over-cofe:not(:last-child) {
    margin-left: 115px;
    margin-right: 115px;
  }
  .button-footer-light:focus {
    background: #ecebeb;
  }
  .contact-list {
    padding-bottom: 62px;
  }
}
