.catalog-container {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  background-color: var(--white-color);
}

.catalog-header {
  color: var(--dark-green-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;

  letter-spacing: -0.02em;
}

.catalog-cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 0;
}

.catalog-cards-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
}

.catalog-cards-list-item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-height: 360px;
  padding: 0;
}

.flip-container {
  perspective: 1000000px;
  cursor: pointer;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(90deg);
  width: 100%;
  margin-left: auto;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 43px 30px;
}

.front > svg {
  position: fixed;
  top: 14px;
  right: 14px;
  z-index: 999;
  stroke: var(--black-color);
  stroke-opacity: 0.1;
  display: none;
}

.flip-container:hover .front,
.flip-container:focus .front {
  animation: flip 0.25s ease-in-out forwards;
}

.flip-container:hover .back,
.flip-container:focus .back {
  animation: flip 0.25s 0.25s ease-out forwards reverse;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}

.catalog-cards-list-item-image {
  width: 276px;
  height: 274px;
  flex-shrink: 0;
}

.catalog-desktop {
  display: none;
}

.catalog-cards-list-item-image-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--dark-green-color);
  height: fit-content;
  max-width: 360px;
  padding: 40px 60px 40px 40px;
}

.catalog-cards-list-item-image-details-title {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;

  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.catalog-cards-list-item-image-details-description {
  color: var(--white-transparent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;

  letter-spacing: -0.01em;
}

.catalog-image-description-first-child {
  margin-bottom: 20px;
}

.catalog-cards-list-item-description-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}

.catalog-cards-list-item-description-name {
  overflow: hidden;
  color: var(--black-color);
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.02em;
}

.catalog-cards-list-item-description-price {
  color: var(--dark-gray-color);
  font-size: 12px;
  line-height: 116.667%;
  letter-spacing: -0.02em;
}

/* Form */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: scroll;

  width: 85%;
  height: 100%;
  border-radius: 4px;

  padding: 40px 25px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--white-color);
  box-shadow: 0px 0px 8.775px 0px rgba(0, 0, 0, 0.01),
    0px 0px 18.17px 0px rgba(0, 0, 0, 0.02),
    0px 0px 36.237px 0px rgba(0, 0, 0, 0.03),
    0px 0px 71.03px 0px rgba(0, 0, 0, 0.03),
    0px 0px 130.6px 0px rgba(0, 0, 0, 0.04),
    0px 0px 223px 0px rgba(0, 0, 0, 0.05);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.catalog-close-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 12px;
  top: 12px;

  cursor: pointer;
}

.catalog-form-close-form-button-svg {
  stroke: var(--black-color);
  width: 20px;
  height: 20px;
}

.catalog-card-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
}

.catalog-form-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0 25px;
}

.form-container-img {
  width: 100%;
  max-height: 274px;
}

.catalog-form-img-description {
  margin-right: auto;
}

.catalog-form-and-button-container {
  display: flex;
  flex-direction: column;
}

.catalog-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.catalog-modal-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 100%;
}

.catalog-modal-form-label {
  color: var(--black-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 116.667%;
  letter-spacing: -0.02em;
}

.catalog-modal-form-input {
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;

  border-radius: 8px;
  border: 1px solid var(--dark-gray-color);

  width: 100%;

  color: var(--dark-gray-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.02em;
}

.catalog-modal-form-textarea {
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 8px;
  height: 90px;
  border-radius: 8px;
  border: 1px solid var(--dark-gray-color);

  resize: none;
  width: 100%;
  // height: fit-content;

  color: var(--dark-gray-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.02em;
}

.catalog-modal-form-button {
  height: fit-content;
  width: 100%;
  display: flex;
  padding: 18px 0;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  border-radius: 8px;
  background: var(--dark-green-color);

  color: var(--white-color);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 116.667%;
  text-transform: uppercase;
}

.catalog-form-button-description {
  color: var(--light-gray-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 116.667%;

  letter-spacing: -0.02em;

  margin-top: 12px;
}

.catalog-form-span {
  text-decoration-line: underline;
}

/* Media Querries */
@media screen and (width >=768px) {
  .catalog-container {
    padding: 32px 64px;
  }

  .catalog-header {
    font-size: 40px;
    line-height: 110%;
  }

  .catalog-cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 32px;
  }

  .catalog-cards-list-item {
    width: calc((100% - 32px) / 2);
  }

  .front > svg {
    display: initial;
  }

  .modal {
    overflow: initial;
    min-width: 670px;

    height: fit-content;
    max-width: 904px;
    padding: 40px 40px;
  }

  .catalog-close-form-button {
    right: 20px;
    top: 20px;
  }

  .catalog-form-close-form-button-svg {
    width: 24px;
    height: 24px;
  }

  .catalog-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .catalog-modal-form-label {
    font-size: 14px;
    line-height: 128.571%;
  }

  .catalog-modal-form-input {
    font-size: 16px;
    line-height: 112.5%;
  }

  .catalog-modal-form-textarea {
    font-size: 16px;
    line-height: 112.5%;
  }
}

@media screen and (width >=1158px) {
  .catalog-container {
    padding: 80px 132px;
  }

  .catalog-cards-list {
    row-gap: 64px;
    /* column-gap: 24px; */
  }

  .catalog-cards-list-item {
    width: calc((100% - 24px) / 5);
  }

  .catalog-cards-list-item-image-container {
    padding: 26px 0 25px;
  }

  .catalog-desktop {
    display: initial;
  }

  .catalog-cards-list-item-image-details {
    padding: 20px;
  }

  .front > svg {
    display: none;
  }
}
