#myChart {
  background-color: rgb(16, 33, 54);
}

.chart-container {
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 1481px;
  width: 1280px;
}

.chart-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
