.container-quotes {
  display: flex;
  width: 100%;
  padding: 16px 0;
  margin-left: auto;
  // margin-right: auto;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 680px;
    padding-top: 75px;
  }
  @media screen and (min-width: 1280px) {
    width: 50%;
    margin-top: -200px;
    margin-right: 110px;
    padding-left: 350px;
  }
}
.quote {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-top: 21px;
  margin-left: auto;
  padding-top: 27px;
  text-align: right;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    max-width: 680px;
    margin-top: 60px;
  }
}
.quote-phrase {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
.quote-author {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 16px;
  display: flex;
  justify-content: end;
  @media screen and (min-width: 480px) {
    margin-bottom: 40px;
  }
}
