.clients {
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: 000000;
}

.clients__text {
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 1.11;
  letter-spacing: 0.04em;

  color: #d41443;
}
