.button {
  display: block;
  border: 2px solid $accent-color;
  padding: 14px 1px;
  color: $text-color-white;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $accent-color;
  transition: 0.7s;
  @media screen and (min-width: $breakpoint-desktop) {
    padding: 26px 0;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
  }
  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  }
}

.section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  @media screen and (min-width: $breakpoint-desktop) {
    font-weight: 800;
    font-size: 46px;
  }
}

.subsection {
  position: absolute;
  left: calc(50% - 140px);
  bottom: -232px;
  max-width: 280px;
  background-color: transparent;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  z-index: 10;
  @media screen and (min-width: $breakpoint-tablet) {
    left: calc(50% - 344px);
    max-width: 688px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    left: calc(50% - 657px);
    max-width: 1314px;
  }
}
