@import './styleDefoult/mixin';
/*.coments{
}
.coments-container {
    @include container();
}*/
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'DM Sans', sans-serif;
}

img {
    display: block;
}

ul {
    list-style: none;
}

.coments-container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        padding-left: 74px;
        padding-right: 74px;
    }
    @media screen and (min-width: 1280px) {
        padding-left: 177px;
        padding-right: 177px;
    }
}

.coments-image {
    width: 100%;
}

.slider-coments {
padding-top: 80px;
position: relative;
/*margin-left: 54px;
margin-right: 54px;
    @media screen and (min-width: 768px) {
        margin-left: 54px;
        margin-right: 54px;
    }
    @media screen and (min-width: 1280px) {
        margin-left: 54px;
        margin-right: 54px;
    }*/
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;   
}
/*.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;}*/

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-loading .slick-track
{
    visibility: hidden;    
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide.dragging img
{
    pointer-events: none;   
}

.slick-initialized .slick-slide
{
    display: block;
}

.slick-arrow {
    display: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.face-coments {
    width: 85px;
    height: 85px;
    display: inline-block;
    border-radius: 50%;
}

.block-coments {
    margin-top: 29px;
    margin-bottom: 30px;
    background: #FAFAFA;
    padding: 43px 50px 20px 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;  
}
.quote-coments {
    width: 54px;
    height: 40px;
    position: absolute;
    top: 28px;
    left: 61px;
    z-index: 1;
}

.text-coments{
    position: relative;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.58;
    letter-spacing: 0em;
    text-align: center;
    padding: 0px 15px;
    background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 31px);
    z-index: 2;
    @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding: 0 24px;
    }
    @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
    padding: 0 4px; }
}

.dots-coments {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.dots-coments li:not(:last-child) {
    margin-right: 10px;
}

.name-coments {
font-size: 14px;
font-weight: 500;
line-height: 1.86;
letter-spacing: 0em;
text-align: center;
}

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 132px;
}
.slick-dots li:not(:last-child) {
    margin-right: 10px;
}

.slick-dots button{
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: none;
}

.slick-active button {
    background: url(../images/coments/home.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    object-fit: cover;
    border-radius: 0%;
    width: 13px;
    height: 12px;
}