html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-color);
}
.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;

    @media screen and (min-width: 320px) {
       max-width: 320px;
    }

    @media screen and (min-width: 768px) {
       max-width:768px;
    } 

    @media screen and (min-width: 1280px) {
       max-width: 1280px;
      
}
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
textarea {
    resize: none;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }