@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&family=Protest+Revolution&display=swap');

:root{
    --white-color: #FFFFFF;
   --white-transparent-color: rgba(255, 255, 255, 0.5);
   --black-color: #141414;
   --dark-green-color: #1E2827;
   --dark-gray-color: rgba(20, 20, 20, 0.5);
   --light-gray-color: rgba(20, 20, 20, 0.4);
   --copy-color: #C6CDD1;
   --red: red;
}




