.company-benefits .container {
  padding: 84px 31px;
  margin: 0 auto;

  width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 100px 39px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 121px 15px 130px 15px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.company-benefits-textgroup {
  @media screen and (min-width: 1200px) {
    margin-right: 100px;
    margin-left: 130px;
  }
}

.company-benefits .title-text {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $titleTextColor;

  &::before {
    content: '';
    display: inline-block;

    margin-right: 20px;

    width: 60px;
    height: 1px;

    background: #303030;
    transform: translateY(-3px);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}

.company-benefits .bigest-text {
  display: block;
  margin-bottom: 20px;

  font-family: $Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: $titleTextColor;

  @media screen and (min-width: 768px) {
    width: 420px;
  }
}

.company-benefits .appeal-text {
  display: block;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: $textSeconaryColor;

  @media screen and (min-width: 768px) {
    width: 470px;
  }
}

.company-benefits .benefits-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 239px;

    @media screen and (max-width: 1199px) {
      margin-top: 44px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.benefits-list .benefits-item {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 133px;
  background-color: $mainBackground;

  &:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (max-width: 1199px) {
    width: calc((100% - 31px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.benefits-list .discription-container {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.benefits-list .number-text {
  margin: 0;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  color: $titleTextColor;
}

.benefits-list .benefits-svg-icon {
  width: 13px;
  height: 22px;
  margin-top: 7px;
  margin-left: 2px;
}

.benefits-list .discription-text {
  max-width: 122px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: $titleTextColor;
}

.benefits-list .discription-text.indigo {
  max-width: 130px;
}
