/*Mobile*/
.section-contacts {
  margin: auto;
  background-color: #fff5f6;
}
.contacts-container {
  max-width: 450px;
}
.section-contacts .contacts-container {
  margin: auto;
  padding: 0 50px;
}
.contacts-card-list {
  display: flex;
  flex-direction: column;
}
.contacts-container ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.contacts-styling {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
}
.contacts-titile {
  font-family: var(--DM-Sans-font);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 80px;
  height: 16px;
  background-color: rgba(240, 209, 165, 1);
  color: #fff;
  border-radius: 4px;
}
.contacts-list:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-list {
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  transition: all 0.6s linear;
  padding: 43px 20px;
  display: flex;
  flex-direction: column;
}
.contacts-list:hover {
  box-shadow: 0px 8px 30px 0px rgba(144, 35, 62, 0.632);
}
.contacts-city-program {
  font-family: var(--DM-Sans-font);
  font-size: 12px;
  color: black;
  padding-top: 24px;
}
.contacts-info-text {
  font-family: var(--DM-Sans-font);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #907e82;
}
.contacts-day {
  font-family: var(--DM-Sans-font);
  font-size: 12px;
  color: #000000;
}
.contacs-time {
  font-family: var(--DM-Sans-font);
  font-size: 12px;
  color: var(--pink-color);
}
.contacts-styling-contacts {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.contacts-styling-contacts a {
  text-decoration: none;
  font-family: var(--DM-Sans-font);
  font-size: 12px;
  color: #907e82;
}
.contacts-titile-two {
  width: 130px;
  height: 16px;
  background-color: #c2e297;
  color: #fff;
  font-family: var(--DM-Sans-font);
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
}
.contacts-btn-list {
  text-align: center;
}
.contacts-btn {
  width: 162px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-family: var(--DM-Sans-font);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: #d41342;
  color: #fff;
  margin-bottom: 10px;
}
.btn-icon-contacts {
  width: 10px;
  height: 10px;
}
.contacts-btn-two {
  width: 162px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-family: var(--DM-Sans-font);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  color: #d41342;
  margin-bottom: 40px;
}
.contacts-list:last-child {
  margin-bottom: 32px;
}

/*MODAL*/
.modal.is-hidden {
  visibility: hidden;
}
.modal {
  visibility: visible;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 95px 15px;
}
.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 650px;
  border-radius: 4px;
  border: 2px solid #ffb8ca;
  padding: 40px;
  background-color: #fff;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ffb8ca;
  background-color: #fff;
  color: #ffb8ca;
  text-align: center;
}
.modal-content h2 {
  color: #d41342;
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
  font-family: var(--DM-Sans-font);
}
.modal-styling-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}
.modal-description {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}
.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  height: 40px;
  width: 100%;
}
.modal-input-height {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  height: 120px;
  width: 100%;
  font-size: 12px;
  margin-bottom: 20px;
}
.send-btn {
  width: 100%;
  text-align: center;
}
.sent-btn-modal {
  font-family: var(--DM-Sans-font);
  font-weight: 700;
  height: 44px;
  font-size: 16px;
  line-height: 21px;
  border-radius: 22px;
  background-color: #fff;
  color: #d41342;
  border: 2px solid var(--pink-color);
  transition: all 0.5s linear;
  padding: 0 20px;
}
.sent-btn-modal:hover {
  background-color: var(--pink-color);
  color: #fff;
}
.btn-icon-contacts-two {
  width: 10px;
  height: 10px;
  margin-left: 13px;
}
.btn-icon-contacts {
  width: 10px;
  height: 10px;
  margin-left: 13px;
}
/*Tablet*/
@media (min-width: 768px) {
  .contacts-container {
    max-width: 768px;
  }
  .contacts-container ul {
    margin-bottom: 60px;
  }
  .contacts-card-list {
    display: flex;
    flex-direction: row;
  }
  .contacts-list:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0px;
  }
  .contacts-list:last-child {
    margin: 0;
  }
  .contacts-btn-list {
    margin-top: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .contacts-btn {
    margin-right: 10px;
  }
  // .contacts-list {
  //   margin: -70 auto 0;
  // }
  // .contacts-list:last-child {
  //   margin: -70 auto 0;
  // }
  .btn-icon-contacts-two {
    width: 10px;
    height: 10px;
    margin-left: 13px;
  }
  .btn-icon-contacts {
    width: 10px;
    height: 10px;
    margin-left: 13px;
  }
}
/*Desktop*/
@media (min-width: 1200px) {
  .section-contacts {
    margin: auto;
    padding: 0 0 110px;
  }
  .section-contacts > .contacts-container {
    margin: auto;
  }
  .contacts-container {
    max-width: 1200px;
  }
  .contacts-container ul {
    margin-bottom: 60px;
  }
  .contacts-card-list {
    display: flex;
    flex-direction: row;
  }
  .contacts-list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
    padding: 40px 40px;
  }

  .contacts-btn-list {
    margin-top: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .contacts-btn {
    margin-right: 10px;
  }
  .contacts-list:last-child {
    margin: 0;
  }

  // .contacts-list {
  //   margin: -99 auto 0;
  // }
  // .contacts-list:last-child {
  //   margin: -99 auto 0;
  // }
  .btn-icon-contacts-two {
    width: 10px;
    height: 10px;
    margin-left: 13px;
  }
  .btn-icon-contacts {
    width: 10px;
    height: 10px;
    margin-left: 13px;
  }
}
