// General styles

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

.container {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: $tablet-breakpoint) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .container {
    margin: 0 auto;
    width: 1200px;
  }
}

.section__subheading,
.section__heading,
.products__title {
  font-family: 'Titan One';
  letter-spacing: 0.04em;
  line-height: 1.145;
  text-align: center;
  text-transform: capitalize;
}

.section {
  &__subheading {
    color: #ffa5ba;
    font-size: 18px;
  }

  &__heading {
    color: #d41443;
    font-size: 34px;
    letter-spacing: 4%;
    margin-top: 18px;
  }
}

// CONTACTS SECTION

.section--contacts {
  padding: 40px 0;
  background-image: linear-gradient(#ffffff 0 20%, #fff5f6 20% 100%);
}
.section__header--contacts {
  display: none;
}

.locations {
  display: grid;
  grid-row: 1 / 3;
  width: 100%;
  gap: 20px;
}

@media screen and (min-width: $tablet-breakpoint) {
  .locations {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }
}

.locations__item {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 40px 32px;
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .locations__item {
    font-size: 14px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .locations__item {
    font-size: 16px;
    padding: 40px 40px;
  }
}

.locations__type {
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  height: 16px;
  letter-spacing: 0.04em;
  line-height: 16px;
  padding: 0 20px;
  vertical-align: middle;
  &--cafe-chicago,
  &--cafe-newyork {
    background-color: #f0d1a5;
  }
  &--foodtruck {
    background-color: #c2e297;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .locations__type {
    height: 28px;
    line-height: 28px;
  }
}

.locations__city,
.locations__opening-days {
  color: #000000;
  letter-spacing: 0.04em;
  line-height: 1.86;
}

.locations__description,
.locations__phone,
.locations__email {
  color: #907e82;
  line-height: 1.5;
}

.locations__opening-hours {
  color: #ffa5ba;
  line-height: 1.86;
}

.locations__city,
.locations-phone {
  margin-top: 32px;
}

.locations__description {
  letter-spacing: 0.04em;
  margin-top: 8px;
}

.locations__weekend-opening-hours {
  margin-top: 12px;
}

.spacer {
  border-top: 1px solid #e1e1e1;
  margin: 32px 0 31px;
}

.button-list {
  gap: 14.5px;
  margin-top: 60px;
  text-align: center;
}

.button-our-locations,
.button-franchise {
  border-radius: 26px;
  border: none;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  width: 174.05px;
  height: 44px;
  text-align: center;
}

.button-our-locations {
  background-color: #d41443;
  color: #ffffff;
}

.button-franchise {
  background-color: #ffffff;
  color: #d41443;
  margin-left: 12px;
}

// Contacts modal - map

.contacts-modal__wrapper {
  background-color: rgb(144, 126, 130, 0.6);
  align-items: center;
  display: flex;
  bottom: 0;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform var(--transition);
  width: 100vw;
  z-index: 5;
  &--is-hidden {
    transform: scale(1.1);
    visibility: hidden;
  }
}

.contacts-modal__content {
  background-color: #fff5f6;
  height: calc(100% - 40px);
  margin: 0 auto;
  max-width: 75%;
  padding: 70px 30px 30px;
  position: relative;
  overflow-y: scroll;
}

.contacts-modal__heading {
  color: #d41443;
  font-family: 'Titan One';
  font-size: 36px;
  letter-spacing: 0.04em;
  line-height: 1.145;
  text-align: center;
  text-transform: capitalize;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contacts-modal__locations {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.contacts-modal__text {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(212, 20, 67, 0.12),
    0px 1px 1px rgba(212, 20, 67, 0.12), 0px 2px 1px rgba(212, 20, 67, 0.12);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 30px;
}

.contacts-modal__map {
  height: 250px;
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .contacts-modal__content {
    max-width: 450px;
    padding: 65px 60px 40px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .contacts-modal__content {
    max-width: 1000px;
    padding: 70px 20px 40px;
  }
  .contacts-modal__locations {
    flex-direction: row;
    gap: 20px;
  }
  .contacts-modal__location {
    width: 33.33%;
  }
}

.button-close {
  align-items: center;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  display: flex;
  font-size: 28px;
  height: 40px;
  justify-content: center;
  position: absolute;
  transform: translateX(-50%);
  width: 40px;
  &:hover,
  &:focus {
    cursor: pointer;
  }
  &--products {
    bottom: 15px;
    left: 50%;
  }
  &--icecream {
    color: #d41443;
  }
  &--icecoffee {
    color: rgb(169, 70, 24);
  }
  &--milkshakes {
    color: rgb(83, 136, 83);
  }
  &--contacts {
    top: 15px;
    right: 0px;
    color: #d41443;
    &:hover,
    &:focus {
      background-color: #d41443;
      color: #ffffff;
    }
  }
}
