
  .container {
      margin-left: auto;
      margin-right: auto;
      padding-left: 31px;
      padding-right: 31px;
      width: 100%;
      @media screen and (min-width:$tablet) {
        width:$tablet ;
        padding-left: 39px;
       padding-right: 39px;
        
      }
      @media screen and (min-width:$desktop) {
        width:$desktop ;
        padding-left: 55px;
       padding-right: 55px;
      }
  
  } 
  
  
  
  
  
 