uul {
  margin: 0;
  padding-left: 0;
}
a {
  display: inline-block;
}
li {
  list-style: none;
}
p {
  margin: 0;
}

.contacts-section {
  background-color: #191c26;
  font-family: Raleway, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacts-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
.form-field {
  margin-top: 44px;
  padding: 0px 0px;
  width: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.form-label {
  position: absolute;
}
.form-field:focus-within > .form-input {
  border: none;
}
.form-input:focus {
  outline: none;
}
.form-field:focus-within {
  border-color: white;
  color: white;
}
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-30px);
}

.form-input {
  width: 100%;
  border: none;
  background-color: inherit;
  height: 24px;
  color: white;
  height: 24px;
  font-size: 18px;
  margin-right: 50px;
}
.textarea-input {
  height: 76px;
  width: 100%;
  border: none;
  background-color: inherit;
  color: rgba(157, 164, 189, 0.4);
  &:hover,
  &:focus {
    outline: none;
  }
}

.knock {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  display: block;
  text-decoration: none;
  margin-top: 44px;
  padding: 12px 38px;
  width: 160px;
  height: 40px;

  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: #ffffff;
  background-color: inherit;
  &:hover {
    background-color: #ff6c00;
    color: white;
  }
}
.contacts-background {
  width: 100%;
  display: block;
  position: relative;
  &::after {
    content: '';
    background: url(../images/contacts-backgroundX1.jpg);
    opacity: 0.1;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
.contacts-block {
  position: relative;
  z-index: 1;
}
.contacts-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
  text-decoration: none;
  margin-top: 18px;
  padding: 2px 0;
  display: flex;
  align-items: center;
}
.contacts-icons {
  margin-right: 16px;
}
.working-hours {
  margin-top: 44px;
}
.underline {
  text-decoration: underline;
}
.line {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-left: 80px;
  &::before {
    content: ' ';
    position: absolute;
    width: 60px;
    height: 1px;
    left: 0px;
    bottom: 55px;
    background-color: rgba(157, 164, 189, 0.4);
  }
}
