%conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 700px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1050px;
  }
}

.header-container {
  @extend %conteiner;
}
.products-conteiner {
  @extend %conteiner;
}

.about-container {
  @extend %conteiner;
}

.advantages__container {
  @extend %conteiner;
}

.reviews-container {
  @extend %conteiner;
}
.container-contacts {
  @extend %conteiner;
}

.footer-container {
  @extend %conteiner;
  @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
  }
} 