.contacts {
    padding-top: 86px;
    padding-bottom: 113px;
    background: linear-gradient(to bottom,$bg-main 11%, $bg-light-pink 11% 89% );
}



.contacts-list {
    margin-bottom: 54px;
}

.contacts-item {
    margin: auto; 

    width: 220px;
    padding: 43px 20px;
    background-color: $bg-main;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.contacts-representation {
    margin-bottom: 25px;
    text-transform: uppercase;
    color: $color-main;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.833;
    text-align: center;
}

.rectangle-cafe {
    width: 80px;
    height: 19px;
    background: #F0D1A5;
    border-radius: 4px;
}

.rectangle-foodtruck {
    width: 130px;
    height: 19px;
    background: #C2E297;
    border-radius: 4px;
}

.contacts-wrap {
    &::after {
        content: "";
        display: block;
        border: 1px solid #E1E1E1;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.contacts-wrap-days {
    margin-bottom: 10px;
}


.contact-item-days {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.contacts-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.833;
    color: $color-dark;
}

.contacts-desc, .contact-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $color-light-dark;
}

.contact-link {
    cursor: pointer;
}

.contacts-time {
    color: $color-pink;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.183;
}

.contacts-btn-list {
    text-align: center;
}


//buttons//
.contacts-btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts-btn-item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

