$current-text-color: #102136;

.current-date-container {
  display: flex;
  justify-content: center;
  border-radius: 34px;
  margin-top: 32px;

  .date-info {
    width: 276px;
    height: 184px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    background-color: rgba($current-text-color, 0.6); // Opacitatea dorită (60%)
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    padding-left: 0px;
    box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.75);

    &__date {
      h3 {
        color: $main-text-color;
        font-size: 45px;
        font-weight: 300;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      .time {
        display: flex;
        flex-direction: row;
        gap: 10px;

        p {
          font-size: $font-size-14;
          color: $main-text-color;
          font-weight: $font-weight-400;
        }
        .line {
          border: 1px solid #ffffff;
        }
      }

      .sun-details {
        display: flex;
        flex-direction: row;
        gap: 10px;
        p {
          font-size: $font-size-14;
          color: $main-text-color;
          font-weight: $font-weight-400;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(
        $current-text-color,
        0.6
      ); // Opacitatea dorită (60%)
      border-radius: 34px;
      z-index: -1;
    }

    h3 {
      opacity: 1; // Textul va avea opacitatea completă
      // Restul stilurilor pentru text...
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  align-items: center;

  button {
    border-radius: 12px;
    background-color: $main-text-color;
    width: 126px;
    height: 28px;
    border: none;
    opacity: 50%;
  }

  button:hover {
    cursor: pointer;
    box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.75);
  }
}

.buttons__active {
  opacity: 1 !important;
}

@media screen and (min-width: 768px) {
  .current-date-container {
    .date-info {
      width: 704px;
      height: 250px;

      &__date {
        h3 {
          font-size: 90px;
        }
      }

      &__details {
        gap: 30px;
        .time {
          gap: 16px;

          p {
            font-size: $font-size-18;
          }
        }

        .sun-details {
          gap: 16px;
          p {
            font-size: $font-size-18;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;

    button {
      width: 152px;
      height: 27px;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1280px) {
  .current-date-container {
    margin-top: 0px;
    .date-info {
      width: 624px;
      height: 264px;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;

      &__date {
        margin-left: 16px;
        h3 {
          font-size: 90px;
          .exponent {
            font-size: 60px;
          }
        }
      }

      &__details {
        gap: 136px;
        flex-direction: row;
        margin-left: 16px;
        .time {
          gap: 16px;

          p {
            font-size: $font-size-18;
          }
        }

        .sun-details {
          gap: 16px;
          p {
            font-size: $font-size-18;
          }
        }
      }
    }
  }

  .buttons {
    justify-content: flex-end;
    gap: 32px;
    margin-right: 16px;

    button {
      width: 182px;
      height: 27px;
    }
  }
}
