.reviews {
  &__slide {
    position: relative;
    margin: 29px auto 55px;
    width: 280px;
    height: 308px;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    @media screen and(min-width:768px) {
      width: 620px;
      height: 164px;
      margin: 19px auto 42px;
    }
  }
  &__slide::before {
    content: '';
   
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 61px;
    height: 40px;
    width: 54px;
    
    background-image: url(../images/sprite.svg#untitled);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__name {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }

  &__punkt {
    position: absolute;
    left: 50%;
    bottom: -36px;
    transform: translateX(-50%);
  }
  &__pic {
    height: 4px;
    width: 4px;
    float: left;
    margin: 0 10px;
    background-color: #c7133e;
    border-radius: 50%;
  }
}

.testimonials {
  margin-left: auto;
  margin-right: auto;

  padding-top: 80px;
}
.btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 86px;
  text-align: center;
}

.sliderbox {
  height: 239px;
  width: 157px;
  position: relative;

  margin: 43px auto 26px;
  @media screen and(min-width:768px) {
    height: 83px;
    width: 460px;
    margin: 30px auto 28px;
  }

  &__content {
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
  }

  &__content:nth-child(1) {
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 1px,
      #fafafa 1px,
      #fafafa 31px
    );
  }

  &__item {
    position: absolute;

    top: 0;
    left: 0;
    opacity: 0;
    transition: all 500ms linear;
  }
  &__item:target {
    opacity: 1;
  }
}
