.customer-reviews {
  text-align: center;
  padding: 80px 20px 85px 20px;
  display: block;
  min-width: 320px;
  max-width: 480px;
  font-family: 'DM  Sans';
  font-weight: 500;
}
.customer-text {
  font-size: 12px;
  line-height: 2.55;
  color: #000;
}
.customer-text::before {
  content: '\275E';
  width: 54px;
  height: 40px;
  background: #e1e1e1;
  background-image: url();
}
.customer-box {
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
  margin-bottom: 31px;
}
.personal-data {
  font-style: normal;
  font-size: 14px;
  line-height: 1.86;
  color: #000;
}
.customer-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  display: block;
}
.customer-item-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.customer-dots {
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
}
.customer-dots:not(:last-child) {
  margin-right: 10px;
}

body {
  margin: 0;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
