<<<<<<< HEAD
.Customer-Reviews {
=======
.customer-reviews {
}
.customer-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000;
}
.customer-box {
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
}
.personal-data {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000;
>>>>>>> 49b72023035bfc52d4eb70a589b60979030477b2
}
