.customer-reviews {
  text-align: center;
  padding: 80px 20px 85px 20px;
  display: block;
}
.personal-data {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: normal;

  font-size: 14px;
  line-height: 1.86;
  color: #000;

}
.customer-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  display: block;
}
.customer-item-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.customer-dots {
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
}
.customer-dots:not(:last-child) {


=======
  margin-right: 10px;
}

body {
  margin: 0;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-text-wrapper {
  background-color: #fafafa;
  padding: 44px 50px 16px;


  margin-bottom: 31px;

}

.slider-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  line-height: 2.55;
  padding: 0 18px;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1 0px 1px,
    transparent 1px 31px
  );
  text-align: center;
  position: relative;
  z-index: 2;
}

.slider-text::before {
  background-image: url('../icons/icon-quotes.svg');
  width: 54px;
  height: 40px;
  display: inline-block;
  content: '';

  position: absolute;
  left: 14px;
  top: -7%;

  z-index: -1;
}

@media screen and (min-width: 480px) {
  .customer-reviews {
    width: 480px;
    margin: 0 auto;
  }
  .slider-text::before {
    position: absolute;
    top: -17px;
    left: -22px;
  }
}

@media screen and (min-width: 768px) {
  .customer-reviews {
    width: 740px;
  }

  .slider {
    width: 620px;
    margin: 0 auto;
  }

  .slider-text-wrapper {
    padding: 47px 60px 27px;
    margin-bottom: 42px;
  }

  .slider-text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding: 0 24px;
  }
  .slider-text::before {
    position: absolute;
    top: -15px;
    left: -22px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-reviews {
    width: 1090px;
  }

  .slider {
    width: 926px;
  }
  .slider-text-wrapper {
    margin-bottom: 15px;
  }

  .slider-text {
    font-size: 16px;
    line-height: 1.86;
    padding: 0 4px;
  }


  //   font-size: 14px;
  //   line-height: 1.86;
  //   color: #000;
  // }
  .customer-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    display: block;
  }
  .customer-item-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }
  .customer-dots {
    width: 4px;
    height: 4px;
    background-color: #c7133e;
    border-radius: 50%;
  }
  .customer-dots:not(:last-child) {
    margin-right: 10px;
  }
}

  .slider-text::before {
    position: absolute;
    top: -15px;
    left: -31px;
  }
}

