/*Mobile*/
@media screen and (min-width: $mobile-breakpoint) {
  .dateDisplay-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .dateDisplay__content {
      height: 184px;
      margin: 32px 22px 0 22px;
      font-family: $font;
      color: $text-color;
      letter-spacing: 0.04em;
      background-color: rgba(16, 33, 54, 0.6);
      border-radius: 34px;
      box-shadow: 0px 4px 12px 0px;
      display: flex;
      flex-direction: column;

      .dateDisplay--firstline {
        font-size: 45px;
        font-weight: 300px;
        line-height: 54px;
        text-align: center;
      }
      .dateDisplay__day {
        margin: 32px 0 0 0;
      }
      .dateDisplay__date {
        display: flex;
        gap: 10px;
        flex-direction: row;
      }

      .dateDisplay--secondline {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        font-weight: 400px;
        line-height: 16.8px;
        text-align: left;
        margin: 19px 0 0 0;

        .line {
          border: 1px solid #ffffff;
          margin: 0;
          height: 22px;
        }
      }
      .dateDisplay__time {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-block-start: 0px;
        margin-block-end: 0px;

        .sunrise-icon,
        .sunset-icon {
          width: 20px;
          height: 20px;
          margin: 0 1px;
        }
      }
    }
    .dateDisplay__month,
    .dateDisplay__hour {
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }
}

/*Tablet*/

@media screen and (min-width: $tablet-breakpoint) {
  .dateDisplay-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .dateDisplay__content {
      width: 704px;
      height: 250px;
      gap: 16px;
      margin-top: 32px;

      .dateDisplay--firstline {
        font-size: 90px;
        font-weight: 300px;
        line-height: 108px;
        text-align: center;
      }
      .dateDisplay__day {
        margin: 32px 0 0 0;
      }
      .dateDisplay--secondline {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        font-weight: 400px;
        line-height: 21.6px;
        text-align: left;
        margin: 16px 0 0 0;
      }
    }
  }
}

/*Desktop*/

@media screen and (min-width: $desktop-breakpoint) {
  .dateDisplay-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;

    .dateDisplay__content {
      width: 624px;
      height: 264px;
      gap: 16px;
      margin: 85px 0 0 0;

      .dateDisplay--firstline {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: 16px;
        font-size: 90px;
        font-weight: 300px;
        line-height: 108px;
        text-align: left;
      }
      .dateDisplay__time {
        margin-left: 136px;
      }
      .dateDisplay__day {
        margin: 50px 0 0 0;
      }
      .dateDisplay--secondline {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        margin-left: 16px;
      }
    }
  }
}
