.edge-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.edge-section {
  @media screen and (max-width: 767px) {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 130px;
    padding-bottom: 130px;

    position: relative;
    height: 582px;
  }
}
.edge-content {
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 130px;
    right: 70px;
  }
}

.stripe-us {
  display: flex;
  align-items: center;
}
.icon-stripe-us {
  margin-bottom: 20px;
  margin-right: 20px;
}
.comment {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  margin-bottom: 20px;
  color: $black-text-color;
}
.edge-title {
  font-family: $titleFont;
  font-weight: 700px;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: $black-text-color;
}
.edge-text {
  font-weight: 400;
  font-size: 18px;
  font-family: $mainFont;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin-bottom: 61px;
  color: $grey-text-color;
}

.edge-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    padding-left: 285px;
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 156px;
    left: 100px;
    width: 400px;
  }
}

.edge-item {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $mainFont;
  text-align: center;

  background-color: $grey-bg-color;

  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    max-width: 193px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 210px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.first-edge-item,
.third-edge-item {
  position: relative;
  bottom: 17px;
}

.second-edge-item,
.fourth-edge-item {
  position: relative;
  top: 17px;
}

.edge-item-number {
  font-weight: 700;
  font-size: 42px;
  font-family: $mainFont;
  line-height: 1.35;

  letter-spacing: 0.05em;
  margin-bottom: 6px;

  color: $black-text-color;
}
.plus-element {
  position: relative;
  bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.27;
  color: $orange-color;
}
.edge-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: $black-text-color;
}
