.flavour-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.flavour-container {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: var(--font-family);
        font-size: 20px;
        font-weight: 600;
        line-height: 1.31;
        letter-spacing: -0.03;
        text-transform: uppercase;
        color: var(--dark-font);
        margin-bottom: 24px;
        text-align: center;
        width: 283px;

        span {
            color: var(--orange-color);
        }
    }

    p {
        text-align: center;
        font-family: inherit;
        font-weight: 400;
        font-size: inherit;
        line-height: 1.308;
        letter-spacing: -0.02em;
        margin-bottom: 32px;
    }
}


.card-taste {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 270px;
    border-radius: 15px;
    cursor: context-menu;

    .front-detail {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 335px;
        height: 270px;
        border: 1px solid var(--orange-color);
        border-radius: 15px;
        backface-visibility: hidden;
        padding: 28px;
    }

    .front-1 {
        background-color: var(--orange-color);
    }

    .front-2 {
        background-color: var(--white-font);
        border: 1px solid var(--orange-color);
    }

    .front-3 {
        background-color: #1E1823;
        border: none;
    }
}

.card-taste:nth-child(odd) {
    color: var(--white-font);
}

.card-taste:nth-child(even) {
    color: var(--dark-font);
}

.dark {color:#111111;}

.front-picture {
    color: var(--white-font);
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 0;
        margin-left: 18px;
    }

    h2 {
        margin-left: 28px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 1.308;
        letter-spacing: -0.02;
        text-transform: uppercase;
    }
}

.background-details {
    color: var(--dark-font);
    background-color: var(--white-font);
    position: absolute;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    backface-visibility: hidden;
}

.bg-details {
    width: 100%;
    height: 100%;
    padding: 28px;
    background-color: var(--white-font);
    overflow: hidden;

    h2 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 1.309;
        letter-spacing: -0.03;
        margin: 0;
        padding-bottom: 8px;
        text-transform: uppercase;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 6px;
        margin: 0;
    }

    button {
        border: 1px solid var(--orange-color);
        border-radius: 35px;
        padding: 6px 16px;
        cursor: pointer;
        font-family: inherit;
        font-size: 10px;

    }
        p {
            margin-bottom: 28px;
        }

}

.active-btn {
    color: var(--white-font);
    background-color: var(--orange-color);
}

.grey-btn {
    background-color: #FAFAFA;
}



/*tablet*/

@media screen and (min-width:768px) {

    .flavour-section {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .flavour-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 704px;
        gap: 32px;
    }

    .description {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 18px;
        width: 486px;
        height: 156px;


        h2 {
            width: 411;
            height: 56px;
            margin-top: 0;
            margin-bottom: 28px;
        }

        p {
            text-align: center;

            height: 72px;
            margin: 0;
        }
    }

    .card-taste {
        width: 336px;
        height: 270px;

        .front-picture img {
            width: 224px;
            height: 171px;
            margin: auto;
        }
    }

    .background-details {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .background-details {
        .bg-details {
            padding: 0;
        }

            
            ul {
                width: 100%;
            }

        }
    }




    /* desktop */

    @media screen and (min-width:1158px) {

        .flavour-section {
            padding-top: 128px;
            padding-bottom: 64px;
            width: 100%;
        }

        .flavour-container {
            display: flex;
            max-width: 1136px;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            gap: 18px;
        }

        .description {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            height: 156px;


            h2 {
                width: 411;
                height: 56px;
                margin-top: 0;
                margin-bottom: 28px;
            }

            p {
                text-align: center;
                width: 486px;
                height: 72px;
                margin: 0;
            }
        }


        .card-taste {
            width: 270px;
            height: 270px;
            margin-bottom: 0;

            .front-detail {
                width: 270px;
                height: 270px;
            }

            .background-details {
                width: 270px;
                height: 270px;
                padding: 20px;
                margin: 0;

                ul:first-child {
                    margin-right: 6px;
                }

                .bg-details {
                    padding: 0;
                }
            }
        }

        .front-picture {
            img {
                width: 206;
                height: 160;
            }

            h2 {
                margin-left: 28px;
                margin-bottom: 28px;
                margin-top: 0;
            }
        }
    }

    /* animatia*/

    .card-taste {
        transform-style: preserve-3d;
        perspective: 800px;
    }

    .front-detail,
    .background-details {
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform .8s ease-in-out;
    }

    .card-taste:hover .front-detail {
        transform: rotateY(180deg)
    }

    .card-taste:hover .background-details {
        transform: rotateY(0)
    }

    .front-picture {
        transform: translateZ(100px) scale(.86);
    }

    .background-details {
        transform: rotateY(180deg);
    }

    .bg-details {
        transform: translateZ(100px) scale(.86);
    }