@import './utils/variables';

.features.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .features.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .features.section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.features-subtitle {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 20px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $primery-color;

  &::before {
    content: '';
    margin-right: 20px;

    display: block;

    width: 60px;
    height: 1px;
    background-color: $primery-color;
  }
}

.features-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: $title-font;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: $primery-color;
}

.features-text {
  margin-top: 0;
  margin-bottom: 44px;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;

  letter-spacing: 0.02em;

  color: $secondary-color;
}

.features-benefits {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
  .features-blocks {
    margin: 15px;
  }
}

.features-blocks {
  display: block;
  padding: 20px 35px;
  width: 193px;
  height: 133px;

  background-color: $section-bgc;

  &:nth-child(2n) {
    margin-top: 35px;
    margin-right: 0;
  }
}

.blocks-numbers {
  position: relative;
  margin-top: 0;
  margin-bottom: 6px;

  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: $primery-color;

  &::after {
    position: absolute;
    content: '';
    margin: 0;
    top: 15px;

    width: 13px;
    height: 22px;
    background-image: url('../images/plus.svg');
    background-repeat: no-repeat;
  }
}

.blocks-desc {
  margin-top: 0;
  margin-bottom: 0;

  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-align: center;

  color: $primery-color;
}

.module-first {
  margin-bottom: 29px;

  max-width: 500px;
}

.features {
  @media screen and (min-width: 768px) {
    .features-blocks {
      padding: 20px 40px;
      width: 210px;
    }
    .module-second {
      margin-left: 239px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;

    .features-blocks {
      padding: 20px;
      width: 170px;
    }
    .module-first {
      margin-right: 150px;
    }
    .module-second {
      margin-left: 155px;
    }
  }
}
