.container {
  @media screen and (max-width: 767px) {
    padding-left: 31px;
    padding-right: 31px;
  }
}

.features-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $color-title-main;
}

.features-title::before {
  @include pseudo-line($color-title-main);
  margin-right: 20px;
  align-items: center;
}

.features-title-second {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: $color-title-main;
}

.features-content {
  margin-top: 0;
  margin-bottom: 44px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: $color-text-main;
}

.features-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.features-list {
  .item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

.features-list {
  .item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.features-list {
  .item:nth-child(2) {
    position: absolute;
    left: 222px;
    top: 27px;
  }
}

.features-list {
  .item:nth-child(4) {
    position: absolute;
    left: 222px;
    top: 193px;
  }
}

.features-list {
  .item {
    background-color: $color-bg-second;
    @media screen and(max-width:767px) {
      width: 193px;
      height: 133px;
    }
    .number {
      margin-top: 20px;
      margin-bottom: 6px;

      font-weight: bold;
      font-size: 42px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.05em;

      color: $color-title-main;
    }
    .content {
      margin: 0;

      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;
      text-align: center;

      color: $color-title-main;
    }
  }
}
