.features {
  &-section {
    // padding-top: 30px;
    padding-bottom: 50px;

    @media screen and (min-width: 768px) {
      // padding-top: 50px;
    }

    @media screen and (min-width: 1680px) {
      // padding-top: 96px;
      padding-bottom: 130px;
    }
  }

  &-container {
    padding: 0 20px;
    margin: 0 auto;
    min-width: 216px;

    @media screen and (min-width: 768px) {
      padding: 0;
      width: 688px;
    }
    @media screen and (min-width: 1680px) {
      // padding: 0 183px;
      width: 1314px;
    }
  }

  &-list {
    @media screen and (max-width: 767px) {
      width: 216px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &-item {
    display: flex;
    width: 100%;
    height: 60px;

    @media screen and (min-width: 1680px) {
      align-items: center;
    }
  }

  &-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }
  }

  &-name {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.429;
    align-items: center;
    letter-spacing: 0.08em;
    color: $primary-dark-color;
    width: 146px;

    @media screen and (min-width: 1680px) {
      font-size: 20px;
      line-height: 1.65;
      width: 366px;
    }
  }

  &-item::before {
    display: block;
    content: '';
    height: 60px;
    width: 59px;
    background-size: cover; // уточнити
    background-repeat: no-repeat;
    background-position: center;
    background-color: $primary-background-color;
    margin-right: 15px;

    @media screen and (min-width: 1680px) {
      width: 100px;
      height: 102px;
      margin-right: -15px;
    }
  }

  &-prog::before {
    background-image: url('../images/features-1.svg');
  }

  &-method::before {
    background-image: url('../images/features-2.svg');
  }

  &-garant::before {
    background-image: url('../images/features-3.svg');
  }

  @media screen and (min-width: 1680px) {
    &-prog::before {
      background-image: url('../images/features-1d.svg');
    }

    &-method::before {
      background-image: url('../images/features-2d.svg');
    }

    &-garant::before {
      background-image: url('../images/features-3d.svg');
    }
  }
}
