@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.future-forecast {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  background-color: #102136cc;
  //#102136cc;
  transition: background-color 0.5s ease;
  margin: 20px;
  //max-width: 100vh;
  //max-width: 1500px;
  gap: 15px;
  position: absolute;
  bottom: 20px;
  width: 97%;
  margin-left: 25px;
  .cancel {
    display: none;
    background-color: #ff6b09;
    padding: 5px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    position: absolute;
    right: 20px;
    top: 5px;
  }
}

.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .all-about {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.day {
  text-align: center;
  display: flex;
  flex-direction: column;
  .day-name {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: grey;
  }
  .date {
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;
  }
}

.w-icon {
  width: 35px;
  height: 35px;
}

.temperature {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 10px;
  &__deg {
    padding: 5px;
    margin: 3px;
  }
  &__line {
    height: 50px;
    border-left: 1px solid rgb(49, 49, 52);
    position: relative;
    top: 5px;
  }
  &__design {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  &__data {
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #ff6b09;
  }
}

.more-btn {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;

  background: none;
  border: none;
  color: grey;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .future-forecast {
    width: auto;
    .day {
      .day-name {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.04em;
        text-align: center;
      }
      .date {
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-align: center;
      }
    }
    .temperature {
      &__design {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
      }
      &__data {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .future-forecast {
    width: auto;
    .day {
      .day-name {
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: center;
      }
      .date {
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.04em;
        text-align: center;
      }
    }
    .temperature {
      &__design {
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
      }
      &__data {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}
