.form {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/footer-mobile.jpg);
}
.footer {
  &-white {
    height: 199px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &-black {
    height: 70px;
    background-color: var(--b-dark);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-text {
    @include font(500, 14px, 2, 0.05em);
    color: var(--txt-grey);
  }
}
.phone {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  &-number {
    @include font(600, 14px, 1.214, 0.08em);
    color: var(--txt-dark);
  }
  &-groupe {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
  }
}
