$footer-bg-color: #fff5f6;

footer {
  background-color: $footer-bg-color;
  // letter-spacing: 0.03em;
}

.footer-section {
  display: flex;
  flex-direction: column;

  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 43px;
}

.foot-title {
  font-family: Titan One;

  font-weight: 500;

  max-width: 250px;
}

.foot-title .first-word {
  display: block;

  font-size: 18px;
  line-height: 1.166;
  text-transform: uppercase;

  margin-bottom: 17px;

  color: $subtitle-text;
}

.foot-title .second-word {
  display: block;

  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 43px;

  color: $accent-color;
}

//
//
.button-social {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;

  border-radius: 50%;

  background-color: $subtitle-text;
  border-color: transparent;

  transition: all 250ms $timing-cube;

  &:hover,
  &:focus {
    background-color: $accent-color;
    cursor: pointer;
  }
}
.social-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  // margin-bottom: 43px;
}
.social-list {
  display: flex;

  margin-bottom: 46px;
}
.social-list .item:not(:last-child) {
  margin-right: 28px;
}

.footer-phone {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  color: $accent-color;

  font-style: normal;

  & > .black-hole {
    color: #000000;
  }
}

.rights-box {
  padding: 25px 80px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;

  border-top: 1px solid #e1e1e1;
  color: $secondary-text-color;
}

// TABLET
@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;

    padding-left: 36px;
    padding-right: 36px;

    margin-bottom: 91px;
  }

  .social-list .item:not(:last-child) {
    margin-right: 30px;
  }

  .social-list {
    margin-bottom: 50px;
  }

  .foot-title {
    max-width: 325px;
  }

  .foot-title .first-word {
    font-size: 26px;
    line-height: 1.153;
    letter-spacing: 0.04em;

    margin-bottom: 16px;
  }

  .foot-title .second-word {
    font-size: 48px;
    line-height: 1.146;
    letter-spacing: 0.06em;
  }

  .footer-phone {
    font-size: 14px;
    line-height: 1.86;
  }

  .button-social {
    width: 34px;
    height: 34px;
  }

  .rights-box {
    line-height: 1.86;
    letter-spacing: 0.02em;

    padding-top: 30px;
    padding-bottom: 30px;
  }
}

// DESKTOP
@media screen and (min-width: 1200px) {
  .footer-section {
    padding-left: 75px;
    padding-right: 75px;

    margin-bottom: 98px;
  }

  .social-list .item:not(:last-child) {
    margin-right: 25px;
  }

  .foot-title {
    max-width: 480px;
  }

  .foot-title .first-word {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;

    margin-bottom: 15px;
  }

  .foot-title .second-word {
    font-size: 58px;
    line-height: 1.138;
  }

  .footer-phone {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.02em;
  }

  .rights-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
