.foot-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.footer-overley {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 84px;
  padding-bottom: 84px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #191c26;
  background-image: url('../images/footer/bg-mobile.png');

  @media screen and (min-resolution: 2dppx) {
    background-color: #191c26;
    background-image: url('../images/footer/bg-mobile@2x.png');
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #191c26;
    background-image: url('../images/footer/bg-tablet.png');

    @media screen and (min-resolution: 2dppx) {
      background-color: #191c26;
      background-image: url('../images/footer/bg-tablet@2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    background-color: #191c26;
    background-image: url('../images/footer/bg-desktop.png');

    @media screen and (min-resolution: 2dppx) {
      background-color: #191c26;
      background-image: url('../images/footer/bg-desktop@2x.png');
    }
  }
}

.address {
  font-style: normal;
  color: $light-dark-text-color;
  p {
    margin-bottom: 20px;
  }
  .link {
    display: block;
    margin-bottom: 20px;
    color: $light-dark-text-color;
  }
  .mail {
    color: $light-dark-text-color;
  }
  .icon {
    fill: currentColor;
  }
}
