// Общие стили секции
.title-footer {
  margin-bottom: 44px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-align: center;
  color: $main_white;
}
// стили секции Онлайн запись
.online-booking {
  padding-top: 84px;
  padding-bottom: 84px;

  background-color: #191c26;
}

.online-booking__list {
  margin-bottom: 44px;
}
.online-booking__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// стили секции контактов
.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
}
