.page-footer {
  > .container {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
}

.overley {
  //   padding-left: 100px;
  text-align: left;
  background-color: #191c26;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/footer/bg-mobile.jpg');

  @media screen and (min-resolution: 2dppx) {
    background-image: url('../images/footer/bg-mobile@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/footer/bg-tablet.jpg');

    @media screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer/bg-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/footer/bg-desctop.jpg');

    @media screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer/bg-desktop@2x.jpg');
    }
  }
}
