.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__gradient {
  background: linear-gradient(
    var(--background-pink),
    var(--background-pink) 30%,
    var(--background-darkpink) 0,
    var(--background-darkpink)
  );
}

.gallery__position {
  position: relative;
  z-index: 1;
  padding: 0 0 60px;
  width: 320px;
  overflow: hidden;
  margin-top: -35px;
    overflow: visible;
}

.gallery__image {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.gallery__image:hover {
  transform: scale(1.15) !important;
  z-index: 2;
  box-shadow: 0 5px 10px 2px rgba(181, 31, 68, 0.459);
}

.gallery__image-green {
  top: 50px;
  left: 10px;
}

.gallery__image-yellow {
  top: 35px;
  left: 52px;
}

.gallery__image-pink {
  top: 78px;
  left: 52px;
}

.gallery__image-ice-creams {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  margin-left: 95px;
}

.gallery__image-ice-creams:hover {
  transform: scale(1.03) translate(-3%, 1%) !important;
  box-shadow: 0 5px 10px 2px rgba(181, 31, 68, 0.459);
}

.gallery__image-girl {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-top: 3px;
  margin-left: 95px;
}

.gallery__image-girl:hover {
  transform: scale(1.15) !important;
  box-shadow: 0 5px 10px 2px rgba(181, 31, 68, 0.459);
}

.gallery__image-berry {
  top: 35px;
  right: 94px;
}

.gallery__image-hand {
  top: 78px;
  right: 94px;
}
.gallery__image-dog {
    top: 23px;
    right: 52px;
}

.gallery__image-milkshake {
    top: 66px;
    right: 52px;
}

.gallery__image-cupcake {
    right: 10px;
    top: 53px;
}

@media (min-width: 768px) {
  .gallery__position {
    width: 768px;
    padding-bottom: 60px;
    margin-top: -140px;

  }
  .gallery__image {
    width: 90px;
    height: 90px;
    border-radius: 20px;
  }

  .gallery__image-green {
    top: 94px;
    left: 55px;
  }

  .gallery__image-yellow {
    top: 57px;
    left: 150px;
  }
  .gallery__image-pink {
    top: 150px;
    left: 150px;
  }

  .gallery__image-ice-creams {
    width: 180px;
    height: 180px;
    border-radius: 29px;
    margin-left: 246px;
  }
  .gallery__image-girl {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    margin-top: 4px;
    margin-left: 246px;
  }
  .gallery__image-berry {
    top: 62px;
    right: 247px;
  }
  .gallery__image-hand {
    top: 156px;
    right: 247px;
  }
        .gallery__image-dog {
            top: 35px;
            right: 151px;
        }

                  .gallery__image-milkshake {
                      top: 129px;
                      right: 151px;
                  }
                                        .gallery__image-cupcake {
                                            top: 94px;
                                            right: 55px;
                                        }
}

@media (min-width: 1200px) {
  .gallery__position {
    width: 1090px;
    padding-bottom: 120px;
    margin-top: -100px;
  }
  .gallery__image {
    width: 150px;
    height: 150px;
    border-radius: 40px;
  }

  .gallery__image-green {
    top: 124px;
    left: 10px;
  }

  .gallery__image-yellow {
    left: 170px;
    top: 80px;
  }
  .gallery__image-pink {
    left: 170px;
    top: 240px;
  }
  .gallery__image-ice-creams {
    width: 280px;
    height: 280px;
    border-radius: 47px;
    margin-left: 329px;
  }
  .gallery__image-girl {
    width: 150px;
    height: 150px;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 329px;
  }

  .gallery__image-berry {
    left: 618px;
    top: 91px;
  }
  .gallery__image-hand {
    left: 618px;
    top: 250px;
  }
        .gallery__image-dog {
            right: 165px;
            top: 48px;
        }
                  .gallery__image-milkshake {
                      right: 165px;
                      top: 204px;
                  }
    .gallery__image-cupcake {
        right: 10px;
        top: 124px;
}}