.gallery {
  background-image: linear-gradient(
    to bottom,
    #fff5f6 0%,
    #fff5f6 45%,
    #fff 45%,
    #fff 100%
  );
  &-image {
    width: 130%;

    &__big {
      width: 118%;
    }
  }
  &-container {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }
  &__pictures {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &:first-child {
      margin-top: 0px;
    }

    &:nth-child(2) {
      margin-top: 0px;
    }
    &:nth-child(3) {
      margin-top: -10px;
    }

    &:nth-child(4) {
      margin-top: 20px;
    }

    &:nth-child(5) {
      margin-top: 0px;
    }

    &:last-child {
      margin-top: 5px;
    }
  }
}
.hidden-items {
  visibility: hidden;
  margin: 0;
}

.double-div {
  width: 20%;
  margin-top: 20px;
}

.left-images:hover {
  transform: scale(1.2) translateX(10px);
  transition: transform 350ms ease-in-out;
}

.right-images:hover {
  transform: scale(1.2) translateX(-10px);
  transition: transform 350ms ease-in-out;
}

.center-images:hover {
  transform: scale(1.2);
  transition: transform 350ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 0;
    &-container {
      gap: 28px;
    }

    &__pictures {
      &:nth-child(3) {
        margin-top: 0px;
      }

      &:nth-child(4) {
        margin-top: 40px;
      }

      &:last-child {
        margin-top: 0px;
      }
    }
    &-image__big {
      width: 110%;
    }
    .double-div {
      margin-top: 0px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding: 120px 0px 30px;
    width: 100vw;
    &-image {
      width: 120%;
      &__big {
        width: 110%;
      }
    }
    &-container {
      height: auto;
      gap: 35px;
      max-width: 100%;
    }

    &__pictures {
      gap: 8px;

      &:nth-child(3) {
        margin-top: 0px;
      }

      &:nth-child(4) {
        margin-top: 40px;
      }

      &:last-child {
        margin-top: 0px;
      }
    }
  }
  .double-div {
    margin-top: -10px;
  }
}
