// GLOBAL IMPORT
@import './main';

// GALLERY SCSS

.gallery-section {
  background-color: #fff;
}

.container {
  max-width: 480px;
}
.container__images {
  max-width: 480px;
  border-radius: 10%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1%;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;

  &.container__first {
    grid-area: first;
  }

  &.container__second {
    grid-area: second;
  }

  &.container__third {
    grid-area: third;
  }

  &.container__fourth {
    grid-area: fourth;
  }

  &.container__fifth {
    grid-area: fifth;
  }

  &.container__sixth {
    grid-area: sixth;
  }
}

.container__image {
  max-width: 100%;
  height: 100%;
}
.container__img1,
.container__img2,
.container__img4 {
  &:hover {
    transform: scale(1.2) translate(-20px, -20px);
    transition: transform 0.25s ease-in-out;
    transition: cubic-bezier(0.3, 0, 0.3, 1) 250ms;
  }
}

.container__img6,
.container__img8,
.container__img10 {
  &:hover {
    transform: scale(1.2) translate(20px, -20px);
    transition: transform 0.25s ease-in-out;
    transition: cubic-bezier(0.3, 0, 0.3, 1) 250ms;
  }
}

.container__img7,
.container__img9 {
  &:hover {
    transform: scale(1.2) translate(20px, 20px);
    transition: transform 0.25s ease-in-out;
    transition: cubic-bezier(0.3, 0, 0.3, 1) 250ms;
  }
}

.container__img10 {
  &:hover {
    transform: scale(1.2) translate(20px, 0px);
    transition: transform 0.25s ease-in-out;
    transition: cubic-bezier(0.3, 0, 0.3, 1) 250ms;
  }
}

.container__img1 {
  &:hover {
    transform: scale(1.2) translate(-20px, 0px);
    transition: transform 0.25s ease-in-out;
    transition: cubic-bezier(0.3, 0, 0.3, 1) 250ms;
  }
}

.container__img3,
.container__img5 {
  &:hover {
    transform: scale(1.2) translate(-20px, 20px);
    transition: transform 0.25s ease-in-out;
    transition: cubic-bezier(0.3, 0, 0.3, 1) 250ms;
  }
}

.container__img3 {
  padding-bottom: 30%;
}
.container__img9 {
  padding-bottom: 30%;
}

// RESPONSIVE

@media screen and (min-width: 481px) {
  .container {
    max-width: 768px; /* Maximul pentru tableta */
  }
  .container__images {
    max-width: 768px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 1200px; /* Maximul pentru desktop */
  }
  .container__images {
    max-width: 1013px;
  }
}
