body {
  font-family: 'DM Sans';
  color: #000000;
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: transparent;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 767px;

  @media screen and(min-width:$tablet) and (max-width: $desktop - 1) {
    max-width: $tablet;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and(min-width:$desktop) {
    max-width: $desktop;
    padding-left: 46px;
    padding-right: 115px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
