:root {
  --footer-text-color: #fff;
  --font-family: 'Epilogue', sans-serif;
}

/*--syles canceling--*/
h2,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
/*--MOBILE--*/
.container-section,
.container-sale {
  margin-left: 20px;
}
.container-section {
  width: 335px;
  height: 700px;
  gap: 40px;
}
.section-header {
  color: #14141466;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
.main-title {
  color: #141414;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 335px;
}
.watch-shooting-1 {
  width: 335px;
  height: 260px;
}
.blocks {
  width: 335px;
  height: 260px;
  gap: 20px;
}

.sale {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  width: 67px;
  gap: 16px;
}
.container-sale {
  width: 335px;
  height: 1037px;
  gap: 40px;
}
.big-plan {
  width: 335px;
  height: 260px;
}
.images,
.blocks,
.watch-shooting-2 {
  width: 80px;
  height: 80px;
  gap: 20px;
}
.big-plan,
.images,
.blocks {
  display: flex;
  gap: 20px;
}
.info-watch,
.watch-s-name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #141414;
}
.product-tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #14141480;
  text-align: left;
}
.price-now,
.old-price {
  display: inline;
  gap: 8px;
}
.price-now {
  color: #141414;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.old-price {
  color: #14141480;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: line-through;
}
.title {
  color: #141414;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.description-nav {
  color: #14141480;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.details {
  color: #141414;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.details-description {
  color: #14141480;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
/*--TABLET--*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .section-sale {
    margin-left: 20px;
  }
  .main-title {
    color: #141414;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    height: 88px;
    width: 448px;
    gap: 346px;
  }
  .watch-shooting-1 {
    width: 335px;
    height: 260px;
    gap: 40px;
    display: flex;
  }
  .sale {
    gap: 20px;
  }
  .watch-shooting-2 {
    gap: 40px;
  }
  .big-plan,
  .images {
    display: flex;
    width: 406px;
    height: 614px;
  }
  .description-watch {
    color: #14141480;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 572px;
    height: 72px;
  }
  .big-plan {
    width: 235px;
    height: 350px;
  }
  .watch-shooting-2 {
    width: 80px;
    height: 80px;
    gap: 40px;
  }
  .big-plan {
    display: flex;
    gap: 20px;
  }
  .description-nav {
    color: #14141480;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 572px;
    height: 72px;
    top: 49px;
  }
}
/*--DESCKTOP--*/
@media screen and (min-width: 1158px) {
  .main-title {
    color: #141414;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    height: 88px;
    width: 448px;
    gap: 346px;
  }
  .watch-shooting-1 {
    width: 576px;
    height: 422px;
    gap: 40px;
    display: flex;
  }
  .container-sale {
    width: 1176px;
    height: 738px;
    left: 132px;
  }
  .images {
    width: 981px;
    height: 614px;
    left: 97px;
  }
  .description-nav {
    color: #14141480;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 369px;
    height: 127px;
    top: 49px;
    display: flex;
    flex-direction: column;
  }
}
