:root {
  --footer-text-color: #fff;
  --font-family: 'Epilogue', sans-serif;
}

/*--syles canceling--*/
h2,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
/*--MOBILE--*/
.container-section,
.container-sale {
  padding: 0px 5%;
}
.sales_images_list {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container-section {
  width: 100%;
  height: auto;
  gap: 40px;
  margin-bottom: 10%;
}
.sale_image_big {
  padding: 0;
  width: 60%;
}
.section-header {
  color: #14141466;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
.sales_images {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}
.main-title {
  color: #141414;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
}
.new_watches {
  width: 100%;
  padding: 0;
}
.sale_info_box:not(:last-child) {
  padding-bottom: 2rem;
  border-bottom: 2px solid #00000075;
}

.sale_image {
  padding: 0;
  width: 100%;
}
.watch-shooting-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: auto;
  width: 100%;
}
.blocks {
  width: 335px;
  height: 260px;
  gap: 20px;
}

.sale {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  width: 67px;
  gap: 16px;
}
.container-sale {
  width: 100%;
  height: auto;
  gap: 40px;
  margin-bottom: 4rem;
}
.big-plan {
  width: 100%;
  height: auto;
}
.images,
.blocks,
.watch-shooting-2 {
  width: 80px;
  height: 80px;
  gap: 20px;
}
.big-plan,
.images,
.blocks {
  display: flex;
  gap: 20px;
}
.info-watch,
.watch-s-name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #141414;
}
.product-tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #14141480;
  text-align: left;
}
.price-now,
.old-price {
  display: inline;
  gap: 8px;
}
.price-now {
  color: #141414;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.old-price {
  color: #14141480;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: line-through;
}
.title {
  color: #141414;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.description-nav {
  color: #14141480;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.details {
  color: #141414;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.details-description {
  color: #14141480;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
/*--TABLET--*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .section-sale {
    margin-left: 20px;
  }
  .main-title {
    color: #141414;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    height: 88px;
    width: 448px;
    gap: 346px;
  }
  .watch-shooting-1 {
    width: 335px;
    height: 260px;
    gap: 40px;
    display: flex;
  }
  .sale {
    gap: 20px;
  }
  .watch-shooting-2 {
    gap: 40px;
  }
  .big-plan,
  .images {
    display: flex;
    width: 406px;
    height: 614px;
  }
  .description-watch {
    color: #14141480;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 572px;
    height: 72px;
  }
  .big-plan {
    width: 235px;
    height: 350px;
  }
  .watch-shooting-2 {
    width: 80px;
    height: 80px;
    gap: 40px;
  }
  .big-plan {
    display: flex;
    gap: 20px;
  }
  .description-nav {
    color: #14141480;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 572px;
    height: 72px;
    top: 49px;
  }
}
/*--DESCKTOP--*/
@media screen and (min-width: 1158px) {
  .container-section {
    width: 100%;
    height: auto;
  }
  .section-header {
    height: auto;
    line-height: 1;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .main-title {
    color: #141414;
    font-size: 60px;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 600;
    height: auto;
    width: 50%;
  }
  .watch-shooting-1 {
    width: 100%;
    height: auto;
    gap: 40px;
    display: flex;
    flex-direction: row;
  }
  .container-sale {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .sales_images {
    display: grid;
    width: 80%;
    grid-template-columns: 10% 30% 60%;
    gap: 100px;
  }
  .sales_images_list {
    width: 100%;
  }
  .sale_image {
    width: 100%;
    padding: 0;
  }
  .new_watches {
    width: 50%;
    padding: 100px;
  }
  // .images {
  //   width: 981px;
  //   height: 614px;
  //   left: 97px;
  // }
  .sale_image_big {
    width: 100%;
    min-height: 100%;
  }
  .description-nav {
    color: #14141480;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 369px;
    height: 127px;
    top: 49px;
    display: flex;
    flex-direction: column;
  }
  .sale_info_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 100px;
  }
  .sale_info_box:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 2px solid #00000075;
  }
  .sale-div {
    align-self: flex-start;
  }
}
