.guarantee-title {
  padding-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.03em;
}
.guarantee-wrapper {
  background: #f1f1f1;
}
.guarantee-list {
  padding-top: 30px;
}
.guarantee-list-item {
  position: relative;
  padding-left: 25px;
}
.guarantee-list-item:not(:last-child) {
  margin-bottom: 18px;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 40%;
    height: 50px;
    border-left: 1px dashed var(--secondary-text-color);
  }
}
.guarantee-list-icon {
  position: absolute;
  left: -2%;
  width: 15px;
  height: 20px;
}
.guarantee-list-text,
.guarantee-text-accent {
  display: inline;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #3d3d3d;
}
.guarantee-text-accent {
  color: var(--accent-color);
}
