.header {
  position: relative;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 1280px;
  padding-top: 37px;
  position: absolute;
  z-index: 1000;
}

.navigation-list {
  display: flex;
  &-item:not(:last-child) {
    margin-right: 35px;
  }
}

.navigation-item-link {
  font-family: $main-font;
  font-style: normal;
  @include font(16px, 700, 1.313);
  color: #ffffff;
}

.nav-item-active {
  color: $main-title-color;
}
.menu-btn {
  display: none;
  width: 20px;
  height: 14px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-btn {
  height: 44px;
  width: 159px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font-family: $main-font;
  font-style: normal;
  @include font(16px, 700, 1.313);
  text-align: center;
  color: $main-title-color;
  background: #ffffff;

  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.btn-icon {
  stroke: currentColor;
  margin-left: 12px;
  // padding-top: 2px;
  // height: 100%;
  // line-height: 20px;
  // display: inline;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-left: 46px;
  }

  .header-container {
    width: 1119px;
  }
}
@media screen and (max-width: 767px) {
  .header-container {
    padding-top: 6px;
  }
}
