.header-navigation {
  margin-top: 118px;
  margin-left: 40px;
  margin-right: auto;
  @media screen and (min-width: $tablet), (orientation: landscape) {
    display: flex;
    margin-top: 52px;
    margin-left: 183px;
    position: absolute;
  }
}
.header-link {
  @media screen and (min-width: $tablet), (orientation: landscape) {
    font-size: 12px;
    line-height: 16px;
    color: $main_white;
  }

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: $main_black;
  text-align: center;
  letter-spacing: 0.1em;
  &:hover {
    color: $hover_color;
  }
  &:focus {
    color: $hover_color;
  }
}
.header-item:not(:last-child) {
  padding-bottom: 24px;
  @media screen and (min-width: $tablet), (orientation: landscape) {
    padding-right: 24px;
  }
}
.header-service {
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 40px;
  @media screen and (min-width: $tablet), (orientation: landscape) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-right: 55px;
  }
}
.header-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  width: 194px;
  height: 40px;
  background: transparent;
  border: 1px solid $hover_color;
  box-sizing: border-box;
  border-radius: 25px;
  margin-top: 24px;
  @media screen and (min-width: $tablet), (orientation: landscape) {
    position: absolute;
    transform: translateY(-20px);
    top: 0;
    width: 160px;
    right: 39px;
    color: $main_white;
  }
  @media screen and (min-width: $desktop) {
    position: initial;
    transform: translateY(0px);
    margin-top: 0;
    margin-left: 40px;
  }

  &:hover {
    background: $hover_color;
    color: $main_white;
  }
  &:focus {
    background: $hover_color;
    color: $main_white;
  }
}
.header-join {
  @media screen and (min-width: $tablet), (orientation: landscape) {
    margin-left: 40px;
    font-size: 11px;
    line-height: 15px;
  }
  margin-left: 105px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $main_black;

  letter-spacing: 0.2em;
  &:not(:last-child) {
    @media screen and (min-width: $tablet), (orientation: landscape) {
      margin-bottom: 0;
    }
    margin-bottom: 24px;
    margin-left: 0;

    &::before {
      @media screen and (min-width: $tablet), (orientation: landscape) {
        background-color: $main_black;
        position: absolute;
        transform: translateX(-100px);
        margin-top: 9px;
        margin-bottom: auto;
      }
      margin-right: 40px;
      vertical-align: middle;
      content: '';
      display: inline-block;

      width: 60px;
      height: 1px;
      background-color: $main_black;
    }
  }
}
.header-join-item {
  color: $main_black;
  &:hover {
    color: $hover_color;
  }
  &:focus {
    color: $hover_color;
  }
}

.header-join-div {
  margin-left: 40px;

  @media screen and (min-width: $tablet), (orientation: landscape) {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 159px;
    height: 680px;
    background-color: $main_white;
  }
}
.header-join-list {
  @media screen and (min-width: $tablet), (orientation: landscape) {
    display: flex;
    transform: rotate(-90deg);
    margin-top: 458px;
  }
}
.header-number {
  @media screen and (min-width: $tablet), (orientation: landscape) {
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    transform: translateY(60px);
    right: 58px;
    width: 125px;
    height: 16px;
    color: $main_white;
  }
  @media screen and (min-width: $desktop) {
    position: initial;
    display: flex;
    justify-self: center;
    transform: translateY(0px);
    text-align: center;
    margin-top: 12px;
  }
  font-style: normal;
  color: $main_black;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header-logo {
  position: absolute;
  top: 40px;
  left: 30px;
  z-index: 10;

  fill: $main_white;
  width: 69px;
  height: 56px;
  @media screen and (min-width: $tablet), (orientation: landscape) {
    fill: $main_black;
    // z-index: 10;
    left: 50px;
    top: 32px;
  }
}

.slider-picture {
  width: 100%;
  height: 580px;
  object-fit: cover;
  object-position: center;

  @media screen and (min-width: $tablet), (orientation: landscape) {
    height: 680px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 580px;
  background-image: linear-gradient(to right, $header-overlay, $header-overlay);
  @media screen and (min-width: $tablet), (orientation: landscape) {
    height: 680px;
  }
}

.header-hero {
  @media screen and (min-width: $tablet), (orientation: landscape) {
    height: 680px;
    // margin-left: 155px;
  }
  font-family: $OpenSans;
  font-style: normal;
  background-image: linear-gradient(to right, $header-overlay, $header-overlay);
  width: 100%;
  height: 580px;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: $main_black;
}
.header-hair-text {
  @media screen and (min-width: $tablet), (orientation: landscape) {
    padding-left: 279px;
    padding-top: 279px;
  }
  padding-top: 208px;
  padding-left: 31px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $form_gray_opacity;
  &::before {
    margin-right: 20px;
    vertical-align: middle;
    content: '';
    display: inline-block;

    width: 60px;
    height: 1px;
    background-color: $form_gray_opacity;
  }
}
.header-title-text {
  @media screen and (min-width: $tablet), (orientation: landscape) {
    padding-left: 279px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 72px;
    line-height: 85px;
  }
  font-family: $Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: $main_white;
  padding-left: 31px;
  padding-bottom: 20px;
}
.header-text {
  position: relative;
  z-index: 1;
}
.header-description-text {
  @media screen and (min-width: $tablet), (orientation: landscape) {
    padding-left: 0;
    width: 355px;
    margin-left: 279px;
    word-wrap: normal;
  }
  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
  }
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: $main_gray;
  padding-left: 31px;
  width: 306px;
}
.header-img-nav {
  display: none;
  z-index: 2;
  @media screen and (min-width: $tablet), (orientation: landscape) {
    display: flex;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 616px;
    margin-right: 55px;
  }
}
.header-img-nav-btn1 {
  margin-right: 61px;
  background-color: transparent;
  border: none;
  color: $form_gray_opacity;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  &:hover {
    color: $main_white;
  }
  &:focus {
    color: $main_white;
  }

  &::after {
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: currentColor;
    content: '';
    bottom: -8px;
    left: 0;
  }
}
.header-img-nav-btn {
  background-color: transparent;
  border: none;
  color: $form_gray_opacity;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  &:hover {
    color: $main_white;
  }
  &:focus {
    color: $main_white;
  }

  &::after {
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: currentColor;
    content: '';
    bottom: -8px;
    right: 0;
  }
}

.header-slider {
  display: none;
  @media screen and (min-width: $tablet), (orientation: landscape) {
    display: inline;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 325px;
    margin-right: 55px;
    z-index: 10;
  }
}
@media screen and (min-width: $tablet), (orientation: landscape) {
  .header-line {
    width: 8px;
    height: 2px;
    background-color: $main_gray;
    z-index: 10;
    margin-right: 0;
    margin-left: auto;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &-accent {
      width: 18px;
      background-color: $main_white;
    }
  }
}
