img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.main-navigation {
  align-items: flex-end;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
}
.main-header-library-ancor {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.main-header-home-ancor {
  margin-right: 39px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.main-header-navigation {
  margin-right: auto;
}

.film-icon {
  // position: absolute;
  width: 24px;
  height: 24px;

  //left: 21px;
  // top: 46px;

  @media screen and(min-width: 768px) and (max-width: 1023px) {
    // left: 71px;
  }
}

.search-icon {
  padding-bottom: 6px;
  border-bottom: 0.5px solid #ffffff;
  width: 15px;
  height: 15px;
  //left: 288px;
  //top: 115px;
  @media screen and(min-width: 768px) and (max-width: 1023px) {
    left: 539px;
    top: 115px;
  }
  @media screen and(min-width: 1024px) {
    left: 667px;
    top: 115px;
  }
}

.search-form {
  padding: 20px;
  display: flex;
  align-items: flex-end;
}

.film-search-input {
  padding-bottom: 6px;
  background: none;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  //position: absolute;
  width: 280px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #ffffff;

  // left: 20px;
  // top: 133px;
  @media screen and(min-width: 768px) and (max-width: 1023px) {
    width: 336px;

    left: 216px;
    top: 133px;
  }

  @media screen and(min-width: 1024px) {
    width: 336px;

    left: 344px;
    top: 133px;
  }
}

.film-search-input::placeholder {
  color: #ffffff;
}

.header-logo {
  //position: absolute;
  width: 141px;
  height: 35px;
  //left: 105px;
  // top: 41px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  @media screen and (max-width: 767px) {
    //position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.main-header-home-ancor {
  //position: absolute;
  width: 35px;
  height: 14px;
  // left: 157px;
  // top: 58px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and(min-width: 768px) and (max-width: 1023px) {
    left: 549px;
  }

  @media screen and(min-width: 1024px) {
    left: 810px;
  }
}

.main-header-library-ancor {
  // position: absolute;
  width: 69px;
  height: 14px;
  left: 231px;
  top: 58px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and(min-width: 768px) and (max-width: 1023px) {
    left: 623px;
  }
  @media screen and(min-width: 1024px) {
    left: 884px;
  }
}

.main-haeder-overlay {
  margin: auto;
  width: 320px;
  height: 230px;
  //left: 0px;
  //top: 0px;
  background: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/main_header_mobile.jpg);

  @media screen and(min-width: 768px) and (max-width: 1023px) {
    width: 768px;
    height: 230px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/main_header_tablet.jpg);
  }

  @media screen and(min-width: 1024px) {
    width: 1024px;
    height: 230px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/main_header_desktop.jpg);
  }
}

.is-hiden {
  display: none;
}
