.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffb8ca;
  padding: 37px 0;

  .container {
    width: 1280px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  .nav-list {
    margin-left: 110px;
    display: flex;
    align-items: center;

    li:nth-child(1) {
      color: #d41443;
    }

    li:not(:last-child) {
      margin-right: 35px;
    }

    &__link {
      color: #ffffff;
      font-family: 'DM Sans', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      padding: 14px 0;
    }

    &__link:visited {
      color: #ffffff;
    }
    &__link:hover {
      color: #d41443;
    }
  }

  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 159px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #d41443;
    // border: 1px solid #ffffff;
    &:hover {
      border: 1px solid #d41443;
    }
  }

  .nav-arrow {
    padding-left: 12px;
    padding-top: 2px;
  }
}
