.header {
  padding-top: 6px;
  z-index: 10;

  // position: absolute;
  // top: 0;
  // left: 0;
  // transform: translateX(15%);
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;

  }
}

.nav,
.buy {
  display: none;
}

.logo-picture {
  display: inline-block;
  max-width: 199px;
  height: auto;
}
.menu-box {
  display: flex;
  align-self: center;
  .buy {
  display: none;
}
}
.burger-menu {
  padding: 0;
  background-color: inherit;
  border: none;
  fill: $text-red-color;

}
.buy {
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background: $text-white-color;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $text-red-color;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #ecebeb;
    }
  }
  .nav-link {
    color: $text-white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $text-red-color;
    }
  }
// @media screen and (min-width: 480px) {
//   .header {
//     .header-container {
//       width: 480px;
//     }
//   }
// }

@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
    // .header-container {
    // }
  }

  .burger-menu {
    margin-right: 30px;
  }
  .menu-box .buy {
    display: block;
      }
}

@media screen and (min-width: 1280px) {
  .burger-menu {
    display: none;
  }
  .nav {
    display: flex;
    align-self: center;
  }
  .nav-list {
    display: flex;
  }
  .nav-item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  
}
