p,
h1,
h2,
h3 {
  margin: 0;
}


#how-button__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  width: 220px;
  color: $gray-color;
  display: none;
  margin-left: 20px;
}

.made {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0px auto;
  position: relative;

  height: 1564px;
  background-color: $secondary-background-color;
  height: 1564px;

  &__subtitle {
    font-family: 'Titan One';
    font-size: 18px;
    line-height: 21px;
    color: $secondary-color;
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  &__title {
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    color: $primary-color;
    text-transform: uppercase;
  }
}

.made-section {
  background-color: $secondary-background-color;
  font-family: 'DM Sans';
  font-style: normal;
  padding-bottom: 40px;

  &__image {
    width: 280px;
    padding-bottom: 40px;
    margin-left: 20px;
  }

  &__text {
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: left;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  &__button {
    width: 176px;
    height: 44px;
    background: $white-color;
    border-radius: 22px;
    border-color: $white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: $primary-color;
    margin-left: 20px;
  }

  &__background-container {
    background: url(/src/images/made-background-M-1x.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 280px;
    height: 133px;
    top: 127px;
    margin-left: 20px;
  }
}

.made-section__text--text1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $black-color;
  padding-top: 40px;
  width: 220px;
  padding-bottom: 40px;
  margin-left: 20px;
}

.made-section__text--text2 {
  font-size: 14px;
  line-height: 194%;
  color: $gray-color;
  width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  margin-bottom: 15px;
  margin-left: 20px;
}

.made-section__text--text3 {
  font-size: 14px;
  line-height: 194%;
  color: $gray-color;
  width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  margin-bottom: 20px;
  margin-left: 20px;
}

// .container {
//   width: 320px;
//   margin: 0px auto;
// }
.how-its-made-container {
  width: 320px;
  margin: 0px auto;
  background-color: $secondary-background-color;
}

.quantity {
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 209px;
    gap: 32px;
    margin-left: 20px;
  }

  &__item {
    font-style: normal;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  &__svg {
    fill: $svg-background;
    margin-bottom: 16px;
    display: inline-block;
  }

  &__title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-color;
  }

  &__text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    color: $black-color;
    width: 230px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .how-its-made-container {
    width: 768px;
    margin: 0px auto;
    background-color: $secondary-background-color;
  }

  .made {
    height: 1092px;
    &__subtitle {
      font-size: 26px;
      line-height: 30px;
    }
    &__title {
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.04em;
    }
  }

  .made-section {
    background: none;
    background-color: $secondary-background-color;
    display: flex;
    gap: 32px;

    &__background-container {
      display: none;
    }
    &__button {
      font-size: 16px;
      line-height: 21px;
      margin-left: 0px;
    }
    &__image {
      width: 336px;
      align-self: center;
      margin-left: 32px;
    }
  }

  .made-section__text--text1,
  .made-section__text--text2,
  .made-section__text--text3 {
    font-size: 14px;
    line-height: 176%;
    width: 334px;
    margin-left: 0px;
  }

  #how-button__text {
    display: none;
    width: 334px;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    margin-left: 0px;
  }

  .quantity {
    &__title {
      font-size: 48px;
      line-height: 55px;
    }

    &__text {
      font-size: 14px;
      line-height: 174%;
      margin-bottom: 64px;
      width: 159px;
    }

    &__svg {
      margin-bottom: 36px;
    }

    &__list {
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-direction: row;
      gap: 4px;
      margin-left: 32px;
    }

    &__item--padding {
      padding-left: 18px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .how-its-made-container {
    width: 1200px;
    margin: 0px auto;
    background-color: $secondary-background-color;
  }

  .made {
    height: 1229px;
    &__subtitle {
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.04em;
    }
    &__title {
      font-size: 58px;
      line-height: 66px;
      letter-spacing: 0.06em;
    }
  }

  .made-section {
    background: url(../images/made-background-D-1x.png);
    background-repeat: no-repeat;
    display: flex;
    gap: 99px;

    &__background-container {
      display: none;
    }

    &__image {
      width: 501px;
      align-items: center;
      margin-left: 16px;
    }

    &__text--text1 {
      font-size: 16px;
      line-height: 176%;
      width: 463px;
      padding-top: 90px;
      margin-left: 0px;
    }

    &__button {
      font-size: 16px;
      line-height: 21px;
      margin-left: 0px;
    }
  }

  .made-section__text--text2,
  .made-section__text--text3 {
    font-size: 14px;
    line-height: 194%;
    width: 463px;
    margin-left: 0px;
  }

  .made-section__text--text3 {
    margin-bottom: 40px;
  }

  #how-button__text {
    display: none;
    width: 463px;
    font-size: 14px;
    line-height: 194%;
    margin-left: 0px;
  }

  .quantity {
    &__title {
      font-size: 58px;
      line-height: 66px;
    }

    &__text {
      font-size: 16px;
      line-height: 176%;
      letter-spacing: 0.02em;
      width: 288px;
    }

    &__svg {
      margin-bottom: 40px;
    }

    &__list {
      flex-direction: row;
      gap: 60px;
      margin-left: 20px;
    }

    &__item--margin {
      margin-right: 55px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .made-section__background-container {
    background: url(../images/made-background-M-2x.png);
    top: 130px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .made-section {
    &__background-container {
      display: none;
    }
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .made-section {
    background: url(../images/made-background-D-2x.png);
    background-repeat: no-repeat;
  }
}
