p,h1,h2,h3{
	margin: 0;
}

.how_button{
	display: none;
}

#how-button__text {
    width: 114px;
    font-size: 8px;
    font-size: 14px;
    line-height: 194%;
    color: $gray-color;
    display: none;
	width: auto;
  }


.made{
    font-style: normal;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;
   margin: 0px auto;
   position: relative;
   background-color: $secondary-background-color;

   &__subtitle{
   font-family: 'Titan One';
   line-height: 34px;
   font-size: 30px;
   letter-spacing: 0.04em;
   color: $secondary-color;
   margin: 0px;
   padding-top: 60px;
   }

   &__title{
   font-family: 'Titan One';
   font-size: 58px;
   line-height: 66px;
   letter-spacing: 0.06em;
   color: $primary-color;
   }
   
}

.made-section{
    // background: url(/src/images/made-background-M-1x.png);
	// background-repeat: no-repeat;
	background-color: $secondary-background-color;
    font-family: 'DM Sans';
    font-style: normal;
	padding-bottom: 40px;
    
	// flex-direction: column;


    // &__divimage{
    //    margin-right: 99px;
    // }

    &__image{
		width:280px;
    }

    &__text{
        font-weight: 500;
        letter-spacing: 0.04em;
        text-align: left;
        display: flex;
		position: relative;
        flex-direction: column;
        // align-items: start;
    }

    &__button{
        width: 176px;
        height: 44px;
        background: $white-color;
        border-radius: 22px;
        border-color: $white-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        align-items: center;
        text-align: center;
        color: $primary-color;
        // position: absolute;
        // top: 632px;
        
        
    }
}

.made-section__text--text1{
    
    // font-size: 16px;
    // line-height: 176%;
    // color: $black-color;
    // padding-top: 90px;
	width: 220px;

	font-weight: 500;
	font-size: 12px;
	line-height: 162%;
	color: #000000;
	
}

.made-section__text--text2{
    
    font-size: 14px;
    line-height: 194%;
    color: $gray-color;
	width: 220px;
	font-weight: 500;
	font-size: 12px;
	line-height: 162%;
	color: #907E82;
	
}

.made-section__background-container{
	background: url(/src/images/made-background-M-1x.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 280px;
	height: 133px;
	bottom: 376px;
}

.made-section__text--text3{
    
    font-size: 14px;
    line-height: 194%;
    color: $gray-color;
	width: 220px;
	font-weight: 500;
	font-size: 12px;
	line-height: 162%;
	color: #907E82;
}

.container{
    width: 320px;
    margin: 0px auto;
	background-color: $secondary-background-color;
}

.quantity{

    &__list{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0px;
		padding: 0px;
        padding-bottom: 209px;
		gap: 32px;
        
    }

    &__item{
        font-style: normal;
        text-align: left;
		display: flex;
        flex-direction: column;
    }

    // &__svg-container{
        

    // }

    &__svg{
        fill: $svg-background;

        margin-bottom: 40px;
		display: inline-block;
    }

    &__title{
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 58px;
        line-height: 66px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $primary-color;
        text-align: left;
        margin: 0px;
    }

    &__text{
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: $black-color;
        // text-align: left;
    }

}

@media screen and (min-width: 768px) and (max-width: 1279px){

	.container{
		width: 768px;
		margin: 0px auto;
		background-color: $secondary-background-color;
	}
	
	.made-section{
		background: none;
		background-color: $secondary-background-color;
		display: flex;
		gap: 32px;

	}

	.made-section__image{
		width: 336px;
	}

	.made-section__text--text2{

	background: none;
		
	}

	.quantity__list{
		margin: 0px;
		padding: 0px;
		display: flex;
    	flex-direction: row;
		gap: 4px;
	}

	#how-button__text {
		display: none;
		width: auto;
	  }

}


@media screen and (min-width: 1280px){
	.container{
		width: 1200px;
		margin: 0px auto;
		background-color: $secondary-background-color;
	}

	.made-section {
		background: url(../images/made-background-D-1x.png);
    	background-repeat: no-repeat;
		display: flex;
		gap: 32px;
	}

	.made-section__image{
		width: 501px;
		align-items: center;
	}

	.made-section__text--text2{
		background: none;
	}

	.made-section__text--text3{
		padding-bottom: 40px;
	}
	.quantity__list{
		flex-direction: row;
		gap: 60px;
	}

	.quantity__item--margin
	{
		margin-right: 55px;
	}

	#how-button__text {
		display: none;
		width: auto;
	  }

}

@media screen and (min-device-pixel-ratio: 2),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
		.made-section {
			background: url(../images/made-background-M-2x.png);
			background-repeat: no-repeat;
		}
	}

	@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
	screen and (min-width: 768px) and (min-resolution: 192dpi),
	screen and (min-width: 768px) and (min-resolution: 2dppx) {
		.made-section {
			background: none;
		}
	}
	@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
	screen and (min-width: 1280px) and (min-resolution: 192dpi) ,
	screen and (min-width: 1280px) and (min-resolution: 2dppx) {
		.made-section {
			background: url(../images/made-background-D-2x.png);
			background-repeat: no-repeat;
		}
		.made-section__button{
			position: absolute;
        	top: 632px;
		}

		
	}