.how-made {
    &-subtitle, &-title {
        font-family: $titles-subtitles-font;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }

    &-subtitle {
        text-transform: uppercase;
        color: $subtitle-color;
    }

    &-title {
        color: $main-title-color;
    }

    .lead-description, .description-text {
        font-family: $main-font;
    }

    .lead-description {
        color: $other-text-color;
    }

    .description-text {
        color: $section-text;
    }
}

@media screen and (min-width: 480px) {
    .how-made {    
        &-subtitle {
            font-size: 18px;
            line-height: 1.17;
        }
    
        &-title {
            font-size: 34px;
            line-height: 1.15;
            letter-spacing: 0.04em;
        }
    
        .lead-description, .description-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.79;
        }
        
        .description-text {
            letter-spacing: 0.04em;
        }
    }
}

@media screen and (min-width: 768px) {
    .how-made {
        &-subtitle {
            font-size: 26px;
            line-height: 1.15;
        }
    
        &-title {
            font-size: 48px;
            letter-spacing: 0.06em;
        }
    
        .lead-description, .description-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.79;
        }
        
        .description-text {
            letter-spacing: 0.04em;
        }
    }
}


@media screen and (min-width: 1200px) {
    .how-made {    
        &-subtitle {
            font-size: 30px;
            line-height: 1.13;
        }
    
        &-title {
            font-size: 58px;
            line-height: 1.14;
            letter-spacing: 0.06em;
        }
    
        .lead-description, .description-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.79;
        }
        
        .description-text {
            letter-spacing: 0.04em;
        }
    }
}
