.how_its_made {
  background-color: $secondary-background-color;
}
.how_its_made .container {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 145px;
}
.how_its_made_main-title {
  font-family: $secondary-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;

  margin-top: 0;
  margin-bottom: 15px;

  text-align: center;
  text-transform: uppercase;
  color: $tertiary-text-color;
}
.how_its_made_second-title {
  font-family: $secondary-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;

  margin-top: 0;
  margin-bottom: 26px;

  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-text-color;
}
.how_its_made-list {
  padding-left: 25px;
  padding-right: 25px;
}
.how_its_made-list-text {
  font-size: 12px;
  line-height: 1.6;
  /* or 19px */

  margin-top: 0;
  margin-bottom: 45px;
}
.black {
  color: $quaternary-text-color;
}
.grey {
  color: $quinary-text-color;
}
.how_its_made-button {
  width: 176px;
  height: 44px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: $secondary-text-color;
  background: $primary-background-color;
  border: transparent;
  border-radius: 22px;
}
.how_its_made-numbers {
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;

  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;
  color: $secondary-text-color;
}
.how_its_made-numbers-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;

  margin-top: 0;
  margin-bottom: 0;

  color: $quaternary-text-color;
}
.how_its_made-numbers-list-item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 320px) {
  .how_its_made .container {
    width: 320px;
  }
}
