.howmade-section {
  margin: 0 auto;
  font-family: $font-primery;
  font-style: normal;
  font-weight: 500;
  color: $secondary-text-color;

  background-color: $secondary-bg-color;
  background-image: url(../images/howmade/howmade-bg.png);
  background-position: 0 342px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.howmade-subtitle {
  font-family: $font-title;
  text-align: center;
  text-transform: uppercase;
  color: $subtitle-color;
  margin: 0;
}

.howmade-title {
  font-family: $font-title;
  text-align: center;
  text-transform: uppercase;
  color: $title-color;
  margin: 0;
}

.howmade-content-box-img img {
    display: block;
    width: 100%;
  }


.howmade-ingredients-list {
  @extend %list;
}

.howmade-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  padding: 13px 41px;
  background: #FFFFFF;
  border-radius: 22px; 
  color: $title-color;
  border: none;

  &:hover {
    background-color: $hover-bg-color;
  }

  svg {
    width: 5px;
    height: 8px;
    margin-left: 13px;
  }
}

.howmade-ingredients-list img {
    display: block;
    height: 50px;
  }

  .howmade-ingredients-list-item-title {
    font-family: $font-title;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $title-color;
  }

  .howmade-content-box-main-text,
  .howmade-ingredients-list-item-description {
    color: $dark-text-color;
  }



@media screen and (max-width: 771px) {
  
  .howmade-section {
    font-size: 12px;
    line-height: 1.583;
    padding-top: 125px;
    padding-bottom: 145px;

    background-image: url(../images/howmade/howmade-bg.png);
    background-position: 0 40%;
  }

  .howmade-container {
    max-width: 771px;
    padding: 0 20px;
    }

  .howmade-subtitle {
    
    font-size: 18px;
    line-height: 1.166;
    margin-bottom: 15px;
  }
  .howmade-title {
    font-size: 34px;
    line-height: 1.147;
    margin-bottom: 26px;
  }

  // Не знаю как поставить правильно фон, оставлю на потом.
  // .content-box {
  //   background-image: url("../images/howmade/howmade-bg.png");
  //   width: 100%;
  // }
  
  .howmade-content-box img {
    margin-bottom: 46px;
    max-width: 280px;
    margin: 0 auto;
  }

  .howmade-content-box-text {
    padding: 0 30px;
    margin-bottom: 39px;
  }

  .howmade-content-box-second-text {
    margin-bottom: 17px;
  }

  .howmade-ingredients-list-item {
    margin-bottom: 38px;
  }

  .howmade-ingredients-list img {
    margin-bottom: 16px;
  }

  .howmade-ingredients-list-item-title {
    font-size: 36px;
    line-height: 1.138;
  }
}



@media screen and (min-width: 772px) {

  .howmade-section {
    font-size: 14px;
    line-height: 1.785;
    padding-top: 130px;
    padding-bottom: 246px;
    letter-spacing: 0.04em;
  }

  .howmade-container {
    width: 772px;
    padding: 0 36px;
    margin: 0 auto;
    }

  .howmade-subtitle {
    
    font-size: 26px;
    line-height: 1.153;
    margin-bottom: 16px;
  }
  .howmade-title {
    font-size: 48px;
    line-height: 1.145;
    margin-bottom: 50px;
    letter-spacing: 0.04em;
  }
  
  .howmade-content-box {
    display: flex;
    margin-bottom: 66px;
  }

  .howmade-content-box-img {
    width: 50%;

    img {
      max-width: 340px;
    }
  }

  .howmade-content-box-text {
    padding-left: 17px;
    width: 50%;
  }

  .howmade-content-box-main-text {
    color: $dark-text-color;
    padding-top: 50px;
  }

  .howmade-content-box-second-text {
    margin-bottom: 62px;
    letter-spacing: 0.04em;
  }

  .howmade-ingredients-list {
    display: flex;
  }

  .howmade-ingredients-list-item {
    width: 180px;
  }

   .howmade-ingredients-list-item:not(:last-child) {
    margin-right: 60px;
  }

  .howmade-ingredients-list img {
    margin-bottom: 36px;
  }

  .howmade-ingredients-list-item-title {
    font-size: 48px;
    line-height: 1.145;
    margin-bottom: 13px;
  }

  .howmade-ingredients-list-item-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.714;
  }
}



@media screen and (min-width: 1280px) {

  .howmade-section {
    font-size: 14px;
    line-height: 1.928;
    padding-top: 125px;
    padding-bottom: 320px;
    letter-spacing: 0.04em;

    // background-image: url(../images/howmade/howmade-bg.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-position: 0 342px;
  }

  .howmade-container {
    width: 1280px;
    padding: 0 112px;
    margin: 0 auto;
    }

  .howmade-subtitle {
    
    font-size: 30px;
    line-height: 1.133;
    margin-bottom: 15px;
  }
  .howmade-title {
    font-size: 58px;
    line-height: 1.137;
    margin-bottom: 50px;
    letter-spacing: 0.06em;
  }
  
  .howmade-content-box {
    display: flex;
    margin-bottom: 65px;
  }

  .howmade-content-box-img {
    width: 50%;

    img {
      max-width: 516px;
    }
  }

  .howmade-content-box-text {
    padding-left: 74px;
    width: 50%;
  }

  .howmade-content-box-main-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
    padding-top: 47px;
  }

  .howmade-content-box-second-text {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
  }

  .howmade-button {
    font-size: 16px;
    line-height: 1.312;
  }

  .howmade-ingredients-list {
    display: flex;
    margin-top: -26px;
  }

  .howmade-ingredients-list-item {
    width: 330px;
  }

   .howmade-ingredients-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .howmade-ingredients-list img {
    margin-bottom: 40px;
  }

  .howmade-ingredients-list-item-title {
    font-size: 58px;
    line-height: 1.137;
    margin-bottom: 15px;
  }

  .howmade-ingredients-list-item-description {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
  }
}