@import './styleDefoult/mixin';

.images {
    @media screen and (max-width: 767px){
        background: linear-gradient(to top, #FFF 35%,#FFF5F6 40%);  
    }
    @media screen and (min-width: 768px){
        background: linear-gradient(to top, #FFF 50%,#FFF5F6 50%);  
    }

    @media screen and (min-width: 1280px){
        background: linear-gradient(to top, #FFF 60%,#FFF5F6 40%);  
    }
   
}
.images-container{
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) {
        max-width: 600px;
        height: 122px;
    }

    @media screen and (min-width: 768px) {
        max-width: 1000px;
        height:264px;
    }
    @media screen and (min-width: 1280px) {
        height:430px;
        max-width: 1280px;
    }
}
    

