.location-place-item {
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 43px;
  padding-bottom: 43px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin: 0 auto;
}
.location-place-item-title {
  margin-bottom: 25px;
}
.location-place-item-container-city {
  margin-bottom: 10px;
}
.location-place-item-container {
  margin-bottom: 50px;
}
.location-place-item-tametable {
  margin-bottom: 50px;
}
@media screen and (max-width: 319px) {
  .location-place-item {
    max-width: 220px;
  }
}
@media screen and (min-width: 320px) {
  .location-place-item {
    width: 220px;
  }
}
