@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');
:root {
  --text-font-family: 'Titan One', cursive;
  --text-pink-main: #d41443;
  --alternate-text-font-family: 'DM Sans', sans-serif;
}

/* TRADITION & LOVE-- PHONE */

.body {
  color: #000;
}

.container {
  margin: 0 auto;
  background: #fff5f6;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.section-title {
  font-family: var(--text-font-family);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  padding-top: 60px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.article {
  background-repeat: no-repeat;
  background-size: cover;
}

.article-flex {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

.article-flex__image {
  margin: 0 20px 40px 20px;
  width: 280px;
  height: 279px;
}

.article__title {
  font-family: var(--text-font-family);
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-pink-main);
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 32px;
  margin-right: 64px;
  margin-left: 56px;
}

.paragraph-flex {
  background-repeat: no-repeat;
  background-size: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-right: 80px;
}

.paragraph-flex__paragraph1 {
  font-family: var(--alternate-text-font-family);
  font-size: 12px;
  line-height: 162%;
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 18px;
}

.paragraph-flex__paragraph2 {
  font-family: var(--alternate-text-font-family);
  font-size: 12px;
  line-height: 162%;
  letter-spacing: 0.04em;
  color: #907e82;
  margin-top: 0;
  margin-left: 20px;
  padding-bottom: 20px;
}

.read-more-button {
  font-family: var(--alternate-text-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-pink-main);
  width: 176px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #ffffff;
  border-radius: 22px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 40px;
  margin-left: 20px;
}

.read-more-button__btn-svg {
  width: 4.43px;
  height: 8px;
  padding-left: 13.62px;
}

.read-more-button:hover {
  background-color: #ecebeb;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 20px;
}

.features-list:first-child {
  margin-left: 20px;
}

.features-list__svg {
  width: 50px;
  height: 50px;
}

.features-list__heading {
  font-family: var(--text-font-family);
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-pink-main);
  margin-top: 16px;
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.features-list__text {
  font-family: var(--alternate-text-font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.02em;
}

.features-list:last-child {
  padding-bottom: 39px;
}

/* TRADITION & LOVE-- TABLET */

@media screen and (min-width: 481px) {
  .body {
    color: #000;
  }

  .container {
    margin: 0 auto;
    background: #fff5f6;
  }

  ul {
    list-style: none;
    padding-inline-start: 0px;
  }

  .section-title {
    font-family: var(--text-font-family);
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    padding-top: 60px;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .article {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .article-flex {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
  }

  .article-flex__image {
    margin: 40px 32px 20px 32px;
    height: 335px;
    width: 336px;
  }

  .article__title {
    font-family: var(--text-font-family);
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-pink-main);
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  .paragraph-flex {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 34px;
  }

  .paragraph-flex__paragraph1 {
    font-family: var(--alternate-text-font-family);
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0.04em;
    margin: 0;
    padding-bottom: 32px;
  }

  .paragraph-flex__paragraph2 {
    font-family: var(--alternate-text-font-family);
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: #907e82;
    margin: 0;
    padding-bottom: 40px;
  }

  .read-more-button {
    font-family: var(--alternate-text-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-pink-main);
    width: 176px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #ffffff;
    border-radius: 22px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 52px;
  }

  .read-more-button__btn-svg {
    width: 4.43px;
    height: 8px;
    padding-left: 13.62px;
  }

  .read-more-button:hover {
    background-color: #ecebeb;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin-left: 32px;
  }

  .features-list__svg {
    width: 50px;
    height: 50px;
  }

  .features-list__heading {
    font-family: var(--text-font-family);
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.04em;
    text-align: right;
    text-transform: uppercase;
    color: var(--text-pink-main);
    margin-top: 36px;
    margin-bottom: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-list__text {
    font-family: var(--alternate-text-font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
  }

  .features-list:last-child {
    margin-right: 173px;
  }
}

/* TRADITION & LOVE-- DESKTOP */

@media screen and (min-width: 769px) {
  .body {
    color: #000;
  }

  .container {
    margin: 0 auto;
    background: #fff5f6;
  }

  ul {
    list-style: none;
    padding-inline-start: 0px;
  }

  .section-title {
    font-family: var(--text-font-family);
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffa5ba;
    padding-top: 60px;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .article {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .article-flex {
    background: url('../images/milk.png');
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
  }

  .article-flex__image {
    margin: 0 99px 20px 16px;
    height: 501px;
    width: 501px;
  }

  .article__title {
    font-family: var(--text-font-family);
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-pink-main);
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  .paragraph-flex {
    display: flex;
    flex-direction: column;
    margin-right: 184px;
    margin-top: 121px;
  }

  .paragraph-flex__paragraph1 {
    font-family: var(--alternate-text-font-family);
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    margin: 0;
    padding-bottom: 32px;
  }

  .paragraph-flex__paragraph2 {
    font-family: var(--alternate-text-font-family);
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: #907e82;
    margin: 0;
    padding-bottom: 40px;
  }

  .read-more-button {
    font-family: var(--alternate-text-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-pink-main);
    width: 176px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #ffffff;
    border-radius: 22px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 121px;
  }

  .read-more-button__btn-svg {
    width: 4.43px;
    height: 8px;
    padding-left: 13.62px;
  }

  .read-more-button:hover {
    background-color: #ecebeb;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    gap: 115px;
    margin-left: 16px;
  }

  .features-list:first-child {
    margin-left: 16px;
  }

  .features-list__svg {
    width: 50px;
    height: 50px;
  }

  .features-list__heading {
    font-family: var(--text-font-family);
    font-size: 58px;
    line-height: 66px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-pink-main);
    margin-top: 40px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-list__text {
    font-family: var(--alternate-text-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    margin-bottom: 93px;
  }

  .features-list:last-child {
    margin-right: 96px;
  }
}
