
.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../images/chocolate-covered-background-m.png);
    // background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 20px;

    .product-advertisement {
        height: 621px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        gap: 32px;
        color: #fff;

        span {
            font-family: var(--font-family--);
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.03em;
            font-style:normal;
            width: 75%;
        }

        .scroll-down:hover svg {
                fill: #FD9222;
                cursor: pointer;
                
        }

        .scroll-down:hover a {
            color:#FD9222;
        }


        .scroll-down {
            display: flex;
            align-items: center;
            gap: 12px;
            width: fit-content;

            a {
                color: #FFF;
                font-family: var(--font-family--);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 14px; 
                letter-spacing: -0.36px;
                text-decoration: none;
                

            }


            svg {
                width: 38px;
                height: 38px;
                fill: #fff;
            }
        

        }


        .main-div-buttons {
            display: flex;
            gap: 32px;
            flex-direction: column;

            

            .principal-buttons {
                display: flex;
                gap: 14px;

                :hover {
                    background-color: #FD9222;
                    border-color: #FD9222;
                    cursor: pointer;
                } 
        
                >:first-child {
                    width: 120px;
                }

                >:last-child {
                    width: 159px;
                }

                button {
    
                    height: 41px;
                    background-color: transparent;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 100px ;
                    color: #FFF;
                    font-family: var(--font-family--);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                

                .buy-now-button {
                    height: 41px;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 100px ;
                    color: #FFF;
                    font-family: var(--font-family--);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    width: 120px;
                }
            }
        }
    
    }

}


// Tablet


@media screen and (min-width : 768px) {

.main-section {
    background-image: url(../images/chocolate-covered-background-t.png);
    background-size: cover;

    .product-advertisement {
        padding: 40px ;
        span {
            font-size: 28px;
            line-height: 34px;
            width: 484px;
        }

        .main-div-buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-direction: row;

            .scroll-down {

                a{
                    font-size: 14px;
                }

                svg {
                    width:38px ;
                    height: 38px;
                }
                
            }
        }
    }

}

}


// Desktop 

@media screen and (min-width:1158px){
    
    .main-section {
        width: 100%;
        background-image: url(../images/chocolate-covered-background-d.png);
        height: 600px;

    }


}