.section-command {
  background-color: #f7f7f7;
}
.comand-container {
  margin: 0px auto 0px;

  @media screen and (max-width: 479px) {
    padding: 42px 15px;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    max-width: $mobile-breakpoint;
    padding: 84px 31px;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    max-width: $tablet-breakpoint;
    padding: 100px 159px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    max-width: $desktop-breakpoint;

    padding: 130px 55px;
  }
}

.comand-list {
  margin-top: 44px;
  @media screen and (min-width: $desktop-breakpoint) {
    display: flex;
    flex-wrap: wrap;
  }
}

.comand-item {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $desktop-breakpoint) {
    &:not(:first-child) {
      margin-top: 64px;
    }
  }

  @media screen and (min-width: $mobile-breakpoint) {
    width: 418px;
    height: 502px;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    width: 450px;
  }
  @media screen and (min-width: $desktop-breakpoint) {
    width: 370px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// .mate-img {
//   display: block;
// }

.section-subtitle.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-transform: none;
  color: #212121;
}

.master-position {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-top: 10px;
  margin-bottom: 0;
}

// div со списком соц-сетей
.social-list {
  display: flex;
  justify-content: center;
}

//  список соц-сети
.mate {
  display: inline-flex;
  margin-top: 16px;

  & .mate-item:not(:first-child) {
    margin-left: 10px;
  }
}

.mate .social-links:hover,
.mate .social-links:focus {
  color: #ff6c00;
}

.social-icon {
  fill: currentColor;
}

.mate-item {
  border-radius: 50%;
  background-color: #fff;
  min-width: 44px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  color: #303030;
}
