@mixin pseudo-line($color) {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: $color;
}
@mixin big-title($font-size, $line-height, $color) {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: 0.05em;
  color: $color;
}
@mixin small-title($color) {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color;
}
@mixin button($color, $color-active: inherit) {
  display: inline-block;
  background-color: transparent;
  color: $color;
  border: 1px solid $color-accent;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-active;
  }
}

@mixin p-text($font-size, $line-height) {
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-text-main;
}
