.modal-menu {
  width: 100%;
  min-width: 190px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 20;
  background: $bg-modal-color;
  overflow-x: scroll;
}

.modal-btn {
  padding: 20px;
  display: block;
}

.modal-buy {
  display: block;
  width: 100%;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-close {
  padding: 0;
  margin-bottom: 20px;
  margin-left: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-modal-color;
}

.modal-icon-close {
  width: 14px;
  height: 14px;
  fill: $text-white-color;
}

.modal-nav {
  display: block;
}

.modal-list {
  .nav-item {
    padding: 11px 20px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//     opacity: 1;
//   visibility: visible;
//   }