// MODAL
* {
  box-sizing: border-box;
}
* {
  list-style: none;
  text-decoration: none;
  text-align: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
}

/*контейнер*/
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 75px;
    padding-right: 75px;
    width: 768px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 71px;
    padding-right: 71px;
    width: 1024px;
  }
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 280px;
  min-height: 958px;
  padding-left: 20px;
  padding-right: 20px;

  max-height: 90vh;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: white;

  @media screen and (min-width: 768px) {
    min-width: 528px;
    min-height: 562px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 882px;
    min-height: 568px;
  }
}

.modal__image {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 240px;
  height: 357px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 364px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 478px;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}

.modal__wrapper {
  display: flex;
}

.modal__properties {
  margin: 0;
  padding: 0;
  margin-right: 39px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  color: #8c8c8c;
}
.modal__values {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.modal__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.modal__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
}

/*кнопка закрытия модального окна*/
.button-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;

  padding: 0;
  width: 20px;
  height: 20px;

  border: none;
  border-radius: 50%;
  line-height: 0;

  //transition: color 250ms $timing-fn;

  @media screen and (min-width: 320px) {
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }

  &:hover {
    color: orange;
  }

  /*тень кнопки закрытия при фокусе*/
  &:focus {
    color: orange;
    outline: none;
    box-shadow: 0 0 0 1px orange;
  }

  &--color {
    fill: currentColor;
  }

  &--size {
    width: 20px;
    height: 20px;

    @media screen and (min-width: 320px) {
      width: 30px;
      height: 30px;
    }
  }
}

.modal__button-list {
  display: flex;
  justify-content: space-between;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.modal__button {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer {
  margin-left: auto;
  margin-right: auto;

  min-height: 100px;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;

  background-color: #f7f7f7;
  color: #545454;

  @media screen and (min-width: 768px) {
    min-height: 77px;
    font-size: 16px;
    line-height: 1.188;
  }
}
.modal__button {
  width: 112px;
  height: 44px;
  background-color: #ff6b01;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  //transition: background-color 250ms $timing-fn, color 250ms $timing-fn, box-shadow 250ms $timing-fn;
  &--consult {
    color: #ff6b01;
    background-color: transparent;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover {
    background-color: white;
    color: #ff6b01;
    border: 2px solid #ff6b01;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    &--consult {
      box-shadow: 2px 2px 2px white;
    }
  }
  &:focus {
    // box-shadow: 2px 2px 2px $brand-color;
    outline: none;
    border: 2px solid #ff6b01;
    background-color: white;
    color: #ff6b01;
  }
}
