.watches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  
    padding: 80px 20px;
  }
  
  .watches-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: auto;
  }
  
  .watches-subtitle {
    color: var(--light-gray-color);
    font-size: 12px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: 0.06em;
  }
  
  .watches-header {
    max-width: 335px;
    flex-shrink: 0;
  
    color: var(--black-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.02em;
  }
  
  .watches-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex: 0 1 auto;
    flex-shrink: 0;
  }
  
  .watches-img {
    width: 100%;
  }
  
  .watches-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  
  /* Media Querries */
  @media screen and (width >=768px) {
    .watches-container {
      padding: 128px 32px;
    }
  
    .watches-header {
      max-width: 448px;
  
      color: var(--dark-green-color);
      font-size: 40px;
      line-height: 110%;
    }
  
    .watches-images {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .watches-image-container {
      flex-basis: calc((100% - 20px) / 2);
      flex-grow: 1;
    }
  }
  
  @media screen and (width >=1158px) {
    .watches-container {
      padding: 80px 132px;
      gap: 80px;
      
    }
  
    .watches-images {
      gap: 24px;
    }
  }
  