

.seccion__nosotros{
    border: solid 3px blue;
    width: 1200px;
    background: #FFF5F6;
    padding: 5px;
}

.seccion__subencabezado{
    border: solid 1px red;
    width: 1200px;
    text-align: center;
}

.seccion__subencabezado--texto{
   
    font-family: 'Titan Oane';
    height: 34px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    color: #FFA5BA;
}

.seccion__subencabezado--titulo{
    
    height: 66px;
    font-family: 'Titan One';
    color: #D41443;
    font-size: 56px;
    letter-spacing: 0.06em;
}

.seccion__nosotros--menu{
    
    width: 1200px;
    height: 521px;
    background-image: url('/src/images/sectionbg1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion__nosotros--bioeco{
    
    width: 501px;
    height: 501px;
}

.seccion__nosotros--info{
    margin-left: 90px;
    width: 470px;
    text-align: justify;
}

.seccion__nosotros--texto1{
   
    width: 100%;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #000000;
    font-weight: bold;
}

.seccion__nosotros--texto2,
.seccion__nosotros--texto3{
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: #907E82;
}

.seccion__nosotros--enviar{
    width: 176px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 22px;
}