.our-progect__list {
  display: flex;
  margin-bottom: 50px;
}
.our-progect__item:not(:first-child) {
  margin-left: 30px;
}
.our-progect {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #f6f6f8;
}
.our-progect__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.our-progect__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #999999;
  margin-bottom: 70px;
}
