// .section-command {
//     margin-bottom: 60px;
//     padding-top: 60px;
//     padding-bottom: 60px;

//     @media screen and (min-width: 1200px) {
//         margin-bottom: 94px;
//         padding-top: 94px;
//         padding-bottom: 94px;
//     }

//     background-color: #F5F4FA;
// }

.container-masters {
  background-color: #f7f7f7;
}

.section-title-master {
  padding-left: auto;
  @media screen and (max-width: 768px) {
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    padding-left: 120px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0;
  }
}

.master {
  padding: 0;
  list-style: none;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-foto {
    // max-height: 320px;
    // width: 100%;
    margin-bottom: 30px;
  }

  &-name {
    margin-bottom: 10px;

    color: $primory-black;
    font-family: $font-text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.02em;
  }
  &-prof {
    margin-bottom: 30px;

    color: #ff6c00;
    font-family: $font-text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.02em;
  }

  //   @media screen and (min-width: 768px) {
  //     display: flex;
  //     flex-wrap: wrap;

  //     margin: -15px;
  //     // justify-content: center;
  //     //  padding: 1px;

  //     //  .item:not(:first-child) {
  //     //     margin-left: 30px;
  //     //     }
  //     .item {
  //       //  width: 354px;
  //       //  width: calc(100% / 2);
  //       //  margin-right: auto;
  //       //  margin-left: auto;
  //       margin-top: 0px;
  //       max-height: 422px;
  //       @media screen and (max-width: 1199px) {
  //         width: calc((100% - 2 * 30px) / 2);
  //         margin: 15px;
  //       }
  //     }
  //     &-foto {
  //       max-height: 260px;
  //       width: 100%;
  //       margin-bottom: 30px;
  //     }
  //   }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;

    &-item {
      margin-bottom: 0px;
      &:not(:first-child) {
        margin-left: 30px;
      }
    }
    &-name {
      margin-bottom: 10px;
      margin-top: 0;
    }
    &-prof {
      margin-bottom: 30px;
      margin-top: 0;
    }
  }
}

.social-master {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0px;
  margin-left: 122px;
  padding-bottom: 15px;
  margin-right: 122px;

  list-style: none;

  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: center;

    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 24px;
    margin-right: 32px;
    padding-bottom: 0px;
  }
  &-item:not(:first-child) {
    margin-left: 10px;
  }
  &-icon {
    padding: 0;
    margin: 0;

    height: 20px;
    width: 20px;
  }
  &-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    height: 44px;
    width: 44px;

    border-radius: 50px;
    background-color: $primory-white;

    .icon-social {
      fill: #303030;
    }
    //   &:hover,
    //   &:focus {
    //     background-color: #2196f3;
    //     outline: transparent;
    //   }
    &:hover,
    &:focus .icon-social {
      --color3: #ff6c00;
      outline: transparent;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}
