.why-us {
  padding: 78px 0 90px;

  @media screen and (min-width: 1280px) {
    display: flex;
  }

  &-main {
    position: relative;

    max-width: 480px;

    @media screen and (min-width: 481px) {
      float: left;
    }

    @media screen and (min-width: 1280px) {
      order: 2;
    }
  }
}

.why-us-slogan {
  margin: 0 0 20px 80px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.why-us-question {
  margin-bottom: 20px;

  font-family: $font-family;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.why-us-slogan::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 60px;
  border: 1px solid $title-text-color;
}

.why-us-answer {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $title-text-color;
}

.why-us-statistics {
  max-width: 480px;

  @media screen and (min-width: 481px) and (max-width: 1279px) {
    float: right;
  }
  @media screen and (min-width: 1280px) {
    order: 1;
  }
}
.statistics {
  &-number {
    position: relative;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
  }

  &-plus {
    position: absolute;
    top: 2px;
    width: 13px;
    height: 22px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    color: $accent-text-color;
  }

  &-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: calc((100% - 30px) / 2);
      padding: 20px 32px;

      text-align: center;

      background-color: $background-color;
    }
  }
}

.statistics-list-item:nth-child(even) {
  margin: 30px 0 0 30px;
}
.statistics-list-item:nth-child(odd):not(:last-child) {
  margin-bottom: 30px;
}
