.master-section {
  background-color: $our-masters-section-bgr;
  // padding-top: 84px;
  // padding-bottom: 84px;

  // @media screen and (min-width: 768px) {
  //   padding-top: 100px;
  //   padding-bottom: 100px;
  // }

  // @media screen and (min-width: 1280px) {
  //   padding-top: 130px;
  //   padding-bottom: 130px;
  // }
}

.master-list {
  display: block;

  list-style: none;
  // padding: 0px;
  // margin: 0px;

  @media screen and(min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
  }
}

/*оформление карточки участника команды*/
.master-list-item {
  // background-color: $alternative-text-color;

  @media screen and (max-width: 1279px) {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 90px) / 3);
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.master-photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/*Имя цчастника команды*/
.master-name-text {
  margin-bottom: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $title-color;
}

/*
класс для свойств параграфов на странице индекс в секции команды
*/

.master-skill-text {
  margin-top: 0px;
  margin-bottom: 30px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $hover-color;
}

.master-socnetwork-list {
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.master-socials-item {
  width: auto;
  height: auto;
}

/*Утилитарные классы стилей для иконок соцсетей*/

.master-socials-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: $white-color;
  color: $title-color;

  &:hover,
  &:focus {
    & .socials-icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: $hover-color;
    }
  }
}

.socials-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
