.conteiner {
  max-width: 320px;
}
.header-conteiner {
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  position: relative;
  z-index: 100;
  height: 40px;
  background-color: transparent;
  border: none;

  &.is-open {
    .icon-close {
      display: block;
    }

    .icon-burger {
      display: none;
    }
  }
}
.icon-close {
  display: none;
}
.menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 502px;
  background-color: #e17992;
  padding-top: 118px;
  padding-bottom: 227px;
  padding-left: 40px;
  padding-right: 105px;
  transform: translateY(-100%);
  transition: transform 500ms linear;

  &.is-open {
    transform: translateY(0);
  }
}
.action-button {
  // display: flex;
  align-items: center;
  width: 209px;
  height: 44px;
  background: #ffffff;
  border: none;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #d41443;
}
