.page-header {
@media screen and (min-width: 768px){
position: relative;
margin-left: 159px;
}
}



.logo {
fill:$text-color;

&-icon {
@media screen and (max-width: 767px){
padding-top: 40px;
padding-left: 31px;}
}
&-icon {
@media screen and (min-width: 768px){
position: absolute;
top: 32px;
left: -109px;
}
}
}


.menu-button{
@media screen and (max-width: 767px) {
display: inline-flex;
margin: 0;
padding: 0;
border: none;
background-color: transparent;
}

@media screen and (min-width: 768px) {
display: none
}
}

.menu-button .icon-menu {
display: none;

}

.menu-button.is-open .icon-menu {
display: block;
}


.menu-button.is-open .icon-cross {
display: none;
}


.page-header {
background-image: url(../images/Slider3.jpg);
position: relative;
padding-top: 52px;
}


.menu-container {

@media screen and (max-width: 767px) {
display: none;
position: absolute;
top:0;
right: 0;
z-index: 3;
width: 337px;
height: 796px;
background-color: $white-color;
}

&.is-open {
display: block;
}

}

.nav-list {
margin: 0;
padding: 0;
@media screen and (max-width: 767px){
padding-top: 118px;
padding-left: 40px;
}
@media screen and (min-width: 768px){
display: flex;
}
}

.nav-link {
font-weight: 600;
font-size: 12px;
line-height: 1.3;

letter-spacing: 0.1em;
@media screen and (max-width: 767px){
font-size: 18px;
line-height: 1.4;

text-align: center;
color: $title-text-color;
}
@media screen and (min-width: 768px){
color: $white-color;
}

}

.nav-item {
@media screen and (max-width: 767px){
margin-top: 0;
margin-bottom: 24px;
}


&:last-child {
@media screen and (max-width: 767px){
margin-bottom: 64px;
}
@media screen and (min-width: 768px){
margin-right: 47px;
}
}

@media screen and (min-width: 768px){
margin-right: 24px;
}

&:nth-child(1) {
padding-left: 24px;
}
}


.contact-list {
margin: 0;
padding: 0;

@media screen and (max-width: 767px){
padding-left: 40px;
}
@media screen and (min-width: 768px){
display: flex;
flex-direction: column-reverse;
}
}

.contact-item {
@media screen and (max-width: 767px){
margin-bottom: 24px;
}
}


.online-item {
font-weight: 600;
font-size: 12px;
line-height: 1.3;
letter-spacing: 0.09em;
text-transform: uppercase;

@media screen and (max-width: 767px){
padding: 12px 37px;
}
@media screen and (min-width: 768px){
color: $white-color;
padding: 12px 20px;
margin-bottom: 20px;
}
border: 1px solid $accent-text-color;
box-sizing: border-box;
border-radius: 25px;
}




.online-link {
// @media screen and (max-width: 767px){
// margin-bottom: 64px;
// }

@media screen and (min-width: 768px){
color: $white-color;
}
}


.contact-tel {
font-weight: 600;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;


@media screen and (max-width: 767px){
font-size: 18px;
line-height: 1.4;
color: $title-text-color;
}
@media screen and (min-width: 768px){
color: $white-color;
font-size: 16px;
line-height: 1.3;
}
}

.nav-header {
@media screen and (min-width: 768px){
display: flex;
}
}

.social-list {
position: absolute;
margin: 0;
padding: 0;

}

.social-link{
font-weight: 600;
line-height: 1.4;
letter-spacing: 0.2em;
color: $title-text-color;
}

.social-item {
@media screen and (max-width: 767px){
margin-bottom: 24px;
padding-left: 40px;
}
&:last-child {
@media screen and (max-width: 767px){
padding-left: 140px;
margin-bottom: 0;
}
}
}

.social-link.instagram {
display: flex;
align-items: center;


&::before {
display: block;

content: ' ';
width: 60px;
height: 1px;
background-color: rgba(157, 164, 189, 0.6);
margin-right: 40px;
}
@media screen and (max-width: 767px){
color: $title-text-color;
}
@media screen and (min-width: 768px){
color: $white-color;
}
}

.description {
display: flex;
align-items: center;
font-weight: 600;
font-size: 11px;
line-height: 1;
letter-spacing: 0.1em;
text-transform: uppercase;

color: rgba(157, 164, 189, 0.6);

margin-top: 0;
margin-bottom: 20px;

@media screen and (max-width: 767px){
padding-top: 208px;
}

@media screen and (min-width: 768px){
padding-top: 272px;
padding-left: 120px;
}

&::before {
display: block;

content: ' ';
width: 60px;
height: 1px;
background-color: rgba(157, 164, 189, 0.6);
margin-right: 20px;

}

}

.header-title {
font-weight: bold;
font-size: 48px;
line-height: 1.1;
letter-spacing: 0.05em;

color: #FFFFFF;

margin-top: 0;
margin-bottom: 20px;


@media screen and (max-width: 767px ){

padding-left: 31px;
}

@media screen and (min-width: 768px){
padding-left: 120px;
}
}

.description {
display: flex;
align-items: center;
font-weight: 600;
font-size: 11px;
line-height: 1;
letter-spacing: 0.1em;
text-transform: uppercase;

color: rgba(157, 164, 189, 0.6);

margin-top: 0;
margin-bottom: 20px;

@media screen and (max-width: 767px){
padding-top: 208px;
padding-left: 31px;
}

@media screen and (min-width: 768px){
padding-top: 272px;
padding-left: 120px;
}

&::before {
display: block;

content: ' ';
width: 60px;
height: 1px;
background-color: rgba(157, 164, 189, 0.6);
margin-right: 20px;
}
}

.header-title {
color: #FFFFFF;
font-weight: bold;
font-size: 48px;
line-height: 1.1;
letter-spacing: 0.05em;

margin-top: 0;
margin-bottom: 20px;


@media screen and (max-width: 768px){
padding-left: 31px;
}

@media screen and (min-width: 768px){
padding-left: 120px;

@media screen and (min-width: 1280px){
font-size: 72px;
line-height: 1.2;
padding-left: 100px;
}
}
}

.header-text {
display: inline-block;
color: #9DA4BD;

font-size: 16px;
line-height: 1.6;
letter-spacing: 0.02em;
margin: 0;


@media screen and (min-width: 480px){
width: 306px;
padding-left: 31px;
padding-bottom: 183px;
}

@media screen and (min-width: 768px){
padding-left: 120px;
}

@media screen and (min-width: 1280px){
width: 480px;
font-size: 18px;
padding-left: 100px;
}
}


.slaider {
margin: 0;
@media screen and (max-width: 767px ){
display: none;
}
}