//пример для фона загрузки разных размеров и плотностей
// body {
//   @media screen and(max-width: $tablet - 1) {
//     background-image: url('../images/gallery/mobile/gallary-bg.jpg');
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: url('../images/gallery/mobile/gallary-bg@2x.jpg');
//     }
//   }

//   @media screen and(min-width: $tablet) {
//     background-image: url('../images/gallery/tablet/gallary-bg.jpg');
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: url('../images/gallery/tablet/gallary-bg@2x.jpg');
//     }
//   }
//   @media screen and(min-width: $desktop) {
//     background-image: url('../images/gallery/desktop/gallary-bg.jpg');
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       background-image: url('../images/gallery/desktop/gallary-bg@2x.jpg');
//     }
//   }
// }

// mobile - высота блока футер 298 px
.page-footer{
    
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 298px;
    background-color: $secondary-bg-color;
}
.section-title{
    
    margin: 0;
    padding: 0;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    @include for-size(mobile){
        width: 234px;
    }
    @include for-size(tablet){
        width: 340px;
    }
    @include for-size(desktop){
        width: auto;
    }


}
.ul-title{
    margin: 0;
    padding: 0;
}
.homemade-text{
    @extend %list;
    @include for-size(mobile){
    font-size: 18px;
    }
    @include for-size(tablet){
    font-size: 26px;
    }
    @include for-size(desktop){
        font-size: 30px;
    }
    line-height: 1.66667;
    text-transform: uppercase;
    color: $secondary-title-color;
    padding-bottom: 17px;

}
.passion-text {
    @extend %list;
    @include for-size(mobile){
    font-size: 34px;
    }
    @include for-size(tablet){
    font-size: 48px;
    }
    @include for-size(desktop){
        font-size: 58px;
    }
    line-height: 1.471;
    text-transform: uppercase;
    color: $primary-title-color;


}
.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-icon{
text-align: right;
}
.color-tel{
    color: $primary-title-color;
    text-decoration: none;

}
.phone{
    padding-top: 50px ;
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;

}
.ul-icon{
    display: inline-flex;
    // outline: 2px solid blue;
    padding: 0;
    margin: 0;
    // flex-direction:row;
}
.item-icon{
    @extend %list;
    
    &:not(:last-child){
        margin-right: 28px;
    }
}

.contacts-icon-svg{
    width: 19px;
    height: 19px;
    fill: $white;
}

.contacts-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: $color-icon; 
    border-radius: 50%;

    &:hover .contacts-icon-svg,
    &:focus .contacts-icon-svg{
        fill: $primary-title-color;  
    }
}

.reserved{
    font-family: $primary-font;
    color: $alternate-text-color;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    background-color: $secondary-bg-color;

    border-top: 2px solid $primary-decor-color;
    text-align: center;
    line-height: 45px;
}

// border-inline: solid rgb(240, 136, 136);