// problem-section

.problem-section {
  width: 280px;
  background-color: $white-color;
  box-shadow: $box-shadow;
  list-style: none;
  padding: 15px 20px 30px 28px;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
}
.problem-sectiono-title {
  text-align: left;
  font-family: 'MontserratB', sans-serif;
  color: $white-color;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 1.3px;
}
.problem-item {
  position: relative;
  margin-bottom: 10px;
}
.problem-item-number {
  margin-left: 17px;
  color: $accent-color;

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background-color: $accent-color;
    width: 15px;
    height: 2px;
    display: block;
  }
}
ul.problem-list {
  list-style: none;
  padding: 0;
  display: block;
  width: 100%;
}

.bg-dark {
  background: $main-color;
  width: 100%;
  height: 545px;
}

// decision-section
.decision-section {
  margin-top: 350px;
}

.decision-title {
  text-align: center;
}

svg {
  width: 46px;
  height: 48px;
  margin-top: 28px;
}

.decision-item {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 0px;
  width: 280px;
  height: 280px;
  background: $white-color;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  /* border: white; */
  text-align: center;

  &:hover {
    background-color: $accent-color;
    color: $white-color;
  }
}
.decision-subtitle::after {
  margin: 20px auto 0;
  display: block;
  content: '';
  background-color: $accent-color;
  width: 25px;
  height: 2px;
}

.drcision-paragraf {
  color: $grey-color;
}

// .decision-list {
//   padding: 0;
//   margin-right: auto;
//   margin-left: auto;
// }
