.page-hero {
  padding-top: 120px;
  padding-bottom: 160px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: $bg-hero;
}
.page-hero .container {
  display: flex;
}

.hero-title {
  font-family: $title-font-family;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 220px;
  margin-bottom: 20px;
  color: $color-main;
}
.hero-title-accent {
  color: $color-secondary;
  font-size: 44px;
}
.hero-left-side {
  position: relative;
  z-index: 56;
}
.circle {
  position: absolute;
  width: 350px;
  height: 350px;
  bottom: -90px;
  left: -195px;

  border-radius: 50%;
  background: #ffa5ba;
}
.hero-right-side {
  position: relative;
}
.hero-img {
  position: absolute;
  z-index: 55;
  left: -120px;
  bottom: -160px;
}
.hero-description{
  display: none;

  &-img{
    display: block;
  }
}
@media screen and (min-width:768px){
  .item-places {
    text-align: right;
    white-space: pre-wrap;
  }

  .hero-places-number{
    font-family: "Titan One", cursive;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.154;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 220px;
    margin-bottom: 20px;
    color: $color-secondary;
  }

  .hero-tasty-img{
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 168px;
  }

  .hero-rs-second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .page-hero .container{
    justify-content: space-between;
  }

.page-hero{
  padding-bottom: 28px;
  padding-top: 15px;
  overflow: visible;
}

.hero-title {
  font-size: 22px;
  width: 162px;
}

.hero-title-accent{
  font-size: 34px;
}

.circle{
  left: -120px;
  bottom: 20px;
  width: 324px;
  height: 322px;
}
  .hero-img{
    left: -55px;
    bottom: -28px;
  }

  .hero-button{
    margin-bottom: 20px;
  }

  .hero-description{
    display: flex;
    align-items: flex-end;
  }
}

.hero-description_right-side{
  & .button-products{
    width: 18px;
    height: 18px;
    justify-self: flex-start;
    align-self: start;
  }
  & .right-arrow{
    font-size: 8px;
  }
  display: flex;
  flex-direction: column;
}

.milk-description{
  margin-bottom: 10px;
  display: block;
  width: 114px;
  height: 48px;
  font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 150%;
color: $color-main;
line-height: 12px;
}