.footer-form__title  {
  max-width: 280px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: $primary-background-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.45;
  letter-spacing: 0.08ex;

  @media screen and (min-width:768px) {
    max-width: 452px;
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.51;
  }

  @media screen and (min-width:1314px) {
    width: 1090px;
    margin-bottom: 56px;

    font-size: 30px;
    line-height: 1.54;
    

    font-size: 30px;
  }
}