// .container {
//   padding-left: 20px;
//   padding-right: 20px;
//   margin-left: auto;
//   margin-right: auto;

//   @media screen and (min-width: 320px) {
//     width: 320px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//     padding-left: 34px;
//     padding-right: 34px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//     padding-left: 75px;
//     padding-right: 75px;
//   }
// }

.products-section {
  padding-top: 121px;
  padding-bottom: 98px;
  background-color: #fff;
}

// Заголовки

.products-name {
  margin-bottom: 15px;
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;

  &-decoration {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
}
.product-list-item {
  position: relative;
  text-align: center;

  border-radius: 24px;
  z-index: 1;

  &.ice-cream {
    background-color: #ffb8ca;
  }

  &.ice-coffee {
    background-color: #f0d1a5;
  }

  &.milkshakes {
    background-color: #c2e297;
  }
}

.products-section-list-item-point {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;

  &:not(:last-child) {
    margin-right: 4px;
  }
}

.products-list-item-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.product-list-item-title {
  margin-bottom: 30px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.product-list-item-text {
  margin-bottom: 30px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products-name {
    font-size: 18px;
    line-height: 1.17;

    &-decoration {
      margin-bottom: 144px;
      font-size: 34px;
      line-height: 1.15;
    }
  }

  .products-list-item {
    padding-top: 161px;
    padding-bottom: 41px;
    padding-left: 11px;
    padding-right: 11px;

    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  .products-list-item-img {
    bottom: 68%;

    margin-bottom: 22px;
  }

  .products-list-item-text {
    margin-bottom: 30px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .products-section {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

//   @media screen and (min-width: 1200px) {
//     margin-bottom: 259px;

//     font-size: 30px;
//     line-height: 1.133;
//   }
// }

// .products-name-decoration {
//   display: block;
//   padding-top: 15px;

//   font-family: Titan One;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 34px;
//   line-height: 1.15;
//   text-align: center;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;
//   color: #d41443;

//
//     font-size: 48px;
//     line-height: 1.15;
//   }
//   @media screen and (min-width: 1200px) {
//     font-size: 58px;
//     line-height: 1.14;
//   }
// }

// .product-list {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     margin: -10px;
//   }

//   @media screen and (min-width: 1200px) {
//     margin: -15px;
//   }
// }

// .product-list-item {
//   position: relative;

//   padding-top: 161px;
//   padding-bottom: 41px;
//   padding-right: 41px;
//   padding-left: 39px;
//   border-radius: 24px;

//   &.ice-cream {
//     background-color: #ffb8ca;
//   }

//   &.ice-coffee {
//     background-color: #f0d1a5;
//   }

//   &.milkshakes {
//     background-color: #c2e297;
//   }
//   @media screen and (min-width: 768px) {
//     margin: 10px;
//     flex-basis: calc((100% - 60px) / 3);
//     padding-top: 152px;
//     padding-bottom: 40px;
//     padding-right: 11px;
//     padding-left: 11px;
//   }

//   @media screen and (min-width: 1200px) {
//     margin: 15px;
//     flex-basis: calc((100% - 72px) / 3);
//     padding-top: 163px;
//     padding-bottom: 50px;
//     padding-right: 44px;
//     padding-left: 44px;

//     &:not(:last-child) {
//       @media screen and (max-width: 767px) {
//         margin-bottom: 130px;
//       }
//     }
//   }
// }

//   @media screen and (min-width: 1200px) {
//     margin-bottom: 30px;
//     font-size: 30px;
//     line-height: 1.13;
//   }
// }

//   @media screen and (min-width: 768px) {
//     margin-bottom: 40px;
//     max-height: 124px;

//     line-height: 1.79;

//     overflow: hidden;
//   }

//   @media screen and (min-width: 1200px) {
//     margin-bottom: 62px;
//     max-height: 106px;

//     line-height: 1.75;

//     font-size: 16px;
//   }
// }

// .products-list-item-link {
//   display: block;
//   margin: 0 auto;
//   width: 40px;
//   height: 40px;

//   background-image: url();
//   background-size: 40px 40px;
// }
