.section {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1199px) {

    }

    @media screen and (min-width: 1200px) {

    }
}

.container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        max-width: 480px;
        // height: 580px;
        position: relative;
        padding: 40px 31px;
        outline: 1px solid red;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        display: flex;
        padding-left: 39px;
        padding-right: 39px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1280px;
        padding: 0 55px;
    }
}

.header-sidebar {
    @media screen and (max-width: 767px) {
        width: 69px;
        position: absolute;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        width: 90px;
        padding-bottom: 40px;
        align-items: space-between;

        height: 680px;
        margin-right: 30px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 20px;
        width: 80px;
    }
}

.logo {
    @media screen and (min-width: 768px) {
        padding: 32px 10px 0 11px;
    }
}

.icon-logo {
    @media screen and (max-width: 767px) {
        // fill: $headerTextColor;
    }
}

.social-networks--mobile {
    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.social-networks--block {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: block;
        transform: rotate(180deg) translateY(-580px);
        transform-origin: top left;
        writing-mode: vertical-rl;
    }

}

.social-networks--list {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.social-networks--item {
    @media screen and (max-width: 767px) {
        &:not(:last-child){
            margin-bottom: 24px;
        }
    }

    @media screen and (min-width: 768px) {
        padding-left: 38px;
        padding-right: 37px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width: 1280px) {
        padding-right: 27px;
    }
}

.social-networks--link {
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.2em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    color: $titleTextColor;

        &:hover, &:focus {
            color: $hoverColor;
        }

    @media screen and (max-width: 767px) {
        margin-left: 100px;
        font-size: 14px;
        line-height: 1.36;
    }

    @media screen and (min-width: 768px) {
        font-size: 11px;
        line-height: 1.36;
    }
}

.social-networks--link {

        &.line {
            &:hover, &:focus {
                &::before {
                    background-color: #ff6c00;
                }
            }

            &::before {
                position: absolute;
                content:"";
                display: inline-block;
                width: 60px;
                height: 1px;
                background-color: $titleTextColor;

                // bottom: 145px;
                // left: -20px;
                // transform: rotate(90deg);
            }

            @media screen and (max-width: 767px) {
                &::before {
                    bottom: 8px;
                    left: -100px;
                    // transform: rotate(90deg);
                }
            }

            @media screen and (min-width: 768px) {
                &::before {
                    bottom: 145px;
                    left: -20px;
                    transform: rotate(90deg);
                }
            }
        }
}


.overlay {
    @media screen and (max-width: 767px) {

    }

    @media screen and (min-width: 768px) {
        position: absolute;
        width: 610px;
        height: 100%;
        // background-image: url(../images/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: gray;
        z-index: -1;
        top: 0;
        left: 0;
    }

    @media screen and (min-width: 1280px) {
        position: absolute;
        width: 1125px;
        height: 100%;
        // background-image: url(../images/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: gray;
        z-index: -1;
        top: 0;
        left: 0;
    }
}


.header-block {
    @media screen and (min-width: 768px) {
        position: relative;
        width: 570px;
        height: 680px;
        // display: flex;
        padding: 40px 0;
    }

    @media screen and (min-width: 1280px) {
        min-width: 1125px;
        padding: 40px 55px 40px 40px;
    }
}

.mobile__menu__button {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 48px;
        right: 31px;
        display: inline-flex;
        padding: 0;

        border: none;
        background-color: transparent;
        z-index: 10;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile__menu__button .icon-close {
    display: none;
}

.mobile__menu__button.is-open .icon-close {
    display: block;
}

.mobile__menu__button.is-open .icon-menu {
    display: none;
}

// .overlay-block {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
// }



.menu-container {
    @media screen and (max-width: 767px) {
        max-width: 70%;
        min-height: 100vh;
        padding: 48px 31px 48px 40px;
        // margin-left: auto;
        text-align: left;
        background-color: #ffffff;

        display: none;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        width: 100%;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        height: 76px;
        padding-left: 24px;

        justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
        padding-left: 0;
    }

}

.contacts-list {
    @media screen and (max-width: 767px) {

    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        align-items: unset;
    }
}

// .site-nav {

// }

.site-nav--list {
    @media screen and (max-width: 767px) {
        margin-top: 118px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        width: 339px;

        padding-top: 12px;
        justify-content: space-between;
    }
}

.site-nav--item {
    @media screen and (max-width: 767px) {
        &:not(:last-child){
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 64px;
        }
    }
}

.site-nav--link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover, &:focus {
        color: $hoverColor;
    }

    @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 1.39;
        letter-spacing: 0.1em;
        color: $titleTextColor;
    }

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;

        color: $headerTextColor;
    }
}

.contacts-item {
    @media screen and (max-width: 767px) {
        &:not(:last-child){
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 64px;
        }
    }

    @media screen and (min-width: 768px) {
        &:last-child {
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 1280px) {
        &:not(:last-child){
            margin-right: 40px;
        }
    }
}

.phone {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $hoverColor;
    }

    @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 1.39;
        letter-spacing: 0.1em;
        color: $titleTextColor;
    }

    @media screen and (min-width: 768px) {
        display: block;
        font-size: 12px;
        line-height: 1.33;
        text-align: center;

        color: $headerTextColor;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 12px;
    }
}

.hero-block {
    @media screen and (min-width: 768px) {
        margin-top: 156px;
        margin-left: 120px;
    }
}

.subtitle {
    margin-bottom: 20px;
    position: relative;
    margin-left: 80px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    cursor: default;


    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);

        &::before {
            content:"";
            display: inline-block;
            width: 60px;
            height: 1px;
            background: rgba(157, 164, 189, 0.6);

            position: absolute;
            bottom: 7px;
            left: -80px;
        }

    @media screen and (max-width: 767px) {
        margin-top: 208px;
    }

    @media screen and (min-width: 768px) {

    }
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 20px;
    @media screen and (max-width: 1199px) {


        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.17;
        letter-spacing: 0.05em;

        color: #FFFFFF;
        cursor: default;
    }

    @media screen and (min-width: 1280px) {
        font-size: 72px;
        line-height: 85px;
    }
}

.hero--text-block {
    @media screen and (max-width: 767px) {
        max-width: 306px;
    }

    @media screen and (min-width: 768px) {
        max-width: 355px;
    }
}

.hero-text {
    // margin-bottom: 181px;
    padding-bottom: 183px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63‬;
    letter-spacing: 0.02em;

    color: #9DA4BD;

    cursor: default;
}

.nav-buttons--block {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        // text-align: end;
        justify-content: end;
    }
}

.nav-buttons--list {
    @media screen and (min-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.nav-buttons-item {
    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-right: 61px;
        }
    }
}

.nav-button--back {
    position: relative;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;

    color: rgba(157, 164, 189, 0.6);

    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            color: $headerTextColor;

            &::after {
                background-color: $headerTextColor;
            }
        }

    &::after {
        content:"";
        display: inline-block;
        width: 60px;
        height: 1px;
        background-color: rgba(157, 164, 189, 0.6);
        position: absolute;
        bottom: -8px;
        left: 0;
    }
}

.nav-button--forward {
    position: relative;

    position: relative;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;

    color: rgba(157, 164, 189, 0.6);

    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            color: $headerTextColor;

            &::after {
                background-color: $headerTextColor;
            }
        }

    &::after {
        content:"";
        display: inline-block;
        width: 60px;
        height: 1px;

        background-color: rgba(157, 164, 189, 0.6);
        position: absolute;
        bottom: -8px;
        right: 0;
    }
}



