.galery-container {
  width: 100%;
  margin-top: 97px;
  background: linear-gradient(#fff5f6 50%, #ffffff 50%);
}
.galery-picture {
  width: 320px;
  @media screen and (min-width: 768px) {
    width: 740px;
  }
  @media screen and (min-width: 1280px) {
    width: 1200px;
  }
}
.galery-img {
  width: 100%;
}
