.galery-container {
  width: 100%;
  margin-top: 97px;
  background: linear-gradient(#fff5f6 50%, #ffffff 50%);
}
.galery-picture {
  width: 280px;
  height: 122px;
  @media screen and (min-width: 768px) {
    width: 550px;
    height: 264px;
  }
  @media screen and (min-width: 1280px) {
    width: 850px;
    height: 430px;
  }
}
.galery-img {
  width: 100%;
}
