.description {
  text-transform: uppercase;
  margin-bottom: 44px;

  ::before {
    // background-image: url(../images/svg/Rectangle.svg);
  }
}

.portfolio-list {
  @media screen and (max-width: 767px) {
    width: 418px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;
  }
}

li {
  .portfolio-list > & {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }
}
