.price .container {
  outline: 2px solid red;
  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  @media screen and (max-width: 719px) {
    max-width: 719px;
  }
  @media screen and (min-width: 720px) and (max-width: 1199px) {
    max-width: 720px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.price {
  @media screen and (max-width: 719px) {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  @media screen and (min-width: 720px) and (max-width: 1199px) {
    height: 858px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    height: 718px;
    padding-top: 130px;
    padding-bottom: 130px;
  }

  min-width: 390px;
  height: 826px;
  background-color: #111319;
  background-image: url('../images/price/price-mobile-bg.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/price/price-mobile-bg@2x.png');
  }
  @media screen and (min-width: 449px) {
    background-image: url('../images/price/price-tablet-bg.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/price/price-tablet-bg@2x.png');
    }
  }
  @media screen and (min-width: 721px) {
    background-image: url('../images/price/price-desktop-bg.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/price/price-desktop-bg@2x.png');
    }
  }
}

.price .appeal {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;

  padding-left: 80px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.price .appeal::before {
  content: '';
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 0;

  width: 60px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}
.price-title {
  margin-bottom: 44px;
  margin-top: 0;

  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: $headerTextColor;
}
.price-list {
  margin-bottom: 50px;

  @media screen and (max-width: 1199px) {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    padding: 30px 0px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }

  & .item {
    display: flex;
  }
  outline: 2px solid green;
}
.price-list .list {
  flex-grow: 1;
  padding: 0 30px;
  @media screen and (min-width: 720px) {
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (min-width: 1200px) {
      flex-basis: 585px;
      padding: 30px 40px;
    }
  }
}
.price-list .part-1 {
  @media screen and (min-width: 1200px) {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}
.price-list .part-2 {
  @media screen and (min-width: 1200px) {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-list .list .item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list .line {
  position: relative;
  width: 100%;
  margin: 0 6px;
}

.price-list .line::before {
  content: '';
  position: absolute;
  margin: 0 auto;
  bottom: 8px;
  left: 0;

  width: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

.price .text {
  white-space: nowrap;
  margin: 0;

  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: $textColor;

  @media screen and (min-width: 720px) {
    font-size: 18px;
    line-height: 1.7;
  }
}
.price .button-check {
  display: inherit;
  margin-right: auto;
  margin-left: auto;
  color: $headerTextColor;
}
