.programm__section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 437px;
  background-color: $secondary-bg-color;
  
  @media screen and (min-width: 768px) {
    padding-top: 60px;  
    padding-bottom: 110px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 120px;
    padding-bottom: 363px;
  }
}

.programm__underline {
  @media screen and (min-width:1344px) {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 277px;
    background-color:$h-text-color;
  }
}

.programm__container {
  padding: 0;
  margin: 0;
}

.programm__title {
  margin: 0px 0px 43px 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: $h-text-color;

  @media screen and (min-width: 768px) {
    margin: 0px 0px 52px 40px;
    font-size: 26px;
    text-align: left;
  }

  @media screen and (min-width: 1344px) {
    margin-bottom: 160px;
    font-size: 46px;
    text-align: left;
  }
}

.programm__scroll {
  padding-left: 120px;

  @media screen and (min-width: 768px) {
    padding-left: 159px;
  }
}

.programm__scroll::before {
  position: absolute;
  display: inline-block;
  content: '';
  border-style: solid;
  border-width: 1px;
  border-color: $primary-button-color;
  height: 1010px;
  top: 130px;
  left: 94px;

  @media screen and (min-width: 768px) {
    height: 692px;
    top: 153px;
    left: 97px;
    }

  @media screen and (min-width: 1344px) {
    display: none;
  }
}

.programm__heading3 {
  margin-top: 0;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 2;
  max-width: 280px;
  text-transform: uppercase;
  color: $h-text-color;
  
  &::before {
    content: '';
    position: absolute;
    display: block;
    background-color: $acent-color;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    top: 8px;
    left: -31px;

    @media screen and (min-width: 768px) {
      left: -67px;
    }
    
    @media screen and (min-width: 1344px) {
      top: -69px;
      left: 0px;
      width: 16px;
      height: 16px;
      font-size: 20px;
    line-height: 1.43;
    }
  }
}

.programm__ul {

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    padding-top: 11px;
  }

  @media screen and (min-width: 1344px) {
    display: block;
    padding-top: 25px;
  }
}


.programm__li.indent1 {
  @media screen and (min-width: 768px) {
    width: 226px;
  }
}

.programm__li.indent2 {
  @media screen and (min-width: 768px) {
    width: 205px;
  }
}

.programm__heading4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.649;
  color: $span-text-color;

  @media screen and (min-width: 1344px) {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.65;
  }
}

.programm__text-item {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
 }

 .programm__text {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  opacity: 0.5;
  color: $secondary-text-color;

  @media screen and (min-width: 1344px) {
    max-width: 240px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.program-section-image {
  position: absolute;
  opacity: 0.5;
  right: 0;
  bottom: 450px;

  @media screen and (max-width: 270px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    opacity: 0.5;
    left: 387px;
    bottom: 190px;
   }
  @media screen and (min-width: 1344px) {
    transform: translateX(-10%);
    left: 0px;
    bottom: 59px; 
  }
}

.programm__chosen {
  margin: 0px;
  max-width: 180px;
  padding-top: 50px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $h-text-color;
  
  @media screen and (min-width: 768px) {
    max-width: 100%;
    margin-top: 50px;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
  }

  @media screen and (min-width: 1344px) {
    display: none;
  }
}