.program-section {
  background-color: $primary-dark-color;
}

.program-section .container {
  width: 1314px;
}

.program-section-title {
  margin-bottom: 100px;

  font-weight: 800;
  font-size: 46px;
  line-height: 1.3;
  color: $primary-background-color;
}

.program-part-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $primary-background-color;
}

.program-list-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.08em;
}

.program-list-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  color: $primary-description-color;
  opacity: 0.5;
}
