.products {
  background-color: $main-text-color;

  &-container {
    width: auto;
    padding-top: 121px;
    padding-bottom: 98px;
  }

  &-section-title {
    margin-bottom: 144px;

    font-size: 34px;
    line-height: 1.15;
    color: $primary-title-color;

    @media screen and (min-width: $tablet-width) {
      font-size: 48px;
    }

    @media screen and (min-width: $desktop-width) {
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
  }

  .card-title {
    position: relative;
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 1.15;
    color: $main-text-color;

    @media screen and (min-width: $tablet-width) {
    }

    @media screen and (min-width: $desktop-width) {
      font-size: 30px;
      line-height: 1.13;
    }
  }

  .card-title::after {
    content: '';

    position: absolute;
    top: 240%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 6px;
    background-image: url(../images/products/points.png);
  }

  &-motto {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: $secondary-title-color;

    @media screen and (min-width: $tablet-width) {
      font-size: 26px;
      line-height: 1.15;
    }

    @media screen and (min-width: $desktop-width) {
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &-text {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width: $tablet-width) {
      line-height: 1.76;
    }

    @media screen and (min-width: $desktop-width) {
      font-size: 16px;
    }
  }

  &-button {
    margin-bottom: 41px;
    background-color: transparent;
    border-color: transparent;
  }

  &-arrow-right {
    width: 40px;
    height: 40px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 161px 40px 41px 40px;
    border-radius: 24px;
  }

  &-item:not(:last-child) {
    margin-bottom: 130px;
  }

  .ice-cream {
    position: relative;
    background-color: $icecream-card-color;
  }

  .ice-cream::before {
    content: '';

    position: absolute;
    top: 28%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/products/mobile/m-products_ice-cream.png);
  }

  .ice-coffee {
    position: relative;
    background-color: $icecoffee-card-color;
  }

  .ice-coffee::before {
    content: '';

    position: absolute;
    top: 28%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/products/mobile/m-products_ice-coffee.png);
  }

  .milkshakes {
    position: relative;
    background-color: $milkshakes-card-color;
  }

  .milkshakes::before {
    content: '';

    position: absolute;
    top: 28%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/products/mobile/m-products_milkshakes.png);
  }

  &-button {
    cursor: pointer;
  }
}
