.products {
    padding-top: 120px;
    padding-bottom: 98px;
    padding-left: 20px;
    padding-right: 20px;
}




.products-item {
    margin-top: 128px;
}
    
    



.products-item-icecream {
    position: relative;
    background-color:$bg-hero;
    border-radius: 24px;
    

}


.products-item-icecoffee {
    position: relative;
    background-color:$bg-gold;
    border-radius: 24px;
}

.products-item-milkshakes {
    position: relative;
    background-color:$bg-green;
    border-radius: 24px;
}




.products-item-img {
    position: absolute;
    top: -50%;
    left: 0;
    transform:translate(0, 50%);
    max-width: 100%;
    
}

.products-item-name {
    font-family: $title-font-family;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    color:$color-main;
    padding-top: 160px;


}


.products-item-point {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $bg-main;
}

.products-item-point::before {
    position: absolute;
    left: 10px;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $bg-main;
}

.products-item-point::after {
    position: absolute;
    left: -10px;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $bg-main;
}





.products-item-text {
    margin-top: 30px;
    font-family:$main-font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color:$bg-main; 


}


.products-item-but {
    margin-top: 30px;

}


.products-item-but-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}



























