/*
font-family: 'DM Sans', sans-serif;
font-family: 'Titan One', cursive;
*/

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products {
  min-width: 320px;
  width: 100%;

  padding-top: 121px;
  padding-bottom: 98px;

  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;

  background-color: #ffffff;
}

.products-headings {
  text-align: center;
}

.products-label {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
}

.products-tittle {
  margin: 0;
  padding: 0;

  margin-top: 15px;
  margin-bottom: 31px;

  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  color: #d41443;
}

.container {
  min-width: 320px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-list-item:not(:last-child) {
  margin-bottom: 17px;
}

.products-card {
  position: relative;

  width: 280px;
  height: 598px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;

  background-color: transparent;
}

.ice-cream {
  background-color: #ffb8ca;
}

.ice-coffee {
  background-color: #f0d1a5;
}

.milkshakes {
  background-color: #c2e297;
}

.product-card-picture-ice-cream::before {
  content: '';

  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  background-image: url(../images/products/products-pic1.png);
}

.product-card-picture-ice-coffee::before {
  content: '';

  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  background-image: url(../images/products/products-pic2.png);
}

.product-card-picture-milkshakes::before {
  content: '';

  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  display: inline-block;

  width: 249px;
  height: 252px;

  background-image: url(../images/products/products-pic3.png);
}

.products-card-content {
  width: 280px;
  height: 485px;

  padding-bottom: 41px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-radius: 24px;
}

.products-card-tittle {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.products-card-dots::before {
  content: '';

  display: inline-block;

  margin-bottom: 30px;

  width: 26px;
  height: 6px;

  background-image: url(../images/products/dots.svg);
}

.products-card-text {
  margin-left: auto;
  margin-right: auto;

  width: 200px;
}

.products-card-description {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  text-align: center;

  color: #ffffff;
}

.products-button {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-color: transparent;
  border-radius: 50%;

  background-color: #c7133e;
  fill: #ffffff;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #c7133e;
    background-color: #ffffff;
  }
}
