.program__section {

    background: var(--b-dark);
    padding-top: 50px;
    position: relative;
}
.program__section .container {
    padding-bottom: 537px;
    position: relative;
}
.program__title {
    @include font (800, 20px, 1.3, 0.03em);
    color: var(--txt-light);
    text-align: center;
}
.program__items {
    margin-bottom: 50px;
    
}

.program__item-title {
    
    @include font (700, 14px, 2, 0.08em);
    color: var(--txt-light);
}

.program__item {
    padding-left: 120px;
}
.program__item:not(:last-child) {
    margin-bottom: 40px;
}
.program__item-subtitle {
    @include font (700, 12px, 1.169, 0.08em);
    color: var(--txt-orange);
    text-align: center;
}
.program__topics-item {
    @include font (500, 12px, 1.667, 0.08em);
    color: var(--txt-light);
    opacity: 0.5;
}
.program__subtitle {
    @include font (800, 20px, 1.36, 0.03em);
    color: var(--txt-light);
    width: 180px;
    text-align: left;
    margin-bottom: 50px;
}
.program__dignity-number {
    @include font (700, 14px, 1.649, 0.08em);
    color: var(--txt-orange);
}
.program__dignity-text {
    @include font (700, 14px, 1.429, 0.08em);
    color: var(--txt-dark);
}
.program__dignity-items{
    background: #FFFFFF;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    position: absolute;
    width: 280px;
    justify-content: center;
  
}

