.programm__section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 437px;
  background-color: $secondary-bg-color;
}

.programm__container {
  padding: 0;
  margin: 0;
}

.programm__title {
  margin: 0px 0px 43px 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: $h-text-color;
}

.programm__scroll {
  padding-left: 120px;

  &::before {
    position: absolute;
    display: inline-block;
    content: '';
    border-style: solid;
    border-width: 1px;
    border-color: $primary-button-color;
    height: 57%;
    top: 130px;
    left: 94px;
  }
}

.programm__heading3 {
  margin-top: 0;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 2;
  max-width: 280px;
  text-transform: uppercase;
  color: $h-text-color;
  
  &::before {
    content: '';
    position: absolute;
    display: block;
    background-color: $acent-color;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    top: 8px;
    left: -31px;
  }
}

.programm__heading4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.649;
  color: $span-text-color;
}

.programm__text-item {
  margin-bottom: 8px;
 }

 .programm__text {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  opacity: 0.5;
  color: $secondary-text-color;
}

.program-section-image {
 position: absolute;
 right: 0;
 bottom: 440px;

  @media screen and (max-width: 270px) {
    display: none;
  }
 }

.programm__chosen {
  margin: 0px;
  padding-top: 50px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $h-text-color;
}