.section-program {
  $second-bg-color: #111518;
  $primary-text-color: #b9b9b9;
}

.container-program {
  background-color: transparent;
}

.program-list {
  @media screen and (max-widht: 767px) {
    display: block;
    text-align: center;
  }
}

.container-program h2 {
  text-align: center;

  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  $fourth-text-color: #ffffff;
}

.program-list {
  padding-left: 100px;
}

.semester-list h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;

  $fourth-text-color: #ffffff;
}

.semester-title::before {
  content: ' ';
  background-image: url(../images/icon/ellipse.svg);
  fill: #ff6b09;
  //   $accent-color: #ff6b09;
  background-size: contain;
  background-repeat: no-repeat;
}

.program-list-item {
  width: 100%;
  text-align: left;
}

h4 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.08em;

  $accent-colorlor: #ff6b09;
}
