*, 
::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: #303030;
  color: #555555;
  letter-spacing: 0.02em;
  background-color: #fff;
}

.reasons__container {
  padding-right: 31px;
  padding-left: 31px;
  margin-right: auto;
  margin-left: auto;


  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (min-width: 1200px) {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.reasons__section {
  max-width: 1600px;
  padding-top: 84px;
  padding-bottom: 84px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.reasons__section-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.reasons__section-subtitle {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.reasons__section-subtitle::before {
  display: inline-block;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

/* Стили секции*/

.reasons__section-title.reasons__reasons {
  max-width: 418px;

  @media screen and (min-width: 768px) {
    max-width: 420px;
  }
}

.reasons__text {
  margin-top: 0;
  margin-bottom: 44px;

  color: #555555;
  font-size: 18px;
  line-height: 30px;

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }
}

.reasons__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: -15px -15px 20px -15px;

  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) and (max-width: 767px) {
    margin-left: auto;
    max-width: 480px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 400px;
  }
}

.reasons__item {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: calc((100% - 2 * 30px) / 2);
  color: #303030;
  background-color:#F7F7F7;
  text-align: center;

  padding: 20px 30px;
  margin: 15px;

  @media screen and (min-width: 768px) and (max-width: 767px) {
    padding: 20px 38px;
  }

  @media screen and (min-width: 1200px) {
    padding: 20px 18px;
  }

}

.reasons__item:nth-child(even) {
    position: relative;
    top: 35px;
  }

  .reasons__number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
  }

  .reasons__plus {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.36;
    vertical-align: super;

    color: #ff6c00;
  }

  .reasons__text {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
  }


  .reasons__container.reasons {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}
