.registration__section {
  width: 100%;
  height: 507px;
  margin-right: auto;
  margin-left: auto;
  background-color: #111518;
  background-image: linear-gradient(
      to right,
      rgba(3, 3, 3, 0.726),
      rgba(3, 3, 3, 0.726)
    ),
    url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: 80% 25%;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    // width: 768px;
    max-width: 100%;
    height: 520px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 1354px) {
    // max-width: 100%;
    max-width: 1680px;
    height: auto;
    background-position: 85% 80%;
  }
}

.registration-color1 {
  color: #ff6b09;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1354px) {
    font-size: 46px;
    line-height: 130%;
  }
}

.registration-color2 {
  color: #ff6b09;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
  }

  @media screen and (min-width: 1354px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.registration-text1 {
  font-style: normal;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-right: 40px;
    margin-left: 40px;
  }

  @media screen and (min-width: 1354px) {
    font-size: 46px;
    line-height: 130%;
  }
}

.registration-text2 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
    margin-right: 40px;
    margin-left: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1354px) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 50px;
    padding-bottom: 56px;
  }
}

.registration-input {
  width: 280px;
  height: 48px;
  color: white;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  padding: 16px 0 15px 28px;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;

  &::-webkit-input-placeholder {
    color: white;
  }

  @media screen and (min-width: 768px) {
    width: 390px;
  }

  @media screen and (min-width: 1354px) {
    height: 70px;
    width: 470px;
    font-size: 20px;
    line-height: 24px;
  }
}

input {
  &:-moz-placeholder {
    /* Firefox 18- */
    color: white;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
  }

  &:-ms-input-placeholder {
    color: white;
  }
}

.registration-form1 {
  padding-bottom: 20px;
}

.registration-form2 {
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-bottom: 0px;
  }
}

.reg-button {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1354px) {
    padding-top: 80px;
    padding-bottom: 62px;
  }
}

.registration-button {
  margin-left: auto;
  margin-right: auto;
  display: block;

  width: 260px;
  height: 48px;
  background: #ff6b09;
  border-style: none;
  @media screen and (min-width: 1354px) {
    width: 354px;
    height: 70px;
  }
}

.registration-button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;

  @media screen and (min-width: 1354px) {
    font-size: 14px;
    line-height: 17px;
    padding: 26px;
  }
}
