.respond-section {
    margin-top: 200px;
    // При об'єднанні секцій цей марджин треба видалити
    position: relative;
    padding: 170px 0;

    background-color: #ffffff;

    text-align: center;
    font-weight: 500;
}

.respond-title {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.respond-container {
    @extend %container;

    @media screen and (min-width: 900px) {
        padding: 0 20px;
    };
}

.respond-collage {
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;
    height: 200px;
    background-image: url(../images/respond/respond-collage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.respond-box {
    overflow: hidden;
}

.respond-list {
    @extend %list;
    display: flex;
}

.respond-item {
    width: 100%;
}

.respond-person {
    width: 85px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.respond-description {
    position: relative;
    margin-top: 30px;
    padding: 40px 50px 30px;
    font-size: 12px;
    line-height: 2.55;
    background-color: #FAFAFA;
}

.respond-description-text {
    position: relative;
    z-index: 2;
}

.commas-svg {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 54px;
    height: 40px;
}

.respond-place {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.86;

    &::before {
        content: "...";
        display: block;
        margin-bottom: 20px;
        height: 4px;
        color: #C7133E;
        line-height: 0;
        font-size: 35px;
        letter-spacing: 10px;
    }
}

