.respond-section {
    position: relative;
    padding: 0 0 170px;

    background-color: #ffffff;

    text-align: center;
    font-weight: 500;

    @media screen and (min-width: 768px) {
       padding-bottom: 197px;
    };

    @media screen and (min-width: 1280px) {
        padding-bottom: 235px;
    };
}

.respond-title {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.respond-container {
    padding: 0 20px;
    @media screen and (min-width: 320px) {
        width: 320px;    
        margin: 0 auto;
    };

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 74px;
    };

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding: 0 175px;
    };
}

.respond-collage {
    width: 100%;
    margin-bottom: 80px;
    @media screen and (min-width: 768px) {
        margin-bottom: 120px;
    }
}

.respond-box {
    overflow: hidden; 
}


.respond-list {
    @extend %list;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    width: 300%;

    @media screen and (min-width: 1280px) {
        margin-bottom: 35px;
    };
}

.respond-item {
    width: 100%;
}

.respond-person {
    width: 85px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.respond-description {
    position: relative;
    margin: 30px 0 0;
    padding: 40px 50px 30px;
    font-size: 12px;
    line-height: 2.55;
    background-color: #FAFAFA;


    @media screen and (min-width: 768px) {
      margin-top: 20px;
      padding-top: 30px;
    };

    @media screen and (min-width: 1280px) {
        margin-top: 15px;
    };
}

.respond-description-text {
    position: relative;
    z-index: 2;
    display: block;
    background-image: url(../images/respond/respond-text-line.png);

        &::after {
            content: " ";
            display: block;
            height: 6px;
        }
}

.commas-svg {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 54px;
    height: 40px;
}

.respond-place {
    margin: 30px 0 0;
    font-size: 14px;
    line-height: 1.86;

    @media screen and (min-width: 768px) {
        margin-top: 15px;
    };

    &::before {
        content: "...";
        display: block;
        width: 42px;
        margin: 0 auto 20px auto;
        height: 4px;
        color: #C7133E;
        line-height: 0;
        font-size: 35px;
        letter-spacing: 10px;

        @media screen and (min-width: 768px) {
            margin-bottom: 15px;
        };
    }
}

.respond-radiobtn-container {
    display: flex;
    width: 74px;
    margin: 0 auto;
    justify-content: space-between;
}

.respond-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.respond-label {
    display: block;
    width: 13px;
    height: 13px;
    background-color: #D9D9D9;
    border-radius: 50%;

    .respond-radio:checked + & {
        background-color: #ffffff;
        & > .respond-radio-svg {
            opacity: 1;
        }
    }
}

.respond-radio-svg {
    width: 13px;
    height: 13px;
    margin-bottom: 4px;
    background-repeat: no-repeat;
    opacity: 0;
}