/*Mobile*/
.icon-home,
.active {
    width: 12px;
    height: 12px;
}

.icon-elipse,
.inactive {
    width: 12px;
    height: 12px;
}

.button {
    display: flex;
    gap: 18px;
    border: none;
    background: none;

}

.button .icon-home {
    display: none;
}

.button:focus .icon-home,
.button:active .icon-home {
    display: block;
}

.button:focus .icon-elipse,
.button:active .icon-elipse {
    display: none;
}

.emily-box img,
.mila-box img,
.agata-box img {
    display: block;
    width: 85px;
    height: 85px;
}

.reviews-section {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  padding-bottom: 300px;
}

.reviews-box {
    font-family: var(--DM-Sans-font);
  }

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-container {
    background-image: url(/src/images/double-comma.png);
    background-repeat: no-repeat;
    background-position-x: 53px;
    background-position-y: 30px;
}

.background-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    width: 280px;
    background-color: #FAFAFA;
    padding-top: 47px;
    padding-bottom: 47px;
    margin-top: 32px;
    margin-bottom: 16px;
}
.text-container {
    display: block;
    width: 157px;
    font-size: 12px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: #E1E1E1;
    text-underline-offset: 8px;
}

.dots {
    color: red;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

.reviewer {
    font-size: 14px;
    font-weight: 500;

}

.icon-background {
    width: 54px;
    height: 40px;
    position: relative;
    right: 70px;
    z-index: 0;
}

.mila-box,
.agata-box {
    display: none;
}

.element {
    text-align: center;
    width:280px;
}

.slider-buttons {
    display: flex;

}

/*Tablet*/
@media (min-width: 768px) {

    .reviews-section {
        width: 100%;
      padding-bottom: 250px;
    }

    .reviews-box {
       width: 100%;
    }

    .slider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;
    }

    .background-container {
        width:90%
        
    }

    .text-container {
        width: 90%;
}
.element {
    width:620px;
}
.reviews-content img { 
    display: block;
    width: 85px;
    height: 85px;
}
.reviews-content {
    display: flex;
   flex-direction: column;
   align-items: center;
}
.test {
    display: none;
}
}
/*Desktop*/
@media (min-width: 1200px) {
    .reviews-section {
        width: 100%;
              padding-bottom: 100px;
    }

    .reviews-box {
        width: 100%;
    }
  
    .slider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .background-container {
        width: 90%;
    }

    .text-container {
        width: 90%;
    }
    .element, .slider-container {
        width: inherit;
    }
}