:root {
  --primary-text-color: #ffffff;
  --second--text-color: #000000;
  --accent-text-color: #d41443;
  --text-label-color: #ffa5ba;
  --copyright-text-color: #907e82;

  --primary-bgcolor: #e5e5e5;
  --second-bgcolor: #fff5f6;
  --third-bgcolor: #ffffff;

  // HERO
  --hero-bgcolor: #ffb8ca;
  --hero-elipse-color: #ffa5ba;

  // PRODUCTS & CONTACTS
  --accent-pink-bgcolor: #ffb8ca;
  --accent-coffee-bgcolor: #f0d1a5;
  --accent-green-bgcolor: #c2e297;
}
