.swiper {
  @media screen and (max-width: 767px) {
    display: none;
  }
  height: 100%;
}

.swiper__controls {
  position: relative;
  width: 164px;
  height: 40px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
}

.swiper__button {
  @media screen and (max-width: 767px) {
    display: none;
  }

  width: 60px;
  height: 24px;

  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #262121;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  align-items: flex-start;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus-visible {
    color: #f7f7f7;
    border-color: #f7f7f7;
  }
}

.swiper-button-prev {
  justify-content: left;
}

.swiper-button-next {
  justify-content: right;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}
