.section-what-we-have {
    background: #ae1332;
    padding: 80px 0 0;
    @media screen and (min-width: 768px) {
        padding: 100px 0 0;
    }
    @media screen and (min-width: 1280px) {
        padding: 150px 0 0;
    }
}

.section-title {
    color: $white;
    margin: 0px;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;/* 100% */
    text-align: center;
    letter-spacing: -1.12px;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruit-description {
    color: $white;
    font-weight: 400;
    line-height: 18px;/* 128.571% */
    text-align: center;
    margin: 14px 0px 0px 0px;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruit-name {
    color: $white;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;/* 116.667% */
    letter-spacing: -0.96px;
}

.fruit-type {
    color: $white;
    font-weight: 400;
    margin: 8px 0 0 0;
    line-height: 18px;/* 128.571% */
    letter-spacing: -0.28px;
}

.fruits-project {
    gap: 14px;
    margin: 0;
    padding: 0px;
    display: flex;
    margin-top: 44px;
    justify-content: center;
    flex-direction: column;
}

.fruits-card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 64px 24px 24px;
}

.picture-box {
    display: flex;
    position: relative;
    justify-content: center;
}

.shadow-fruit {
    top: 85%;
    position: absolute;
}

.fruits-button {
    margin-top: 26px;
    padding: 12px 24px;
    border-radius: 200px;

    cursor: pointer;
    background: $white;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-color: transparent;

    color: #ae1332;
    font-size: 14px;
    font-weight: 500;
    font-family: DM Sans;
    line-height: 18px;/* 128.571% */
    letter-spacing: -0.56px;
}

.fruits-project>.fruits-card:nth-child(1) {
    background-color: #f8766b;
}

.fruits-project>.fruits-card:nth-child(2) {
    background-color: #edd251;
}

.fruits-project>.fruits-card:nth-child(3) {
    background-color: #9dc262;
}

.fruits-project>.fruits-card:nth-child(4) {
    background-color: #bfd663;
}

.fruits-project>.fruits-card:nth-child(5) {
    background-color: #e93f29;
}

.fruits-project>.fruits-card:nth-child(6) {
    background-color: #db4f4b;
}

.fruits-project>.fruits-card:nth-child(7) {
    background-color: #9b5366;
}

.fruits-project>.fruits-card:nth-child(8) {
    background-color: #f47f4c;
}

.fruits-project>.fruits-card:nth-child(9) {
    background-color: #f47f4c;
}




/*-------------------------------------------*/
/*            ORDER BUTTON                   */
/*-------------------------------------------*/

.fruits__arrow__icon {
    top: 12%;
    fill: white;
    position: relative;
}

.fruits__order__button {
    display: flex;
    padding: 44px 0px;
    align-items: center;
    justify-content: center;
}

.fruits__circle__button {
    gap: 4px;
    width: 80px;
    height: 80px;
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #9DC262;
    transition: background-color 230ms ease-in;
}

.order__text {
    color: $white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    transform: rotate(-19deg);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    transition: background-color 230ms ease-in;
}

.fruits__circle__button:hover,
.fruits__circle__button:focus {
    background: $white;

    .fruits__arrow__icon {
        fill: #9DC262;
        stroke: #9DC262;
    }

    .order__text {
        color: #9DC262;
    }
}




/*-------------------------------------------*/
/*                 VIEWPORT                  */
/*-------------------------------------------*/

/*  MOBILE  */
@media (min-width: 320px) {
    @media (max-width: 767px) {
        .fruits-project>.fruits-card img {
            width: 100%;
        }

        /* Display yung na 6 images only */
        .fruits-project>.fruits-card:nth-child(1n + 7) {
            display: none;
        }
    }
}

/* TABLET SCREEN */
@media screen and (min-width: 768px) {
    .fruits-image {
        height: 251px;
        width: 295px;
    }

    .fruit-info {
        padding: 0px 72px;
    }

    .fruit-description {
        width: 547px;
    }

    .section-title {
        font-size: 48px;
        line-height: 44px;/* 100% */
        letter-spacing: -1.6px;
    }

    .fruits-card {
        width: 335px;
        height: 465px;
        flex-basis: calc(100% / 2 - 8px);
    }

    .fruits-project {
        gap: 16px 16px;
        flex-wrap: wrap;
        flex-direction: unset;
    }

    .fruit-name {
        font-size: 32px;
        line-height: 38px;/* 118.75% */
        letter-spacing: -1.28px;
    }

    .fruit-type {
        font-size: 18px;
        line-height: 24px;/* 133.333% */
        letter-spacing: -0.36px;
    }

    .shadow-fruit {
        top: 80%;
    }

    .fruits-button {
        font-size: 18px;
        margin-top: -2px;
        padding: 15px 42px;
        line-height: 24px;/* 133.333% */
        letter-spacing: -0.72px;
    }

    /* Display lamang yung 8 na images only*/
    .fruits-project>.fruits-card:nth-child(1n + 9) {
        display: none;
    }
        .fruits__circle__button {
            width: 114px;
            height: 114px;
        }
    
        .order__text {
            font-size: 18px;
            line-height: 24px;
            /* 133.333% */
            letter-spacing: -0.72px;
        }
}

/* LARGE SCREEN(Desktop) */
@media screen and (min-width: 1280px) {
    .fruit-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fruits-card {
        flex-basis: calc(100% / 3 - 11px);
    }

    /* I-display lahat ng images */
    .fruits-project>.fruits-card:nth-child(1n + 9) {
        display: unset;
    }
}