@import './variables';

.chart.hidden-chart {
  display: none;
}

.chart-fivedays {
  border-radius: 34px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
}

.hide-chart-button {
  display: flex;
  gap: 10px;
  padding-top: 26px;
  &__p {
    color: $orange-color;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
  &__btn {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    background: none;
    border: none;
  }
  &__icon {
    width: 28px;
    height: 28px;
    // transform: rotate(-90deg);
  }
}

.hide-chart-button__btn:hover {
  text-decoration: none;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
}

.chart-header {
  display: flex;
  gap: 53px;
  &__title,
  &__item {
    color: $white-color;
    text-align: right;
    font-family: $main-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5400000214576721;
  }
  &__title {
    font-size: 12px;
  }
  &__list {
    display: flex;
  }
}

.aside-info__p {
  display: flex;
  width: 156px;
  height: 25.158px;
  transform: rotate(-90deg);
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5400000214576721;
}

.chart-days {
  display: flex;
  width: 113.212px;
  height: 18px;
  justify-content: center;
  color: $white-color;
  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5400000214576721;
}

@media screen and (max-width: 767px) {
  .chart-fivedays {
    margin-top: 550px;
    width: 280px;
    height: 509px;
    margin-left: 20px;
  }

  .hide-chart-button {
    padding-top: 22px;
    margin-left: 85px;
  }

  .chart-scheme {
    margin-top: 35px;
  }

  .chart-wrapper {
    padding: 5px;
  }
}

@media screen and (min-width: 768px) {
  .chart {
    margin-top: 640px;
  }
  .hide-chart-button {
    margin-left: 297px;
  }

  .chart-fivedays {
    width: 704px;
    height: 459px;
    margin-left: 32px;
  }

  .chart-scheme {
    margin-left: 57px;
    margin-right: 67px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .chart-fivedays {
    width: 1248px;
    height: 540px;
    margin-top: 861px;
    margin-bottom: 80px;
    margin-left: 88px;
  }

  .hide-chart-button {
    margin-left: 585px;
  }

  .chart-header {
    margin-left: 180px;
    margin-top: 45px;
    &__title {
      font-size: 12px;
      margin-left: 90px;
    }
    &__list {
      gap: 53px;
    }
  }

  .aside-info__p {
    margin-left: 90px;
    margin-top: 200px;
  }

  .chart-days {
    gap: 100px;
    margin-left: 600px;
    margin-top: 110px;
  }
  .chart-scheme {
    padding-left: 107px;
    padding-right: 135px;
    padding-top: 45px;
  }
}
