.section-about {
  position: relative;
  display: flex;
  padding-top: 84px;
  padding-bottom: 84px;
  background: #FFFFFF;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 767px){
  .foto-about-us {
      display: none;
  }
}
@media screen and (min-width: 768px){
    .section-about {
      padding-top: 100px;
      padding-bottom: 103px;
      
    }
    .container {
      padding-left: 39px;
      padding-right: 39px;
    }
    .foto-about-us {
      display: block;
      //flex-direction: column;
      padding-right: 30px;
      width: 50%;
        

    }
    .photo-razor {
      margin-bottom: 30px;

    }
}
@media screen and (min-width: 768px) {
    .about-us {
        max-width: 500px;
        width: 50%;
  }
}
.section-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}
.section-title::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;
}

.section-item {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}
.section-page {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;

  color: #555555;

}
.section-text {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: #555555;
}
.section-button {
  display: inline-block;
  padding: 12px 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #303030;
  
  border: 1px solid #FF6C00;
  box-sizing: border-box;
  border-radius: 25px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #FF6C00;
    color: #FFFFFF;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .section-about  {
      display: flex;
      justify-content: flex-end;
      margin-right: 64px;
  }
}
@media screen and (min-width: 1200px) {
    .about-us {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}