.article {
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  margin: 0 auto;
  background-color: rgb(54, 111, 152);
}

.article__container {
  padding: 50px;

  &--third {
    display: flex;
  }
}

.article__box {
  width: 50%;
}

.article__title {
  margin-bottom: 50px;
  text-align: center;

  color: rgb(82, 176, 132);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.15;
  text-decoration: underline;

  &--third {
    color: antiquewhite;
    font-size: 40px;
    line-height: 1.78;
  }
}

.article__text {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  color: rgb(156, 145, 131);
  font-size: 20px;

  &--third {
    margin-bottom: 50px;

    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
}

.article__img {
  display: block;
  margin-right: auto;
  margin-left: auto;

  &--third {
    width: 300px;
  }
}

// .article__img--third {
//   width: 100px;
// }

.article__bnt {
  display: block;
  margin: 50px auto;
  padding: 20px 60px;
  text-align: center;
  background-color: blue;
  color: aliceblue;
}
