.five-days {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    0.56deg,
    #000000 -13.48%,
    rgba(0, 0, 0, 0) 78.75%
  );
  position: absolute;
  color: $white-color;
  box-shadow: 0px 8px 43px 0px #10213699;
  border-radius: 34px;
  opacity: 55%;
  &__info {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 40px 131px;
  }
}
.hide-on-mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .five-days {
  }
  .show-on-mobile {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .five-days {
    display: flex;
    flex-direction: row;
    background: linear-gradient(
      0.56deg,
      #000000 -13.48%,
      rgba(0, 0, 0, 0) 78.75%
    );
    position: absolute;
    left: 16px;
    color: $white-color;
    box-shadow: 0px 8px 43px 0px #10213699;
    border-radius: 34px;
    opacity: 55%;
    &__info {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      padding: 40px 131px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 181px;
      align-items: center;
      gap: 10px;
    }

    &__day {
      font-size: 18px;
      line-height: 1.2;
    }

    &__date {
      font-size: 25px;
      line-height: 1.2;
    }

    &__temperature {
      display: flex;
      gap: 10px;
      flex-direction: row;
    }
    &__button {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      opacity: 30%;
    }
  }

  .temperature-min,
  .temperature-max {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 18px;
    }

    &__value {
      font-size: 25px;
    }
  }
}
.temperature-min::after {
  border: 1px, solid;
  content: '';
  border-color: $white-color;
  border-width: 46px;
  opacity: 20%;
}
