.article {
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  margin: 0 auto;
  background-color: rgb(54, 111, 152);
}

.article__container {
  padding: 50px;
}

.article__title {
  text-align: center;

  color: rgb(82, 176, 132);
  font-weight: 700;
  font-size: 64px;
  text-decoration: underline;
}

.article__text {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  color: rgb(156, 145, 131);
  font-size: 20px;
}

.article__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
