.section-beard {
  background-color: $primary-background-color;

  @media screen and (min-width: 480px) {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 101px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section-name:before {
  position: absolute;
  background-color: $primary-text-color;
  border-radius: 0;
  content: '';
  width: 1px;
  height: 60px;
  left: 115px;
  top: 3712px;
  bottom: 0;
  transform: rotate(90deg);
}

.section-name {
  @media screen and (min-width: 480px) {
    margin-top: 84px;
    margin-bottom: 44px;
    margin-left: 31px;
    margin-right: 31px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 100px;
    margin-bottom: 44px;
    margin-left: 39px;
    margin-right: 306px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 130px;
    margin-bottom: 44px;
    margin-left: 55px;
    margin-right: 802px;
  }
}

.work-examples.list {
  @media screen and (min-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    position: absolute;
  }
}

.beard-item {
  @media screen and (min-width: 480px) {
    max-width: 418px;
    max-height: 360px;
    margin-left: 31px;
    margin-right: 31px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    max-width: 330px;
    max-height: 360px;
    margin-left: 39px;
    margin-right: 39px;
    margin-bottom: 101px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270x;
    max-height: 360px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 130px;
  }
}
