.cafe-section {
  width: 100%;
}

.cafe-section>.container{
  padding-left: 50px;
  padding-right: 50px;
}

.card-list {
  margin-bottom: 54px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  } 
}


.contacts-card {
  max-width: 380px;
  margin: auto;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;

  &:not(:last-child){
  margin-bottom: 20px;
  }  
}


.card-name {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: $icecoffee-card-color;
  border-radius: 4px;

  padding: 2px 24px 1px;
  margin-bottom: 25px;
  text-align: center;

  .contacts-card:nth-child(2n) &{
    background-color: $contacts-foodbox-bg;
  }
}

.card-description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
  

  span {
    color: $secondary-text-color;
    line-height: 186%;
  }
  p {
    color: $third-text-color;
    line-height: 18px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
  }
}

.card-visit-hours {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  margin-bottom: 25px;
  span {
    color: $secondary-text-color;
  }
  p {
    color: $hero-circle-color;
  }

  .visit-hours_weekends{
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
  }
}


.contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $third-text-color;
}

// Button styling

.cafe-btn {
  margin-top: 46px;
  margin-bottom: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet-width) {
    margin-top: 81px;
    margin-bottom: 158px;
    flex-direction: row;
    align-items: center;
  }
  @media screen and (min-width: $desktop-width) {
    margin-top: 86px;
    margin-bottom: 165px;
    flex-direction: row;
    align-items: center;
  }
}

.cafe-btn-item {
  @media screen and (min-width: 480px) {
    min-width: 158px;
  }
  @media screen and (min-width: $tablet-width) {
    min-width: 191px;
  }
  @media screen and (min-width: $desktop-width) {
    min-width: 198px;
  }
}

.btn-locations {
  padding: 12px 17px 12px;
  margin-bottom: 10px;
  color: $main-text-color;
  background-color: $accent-color;

  @media screen and (min-width: $tablet-width) {
    margin-right: 14px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-right: 15px;
  }
}

.btn-franchise {
  padding: 12px 31px 12px;
  color: $accent-color;
  background-color: #ffffff;
}

.vector {
  margin-left: 8px;
  align-items: baseline;
}
.cafe-btn-list {
  @media screen and (min-width: $tablet-width) {
    display: flex;
  }
}
