@import './variables';

.allday-wheather {
  background: #102136;
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
}

.current-wheather-icon {
  color: $white-color;
}

.current-wheather-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: $gray-color;
  text-align: center;
  font-family: $main-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.today-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  &__current {
    color: $white-color;
    text-align: center;
    font-family: $main-font;
    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.6px;
  }
}

.today-weather-minmax {
  display: flex;
}

.today-minmax__p {
  display: flex;
  width: 75px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: $gray-color;
  text-align: center;
  font-family: $main-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.today-minmax svg {
  fill: #27384a;
  position: relative;
  bottom: 39px;
  left: 75px;
}

.today-minmax__mindegree,
.today-minmax__maxdegree {
  display: flex;
  width: 75px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  color: $white-color;
  text-align: center;
  font-family: $main-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-list {
  display: flex;
  gap: 32px;
  position: absolute;
}

.btn-today,
.btn-5days {
  display: flex;
  gap: 32px;
  width: 182px;
  height: 27px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: $white-color;
  cursor: pointer;
}

.btn-5days {
  background: rgba(255, 255, 255, 0.5);
}
.btn-5days:hover {
  background: $white-color;
}

.btn-5days:focus {
  background: $white-color;
}

@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }

  .allday-wheather {
    width: 280px;
    height: 193px;
    border-radius: 34px;
    position: relative;
    margin-top: -121px;
    left: 20px;
    right: 12px;
  }

  .current-wheather-icon {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 125px;
  }
  .current-wheather-city {
    margin-top: -4px;
    margin-left: -2px;
    font-size: 16px;
  }

  .today-weather {
    flex-direction: row;
    margin-left: -70px;
    margin-top: 20px;
  }

  .today-weather__current {
    width: 75px;
    height: 56px;
    font-size: 45px;
    margin-left: 104px;
  }

  .today-minmax__p {
    font-size: 14px;
  }

  .today-minmax__mindegree,
  .today-minmax__maxdegree {
    font-size: 16px;
  }

  .today-weather-minmax {
    margin-left: 5px;
    margin-top: 5px;
  }

  .button-list {
    position: initial;
    gap: 18px;
    margin-top: 193px;
    margin-left: 25px;
  }

  .btn-today,
  .btn-5days {
    width: 126px;
    gap: 10px;
  }
}

@media screen and (min-width: 767px) {
  .allday-wheather {
    width: 680px;
    height: 289px;
    border-radius: 34px;
    right: 44px;
    box-shadow: 0 8px 43px #10213699;
    position: absolute;
    top: 258px;
  }

  .current-wheather-icon {
    margin-left: 320px;
    margin-top: 22px;
  }
  .current-wheather-city {
    margin-top: 0px;
  }
  .today-weather-minmax {
    margin-left: 260px;
  }
  .button-list {
    position: absolute;
    top: 580px;
    left: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .allday-wheather {
    width: 411px;
    height: 289px;
    border-radius: 34px 0px 0px 34px;
    position: absolute;
    right: 0px;
    top: 252px;
  }
  .current-wheather-icon {
    margin-left: 182px;
    margin-top: 35px;
  }
  .current-wheather-city {
    width: 158px;
    height: 26px;
    margin-top: -10px;
    margin-left: 123px;
  }
  .today-weather-minmax {
    margin-top: -8px;
    margin-left: 127px;
  }
  .button-list {
    position: relative;
    top: 32px;
    right: 197px;
    left: 1020px;
  }
}
