.section-about {
  position: relative;
  display: flex;
  padding-top: 84px;
  padding-bottom: 84px;
  background: #FFFFFF;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}
.section-title {
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}
.section-title::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;
}

.h2.section-item {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #303030;
}
.section-button {
  background-color: #FFFFFF;
}