.section-about {
  position: relative;
  display: flex;
  margin-top: 84px;
  margin-bottom: 84px;
  background: #e5e5e5;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}

.section-name::before {
  position: absolute;
  width: 1px;
  height: 60px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}
.section-title {
  width: 330px;
  height: 66px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;

  color: #303030;
}
