.section {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.section-title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &::before {
    content: '';
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
  } //.section-title::before
} //.section-title
