.article {
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  margin: 0 auto;
  background-color: rgb(72, 54, 152);
}

.article__container {
  padding: 50px;
}

.article__title {
  // margin-bottom: 50px;

  color: rgb(240, 255, 248);
  font-weight: 700;
  font-size: 34px;
  text-decoration: underline;
}

.article__text {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  color: bisque;
  font-size: 20px;
}

.article__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
