.shops-container {
  // left: 50%;
  // top: -84px;
  // transform: translate(-50%, 0);
  // position: absolute;

  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    left: 50%;
    top: -84px;
    transform: translate(-50%, 0);
    position: absolute;

    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: -78px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.shops-bgc {
  background-color: $footer-bg;
  position: relative;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 1511px;
    margin-top: 170px;
  }
  
  @media screen and (min-width: 768px) {
    height: 665px;
    margin-top: 197px;
  }

  @media screen and (min-width: 1200px) {
    height: 697px;
  }
}

.shops-hide {
  display: none;
}


.shops-section {
  width: 220px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(-n + 3) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 50px;
    padding-bottom: 50px;

  }

  @media screen and (min-width: 1200px) {
    width: 330px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 50px;
    padding-bottom: 50px;
    &:nth-child(-n + 3) {
      margin-right: 30px;
    }
  } 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .shops-section:not(:last-child) {
    margin-bottom: 20px;
  }
}



.shops-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;

  background-color: $main-coffee;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.86;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
}

.shops-title-foodtruck {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;

  background-color: $green-color;
  width: 130px;
  height: 16px;
  margin-bottom: 25px;

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
}

.shops-city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  }  
}

.shops-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  color: #907E82;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.83;
    padding-bottom: 32px;
  }
}

.shops-working-days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  line-height: 1.86;
  } 

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  line-height: 1.86;
  }  
}

.shops-working-hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #FFA5BA;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  line-height: 1.86;
  } 

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  line-height: 1.86;
  }
}

.shops-schedule {
  @media screen and (min-width: 320px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }  
}

.shops-schedule-1 {
  padding-bottom: 25px;
  padding-top: 25px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E1E1E1;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  } 
}

.shops-contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907E82;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  line-height: 1.86;
  } 

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  line-height: 1.86;
  }
}

.shops-contacts-container li {
  line-height: 18px;
}

.shops-contacts-container {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E1E1E1;
  padding-top: 25px;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
  }
}

.shops-button {
  display: block;
  width: 161.45px;
  height: 44px;
  left: 79px;
  top: 6495px;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;

  border-radius: 22px;

  @media screen and (min-width: 1200px) {
    width: 198px;
  }
}

.shops-button-2 {
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #D41443;

  &:hover,
  &:focus {
    background: #ecebeb;
    border: 1px solid #d41443;
  }
}

.shops-button-2::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  background-image: url(../images/svg/icon-button_arrow.svg);
  margin-left: 8px;
}

.shops-button-1 {
  background: #D41342;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;

  &:hover,
  &:focus {
    background: #ffa5ba;
    color: #d41443;
    border: 1px solid #d41443;

    &::after {
      background-image: url(../images/svg/icon-button_arrow.svg);
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }

}

.shops-button-1::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  background-image: url(../images/svg/shops-arrow.svg);
  margin-left: 8px;
  background-repeat: no-repeat;
}

.shops-buttons {
  margin-top: 54px;

  @media screen and (min-width: 768px) {
    margin-top: 81px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 86px;
  }  
}

@media screen and (min-width: 768px) {
  .shops-buttons {
    display: flex;
  }

  .shops-thumb {
    width: 768px;
    width: 549px;
    position: relative;

  }
}


