.slider {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.86;
  color: #000000;

  @media screen and (min-width: 1200px) {
    max-width: 926px;
    min-height: 350px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 620px;
    min-height: 382px;
  }

  @media screen and (max-width: 767px) {
    max-width: 280px;
    min-height: 540px;
  }
}

.slider-box {
  background-color: #fafafa;
  background-image: url('../images/svg/“.svg');
  background-repeat: no-repeat;

  @media screen and (min-width: 1200px) {
    min-height: 138px;
    padding: 47px 57px 39px;

    background-position: 51px 32px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-height: 164px;
    padding: 47px 48px 34px;

    background-position: 24px 28px;
  }

  @media screen and (max-width: 767px) {
    min-height: 308px;
    padding: 43px 50px 26px;
    background-position: 58px 21px;
  }
}

.slider-text {
  background-repeat: no-repeat;
  background-image: url('../images/svg/lines.svg');

  @media screen and (min-width: 1200px) {
    max-width: 812px;
    padding: 0px 31px;
    background-position: 5px 25px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 524px;
    background-position: 0px 25px;
    background-size: 130%;
    padding: 0 44px 0 20px;
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    padding: 0 16px 0 7px;
    font-size: 12px;
    background-image: url('../images/svg/lines-mobile.svg');
    background-position: 0px 20px;
    background-size: 100% 155px;
  }
}

.slider-title {
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
    margin-bottom: 35px;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 30px;
  }

  font-weight: 500;
}

.slider-title::before {
  content: '';
  display: block;

  width: 32px;
  height: 4px;
  background-image: url('../images/svg/dots-red.svg');
  @media screen and (min-width: 1200px) {
    margin: 15px auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 24px auto 14px;
  }
  @media screen and (max-width: 767px) {
    margin: 30px auto 18px;
  }
}

.slider img {
  width: 85px;
  height: 85px;

  @media screen and (min-width: 1200px) {
    margin: 0 auto 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0 auto 19px;
  }
  @media screen and (max-width: 767px) {
    margin: 0 auto 29px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-dots li.slick-active button {
  background-image: url('../images/svg/domik.svg ');
}
.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: $main-color;
  background-image: url('../images/svg/dot.svg');
  border: none;
  outline: none;
}
