.slider {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.86;
  color: #000000;

  @media screen and (min-width: 1200px) {
    max-width: 926px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 620px;
  }
  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
}
.slider-item {
  padding: 0 0 47px;
  outline: 2px solid red;
}

.slider-text {
  @media screen and (min-width: 1200px) {
    padding: 47px 88px 39px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 47px 80px 34px;
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    padding: 43px 66px 26px 57px;
    font-size: 12px;
  }
}

.slider-title {
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }

  font-weight: 500;
}

.slider-title::before {
  content: '';
  display: block;
  margin: 15px auto;
  width: 32px;
  height: 4px;
  background-image: url('../images/svg/dots-red.svg');
}

.slider img {
  width: 85px;
  height: 85px;
  margin: 0 auto 15px;
}
