.slider-container {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 86px;
    padding-top: 154px;
    
}

.comment {
    width:280px;
    height:308px;
    background-color:#FAFAFA;
    margin-bottom: 30px;
}

.custom-comment {
    font-family: DM Sans;
    @include font ($fs:12px, $fw:500, $lh: 2.583);
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    padding-right: 66px;
    padding-bottom: 26px;
    padding-left: 57px;
    padding-top: 43px;
}

.slider-dots-list {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.slider-dots-list-item {
    display: flex;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #C7133E;

    &:not(:last-child) {
        margin-right:10px;
    }
}

.person-photo1 {
    margin: 0 auto;
    margin-bottom:29px;
}

.custom-name {
    font-family: DM Sans;
    @include font ($fs:14px, $fw:500, $lh: 1.857);
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 30px;
}

.slider-switch-list {
    display: flex;
    justify-content: center; 
    align-items:baseline; 
}

.slider-switch-list-item:not(:first-child) {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #D9D9D9;
} 
.slider-switch-list-item {
    &:not(:last-child) {
        margin-right:18px;
    }
}

// MOBILE
@media screen and (min-width: 320px) and (max-width: 767px) {
 
}

// TABLET
@media screen and (min-width: 768px) {
    .slider-container {
        padding-right: 74px;
        padding-left: 74px;
        padding-bottom: 119px;
        padding-top: 279px;
    }

    .comment {
        width:620px;
        height:164px;
        background-color:#FAFAFA;
        margin-bottom: 24px;
    }

    .slider-dots-list {
        margin-bottom: 14px;
    }

    .person-photo1 {
        margin-bottom:19px;
    }

    .custom-name {
        font-family: DM Sans;
        @include font ($fs:16px, $fw:500, $lh: 1.875);
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;
        margin-bottom: 35px;
    }
}

// DESKTOP
@media screen and (min-width:1200px) {
    .slider-container {
        padding-right: 177px;
        padding-left: 177px;
        padding-bottom: 132px;
        padding-top: 382px;
    }
    
    .comment {
        width:926px;
        height:138px;
        background-color:#FAFAFA;
        margin-bottom: 15px;
    }
    
    .custom-comment {
        font-family: DM Sans;
        @include font ($fs:16px, $fw:500, $lh: 1.875);
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;
        padding-right: 89px;
        padding-bottom: 39px;
        padding-left: 87px;
        padding-top: 47px;
    }
    
    .slider-dots-list {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    .slider-dots-list-item {
        display: flex;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background: #C7133E;
    
        &:not(:last-child) {
            margin-right:10px;
        }
    }
    
    .person-photo1 {
    margin: 0 auto;
    margin-bottom:15px;
    }
    
    .custom-name {
        font-family: DM Sans;
        @include font ($fs:20px, $fw:500, $lh: 1.85);
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;
        margin-bottom: 35px;
    }
    
    .slider-switch-list {
        display: flex;
        justify-content: center; 
        align-items:baseline; 
    }
    
    .slider-switch-list-item:not(:first-child) {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background: #D9D9D9;
    } 
    .slider-switch-list-item {
        &:not(:last-child) {
            margin-right:18px;
        }
    }
}