.social {
  &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
  }

  &__item {
    margin-right: 9px;

    @media screen and (min-width: 1280px) {
      margin-right: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link:hover,
  &__link:focus {
    fill: var(--hover-color);
  }

  &__icon {
    height: 15px;

    @media screen and (min-width: 1280px) {
      height: 19px;
    }

    &-twitter {
      width: 19px;

      @media screen and (min-width: 1280px) {
        width: 24px;
      }
    }

    &-instagram {
      width: 15px;

      @media screen and (min-width: 1280px) {
        width: 19px;
      }
    }

    &-facebook {
      width: 8px;

      @media screen and (min-width: 1280px) {
        width: 10px;
      }
    }
  }
}
