* {
  box-sizing: border-box;
}
* {
  list-style: none;
  text-decoration: none;
  text-align: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media screen and (min-width: 768px) {
    padding-left: 75px;
    padding-right: 75px;
    width: 768px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 71px;
    padding-right: 71px;
    width: 1024px;
  }
}
