.title-subscribe {
  // width: 335px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 100% */
  letter-spacing: -1.28px;
  text-transform: uppercase;
  position: absolute;
  padding: 0 10px;
  top: -50px;
}

.container-subscribe {
  position: relative;
  margin-top: 53px;
  display: flex;
  justify-content: center;
}

.section-subscribe {
  padding: 80px 20px;
  background-color: #ae1332;
}

.melon-image {
  /* Add the following styles for centering */
  margin: 0 auto;
  width: 335px;
  height: 476px;
  border-radius: 20px;
}

.blueberry-image {
  display: none;
}

.subscribe-description {
  display: none;
}

.subscribe-form {
  display: none;
  justify-content: center;
  margin-top: 80px;
  /* padding-bottom: 144px; */
}

/*  For Tablet  */
@media screen and (min-width: 768px) {
  .title-subscribe {
    width: 648px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; /* 100% */
    letter-spacing: -2.16px;
    text-transform: uppercase;
    padding: 0 5px;
    top: 0;
  }

  .subscribe-container {
    position: relative;
    display: flex;
    background-color: #ae1332;
    flex-direction: column;
    align-items: center;
  }

  .melon-image {
    padding-top: 0;
    width: 344px;
    height: 480px;
    border-radius: 20px;
  }

  .blueberry-image {
    border-radius: 20px;
    width: 344px;
    height: 480px;
    display: flex;
  }

  .subscribe-description {
    display: flex;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    padding-top: 80px;
  }

  .section-subscribe {
    padding: 144px 32px;
    background-color: #ae1332;
  }

  .section-subscribe-list {
    display: flex;
    padding-top: 79px;
    gap: 16px;
  }

  .subscribe-form {
    display: flex;
    width: fit-content;
    position: relative;
  }

  .btn {
    color: #fff;
    background-color: #9dc162;
    border: none;
    border-radius: 100px;
    position: absolute;
    right: 0;
    padding: 0 35px;
    top: 0;
    height: 100%;
    cursor: pointer;
  }

  .input-email {
    color: #fff;
    width: 292px;
    height: 48px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    padding-left: 24px;
    outline: none;
  }

  .inpur-email:hover,
  .input-email:focus {
    border-color: #fff;
  }

  .input-email::placeholder {
    opacity: 0.5;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
  }
}

/*  For Desktop  */

@media screen and (min-width: 1280px) {
  .title-subscribe {
    width: 750px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px; /* 100% */
    letter-spacing: -2.16px;
    text-transform: uppercase;
    padding: 0;
  }

  .subscribe-container {
    display: flex;
    background-color: #ae1332;
    flex-direction: column;
    align-items: center;
  }

  .section-subscribe {
    padding: 150px 32px;
  }

  .melon-image {
    width: 792px;
    height: 502px;
    border-radius: 20px;
  }

  .blueberry-image {
    width: 400px;
    height: 502px;
    border-radius: 20px;
  }

  .btn {
    color: #fff;
    background-color: #9dc162;
    border: none;
    border-radius: 100px;
    position: absolute;
    right: 0;
    padding: 0 35px;
    top: 0;
    height: 100%;
    cursor: pointer;
  }

  .input-email {
    width: 292px;
    height: 48px;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    padding-left: 24px;
    outline: none;
  }

  .input-email::placeholder {
    opacity: 0.5;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
  }
}
