.elena-moreva {
  outline: 2px solid red;
}
.profession {
  font-family: $primary-font;
  color: $main-color;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 20px;
}
.teacher-photo {
  width: 243px;
  margin-right: auto;
  margin-bottom: 20px;
}

.teacher-name-surname {
  font-family: $primary-font;
  color: $main-color;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.teacher-experience {
  border-top: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;
  li {
    font-family: $primary-font;
    color: $main-color;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.06em;

    position: relative;
    padding-left: 47px;

    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.experience-item::before {
  content: '';
  display: block;
  width: 17px;
  height: 14px;
  background-image: url(../images/mobile/check-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.teacher-education li {
  font-family: $primary-font;
  color: $grey-color;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  margin-bottom: 15px;
}
.teacher-education li:first-child::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 17px;
  background-color: $accent-color;
}
.teacher-education li:last-child {
  margin-bottom: 0px;
}
.teacher-certificate {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;

  color: $accent-color;
  text-decoration-line: underline;
}
