.teacher-title {
    
}

.teacher-name {
    border-bottom: 1px solid #B9B9B9;
}

.teacher-element {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0.08em;
    color: #ff6b09;
    margin-bottom: 15px;
}

