.team {
  background-color: $color-bg-second;

  @media screen and(min-width:768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.team-list {
  @media screen and(min-width:1280px) {
    display: flex;
    // justify-content: space-between;
    margin: -15px;
  }
}

.team-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $color-title-main;
}

.team-title::before {
  @include pseudo-line($color-title-main);
  margin-right: 20px;
  align-items: center;
}

.team-title-text {
  margin-top: 0;
  margin-bottom: 44px;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: $color-title-main;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: $color-title-main;
}

.team-role {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;

  color: $color-accent;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: #303030;
  background-color: #ffffff;
}

.social-link {
  &:hover,
  &:focus {
    fill: #ff6c00;
    border-radius: 50%;
  }
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team-list-item:not(:last-child) {
  @media screen and (max-width: 1279px) {
    margin-bottom: 64px;
  }
}

.team-list-item {
  @media screen and (min-width: 1280px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}
