.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 2000px;
  padding: 60px 116px;
}

.testimonials__picture {
  img {
    width: 85px;
    height: 85px;
  }
}

.testimonials__text-container {
  background-color: #fafafa;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 43px 50px 17px 50px;
}

.underlined-text {
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    transparent 1px,
    transparent 32px
  );
  text-indent: 20px;
  position: relative;
  z-index: 4;

  &::before {
    content: url('../images/quotes.svg');
    position: absolute;
    z-index: -1;
    top: -15px;
    left: -10px;
  }
}

.red-dots-container {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 16px;
  .red-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c7133e;
  }
}

.reviewer-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 37px;
  color: #000000;
}

.slider-buttons {
  margin-top: 32px;
  display: flex;
  gap: 18px;
}

.slider-button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.btn-selected {
  background-color: transparent;
  position: relative;
}

.slider-button__selected {
  position: absolute;
  fill: #d31342;

  &:hover {
    cursor: pointer;
  }
}
.hidden-items {
  display: none;
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding-bottom: 60px;
    padding-left: 74px;
    padding-right: 74px;
  }

  .testimonials__text-container {
    margin-top: 20px;
    margin-bottom: 4px;
  }

  .underlined-text {
    font-size: 14px;
    text-indent: 37px;

    &::before {
      left: -30px;
    }
  }

  .reviewer-name {
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 320px) {
  .testimonials__text-container {
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .underlined-text {
    font-size: 12px;
    text-indent: 37px;

    &::before {
      left: -30px;
    }
  }
  .reviewer-name {
    font-size: 14px;
  }
}
