.time-section {
  width: 276px;
  height: 184px;
  border-radius: 34px;
  background: rgba(16, 33, 54, 0.8);
  margin: 0 auto;
  color: #fff;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 32px;
}
.time-list {
  list-style: none;
  padding: 0;
}

.time-section:hover {
  transition: 200ms linear;
  background-color: #102136;
}

.time-day {
  text-align: center;
  font-weight: 300;
  font-size: 45px;
  line-height: 54px;

  color: #ffffff;
  font-weight: 300;
  margin-bottom: 5px;
}

.date__day--nth {
  font-size: 14px;
  vertical-align: super;
}

.time-month {
  display: flex;
  height: 24px;
  margin: 0 auto;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.month,
.hour {
  width: 130px;
}
.month {
  text-align: right;
}
.month::after,
.sunrise-time::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #e7e8eb;
  margin-left: 15px;
}

.date-sun {
  font-size: 14px;
  display: flex;
  width: 170px;
  height: 40px;
  margin: 5px auto 0px;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.date-sunrise,
.date-sunset {
  display: flex;
  width: 75px;

  justify-content: space-between;
  align-items: center;
}
.month,
.date-sunrise {
  margin-right: 15px;
}
.hour,
.date-sunset {
  margin-left: 15px;
}
.sunrise-icon,
.sunset-icon {
  width: 20px;
  height: 20px;
  @media screen and (min-width: 1280px) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .time-section {
    width: 704px;
    height: 250px;
    flex-direction: column;
  }
  .time-day {
    font-size: 90px;
    line-height: 108px;
  }
  .time-month {
    font-size: 18px;
    line-height: 22px;
  }
  .date-sun {
    font-size: 18px;
    line-height: 22px;
  }
  .date__day--nth {
    font-size: 34px;
    vertical-align: super;
  }
}

@media screen and (min-width: 1280px) {
  .time-section {
    width: 624px;
    height: 264px;

    margin: 0px;
    margin-top: 40px;

    display: flex;

    align-content: center;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 16px;

    border-radius: 0px, 34px, 0px, 0px;
    bottom: 0px;
    left: 0px;
  }
  .time-day {
    text-align: left;
    margin: 0px;
  }
  .time-month {
    display: flex;
    height: 22px;
    width: auto;
    margin: 0;
    justify-content: left;
  }
  .month {
    width: auto;
  }
  .hour {
    width: 85px;
  }
  .month {
    text-align: left;
  }
  .date-sun {
    height: 22px;
    margin: 0px;
    padding-left: 20px;
  }
}
