:root {
  /*background color*/
  --b-dark: #111518;
  --b-middle: #f1f1f1;
  --b-light-grey: #e5e5e5;
  --b-accent-background: #ff6b09;
  --b-white: #ffffff;

  /*text color*/
  --txt-dark: #111518;
  --txt-dark-grey: #3d3d3d;
  --txt-grey: #b9b9b9;
  --txt-light: #ffffff;
  --txt-orange: #ff6b09;

  /*icon*/
  --light: #ff6b09;
  --white: #ffffff;
}
