$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;
$third-text-color: #907E82;

$primary-accent-color: #D41443;
$secondary-accent-color: #FFA5BA;

$primary-body-color: #FFFFFF;
$secondary-body-color: #FFF5F6;

$first-bg-color: #FFB8CA;
$second-bg-color: #F0D1A5;
$third-bg-color: #C2E297;
$comments-bg-color: #FAFAFA;
$side-menu-bg-color: #E17992;




// $primary-text-color: #FFFFFF; 
// - навигация в хедере;
// - часть hero title;
// - body для кнопок;
// - абзац в hero;
// - title h3 и абзац в секции products;
// - background в секции products, Customer Reviews;
// - background карточек секции Contacts.

// ________________________________________________________

// $secondary-text-color: #000000; - используется:
// - первий параграф в секции About;
// - параграфи в секции Advantages;
// - текст в секции Customer Reviews;
// - как акцент в карточках секции Contacts;
// - параграф телефона в Footer;

// ________________________________________________________

// $third-text-color: #907E82; - используется: 
// - второй параграф секции About;
// - параграфи и контакти карточек секции Contacts;
// - копирайт.

// ________________________________________________________

// $primary-accent-color: #D41443; - используется:
// - hover focus в меню header;
// - часть hero title;
// - hover focus кнопок;
// - цифри в hero;
// - часть title в секции Products;
// - часть title в секции About;
// - цифри в секции Advantages;
// - часть title в footer;

// ________________________________________________________

// $secondary-accent-color: #FFA5BA; - используется:
// - часть title в секции Products;
// - backround карточки в секции Products;
// - часть title в секции About;
// - время роботи в секции Contacts;
// - часть title в footer 
// - backround сщцсетей в footer.

// ________________________________________________________

// $primary-body-color: #FFFFFF; - используется:
// - background секции Products;
// - background секции Gallery;
// - background карточек в секции Contacts;
// ________________________________________________________

// $secondary-body-color: #FFF5F6; - используется:
// - background секции About;
// - background секции Andvanteges;
// - background секции Contacts;
// - background Footer.

// ________________________________________________________

// $first-bg-color: #FFB8CA; - используется:
// - background секции Hero;
// - background карточки в секции Products.

// _______________________________________________________

// $second-bg-color: #F0D1A5; - используется:
// - background карточки в секции Products.
// - background title карточки в секции Contacts.

// _______________________________________________________

// $third-bg-color: #C2E297; - используется:
// - background карточки в секции Products;
// - background title карточки в секции Contacts.

// ______________________________________________________

// $comments-bg-color: #FAFAFA; - используется: 
// - background коментариев в секции Customer Reviews.

// ______________________________________________________

// $side-menu-bg-color: #E17992; - используется:
// - background для меню навигации на мобилке и планшете.















