$hero-background-color: #ffb8ca;
$hero-background-secondary-color: #ffa5ba;
$main-background-color: #e5e5e5;
$secondary-background-color: #fff5f6;
$mobile-background-color: #e17992;
$white-color: #ffffff;
$primary-color: #d41443;
$secondary-color: #ffa5ba;
$black-color: #000000;
$gray-color: #907e82;
$brown-color: #f0d1a5;
$green-color: #c2e297;
$svg-background: #fea5bb;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-30: 30px;
$font-size-38: 38px;
$font-size-58: 58px;

$stripe-size: 100px;
$color1: #ffa5ba;
$color2: #ffb8ca;
$duration: 3s;
