:root {
    // fonts variables
    --primary-font: Titan One;
    --secondary-font: DM Sans;
    --reserve-font: sans-serif;
    // color variables
    --ice-cream-color: #FFB8CA;
    --ice-coffee-color: #F0D1A5;
    --milkshakes-color: #C2E297;
    --primary-background-color: #ffffff;
    --secondary-background-color: #FFF5F6;

    --title-text-color: #D41443;
    --secondary-text-color: #ffffff;
    --product-text-color: #FFA5BA;
    --dark-text-color: #000000;
    --gray-text-color: #907E82;

    --button-hover-primary: #C7133E;
    --button-hover-secondary: #ECEBEB;
}
