.slideshow-container {
    text-align: center;
}

.slideshow {
    display: inline-block;
    position: relative;
}

.mySlides {
    display: none;
    max-width: 100%;
}

.section {
    text-align: center;
    padding: 20px;
}

.title {
    color: #FFF;
    font-family: Epilogue;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.52px;
}

.paragraph {
    color: #FFF;
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.image-slider {
    display: flex;
    overflow: hidden;
    width: 226px;
    height: 190px;
    margin: 0 auto;
}

.image {
    flex: 0 0 226px;
    height: 190px;
    transition: transform 0.3s;
}