p{
  margin: 0;
}

.section-whyUs {
  background-color: $white-color;
}

.section-manifest {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $title-color;
}

.title-section {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: $title-color;
}

.about-ass {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $text-color2;
  margin-bottom: 44px; 
}

// .statistics {

.down {
  transform: translateY(10%);
  }
// }

.statistics {
  // display: flex;
  // flex-wrap: wrap;  
    // margin: -15px;
  // display: grid; 
  // grid-template-columns: repeat(2, 1fr); 
 
  // width: 480px;
  

  & .item {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 36px;
    padding-right: 36px;    
    height: 133px;
    width: 193px;
    // max-width: calc((100% - 4 * 15px) / 2);
    // margin: 15px;
    // margin-right: 30px;
    margin-bottom: 30px;

    color: $title-color;
    background-color: #F7F7F7;    


    // &:nth-child(even) {
    //   margin-right: 0;
    // }
  }
}

.statistics {

  & .after {     
    position: relative; 
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;
    margin-bottom: 6px;
    color: $title-color;
    

    &::after {
      content: " + ";
      position: absolute;    
      top: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.37;
      width: 13px;
      height: 22px;
      margin-right: 2px;
      color: $hover-color;
    }
  }
}

.wraper-padding {
  margin-top: 84px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-gap: 30px; 
  width: 480px;
  // flex-direction: column;
}