.why-us {
  padding: 78px 0 90px;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }

  &-main {
    position: relative;
    margin-bottom: 44px;

    max-width: 480px;

    @media screen and (min-width: $desktop) {
      margin-left: 130px;
      order: 2;
    }
  }

  &-statistics {
    max-width: 480px;

    @media screen and (min-width: $phone) {
      float: right;
      order: 1;
    }
  }

  &-question {
    margin-bottom: 20px;

    font-family: $OpenSans;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }

  &-answer {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $main_black_text;
  }

  &-slogan {
    margin: 0 0 20px 80px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 60px;
      border: 1px solid $main_black;
    }
  }
}

.statistics {
  &-number {
    position: relative;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
  }

  &-plus {
    position: absolute;
    top: 2px;
    width: 13px;
    height: 22px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    color: $hover_color;
  }

  &-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: calc((100% - 30px) / 2);
      padding: 5px 5px;

      text-align: center;
      background-color: $sub_gray;
    }
  }
}

.statistics-list-item:nth-child(even) {
  margin: 30px 0 0 30px;
}
.statistics-list-item:nth-child(odd):not(:last-child) {
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
