.workers-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.workers {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 84px 0px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 100px 0px;
  }

  @media screen and (min-width: 1200px) {
    padding: 55px 0px;
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  margin: 0;
}

.workers-list {
  list-style: none;
  padding: 0;
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }
}

.workers-title {
  margin-top: 20px;
  margin-bottom: 0px;
}

p {
  margin: 0;
}

.workers-item {
  @media screen and (max-width: 767px) and (min-width: 480px) {
    width: 418px;
  }

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

img {
  display: block;
  width: 100%;
}

.link {
  text-decoration: none;
}
