body {
  margin: 0;

  /* Benefits section */
}
.benefits {
  display: flex;
  width: 375px;
  padding-top: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #1e1823;
}

.benefits-list {
  display: flex;
  width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  list-style: none;
  padding-left: 20px;
}

.benefits-list-element {
  display: flex;
  flex-wrap: wrap;
  width: 336px;
  padding-right: 28px;
  align-items: flex-start;
  flex-shrink: 0;
}

.benefits-title {
  padding-top: 10px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.benefits-paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-top: 0;
}

.benefits-svg {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 17px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.texts-div {
  display: flex;
  width: 308px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}
