html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 610px;
  }

  @media screen and (min-width: 1280px) {
    width: 1060px;
  }
}

.background-wrapper {
  padding: 30px 0 60px 0;
  min-height: inherit;
  @media (min-width: 768px) {
    padding: 60px 0 70px 0;
  }

  @media screen and (min-width: 1120px) {
    padding: 80px 0 0 0;
  }
}

.isHiden {
  display: none;
}
