:root {
    --font-family: "Epilogue";
}

.catalog-container {
    width: 335px;
    align-items: center;
    padding: 80px 20px;

}

h2 {
    color: var(--dark-green, #1E2827);
    font-family: var(--font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.64px;
}

.watch-section {
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

img {
    padding: 43px 30px;
}

 .watch-section h3 {
    width: 336px;
    height: 18px;
    overflow: hidden;
    color: var(--black, #141414);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.28px;
}

.watch-section p {
    color: rgba(20, 20, 20, 0.50);
    font-family: Epilogue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.24px;
    
}

.button-buy-now {
    border-radius: 8px;
    background: var(--dark-green, #1E2827);
    color: var(--white, #FFF);
    text-align: center;
    font-family: Epilogue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    justify-content: end;
    cursor: pointer;
}

.button-buy-now:hover,
.button-buy-now:active {
    background: var(--dark-green, #1E2827);
    color: var(--white, #FFF);
}

.button-container {
    display: flex;
    justify-content: flex-end;
}


/*Tablet

@media screen and(mid-width:704px){
    .catalog-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
*/