:root {
    /* colors */
    --color-black: #000000;
    --color-bg-red: #ae1332;
    --color-green: #a4cb66;
    --color-yellow: #f5ce13;
    --color-white: #ffffff;
    --color-blue: #4d5ae5;
    --color-red: #ff0000;
    /* shadows */
    --var-1-shadow: 0px 4px 70px rgba(0, 0, 0, .1);
  
    /* animation */
    /* For All Elements */
    --var-1-animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    /* For Nav Elements */
    --var-2-animation: transition: .25s linear;
    --font-family:"DM Sans", sans-serif;
  }

.footer-section {
    padding: 80px 0;
    max-width: 1280px;
    height: 377px;
    background-color: #ffffff;
    color: var(--color-bg-red);
    
}
a {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
   .footer-right-side {
    display: flex;
  }
}


@media only screen and (min-width: 1280px) {
    .footer-img-thumb{
    margin-right: 243px;
  }
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}


.footer-img {
    margin-bottom: 5px;
    margin-left: 50px;
}
.logo-link  {
    fill:#ae1332 ;
    margin-right: 8px;
    transition: fill var(--var-2-animation)
}
.footer-logo-logo{
    margin-bottom: 20px;
    margin-left: 130px;
}
.footer-logo-link {
    padding: 0;
    transform: translate(0);
}
.footer-logo-text{
    color:#ae1332;
    transition: color var(--var-2-animation),border var(--var-2-animation);
}
.footer-logo-text:hover,
.footer-logo-text:focus{
    color: #a4cb66;
}

.logo-link {
    padding: 16px 0;
    color:#ae1332;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    display: flex;
}
.logo-link:hover,
.logo-link:focus {
    color: #a4cb66;
}

.logo-link:hover svg,
.logo-link:focus svg {
    fill:#a4cb66;
}




.footer-logo-img {
    margin-right: 8px;
   fill: #ae1332;
    transition: fill var(--var-1-animation);
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 24px;
    margin-bottom: 44px;
    transition: text-shadow var(--var-1-animation);
}



@media only screen and (min-width: 768px) {
    .footer-nav {     
        margin-top: 80px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-nav{
        margin-top: 84px;
        margin-bottom: auto;
  }
}

.footer-nav-link {
    position: relative;
    transition: color var(--var-2-animation),text-shadow var(--var-2-animation)
}

.footer-nav-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -.04em;
    text-align: center;
    color:#ae1332;
    padding: 7px 8px;
}

.footer-nav-link:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -4px;
    background:#a4cb66;
    transition: width .5s,left .5s
}

.footer-nav-link:hover:after {
    width: 100%;
    left: 0;
}

.footer-nav a:hover,
.footer-nav a:focus {
    text-shadow: 1px 2px 3px #a4cb66;
    color:#a4cb66;
}
    
// .footer-nav-link {
//     position: relative;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 18px;
//     letter-spacing: -.04em;
//     text-align: center;
//     color:#ae1332;
//     text-transform: capitalize;
//     padding: 7px 8px;
//     transition: color var(--var-2-animation);
// }
    
    
//     .footer-nav-link::after {
//         content: "";
//         // width: 0;
//         // height: 2px;
//         // position: absolute;
//         // right: 0;
//         // bottom: -4px;
//         background: #a4cb66;
//         // color: #a4cb66;
//         transition: width .5s,left .5s;
//         // transition:color var(--var-2-animation),text-shadow var(--var-2-animation);
  
// }

// .footer-nav-link:hover:after {
//     width: 100%;
//     left: 0
// }

// .footer-nav-link:focus {
//   color:#a4cb66;

 
// }
.footer-logo-text{
    color: #ae1332;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
    .footer-socials {
        justify-content: flex-start;
        margin-top: 38px;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-socials {
        justify-content: flex-start;
        margin-top: 0px;
        margin-bottom: 40px;
    }
}



.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    border: 1px solid #AE1332;
    border-radius: 10px;

    transition: background-color var(--var-1-animation);
}

@media only screen and (min-width: 1280px) {
    .footer-socials-link {

        width: 44px;
        height: 44px;}

        
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: rgba(174, 19, 50, 0.1);
}

.footer-socials-img {
    display: block;
    fill: var(--color-bg-red);
}

.footer-contacts {
    max-width: 143px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 14px;

    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    font-style: normal;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .footer-contacts {
        max-width: 180px;
        gap: 20px;

        font-size: 18px;
        line-height: 1.33;
        text-align: start;}
        
        
    }
    
    

    .footer-address {
        display: block;
        width: 162px;
        color: #ae1332;
    }


.footer-contacts-link {
    color: #ae1332;
    transition: color var(--var-1-animation), border var(--var-1-animation);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: #a4cb66;

}