:root {
  --color-black: #000000;
  --color-red: #ae1332;
  --color-green: #a4cb66;
  --color-yellow: #f5ce13;
  --color-white: #ffffff;

  --transition-dur-tfunc: 250ms ease-in-out;
}
.footer-section {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--color-red);
}
.footer-logo-container {
  padding: 0;
}

.footer-image {
  margin-bottom: 20px;
  border-radius: 100px;
}
.footer-image-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-logo-img {
  margin-right: 8px;
  fill: #ae1332;
}
.footer-logo-text {
  color: #ae1332;
  text-align: center;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.footer-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 44px;
}

.footer-nav-link {
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--color-red);
  transition: text-shadow var(--transition-dur-tfunc);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #a4cb66;
}
.footer-social-media {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.footer-socials {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 44px;
  
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-red);
  border-radius: 10px;
  transition: background 250ms linear;
}
.svg {
  fill: var(--color-red);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background: rgba(174, 19, 50, 0.1);
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-contacts-link {
  color:var(--color-red)
  font-family: 'DM Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
}
