
/* Fruicts */

.fruicts-section {
    padding: var(--vertical-padding);
}

.fruicts-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color-white);
    max-width: 624px;
    margin: 0 auto;
    padding-bottom: 16px;
}

.fruicts-pharagraf {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--text-color-white);
    max-width: 509px;
    margin: 0 auto;
    padding-bottom: 35px;
}

.fruicts-container-list {
    max-width: 1280px;
    margin: 0 auto;
}

.fruicts-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.fruicts-list-item {
    border-radius: 20px;
    width: 389px;
    height: 465px;
    background-color: beige;
}

.fruits-content-card {
    padding-left: 24px;
}

.card-strawberry {
    background: #f8766b;
}

.card-banana {
    background: #edd251;
}

.card-watermelon {
    background: #9dc262;
}

.card-lime {
    background: #bfd663;
}

.card-apple {
    background: #e93f29;
}

.card-peach {
    background: #db4f4b;
}

.card-plums {
    background: #9b5366;
}

.card-orange {
    background: #f47f4c;
}

.card-kiwi {
    background: #98b37e;
}

.fruits-card-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1875;
    letter-spacing: -0.04em;
    color: var(--text-color-white);
    padding: 64px 0 8px 0;
    margin: 0;
}

.fruicts-pharagraf-card {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    color: var(--text-color-white);
    margin: 0;
    position: absolute;
}



.test1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 251px;
}

/* .umbra {
    position: relative;
    left: 70px;
    bottom: 50px;
} */

.fruicts-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.04em;
    color: #ae1332;
    border-radius: 200px;
    width: 136px;
    height: 48px;
    border-style: none;
    cursor: pointer;
}

.order-button {
    width: 130px;
    height: 130px;
    display: flex;
    margin: 0 auto;
    padding-top: 44px;
    fill: #9dc262;
}

.order-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.04em;
    color: var(--text-color-white);
    transform: rotate(-14deg);
    background: none;
    border-style: none;
    position: relative;
    bottom: 75px;
    left: 10px;
}

.other-button-container {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.order-icon {
    position: relative;
    bottom: 60px;
    fill: var(--text-color-white);
    left: 13px;
    transform: rotate(-15deg);
}

.hover-content {
    width: 114px;
    margin: 0 auto;
}

.hover-content:hover .order-button {
    fill: var(--text-color-white);
}

.hover-content:hover .order-icon {
    fill: #9dc262;
}

.hover-content:hover .order-text {
    color: #9dc262;
}
