.order-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 80px;
  height: 80px;
  gap: 4px;
  padding: 26px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.285;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  border-radius: 50%;
  border: none;
  transform: rotate(-14deg);
  background-color: #9dc262;
  cursor: pointer;
  fill: #ffffff;
  transition: 0.2s linear;
}

.order-button:hover,
.order-button:focus {
  transform: scale(1.02);
  box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
  -webkit-box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
  -moz-box-shadow: 0px 0px 12px 5px rgba(84, 3, 3, 0.75);
}
.arrow-down {
  fill: currentColor;
  width: 14px;
  height: 14px;
  gap: 4px;
}
.btn-order-text {
  transform: rotate(-14deg);
  transform-origin: bottom left;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: 'DM Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.fruits-container {
  max-width: 375px;
  padding: 0 20px 80px 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .fruits-container {
    max-width: 768px;
    padding: 0 32px 144px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .fruits-container {
    max-width: 1280px;
    padding-bottom: 150px;
  }
}

.photo {
  background-color: #ae1332;
}
.photo-sec-title {
  color: #ffffff;
  margin-bottom: 14px;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-align: center;
}

.photo-section-text {
  color: #ffffff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  max-width: 547px;
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding-bottom: 44px;
}

.photo-item {
  width: 100%;
  position: relative;
  padding-top: 64px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-radius: 20px;
}

.img-fruit:after {
  display: block;
  position: absolute;
  width: 195px;
  height: 38px;
  left: 70px;
  top: 354px;
  background: #000000;
  mix-blend-mode: exclusion;
  opacity: 0.1;
  filter: blur(13.5914px);
}

@media screen and (min-width: 768px) {
  .img-fruit:after {
    left: 75px;
    top: 374px;
  }
}

@media screen and (min-width: 1280px) {
  .img-fruit:after {
    left: 90px;
    top: 374px;
  }
}

.strawberry {
  background-color: #f8766b;
}

.banana {
  background-color: #edd251;
}

.watermelon {
  background-color: #9dc262;
}

.lime {
  background-color: #bfd663;
}

.apple {
  background-color: #e93f29;
}

.peach {
  background-color: #db4f4b;
}

.plums {
  background-color: #9b5366;
}

.orange {
  background-color: #f47f4c;
}

.kiwi {
  background-color: #98b37e;
}

@media screen and (max-width: 767px) {
  .plums,
  .orange,
  .kiwi {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .kiwi {
    display: none;
  }
}

.photo-fruit-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 4px;
}

.price-btn {
  background: #ffffff;
  border-radius: 200px;
  color: #ae1332;
  width: 121px;
  border: none;
  padding: 12px;
  height: 46px;
  margin-top: 6px;
  transition: background var(--anim-transition),
    transform var(--anim-transition);
}

.price-btn:hover {
  background: #ffffffe6;
  transform: scale(1.03);
}

@media screen and (min-width: 768px) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .photo-item {
    box-sizing: border-box;
    flex-basis: calc((100% - 16px) / 2);
  }

  .price-btn {
    width: 136px;
    height: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .photo-item {
    box-sizing: border-box;
    flex-basis: calc((100% - (24px) * 3) / 3);
  }
}
