@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap');

.header-container {
  background-color: #ffb8ca;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 320px;
  height: 502px;
  margin: 0 auto;
  position: relative;
}
.logo {
  display: inline-block;
  padding-top: 8px;
  padding-left: 20px;
  position: relative;
  z-index: 5;
}
.logo:hover,
.logo:focus {
  transform: matrix(1, 0, 0, -1, 0, 0);
  cursor: pointer;
}

.hero {
  position: relative;
  z-index: 5;
  &__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    width: 218px;
    padding-left: 20px;
    padding-top: 194px;
  }
  &__span {
    color: #d41443;
    font-size: 38px;
  }
}

.hero-grid {
  font-family: 'Dm Sans';
  display: flex;
  gap: 8px;
  padding-left: 20px;
  padding-top: 20px;

  &__link {
    color: #ffffff;
  }
}
.hero-section__button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  left: 20px;
  top: 320px;
  margin-top: 24px;
}
.hero-section__button-product {
  width: 62px;
  height: 24px;
  border: 0;
  margin-left: 20px;
  background: #d41443;
  border-radius: 20px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  z-index: 10;
}

.hero-section__button-made {
  width: 83px;
  height: 24px;
  border: 0;
  background: #ffffff;
  border-radius: 20px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  color: #d41443;
}
.hero-section__button :hover,
.hero-section__button :focus {
  background: #ecebeb;
  color: #d41443;
  cursor: pointer;
}
.big-circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
  position: absolute;
  top: 83px;
  left: 36px;
}
.nav__button {
  display: none;
}

.locations {
  display: none;
}
.left-list {
  display: none;
}
.decorations {
  display: none;
}

.menu {
  display: none;
}

.ice-cream-container {
  width: 171px;
  height: 410px;
  background: transparent url(../images/ice-cream-M.png);
  position: absolute;
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  right: 32px;
  top: 92px;

  animation: fade-in-out 7s infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// Mobile Menu Styles
.mobile-menu-button {
  position: absolute;
  top: 27px;
  right: 20px;
  background: transparent;
  border: none;
  width: 20px;
  padding: 0;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #e17992;
  z-index: 999;
  transform: translateY(-150%);
  transition: transform 1000ms ease-in-out;
  min-width: 300px;
}

.menu-container.is-open {
  transform: translateY(0);
}
.mobile-menu {
  padding-top: 135px;
  display: flex;
  flex-direction: column;

  &__item {
    padding-top: 13px;
    padding-bottom: 11px;
    border: 1px solid #e18298;
    width: 100%;
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    align-items: center;
    color: #ffffff;
    padding-left: 20px;
    &:hover {
      color: #d41443;
      cursor: pointer;
    }
  }
}

.mobile-button {
  font-family: 'DM Sans';
  background: #ffffff;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  color: #d41443;
  gap: 20px;
  padding: 12px 40px;
  width: 186px;
  position: absolute;
  top: 58px;
  left: 58px;
  align-items: center;
  &:hover {
    background-color: #ecebeb;
    cursor: pointer;
  }
}
.mobile-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 32px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
  }
}
// Modal Styles

.modal-form {
  &__products {
    display: flex;
    justify-content: space-evenly;
  }
  &__input {
    width: 250px;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.92;
    letter-spacing: 0.04em;
    color: #907e82;
    border-radius: 10px;
    &--order-modifier {
      width: 50px;
    }
    &:focus {
      border-color: #d41443;
      box-shadow: 0px 1px 3px #d41443;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.04em;
    color: #ffa5ba;
    &--position-modifier {
      align-items: center;
      gap: 15px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 25px;
    gap: 15px;
  }
  &__button {
    align-self: center;
    padding: 10px 40px;

    font-size: 14px;
    line-height: 1.28;
    border-radius: 22px;
  }
}

// Tablet Styles
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    height: 416px;
  }
  .mobile-menu-button {
    top: 46px;
    right: 220px;
  }
  .nav__button--desktop {
    width: 159px;
    height: 44px;
    background-color: #d41443;
    border-radius: 22px;
    border: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    display: flex;
    &:hover {
      background-color: #ecebeb;
      cursor: pointer;
    }
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 32px 0;
  }
  .nav__button {
    align-self: center;
    background: #ffffff;
    border-radius: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d41443;
    gap: 20px;
    padding: 12px 35px;
    width: 160px;
  }
  .hero {
    padding-left: 32px;
    &__title {
      padding-top: 20px;
    }
  }

  .big-circle {
    left: 248px;
    top: 43px;
  }

  .ice-cream-container {
    width: 143px;
    height: 336px;
    background: transparent url(../images/ice-cream-T.png);
    left: 100px;
    top: 80px;
  }

  .locations {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 94px;
    right: 42px;
    z-index: 1;

    &__number {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 1.14;
      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #d41443;
      z-index: 1;
    }
    &__name {
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.25;
      text-align: right;
      color: #ffffff;
      padding-bottom: 17px;
    }
  }
  .left-list {
    display: flex;
    padding-left: 32px;
    position: absolute;
    top: 246px;

    &__photo-container {
      width: 152px;
      height: 154px;
      background: transparent url(../images/milk-container-T.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0;
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    &__text {
      width: 114px;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.5;
      color: #ffffff;
      padding-top: 40px;
    }
    &__icon {
      border-radius: 50%;
      width: 18px;
      height: 18px;
      &:hover {
        cursor: pointer;
        transform: rotate(-90deg);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 1000ms;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
          0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      }
    }
  }

  #left-list__text2 {
    display: none;
    padding: 0;
  }

  .decorations {
    display: flex;
    gap: 44px;
    flex-direction: column;
    position: absolute;
    top: 92px;
    right: 32px;
    &__circle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }
  .so-tasty-container {
    width: 190px;
    height: 150px;
    background: transparent url(../images/so-tasty-T.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    position: absolute;
    right: 32px;
    bottom: 1px;
  }
  .modal {
    &__request-services {
      top: 85%;
      width: 450px;
      height: 581px;
    }
  }

  .modal-form__input {
    width: 350px;

    &--order-modifier {
      width: 50px;
    }
  }

  .modal-form__contacts {
    padding-left: 50px;
  }
}

// Desktop Styles
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    height: 664px;
  }
  .menu {
    display: inline-block;
  }
  .menu-toggle {
    display: none;
  }

  .nav {
    display: flex;
    &__grid {
      display: flex;
      gap: 35px;
      align-items: center;
      z-index: 5;
    }
    &__link {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      color: #ffffff;
      &:hover {
        color: #d41443;
        cursor: pointer;
      }
    }
  }
  .hero {
    padding-top: 60px;
    &__title {
      font-size: 38px;
      line-height: 44px;
      width: 277px;
    }
    &__span {
      font-size: 56px;
    }
  }
  .hero-section__button-product {
    width: 107px;
    height: 40px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 18px;
  }

  .hero-section__button-made {
    width: 138px;
    height: 40px;

    font-size: 14px;
    line-height: 18px;
    color: #d41443;
  }
  .big-circle {
    width: 534px;
    height: 534px;
    top: 54px;
    left: 510px;
  }
  .locations {
    top: 156px;
    &__number {
      font-size: 46px;
      line-height: 1.15;
    }
    &__name {
      font-size: 14px;
      line-height: 1.28;
    }
  }
  .decorations {
    top: 152px;
    gap: 62px;
    &__circle {
      width: 30px;
      height: 30px;
    }
  }
  .left-list {
    top: 388px;
    &__photo-container {
      width: 213px;
      height: 216px;
    }
    &__text-container {
      gap: 20px;
    }

    &__text {
      width: 200px;
      font-size: 14px;
      line-height: 1.42;
    }
    &__icon {
      width: 26px;
      height: 26px;
    }
  }
  #left-list__text2 {
    width: 200px;
    font-size: 14px;
    line-height: 1.42;
  }

  .modal {
    &__request-services {
      width: 528px;
      height: 581px;
    }
  }
  .modal-form__input {
    width: 450px;
    &--order-modifier {
      width: 50px;
    }
  }
  .ice-cream-container {
    width: 236px;
    height: 557px;
    background: transparent url(../images/ice-cream-D.png);
    top: 108px;
    left: 315px;
  }
  .left-list__photo-container {
    width: 213px;
    height: 216px;
    background: transparent url(../images/milk-container-D.png);
  }
  .so-tasty-container {
    width: 304px;
    height: 241px;
    background: transparent url(../images/so-tasty-D.png);
    right: 32px;
  }
}

// Responsive background images for retina display

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .ice-cream-container {
    background: transparent url(../images/ice-cream-M@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-cream-container {
    background: transparent url(../images/ice-cream-T@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .left-list__photo-container {
    background: transparent url(../images/milk-container-T@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .so-tasty-container {
    background: transparent url(../images/so-tasty-T@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .ice-cream-container {
    background: transparent url(../images/ice-cream-D@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .left-list__photo-container {
    background: transparent url(../images/milk-container-D@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .so-tasty-container {
    background: transparent url(../images/so-tasty-D@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
