:root {
  --white-bg-text-color: rgba(0, 0, 0, 1);
  --background-color: rgba(174, 19, 50, 1);
  --text-color: rgba(255, 255, 255, 1);
  --green-fruits-card: rgba(164, 203, 102, 1);
  --yellow-fruits-card: rgba(245, 206, 19, 1);
  --red-fruits-card: rgba(174, 19, 50, 1);
  --icons-color: rgba(174, 19, 50, 1);
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-medium: 500;
  --fs-small: 14px;
  --fs-medium: 18px;
  --fs-big: 32px;
  --fs-subtitle: 40px;
  --title-fs: 64px;
}

.nav-container {
  background-color: var(--text-color);
}

.nav-bar-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.mobile-container {
  position: fixed;
  z-index: 999;
  background-color: var(--red-fruits-card);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container.is-open {
  transform: translateX(0);
}

.close-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-bag-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.white-bag {
  fill: #fff;
}

.red-icon {
  fill: var(--red-fruits-card);
}

.icon-menu {
  fill: var(--red-fruits-card);
}
.mobile-nav-logo-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 20px;
  margin-bottom: 124px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 17px 20px;
}

@media (width>=768px) {
  .nav-bar {
    padding: 16px 32px;
  }

  .menu-button {
    display: none;
  }

  .nav-bar-desktop {
    display: flex;
  }

  .mobile-nav-logo-container {
    display: none;
  }

  .nav-menu {
    display: contents;
  }

  .nav-link {
    color: var(--red-fruits-card);
  }

  .bag-button {
    display: block !important;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .bag-button:hover .bag-icon {
    fill: var(--green-fruits-card);
  }

  .mobile-bag-button {
    display: none;
  }

  .bag-icon {
    fill: var(--red-fruits-card);
  }

  .nav-link:hover {
    color: var(--green-fruits-card);
  }

  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--green-fruits-card);
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.25s ease-out;
  }

  .nav-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.nav-link {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  display: block;
  position: relative;
  padding: 3px 0;
  color: #fff;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--red-fruits-card);
}

.logo-link:hover,
.logo-link:focus {
  color: var(--green-fruits-card);
}

.logo-link:hover .red-icon,
.logo-link:focus .red-icon {
  fill: var(--green-fruits-card);
}

.bag-button {
  display: none;
}

.white-bag-icon {
  fill: #fff;
}

/* .bag-button:hover .red-icon {
  fill: var(--green-fruits-card);
} */

.menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-menu {
  fill: var(--red-fruits-card);
}

@media (width>=768px) {
  .nav-bar {
    padding: 16px 32px;
  }

  .menu-button {
    display: none;
  }

  .nav-bar-desktop {
    display: flex;
  }

  .mobile-nav-logo-container {
    display: none;
  }

  .nav-menu {
    display: contents;
  }

  .nav-link {
    color: var(--red-fruits-card);
  }

  .bag-button {
    display: block !important;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-bag-button {
    display: none;
  }

  .bag-icon {
    fill: var(--red-fruits-card);
  }

  .nav-link:hover {
    color: var(--green-fruits-card);
  }

  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--green-fruits-card);
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.25s ease-out;
  }

  .nav-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
