a {
  text-decoration: none;
}

.header {
  background-color: white;
  padding: 16px;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
.header-navbar-menu {
  text-align: left;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  text-decoration: none;
}

.nav-list-item {
  color: #ae1332;
  position: relative;
}

.nav-li {
  color: #ae1332;
}

.nav-list-item::after {
  content: '';
  display: flex;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #a4cb66;
  transform: scale(0);
  transition: transform 0.25s ease-out;
}
.nav-list-item:hover::after {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-list-item:hover {
  color: #a4cb66;
}

// .text-logo:hover{
//     color: #A4CB66;
// }

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ae1332;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.logo-name:hover,
.logo-name:focus {
  color: #a4cb66;
}

.logo-name:hover .icons,
.logo-name:focus .icons {
  fill: #a4cb66;
}

.svghover {
  fill: #a4cb66;
}

.header-logo-h-menu {
  display: flex;
  justify-content: space-between;
}

.butoon-h-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.butoon-h-menu-x {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ae1332;
  width: 24px;
}

.icons {
  fill: #ae1332;
}
.icons:hover,
.icons:focus {
  fill: #a4cb66;
}

@media screen and (width >= 768px) {
  .header-logo-h-menu {
    display: none;
  }
  .icon-h-menu {
    display: none;
  }
  .butoon-h-menu-x {
    display: none;
  }
}

@media screen and (width < 768px) {
  .logo {
    display: none;
  }
  .header-container {
    display: none;
  }
}
