/* Global styles for Header-Hero-Footer */

:root {
  --main-color: #fafafa;
  --text-color: #111111;
  --hover-color: #fd9222;
  --black-color: #1e1823;
  --white-color: #fcf1e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Styles for Desktop */

section {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: var(--text-color);
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.main-background {
  max-width: 1136px;
  height: 600px;
  background-image: url(../images/hero-images/desktop-hero-background.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin: 34px auto 72px auto;
  border-radius: 30px;
}

.main-title {
  color: white;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  word-wrap: break-word;
  padding: 381px 612px 32px 40px;
}

.hero-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 40px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.buy-button {
  width: 144px;
  height: 45px;
  padding: 14px 40px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  word-wrap: break-word;
  background-color: var(--hover-color);
}

.buy-button:hover,
.buy-button:focus {
  background-color: #fcf1e0;
  color: var(--hover-color);
}

.how-button {
  height: 45px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  word-wrap: break-word;
  border: 1px solid white;
  padding: 14px 40px;
  border-radius: 50px;
}

.how-button:hover,
.how-button:focus {
  color: var(--hover-color);
  background-color: white;
  border-color: var(--hover-color);
}

.scroll {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 14px;
}

.scroll:hover,
.scroll:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}

.scroll-down {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 8px;
  fill: var(--hover-color);
}

.scroll-down:hover,
.scroll-down:focus {
  background-color: var(--hover-color);
  fill: white;
}

/* Retina Function */

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-background {
    background-image: url(../images/hero-images/desktop-hero-background@2x.jpg);
  }
}

/* Resize for Tablet */

@media screen and (428px < width < 768px) {
}

/* Resize for Mobile */

@media screen and (max-width: 428px) {
}
