.hero-section {
    position: relative;
}

.hero-title-container{
    position: relative;
}

.hero-title {
color: #FFF;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 100% */
letter-spacing: -2.56px;
text-transform: uppercase;
}

.image-hero-container{
    position: relative;
}


.hero-image {
    border-radius: 500px;
background: #FFF;

}


.hero-image-a{
position: absolute;
}

.hero-image-b{
position: absolute;
}

.hero-button {
    border:none;
    color: #AE1332;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 100% */
letter-spacing: -1.12px;
text-transform: uppercase;
width: 114px;
position: absolute;
border-radius: 70%;
}

.hero-button:hover,
.hero-button:focus
{
    color: #a4cb66;
    transform: rotate(-14deg);
}