@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700;900&family=Titan+One&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
  letter-spacing: 0.04em;
  line-height: 1.5;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.section {
  padding: 30px 20px;
  max-width: 100%;
  margin: 0 auto;
}
.hidden-items {
  display: none;
}
.show-modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  transition: transform 500ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden-modal {
  display: none;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}
:root {
  --pink-bg: #ffb8ca;
  --light-pink-bg: #fff5f6;
  --product-section-bg: #e5e5e5;
  --how-it-is-made-bg: #fff5f6;
  --testimonial-card-bg: #fafafa;
  --brown-bg: #f0d1a5;
  --light-green: #c2e297;
  --mobile-menu-bg: #e17992;
  --red-title-text: rgba(212, 20, 67, 1);
  --pink-text: #ffa5ba;
  --light-brown-text: #907e82;
  --quotation-svg-color: #e1e1e1;
  --red-dot-color: #c7133e;
  --red-svg-home: #d31342;
  --testimonials-btn-color: #d9d9d9;
  --mobile-menu-border: #e18298;
  --white-color: rgba(255, 255, 255, 1);
  --black-color: #000000;
}
.hero-header {
  padding: 8px 20px;
  background-color: var(--pink-bg);
  display: flex;
  justify-content: space-around;
  padding-bottom: 0px;
}
.hero-header-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 502px;
  background-image: url('../images/header/icecream.png'),
    url('../images/header/ellipse-header.png');
  background-size: 175px, 400px;
  background-repeat: no-repeat;
  background-position: center bottom, right center;
}
.hero-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-header_logo-container {
  display: block;
  width: 200px;
  height: 50px;
  flex: 0 0 auto;
}
.icon-header-logo {
  width: 100%;
  height: 100%;
}
.navigation-menu__list {
  flex-direction: row;
  color: var(--white-color);
  font-size: 16px;
  gap: 35px;
  display: none;
  padding: 0 10px;
}
.navigation-menu__list--item {
  display: flex;
  justify-content: space-around;
}
.navigation-menu__list--item:hover,
.navigation-menu__list--item:focus {
  color: var(--red-title-text);
  cursor: pointer;
}
.menu-toggle {
  height: 25px;
  width: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  margin-right: 20px;
  margin-left: auto;
}
.menu-toggle:hover,
.menu-toggle:focus {
  cursor: pointer;
}
.menu-toggle--svg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.buy-button {
  width: 160px;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  line-height: 21px;
  color: var(--red-title-text);
  background-color: var(--white-color);
  border: 1px rgba(0, 0, 0, 0);
  justify-content: space-around;
  align-items: center;
  display: none;
}
.buy-button:hover,
.buy-button:focus {
  cursor: pointer;
  background-color: #ecebeb;
}
.buy-button--svg {
  height: 10px;
  width: 8px;
}
.hero-header-hero-section {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.hero-header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-title-container {
  width: 210px;
  height: 110px;
}
.hero-section--title,
.form-title,
.items-order__title,
.hero-section--title_span {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 29px;
  color: var(--white-color);
  text-transform: uppercase;
}
.hero-section--title_span {
  color: var(--red-title-text);
  font-size: 48px;
  line-height: 46px;
}
.products-button {
  width: 62px;
  height: 24px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 10px;
  color: var(--white-color);
  background-color: var(--red-title-text);
  border: 1px rgba(0, 0, 0, 0);
}
.products-button:hover,
.products-button:focus {
  cursor: pointer;
}
.how-is-made-button {
  width: 82px;
  height: 24px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 10px;
  color: var(--red-title-text);
  background-color: var(--white-color);
  border: 1px rgba(0, 0, 0, 0);
}
.how-is-made-button:hover,
.how-is-made-button:focus {
  cursor: pointer;
  background-color: #ecebeb;
}
.bio-eco-holder {
  display: flex;
}
.text-holder {
  width: 115px;
  height: 50px;
}
.bio-eco-text {
  font-weight: 400;
  font-size: 8px;
  color: var(--white-color);
}
.button-bio-eco {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px rgba(0, 0, 0, 0);
}
.button-bio-eco--svg {
  width: 100%;
  height: 100%;
  fill: var(--red-title-text);
  border-radius: 50%;
}
.bio-eco-image {
  width: 154px;
  height: 154px;
}
.counter__list--item {
  background-image: url('../images/header/ellipseh@2x.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 9px;
}
.counter__list--item-number {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.9;
  color: var(--red-title-text);
}
.counter__list--item-type {
  color: var(--white-color);
  font-weight: 400;
  font-size: 8px;
}
@media (max-width: 767px) {
  .display-none-header {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero-header {
    padding: 32px;
    padding-bottom: 0px;
  }
  .hero-header-hero-section {
    padding-top: 20px;
  }
  .hero-header-container {
    height: 416px;
    background-image: url('../images/header/icecream.png'),
      url('../images/header/tasty.png'),
      url('../images/header/ellipse-header.png');
    background-size: 150px, 250px, 400px;
    background-repeat: no-repeat;
    background-position: bottom center, bottom right, center center;
  }
  .hero-header-left {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 16px;
  }
  .row-breaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buy-button {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .hero-header-container {
    height: 664px;
    max-width: 2000px;
    background-image: url('../images/header/icecream.png'),
      url('../images/header/tasty.png'),
      url('../images/header/ellipse-header.png');
    background-size: 255px, 400px, 580px;
    background-repeat: no-repeat;
    background-position: bottom center, bottom right, center center;
  }
  .hero-header-left {
    justify-content: space-around;
  }
  .header-title-container {
    width: 280px;
    height: 140px;
  }
  .hero-section--title,
  .form-title,
  .items-order__title {
    font-size: 38px;
  }
  .hero-section--title_span {
    font-size: 58px;
  }
  .products-button {
    width: 110px;
    height: 40px;
    font-size: 14px;
  }
  .how-is-made-button {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }
  .bio-eco-image {
    width: 213px;
    height: 216px;
  }
  .text-holder {
    width: 200px;
    height: 80px;
  }
  .bio-eco-text {
    font-size: 14px;
  }
  .button-bio-eco {
    width: 26px;
    height: 26px;
  }
  .counter__list--item {
    background-image: url('../images/header/ellipseh@2x.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .counter__list--item-number {
    font-size: 46px;
    line-height: 0.9;
  }
  .counter__list--item-type {
    font-size: 14px;
  }
  .navigation-menu__list {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
}
.customer-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 2000px;
}
.customer-reviews__image img {
  width: 85px;
  height: 85px;
}
.customer-reviews__text-container {
  background-color: var(--testimonial-card-bg);
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 43px 50px 17px 50px;
}
.underline-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  color: var(--black-color);
  text-align: center;
  background-image: repeating-linear-gradient(
    to top,
    var(--quotation-svg-color),
    var(--quotation-svg-color) 1px,
    transparent 1px,
    transparent 32px
  );
  text-indent: 10px;
  position: relative;
  z-index: 4;
}
.underline-text::before {
  content: url('../images/customer-reviews/quotes.svg');
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -10px;
}
.red-dots-container {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 16px;
}
.red-dots-container .red-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--red-dot-color);
}
.reviewer-name {
  font-weight: 500;
  line-height: 1.85;
  color: var(--black-color);
}
.customer-reviews-btns {
  margin-top: 16px;
  display: flex;
  gap: 18px;
}
.review-btn {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0);
  background-color: var(--testimonials-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-color: rgba(0, 0, 0, 0);
}
.review-btn:hover {
  cursor: pointer;
}
.btn-selected {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}
.review-btn__selected {
  position: absolute;
  fill: var(--red-svg-home);
}
.review-btn__selected:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-bottom: 60px;
    padding-left: 74px;
    padding-right: 74px;
  }
  .customer-reviews__text-container {
    margin-top: 20px;
    margin-bottom: 4px;
  }
  .underline-text {
    font-size: 14px;
    text-indent: 37px;
  }
  .underline-text::before {
    left: -30px;
  }
  .reviewer-name {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .customer-reviews {
    padding: 60px 116px;
  }
  .customer-reviews__text-container {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .reviewer-name {
    font-size: 20px;
  }
  .customer-reviews-btns {
    margin-top: 32px;
  }
}
.products-section {
  max-width: 100%;
  padding: 60px 20px;
  background: var(--product-section-bg);
  display: flex;
  justify-content: center;
  max-width: 2000px;
  margin: 0 auto;
}
.products-section__container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.products__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--pink-text);
  text-align: center;
  font-family: 'Titan One';
  padding-bottom: 15px;
  transition: letter-spacing 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.products__subtitle:hover {
  letter-spacing: 25px;
}
.products__title {
  padding-bottom: 140px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--red-title-text);
  transition: letter-spacing 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.products__title:hover {
  letter-spacing: 30px;
}
.product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 150px;
}
.product__item {
  position: relative;
  flex-basis: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 0 auto;
  border-radius: 24px;
  background-color: var(--pink-text);
  text-align: center;
  position: relative;
  transition: 0.5s;
}
.product__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__produse {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 163px;
  padding-bottom: 32px;
}
.point,
.point::before,
.point::after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--white-color);
  margin: 0 auto;
  position: relative;
}
.point::after {
  content: '';
  position: absolute;
  top: 0;
  left: 12px;
}
.point::before {
  content: '';
  position: absolute;
  top: 0;
  right: 12px;
}
.product__information {
  font-weight: 700;
  font-size: 14px;
  text-align: center center;
  color: var(--white-color);
  padding-top: 32px;
  margin-bottom: 32px;
}
.button-arow {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: auto;
  fill: currentColor;
}
.button-arow:hover {
  cursor: pointer;
}
.button-arow:hover .svg-arow {
  transform: rotate(-90deg);
  transition: 0.4s;
}
.svg-arow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 30px;
  fill: var(--red-title-text);
}
.svg-arow:hover {
  transform: rotate(-90deg);
  transition: 0.7s;
}
.svg-arow:hover .product-info {
  visibility: visible;
}
.product__item:first-child:before {
  content: '';
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(../images/products/prod1-320-min.png);
  background-size: 249px 252px;
  background-color: rgba(0, 0, 0, 0);
}
.product__item:nth-child(2):before {
  content: '';
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(../images/products/prod2-320-min.png);
  background-size: 249px 252px;
}
.product__item:nth-child(3):before {
  content: '';
  position: absolute;
  left: 50%;
  top: -146px;
  transform: translateX(-50%);
  z-index: 60;
  width: 249px;
  height: 252px;
  background-image: url(../images/products/prod3-320-min.png);
  background-size: 249px 252px;
}
.product__item:nth-child(2) {
  background-color: #f0d1a5;
}
.product__item:nth-child(2):hover {
  background-color: #edd3ae;
}
.product__item:nth-child(3) {
  background-color: #c2e297;
}
.product__item:nth-child(3):hover {
  background-color: #ceeba9;
}
.product-info {
  width: 100%;
  height: calc(100% - 90px);
  background-color: var(--light-pink-bg);
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.1);
  z-index: 99;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
  transition: all 300ms ease-in;
  padding: 10px;
}
.product-info img {
  height: 40%;
}
.show-produc-info {
  visibility: visible;
  transform: scale(1);
  transition: all 300ms ease-in;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 399;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms linear, transform 250ms linear;
}
.inner-order-form {
  width: 90%;
  max-width: 350px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e17992;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
}
.inner-order-form form {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.close-modal {
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-modal:hover {
  transform: rotate(360deg);
  transition: all 250ms linear;
}
.close-modal--svg {
  width: 15px;
  height: 15px;
  fill: var(--white-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
.form-title,
.items-order__title {
  text-transform: capitalize;
  font-size: 16px;
  text-align: center;
}
.items-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}
.items-order__title {
  font-size: 14px;
}
.form-products {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 10px;
}
.form-products input {
  width: 100%;
  height: 20px;
  border-radius: 3px;
  border: rgba(0, 0, 0, 0);
  max-width: 120px;
}
.form-products input:hover,
.form-products input:focus {
  outline: 1px solid var(--red-svg-home);
}
.form-products__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 1;
  width: calc((100% - 20px) / 3);
}
.form-products__item img {
  width: 80%;
}
.delivery-info {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}
.input-container {
  height: 25px;
  width: 90%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
}
.input-container:hover,
.input-container:focus-within {
  border: 1px solid var(--red-svg-home);
}
.input-container:hover .modal-form__icon,
.input-container:focus-within .modal-form__icon {
  fill: var(--red-svg-home);
}
.modal-form__icon {
  width: 12px;
  height: 12px;
  fill: var(--pink-text);
  margin: 0 10px;
}
.modal-form__input {
  border: none;
  max-width: 100%;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0);
  color: var(--white-color);
}
.modal-form__input::-moz-placeholder {
  color: var(--pink-text);
}
.modal-form__input::placeholder {
  color: var(--pink-text);
}
.modal-form__input:focus,
.modal-form__input:hover {
  border: none;
  outline: none;
}
.modal-form__label {
  width: 100%;
  font-size: 12px;
  color: var(--white-color);
}
.submit-form-button {
  align-self: center;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  color: var(--red-svg-home);
}
.submit-form-button:hover,
.submit-form-button:focus {
  scale: 1.2;
}
@media screen and (min-width: 768px) {
  .inner-order-form {
    max-width: 600px;
  }
  .input-container {
    height: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
    min-width: 400px;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: var(--mobile-menu-bg);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--white-color);
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: #000;
}
.inner-mobile-menu {
  display: flex;
  flex-direction: column;
}
.buy-button-mobile {
  background-color: var(--white-color);
  width: 210px;
  height: 45px;
  border-radius: 22px;
  color: var(--red-title-text);
  border-color: rgba(0, 0, 0, 0);
  align-self: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.buy-button-mobile svg {
  margin-left: 15px;
}
.buy-button-mobile:hover svg,
.buy-button-mobile:focus svg {
  transform: translateX(10px);
  transition: transform 200ms ease-in;
}
.mobile-menu {
  margin-top: 20px;
}
.mobile-menu__item {
  width: 100%;
  height: 42px;
  font-weight: 700;
  line-height: 2;
  border-top: 1px solid var(--quotation-svg-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
}
.mobile-menu__item a {
  margin-left: 20px;
}
.mobile-menu__item:last-child {
  border-bottom: 1px solid var(--quotation-svg-color);
}
.about {
  max-width: 2000px;
  margin: 0 auto;
  background-color: var(--light-pink-bg);
  padding: 60px 20px 0 20px;
  background-image: url('../images/about/milk320.png');
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: 70% 90%;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .about {
    background-image: url('../images/about/milk320@2x.png');
  }
}
.about__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 32px;
  padding-bottom: 40px;
}
.about__label {
  color: var(--pink-text);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  font-family: 'Titan One';
  margin-bottom: 15px;
  transition: letter-spacing 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.about__label:hover {
  letter-spacing: 25px;
}
.about__title {
  color: var(--red-title-text);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Titan One';
  margin: 0 auto;
  padding: 0 36px 0 44px;
  transition: letter-spacing 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.about__title:hover {
  letter-spacing: 30px;
}
.about__image-container {
  max-width: 501px;
}
.about__image {
  display: block;
  width: 100%;
  height: auto;
  animation: animateCow45 linear 8000ms infinite;
}
.about__content {
  max-width: 463px;
}
.about__text-abstract {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.76;
  color: var(--black-color);
  margin-bottom: 26px;
}
.about__text,
.about__text-extra,
.about__text-more {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.76;
  color: var(--light-brown-text);
}
.about__text-extra {
  margin-bottom: 20px;
  margin-top: 17px;
}
.about__text-more {
  display: none;
}
.about__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 13.62px;
  background-color: var(--white-color);
  color: var(--red-title-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button:hover {
  background-color: var(--product-section-bg);
  font-size: 16px;
}
#more {
  display: none;
}
@media screen and (min-width: 768px) {
  .about {
    padding-right: 34px;
    padding-left: 32px;
    background-image: none;
  }
  .about__title {
    font-size: 48px;
  }
  .about__label {
    font-size: 26px;
  }
  .about__inner {
    flex-direction: row;
    background-image: none;
    gap: 32px;
    margin-top: 40px;
    padding-bottom: 60px;
  }
  .about__image-container {
    flex-basis: 50%;
  }
  .about__content {
    flex-basis: 50%;
  }
  .about__text-abstract,
  .about__text,
  .about__text-extra,
  .about__text-more {
    font-size: 14px;
  }
  .about__text-extra {
    margin-bottom: 40px;
  }
  .about__button {
    font-size: 16px;
    line-height: 1.31;
  }
  .about__button:hover {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-left: 16px;
    background-image: url('../images/about/milk1280.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url('../images/about/milk1280@2x.png');
  }
}
@media screen and (min-width: 1280px) {
  .about__inner {
    gap: 99px;
  }
}
@media screen and (min-width: 1280px) {
  .about__content {
    padding-top: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    line-height: 1.13;
  }
}
@media screen and (min-width: 1280px) {
  .about__label {
    font-size: 30px;
    line-height: 1.13;
  }
}
@media screen and (min-width: 1280px) {
  .about__text,
  .about__text-extra,
  .about__text-more {
    line-height: 1.94;
  }
}
@media screen and (min-width: 1280px) {
  .about__text-abstract {
    font-size: 16px;
  }
}
@keyframes animateCow45 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.advantages {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  background-color: var(--light-pink-bg);
}
.advantages__inner {
  flex-basis: 480px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding: 0 32px;
  }
  .advantages__inner {
    flex-basis: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    padding: 0 16px;
  }
  .advantages__inner {
    flex-basis: 1280px;
  }
}
.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 32px;
}
.advantages-list__item {
  position: relative;
  padding-top: 50px;
}
.advantages-list__item--first::before {
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  animation: animate360 linear 3000ms infinite;
}
@media screen and (max-device-pixel-ratio: 2),
  screen and (-webkit-max-device-pixel-ratio: 2),
  screen and (max-resolution: 192dpi),
  screen and (max-resolution: 2dppx) {
  .advantages-list__item--first::before {
    background-image: url('../images/advantages/firstitem@1x.png');
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .advantages-list__item--first::before {
    background-image: url('../images/advantages/firstitem@2x.png');
  }
}

.advantages-list__item--second::before {
  background-image: url('../images/advantages/seconditem@1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  animation: animate360 linear 3000ms infinite;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .advantages-list__item--second::before {
    background-image: url('../images/advantages/seconditem@2x.png');
  }
}

.advantages-list__item--third::before {
  background-image: url('../images/advantages/thirditem@1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  animation: animate360 linear 3000ms infinite;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .advantages-list__item--third::before {
    background-image: url('../images/advantages/thirditem@2x.png');
  }
}

/* Modal */

.close-contacts-modal,
.close-map-modal {
  border-radius: 50%;
  background-color: var(--white-color);
  border: 2px solid var(--pink-text);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: var(--pink-bg);
  cursor: pointer;
}
.close-contacts-modal:hover,
.close-map-modal:hover {
  transform: scale(1.25);
  transition: all 0.3s linear;
  background: var(--pink-text);
}
.close-contacts-modal,
.close-map-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}
.map {
  width: 100%;
  height: 300px;
}
.map-modal__border {
  border: 2px solid var(--pink-text);
  margin-bottom: 10px;
  margin-top: 30px;
  width: 100%;
  height: 310px;
}
.contacts-modal {
  padding: 30px 30px;
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.contacts-modal__inner,
.map-modal__inner {
  width: 328px;
  height: 581px;
  box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  -webkit-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  -moz-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
}
.close-icon {
  fill: var(--red-title-text);
}
.close-icon:hover {
  fill: var(--white-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 40px;
  padding: 10px;
  color: var(--red-title-text);
  max-width: auto;
}
.request-form {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: var(--red-title-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.request-form :hover,
.request-form:focus {
  fill: var(--red-title-text);
}
textarea:focus,
textarea:hover,
.request-form label input:focus,
.request-form label input:hover {
  border: 1px solid var(--red-title-text);
}
.request-form label input {
  padding-left: 40px;
  border: 1px solid var(--pink-text);
  border-radius: 4px;
  cursor: pointer;
}
input {
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: 40px;
  margin-top: 4px;
}
textarea {
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 30px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid var(--pink-text);
  border-radius: 4px;
  cursor: pointer;
  color: currentColor;
}
.contacts-request-btn {
  border-radius: 22px;
  border: 2px solid var(--pink-text);
  font-size: 16px;
  text-align: center;
  width: auto;
  padding: 2px 20px;
  height: 30px;
  background: var(--white-color);
  color: var(--red-svg-home);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-request-btn:hover,
.contacts-request-btn :focus {
  cursor: pointer;
  transform: scale(1.25);
  transition: all 0.3s linear;
  background: var(--pink-text);
  color: var(--white-color);
}
.map-modal__inner {
  padding: 30px 30px;
  margin: 0 auto;
  max-width: 381px;
  box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  -webkit-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
  -moz-box-shadow: 0px 1px 27px 2px rgba(212, 20, 67, 0.44);
}
.modal-p {
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: var(--red-title-text);
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .contacts-modal__inner,
  .map-modal__inner {
    width: 450px;
    height: 609px;
  }
  .map-modal__inner {
    max-width: 450px;
  }
  input {
    width: 370px;
  }
  textarea {
    width: 370px;
    height: 120px;
  }
  .modal-title {
    font-size: 25px;
    letter-spacing: 0.04em;
    padding: 30px 40px;
  }
  .modal-p {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-contacts {
    padding-bottom: 40px;
  }
  .contacts-modal__inner,
  .map-modal__inner {
    width: 528px;
    height: 681x;
  }
  .map-modal__inner {
    max-width: 528px;
  }
  input {
    width: 448px;
  }
  textarea {
    width: 448px;
  }
}
.contacts-modal__inner,
.map-modal__inner {
  background-color: var(--light-pink-bg);
  width: 80%;
  border-radius: 20px;
  position: relative;
}
.map-modal__inner {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contacts-modal__inner,
  .map-modal__inner {
    width: -moz-fit-content;
    width: fit-content;
  }
  .map-modal__inner {
    width: 60%;
  }
}
