// .hero-section {
//     position: relative;

// }

.hero-title-container{
    position: relative;
}

.hero-title {
    // width: 898px;
    position: absolute;
    margin-top: 64px;
color: #FFF;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 100% */
letter-spacing: -2.56px;
text-transform: uppercase;
z-index: 1;
}

.image-hero-container{
    margin: 0;
    bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.hero-image {
    border-radius: 500px;
background: #FFF;
margin: auto;
display: block;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-top: 122px;
}


.hero-image-a{
position: absolute;
top: 0;
margin: 0;
margin-top: 191px;
width: 183.21px;
transform: rotate(20deg);

}

.hero-image-b{
position: absolute;
top: 0;
right: 0;
margin: 0;
margin-top: 69px;
width: 120px;
flex-shrink: 0;
}

.hero-button {
    border:none;
    color: #AE1332;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 100% */
letter-spacing: -1.12px;
text-transform: uppercase;
width: 114px;
height: 114px;
border-radius: 50%;
transform: rotate(-14deg);

}

.hero-button:hover,
.hero-button:focus
{
    color: #a4cb66;
    transform: rotate(-42deg);
}
.hero-link-button{
    display: flex;
    position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.hero-cards-container{
    display: flex;
    justify-content: space-between;
    position:relative;
    top: 400px;
}

.hero-card-description {
    width: 278px;
    color: #FFF;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
}

.hero-card-title{
    margin-top: 28px;
    width: 24px;
    color: #FFF;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
letter-spacing: -0.48px;
}

.hero-card-text{
    margin-top: 17px;
    width: 155px;
    color: #FFF;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 14px; /* 116.667% */
letter-spacing: -0.48px;
text-transform: uppercase;
}

.hero-card-list {
    margin-top: 44px;
    display: inline-flex;
align-items: flex-end;
justify-content: flex-end;
gap: 8px;
flex-wrap: wrap;
width: 300px;

}

.hero-card-container-left {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 249px;
    height: 387px;
    flex-shrink: 0;
    border-radius: 500px;
background: #A4CB66;
}

.hero-card-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 249px;
    height: 387px;
    flex-shrink: 0;
    border-radius: 500px;
background: #F5CE13;

}

.li-card {
    color: #FFF;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 14px; /* 116.667% */
letter-spacing: -0.48px;
text-transform: uppercase;
border-radius: 1000px;
border: 1px solid #FFF;
padding: 12px 32px;
}

.hero-container-left {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 37px;
}

.hero-container-right {
    position: relative;
    display: flex;
    flex-direction: column;
   
}


@media screen and (width < 768px) {
.hero-cards-container {
    display: block;
}

.hero-container-left {
    align-items: center;
}

.hero-container-right {
    flex-direction: column-reverse;
    gap: 44px;
}

.hero-card-container-right {
    align-items: center;

}

.hero-card-list {
    align-items: center;
    justify-content: center;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
}

.hero-title {
    width: 335px;
    color: #FFF;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: "DM Sans";
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 100% */
letter-spacing: -1.12px;
text-transform: uppercase;
}

.hero-image{
    margin-top: 200px;

} 

}

@media screen and (width >= 768px) {

}

@media screen and (width < 1158px) {
    .image-hero-container{
 
        position: relative;
    }
    .hero-cards-container{
        top: 0;
        padding-left: 32px;
        padding-right: 32px;
    }

.hero-title {
    position: relative;
}

.hero-container-right {
    align-items: center;
}
    
}

@media screen and (width >= 1158px) {
    .image-hero-container{
 
        position: absolute;
    }
}