@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --white-text-color: #ffffff;
  --red-text-color: #d41443;
  --cream-text-color: #ffa5ba;
  --black-text-color: #000000;
  --gray-text-color: #907e82;
  --light-pink-color: #fff5f6;
  --products-first-color: #ffb8ca;
  --yellow-color: #f0d1a5;
  --green-color: #c2e297;
  --footer-btn-red-color: #d41342;
  --modal-color: #e17992;
  --icon-color: #fea5bb;
  --font-main: "Titan One", "sans-serif";
  --font-secondary: "DM Sans", "sans-serif";
}

.gallery {
  background: linear-gradient(to bottom, var(--light-pink-color) 20%, var(--white-text-color) 20%);
  padding-bottom: 60px;
  width: 100%;
}

.gallery-container {
  padding: 0 20px;
}

.gallery-row {
  align-items: center;
  display: flex;
  gap: 3px;
  justify-content: center;
  margin: 0 auto;
}

.gallery-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.gallery-image {
  cursor: pointer;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: auto;
}

.gallery-image:hover {
  transform: scale(1.25);
  z-index: 2;
}

.gallery-column-one {
  flex-grow: 1;
}

.gallery-column-two {
  flex-grow: 1;
  padding-top: 5px;
}

.gallery-column-three {
  flex-grow: 2;
}

.gallery-image-five {
  width: 50%;
}

.gallery-column-four {
  flex-grow: 1;
  padding-top: 15px;
}

.gallery-column-five {
  flex-grow: 1;
  padding-bottom: 10px;
}

.gallery-column-six {
  flex-grow: 1;
  padding-top: 5px;
}

/* Fixed button */
.fixedbutton {
  border-radius: 50%;
  border: none;
  bottom: 27px;
  box-shadow: 0 2px 4px var(--red-text-color);
  display: none;
  height: 40px;
  position: fixed;
  right: 20px;
  transition: box-shadow 0.1s linear, transform 0.1s linear;
  width: 40px;
  z-index: 3;
}

.fixedbutton:hover,
.fixedbutton:focus {
  border-radius: 35%;
  cursor: pointer;
  transform: rotate(-90deg);
}

.fixedbutton:active {
  border-radius: 35%;
  box-shadow: 0 0 2px var(--red-text-color);
  transform: translateY(2px) rotate(-90deg);
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-bottom: 120px;
  }
  .gallery-container {
    max-width: 1280px;
    padding: 0 93px;
    margin: 0 auto;
  }
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.new-icon {
  color: rgb(225, 225, 225);
  font-size: 92px;
  position: relative;
  top: 34px;
  left: -44px;
}

.comment-line1,
.comment-line2,
.comment-line3,
.comment-line4,
.comment-line5,
.comment-line6,
.comment-line7 {
  width: 168px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: none;
  height: 0px;
  line-height: 31.2px;
}

.comment-line1 {
  text-align: center;
  letter-spacing: 0.48px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  bottom: 0px;
  top: 0px;
  line-height: 260%;
  height: 21px;
  background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
}

.comment-line2 {
  text-align: center;
  letter-spacing: 0.48px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 10px;
  line-height: 260%;
  height: 21px;
  background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
}

.comment-line3 {
  text-align: center;
  letter-spacing: 0.48px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 20px;
  bottom: 10px;
  line-height: 260%;
  height: 21px;
  background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
}

.comment-line4 {
  text-align: center;
  letter-spacing: 0.48px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 30px;
  bottom: 15px;
  line-height: 260%;
  height: 21px;
  background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
}

.comment-line5 {
  text-align: center;
  letter-spacing: 0.48px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 40px;
  bottom: 10px;
  line-height: 260%;
  height: 21px;
  background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
}

.comment-line6 {
  text-align: center;
  letter-spacing: 0.48px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 50px;
  bottom: 10px;
  line-height: 260%;
  height: 21px;
  background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
}

.comment-line7 {
  text-align: center;
  letter-spacing: 0.48px;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 60px;
  bottom: 10px;
  line-height: 260%;
  height: 21px;
  background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
}

.slideshow-container {
  width: 100%;
  background-color: var(--white-text-color);
  padding-bottom: 60px;
}

.horizontal-line1 {
  display: none;
}

.horizontal-line2 {
  display: none;
}

.comment {
  width: 280px;
  height: 307px;
  background-color: rgb(250, 250, 250);
  display: flex;
}

.comment,
.name {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 30px;
  margin: 0 auto;
}

.comment-review {
  padding-bottom: 144px;
}

.three-red-dots {
  position: relative;
  top: 5px;
  left: 0px;
}

.name-location {
  width: 172px;
  height: 31px;
  color: var(--black-text-color);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 186%;
  top: 16px;
  position: relative;
}

.img-person {
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.img-person-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 20ms ease;
  margin-top: 32px;
}

.active {
  background-color: var(--red-text-color);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.three-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 36px;
}

.tablet-version {
  display: none;
}

.tablet-icon {
  visibility: hidden;
}

.desktop-icon {
  visibility: hidden;
}

.desktop-version {
  display: none;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* tablet section */
@media screen and (min-width: 768px) {
  .new-icon-tablet {
    color: rgb(225, 225, 225);
    font-size: 92px;
    position: relative;
    top: -10px;
    left: -60px;
  }
  .tablet-icon {
    visibility: visible;
  }
  .tablet-version {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
    bottom: 5px;
  }
  .tablet-version-line1 {
    color: var(--black-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.56px;
    font-family: var(--font-secondary);
    font-weight: 500;
    position: relative;
    top: 136px;
    bottom: 10px;
    height: 28px;
    background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
  }
  .tablet-version-line2 {
    color: var(--black-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.56px;
    font-family: var(--font-secondary);
    font-weight: 500;
    position: relative;
    top: 136px;
    bottom: 10px;
    height: 28px;
    background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
  }
  .tablet-version-line3 {
    color: var(--black-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.56px;
    font-family: var(--font-secondary);
    font-weight: 500;
    position: relative;
    top: 136px;
    bottom: 10px;
    height: 28px;
    background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
  }
  .comment-lines {
    display: none;
  }
  .slideshow-container {
    width: 100%;
    background-color: var(--white-text-color);
    padding-bottom: 80px;
    position: relative;
    margin: auto;
  }
  .img-person {
    border-radius: 50%;
    height: 85px;
    position: relative;
    top: 20px;
  }
  .comment,
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .three-red-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    left: 0;
  }
  .comment {
    width: 620px;
    height: 164px;
    background-color: #fafafa;
  }
  .name-location {
    width: 172px;
    height: 38px;
    color: var(--black-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 500;
    line-height: 186%;
    margin-top: 16px;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 20ms ease;
    margin-top: 32px;
  }
  .name-location {
    width: 172px;
    height: 31px;
    color: var(--black-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 500;
    line-height: 186%;
    margin-top: 24px;
  }
  .active {
    background-color: var(--red-text-color);
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
}
.desktop-icon {
  visibility: hidden;
}

.desktop-version {
  display: none;
}

/* desktop section */
@media screen and (min-width: 1280px) {
  .desktop-icon {
    visibility: visible;
  }
  .desktop-version {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
    bottom: 5px;
  }
  .desktop-version-line1 {
    color: var(--black-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.56px;
    font-family: var(--font-secondary);
    font-weight: 500;
    position: relative;
    top: -18px;
    bottom: 10px;
    height: 28px;
    background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
  }
  .desktop-version-line2 {
    color: var(--black-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.56px;
    font-family: var(--font-secondary);
    font-weight: 500;
    position: relative;
    top: -18px;
    bottom: 10px;
    height: 28px;
    background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
  }
  .desktop-version-line3 {
    color: var(--black-text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.56px;
    font-family: var(--font-secondary);
    font-weight: 500;
    position: relative;
    top: -18px;
    bottom: 10px;
    height: 28px;
    background: repeating-linear-gradient(#fafafa, #fafafa 20px, #e1e1e1 20px 21px);
  }
  .new-icon-desktop {
    color: rgb(225, 225, 225);
    font-size: 92px;
    position: relative;
    top: 20px;
    left: -300px;
  }
  .tablet-version {
    display: none;
  }
  .tablet-icon {
    visibility: hidden;
  }
  .slideshow-container {
    width: 100%;
    background-color: var(--white-text-color);
    padding-left: 0;
    padding-bottom: 120px;
  }
  .img-person {
    border-radius: 50%;
    height: 85px;
    position: relative;
    top: 20px;
  }
  .comment,
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-quote {
    position: relative;
    top: 10px;
    left: -390px;
  }
  .three-red-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    left: 0;
  }
  .comment {
    width: 968px;
    height: 138px;
    background-color: #fafafa;
  }
  .name-location {
    width: 172px;
    height: 38px;
    color: var(--black-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 500;
    line-height: 186%;
    margin-top: 16px;
  }
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 20ms ease;
    margin-top: 32px;
  }
  .name-location {
    width: 172px;
    height: 31px;
    color: var(--black-text-color);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 500;
    line-height: 186%;
    margin-top: 24px;
  }
  .active {
    background-color: var(--red-text-color);
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .comment-lines {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */