:root {
    --main-color: #111111;
    --second-color: #1E1823;
    --highlight-color: #FD9222;
    --white-color: #ffffff;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --hover-beige-color: rgba(252, 241, 224, 1);
}

body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -.02em;
    background-color: var(--white-color);
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-bottom: 72px;
}

.container {
    max-width: 335px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; 
}

@import './common';
@import './example';
@import './header_footer.scss'
