:root {
    --DM-Sans-font: 'DM Sans', sans-serif;
    --Titan-font: 'Titan One', sans-serif;
    --red-color: #D41443;
    --white-color: #FFFFFF;
    --pink-color: #FFA5BA;
}
@import "./common";
@import "./advantages";
@import "./buy-modal";
@import "./contacts";
@import "./footer";
@import "./franchise-modal";
@import "./gallery";
@import "./header";
@import "./how-its-made";
@import "./location-modal";
@import "./products";
@import "./reviews";



