@import './_variables'
*
    text-decoration: none
    margin: auto

body
    font-family: 'DM Sans', sans-serif
    font-family: 'Titan One', cursive
header
    height: 664px
    background-color: $pink1
.nav
    display: flex
    justify-content: center

    &__img

        margin-top: 37px
    &__link--pink2
        margin-top: 54px
        color: $pink2
    &__link
        margin-top: 54px
        color: $whithe
    &__button
        width: 159px
        height: 44px
        border: none
        border-radius: 22px
        background-color: $whithe
        text-align: left
        margin-top: 40px
    &__span
        font-family: $font-sans
        font-size: 16px
        line-height: 21px
        font-weight: 700
        margin-left: 37px
        color: $pink2
    &__svg
        margin-left: 12px
