@import './_variables'
*
    box-sizing: border-box
    text-decoration: none
    margin: 0
    padding: 0

body

    font-family: 'DM Sans', sans-serif
    font-family: 'Titan One', cursive

header
    height: 664px
    background: linear-gradient(145deg,$pink1,#7c1d3d)
    background-size: 300% 200%
    position: relative
    animation: BgGradient 6s ease infinite
@keyframes BgGradient
    0%

        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

.nav
    display: flex
    justify-content: space-around
    &__elipse
        position: absolute
        margin-top: 75px
        margin-left: 360px
    &__img
        margin-top: 37px

    &__link--pink2
        margin-top: 54px
        color: $pink2
    &__link
        margin-top: 54px
        color: $whithe
    &__link:hover
        color: $pink2
    &__link--2
        margin-top: 54px
    &__button
        width: 159px
        height: 44px
        border: none
        border-radius: 22px
        background-color: $whithe
        text-align: left
        margin-top: 40px
    &__span
        font-family: $font-sans
        font-size: 16px
        line-height: 21px
        font-weight: 700
        margin-left: 37px
        color: $pink2
    &__svg
        margin-left: 12px

.ice
    position: absolute
    margin-left: 750px
    margin-top: 17px
.content
    float: left
    position: relative
    margin-top: 74px
    margin-left: 70px

    &__title
        font-family: $font-titan
        font-size: 38px
        line-height: 43.51px
        letter-spacing: 4%
        color: $whithe
    &__title--2
        font-family: $font-titan
        font-size: 38px
        line-height: 43.51px
        letter-spacing: 4%
        color: $pink2
    &__buttons
        margin-top: 24px
    &__button
        width: 107px
        height: 40px
        border: none
        border-radius: 20px
        background-color: $pink2
        font-family: $font-sans
        font-size: 14px
        line-height: 18px
        font-weight: 400
        color: $whithe
        margin-right: 12px
    &__button--whithe
        width: 138px
        height: 40px
        border: none
        border-radius: 20px
        background-color: $whithe
        font-family: $font-sans
        font-size: 14px
        font-weight: 400
        line-height: 18px
        color: $pink2

.group
    margin-left: 1280px

    &__svg
        margin-top: 66px
.group-1
    position: absolute

    &__numbers
        position: absolute

    &__numbers
        font-family: $font-titan
        color: $pink2
        font-size: 46px
        margin-top: 66px
        margin-left: 1248px
    &__numbers--23
        position: absolute
        font-family: $font-titan
        color: $pink2
        font-size: 46px
        margin-top: 36px
        margin-left: 1240px
    &__text
        font-family: $font-sans
        font-size: 14px
        line-height: 18px
        margin-top: 112px
        margin-left: 1248px
        color: $whithe
    &__text--truck
        font-family: $font-sans
        font-size: 14px
        line-height: 18px
        margin-top: 86px
        margin-left: 1230px
        color: $whithe
.group-2

    clear: both
    margin-left: 70px
    &__img
        float: left
        margin-top: 40px

    &__p
        float: left
        margin-top: 110px
        color: $whithe
        font-family: $font-sans
        font-size: 14px
        line-height: 20px

    &__svg
        margin-top: 20px
/* bubbles */
.burbujas
    opacity: .4
    &__burbuja
        bottom: 0
        border-radius: 50%
        position: absolute
        animation: bubbles normal infinite
        animation-duration: 2s
    &__burbuja:nth-child(1)
        width: 40px
        height: 40px
        left: 1%
        animation-duration: 9.1s
        background-color: $whithe
    &__burbuja:nth-child(2)
        width: 80px
        height: 80px
        left: 3%
        animation-duration: 18s
        background-color: $whithe
    &__burbuja:nth-child(3)
        width: 20px
        height: 20px
        left: 8%
        animation-duration: 6s
        background-color: $whithe
    &__burbuja:nth-child(4)
        width: 50px
        height: 50px
        left: 10%
        animation-duration: 5s
        background-color: $whithe
    &__burbuja:nth-child(5)
        width: 70px
        height: 70px
        left: 20%
        animation-duration: 9s
        background-color: $whithe
    &__burbuja:nth-child(6)
        width: 100px
        height: 100px
        left: 28%
        animation-duration: 11s
        background-color: $whithe
    &__burbuja:nth-child(7)
        width: 60px
        height: 60px
        left: 35%
        animation-duration: 9.2s
        background-color: $whithe
    &__burbuja:nth-child(8)
        width: 30px
        height: 30px
        left: 40%
        animation-duration: 5.2s
        background-color: $whithe
    &__burbuja:nth-child(9)
        width: 200px
        height: 200px
        left: 42%
        animation-duration: 7s
        background-color: $whithe
    &__burbuja:nth-child(10)
        width: 100px
        height: 100px
        left: 50%
        animation-duration: 10s
        background-color: $whithe
    &__burbuja:nth-child(11)
        width: 30px
        height: 30px
        left: 55%
        animation-duration: 6s
        background-color: $whithe
    &__burbuja:nth-child(12)
        width: 60px
        height: 60px
        left: 60%
        animation-duration: 5s
        background-color: $whithe
    &__burbuja:nth-child(13)
        width: 20px
        height: 20px
        left: 69%
        animation-duration: 9s
        background-color: $whithe
    &__burbuja:nth-child(14)
        width: 100px
        height: 100px
        left: 72%
        animation-duration: 11s
        background-color: $whithe
    &__burbuja:nth-child(15)
        width: 60px
        height: 60px
        left: 80%
        animation-duration: 9s
        background-color: $whithe
    &__burbuja:nth-child(16)
        width: 20px
        height: 20px
        left: 88%
        animation-duration: 14s
        background-color: $whithe
    &__burbuja:nth-child(17)
        width: 100px
        height: 100px
        left: 90%
        animation-duration: 7s
        background-color: $whithe
    @keyframes bubbles
        0%

        5%
            margin-left: 8px
            transform: translateX(4px)

        10%

            transform: translateX(30px)
        25%
            margin-right: 0px

            transform: translateX(-90px)
        100%

            bottom: 100vh
