@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --dark-pink: #d41443;
  --pink: #ffa5ba;
  --white: #ffffff;
  --black: #000000;
  --grey: #907e82;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: '', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,

ol {
li,
ol,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  outline: 2px solid coral;
}

@media screen and (min-width: 320px) {
  .container {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1050px;
  }
}

.products-text {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 121px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: var(--pink);
}

@media screen and (min-width: 768px) {
  .products-text {
    font-size: 26px;
    line-height: 30px;
  }
}

.products-title {
  margin-bottom: 31px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--dark-pink);
}

@media screen and (min-width: 768px) {
  .products-title {
    font-size: 48px;
    line-height: 55px;
  }
}

@media screen and (min-width: 768px) {
  .products-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products-list {
  position: relative;
}

@media screen and (min-width: 768px) {
  .products-list:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products-list:not(:last-child) {
    margin-right: 24px;
  }
}

.products-content {
  width: 100%;
  max-width: 280px;
  height: 485px;
  margin-top: 130px;
  padding-top: 116px;
  border-radius: 24px;
}

.products-content::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  display: block;
  margin: auto;
  width: 249px;
  height: 252px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .products-content {
    max-width: 220px;
  }
}

.cream {
  background: var(--pink);
}

.cream::before {
  content: '';
  background-image: url("../images/2-products/320-icecream.png");
}

.coffee {
  background: #f0d1a5;
}

.coffee::before {
  content: '';
  background-image: url("../images/2-products/320-ice-coffee.png");
}

.shakes {
  background: #c2e297;
}

.shakes::before {
  content: '';
  background-image: url("../images/2-products/320-milkshakes.png");
}

.products-content-title {
  margin-top: 22px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white);
}

.products-content-title::after {
  content: '...';
  font-size: 26px;
  line-height: 6px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-desc {
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white);
}

.button-products {
  display: inline-block;
  border: none;
  width: 40px;
  height: 40px;
  margin: auto;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
}

.products-icon {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< Updated upstream
  background-color: var(--white);
  border-radius: 50%;


=======
>>>>>>> Stashed changes
}
/*# sourceMappingURL=main.css.map */