/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*Variable*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* :focus {
  outline: none;
}

a {
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Global container-sizes*/
.conteiner, .footer-form, .footer-contact, .bottom-line, .footer-box {
  margin: 0px auto 0px;
}

@media screen and (max-width: 479px) {
  .conteiner, .footer-form, .footer-contact, .bottom-line, .footer-box {
    padding: 42px 15px;
  }
}

@media screen and (min-width: 480px) {
  .conteiner, .footer-form, .footer-contact, .bottom-line, .footer-box {
    max-width: 480px;
    padding: 42px 15px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner, .footer-form, .footer-contact, .bottom-line, .footer-box {
    max-width: 768px;
    padding: 100px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner, .footer-form, .footer-contact, .bottom-line, .footer-box {
    max-width: 1280px;
    padding: 130px 55px;
  }
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.footnote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footnote-line {
  border: none;
  background-color: #303030;
  color: #303030;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  margin-left: 0;
}

.footnote-text, .work-time p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #303030;
}

.section-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (max-width: 1280px) {
  .section-text {
    margin-bottom: 44px;
  }
}

.botton-text, .footer-form button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.footer-contact-text, .footer-contact a, .work-time span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer-soc-text, .bottom-line a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #303030;
}

.label-text, .footer-form input, .footer-form textarea, .footer-input label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
}

/* Global margin*/
h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-button {
  padding: 12px 20px;
  font-family: "Open Sans", sans-serif;
  color: #303030;
  background-color: #ffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
}

.main-button:hover, .main-button:focus {
  background-color: #ff6c00;
  color: #ffff;
}

.button-style, .footer-form button {
  width: 160px;
  height: 40px;
  margin-top: 44px;
  border: 1px solid #ff6c00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

/*Heder conteiner*/
.header.conteiner, .header.footer-form, .header.footer-contact, .header.bottom-line, .header.footer-box {
  padding: 0;
  margin: auto;
}

.conteiner-wrap {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  padding-top: 40px;
  padding-bottom: 0px;
}

@media screen and (max-width: 480px) {
  .conteiner-wrap {
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner-wrap {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner-wrap {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.conteiner-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .conteiner-navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner-navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    --color5: currentColor;
    fill: #303030;
    margin-right: 64px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 71px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 30%;
    max-width: 337px;
    width: 100%;
    height: 796px;
    padding-top: 118px;
    padding-left: 40px;
  }
  .navigation.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .nav {
    margin-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: #303030;
  }
  .nav .menu:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    font-size: 12px;
    line-height: 1.33;
    color: #ffffff;
  }
  .nav .menu:not(:last-child) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .nav .menu:not(:last-child) {
    margin-right: 40px;
  }
}

.nav .nav-item:hover, .nav .nav-item:focus {
  color: #ff6c00;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .nav-link.current {
  color: #ff6c00;
}

/* Contacts Sidebar*/
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .sidebar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: absolute;
    bottom: -220%;
    right: 46%;
    padding-left: 40px;
    max-width: 680px;
    width: 100%;
    max-height: 90px;
    height: 100%;
    font-size: 11px;
    line-height: 1.36;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media screen and (min-width: 1280px) {
  .sidebar {
    position: absolute;
    bottom: -220%;
    right: 66.5%;
  }
}

.sidebar .hero-sid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #303030;
}

@media screen and (max-width: 767px) {
  .sidebar .hero-sid {
    font-size: 14px;
    line-height: 1.36;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar .hero-sid .social:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .sidebar .social {
    margin-right: 40px;
  }
}

.sidebar .sid-item {
  display: block;
}

.sidebar .sid-item:hover, .sidebar .sid-item:focus {
  color: #ff6c00;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Contacts conteiner*/
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 780px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.tel {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .tel {
    font-size: 18px;
    line-height: 1.38;
    margin-bottom: 24px;
    color: #303030;
  }
}

@media screen and (min-width: 1280px) {
  .tel {
    padding-right: 40px;
  }
}

.tel:hover, .tel:focus {
  color: #ff6c00;
  outline: none;
}

/* Button header */
.button-header {
  padding: 12px 20px;
  font-family: Open Sans;
  color: #ffffff;
  background-color: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-header:hover, .button-header:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .button-header {
    color: #303030;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .button-header {
    margin-bottom: 20px;
  }
}

/* Button menu mobile */
.button-menu {
  min-width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu .icon-menu {
  display: none;
}

.button-menu.is-open .icon-menu {
  display: block;
}

.button-menu.is-open .icon-close {
  display: none;
}

@media screen and (max-width: 767px) {
  .button-menu {
    position: absolute;
    z-index: 5;
    right: 5%;
    top: 50%;
  }
}

.button-menu .icon-close {
  fill: #303030;
}

/* Hero */
.hero {
  /* text-align: center;*/
  max-width: 1200px;
  background-color: rgba(157, 164, 189, 0.6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    width: 100%;
    height: 580px;
    padding-top: 208px;
    padding-left: 31px;
    background-image: url("../images/mob-slider3.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mob-slider3@2x.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 3), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 767px) and (min-resolution: 288dpi), screen and (max-width: 767px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/mob-slider3@3x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 680px;
    max-width: 609px;
    width: 100%;
    margin-left: 159px;
    padding-top: 272px;
    padding-left: 120px;
    background-image: url("../images/tabl-slider3.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/tabl-slider3@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/tabl-slider3@3x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1125px;
    width: 100%;
    margin-left: 155px;
    padding-left: 100px;
    background-image: url("../images/desk-slider3.jpg");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/desk-slider3@2x.jpg");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/desk-slider3@3x.jpg");
  }
}

.hero-contents {
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

@media screen and (max-width: 767px) {
  .hero-contents {
    font-size: 11px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .hero-contents {
    font-size: 11px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1280px) {
  .hero-contents {
    font-size: 11px;
    line-height: 1.36;
  }
}

.hero-title {
  font-family: Raleway;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 48px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 48px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-text {
  font-family: Open Sans;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (max-width: 767px) {
  .hero-text {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 181px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 142px;
  }
}

.control {
  display: block;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* text-align: right;*/
  letter-spacing: 0.1em;
  color: #ffffff;
}

.control:hover, .control:focus {
  color: rgba(157, 164, 189, 0.6);
}

/*Slider button*/
.button-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 780px) {
  .button-slider {
    display: none;
  }
}

.slider-back,
.slider-next {
  display: block;
  border: 1px solid #ffffff;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding-bottom: 8px;
}

.slider-back:hover, .slider-back:focus,
.slider-next:hover,
.slider-next:focus {
  border: 1px solid rgba(157, 164, 189, 0.6);
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.slider-back {
  padding-right: 20px;
  margin-right: 26px;
}

.slider-next {
  padding-left: 20px;
}

/*Hero line*/
.hero-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.hero-contents {
  display: inline-block;
}

/*Line styles*/
.hero-hr,
.hero-hr-sid {
  margin-left: 0px;
  border: none;
  width: 60px;
  height: 1px;
}

.hero-hr {
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero-hr-sid {
  margin-right: 40px;
  background-color: #303030;
}

.about-us-section {
  margin: 0 auto;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .about-us-section {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .about-us-section {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-section {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.about-us-pages {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .about-us-pages {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-pages {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
}

.subtitle .icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-name-about {
  margin: 0;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  color: #303030;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-slogan {
  margin: 20px 0;
  font-family: "Raleway", sans-serif;
  color: #303030;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 1280px) {
  .section-slogan {
    font-size: 42px;
    line-height: 1.17;
  }
}

.text-slogan {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #303030;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1280px) {
  .text-slogan {
    font-size: 18px;
    line-height: 1.67;
  }
}

.text-promotion {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  color: #303030;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.about-us-foto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .about-us-foto {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.foto {
  margin-right: 15px;
  height: 100%;
}

@media screen and (max-width: 1279px) {
  .foto {
    display: inline-block;
    width: calc(100% - 15px);
  }
}

@media screen and (min-width: 1280px) {
  .foto {
    display: inline-block;
    width: calc(100% - 30px);
    margin-right: 30px;
  }
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about-us {
    width: calc(50% - 15px);
    margin-left: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    width: calc(50% - 101px);
    margin-left: 34px;
  }
}

.foto-list {
  height: 235px;
  width: 345px;
}

@media screen and (max-width: 1279px) {
  .foto-list:nth-child(1) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .foto-list {
    height: 445px;
    width: 300px;
  }
}

.container {
  margin: 0 auto;
  padding: 84px 31px;
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 130px 55px;
  }
}

.section-name {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.section-title {
  margin-top: 0;
  margin-bottom: 44px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.price-list {
  margin-bottom: 50px;
}

.price-item {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 20px;
  border: 1px solid #FF6C00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .advantages-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .second-container {
    width: 500px;
    height: 213px;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .second-container {
    width: 500px;
    margin-right: 75px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .main-container {
    width: 450px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .main-container {
    width: 370px;
    margin-right: 130px;
  }
}

.list-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  background-color: #f7f7f7;
}

.item-advantages:nth-child(even) {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

@media screen and (max-width: 479px) {
  .item-advantages {
    padding: 15px;
    width: calc((100% - 4 * 15px) / 2);
    height: 133px;
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .item-advantages {
    padding: 20px 35px 20px 35px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.number {
  position: relative;
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.number::after {
  content: url("../images/plus.svg");
  position: absolute;
  bottom: 100%;
  width: 13px;
  height: 22px;
}

.text-sub-number {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.section-command {
  background-color: #f7f7f7;
}

.comand-container {
  margin: 0px auto 0px;
}

@media screen and (max-width: 479px) {
  .comand-container {
    padding: 42px 15px;
  }
}

@media screen and (min-width: 480px) {
  .comand-container {
    max-width: 480px;
    padding: 84px 31px;
  }
}

@media screen and (min-width: 768px) {
  .comand-container {
    max-width: 768px;
    padding: 100px 159px;
  }
}

@media screen and (min-width: 1280px) {
  .comand-container {
    max-width: 1280px;
    padding: 130px 55px;
  }
}

.comand-list {
  margin-top: 44px;
}

@media screen and (min-width: 1280px) {
  .comand-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.comand-item {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1280px) {
  .comand-item:not(:first-child) {
    margin-top: 64px;
  }
}

@media screen and (min-width: 480px) {
  .comand-item {
    width: 418px;
    height: 502px;
  }
}

@media screen and (min-width: 768px) {
  .comand-item {
    width: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .comand-item {
    width: 370px;
  }
  .comand-item:not(:last-child) {
    margin-right: 30px;
  }
}

.section-subtitle.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-transform: none;
  color: #212121;
}

.master-position {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-top: 10px;
  margin-bottom: 0;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mate {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 16px;
}

.mate .mate-item:not(:first-child) {
  margin-left: 10px;
}

.mate .social-links:hover,
.mate .social-links:focus {
  color: #ff6c00;
}

.social-icon {
  fill: currentColor;
}

.mate-item {
  border-radius: 50%;
  background-color: #fff;
  min-width: 44px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  color: #303030;
}

.conteiner-beard {
  margin: 0px auto 0px;
}

@media screen and (max-width: 479px) {
  .conteiner-beard {
    padding: 42px 15px;
  }
}

@media screen and (min-width: 480px) {
  .conteiner-beard {
    max-width: 480px;
    padding: 42px 15px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner-beard {
    max-width: 768px;
    padding: 100px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .conteiner-beard {
    max-width: 1280px;
    padding: 130px 40px;
  }
}

.photo-list {
  margin-top: 44px;
}

@media screen and (min-width: 768px) {
  .photo-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .photo-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .photo-list-item {
    width: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-list-item {
    width: calc((100% - 15px * 8) / 4);
  }
}

.image {
  width: 418px;
  height: 360px;
}

.footer-form {
  background-color: #191c26;
}

.footer-form h2 {
  text-align: center;
  color: white;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .footer-form h2 {
    text-align: left;
  }
}

.footer-form input {
  color: white;
  height: 24px;
  border: none;
  width: 100%;
  margin-top: 44px;
  background-color: #191c26;
}

@media screen and (min-width: 768px) {
  .footer-form input {
    width: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-form input {
    width: 260px;
  }
}

.footer-form textarea {
  color: white;
  width: 100%;
  margin-top: 44px;
  border: none;
  background-color: #191c26;
}

.footer-form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #191c26;
}

@media screen and (min-width: 768px) {
  .footer-form button {
    margin-left: 0px;
  }
}

.footer-form button:hover {
  background: #ff6c00;
}

.footer-input {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.footer-input label {
  position: absolute;
  bottom: 8px;
  left: 0px;
}

.footer-input input:focus + label,
.footer-input input:not(:placeholder-shown) + label {
  color: white;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.footer-input input:focus + .line-input,
.footer-input input:not(:placeholder-shown) + .line-input {
  color: white;
}

.footer-input textarea:focus + label,
.footer-input textarea:not(:placeholder-shown) + label {
  color: white;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.footer-input:hover label {
  color: white;
}

.footer-input:hover .line-input {
  background-color: white;
}

.line-input {
  width: 100%;
  height: 1px;
  background: rgba(157, 164, 189, 0.4);
}

.footer-contact h2 {
  text-align: center;
  color: white;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .footer-contact h2 {
    text-align: left;
  }
}

.footer-contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contact ul {
  margin-top: 40px;
}

.footer-contact li {
  margin-top: 20px;
}

.footer-contact svg {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.work-time {
  margin-top: 44px;
}

.work-time div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-time hr {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.work-time p {
  color: white;
}

.work-time span {
  display: block;
  margin-top: 20px;
}

.bottom-line {
  padding: 44px 31px 79px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-line ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-line li {
  margin-left: 40px;
}

.bottom-line a:hover {
  color: #ff6c00;
}

@media screen and (min-width: 768px) {
  .input-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-box {
  padding: 0px;
}

@media screen and (min-width: 1280px) {
  .footer-box {
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer-form,
  .footer-contact {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contact {
    padding: 100px 39px 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-contact {
    min-width: 625px;
    padding: 130px 100px 130px 100px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    padding: 100px 39px 100px 39px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-form {
    width: 100%;
    padding: 130px 40px 193px 55px;
  }
}

@media screen and (min-width: 768px) {
  .desktop-contact {
    max-width: 1279px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .desktop-contact {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .desktop-contact ul {
    max-width: 1279px;
    width: 330px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .work-time {
    max-width: 1279px;
    margin-left: 30px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .work-time {
    margin-left: 0px;
  }
}

.footer-contact {
  background-size: contain;
  background-image: url(../images/footer-mob480.png);
  background-color: #191c26;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .footer-contact {
    background-image: url(../images/footer-mob480@x2.png);
  }
}

@media screen and (min-width: 768px) {
  .footer-contact {
    background-image: url(../images/footer-tabl768.png);
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer-contact {
    background-image: url(../images/footer-tabl768@x2.png);
  }
}

@media screen and (min-width: 1280px) {
  .footer-contact {
    background-image: url(../images/footer-desk625.png);
  }
}

@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .footer-contact {
    background-image: url(../images/footer-desk625@x2.png);
  }
}
/*# sourceMappingURL=main.css.map */