:root{
    --main-font-family:"DM Sans", sans-serif;
    --main-text-color: #fff;
    --main-color-button:#9DC162;
}

body{
    background-color: #AE1332;
   margin: 0px;
}
.order-button{
    background-color: #fff;
    border: none;
    margin: 50px 50px;
    width: 150px;
    height: 70px;
}
.is-hidden {
    visibilit: hidden;
}
.modal{
    background: rgba(0, 0, 0, 0.20);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.modal-container h2{
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #AE1332;
    text-transform: uppercase; 
    margin: 0px;
    text-align: start;
}
.modal-close-button{
    position: absolute;
    width: 24px;
    height: 24px;
    top:20px;
    right: 20px;
    fill: #AE1332;
    border: none;
    background-color: #fff;
    padding: 0px;
}
.modal-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-conten: center;
    align-item: center;
    margin-top: 40px;
    widt: 295px;
}
.type-of-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.choose-basket{
    position: relative;
    border-radius: 20px;
    padding: 20px;
    width: 295px;
    height: 119px;
    transition: box-shadow var(--anim-transition);
}
.girl-with-banana{
    display: none;
}
.strawberry-basket{
    background-color: #F8766B;
    box-sizing: border-box;
}
.apple-basket{
    background-color: #EDD251;
    box-sizing: border-box;
}
.fruits-basket{
    background-color:#9DC262;
    box-sizing: border-box;
}
.strawberry-basket picture img{
    width: 88px;
    height: 95px;
    position: absolute;
    top:16px;
    right: 20px;
}
.apple-basket picture img{
    width: 109px;
    height: 95px;
    position: absolute;
    top:16px;
    right: 20px;
}
.fruits-basket picture img{
    width: 107px;
    height: 95px;
    position: absolute;
    top:16px;
    right: 20px;
}

.choose-basket input[type=checkbox]{
    opacity: 0;
    
}

   /*Checkbox*/
 .choose-basket input[type=checkbox] + label::before{
    content:"" ;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 14px;
    right: 14px;
    border: 1.5px solid #fff;
    border-radius: 4px;
    cursor: pointer;
 }
 .strawberry-basket input[type=checkbox] + label::before{
   background: #F8766B;
 }
 .apple-basket input[type=checkbox] + label::before{
     background: #EDD251;
 }
 .fruits-basket input[type=checkbox] + label::before{
     background: #9DC262;
 }

.choose-basket input[type=checkbox]:checked + label::after{
     content:"\002714";
     position: absolute;
     width: 16px;
     height: 16px;
     top: 14px;
     right: 14px;
     color: #fff;
     background-size: contain;
     display: flex;
     justify-content: center;
     align-items: center;
}

.choose-basket h3{
    font-family: var(--main-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    color: var(--main-text-color);
    margin: 0px;
}
.choose-basket p{
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align:left;
    color: var(--main-text-color);
    margin: 0px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap:14px;
    margin: 0px;
}
.modal-form input{
    border: 1px solid  rgba(0, 0, 0, .3);
    border-radius: 100px;
    outline: none;
    padding: 18px 0px 18px 24px;
    width: 295px;
    transition: box-shadow var(--anim-transition);
    cursor: pointer;
}
.modal-form textarea{
    height: 132px;
    border: 1px solid  rgba(0, 0, 0, .3);
    border-radius: 20px;
    outline: none;
    padding: 18px 0px 0px 24px;
    width: 295px;
    transition: box-shadow var(--anim-transition);
    cursor: pointer;
}
.modal-form input:focus,.modal-form textarea:focus, .modal-form input:hover, .modal-form textarea:hover{
    background-color: #ae13321a;
    box-shadow: 0 3px 1px #0000001a, 0 2px 1px #00000014, 0 2px 2px #0000001f;
}
.modal-form input::placeholder, .modal-form textarea::placeholder{
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: border: 1px solid rgba(0, 0, 0, 1);
}

.modal-form button{
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--main-text-color);
  background-color: var(--main-color-button);
  padding: 12px 12px 12px 24px;
  width: 92px;
  border: none;
  border-radius: 100px;
}
.modal-form button:focus, .modal-form button:hover{
    border:1px solid var(--main-color-button);
    color: var(--main-color-button);
    background-color: var(--main-text-color);
}


     /*Modal 2*/
.is-hidden-thanks{
    visibility: hidden;
}
.modal2{
    background: rgba(46,47,66,.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: opacity var(--anim-transition),visibility var(--anim-transition);
}
.modal2-container{
    position: relative;
    background-color:rgba(224, 63, 94, 1);
    border-radius: 20px;
}
.modal2-close-button{
    position: absolute;
    width: 24px;
    height: 24px;
    top:12px;
    right: 12px;
    fill:rgba(255, 255, 255, 1);
    border: none;
    background-color:rgba(224, 63, 94, 1);
    padding: 0px;
}
.modal2-container picture img{
    width: 207;
    height: 176px;
}
.modal2-container h2{
  font-family: var(--main-font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: center;
  color:rgba(255, 255, 255, 1);
}
.modal2-container p{
  font-family:var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}




/*  Tablet */
@media screen and (min-width: 768px){
    .modal-container h2{    
       font-size: 40px;
       line-height: 44px;
    }
    .modal-content{
        width: 624px;
    }
    .modal-close-button{
        width: 28px;
        height: 28px;
    }
    .type-of-products {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .choose-basket input[type=checkbox] + label::before{
        width: 20px;
        height: 20px;
    }
    .choose-basket input[type=checkbox]:checked + label::after{
        width: 20px;
        height: 20px;
    }
    .choose-basket {
        width: 200px;
        height: 250px;
    }
    .strawberry-basket picture img{
        width: 133px;
        height: 148px;
        position: absolute;
        top:88px;
        left: 34px;
    }
    .apple-basket picture img{
        width: 172px;
        height: 148px;
        position: absolute;
        top:88px;
        left:14px;
    }
    .fruits-basket picture img{
        width: 172px;
        height: 148px;
        position: absolute;
        top:88px;
        left:14px;
    }
    .modal-form{
        width: 360px;
        display: flex;
        align-items: start;
    }
    .girl-with-banana {
        display: flex;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
   /* Modal 2*/
 .modal2-container picture img{
    width: 278;
    height: 239px;
}
.modal2-container h2{
    font-size: 40px;
    line-height: 44px;
}




}
    

/*  Desktop */
@media screen and (min-width: 1158px){
    .modal-container {
        padding: 40px;
    }
    .modal-content{
        width: 811px;
    }
    .type-of-products {
        gap: 20px;
    }
    .choose-basket{
        width: 257px;
        height: 308px;
    }
    .choose-basket h3{    
        font-size: 24px;
        line-height: 28px;
    }
    .strawberry-basket picture img{
        width: 173px;
        height: 196px;
        top:98px;
        left: 42px;
    }
    .apple-basket picture img{
        width: 229px;
        height: 196px;
        top:98px;
        left:14px;
    }
    .fruits-basket picture img{
        width: 229px;
        height: 196px;
        top:98px;
        left:14px;
    }
    .girl-with-banana {
        display: flex;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }



    
}