.leave-review-btn {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  width: 165px;
  height: 41px;
  color: var(--main-color);
  background-color: #fafafa;
  border: 1px solid;
  border-color: var(--highlight-color);
  border-radius: 100px;
  padding: 12px 28px;
  cursor: pointer;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: var(--white-color);
  background-color: var(--highlight-color);
  transition: color var(--transition), background-color var(--transition),
    border var(--transition);
}

.review-modal-btn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.chocolate-reviews {
  max-width: 335px;
  width: 100%;
  overflow: hidden;
}

.reviewers-list {
  display: flex;
  width: 100%;
}

.reviewers-list li {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 240px;
  margin-top: 40px;
}

.reviewers-list li img {
  position: relative;
  top: 40px;
}

.user-review {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 335px;
  padding: 56px 24px 40px;
  gap: 24px;
  border: 1px solid #1111111a;
  border-radius: 15px;
  background-color: var(--white-color);
  box-shadow: 0px 9.049315452575684px 26.571659088134766px 0px #d7e4f940;
}

.user-review h3 {
  color: var(--main-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.user-review p {
  font-family: Montserrat;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  height: 70px;
}

.slide-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slide-nav label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #1111111a;
  margin: 0 4px;
  transition: all 0.5s ease;
}

input[type='radio'] {
  display: none;
}

#bullet1:checked ~ .slide-nav label.bullet1 {
  width: 35px;
  background: var(--highlight-color);
}

#bullet2:checked ~ .slide-nav label.bullet2 {
  width: 35px;
  background: var(--highlight-color);
}

#bullet3:checked ~ .slide-nav label.bullet3 {
  width: 35px;
  background: var(--highlight-color);
}

#bullet4:checked ~ .slide-nav label.bullet4 {
  width: 35px;
  background: var(--highlight-color);
}

#bullet5:checked ~ .slide-nav label.bullet5 {
  width: 35px;
  background: var(--highlight-color);
}
#bullet6:checked ~ .slide-nav label.bullet6 {
  width: 35px;
  background: var(--highlight-color);
}

#bullet1:checked ~ .slide-nav label.bullet2,
.slide-nav label.bullet3,
.slide-nav label.bullet4,
.slide-nav label.bullet5,
.slide-nav label.bullet6 {
  width: 15px;
}

#bullet2:checked ~ .slide-nav label.bullet1,
.slide-nav label.bullet3,
.slide-nav label.bullet4,
.slide-nav label.bullet5,
.slide-nav label.bullet6 {
  width: 15px;
}

#bullet3:checked ~ .slide-nav label.bullet2,
.slide-nav label.bullet1,
.slide-nav label.bullet4,
.slide-nav label.bullet5,
.slide-nav label.bullet6 {
  width: 15px;
}

#bullet4:checked ~ .slide-nav label.bullet2,
.slide-nav label.bullet3,
.slide-nav label.bullet1,
.slide-nav label.bullet5,
.slide-nav label.bullet6 {
  width: 15px;
}

#bullet5:checked ~ .slide-nav label.bullet2,
.slide-nav label.bullet3,
.slide-nav label.bullet4,
.slide-nav label.bullet1,
.slide-nav label.bullet6 {
  width: 15px;
}

#bullet6:checked ~ .slide-nav label.bullet2,
.slide-nav label.bullet3,
.slide-nav label.bullet4,
.slide-nav label.bullet5,
.slide-nav label.bullet1 {
  width: 15px;
}

#bullet2:checked ~ .reviewers-area {
  margin-left: -335px;
}
#bullet3:checked ~ .reviewers-area {
  margin-left: -670px;
}
#bullet4:checked ~ .reviewers-area {
  margin-left: -1005px;
}
#bullet5:checked ~ .reviewers-area {
  margin-left: -1340px;
}
#bullet6:checked ~ .reviewers-area {
  margin-left: -1675px;
}

@media screen and (min-width: 768px) {
  .chocolate-reviews {
    max-width: 704px;
    overflow: hidden;
    margin-bottom: 100px;
  }

  .user-review {
    width: 360px;
  }

  .reviewers-list {
    display: flex;
    gap: 16px;
  }

  #bullet6 {
    display: none;
  }

  .bullet5,
  .bullet6 {
    display: none;
  }

  #bullet2:checked ~ .reviewers-area {
    margin-left: -360px;
  }
  #bullet3:checked ~ .reviewers-area {
    margin-left: -720px;
  }
  #bullet4:checked ~ .reviewers-area {
    margin-left: -1080px;
  }
  .leave-review-btn {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    width: 222px;
    height: 50px;
    padding: 14px, 40px, 14px, 40px;
  }
}

@media screen and (min-width: 1200px) {
  .chocolate-reviews {
    max-width: 1136px;
    overflow: hidden;
  }

  .user-review {
    width: 360px;
  }

  .reviewers-list {
    display: flex;
    gap: 28px;
  }

  #bullet2:checked ~ .reviewers-area {
    margin-left: -388px;
  }
  #bullet3:checked ~ .reviewers-area {
    margin-left: -776px;
  }
  #bullet4:checked ~ .reviewers-area {
    margin-left: -1164px;
  }
}
