.leave-review-btn {
  width: 165px;
  height: 41px;
  color: var(--main-color);
  background-color: #fafafa;
  border: 1px solid;
  border-color: var(--highlight-color);
  border-radius: 100px;
  padding: 12px 28px;
  position: absolute;
  cursor: pointer;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: var(--white-color);
  background-color: var(--highlight-color);
  transition: color var(--transition), background-color var(--transition),
    border var(--transition);
}

.review-modal-btn {
  display: flex;
  justify-content: center;
}
