section-catalog .title {
    margin-bottom: 40px;
 }
 
 .catalog-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 
 .catalog-item-text {
    margin-bottom: 4px;
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 18px;
 }
 
 .catalog-item-ptice {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
 }
 
 .section-catalog .button {
    display: block;
    margin-left: auto;
    margin-top: 40px;
 }
 
 .catalog-list-item:nth-child(n + 9) {
    display: none;
 }
 
 /* FLIP CARD */
 
 .flip-card {
    background-color: transparent;
    width: 276px;
    height: 325px;
    perspective: 1000px;
 }
 
 .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
 }
 
 .flip-card:hover .flip-card-inner,
 .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
 }
 
 .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .flip-card-back {
    background-color: var(--dark-green-color);
    color: white;
    transform: rotateY(180deg);
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 40px;
 }
 
 .flip-card-back-item {
    width: auto;
 }
 
 .flip-card-title {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
 }
 
 .flip-card-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;
 }
 
 ul.flip-card-text {
    margin-bottom: 0;
 }
 
 @media screen and (min-width: 768px) {
    .catalog-list {
       gap: 40px 32px;
    }
 }
 
 @media screen and (min-width: 768px) and (max-width: 1279px) {
    .flip-card-front img {
       width: 276px;
       height: 274px;
    }
    .catalog-list-item {
       width: 336px;
    }
    .flip-card {
       width: 336px;
       height: 360px;
    }
    .flip-card-back {
       padding: 45px 40px;
    }
 }
 
 @media screen and (min-width: 1280px) {
    .catalog-list {
       gap: 64px 24px;
    }
    .catalog-list-item:nth-child(n + 9) {
       display: block;
    }
    .flip-card-back {
       padding: 20px;
    }
    .section-catalog .title {
       margin-bottom: 64px;
    }
    .flip-card-back {
       padding: 30px 26px;
    }
    .catalog-list-item {
       width: 276px;
    }
 }
 
 @media screen and (max-width: 768px) {
    .flip-card {
       width: 100%;
    }
    .catalog-list-item {
       width: 100%;
    }
    .flip-card-back {
       padding: 32px;
    }
    .flip-card-front img {
       width: 275px;
       height: auto;
    }
 }