/* ------------------------------------GLOBALE--------------------------------- */
h2 {
  color: var(--light-text-color);
  font-family: var(--text-font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.667%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.modal-h2 {
  color: var(--dark-text-color);
}
.modal-h2-orange {
  color: var(--orange-color);
}
p {
  color: var(--light-text-color);
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.28px;
}
.subscribe-button {
  padding: 14px 40px;
  border-radius: 100px;
  background: var(--orange-color);

  color: var(--light-text-color);
  font-family: var(--text-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  width: 172px;
  align-self: center;
  border: none;
}
/* ---------------------------------------------------------------------------- */

.subscribe-section {
  background-image: url('../images/subscribe-images/Subcribe-background-2.jpg');
  background-size: cover;
  display: inline-flex;
  width: 100%;
  padding: 72px 366px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.subscribe-content-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  max-width: 467px;
}
.subscribe-modal {
  position: fixed;
  width: 538px;
  height: 412px;
  border-radius: 15px;
  background: var(--body-color);
}
.subscribe-modal-bottom {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.exit {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 28px;
  background: none;
  border: none;
  color: #fff;
}
.modal-img {
  border-radius: 15px 15px 0 0;
}

.subscribe-email-input {
  display: flex;
  width: 313px;
  height: 52px;
  padding: 14px 24px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 30px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.subscribe-button-modal {
  display: flex;
  width: 137px;
  height: 52px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.subscribe-modal-form {
  display: flex;
  gap: 8px;
}
.is-hidden {
  visibility: hidden;
}

@media screen and (width <= 768px) {
  .subscribe-section {
    background-image: url('../images/subscribe-images/Subcribe-background-tablet.jpg');
  }
}

@media screen and (width < 1080px) {
  .subscribe-section {
    padding: 72px 150px;
  }
}
@media screen and (width <= 480px) {
  .subscribe-section {
    background-image: url('../images/subscribe-images/Subcribe-background-phone.jpg');
    padding: 62px 20px;
  }
  h2 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.6px;
  }

  .subscribe-button {
    padding: 12px 28px;
    font-size: 14px;
    width: 128px;
  }
  .subscribe-modal {
    width: 311px;
    height: 350px;
  }
  .modal-img {
    border-radius: 15px 15px 0 0;
    width: 311px;
    height: 169px;
  }
  .exit {
    top: 14px;
    right: 14px;
  }
  .subscribe-modal-bottom {
    padding: 32px 24px;
    gap: 24px;
  }

  .subscribe-email-input {
    /* width: 263px; */
    height: 45px;
    padding: 14px 18px;
    font-size: 14px;
    letter-spacing: -0.28px;
  }
  .subscribe-button-modal {
    position: absolute;
    right: 24px;
    height: 45px;
  }
}
