.thanks-modal {
    width: 600px;
    height: 545px;
    border-radius: 20px;
    background: #E03F5E;
}


.thx-modal-img {
    width: 278px;
    height: 239px;
    flex-shrink: 0;
}


.thx-modal-title {
    color: #FFF;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
}


.thx-modal-paragraph {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
}