root = true

[*]
indent_style = space
# Если предпочитаете отступы в 4 пробела в html/css/js, заменить тут 2 на 4
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false


[*.{json,md,yaml}]
indent_size = 2