.address__list, .gallery__list, .masters__team-list, .benefits__card-list, .price__list, .about-us__image-list, .barber-shop-social, .social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__sub-title, .gallery__slogan, .masters__slogan, .benefits__slogan, .price__slogan, .about-us__slogan {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  display: flex;
  align-items: center;
}
.contacts__sub-title::before, .gallery__slogan::before, .masters__slogan::before, .benefits__slogan::before, .price__slogan::before, .about-us__slogan::before {
  content: "";
  margin-right: 20px;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.contacts__title, .masters__title, .benefits__title, .price__title, .about-us__title {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (max-width: 400px) {
  .contacts__title, .masters__title, .benefits__title, .price__title, .about-us__title {
    font-size: 32px;
  }
}

.benefits__text, .about-us__text, .about-us__sub-title {
  margin: 0;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #555555;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 31px;
  padding-left: 31px;
  min-width: 280px;
}
@media screen and (max-width: 400px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    padding-right: 39px;
    padding-left: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 55px;
    padding-left: 55px;
  }
}

.anchor {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.record-button {
  display: block;
  min-width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms linear, background-color 250ms linear;
}
.record-button:hover, .record-button:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.record-button--white {
  color: #303030;
}

.social {
  display: flex;
  justify-content: center;
  padding: 0;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #555555;
  transition: color 250ms linear;
}
.social__link:hover, .social__link:focus {
  color: #ff6c00;
}

.social__icons {
  fill: currentColor;
}

.barber-shop-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.barber-shop-social::before {
  content: "";
  margin-right: 40px;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.barber-shop-social__item:not(:last-child) {
  margin-right: 40px;
}

.barber-shop-social__link {
  display: block;
  padding: 20px 0px;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}
.barber-shop-social__link:hover, .barber-shop-social__link:focus {
  color: #ff6c00;
}

.section {
  min-width: 280px;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .about-us__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about-us__image-list {
  display: none;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .about-us__image-list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .about-us__image-list {
    flex-direction: row;
    margin-right: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-us__image-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us__image-item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-us__image {
  max-width: 330px;
}
@media screen and (min-width: 1280px) {
  .about-us__image {
    max-width: 270px;
  }
}

.about-us__title {
  margin-bottom: 20px;
}
@media screen and (max-width: 1279px) {
  .about-us__title {
    font-size: 28px;
    line-height: 1.18;
    max-width: 330px;
  }
}

.about-us__sub-title {
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .about-us__sub-title {
    font-size: 18px;
    line-height: 30px;
  }
}

.about-us__text {
  margin-bottom: 40px;
}

.about-us__button {
  margin-left: 0;
}

.price-thumb {
  max-width: 480px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(17, 19, 25, 0.8) 0%, rgba(17, 19, 25, 0.8) 100%), url(/bg-price-mobile.0d406c4c.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .price-thumb {
    background-image: linear-gradient(90deg, rgba(17, 19, 25, 0.8) 0%, rgba(17, 19, 25, 0.8) 100%), url(/bg-price-mobile@2x.bd3eafc2.jpg);
  }
}
@media screen and (min-width: 481px) {
  .price-thumb {
    max-width: 768px;
    background-image: linear-gradient(90deg, rgba(17, 19, 25, 0.8) 0%, rgba(17, 19, 25, 0.8) 100%), url(/bg-price-tablet.8f92d88d.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .price-thumb {
    background-image: linear-gradient(90deg, rgba(17, 19, 25, 0.8) 0%, rgba(17, 19, 25, 0.8) 100%), url(/bg-price-tablet@2x.babe5ed6.jpg);
  }
}
@media screen and (min-width: 769px) {
  .price-thumb {
    max-width: 100%;
    background-image: linear-gradient(90deg, rgba(17, 19, 25, 0.8) 0%, rgba(17, 19, 25, 0.8) 100%), url(/bg-price-desktop.fe654cc5.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .price-thumb {
    background-image: linear-gradient(90deg, rgba(17, 19, 25, 0.8) 0%, rgba(17, 19, 25, 0.8) 100%), url(/bg-price-desktop@2x.4dcceda4.jpg);
  }
}

.price {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.price__slogan {
  color: #9da4bd;
  opacity: 60%;
}
.price__slogan::before {
  background-color: #9da4bd;
}

.price__title {
  color: #ffffff;
}

.price__list-thump {
  margin-bottom: 50px;
}
@media screen and (max-width: 400px) {
  .price__list-thump {
    padding: 15px;
  }
}
@media screen and (min-width: 401px) and (max-width: 767px) {
  .price__list-thump {
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .price__list-thump {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .price__list-thump {
    padding: 30px 40px;
  }
}
@media screen and (max-width: 1279px) {
  .price__list-thump {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.price__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 400px) {
  .price__list {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .price__list {
    font-size: 18px;
    line-height: 1.66;
  }
}
@media screen and (max-width: 1279px) {
  .price__list:nth-child(1) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .price__list {
    padding: 30px 40px;
  }
  .price__list:nth-child(1) {
    width: 50%;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price__list:nth-child(2) {
    width: 50%;
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price__item {
  display: flex;
  justify-content: space-between;
  color: #9da4bd;
}
.price__item:not(:last-child) {
  margin-bottom: 20px;
}

.price__service-name {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}

.price__service-name::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.price__service-price {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .benefits__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.benefits__text-content {
  max-width: 500px;
}
@media screen and (max-width: 1279px) {
  .benefits__text-content {
    margin-bottom: 44px;
  }
}

.benefits__text {
  font-size: 18px;
  line-height: 1.67;
}

.benefits__card-content {
  display: flex;
  max-width: 450px;
  margin-left: auto;
}
@media screen and (min-width: 1280px) {
  .benefits__card-content {
    margin-left: 0;
  }
}

.benefits__card-list {
  flex-basis: 100%;
}
.benefits__card-list:first-child {
  margin-right: 30px;
  padding-bottom: 35px;
}
.benefits__card-list:last-child {
  padding-top: 35px;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 133px;
  background: #f7f7f7;
}
.benefits__card:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .benefits__card {
    width: 170px;
  }
}

.benefits__card-number {
  margin: 0;
  margin-bottom: 6px;
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits__card-plus {
  position: absolute;
  margin-left: 2px;
  top: 18px;
  font-weight: 600;
  font-size: 16px;
  color: #ff6c00;
}

.benefits__card-text {
  margin: 0;
  max-width: 138px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.masters {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .masters__container {
    width: 528px;
  }
}

@media screen and (min-width: 1280px) {
  .masters__team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px;
  }
}

@media screen and (min-width: 1280px) {
  .masters__team-item {
    margin: 15px;
  }
}

@media screen and (max-width: 1279px) {
  .masters__team-item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.masters__image-thumb {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .masters__image-thumb {
    width: 418px;
    height: 346px;
  }
}
@media screen and (min-width: 768px) {
  .masters__image-thumb {
    width: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .masters__image-thumb {
    width: 370px;
  }
}

.masters__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.masters__name {
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  text-align: center;
}

.masters__position {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  color: #ff6c00;
  text-align: center;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -15px;
}

.gallery__item {
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 4 * 15px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .gallery__image-thumb {
    width: 330px;
    height: 360px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image-thumb {
    width: 270px;
  }
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    object-position: center;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    object-position: left;
  }
}

@media screen and (min-width: 768px) {
  .gallery__item:nth-child(1) .gallery__image {
    object-position: -16px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item:nth-child(1) .gallery__image {
    object-position: -50px;
  }
}

.gallery__item:nth-child(3) .gallery__image {
  object-position: center;
}

.contacts {
  background-color: #191c26;
}
@media screen and (min-width: 1280px) {
  .contacts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__form {
    width: 560px;
    padding: 130px 0px;
    margin-right: 40px;
    margin-left: 55px;
    margin-bottom: auto;
  }
}

.contacts__title {
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (max-width: 412px) {
  .contacts__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 348px) {
  .contacts__title {
    font-size: 34px;
  }
}

.form__top-thumb {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .form__top-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form__field {
  position: relative;
  display: block;
  width: 100%;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
}
.form__field--message {
  margin-bottom: 44px;
}
.form__field:not(:last-child) {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .form__field:not(:last-child) {
    margin-bottom: 44px;
  }
}

.form__input {
  outline: none;
  width: 100%;
  margin: 0;
  padding: 8px 0px;
  background: transparent;
  border: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: rgba(157, 164, 189, 0.4);
  transition: border 250ms linear, color 250ms linear;
}
.form__field:focus-within .form__input {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.form__input--message {
  resize: none;
  height: 76px;
}

.form__label {
  position: absolute;
  pointer-events: none;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: color 250ms linear, transform 250ms linear;
}
.form__field:focus-within .form__label, .form__input:not(:placeholder-shown) + .form__label {
  transform: scale(0);
}
.form__field:focus-within .form__label {
  color: #ffffff;
}
.form__label--message {
  top: 15px;
}

@media screen and (min-width: 768px) {
  .form__button {
    margin-left: 0;
  }
}

.contacts__information-thumb {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.9) 0%, rgba(25, 28, 38, 0.9) 100%), url(/mobile.e6c1285a.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .contacts__information-thumb {
    background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.9) 0%, rgba(25, 28, 38, 0.9) 100%), url(/mobile@2x.717efd09.jpg);
  }
}
@media screen and (min-width: 481px) {
  .contacts__information-thumb {
    max-width: 768px;
    background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.9) 0%, rgba(25, 28, 38, 0.9) 100%), url(/tablet.c4509875.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .contacts__information-thumb {
    background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.9) 0%, rgba(25, 28, 38, 0.9) 100%), url(/tablet@2x.c82497ee.jpg);
  }
}
@media screen and (min-width: 769px) {
  .contacts__information-thumb {
    background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.9) 0%, rgba(25, 28, 38, 0.9) 100%), url(/tablet.c4509875.jpg);
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .contacts__information-thumb {
    max-width: 100%;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .contacts__information-thumb {
    background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.9) 0%, rgba(25, 28, 38, 0.9) 100%), url(/tablet@2x.c82497ee.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .contacts__information-thumb {
    background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.9) 0%, rgba(25, 28, 38, 0.9) 100%), url(/desktop.150277d7.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts__information-thumb {
    background-image: linear-gradient(90deg, rgba(25, 28, 38, 0.9) 0%, rgba(25, 28, 38, 0.9) 100%), url(/desktop@2x.8b1c77c7.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .contacts__information-thumb {
    width: 625px;
    padding: 130px 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__information {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__information {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__address-thumb {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__address-thumb {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__address-thumb {
    margin-bottom: 70px;
    max-width: 270px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 20px;
}

.address__link {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  transition: color 250ms linear;
}
.address__link:hover, .address__link:focus {
  color: #ff6c00;
}
.address__link--email {
  text-decoration: underline;
}

.address__icons {
  margin-right: 16px;
  --color1: currentColor;
}

.address__link-text {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .contacts__worktime {
    flex-basis: 50%;
  }
}

.contacts__sub-title {
  color: #ffffff;
}
.contacts__sub-title::before {
  background-color: #9da4bd;
  opacity: 40%;
}

.contacts__time {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 24px;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 36px 0px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer__copyright p {
  margin: 0;
  margin-left: 6px;
}

.footer__social {
  margin-left: auto;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */