.footer__container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 115px;
    padding-right: 115px;
  }
}
.footer {
  background-color: #fff5f6;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
body {
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
