// .page-header {
//   @extend %container;
// }

.header-container {
  // position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: $mobile-max;
}

.logo {
  @media screen and (max-width: $mobile-max) {
    fill: $primary-white;
  }
}

.site-nav {
  @media screen and (max-width: $mobile-max) {
    display: flex;
    margin-bottom: 113px;
  }
}

.auth-nav {
  & .auth-mob:hover,
  & .auth-mob:focus {
    color: $accent-color;
  }

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 24px;
  }
}

.menu-list {
  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 64px;
  }
}

.menu-item {
  margin-top: 0;

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 24px;
  }
}

.menu-item .link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;

  color: $title-color;
}

.auth-mob {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;

  color: $title-color;
}

.header-btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: transparent;

  border: 1px solid $accent-color;
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33%;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  transform: scale(1);
  transition: transform $timing-animation;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 64px;
  }
}

.menu-links {
  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
}

.menu-links-item {
  margin-top: 0;

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 24px;
  }
}

.menu-links-item:last-child {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 0;
  }
}

.menu-links-item .link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: $title-color;
}

.menu-links-item .link.line {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: $title-color;
  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    border-radius: 2px;
    margin-right: 20px;
    padding: 0;
    background-color: $title-color;
  }
}

.background {
  position: relative;

  padding-bottom: 183px;
  padding-top: 40px;
  padding-left: 31px;
  padding-right: 31px;

  margin-top: 0;
  height: 580px;

  //   margin-left: auto;
  //   margin-right: auto;
  background-color: grey;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(
      to right,
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/header/slider-3-480.jpg),
    url(../images/header/slider-2-480.jpg),
    url(../images/header/slider-1-480.jpg);
}

.content {
  max-width: 306px;
}

.content-subtittle {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;

  color: rgba(157, 164, 189, 0.6);
}

.content-tittle {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: $primary-white;
}

.content-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;

  color: $text-color-2;
}

.side-links {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
}

.slider-nav {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
}

.navigation {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
}

// .line {
//   display: flex;
//   align-items: center;
//   font-weight: 600;
//   font-size: 11px;
//   line-height: 1.07;

//   letter-spacing: 0.1em;
//   //   text-transform: uppercase;

//   color: $title-color;
//   &::before {
//     content: '';
//     display: inline-block;
//     width: 60px;
//     height: 1px;
//     border-radius: 2px;
//     margin-right: 20px;
//     padding: 0;
//     background-color: $title-color;
//   }
// }
