.header-position {
  position: relative;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.container.header {
  position: absolute;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media (min-width: $tablet) {
    padding-top: 37px;
  }
  @media (min-width: $desktop) {
    justify-content: center;
  }
}

.logo {
  @extend %link;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $main-red-color;
  font-family: Titan One;
  font-size: 26px;
  width: 200px;
  height: 100%;
  transition: 250ms;
  &:hover,
  &:focus {
    color: $main-red-color;
    text-decoration: none;
    transform: scale(1.1);
  }
  @media (min-width: $desktop) {
    margin-right: 110px;
  }
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  fill: currentColor;
  background-color: $main-white-color;
  border-radius: 100%;
}

.menu {
  position: relative;
  display: flex;
}
.menu__button {
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 30;
  width: 20px;
  height: 22px;
  outline: none;
  background-color: transparent;
  @media (min-width: $tablet) {
    right: -170px;
    height: 20px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.menu__lines,
.menu__lines::after,
.menu__lines::before {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: $main-red-color;
}

.menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__lines::before {
  content: '';
  top: -6px;
}

.menu__lines::after {
  content: '';
  top: 6px;
}
.menu_active .menu__button,
.menu_active .menu__lines {
  background-color: transparent;
}

.menu_active .menu__lines::before {
  top: 0;
  transform: rotate(45deg);
  background-color: $main-white-color;
}

.menu_active .menu__lines::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: $main-white-color;
}

.menu_active .menu__button {
  position: fixed;
  top: 25px;
  right: 34px;
  z-index: 25;
  transition: 0.4s;
}

.menu__nav {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 20;
  display: flex;
  flex-flow: column;
  padding-top: 60px;
  height: 502px;
  background-color: $menu-background-color;
  overflow-y: auto;
  width: 250px;
  border-bottom-left-radius: 5%;
  transition: 0.5s;
  @media (min-width: $tablet) {
    height: 408px;
  }
  @media (min-width: $desktop) {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    width: auto;
    height: auto;
    padding-top: 0;
    overflow-y: visible;
    flex-flow: row-reverse;
    & .menu__link:not(:last-child) {
      margin-left: 35px;
    }
  }
}

.menu_active .menu__nav {
  right: 0;
}

.menu-list {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.menu-list-item {
  display: flex;
  align-items: center;
  padding-left: 21px;
  height: 42px;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid $modal-input-color;
  &:focus,
  &:hover {
    color: $main-red-color;
  }
  @media (min-width: $desktop) {
    border: none;
  }
}

.menu__link {
  text-decoration: none;
  font-weight: bold;
  color: $main-white-color;
  @media (min-width: $desktop) {
    font-size: 16px;
    border: none;
    padding-left: 0px;
    border-radius: 22px;
    transition: 250ms;
    &:focus,
    &:hover {
      transform: scale(1.1);
    }
  }
}

.menu__link:hover {
  color: $main-red-color;
}

.menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.menu_active .menu__overlay {
  display: block;
}

.buy-now {
  width: 209px;
  height: 44px;
  margin-bottom: 32px;
  margin-left: 21px;
  font-weight: 700;
  font-size: 16px;
  box-shadow: none;
  transition: 250ms;
  &:hover,
  &:focus {
    outline: 0;
    transform: scale(1.1);
    box-shadow: 0px 8px 50px rgba(210, 20, 67, 0.6);
  }
  @media (min-width: $tablet) {
    width: 185px;
  }

  @media (min-width: $desktop) {
    width: 160px;
    margin-left: 110px;
    margin-bottom: 0;
  }
}

.buy-now.tablet {
  margin-bottom: 0;
  margin-left: 30px;
  width: 160px;
  .menu.menu_active + & {
    display: none;
  }

  @media (max-width: $mobile-max) {
    display: none;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}

.buy-now-img {
  width: 6px;
  height: 8px;
  margin-left: 26px;
}

.scrollUp-btn {
  display: none;
  &.show {
    position: fixed;
    z-index: 10;
    right: 15px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: $light-pink-color;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    @media (min-width: $tablet) {
      width: 50px;
      height: 50px;
      right: 10px;
      bottom: 30px;
    }
  }
}

.scrollUp-btn-img {
  width: 80%;
  height: 80%;
  fill: $main-white-color;
}
// модальное окно
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 35;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%) scale(1);
  opacity: 1;
  z-index: 40;
  width: calc(100% - 2 * 15px);
  height: 580px;
  background-color: $main-white-color;
  border-radius: 24px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  line-height: 1.17;
  box-shadow: 0px 8px 50px rgba(210, 20, 67, 0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media (min-width: 480px) {
    width: 450px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-width: $tablet) {
    top: 55%;
    height: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  @media (min-width: $desktop) {
    top: 50%;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
  opacity: 0;
}
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: $main-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
.close-button-img {
  width: 30px;
  height: 30px;
}
.modal-title {
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
  color: $main-red-color;
  font-family: Titan One;
  font-size: 25px;
}
input {
  outline: none;
}
input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

.contacts-input {
  margin-bottom: 20px;
  font-family: DM Sans;
}
.contacts-input-item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.input-title,
.order-form-title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $menu-background-color;
}
.input-title input {
  padding-left: 42px;
  height: 40px;
  border: 1px solid $modal-input-color;
  border-radius: 4px;
  padding-top: 0;
  padding-bottom: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $main-red-color;
    border-color: $main-red-color;
  }
}

.contacts-input-img {
  position: absolute;
  left: 12px;
  top: 32px;
  fill: $modal-input-color;
  height: 12px;
  width: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .input-title input:hover ~ &,
  .input-title input:focus ~ & {
    fill: $main-red-color;
    border-color: $main-red-color;
  }
}
.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

textarea {
  height: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  font-size: 14px;
  border: 1px solid $modal-input-color;
  border-radius: 4px;
  &:hover,
  &:focus {
    fill: $main-red-color;
    border-color: $main-red-color;
  }
  &::placeholder {
    color: $modal-input-color;
  }
}

.order-form-title {
  margin-bottom: 10px;
}
.order-form-item {
  display: block;
  align-items: center;
  padding: 5px;
  color: $modal-input-color;
  font-family: Titan One;
  font-size: 20px;
}

.order-number {
  margin-left: 10px;
  border-color: $modal-input-color;
  border-image: none;
  color: $modal-input-color;
  text-align: center;
  font-size: 15px;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  .order-product:checked + .order-form-item & {
    color: $main-red-color;
  }
}
.order-form-item {
  &::before {
    content: ' ';
    display: inline-block;
    margin-right: 8px;
    width: 15px;
    height: 15px;
    border: 2px solid $modal-input-color;
    border-radius: 2px;
    .order-product:focus + &,
    .order-product:hover + & {
      border: 2px solid $main-red-color;
    }
    .order-product:checked + & {
      background-color: $main-red-color;
      background-image: url(../images/header/icon_check.svg);
      background-size: contain;
      background-origin: border-box;
      border-color: transparent;
    }
  }
  .order-product:checked + & {
    color: $main-red-color;
  }
}

.order-product {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-button {
  background-color: #d41443;
  color: #ffffff;
  display: block;
  border-radius: 20px;
  padding: 10px 15px;
  transition: 250ms;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.5;

  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0px 8px 50px rgba(210, 20, 67, 0.4);
  }
}
.order-product:checked ~ .order-button {
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
}
