.logo {
  text-decoration: none;
  padding: 16px 0;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
  &-studio {
    color: #000000;
  }
  &-footer {
    color: #ffffff;
  }
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    padding: 26px 0;
    margin-right: 60px;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin-left: auto;
    padding: 0px;
    border: none;
    background-color: transparent;
  }
}
