    <div class="developers__content">
        <button class="developers__button">&#10006;</button>
        <h2 class="developers__title">Development team</h2>
        <ul class="developers__list">
            <li class="developers__item">
                <div class="developers__thumb">
                    <img class="developers__foto" src="team/ilona.jpg" alt="Ilona Myronyuk" />
                </div>
                <div class="developers__meta">
                    <h3 class="developers-caption">Ilona Myronyuk</h3>
                    <p class="developers_text">Team Lead</p>
                    <ul class="socials-icon">
                        <li class="socials-icon-item-github">
                            <a href="https://github.com/MyroniukIS" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-icon-item-linkedin">
                            <a href="https://www.linkedin.com/in/ilona-myroniuk-b24672b2/" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="developers__item">
                <div class="developers__thumb">
                    <img class="developers__foto" src="team/tanya.jpg" alt="Tatyana Tuluk" />
                </div>
                <div class="developers__meta">
                    <h3 class="developers-caption">Tatyana Tuluk</h3>
                    <p class="developers_text">Scrum Master</p>
                    <ul class="list socials-icon">
                        <li class="socials-icon-item-github">
                            <a href="https://github.com/ttuluk" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-icon-item-linkedin">
                            <a href="https://www.linkedin.com/in/tatyana-tuluk-255a06211" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="developers__item">
                <div class="developers__thumb">
                    <img class="developers__foto" src="team/artem.jpg" alt="Artem Bilodid" />
                </div>
                <div class="developers__meta">
                    <h3 class="developers-caption">Artem Bilodid</h3>
                    <p class="developers_text">Developer</p>
                    <ul class="list socials-icon">
                        <li class="socials-icon-item-github">
                            <a href="https://github.com/artem-bilodid" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-icon-item-linkedin">
                            <a href="https://www.linkedin.com/in/artem-bilodid/" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="developers__item">
                <div class="developers__thumb">
                    <img class="developers__foto" src="team/oleksandr.jpg" alt="Oleksandr Korniiets" />
                </div>
                <div class="developers__meta">
                    <h3 class="developers-caption">Oleksandr Korniiets</h3>
                    <p class="developers_text">Developer</p>
                    <ul class="list socials-icon">
                        <li class="socials-icon-item-github">
                            <a href="https://github.com/alekskor7" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-icon-item-linkedin">
                            <a href="https://www.linkedin.com/in/oleksandr-korniiets/" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="developers__item">
                <div class="developers__thumb">
                    <img class="developers__foto" src="team/roman.jpg" alt="Roman Ilienko" />
                </div>
                <div class="developers__meta">
                    <h3 class="developers-caption">Roman Ilienko</h3>
                    <p class="developers_text">Developer</p>
                    <ul class="list socials-icon">
                        <li class="socials-icon-item-github">
                            <a href="https://github.com/RomanIlienko" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-icon-item-linkedin">
                            <a href="https://www.linkedin.com/in/roman-ilienko-55799a1bb/" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="developers__item">
                <div class="developers__thumb">
                    <img class="developers__foto" src="team/vlad.jpg" alt="Vladislav Apelganz" />
                </div>
                <div class="developers__meta">
                    <h3 class="developers-caption">Vladislav Apelganz</h3>
                    <p class="developers_text">Developer</p>
                    <ul class="list socials-icon">
                        <li class="socials-icon-item-github">
                            <a href="https://github.com/VladislavApelgants" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-icon-item-linkedin">
                            <a href="https://www.linkedin.com/in/vladislav-apelhants-fullstack-developer/" target="_blank"
                                class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="developers__item">
                <div class="developers__thumb">
                    <img class="developers__foto" src="team/mihail.jpg" alt="Mikhailo Оsipchuk" />
                </div>
                <div class="developers__meta">
                    <h3 class="developers-caption">Mikhailo Оsipchuk</h3>
                    <p class="developers_text">Developer</p>
                    <ul class="list socials-icon">
                        <li class="socials-icon-item-github">
                            <a href="https://github.com/osipm" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-icon-item-linkedin">
                            <a href="https://www.linkedin.com/in/%D0%BC%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE-%D0%BE%D1%81%D1%96%D0%BF%D1%87%D1%83%D0%BA-7a5899223/" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="developers__item">
                <div class="developers__thumb">
                    <img class="developers__foto" src="team/olesay.jpg" alt="Alesia Zuk" />
                </div>
                <div class="developers__meta">
                    <h3 class="developers-caption">Alesia Zuk</h3>
                    <p class="developers_text">Developer</p>
                    <ul class="socials-icon">
                        <li class="socials-icon-item-github">
                            <a href="https://github.com/AlesiaZuk" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-icon-item-linkedin">
                            <a href="https://www.linkedin.com/in/alesia-%C5%BEuk-9392b321a/" target="_blank" class="social-icon-link">
                                <svg class="socials-icon-svg">
                                    <use href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>