
{{#each this}}
<li class="film-card__item">
    <div class="thumb__card">
        <a class="film-card-link" href=""><img src="" alt="" loading="lazy" /></a>
    </div>
    <div class="film-card__info">

        <p class="film-card__name">
            ONCE UPON A TIME... IN HOLLYWOOD
        </p>
      
            <ul class="genre-set">
                {{#each name-property}}
                   <span class="film-info_genre">{{genre}}</span>
                {{/each}} 
            </ul>
    <span class="film-card_year">{{year}}</span>
    </div>
</li>
{{/each}}