<ul class='storage-button'>
  <li class='storage-button__item'>
    <button
      type='button'
      class='storage-button__watched button-orange common-btn button-active'
      id='watched'
    >Watched</button>
  </li>
  <li class='storage-button__item'>
    <button
      type='button'
      class='storage-button__queue button-white common-btn'
      id='queue'
    >Queue</button>
  </li>
</ul>