{{#each this}}
  <li class='splide__slide'>
    <a class='link' href='#'>
      <img
        {{! class='gallery__video'  }}
        src='https://image.tmdb.org/t/p/w300/{{poster_path}}'
        data-source='{{id}}'
        onload='loader.onCardLoaded()'
        onerror='loader.onCardLoaded()'
      />
    </a>
  </li>
{{/each}}