.reviews {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: $tablet) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

.reviews .container {
  outline: 1px solid black;
}

.reviews .list {
  @extend %list;
  text-align: center;
}

.reviews .img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.reviews .text-wrap {
  padding: 30px;
  margin-bottom: 30px;
}

.reviews .text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  text-align: center;

  color: $main-black-color;
}

.reviews .name::before {
  display: block;
  content: '';
  width: 32px;
  height: 4px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  background-color: $main-white-color;
  background-image: url('../images/icons/slider-dots.svg');
}
