$text-color: #555555;
$title-text-color: #303030;
$accent-text-color: #ff6c00;
$white-color: #ffffff;
$background-color: #f7f7f7;

$font-family: 'Open Sans', sans-serif;
$font-style: normal;
$font-weight: 400;
$font-size: 14px;
$line-height: 1.9;
$letter-spacing: 0.02em;
