@media screen and (max-width: 767px) {
  [data-aos-duration] {
    transition-duration: 0s !important;
  }
}

[data-aos='products-card-animation'] {
  transform: rotateY(0);
  transform-origin: right;
  transition-property: transform;

  &.aos-animate {
    transform: rotateY(360deg);
    transform-origin: right;
  }
}

[data-aos='products-card-title-animation'] {
  &.aos-animate {
    animation: products-card-title-animation 1s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

[data-aos='products-card-title-animation-accent'] {
  &.aos-animate {
    animation: products-card-title-animation-accent 1s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

@keyframes products-card-title-animation {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes products-card-title-animation-accent {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

[data-aos='footer-animation'] {
  @media screen and(min-width: 768px) {
    &.aos-animate {
      animation: footer-animation 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }
  }
}

[data-aos='footer-animation-accent'] {
  @media screen and(min-width: 768px) {
    &.aos-animate {
      animation: footer-animation-accent 1s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
    }
  }
}

@keyframes footer-animation {
  0% {
    letter-spacing: 0.05em;
    -webkit-transform: translateZ(400px) translateY(-100px);
    transform: translateZ(400px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes footer-animation-accent {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

[data-aos='bounce-top'] {
  &.aos-animate {
    animation: bounce-top 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

[data-aos='bounce-top'] {
  &.aos-animate {
    animation: bounce-top 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
[data-aos='hero-animation'] {
  transform: scale(1);
}
[data-aos='hero animation'].aos-animate {
  transform: scale(0.5);
}
// Атрибуты которыми задаем параметры анимации элемента
// <div
//     data-aos="fade-up"
//     data-aos-offset="200"
//     data-aos-delay="50"
//     data-aos-duration="1000"
//     data-aos-easing="ease-in-out"
//     data-aos-mirror="true"
//     data-aos-once="false"
//     data-aos-anchor-placement="top-center"
//   >
//   </div>

// Кастомные анимации (просто добавляем data-aos="название анимации")
// Fade animations:

// fade
// fade-up
// fade-down
// fade-left
// fade-right
// fade-up-right
// fade-up-left
// fade-down-right
// fade-down-left
// Flip animations:

// flip-up
// flip-down
// flip-left
// flip-right
// Slide animations:

// slide-up
// slide-down
// slide-left
// slide-right
// Zoom animations:

// zoom-in
// zoom-in-up
// zoom-in-down
// zoom-in-left
// zoom-in-right
// zoom-out
// zoom-out-up
// zoom-out-down
// zoom-out-left
// zoom-out-right

// Значения для data-aos-anchor-placement="top-center"
// Anchor placements:
// top-bottom
// top-center
// top-top
// center-bottom
// center-center
// center-top
// bottom-bottom
// bottom-center
// bottom-top

// Значения для data-aos-easing="ease-in-out"
// Easing functions:
// linear
// ease
// ease-in
// ease-out
// ease-in-out
// ease-in-back
// ease-out-back
// ease-in-out-back
// ease-in-sine
// ease-out-sine
// ease-in-out-sine
// ease-in-quad
// ease-out-quad
// ease-in-out-quad
// ease-in-cubic
// ease-out-cubic
// ease-in-out-cubic
// ease-in-quart
// ease-out-quart
// ease-in-out-quart
