.container {
  max-width: 448px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 84px;
  padding-bottom: 84px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 720px) {
    max-width: 720px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 1200px;
  }
}

ul {
  list-style-type: none;
}

.section-tittle {
  position: relative;
  margin-left: 80px;
  margin-top: 0px;

  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 1.9;
  text-transform: uppercase;

  &::before {
    content: ' ';
    position: absolute;
    width: 60px;
    height: 1px;
    top: 0;
    left: 0;
    transform: translate(-80px, 10px);

    background-color: $tittle-color;
  }

  @media screen and (min-width: 720px) {
    line-height: 1.36;
  }
}
