body {
    background-color: $contrastColor;
    color: $textColor;
    font-family: $textFont;
    letter-spacing: 0.02em;
    // @media screen and (max-width: 479px) {
    //   width: max-content;
    // }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: $tablet - 1px) {
        max-width: 448px;
    }
    @media screen and (min-width: $tablet) {
        width: 720px;
    }
    @media screen and (min-width: $desktop) {
        width: 1200px;
    }
}

.section {
    padding-top: 84px;
    padding-bottom: 84px;
    @media screen and (min-width: $tablet) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}