.container {
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section-tittle {
  position: relative;
  margin-left: 80px;
  margin-top: 0px;

  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 1.9;
  text-transform: uppercase;

  &::before {
    content: ' ';
    position: absolute;
    width: 60px;
    height: 1px;
    top: 0;
    left: 0;
    transform: translate(-80px, 10px);

    background-color: $tittle-color;
  }

  @media screen and (min-width: 720px) {
    line-height: 1.36;
  }
}
