.button_main {
    height: 44px;
    padding:0px;
    margin: 0px;
    padding-left: 37px;
    padding-right: 37px;

    /*добавить тип шрифта и его цвет*/

    border:none;
    border-radius: 22px;
    background-color: #FFFFFF;
}

.button_extra {
    height: 40px;
    padding:0px;
    margin: 0px;
    padding-left: 23px;
    padding-right: 23px;

   /*добавить тип шрифта и его цвет*/

    border-radius: 20px;
    border:none;
    background-color:#FFFFFF;
}


