body  {
  font-family: $font-main-text;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $viewport-breakpoint-1 - 1) {
    padding-left: 31px;
    padding-right: 31px;
  }

  @media screen and (min-width: $viewport-breakpoint-1) {
    width: 480px;
  }

  @media screen and (min-width: $viewport-breakpoint-2) {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (min-width: $viewport-breakpoint-3) {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
