//font 'DM Sans' 400 500 700

$main-font-family: 'DM Sans', sans-serif;
$main-font-weight: 500;

//font 'Titan One' 400
$secondary-font-family: 'Titan One', cursive;

// letter-spacing for both fonts
$letter-spacing: 0.04em;
