%footer-bg {
  @media screen and (max-width: 767px) {
    background-image: url('/images/footer-bg/footer_bg_mob_w480.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/images/footer-bg/footer_bg_mob_w480@2x.png');
    }
  }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: url('/images/footer-bg/footer_bg_tab_w768.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/images/footer-bg/footer_bg_tab_w768@2x.png');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('/images/footer-bg/footer_bg_desk_w625.png');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('/images/footer-bg/footer_bg_desk_w625@2x.png');
    }
  }
}
