@mixin font($size: 42px, $line: 1.17, $weight: 700, $letter: 0.05em) {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: $size;
    line-height: $line;
    font-weight: $weight;
    letter-spacing: $letter;
}

@mixin container($type: 84px) {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $type;
  padding-top: $type;
}
@mixin none ($margin: 0, $padding: 0) {
    text-decoration: none;
    list-style: none;
    margin: $margin;
    padding: $padding;
}