@mixin fw_fs_line-height-calc($fw, $fs, $lh) {
    // переменные для font-size- $fs , line-height - $lh
    $lh-n: $lh * 1000;
    // создаю переменную $lh-n - $lh умноженную на 1000, т.к. я хочу точность до десятитысяных
    $lh-b: $lh-n / $fs;
    // созданная промежуточная переменная $lh-b - в 1000 раз больше искомой, но еще она может быть и иррациональной
    $lh-round: ceil($lh-b);
    // применяю функцию - округление до целых
    $lh-my: $lh-round/1000;
    // возвращаю значение в искомую переменную - округленное , Целое значение превращаю в десятичную дробь с требуемым классом точности,
    // Использую особенности SASS для получения из безразмерной величины - размерную - px 
    font-weight: $fw;  
    font-size: $fs * 1px;
    line-height: $lh-my;
}