@mixin phone {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 688px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1314px) {
    @content;
  }
}

@mixin font($fs, $fw, $lh, $fc, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  font-color: $fc;
  letter-spacing: $ls;
}
