//  @include centeredFlex();"
@mixin centeredFlex(
  $display: flex,
  $align-items: center,
  $justify-content: center
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

// @include transition();
@mixin transition(
  $animation-name: color,
  $animation-duration: $animation-duration,
  $animation-timing-function: $animation-timing-function
) {
  animation-name: $animation-name;
  animation-duration: $animation-duration;
  animation-timing-function: $animation-timing-function;
}

// @include fontStyle();
@mixin fontStyle($weight: 400, $size: 14px, $height: 1.7, $space: 0.03em) {
  font-weight: $weight;
  font-size: $size;
  line-spacing: $space;
}
