%button {
  display: block;
  width: 136px;
  height: 44px;
  @include Roboto(16, 12, 500);
  text-transform: uppercase;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
