%link {
  text-decoration: none;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
%list {
  list-style: none;
  padding: 0;
  margin: 0;
}
