%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: $font-style;
  font-family: $main-font;
  min-width: 62px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
