%three-dots {
    position: relative;
display: block;
 height: 4px;
    width: 4px;
    background-color: #C7133E;
    border-radius: 50%;
    
&::before {
    position: absolute;
    top: 0;
    left: -14px;
        content: "";
        display: block;
        height: 4px;
        width: 4px;
        background-color: #C7133E;
        border-radius: 50%;
        }    
    &::after {
        position: absolute;
        top: 0;
        right: -14px;
        content: "";
        display: block;
        height: 4px;
        width: 4px;
        background-color: #C7133E;
        border-radius: 50%;
          }
}
%line {
// position: absolute;
width: 180px;
height: 0px;
border: 1px solid #E1E1E1;
margin-bottom: 20px;}