%animation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%button {
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 22px;
  border-style: none;
}
