%btn {
  padding: 12px 20px;
  border: 1px solid $color-accent;

  border-radius: 25px;

  font-family: $font-main-text;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  &:hover {
    color: $color-pale;
    background-color: $color-accent;
  }

  &--on-pale {
    color: $color-basic;
  }
  &--on-dark {
    color: $color-pale;
  }
}

%section-title {
  display: inline-flex;
  align-items: center;
  color: $color-basic;
  margin-top: 0px;
  margin-bottom: 20px;

  text-decoration: none;
  font-family: $font-main-text;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: $color-basic;
    border-radius: 4px;
  }
}

%white-section-titles {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 44px;
  margin-left: 39px;
  font-family: $font-titles;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-pale;
}
