.problems {
  &-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $primary-dark-color;
    // height: 545px;

    @media screen and (min-width: 768px) {
      padding-top: 60px;
    }
  }

  &-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.03em;
    color: $primary-background-color;
    margin-bottom: 27px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.308;
      margin-bottom: 25px;
      width: 568px;
    }
  }

  &-container {
    background-color: $primary-background-color;
    padding: 20px 14px 20px 30px;
    @media screen and (min-width: 768px) {
      padding: 30px 46px 26px 96px;
    }
  }

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-item {
    @media screen and (max-width: 767px) {
      width: 326px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 22px) / 2);
      &:nth-child(-n + 2) {
        margin-bottom: 8px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 32px;
      }

      &:nth-child(odd) {
        margin-right: 22px;
      }

      // & {

      // }
    }
  }

  &-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: $accent-color;
    margin-bottom: 5px;
  }

  &-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.714;
    align-items: center;
    letter-spacing: 0.08em;
    color: $primary-dark-color;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  // @media screen and (max-width: 767px) {
  min-width: 280px;
  // }
  @media screen and (min-width: 768px) {
    padding: 0 40px;
    width: 688px;
  }
  @media screen and (min-width: 1314px) {
    padding: 0 183px;
    width: 1314px;
    margin: 0 auto;
  }
}

.accent-word {
  color: $accent-color;
}

// &-section {
//     padding-top: 30px;
//     padding-bottom: 50px;

//     @media screen and (min-width: 768px) {
//       padding-top: 50px;
//     }

//     @media screen and (min-width: 1314px) {
//       padding-top: 96px;
//       padding-bottom: 130px;
//     }
//   }
