.section__subheading,
.section__heading {
  font-family: "Titan One";
  letter-spacing: 0.04em;
  line-height: 1.145;
  text-align: center;
  text-transform: capitalize;
}

.section {
  &__subheading {
    color: #ffa5ba;
    font-size: 18px;
  }

  &__heading {
    color: #d41443;
    font-size: 34px;
    margin-top: 15px;
  }
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .section {
    &--products {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__subheading {
      font-size: 26px;
    }
    &__heading {
      font-size: 48px;
      margin-top: 8px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .section {
    &__subheading {
      font-size: 30px;
    }
    &__heading {
      font-size: 58px;
      letter-spacing: 0.06em;
      margin-top: 16px;
    }
  }
}
