html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $bg-color;
}
body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $mobile;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 31px;
  padding-right: 31px;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.big-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: $font-family;
  font-weight: bold;

  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  justify-content: space-between;
  background-color: $accent-color;
  color: transparent;
  width: 196px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  &:hover,
  &:focus {
    border: 0px;
    outline: 1px solid $accent-color;
  }
}
