.title {
  margin-bottom: 25px;

  font-family: Titan One;
  @include font($fs: 34px, $fw: 400, $lh: 39px);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $accent-color;
}

.subtitle {
  margin-bottom: 15px;

  font-family: Titan One;
  @include font($fs: 18px, $fw: 400, $lh: 21px);
  text-align: center;

  text-transform: uppercase;

  color: $subtitle-text-color;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 40px;
    @include font($fs: 48px, $fw: 400, $lh: 55px);
  }

  .subtitle {
    @include font($fs: 26px, $fw: 400, $lh: 30px);
  }
}

@media screen and (min-width: 1280px) {
  .title {
    margin-bottom: 50px;
    @include font($fs: 58px, $fw: 400, $lh: 66px);
    letter-spacing: 0.06em;
  }

  .subtitle {
    @include font($fs: 30px, $fw: 400, $lh: 34px);
    letter-spacing: 0.04em;
  }
}
