$accent-color: #d41443;

$light-accent-text-color: #ffa5ba;

$white-text-color: #ffffff;
$black-text-color: #000000;
$gray-text-color: #907e82;

$hero-background-color: #ffb8ca;
$main-background-color: #ffffff;
$secondary-background-color: #fff5f6;

$ice-cream-background-color: #ffb8ca;
$ice-coffee-background-color: #f0d1a5;
$milkshakes-background-color: #c2e297;

$footer-icons-color: #fea5bb;

$button-hover-color: #ecebeb;
$button-second-color: #c7133e;

// хто  буде робити  hover,focus то це для анімації
$cubic-bezier: (0.4, 0, 0.2, 1);
$primari-transition-duration: 250ms;

// це розміри сторінки
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1280px;
