:root {
  --text-font: 'DM Sans', sans-serif;
  --title-font: 'Titan One', cursive;

  --bg-hero: #ffb8ca;
  --bg-color-light: #fff5f6;
  --bg-color-mobile-menu: #e17992;
  --bg-ice-cream: #ffb8ca;
  --bg-ice-coffee-cafe: #f0d1a5;
  --bg-milkshakes-foodtruck: #c2e297;
  --bg-feedback: #fafafa;

  --main-dark-color: #d41443;
  --text-color-dark-bg: #ffffff;
  --text-color-dark: #000000;
  --text-color-light: #907e82;

  --hover-light-bg-btn: #ecebeb;
  --hover-dark-bg-btn: #c7133e;
  --color-social-link: #fea5bb;
  --label-color: #ffa5ba;
  --schedule-text-color: #ffa5ba;
  --border-color: #e1e1e1;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
