$bg-main: #FFEDDE;
$bg-main-ligth: #FFF5EC;

$frame-bg:#FDEBDC;
$bg-white:#FFFFFF;

$main-red:#FE043C;
$main-red-transparent:#FE043C; // opacity 0.7 ?
$main-text-blue:#2E266F;
$main-text-blue-transparent:#2E266F; // opacity 0.05 ?
$second-text-gray:#707070;

$dots: #E6E6E6;

$app-btn:#000000;


$user-icon-on:#31A24C;
$main-green:#35CD8C;
