$heroBgrdColor: #ffb8ca;
$primaryTextColor: #000000;
$secondaryTextColor: #907e82;
$accentColor: #d41443;
$btnActivColor: #c7133e;
$textLightColor: #ffffff;
$titleLightColor: #ffa5ba;
$productFirstBgrdCl: #ffb8ca;
$productSecondBgrdCl: #f0d1a5;
$productThirdBgrdCl: #c2e297;
$sliderBgrdCl: #fafafa;
$sliderActivCl: #d31342;
$socialsColor: #fea5bb;
$lightBgrdCl: #fff5f6;

// fonts
$fonts: (
  'main-font': DM Sans,
  'secondary-font': Titan One,
);

@function getFont($key) {
  @return map-get($fonts, $key);
}
