:root {
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Titan One', cursive, sans-serif;
  
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --accent-color: #d41443;
    --info-color: #ffa5ba;
    --description-color: #907e82;
  }
  