$main-font: 'Montserrat', sans-serif;
$accent-color: #ff6b09;
$dark-theme-color: #ffffff;
$subtitle-light-theme-color: #111518;
$text-color: #b9b9b9;
$review-color: #3d3d3d;

// ========= breakepoint =======
$mobile: 320px;
$tablet: 768px;
$desktop: 1344px;
