//breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

//fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

//main veriables
$accent-color: #ff6c00;
$primary-white-color: #ffffff;
$primary-text-color: #303030;
$secondary-text-color: #9da4bd;
$tertiary-text-color: #555555;
$primary-bg: #f7f7f7;
$secondary-bg: #191c26;
$timming: 250ms cubic-bezier(0.4, 0, 0.2, 1);
