.price-section {
    background-image: url('../images/price-and-service/price-overley.svg'),
     url('../images/price-and-service/price-bg.jpg');
    background-size:  cover;
    background-position:  center;
    background-repeat:  no-repeat;

    @media screen and (min-width: $tablet-min) {
        background-image: url('../images/price-and-service/overley-tablet.svg'), 
        url('../images/price-and-service/price-bg.jpg');
    }


    @media screen and (min-width: $desktop) {
        background-image: url('../images/price-and-service/overley-desc.svg'), 
        url('../images/price-and-service/price-bg.jpg');
    }
}
.price-container {
    @extend %container;
    text-align: center;
}

.price__subtitle {
    display: flex;
    align-items: center;
    text-align: start;
    padding-top: 84px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);

    @media screen and(min-width: $desktop){
        padding-top: 130px;
        
    }

    &::before {
        content: "";
            display: inline-block;
            width: 60px;
            height: 1px;
            border-radius: 2px;
            margin-right: 20px;
            padding: 0;
            background-color:  rgba(157, 164, 189, 0.6);
            
            @media screen and (min-width: $mobile-max) {
                min-width: 45px; 
                max-width: 340px;
                }
        }
}

.price__title {
    text-align: start;
    margin-top: 20px;
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: $primary-white;
}

.price__list {
    padding: 30px;
    background: linear-gradient(180deg, #171A24 0%,
     rgba(23, 26, 36, 0.2) 100%);

     @media screen and (min-width: $tablet-max) {
         display: none;
         
     }
    
}

.price-desc {
    display: flex;

    @media screen and (max-width: $tablet-max) {
        display: none;
    }

    
}
.price-desc_list1 {
    width: 100%;
    padding: 30px 40px;
    background: linear-gradient(180deg, #171A24 0%,
     rgba(23, 26, 36, 0.2) 100%);
}

.price-desc_list2 {
    width: 100%;
    padding: 30px 40px;
    background: linear-gradient(180deg, #090B13 0%,
     rgba(9, 11, 19, 0.2) 100%);

}

.price__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 2.14;
    color: $text-color-2;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 18px;
        }
}

.price__from {
    display: inline-flex;

    &::before {
        content: " ";
        margin-top: 20px;
        padding: 0;
        // width: 80px;
        height: 1px;
        background: rgba(157, 164, 189, 0.12);
        @media screen and (min-width: $mobile-max) {
            min-width: 45px; 
            max-width: 340px;
            }
    }
}

.price__button {
    margin-bottom: 84px;
    margin-top: 50px;
    width: 160px;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $accent-color;
    border-radius: 25px;
    color: $primary-white;

    @media screen and(min-width: $desktop){
        margin-bottom: 130px;
        
    }
}



