.section-made {
    background-color: getColor('lightBgrd');
    padding-top: 125px;
    padding-bottom: 39px;
}

.made-label {
    font-family: Titan One, cursive;
    @include fonts(400, 18px, 1.17, 0.03em);
    text-align: center;
    text-transform: uppercase;
    color: getColor('titleLight');
    margin-bottom: 15px;
  }

  .made-title {
    font-family: Titan One, cursive;
    @include fonts(400, 34px, 1.15, 0.04em);
    text-align: center;
    text-transform: uppercase;
    color: getColor('accent');
    margin-bottom: 26px;
  }

  .btn {
    display: inline-block;
    width: 176px;
    height: 44px;
    font-family: DM Sans, sans-serif;
    @include fonts(700, 14px, 1.29, 0.03em);
    color: getColor('accent');
    border-radius: 22px;
    border: none;
    padding: 0;
    margin-left: 30px;
    background-color: getColor('textLight');
  }

  .made-content {
    position: relative;
    display: block;
    align-items: center;
    padding: 46px 30px 0 30px;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

  .content-item1 {
    font-family: DM Sans, sans-serif;
    @include fonts(500, 12px, 1.58, 0.03em);
    text-align: left;
    color: getColor('primaryText');
    margin-bottom: 36px;
    
  }

  .content-item2 {
    font-family: DM Sans, sans-serif;
    @include fonts(500, 12px, 1.58, 0.03em);
    text-align: left;
    color: getColor('secondaryText');
    margin-bottom: 20px;
  }

  .made-thumb {
    position: absolute;
    bottom: 0;
    right: -20px;
  }