html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// desktop
// ширина контейнера 1316px
// паддинги по 20px
.container {
  max-width: 1680px;

  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  // phones
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  //tablets
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  // desctop
  @media screen and (min-width: 1680px) {
    width: 1680px;
  }
}

//обнуление стилей списков
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
// глобальные стили изображений
img {
  display: block;
  max-width: 100%;
  height: auto;
}
