//project colors
$main-color: #111518;
$accent-color: #ff6b09;
$grey-color: #b9b9b9;
$white-color: #ffffff;
$guarantee-color: #f1f1f1;
$vk-color: #436eab;
$box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
$activity-box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

// project fonts
$primary-font: 'Montserrat';
