*{

padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: 'DM Sans', sans-serif;
}

#conteitemcarrusel{
    width: 1200px;
    height: 350px;
    overflow: hidden;
}



.itemcarrusel{

height: 100%;
position: relative;
}

.tarjetacarrusel{
height: 100%;
}


.flechascarrusel{
background-color: #FAFAFA;
flex-direction: column;
position: absolute;
top: 0;
height: 138px;
width: 968px;
margin-top: 106px;
margin-bottom: 106px;
margin-left: 116px;
margin-right: 106px;
display: flex;
align-items: center;
font-weight: 500px;
font-size: 16px;
line-height: 30px;

}

.comilla{
    
    position: absolute;
    bottom: 85px;
    height: 40px;
    left: 97px;
    }   


.fincarrusel{
    
    position:absolute;
    top: 0;
    margin-top: 260px;
    margin-left: 584px;
    }


.name {
position: absolute;
top: auto;
width: 140px;
left: -50px;
font-weight: 50px;
font-size: 16px;
line-height: 30px;

}

#tarjetacarrusel-1{

    margin-left: 558px;
    margin-bottom: 16px;
}


#tarjetacarrusel-2{

    margin-left: 558px;
    margin-bottom: 16px;
}
    
#tarjetacarrusel-3{

    margin-left: 558px;
    margin-bottom: 16px;
     }
     
  

#contepuntos{

margin-left: 564px;
     



 }