<section class="container">
  <div>
    <h2 class="f-ing_title">Favorite ingredients</h2>
  </div>

  <div class="f-ing_blocks">
    <div class="f-ing_items">
      <h3 class="f-ing_subtitle">Campari</h3>
      <p class="f-ing_text">Liqueur</p>

      <div class="f-ing_btn">
        <button type="button" class="f-ing_btn-add">Learn More</button>

        <button type="button" class="f-ing_btn-rem">
          Remove
          <svg width="25px" height="25px" class="f-ing_svg"></svg>
        </button>
      </div>
    </div>

    <div class="f-ing_items">
      <h3 class="f-ing_subtitle">Blanco tequila</h3>
      <p class="f-ing_text">Distilled beverage</p>

      <div class="f-ing_btn">
        <button type="button" class="f-ing_btn-add">Learn More</button>

        <button type="button" class="f-ing_btn-rem">
          Remove
          <svg width="25px" height="25px" class="f-ing_svg"></svg>
        </button>
      </div>
    </div>

    <div class="f-ing_items">
      <h3 class="f-ing_subtitle">Vermouth</h3>
      <p class="f-ing_text">fortified wine</p>
      <div class="f-ing_btn">
        <button type="button" class="f-ing_btn-add">Learn More</button>

        <button type="button" class="f-ing_btn-rem">
          Remove
          <svg width="25px" height="25px" class="f-ing_svg"></svg>
        </button>
      </div>
    </div>
  </div>
</section>
