<section class="section">
    <div class="container">
        <h2 class="client-section-title">Постоянные клиенты</h2>
        <ul class="clients">
            <li class="item">
                <a href="#" class="our-clients"><svg class="svg-logo" width="44.27" height="49.23">
                        <use href=./images/symbol-defs.svg#icon-logo1></use>
                    </svg></a>
            </li>
            <li class="item">
                <a href="#" class="our-clients"><svg class="svg-logo" width="40" height="52">
                        <use href=./images/symbol-defs.svg#icon-logo2></use>
                    </svg></a>
            </li>
            <li class="item">
                <a href="#" class="our-clients"><svg class="svg-logo" width="41" height="42.6">
                        <use href=./images/symbol-defs.svg#icon-logo3></use>
                    </svg></a>
            </li>
            <li class="item">
                <a href="#" class="our-clients"><svg class="svg-logo" width="70" height="70">
                        <use href=./images/symbol-defs.svg#icon-logo4></use>
                    </svg></a>
            </li>
            <li class="item">
                <a href="#" class="our-clients"><svg class="svg-logo" width="59" height="47">
                        <use href=./images/symbol-defs.svg#icon-logo5></use>
                    </svg></a>
            </li>
            <li class="item">
                <a href="#" class="our-clients"><svg class="svg-logo" width="88.48" height="45.44">
                        <use href=./images/symbol-defs.svg#icon-logo6></use>
                    </svg></a>
            </li>
        </ul>
    </div>
</section>