<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <p class="form-title">Оставьте свои данные,мы вам перезвоним</p>
        <button class="close-button" data-modal-close>
            <svg class="svg-close" width="18" height="18">
                <use href=./images/symbol-defs.svg#icon-close></use>
            </svg>
        </button>
        <form class="form" autocomplete="off">
            <label class="form-field">
                <input class="form-input" type="text" name="name" placeholder=" " />
                <span class="form-label">Имя</span>
                <svg class="svg-form" width="18" height="18">
                    <use href=./images/symbol-defs.svg#icon-person></use>
                </svg>
            </label>
            <label class="form-field">
                <input class="form-input" type="tel" name="phone-number" placeholder=" " />
                <span class="form-label">Телефон</span>
                <svg class="svg-form" width="18" height="18">
                    <use href=./images/symbol-defs.svg#icon-phone></use>
                </svg>
            </label>
            <label class="form-field">
                <input class="form-input" type="email" name="email" placeholder=" " />
                <span class="form-label">Почта</span>
                <svg class="svg-form" width="18" height="18">
                    <use href=./images/symbol-defs.svg#icon-email></use>
                </svg>
            </label>
            <textarea class="comment" name="comment" rows="50" placeholder="Комментарий"></textarea>
            <label class="conditions">
                <input class="checkbox" type="checkbox" name="conditions">
                <svg class="checkbox-svg" width="15" height="16">
                    <use href=./images/symbol-defs.svg#icon-vector-4></use>
                </svg>
                <span class="conditions-label"> Соглашаюсь с рассылкой и принимаю <a class="checkbox-link"
                        href=" # ">Условия
                        договора</a></span>
            </label>
            <button class="button" type="submit">Отправить</button>
        </form>
    </div>
</div>