<section class="section">
    <div class="container">
        <ul class="profit">
            <li class="item">
                <div class="svg-icons">
                    <svg class="svg-item-antena" width="70" height="70">
                        <use href=./images/symbol-defs.svg#icon-antenna></use>
                    </svg>
                </div>
                <h2 class="profit-title">Внимание к деталям</h2>
                <p class="profit-text">
                    Идейные соображения, а также начало повседневной работы по
                    формированию позиции.
                </p>
            </li>
            <li class="item">
                <div class="svg-icons">
                    <svg class="svg-item-clock" width="70" height="70">
                        <use href=./images/symbol-defs.svg#icon-clock></use>
                    </svg>
                </div>
                <h2 class="profit-title">Пунктуальность</h2>
                <p class="profit-text">
                    Задача организации, в особенности же рамки и место обучения
                    кадров влечет за собой.
                </p>
            </li>
            <li class="item">
                <div class="svg-icons">
                    <svg class="svg-item-diagram" width="70" height="70">
                        <use href=./images/symbol-defs.svg#icon-diagram></use>
                    </svg>
                </div>
                <h2 class="profit-title">Планирование</h2>
                <p class="profit-text">
                    Равным образом консультация с широким активом в значительной
                    степени обуславливает.
                </p>
            </li>
            <li class="item">
                <div class="svg-icons">
                    <svg class="svg-item-astronaut" width="70" height="70">
                        <use href=./images/symbol-defs.svg#icon-astronaut></use>
                    </svg>
                </div>
                <h2 class="profit-title">Современные технологии</h2>
                <p class="profit-text">
                    Значимость этих проблем настолько очевидна, что реализация
                    плановых заданий.
                </p>
            </li>
        </ul>
    </div>
</section>