<section class="section our-team">
    <div class="container">
        <h2 class="section-team-title">Наша команда</h2>
        <ul class="team">
            <li class="item">
                <img class="team-photo" src="./images/teamcards/img.jpg" alt="фото первого сотрудника" height="260"
                    width="270" />
                <div class="team-info">
                    <h3 class="section-team-name">Николай Кучеренко</h3>
                    <p class="section-team-profit">Product Designer</p>
                    <ul class="team-links">
                        <li class="link">
                            <a href="#" aria-label="Instagram" class="social"><svg class="svg-item" width="20"
                                    height="20">
                                    <use href=./images/symbol-defs.svg#icon-instagram></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="Twitter" class="social">
                                <svg class="svg-item" width="20" height="20">
                                    <use href=./images/symbol-defs.svg#icon-twitter></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="Facebook" class="social"><svg class="svg-item" width="20"
                                    height="20">
                                    <use href=./images/symbol-defs.svg#icon-facebook></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="LinkeIn" class="social">
                                <svg class="svg-item" width="20" height="20">
                                    <use href=./images/symbol-defs.svg#icon-linkedin></use>
                                </svg></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <img class="team-photo" src="./images/teamcards/img-2.jpg" alt="фото второго сотрудника" height="260"
                    width="270" />
                <div class="team-info">
                    <h3 class="section-team-name">Ольга Иванова</h3>
                    <p class="section-team-profit">Frontend Developer</p>
                    <ul class="team-links">
                        <li class="link">
                            <a href="#" aria-label="Instagram" class="social"><svg class="svg-item" width="20"
                                    height="20">
                                    <use href=./images/symbol-defs.svg#icon-instagram></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="Twitter" class="social">
                                <svg class="svg-item" width="20" height="20">
                                    <use href=./images/symbol-defs.svg#icon-twitter></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="Facebook" class="social"><svg class="svg-item" width="20"
                                    height="20">
                                    <use href=./images/symbol-defs.svg#icon-facebook></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="LinkeIn" class="social">
                                <svg class="svg-item" width="20" height="20">
                                    <use href=./images/symbol-defs.svg#icon-linkedin></use>
                                </svg></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <img class="team-photo" src="./images/teamcards/img3.jpg" alt="фото третьего сотрудника" height="260"
                    width="270" />
                <div class="team-info">
                    <h3 class="section-team-name">Андрей Шевченко</h3>
                    <p class="section-team-profit">Marketing</p>
                    <ul class="team-links">
                        <li class="link">
                            <a href="#" aria-label="Instagram" class="social"><svg class="svg-item" width="20"
                                    height="20">
                                    <use href=./images/symbol-defs.svg#icon-instagram></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="Twitter" class="social">
                                <svg class="svg-item" width="20" height="20">
                                    <use href=./images/symbol-defs.svg#icon-twitter></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="Facebook" class="social"><svg class="svg-item" width="20"
                                    height="20">
                                    <use href=./images/symbol-defs.svg#icon-facebook></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="LinkeIn" class="social">
                                <svg class="svg-item" width="20" height="20">
                                    <use href=./images/symbol-defs.svg#icon-linkedin></use>
                                </svg></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <img class="team-photo" src="./images/teamcards/img-4.jpg" alt="фото четвертого сотрудника" height="260"
                    width="270" />
                <div class="team-info">
                    <h3 class="section-team-name">Иван Николаев</h3>
                    <p class="section-team-profit">UI Designer</p>
                    <ul class="team-links">
                        <li class="link">
                            <a href="#" aria-label="Instagram" class="social"><svg class="svg-item" width="20"
                                    height="20">
                                    <use href=./images/symbol-defs.svg#icon-instagram></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="Twitter" class="social">
                                <svg class="svg-item" width="20" height="20">
                                    <use href=./images/symbol-defs.svg#icon-twitter></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="Facebook" class="social"><svg class="svg-item" width="20"
                                    height="20">
                                    <use href=./images/symbol-defs.svg#icon-facebook></use>
                                </svg></a>
                        </li>
                        <li class="link">
                            <a href="#" aria-label="LinkeIn" class="social">
                                <svg class="svg-item" width="20" height="20">
                                    <use href=./images/symbol-defs.svg#icon-linkedin></use>
                                </svg></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>