.hero-ellipse {
  width: 346px;
  height: 346px;
  background-color: getColor('titleLight');
  border-radius: 50%;

  @include for-size(tablet) {
    width: 324px;
    height: 324px;
  }

  @include for-size(desktop) {
    width: 538px;
    height: 538px;
  }
}
