.products-text {
  font-family: $main-font;
  @include fonts(400, 8px, 1.5, 0em);
  color: getColor('textLight');
  width: 114px;

  @include for-size(desktop) {
    @include fonts(400, 14px, 1.4, 0em);
    width: 200px;
  }
}

.hero-products {
  @include for-size(mobile-only) {
    display: none;
  }

  & > svg {
    width: 18px;
    height: 18px;

    @include for-size(desktop) {
      width: 26px;
      height: 26px;
    }
  }
}
