.advantages {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  background-color: var(--light-pink-bg);
  &__inner {
    flex-basis: 480px;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 0 32px;
    &__inner {
      flex-basis: 768px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
    padding: 0 16px;
    &__inner {
      flex-basis: 1280px;
    }
  }
}
.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 32px;

  &__item {
    position: relative;
    padding-top: 50px;
  }
  &__item--first::before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    animation: animate360 linear 3000ms infinite;
    @media screen and (max-device-pixel-ratio: 2),
      screen and (-webkit-max-device-pixel-ratio: 2),
      screen and (max-resolution: 192dpi),
      screen and (max-resolution: 2dppx) {
      background-image: url("../images/advantages/firstitem@1x.png");
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url("../images/advantages/firstitem@2x.png");
    }
  }

  &__item--second::before {
    background-image: url("../images/advantages/seconditem@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    animation: animate360 linear 3000ms infinite;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/advantages/seconditem@2x.png");
    }
  }
  &__item--third::before {
    background-image: url("../images/advantages/thirditem@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    animation: animate360 linear 3000ms infinite;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/advantages/thirditem@2x.png");
    }
  }

  &__title {
    color: var(--red-title-text);
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 20px 0 20px 0;
  }
  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    display: block;
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    gap: 22px;
    &__item {
      flex-basis: 180px;
    }

    &__title {
      padding-top: 36px;
      font-size: 48px;
      line-height: 1.14;
    }
    &__text {
      font-size: 14px;
      line-height: 1.74;
    }
  }
}
@media screen and (min-width: 1280px) {
  .advantages-list {
    gap: 0;
    &__item {
      flex-basis: calc(100% / 3);
    }
    &__title {
      font-size: 58px;
      line-height: 1.13;
    }
    &__text {
      font-size: 16px;
      line-height: 1.76;
    }
  }
}

@keyframes animate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
