.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1054px;
}

@media screen and (max-width: 699px) {
  .container {
    width: 280px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1053px) {
  .container {
    width: 700px;
  }
}
