.customer-reviews {
    @include displayFlex(column);
    max-width: 2000px;
}

.customer-reviews__image {

    img {
        width: 85px;
        height: 85px;
    }
}

.customer-reviews__text-container {
    background-color: var(--testimonial-card-bg);
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 43px 50px 17px 50px;


}

.underline-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 31px;
    color: var(--black-color);
    text-align: center;
    background-image: repeating-linear-gradient(to top,
            var(--quotation-svg-color),
            var(--quotation-svg-color) 1px,
            transparent 1px,
            transparent 32px);
    text-indent: 10px;
    position: relative;
    z-index: 4;

    &::before {
        content: url("../images/customer-reviews/quotes.svg");
        position: absolute;
        z-index: -1;
        top: -15px;
        left: -10px;
    }
}

.red-dots-container {
    display: inline-flex;
    gap: 10px;
    margin-bottom: 16px;

    .red-dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--red-dot-color);
    }
}

.reviewer-name {
    font-weight: 500;
    line-height: 1.85;
    color: var(--black-color);
}

.customer-reviews-btns {
    margin-top: 16px;
    display: flex;
    gap: 18px;
}

.review-btn {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border-color: transparent;
    background-color: var(--testimonials-btn-color);
    @include displayFlex(row);
    border-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.btn-selected {
    background-color: transparent;
    position: relative;
}

.review-btn__selected {
    position: absolute;
    fill: var(--red-svg-home);

    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .customer-reviews {
        padding-bottom: 60px;
        padding-left: 74px;
        padding-right: 74px;
    }

    .customer-reviews__text-container {
        margin-top: 20px;
        margin-bottom: 4px;
    }

    .underline-text {
        font-size: 14px;
        text-indent: 37px;

        &::before {
            left: -30px;
        }
    }

    .reviewer-name {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .customer-reviews {
        padding: 60px 116px;
    }

    .customer-reviews__text-container {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .reviewer-name {
        font-size: 20px;
    }

    .customer-reviews-btns {
        margin-top: 32px;
    }
}