.hero {
  background-color: $light-pink-color;
}
// убрать когда исправим баг с контейнером
.hero-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 193px;
  padding-bottom: 160px;

  position: relative;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 102px;
    padding-bottom: 34px;
  }
  // откуда цыфра 75 если должно быть 115?
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 171px;
    padding-bottom: 56px;
  }
}
// исправить марджин пробивает кнопки
.hero-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.14;
  color: $main-white-color;

  position: relative;
  z-index: 5;

  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 38px;
    margin-bottom: 25px;
  }
}
.hero-passion {
  font-family: Titan One;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.96;
  color: $main-red-color;

  @media screen and (min-width: $tablet) {
    font-size: 34px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
  }
}
// уточнить про увеличение кнопок при ховере
.hero-buttons-list {
  display: inline-flex;

  position: relative;
  z-index: 5;

  @media screen and (min-width: $tablet) {
    margin-bottom: 66px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 112px;
  }
  li:first-child {
    margin-right: 8px;

    @media screen and (min-width: $desktop) {
      margin-right: 15px;
    }
    & .hero-button {
      background-color: $main-red-color;
      color: $main-white-color;
    }
  }
}
.hero-button {
  @extend %link;
  background-color: $main-white-color;
  border-radius: 20px;
  padding: 10px 15px;

  font-size: 8px;
  font-weight: 400;
  line-height: 1.3;
  color: $main-red-color;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    padding: 13px 20px;
  }
}

.hero-img {
  width: 171px;

  position: absolute;
  bottom: 0;
  left: 117px;

  z-index: 4;

  @media screen and (min-width: $tablet) {
    left: 378px;
    width: 143px;
  }
  @media screen and (min-width: $desktop) {
    left: 594px;
    width: 236px;
  }
}
.hero-container::before {
  display: block;
  content: '';
  height: 345px;
  width: 345px;
  background-color: $dark-pink-color;
  border-radius: 50%;

  position: absolute;
  bottom: 75px;
  left: 36px;

  z-index: 3;

  @media screen and (min-width: $tablet) {
    height: 323px;
    width: 323px;
    bottom: 46px;
    left: 307px;
  }
  @media screen and (min-width: $desktop) {
    height: 538px;
    width: 538px;
    bottom: 75px;
    left: 475px;
  }
}
.hero-product-info {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 115px;
    min-height: 50px;
    font-size: 8px;
    line-height: 1.4;
    color: $main-white-color;

    margin-left: 49px;

    position: relative;
    z-index: 5;
    p {
      margin-bottom: 7px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 200px;
    min-height: 80px;
    font-size: 14px;

    margin-left: 180px;
    p {
      margin-bottom: 20px;
    }
  }
}
// .hero-product-info::before {
//   display: block;

//   content: '';

//   height: 191px;
//   width: 188px;

//   position: absolute;
//   bottom: -11px;
//   left: -218px;

//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   z-index: 3;

//   // @media screen and (min-width: $tablet) {
//   //   height: 323px;
//   //   width: 323px;
//   //   bottom: 46px;
//   //   left: 307px;
//   // }
//   // @media screen and (min-width: $desktop) {
//   //   height: 538px;
//   //   width: 538px;
//   //   bottom: 75px;
//   //   left: 475px;
//   // }
// }
.hero-arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  color: $main-red-color;
  background-color: $main-white-color;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;

  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
  }
}
.hero-icon-arrow {
  fill: currentColor;
  width: 5px;
  height: 5px;
  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 10px;
  }
}
.hero-service-counting {
  display: none;
}
