.slider-item {
    padding-top: 20px;
    text-align: center;

    @media screen and (min-width: $tablet){
        padding-top: 40px;
        display: flex;
        text-align: left;
        align-items: start;
    }

    @media screen and (min-width: $desktop){
        padding-top: 50px;
    }
}

.slider-item__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.08em;

    color:  $accent-color;

    margin-bottom: 10px;

    @media screen and (min-width: $tablet){
      font-size: 20px;
      line-height: 1.2;

      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop){
        margin-bottom: 10px;

        font-size: 30px;
        line-height: 1.23;
    }
}
.slider-item__about{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;

    color: $text-color;

    margin-bottom: 10px;

    @media screen and (min-width: $tablet){  
        margin-bottom: 20px;
    }
    
    @media screen and (min-width: $desktop){
        font-size: 14px;
        line-height: 1.214;
    }
}
.slider-item__subject {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;

    color: $secondary-dark;
    @media screen and (min-width: $desktop){
        font-size: 18px;
        line-height: 1.556;
    }
}

.slider-item__readmore-link {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;

    color: $accent-color;
    display: block;
    text-align: center;

    @media screen and (min-width: $tablet){
        display: inline;
    }

    @media screen and (min-width: $desktop){
        font-size: 18px;
        line-height: 1.556;
    }
}


