.prepod {
    min-width: 320px;
    max-width: 450px;
    margin-bottom: 50px;
    @media screen and (min-width: $tablet){
        max-width: 768px;
    }
    @media screen and (min-width: $desktop){
        max-width: 1344px;
    }
}
.prepod-content {
    @media screen and (min-width: $tablet){
        display: flex;
    }
}