.prepod-characteristic {
    
    margin-bottom: 10px;
}
.prepod-characteristic__inner-content {

    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    


color: #B9B9B9;
    @media screen and (min-width: $desktop){
        font-size: 18px;
        line-height: 1.56;
    }
}
.prepod-characteristic__inner-content:not(:last-child) {
    margin-bottom: 20px;
}

.prepod-certificate {
    color: $accent-color;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 1.667;
    
    @media screen and (min-width: $desktop){
        font-size: 18px;
    }
}