.html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: $main-fonts;
  background-color: #fff5f6;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-family: $main-fonts;
  color: $tex-color-grey;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
