.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;

  @media screen and (min-width: $mobile) {
    width: 320px;
  }

  @media screen and (min-width: $tablet) {
    width: 688px;
  }

  @media screen and (min-width: $desktop) {
    widows: 1205px;
  }
}
