.how-its-made-section {
    padding-top: 125px;
    padding-bottom: 219px;
    background-color: #FFF5F6;
    background-image: url(../images/how-its-made/him-img.jpg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
        .how-its-made-section { 
            background-image: 
                 url(../images/how-its-made/him-img@2x.jpg)
        }
}
.how-its-made-h2 {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    margin: 0;
}
.how-its-made-h1 {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    width: 200px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 26px;
    margin-left: auto
}
.him-pic {
    background-image: url(../images/how-its-made/how-its-made-img.png);
    display: flex;
    width: 280px;
    height: 279px;
    margin: 0 auto;
}
.how-its-made-p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    width: 220px;
    margin-top: 46px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
        .how-its-made-p-1 {
            color: #000000;
        }
        .how-its-made-p-2 {
            color: #907E82;
        }
}
.how-its-made-div {
    background-image: url(../images/how-its-made/sectionbg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;    
}
.read-more-button {
    width: 176px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 22px;
    border-color: transparent;
    padding: 0;
    display: block;
    margin: 0 auto;   
    margin-bottom: 39px; 
}
.read-more-span {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #D41443;
        &::after {
            content: "";
            display: block;
            width: 5px;
            height: 8px;           
            fill: #D41443;
            margin-left: 14px;
        }
}
.how-its-made-list {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 20px;
}
.how-its-made-item {
    width: 230px;
    margin-bottom: 38px;
        
}
.one {
    &::before {
        content: "";
        display: block;
        padding: auto;
        width: 33px;
        height: 50px;
        background-image: url(../images/how-its-made/icon1.svg);
        margin-bottom: 16px;
    }
}
.two {
    &::before {
        content: "";
        display: block;
        padding: auto;
        width: 50px;
        height: 50px;
        background-image: url(../images/how-its-made/icon2.svg);
        margin-bottom: 16px;
    }
}
.three {
    &::before {
        content: "";
        display: block;
        padding: auto;
        width: 44px;
        height: 50px;
        background-image: url(../images/how-its-made/icon3.svg);
        margin-bottom: 16px;
    }
}
.how-its-made-item-title {
    margin: 0;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    margin-bottom: 14px;
}
.how-its-made-item-description {
    margin: 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.66;
    color: #000000;
}
// .him-img {
//     position: absolute;
//     bottom: 0;
//     margin: 0 auto;
// }