/*Responsive breakpoints*/

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

/*CSS variables*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Titan+One&display=swap");

:root {
  --products-title-font-family: "Titan One", sans-serif;
  --products-text-font-family: "DM Sans", sans-serif;
  --container-bg-color: #ffffff;
  --h1-title-color: #d41443;
  --h2-products-color: #ffffff;
  --text-color: #1e1c1c;
  --products-card-bg-color: #ffb8ca;
  --item-modified-color: #ffffff;
  --item-text-color: #ffffff;
  --container-label-color: #ffa5ba;
  --button-bg-color: #ffb8ca;
  --modal-content-bg: #a5a2db;
  --modal-form-text-color: #212121;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}