<section class="section">
  <div class="container">
    <ul class="buttons">
      <li class="item"><button class="link">Все</button></li>
      <li class="item"><button class="link">Веб-сайты</button></li>
      <li class="item"><button class="link">Приложения</button></li>
      <li class="item"><button class="link">Дизайн</button></li>
      <li class="item"><button class="link">Маркетинг</button></li>
    </ul>
    <ul class="works">
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img.jpg"
              alt="фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">Технокряк</h3>
            <p class="works-text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img-2.jpg"
              alt="фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">
              Постер New Orlean vs Golden Star
            </h3>
            <p class="works-text">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img-3.jpg"
              alt=" фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">Ресторан Seafood</h3>
            <p class="works-text">Приложение</p>
          </div>
        </a>
      </li>
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img-4.jpg"
              alt="фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">Проект Prime</h3>
            <p class="works-text">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img-5.jpg"
              alt="фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">Проект Boxes</h3>
            <p class="works-text">Приложение</p>
          </div>
        </a>
      </li>
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img-6.jpg"
              alt="фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">Inspiration has no Borders</h3>
            <p class="works-text">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img-7.jpg"
              alt="фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">Издание Limited Edition</h3>
            <p class="works-text">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img-8.jpg"
              alt="фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">Проект LAB</h3>
            <p class="works-text">Маркетинг</p>
          </div>
        </a>
      </li>
      <li class="example">
        <a href="#">
          <div class="second-work">
            <img
              src="./images/portfolio/img-9.jpg"
              alt="фото работ"
              width="370"
              height="294"
            />
            <p class="second-text">
              Технокряк это современная площадка распространения коронавируса.
              Компании используют эту платформу для цифрового шпионажа и атак на
              защищённые сервера конкурентов.
            </p>
          </div>
          <div class="work">
            <h3 class="works-title">Growing Business</h3>
            <p class="works-text">Приложение</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
