// Пример использования миксина медиазапросов
.my-box {
  width: 100%;
// от 319рх и меньше
  @include for-size(responsive) {
    width: 319px;
  }

// от 320рх и больше
  @include for-size(phone) {
    width: 320px;
  }

// для диапазона 320-767рх
  @include to-size() {
    padding: calc(320px - 767px);
  }

// от 768рх и больше
  @include for-size(tablet) {
    width: 768px;
  }
  

// для диапазона 768-1199рх
@include to-size(tablet, max-tablet) {
      width: calc(768px - 1199px);
}
// от 1200рх и больше
  @include for-size(desktop) {
    width: 1200px;
  }
}