.search-form {
  display: flex;
  justify-content: center;
}
.input {
  width: 700px;
  height: 100px;

  padding-left: 30px;

  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 45px;
  line-height: 3;
}
