.section-tradition {
  background-color: getColor('lightPink');

  padding-top: 125px;
}

.tradition-subtitle {
  margin-top: 0;
  margin-bottom: 15px;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: getColor('secondaryPink');
}

.tradition-title {
  margin-top: 0;
  margin-bottom: 26px;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColor('accent');
}

.tradition-img {
  width: 100%;
}

.tradition-text-box {
  padding-left: 30px;
  padding-right: 30px;

  font-family: 'DM Sans', sans-serif;

  background-image: url('../images/tradition/sectionbg1.png');
}

.tradition-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: getColor('secondaryText');

  &.tradition-text--accent {
    margin-bottom: 38px;

    color: getColor('mainText');
  }

  &.traditiom-text--margin {
    margin-bottom: 10px;
  }
}

.tradition-btn {
  margin-top: 17px;
  padding: 9px 37px;

  border: none;
  border-radius: 22px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  color: getColor('accent');
  background-color: getColor('main-bg');
}

.tradition-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 39px;
  padding-bottom: 97px;

  list-style: none;
}

.tradition-list__item:not(:last-child) {
  margin-bottom: 38px;
}

.tradition-list__number {
  margin-top: 0;
  margin-bottom: 19px;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColor('accent');
}

.tradition-list__text {
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  color: getColor('mainText');
}

// // Пример использования миксина медиазапросов
// .my-box {
//   width: 100%;
// // от 319рх и меньше
//   @include for-size(responsive) {
//     width: 319px;
//   }

// // от 320рх и больше
//   @include for-size(phone) {
//     width: 320px;
//   }

// // для диапазона 320-767рх
//   @include to-size() {
//     padding: calc(320px - 767px);
//   }

// // от 768рх и больше
//   @include for-size(tablet) {
//     width: 768px;
//   }

// // для диапазона 768-1199рх
// @include to-size(tablet, max-tablet) {
//       width: calc(768px - 1199px);
// }
// // от 1200рх и больше
//   @include for-size(desktop) {
//     width: 1200px;
//   }
// }
