.list-team {
  padding: 0;
  margin: 0;
  @media screen and (min-width: 1280px) {
    display: flex;
    margin-left: 25px;
  }
}

.team {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  background-color: #f7f7f7;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }

  &::before {
    position: absolute;
    top: 91px;
    left: 31px;

    display: block;
    content: '';

    width: 60px;
    height: 1px;
    background-color: #303030;

    @media screen and (min-width: 768px) {
      left: 159px;
      top: 107px;
    }
    @media screen and (min-width: 1280px) {
      left: 55px;
      top: 137px;
    }
  }
}

.atmosphere-team {
  display: block;

  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;

  color: #303030;

  padding-top: 84px;

  padding-left: 111px;
  margin: 0;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-left: 239px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-left: 135px;
  }
}

.title-team {
  font-weight: 900;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #303030;

  margin-top: 20px;
  margin-left: 31px;

  @media screen and (min-width: 768px) {
    margin-left: 159px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 55px;
  }
}

.item-team {
  margin-top: 44px;
}

.item-team:last-child {
  padding-bottom: 20px;
}

.name-master {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;

  margin-top: 30px;
  margin-bottom: 0px;
}

.skills-master {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ff6c00;

  margin-top: 8px;
  margin-bottom: 0px;
}

.img-team {
  margin-left: 33px;

  @media screen and (min-width: 768px) {
    margin-left: 159px;
    margin-right: 159px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    margin-left: 30px;
    margin-right: 0px;
    width: 370px;
  }
}
