.slider-item__pict{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-item__pict-img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.slider-item__vk {
    width: 30px;
    height: 30px;
}