.container .address {
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.address {
  > a {
    display: inline-block;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    // display: inline-block;
    margin-right: 30px;
    width: calc((100% - 30px) / 2);
  }
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $primary-white-color;

  > p {
    margin-bottom: 9px;
  }
}

.footer-contact {
  display: block;
  margin-bottom: 9px;

  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @extend %transition-color;

  color: $footer-contacts-color;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
