.footer-form {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: inline-block;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscribe-input {
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;

  &:focus::placeholder {
    color: transparent;
  }
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: block;
    margin-bottom: 20px;
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 100%;
  }
}
.subscribe-button {
  display: inline-flex;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 29px;
  cursor: pointer;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 1px solid $accent-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $primary-white-color;
  background-color: $accent-color;
}

.icon-send {
  fill: currentColor;
  margin-left: 10px;
}
