<!-- Общая обёртка для бекграунда -->
<!-- Хедер -->
<header>
  <div class="container-header">
    <nav class="barber-nav">
      <a href="./index.html" class="logo-header">
        <svg class="barber-logo" width="69" height="55">
          <use href="./images/icomoon/symbol-defs.svg#icon-Logo"></use>
        </svg>
      </a>

      <button
        type="button"
        class="button-menu-header"
        aria-expanded="false"
        aria-controls="content"
        data-menu-button
      >
        <svg
          width="20"
          height="20"
          aria-label="Переключатель мобильного меню"
          class="icon-barber"
        >
          <use
            class="icon-open"
            href="./images/icomoon/symbol-defs.svg#icon-menu_24px"
          ></use>
          <use
            class="icon-close"
            href="./images/icomoon/symbol-defs.svg#icon-close_24px"
          ></use>
        </svg>
      </button>

      <!-- Боковое меню -->
      <div class="content" id="content" data-menu>
        <div class="barber-nav-first">
          <ul class="barber-nav-list">
            <li class="barber-list-item">
              <a href="">О нас</a>
            </li>
            <li class="barber-list-item">
              <a href="">Услуги и цены</a>
            </li>
            <li class="barber-list-item">
              <a href="">Мастера</a>
            </li>
            <li class="barber-list-item">
              <a href="">Контакты</a>
            </li>
          </ul>
        </div>

        <div class="barber-nav-second">
          <address class="address-header">
            <a href="tel:+380441111111">+38 044 111 11 11</a>
          </address>
          <button type="button" class="btn-menu">Онлайн-запись</button>
        </div>

        <div class="header-social">
          <ul class="header-social-list">
            <li class="barber-list-link">
              <a href="#" lang="en">Instagram</a>
            </li>
            <li class="barber-list-link">
              <a href="#" lang="en">Youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="barber-main">
      <p class="barber-main-texttop" lang="en">
        A hair salon for men in Kyiv
      </p>
      <h1 class="barber-main-heading">BarberShop</h1>
      <p class="barber-main-textbottom">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
    </div>
  </div>
</header>
