<section class="price">
  <div class="price-container">
    <p class="price-slogan">Проведи время в компании лучших мастеров</p>
    <h2 id="“price”" class="price-title">Услуги и цены</h2>
    <div class="price-list-div">
      <ul class="price-list-1 list">
        <li>
          <span class="price-item">Мужская стрижка</span>
          <span class="price-grn">от 300 грн.</span>
        </li>
        <li>
          <span class="price-item">Стрижка бороды</span>
          <span class="price-grn">от 200 грн.</span>
        </li>
        <li>
          <span class="price-item">Стрижка усов</span>
          <span class="price-grn">от 200 грн.</span>
        </li>
        <li>
          <span class="price-item">Бритье опасной бритвой</span>
          <span class="price-grn">от 200 грн.</span>
        </li>
      </ul>
      <ul class="price-list-2 list">
        <li>
          <span class="price-item">Cтрижка у стажера</span>
          <span class="price-grn">от 50 грн.</span>
        </li>
        <li>
          <span class="price-item">Стрижка под насадку</span>
          <span class="price-grn">от 200 грн.</span>
        </li>
        <li>
          <span class="price-item">Детская стрижка (до 12 лет)</span>
          <span class="price-grn">от 300 грн.</span>
        </li>
        <li>
          <span class="price-item">Камуфлирование седины</span>
          <span class="price-grn">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <a href="#" class="price-button">онлайн-запись</a>
  </div>
</section>
