<section class="container">
    <p class='topic'>
        Проведи время в компании лучших мастеров
    </p>
    <h2>Услуги и цены</h2>
    <ul>
        <li><span>Мужская стрижка</span>
            <svg class="line-first">
                <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
            </svg>
            <span>от 300 грн.</span> 
        </li>
        <li><span>Стрижка бороды</span> 
            <svg class="line-first">
                <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
            </svg>
            <span>от 200 грн.</span> 
        </li>
        <li> <span>Стрижка усов</span> 
            <svg class="line-first">
                <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
            </svg>
            <span>от 200 грн.</span> 
        </li>
        <li><span>Бритье опасной бритвой</span> 
            <svg class="line-first">
                <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
            </svg>
            <span>от 200 грн.</span>
        </li>
        <li><span>Cтрижка у стажера</span>
            <svg class="line-first">
                <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
            </svg>
            <span>от 50 грн.</span>
        </li>
        <li><span>Стрижка под насадку</span> 
            <svg class="line-first">
                <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
            </svg>
            <span>от 200 грн.</span>
        </li>
        <li><span>Детская стрижка (до 12 лет)</span> 
            <svg class="line-first">
                <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
            </svg>
            <span>от 300 грн.</span>
        </li>
        <li><span>Камуфлирование седины</span>
            <svg class="line-first">
                <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
            </svg>
            <span>от 200 грн.</span>
        </li>
    </ul>
    <button>онлайн-запись</button>
</section>
