<section class="section-services">
    <div class="container service">
        <p class='topic'>
            Проведи время в компании лучших мастеров
        </p>
        <h2 class="services-prices">Услуги и цены</h2>
        <div >
            <ul class="services-list">
                <div>
                    <li class="services-item">
                        <p>Мужская стрижка</p>
                        <span class="line-first-first">от 300 грн.</span>
                    </li>
                    <li class="services-item">
                        <p>Стрижка бороды</p>
                        <span class="line-second">от 200 грн.</span>
                    </li>
                    <li class="services-item"> 
                        <p>Стрижка усов</p> 
                        <span class="line-third">от 200 грн.</span>
                    </li>
                    <li class="services-item special">
                        <p>Бритье опасной бритвой</p>
                        <span class="line-fourth">от 200 грн.</span>
                    </li>
                </div>
                <div>
                    <li class="services-item">
                        <p>Cтрижка у стажера</p>
                        <span class="line-fifth">от 50 грн.</span>
                    </li>
                    <li class="services-item">
                        <p>Стрижка под насадку</p>
                        <span class="line-sixth">от 200 грн.</span>
                    </li>
                    <li class="services-item">
                        <p>Детская стрижка (до 12 лет)</p>
                        <span class="line-seventh">от 300 грн.</span>
                    </li>
                    <li class="services-item">
                        <p>Камуфлирование седины</p>
                        <span class="line-eighth">от 200 грн.</span>
                    </li>
                </div>
            </ul>
        </div>
        <div class="button-services-container">
            <button class="button service-button">онлайн-запись</button>
        </div>
    </div>
</section>
