<section class="container">
    <h3 class='topic'>
        Проведи время в компании лучших мастеров
    </h3>
    <h2>Услуги и цены</h2>
    <ul class="services-list">
        <li class="services-item">
            <p>
                Мужская стрижка
                <svg class="line-first">
                    <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
                </svg>
                от 300 грн.
            </p> 
        </li>
        <li class="services-item">
            <p>
                Стрижка бороды
                <svg class="line-first">
                    <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
                </svg>
                от 200 грн.
            </p>
        </li>
        <li class="services-item"> 
            <p>
                Стрижка усов
                <svg class="line-first">
                    <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
                </svg>
                от 200 грн.
            </p> 
        </li>
        <li class="services-item">
            <p>
                Бритье опасной бритвой
                <svg class="line-first">
                    <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
                </svg>
                от 200 грн.
            </p>
        </li>
        <li class="services-item">
            <p>
                Cтрижка у стажера
                <svg class="line-first">
                    <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
                </svg>
                от 50 грн.
            </p>
        </li>
        <li class="services-item">
            <p>
                Стрижка под насадку
                <svg class="line-first">
                    <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
                </svg>
                от 200 грн.
            </p>
        </li>
        <li class="services-item">
            <p>
                Детская стрижка (до 12 лет)
                <svg class="line-first">
                    <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
                </svg>
                от 300 грн.
            </p>
        </li>
        <li class="services-item">
            <p>
                Камуфлирование седины
                <svg class="line-first">
                    <use href="./images/icomoon/symbol-defs.svg#icon-Rectangle-5"></use>
                </svg>
                от 200 грн.
            </p>
        </li>
    </ul>
    <button>онлайн-запись</button>
</section>
