<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title lang="en">Web studio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" /> -->
    <link rel="stylesheet" href="./css/main.min.css">
  </head>

  <body>
    <!-- HEADER -->
  <header class="header">
    <div class="container">      
      <div class="header-container">
        <a href="./index.html" lang="en" class="logo"><span class="logo-accent">Web</span>Studio</a>
        <button class="menu-btn" data-menu-button>
          <svg width="40" height="40" aria-label="переключатель меню">
            <use class="menu-btn-close" href="./img/symbol-defs.svg#icon-close"></use>
            <use class="menu-btn-burger" href="./img/symbol-defs.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
      <div class="menu-wrapper" data-menu>
        <nav class="navigation">
          <ul class="site-nav list">
            <li class="site-nav-item current"><a href="./index.html" class="link">Студия</a></li>
            <li class="site-nav-item">
              <a href="./portfolio.html" class="link">Портфолио</a>
            </li>
            <li class="site-nav-item"><a href="./index.html" class="link">Контакты</a></li>
          </ul>
        </nav>
        <address class="address">
          <ul class="header-address-list list">
            <li class="header-address-item">
              <a href="mailto:info@devstudio.com" class="link">
                <svg class="header-contacts" width="16" height="12">
                  <use href="./img/symbol-defs.svg#icon-envelope"></use>
                </svg>
                info@devstudio.com
              </a>
            </li>
            <li class="header-address-item">
              <a href="tel:+380961111111" class="link">
                <svg class="header-contacts" width="10" height="16">
                  <use href="./img/symbol-defs.svg#icon-phone"></use>
                </svg>
                +38 096 111 11 11
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </header>
    
    <main>
      <!-- <div class="overlay"> -->
        <section class="hero overlay">
          <h1 class="hero-title">Эффективные решения для вашего бизнеса</h1>
          <button class="button" data-modal-open>Заказать услугу</button>
        </section>
      <!-- </div> -->

      <section class="section">
         <div class="container">
            <!-- <h2>Особенности</h2> -->
            <ul class="feature-list list">
              <li class="item">
                <div class="thumb">
                  <svg class="feature-icon">
                    <use href="./img/symbol-defs.svg#icon-group"></use>
                  </svg>
                </div>
                <h3 class="title">Внимание к деталям</h3>
                <p>
                  Идейные соображения, а также начало повседневной работы по
                  формированию позиции.
                </p>
              </li>
              <li class="item">
                <div class="thumb">
                  <svg class="feature-icon">
                    <use href="./img/symbol-defs.svg#icon-clock"></use>
                  </svg>
                </div>
                <h3 class="title">Пунктуальность</h3>
                <p>
                  Задача организации, в особенности же рамки и место обучения
                  кадров влечет за собой.
                </p>
              </li>
              <li class="item">
                <div class="thumb">
                  <svg class="feature-icon">
                    <use href="./img/symbol-defs.svg#icon-diagram"></use>
                  </svg>
                </div>
                <h3 class="title">Планирование</h3>
                <p>
                  Равным образом консультация с широким активом в значительной
                  степени обуславливает.
                </p>
              </li>
              <li class="item">
                <div class="thumb">
                  <svg class="feature-icon">
                    <use href="./img/symbol-defs.svg#icon-astronaut"></use>
                  </svg>
                </div>
                <h3 class="title">Современные технологии</h3>
                <p>
                  Значимость этих проблем настолько очевидна, что реализация
                  плановых заданий.
                </p>
              </li>
            </ul>
          </div>
      </section>

      <section class="section doing">
        <div class="container">
            <h2 class="work">Чем мы занимаемся</h2>
            <ul class="work-list list">
              <li class="item">
                <div class="thumb">

<picture>
  <source srcset="./img/work/work-1-desk.jpg 1x, ./img/work/work-1-desk@2x.jpg 2x" media="(min-width: 1200px)">
  <img src="./img/work/work-1-desk.jpg" alt="работа программиста за рабочим столом в офисе" width="370" />
</picture>
                  
                  <b>Десктопные приложения</b>
                </div>
              </li>
              <li class="item">
                <div class="thumb">

<picture>
  <source srcset="./img/work/work-2-desk.jpg 1x, ./img/work/work-2-desk@2x.jpg 2x" media="(min-width: 1200px)">
  <img src="./img/work/work-2-desk.jpg" alt="работа дизайнера-разработчика с приложениями для смартфонов" width="370" />
</picture>
                  
                  <b>Мобильные приложения</b>
                </div>
              </li>
              <li class="item">
                <div class="thumb">

<picture>
  <source srcset="./img/work/work-3-desk.jpg 1x, ./img/work/work-3-desk@2x.jpg 2x" media="(min-width: 1200px)">
  <img src="./img/work/work-3-desk.jpg" alt="работа креативного веб-дизайнера" width="370" />
</picture>
                 
                  <b>Дизайнерские решения</b>
                </div>
              </li>
            </ul>
          </div>
      </section>

      <section class="section section-team">
        <div class="container container-team">
          <h2 class="team">Наша команда</h2>
          <ul class="team-list list">
            <li class="item">

<picture>
  <source srcset="./img/team/igor/igor-desk.jpg 1x, ./img/team/igor/igor-desk@2x.jpg 2x" media="(min-width: 1200px)">
  <source srcset="./img/team/igor/igor-tablet.jpg 1x, ./img/team/igor/igor-tablet@2x.jpg 2x" media="(min-width: 768px)">
  <source srcset="./img/team/igor/igor-mobile.jpg 1x, ./img/team/igor/igor-mobile@2x.jpg 2x" media="(min-width: 320px)">
  <img src="./img/team/igor/igor-mobile.jpg" alt="Игорь Демьяненко" width="270" />
</picture>

              <h3>Игорь Демьяненко</h3>
              <span class="desk">Product Designer</span>
              <ul class="social-list list">
                <li class="social">
                  <a href="" class="social-link" aria-label="инстаграмм">
                    <svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="твиттер"
                    ><svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="фейсбук"
                    ><svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="линкедын">
                    <svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="item">

<picture>
  <source srcset="./img/team/olya/olya-desk.jpg 1x, ./img/team/olya/olya-desk@2x.jpg 2x" media="(min-width: 1200px)">
  <source srcset="./img/team/olya/olya-tablet.jpg 1x, ./img/team/olya/olya-tablet@2x.jpg 2x" media="(min-width: 768px)">
  <source srcset="./img/team/olya/olya-mobile.jpg 1x, ./img/team/olya/olya-mobile@2x.jpg 2x" media="(min-width: 320px)">
  <img src="./img/team/olya/olya-mobile.jpg" alt="Ольга Репина" width="270" />
</picture>

              <h3>Ольга Репина</h3>
              <span class="desk">Frontend Developer</span>
              <ul class="social-list list">
                <li class="social">
                  <a href="" class="social-link" aria-label="инстаграмм">
                    <svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="твиттер"
                    ><svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="фейсбук"
                    ><svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="линкедын">
                    <svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="item">

<picture>
  <source srcset="./img/team/kolya/kolya-desk.jpg 1x, ./img/team/kolya/kolya-desk@2x.jpg 2x" media="(min-width: 1200px)">
  <source srcset="./img/team/kolya/kolya-tablet.jpg 1x, ./img/team/kolya/kolya-tablet@2x.jpg 2x" media="(min-width: 768px)">
  <source srcset="./img/team/kolya/kolya-mobile.jpg 1x, ./img/team/kolya/kolya-mobile@2x.jpg 2x" media="(min-width: 320px)">
  <img src="./img/team/kolya/kolya-mobile.jpg" alt="Николай Тарасов" width="270" />
</picture>
              
              <h3>Николай Тарасов</h3>
              <span class="desk">Marketing</span>
              <ul class="social-list list">
                <li class="social">
                  <a href="" class="social-link" aria-label="инстаграмм">
                    <svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="твиттер"
                    ><svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="фейсбук"
                    ><svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="линкедын">
                    <svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li class="item">

<picture>
  <source srcset="./img/team/miha/miha-desk.jpg 1x, ./img/team/miha/miha-desk@2x.jpg 2x"
    media="(min-width: 1200px)">
  <source srcset="./img/team/miha/miha-tablet.jpg 1x, ./img/team/miha/miha-tablet@2x.jpg 2x"
    media="(min-width: 768px)">
  <source srcset="./img/team/miha/miha-mobile.jpg 1x, ./img/team/miha/miha-mobile@2x.jpg 2x"
    media="(min-width: 320px)">
  <img src="./img/miha.jpg" alt="Михаил Ермаков" width="270" />
</picture>
              
              <h3>Михаил Ермаков</h3>
              <span class="desk">UI Designer</span>
              <ul class="social-list list">
                <li class="social">
                  <a href="" class="social-link" aria-label="инстаграмм">
                    <svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="твиттер"
                    ><svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="фейсбук"
                    ><svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social">
                  <a href="" class="social-link" aria-label="линкедын">
                    <svg class="social-icon">
                      <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

      <section class="section section-clients">
        <div class="container container-clients">
          <h2 class="clients">Постоянные клиенты</h2>
          <ul class="clients-list list">
            <li class="clients-item">
              <a href="" class="link" aria-label="лого компании 1">
                <svg width="44" height="49">
                  <use href="./img/symbol-defs.svg#icon-logo1"></use>
                </svg>
              </a>
            </li>
            <li class="clients-item">
              <a href="" class="link" aria-label="лого компании 2">
                <svg width="40" height="52">
                  <use href="./img/symbol-defs.svg#icon-logo2"></use>
                </svg>
              </a>
            </li>
            <li class="clients-item">
              <a href="" class="link" aria-label="лого компании 3">
                <svg width="41" height="43">
                  <use href="./img/symbol-defs.svg#icon-logo3"></use>
                </svg>
              </a>
            </li>
            <li class="clients-item">
              <a href="" class="link" aria-label="лого компании 4">
                <svg width="80" height="42">
                  <use href="./img/symbol-defs.svg#icon-logo4"></use>
                </svg>
              </a>
            </li>
            <li class="clients-item">
              <a href="" class="link" aria-label="лого компании 5">
                <svg width="59" height="47">
                  <use href="./img/symbol-defs.svg#icon-logo5"></use>
                </svg>
              </a>
            </li>
            <li class="clients-item">
              <a href="" class="link" aria-label="лого компании 6">
                <svg width="88" height="45">
                  <use href="./img/symbol-defs.svg#icon-logo6"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container footer-container">
        <div class="box-address">
          <a href="./index.html" lang="en" class="logo">
            Web<span class="inverse">Studio</span></a
          >
          <address class="address">
            <a href="https://goo.gl/maps/B7tG4RKHSWiAFgXg7" target="_blank">г. Киев, пр-т Леси Украинки, 26</a>
          </address>
          <a href="mailto:info@example.com" class="link top"
            >info@example.com</a
          >
          <a href="tel:+380991111111" class="link bottom">+38 099 111 11 11</a>
        </div>
        <div class="box-links">
          <b>присоединяйтесь</b>
          <ul class="social-list list">
            <li class="social">
              <a
                href=""
                class="social-link link-inverse"
                aria-label="инстаграмм"
              >
                <svg class="social-icon">
                  <use href="./img/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social">
              <a href="" class="social-link link-inverse" aria-label="твиттер"
                ><svg class="social-icon">
                  <use href="./img/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social">
              <a href="" class="social-link link-inverse" aria-label="фейсбук"
                ><svg class="social-icon">
                  <use href="./img/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social">
              <a href="" class="social-link link-inverse" aria-label="линкедын">
                <svg class="social-icon">
                  <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="box-subscribe">
          <b>Подпишитесь на рассылку</b>
          <div class="subscribe" >
            <form class="form-subscribe">
              <label class="label-subscribe">
                <input class="input-subscribe" type="email" name="mail" placeholder="E-mail">
              </label>
            </form>
              <button class="btn-subscribe" type="submit">Подписаться
              </button>            
          </div>          
        </div>
      </div>
    </footer>
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <b>Оставьте свои данные, мы вам перезвоним</b>
        <form class="form" autocomplete="off" >
          <label class="form-label">Имя
            <input type="text" name="name" class="form-input">
            <svg class="form-icon" width=12 height=12>
              <use href="./img/symbol-defs-form.svg#icon-form-name"></use>
            </svg>
          </label>
          <label class="form-label">Телефон
            <input type="tel" name="tel" class="form-input">
            <svg class="form-icon" width=13 height=13>
              <use href="./img/symbol-defs-form.svg#icon-form-tel"></use>
            </svg>
          </label>
          <label class="form-label">Почта
            <input type="email" name="email" class="form-input">
            <svg class="form-icon" width=15 height=12>
              <use href="./img/symbol-defs-form.svg#icon-form-mail"></use>
            </svg>
          </label>
          <label class="form-label">Комментарий
            <textarea class="form-textarea" name="comment" placeholder="Введите текст" name="" id="" cols="30" rows="5"></textarea>
          </label>
          <label class="form-label agree-label">
            <input type="checkbox" name="policy" class="checkbox">
            <span class="agree-icon"></span>
            <p class="agree-text">Соглашаюсь с рассылкой и принимаю<a class="agree-link" href="">Условия договора</a></p>
            <!-- <span class="agree-text" >Соглашаюсь с рассылкой и принимаю</span> 
            <a class="agree-link" href="">Условия договора</a> -->
          </label>
          <button  class="submit-button" type="submit">Отправить</button>
        </form>
        <!-- <button class="btn-close" data-modal-close>
          <img class="close" src="./img/close.svg" alt="крестик" />
        </button> -->
        <button class="btn-close" data-modal-close>
          <span class="close">&#xD7</span>
        </button>
        <!-- <svg class="close">
            <use href="./img/close.svg"></use>
          </svg>  -->
      </div>
    </div>
    <script src="./js/modal.js"></script>
    <script src="./js/menu.js"></script>
  </body>
</html>
