<section class="cometous">
  <div class="container">
    <p class="traditions">старая традиционная школа</p>
    <h2 class="heading">Почему приходят именно к нам?</h2>
    <p class="description">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
    <div class="attainment">
      <ul class="attainment-left">
        <li class="attainment-client">
          <p class="attainment-figures">600<span class="plus">+</span></p>
          <p class="attainment-title">
            Довольных клиентов <br />
            в день
          </p>
        </li>
        <li class="attainment-master">
          <p class="attainment-figures">20<span class="plus">+</span></p>
          <p class="attainment-title">
            Лучших мастеров <br />
            Киева
          </p>
        </li>
      </ul>
      <ul class="attainment-right">
        <li class="attainment-servises">
          <p class="attainment-figures">50<span class="plus">+</span></p>
          <p class="attainment-title">
            Наград за отличный <br />
            сервис
          </p>
        </li>
        <li class="attainment-present">
          <p class="attainment-figures">100<span class="plus">+</span></p>
          <p class="attainment-title">
            Подарков постоянным <br />
            клиентам
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
