<section>
  <div class="container our-masters-container">
    <div class="ourmasters-text">
      <span class="ourmasters-subtitle">для настоящих ценителей атмосферы</span>
    </div>
    <h2 class="ourmasrets-title">Наши мастера</h2>
    <ul class="ourmasters-list">
      <li class="ourmasters-item">
        <img
          class="our-masters-foto"
          srcset="
            ./images/our-masters-section/John370@1x.jpg 370w,
            ./images/our-masters-section/John418@1x.jpg 418w,
            ./images/our-masters-section/John450@1x.jpg 450w,
            ./images/our-masters-section/John450@2x.jpg 900w,
            ./images/our-masters-section/John418@2x.jpg 836w,
            ./images/our-masters-section/John370@2x.jpg 740w
          "
          src="./images/our-masters-section/John370@1x.jpg"
          alt="Фото Джон"
          sizes="(min-width: 1200px) 370px, 
                (min-width: 720px) 450px, 
                (max-width: 719px) 418px, 100vw"
        />
        <h3 class="ourmasters-name">John Smith</h3>
        <p class="ourmasters-position">Extreme Barber</p>
        <ul class="social-network-list">
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-twitter"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-Vector"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-linkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="ourmasters-item">
        <img
          class="our-masters-foto"
          srcset="
            ./images/our-masters-section/John370@1x.jpg 370w,
            ./images/our-masters-section/John418@1x.jpg 418w,
            ./images/our-masters-section/John450@1x.jpg 450w,
            ./images/our-masters-section/John450@2x.jpg 900w,
            ./images/our-masters-section/John418@2x.jpg 836w,
            ./images/our-masters-section/John370@2x.jpg 740w
          "
          src="./images/our-masters-section/John370@1x.jpg"
          alt="Фото Джон"
          sizes="(min-width: 1200px) 370px, 
                    (min-width: 720px) 450px, 
                    (max-width: 719px) 418px, 100vw"
        />
        <h3 class="ourmasters-name">John Smith</h3>
        <p class="ourmasters-position">Extreme Barber</p>
        <ul class="social-network-list">
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-twitter"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-Vector"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-linkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="ourmasters-item">
        <img
          class="our-masters-foto"
          srcset="
            ./images/our-masters-section/John370@1x.jpg 370w,
            ./images/our-masters-section/John418@1x.jpg 418w,
            ./images/our-masters-section/John450@1x.jpg 450w,
            ./images/our-masters-section/John450@2x.jpg 900w,
            ./images/our-masters-section/John418@2x.jpg 836w,
            ./images/our-masters-section/John370@2x.jpg 740w
          "
          src="./images/our-masters-section/John370@1x.jpg"
          alt="Фото Джон"
          sizes="(min-width: 1200px) 370px, 
                    (min-width: 720px) 450px, 
                    (max-width: 719px) 418px, 100vw"
        />
        <h3 class="ourmasters-name">John Smith</h3>
        <p class="ourmasters-position">Extreme Barber</p>
        <ul class="social-network-list">
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-twitter"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-Vector"
                ></use></svg
            ></a>
          </li>
          <li class="link">
            <a class="social-network-link" href=""
              ><svg class="icon-social-link">
                <use
                  href="./images/icomoon/symbol-defs.svg#icon-linkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
