<section class="portfolio">
  <div class="container">
    <p class="section-tittle">
      На латинском языке “барба” означает “борода”
    </p>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./images/section-6-portfolio/desktop/portfolio-1-270.jpg 270w,
              ./images/section-6-portfolio/desktop/portfolio-1-540.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/section-6-portfolio/tablet/portfolio-1-330.jpg 330w,
              ./images/section-6-portfolio/tablet/portfolio-1-660.jpg 660w
            "
            media="(min-width: 449px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/section-6-portfolio/mobile/portfolio-1-418.jpg 418w,
              ./images/section-6-portfolio/mobile/portfolio-1-836.jpg 836w
            "
            media="(max-width: 448px)"
            sizes="418px"
          />
          <img
            src="./images/section-6-portfolio/desktop/portfolio-1-270.jpg"
            alt="Пример 1"
            class="portfolio-img"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./images/section-6-portfolio/desktop/portfolio-2-270.jpg 270w,
              ./images/section-6-portfolio/desktop/portfolio-2-540.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/section-6-portfolio/tablet/portfolio-2-330.jpg 330w,
              ./images/section-6-portfolio/tablet/portfolio-2-660.jpg 660w
            "
            media="(min-width: 449px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/section-6-portfolio/mobile/portfolio-2-418.jpg 418w,
              ./images/section-6-portfolio/mobile/portfolio-2-836.jpg 836w
            "
            media="(max-width: 448px)"
            sizes="418px"
          />
          <img
            src="./images/section-6-portfolio/desktop/portfolio-2-270.jpg"
            alt="Пример 2"
            class="portfolio-img"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./images/section-6-portfolio/desktop/portfolio-3-270.jpg 270w,
              ./images/section-6-portfolio/desktop/portfolio-3-540.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/section-6-portfolio/tablet/portfolio-3-330.jpg 330w,
              ./images/section-6-portfolio/tablet/portfolio-3-660.jpg 660w
            "
            media="(min-width: 449px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/section-6-portfolio/mobile/portfolio-3-418.jpg 418w,
              ./images/section-6-portfolio/mobile/portfolio-3-836.jpg 836w
            "
            media="(max-width: 448px)"
            sizes="418px"
          />
          <img
            src="./images/section-6-portfolio/desktop/portfolio-3-270.jpg"
            alt="Пример 3"
            class="portfolio-img"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            srcset="
              ./images/section-6-portfolio/desktop/portfolio-4-270.jpg 270w,
              ./images/section-6-portfolio/desktop/portfolio-4-540.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/section-6-portfolio/tablet/portfolio-4-330.jpg 330w,
              ./images/section-6-portfolio/tablet/portfolio-4-660.jpg 660w
            "
            media="(min-width: 449px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/section-6-portfolio/mobile/portfolio-4-418.jpg 418w,
              ./images/section-6-portfolio/mobile/portfolio-4-836.jpg 836w
            "
            media="(max-width: 448px)"
            sizes="418px"
          />
          <img
            src="./images/section-6-portfolio/desktop/portfolio-4-270.jpg"
            alt="Пример 4"
            class="portfolio-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
