<div class="flavour-container">
  <div class="description">
    <h2>
      IT ALL ADDS UP TO ONE <br />
      EXCEPTIONAL <span> TASTE </span> SENSATION
    </h2>
    <p>
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finestF ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>
  <div>
    <div class="front-detail">
      <picture>
        <!--mobile-->
        <!--<source
          srcset="
            ../images/milk-chocolate-m.png    1x,
            ../images/milk-chocolate-m-2x.png 2x
          "
        />
        <img src="../images/milk-chocolate-m.png" alt="piece-of-chocolate" />-->
      </picture>
      <h2>MILK CHOCOLATE</h2>
    </div>
    <div class="bg-details">
      <h2>MILK CHOCOLATE</h2>
      <span>chocolate</span><span>the benefits</span>
      <p>
        Milk chocolate is a solid chocolate confectionery containing cocoa,
        sugar and milk. It is the most consumed type of chocolate. Chocolate was
        originally sold and consumed as a beverage in pre-Columbian times.
        Although four-fifths of all milk chocolate is sold in the United States
        and Europe.
      </p>
    </div>
    <div class="front-detail">
      <picture>
        <!--mobile-->
        <!--<source srcset="../images/milk-m.png 1x, ../images/milk-m-2x.png 2x" />
        <img src="../images/milk-m.png" alt="bottle-of-milk" />-->
      </picture>
      <h2>MILK</h2>
    </div>
    <div class="bg-details">
      <h2>MILK</h2>
      <span>milk</span><span>the benefits</span>
      <p>
        Milk is a white liquid food produced by the mammary glands of mammals.
        It is the primary source of nutrition for young mammals (including
        breastfed human infants) before they are able to digest solid
        food.Early-lactation milk, which is called colostrum, contains
        antibodies that strengthen the immune system.
      </p>
    </div>
    <div class="front-detail">
      <picture>
        <!--<source srcset="../images/nuts-m.png 1x, ../images/nuts-m-2x.png 2x" />
        <img src="../images/nuts-m.png" alt="nuts" />-->
      </picture>
      <h2>NUTS</h2>
    </div>
    <div class="bg-details">
      <h2>NUTS</h2>
      <span>nuts</span><span>the benefits</span>
      <p>
        Milk is a white liquid food produced by the mammary glands of mammals.
        It is the primary source of nutrition for young mammals (including
        breastfed human infants) before they are able to digest solid
        food.Early-lactation milk, which is called colostrum, contains
        antibodies that strengthen the immune system.
      </p>
    </div>
    <!--mobile-->
    <div class="front-detail">
      <picture>
        <!--<source
          srcset="
            ../images/sweet-chocolate-m.png    1x,
            ../images/sweet-chocolate-m-2x.png 2x
          "
        />
        <img src="../images/sweet-chocolate-m.png" alt="coffee-beans" />-->
      </picture>
      <h2>semi - sweet chocolate</h2>
    </div>
    <div class="bg-details">
      <h2>semi - sweet chocolate</h2>
      <span>sweet chocolate</span><span>sweet chocolate</span>
      <p>
        Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the
        best ways to gain an understanding of this type of chocolate is to
        compare it to a different type of chocolate. Semisweet is darker than
        milk chocolate. In a taste comparison, it has a slightly bitter taste
        whereas milk chocolate is sweeter.
      </p>
    </div>
  </div>
</div>
