@media screen and (min-width: 481px) {
  .hero-header-container {
    display: flex;
    height: 416px;
    width: 768px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }

  .hero-header,
  body {
    top: 0px;
    background: #ffb8ca;
  }

  .hero-header-logo {
    padding-left: 16px;
    padding-top: 37px;
  }

  .hero-header-up-space-home {
    width: 46px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #d41443;
    padding-left: 128px;
    padding-top: 52px;
  }

  .hero-header-up-space-aboutus {
    width: 70px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 52px;
    padding-left: 35px;
  }

  .hero-header-up-space-howitsmade {
    width: 117px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 52px;
    padding-left: 35px;
  }

  .hero-header-up-space-ourproducts {
    width: 104px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 52px;
    padding-left: 35px;
    z-index: 1;
  }

  .hero-header-up-space-contacts {
    width: 64px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 52px;
    padding-left: 35px;
    z-index: 1;
  }

  .hero-header-button-buynow {
    width: 159px;
    height: 44px;
    left: 1025px;
    top: 40px;
    background: #ffffff;
    border-radius: 22px;
    position: absolute;
    border: none;
  }

  .hero-header-title-1 {
    width: 277px;
    height: 137px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 16px;
    padding-top: 40px;
  }

  .hero-header-title-2 {
    width: 277px;
    height: 137px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    padding-left: 16px;
    margin-top: -80;
  }

  .hero-header-nav-button-products {
    position: absolute;
    width: 107px;
    height: 40px;
    left: 16px;
    top: 348px;
    background: #d41443;
    border-radius: 20px;
    border: none;
    color: #ffffff;
  }

  .hero-header-nav-button-howitsmade {
    width: 138px;
    height: 40px;
    margin-left: 135px;
    margin-top: -108px;
    background: #ffffff;
    border-radius: 20px;
    border: none;
    color: #d41443;
  }

  .hero-header-nav-buttons {
    display: flex;
  }

  .hero-header-nav-iamges-milk {
    display: flex;
    margin-top: -42px;
  }

  .hero-header-nav-milk-img {
    position: absolute;
    width: 213px;
    height: 216px;
    padding-left: 16px;
    padding-top: 40px;
    color: #ffb8ca;
  }

  .hero-header-nav-iamges-milk-images-row {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    position: absolute;
    margin-left: 249px;
  }

  .hero-header-nav-iamges-milk-images-row-h4 {
    width: 200px;
    height: 78px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  }

  .hero-header-nav-iamges-milk-arrow {
    width: 36px;
    height: 36px;
  }

  .hero-header-nav-circle {
    position: absolute;
    width: 534px;
    height: 534px;
    left: 517px;
    top: 54px;
  }

  .hero-header-nav-icecream {
    position: absolute;
    top: 110px;
    padding-left: 636px;
    background: url(slider-pic7.png);
  }

  .hero-header-nav-circle1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1154px;
    top: 152px;
  }

  .hero-header-nav-16 {
    position: absolute;
    width: 54px;
    height: 53px;
    left: 1122px;
    top: 126px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .hero-header-nav-cafes {
    position: absolute;
    width: 20px;
    height: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    text-align: right;
    color: #ffffff;
    margin-left: 1130px;
    margin-top: -235px;
  }

  .hero-header-nav-circle2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1154px;
    top: 244px;
  }

  .hero-header-nav-23 {
    position: absolute;
    width: 59px;
    height: 53px;
    left: 1107px;
    top: 210px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .hero-header-nav-foodtrucks {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 1092px;
    top: 283px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
  }

  .hero-header-nav-girllickicecream {
    position: absolute;
    width: 304px;
    height: 241px;
    left: 880px;
    top: 423px;
    background: url(slider-pic4.png);
  }
}

@media screen and (min-width: 768px) {
  .hero-header-container {
    display: flex;
    width: 1200px;
    height: 664px;
    left: -40px;
    top: 0px;
  }

  .hero-header,
  body {
    top: 0px;
    background: #ffb8ca;
  }

  .hero-header-logo {
    padding-left: 16px;
    padding-top: 37px;
  }

  .hero-header-up-space-home {
    width: 46px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #d41443;
    padding-left: 128px;
    padding-top: 52px;
  }

  .hero-header-up-space-aboutus {
    width: 70px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 52px;
    padding-left: 35px;
  }

  .hero-header-up-space-howitsmade {
    width: 117px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 52px;
    padding-left: 35px;
  }

  .hero-header-up-space-ourproducts {
    width: 104px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 52px;
    padding-left: 35px;
    z-index: 1;
  }

  .hero-header-up-space-contacts {
    width: 64px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 52px;
    padding-left: 35px;
    z-index: 1;
  }

  .hero-header-button-buynow {
    width: 159px;
    height: 44px;
    left: 1025px;
    top: 40px;
    background: #ffffff;
    border-radius: 22px;
    position: absolute;
    border: none;
  }

  .hero-header-title-1 {
    width: 277px;
    height: 137px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 16px;
    padding-top: 40px;
  }

  .hero-header-title-2 {
    width: 277px;
    height: 137px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    padding-left: 16px;
    margin-top: -80;
  }

  .hero-header-nav-button-products {
    position: absolute;
    width: 107px;
    height: 40px;
    left: 16px;
    top: 348px;
    background: #d41443;
    border-radius: 20px;
    border: none;
    color: #ffffff;
  }

  .hero-header-nav-button-howitsmade {
    width: 138px;
    height: 40px;
    margin-left: 135px;
    margin-top: -108px;
    background: #ffffff;
    border-radius: 20px;
    border: none;
    color: #d41443;
  }

  .hero-header-nav-buttons {
    display: flex;
  }

  .hero-header-nav-iamges-milk {
    display: flex;
    margin-top: -650px;
  }

  .hero-header-nav-milk-img {
    position: absolute;
    width: 213px;
    height: 216px;
    padding-left: 16px;
    padding-top: 40px;
    color: #ffb8ca;
  }

  .hero-header-nav-iamges-milk-images-row {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    position: absolute;
    margin-left: 249px;
  }

  .hero-header-nav-iamges-milk-images-row-h4 {
    width: 200px;
    height: 78px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  }

  .hero-header-nav-iamges-milk-arrow {
    width: 36px;
    height: 36px;
  }

  .hero-header-nav-circle {
    position: absolute;
    width: 534px;
    height: 534px;
    left: 517px;
    top: 54px;
  }

  .hero-header-nav-icecream {
    position: absolute;
    top: 110px;
    padding-left: 636px;
    background: url(slider-pic7.png);
  }

  .hero-header-nav-circle1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1154px;
    top: 152px;
  }

  .hero-header-nav-16 {
    position: absolute;
    width: 54px;
    height: 53px;
    left: 1122px;
    top: 126px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .hero-header-nav-cafes {
    position: absolute;
    width: 20px;
    height: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    text-align: right;
    color: #ffffff;
    margin-left: 1130px;
    margin-top: -235px;
  }

  .hero-header-nav-circle2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1154px;
    top: 244px;
  }

  .hero-header-nav-23 {
    position: absolute;
    width: 59px;
    height: 53px;
    left: 1107px;
    top: 210px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .hero-header-nav-foodtrucks {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 1092px;
    top: 283px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
  }

  .hero-header-nav-girllickicecream {
    position: absolute;
    width: 304px;
    height: 241px;
    left: 880px;
    top: 423px;
    background: url(slider-pic4.png);
  }
}
