<section id="our-products" class="our-products-section">
  <div class="our-products-container">
    <h2>OUR <span>PRODUCTS</span></h2>
    <ul class="card-products">
      <li class="card">
        <img src="./images/orange-d.png" alt="orange" />
        <strong>ORANGE</strong>
        <p>Dark Chocolate</p>
        <button>45 UAH</button>
      </li>
      <li class="card">
        <img src="./images/apple&cranberry-d.png" alt="APPLE&CRANBERRY" />
        <strong>APPLE&CRANBERRY</strong>
        <p>Milk chocolate</p>
        <button>50 UAH</button>
      </li>

      <li class="card">
        <img src="./images/lime&seasalt-d.png" alt="lime&sea salt" />
        <strong>lime&sea salt</strong>
        <p>Dark chocolate</p>
        <button>66 UAH</button>
      </li>

      <li class="card">
        <img src="./images/pineapple-d.png" alt="pineapple" />
        <strong>pineapple</strong>
        <p>Dark chocolate</p>
        <button>54 UAH</button>
      </li>

      <li class="card">
        <img src="./images/classic-d.png" alt="Classic" />
        <strong>Classic</strong>
        <p>Milk chocolate</p>
        <button>45 UAH</button>
      </li>

      <li class="card">
        <img src="./images/honey-d.png" alt="honey" />
        <strong>honey</strong>
        <p>Milk chocolate</p>
        <button>50 UAH</button>
      </li>

      <li class="card">
        <img src="./images/roasted-fruits-d.png" alt="Roasted fruits" />
        <strong>Roasted fruits</strong>
        <p>Dark chocolate</p>
        <button>66 UAH</button>
      </li>

      <li class="card">
        <img src="./images/classic-white-d.png" alt="Classic" />
        <strong>Classic</strong>
        <p>White chocolate</p>
        <button>54 UAH</button>
      </li>
    </ul>
  </div>
</section>
