<section id="our-products" class="our-products-section">
  <div class="our-products-container">
    <h2>OUR <span>PRODUCTS</span></h2>
    <ul>
      <li>
        <img src="../images/orange-d.png" alt="orange" />
        <strong>ORANGE</strong>
        <p>Dark Chocolate</p>
        <button>45 UAH</button>
      </li>
      <li>
        <img src="../images/apple&cranberry-d.png" alt="APPLE&CRANBERRY" />
      </li>
      <strong>APPLE&CRANBERRY</strong>
      <p>Milk chocolate</p>
      <button>50 UAH</button>
      <li><img src="../images/lime&seasalt-d.png" alt="lime&sea salt" /></li>
      <strong>lime&sea salt</strong>
      <p>Dark chocolate</p>
      <button>66 UAH</button>
      <li><img src="../images/pineapple-d.png" alt="pineapple" /></li>
      <strong>pineapple</strong>
      <p>Dark chocolate</p>
      <button>54 UAH</button>
      <li><img src="../images/classic-d.png" alt="Classic" /></li>
      <strong>Classic</strong>
      <p>Milk chocolate</p>
      <button>45 UAH</button>
      <li><img src="../images/honey-d.png" alt="honey" /></li>
      <strong>honey</strong>
      <p>Milk chocolate</p>
      <button>50 UAH</button>
      <li><img src="../images/roasted-fruits-d.png" alt="Roasted fruits" /></li>
      <strong>Roasted fruits</strong>
      <p>Dark chocolate</p>
      <button>66 UAH</button>
      <li><img src="../images/classic-white-d.png" alt="Classic" /></li>
      <strong>Classic</strong>
      <p>White chocolate</p>
      <button>54 UAH</button>
    </ul>
  </div>
</section>
