


<section class="about">
  <div class="container">
    <h3 class="about__label">tradition and love</h3>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__main">
      <div class="about__background-image">
        <img
          class="about__photo"
          srcset="./images/home-pic4.png 1x, ./images/home-pic4@2x.png 2x"
          src="./images/home-pic4.png"
          alt="eco-bio photo"
          width="501"
          height="501"
        />
      </div>
      <div class="about__content">
        <p class="about__main-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__second-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.<br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button" type="button">
          Read more
          <!-- <svg class="about__icon" width="8" height="10">
            <use href=""></use>
          </svg> -->
        </button>
      </div>
    </div>
  </div>
</section>
