<section class="about" id="about-section">
  <div class="container about-section">
    <div class="name-wrapper">
      <p class="about__label">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
    </div>
    <div class="about__main">
      <picture class="about__picture milk-shake">
        <source srcset="./images/home-pic4.png 1x, ./images/home-pic4@2x.png 2x" media="(min-width: 1280px)" />
        <source srcset="./images/home-pic4tab.png 1x, ./images/home-pic4tab@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="./images/home-pic4ph.png 1x, ./images/home-pic4ph@2x.png 2x" media="(max-width: 768px)" />
        <img src="./images/home-pic4ph.png" alt="eco-bio" width="280" height="280" class="about__img" />
      </picture>
      <div class="about__content">
        <p class="about__content-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__content-additional">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <span>Aliquam erat volutpat. Aenean accumsan.</span>
        </p>
        <button class="about__content-button raise" type="button">
          Read more
          <svg class="about__content-icon" width="4px" height="8px">
            <use href="./images/sprite.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>