<div class="about-backdrop is-hidden" about-modal>
  <div class="about-modal">
    <button class="about-close" type="button" about-modal-close>
      <svg class="close-icon" width="11" height="11">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form action="#" class="about-form">
      <h2 class="about-modal-title">Lorem, ipsum dolor.</h2>
      <p class="about-modal-first-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fugiat,
        tempore illo facilis illum commodi laborum et eius, vel reiciendis
        laboriosam dolore asperiores repellat, voluptate accusantium eligendi
        libero ea explicabo
      </p>
      <p class="about-modal-second-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fugiat,
        tempore illo facilis illum commodi laborum et eius, vel reiciendis
        laboriosam dolore asperiores repellat, voluptate accusantium eligendi
        libero ea explicabo. Lorem ipsum dolor sit amet consectetur adipisicing
        elit.
      </p>
    </form>
  </div>
</div>
