<section class="section about-section">
    <div class="about-chocolate">
         <div class="scale-divider">
                <div class="about-section-svg-container">
                    <svg>
                        <use href="./images/symbol-defs.svg#icon-chocolate-2" />
                    </svg>
                </div>
                <h3>Unsurpassed taste</h3>
                <p>Crafted with the finest quality cocoa beans and a dedication to
                    perfection, each bite is a decadent experience 
                    that simply cannot be matched. Savor the richness and complexity 
                    of our Unsurpassed Taste and discover a new level of chocolate bliss.
                </p>
            </div>
        <div class="vertical-dash"></div>
    </div>

    <div class="about-price">
        <div class="scale-divider">
            <div class="about-section-svg-container">
                <svg>
                    <use href="./images/symbol-defs.svg#icon-dollar-sign" />
                </svg>
            </div>
            <h3>Affordable price</h3>
            <p>Indulge in high-quality chocolate without breaking the bank with Simply 
                Chocolate's selection of affordable treats. Enjoy mouth-watering truffles
                 and velvety chocolate bars without sacrificing taste or quality. Browse
                our selection and indulge in affordable luxury today.
            </p>
        </div>
        <div class="vertical-dash"></div>
    </div>

    <div class="about-us">
        <div class="scale-divider">
            <div class="about-section-svg-container">
                <svg>
                    <use href="./images/symbol-defs.svg#icon-spoon" />
                </svg>
            </div>
            <h3>Own production</h3>
            <p>We take pride in our own production process, ensuring that every step is
                carefully crafted to perfection. From selecting the finest ingredients to
                handcrafting each piece, our attention to detail is evident in every bite.
            </p>
         </div>
    </div>
    
    

</section>