<section>
    <div class="conteiner">
        <div class="about_title-conteiner">
            <h2 class="about_title accent-title">HOW IT’S MADE?</h2>
            <span class="about_subtitle subtitle">TRADITION AND LOVE</span>
        </div>

        <div class="about_text">
            <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            <p>Aliquam erat volutpat. Aenean accumsan.</p>
            <button class="about_button">
                Read more
                <svg class="about_icon" width="4.43px" height="8px">
                    <use class="about_svg" class="svg" href="./images/svg/symbol-defs.svg#next" ></use>
                </svg>
            </button>
        </div>
    </div>
</section>