<!--About section -->

<div class="container">
  <section class="section__section--about-section">
    <div class="section__about-titles">
      <label class="section__about-label">tradition and love</label>
      <h2 class="section__about-title">how it's made?</h2>
    </div>
    <div class="section__about-background">
      <div class="section__about-center">
        <div class="about-center__image-efect">
          <img
            class="about-center__image"
            src="./images/cow.png"
            alt="cow"
            width="501"
            height="501"
          />
        </div>
        <div class="about-center__text">
          <p class="about-center__text-top">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>
          <p class="about-center__text-bottom">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </p>

          <p class="about-center__text-hidden">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <span id="dots">...</span
            ><span id="more"
              >erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices
              nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue
              ut aliquet. Nunc sagittis dictum nisi.
            </span>
          </p>
          <label>
            <button class="about-button" onclick="myFunction()" id="myBtn">
              Read more<svg class="about-button__icon" width="24" height="24">
                <use href="./images/right-arrow.svg"></use>
              </svg>
            </button>
          </label>
        </div>
      </div>
    </div>
  </section>
  <!-- Advantages-->

  <section class="section__section--advantages-section">
    <div class="section__advantages-text">
      <h2 class="section__advantages visually-hidden">Advantages</h2>
      <div class="section__advantages-milk">
        <p class="section__advantages-numbers icon">721</p>
        <p class="section__advantages-text-milk">
          At 721 Cow, we're passionate about producing the highest quality ice
          cream possible.
        </p>
      </div>
      <div class="section__advantages-apples">
        <p class="section__advantages-numbers icon">16kg</p>
        <p class="section__advantages-text-apples">
          You can be sure you're getting a scoop of the freshest ice cream
          around.
        </p>
      </div>
      <div class="section__advantages-heart">
        <p class="section__advantages-numbers icon">84</p>
        <p class="section__advantages-text-heart">
          We use only the freshest, locally-sourced ingredients to make our 84
          unique and delicious flavors.
        </p>
      </div>
    </div>
  </section>
</div>
