<!--about us-->
<section id="about_us" class="about-us">
  <div class="content-section">
    <div class="title-section">
      <h2 class="title">About us</h2>
    </div>
    <div class="text-section">
      <div class="text-block">
        <div class="text">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </div>
      </div>
      <div class="text-block">
        <div class="text">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
          Browse our collection today and discover the perfect watch for you.
        </div>
      </div>
    </div>
  </div>
  <div class="gif-container">
    <img class="about-us-gif" src="./images/watch.gif" alt="watch" />
  </div>
</section>
