<section class="about-us">
  <div class="container">
    <div class="about-items">
      <div class="about-item">
        <div class="about-images">
          <img
            srcset="
              images/tablet/tablet-about-us1@1x.jpg 1x,
              images/tablet/tablet-about-us1@2x.jpg 2x
            "
            src="images/tablet/tablet-about-us1@1x.jpg "
            alt="photo"
            width="330"
            class="about-img"
          />
          <img
            srcset="
              images/desktop/desktop-about-us2@1x.jpg 1x,
              images/desktop/desktop-about-us2@2x.jpg 2x
            "
            src="images/desktop/desktop-about-us2@2x.jpg "
            alt="photo"
            width="270"
            height="445"
            class="about-img"
          />
        </div>
      </div>
      <div class="about-item">
        <h2 class="section-title">
          О нас
        </h2>
        <h3 class="about-title">
          Лучший Барбершоп твоего города
        </h3>
        <p class="about-subtitle">
          Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
          нам.
        </p>
        <p class="about-text">
          Мы команда, которая никогда не останавливается на достигнутом и жаждет
          перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
          сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
          волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
          приходит!
        </p>
        <button class="btn-lite-fone" type="button">
          онлайн-запись
        </button>
      </div>
    </div>
  </div>
</section>
<script src="./index.js"></script>
