<section class="about1__container">
  <ul class="about1-foto">
    <li class="about1-skill">
      <picture>
        <source
          srcset="
            ./images/about-us1/tabl-skill1.webp    330w,
            ./images/about-us1/tabl-skill1@2x.webp 660w
          "
          type="image/webp"
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill1.webp    270w,
            ./images/about-us1/desk-skill1@2x.webp 540w
          "
          type="image/webp"
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <source
          srcset="
            ./images/about-us1/tabl-skill1.jpg    330w,
            ./images/about-us1/tabl-skill1@2x.jpg 660w
          "
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill1.jpg    270w,
            ./images/about-us1/desk-skill1@2x.jpg 540w
          "
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <img
          class="team-img"
          src="./images/about-us1/desk-skill1.jpg"
          alt="Стрижка бороды"
        />
      </picture>
    </li>
    <li class="about1-skill">
      <picture>
        <source
          srcset="
            ./images/about-us1/tabl-skill2.webp    330w,
            ./images/about-us1/tabl-skill2@2x.webp 660w
          "
          type="image/webp"
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill2.webp    270w,
            ./images/about-us1/desk-skill2@2x.webp 540w
          "
          type="image/webp"
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <source
          srcset="
            ./images/about-us1/tabl-skill2.jpg    330w,
            ./images/about-us1/tabl-skill2@2x.jpg 660w
          "
          media="(max-width: 1279px)"
          sizes="330px"
        />
        <source
          srcset="
            ./images/about-us1/desk-skill2.jpg    270w,
            ./images/about-us1/desk-skill2@2x.jpg 540w
          "
          media="(min-width: 1280px)"
          sizes="270px"
        />
        <img
          class="team-img"
          src="./images/about-us1/desk-skill2.jpg"
          alt="Стрижка бороды"
        />
      </picture>
    </li>
  </ul>
  <div class="about1__container-text">
    <div class="about1-subtitle">о нас</div>
    <h class="about1-title">Лучший Барбершоп твоего города</h>
    <p class="about1-motivation">
      Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
      нам.
    </p>
    <p class="about1-description">
      Мы команда, которая никогда не останавливается на достигнутом и жаждет
      перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
      сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
      волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
      приходит!
    </p>
    <button class="button-bg-white">онлайн-запись</button>
  </div>
</section>
