<section class="section about-us">
  <div class="container">
    <div class="desktop-images">
      <img
        srcset="
          ./images/about_us_images/shaving1desk.jpg    1x,
          ./images/about_us_images/shaving1desk@2x.jpg 2x
        "
        src="./images/about_us_images/shaving1desk.jpg"
        alt="shaving"
        class="item"
      />
      <img
        srcset="
          ./images/about_us_images/shaving2desk.jpg    1x,
          ./images/about_us_images/shaving2desk@2x.jpg 2x
        "
        src="./images/about_us_images/shaving2desk.jpg"
        alt="shaving"
        class="item"
      />
    </div>
    <div class="tablet-images">
      <img
        srcset="
          ./images/about_us_images/shaving1.jpg    1x,
          ./images/about_us_images/shaving1@2x.jpg 2x
        "
        src="./images/about_us_images/shaving1.jpg"
        alt="shaving"
        class="item"
      />
      <img
        srcset="
          ./images/about_us_images/shaving2.jpg    1x,
          ./images/about_us_images/shaving2@2x.jpg 2x
        "
        src="./images/about_us_images/shaving2.jpg"
        alt="shaving"
        class="item"
      />
    </div>
    <div class="about-us-description">
      <b class="slogan">О НАС</b>
      <h2 class="section-title">Лучший Барбершоп твоего города</h2>
      <p class="text">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="description">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <button class="button secondary">онлайн-запись</button>
    </div>
  </div>
</section>
