<div class="about-backdrop is-hidden" about-modal>
  <div class="about-modal">
    <button class="about-close" type="button" about-modal-close>
      <svg class="close-icon" width="11" height="11">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <form action="#" class="about-form">
      <h2 class="about-modal-title">We know everything about ice cream!</h2>
      <p class="about-modal-first-p">
        Ice-Cream Service is one the first companies in Ukraine, that started
        selling specialized ingredients and related goods for the non-industrial
        ice-cream production from its own warehouse.
      </p>
      <iframe
        class="about-video"
        src="https://www.youtube.com/embed/tN-n6rkmxbE?rel=0&amp;amp;showinfo=0&amp;enablejsapi=1&amp;origin=http%3A%2F%2Ficecreamservice.com.ua"
        data-gtm-yt-inspected-8598097_18="true"
        id="54598384"
      ></iframe>
    </form>
  </div>
</div>
