 <!--О нас-->
 <section>
    <div>   
      <ul>
        <li>
          <img src="" alt="">
        </li>
        <li>
          <img src="" alt="">
        </li>
      </ul>
      <span>О НАС</span>
      <h2>Лучший Барбершоп твоего города</h2>
      <ul>
        <li>
          <p>Если ты хочешь добавить в свой образ больше уверенности – тебе точно 
            к нам.</p>
        </li>
        <li>
            <p>Мы команда, которая никогда 
              не останавливается на достигнутом и жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая всегда 
              с клиентами "на одной волне". Поэтому, 
              мы всегда готовы усовершенствовать каждого, кто к нам приходит!</p>
        </li>
      </ul>
      <a href="">онлайн-запись</a>
    </div>
  </section>
      
  