<!--About Us-->
<section class="about-section container">
  <div class="about-images">
    <img src="" alt="Нанесение пены для бритья" />
    <img src="" alt="Бритье опасной бритвой" />
  </div>

  <div class="about-info">
    <h2 class="second-heading">О НАС</h2>
    <h3 class="third-heading">
      Лучший Барбершоп<br />
      твоего города
    </h3>
    <p class="tagline">
      Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
      нам.
    </p>
    <p class="about-decr">
      Мы команда, которая никогда не останавливается на достигнутом и жаждет
      перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
      сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
      волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
      приходит!
    </p>
    <button class="btn">онлайн-запись</button>
  </div>
</section>
