<section class="about section">
  <div class="about container">
    <div class="about-box">
      <ul class="about-first-box">
        <li class="about-photo">
          <img
            srcset="
              ./images/img-1-270.jpg 270w,
              ./images/img-1-330.jpg 330w,
              ./images/img-1-540.jpg 540w,
              ./images/img-1-660.jpg 660w
            "
            src="./images/img-1-270.jpg"
            alt=""
            sizes="( min-width: 1200px ) 270px, ( min-width: 768px ) 330px"
          />
        </li>
        <li class="about-photo">
          <img
            srcset="
              ./images/img-2-270.jpg 270w,
              ./images/img-2-330.jpg 330w,
              ./images/img-2-540.jpg 540w,
              ./images/img-2-660.jpg 660w
            "
            src="./images/img-2-270.jpg"
            alt=""
            sizes=" ( min-width: 1200px ) 270px, ( min-width: 768px ) 330px"
          />
        </li>
      </ul>
      <div class="about-second-box">
        <p class="about-section-text">О НАС</p>
        <h3 class="about title">Лучший Барбершоп твоего города</h3>
        <p class="about-first text">
          Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
          нам.
        </p>
        <p class="about-second text">
          Мы команда, которая никогда не останавливается на достигнутом и жаждет
          перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
          сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
          волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
          приходит!
        </p>
        <button class="about-button" type="button">онлайн-запись</button>
      </div>
    </div>
  </div>
</section>
