<section class="about">
  <div class="container">
    <div class="about-name">
      <p id="about" class="about-name__pre-text transition-hover">
        tradition and love
      </p>
      <h2 id="how_it's_made?" class="about-name__title transition-hover">
        how it's made?
      </h2>
    </div>
    <div class="about-wrap">
      <div class="about-wrap__flex">
        <picture>
          <!--Set de imagini  desktop-->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/about(Richard)/desktop/cow_desktop.png    1x,
              ./images/about(Richard)/desktop/cow_desktop-2x.png 2x
            "
            type="image/jpg"
          />
          <!--Set de imagini tabletei-->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about(Richard)/tablet/cow_tablet.png    1x,
              ./images/about(Richard)/tablet/cow_tablet-2x.png 2x
            "
            type="image/jpg"
          />
          <!--Set de imagini mobile-->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/about(Richard)/mobile/cow_mobile.png    1x,
              ./images/about(Richard)/mobile/cow_mobile-2x.png 2x
            "
            type="image/png"
          />
          <!--Imagine implicită-->
          <img
            class="about-wrap__pic"
            src="./images/about(Richard)/mobile/cow_mobile.png"
            alt="cow"
            width="280"
            height="279"
          />
        </picture>
      </div>
      <div class="about-wrap-content">
        <p class="about-wrap-content__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about-wrap-content__secondary-text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>

        <button
          type="button"
          class="about-wrap-content__btn"
          data-modal-open-about
        >
          Read more
          <img
            class="about-wrap__btn-icon"
            src="./images/about(Richard)/about-btn-icon.svg"
            alt="btn_icon"
            width="8"
            height="10"
          />
        </button>
      </div>
    </div>
  </div>
</section>
