<section class="cection about-us-section">
  <div class="container">
    <div class="about-us_img-wrapper">
      <ul class="img-wrapper_list">
        <li class="img-wrapper_list-item"></li>
        <li class="img-wrapper_list-item"></li>
      </ul>
    </div>
    <div class="about-us_text-wrapper">
      <article>
        <h2 class="title about-us_title">
          О НАС
        </h2>
        <h3 class="subtitle about-us_subtitle">
          Лучший Барбершоп твоего города
        </h3>
        <p class="about-us_desc">
          Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
          нам.
        </p>
        <p class="about-us_text">
          Мы команда, которая никогда не останавливается на достигнутом и жаждет
          перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
          сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
          волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
          приходит!
        </p>
      </article>
      <button class="button about-us_button">онлайн-запись</button>
    </div>
  </div>
</section>
