<!--ABOUT-->
<section class="about">
  <div class="about-container">
    <div class="about-top-content">
      <p class="about-label-title">tradition and love</p>
      <h2 class="about-title">how it’s made?</h2>
    </div>
    <div class="about-left-side">
        <picture>
                <source
                  srcset="
                    ./images/desktop-images/about/desktop-2.webp 1x,
                    ./images/desktop-images/about/desktop-2@2x.webp 2x
                  "
                  media="(min-width: 1200px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/desktop-images/about/desktop-2.jpg 1x,
                    ./images/desktop-images/about/desktop-2@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                   ./images/tablet-images/about/tablet-2.webp 1x,
                   ./images/tablet-images/about/tablet-2@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/tablet-images/about/tablet-2.jpg 1x,
                    ./images/tablet-images/about/tablet-2@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/mobile-images/about/2.webp 1x,
                    ./images/mobile-images/about/2@2x.webp 2x
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/mobile-images/about/2.jpg 1x,
                    ./images/mobile-images/about/2@2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                   class="images"
                   src="./images/desktop-images/team/desktop-2.png"
                   alt="фронт-энд разработчик"
                />
              </picture>
    </div>
    <div class="about-right-side">
      <p class="about-first-paragraph">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="about-second-paragraph">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. 
        
        Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button type="button" class="about-button" data-modal-open>Read more</button>
            <div class="about-backdrop is-hidden" data-modal>
          <div class="about-modal">
            <button class="about-close" type="button"
              data-modal-close> 
              <svg class="close-icon" width="11" height="11">
              <use href="./images/sprite.svg#icon-close"></use>
              </svg>
            </button>
    </div>
  </div>
</section>
