<div class="about-backdrop is-hidden" data-modal>
    <div class="about-modal">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="about-icon-close">
                <use href="./images/sprite.svg#about-icon-close"></use>
            </svg>
        </button>
        <p class="modal-title">tradition and love</p>
        <img class="about-img-modal" src="./images/images/about/bio-eco/biomilkDecktop@1x.png" alt="biomilk">

        <p class="modal-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
            rhoncus
            orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.
            Aliquam erat volutpat. Aenean accumsan.
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
            rhoncus
            orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.
            Aliquam erat volutpat. Aenean accumsan.
        </p>
        <img class="about-bg-modal" src="./images/images/about/backgraund-img/backmilkDecktop@1x.png" alt="biomilk">
    </div>

</div>