<!-- <!DOCTYPE html>
<html> -->
    <!-- <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IceCream</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Titan+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"/>
        <link rel="stylesheet" href="./css/index.min.css">
    </head> -->
            
            <!-- AboutSection -->
            <section class="about-section" id="about">                
                <div class="about-section__container container">
                    <h3 class="about-section__subtitle">tradition and love </h3>
                    <h2 class="about-section__title">how it’s made?</h2>
                    <ul class="about-section__list unstyled-list">
                        <li class="about-section__item-image">
                            <picture>
                                <source
                                    media="screen and (max-width: 767px)"
                                    srcset="images/about/cow-M-1x.png 1x,images/about/cow-M-2x.png 2x"/>
                                <source
                                    media="screen and (min-width: 768px) and (max-width: 1199px)"
                                    srcset="images/about/cow-T-1x.png 1x,images/about/cow-T-2x.png 2x"/>
                                <source
                                    media="screen and (min-width: 1200px)"
                                    srcset="images/about/cow-D-1x.png 1x,images/about/cow-D-2x.png 2x"/>  
                                <img 
                                    src="images/about/cow-M-1x.png" 
                                    alt="John Smith"/>                                
                            </picture>
                        </li>
                        <li class="about-section__item-description">
                            <div class="description">
                                <ul class="description__list unstyled-list">
                                    <li class="description__item">
                                        <p class="description__main-text">
                                            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. 
                                            Nam vel justo cursus, faucibus lorem eget, egestas eros. 
                                            Maecenas eleifend erat at justo fringilla.
                                        </p>
                                    </li>
                                    <li class="description__item">
                                        <p class="description__secondary-text">
                                            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. 
                                            Mauris rhoncus orci in imperdiet placerat. 
                                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. 
                                            Cras massa nibh, tincidunt.
                                        </p>
                                        <p class="description__secondary-text">Aliquam erat volutpat. Aenean accumsan.</p>
                                    </li>
                                    <li class="description__item">
                                        <button data-modal-open class="about-modal-button button" type="button">
                                            Read more
                                            <svg width="4.4" height="8">
                                                <use href="images/icons-svg.svg#icon-btn-arrow"/>
                                            </svg>
                                        </button>
                                    </li>
                                </ul>
                            </div>                            
                        </li>                        
                    </ul>
                </div>
            </section>
            <!-- AdvantagesSection -->
            <section class="advantages-section" id="advantages">
                <div class="advantages-section__container container">
                    <h2 hidden>advantages</h2>
                    <ul class="advantages-section__list unstyled-list">
                        <li class="advantages-section__item advantages-section__item--one">
                            <h3 class="advantages-section__item-title">721</h3>
                            <p class="about-section__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>                        
                        </li>
                        <li class="advantages-section__item advantages-section__item--two">                            
                            <h3 class="advantages-section__item-title">16kg</h3>
                            <p class="about-section__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>                        
                        </li>
                        <li class="advantages-section__item advantages-section__item--three">                            
                            <h3 class="advantages-section__item-title">84</h3>
                            <p class="about-section__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>                        
                        </li>
                    </ul>
                </div>
            </section>       
        <!-- <script src="./js/about-modal.js"></script> -->  
<!-- </html> -->