<!--About Us-->
<section class="about-section container">
  <div class="about-images">
    <picture class="shaving-foam">
      <source
        srcset="
          ./images/aboutus1TЕ768-min.jpg    1x,
          ./images/aboutus1@2xTЕ768-min.jpg 2x
        "
        media="(min-width: 481px)"
        type="image/jpg"
      />
      <source
        srcset="
          ./images/aboutus1TЕ1200-min.jpg    1x,
          ./images/aboutus1@2xTЕ1200-min.jpg 2x
        "
        media="(min-width: 769px)"
        type="image/jpg"
      />
      <img
        src="./images/aboutus1@2xTЕ768-min.jpg"
        alt="Нанесение пены для бритья"
      />
    </picture>
    <picture class="straght-razor-shave">
      <source
        srcset="
          ./images/aboutus2TЕ768-min.jpg    1x,
          ./images/aboutus2@2xTЕ768-min.jpg 2x
        "
        media="(min-width: 481px)"
        type="image/jpg"
      />
      <source
        srcset="
          ./images/aboutus2TЕ1200-min.jpg    1x,
          ./images/aboutus2@2xTЕ1200-min.jpg 2x
        "
        media="(min-width: 769px)"
        type="image/jpg"
      />

      <img
        src="./images/aboutus2@2xTЕ768-min.jpg"
        alt="Бритье опасной бритвой"
      />
    </picture>
  </div>

  <div class="about-info">
    <div class="before-second-head"><h2 class="second-heading">О НАС</h2></div>
    <h3 class="third-heading">
      Лучший Барбершоп<br />
      твоего города
    </h3>
    <p class="tagline">
      Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
      нам.
    </p>
    <p class="about-decr">
      Мы команда, которая никогда не останавливается на достигнутом и жаждет
      перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
      сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
      волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
      приходит!
    </p>
    <a class="button-link-white">
      <p class="button-link-text-white">онлайн-запись</p></a>
  </div>
</section>