<!-- Achivments -->
<section class="layout">
	<div class="container">
		<p class="achivments-pre-heading">старая традиционная школа</p>
		<h2 class="achivments-title">Почему приходят именно к нам?</h2>
		<p class="achivments-text">
			О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
		</p>
		<ul class="achivments-item">
			<li class="link">
				<div class="list">
					<span class="list-title">600</span>
					<svg class="icon-plus" width="13" height="22">
						<use class="icon-menu" href="./images/sprite.svg#plus"></use>
					</svg>
					<p class="list-text">Довольных клиентов в день</p>
				</div>
			</li>
			<li class="link">
				<div class="list">
					<span class="list-title">50</span>
					<svg class="icon-plus" width="13" height="22">
						<use class="icon-menu" href="./images/sprite.svg#plus"></use>
					</svg>
					<p class="list-text">Наград за отличный сервис</p>
				</div>
			</li>
			<li class="link">
				<div class="list">
					<span class="list-title">20</span>
					<svg class="icon-plus" width="13" height="22">
						<use class="icon-menu" href="./images/sprite.svg#plus"></use>
					</svg>
					<p class="list-text">Лучших мастеров Киева</p>
				</div>
			</li>
			<li class="link">
				<div class="list">
					<span class="list-title">100</span>
					<svg class="icon-plus" width="13" height="22">
						<use class="icon-menu" href="./images/sprite.svg#plus"></use>
					</svg>
					<p class="list-text">Подарков постоянным клиентам</p>
				</div>
			</li>
		</ul>
	</div>
</section>
