>
<section>
  <div>
    <p>старая традиционная школа</p>
    <h2>Почему приходят именно к нам?</h2>
    <p>
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
    <ul>
      <li>
        <p>600</p>
        <p>Довольных клиентов в день</p>
      </li>
      <li>
        <p>50</p>
        <p>Наград за отличный сервис</p>
      </li>
      <li>
        <p>20</p>
        <p>Лучших мастеров Киева</p>
      </li>
      <li>
        <p>100</p>
        <p>ДПодарков постоянным клиентам</p>
      </li>
    </ul>
  </div>
</section>
