<section class="layout achivments">
	<div class="container achivments-container">
		<div class="achivments-content">
			<p class="subtitle">старая традиционная школа</p>
			<h2 class="section-title achivments-title">Почему приходят именно к нам?</h2>
			<p class="desc achivments-desc">
				О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
			</p>
		</div>
		<ul class="achivments-items">
			<li class="holder">
				<div class="holder-inner">
					<span class="quantity">600</span>
					<svg class="icon-plus" width="13" height="22">
						<use href="./images/sprite.svg#plus"></use>
					</svg>
					<p class="holder-text">Довольных клиентов в день</p>
				</div>
			</li>
			<li class="holder">
				<div class="holder-inner">
					<span class="quantity">50</span>
					<svg class="icon-plus" width="13" height="22">
						<use href="./images/sprite.svg#plus"></use>
					</svg>
					<p class="holder-text">Наград за отличный сервис</p>
				</div>
			</li>
			<li class="holder">
				<div class="holder-inner">
					<span class="quantity">20</span>
					<svg class="icon-plus" width="13" height="22">
						<use href="./images/sprite.svg#plus"></use>
					</svg>
					<p class="holder-text">Лучших мастеров Киева</p>
				</div>
			</li>
			<li class="holder">
				<div class="holder-inner">
					<span class="quantity">100</span>
					<svg class="icon-plus" width="13" height="22">
						<use href="./images/sprite.svg#plus"></use>
					</svg>
					<p class="holder-text">Подарков постоянным клиентам</p>
				</div>
			</li>
		</ul>
	</div>
</section>
