<section class="section action">
  <div class="container action-container">
    <h2 class="title action-text">Регистрация на <span>бесплатную</span> телефонную <span>консультацию</span> по нюансам
      ЗНО
      по
      английскому языку
    </h2>
    <form action="./src/backend/telegram.php" method="POST" class="form" id="go-to-form">
      <label for="name" class="label-text">
        Оставь заявку на участие в <span>бесплатном занятии.</span> С вами свяжется консультант и ответит на
        вопросы
      </label>
      <input class="form-input" type="text" name="user_name" id="name" placeholder="Имя*">
      <input class="form-input" type="tel" name="user_phone" placeholder="Телефон*">
      <button class="btn-hero" type="submit">хочу на бесплатное занятие</button>
    </form>
  </div>
</section>