<div class="bg-container">
  <ul class="adress__list">
    <li class="adress__item">
      <div class="adress-box">
        <h4 class="adress__title">cafe</h4>
        <p class="adress__city">Chicago</p>
        <p class="adress__descript">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="time__list">
          <li>
            Monday - Friday <br />
            <span class="work-time"> 06:00 AM - 10:00 PM </span>
          </li>
          <li>
            Saturday - Sunday <br />
            <span class="work-time"> 08:00 AM - 16:00 PM </span>
          </li>
        </ul>
        <address class="adress__contacts">
          <a href="tel:+61083766284" class="contacts-item"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-item"
            >noreply@envato.com</a
          >
        </address>
      </div>
    </li>
    <li class="adress__item">
      <div class="adress-box">
        <h4 class="adress__title foodtruck">foodtruck</h4>
        <p class="adress__city">Los Angeles</p>
        <p class="adress__descript">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="time__list">
          <li>
            Monday - Friday <br />
            <span class="work-time"> 06:00 AM - 10:00 PM </span>
          </li>
          <li>
            Saturday - Sunday <br />
            <span class="work-time"> 08:00 AM - 16:00 PM </span>
          </li>
        </ul>
        <address class="adress__contacts">
          <a href="tel:+61083766284" class="contacts-item"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-item"
            >noreply@envato.com</a
          >
        </address>
      </div>
    </li>
    <li class="adress__item">
      <div class="adress-box">
        <h4 class="adress__title">cafe</h4>
        <p class="adress__city">New York</p>
        <p class="adress__descript">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="time__list">
          <li>
            Monday - Friday <br />
            <span class="work-time"> 06:00 AM - 10:00 PM </span>
          </li>
          <li>
            Saturday - Sunday <br />
            <span class="work-time"> 08:00 AM - 16:00 PM </span>
          </li>
        </ul>
        <address class="adress__contacts">
          <a href="tel:+61083766284" class="contacts-item"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-item"
            >noreply@envato.com</a
          >
        </address>
      </div>
    </li>
  </ul>
  <div class="adress-link">
    <a href="" class="locations"
      >Our Locations
      <svg class="white-arrow">
        <use href="./images/sprite.svg#white-arrow"></use>
      </svg>
    </a>
    <a href="" class="locations franchise"
      >Franchise
      <svg class="red-arrow">
        <use href="./images/sprite.svg#read-more-button"></use>
      </svg>
    </a>
  </div>
</div>
