<section class="advantages">
  <div class="advantages__container container">
    <h2 hidden class="advantages__title">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item advantages__1-item">
        <p class="advantages__text">
          <span class="advantages__number">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__2-item">
        <p class="advantages__text">
          <span class="advantages__number">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__3-item">
        <p class="advantages__text">
          <span class="advantages__number">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
