<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <ul>
        <li>
            <svg width="50" height="50">
                <use href=".././images/iconadvantages.svg#icon-frozen1"></use>"></use>
            </svg>

            <h3>721</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li>
          <svg width="50" height="50">
            <use href=".././images/iconadvantages.svg#icon-frozen2"></use>"></use>
        </svg>

            <h3>16kg</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li>
          <svg width="44" height="50">
            <use href=".././images/iconadvantages.svg#icon-frozen3"></use>"></use>
        </svg>

            <h3>84</h3>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
</section>
</body>
</html>