<section class="advantages">
  <div class="container">
    <h2 class="visualli-hidden">a</h2>
    <h3 class="title advantages-before-element">721</h3>
    <p class="advantages-discription">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
    <h3 class="title advantages-before-element">16kg</h3>
    <p class="advantages-discription">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
    <h3 class="title advantages-before-element">84</h3>
    <p class="advantages-discription">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
  </div>
</section>
