<section class="advantages-section">
    <div class="container">

        <h2 class="visually-hidden">Advantages</h2>

        <ul class="advantages-list list">
            <li class="advantages-item">
                <img class="advantages-picture" srcset="./images/advantages/udder-and-bucket-2x.png 2x" 
                    src="./images/advantages/udder-and-bucket.png" 
                    alt="udder and bucket" width="33">
                <span class="advantages-figures">721</span>
                <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <img class="advantages-picture" srcset="./images/advantages/apple-and-bucket-2x.png 2x" 
                    src="./images/advantages/apple-and-bucket.png"
                    alt="apple and bucket" width="50">
                <span class="advantages-figures">16kg</span>
                <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <img class="advantages-picture" srcset="./images/advantages/heart-on-stick-2x.png 2x" 
                    src="./images/advantages/heart-on-stick.png"
                    alt="heart on stick" width="44">

                <span class="advantages-figures">84</span>
                <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>