<section class="advantage">
  <h2 class="visually-hidden">Advantage</h2>
  <ul class="list advantage__list">
    <li class="advantage__item">
      <img
        srcset="
          ./images/advantages/advantages-1.png    1x,
          ./images/advantages/advantages-1@2x.png 2x
        "
        class="advantage__icon"
        src="./images/advantages/advantages-1.png"
        alt="advantages-1"
      />
      <div class="advantage__box">
        721
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </li>
    <li class="advantage__item">
      <img
        srcset="
          ./images/advantages/advantages-2.png    1x,
          ./images/advantages/advantages-2@2x.png 2x
        "
        class="advantage__icon"
        src="./images/advantages/advantages-2.png"
        alt="advantages-2"
      />
      <div class="advantage__box">
        16kg
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </li>
    <li class="advantage__item">
      <img
        srcset="
          ./images/advantages/advantages-3.png    1x,
          ./images/advantages/advantages-3@2x.png 2x
        "
        class="advantage__icon"
        src="./images/advantages/advantages-3.png"
        alt="advantages-3"
      />
      <div class="advantage__box">
        84
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </li>
  </ul>
</section>
