<section class="advantages" id="advantages">
    <div class="container">
    <div>
        <h3 hidden>advantages</h3> </div>
    <ul class="advantages__list">
        <li class="advantages__list-items advantages__list-items--1 ">
                <span class="items">721</span>
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-items advantages__list-items--2">
                <span class="items">16kg</span>
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-items advantages__list-items--3">
                <span class="items">84</span>
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>

  