<section class="advantage">
  <div class="container advantage__container">
    <h2 class="visually-hidden">Advantage</h2>
    <ul class="list advantage__list">
      <li class="advantage__item">
        <div class="advantage__box">
          721
          <p class="advantage__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantage__item">
        <div class="advantage__box">
          16kg
          <p class="advantage__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantage__item">
        <div class="advantage__box">
          84
          <p class="advantage__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
