<section class="advantages container">
    <ul class="advantages__list">
        <li class="advantages__list-items">
            <picture>
                <source
                       srcset="./images/png/advanteges/descktop/icon1.png 1x, ./images/png/advanteges/descktop/icon1@2x.png 2x" 
                       media="(min-width: 1200px)">
            
                <source
                       srcset="./images/png/advanteges/tablet/icon1.png 1x, ./images/png/advanteges/tablet/icon1@2x.png 2x" 
                       media="(min-width: 768px)">
     
                <source
                       srcset="./images/png/advanteges/mobile/icon1.png 1x, ./images/png/advanteges/mobile/icon1@2x.png 2x" 
                       media="(min-width: 480px)">
                       <img class="advanteges-icons" src="./images/png/advanteges/mobile/icon1.png" alt="ice-cream">                         
                 
              </picture>
            <span class="items">721</span>
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-items">
            <picture>
                <source
                       srcset="./images/png/advanteges/descktop/icon2.png 1x, ./images/png/advanteges/descktop/icon2@2x.png 2x" 
                       media="(min-width: 1200px)">
            
                <source
                       srcset="./images/png/advanteges/tablet/icon2.png 1x, ./images/png/advanteges/tablet/icon2@2x.png 2x" 
                       media="(min-width: 768px)">
     
                <source
                       srcset="./images/png/advanteges/mobile/icon2.png 1x, ./images/png/advanteges/mobile/icon2@2x.png 2x" 
                       media="(min-width: 480px)">
                       <img class="advanteges-icons" src="./images/png/advanteges/mobile/icon2.png" alt="ice-cream">                         
                 
              </picture>
            <span class="items">16kg</span>
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-items">
            <picture>
                <source
                       srcset="./images/png/advanteges/descktop/icon3.png 1x, ./images/png/advanteges/descktop/icon3@2x.png 2x" 
                       media="(min-width: 1200px)">
            
                <source
                       srcset="./images/png/advanteges/tablet/icon3.png 1x, ./images/png/advanteges/tablet/icon3@2x.png 2x" 
                       media="(min-width: 768px)">
     
                <source
                       srcset="./images/png/advanteges/mobile/icon3.png 1x, ./images/png/advanteges/mobile/icon3@2x.png 2x" 
                       media="(min-width: 480px)">
                       <img class="advanteges-icons" src="./images/png/advanteges/mobile/icon3.png" alt="ice-cream">                         
                 
              </picture>
            <span class="items">84</span>
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>

  