
<section class="advanteges">
        <div class="container">
        <ul class="advantges_item">
            <li class="advanteges_list list">
                <picture>
                <source srcset="
                ./images/img-advantages/icon-desctop1.png 1x, 
                ./images/img-advantages/icon-desctop1@2x.png 2x"
                media="(min-width:1200px)">

                <source srcset="
                ./images/img-advantages/icon-tablet1.png 1x, 
                ./images/img-advantages/icon-tablet1@2x.png 2x"
                media="(min-width:768px)">

                <source srcset="
                ./images/img-advantages/icon-mobile1.png 1x, 
                ./images/img-advantages/icon-mobile1@2x.png 2x">

                <img src="./images/img-advantages/icon-mobile1.png" alt="sanny milk"> 
            </picture>
                    <h2 class="advanteges_title title">721</h2>
                        <p class="advanteges-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advanteges_list list">
                <picture>
                <source srcset="
                ./images/img-advantages/icon-desctop2.png 1x, 
                ./images/img-advantages/icon-desctop2@2x.png 2x"
                media="(min-width:1200px)">

                <source srcset="
                ./images/img-advantages/icon-tablet2.png 1x, 
                ./images/img-advantages/icon-tablet2@2x.png 2x"
                media="(min-width:768px)">

                <source srcset="
                ./images/img-advantages/icon-mobile2.png 1x, 
                ./images/img-advantages/icon-mobile2@2x.png 2x">

                <img src="./images/img-advantages/icon-mobile2.png" alt="apple bucket">
            </picture>
                    <h2 class="title">16kg</h2>

                        <p class="advanteges-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advanteges_list list">
                <picture>
                <source srcset="
                ./images/img-advantages/icon-desctop3.png 1x, 
                ./images/img-advantages/icon-desctop3@2x.png 2x"
                media="(min-width:1200px)">

                <source srcset="
                ./images/img-advantages/icon-tablet3.png 1x, 
                ./images/img-advantages/icon-tablet3@2x.png 2x"
                media="(min-width:768px)">

                <source srcset="
                ./images/img-advantages/icon-mobile3.png 1x, 
                ./images/img-advantages/icon-mobile3@2x.png 2x">

                <img src="./images/img-advantages/icon-mobile3.png" alt="hurts">
            </picture>
                    <h2 class="title">84</h2>
                    <p class="advanteges-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>