<section class="container assurance">
    <h2 class="title title-assurance">Мы гарантируем</h2>
    <ul class="assurance-list">
        <li class="assurance-list-item">
            <div class="assurance-icon">
                <svg class="assurance-icon-fire">
                    <use href="./images/svg/sprite-hell.svg#fire"></use>
                </svg>
                <picture>
                    <source srcset="./images/svg/punkt-line-desctop.svg" media="(min-width: 1688px)" type="image/svg+xml">
                    <source srcset="./images/svg/punkt-line-tablet.svg" media="(min-width: 786px)">
                    <img src="./images/svg/punkt-line-mobile.svg" alt="icon-punkt-line" class="assurance-icon-punkt-line">
                </picture>
            </div>
            <p class="assurance-list-point">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем
                деньги.<span class="point-accent">*</span></p>
        </li>
        <li class="assurance-list-item">
            <div class="assurance-icon">
                <svg class="assurance-icon-fire">
                    <use href="./images/svg/sprite-hell.svg#fire"></use>
                </svg>
                <picture>
                    <source srcset="./images/svg/punkt-line-desctop.svg" media="(min-width: 1688px)" type="image/svg+xml">
                    <source srcset="./images/svg/punkt-line-tablet.svg" media="(min-width: 786px)">
                    <img src="./images/svg/punkt-line-mobile.svg" alt="icon-punkt-line" class="assurance-icon-punkt-line">
                </picture>
            </div>
            <p class="assurance-list-point">Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="point-accent">В то время как 20% учеников получили за
                    сочинение 0.</span></p>
        </li>
        <li class="assurance-list-item">
            <div class="assurance-icon">
                <svg class="assurance-icon-fire">
                    <use href="./images/svg/sprite-hell.svg#fire"></use>
                </svg>
                <picture>
                    <source srcset="./images/svg/punkt-line-desctop.svg" media="(min-width: 1688px)" type="image/svg+xml">
                    <source srcset="./images/svg/punkt-line-tablet.svg" media="(min-width: 786px)">
                    <img src="./images/svg/punkt-line-mobile.svg" alt="icon-punkt-line" class="assurance-icon-punkt-line">
                </picture>
            </div>
            <p class="assurance-list-point">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</p>
        </li>
        <li class="assurance-list-item">
            <div class="assurance-icon">
                <svg class="assurance-icon-fire">
                    <use href="./images/svg/sprite-hell.svg#fire"></use>
                </svg>
            </div>
            <p class="assurance-list-point">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого
                ученика.</p>
        </li>
    </ul>
</section>