<!--Бэкдроп-->
<div data-backdrop-location class="backdrop-location backdrop--hidden ">
  <div class="modal-location container">
    <ul class="map-card container">
      <li class="map-card-item">
        <p class="map-city">Chicago</p>
        <iframe class="maps"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.7161283995!2d-88.01215764673285!3d41.833392481002626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1613924633197!5m2!1sru!2sua"
          style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </li>
      <li class="map-card-item">
        <p class="map-city">New-York</p>
        <iframe class="maps"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.30607623636!2d-74.25987551247056!3d40.697149395077545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1613924669941!5m2!1sru!2sua"
          style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </li>
      <li class="map-card-item">
        <p class="map-city">Los-Angeles</p>
        <iframe class="maps"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d211642.3448766027!2d-118.41173199999999!3d34.020479!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1613923122626!5m2!1sru!2sua"
          style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </li>
    </ul>
    <button class="button-close" data-toggle-backdrop-location>
      <svg class="icon-close">
        <use href="./images/symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
  </div>
</div>