<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <form class="form" action="#">
      <button class="form-close-btn" type="button" data-modal-close>
        <svg class="form-close-btn-icon" width='15' height='15' data-modal-close>
          <use href="./images/sprite.svg#form-close"></use>
        </svg>
      </button>
      
      <p class="form-title">Оставьте свои данные, мы вам перезвоним</p>
  
      <label class="form-field">
        <input class="form-input" type="text" name="user-name">
        <span class="form-label">Имя:</span>
      </label>
  
      <label class="form-field">
        <input class="form-input" type="tel" name="user-tel">
        <span class="form-label">Телефон:</span>
      </label>
  
      <label class="form-field">
        <input class="form-input" type="email" name="user-email">
        <span class="form-label">Почта:</span>
      </label>
  
      <label class="form-field">
        <textarea class="form-comment" name="user-comment"></textarea>
        <span class="form-label">Комментарий:</span>
      </label>
  
      <button class="modal-btn" type="submit">Отправить</button>
    </form>
  </div>
</div>