<div class="backdrop is-hidden " data-modal>
  <div class="backdrop-wrapper container">
    <div class="mobile-menu">
      <div class="logo-dark">
        <a class="logo-link link" href="./index.html">
          <svg class="logo-dark-them">
            <use href="./images/sprite.svg#logo-dark"></use>
          </svg>
          <p class="logo-text-dark"><span class="accent-text-logo">Адский</span> английский</p>
        </a>
      </div>
      <button class="mobile-menu-btn-close" type="button" data-modal-close>
        <svg class="mobile-icon-close" width="20" height="20">
          <use class="mobile-menu" href="./images/sprite.svg#close_mobile"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-navigation">
      <ul id="menu-mobile" class="mobile-navigation-list list">
        <li class="mobile-navigation-item">
          <a class="mobile-navigation-list-link link" href="#training-program">Программа обучения</a></li>
        <li class="mobile-navigation-item">
          <a class="mobile-navigation-list-link link" href="#about-us">О нас</a></li>
        <li class="mobile-navigation-item">
          <a class="mobile-navigation-list-link link" href="#training-options">Варианты обучения</a></li>
        <li class="mobile-navigation-item">
          <a type="button" class="mobile-navigation-list-link link" href="#contacts" data-modal-close>Контакты</a></li>
        <li class="mobile-navigation-item">
            <a class="modal-btn backdrop-btn link" href="#consultation-by-phone" >Консультация по телефону</a>
        </li>
      </ul>
    </nav>
  </div>
</div>