<div class="backdrop is-hidden " data-modal>
  <div class="backdrop-wrapper container">
    <div class="mobile-menu">
      <a class="logo-link" href="./index.html">
        <svg class="logo-dark-them">
          <use href="./images/sprite.svg#logo-dark-them"></use>
        </svg>
      </a>
      <button class="mobile-menu-btn-close" type="button" data-modal-close>
        <svg class="mobile-icon-close" width="15" height="15">
          <use class="mobile-menu" href="./images/sprite.svg#close_mobile"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-navigation">
      <ul class="mobile-navigation-list list">
        <li class="mobile-navigation-item">Программа обучения</li>
        <li class="mobile-navigation-item">О нас</li>
        <li class="mobile-navigation-item">Варианты обучения</li>
        <li class="mobile-navigation-item">Контакты</li>
      </ul>
    </nav>
    <button type="button" class="modal-btn backdrop-btn">Консультация по телефону</button>
  </div>
</div>