<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-button" data-modal-close>
      <svg class="modal-icon">
        <use href="./images/svg/sprite.svg#icon-close-button"></use>
      </svg>
    </button>

    <div class="modal-form">
      <h2 class="modal-form-title">Оставьте свои данные, мы вам перезвоним</h2>
      <form class="form">
        <label class="form-label">
          Имя
          <input class="form-input" type="text" name="name" pattern="" />
          <svg class="form-input-svg">
            <use href="./images/svg/sprite.svg#icon-person"></use>
          </svg>
        </label>

        <label class="form-label">
          Телефон
          <input class="form-input" type="tel" name="telephone" />
          <svg class="form-input-svg">
            <use href="./images/svg/sprite.svg#icon-phone"></use>
          </svg>
        </label>

        <label class="form-label">
          Почта
          <input class="form-input" type="email" name="email" />
          <svg class="form-input-svg">
            <use href="./images/svg/sprite.svg#icon-email"></use>
          </svg>
        </label>

        <label class="text-area-label">
          Комментарий
          <textarea
            class="text-area"
            name="comment"
            placeholder="Введите текст"
          ></textarea>
        </label>

        <label class="modal-checkbox">
          <input class="checkbox" type="checkbox" name="checkbox" />
          <span class="checkbox-icon"></span>
          Соглашаюсь с рассылкой и принимаю &nbsp;
          <a class="modal-checkbox-link" href="#">Условия договора</a>
        </label>

        <button type="submit" class="modal-send-button">Отправить</button>
      </form>
    </div>
  </div>
</div>
