<div class="container banner">
  <picture>
    <source
      srcset="
        ./images/mobile/banner-320.jpg    1x,
        ./images/mobile/banner-320@2x.jpg 2x
      "
      media="(max-width: 767px)"
    />
    <source
      srcset="
        ./images/tablet/banner-768.jpg    1x,
        ./images/tablet/banner-768@2x.jpg 2x
      "
      media="(max-width: 1279px)"
    />
    <source
      srcset="
        ./images/desktop/banner-1200.jpg    1x,
        ./images/desktop/banner-1200@2x.jpg 2x
      "
      media="(min-width: 1280px)"
    />

    <img
      class="banner__image"
      src="./images/mobile/banner-320.jpg"
      alt="Our products"
      loading="lazy"
    />
  </picture>
</div>
