<div class="banner">
  <aside class="aside"></aside>
  <section class="slider">
    <div class="slider-description">
      <p class="section-subtitle section-subtitle--color">
        A hair salon for men in Kyiv
      </p>
      <h1 class="slider-title">BarberShop</h1>
      <p class="slider-text">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
    </div>
    <div class="siema">
      <div>
        <picture>
          <source
            srcset="
              ./images/slider/mobile/Slider01Mobile.jpg    480w,
              ./images/slider/mobile/Slider01Mobile@2x.jpg 960w
            "
            media="(max-width: 576px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/slider/tablet/Slider01Tablet.jpg     609w,
              ./images/slider/tablet/Slider01Tablet@2x.jpg 1218w
            "
            media="(min-width: 577px)"
            sizes="80vw"
          />
          <source
            srcset="
              ./images/slider/desktop/Slider01Desktop.jpg    1125w,
              ./images/slider/desktop/Slider01Desktop@2x.jpg 2250w
            "
            media="(min-width: 960px)"
            sizes="100vw"
          />
          <img
            src="./images/slider/tablet/Slider01Tablet.jpg"
            alt="Фото клиента и мастера в BarberShop"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/slider/mobile/Slider02Mobile.jpg    480w,
              ./images/slider/mobile/Slider02Mobile@2x.jpg 960w
            "
            media="(max-width: 576px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/slider/tablet/Slider02Tablet.jpg     609w,
              ./images/slider/tablet/Slider02Tablet@2x.jpg 1218w
            "
            media="(min-width: 577px)"
            sizes="80vw"
          />
          <source
            srcset="
              ./images/slider/desktop/Slider02Desktop.jpg    1125w,
              ./images/slider/desktop/Slider02Desktop@2x.jpg 2250w
            "
            media="(min-width: 960px)"
            sizes="80vw"
          />
          <img
            src="./images/slider/tablet/Slider02Tablet.jpg"
            alt="Фото опасной бритвы в руке мастера"
          />
        </picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/slider/mobile/Slider03Mobile.jpg    480w,
              ./images/slider/mobile/Slider03Mobile@2x.jpg 960w
            "
            media="(max-width: 576px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/slider/tablet/Slider03Tablet.jpg     609w,
              ./images/slider/tablet/Slider03Tablet@2x.jpg 1218w
            "
            media="(min-width: 577px)"
            sizes="80vw"
          />
          <source
            srcset="
              ./images/slider/desktop/Slider03Desktop.jpg    1125w,
              ./images/slider/desktop/Slider03Desktop@2x.jpg 2250w
            "
            media="(min-width: 960px)"
            sizes="80vw"
          />
          <img
            src="./images/slider/tablet/Slider03Tablet.jpg"
            alt="Фото мастера, который стрижет клиента в BarberShop"
          />
        </picture>
      </div>
    </div>
    <button class="prev">Назад</button>
    <button class="next">Вперед</button>
  </section>
</div>
