<section class="barba">
  <div class="container">
    <div class="barba_titel_container">
      <svg class="barba-icon" width="60px" height="1px">
        <use href="./images/symbol-defs.svg#linehead"></use>
      </svg>
      <h2 class="barba_title">На латинском языке “барба” означает “борода”</h2>
    </div>
    <ul class="barba_list">
      <li class="barba_item">
        <a href="">
          <picture>
            <source
              srcset="./images/barba1_270.jpg 1x, ./images/barba1_270@2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/barba1_330.jpg 1x, ./images/barba1_330@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/barba1_418.jpg 1x, ./images/barba1_418@2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <img src="./images/barba1_418.jpg" alt="Стрижка" />
          </picture>
        </a>
      </li>

      <li class="barba_item">
        <a href="">
          <picture>
            <source
              srcset="./images/barba2_270.jpg 1x, ./images/barba2_270@2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/barba2_330.jpg 1x, ./images/barba2_330@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/barba2_418.jpg 1x, ./images/barba2_418@2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <img src="./images/barba2_418.jpg" alt="Бритье" />
          </picture>
        </a>
      </li>

      <li class="barba_item">
        <a href="">
          <picture>
            <source
              srcset="./images/barba3_270.jpg 1x, ./images/barba3_270@2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/barba3_330.jpg 1x, ./images/barba3_330@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/barba3_418.jpg 1x, ./images/barba3_418@2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <img src="./images/barba3_418.jpg" alt="Массаж лица" />
          </picture>
        </a>
      </li>

      <li class="barba_item">
        <a href="">
          <picture>
            <source
              srcset="./images/barba4_270.jpg 1x, ./images/barba4_270@2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/barba4_330.jpg 1x, ./images/barba4_330@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/barba4_418.jpg 1x, ./images/barba4_418@2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <img src="./images/barba4_418.jpg" alt="Бритье затылка" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
