<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.6.0/modern-normalize.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap" rel="stylesheet">
    <title>Заголовок страницы</title>
  </head>
  <body>
    <!-- Сотрудники -->
<section class="team" name="team">
  <div class="container-team">
      <span class="dash"></span><p class="team-sub-title">для настоящих ценителей атмосферы</p>
      <h2 class="team-title">Наши мастера</h2>
      <ul lang="en" class="team-list">
          <li class="master-card">
              <picture>
                <source srcset="./images/master1-418-min.jpg 418px, ./images/master1-2x-836-min.jpg 418px"
                media="(min-width: 480px)"
                sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
                <source srcset="./images/master1-450-min.jpg 450px, ./images/master1-2x-900-min.jpg 450px"
                media="(min-width: 768px)"
                sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
                <source srcset="./images/master1-370-min.jpg 370px, ./images/master1-2x-740-min.jpg 370px"
                media="(min-width: 1170px)"
                sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
                <img src="./images/master1-450-min.jpg" alt="John Smith"/>
              </picture>
              <h3 class="master-name">John Smith</h3>
              <p class="master-position">Extreme Barber</p>
              <ul class="social-links-list">
                  <li><a href="http://www.instagram.com" target="_blank" rel="noreferrer noopener" aria-label="Instagram link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-instagram"></use></svg></a></li>
                  <li><a href="http://www.twitter.com" target="_blank" rel="noreferrer noopener" aria-label="Twitter link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-twitter"></use></svg></a></li>
                  <li><a href="http://www.facebook.com" target="_blank" rel="noreferrer noopener" aria-label="Facebook link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-facebook"></use></svg></a></li>
                  <li><a href="http://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-linkedin"></use></svg></a></li>
              </ul>
          </li>
          <li class="master-card">
              <picture>
              <source srcset="./images/master2-418-min.jpg 418px, ./images/master2-2x-836-min.jpg 418px"
              media="(min-width: 480px)"
              sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
              <source srcset="./images/master2-450-min.jpg 450px, ./images/master2-2x-900-min.jpg 450px"
              media="(min-width: 768px)"
              sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
              <source srcset="./images/master2-370-min.jpg 370px, ./images/master2-2x-740-min.jpg 370px"
              media="(min-width: 1170px)"
              sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
              <img src="./images/master2-450-min.jpg" alt="Michele Doe"/>
              </picture>
              <h3 class="master-name">Michele Doe</h3>
              <p class="master-position">Extreme Barber</p>
              <ul class="social-links-list">
                  <li><a href="http://www.instagram.com" target="_blank" rel="noreferrer noopener" aria-label="Instagram link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-instagram"></use></svg></a></li>
                  <li><a href="http://www.twitter.com" target="_blank" rel="noreferrer noopener" aria-label="Twitter link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-twitter"></use></svg></a></li>
                  <li><a href="http://www.facebook.com" target="_blank" rel="noreferrer noopener" aria-label="Facebook link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-facebook"></use></svg></a></li>
                  <li><a href="http://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-linkedin"></use></svg></a></li>
              </ul>
          </li>
          <li class="master-card">
              <picture>
              <source srcset="./images/master3-418-min.jpg 418px, ./images/master3-2x-836-min.jpg 418px"
              media="(min-width: 480px)"
              sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
              <source srcset="./images/master3-450-min.jpg 450px, ./images/master3-2x-900-min.jpg 450px"
              media="(min-width: 768px)"
              sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
              <source srcset="./images/master3-370-min.jpg 370px, ./images/master3-2x-740-min.jpg 370px"
              media="(min-width: 1170px)"
              sizes="(min-width: 1170px) 370px, (min-width: 768px) 450px, 100vw">
              <img src="./images/master3-450-min.jpg" alt="Alan Black"/>
              </picture>
              <h3 class="master-name">Alan Black</h3>
              <p class="master-position">Extreme Barber</p>
              <ul class="social-links-list">
                  <li><a href="http://www.instagram.com" target="_blank" rel="noreferrer noopener" aria-label="Instagram link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-instagram"></use></svg></a></li>
                  <li><a href="http://www.twitter.com" target="_blank" rel="noreferrer noopener" aria-label="Twitter link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-twitter"></use></svg></a></li>
                  <li><a href="http://www.facebook.com" target="_blank" rel="noreferrer noopener" aria-label="Facebook link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-facebook"></use></svg></a></li>
                  <li><a href="http://www.linkedin.com" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn link" class="icon"><svg width="20" height="20"><use href="./images/sprite.svg#icon-linkedin"></use></svg></a></li>
              </ul>
          </li>
      </ul>
  </div>
</section>

    <!-- Так добавляются фрагменты в главные HTML-файлы страниц. -->
    <include src="./partials/example.html"></include>

    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
  </body>
</html>
