<section class="beard-section">
  <div class="container">
    <svg width="60" height="1" class="icon-first">
      <use href="./images/symbol-defs.svg#slash"></use>
    </svg>
    <p class="beard-section-text">
      НА ЛАТИНСКОМ ЯЗЫКЕ "БАРБАРА" ОЗНАЧАЕТ
    </p>
    <p class="beard-section--text">"БОРОДА"</p>
    <div class="container-list">
      <ul class="photo-list">
        <li>
          <div class="photo-item">
            <img class="image" src="./images/rectangle-25.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="photo-item">
            <img class="image" src="./images/rectangle-26.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="photo-item">
            <img class="image" src="./images/rectangle-27.jpg" alt="" />
          </div>
        </li>
        <li>
          <div class="photo-item">
            <img class="image" src="./images/rectangle-28.jpg" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
