<!--section-beard/секция борода -->

<section class="section-beard">
  <div class="container">
    <h3 class="section-name">
      НА ЛАТИНСКОМ ЯЗЫКЕ "БАРБА" ОЗНАЧАЕТ "БОРОДА"
    </h3>
    <ul class="work-examples list">
      <li class="beard-item">
        <picture>
          <source
            srcset="
              ./images/beard/work-1-desktop1x.webp 270w,
              ./images/beard/work-1-desktop2x.webp 540w
            "
            type="image/webp"
            media="(min-width: 1200px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-1-desktop1x.jpg 270w,
              ./images/beard/work-1-desktop2x.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-1-tablet1x.webp 330w,
              ./images/beard/work-1-tablet2x.webp 660w
            "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-1-tablet1x.jpg 330w,
              ./images/beard/work-1-tablet2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-1-mobile1x.webp 418w,
              ./images/beard/work-1-mobile2x.webp 836w
            "
            type="image/webp"
            media="(max-width: 767px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-1-mobile1x.jpg 418w,
              ./images/beard/work-1-mobile2x.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="100vw"
          />
          <img src="./images/beard/work-1-desktop1x.jpg" alt="work-1" />
        </picture>
      </li>
      <li class="beard-item">
        <picture>
          <source
            srcset="
              ./images/beard/work-2-desktop1x.webp 270w,
              ./images/beard/work-2-desktop2x.webp 540w
            "
            type="image/webp"
            media="(min-width: 1200px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-2-desktop1x.jpg 270w,
              ./images/beard/work-2-desktop2x.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-2-tablet1x.webp 330w,
              ./images/beard/work-2-tablet2x.webp 660w
            "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-2-tablet1x.jpg 330w,
              ./images/beard/work-2-tablet2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-2-mobile1x.webp 418w,
              ./images/beard/work-2-mobile2x.webp 836w
            "
            type="image/webp"
            media="(max-width: 767px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-2-mobile1x.jpg 418w,
              ./images/beard/work-2-mobile2x.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="100vw"
          />
          <img src="./images/beard/work-2-desktop1x.jpg" alt="work-2" />
        </picture>
      </li>
      <li class="beard-item">
        <picture>
          <source
            srcset="
              ./images/beard/work-3-desktop1x.webp 270w,
              ./images/beard/work-3-desktop2x.webp 540w
            "
            type="image/webp"
            media="(min-width: 1200px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-3-desktop1x.jpg 270w,
              ./images/beard/work-3-desktop2x.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-3-tablet1x.webp 330w,
              ./images/beard/work-3-tablet2x.webp 660w
            "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-3-tablet1x.jpg 330w,
              ./images/beard/work-3-tablet2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-3-mobile1x.webp 418w,
              ./images/beard/work-3-mobile2x.webp 836w
            "
            type="image/webp"
            media="(max-width: 767px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-3-mobile1x.jpg 418w,
              ./images/beard/work-3-mobile2x.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="100vw"
          />
          <img src="./images/beard/work-3-desktop1x.jpg" alt="work-3" />
        </picture>
      </li>
      <li class="beard-item">
        <picture>
          <source
            srcset="
              ./images/beard/work-4-desktop1x.webp 270w,
              ./images/beard/work-4-desktop2x.webp 540w
            "
            type="image/webp"
            media="(min-width: 1200px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-4-desktop1x.jpg 270w,
              ./images/beard/work-4-desktop2x.jpg 540w
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/beard/work-4-tablet1x.webp 330w,
              ./images/beard/work-4-tablet2x.webp 660w
            "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-4-tablet1x.jpg 330w,
              ./images/beard/work-4-tablet2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-4-mobile1x.webp 418w,
              ./images/beard/work-4-mobile2x.webp 836w
            "
            type="image/webp"
            media="(max-width: 767px)"
            sizes="100vw"
          />
          <source
            srcset="
              ./images/beard/work-4-mobile1x.jpg 418w,
              ./images/beard/work-4-mobile2x.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="100vw"
          />
          <img src="./images/beard/work-4-desktop1x.jpg" alt="work-4" />
        </picture>
      </li>
    </ul>
  </div>
</section>
