<section class="section section-benefits">
    <div class="container benefits-container">
        <div class="benefits-text-content">
            <p class="benefits-slogan">старая традиционная школа</p>
            <h2 class="benefits-title visually-hidden">Преимущества</h2>
            <p class="benefits-text">О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз
                прочитать.</p>
        </div>
        <div class="benefits-card-content">
            <ul class="benefits-card-list">
                <li class="benefits-card">
                    <p class="card-number">600 <sup class="plus">+</sup></p>
                    <p class="card-text">Довольных клиентов<br>в день</p>
                </li>
                <li class="benefits-card">
                    <p class="card-number">20 <sup class="plus">+</sup></p>
                    <p class="card-text">Лучших мастеров<br>Киева</p>
                </li>
            </ul>
            <ul class="benefits-card-list">
                <li class="benefits-card">
                    <p class="card-number">50 <sup class="plus">+</sup></p>
                    <p class="card-text">Наград за отличный<br>сервис</p>
                </li>
                <li class="benefits-card">
                    <p class="card-number">100 <sup class="plus">+</sup></p>
                    <p class="card-text">Подарков постоянным<br>клиентам</p>
                </li>
            </ul>
        </div>
    </div>
</section>