<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>Benefits</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../sass/benefits_section.css" />
  </head>
  <body>
    <section class="benefits-section">
      <div class="container">
        <h2 class="visually-hidden">Benefits</h2>
        <ul class="list benefits-list">
          <li class="li-benefits">
            <div class="div-svg-benefits">
              <svg class="benefits-svg">
                <use
                  href="../images/icons.svg#icon-fluent-emoji-high-contrast_chocolate-bar-2"
                ></use>
              </svg>
            </div>
            <h3 class="titles-benefits">Unsurpassed taste</h3>
            <p class="paragraphs-benefits">
              Crafted with the finest quality cocoa beans and a dedication to
              perfection, each bite is a decadent experience that simply cannot
              be matched. Savor the richness and complexity of our Unsurpassed
              Taste and discover a new level of chocolate bliss.
            </p>
            <!-- <svg class="line-svg svg">
              <use href="../images/icons.svg#icon-Line-3"></use>
            </svg> -->
          </li>
          <li class="li-benefits">
            <div class="div-svg-benefits">
              <svg class="benefits-svg">
                <use href="../images/icons.svg#icon-Group-2"></use>
              </svg>
            </div>
            <h3 class="titles-benefits">Affordable price</h3>
            <p class="paragraphs-benefits">
              Indulge in high-quality chocolate without breaking the bank with
              Simply Chocolate's selection of affordable treats. Enjoy
              mouth-watering truffles and velvety chocolate bars without
              sacrificing taste or quality. Browse our selection and indulge in
              affordable luxury today.
            </p>
          </li>
          <li class="li-benefits">
            <div class="div-svg-benefits">
              <svg class="benefits-svg">
                <use href="../images/icons.svg#icon-la_utensil-spoon-2"></use>
              </svg>
            </div>
            <h3 class="titles-benefits">Own production</h3>
            <p class="paragraphs-benefits">
              We take pride in our own production process, ensuring that every
              step is carefully crafted to perfection. From selecting the finest
              ingredients to handcrafting each piece, our attention to detail is
              evident in every bite.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
