<section class="benefits-section">
  <div class="container container-global">
    <h2 class="visually-hidden">Benefits</h2>
    <ul class="list benefits-list">
      <li class="li-benefits">
        <div class="div-svg-benefits">
          <svg class="benefits-svg">
            <use
              href="./images/icons.svg#icon-fluent-emoji-high-contrast_chocolate-bar-2"
            ></use>
          </svg>
        </div>
        <h3 class="titles-benefits">Unsurpassed taste</h3>
        <div class="flex">
          <p class="paragraphs-benefits">
            Crafted with the finest quality cocoa beans and a dedication to
            perfection, each bite is a decadent experience that simply
            cannot be matched. Savor the richness and complexity of our
            Unsurpassed Taste and discover a new level of chocolate bliss.
          </p>
          <svg class="line-svg svg">
            <use href="./images/icons.svg#icon-Line-3"></use>
          </svg>
        </div>
      </li>
      <li class="li-benefits">
        <div class="div-svg-benefits">
          <svg class="benefits-svg">
            <use href="./images/icons.svg#icon-Group-2"></use>
          </svg>
        </div>
        <h3 class="titles-benefits">Affordable price</h3>
        <div class="flex">
          <p class="paragraphs-benefits">
            Indulge in high-quality chocolate without breaking the bank with
            Simply Chocolate's selection of affordable treats. Enjoy
            mouth-watering truffles and velvety chocolate bars without
            sacrificing taste or quality. Browse our selection and indulge
            in affordable luxury today.
          </p>
          <svg class="line-svg svg">
            <use href="./images/icons.svg#icon-Line-3"></use>
          </svg>
        </div>
      </li>
      <li class="li-benefits">
        <div class="div-svg-benefits">
          <svg class="benefits-svg">
            <use href="./images/icons.svg#icon-la_utensil-spoon-2"></use>
          </svg>
        </div>
        <h3 class="titles-benefits">Own production</h3>
        <p class="paragraphs-benefits">
          We take pride in our own production process, ensuring that every
          step is carefully crafted to perfection. From selecting the finest
          ingredients to handcrafting each piece, our attention to detail is
          evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>
