<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Benefits</h2>
    <ul class="benefits-list list">
      <li class="benefits-item benefits-milk-svg">
        <h3 class="benefits-title">721</h3>
        <p class="benefits-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits-item benefits-food-svg">
        <h3 class="benefits-title">16kg</h3>
        <p class="benefits-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits-item benefits-ice-cream-svg">
        <h3 class="benefits-title">84</h3>
        <p class="benefits-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
