<section class="benefits-section"> 
<div class="container">
    <h1 class="visually-hidden">Gallery</h1>
    <div class="benefits-box">
        <div class="benefits-item">
            <img class="benefits-icon" srcset="./images/gallery/icon1_1x.png 1x, ./images/gallery/icon1_2x.png 2x"
                src="./images/gallery/icon1_1x.png" alt="icon">
            <h2 class="benefits-text-header">721</h2>
            <p class="benefits-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="benefits-item">
            <img class="benefits-icon" srcset="./images/gallery/icon2_1x.png 1x, ./images/gallery/icon2_2x.png 2x"
                src="./images/gallery/icon2_1x.png" alt="icon">
            <h2 class="benefits-text-header">16kg</h2>
            <p class="benefits-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="benefits-item">
            <img class="benefits-icon" srcset="./images/gallery/icon3_1x.png 1x, ./images/gallery/icon3_2x.png 2x"
                src="./images/gallery/icon2_1x.png" alt="icon">
            <h2 class="benefits-text-header">84</h2>
            <p class="benefits-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    </div>
</div>


</section>