<section class="block-contacts">
  <div class="container">
    <div class="block-contacts__box">
<ul class="block-contacts__list list">
  <li class="block-contacts__item">
    <h4 class="block-contacts__title">Наши контакты</h4>
    <p class="block-contacts__text">
     
      г. Киев, проспект Леси Украинки, дом 26
    
    </p>
  </li>
  <li class="block-contacts__item">
    <h4 class="block-contacts__title">Телефон/E-mail</h4>
    <p class="block-contacts__text">+38 099 111 11 11</p>
    <p class="block-contacts__text">info@example.com</p>
  </li>
  <li class="block-contacts__item">
    <h4 class="block-contacts__title">Социальные сети</h4>
         <ul class="list social__list">
        <li class="social__item ">
          <a class="link social__link" href="#">
            <svg class=" social__icon">
              <use href="./images/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link " href="#">
            <svg class=" social__icon">
              <use href="./images/icons/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link " href="#">
            <svg class=" social__icon">
              <use href="./images/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link " href="#">
            <svg class=" social__icon">
              <use href="./images/icons/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </li>
</ul>
</section>
