<section class="container-blocks adaptiv">
  <div class="container">
    <div class="title-container">
      <h2 class="title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
      </h2>
      <p class="description">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <div class="card-container">
      <div class="card milk-chocolate">
        <div class="front-content rotate">
          <div class="front">
            <img
              id="card-picture"
              src="../images/chocolate.png"
              alt="Chocolate"
            />
            <h2 class="content-title">MILK CHOCOLATE</h2>
          </div>
        </div>
        <div class="back-content rotate">
          <div class="back">
            <div class="about">
              <h2 class="about-card">Milk chocolate</h2>
              <div class="little-blocks">
                <p class="white">chocolate</p>
                <p class="black">the benefits</p>
              </div>
            </div>
            <p class="about-description">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </div>
      <div class="card milk">
        <div class="front-content rotate">
          <div class="front">
            <img id="card-picture" src="../images/milk.png" alt="Chocolate" />
            <h2 class="content-title">Milk</h2>
          </div>
        </div>
        <div class="back-content rotate">
          <div class="back">
            <div class="about">
              <h2 class="about-card">Milk</h2>
              <div class="little-blocks">
                <p class="white">milk</p>
                <p class="black">the benefits</p>
              </div>
            </div>
            <p class="about-description">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </div>
      <div class="card nuts">
        <div class="front-content rotate">
          <div class="front">
            <img id="card-picture" src="../images/peanuts.png" alt="Chocolate" />
            <h2 class="content-title">nuts</h2>
          </div>
        </div>
        <div class="back-content rotate">
          <div class="back">
            <div class="about">
              <h2 class="about-card">Nuts</h2>
              <div class="little-blocks">
                <p class="white">Nuts</p>
                <p class="black">the benefits</p>
              </div>
            </div>
            <p class="about-description">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </div>
      <div class="card milk-chocolate">
        <div class="front-content rotate">
          <div class="front">
            <img id="card-picture" src="../images/cacao.png" alt="Chocolate" />
            <h2 class="content-title">SEMI - SWEET CHOCOLATE</h2>
          </div>
        </div>
        <div class="back-content rotate">
          <div class="back">
            <div class="about">
              <h2 class="about-card">semi - sweet chocolate</h2>
              <div class="little-blocks">
                <p class="white">sweet chocolate</p>
                <p class="black">the benefits</p>
              </div>
            </div>
            <p class="about-description">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
