<section class="container-blocks adaptiv">
  <div class="container">
    <div class="title-container">
      <h2 class="title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
      </h2>
      <p class="description">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <div class="card-container">
      <div class="card-taste">
        <div class="front milk-chocolate">
          <div class="contents">
            <picture>
              <img
                class="img-taste"
                src="/src/images/chocolate.png"
                width="224"
                height="171"
                alt="Milk Chocolate"
              />
            </picture>
            <h2 class="title-card">MILK CHOCOLATE</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents">
            <h2 class="subtitle-taste">Milk chocolate</h2>
            <ul class="list-taste">
              <li>
                <button class="btn-taste active-taste" type="button">
                  chocolate
                </button>
              </li>
              <li>
                <button class="btn-taste" type="button">the benefits</button>
              </li>
            </ul>
            <p class="text-taste">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large amounts
              are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </div>
      <div class="card-taste">
        <div class="front milk">
          <div class="contents">
            <picture>
              <img
                class="img-taste"
                src="/src/images/milk.png"
                width="224"
                height="171"
                alt="Milk"
              />
            </picture>
            <h2 class="title-card">MILK</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents">
            <h2 class="subtitle-taste">Milk</h2>
            <ul class="list-taste">
              <li>
                <button class="btn-taste active-taste" type="button">
                  milk
                </button>
              </li>
              <li>
                <button class="btn-taste" type="button">the benefits</button>
              </li>
            </ul>
            <p class="text-taste">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </div>
      <div class="card-taste">
        <div class="front nuts">
          <div class="contents">
            <picture>
              <img
                class="img-taste"
                src="/src/images/peanuts.png"
                width="224"
                height="171"
                alt="Peanuts"
              />
            </picture>
            <h2 class="title-card">NUTS</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents">
            <h2 class="subtitle-taste">NUTS</h2>
            <ul class="list-taste">
              <li>
                <button class="btn-taste active-taste" type="button">
                  nuts
                </button>
              </li>
              <li>
                <button class="btn-taste" type="button">the benefits</button>
              </li>
            </ul>
            <p class="text-taste">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </div>
      <div class="card-taste">
        <div class="front milk">
          <div class="contents">
            <picture>
              <img
                class="img-taste"
                src="/src/images/cacao.png"
                width="224"
                height="171"
                alt="Milk Chocolate"
              />
            </picture>
            <h2 class="title-card">semi - sweet chocolate</h2>
          </div>
        </div>
        <div class="back">
          <div class="contents">
            <h2 class="subtitle-taste">semi - sweet chocolate</h2>
            <ul class="list-taste">
              <li>
                <button class="btn-taste active-taste" type="button">
                  sweet chocolate
                </button>
              </li>
              <li>
                <button class="btn-taste" type="button">the benefits</button>
              </li>
            </ul>
            <p class="text-taste">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
