<section class="container-blocks adaptiv">
  <div class="container">
    <div class="title-container">
      <h2 class="title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="blocks-title-title">TASTE</span> SENSATION
      </h2>
      <p class="description">
        At Simply Chocolate&#8218; we believe that the secret to exceptional chocolate
        is in the details&#8228; From the sourcing of the finest ingredients to the
        careful crafting of each individual piece&#8218; every step of our process
        adds up to one exceptional taste sensation&#8228;
      </p>
    </div>
    <div class="card-container">
      <div class="card milk-chocolate">
        <div class="card-content">
          <div class="card-front">
            <img
              id="card-picture"
              src="./images/chocolate.png"
              alt="Chocolate"
            />
            <h2 class="content-title">MILK CHOCOLATE</h2>
          </div>
          <div class="card-back">
            <div class="about">
              <h2 class="about-card">Milk chocolate</h2>
              <div class="little-blocks">
                <p class="white">chocolate</p>
                <p class="black">the benefits</p>
              </div>
            </div>
            <p class="about-description">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa&#8218; sugar and milk&#8228; It is the most consumed type of chocolate&#8228;
              Chocolate was originally sold and consumed as a beverage in
              pre&#8209;Columbian times&#8228; Although four&#8209;fifths of all milk chocolate is
              sold in the United States and Europe&#8228;
            </p>
          </div>
        </div>
      </div>
      <div class="card milk">
        <div class="card-content">
          <div class="card-front">
            <img id="card-picture" src="./images/milk.png" alt="Chocolate" />
            <h2 class="content-title">MILK</h2>
          </div>
          <div class="card-back">
            <div class="about">
              <h2 class="about-card">Milk</h2>
              <div class="little-blocks">
                <p class="white">milk</p>
                <p class="black">the benefits</p>
              </div>
            </div>
            <p class="about-description">
              Milk is a white liquid food produced by the mammary glands of
              mammals&#8228; It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food&#8228;Early&#8209;lactation milk&#8218; which is called colostrum&#8218;
              contains antibodies that strengthen the immune system&#8228;
            </p>
          </div>
        </div>
      </div>
      <div class="card nuts">
        <div class="card-content">
          <div class="card-front">
            <img id="card-picture" src="./images/peanuts.png" alt="Chocolate" />
            <h2 class="content-title">nuts</h2>
          </div>
          <div class="card-back">
            <div class="about">
              <h2 class="about-card">nuts</h2>
              <div class="little-blocks">
                <p class="white">nuts</p>
                <p class="black">the benefits</p>
              </div>
            </div>
            <p class="about-description">
              Almonds&#8218; pistachios&#8218; and walnuts are some types of nuts that
              contain healthy nutrients&#8228; When eaten as part of a nutrient-dense
              diet&#8218; these 9 nuts may offer benefits such as reducing your risk
              of heart disease&#8228; They&#8217;re a good source of fiber&#8218; healthy fats&#8218;
              and plant protein&#8228; Plus&#8218; they&#8217;re great on their own&#8228;
            </p>
          </div>
        </div>
      </div>
      <div class="card sweet">
        <div class="card-content">
          <div class="card-front">
            <img id="card-picture" src="./images/cacao.png" alt="Chocolate" />
            <h2 class="content-title">semi &#8209; sweet chocolate</h2>
          </div>
          <div class="card-back">
            <div class="about">
              <h2 class="about-card">semi &#8209; sweet chocolate</h2>
              <div class="little-blocks">
                <p class="white">sweet chocolate</p>
                <p class="black">the benefits</p>
              </div>
            </div>
            <p class="about-description">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%&#8228; One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate&#8228;
              Semisweet is darker than milk chocolate&#8228; In a taste comparison&#8218; it
              has a slightly bitter taste whereas milk chocolate is sweeter&#8228;
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
