<section class="boxes">
    <div class="boxes-container">
        <!-- Антон -->
        <h2 class="boxes-open-hours">Working hours</h2>
        <ul class="boxes-list">
            <li class="boxes-card">
                <div class="boxes-card-info">
                    <ul class="boxes-card-list">
                        <li class="boxes-card-title">
                            <h3 class="boxes-card-name name-cafe">cafe</h3>
                        </li>
                        <li class="boxes-card-location">
                            <h4 class="boxes-location-title">Chicago</h4>
                            <p class="boxes-location-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                        <li class="boxes-card-openhours">
                            <h4 class="boxes-openhours-title">Monday - Friday</h4>
                            <p class="boxes-openhours-description">06:00 AM - 10:00 PM</p>
                            <h4 class="boxes-openhours-title weekend">Saturday - Sunday</h4>
                            <p class="boxes-openhours-description">08:00 AM - 16:00 PM</p>
                        </li>
                        <li class="boxes-card-address">
                            <p class="boxes-address-item"><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></p>
                            <p class="boxes-address-item"><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="boxes-card">
                <div class="boxes-card-info">
                    <ul class="boxes-card-list">
                        <li class="boxes-card-title">
                            <h3 class="boxes-card-name name-foodtruck">foodtruck</h3>
                        </li>
                        <li class="boxes-card-location">
                            <h4 class="boxes-location-title">Los Angeles</h4>
                            <p class="boxes-location-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                        <li class="boxes-card-openhours">
                            <h4 class="boxes-openhours-title">Monday - Friday</h4>
                            <p class="boxes-openhours-description">06:00 AM - 10:00 PM</p>
                            <h4 class="boxes-openhours-title weekend">Saturday - Sunday</h4>
                            <p class="boxes-openhours-description">08:00 AM - 16:00 PM</p>
                        </li>
                        <li class="boxes-card-address">
                            <p class="boxes-address-item"><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></p>
                            <p class="boxes-address-item"><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="boxes-card">
                <div class="boxes-card-info">
                    <ul class="boxes-card-list">
                        <li class="boxes-card-title">
                            <h3 class="boxes-card-name name-cafe">cafe</h3>
                        </li>
                        <li class="boxes-card-location">
                            <h4 class="boxes-location-title">New York</h4>
                            <p class="boxes-location-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                        <li class="boxes-card-openhours">
                            <h4 class="boxes-openhours-title">Monday - Friday</h4>
                            <p class="boxes-openhours-description">06:00 AM - 10:00 PM</p>
                            <h4 class="boxes-openhours-title weekend">Saturday - Sunday</h4>
                            <p class="boxes-openhours-description">08:00 AM - 16:00 PM</p>
                        </li>
                        <li class="boxes-card-address">
                            <p class="boxes-address-item"><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></p>
                            <p class="boxes-address-item"><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="boxes-button-list">
            <a class="boxes-button button-locations" href="#">
                <span class="boxes-locations-button">Our Locations</span>
                <span class="boxes-arrow-button">&#62;</span>
            </a>
            <a class="boxes-button button-franchise" href="#">
                <span class="boxes-franchise-button">Franchise</span>
                <span class="boxes-arrow-button">&#62;</span>
            </a>
        </div>
    </div>
</section>