<button class="button-white">
  <span class="button-name">Buy now</span>
  <svg class="button-icon" width="6" height="10">
    <use href="./images/sprite.svg#icon-vector" class="icon-vector"></use>
  </svg>
</button>
<button class="button-red">
  <span class="button-name">Buy now</span>
  <svg class="button-icon" width="6" height="10">
    <use href="./images/sprite.svg#icon-vector" class="icon-vector"></use>
  </svg>
</button>

<a href="" class="button-red">Products</a>
<a href="" class="button-white">How it’s made?</a>
