<div class="js-menu-container is-open nav-conainer">
  <button class="js-close-menu nav-close-btn">
    <svg>
      <use href="./images/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <button class="buy-btn-nav">
    Buy now
    <svg>
      <use href="./images/symbol-defs.svg#icon-vector-red"></use>
    </svg>
  </button>
  <nav class="nav">
    <ul class="modal-nav">
      <li class="modal-nav-list current">
        <a href="#">Home</a>
      </li>
      <li class="modal-nav-list">
        <a href="#">About us</a>
      </li>
      <li class="modal-nav-list">
        <a href="#">How it's made?</a>
      </li>
      <li class="modal-nav-list">
        <a href="#">Our products</a>
      </li>
      <li class="modal-nav-list">
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
</div>
<script src="./sass/menu.js"></script>
