<section class="cafes">
  <div class="container">
    <h2 class="visually-hidden">cafe network</h2>
    <ul class="cafes__list">
      <li class="cafes__item">
        <h3 class="cafe">cafe</h3>
        <p class="city bold_text">Chicago</p>
        <p class="cafe__descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="working_graph">
          <li class="weekdays">
            <p class="working_days bold_text">Monday - Friday</p>
            <p class="working_hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="weekend">
            <p class="working_days bold_text">Saturday - Sunday</p>
            <p class="working_hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address>
          <a class="contact" href="tell:+610383766284">+61(0) 383 766 284</a>
          <a class="contact" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="cafes__item">
        <h3 class="food_truck">food truck</h3>
        <p class="city bold_text">Los Angeles</p>
        <p class="cafe__descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="working_graph">
          <li class="weekdays">
            <p class="working_days bold_text">Monday - Friday</p>
            <p class="working_hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="weekend">
            <p class="working_days bold_text">Saturday - Sunday</p>
            <p class="working_hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address>
          <a class="contact" href="tell:+610383766284">+61(0) 383 766 284</a>
          <a class="contact" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="cafes__item">
        <h3 class="cafe">cafe</h3>
        <p class="city bold_text">New York</p>
        <p class="cafe__descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="working_graph">
          <li class="weekdays">
            <p class="working_days bold_text">Monday - Friday</p>
            <p class="working_hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="weekend">
            <p class="working_days bold_text">Saturday - Sunday</p>
            <p class="working_hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address>
          <a class="contact" href="tell:+610383766284">+61(0) 383 766 284</a
          ><a class="contact" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
  </div>
</section>
