<section class="section-cafe">
  <div class="cont-pos">
    <div class="container-cafe">
      <div class="cont-logo">
        <div class="container-logo">
          <span class="container-text">CAFE</span>
        </div>
      </div>
      <h2 class="cafe-title">Chicago</h2>
      <p class="cafe-sub-title">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="bord"></div>
      <h2 class="sub-title">Monday - Friday</h2>
      <p class="post-sub-title">06:00 AM - 10:00 PM</p>
      <h2 class="sub-title">Saturday - Sunday</h2>
      <p class="post-sub-title">08:00 AM - 16:00 PM</p>
      <div class="bord"></div>
      <ul class="contact-list">
        <li contact-list-item>
          <a class="cafe-link" href="#">+61(0) 383 766 284</a>
        </li>
        <li contact-list-item>
          <a class="cafe-link" href="#">noreply@envato.com</a>
        </li>
      </ul>
    </div>

    <div class="container-cafe">
      <div class="cont-logo">
        <div class="container-logo">
          <span class="container-foodtruck">FOODTRUCK</span>
        </div>
      </div>
      <h2 class="cafe-title">Los Angeles</h2>
      <p class="cafe-sub-title">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="bord"></div>
      <h2 class="sub-title">Monday - Friday</h2>
      <p class="post-sub-title">06:00 AM - 10:00 PM</p>
      <h2 class="sub-title">Saturday - Sunday</h2>
      <p class="post-sub-title">08:00 AM - 16:00 PM</p>
      <div class="bord"></div>
      <ul class="contact-list">
        <li contact-list-item>
          <a class="cafe-link" href="#">+61(0) 383 766 284</a>
        </li>
        <li contact-list-item>
          <a class="cafe-link" href="#">noreply@envato.com</a>
        </li>
      </ul>
    </div>

    <div class="container-cafe">
      <div class="cont-logo">
        <div class="container-logo">
          <span class="container-text">CAFE</span>
        </div>
      </div>
      <h2 class="cafe-title">New York</h2>
      <p class="cafe-sub-title">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="bord"></div>
      <h2 class="sub-title">Monday - Friday</h2>
      <p class="post-sub-title">06:00 AM - 10:00 PM</p>
      <h2 class="sub-title">Saturday - Sunday</h2>
      <p class="post-sub-title">08:00 AM - 16:00 PM</p>
      <div class="bord"></div>
      <ul class="contact-list">
        <li contact-list-item>
          <a class="cafe-link" href="#">+61(0) 383 766 284</a>
        </li>
        <li contact-list-item>
          <a class="cafe-link" href="#">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <button type="submit" class="button-footer">Our Locations</button>
    <button type="submit" class="button-footer-light">Franchise</button>
  </div>
</section>
