<section class="cafe-section">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <ul class="card-list">
      <li class="card-item contacts-card">
        <span class="card-name">CAFE</span>
        <div class ="card-description">
          <span>Chicago</span>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="card-visit-hours">
          <div class="visit-hours_weekdays">
            <span>Monday - Friday</span>
            <p>06:00 AM - 10:00 PM</p>
          </div>
          <div class="visit-hours_weekends">
            <span>Saturday - Sunday</span>
            <p>08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="card-contacts">
          <a class="contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="card-item contacts-card">
        <span class="card-name">FOODTRUCK</span>
        <div class ="card-description">
          <span>Los Angeles</span>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="card-visit-hours">
          <div class="visit-hours_weekdays">
            <span>Monday - Friday</span>
            <p>06:00 AM - 10:00 PM</p>
          </div>
          <div class="visit-hours_weekends">
            <span>Saturday - Sunday</span>
            <p>08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="card-contacts">
          <a class="contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="card-item contacts-card">
        <span class="card-name">CAFE</span>
        <div class ="card-description">
          <span>New York</span>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="card-visit-hours">
          <div class="visit-hours_weekdays">
            <span>Monday - Friday</span>
            <p>06:00 AM - 10:00 PM</p>
          </div>
          <div class="visit-hours_weekends">
            <span>Saturday - Sunday</span>
            <p>08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="card-contacts">
          <a class="contacts-link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="cafe-btn">
    <ul class="cafe-btn-list">
      <li class="cafe-btn-item">
        <button type="button" class="button btn-locations">Our Locations
          <svg class="vector" width="8px" height="10px">
            <use href="../src/images/cafe/sprite.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
      <li class="button-cafe-item">
        <button type="button" class="button btn-franchise">Franchise 
          <svg class="vector" width="8px" height="10px">
            <use href="../src/images/cafe/sprite.svg#icon-vector-2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

</section>