<section class="cafes">
  <div class="container">
    <h2 class="visually-hidden">cafe network</h2>
    <ul class="cafes-list">
      <li class="cafes-item">
        <p class="cafes-type">cafe</p>
        <p class="cafes-location">Chicago</p>
        <p class="cafes-descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="working-list">
          <li class="working-list-item">
            <p class="working-date">Monday - Friday</p>
            <p class="working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-list-item">
            <p class="working-date">Saturday - Sunday</p>
            <p class="working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address">
          <a class="address-item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="address-item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="cafes-item">
        <p class="cafes-type">food truck</p>
        <p class="cafes-location">Los Angeles</p>
        <p class="cafes-descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="working-list">
          <li class="working-list-item">
            <p class="working-date">Monday - Friday</p>
            <p class="working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-list-item">
            <p class="working-date">Saturday - Sunday</p>
            <p class="working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address">
          <a class="address-item" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="address-item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="cafes-item">
        <p class="cafes-type">cafe</p>
        <p class="cafes-location">New York</p>
        <p class="cafes-descrip">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="working-list">
          <li class="working-list-item">
            <p class="working-date">Monday - Friday</p>
            <p class="working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-list-item">
            <p class="working-date">Saturday - Sunday</p>
            <p class="working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="address">
          <a class="address-item" href="tel:+610383766284">+61(0) 383 766 284</a
          ><a class="address-item" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
    <button class="button button-primary" type="button">Our Locations</button>
    <button class="button button-secondary" type="button">Franchise</button>
  </div>
</section>
