<section class="cards-background">
    <div class="cards">
        <h2 class="hidden">Contacts</h2>
        <ul class="list cards-list">
            <li class="cards-item">
                <div class="cards-contacts">
                <h3 class="cards-title">Cafe</h3>
                <div class="cards-content">
                    <span class="cards-label">Chicago</span>
                    <p class="cards-text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <ul class="list schedule">
                        <li class="schedule-item">
                            <span class="cards-label">Monday - Friday</span>
                            <p class="cards-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule-item">
                            <span class="cards-label">Saturday - Sunday</span>
                            <p class="cards-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <p class="cards-mail">
                        <a href="tel:+380961111111">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </p>
                </div>
                </div>
            </li>
            <li class="cards-item">
                <div class="cards-contacts">
                <h3 class="cards-title">Food track</h3>
                  <div class="cards-content">
                    <span class="cards-label">Los Angeles</span>
                    <p class="cards-text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <ul class="list schedule">
                        <li class="schedule-item">
                            <span class="cards-label">Monday - Friday</span>
                            <p class="cards-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="schedule-item">
                            <span class="cards-label">Saturday - Sunday</span>
                            <p class="cards-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                        <p class="cards-mail">
                           <a href="tel:+380961111111">+61(0) 383 766 284</a>
                           <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </p>
                   </div>
                </div>
            </li>
            <li class="cards-item">
                <div class="cards-contacts">
                    <h3 class="cards-title">Cafe</h3>
                    <div class="cards-content">
                        <span class="cards-label">New York</span>
                        <p class="cards-text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                        <ul class="list schedule">
                            <li class="schedule-item">
                                <span class="cards-label">Monday - Friday</span>
                                <p class="cards-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="schedule-item">
                                <span class="cards-label">Saturday - Sunday</span>
                                <p class="cards-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <p class="cards-mail">
                            <a href="tel:+380961111111">+61(0) 383 766 284</a>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="cards-button-list list">
            <li class="cards-button-item">
                <button class="cards-button button-dark" type="button">
                    <div>
                        <span>Our Locations</span>
                        <svg width="10px" height="10px" class="cards-icon">
                            <use href="./images/sprite.svg#icon-cheveron-right"></use>
                        </svg>
                    </div>
                </button>
            </li>
            <li class="cards-button-item">
                <button class="cards-button button-light" type="button">
                    <div>
                        <span>Franchise</span>
                        <svg width="10px" height="10px" class="cards-icon">
                            <use href="./images/sprite.svg#icon-cheveron-right"></use>
                        </svg>
                    </div>
                </button>
            </li>
        </ul>
    </div>

</section>