<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Project</title>
  </head>
  <body> -->
<!-- locations CAFE -->
<section class="cards__section">
  <div class="container card__container">
    <ul class="cards__list">
      <!-- 1 ая лишка -->
      <li class="cards__item">
        <h3 class="cards__heading">CAFE</h3>

        <h4 class="cards__city">Chicago</h4>

        <p class="cards__item--text">
          Fusce ut vedivt laoreet, tempus arcu molestie vulputate
        </p>

        <svg class="cards__item--line" style="outline: 1px solid #e1e1e1">
          <line />
        </svg>
        <!-- <svg class="cards__underline" width="179" height="1">
            <use href="./images/symbol-defs.svg#icon-Line_mobile"></use>
          </svg> -->
        <p class="cards__item--headline">Monday - Friday</p>
        <p class="cards__item--data">06:00 AM - 10:00 PM</p>

        <p class="cards__item--headline">Saturday - Sunday</p>
        <p class="cards__item--data">08:00 AM - 16:00 PM</p>
        <svg class="cards__item--line" style="outline: 1px solid #e1e1e1">
          <line />
        </svg>
        <address class="cards__item__address">
          +61(0) 383 766 284<br />
          noreply@envato.com
        </address>
      </li>
      <!-- 2ая лишка -->
      <li class="cards__item">
        <h3 class="cards__heading cards__heading--two">FOODTRUCK</h3>

        <h4 class="cards__city">Los Angeles</h4>
        <p class="cards__item--text">
          Fusce ut vedivt laoreet, tempus arcu molestie vulputate
        </p>

        <svg class="cards__item--line" style="outline: 1px solid #e1e1e1">
          <line />
        </svg>

        <p class="cards__item--headline">Monday - Friday</p>
        <p class="cards__item--data">06:00 AM - 10:00 PM</p>

        <p class="cards__item--headline">Saturday - Sunday</p>
        <p class="cards__item--data">08:00 AM - 16:00 PM</p>
        <svg class="cards__item--line" style="outline: 1px solid #e1e1e1">
          <line />
        </svg>
        <address class="cards__item__address">
          +61(0) 383 766 284<br />
          noreply@envato.com
        </address>
      </li>
      <!-- 3 я лишка -->
      <li class="cards__item">
        <h3 class="cards__heading">CAFE</h3>

        <h4 class="cards__city">New York</h4>

        <p class="cards__item--text">
          Fusce ut vedivt laoreet, tempus arcu molestie vulputate
        </p>

        <svg class="cards__item--line" style="outline: 1px solid #e1e1e1">
          <line />
        </svg>
        <p class="cards__item--headline">Monday - Friday</p>
        <p class="cards__item--data">06:00 AM - 10:00 PM</p>

        <p class="cards__item--headline">Saturday - Sunday</p>
        <p class="cards__item--data">08:00 AM - 16:00 PM</p>
        <svg class="cards__item--line" style="outline: 1px solid #e1e1e1">
          <line />
        </svg>
        <a>
          <address class="cards__item__address">
            +61(0) 383 766 284<br />
            noreply@envato.com
          </address></a
        >
      </li>
    </ul>
    <div class="cards__button">
      <button class="button button-left cards-btn" name="button">
        Our Locations<svg class="button__arrow">
          <use href="./images/symbol-defs.svg#icon-strelka"></use>
        </svg>
      </button>

      <button class="button button-right cards-btn" name="button">
        Franchise<svg class="button__arrow--pink">
          <use href="./images/symbol-defs.svg#icon-strelka"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- </body>
</html> -->
