<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Project</title>
  </head>
  <body> -->
<!-- locations CAFE -->
<section class="cards__section">
  <div>
    <ul>
      <!-- 1 ая лишка -->
      <li class="cards__item">
        <h3 class="cards__heading">CAFE</h3>

        <h4>Chicago</h4>

        <span>
          Fusce ut vedivt laoreet, tempus<br />
          arcu molestie vulputate

          <br />
          <svg class="cards__underline">
            <use href="./images/symbol-defs.svg#icon-Line_mobile"></use>
          </svg>
          <p><b>Monday - Friday</b></p>
          <p>06:00 AM - 10:00 PM</p>

          <p>
            <b>Saturday - Sunday</b><br />
            08:00 AM - 16:00 PM
          </p>
          <address>
            +61(0) 383 766 284<br />
            noreply@envato.com
          </address>
        </span>
      </li>
      <!-- 2ая лишка -->
      <li class="cards__item">
        <h3 class="cards__heading">FOOD TRUCK</h3>

        <h4>Los Angeles</h4>

        <span>
          Fusce ut vedivt laoreet, tempus<br />
          arcu molestie vulputate

          <p><b>Monday - Friday</b></p>
          <p>06:00 AM - 10:00 PM</p>

          <p>
            <b>Saturday - Sunday</b><br />
            08:00 AM - 16:00 PM
          </p>
          <address>
            +61(0) 383 766 284<br />
            noreply@envato.com
          </address>
        </span>
      </li>
      <!-- 3 я лишка -->
      <li class="cards__item">
        <h3 class="cards__heading">CAFE</h3>

        <h4>New York</h4>

        <span>
          Fusce ut vedivt laoreet, tempus<br />
          arcu molestie vulputate

          <p><b>Monday - Friday</b></p>
          <p>06:00 AM - 10:00 PM</p>

          <p>
            <b>Saturday - Sunday</b><br />
            08:00 AM - 16:00 PM
          </p>
          <a>
            <address>
              +61(0) 383 766 284<br />
              noreply@envato.com
            </address></a
          >
        </span>
      </li>
    </ul>
  </div>
</section>
<!-- </body>
</html> -->
