<!-- Catalog -->
<section id="catalog" class="catalog">
  <div class="catalog-container">
    <h2 class="catalog-header">Catalog</h2>
    <ul class="catalog-cards-list">
      <li class="catalog-cards-list-item">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog1.png    1x,
                images/catalog/catalog1-2x.png 2x
              "
              src="images/catalog/catalog1.png"
              alt="catalog watch 1"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <p class="catalog-cards-list-item-description-price">€395</p>
        </div>
      </li>
      <li class="catalog-cards-list-item">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog2.png    1x,
                images/catalog/catalog2-2x.png 2x
              "
              src="images/catalog/catalog2.png"
              alt="catalog watch 2"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Avondale Watch Police For Men
          </p>
          <p class="catalog-cards-list-item-description-price">€800</p>
        </div>
      </li>
      <li class="catalog-cards-list-item">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog3.png    1x,
                images/catalog/catalog3-2x.png 2x
              "
              src="images/catalog/catalog3.png"
              alt="catalog watch 3"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <p class="catalog-cards-list-item-description-price">€600</p>
        </div>
      </li>
      <li class="catalog-cards-list-item">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog4.png    1x,
                images/catalog/catalog4-2x.png 2x
              "
              src="images/catalog/catalog4.png"
              alt="catalog watch 4"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <p class="catalog-cards-list-item-description-price">€1400</p>
        </div>
      </li>
      <li class="catalog-cards-list-item">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog5.png    1x,
                images/catalog/catalog5-2x.png 2x
              "
              src="images/catalog/catalog5.png"
              alt="catalog watch 5"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Taman Watch By Police For Men
          </p>
          <p class="catalog-cards-list-item-description-price">€500</p>
        </div>
      </li>
      <li class="catalog-cards-list-item">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-heart"></use>
            </svg>
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog6.png    1x,
                images/catalog/catalog6-2x.png 2x
              "
              src="images/catalog/catalog6.png"
              alt="catalog watch 6"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Malawi Watch Police For Men
          </p>
          <p class="catalog-cards-list-item-description-price">€555</p>
        </div>
      </li>
      <li class="catalog-cards-list-item">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog7.png    1x,
                images/catalog/catalog7-2x.png 2x
              "
              src="images/catalog/catalog7.png"
              alt="catalog watch 7"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <p class="catalog-cards-list-item-description-price">€1200</p>
        </div>
      </li>
      <li class="catalog-cards-list-item">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog8.png    1x,
                images/catalog/catalog8-2x.png 2x
              "
              src="images/catalog/catalog8.png"
              alt="catalog watch 8"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Greenlane Watch By Police For Men
          </p>
          <p class="catalog-cards-list-item-description-price">
            Greenlane Watch By Police For Men
          </p>
        </div>
      </li>

      <li class="catalog-cards-list-item catalog-desktop">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog9.png    1x,
                images/catalog/catalog9-2x.png 2x
              "
              src="images/catalog/catalog9.png"
              alt="catalog watch 9"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Greenlane Watch By Police For Men
          </p>
          <p class="catalog-cards-list-item-description-price">
            Greenlane Watch By Police For Men
          </p>
        </div>
      </li>
      <li class="catalog-cards-list-item catalog-desktop">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog10.png    1x,
                images/catalog/catalog10-2x.png 2x
              "
              src="images/catalog/catalog10.png"
              alt="catalog watch 8"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Greenlane Watch By Police For Men
          </p>
          <p class="catalog-cards-list-item-description-price">
            Greenlane Watch By Police For Men
          </p>
        </div>
      </li>
      <li class="catalog-cards-list-item catalog-desktop">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog11.png    1x,
                images/catalog/catalog11-2x.png 2x
              "
              src="images/catalog/catalog11.png"
              alt="catalog watch 8"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Greenlane Watch By Police For Men
          </p>
          <p class="catalog-cards-list-item-description-price">
            Greenlane Watch By Police For Men
          </p>
        </div>
      </li>
      <li class="catalog-cards-list-item catalog-desktop">
        <div class="catalog-cards-list-item-image-container flip-container">
          <div class="front">
            <img
              class="catalog-cards-list-item-image"
              srcset="
                images/catalog/catalog12.png    1x,
                images/catalog/catalog12-2x.png 2x
              "
              src="images/catalog/catalog12.png"
              alt="catalog watch 8"
            />
          </div>
          <div class="catalog-cards-list-item-image-details back">
            <h3 class="catalog-cards-list-item-image-details-title">
              Description
            </h3>
            <p
              class="catalog-image-description-first-child catalog-cards-list-item-image-details-description"
            >
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-list-item-image-details-title">
              DETAILS & FEATUREStion
            </h3>
            <p class="catalog-cards-list-item-image-details-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-list-item-description-container">
          <p class="catalog-cards-list-item-description-name">
            Greenlane Watch By Police For Men
          </p>
          <p class="catalog-cards-list-item-description-price">
            Greenlane Watch By Police For Men
          </p>
        </div>
      </li>
    </ul>
    <button class="button" type="button" data-modal-open>Buy now</button>
  </div>
</section>
>
