
<div class="catalog-container">

    <div class="catalog-watch-container">


    <h2>Catalog</h2>

    <div class="grid-container">

    <ul class="watch-section">

        
        <li >
            <img src="./images/tube-watch.jpg" alt="Tube Watch">
            <h3>Tube Watch S42 Date Steel With Black Case</h3>
            <p>€395</p>
        </li>

        <li >
            <img src="./images/avondale-watch.jpg" alt="Avondale Watch">
            <h3>Avondale Watch Police For Men</h3>
            <p>€800</p>
        </li>

  

        <li>
            <img src="./images/diver-300m.jpg" alt="Diver Watch">
            <h3>Diver  300M Co-Axial Master Chronometer Chronograph</h3>
            <p>€600</p>
        </li>

        <li>
            <img src="./images/diver-300m-co-axial.jpg" alt="Diver Co Axial Watch">
            <h3>Diver 300M Co-Axial Master Chronometer </h3>
            <p>€1400</p>
        </li>

        <li>
            <img src="./images/taman-watch.jpg" alt="Taman Watch">
            <h3>Taman Watch By Police For Men</h3>
            <p>€500</p>
        </li>

        <li>
            <img src="./images/malawi-watch.jpg" alt="Malawi Watch">
            <h3>Malawi Watch Police For Men</h3>
            <p>€555</p>
        </li>

        <li>
            <img src="./images/diver-300m-master.jpg" alt="Diver Watch Master">
            <h3>Diver 300M Co-Axial Master Chronometer </h3>
            <p>€1200</p>
        </li>

        <li>
            <img src="./images/greenlane-watch.jpg" alt="Greenlane Watch">
            <h3>Greenlane Watch By Police For Men</h3>
            <p>€1000</p>
        </li>

        <li class="laptop-watches">
            <img src="./images/squardrc-watch.jpg" alt="Squardrc Watch">
            <h3>Squardrc 5402 Chrono</h3>
            <p>€359</p>
        </li>

        <li class="laptop-watches">
            <img src="./images/diver-master-watch.jpg" alt="Diver Master Watch">
            <h3>Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
            <p>€400</p>
        </li>

        <li class="laptop-watches">
            <img src="./images/citizen-watch.jpg" alt="Citizen Watch">
            <h3>Citizen</h3>
            <p>€519</p>
        </li>

        <li class="laptop-watches">
            <img src="./images/armani-exchange-watch.jpg" alt="Armani Exchange Watch">
            <h3>Armani Exchange</h3>
            <p>€400</p>
        </li>
    </ul>
</div>

    <div class="button-container">
    <button type="button" class="button-buy-now">Buy now</button>
    </div>

</div>

</div>