<section id="catalog" class="catalog">

    <div class="catalog-container">

        <div class="catalog-watch-container">


            <h2>Catalog</h2>

            <div class="grid-container">

                <ul class="watch-section">


                    <li>
                        <img src="./images/tube-watch.jpg" alt="Tube Watch">
                        <h3>Tube Watch S42 Date Steel With Black Case</h3>
                        <p>€395</p>
                    </li>

                    <li>
                        <img src="./images/avondale-watch.jpg" alt="Avondale Watch">
                        <h3>Avondale Watch Police For Men</h3>
                        <p>€800</p>
                    </li>



                    <li>
                        <img src="./images/diver-300m.jpg" alt="Diver Watch">
                        <h3>Diver 300M Co-Axial Master Chronometer Chronograph</h3>
                        <p>€600</p>
                    </li>

                    <li>
                        <img src="./images/diver-300m-co-axial.jpg" alt="Diver Co Axial Watch">
                        <h3>Diver 300M Co-Axial Master Chronometer </h3>
                        <p>€1400</p>
                    </li>

                    <li>
                        <img src="./images/taman-watch.jpg" alt="Taman Watch">
                        <h3>Taman Watch By Police For Men</h3>
                        <p>€500</p>
                    </li>

                    <li>
                        <img src="./images/malawi-watch.jpg" alt="Malawi Watch">
                        <h3>Malawi Watch Police For Men</h3>
                        <p>€555</p>
                    </li>

                    <li>
                        <img src="./images/diver-300m-master.jpg" alt="Diver Watch Master">
                        <h3>Diver 300M Co-Axial Master Chronometer </h3>
                        <p>€1200</p>
                    </li>

                    <li>
                        <img src="./images/greenlane-watch.jpg" alt="Greenlane Watch">
                        <h3>Greenlane Watch By Police For Men</h3>
                        <p>€1000</p>
                    </li>

                    <li class="laptop-watches">
                        <img src="./images/squardrc-watch.jpg" alt="Squardrc Watch">
                        <h3>Squardrc 5402 Chrono</h3>
                        <p>€359</p>
                    </li>

                    <li class="laptop-watches">
                        <img src="./images/diver-master-watch.jpg" alt="Diver Master Watch">
                        <h3>Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                        <p>€400</p>
                    </li>

                    <li class="laptop-watches">
                        <img src="./images/citizen-watch.jpg" alt="Citizen Watch">
                        <h3>Citizen</h3>
                        <p>€519</p>
                    </li>

                    <li class="laptop-watches">
                        <img src="./images/armani-exchange-watch.jpg" alt="Armani Exchange Watch">
                        <h3>Armani Exchange</h3>
                        <p>€400</p>
                    </li>
                </ul>
            </div>

            <div class="button-container">
                <button data-modal-open type="button" class="button-buy-now">Buy now</button>
            </div>

        </div>


        <!-- Buy Now Modal -->
        <div class="modal is-hidden" data-modal>
            <div class="modal-content">
                <div class="btn-close-container">
                    <div>
                        <svg class="close-btn" data-modal-close xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M18 6L6 18" stroke="#141414" stroke-width="1.3" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M6 6L18 18" stroke="#141414" stroke-width="1.3" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                </div>
                <div class="form-container">
                    <div class="modal-container">
                        <div class="currentwatch">

                            <div><img src="/src/images/modalwatch.png" alt="wrist-watch"></div>

                            <div>
                                <p>Tube Watch S42 Date Steel With Black...</p>
                                <p>€395</p>
                            </div>
                        </div>

                        <form name="request_service" autocomplete="on" novalidate class="contact-form">
                            <div class="label-content"> <!--div class="form-section"-->

                                <label class="form-label">
                                    Full name
                                </label>

                                <div class="form-input-container"> <!--input-container-->
                                    <input class="textfield" type="text" name="name" id="name"
                                        placeholder="Enter your full name" />
                                </div>
                            </div>

                            <div class="label-content">
                                <label class="form-label">
                                    Email
                                </label>
                                <div class="form-input-container">
                                    <input class="textfield" type="email" name="email" id="Email"
                                        placeholder="E-mail" />

                                </div>
                            </div>


                            <div class="label-content">
                                <label class="form-label">
                                    Card Number
                                </label>

                                <div class="form-input-container">
                                    <input class="textfield" type="number" name="cardnumber" id="cardnumber"
                                        placeholder="Enter card" />
                                </div>
                            </div>


                            <div class="label-content">
                                <label class="form-label">
                                    Comments
                                </label>

                                <div class="form-input-container">
                                    <textarea placeholder="Enter the text"></textarea>
                                </div>

                            </div>

                            <div class="label-terms">

                                <input class="btnform" type="submit" value="Send" />
                                <span>
                                    By clicking on “Submit” button, you agree to our Privacy Policy,
                                    and allow Promodo to use this information for marketing purposes.
                                </span>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>