<section class="catalog-main">
  <!-- Modal -->
  <div class="modal is-hidden" data-modal>
    <button class="catalog-close-form-button" type="button" data-modal-close>
      <svg class="catalog-form-close-form-button-svg">
        <use href="./images/Catalog-Ioana/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="catalog-form-container">
      <div class="catalog-card-img-container">
        <div class="catalog-form-img-container">
          <img
            class="form-container-img"
            srcset="
              ./images/Catalog-Ioana/form-img.png   1x,
              ./images/Catalog-Ioana/form-img2x.png 2x
            "
            src="./images/Catalog-Ioana/form-img.png"
            alt="steel watch"
          />
        </div>
        <div
          class="catalog-cards-list-item-description-container catalog-form-img-description"
        >
          <p class="catalog-cards-list-item-description-name">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <p class="catalog-cards-list-item-description-price">€395</p>
        </div>
      </div>
      <div class="catalog-form-and-button-container">
        <form class="catalog-modal-form" name="signup_form" autocomplete="off">
          <div class="catalog-modal-form-input-container">
            <label for="user-name" class="catalog-modal-form-label"
              >Full name</label
            >
            <input
              id="user-name"
              class="catalog-modal-form-input"
              placeholder="Enter your full name"
              name="user-name"
              type="text"
              required
            />
          </div>

          <div class="catalog-modal-form-input-container">
            <label for="user-email" class="catalog-modal-form-label"
              >Email</label
            >
            <input
              id="user-email"
              class="catalog-modal-form-input"
              placeholder="Enter your email"
              name="user-email"
              type="email"
              required
            />
          </div>

          <div class="catalog-modal-form-input-container">
            <label for="user-card-number" class="catalog-modal-form-label"
              >Card number</label
            >
            <input
              class="catalog-modal-form-input"
              id="user-card-number"
              type="tel"
              inputmode="numeric"
              pattern="[0-9\s]{13,19}"
              maxlength="19"
              placeholder="Enter card"
              required
            />
          </div>

          <div class="catalog-modal-form-input-container">
            <label for="user-comment" class="catalog-modal-form-label"
              >Comments</label
            >
            <textarea
              class="catalog-modal-form-textarea"
              id="user-comment"
              name="user-comment"
              placeholder="Enter your text"
            ></textarea>
          </div>
          <button class="catalog-modal-form-button" type="submit">
            submit
          </button>
        </form>
        <p class="catalog-form-button-description">
          By clicking on “Submit” button, you agree to our
          <span class="catalog-form-span">Privacy Policy</span>, and allow
          Promodo to use this information for marketing purposes.
        </p>
      </div>
    </div>
  </div>

  <div class="catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-images-list">
      <li class="catalog-images-item">
        <div class="catalog-images-card cards-flip">
          <div class="catalog-image-section">
            <img
              class="catalog-image-photo"
              srcset="
                ./images/Catalog-Ioana/catalog1.png    1x,
                ./images/Catalog-Ioana/catalog1-2x.png 2x
              "
              src="./images/Catalog-Ioana/catalog1.png"
              alt="catalog watch 1"
            />
          </div>
          <div class="catalog-cards-description back">
            <h3 class="catalog-cards-title">DESCRIPTION</h3>
            <p class="catalog-cards-description first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-title">DETAILS & FEATURESTION</h3>
            <p class="catalog-cards-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-container">
          <p class="catalog-description-front">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <p class="catalog-cards-price">€395</p>
        </div>
      </li>
      <li class="catalog-images-item">
        <div class="catalog-images-card cards-flip">
          <div class="catalog-image-section">
            <img
              class="catalog-image-photo"
              srcset="
                ./images/Catalog-Ioana/catalog2.png    1x,
                ./images/Catalog-Ioana/catalog2-2x.png 2x
              "
              src="./images/Catalog-Ioana/catalog2.png"
              alt="catalog watch 2"
            />
          </div>
          <div class="catalog-cards-description back">
            <h3 class="catalog-cards-title">DESCRIPTION</h3>
            <p class="catalog-cards-description first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-title">DETAILS & FEATURESTION</h3>
            <p class="catalog-cards-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-container">
          <p class="catalog-description-front">Avondale Watch Police For Men</p>
          <p class="catalog-cards-price">€800</p>
        </div>
      </li>
      <li class="catalog-images-item">
        <div class="catalog-images-card cards-flip">
          <div class="catalog-image-section">
            <img
              class="catalog-image-photo"
              srcset="
                ./images/Catalog-Ioana/catalog3.png    1x,
                ./images/Catalog-Ioana/catalog3-2x.png 2x
              "
              src="./images/Catalog-Ioana/catalog3.png"
              alt="catalog watch 3"
            />
          </div>
          <div class="catalog-cards-description back">
            <h3 class="catalog-cards-title">DESCRIPTION</h3>
            <p class="catalog-cards-description first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-title">DETAILS & FEATURESTION</h3>
            <p class="catalog-cards-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-container">
          <p class="catalog-description-front">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <p class="catalog-cards-price">€600</p>
        </div>
      </li>
      <li class="catalog-images-item">
        <div class="catalog-images-card cards-flip">
          <div class="catalog-image-section">
            <img
              class="catalog-image-photo"
              srcset="
                ./images/Catalog-Ioana/catalog4.png    1x,
                ./images/Catalog-Ioana/catalog4-2x.png 2x
              "
              src="./images/Catalog-Ioana/catalog4.png"
              alt="catalog watch 4"
            />
          </div>
          <div class="catalog-cards-description back">
            <h3 class="catalog-cards-title">DESCRIPTION</h3>
            <p class="catalog-cards-description first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-title">DETAILS & FEATURESTION</h3>
            <p class="catalog-cards-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-container">
          <p class="catalog-description-front">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <p class="catalog-cards-price">€1400</p>
        </div>
      </li>
      <li class="catalog-images-item">
        <div class="catalog-images-card cards-flip">
          <div class="catalog-image-section">
            <img
              class="catalog-image-photo"
              srcset="
                ./images/Catalog-Ioana/catalog5.png    1x,
                ./images/Catalog-Ioana/catalog5-2x.png 2x
              "
              src="./images/Catalog-Ioana/catalog5.png"
              alt="catalog watch 5"
            />
          </div>
          <div class="catalog-cards-description back">
            <h3 class="catalog-cards-title">DESCRIPTION</h3>
            <p class="catalog-cards-description first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-title">DETAILS & FEATURESTION</h3>
            <p class="catalog-cards-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-container">
          <p class="catalog-description-front">Taman Watch By Police For Men</p>
          <p class="catalog-cards-price">€500</p>
        </div>
      </li>
      <li class="catalog-images-item">
        <div class="catalog-images-card cards-flip">
          <div class="catalog-image-section">
            <img
              class="catalog-image-photo"
              srcset="
                ./images/Catalog-Ioana/catalog6.png    1x,
                ./images/Catalog-Ioana/catalog6-2x.png 2x
              "
              src="./images/Catalog-Ioana/catalog6.png"
              alt="catalog watch 6"
            />
          </div>
          <div class="catalog-cards-description back">
            <h3 class="catalog-cards-title">DESCRIPTION</h3>
            <p class="catalog-cards-description first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-title">DETAILS & FEATURESTION</h3>
            <p class="catalog-cards-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-container">
          <p class="catalog-description-front">Malawi Watch Police For Men</p>
          <p class="catalog-cards-price">€555</p>
        </div>
      </li>
      <li class="catalog-images-item">
        <div class="catalog-images-card cards-flip">
          <div class="catalog-image-section">
            <img
              class="catalog-image-photo"
              srcset="
                ./images/Catalog-Ioana/catalog7.png    1x,
                ./images/Catalog-Ioana/catalog7-2x.png 2x
              "
              src="./images/Catalog-Ioana/catalog7.png"
              alt="catalog watch 7"
            />
          </div>
          <div class="catalog-cards-description back">
            <h3 class="catalog-cards-title">DESCRIPTION</h3>
            <p class="catalog-cards-description first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-title">DETAILS & FEATURESTION</h3>
            <p class="catalog-cards-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-container">
          <p class="catalog-description-front">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <p class="catalog-cards-price">€1200</p>
        </div>
      </li>
      <li class="catalog-images-item">
        <div class="catalog-images-card cards-flip">
          <div class="catalog-image-section">
            <img
              class="catalog-image-photo"
              srcset="
                ./images/Catalog-Ioana/catalog8.png    1x,
                ./images/Catalog-Ioana/catalog8-2x.png 2x
              "
              src="./images/Catalog-Ioana/catalog8.png"
              alt="catalog watch 8"
            />
          </div>
          <div class="catalog-cards-description back">
            <h3 class="catalog-cards-title">DESCRIPTION</h3>
            <p class="catalog-cards-description first">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch.
            </p>
            <h3 class="catalog-cards-title">DETAILS & FEATURESTION</h3>
            <p class="catalog-cards-description">
              Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
              Metal Case Material: Metal Features: Multifunction Water
              Resistant: 5 (ATM) Band Colour: Steel
            </p>
          </div>
        </div>
        <div class="catalog-cards-container">
          <p class="catalog-description-front">
            Greenlane Watch By Police For Men
          </p>
          <p class="catalog-cards-price">€1000</p>
        </div>
      </li>
    </ul>
    <button class="button" type="button" data-modal-open>Buy now</button>
  </div>
</section>
