<section>
  <h2>Catalog</h2>
  <ul class="watch-style">
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-1st-1x-d.png 1x, ../images/img-1st-2x-d.png 2x"
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          srcset="../images/img-1st-1x-t.png 1x, ../images/img-1st-2x-t.png 2x"
        />

        <!-- Mobile -->

        <source
          media="(min-width: 428px)"
          srcset="../images/img-1st-1x-p.png 1x, ../images/img-1st-2x-p.png 2x"
        />

        <img
          src="../images/img-1st-1x-d.png"
          alt="Tube Watch S42 Date Steel With Black Case"
        />
      </picture>
      <p>Tube Watch S42 Date Steel With Black Case</p>
      <span>€395</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <div></div>

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-2nd-1x-d.png 1x, ../images/img-2nd-2x-d.png 2x"
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          srcset="../images/img-2nd-1x-t.png 1x, ../images/img-2nd-2x-t.png 2x"
        />

        <!-- Mobile -->

        <source
          media="(min-width: 428px)"
          srcset="../images/img-2nd-1x-p.png 1x, ../images/img-2nd-2x-p.png 2x"
        />

        <img
          src="../images/img-2nd-1x-d.png"
          alt="Avondale Watch Police For Men"
        />
      </picture>
      <p>Avondale Watch Police For Men</p>
      <span>€800</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-3rd-1x-d.png 1x, ../images/img-3rd-2x-d.png 2x"
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          srcset="../images/img-3rd-1x-t.png 1x, ../images/img-3rd-2x-t.png 2x"
        />

        <!-- Mobile -->

        <source
          media="(min-width: 428px)"
          srcset="../images/img-3rd-1x-p.png 1x, ../images/img-3rd-2x-p.png 2x"
        />

        <img
          src="../images/img-3rd-1x-d.png"
          alt="Diver  300M Co‑Axial Master Chronometer Chronograph"
        />
      </picture>
      <p>Diver 300M Co‑Axial Master Chronometer Chronograph</p>
      <span>€600</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-4th-1x-d.png 1x, ../images/img-4th-2x-d.png 2x"
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          srcset="../images/img-4th-1x-t.png 1x, ../images/img-4th-2x-t.png 2x"
        />

        <!-- Mobile -->

        <source
          media="(min-width: 428px)"
          srcset="../images/img-4th-1x-p.png 1x, ../images/img-4th-2x-p.png 2x"
        />

        <img
          src="../images/img-4th-1x-d.png"
          alt="Diver 300M Co-Axial Master Chronometer"
        />
      </picture>
      <p>Diver 300M Co-Axial Master Chronometer</p>
      <span>€1400</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-5th-1x-d.png 1x, ../images/img-5th-2x-d.png 2x"
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          srcset="../images/img-5th-1x-t.png 1x, ../images/img-5th-2x-t.png 2x"
        />

        <!-- Mobile -->

        <source
          media="(min-width: 428px)"
          srcset="../images/img-5th-1x-p.png x1, ../images/img-5th-2x-p.png 2x"
        />

        <img
          src="../images/img-5th-1x-d.png"
          alt="Taman Watch By Police For Men"
        />
      </picture>
      <p>Taman Watch By Police For Men</p>
      <span>€500</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-6th-1x-d.png 1x, ../images/img-6th-2x-d.png 2x"
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          srcset="../images/img-6th-1x-t.png 1x, ../images/img-6th-2x-t.png 2x"
        />

        <!-- Mobile -->

        <source
          media="(min-width: 428px)"
          srcset="../images/img-6th-1x-p.png 1x, ../images/img-6th-2x-p.png 2x"
        />

        <img
          src="../images/img-6th-1x-d.png"
          alt="Malawi Watch Police For Men"
        />
      </picture>
      <p>Malawi Watch Police For Men</p>
      <span>€555</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-7th-1x-d.png 1x, ../images/img-7th-2x-d.png 2x"
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          srcset="../images/img-7th-1x-t.png 1x, ../images/img-7th-2x-t.png 2x"
        />

        <!-- Mobile -->

        <source
          media="(min-width: 428px)"
          srcset="../images/img-7th-1x-p.png 1x, ../images/img-7th-2x-p.png 2x"
        />

        <img
          src="../images/img-7th-1x-d.png"
          alt="Malawi Watch Police For Men"
        />
      </picture>
      <p>Diver 300M Co-Axial Master Chronometer</p>
      <span>€1200</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-8th-1x-d.png 1x, ../images/img-8th-2x-d.png 2x"
        />

        <!-- Tablet -->

        <source
          media="(min-width: 768px)"
          srcset="../images/img-8th-1x-t.png 1x, ../images/img-8th-1x-t.png 2x"
        />

        <!-- Mobile -->

        <source
          media="(min-width: 428px)"
          srcset="../images/img-8th-1x-p.png 1x, ../images/img-8th-2x-p.png 2x"
        />

        <img src="../images/img-8th-1x-d" alt="Malawi Watch Police For Men" />
      </picture>
      <p>Greenlane Watch By Police For Men</p>
      <span>€1000</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="../images/img-9th-1x-d.png 1x, ../images/img-9th-2x-d.png 2x"
        />
        <img src="../images/img-9th-1x-d.png" alt="Squardrc 5402 Chrono" />
      </picture>
      <p>Squardrc 5402 Chrono</p>
      <span>€359</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="
            ../images/img-10th-1x-d.png 1x,
            ../images/img-10th-2x-d.png 2x
          "
        />
        <img
          src="../images/img-10th-1x-d.png"
          alt="Diver  300M Co‑Axial Master Chronometer Chronograph"
        />
      </picture>
      <p>Diver 300M Co‑Axial Master Chronometer Chronograph</p>
      <span>€400</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="
            ../images/img-11th-1x-d.png 1x,
            ../images/img-11th-2x-d.png 2x
          "
        />
        <img src="../images/img-11th-1x-d.png" alt="Citizen" />
      </picture>
      <p>Citizen</p>
      <span>€519</span>
    </li>
    <li>
      <picture>
        <!-- Desktop -->

        <source
          media="(min-width: 1158px)"
          srcset="
            ../images/img-12th-1x-d.png 1x,
            ../images/img-12th-2x-d.png 2x
          "
        />
        <img src="../images/img-12th-1x-d.png" alt="Armani Exchange" />
      </picture>
      <p>Armani Exchange</p>
      <span>€400</span>
    </li>
  </ul>
  <button type="button">
    BUY NOW
  </button>
</section>
