<!---Challenges-->

<div class="section-position" id="challenges">
  <section class="challenges">
    <div class="container">
      <h2 class="title challenges-title black-background">
        Главные проблемы учеников <br />
        на English ВНО, которые <br />
        мы <span class="accent-color">помогаем</span> решить
      </h2>
    </div>
  </section>

  <!-- ABSOLUTE LIST-->

  <section class="absolute-list" id="absolute-list">
    <div class="container">
      <ul class="challenges-list list bold-text">
        <li class="challenges-list-item">
          <p class="challenges-list-item-text">Название грамматики</p>
        </li>

        <li class="challenges-list-item">
          <p class="challenges-list-item-text">
            Неумение воспринимать устную английскую речь
          </p>
        </li>

        <li class="challenges-list-item">
          <p class="challenges-list-item-text">
            Скупой словарный запас для написания сочинения
          </p>
        </li>

        <li class="challenges-list-item">
          <p class="challenges-list-item-text">Поодготовка в одиночку</p>
        </li>
        <li class="challenges-list-item">
          <p class="challenges-list-item-text">
            Отсутствие единого ресурса знаний
          </p>
        </li>

        <li class="challenges-list-item">
          <p class="challenges-list-item-text">
            Недостаток самоорганизации и лень
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>