<!---Challenges-->

<section class="challenges">
    <div class="container">

        <h2 class="challenges-title">Главные проблемы учеников на English ВНО, которые мы <span class="text-color">помогаем</span> решить</h2>


        <ul class="challenges-list list">

            <div class="challenges-list-first-part"></div>
            
                <li class="challenges-list-item">
                    <h3 class="challenges-list-item-title">-01</h3>
                    <p class="challenges-list-item-text">Название грамматики</p>
                </li>

                <li class="challenges-list-item">
                    <h3 class="challenges-list-item-title">-02</h3>
                    <p class="challenges-list-item-text"> Неумение воспринимать устную английскую речь</p>
                </li>
                
                <li class="challenges-list-item">
                    <h3 class="challenges-list-item-title">-03</h3>
                    <p class="challenges-list-item-text"> Скупой словарный запас для написани сочинения</p>
                </li>

                <li class="challenges-list-item">
                    <h3 class="challenges-list-item-title">-04</h3>
                    <p class="challenges-list-item-text">Поодготовка в одиночку</p>
                </li>
                   <li class="challenges-list-item">
                    <h3 class="challenges-list-item-title">-05</h3>
                    <p class="challenges-list-item-text">Отсутствие единого ресурса знаний</p>
                </li>

                <li class="challenges-list-item">
                    <h3 class="challenges-list-item-title">-06</h3>
                    <p class="challenges-list-item-text">Недостатой самоорганизации и лень</p>
                </li>
            </ul>
   </div>

</section>