<section id="chocolate-is-loved" class="chocolate-reviews">
  <h2 class="chocolate-reviews-title"><span>Chocolate</span> Is Loved</h2>

  <div class="reviews-container">
    <div class="reviews">
      <picture>
        <source
          srcset="./images/review-4.png 1x, ./images/review-4-2x.png 2x"
        />

        <img
          src="images/review-4.png"
          alt="reviewer Victoria"
          width="80"
          height="80"
        />
      </picture>
      <h3 class="reviewer-name">Victoria Dobrzhanska</h3>
      <p class="review-comment">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </div>

    <div class="reviews">
      <picture>
        <source
          srcset="./images/review-5.png 1x, ./images/review-5-2x.png 2x"
        />

        <img
          src="images/review-5.png"
          alt="reviewer Nazar"
          width="80"
          height="80"
        />
      </picture>
      <h3 class="reviewer-name">Nazar Babenko</h3>
      <p class="review-comment">
        This chocolate confection is a delight! A delight! The wafer is light
        and crisp, the hazelnut cream is smooth, and the chocolate is good.
      </p>
    </div>

    <div class="reviews">
      <picture>
        <source
          srcset="./images/review-6.png 1x, ./images/review-6-2x.png 2x"
        />

        <img
          src="images/review-6.png"
          alt="reviewer Olena"
          width="80"
          height="80"
        />
      </picture>
      <h3 class="reviewer-name">Olena Kampusch</h3>
      <p class="review-comment">
        Chocolate is a family favourite treat. Love the delicious smooth
        chocolate and the creaminess inside. The wafer is soft but crunchy.
      </p>
    </div>

    <div class="reviews">
      <picture>
        <source
          srcset="./images/review-1.png 1x, ./images/review-1-2x.png 2x"
        />

        <img
          src="images/review-1.png"
          alt="reviewer Natalia"
          width="80"
          height="80"
        />
      </picture>
      <h3 class="reviewer-name">Natalia Sus</h3>
      <p class="review-comment">
        The chocolate assortment was delicious. Both dark and milk chocolate
        pieces were smooth and just right on the sweetness level.
      </p>
    </div>

    <div class="reviews">
      <picture>
        <source
          srcset="./images/review-2.png 1x, ./images/review-2-2x.png 2x"
        />

        <img
          src="images/review-2.png"
          alt="reviewer Danilo"
          width="80"
          height="80"
        />
      </picture>
      <h3 class="reviewer-name">Danilo Nottingham</h3>
      <p class="review-comment">
        This is delicious. It so rich and flavorful you don&apos;t need to use
        as many. I love topping an apple with almond butter and these chips for
        a snack.
      </p>
    </div>

    <div class="reviews">
      <picture>
        <source
          srcset="./images/review-3.png 1x, ./images/review-3-2x.png 2x"
        />

        <img
          src="images/review-3.png"
          alt="reviewer Irina"
          width="80"
          height="80"
        />
      </picture>
      <h3 class="reviewer-name">Irina Tydnyuk</h3>
      <p class="review-comment">
        This is simply the best chocolate around, and I'm just thrilled to
        support a local company! Best local chocolate - world class &#128522;
      </p>
    </div>
  </div>

  <div class="swiper-bullets-container">
    <div class="swiper-bullets active" onclick="currentDiv(0)"></div>
    <div class="swiper-bullets" onclick="currentDiv(1)"></div>
    <div class="swiper-bullets" onclick="currentDiv(2)"></div>
    <div class="swiper-bullets" onclick="currentDiv(3)"></div>
    <div class="swiper-bullets mobile-1-bullet" onclick="currentDiv(4)"></div>
    <div class="swiper-bullets mobile-2-bullet" onclick="currentDiv(5)"></div>
  </div>
  <div class="review-btn">
    <button data-modal-open-reviews class="leave-a-review-btn" type="button">
      Leave a review
    </button>
  </div>

  <!-- MODAL -->
  <div class="modal-reviews is-hidden" data-modal-reviews>
    <div class="modal-content-reviews">
      <button class="close-btn-reviews" data-modal-close-reviews>
        <svg>
          <use xlink:href="./images/symbol-defs.svg#icon-close-btn"></use>
        </svg>
      </button>

      <form class="review-form">
        <div
          class="form-title"
          role="group"
          aria-labelledby="review-details-head"
        >
          <p id="review-details-head">
            leave a review about <span class="title-span">our chocolate</span>
          </p>
        </div>
        <div class="name-container">
          <div class="input-container">
            <input
              class="text-field"
              type="text"
              name="name"
              id="name"
              required
              placeholder="Name"
            />
          </div>
        </div>

        <div class="email-container">
          <div class="input-container">
            <input
              class="text-field"
              type="email"
              name="email"
              id="email"
              required
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              placeholder="Enter your email"
            />
          </div>
        </div>

        <div class="tel-container">
          <div class="input-container">
            <input
              class="text-field phone-flag"
              type="tel"
              name="phone-number"
              id="phone-number"
              required
              placeholder="Phone number"
            />
            <div class="flag-nr">
              <img
                src="./images/flag.png"
                alt="flag"
                width="31.589"
                height="23.508"
              />
              <span class="nr">+380</span>
              <span class="vertical-line"></span>
            </div>
          </div>
        </div>

        <div class="comments-review-container">
          <textarea
            class="comments-review"
            name="comments"
            id="comments-review"
            placeholder="Enter text"
          ></textarea>
        </div>

        <div class="button-container-modal">
          <button type="submit" class="button-modal">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>
