
<section class="choose">
    <div class="container">
    <h3 class="choose-title">
        Почему нас выбирают
    </h3>
    <div class="choose-conteiner">
        <ul class="choose-list">
            <li class="choose-list-item">
                <p class="choose-item-title accent-line-choose">
                    Обучение в малых командах
                </p>
            </li>
            <li class="choose-list-item">
                <p class="choose-item-title accent-line-choose">
                    Визуализированные конспекты
                </p>
            </li>
            <li class="choose-list-item">
                <p class="choose-item-title accent-line-choose">
                    Каждое занятие имеет цель и конкретный результат
                </p>
            </li>
            <li class="choose-list-item">
                <p class="choose-item-title accent-line-choose">
                    Ревльные результаты преподавателя
                </p>
            </li>
            <li class="choose-list-item">
                <p class="choose-item-title accent-line-choose">
                    Прогамма курса соответствует требованиям МОН Украины
                </p>
            </li>
            <li class="choose-list-item">
                <p class="choose-item-title accent-line-choose">
                    Набор команд по уровням знаний
                </p>
            </li>
        </ul>
    </div>
     
    </div>
</section>
