<section class="choose">
    <div class="container">
        <h1 class="hidden-title">Choose</h1>
        <ul class="choose-list">
            <li class="choose-list-item">
                <h3 class="choose-item-title accent-line">
                    Обучение в малых командах
                </h3>
            </li>
            <li class="choose-list-item">
                <h3 class="choose-item-title accent-line">
                    Визуализированные конспекты
                </h3>
            </li>
            <li class="choose-list-item">
                <h3 class="choose-item-title accent-line">
                    Каждое занятие имеет цель и конкретный результат
                </h3>
            </li>
            <li class="choose-list-item">
                <h3 class="choose-item-title accent-line">
                    Ревльные результаты преподавателя
                </h3>
            </li>
            <li class="choose-list-item">
                <h3 class="choose-item-title accent-line">
                    Прогамма курса соответствует требованиям МОН Украины
                </h3>
            </li>
            <li class="choose-list-item">
                <h3 class="choose-item-title accent-line">
                    Набор команд по уровням знаний
                </h3>
            </li>
        </ul>
    </div>
</section>