<!DOCTYPE html>
<section>
  <div class="container container-cities">
    <ul class="cities">
      <li class="cities-item">
        <div class="cities-text">CAFE</div>
        <ul class="card-list">
          <li class="card-item">
            <p class="card-item__city">Chicago</p>
            <p class="card-item__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card-item">
            <ul class="work-days">
              <li class="time-day">
                <p class="days">Monday - Friday</p>
                <p class="hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="days">Saturday - Sunday</p>
                <p class="hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="card-item">
            <ul class="cities-contacts">
              <li>+61(0) 383 766 284</li>
              <li>noreply@envato.com</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="cities-item">
        <div class="cities-text-green">FOODTRUCK</div>
        <ul class="card-list">
          <li class="card-item">
            <p class="card-item__city">Los Angeles</p>
            <p class="card-item__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card-item">
            <ul class="work-days">
              <li class="time-day">
                <p class="days">Monday - Friday</p>
                <p class="hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="days">Saturday - Sunday</p>
                <p class="hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="card-item">
            <ul class="cities-contacts">
              <li>+61(0) 383 766 284</li>
              <li>noreply@envato.com</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="cities-item">
        <div class="cities-text">CAFE</div>

        <ul class="card-list">
          <li class="card-item">
            <p class="card-item__city">New York</p>
            <p class="card-item__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card-item">
            <ul class="work-days">
              <li class="time-day">
                <p class="days">Monday - Friday</p>
                <p class="hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="days">Saturday - Sunday</p>
                <p class="hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="card-item">
            <ul class="cities-contacts">
              <li>+61(0) 383 766 284</li>
              <li>noreply@envato.com</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="button button-cities">
      <button class="button-white" type="button">
        Our Locations
        <svg width="4" height="8">
          <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
        </svg>
      </button>
      <button class="button-white" type="button">
        Franchise
        <svg width="4" height="8">
          <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
