<section class="clients section">
    <div class="container">
        <h2 class="clients__title">Отзывы выпускников</h2>
        <div class="clients__top">
            <div class="clients__icon-other-left-line" href="">
                <svg width="25" height="17">
                    <use href="./icons/clients.svg#clients-left-line"></use>
                </svg>
            </div>
            
            <div class="clients__top-part">
                <div class="clients__left-side">
                    <picture class="clients__img">
                        <source srcset="./images/clients/clients-photo.jpg 1x, ./images/clients/clients-photo@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source srcset="./images/clients/clients-photo-mob.jpg 1x, ./images/clients/clients-photo-mob@2x.jpg 2x"
                            media="(min-width: 320px)">
                            <img src="./images/clients/clients-photo-mob.jpg" alt="Тоня Кучеровская" />
                    </picture>
                        <svg class="clients__icon" width="30" height="30">
                            <use href="./icons/clients.svg#clients-vk"></use>
                        </svg>
                </div>
                <div class="clients__right-side">
                    <h3 class="clients__name-title">Тоня Кучеровская</h3>
                    <p class="clients__description">Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України</p>
                    <p class="clients__second-description">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім
                        пустий словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                        помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ... <a href="" class="clients__text-box">Читать дальше</a></p>
                </div>

            </div>
            <div class="clients__icon-other-right-line">
                <svg width="25" height="17">
                    <use href="./icons/clients.svg#clients-right-line"></use>
                </svg>
            </div>
        </div>
        

            <div class="clients__bottom-part">
                            <div class="clients__icon-right-line">
                                <svg width="25" height="17">
                                    <use href="./icons/clients.svg#clients-left-line"></use>
                                </svg>
                            </div>
                <ul class="clients__list">
                    <li class="clients__item">
                        
                        <img class="clients__photo"
                            srcset="./images/clients/clients-girl1.jpg 1x, ./images/clients/clients-girl1@2x.jpg 2x"
                            src="./images/clients/clients-girl1.jpg" alt="девушка-1">
                    </li>
                    <li class="clients__item">
                        <img class="clients__photo"
                            srcset="./images/clients/clients-girl2.jpg 1x, ./images/clients/clients-girl2@2x.jpg 2x"
                            src="./images/clients/clients-girl2.jpg" alt="девушка-2">
                    </li>
                    <li class="clients__item">
                        <img class="clients__photo"
                            srcset="./images/clients/clients-girl3.jpg 1x, ./images/clients/clients-girl3@2x.jpg 2x"
                            src="./images/clients/clients-girl3.jpg" alt="девушка-3">
                        
                    </li>
                    <li class="clients__item clients__item-none">
                        <img class="clients__photo"
                            srcset="./images/clients/clients-girl4.jpg 1x, ./images/clients/clients-girl4@2x.jpg 2x"
                            src="./images/clients/clients-girl4.jpg" alt="девушка-4">
                    </li>
                    <li class="clients__item clients__item-none">
                        <img class="clients__photo"
                            srcset="./images/clients/clients-girl5.jpg 1x, ./images/clients/clients-girl5@2x.jpg 2x"
                            src="./images/clients/clients-girl5.jpg" alt="девушка-5">
                    </li>
                    <li class="clients__item clients__item-none">
                        <img class="clients__photo"
                            srcset="./images/clients/clients-girl6.jpg 1x, ./images/clients/clients-girl6@2x.jpg 2x"
                            src="./images/clients/clients-girl6.jpg" alt="девушка-6">
                    </li>
                    <li class="clients__item clients__item-none">
                
                        <img class="clients__photo"
                            srcset="./images/clients/clients-girl7.jpg 1x, ./images/clients/clients-girl7@2x.jpg 2x"
                            src="./images/clients/clients-girl7.jpg" alt="девушка-7">
                    </li>
                </ul>
                <div class="clients__icon-right-line">
                    <svg width="25" height="17">
                        <use href="./icons/clients.svg#clients-right-line"></use>
                    </svg>
                </div>
            </div>
    </div>
    
</section>


