<section class="collage-section">
    <div class="container">
        <h2 class="hidden">Gallery</h2>
        <div class="img-box">
            <img srcset="
            ./images/collage/collage-mobile.jpg 320w,
            ./images/collage/collage-mobile@2x.jpg 640w,
            ./images/collage/collage-tablet.jpg 768w,
            ./images/collage/collage-tablet@2x.jpg 1536w,
            ./images/collage/collage.jpg 1280w,
            ./images/collage/collage@2x.jpg 2560w"
            
            src="./images/collage/collage-mobile.jpg" 
            alt="Collage"
            sizes="(min-width: 1200) 100vw, (min-width: 768px) 100vw, (min-width: 320px) 100vw">
        </div>
    </div>
</section>