<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="collage-section">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/desktop/collage-1280.jpg    1x,
            ./images/desktop/collage-1280@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/collage-786.jpg    1x,
            ./images/tablet/collage-786@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/collage-364.jpg    1x,
            ./images/mobile/collage-364@2x.jpg 2x
          "
        />
        <img src="./images/mobile/collage-364.jpg" alt="Фото коллаж" />
      </picture>
    </section>
    <section class="quote-section">
      <picture>
        <source
          srcset="./images/custumer.png 1x, ./images/custumer@2x.png 2x"
        />
        <img type="image/png" src="./images/custumer.png" alt="Женщина" />
      </picture>
      <div class="quote__wrapper">
        <svg width="40" height="54">
          <use href="./images/sprite.svg#quote"></use>
        </svg>
        <div class="quote__text-wrapper">
          <p class="quote__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="quote__custumes">Emily, Los Angeles</p>
      </div>
      <input type="radio" />
    </section>
  </body>
</html>
