<section class="collage-section">
  <picture>
    <source
      media="(min-width: 1280px)"
      srcset="
        ./images/desktop/collage-1280.jpg    1x,
        ./images/desktop/collage-1280@2x.jpg 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./images/tablet/collage-786.jpg    1x,
        ./images/tablet/collage-786@2x.jpg 2x
      "
    />
    <source
      media="(max-width: 767px)"
      srcset="
        ./images/mobile/collage-364.jpg    1x,
        ./images/mobile/collage-364@2x.jpg 2x
      "
    />
    <img
      src="./images/mobile/collage-364.jpg"
      alt="Фото коллаж"
      class="collage__picture"
    />
  </picture>
</section>
<section id="about" class="quote">
  <div class="quote__user">
    <div class="quote__photo">
      <picture>
        <source
          srcset="./images/custumer.png 1x, ./images/custumer@2x.png 2x"
        />
        <img type="image/png" src="./images/custumer.png" alt="Женщина" />
      </picture>
    </div>
    <div class="quote__wrapper">
      <div class="quote__text-wrapper">
        <p class="quote__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <p class="quote__author">Emily, Los Angeles</p>
  </div>
  <div class="slider">
    <label class="slider__label"
      ><input
        type="radio"
        name="author"
        value="home"
        class="slider__input"
        checked
      />
      <div class="slider__home-btn"></div>
    </label>
    <label class="slider__label"
      ><input type="radio" name="author" value="2nd" class="slider__input" />
      <div class="slider__2nd-btn"></div
    ></label>
    <label class="slider__label"
      ><input type="radio" name="author" value="3rd" class="slider__input" />
      <div class="slider__3rd-btn"></div>
    </label>
  </div>
</section>
