<section class="come-to-us">
  <div class="come-text-rectangle">
    <svg class="text-rectangle">
      <use href="./images/Rectangle5.svg"></use>
    </svg>
    <p>старая традиционная школа</p>
  </div>
  <p class="wy-come-us">Почему приходят именно к нам?</p>
  <p>
    О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
    10 раз прочитать.
  </p>
  <ul class="come-us-ul">
    <li>
      <div>
        <p class="come-us-p">600</p>
        <p>+</p>
      </div>
      <p>Довольных клиентов в день</p>
    </li>
    <li>
      <div>
        <p class="come-us-p">50</p>
        <p>+</p>
      </div>
      <p>Наград за отличный сервис</p>
    </li>
    <li>
      <div>
        <p class="come-us-p">20</p>
        <p>+</p>
      </div>
      <p>Лучших мастеров Киева</p>
    </li>
    <li>
      <div>
        <p class="come-us-p">100</p>
        <p>+</p>
      </div>
      <p>Подарков постоянным клиентам</p>
    </li>
  </ul>
</section>
