<section id="about-us" class="section-comments">
  <h2 class="visually-hidden">Review</h2>
  <div class="container">
    <div class="slider">
      <div class="slide">
        <img
          class="slide-foto"
          srcset="./images/review-1@2x.png 2x"
          src="./images/review-1.png"
          alt="girl's foto"
        />
        <p class="comment-text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="comment-data">Emily, Los Angeles</p>
      </div>

      <div class="slide">
        <img
          class="slide-foto"
          srcset="./images/review-2@2x.png 2x"
          src="./images/review-2.png"
          alt="girl's foto"
        />
        <p class="comment-text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="comment-data">Emily, Los Angeles</p>
      </div>

      <div class="slide">
        <img
          class="slide-foto"
          srcset="./images/review-3@2x.png 2x"
          src="./images/review-3.png"
          alt="girl's foto"
        />
        <p class="comment-text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="comment-data">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
