<section class="comments">
    
    <h2 class="comments__title">Отзывы выпускников</h2>

    <img src="./images/comments/mobile/ellipse.jpg" class="comments__img" alt="Фото выпускника" width="90" height="90">
    
    <svg class="comments__svg">
        <use href="./images/svg/vk-small.svg" width="30" height="30"></use>
    </svg>
    
    <h3 class="comments__student">Тоня Кучеровская</h3>
    
    <p class="comments__university">Выпуск 2015-го года, Національний університет біоресурсів
    і природокористування України</p>
    
    <p class="comments__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж
    заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
    успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
    я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a></p>

</section>