<section class="comments-slider">
  <div>
    <img
      class="user-photo"
      src="../images/user-photo-1.jpg"
      alt="фото пользователя"
      srcset="../images/user-photo-1@2x.jpg"
    />
    <p class="user-comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <p class="user-name"></p>
    <svg class="quotes">
      <use></use>
    </svg>
  </div>
  <div>
    <img
      class="user-photo"
      src="../images/user-photo-2.jpg"
      alt="фото пользователя"
      srcset="../images/user-photo-2@2x.jpg"
    />
    <p class="user-comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <p class="user-name"></p>
    <svg class="quotes">
      <use></use>
    </svg>
  </div>
  <div>
    <img
      class="user-photo"
      src="../images/user-photo-3.jpg"
      alt="фото пользователя"
      srcset="../images/user-photo-3@2x.jpg"
    />
    <p class="user-comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <p class="user-name"></p>
    <svg class="quotes">
      <use></use>
    </svg>
  </div>
</section>
