<section class="comments">
    <div class="container">
        <h2 class="title comments__heading">Отзывы выпускников</h2>
        <div class="slider">
            <div class="slider__item">
                <article class="comments__article">
                    <div class="comments__wrapper">
                        <img class="comments__image" src=".././src/images/Comments/Comment1@2x.png" alt="Фото выпускницы">
                        <a href="" class="comments__social-link link">
                            <img src=".././src/images/Comments/vk.svg" alt="Логотип Вконтакте" class="comments__social-icon">
                        </a>
                    </div>
                    <div class="comments__container">
                        <p class="comments__name">Татьяна Малышева</p>
                        <p class="comments__bio">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="comments__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a> </p>
                    </div>
                </article>
            </div>
            <div class="slider__item">
                <article class="comments__article">
                    <div class="comments__wrapper">
                        <img class="comments__image" src=".././src/images/Comments/Comment2@2x.png" alt="Фото выпускницы">
                        <a href="" class="comments__social-link link">
                            <img src=".././src/images/Comments/vk.svg" alt="Логотип Вконтакте" class="comments__social-icon">
                        </a>
                    </div>
                    <div class="comments__container">
                        <p class="comments__name">Александра Дмитриева</p>
                        <p class="comments__bio">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="comments__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a> </p>
                    </div>
                </article>
            </div>
            <div class="slider__item">
                <article class="comments__article">
                    <div class="comments__wrapper">
                        <img class="comments__image" src=".././src/images/Comments/Comment3@2x.png" alt="Фото выпускницы">
                        <a href="" class="comments__social-link link">
                            <img src=".././src/images/Comments/vk.svg" alt="Логотип Вконтакте" class="comments__social-icon">
                        </a>
                    </div>
                    <div class="comments__container">
                        <p class="comments__name">Маргарита Трепет</p>
                        <p class="comments__bio">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="comments__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a> </p>
                    </div>
                </article>
            </div>
            <div class="slider__item">
                <article class="comments__article">
                    <div class="comments__wrapper">
                        <img class="comments__image" src=".././src/images/Comments/Comment4@2x.png" alt="Фото выпускницы">
                        <a href="" class="comments__social-link link">
                            <img src=".././src/images/Comments/vk.svg" alt="Логотип Вконтакте" class="comments__social-icon">
                        </a>
                    </div>
                    <div class="comments__container">
                        <p class="comments__name">Ольга Версицкая</p>
                        <p class="comments__bio">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="comments__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a> </p>
                    </div>
                </article>
            </div>
            <div class="slider__item">
                <article class="comments__article">
                    <div class="comments__wrapper">
                        <img class="comments__image" src=".././src/images/Comments/Comment5@2x.png" alt="Фото выпускницы">
                        <a href="" class="comments__social-link link">
                            <img src=".././src/images/Comments/vk.svg" alt="Логотип Вконтакте" class="comments__social-icon">
                        </a>
                    </div>
                    <div class="comments__container">
                        <p class="comments__name">Анастасия Пономаренко</p>
                        <p class="comments__bio">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="comments__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a> </p>
                    </div>
                </article>
            </div>
            <div class="slider__item">
                <article class="comments__article">
                    <div class="comments__wrapper">
                        <img class="comments__image" src=".././src/images/Comments/Comment6@2x.png" alt="Фото выпускницы">
                        <a href="" class="comments__social-link link">
                            <img src=".././src/images/Comments/vk.svg" alt="Логотип Вконтакте" class="comments__social-icon">
                        </a>
                    </div>
                    <div class="comments__container">
                        <p class="comments__name">Тоня Кучеровская</p>
                        <p class="comments__bio">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="comments__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a> </p>
                    </div>   
                </article>
            </div>
            <div class="slider__item">
                <article class="comments__article">
                    <div class="comments__wrapper">
                        <img class="comments__image" src=".././src/images/Comments/Comment7@2x.png" alt="Фото выпускницы">
                        <a href="" class="comments__social-link link">
                            <img src=".././src/images/Comments/vk.svg" alt="Логотип Вконтакте" class="comments__social-icon">
                        </a>
                    </div>
                    <div class="comments__container">
                        <p class="comments__name">София Ниглешова</p>
                        <p class="comments__bio">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="comments__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                            що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a href="" class="comments__link">Читать дальше</a> </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>