<section class="company-benefits">
  <div class="container">
    <div>
      <h2 class="title-text">старая традиционная школа</h2>
      <strong class="bigest-text">Почему приходят именно к нам?</strong>
      <b class="appeal-text"
        >О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.</b
      >
    </div>
    <ul class="benefits-list">
      <li class="benefits-item">
          <div class="discription-container">
            <p class="number-text">600</p>
            <svg class="benefits-svg-icon">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>
          <p class="discription-text">Довольных клиентов в день</p>
      </li>
      <li class="benefits-item">
          <div class="discription-container">
            <p class="number-text">50</p>
            <svg class="benefits-svg-icon">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>
          <p class="discription-text">Наград за отличный сервис</p>
      </li>
      <li class="benefits-item">
          <div class="discription-container">
            <p class="number-text">20</p>
            <svg class="benefits-svg-icon">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>
          <p class="discription-text">Лучших мастеров Киева</p>
      </li>
      <li class="benefits-item">
          <div class="discription-container">
            <p class="number-text">100</p>
            <svg class="benefits-svg-icon">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </div>
          <p class="discription-text">Подарков постоянным клиентам</p>
        </ul>
      </li>
    </ul>
  </div>
</section>
