<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="composition">
        <div class="container">
            <h3 hidden>Composition</h3>
            <div class="composition-cards">
                <div class="composition-unit">
                    <!-- В случае спрайта, будем использовать закоменченный код -->
                    <!-- <svg class="composition-icon">
						<use href=""></use>
					</svg> -->
                    <img class="composition-icon" src="./images/icon1.svg" alt="Milk" width="33" height="50">
                    <div class="composition-value">721</div>
                    <div class="composition-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
                </div>
                <div class="composition-unit">
                    <img class="composition-icon" src="./images/icon2.svg" alt="Apples" width="50" height="50">
                    <div class="composition-value">16kg</div>
                    <div class="composition-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
                </div>
                <div class="composition-unit">
                    <img class="composition-icon" src="./images/icon3.svg" alt="Ice" width="44" height="50">
                    <div class="composition-value">84</div>
                    <div class="composition-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</div>
                </div>
            </div>
        </div>
        <picture class="gallery-image">
            <source srcset="./images/mobile_photogallery_1x.jpg 1x, ./images/mobile_photogallery_2x.jpg 2x, ./images/mobile_photogallery_3x.jpg 3x" media="(min-width: 320px)">
            <source srcset="./images/tablet_photogallery_1x.jpg 1x, ./images/tablet_photogallery_2x.jpg 2x, ./images/tablet_photogallery_3x.jpg 3x" media="(min-width: 740px)">
            <source srcset="./images/desktop_photogallery_1x.jpg 1x, ./images/desktop_photogallery_2x.jpg 2x, ./images/desktop_photogallery_3x.jpg 3x" media="(min-width: 1280px)">
            <img src="./images/desktop_photogallery_1x.jpg" alt="Our gallery" width="364" height="122" />
        </picture>
    </section>
</body>

</html>