<section class="composition">
    <div class="container composition-container">
        <h2 class="visually-hidden">Composition</h2>
        <ul class="composition-cards">
            <li class="composition-unit">
                <!-- В случае спрайта, будем использовать закоменченный код -->
                <!-- <svg class="composition-icon">
						<use href=""></use>
					</svg> -->
                <img class="composition-icon" src="./images/icon1.svg" alt="Milk" width="33" height="50">
                <h3 class="composition-value">721</h3>
                <p class="composition-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="composition-unit">
                <img class="composition-icon" src="./images/icon2.svg" alt="Apples" width="50" height="50">
                <h3 class="composition-value">16kg</h3>
                <p class="composition-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="composition-unit">
                <img class="composition-icon" src="./images/icon3.svg" alt="Ice" width="44" height="50">
                <h3 class="composition-value">84</h3>
                <p class="composition-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>

        <picture class="gallery-image">
            <source
                srcset="./images/desktop_photogallery_1x.jpg 1x, ./images/desktop_photogallery_2x.jpg 2x, ./images/desktop_photogallery_3x.jpg 3x"
                media="(min-width: 1280px)">
            <source
                srcset="./images/tablet_photogallery_1x.jpg 1x, ./images/tablet_photogallery_2x.jpg 2x, ./images/tablet_photogallery_3x.jpg 3x"
                media="(min-width: 740px)">
            <source
                srcset="./images/mobile_photogallery_1x.jpg 1x, ./images/mobile_photogallery_2x.jpg 2x, ./images/mobile_photogallery_3x.jpg 3x"
                media="(max-width: 739px)">
            <img src="./images/desktop_photogallery_1x.jpg" alt="Our gallery" />
        </picture>

    </div>
    <div class="composition-gap"></div>
</section>