<section class="consultation">
    <h2>Регистрация на <span>бесплатную</span> телефонную <span>консультацию</span> по нюансам ЗНО
        по английскому языку</h2>
    <p class="consultation-description">Оставь заявку на участие в <span>бесплатном занятии.</span>
        С вами свяжется консультант и ответит на вопросы</p>
    <form class="consultation-form">
        <input class="consultation-input" type="text" name="name" placeholder="Имя*">
        <input class="consultation-input" type="tel" name="tel" placeholder="Телефон*">
    </form>
</section>