<section class="contacts">
    <div class="container">
        <h2 hidden>Contacts</h2>
        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="contacts__item-title">cafe</p>
                <ul class="contacts__item-header list">
                    <li class="contacts__item--black">Chicago</li>
                    <li class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-body list">
                    <li class="contacts__item--black">Monday - Friday</li>
                    <li class="contacts__item--purple"><time datetime="06:00">06:00 AM</time> - <time datetime="22:00">10:00 PM</time></li>
                    <li class="contacts__item--black">Saturday - Sunday</li>
                    <li class="contacts__item--purple"><time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time></li>
                </ul>
                <ul class="contacts__item-footer list">
                    <li class="">
                        <a class="contacts__link contacts__link--grey" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="">
                        <a class="contacts__link contacts__link--grey" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <p class="contacts__item-title">food truck</p>
                <ul class="contacts__item-header list">
                    <li class="contacts__item--black">Los Angeles</li>
                    <li class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-body list">
                    <li class="contacts__item--black">Monday - Friday</li>
                    <li class="contacts__item--purple"><time datetime="06:00">06:00 AM</time> - <time datetime="22:00">10:00 PM</time></li>
                    <li class="contacts__item--black">Saturday - Sunday</li>
                    <li class="contacts__item--purple"><time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time></li>
                </ul>
                <ul class="contacts__item-footer list">
                    <li class="">
                        <a class="contacts__link contacts__link--grey" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="">
                        <a class="contacts__link contacts__link--grey" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <p class="contacts__item-title">cafe</p>
                <ul class="contacts__item-header list">
                    <li class="contacts__item--black">New York</li>
                    <li class="contacts__item--grey">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts__item-body list">
                    <li class="contacts__item--black">Monday - Friday</li>
                    <li class="contacts__item--purple"><time datetime="06:00">06:00 AM</time> - <time datetime="22:00">10:00 PM</time></li>
                    <li class="contacts__item--black">Saturday - Sunday</li>
                    <li class="contacts__item--purple"><time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time></li>
                </ul>
                <ul class="contacts__item-footer list">
                    <li class="">
                        <a class="contacts__link contacts__link--grey" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="">
                        <a class="contacts__link contacts__link--grey" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__modal-list list">
            <li class="contacts__modal-item">
                <button type="button" class="btn-dark">Our Locations 
                    <svg class="contacts__arrow">
                        <use href="./images/sprite.svg#bracket2"></use>
                    </svg>
                </button> 
            </li>
            <li class="contacts__modal-item">
                <button type="button" class="btn-light">Franchise 
                    <svg class="contacts__arrow">
                     <use href="./images/sprite.svg#bracket2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>