<article class="contacts-location-section">
  <div class="container">
    <div class="contacts-location">
      <ul class="grid">
        <li class="grid__item grid--location-size">
          <div class="contacts-location-block">
            <h3 class="contacts-location-block__type">CAFE</h3>
            <div class="location">
              <h4 class="location__title">Chicago</h4>
              <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
          </div>
          <div class="contacts-location-block">
            <div class="location location--borders">
              <div>
                <h4 class="location__title">Monday - Friday</h4>
                <p class="location__time">06:00 AM - 10:00 PM</p>
              </div>
              <div>
                <h4 class="location__title">Saturday - Sunday</h4>
                <p class="location__time">08:00 AM - 16:00 PM</p>
              </div>
            </div>
          </div>
          <div class="contacts-location-block">
            <div class="location location--contact">
              <a class="location__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
              <a class="location__contact" href="mailto:noreply@envato.com">noreply@envato.com </a>
            </div>
          </div>
        </li>
        <li class="grid__item grid--location-size">
          <div class="contacts-location-block">
            <h3 class="contacts-location-block__type contacts-location-block__type--color">FOOD TRUCK</h3>
            <div class="location">
              <h4 class="location__title">Chicago</h4>
              <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
          </div>
          <div class="contacts-location-block">
            <div class="location location--borders">
              <div>
                <h4 class="location__title">Monday - Friday</h4>
                <p class="location__time">06:00 AM - 10:00 PM</p>
              </div>
              <div>
                <h4 class="location__title">Saturday - Sunday</h4>
                <p class="location__time">08:00 AM - 16:00 PM</p>
              </div>
            </div>
          </div>
          <div class="contacts-location-block">
            <div class="location location--contact">
              <a class="location__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
              <a class="location__contact" href="mailto:noreply@envato.com">noreply@envato.com </a>
            </div>
          </div>
        </li>
        <li class="grid__item grid--location-size">
          <div class="contacts-location-block">
            <h3 class="contacts-location-block__type">CAFE</h3>
            <div class="location">
              <h4 class="location__title">Chicago</h4>
              <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
          </div>
          <div class="contacts-location-block">
            <div class="location location--borders">
              <div>
                <h4 class="location__title">Monday - Friday</h4>
                <p class="location__time">06:00 AM - 10:00 PM</p>
              </div>
              <div>
                <h4 class="location__title">Saturday - Sunday</h4>
                <p class="location__time">08:00 AM - 16:00 PM</p>
              </div>
            </div>
          </div>
          <div class="contacts-location-block">
            <div class="location location--contact">
              <a class="location__contact" href="tel:+610383766284">+61(0) 383 766 284</a>
              <a class="location__contact" href="mailto:noreply@envato.com">noreply@envato.com </a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="contacts-locations-buttons">
        <li class="contacts-locations-buttons__item">
          <button class="button" type="button">Our Location
            <svg class="button__icon" width="198px" height="44px">
              <rect class="button__icon__rect" width="198" height="44" fill="var(--main-color-dark)" rx="22px"></rect>
            </svg>
            <svg class="button__arrow" width="4.5px" height="8px" stroke="#fff">
              <use href="./images/contacts-locations-icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="contacts-locations-buttons__item">
          <button class="button button--text-color" type="button">Franchise
            <svg class="button__icon" width="198px" height="44px">
              <rect class="button__icon__rect" width="198" height="44" fill="#FFFFFF" rx="22px"></rect>
            </svg>
            <svg class="button__arrow" width="4.5px" height="8px" stroke="var(--main-color-dark)">
              <use href="./images/contacts-locations-icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</article>