<div class="background-container">
  <section class="contacts-section">
    <div class="contacts-section-container containerz">
      <h2 class="contacts-title is-hidden">
        List of locations where you can find our ice-cream
      </h2>
      <!-- list of location cards -->
      <ul class="contacts-card-list">
        <!--chicago location card -->
        <li class="contacts-card chicago-card">
          <p class="type-of-location cafe-location-type">Cafe</p>
          <div class="card-location-and-description">
            <p class="card-location-title">Chicago</p>
            <p class="card-location-description">
              Handcrafted coffee, baked goods, and premium ice cream.
            </p>
          </div>
          <div class="week-and-hours-availability">
            <p class="card-week-availability">Monday - Friday</p>
            <p class="card-hours-availability weekday-card-hours-availability">
              <time datetime="6:00">6:00 AM</time> to
              <time datetime="22:00">10:00 PM</time>
            </p>
            <p class="card-week-availability">Saturday - Sunday</p>
            <p class="card-hours-availability">
              <time datetime="8:00">8:00 AM</time> to
              <time datetime="16:00">4:00 PM</time>
            </p>
          </div>
          <address class="card-address-container">
            <a href="tel:610383766284" class="contacts-card-link link"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts-card-link link"
              >noreply@envato.com</a
            >
          </address>
        </li>
        <!-- los-angeles location card -->
        <li class="contacts-card los-angeles-card">
          <p class="type-of-location foodtruck-location-type">Foodtruck</p>
          <div class="card-location-and-description">
            <p class="card-location-title">Los Angeles</p>
            <p class="card-location-description">
              Fusion cuisine and refreshing ice cream made with passion.
            </p>
          </div>
          <div class="week-and-hours-availability">
            <p class="card-week-availability">Monday - Friday</p>
            <p class="card-hours-availability weekday-card-hours-availability">
              <time datetime="6:00">6:00 AM</time> to
              <time datetime="22:00">10:00 PM</time>
            </p>
            <p class="card-week-availability">Saturday - Sunday</p>
            <p class="card-hours-availability">
              <time datetime="8:00">8:00 AM</time> to
              <time datetime="16:00">4:00 PM</time>
            </p>
          </div>
          <address class="card-address-container">
            <a href="tel:610383766284" class="contacts-card-link link"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts-card-link link"
              >noreply@envato.com</a
            >
          </address>
        </li>
        <!-- new-york location card -->
        <li class="contacts-card new-york-card">
          <p class="type-of-location cafe-location-type">Cafe</p>
          <div class="card-location-and-description">
            <p class="card-location-title">New York</p>
            <p class="card-location-description">
              Specialty teas, pastries and mouth-watering ice cream.
            </p>
          </div>
          <div class="week-and-hours-availability">
            <p class="card-week-availability">Monday - Friday</p>
            <p class="card-hours-availability weekday-card-hours-availability">
              <time datetime="6:00">6:00 AM</time> to
              <time datetime="22:00">10:00 PM</time>
            </p>
            <p class="card-week-availability">Saturday - Sunday</p>
            <p class="card-hours-availability">
              <time datetime="8:00">8:00 AM</time> to
              <time datetime="16:00">4:00 PM</time>
            </p>
          </div>
          <address class="card-address-container">
            <a href="tel:610383766284" class="contacts-card-link link"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts-card-link link"
              >noreply@envato.com</a
            >
          </address>
        </li>
      </ul>
      <!-- map and franchise buttons -->
      <div class="contacts-button-section">
        <!-- map button -->
        <button
          type="button"
          class="contacts-button map-button"
          data-modal-open-loc
        >
          Our locations
          <svg
            width="8"
            height="16"
            class="map-button-icon contacts-button-icon"
          >
            <use href="./images/icons-contacts.svg#arrow-right-footer"></use>
          </svg>
        </button>
        <!-- <!-franchise button-> -->
        <button
          type="button"
          class="contacts-button franchise-button"
          data-modal-open-franchise
        >
          Franchise
          <svg
            width="8"
            height="16"
            class="open-franchise-icon contacts-button-icon"
          >
            <use href="./images/icons-contacts.svg#arrow-right-footer-red"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
  <!-- footer section -->
  <footer class="footer-section"> 
      <div class="footer-container containerz">
        <!-- titles for footer -->
        <div class="footer-title-part">
            <span class="footer-first-title">
              homemade ice cream</span>
              <br class="line-break-footer" />
              <span class="made">made</span>
          <p class="footer-second-title">with passion</p>
        </div>
        <div class="social-media-and-appeal-to-call-footer">
          <!-- social media list of the footer -->
          <ul class="social-media-list-footer">
            <!-- first social media icon -->
            <li class="social-media-footer-item">
              <a
                class="social-media-footer-link"
                href="https://github.com/"
                target="_blank"
              >
                <svg class="social-media-footer-icon" width="20" height="20">
                  <use href="./images/icons-contacts.svg#icon-github-footer"></use>
                </svg>
              </a>
            </li>
            <!-- second social media icon -->
            <li class="social-media-footer-item telegram-item">
              <a
                class="social-media-footer-link"
                href="https://linkedin.com/"
                target="_blank"
              >
                <svg class="social-media-footer-icon" width="20" height="20">
                  <use href="./images/icons-contacts.svg#icon-telegram-footer"></use>
                </svg>
              </a>
            </li>
            <!-- third social media icon -->
            <li class="social-media-footer-item facebook-item">
              <a
                class="social-media-footer-link"
                href="https://facebook.com/"
                target="_blank"
              >
                <svg class="social-media-footer-icon" width="20" height="20">
                  <use href="./images/icons-contacts.svg#icon-facebook-footer"></use>
                </svg>
              </a>
            </li>
          </ul>
          <!-- feel free to call part-->
          <p class="appeal-to-call">
            Feel free to contact
            <a class="appeal-to-call-link link" href="tel:610383766284"
              >+61 (0) 383 766 284</a
            >
          </p>
        </div>
      </div>
      <!-- all rights reserved part -->
      <div class="all-rights-reserved-container container">
        <p class="all-rights-reserved-text">
          &copy;2022 - IceCream All Rights Reserved.
        </p>
      </div>
    </div>
  </footer>
</div>
<!-- franchise modal window -->
<div class="franchise-modal-window-container is-hidden" data-modal-franchise>
  <div class="franchise-modal-window">
    <button class="modal-window-close-button" data-modal-close-franchise>
      <svg
        width="15"
        height="15"
        class="icon-close-modal-franchise-and-location"
      >
        <use
          href="./images/icons-contacts.svg#icon-close-modal-franchise-and-location"
        ></use>
      </svg>
    </button>
    <p class="franchise-form-main-text">
      Leave your contacts and maybe we will call you back
    </p>
    <!-- franchise modal window form -->
    <form class="franchise-modal-window-form">
      <div class="franchise-form-input-section">
        <label class="franchise-form-label" for="franchise-user-name"
          >Name</label
        >
        <input
          class="franchise-form-input"
          id="franchise-user-name"
          type="text"
          name="user-name"
        />
      </div>
      <div class="franchise-form-input-section">
        <label class="franchise-form-label" for="franchise-user-phone"
          >Number</label
        >
        <input
          class="franchise-form-input"
          id="franchise-user-phone"
          type="tel"
          name="phone"
        />
      </div>
      <div class="franchise-form-input-section">
        <label class="franchise-form-label" for="franchise-user-email"
          >E-mail</label
        >
        <input
          class="franchise-form-input"
          id="franchise-user-email"
          type="email"
          name="email"
        />
      </div>
      <div class="franchise-form-text-area-container">
        <label class="franchise-form-label" for="franchise-user-comment">
          a few words, my darling
        </label>
      </div>
      <textarea
        class="franchise-form-text-area"
        id="franchise-user-comment"
        name="user-comment"
        placeholder="Write here..."
      ></textarea>
      <button class="franchise-form-submit-button" type="submit">Send</button>
    </form>
  </div>
</div>
<!-- locations modal window -->
<div class="locations-modal-window-container is-hidden" data-modal-loc>
  <div class="locations-modal-window">
    <button class="modal-window-close-button" data-modal-close-loc>
      <svg
        width="15"
        height="15"
        class="icon-close-modal-franchise-and-location"
      >
        <use
          href="./images/icons-contacts.svg#icon-close-modal-franchise-and-location"
        ></use>
      </svg>
    </button>
    <p class="locations-form-main-text">We will be glad to see you</p>
    <!-- google maps element -->
    <div class="google-maps-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.641014910044!2d26.03922917576273!3d44.42001170250047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b20158a991f6af%3A0xf9bebcca3f67de40!2sIce%20Cream%20Bar%20Bucuresti!5e0!3m2!1sen!2sro!4v1708015325845!5m2!1sen!2sro"
        width="300"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="locations-modal-google-map"
      ></iframe>
    </div>
    <p class="locations-modal-description">
      Aleea Compozitorilor 10, București, 061605
    </p>
    <a
      class="locations-modal-map-link"
      href="https://www.google.com/maps/place/Ice+Cream+Bar+Bucuresti/@44.4200117,26.0392292,17z/data=!3m1!4b1!4m6!3m5!1s0x40b20158a991f6af:0xf9bebcca3f67de40!8m2!3d44.4200079!4d26.0418041!16s%2Fg%2F11mp5q6jhv?entry=ttu"
      target="_blank"
    >
      <button class="locations-modal-button">Open in Google Maps</button>
    </a>
  </div>
</div>
