<!-- CONTACT -->
        <section class="container">
            <ul>
                <li>
                    <div>
                        <h3>CAFE</h3>
                    </div>
                    <P class="contakt-location">Chicago</P>
                    <p class="contakt-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div>
                        <P class="working-days">Monday - Friday</P>
                        <p class="working-time">06:00 AM - 10:00 PM</p>

                        <P class="working-days">Saturday - Sunday</P>
                        <p class="working-time">08:00 AM - 16:00 PM</p>
                    </div>
                    <ul>
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@evato.com">noreply@evato.com</a></li>
                    </ul>
                </li>
                <li>
                    <div>
                        <h3>FOODTRUCK</h3>
                    </div>
                    <P class="contakt-location">Los Angeles</P>
                    <p class="contakt-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div>
                        <P class="working-days">Monday - Friday</P>
                        <p class="working-time">06:00 AM - 10:00 PM</p>

                        <P class="working-days">Saturday - Sunday</P>
                        <p class="working-time">08:00 AM - 16:00 PM</p>
                    </div>
                    <ul>
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@evato.com">noreply@evato.com</a></li>
                    </ul>
                </li>
                <li>
                    <div>
                        <h3>CAFE</h3>
                    </div>
                    <P class="contakt-location">New York</P>
                    <p class="contakt-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div>
                        <P class="working-days">Monday - Friday</P>
                        <p class="working-time">06:00 AM - 10:00 PM</p>

                        <P class="working-days">Saturday - Sunday</P>
                        <p class="working-time">08:00 AM - 16:00 PM</p>
                    </div>
                    <ul>
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@evato.com">noreply@evato.com</a></li>
                    </ul>
                </li>
            </ul>
            <button class="btn">Our Locations</button>
            <button class="btn2">Franchise</button> 

        </section>