<section class="contact">
  <div class="container">
    <h2 class="contact__title">Contact</h2>
    <h3 class="contact__text">We will answer any question!</h3>
    <form class="contact__form">
      <input
        type="email"
        name="mail"
        class="contact__field"
        placeholder="Email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      />
      <input
        type="text"
        name="question"
        class="contact__field contact__field--question"
        placeholder="Type your question"
      />
      <button class="contact__btn">Send</button>
    </form>
  </div>
</section>
