<section class="section contucts-section">
  <div class="container contacts-container">
    <h2 class="contacts-header">Контакты</h2>
    <ul class="contacts-list">
      <li class="contacts-list-element">
        <p class="contacts-link">
          <svg class="footer-icon" width="16" height="18">
            <use href="./images/sprite.svg#map"></use>
          </svg>
          ул. Васильковая, 7А Киев, 08132
        </p>
      </li>
      <li class="contacts-list-element">
        <a class="contacts-link" href="tel:+38 044 111 11 11">
          <svg class="footer-icon" width="16" height="16">
            <use href="./images/sprite.svg#phone"></use>
          </svg>
          +38 044 111 11 11</a
        >
      </li>
      <li class="contacts-list-element">
        <a class="contacts-link" href="mailto:barbershop@email.com">
          <svg class="footer-icon" width="18" height="14">
            <use href="./images/sprite.svg#mail"></use>
          </svg>
          barbershop@email.com
        </a>
      </li>
    </ul>

    <div class="worktime-container">
      <h3 class="work-time-header">
        ВРЕМЯ РАБОТЫ
      </h3>
      <p class="work-time">Ежедневно с 9:00 до 22:00</p>
    </div>
  </div>
</section>