<section class="contacts-section">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <div>
            <ul class="contacts-section__list">
                <li class="contacts-section__item">
                    <h3 class="contacts-section__title">CAFE</h3>
                    <p>Chicago</p>
                    <p class="contacts-section__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div>
                        <div class="contacts-section__work-schedule">
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-section__work-schedule">
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <address class="contacts-section__contact">
                        <a href="tel:+610383766284">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
                <li class="contacts-section__item">
                    <h3 class="contacts-section__title">FOOD TRUCK</h3>
                    <p>Los Angeles</p>
                    <p class="contacts-section__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div>
                        <div class="contacts-section__work-schedule">
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-section__work-schedule">
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <address class="contacts-section__contact">
                        <a href="tel:+610383766284">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
                <li class="contacts-section__item">
                    <h3 class="contacts-section__title">CAFE</h3>
                    <p>New York</p>
                    <p class="contacts-section__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div>
                        <div class="contacts-section__work-schedule">
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                        </div>
                        <div class="contacts-section__work-schedule">
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <address class="contacts-section__contact">
                        <a href="tel:+610383766284">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>

        <button class="contacts-section__button" type="button">Our Location</button>
        <button class="contacts-section__button" type="button">Franchise</button>
    </div>
</section>