<section class="contact">
  <div class="container">
    <h2 class="title" id="contacts">Contact</h2>
    <p class="contact__text">We will answer any question!</p>

    <form class="form">
      <input
        class="form__input"
        type="email"
        name="email"
        placeholder="Email"
        minlength="4"
        required
      />
      <input
        class="form__input"
        type="text"
        name="question"
        placeholder="Type your question"
        required
        minlength="4"
      />
      <button type="submit" class="button">Send</button>
    </form>
  </div>
</section>
