<section class="contact" id="contact">
    <div class="container">
        <h2>Регистрация на <span class="accent">бесплатную</span> 
            телефонную <span class="accent">консультацию</span>  по нюансам ВНО
        по английскому языку</h2>
        <ul class="list">
            <li>
                Оставь заявку на участие в <span class="accent">бесплатном занятии.</span>
            </li>
            <li>
                С вами свяжется консультант и ответит на вопросы
            </li>
        </ul>

        <form>
            <div class="form-field">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Имя*">
                <label for="phone"></label>
                <input type="tel" name="tel" id="phone" placeholder="Телефон*">
                <button type="submit" aria-label="Отправить заявку" class="button">хочу на бесплатное занятие</button>
            </div>
        </form>
    </div>
</section>