<section class="contact-info">
  <div class="container">
    <div class="contact-item">
      <div class="contact-logo">
        <a>
          <svg class="contact-logo-icon">
            <use
              href="./images/svg/sprite-logo.svg#icon-logo-mobile-white"
            ></use>
          </svg>
        </a>
      </div>

      <div class="contacts"></div>
      <ul class="contacts-list">
        <li class="contacts-list-item list">
          <a class="contacts-list-item-link link" href="tel:+380000000000"
            ><svg class="adress-icon adress-icon-svg">
              <use href="./images/svg/sprite-hell.svg#phone"></use></svg
            >+38 (000) 000 00 00</a
          >
        </li>
        <li class="contacts-list-item list">
          <a class="contacts-list-item-link link pseudo" href="">
            <picture>
              <source
                srcset="
                  /images/img-social/instagram.png    1x,
                  /images/img-social/instagram@2x.png 2x
                "
              />
              <img
                class="about-us-img"
                src="/images/img-social/instagram.png"
                alt="Instagram"
                width="40"
                height="40"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
