<div class="copyright">
  <!-- временно--------------------- -->
  <div class="container">
    <!-- временно------------------- -->
    <div class="copy-container">
      <ul class="media-list">
        <li class="media-item">
          <a class="media-link instagram" href="https://www.instagram.com/" aria-label="Ссылка на Instagram">Instagram
          </a>
        </li>
        <li>
          <a class="media-link youtube" href="https://www.youtube.com/" aria-label="Ссылка на Youtube">Youtube
          </a>
        </li>
      </ul>
      <p class="copy">&copy; Copyright 2020</p>
    </div>
    <!-- временно--------------------------- -->
  </div>
  <!-- временно----------------------------- -->
</div>