<footer>
  <div class="container flex-conteiner">
    <div class="copyright">
      <svg class="copyright-svg" width="12" height="12">
        <use href="../src/images/svg/sprite.svg#copyright"></use>
      </svg>
      <p class="ft-text copyright-text">Copyright 2020</p>
    </div>
    <ul class="social-networks">
      <li class="before-item">
        <a class="social-networks-item" href="https://instagram.com">
          <p class="ft-text social-networks-name">Instagram</p>
        </a>
      </li>
      <li>
        <a class="social-networks-item" href="https://youtube.com">
          <p class="ft-text social-networks-name">Youtube</p>
        </a>
      </li>
    </ul>
  </div>
</footer>
