<footer>
  <section class="copyright-section">
    <div class="copyright-container">
      <div class="copyrights-title-container">
        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.928 4.284c.768.036.966.69.978.996H7.98c-.048-1.188-.894-1.914-2.07-1.914-1.326 0-2.31.834-2.31 2.718 0 1.164.558 2.544 2.304 2.544 1.332 0 2.046-.99 2.064-1.77H6.894c-.018.354-.27.828-.978.864C5.13 7.698 4.8 7.086 4.8 6.084c0-1.734.768-1.788 1.128-1.8zM6 0C2.688 0 0 2.688 0 6s2.688 6 6 6 6-2.688 6-6-2.688-6-6-6zm0 10.8A4.806 4.806 0 011.2 6c0-2.646 2.154-4.8 4.8-4.8s4.8 2.154 4.8 4.8-2.154 4.8-4.8 4.8z"
            fill="#9DA4BD" />
        </svg>
        <p class="copyright-title">Copyright 2020</p>
      </div>
      <ul class="footer-media-links">
        <li class="footer-flatline"></li>
        <li class="footer-list-item">
          <a href="#" class="instagram">instagram</a>
        </li>
        <li class="footer-list-item">
          <a href="#" class="youtube">youtube</a>
        </li>
      </ul>
    </div>
  </section>
</footer>