<section class="cow">
  <div class="container">
    <h2 class="section-title">
      Tradition and love <br />
      <span class="section-title-span">How it's made?</span>
    </h2>
    <div class="subscribe">
        <img src="./images/cow-section/cow-mobile-min.png" alt="cow" class="cow-picture"/>
      <div class="text">-
        <p class="main-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
          fringilla.
        </p>
        <p class="additional-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="additional-text-low">Aliquam erat volutpat. Aenean accumsan.</p>
      </div>
    </div>
    <button class="primary-button" type="submit">
      Read more
      <svg class="icon-arrow">
        <use href="#"></use>
      </svg>
    </button>
    <ul class="list">
      <li class="list-item">
        <svg class="icon-milk"><use></use></svg>
        <h3 class="list-item-title">721</h4>
        <p class="list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="list-item">
        <svg class="icon-apple"><use></use></svg>
        <h3 class="list-item-title">16 kg</h4>
        <p class="list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="list-item">
        <svg class="icon-ice-cream"><use></use></svg>
        <h3 class="list-item-title">84</h4>
        <p class="list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
