<!DOCTYPE html>
<section class="cow-section">
    <div class="container">
    <h2 class="cow-tradition">tradition and love</h2>
    <h3 class="cow-made">how it’s made?</h3>
    <div class="milk-cow">
    <picture class="milk-cow-picture">
                <source srcset="./images/cow/desctop-milk-cow.png 1x, ./images/cow/desctop-milk-cow@2x.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/cow/tablet-milk-cow.png 1x, ./images/cow/tablet-milk-cow@2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/cow/mobile-milk-cow.png 1x, ./images/cow/mobile-milk-cow@2x.png 2x" media="(max-width: 767px)"> 
                <img src="./images/cow/desctop-milk-cow.png" alt="Корова с молоком" width="516px" />
    </picture> 
    <div class="milk-cow-section">
    <p class="cow-one">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
        eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
    <p class="cow-two">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
        imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
    <p class="cow-three">Aliquam erat volutpat. Aenean accumsan.</p>
        
    <button type="button" class="cow-button">Read more
        <svg width="20" height="10">
            <use class="icon-cow" href="symbol-defs.svg#icon-button-arrow"></use>
        </svg>
        <!-- <span class="icon-cow"></span> -->
        <!-- <svg width="5" height="8">
                    <use class="icon-cow" href="symbol-defs.svg#icon-button_arrow"></use>
                </svg> -->
    </button>
    </div>
    </div>
            <div class="cont">
                <ul class="cow-li">
                    <li class="cow-item  bef">
                        <h3 class="big-title cow-features-title">721</h3>
                        <p class="cow-features">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                    <li class="cow-item  bef">
                        <h3 class="big-title cow-features-title">16kg</h3>
                        <p class="cow-features">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                    <li class="cow-item  bef">
                        <h3 class="big-title cow-features-title">84</h3>
                        <p class="cow-features">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                </ul>
            </div>

    </div>



</section>



<div>
    <img src="./images/cow/desctop-milk-cow.png">
    bhtvnjgrmkof,l.dxtmrkcl
</div>