<section class="how-made" id="how-made">
  <div class="how-made__container">
    <h3 class="how-made__subtitle">tradition and love</h3>
    <h2 class="how-made__title">how it’s made?</h2>
    <div class="how-made__content">
      <div></div>
      <div class="how-made__box">
        <p>
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="how-made__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa
          nibh,tincidunt.
        </p>
        <p class="how-made__description">Aliquam erat volutpat. Aenean accumsan.</p>
        <a class="how-made__btn" href="">Read more</a>
      </div>
    </div>
  </div>
</section>
