<section class="cow pink-bg">
    <div class="container">
        <h2 class="section-title">tradition and love<br><span class="section-title-part">how it’s made?</span></h2>
        <div class="cow-wrapper">
            <div class="content-box cow-image">
                <picture>                    
                    <source srcset="./images/desktop/cow/cow.png 1x, ./images/desktop/cow/cow@2x.png 2x" media="(min-width: 1050px)">
                    <source srcset="./images/tablet/cow/cow.png 1x, ./images/tablet/cow/cow@2x.png 2x" media="(min-width: 768px)">           
                    <source srcset="./images/mobile/cow/cow.png 1x, ./images/mobile/cow/cow@2x.png 2x" media="(max-width: 767px)">                                        
                    <img src="./images/desktop/cow/cow.png" alt="Milk and cow" width="516px">
                </picture>
            </div>
            <div class="content-box">
                <p class="cow-info">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
                <p class="cow-info2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <br>
                <br>
                Aliquam erat volutpat. Aenean accumsan.</p>            
                <a class="link cow-link" href="">Read more
                    <svg class="cow-link-icon">
                        <use href="./images/sprite.svg#icon-cheveron-right"></use>
                    </svg>
                </a>
            </div>
        </div>
        <ul class="list cow-grid">
            <li class="cow-grid-item">
                <span class="cow-grid-item-num">721</span>
                <p class="cow-grid-item-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="cow-grid-item">
                <span class="cow-grid-item-num">16kg</span>
                <p class="cow-grid-item-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="cow-grid-item">
                <span class="cow-grid-item-num">84</span>
                <p class="cow-grid-item-info">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>    
    </div>
</section>
<div class="collage"></div>