<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden" id="about-us">About us</h2>
        <div class="comments">
            <div class="comments-container">
                <picture class="reviews-img">
                    <source srcset="/images/reviews/customer1_webp_1x.webp 1x,
                                                /images/reviews/customer1_webp_2x.webp 2x" type="image/webp" />
                    <img class="comments-img" srcset="/images/reviews/customer1_1x.jpg 1x,
                                             /images/reviews/customer1_2x.jpg 2x" src="/images/reviews/customer1_1x.jpg"
                        alt="photo of laughing woman" width="85" />
                </picture>
                
                <p class="reviews-text"><span class="reviews-text-line">Nullam viverra consectetuer.
                        Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</span>
                </p>
                    <span class="reviews-dots"></span> 
                
                <p class="reviews-name">Emily, Los Angeles</p>
            </div>
            <div class="comments-container">
                <picture class="reviews-img">
                    <source srcset="/images/reviews/testimonials2.webp 1x,
                                                            /images/reviews/testimonials2@2x.webp 2x" type="image/webp" />
                    <img srcset="/images/reviews/testimonials2.png 1x,
                                                         /images/reviews/testimonials2@2x.png 2x"
                        src="/images/reviews/testimonials2.png" alt="photo of laughing woman" width="85" />
                </picture>
            
                <p class="reviews-text"><span class="reviews-text-line">Nullam viverra consectetuer.
                        Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</span>
                </p>
                <span class="reviews-dots"></span> 
            
                <p class="reviews-name">Gven, New York</p>
            </div>
            <div class="comments-container">
                <picture class="reviews-img">
                    <source srcset="/images/reviews/testimonials3.webp 1x,
                                                                            /images/reviews/testimonials3@2x.webp 2x"
                        type="image/webp" />
                    <img srcset="/images/reviews/testimonials3.png 1x,
                                                                         /images/reviews/testimonials3@2x.png 2x"
                        src="/images/reviews/testimonials3.png" alt="photo of laughing woman" width="85" />
                </picture>
            
                <p class="reviews-text"><span class="reviews-text-line">Nullam viverra consectetuer.
                        Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</span>
                </p>
                <span class="reviews-dots"></span> 
            
                <p class="reviews-name">Margo, Washington</p>
            </div>
        </div>
    </div>
     
</section>
