<section class="customer">
  <h2 class="customer__text__comment visually-hidden">Customer reviews</h2>
  <div class="container customer__review wrapper">
    <input type="radio" name="point" id="slide1" checked />
    <input type="radio" name="point" id="slide2" />
    <input type="radio" name="point" id="slide3" />
    <ul class="customer__list slider">
      <li class="customer__item slides slide1">
        <img
          srcset="
            ./images/reviews/reviews-1_lg.png    1x,
            ./images/reviews/reviews-1_lg@2x.png 2x
          "
          src="./images/reviews/reviews-1_lg.png"
          alt="customer"
          class="customer__img"
          width="85"
          height="85"
        />
        <div class="customer__container">
          <p class="customer__text__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <p class="customer__text">Emily, Los Angeles</p>
        <ul class="customer__list__svg visually-hidden">
          <li class="customer__item__svg">
            <svg class="customer__svg__icon" width="14" height="14">
              <use href="./images/icons/symbol-defs.svg#icon-home"></use>
            </svg>
          </li>
          <li class="customer__item__svg">
            <svg
              class="customer__svg__icon icon-threedots-white"
              width="12"
              height="12"
            >
              <use href="./images/icons/symbol-defs.svg#pagination"></use>
            </svg>
          </li>
          <li class="customer__item__svg">
            <svg
              class="customer__svg__icon icon-threedots-white"
              width="12"
              height="12"
            >
              <use href="./images/icons/symbol-defs.svg#pagination"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="customer__item slides slide2">
        <img
          srcset="
            ./images/reviews/reviews-2_lg.png    1x,
            ./images/reviews/reviews-2_lg@2x.png 2x
          "
          src="./images/reviews/reviews-2_lg.png"
          alt="customer"
          class="customer__img"
          width="85"
          height="85"
        />
        <div class="customer__container">
          <p class="customer__text__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer__text">Rose, San Bernardino</p>
        <ul class="customer__list__svg visually-hidden">
          <li class="customer__item__svg">
            <svg
              class="customer__svg__icon icon-threedots-white"
              width="12"
              height="12"
            >
              <use href="./images/icons/symbol-defs.svg#pagination"></use>
            </svg>
          </li>
          <li class="customer__item__svg">
            <svg class="customer__svg__icon" width="14" height="14">
              <use href="./images/icons/symbol-defs.svg#icon-home"></use>
            </svg>
          </li>
          <li class="customer__item__svg">
            <svg
              class="customer__svg__icon icon-threedots-white"
              width="12"
              height="12"
            >
              <use href="./images/icons/symbol-defs.svg#pagination"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="customer__item slides slide3">
        <img
          srcset="
            ./images/reviews/reviews-3_lg.png    1x,
            ./images/reviews/reviews-3_lg@2x.png 2x
          "
          src="./images/reviews/reviews-3_lg.png"
          alt="customer"
          class="customer__img"
          width="85"
          height="85"
        />
        <div class="customer__container">
          <p class="customer__text__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer__text">Kate, San Francisco</p>
        <ul class="customer__list__svg visually-hidden">
          <li class="customer__item__svg icon-threedots-white">
            <svg class="customer__svg__icon" width="12" height="12">
              <use href="./images/icons/symbol-defs.svg#pagination"></use>
            </svg>
          </li>

          <li class="customer__item__svg icon-threedots-white">
            <svg class="customer__svg__icon" width="12" height="12">
              <use href="./images/icons/symbol-defs.svg#pagination"></use>
            </svg>
          </li>
          <li class="customer__item__svg">
            <svg class="customer__svg__icon" width="14" height="14">
              <use href="./images/icons/symbol-defs.svg#icon-home"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
    <div class="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
    </div>
    <!-- Slider main container -->
    <!-- <div class="wrapper">
      <input type="radio" name="point" id="slide1" checked />
      <input type="radio" name="point" id="slide2" />
      <input type="radio" name="point" id="slide3" />

      <div class="slider">
        <div class="slides slide1">
          <li class="customer__item">
            <img
              src="./images/reviews/reviews-1_sm.png"
              alt="customer"
              class="customer__img"
              width="85"
              height="85"
            />
            <div class="customer__container">
              <p class="customer__text__comment">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>

            <p class="customer__text">Emily, Los Angeles</p>
            <ul class="customer__list__svg">
              <li class="customer__item__svg">
                <svg class="customer__svg__icon" width="14" height="14">
                  <use href="./images/icons/symbol-defs.svg#icon-home"></use>
                </svg>
              </li>
              <li class="customer__item__svg">
                <svg
                  class="customer__svg__icon icon-threedots-white"
                  width="12"
                  height="12"
                >
                  <use href="./images/icons/symbol-defs.svg#pagination"></use>
                </svg>
              </li>
              <li class="customer__item__svg">
                <svg
                  class="customer__svg__icon icon-threedots-white"
                  width="12"
                  height="12"
                >
                  <use href="./images/icons/symbol-defs.svg#pagination"></use>
                </svg>
              </li>
            </ul>
          </li>
        </div>
        <div class="slides slide2">
          <li class="customer__item">
            <img
              src="./images/reviews/reviews-2_lg.png"
              alt="customer"
              class="customer__img"
              width="85"
              height="85"
            />
            <div class="customer__container">
              <p class="customer__text__comment">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <p class="customer__text">Rose, San Bernardino</p>
            <ul class="customer__list__svg">
              <li class="customer__item__svg">
                <svg
                  class="customer__svg__icon icon-threedots-white"
                  width="12"
                  height="12"
                >
                  <use href="./images/icons/symbol-defs.svg#pagination"></use>
                </svg>
              </li>
              <li class="customer__item__svg">
                <svg class="customer__svg__icon" width="14" height="14">
                  <use href="./images/icons/symbol-defs.svg#icon-home"></use>
                </svg>
              </li>
              <li class="customer__item__svg">
                <svg
                  class="customer__svg__icon icon-threedots-white"
                  width="12"
                  height="12"
                >
                  <use href="./images/icons/symbol-defs.svg#pagination"></use>
                </svg>
              </li>
            </ul>
          </li>
        </div>
        <div class="slides slide3">
          <li class="customer__item">
            <img
              src="./images/reviews/reviews-3_lg.png"
              alt="customer"
              class="customer__img"
              width="85"
              height="85"
            />
            <div class="customer__container">
              <p class="customer__text__comment">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <p class="customer__text">Kate, San Francisco</p>
            <ul class="customer__list__svg">
              <li class="customer__item__svg icon-threedots-white">
                <svg class="customer__svg__icon" width="12" height="12">
                  <use href="./images/icons/symbol-defs.svg#pagination"></use>
                </svg>
              </li>

              <li class="customer__item__svg icon-threedots-white">
                <svg class="customer__svg__icon" width="12" height="12">
                  <use href="./images/icons/symbol-defs.svg#pagination"></use>
                </svg>
              </li>
              <li class="customer__item__svg">
                <svg class="customer__svg__icon" width="14" height="14">
                  <use href="./images/icons/symbol-defs.svg#icon-home"></use>
                </svg>
              </li>
            </ul>
          </li>
        </div>
      </div>
      <div class="controls">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
      </div>
    </div> -->
  </div>
</section>
