<section class="slideshow-container" id="reviews">
  <h3 class="hidden">Customer reviews</h3>
  <div class="slide fade">
    <div class="img-person-title">
      <picture>
        <!-- dekstop -->
        <source
          media="(min-width: 1280px)"
          srcset="./images/customer-reviews(roxana)/desktop/review-1-d.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./images/customer-reviews(roxana)/desktop/review-1-x2-d.png"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="./images/customer-reviews(roxana)/tablet/review-1-t.png"
        />

        <source
          media="(min-width: 768px)"
          srcset="./images/customer-reviews(roxana)/tablet/review-1-x2-t.png"
        />
        <!-- mobile -->
        <source
          media="(min-width: 300px)"
          srcset="./images/customer-reviews(roxana)/mobile/review-1-m.png"
        />

        <source
          media="(min-width: 300px)"
          srcset="./images/customer-reviews(roxana)/mobile/review-1-x2-m.png"
        />

        <img
          class="img-person"
          src="./images/customer-reviews(roxana)/mobile/review-1-m.png"
          alt="girl with curly hair"
        />
      </picture>
    </div>
    <div class="comment">
      <!-- mobile version -->
      <div class="comment-review">
        <div class="comment-lines">
          <span class="new-icon">&#10078; </span>
          <span class="comment-line1"> I love visiting your cafe.</span>
          <span class="comment-line2">You prepare the most</span>
          <span class="comment-line3">delicious ice cream in</span>
          <span class="comment-line4">Los Angeles! In addition,</span>
          <span class="comment-line5">you have beautiful</span>
          <span class="comment-line6">serving, cozy atmosphere</span>
          <span class="comment-line7">and polite staff.</span>
        </div>
        <!-- tablet version -->
        <div class="tablet-version">
          <span class="tablet-version-line1">
            I love visiting your cafe. You prepare the most delicious ice cream
            in</span
          >
          <span class="tablet-version-line2"
            >Los Angeles! In addition, you have beautiful serving, cozy</span
          >
          <span class="tablet-version-line3">atmosphere and polite staff.</span>
        </div>
        <span class="new-icon-tablet tablet-icon">&#10078; </span>
        <!-- desktop version -->
        <div class="desktop-version">
          <span class="new-icon-desktop desktop-icon">&#10078; </span>
          <span class="desktop-version-line1">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In</span
          >
          <span class="desktop-version-line2"
            >addition, you have beautiful serving, cozy atmosphere and polite
            staff.
          </span>
        </div>
      </div>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <img
          src="./images/customer-reviews(roxana)/dots.svg"
          alt="three red dots"
        />
      </div>
      <p class="name-location">Emily, Los Angeles</p>
    </div>
  </div>

  <div class="slide fade">
    <div class="img-person-title">
      <picture>
        <!-- dekstop -->
        <source
          media="(min-width: 1280px)"
          srcset="./images/customer-reviews(roxana)/desktop/review-2-d.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./images/customer-reviews(roxana)/desktop/review-1-x2-d.png"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="./images/customer-reviews(roxana)/tablet/review-2-t.png"
        />

        <source
          media="(min-width: 768px)"
          srcset="./images/customer-reviews(roxana)/tablet/review-2-x2-t.png"
        />
        <!-- mobile -->
        <source
          media="(min-width: 300px)"
          srcset="./images/customer-reviews(roxana)/mobile/review-2-m.png"
        />

        <source
          media="(min-width: 300px)"
          srcset="./images/customer-reviews(roxana)/mobile/review-2-x2-m.png"
        />

        <img
          class="img-person"
          src="./images/customer-reviews(roxana)/mobile/review-2-m.png"
          alt="girl with glasses"
        />
      </picture>
    </div>
    <div class="comment">
      <!-- mobile version -->
      <div class="comment-review">
        <div class="comment-lines">
          <span class="new-icon">&#10078; </span>
          <span class="comment-line1"> You prepare the most</span>
          <span class="comment-line2">delicious ice cream in</span>
          <span class="comment-line3">California! I love all </span>
          <span class="comment-line4">the flavors. In addition,</span>
          <span class="comment-line5">you have beautiful</span>
          <span class="comment-line6">serving, cozy atmosphere</span>
          <span class="comment-line7">and polite staff.</span>
        </div>
        <!-- tablet version -->
        <div class="tablet-version">
          <span class="tablet-version-line1">
            You prepare the most delicious ice cream in California! I love
            all</span
          >
          <span class="tablet-version-line2"
            >the flavors. In addition, you have beautiful serving, cozy</span
          >
          <span class="tablet-version-line3">atmosphere and polite staff.</span>
        </div>
        <span class="new-icon-tablet tablet-icon">&#10078; </span>
        <!-- desktop version -->
        <div class="desktop-version">
          <span class="new-icon-desktop desktop-icon">&#10078; </span>
          <span class="desktop-version-line1">
            You prepare the most delicious ice cream in California! I love all
            the flavors. In</span
          >
          <span class="desktop-version-line2"
            >addition, you have beautiful serving, cozy atmosphere and polite
            staff.
          </span>
        </div>
      </div>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <img
          src="./images/customer-reviews(roxana)/dots.svg"
          alt="three red dots"
        />
      </div>
      <p class="name-location">Agata, California</p>
    </div>
  </div>

  <div class="slide fade">
    <div class="img-person-title">
      <picture>
        <!-- dekstop -->
        <source
          media="(min-width: 1280px)"
          srcset="./images/customer-reviews(roxana)/desktop/review-3-d.png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./images/customer-reviews(roxana)/desktop/review-3-x2-d.png"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="./images/customer-reviews(roxana)/tablet/review-3-t.png"
        />

        <source
          media="(min-width: 768px)"
          srcset="./images/customer-reviews(roxana)/tablet/review-3-x2-t.png"
        />
        <!-- mobile -->
        <source
          media="(min-width: 300px)"
          srcset="./images/customer-reviews(roxana)/mobile/review-3-m.png"
        />

        <source
          media="(min-width: 300px)"
          srcset="./images/customer-reviews(roxana)/mobile/review-3-x2-m.png"
        />

        <img
          class="img-person"
          src="./images/customer-reviews(roxana)/mobile/review-3-m.png"
          alt="girl with hand up"
        />
      </picture>
    </div>
    <div class="comment">
      <!-- mobile version -->
      <div class="comment-review">
        <div class="comment-lines">
          <span class="new-icon">&#10078; </span>
          <span class="comment-line1"> I love visiting your cafe.</span>
          <span class="comment-line2">Allways it's a cozy </span>
          <span class="comment-line3">atmosphere and polite </span>
          <span class="comment-line4">staff. I love the variety</span>
          <span class="comment-line5">of flavors, especially </span>
          <span class="comment-line6">the vanilla one. The</span>
          <span class="comment-line7">best Ice Cream in NY!</span>
        </div>
        <!-- tablet version -->
        <div class="tablet-version">
          <span class="tablet-version-line1">
            I love visiting your cafe. Allways it's a cozy atmosphere and polite
          </span>
          <span class="tablet-version-line2"
            >staff. I love the variety of flavors, especially the vanilla one.
          </span>
          <span class="tablet-version-line3">The best Ice Cream in NY!</span>
        </div>
        <span class="new-icon-tablet tablet-icon">&#10078; </span>
        <!-- desktop version -->
        <div class="desktop-version">
          <span class="new-icon-desktop desktop-icon">&#10078; </span>
          <span class="desktop-version-line1">
            I love visiting your cafe. Allways it's a cozy atmosphere and polite
            staff.</span
          >
          <span class="desktop-version-line2"
            >I love the variety of flavors, especially the vanilla one. The best
            Ice Cream in NY!
          </span>
        </div>
      </div>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <img
          src="./images/customer-reviews(roxana)/dots.svg"
          alt="three red dots"
        />
      </div>
      <p class="name-location">Angelina,New York</p>
    </div>
  </div>
  <div class="three-dots" style="text-align: center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</section>

<script>
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName('slide');
    let dots = document.getElementsByClassName('dot');
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(' active', '');
    }
    slides[slideIndex - 1].style.display = 'block';
    dots[slideIndex - 1].className += ' active';
    setTimeout(showSlides, 3000); // Change image every 2 seconds
  }
</script>
