<div class="reviews swiper" id="swiper-1">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="
            images/desktop/testimonial1-d.jpg,
            images/desktop/testimonial1-d@2x.jpg 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <source
          media="(min-width:768px)"
          srcset="
            images/tablet/testimonial1-t.jpg,
            images/tablet/testimonial1-t@2x.jpg 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <source
          srcset="
            images/mobile/testimonial1-m.jpg,
            images/mobile/testimonial1-m@2x.jpg 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <img
          class="review__image"
          src="./images/mobile/testimonial1-m.jpg"
          alt="Gallery"
        />
      </picture>
      <div>
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit <br />
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
          risus.
        </p>
      </div>
      <span class="reviews__points"></span>
      <span class="reviews__points"></span>
      <span class="reviews__points"></span>
      <p class="reviews__name">Emily, Los Angeles</p>
    </div>
    <div class="swiper-slide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="
            images/desktop/testimonial2-d.png,
            images/desktop/testimonial2-d@2x.png 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <source
          media="(min-width:768px)"
          srcset="
            images/tablet/testimonial2-t.png,
            images/tablet/testimonial2-t@2x.png 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <source
          srcset="
            images/mobile/testimonial2-m.png,
            images/mobile/testimonial2-m@2x.png 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <img
          class="review__image"
          src="./images/mobile/testimonial2-m.png"
          alt="Gallery"
        />
      </picture>
      <div>
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit <br />
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
          risus.
        </p>
      </div>
      <span class="reviews__points"></span>
      <span class="reviews__points"></span>
      <span class="reviews__points"></span>
      <p class="reviews__name">Emily, Los Angeles</p>
    </div>
    <div class="swiper-slide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="
            images/desktop/testimonial3-d.png,
            images/desktop/testimonial3-d@2x.png 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <source
          media="(min-width:768px)"
          srcset="
            images/tablet/testimonial3-t.png,
            images/tablet/testimonial3-t@2x.png 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <source
          srcset="
            images/mobile/testimonial3-m.png,
            images/mobile/testimonial3-m@2x.png 2x
          "
          sizes="(min-width: 1200px 270px),
        (min-width: 768px 354px),
        (max-width: 480px 450px)"
          alt="Gallery"
        />
        <img
          class="review__image"
          src="./images/mobile/testimonial3-m.png"
          alt="Reviews"
        />
      </picture>
      <div>
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit <br />
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
          risus.
        </p>
      </div>
      <span class="reviews__points"></span>
      <span class="reviews__points"></span>
      <span class="reviews__points"></span>
      <p class="reviews__name">Emily, Los Angeles</p>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
