<section class="customer-rev">
    <h2 hidden class="customer-rev__title">Customer reviews</h2>
    <div class="customer-rev__container">

        <img class="customer-rev__photo" srcset="
            ./images/emily-d.jpg    1x,
            ./images/emily-d@2x.jpg 2x
            " src="./images/emily-d.jpg" alt="customer photo" width="85" height="85" />

        <div class="customer-rev__rev">
            <div class="customer-rev__rev-container">
                <article class="customer-rev__review">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam
                    nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </article>
            </div>

            <div class="customer-rev__name-container">
                <p class="customer-rev__name">Emily, Los Angeles</p>
            </div>
        </div>
    </div>
</section>