
<container class="customer-reviews">
    <img class="" href="./images/testimonials1.jpg">
    <div class="customer-box">
    <p class="customer-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
        accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div class="client-slider">
            <span class="personal-data">Emily, Los Angeles</span>
            <div class=""></div>
        </div>
</container>
