<section class="customers-section">
    <h2 class="visually-hidden">Customers review</h2>
    <div class="customers container">
        <div id="testim" class="customers-slide">
            <button id="left-arrow" class="slider-button left">
                <svg class="slider-arrow" width=25px height=25px>
                    <use href="./images/sprite2.svg#arrow-to-left"></use>
                </svg>
            </button>
            <button id="right-arrow" class="slider-button right">
                <svg class="slider-arrow" width=25px height=25px>
                    <use href="./images/sprite2.svg#arrow-to-right"></use>
                </svg>
            </button>
            <ul id="testim-dots" class="slider-dots">
                <li class="slider-dot slide-active"></li>
                <li class="slider-dot"></li>
                <li class="slider-dot"></li>
            </ul>
            <div id="testim-content" class="slide-wrap">
                <div class="slide-active">
                    <img class="customers-photo" src="./images/customers-section/testimonials1-1-mobile.jpg"
                        alt="Молодая смеющаяся брюнетка">
                    <p class="customers-label">Emily, Los Angeles</p>
                    <div class="customers-review">
                        <div class="review-thumb">
                            <p class="customers-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                                quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="customers-photo" src="./images/customers-section/testimonials2.jpg" alt="Молодая смеющаяся блондинка в очках с черной оправой">
                    <p class="customers-label">Anna, New York</p>
                    <div class="customers-review">
                        <div class="review-thumb">
                            <p class="customers-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                                quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="customers-photo" src="./images/customers-section/testimonials3.jpg" alt="Молодая смеющаяся мулатка в ярко-желтой кофте">
                    <p class="customers-label">Kate, Washington</p>
                    <div class="customers-review">
                        <div class="review-thumb">
                            <p class="customers-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                                quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</section>

<!-- <script src="https://use.fontawesome.com/1744f3f671.js"></script> -->
<!-- <script src="./slider.js"></script> -->