<!DOCTYPE html>

<section>
  <h2 class="visually-hidden">Customer Reviews</h2>

  <ul class="slider">
    <li>
      <div class="">
        <picture>
          <source srcset="" />

          <img src="" alt="" />
        </picture>
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p>Emily, Los Angeles</p>
      </div>
    </li>

    <!-- <li>
      <div class="ooo">
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p>Emily, Los Angeles</p>
      </div>
    </li>

    <li>
      <div class="ooo">
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p>Emily, Los Angeles</p>
      </div>
    </li> -->
  </ul>
</section>
