<section class="customer">
    <div class="container">
        <h2 class="customer_title visually-hidden">Customer reviews</h2>
        <ul class="customer_list">
            <li class="customer_item">
                <div class="customer_container">
        <img src="./images/reviews/reviews-1_sm.png" alt="customer" class="customer_img" width="85" height="85"></img>
        <h3 class="customer_title">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</h3>
        <p class="customer_text">Emily, Los Angeles</p>  
    </div>
</li>
            <li class="customer_item visually-hidden">
                <div class="customer_container">
        <img src="./images/reviews/reviews-2_lg.png" alt="customer" class="customer_img" width="85" height="85"></img>
        <h3 class="customer_title">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</h3>
        <p class="customer_text">Emily, Los Angeles</p>  
    </div>
</li>
            <li class="customer_item visually-hidden">
                <div class="customer_container">
        <img src="./images/reviews/reviews-3_lg.png" alt="customer" class="customer_img" width="85" height="85"></img>
        <h3 class="customer_title">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</h3>
        <p class="customer_text">Emily, Los Angeles</p>  
    </div>
</li>
        </ul>
    </div>       
</section>