<section class="customers-section">
    <div class="customers container">
        <div class="customers-slide">
            <picture>
                <source media="(max-width: 479px)" srcset="./images/customers-section/testimonials1-1-mobile.jpg 1x,
                                                    ./images/customers-section/testimonials1-1-mobile@2x.jpg 2x,
                                                    ./images/customers-section/testimonials1-1-mobile@3x.jpg 3x">
                <source media="(min-width: 768px)" srcset="./images/customers-section/testimonials1-1-desktop.jpg 1x,
                                                    ./images/customers-section/testimonials1-1-desktop@2x.jpg 2x,
                                                    ./images/customers-section/testimonials1-1-desktop@3x.jpg 3x">
                <source media="(min-width: 480px)" srcset="./images/customers-section/testimonials1-1-tablet.jpg 1x,
                                                    ./images/customers-section/testimonials1-1-tablet@2x.jpg 2x,
                                                    ./images/customers-section/testimonials1-1-tablet@3x.jpg 3x">
                <img class="customers-photo" src="./images/customers-section/testimonials1-1-mobile.jpg"
                    alt="Молодая смеющаяся брюнетка">
            </picture>
            <div class="customers-review">
                <div class="review-thumb">
                    <p class="customers-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
            </div>
            <p class="customers-label">Emily, Los Angeles</p>
        </div>
    </div>
</section>