<section class="reviews">
  <div class="container-reviews">
    <h2 class="visually-hidden">Customer Reviews</h2>

    <div class="slider">
      <div class="ooo">
        <picture>
          <source
            srcset="
              ./images/gallery/Electric-girl/testimonials1-1.png    1x,
              ./images/gallery/Electric-girl/testimonials1-1@2x.png 2x
            "
            media="(min-width:320px)"
          />

          <img
            class="reviews-photo"
            src="./images/gallery/Electric-girl/testimonials1-1.png"
            alt=""
          />
        </picture>

        <div class="revies-thumb">
          <svg class="revies-commas">
            <use href="./images/svg__primary/comma.svg#icon-untitled"></use>
          </svg>
          <div class="reviews-text">
            <p class="reviews-possition">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="reviews-bands"></div>
          </div>
        </div>

        <ul class="reviews-ellipsis">
          <li class="reviews-ellipsis-icon"></li>
          <li class="reviews-ellipsis-icon"></li>
          <li class="reviews-ellipsis-icon"></li>
        </ul>

        <div class="reviews-elements">
          <p class="reviews-name">Emily, Los Angeles</p>
        </div>
      </div>

      <div class="">
        <picture>
          <source
            srcset="
              ./images/gallery/Black-woman/testimonials1-2.png    1x,
              ./images/gallery/Black-woman/testimonials1-2@2x.png 2x
            "
            media="(min-width:320px)"
          />

          <img
            class="reviews-photo"
            src="./images/gallery/Black-woman/testimonials1-2.png"
            alt=""
          />
        </picture>

        <div class="revies-thumb">
          <svg class="revies-commas">
            <use href="./images/svg__primary/comma.svg#icon-untitled"></use>
          </svg>
          <div class="reviews-text">
            <p class="reviews-possition">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="reviews-bands"></div>
          </div>
        </div>

        <ul class="reviews-ellipsis">
          <li class="reviews-ellipsis-icon"></li>
          <li class="reviews-ellipsis-icon"></li>
          <li class="reviews-ellipsis-icon"></li>
        </ul>

        <div class="reviews-elements">
          <p class="reviews-name">Sara, Los Angeles</p>
        </div>
      </div>

      <div class="">
        <picture>
          <source
            srcset="
              ./images/gallery/White-woman/testimonials1-1.png    1x,
              ./images/gallery/White-woman/testimonials1-1@2x.png 2x
            "
            media="(min-width:320px)"
          />

          <img
            class="reviews-photo"
            src="./images/gallery/White-woman/testimonials1-1.png"
            alt=""
          />
        </picture>

        <div class="revies-thumb">
          <svg class="revies-commas">
            <use href="./images/svg__primary/comma.svg#icon-untitled"></use>
          </svg>
          <div class="reviews-text">
            <p class="reviews-possition">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="reviews-bands"></div>
          </div>
        </div>

        <ul class="reviews-ellipsis">
          <li class="reviews-ellipsis-icon"></li>
          <li class="reviews-ellipsis-icon"></li>
          <li class="reviews-ellipsis-icon"></li>
        </ul>

        <div class="reviews-elements">
          <p class="reviews-name">Megan, Los Angeles</p>
        </div>
      </div>
    </div>
  </div>
</section>
