<container class="customer-reviews">
    <img class="customer-img" src="./images/testimonials1.jpg" width="85px" height="85px">
    <div class="customer-box">
        <p class="customer-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>
    <ul class="customer-item-dots">
        <li class="customer-dots"></li>
        <li class="customer-dots"></li>
        <li class="customer-dots"></li>
    </ul>
    <span class="personal-data">Emily, Los Angeles</span>
</container>