<section class="description how-its-made">
  <div class="container">
    <h3 class="subtitle">tradition and love</h3>
    <h2 class="title">how it’s made?</h2>
    <div class="cow-container">
      <img width="516" height="516" src="#" alt="cow" />
      <div class="cow-text-content">
        <p>
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p>
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <span>Aliquam erat volutpat. Aenean accumsan.</span>
        </p>
        <button type="button" class="button">Read more</button>
      </div>
      <ul class="fact-list">
        <li class="fact">
          <img width="33" height="55" src="#" alt="icon1" />
          <p>721</p>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="fact">
          <img width="30" height="50" src="#" alt="icon2" />
          <p>16kg</p>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="fact">
          <img width="44" height="50" src="#" alt="icon3" />
          <p>84</p>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="img-set-wrapper">
    <img width="1280" height="430" src="#" alt="img-set" />
  </div>
</section>
