<section class="container">
  <h2 class="hidden-title">Description</h2>
  <ul class="description-list">
    <li class="item">
      <svg class="description-svg">
        <use href="./images/sprite.svg#girl-description"></use>
      </svg>
      <p class="description-text">Адаптированная авторская программа ВНО</p>
    </li>
    <li class="item">
      <svg class="description-svg">
        <use href="./images/sprite.svg#mobile-description"></use>
      </svg>
      <p class="description-text">Современные методики обучения</p>
    </li>
    <li class="item">
      <svg class="description-svg">
        <use href="./images/sprite.svg#ambrella-description"></use>
      </svg>
      <p class="description-text">Финансовая гарантия результата</p>
    </li>
  </ul>
</section>
