<section class="description container">
  <div class="description__picture">
    <picture>
      <source
        srcset="
          ../images/description270.webp    270w,
          ../images/description270@2x.webp 540w,
          ../images/description270@3x.webp 810w
        "
        type="image/webp"
        media="(min-width: 1200px)"
        sizes="(min-width: 1200px) 270px, 25vw"
      />
      <source
        srcset="
          ../images/descriptiontablet.webp    330w,
          ../images/descriptiontablet@2x.webp 660w,
          ../images/descriptiontablet@3x.webp 990w
        "
        type="image/webp"
        media="(min-width: 768px)"
        sizes="(min-width: 768px) 330px, 45vw"
      />

      <img
        class="description__foto1"
        src="../images/description270.jpg"
        alt="стрижка бороды"
      />
    </picture>
    <picture>
      <source
        srcset="
          ../images/description2_270.webp    270w,
          ../images/description2_270@2x.webp 540w,
          ../images/description2_270@3x.webp 810w
        "
        type="image/webp"
        media="(min-width: 1200px)"
        sizes="(min-width: 1200px) 270px, 25vw" />
      <source
        srcset="
          ../images/description2tablet.webp    330w,
          ../images/description2tablet@2x.webp 660w,
          ../images/description2tablet@3x.webp 990w
        "
        type="image/webp"
        media="(min-width: 768px)"
        sizes="(min-width: 768px) 330px, 45vw" />
      <img
        description__foto2
        src="../images/description2.jpg"
        alt="мужская стрижка"
    /></picture>
  </div>
  <div class="description__item">
    <h3 class="description__subtitle">О НАС</h3>
    <h2 class="description__title">Лучший Барбершоп твоего города</h2>
    <p class="description__desc">
      Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
      нам.
    </p>
    <p class="description__text">
      Мы команда, которая никогда не останавливается на достигнутом и жаждет
      перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
      сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
      волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
      приходит!
    </p>
    <button class="description__button" type="button">онлайн-запись</button>
  </div>
</section>
