<section class="edge-container edge-section">
  <div class="edge-content">
    <div class="stripe-us">
      <svg class="icon-stripe-us" width="60" height="1">
        <use href="./images/svg/sprite.svg#icon-stripe"></use>
      </svg>
      <p class="comment">
        СТАРАЯ ТРАДИЦИОННАЯ ШКОЛА
      </p>
    </div>
    <h1 class="edge-title">
      Почему приходят <br />
      именно к нам?
    </h1>
    <p class="edge-text">
      О нас говорят только хорошее. Но лучше <br />
      1 раз увидеть и прочувствовать, чем 10 раз прочитать.
    </p>
  </div>

  <ul class="edge-list">
    <li class="edge-item first-edge-item">
      <span class="edge-item-number">600</span
      ><span class="plus-element">+</span><br />
      <span class="edge-item-text">Довольных клиентов <br />в день</span>
    </li>
    <li class="edge-item second-edge-item">
      <span class="edge-item-number">50</span><span class="plus-element">+</span
      ><br />
      <span class="edge-item-text">Наград за отличный <br />сервис</span>
    </li>
    <li class="edge-item third-edge-item">
      <span class="edge-item-number">20</span><span class="plus-element">+</span
      ><br />
      <span class="edge-item-text">Лучших мастеров <br />Киева</span>
    </li>
    <li class="edge-item fourth-edge-item">
      <span class="edge-item-number">100</span
      ><span class="plus-element">+</span><br />
      <span class="edge-item-text">Подарков постоянным <br />клиентам</span>
    </li>
  </ul>
</section>
