<section>
  <div class="container">
    <div class="subscription">
      <form class="clients-form" autocomplete="off">
        <h2>Онлайн-запись</h2>
        <label class="form-field">Имя*</label>
        <input class="form-input" type="text" />
        <label class="form-field">Телефон*</label>
        <input class="form-input" type="text" />
        <label class="form-field">сообщение</label>
        <input class="form-input" type="text" />
        <button>отправить</button>
      </form>
    </div>
    <div class="contacts">
      <h2>Контакты</h2>
      <address>
        <ul>
          <li><a href="">ул. Васильковая, 7А Киев, 08132</a></li>
          <li class="contacts-footer"><a href="">+38 044 111 11 11</a></li>
          <li class="contacts-footer"><a href="">barbershop@email.com</a></li>
        </ul>
      </address>
      <div class="working-hours">
        <p>время работы</p>
        <p>Ежедневно с 9:00 до 22:00</p>
      </div>
    </div>
  </div>
</section>
<footer class="page-footer">
  <div class="container">
    <span class="copyright"><svg></svg> Copyright 2020</span>
    <ul class="links">
      <li><a href="">Instagram</a></li>
      <li><a href="">Youtube</a></li>
    </ul>
  </div>
</footer>
