<article class="example">
  <h1>HTML-фрагменты</h1>

  <svg width="32" height="32">
    <use class="fb" href="./images/sprite.svg#telegram"></use>
  </svg>

  <svg width="26" height="26">
    <use class="ar" href="./images/sprite.svg#home"></use>
  </svg>


  <!-- <img src="./images/icon1.svg" alt="Иконка Facebook" width="60px"> -->
  <p>
    Плагин
    <a href="https://github.com/posthtml/posthtml-include" target="_blank" rel="noopener noreferrer">
      posthtml-include
    </a>
    позволяет добавлять в HTML-файлы страниц код из других HTML-файлов
    (фрагментов). Фрагменты хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов
    страниц, например <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с
    разметкой определённой части главной страницы. Это очень удобно при
    командной разработке на студенческих проектах, когда в одном HTML-файле
    пишет несколько человек сразу.
  </p>
  <!-- <button class="main-btn">Buy now</button>
<button class="hero-btns">Products</button> -->
  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code>
      &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt;
    </code>
  </p>
</article>