<article class="example">
  <h1>HTML-фрагменты</h1>

  <p>
    Плагин
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    позволяет добавлять в HTML-файлы страниц код из других HTML-файлов
    (фрагментов). Фрагменты хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов
    страниц, например <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с
    разметкой определённой части главной страницы. Это очень удобно при
    командной разработке на студенческих проектах, когда в одном HTML-файле
    пишет несколько человек сразу.
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code>
      &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt;
    </code>
  </p>
<svg class="icon-burger"width="" height=""><use href="./images/sprite.svg#icon-burger"></use></svg>
<svg class="icon-close" width="" height=""><use href="./images/sprite.svg#icon-close"></use></svg>
<svg class="icon-ellipsis" width="" height=""><use href="./images/sprite.svg#icon-ellipsis"></use></svg>
<svg class="icon-ellipsis-reviews" width="" height=""><use href="./images/sprite.svg#icon-ellipsis-reviews"></use></svg>

<svg class="icon-home" width="" height=""><use href="./images/sprite.svg#icon-home"></use></svg>
<svg class="icon-quotes" width="" height=""><use href="./images/sprite.svg#icon-quotes"></use></svg>

<svg class="icon-vector" width="" height=""><use href="./images/sprite.svg#icon-vector"></use></svg>
<svg class="icon-untitled" width="" height=""><use href="./images/sprite.svg#icon-untitled"></use></svg>
<svg class="icon-group-36" width="" height=""><use href="./images/sprite.svg#icon-group-36"></use></svg>



<svg class="icon-arrow-right" width="" height=""><use href="./images/sprite.svg#icon-arrow-right"></use></svg>
<svg class="icon-arrow-right2" width="" height=""><use href="./images/sprite.svg#icon-arrow-right2"></use></svg>
<svg class="icon-further" width="" height=""><use href="./images/sprite.svg#icon-further"></use></svg>

<svg class="icon-facebook" width="" height=""><use href="/images/sprite.svg#icon-facebook"></use></svg>
<svg class="icon-github" width="" height=""><use href="./images/sprite.svg#icon-github"></use></svg>
<svg class="icon-telegram" width="" height=""><use href="./images/sprite.svg#icon-telegram"></use></svg>
</article>
