<section class="examples section">
  <div class="container">
    <h2 class="visually-hidden">Примеры работ</h2>

    <p class="examples-description">
      На латинском языке “барба” означает “борода”
    </p>

    <ul class="examples-list">
      <li class="examples-list-item">
        <picture>
          <source
            srcset="
              ./images/examples/Example1_mob.jpg    1x,
              ./images/examples/Example1_mob@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/examples/Example1.jpg    1x,
              ./images/examples/Example1@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/examples/Example1_tab.jpg    1x,
              ./images/examples/Example1_tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="img"
            src="./images/examples/Example1_mob.jpg "
            alt="Пример1"
          />
        </picture>
      </li>
      <li class="examples-list-item">
        <picture>
          <source
            srcset="
              ./images/examples/Example2_mob.jpg    1x,
              ./images/examples/Example2_mob@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/examples/Example2.jpg    1x,
              ./images/examples/Example2@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/examples/Example2_tab.jpg    1x,
              ./images/examples/Example2_tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="img"
            src="./images/examples/Example2_mob.jpg "
            alt="Пример2"
          />
        </picture>
      </li>
      <li class="examples-list-item">
        <picture>
          <source
            srcset="
              ./images/examples/Example3_mob.jpg    1x,
              ./images/examples/Example3_mob@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/examples/Example3.jpg    1x,
              ./images/examples/Example3@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/examples/Example3_tab.jpg    1x,
              ./images/examples/Example3_tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="img"
            src="./images/examples/Example3_mob.jpg "
            alt="Пример3"
          />
        </picture>
      </li>
      <li class="examples-list-item">
        <picture>
          <source
            srcset="
              ./images/examples/Example4_mob.jpg    1x,
              ./images/examples/Example4_mob@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/examples/Example4.jpg    1x,
              ./images/examples/Example4@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/examples/Example4_tab.jpg    1x,
              ./images/examples/Example4_tab@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="img"
            src="./images/examples/Example4_mob.jpg"
            alt="Пример4"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
