<section class="section-experience">
  <div class="container container-experience">
    <h2 class="title-dark-theme">Педагогічний стаж</h2>
    <ul class="list list-experience">
      <li class="item item-experience">
        <h3 class="title-item-experience">1988 – 1989рр.</h3>
        <p class="description">учитель початкових класів Михайленківської малокомплектної школи, Охтирський район</p>
      </li>
      <li class="item item-experience">
        <h3 class="title-item-experience">1989 – 1993рр.</h3>
        <p class="description">учитель української мови і літератури загальноосвітньої школи №153, м. Харків (початкові класи)</p>
      </li>
      <li class="item item-experience">
        <h3 class="title-item-experience">1993 – 1997рр.</h3>
        <p class="description">учитель початкових класів загальноосвітньої школи №5, м. Охтирка</p>
      </li>
      <li class="item item-experience">
        <h3 class="title-item-experience">2002 – 2009рр.</h3>
        <p class="description">учитель географії Охтирської загальноосвітньої школи І – ІІ ступенів №6</p>
      </li>
      <li class="item item-experience">
        <h3 class="title-item-experience">2010р. – до тепер</h3>
        <p class="description">учитель географії та біології Жовтневого навчально – виховного комплексу: загальноосвітня школа – дошкільний навчальний
        заклад, Охтирський р-н, Сумська обл.</p>
      </li>
    </ul>
  </div>
</section>