<section class="facts section">
  <div class="container">
    <h2 class="titte-facts">
      На латинском языке “барба” означает<br class="br" />
      “борода”
    </h2>
    <ul class="photo-list">
      <li class="photos">
        <picture class="photo-facts">
          <source
            srcset="
              ./images/facts/rectangle-25-mob.webp    1x,
              ./images/facts/rectangle-25-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-25-mob.jpg    1x,
              ./images/facts/rectangle-25-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
            alt=""
          />

          <source
            srcset="
              ./images/facts/rectangle-25-tab.webp    1x,
              ./images/facts/rectangle-25-tab@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width:1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-25-tab.jpg    1x,
              ./images/facts/rectangle-25-tab@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width:1199px)"
            alt=""
          />
          <source
            srcset="
              ./images/facts/rectangle-25-desk.webp    1x,
              ./images/facts/rectangle-25-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-25-desk.jpg    1x,
              ./images/facts/rectangle-25-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            alt=""
          />
          <img src="./images/facts/rectangle-25-desk.jpg" alt="" />
        </picture>
      </li>
      <li class="photos">
        <picture class="photo-facts">
          <source
            srcset="
              ./images/facts/rectangle-26-mob.webp    1x,
              ./images/facts/rectangle-26-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-26-mob.jpg    1x,
              ./images/facts/rectangle-26-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
            alt=""
          />

          <source
            srcset="
              ./images/facts/rectangle-26-tab.webp    1x,
              ./images/facts/rectangle-26-tab@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width:1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-26-tab.jpg    1x,
              ./images/facts/rectangle-26-tab@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width:1199px)"
            alt=""
          />
          <source
            srcset="
              ./images/facts/rectangle-26-desk.webp    1x,
              ./images/facts/rectangle-26-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-26-desk.jpg    1x,
              ./images/facts/rectangle-26-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            alt=""
          />
          <img src="./images/facts/rectangle-26-desk.jpg" alt="" />
        </picture>
      </li>
      <li class="photos">
        <picture class="photo-facts">
          <source
            srcset="
              ./images/facts/rectangle-27-mob.webp    1x,
              ./images/facts/rectangle-27-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-27-mob.jpg    1x,
              ./images/facts/rectangle-27-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
            alt=""
          />

          <source
            srcset="
              ./images/facts/rectangle-27-tab.webp    1x,
              ./images/facts/rectangle-27-tab@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width:1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-27-tab.jpg    1x,
              ./images/facts/rectangle-27-tab@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width:1199px)"
            alt=""
          />
          <source
            srcset="
              ./images/facts/rectangle-27-desk.webp    1x,
              ./images/facts/rectangle-27-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-27-desk.jpg    1x,
              ./images/facts/rectangle-27-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            alt=""
          />
          <img src="./images/facts/rectangle-27-desk.jpg" alt="" />
        </picture>
      </li>

      <li class="photos">
        <picture class="photo-facts">
          <source
            srcset="
              ./images/facts/rectangle-28-mob.webp    1x,
              ./images/facts/rectangle-28-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-28-mob.jpg    1x,
              ./images/facts/rectangle-28-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
            alt=""
          />

          <source
            srcset="
              ./images/facts/rectangle-28-tab.webp    1x,
              ./images/facts/rectangle-28-tab@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width:1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-28-tab.jpg    1x,
              ./images/facts/rectangle-28-tab@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width:1199px)"
            alt=""
          />
          <source
            srcset="
              ./images/facts/rectangle-28-desk.webp 1x,
              ./images/facts/rectangle-28-desk.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/facts/rectangle-28-desk.jpg    1x,
              ./images/facts/rectangle-28-desk@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            alt=""
          />
          <img src="./images/facts/rectangle-28-desk.jpg" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
