<div class="container-achievement">
  <div class="info-achievement">
    <div class="mf">
      <div class="line"></div>
      <h4 class="title-achievement">старая традиционная школа</h4>
    </div>
    <h3 class="main-text-achievement">Почему приходят именно к нам?</h3>
    <p class="secondary-text-achievement">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
  </div>

  <ul class="main-box-achievement">
    <li class="box-achievement">
      <h3 class="box-title-achievement">600</h3>
      <p class="box-text-achievement">Довольных клиентов в день</p>
    </li>

    <li class="box-achievement">
      <h3 class="box-title-achievement">20</h3>
      <p class="box-text-achievement">Лучших мастеров Киева</p>
    </li>

    <li class="box-achievement">
      <h3 class="box-title-achievement">50</h3>
      <p class="box-text-achievement">Наград за отличный сервис</p>
    </li>

    <li class="box-achievement">
      <h3 class="box-title-achievement">100</h3>
      <p class="box-text-achievement">Подарков постоянным клиентам</p>
    </li>
  </ul>

  <!-- <ul class="main-box">
        <li class="box">
          <div class="price">
            <h3 class="box-title">600</h3>
            <svg class="icon">
              <use href="../images/symbol-defs.svg#icon-plus"></use>
            </svg>
          </div>
          <p class="box-text">Довольных клиентов в день</p>
        </li>

        <li class="box">
          <div class="price">
            <h3 class="box-title">20</h3>
            <svg class="icon">
              <use href="../images/symbol-defs.svg#icon-plus"></use>
            </svg>
          </div>
          <p class="box-text">Лучших мастеров Киева</p>
        </li>

        <li class="box">
          <div class="price">
            <h3 class="box-title">50</h3>
            <svg class="icon">
              <use href="../images/symbol-defs.svg#icon-plus"></use>
            </svg>
          </div>
          <p class="box-text">Наград за отличный сервис</p>
        </li>

        <li class="box">
          <div class="price">
            <h3 class="box-title">100</h3>
            <svg class="icon">
              <use href="../images/symbol-defs.svg#icon-plus"></use>
            </svg>
          </div>
          <p class="box-text">Подарков постоянным клиентам</p>
        </li>
      </ul> -->
</div>
