<section class="container-features section-features">
  <div class="content-box">
    <div class="subtitle-box">
      <h2 class="subtitle">старая традиционная школа</h2>
    </div>
    <h3 class="features-title">Почему приходят именно к нам?</h3>
    <p class="features-text">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
  </div>
  <ul class="features-box">
    <li class="item">
      <div class="box-item">
        <span class="number">600<sup class="plus">+</sup></span>
        <span class="box-text">Довольных клиентов в день</span>
      </div>
    </li>
    <li class="item">
      <div class="box-item">
        <span class="number">50<sup>+</sup></span>
        <span class="box-text">Наград за отличный сервис</span>
      </div>
    </li>
    <li class="item">
      <div class="box-item">
        <span class="number">20<sup>+</sup></span>
        <span class="box-text">Лучших мастеров Киева</span>
      </div>
    </li>
    <li class="item">
      <div class="box-item">
        <span class="number">100<sup>+</sup></span>
        <span class="box-text">Подарков постоянным клиентам</span>
      </div>
    </li>
  </ul>
</section>
