<section class="feature">
    <div class="container">
        <h1 class="visually-hidden">Особенности</h1>
            <ul class=”features__list”>
                <li>
                    <div class="features__item">
                        <svg class="features__svg">
                            <use href="./images/sprite.svg#icon-female_student_rect"></use>
                        </svg>
                        <p class="features__item_text">Адаптированная авторская программа ВНО</p>
                    </div>
                </li>
                <li>
                    <div class="features__item">
                        <svg class="features__svg">
                            <use href="./images/sprite.svg#icon-mobile_learning_rect"></use>
                        </svg>
                        <p class="features__item_text">Современные методики обучения</p>
                    </div>
                </li>
                <li>
                    <div class="features__item">
                        <svg class="features__svg">
                            <use href="./images/sprite.svg#icon-dollar_umbrella_rect"></use>
                        </svg>
                        <p class="features__item_text">Финансовая гарантия результата</p>
                    </div>
                </li>
            </ul>
    </div>
</section>
