<section class="section">
  <div class="container">
    <p class="section-subtitle">старая традиционная школа</p>

    <h2 class="section-title">Почему приходят именно к нам?</h2>

    <p>
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>

    <ul class="feature-list">
      <li class="featere-item">
        <span>600</span>
        <span>+</span>
        Довольных клиентов в день
      </li>

      <li class="featere-item">
        <span>50</span>
        <span>+</span>
        Наград за отличный сервис
      </li>

      <li class="featere-item">
        <span>20</span>
        <span>+</span>
        Лучших мастеров Киева
      </li>

      <li class="featere-item">
        <span>100</span>
        <span>+</span>
        Подарков постоянным клиентам
      </li>
    </ul>
  </div>
</section>
