<section class="features">



	<div class="container container-wrapper">
		<div class="features-box">
			<h2 class="features__title title">Почему нас выбирают</h2>
			<ul class="box-list">
				<li class="box-list-item">
					<h3 class="box-list-item__title">01</h3>
					<p class="box-list-item__text">Обучение в малых командах</p>
				</li>
				<li class="box-list-item">
					<h3 class="box-list-item__title">02</h3>
					<p class="box-list-item__text">Визуализированные конспекты</p>
				</li>
				<li class="box-list-item">
					<h3 class="box-list-item__title">03</h3>
					<p class="box-list-item__text">Каждое занятие имеет цель и конкретный результат</p>
				</li>
				<li class="box-list-item">
					<h3 class="box-list-item__title">04</h3>
					<p class="box-list-item__text">Ревльные результаты преподавателя</p>
				</li>
				<li class="box-list-item">
					<h3 class="box-list-item__title">05</h3>
					<p class="box-list-item__text">Прогамма курса соответствует требованиям МОН Украины</p>
				</li>
				<li class="box-list-item">
					<h3 class="box-list-item__title">06</h3>
					<p class="box-list-item__text">Набор команд по уровням знаний</p>
				</li>
			</ul>
		</div>
	</div>

</section>