<section class="features">
    <ul class="features-title">
        <li class="fetures-text-item"> 
            <svg width="60" height="60">
                <use xlink:href="./images/sprite.svg#icon-adaptiv-svg-desctop" />
            </svg>
            <p class="features-text subtitle">Адаптированная авторская
                программа ВНО
            </p>
        </li>
        <li class="fetures-text-item">
            <svg width="60" height="60">
                <use xlink:href="./images/sprite.svg#icon-new-metodik-svg-desctop" />
            </svg>
            <p class="features-text subtitle">Современные
                методики обучения
            </p>
        </li>
        <li class="fetures-text-item">
            <svg width="60" height="60">
                <use xlink:href="./images/sprite.svg#icon-finansovaya-svg-desctop" />
            </svg>
            <p class="features-text subtitle">Финансовая гарантия
                результата
            </p>
        </li>
    </ul>


</section>