<section class="section">
  <div class="container feature">
    <div>
      <p class="section-subtitle">старая традиционная школа</p>

      <h2 class="section-title feature">Почему приходят именно к нам?</h2>

      <p class="feature-text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>

    <ul class="feature-list">
      <li class="feature-item">
        <span class="number">600<sup class="plus">+</sup></span>

        <p class="text">Довольных клиентов в день</p>
      </li>

      <li class="feature-item">
        <span class="number">50<sup class="plus">+</sup></span>

        <p class="text">Наград за отличный сервис</p>
      </li>

      <li class="feature-item">
        <span class="number">20<sup class="plus">+</sup></span>

        <p class="text">Лучших мастеров Киева</p>
      </li>

      <li class="feature-item">
        <span class="number">100<sup class="plus">+</sup></span>

        <p class="text">Подарков постоянным клиентам</p>
      </li>
    </ul>
  </div>
</section>
