<section class="feedback" id="feedback">
  <div class="container">
    <h2 class="feedback-title">Feedback</h2>
    <ul class="feedback-slider list siema">
      <li class="feedback-item">
        <picture class="feedback-item-photo">
          <source
            srcset="
              ./images/feedback-photos/feedback-photo-1.webp    1x,
              ./images/feedback-photos/feedback-photo-1@2x.webp 2x,
              ./images/feedback-photos/feedback-photo-1@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="feedback-item-photo image"
            srcset="
              ./images/feedback-photos/feedback-photo-1.png    1x,
              ./images/feedback-photos/feedback-photo-1@2x.png 2x,
              ./images/feedback-photos/feedback-photo-1@3x.png 3x
            "
            src="./images/feedback-photos/feedback-photo-1.png"
            alt="Emily photo"
            width="85"
            height="85"
          />
        </picture>
        <div class="feedback-text-wrapper">
          <svg class="icon-quotes" width="54px" height="40px">
            <use href="./images/sprite.svg#icon-review-quotes"></use>
          </svg>
          <div class="feedback-text-underline">
            <p class="feedback-item-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="dots-decoration">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <p class="feedback-item-credits">Emily, Los Angeles</p>
      </li>
      <li class="feedback-item">
        <picture class="feedback-item-photo">
          <source
            srcset="
              ./images/feedback-photos/feedback-photo-2.webp    1x,
              ./images/feedback-photos/feedback-photo-2@2x.webp 2x,
              ./images/feedback-photos/feedback-photo-2@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="feedback-item-photo image"
            srcset="
              ./images/feedback-photos/feedback-photo-2.png    1x,
              ./images/feedback-photos/feedback-photo-2@2x.png 2x,
              ./images/feedback-photos/feedback-photo-2@3x.png 3x
            "
            src="./images/feedback-photos/feedback-photo-2.png"
            alt="Name photo"
            width="85"
            height="85"
          />
        </picture>
        <div class="feedback-text-wrapper">
          <svg class="icon-quotes" width="54px" height="40px">
            <use href="./images/sprite.svg#icon-review-quotes"></use>
          </svg>
          <div class="feedback-text-underline">
            <p class="feedback-item-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="dots-decoration">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <p class="feedback-item-credits">Name, City</p>
      </li>
      <li class="feedback-item">
        <picture class="feedback-item-photo">
          <source
            srcset="
              ./images/feedback-photos/feedback-photo-3.webp    1x,
              ./images/feedback-photos/feedback-photo-3@2x.webp 2x,
              ./images/feedback-photos/feedback-photo-3@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="feedback-item-photo image"
            srcset="
              ./images/feedback-photos/feedback-photo-3.png    1x,
              ./images/feedback-photos/feedback-photo-3@2x.png 2x,
              ./images/feedback-photos/feedback-photo-3@3x.png 3x
            "
            src="./images/feedback-photos/feedback-photo-3.png"
            alt="Name photo"
            width="85"
            height="85"
          />
        </picture>
        <div class="feedback-text-wrapper">
          <svg class="icon-quotes" width="54px" height="40px">
            <use href="./images/sprite.svg#icon-review-quotes"></use>
          </svg>
          <div class="feedback-text-underline">
            <p class="feedback-item-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <div class="dots-decoration">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <p class="feedback-item-credits">Name, City</p>
      </li>
    </ul>
    <div class="feedback-slider-buttons">
      <button class="feedback-slider-button current">
        <svg class="icon-home image" width="12.4px" height="11.84px">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
      </button>
      <button class="feedback-slider-button">
        <svg class="icon-home image" width="12.4px" height="11.84px">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
      </button>
      <button class="feedback-slider-button">
        <svg class="icon-home test image" width="12.4px" height="11.84px">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
