<section class="block__feedback">
  <div class="container">
    <h3 class="title">Остались вопросы?</h3>
    <div class="feed-back-form">
      <label for="name" class="feed-back-form__field">
        <input
          type="text"
          name="name"
          class="feed-back-form__input"
          autocomplete="off"
          placeholder=" "
          id="name"
        />
        <span class="feed-back-form__text">Имя</span>
        <svg class="feed-back-form__svg">
          <use href="./images/icons/sprite.svg#icon-person-black"></use>
        </svg>
      </label>

      <label for="tel" class="feed-back-form__field">
        <input
          type="tel"
          name="tel"
          class="feed-back-form__input"
          autocomplete="off"
          placeholder=" "
          id="tel"
        />
        <span class="feed-back-form__text">Телефон</span>
        <svg class="feed-back-form__svg">
          <use href="./images/icons/sprite.svg#icon-phone-black"></use>
        </svg>
      </label>

      <label for="feed-back-form-mail" class="feed-back-form__field">
        <input
          type="email"
          name="feed-back-form-mail"
          class="feed-back-form__input"
          placeholder=" "
          id="feed-back-form-mail"
        />
        <span class="feed-back-form__text">Почта</span>
        <svg class="feed-back-form__svg">
          <use href="./images/icons/sprite.svg#icon-email-black"></use>
        </svg>
      </label>

      <label for="comment" class="feed-back-form__field">
        <span class="feed-back-form__coment">Комментарий</span>
        <textarea
          name="comment"
          placeholder="Введите текст"
          id="comment"
          class="feed-back-form__textarea"
        ></textarea>
      </label>

      <label class="policy">
        <input class="checkbox" type="checkbox" name="policy" tabindex="-1" />
        <span class="policy__icon" tabindex="0"></span>
        <span class="policy__text">Соглашаюсь с рассылкой и принимаю</span>
        <a class="policy__agreement" href="#">&nbsp;Условия договора</a>
      </label>

      <button type="submit" class="button button--feed-back-form">Отправить</button>

      </div>
  </div>
</section>
