<!-- FEEDBACKS -->
<section class="feedbacks" id="feedbacks">
  <div class="container">
    <h2 class="title feedbacks-title">Отзывы выпускников</h2>

    <div class="feedbacks-card">

        <div class="feedbacks-photo">
          <picture>
            <source srcset="
          		./images/feedbacks/destop-feedbacks-student-1.png 1x, 
          		./images/feedbacks/destop-feedbacks-student-1@2x.png 2x" media="(min-width: 1400px)">
          
            <source srcset="
          		./images/feedbacks/tablet-feedbacks-student-1.png 1x, 
          		./images/feedbacks/tablet-feedbacks-student-1@2x.png 2x" media="(min-width: 768px)">
          
            <source srcset="
          		./images/feedbacks/mobile-feedbacks-student-1.png 1x, 
          		./images/feedbacks/mobile-feedbacks-student-1@2x.png 2x" media="(min-width: 480px)">
          
            <img src="./images/feedbacks/mobile-feedbacks-student-1.png" width="90" height="90" alt="Фото студентки"
              class="feedbacks-photo-img" />
          </picture>
        
          <a href="https://vk.com/" target="_blank">
            <svg class="feedbacks-photo-svg" width="30" height="30" aria-label="Иконка Вконтакте">
              <use href="./images/sprite.svg#icon-vkontakte"></use>
            </svg>
          </a>
        </div>
        
        <div class="feedbacks-student">
          <h3 class="title feedbacks-student-title">Тоня Кучеровская</h3>
          <p class="feedbacks-student-about">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="feedbacks-student-about-text text-dark">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій
            зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
            знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
            справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
            я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
            можу похизуватись тим, що я студен ...
            <a href="#" class="feedbacks-student-accent">Читать дальше</a>
          </p>
        </div>

    </div>

    <ul class="feedbacks-student-photos-list list">
      <li class="feedbacks-student-photos-item">
        <picture>
          <source srcset="
        		./images/feedbacks/destop-feedbacks-student-2.png 1x, 
        		./images/feedbacks/destop-feedbacks-student-2@2x.png 2x" media="(min-width: 1400px)">
        
          <source srcset="
        		./images/feedbacks/tablet-feedbacks-student-2.png 1x, 
        		./images/feedbacks/tablet-feedbacks-student-2@2x.png 2x" media="(min-width: 768px)">
        
          <source srcset="
        		./images/feedbacks/mobile-feedbacks-student-2.png 1x, 
        		./images/feedbacks/mobile-feedbacks-student-2@2x.png 2x" media="(min-width: 480px)">
        
          <img src="./images/feedbacks/mobile-feedbacks-student-2.png" width="54" height="54" alt="Фото студентки"
            class="feedbacks-photo-img" />
        </picture>
      </li>
      <li class="feedbacks-student-photos-item">
        <picture>
          <source srcset="
        		./images/feedbacks/destop-feedbacks-student-3.png 1x, 
        		./images/feedbacks/destop-feedbacks-student-3@2x.png 2x" media="(min-width: 1400px)">
        
          <source srcset="
        		./images/feedbacks/tablet-feedbacks-student-3.png 1x, 
        		./images/feedbacks/tablet-feedbacks-student-3@2x.png 2x" media="(min-width: 768px)">
        
          <source srcset="
        		./images/feedbacks/mobile-feedbacks-student-3.png 1x, 
        		./images/feedbacks/mobile-feedbacks-student-3@2x.png 2x" media="(min-width: 480px)">
        
          <img src="./images/feedbacks/mobile-feedbacks-student-3.png" width="54" height="54" alt="Фото студентки"
            class="feedbacks-photo-img" />
        </picture>
      </li>
      <li class="feedbacks-student-photos-item">
        <picture>
          <source srcset="
        		./images/feedbacks/destop-feedbacks-student-4.png 1x, 
        		./images/feedbacks/destop-feedbacks-student-4@2x.png 2x" media="(min-width: 1400px)">
        
          <source srcset="
        		./images/feedbacks/tablet-feedbacks-student-4.png 1x, 
        		./images/feedbacks/tablet-feedbacks-student-4@2x.png 2x" media="(min-width: 768px)">
        
          <source srcset="
        		./images/feedbacks/mobile-feedbacks-student-4.png 1x, 
        		./images/feedbacks/mobile-feedbacks-student-4@2x.png 2x" media="(min-width: 480px)">
        
          <img src="./images/feedbacks/mobile-feedbacks-student-4.png" width="54" height="54" alt="Фото студентки"
            class="feedbacks-photo-img" />
        </picture>
      </li>

      <li class="feedbacks-student-photos-item">
        <picture>
          <source srcset="
        		./images/feedbacks/destop-feedbacks-student-5.png 1x, 
        		./images/feedbacks/destop-feedbacks-student-5@2x.png 2x" media="(min-width: 1400px)">
        
          <source srcset="
        		./images/feedbacks/tablet-feedbacks-student-5.png 1x, 
        		./images/feedbacks/tablet-feedbacks-student-5@2x.png 2x" media="(min-width: 768px)">

          <img src="./images/feedbacks/tablet-feedbacks-student-5.png" width="54" height="54" alt="Фото студентки"
            class="feedbacks-photo-img" />
        </picture>
      </li>
      <li class="feedbacks-student-photos-item">
        <picture>
          <source srcset="
        		./images/feedbacks/destop-feedbacks-student-6.png 1x, 
        		./images/feedbacks/destop-feedbacks-student-6@2x.png 2x" media="(min-width: 1400px)">
        
          <source srcset="
        		./images/feedbacks/tablet-feedbacks-student-6.png 1x, 
        		./images/feedbacks/tablet-feedbacks-student-6@2x.png 2x" media="(min-width: 768px)">
        
          <img src="./images/feedbacks/tablet-feedbacks-student-6.png" width="54" height="54" alt="Фото студентки"
            class="feedbacks-photo-img" />
        </picture>
      </li>
      <li class="feedbacks-student-photos-item">
        <picture>
          <source srcset="
        		./images/feedbacks/destop-feedbacks-student-7.png 1x, 
        		./images/feedbacks/destop-feedbacks-student-7@2x.png 2x" media="(min-width: 1400px)">
        
          <source srcset="
        		./images/feedbacks/tablet-feedbacks-student-7.png 1x, 
        		./images/feedbacks/tablet-feedbacks-student-7@2x.png 2x" media="(min-width: 768px)">
        
          <img src="./images/feedbacks/tablet-feedbacks-student-7.png" width="54" height="54" alt="Фото студентки"
            class="feedbacks-photo-img" />
        </picture>
      </li>
      <li class="feedbacks-student-photos-item">
        <picture>
          <source srcset="
        		./images/feedbacks/destop-feedbacks-student-8.png 1x, 
        		./images/feedbacks/destop-feedbacks-student-8@2x.png 2x" media="(min-width: 1400px)">
        
          <source srcset="
        		./images/feedbacks/tablet-feedbacks-student-8.png 1x, 
        		./images/feedbacks/tablet-feedbacks-student-8@2x.png 2x" media="(min-width: 768px)">
        
          <img src="./images/feedbacks/tablet-feedbacks-student-8.png" width="54" height="54" alt="Фото студентки"
            class="feedbacks-photo-img" />
        </picture>
      </li>

    </ul>
  </div>
</section>