<!-- FEEDBACKS -->
<section class="feedbacks">
    
    <div class="container">
        <h2 class="feedbacks-title">Отзывы выпускников</h2>

        <div class="feedbacks-photo">
            <img src="../images/feedbacks/student_1.jpg" width="***" height="***" alt="Фото студентки" class="feedbacks-photo-img">
            
            <svg class="feedbacks-photo-svg">
                <use href="../images/svg/sprite.svg#***"></use>
            </svg>
        </div>

        <div class="feedbacks-student">
            <h3 class="feedbacks-student-title">Тоня Кучеровская</h3>
            <p class="feedbacks-student-about">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
            <p class="feedbacks-student-about-text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж
            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ... <a href="#" class="feedbacks-student-accent">Читать дальше</a></p>
        </div>

        <ul class="feedbacks-student-photos-list">
            <li class="feedbacks-student-photos-item">
                <img src="../images/feedbacks/student_2.jpg" width="***" height="***" alt="Фото студентки" class="feedbacks-student-photos-img">
            </li>
            <li class="feedbacks-student-photos-item">
                <img src="../images/feedbacks/student_3.jpg" width="***" height="***" alt="Фото студентки" class="feedbacks-student-photos-img">
            </li>
            <li class="feedbacks-student-photos-item">
                <img src="../images/feedbacks/student_4.jpg" width="***" height="***" alt="Фото студентки" class="feedbacks-student-photos-img">
            </li>
            <li class="feedbacks-student-photos-item">
                <img src="../images/feedbacks/student_5.jpg" width="***" height="***" alt="Фото студентки" class="feedbacks-student-photos-img">
            </li>
            <li class="feedbacks-student-photos-item">
                <img src="../images/feedbacks/student_6.jpg" width="***" height="***" alt="Фото студентки" class="feedbacks-student-photos-img">
            </li>
            <li class="feedbacks-student-photos-item">
                <img src="../images/feedbacks/student_7.jpg" width="***" height="***" alt="Фото студентки" class="feedbacks-student-photos-img">
            </li>
            <li class="feedbacks-student-photos-item">
                <img src="../images/feedbacks/student_8.jpg" width="***" height="***" alt="Фото студентки" class="feedbacks-student-photos-img">
            </li>
        </ul>

    </div>
</section>
