<!-- Section feedback -->
<section class="section feedback">
    <!-- <h2 class="section__feedback-title">Feedback</h2> -->
    <div class="container">
        <img src="./images/feedback/feedback-1.jpg" alt="" width="85" height="85">
        <p class="feedback__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <button type="button" class="feedback__more" lang="en">submit</button>
        <h3 class="feedback__address">Emily, Los Angeles</h3>
        <ul class="feedback__list">
            <li class="feedback__item">
                <a href="" class="feedback__link"></a>
            </li>
            <li class="feedback__item">
                <a href="" class="feedback__link"></a>
            </li>
            <li class="feedback__item">
                <a href="" class="feedback__link"></a>
            </li>
        </ul>
    </div>
</section>