<section class="feedback" id="collage">
  <h1 class="hidden">Feedback</h1>
  <div class="container feedback-box">
    <div class="slider">
      <div class="slider__item">
        <picture class="feedback__picture">
          <source
            srcset="
              ./images/desktop/person1.png    1x,
              ./images/desktop/person1@2x.png 2x
            "
          />
          <img src="./images/desktop/person1.png" alt="Emily Los Angeles" />
        </picture>

        <div class="feedback__box-comments">
          <svg class="icon-skavichki" width="54px" height="40px">
            <use href="./images/sprite.svg#skavichki"></use>
          </svg>
          <p class="feedback__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="gradient"></div>
        </div>
        <div class="feedback__box-client">
          <svg class="icon-red-dots" width="32px" height="4px">
            <use href="./images/sprite.svg#red-dots"></use>
          </svg>
          <h2 class="feedback__name">Emily, Los Angeles</h2>
          <!-- <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#home"></use>
          </svg>
          <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#gray-circle"></use>
          </svg>
          <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#gray-circle"></use>
          </svg> -->
        </div>
      </div>

      <div class="slider__item">
        <picture class="feedback__picture">
          <source
            srcset="
              ./images/desktop/person2.png    1x,
              ./images/desktop/person2@2x.png 2x
            "
          />
          <img src="./images/desktop/person2.png" alt="Emily Los Angeles" />
        </picture>

        <div class="feedback__box-comments">
          <svg class="icon-skavichki" width="54px" height="40px">
            <use href="./images/sprite.svg#skavichki"></use>
          </svg>
          <p class="feedback__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="gradient"></div>
        </div>
        <div class="feedback__box-client">
          <svg class="icon-red-dots" width="32px" height="4px">
            <use href="./images/sprite.svg#red-dots"></use>
          </svg>
          <h2 class="feedback__name">Emily, Los Angeles</h2>
          <!-- <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#home"></use>
          </svg>
          <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#gray-circle"></use>
          </svg>
          <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#gray-circle"></use>
          </svg> -->
        </div>
      </div>

      <div class="slider__item">
        <picture class="feedback__picture">
          <source
            srcset="
              ./images/desktop/person3.png    1x,
              ./images/desktop/person3@2x.png 2x
            "
          />
          <img src="./images/desktop/person3.png" alt="Emily Los Angeles" />
        </picture>

        <div class="feedback__box-comments">
          <svg class="icon-skavichki" width="54px" height="40px">
            <use href="./images/sprite.svg#skavichki"></use>
          </svg>
          <p class="feedback__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="gradient"></div>
        </div>
        <div class="feedback__box-client">
          <svg class="icon-red-dots" width="32px" height="4px">
            <use href="./images/sprite.svg#red-dots"></use>
          </svg>
          <h2 class="feedback__name">Emily, Los Angeles</h2>
          <!-- <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#home"></use>
          </svg>
          <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#gray-circle"></use>
          </svg>
          <svg class="icon-shome" width="12px" height="12px">
            <use href="./images/sprite.svg#gray-circle"></use>
          </svg> -->
        </div>
      </div>
    </div>
  </div>
</section>
