<!-- Section filials -->
<section class="section__filials" id="contact">
    <div class="container">
        <div class="position__filials">
            <div class="filials">
                <div class="filials__wrap wow fadeInUp" data-wow-delay="0.4s">
                    <p class="filials__box">cafe</p>
                    <div class="filials__information-main">
                        <h3 class="filials__city">Chicago</h3>
                        <p class="filials__text-part">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class=filials__information-schedual>
                        <div class="filials__schedual morning">
                            <p class="filials__day">Monday - Friday</p>
                            <p class="filials__hour"><time datetime="06:00">06:00 AM - </time><time datetime="10:00">10:00 PM</time></p>
                        </div>
                        <div class="filials__schedual">
                            <p class="filials__day">Saturday - Sunday</p>
                            <p class="filials__hour"><time datetime="08:00">08:00 AM - </time><time datetime="16:00">10:00 PM</time></p>
                        </div>
                    </div>
                    <div class="filials__information-contact">
                        <p class="filials__phone">+61(0) 383 766 284</p>
                        <p class="filials__email">noreply@envato.com</p>
                    </div>
                </div>
        
                <div class="filials__wrap wow fadeInUp" data-wow-delay="0.7s">
                    <p class="filials__box green-title">foodtruck</p>
                    <div class="filials__information-main">
                        <h3 class="filials__city">Los Angeles</h3>
                        <p class="filials__text-part">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class=filials__information-schedual>
                        <div class="filials__schedual morning">
                            <p class="filials__day">Monday - Friday</p>
                            <p class="filials__hour"><time datetime="06:00">06:00 AM - </time><time datetime="10:00">10:00 PM</time></p>
                        </div>
                        <div class="filials__schedual">
                            <p class="filials__day">Saturday - Sunday</p>
                            <p class="filials__hour"><time datetime="08:00">08:00 AM - </time><time datetime="16:00">10:00 PM</time></p>
                        </div>
                    </div>
                    <div class="filials__information-contact">
                        <p class="filials__phone">+61(0) 383 766 284</p>
                        <p class="filials__email">noreply@envato.com</p>
                    </div>
                </div>
        
                <div class="filials__wrap wow fadeInUp" data-wow-delay="0.9s">
                    <p class="filials__box">cafe</p>
                    <div class="filials__information-main">
                        <h3 class="filials__city">New York</h3>
                        <p class="filials__text-part">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class=filials__information-schedual>
                        <div class="filials__schedual morning">
                            <p class="filials__day">Monday - Friday</p>
                            <p class="filials__hour"><time datetime="06:00">06:00 AM - </time><time datetime="10:00">10:00 PM</time></p>
                        </div>
                        <div class="filials__schedual">
                            <p class="filials__day">Saturday - Sunday</p>
                            <p class="filials__hour"><time datetime="08:00">08:00 AM - </time><time datetime="16:00">10:00 PM</time></p>
                        </div>
                    </div>
                    <div class="filials__information-contact">
                        <p class="filials__phone">+61(0) 383 766 284</p>
                        <p class="filials__email">noreply@envato.com</p>
                    </div>
                </div>
            </div>
    
            <div class="filials__link">
                <ul class="filials__list-link">
                    <li class="filials__location">
                        <a class="filials__link-location" href="#">Our Locations</a>
                        <svg class="filials__icon">
                            <use href="./images/sprite.svg#icon-arow-white">
                            </use>
                        </svg>
                    </li>
                    <li class="filials__franchise">
                        <a class="filials__link-franchise" href="#">Franchise</a>
                        <svg class="filials__icon">
                            <use href="./images/sprite.svg#arow">
                            </use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

