<!-- Section filials -->
<section class="section__filials">
    <div class="container">
        <div class="filials__wrap">
            <h4 class="filials__title">cafe</h4>
            <p class="filials__city">Chicago</p>
            <p class="filials__text-part">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="filials__list">
                <li class="filials__iteam-day">Monday - Friday</li>
                <li class="filials__iteam-hours"><time datetime="06:00">06:00 AM - </time><time datetime="10:00">10:00 PM</time></li>                
                <li class="filials__iteam-day">Saturday - Sunday</li>
                <li class="filials__iteam-hours"><time datetime="08:00">08:00 AM - </time><time datetime="16:00">10:00 PM</time></li>
                <li class="filials__iteam-phone">+61(0) 383 766 284</li>
                <li class="filials__iteam-email">noreply@envato.com</li>
            </ul>
        </div>

        <div class="filials__wrap">
            <h4 class="filials__title">foodtruck</h4>
            <p class="filials__city">Los Angeles</p>
            <p class="filials__text-part">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="filials__list">
                <li class="filials__iteam-day">Monday - Friday</li>
                <li class="filials__iteam-hours"><time datetime="06:00">06:00 AM - </time><time datetime="10:00">10:00 PM</time></li>                
                <li class="filials__iteam-day">Saturday - Sunday</li>
                <li class="filials__iteam-hours"><time datetime="08:00">08:00 AM - </time><time datetime="16:00">10:00 PM</time></li>
                <li class="filials__iteam-phone">+61(0) 383 766 284</li>
                <li class="filials__iteam-email">noreply@envato.com</li>
            </ul>
        </div>

        <div class="filials__wrap">
            <h4 class="filials__title">cafe</h4>
            <p class="filials__city">New York</p>
            <p class="filials__text-part">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="filials__list">
                <li class="filials__iteam-day">Monday - Friday</li>
                <li class="filials__iteam-hours"><time datetime="06:00">06:00 AM - </time><time datetime="10:00">10:00 PM</time></li>                
                <li class="filials__iteam-day">Saturday - Sunday</li>
                <li class="filials__iteam-hours"><time datetime="08:00">08:00 AM - </time><time datetime="16:00">10:00 PM</time></li>
                <li class="filials__iteam-phone">+61(0) 383 766 284</li>
                <li class="filials__iteam-email">noreply@envato.com</li>
            </ul>
        </div>
    </div>
    <ul class="filials__list-link">
        <li class="filials__link-item">
            <a classs="filials__link-location" href="#" name="Locations">
            </a>Locations
        </li>
        <li class="filials__link-item">
            <a classs="filials__link-franchise" href="#" name="Franchise">
            </a>Franchise
        </li>
    </ul>
</section>

