<section class="five-days-section">
  <h1 class="five-days-section__title">Kyiv, UA</h1>
  <div class="cards">
    <div class="days-cards">
      <div class="card">
        <h3 class="card__name">Sunday</h3>
        <h2 class="card__date">09 Feb</h2>
        <svg width="35" height="35" class="card__icon">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <ul class="temperatures">
          <li class="temperatures__item">
            <span class="temperatures__label">min</span>
            -2°
          </li>
          <li class="temperatures__item">
            <span class="temperatures__label">max</span>
            1°
          </li>
        </ul>
        <button class="card__button">more info</button>
      </div>
      <div class="card">
        <h3 class="card__name">Sunday</h3>
        <h2 class="card__date">09 Feb</h2>
        <svg width="35" height="35" class="card__icon">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <ul class="temperatures">
          <li class="temperatures__item">
            <span class="temperatures__label">min</span>
            -2°
          </li>
          <li class="temperatures__item">
            <span class="temperatures__label">max</span>
            1°
          </li>
        </ul>
        <button class="card__button">more info</button>
      </div>
      <div class="card">
        <h3 class="card__name">Sunday</h3>
        <h2 class="card__date">09 Feb</h2>
        <svg width="35" height="35" class="card__icon">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <ul class="temperatures">
          <li class="temperatures__item">
            <span class="temperatures__label">min</span>
            -2°
          </li>
          <li class="temperatures__item">
            <span class="temperatures__label">max</span>
            1°
          </li>
        </ul>
        <button class="card__button">more info</button>
      </div>
      <div class="card">
        <h3 class="card__name">Sunday</h3>
        <h2 class="card__date">09 Feb</h2>
        <svg width="35" height="35" class="card__icon">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <ul class="temperatures">
          <li class="temperatures__item">
            <span class="temperatures__label">min</span>
            -2°
          </li>
          <li class="temperatures__item">
            <span class="temperatures__label">max</span>
            1°
          </li>
        </ul>
        <button class="card__button">more info</button>
      </div>
      <div class="card">
        <h3 class="card__name">Sunday</h3>
        <h2 class="card__date">12 Feb</h2>
        <svg width="35" height="35" class="card__icon">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <ul class="temperatures">
          <li class="temperatures__item">
            <span class="temperatures__label">min</span>
            -2°
          </li>
          <li class="temperatures__item">
            <span class="temperatures__label">max</span>
            1°
          </li>
        </ul>
        <button class="card__button">more info</button>
      </div>
    </div>
    <div class="buttons-container">
      <svg class="arrow left" width="20" height="20">
        <use href="./assets/icons/symbol-defs.svg#icon-left"></use>
      </svg>
      <svg class="arrow right" width="20" height="20">
        <use href="./assets/icons/symbol-defs.svg#icon-right"></use>
      </svg>
    </div>
    <div class="more-info-container hidden">
      <div class="more-info">
        <p class="more-info__hour">00:00</p>
        <svg class="more-info__icon" width="35" height="35">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <p class="more-info__temperature">-2°</p>
        <ul class="details-list">
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-barometer"></use>
            </svg>
            772 mm
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-humidity"></use>
            </svg>
            54%
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-wind"></use>
            </svg>
            3.7 m/s
          </li>
        </ul>
      </div>
      <div class="more-info">
        <p class="more-info__hour">00:00</p>
        <svg class="more-info__icon" width="35" height="35">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <p class="more-info__temperature">-2°</p>
        <ul class="details-list">
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-barometer"></use>
            </svg>
            772 mm
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-humidity"></use>
            </svg>
            54%
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-wind"></use>
            </svg>
            3.7 m/s
          </li>
        </ul>
      </div>
      <div class="more-info">
        <p class="more-info__hour">00:00</p>
        <svg class="more-info__icon" width="35" height="35">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <p class="more-info__temperature">-2°</p>
        <ul class="details-list">
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-barometer"></use>
            </svg>
            772 mm
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-humidity"></use>
            </svg>
            54%
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-wind"></use>
            </svg>
            3.7 m/s
          </li>
        </ul>
      </div>

      <div class="more-info">
        <p class="more-info__hour">00:00</p>
        <svg class="more-info__icon" width="35" height="35">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <p class="more-info__temperature">-2°</p>
        <ul class="details-list">
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-barometer"></use>
            </svg>
            772 mm
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-humidity"></use>
            </svg>
            54%
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-wind"></use>
            </svg>
            3.7 m/s
          </li>
        </ul>
      </div>
      <!-- <div class="more-info">
        <p class="more-info__hour">00:00</p>
        <svg class="more-info__icon" width="35" height="35">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <p class="more-info__temperature">-2°</p>
        <ul class="details-list">
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-barometer"></use>
            </svg>
            772 mm
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-humidity"></use>
            </svg>
            54%
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-wind"></use>
            </svg>
            3.7 m/s
          </li>
        </ul>
      </div> -->
      <!-- <div class="more-info">
        <p class="more-info__hour">00:00</p>
        <svg class="more-info__icon" width="35" height="35">
          <use href="./assets/icons/symbol-defs.svg#icon-cloudy"></use>
        </svg>
        <p class="more-info__temperature">-2°</p>
        <ul class="details-list">
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-barometer"></use>
            </svg>
            772 mm
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-humidity"></use>
            </svg>
            54%
          </li>
          <li class="details-list__item">
            <svg class="details-list__icon" width="20" height="20">
              <use href="./assets/icons/symbol-defs.svg#icon-wind"></use>
            </svg>
            3.7 m/s
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</section>
