<div class="five-days-container hidden">
  <section class="five-days-container_btn-box">
    <div class="switch-buttons">
      <button class="today-button">TODAY</button>
      <button class="five-day-button">5 DAYS</button>
    </div>
    <h2 class="today-city">Kyiv, UA</h2>
  </section>
  <div class="five-days-wrapper">
    <section class="five-days-containeer">
      <h2 class="five-days-containeer__city-name">Cluj,RO</h2>
      <ul class="days-list"></ul>
      <div class="five-days-containeer__scroll">
        <img
          id="left-arrow"
          src="./images/left-arrow.png"
          alt="left-arrow"
          class="five-days-containeer__arrow five-days-containeer__arrow--hover"
        />
        <img
          id="right-arrow"
          src="./images/right-arrow.png"
          alt="right-arrow"
          class="five-days-containeer__arrow five-days-containeer__arrow--hover"
        />
      </div>
    </section>
    <div class="moreInfo hidden">
      <!-- where the additional information will be displayed. -->
      <ul class="moreInfo__block"></ul>
      <div class="moreInfo__scroll">
        <button
          id="moreInfo-left-btn"
          class="moreInfo_scroll_arrow moreInfo_scroll_arrow_hidden"
        >
          <img id="left-arrow" src="./images/left-arrow.png" alt="left-arrow" />
        </button>
        <button id="moreInfo-right-btn" class="moreInfo__scroll-arrow">
          <img
            id="right-arrow"
            src="./images/right-arrow.png"
            alt="right-arrow"
          />
        </button>
      </div>
    </div>
  </div>
</div>
