<footer id="f-s" class="footer">
    <div class="container">
        <div class="slogan-wrapper">
            <p class="slogan">homemade ice cream made <span class="slogan-custom">with passion</span></p>
        </div>

        <div class="contacts-wrapper">
            <ul class="list social-links">
                <li class="social-links__item">
                    <a class="link social-link" href="http://github.com" target="_blank">
                        <svg class="github-icon">
                            <use href="./images/footer-page/sprite.svg#github-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-links__item">
                    <a class="link social-link" href="http://telegram.com" target="_blank">
                        <svg class="telegram-icon">
                            <use href="./images/footer-page/sprite.svg#telegram-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-links__item">
                    <a class="link social-link" href="http://facebook.com" target="_blank">
                        <svg class="facebook-icon">
                            <use href="./images/footer-page/sprite.svg#facebook-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <address class="footer-adress">
                <a class="link phone" href="tel:+61(0)383766284">Feel free to contact <span class="phone-custom">+61 (0)
                        383
                        766 284</span></a>
            </address>
        </div>
    </div>

    <div class="copyright-wrapper">
        <p class="copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>

</footer>