<footer class="footer">
<p class="footer__text">©  2020 | All Rights Reserved | </p>
<p class="footer__text"> Developed with
  <span class="heart"></span>
  by <span class="footer__text__decoration" id="team">GoIT Students</span>
</p>
  </footer>

<!-- ==========================модальне вікно====== -->

  <div class="developers">
    <div class="developers__content">
        <h2 class="developers__title">Команда розробників</h2>
        <button
      type="button"
      class="developers__button"
      data-action="close-developers"
    ></button>
          <ul class="developers__list">
          <li class="developers__item">
         <img class="developers__foto" src="./images/icons/ilona.jpg" alt="Ilona Myronyuk" width="130" height="150"/>
          <div>
          <h3 class="developers-text">Ilona Myronyuk</h3>
          <ul class="list socials-icon">
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="developers__item">
          <img class="developers__foto" src="./images/icons/artem.jpg" alt="Artem Bilodid" width="130" height="150" />
          <div>
          <h3 class="developers-text">Artem Bilodid</h3>
          <ul class="list socials-icon">
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="developers__item">
          <img class="developers__foto" src="./images/icons/oleksandr.jpg" alt="Олександр Корнієць" width="130" height="150" />
          <div>
          <h3 class="developers-text">Oleksandr Korniiets</h3>
          <ul class="list socials-icon">
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="developers__item">
          <img class="developers__foto" src="./images/icons/roman.jpg" alt="Roman Ilienko" width="130" height="150" />
          <div>
          <h3 class="developers-text">Roman Ilienko</h3>
          <ul class="list socials-icon">
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="developers__item">
          <img class="developers__foto" src="./images/icons/tanya.jpg" alt="Tatyana Tuluk" width="130" height="150" />
          <div>
          <h3 class="developers-text">Tatyana Tuluk</h3>
          <ul class="list socials-icon">
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="developers__item">
          <img class="developers__foto" src="./images/icons/vlad.jpg" alt="Vladislav Apelganz" width="130" height="150" />
          <div>
          <h3 class="developers-text">Vladislav Apelganz</h3>
          <ul class="list socials-icon">
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="developers__item">
          <img class="developers__foto" src="./images/icons/mihail.jpg" alt="Mikhailo Оsipchuk" width="130" height="150" />
          <div>
          <h3 class="developers-text">Mikhailo Оsipchuk</h3>
          <ul class="list socials-icon">
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="developers__item">
          <img class="developers__foto" src="./images/icons/olesay.jpg" alt="Alesia Zuk" width="130" height="150" />
          <div>
          <h3 class="developers-text">Alesia Zuk</h3>
          <ul class="list socials-icon">
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials-icon-item">
              <a href="" class="social-icon-link">
                <svg class="socials-icon-svg">
                  <use href="./images/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        </li>
         </ul>
      </div>
    </div>
  </div>
