<footer class="footer-page">

    <section class="first-section">

        <h2> Онлайн-запис</h2>
        <form>
            <label for="name"> name* </label>
            <input type="text" id="name">

            <label for="phone-number"> телефон* </label>
            <input type="number" id="phone-number">

            <textarea name="textarea" placeholder="повідомлення"></textarea>

            <button type="submit" class="footer-buttom"> Відправити </button>
        </form>

    </section>

    <section class="second-section">

        <h2> Контакти </h2>

        <address class="footer-address">
            <ul class="list">
                <li class="item">
                    <span class="street"> ул.Васильковая, 7А <br /> Киев, 08132</span>
                </li>
                <li class="item"> <a class="link" href="tel:+38 044 111 11 11"> +38 044 111 11 11 </a></li>
                <li class="item"> <a class="link" href="mailo:barbershop@email.com"> barbershop@email.com </a></li>
            </ul>
        </address>
        <h3> час роботи </h3>
        <span> Щоденно з 9:00 до 22:00 </span>
    </section>

    <section class="third-section">
        <span class="copyright">&#169 Copyright 2020</span>

        <ul class="social-list">
            <li class="item"><a class="link" href="#"> Instagram </a></li>
            <li class="item"><a class="link" href='#'> YouTube </a></li>
        </ul>
    </section>

</footer>