<section class="container address-container">
    <h2 class="container-title">Контакты</h2>
    <div class="contacts">
        <address class="address">
            <ul class="address-list">
                <li class="address-list-item">
                    <svg class="address-svg" width="24" height="24">
                        <use href="../src/images/svg/sprite.svg#map-pin"></use>
                    </svg>
                    <span class="links city">ул. Васильковая, 7А Киев, 08132</span>
                </li>
                <li class="address-list-item">
                    <svg class="address-svg" width="24" height="24">
                        <use href="../src/images/svg/sprite.svg#phone"></use>
                    </svg>
                    <a class="links tell" href="tel:+380441111111" class="links ">+38 044 111 11 11</a>
                </li>
                <li class="address-list-item">
                    <svg class="address-svg" width="24" height="24">
                        <use href="../src/images/svg/sprite.svg#mail"></use>
                    </svg>
                    <a class="links meil" href="mailto:barbershop@email.com" "
                    >barbershop@email.com</a
                    >
                </li>
            </ul>
        </address>
    <div class=" schedule">
        <h3 class="schedule-title">Время работы</h3>
        <p class="schedule-time">Ежедневно с 9:00 до 22:00</p>
    </div>
</section>

<footer>
    <div class="container">
        <div class="copyright">
            <svg class="copyright-svg" width="12" height="12">
                <use href="../src/images/svg/sprite.svg#copyright"></use>
            </svg>
            <p>Copyright 2020</p>
        </div>
    </div>
</footer>