<footer class="footer">
  <div class="container-footer">
    <div class="wrapper-footer">
      <div class="footer-part">
        <p class="home-ice">homemade ice cream made</p>
        <h1 class="with-passion">with passion</h1>
      </div>
      <div class="wrapper-footer1">
        <div class="footer-part1">
          <ul class="social-list-footer list">
            <li class="social-list-item-footer">
              <a
                class="social-list-item-link-footer link"
                href=""
                aria-label="link to GitHub"
              >
                <svg class="social-svg-item-footer">
                  <use href="./images/sprite/sprite.svg#github-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item-footer">
              <a
                class="social-list-item-link-footer link"
                href=""
                aria-label="link to Telegram"
              >
                <svg class="social-svg-item-footer">
                  <use href="./images/sprite/sprite.svg#telegram-icon"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item-footer">
              <a
                class="social-list-item-link-footer link"
                href=""
                aria-label="link to Facebook"
              >
                <svg class="social-svg-item-footer">
                  <use href="./images/sprite/sprite.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-part2">
          <address class="phone-number address">
            <span class="phone-span"> Feel free to contact</span>
            <a class="number link" href="tel:+610383766284">
              +61 (0) 383 766 284
            </a>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-part3">
    <p class="all-rights">&#169 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
