<footer>
  <div class="container">
    <div>
      форма
    </div>
    <address>
      <p>
        <svg class="social-icon" width="20" height="20">
          <use href="./img/spritefooter.svg#icon-map-pin"></use>
        </svg>
        ул. Васильковая, 7А, Киев, 08132
      </p>
      <a href="tel:380961111111" class="link tel">    <svg class="social-icon" width="20" height="20">
                   +38 096 111 11 11</a>
      
        <svg class="social-icon" width="24" height="24">
          <use href="./img/spritefooter.svg#icon-phone"></use>
        </svg>
        +38 096 111 11 11</a
      >
      <a href="mailto" class="link mail">
        <svg class="social-icon" width="24" height="24">
          <use href="./img/spritefooter.svg#icon-mail"></use>
        </svg>
        barbershop@email.com</a
      >
    </address>
  </div>
</footer>
