<footer class="footer">
    <div class="footer__container">
        <div class="footer__section">
            <div class="footer__title">
                <p class="footer__first-title">homemade ice cream made</p>
                <p class="footer__second-title">with passion </p>
            </div>
            <div class="footer__contacts">
                <ul class="footer__social-list unstyled-list">
                    <li class="footer__social-item">
                        <a href="" class="footer__social-link link" rel="noopener noreferrer" target="_blank">
                            <svg class="footer__social-icon" width="32" height="32">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="" class="footer__social-link link" rel="noopener noreferrer" target="_blank">
                            <svg class="footer__social-icon" width="32" height="32">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="" class="footer__social-link" rel="noopener noreferrer" target="_blank">
                            <svg class="footer__social-icon" width="32" height="32">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer__contact">
                    Feel free to contact
                    <a class="footer__tel link" href="tel:+610383766284" rel="noopener noreferrer">+61 (0) 383 766
                        284</a>
                </p>
            </div>
        </div>
        <div class="footer__copyright-container">
            <p class="footer__copyright-text">
                &#169;2022 - IceCream. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>