<div class="contacts-container">
  <div class="container">
    <section class="right-booking-section contacts-section section">
      <div class="container">
        <h2 class="title contacts-title">Онлайн-запись</h2>
        <form id="contact-form" class="booking-form">
          <div class="booking-form-container">
            <input type="text" name="user-name" class="form-input" placeholder="Имя*" required />
            <input type="tel" name="user-phone" class="form-input" placeholder="Телефон*" required />
          </div>
          <textarea name="user-message" placeholder="Сообщение" rows="4" class="form-input textarea-form"></textarea>
          <button type="submit" class="btn send-btn">Отправить</button>
        </form>
      </div>
    </section>

    <section class="left-contacts-section contacts-section section" id="footer">
      <div class="container">
        <h2 class="title contacts-title">Контакты</h2>
        <address class="address-container">
          <ul class="address-container-list list">
            <li class="address-container-item">
              <a href="https://goo.gl/maps/UbY8nMhtFYvSiZbK6" class="address-container-link link"><svg
                  class="address-icon map-icon" width="16px" height="18px">
                  <use href="./img/sprite.svg#map"></use>
                </svg>
                ул. Васильковая, 7А, Киев, 08132</a>
            </li>
            <li class="address-container-item">
              <a href="tel:+380441111111" class="address-container-link link"><svg class="address-icon" width="16px"
                  height="16px">
                  <use href="./img/sprite.svg#phone"></use>
                </svg>
                +38 044 111 11 11</a>
            </li>
            <li class="address-container-item mail-item">
              <a href="mailto:barbershop@email.com" class="address-container-link"><svg class="address-icon"
                  width="18px" height="14px">
                  <use href="./img/sprite.svg#mail"></use>
                </svg>
                barbershop@email.com</a>
            </li>
          </ul>
        </address>
        <div class="schedule-container">
          <p class="suptitle suptitle-footer dark-line">время работы</p>
          <p class="schedule-container-text">Ежедневно с 9:00 до 22:00</p>
        </div>
      </div>
    </section>
  </div>
</div>