<footer class="footer">
    <div class="container">
        <h2 class="title">homemade ice cream made</h2>
        <p class="footer-hero">with passion </p>
        <div class="thumb-social">
            <ul class="social">
                <li class="social-item">
                    <a class="social-link">
                        <svg class="social-logo" width="32" height="32">
                            <use href="./images/svg/sprite.svg#icon-git">
                            </use>
                        </svg>
                </li>
                <li class="social-item">
                    <a class="social-link">
                        <svg class="social-logo" width="32" height="32">
                            <use href="./images/svg/sprite.svg#icon-telegram">
                            </use>
                        </svg>
                </li>
                <li class="social-item">
                    <a class="social-link">
                        <svg class="social-logo" width="32" height="32">
                            <use href="./images/svg/sprite.svg#icon-facebook">
                            </use>
                        </svg>
                </li>
            </ul>
            <a class="contact-akcent" href="tel:+610383766284"><span class="contact">Feel free to contact</span>
                +61 (0) 383 766 284 </a>
        </div>
        <p class="footer-unicode">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>
