<footer class="page-footer">
  <div class="footer-block">
    <!-- Form -->
    <include src="./partials/form.html"></include>
    <!-- Contacts -->
    <div class="footer-overley">
      <div class="address">
        <address class="address">
          <h2 class="foot-title">Контакты</h2>
          <p>
            <svg class="icon" width="24" height="24">
              <use href="./images/footer/spritefooter.svg#icon-map-pin"></use>
            </svg>
            ул. Васильковая, 7А, Киев, 08132
          </p>
        </address>
        <a href="tel:380961111111" class="link tel">
          <svg class="icon" width="24" height="24">
            <use href="./images/footer/spritefooter.svg#icon-phone"></use>
          </svg>
          +38 096 111 11 11</a
        >

        <a href="mailto" class="mail">
          <svg class="icon" width="24" height="24">
            <use href="./images/footer/spritefooter.svg#icon-mail"></use>
          </svg>
          barbershop@email.com</a
        >
      </div>
      <div class="time">
        <p class="address-text">
          <!-- <svg class="icon-stripe">
          <use href="./images/svg/sprite.svg#icon-stripe"></use>
        </svg> -->
          время работы
        </p>
        <p>Ежедневно с 9:00 до 22:00</p>
      </div>
    </div>
  </div>

  <!-- Кнопка возврат наверх -->
  <div id="back-top">
    <a href="#" onclick="return up()">ВВЕРХ</a>
  </div>

  <div class="copyright">
    <p class="copyright-text">&copy; Copyright 2020</p>
    <a
      class="link insta"
      href="http://instagram.com/"
      aria-label="Ссылка на instagram"
      >Instagram</a
    >
    <a
      class="link yutube"
      href="http://yotube.com/"
      aria-label="Ссылка на yutube"
      >Youtube</a
    >
  </div>
</footer>
