<footer>
  <div class="footer-titles">
    <span class="footer-title-1">homemade ice cream made</span>
    <span class="footer-title-2"> with passion</span>
  </div>
  <div class="social-icons">
    <svg class="social-icon">
      <use href="./icons/symbol-defs.svg#icon-github"></use>
    </svg>
    <svg class="social-icon">
      <use href="./icons/symbol-defs.svg#icon-facebook"></use>
    </svg>
    <svg class="social-icon">
      <use href="./icons/symbol-defs.svg#icon-telegram"></use>
    </svg>
  </div>
  <div class="phone-number">
    <span>Feel free to contact </span>
    <a href="tel: +61 (0) 383 766 284"> +61 (0) 383 766 284</a>
  </div>
  <div class="line-footer">
    <svg>
      <use href="./icons/symbol-defs.svg#icon-line"></use>
    </svg>
  </div>
  <div class="all-rights">
    <span>© 2022 - IceCream. </span>
    <span>All Rights Reserved. </span>
  </div>
</footer>
