<div class="right-side-footer-container section">
  <section class="footer-appointment">
    <div class="container">
      <h2 class="title footer-title">Онлайн-запись</h2>
      <form action="" class="appointmet-form">
        <input
          type="text"
          name="user-name"
          class="form-input"
          placeholder="Имя*"
        />

        <input
          type="tel"
          name="user-phone"
          class="form-input"
          placeholder="Телефон*"
        />

        <textarea name="user-message" placeholder="Сообщение"></textarea>
        <button type="submit" class="btn send-btn">Отправить</button>
      </form>
    </div>
  </section>
</div>
<div class="left-side-footer-container section">
  <section class="footer-contacts">
    <div class="container">
      <h2 class="title footer-title">Контакты</h2>
      <adress class="adress-container">
        <ul class="adress-container-list list">
          <li class="adress-container-item">
            <a
              href="https://goo.gl/maps/UbY8nMhtFYvSiZbK6"
              class="adress-container-link link"
              >ул. Васильковая, 7А, Киев, 08132</a
            >
          </li>
          <li class="adress-container-item">
            <a href="tel:+380441111111" class="adress-container-link link"
              >+38 044 111 11 11</a
            >
          </li>
          <li class="adress-container-item mail-item">
            <svg class="adress-mail-icon">
              <use href="./img/sprite.svg#mail"></use>
            </svg>
            <a href="mailto:barbershop@email.com" class="adress-container-link"
              >barbershop@email.com</a
            >
          </li>
        </ul>
      </adress>
      <div class="schedule-container">
        <p class="suptitle suptitle-footer dark-line">время работы</p>
        <p class="schedule-container-text">Ежедневно с 9:00 до 22:00</p>
      </div>
    </div>
  </section>
</div>
