<footer id="contacts" class="page-footer">
  <div class="footer-block">
    <!-- Form -->
    <div  id="pricec" class="form-container">
      <form>
        <h2 class="form-title">Онлайн-запись</h2>
        <div class="form-wrap">
          <label class="form-field">
            <input type="text" class="form-input name" placeholder=" " required/>
            
            <span class="form-label">ИМЯ*</span>
          </label>
          <label class="form-field">
            <input type="tel" class="form-input" placeholder=" " required/>
            <span class="form-label">ТЕЛЕФОН*</span>
          </label>
        </div>
        <label class="comment-field">
          <textarea name="comment" class="comment-area" placeholder=" "></textarea>
          <span class="comment-label">СООБЩЕНИЕ</span>
        </label>
        </label>
        <button class="button">Отправить</button>
      </form>
    </div>
    
    <!-- Contacts -->
    <div class="footer-overley section">
      <div class="address">
        <address class="address-text">
          <h2 class="foot-title">Контакты</h2>
          <p>
            <svg class="icon" width="24" height="24">
              <use href="./images/footer/spritefooter.svg#icon-map-pin"></use>
            </svg>
            ул. Васильковая, 7А, Киев, 08132
          </p>
        </address>
        <a href="tel:380961111111" class="link tel">
          <svg class="icon" width="24" height="24">
            <use href="./images/footer/spritefooter.svg#icon-phone"></use>
          </svg>
          +38 096 111 11 11</a
        >

        <a href="mailto" class="mail">
          <svg class="icon" width="24" height="24">
            <use href="./images/footer/spritefooter.svg#icon-mail"></use>
          </svg>
          barbershop@email.com</a
        >
      </div>
      <div class="time">
        <p class="address-time">
          
          время работы
        </p>
        <p>Ежедневно с 9:00 до 22:00</p>
      </div>
    </div>
  </div>

  <!-- Button back-top -->

  <div class="back-top">
    <a href="#menu" onclick="return up()">
      <img src="./images/footer/top.png" alt="вверх">
    </a>
  </div>

<!-- Cjpyrigyt -->
  <div class="copyright">
    <p class="copyright-text">&copy; Copyright 2020</p>
    
    <a
      class="link insta"
      href="http://instagram.com/"
      aria-label="Ссылка на instagram"
      >Instagram</a
    >
    <a
      class="link yutube"
      href="http://yotube.com/"
      aria-label="Ссылка на yutube"
      >Youtube</a
    >
  </div>
</footer>
