<section class="form">
  <div class="container form-container">
      <h2 class="form-title">Регистрация на <span class="form-word-accent">бесплатную</span> телефонную <span class="form-word-accent">консультацию</span> по нюансам ЗНО по английскому языку</h2>
      <p class="form-text">Оставь заявку на участие в <span class="form-word-accent">бесплатном занятии</span>. <br> С вами свяжется консультант и ответит на вопросы</p>
      <form class="forms">
          <label class="form-label">
              <input type="text" name="user-name" class="form-input" placeholder="Имя*" />
            </label>
          <label class="form-label">
              <input type="tel" name="user-tel" class="form-input" placeholder="Телефон*">
          </label>   
      </form>
      <button type="button" class="form-button">ХОЧУ НА БЕСПЛАТНОЕ ЗАНЯТИЕ</button>
  </div>
</section>