<!-- Form -->
<section class="section form">
  <div class="container">
    <h2 class="form__title">
      Регистрация на <span class="form__accent">бесплатную</span> телефонную
      <span class="form__accent">консультацию</span> по нюансам ЗНО по
      английскому языку
    </h2>
    <form class="form-app" action="#">
      <h3 class="form-app__title">
        Оставь заявку на участие в
        <span class="form-app__accent">бесплатном занятии.</span><br />
        С вами свяжется консультант и ответит на вопросы
      </h3>
      <label class="form-app__label">
        <input
          class="form-app__input"
          name="user-name"
          type="text"
          placeholder="Имя*"
          required
        />
      </label>
      <label class="form-app__label">
        <input
          class="form-app__input"
          name="user-phone"
          type="tel"
          placeholder="Телефон*"
          required
        />
      </label>
      <button class="button button--form-app" type="submit">
        хочу на бесплатное занятие
      </button>
    </form>
  </div>
</section>
