<section class="footer-section ">

    <div class="footer-section__page-form">
        <div class="container">
        <h2 class="footer-section__title">Регистрация на <span class="footer-section__free">бесплатную</span> телефонную <span class="footer-section__consultation">консультацию</span> по
            нюансам ЗНО
            по английскому языку</h2>
        <p class="footer-section__subtitle">Оставь заявку на участие в <span class="footer-section__free-lessons">бесплатном занятии.</span> <br>
            С вами свяжется консультант и ответит на вопросы</p>
        <form action="#" method="GET" class="footer-section__form">

            <Input class="footer-section__input" type="text" name="user-name" minlength="2" required placeholder="Имя*">
            </Input>

            <Input class="footer-section__input" type="tel" name="user-tel" required placeholder="Телефон*">
            </Input>

            <button class="footer-section__btn" type="submit">хочу на бесплатное занятие</button>

        </form>
        </div>
    </div>

    <div class="footer-section__footer container">
        <a class="footer-section__logo-link" href="#">
            
            <svg class="footer-section__logo-icon">
                <use href="./images/svg/sprite.svg#logo"></use>
            </svg>
        
        </a>
        <ul class="footer-section__contact-list">
            <li class="footer-section__contact-item">
                <a class="footer-section__tel" href="tel:+380000000000">
                    <svg class="footer-section__tel-icon">
                        <use href="./images/svg/sprite.svg#registration-phone"></use>
                    </svg>
                    +38 (000) 000 00 00</a>

            </li>
            <li class="footer-section__contact-item">
                <a class="footer-section__inst" href="#">
                    <svg class="footer-section__inst-icon">
                        <use href="./images/svg/sprite.svg#instagram"></use>
                    </svg>
                </a>

            </li>
        </ul>
    </div>
    <div class="footer-section__copy-wrapper">
    <p class="footer-section__copy container">&#64; Все права защищены, 2019</p>
</div>
    <div class="scrollup">
        <svg class="scrollup-icon">
            <use href="./images/svg/sprite.svg#scroll-up"></use>
        </svg>        
    </div>
    
</section>
