<section class="footer-content">
  <h2 #id="online-check-in" class="title-footer">Онлайн-запись</h2>
  <form class="form">
    <ul class="list form-list">
      <li class="item-form">
        <label class="form-field">
          <input
            type="text"
            class="form-input"
            name="name"
            id="name"
            placeholder=" "
          />
          <span class="form-label">Имя*</span>
        </label>
      </li>
      <li class="item-form">
        <label class="form-field">
          <input
            type="tel"
            class="form-input"
            name="tel"
            id="tel"
            placeholder="  "
          />
          <span class="form-label">Телефон*</span>
        </label>
      </li>
      <li class="item-form">
        <label class="form-field sms-label">
          <textarea
            name="comment"
            class="form-textarea"
            id="comment"
            cols="20"
            rows="5"
            placeholder=" "
          ></textarea>
          <span for="comment" class="comment">Сообщение</span>
        </label>
      </li>
    </ul>

    <button class="button form-button">отправить</button>
  </form>
</section>
