<section class="footer-content">
  <form>
    <h2 class="title-footer">Онлайн-запись</h2>
    <ul class="list">
      <li class="item-form">
        <label class="form-field">
          <span class="form-label">Имя*</span>
        </label>
        <input
          type="text"
          class="form-input"
          name="name"
          id="name"
          placeholder=" "
        />
      </li>
      <li class="item-form">
        <label class="form-field">
          <span class="form-label">Телефон*</span>
        </label>
        <input
          type="tel"
          class="form-input"
          name="tel"
          id="tel"
          placeholder="  "
        />
      </li>
      <li class="item-form">
        <label class="form-field">
          <span for="comment" class="comment">Сообщение</span>
        </label>
        <textarea
          name="comment"
          class="form-textarea"
          id="comment"
          cols="20"
          rows="5"
          placeholder=" "
        ></textarea>
      </li>
    </ul>

    <button class="button form-button">отправить</button>
  </form>
</section>
