<div class="footer-form container">
  <h2 class="form-caption">Онлайн-запись</h2>

  <form autocomplete="off">
    <div class="form-section">
      <label class="form-label">
        <span class="form-text">Имя*</span>
        <input type="text" name="name" placeholder=" " class="form-field" />
      </label>

      <label class="form-label">
        <span class="form-text">Телефон*</span>
        <input type="tel" name="phone" placeholder=" " class="form-field" />
      </label>

      <label class="message">
        <span class="message-text">Сообщение</span>
        <input
          type="text"
          name="message"
          placeholder=" "
          class="message-field"
        />
      </label>
    </div>
    <div class="button-send">
      <button type="button" class="btn-register">Отправить</button>
    </div>
  </form>
</div>
