<div class="backdrop is-hidden" data-franchise>
    <div class="modal">
            <button class="modal__button" data-franchise-close>
                <!-- <svg class="modal__icon" width="18" height="18">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg> -->
            </button>

            <form class="modal-form">
                <p class="modal-form__title">
                    Оставьте свои данные, мы вам перезвоним
                </p>

                <label class="modal-form__lable">
                    <span class="modal-form__content">Имя</span>
                    <div class="modal-form__field">
                        <input class="modal-form__input" type="text" name="name">
                        <!-- <svg class="modal-form__icon" width="18" height="18">
                            <use href="./images/symbol-defs2.svg#icon-person-black"></use>
                        </svg> -->
                    </div>
                </label>
    

                <label class="modal-form__lable">
                    <span class="modal-form__content">Телефон</span>
                    <div class="modal-form__field">
                        <input class="modal-form__input" type="tel" name="phone_number">
                        <!-- <svg class="modal-form__icon" width="18" height="18">
                            <use href="./images/symbol-defs2.svg#icon-phone-black"></use>
                        </svg> -->
                    </div>
                </label>

                <label class="modal-form__lable">
                    <span class="modal-form__content">Почта</span>
                    <div class="modal-form__field">
                        <input class="modal-form__input" type="email" name="email">
                        <!-- <svg class="modal-form__icon" width="18" height="18">
                            <use href="./images/symbol-defs2.svg#icon-email-black"></use>
                        </svg> -->
                    </div>
                </label>

                <label class="modal-form__feedback">
                    <span class="modal-form__content">Коментарий</span>
                    <textarea class="modal-form__textarea" name="feedback" placeholder="Введите текст"></textarea>
                </label>

                <div class="modal-form__checkbox-field">
                    <input class="modal-form__checkbox-input visually-hidden" type="checkbox" name="consent" value="consent" id="checkbox">
                    <label class="modal-form__checkbox" for="checkbox">
                        <span class="modal-form__checkbox-text">Соглашаюсь с рассылкой и принимаю <a href="#" class="modal-form__contract">Условия договора</a></span>
                    </label>
                </div>

                <button class="modal-form__button" type="submit">
                    Отправить
                </button>
            </form>
        
    </div>
</div>