<div class="backdrop is-hidden" data-franchise>
    <div class="franchise">
            <button class="franchise-button" data-franchise-close>
                <svg class="franchise-icon" width="14" height="14">
                    <!-- <use href="./images/symbol-defs.svg#icon-close"></use> -->
                </svg>
            </button>
            
            <p class="franchise-tittle">
                Franchise application
            </p>
            
            <div class="franchise-content">
                <p>By joining the Ice Cream network you will learn how to cook your favorite delicacy, getting great pleasure from the cooking process!</p> 
                <p>Our own ice cream cafe is a business that brings joy to you and your guests.</p>
                <p>Join the Ice Cream team, and we will share our experience and teach you how to earn!</p>
                <p>Don't miss the chance to develop your own effective business!</p>
            </div>

            <form class="franchise-form" autocomplete="on" novalidate>
                <label class="franchise-form-label">
                    <span class="franchise-form-content">Name</span>
                    <div class="franchise-form-field">
                        <input class="franchise-form-input" type="text" name="name">
                        <!-- <svg class="modal-form__icon" width="18" height="18">
                            <use href="./images/symbol-defs2.svg#icon-person-black"></use>
                        </svg> -->
                    </div>
                </label>
    

                <label class="franchise-form-label">
                    <span class="franchise-form-content">Phone</span>
                    <div class="franchise-form-field">
                        <input class="franchise-form-input" type="tel" name="phone_number">
                        <!-- <svg class="modal-form__icon" width="18" height="18">
                            <use href="./images/symbol-defs2.svg#icon-phone-black"></use>
                        </svg> -->
                    </div>
                </label>

                <label class="franchise-form-label">
                    <span class="franchise-form-content">Email</span>
                    <div class="franchise-form-field">
                        <input class="franchise-form-input" type="email" name="email">
                        <!-- <svg class="modal-form__icon" width="18" height="18">
                            <use href="./images/symbol-defs2.svg#icon-email-black"></use>
                        </svg> -->
                    </div>
                </label>

                <label class="franchise-form-label">
                    <span class="franchise-form-content">Your state</span>
                    <div class="franchise-form-field">
                        <input class="franchise-form-input" type="text" name="state" list="states">
                        <!-- <svg class="modal-form__icon" width="18" height="18">
                            <use href="./images/symbol-defs2.svg#icon-email-black"></use>
                        </svg> -->
                        <datalist id="states">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </datalist>
                    </div>
                </label>

                <label class="franchise-form-feedback">
                    <span class="franchise-form-content">Cooperation proposal</span>
                    <textarea class="franchise-form-textarea" name="feedback" placeholder="Enter text"></textarea>
                </label>

                <p class="franchise-content">Write to us and we will contact you</p>

                <button class="franchise-form-button" type="submit">
                    Send
                </button>
            </form>
        
    </div>
</div>