<!--FRANCHISE MODAL-->
<div class="modal is-hidden" data-modal-franchise>
  <div class="modal-content">
    <button class="close-btn" data-modal-close-franchise>
      <svg class="mobile-menu-close">
        <use href="./images/symbol-defs.svg#icon-close2"></use>
      </svg>
    </button>
    </button>
    <h2 class="h2-title">Leave your details and maybe we will call you back</h2>
    <form>
      <div class="modal-styling-inputs">
        <label class="modal-description" for="name">Name</label>
          <input class="modal-input" type="text" id="name" name="name"/>
      </div>
      <div class="modal-styling-inputs">
        <label class="modal-description" for="number">Number</label>
          <input class="modal-input" type="tel" name="number" id="number" />
      </div>
      <div class="modal-styling-inputs">
        <label class="modal-description" for="email">E-mail</label>
        <input class="modal-input" type="email" id="email" name="email"/>
      </div>
      <div class="modal-styling-inputs">
        <label class="modal-description" for="textarea"
          >a few words, my darling</label
        >
        <textarea
          name="textarea"
          id="textarea"
          rows="5"
          placeholder="Write here..."
          class="modal-input-height"
        ></textarea>
      </div>
      <div class="send-btn">
        <button class="sent-btn-modal">Send</button>
      </div>
    </form>
  </div>
</div>
