<!-- MODAL FRANCHISE -->
<div class="modal is-hidden" data-modal>
  <div class="modal-content">
    <button class="close-btn" data-modal-close>&times;</button>
    <h2>Leave your detail and maybe we will call you back</h2>
    <form>
      <div class="modal-styling-inputs">
        <label class="modal-description" for="name">Name</label>
        <div>
          <input class="modal-input" type="text" />
        </div>
      </div>
      <div>
        <label class="modal-description" for="number">Number</label>
        <div>
          <input class="modal-input" type="text" name="" id="number" />
        </div>
      </div>
      <div>
        <label class="modal-description" for="email">Email</label>
        <input class="modal-input" type="text" />
      </div>
      <div class="modal-styling-inputs">
        <label class="modal-description" for="a few words, my darling"
          >a few words, my darling</label
        >
        <input
          class="modal-input-height"
          type="text"
          placeholder="Write here..."
        />
      </div>
      <div class="send-btn">
        <button class="sent-btn-modal">Send</button>
      </div>
    </form>
  </div>
</div>
