<section class="photo" id="fruits">
  <div class="fruits-container">
    <h2 class="section-title photo-sec-title">ORGANIC FRUITS</h2>
    <p class="photo-section-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="photo-list list">
      <li class="photo-item strawberry">
        <h4 class="photo-fruit-name">Strawberry</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/1.png"
            alt="Strawberry"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">100UAH/ kg</button>
      </li>
      <li class="photo-item banana">
        <h4 class="photo-fruit-name">Banana</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/2.png"
            alt="Banana"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">80UAH/ kg</button>
      </li>
      <li class="photo-item watermelon">
        <h4 class="photo-fruit-name">Watermelon</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/3.png"
            alt="Watermelon"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">40UAH/ kg</button>
      </li>
      <li class="photo-item lime">
        <h4 class="photo-fruit-name">Lime</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/4.png"
            alt="Lime"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">60UAH/ kg</button>
      </li>
      <li class="photo-item apple">
        <h4 class="photo-fruit-name">Apple</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/5.png"
            alt="Apple"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">50UAH/ kg</button>
      </li>
      <li class="photo-item peach">
        <h4 class="photo-fruit-name">Peach</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/6.png"
            alt="Peach"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">80UAH/ kg</button>
      </li>
      <li class="photo-item plums">
        <h4 class="photo-fruit-name">Plums</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/7.png"
            alt="Plums"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">40UAH/ kg</button>
      </li>
      <li class="photo-item orange">
        <h4 class="photo-fruit-name">Orange</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/8.png"
            alt="Orange"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">60UAH/ kg</button>
      </li>
      <li class="photo-item kiwi">
        <h4 class="photo-fruit-name">Kiwi</h4>
        <p class="description">Plant</p>
        <div class="img-fruit">
          <img
            loading="lazy"
            class="fruit-img"
            src="images/9.png"
            alt="Kiwi"
            width="295"
            height="251"
          />
        </div>
        <button class="price-btn" type="button">90UAH/ kg</button>
      </li>
    </ul>
    <button type="button" class="order-button" data-modal-open>
      <svg class="arrow-down" width="14" height="14">
        <use href="images/icons.svg#icon-arrow"></use>
      </svg>
      <span class="btn-order-text">Order</span>
    </button>
  </div>
</section>
