<!-- fruits -->
<article class="container">
  <section class="fruicts-section">
    <div class="fruicts-container">
      <h3 class="fruicts-title">ORGANIC fRUITS</h3>
      <p class="fruicts-pharagraf">
        Our organic fruits are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible. We offer a wide selection of organic fruits
        grown without the use of harmful pesticides or chemicals.
      </p>
      <div class="fruicts-container-list">
        <ul class="list fruicts-list">
          <li class="fruicts-list-item card-strawberry">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Strawberry</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/strawberry.webp"
                alt="strawberry"
              />
              <button class="fruicts-button">100 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-banana">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Banana</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/banana.webp"
                alt="banana"
              />
              <button class="fruicts-button">80 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-watermelon">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Watermelon</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/watermelon.webp"
                alt="watermelon"
              />
              <button class="fruicts-button">40 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-lime">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Lime</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <div class="test1">
                <img class="fruits-image" src="./images/lime.webp" alt="lime" />
                <svg
                  class="umbra"
                  width="251"
                  height="94"
                  viewBox="0 0 251 94"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g opacity="0.1" filter="url(#filter0_f_22_745)">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                      fill="black"
                    />
                  </g>
                  <defs>
                    <filter
                      id="filter0_f_22_745"
                      x="0.817183"
                      y="0.817183"
                      width="249.366"
                      height="92.3656"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                      />
                      <feGaussianBlur
                        stdDeviation="13.5914"
                        result="effect1_foregroundBlur_22_745"
                      />
                    </filter>
                  </defs>
                </svg>
              </div>

              <button class="fruicts-button">60 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-apple">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Apple</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img class="fruits-image" src="./images/apple.webp" alt="apple" />
              <button class="fruicts-button">50 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-peach">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Peach</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img class="fruits-image" src="./images/peach.webp" alt="peach" />
              <button class="fruicts-button">80 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-plums">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Plums</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img class="fruits-image" src="./images/plums.webp" alt="plums" />
              <button class="fruicts-button">40 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-orange">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Orange</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img
                class="fruits-image"
                src="./images/orange.webp"
                alt="orange"
              />
              <button class="fruicts-button">60 UAH / kg</button>
            </div>
          </li>

          <li class="fruicts-list-item card-kiwi">
            <div class="fruits-content-card">
              <h3 class="fruits-card-title">Kiwi</h3>
              <p class="fruicts-pharagraf-card">Plant</p>
              <img class="fruits-image" src="./images/kiwi.webp" alt="kiwi" />
              <button class="fruicts-button">90 UAH / kg</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="hover-content">
        <svg
          class="order-button"
          width="114"
          height="114"
          viewBox="0 0 114 114"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="57" cy="57" r="57" />
        </svg>
        <div class="other-button-container">
          <svg
            class="order-icon"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 2.07407L11.9259 0V10.3704L1.55556 0L0 1.55556L10.3704 11.9259H0L2.07407 14H14V2.07407Z"
            />
          </svg>
          <button data-modal-open class="order-text">Order</button>
        </div>
      </div>
    </div>
  </section>
</article>
