<section class="future-forecast">
  <div class="weather-forecast" id="weather-forecast">
    <div class="weather-forecast-item weather-forecast-item--right-border">
      <div class="day">1</div>
      <div class="date">09 Feb</div>
      <img
        src="https://openweathermap.org/img/wn/10d@2x.png"
        alt="weather-icon"
        class="w-icon"
      />
      <div class="temperature">
        <div class="temp">Min</div>
        <span>|</span>
        <div class="temp">Max</div>
      </div>
      <button type="button" class="more-btn">more info</button>
    </div>

    <div class="weather-forecast-item">
      <div class="day">2</div>
      <div class="date">09 Feb</div>
      <img
        src="https://openweathermap.org/img/wn/10d@2x.png"
        alt="weather-icon"
        class="w-icon"
      />
      <div class="temperature">
        <div class="temp min">Min</div>
        <span class="bar">|</span>
        <div class="temp">Max</div>
      </div>
      <button type="button" class="more-btn">more info</button>
    </div>
    <div class="weather-forecast-item">
      <div class="day">3</div>
      <div class="date">09 Feb</div>
      <img
        src="https://openweathermap.org/img/wn/10d@2x.png"
        alt="weather-icon"
        class="w-icon"
      />
      <div class="temperature">
        <div class="temp">Min</div>
        <span>|</span>
        <div class="temp">Max</div>
      </div>
      <button type="button" class="more-btn">more info</button>
    </div>
    <div class="weather-forecast-item">
      <div class="day">4</div>
      <div class="date">09 Feb</div>
      <img
        src="https://openweathermap.org/img/wn/10d@2x.png"
        alt="weather-icon"
        class="w-icon"
      />
      <div class="temperature">
        <div class="temp">Min</div>
        <span>|</span>
        <div class="temp">Max</div>
      </div>
      <button type="button" class="more-btn">more info</button>
    </div>
    <div class="weather-forecast-item weather-forecast-item--left-border">
      <div class="day">5</div>
      <div class="date">09 Feb</div>
      <img
        src="https://openweathermap.org/img/wn/10d@2x.png"
        alt="weather-icon"
        class="w-icon"
      />
      <div class="temperature">
        <div class="temp">Min</div>
        <span>|</span>
        <div class="temp">Max</div>
      </div>
      <button type="button" class="more-btn">more info</button>
    </div>
  </div>
</section>
