<section class="layout gallery">
	<div class="container">
		<h2 class="visually-hidden">галерея</h2>
		<p class="subtitle subtitle--gallery">
			На латинском языке “барба” означает “борода”
		</p>
		<ul class="gallery__list">
			<li class="gallery__item">
				<picture>
					<source
						srcset="./images/rectangle25-mob.jpg 1х,
								./images/rectangle25-mob@2x.jpg 2x"
						media="(max-width: 767px)"
					/>
					<source
						srcset="./images/rectangle25-tab.jpg 1х,
								./images/rectangle25-tab@2x.jpg 2x"
						media="(max-width:1199px)"
					/>
					<source
						srcset="./images/rectangle25-des.jpg 1х,
								./images/rectangle25-des@2x.jpg 2x"
						media="(min-width: 1200px)"
					/>
					<img src="./images/rectangle25-tab.jpg" alt="фото 1" />
				</picture>
			</li>
			<li class="gallery__item">
				<picture>
					<source
						srcset="./images/rectangle26-mob.jpg 1х,
								./images/rectangle26-mob@2x.jpg 2x"
						media="(max-width: 767px)"
					/>
					<source
						srcset="./images/rectangle26-tab.jpg 1х,
								./images/rectangle26-tab@2x.jpg 2x"
						media="(max-width:1199px)"
					/>
					<source
						srcset="./images/rectangle26-des.jpg 1х,
								./images/rectangle26-des@2x.jpg 2x"
						media="(min-width: 1200px)"
					/>
					<img src="./images/rectangle26-tab.jpg" alt="фото 2" />
				</picture>
			</li>
			<li class="gallery__item">
				<picture>
					<source
						srcset="./images/rectangle27-mob.jpg 1х,
								./images/rectangle27-mob@2x.jpg 2x"
						media="(max-width: 767px)"
					/>
					<source
						srcset="./images/rectangle27-tab.jpg 1х,
								./images/rectangle27-tab@2x.jpg 2x"
						media="(max-width:1199px)"
					/>
					<source
						srcset="./images/rectangle27-des.jpg 1х,
								./images/rectangle27-des@2x.jpg 2x"
						media="(min-width: 1200px)"
					/>
					<img src="./images/rectangle27-tab.jpg" alt="фото 3" />
				</picture>
			</li>
			<li class="gallery__item">
				<picture>
					<source
						srcset="./images/rectangle28-mob.jpg 1х,
								./images/rectangle28-mob@2x.jpg 2x"
						media="(max-width: 767px)"
					/>
					<source
						srcset="./images/rectangle28-tab.jpg 1х,
								./images/rectangle28-tab@2x.jpg 2x"
						media="(max-width:1199px)"
					/>
					<source
						srcset="./images/rectangle28-des.jpg 1х,
								./images/rectangle28-des@2x.jpg 2x"
						media="(min-width: 1200px)"
					/>
					<img src="./images/rectangle28-tab.jpg" alt="фото 4" />
				</picture>
			</li>
		</ul>
	</div>
</section>
