<section class="galery" id="galery">
  <div class="container galery-container">
    <ul class="galery__list">
      <li class="galery__list-item">
        <div class="galery__list-item-img galery__list-item-img-container">
          <img
            class="galery__list-item-img"
            src="./images/galery/pic1.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
      </li>
      <li class="galery__list-item">
        <div
          class="galery__list-item-img top-img galery__list-item-img-container"
        >
          <img
            class="galery__list-item-img"
            src="./images/galery/pic2.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
        <div class="galery__list-item-img galery__list-item-img-container">
          <img
            class="galery__list-item-img"
            src="./images/galery/pic3.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
      </li>
      <li class="galery__list-item big-img">
        <div
          class="galery__list-item-img top-img galery__list-item-img-container"
        >
          <img
            class="galery__list-item-img"
            src="./images/galery/pic4.jpg"
            alt="Sweety pic"
            width="518"
          />
        </div>
        <div class="galery__list-item-img galery__list-item-img-container girl">
          <img
            class="galery__list-item-img"
            src="./images/galery/pic5.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
      </li>
      <li class="galery__list-item">
        <div
          class="galery__list-item-img top-img galery__list-item-img-container"
        >
          <img
            class="galery__list-item-img"
            src="./images/galery/pic6.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
        <div class="galery__list-item-img galery__list-item-img-container">
          <img
            class="galery__list-item-img"
            src="./images/galery/pic7.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
      </li>
      <li class="galery__list-item">
        <div
          class="galery__list-item-img top-img galery__list-item-img-container"
        >
          <img
            class="galery__list-item-img"
            src="./images/galery/pic8.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
        <div class="galery__list-item-img galery__list-item-img-container">
          <img
            class="galery__list-item-img"
            src="./images/galery/pic9.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
      </li>
      <li class="galery__list-item galery__list-item-img-container">
        <div class="galery__list-item-img">
          <img
            class="galery__list-item-img"
            src="./images/galery/pic10.jpg"
            alt="Sweety pic"
            width="259"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
