<section>
    <picture>
        <source srcset="../src/images/gallery/gallery-320.webp 1x, ../src/images/gallery/gallery-640.webp 2x"
            media="(min-width:320px)" type="image/webp">
        <source srcset="../src/images/gallery/gallery-320.jpg 1x, ../src/images/gallery/gallery-640.jpg 2x"
            media="(min-width:320px)">

        <source srcset="../src/images/gallery/gallery-768.webp 1x, ../src/images/gallery/gallery-1536.webp 2x"
            media="(min-width:768px)" type="image/webp">
        <source srcset="../src/images/gallery/gallery-768.jpg 1x, ../src/images/gallery/gallery-1536.jpg 2x"
            media="(min-width:768px)">

        <source srcset="../src/images/gallery/gallery-1280.webp 1x, ../src/images/gallery/gallery-2560.webp 2x"
            media="(min-width:1200px)" type="image/webp">
        <source srcset="../src/images/gallery/gallery-1280.jpg 1x, ../src/images/gallery/gallery-2560.jpg 2x"
            media="(min-width:1200px)">
        <img class="gallery" src="../src/images/gallery/gallery-768.jpg" alt="колаж фоток">
    </picture>

</section>