<section class="gallery">
    <div class="container">
            <h2 class="visually-hidden">gallery</h2>
        <picture>
            <source srcset="./images/img-gallery/gallery-desctop.jpg 1x, ./images/img-gallery/gallery-desctop@2x.jpg 2x"
                media="(min-width:1200px)">
            
            <source srcset="./images/img-gallery/gallery-tablet.jpg 1x, ./images/img-gallery/gallery-tablet@2x.jpg 2x"
                media="(min-width:768px)">
            
            <source srcset="./images/img-gallery/gallery-mobile.jpg 1x, ./images/img-gallery/gallery-mobile@2x.jpg 2x">
            
            <img class="gallery--img" src="./images/img-gallery/gallery-mobile.jpg" alt="photo collage">
        </picture>
    </div>
</section>