<section class="gallery">
  <div class="container">
    <div class="grid">
      <div class="gallery-1">
        <div class="box1">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img1-d-1x.jpg,
                  images/gallery/img1-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img1-t-1x.jpg,
                  images/gallery/img1-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                srcset="
                  images/gallery/img1-m-1x.jpg,
                  images/gallery/img1-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img1-d-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back  ">
            <p class="text-back">All creamy</p>
          </div>
        </div>
      </div>
      <div class="gallery-2">
        <div class="box2">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img2-d-1x.jpg,
                  images/gallery/img2-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img2-t-1x.jpg,
                  images/gallery/img2-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img2-m-1x.jpg,
                  images/gallery/img2-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img2-m-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">Pure joy</p>
          </div>
        </div>
        <div class="box3">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img3-d-1x.jpg,
                  images/gallery/img3-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img3-t-1x.jpg,
                  images/gallery/img3-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img3-m-1x.jpg,
                  images/gallery/img3-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img3-m-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">The sweetest choice</p>
          </div>
        </div>
      </div>
      <div class="gallery-3">
        <div class="box4">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img4-d-1x.jpg,
                  images/gallery/img4-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img4-t-1x.jpg,
                  images/gallery/img4-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img4-m-1x.jpg,
                  images/gallery/img4-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img4-m-1x.jpg "
                alt="Ice-cream"
                class="gallery-img"
                loading="lazy"
                width="90"
                height="90"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">Feel the joy of Childhood return</p>
          </div>
        </div>
        <div class="box5">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img5-d-1x.jpg,
                  images/gallery/img5-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img5-t-1x.jpg,
                  images/gallery/img5-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img5-m-1x.jpg,
                  images/gallery/img5-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img5-m-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">Love youreself</p>
          </div>
        </div>
      </div>
      <div class="gallery-4">
        <div class="box6">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img6-d-1x.jpg,
                  images/gallery/img6-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img6-t-1x.jpg,
                  images/gallery/img6-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img6-m-1x.jpg,
                  images/gallery/img6-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img6-m-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">Naturally made</p>
          </div>
        </div>
        <div class="box7">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img7-d-1x.jpg,
                  images/gallery/img7-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img7-t-1x.jpg,
                  images/gallery/img7-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img7-m-1x.jpg,
                  images/gallery/img7-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img7-m-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">Share happy</p>
          </div>
        </div>
      </div>
      <div class="gallery-5">
        <div class="box8">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img8-d-1x.jpg,
                  images/gallery/img8-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img8-t-1x.jpg,
                  images/gallery/img8-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img8-m-1x.jpg,
                  images/gallery/img8-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img8-m-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">Enjoy and relax</p>
          </div>
        </div>
        <div class="box9">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img9-d-1x.jpg,
                  images/gallery/img9-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img9-t-1x.jpg,
                  images/gallery/img9-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img9-m-1x.jpg,
                  images/gallery/img9-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img9-m-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">Treat youreself</p>
          </div>
        </div>
      </div>
      <div class="gallery-6">
        <div class="box10">
          <div class="box-face front">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  images/gallery/img10-d-1x.jpg,
                  images/gallery/img10-d-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/gallery/img10-t-1x.jpg,
                  images/gallery/img10-t-2x.jpg
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  images/gallery/img10-m-1x.jpg,
                  images/gallery/img10-m-2x.jpg
                "
                type="image/jpg"
              />
              <img
                scrset="images/gallery/img10-m-1x.jpg"
                alt="Ice-cream"
                class="gallery-img"
                width="44"
                height="44"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="box-face back ">
            <p class="text-back">Love at first bite</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
