
<section class="section-gallery">
            <div class="container-gallery">
                <div class="text-gallery">
                    <svg class="icon-gallery" width="60" height="1" viewBox="0 0 60 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="60" width="1" height="60" transform="rotate(90 60 0)" fill="#303030"/>
                    </svg>
                    <p>На латинском языке “барба” означает “борода”</p></div>
             <ul class="list-gallery">
                <li class="item-gallery">
                    <picture>
                        <source srcset="./images/gallery-img1-480.jpg 1x,
                        ./images/gallery-img1-480@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)">
                        <source srcset="./images/gallery-img1-768.jpg 1x,
                        ./images/gallery-img1-768@2x.jpg 2x" type="image/jpg" media="(max-width: 1199px)" >
                        <source srcset="./images/gallery-img1-1200.jpg 1x,
                        ./images/gallery-img1-1200@2x.jpg 2x" type="image/jpg" media="(min-width: 1200px)" >
                        <img src="./images/gallery-img1-480.jpg" alt="Barber in work">
                    </picture>
                </li>
                <li class="item-gallery">
                    <picture>
                        <source srcset="./images/gallery-img2-480.jpg 1x,
                        ./images/gallery-img2-480@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)">
                        <source srcset="./images/gallery-img2-768.jpg 1x,
                        ./images/gallery-img2-768@2x.jpg 2x" type="image/jpg" media="(max-width: 1199px)" >
                        <source srcset="./images/gallery-img2-1200.jpg 1x,
                        ./images/gallery-img2-1200@2x.jpg 2x" type="image/jpg" media="(min-width: 1200px)" >
                        <img src="./images/gallery-img2-480.jpg" alt="Barber in work">
                    </picture>
                </li>
                <li class="item-gallery">
                    <picture>
                        <source srcset="./images/gallery-img3-480.jpg 1x,
                        ./images/gallery-img3-480@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)">
                        <source srcset="./images/gallery-img3-768.jpg 1x,
                        ./images/gallery-img3-768@2x.jpg 2x" type="image/jpg" media="(max-width: 1199px)" >
                        <source srcset="./images/gallery-img3-1200.jpg 1x,
                        ./images/gallery-img3-1200@2x.jpg 2x" type="image/jpg" media="(min-width: 1200px)" >
                        <img src="./images/gallery-img3-480.jpg" alt="Barber in work">
                    </picture>
                </li>
                <li class="item-gallery">
                    <picture>
                        <source srcset="./images/gallery-img4-480.jpg 1x,
                        ./images/gallery-img4-480@2x.jpg 2x" type="image/jpg" media="(max-width: 767px)">
                        <source srcset="./images/gallery-img4-768.jpg 1x,
                        ./images/gallery-img4-768@2x.jpg 2x" type="image/jpg" media="(max-width: 1199px)" >
                        <source srcset="./images/gallery-img4-1200.jpg 1x,
                        ./images/gallery-img4-1200@2x.jpg 2x" type="image/jpg" media="(min-width: 1200px)" >
                        <img src="./images/gallery-img4-480.jpg" alt="Barber in work">
                    </picture>
                </li>

            </ul>
        </div>

        </section>