<section class="gallery section" id="gallery">
  <div class="container">
    <h2 class="visually-hidden">Галерея</h2>
    <p class="suptitle gallery-suptitle">
      На латинском языке “барба” означает “борода”
    </p>
    <ul class="gallery-list list">
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-desktop/gallery-desktop-01.webp    1x,
              ./img/gallery/gallery-desktop/gallery-desktop-01@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-desktop/gallery-desktop-01.jpg    1x,
              ./img/gallery/gallery-desktop/gallery-desktop-01@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-tablet/gallery-tablet-01.webp    1x,
              ./img/gallery/gallery-tablet/gallery-tablet-01@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-tablet/gallery-tablet-01.jpg    1x,
              ./img/gallery/gallery-tablet/gallery-tablet-01@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-mobile/gallery-mobile-01.webp    1x,
              ./img/gallery/gallery-mobile/gallery-mobile-01@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-mobile/gallery-mobile-01.jpg    1x,
              ./img/gallery/gallery-mobile/gallery-mobile-01@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./img/gallery/gallery-mobile/gallery-mobile-01.jpg"
            alt="Модная стрижка"
            class="img"
            load="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-desktop/gallery-desktop-02.webp    1x,
              ./img/gallery/gallery-desktop/gallery-desktop-02@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-desktop/gallery-desktop-02.jpg    1x,
              ./img/gallery/gallery-desktop/gallery-desktop-02@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-tablet/gallery-tablet-02.webp    1x,
              ./img/gallery/gallery-tablet/gallery-tablet-02@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-tablet/gallery-tablet-02.jpg    1x,
              ./img/gallery/gallery-tablet/gallery-tablet-02@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-mobile/gallery-mobile-02.webp    1x,
              ./img/gallery/gallery-mobile/gallery-mobile-02@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-mobile/gallery-mobile-02.jpg    1x,
              ./img/gallery/gallery-mobile/gallery-mobile-02@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./img/gallery/gallery-mobile/gallery-mobile-02.jpg"
            alt="Стильная борода"
            class="img"
            load="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-desktop/gallery-desktop-03.webp    1x,
              ./img/gallery/gallery-desktop/gallery-desktop-03@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-desktop/gallery-desktop-03.jpg    1x,
              ./img/gallery/gallery-desktop/gallery-desktop-03@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-tablet/gallery-tablet-03.webp    1x,
              ./img/gallery/gallery-tablet/gallery-tablet-03@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-tablet/gallery-tablet-03.jpg    1x,
              ./img/gallery/gallery-tablet/gallery-tablet-03@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-mobile/gallery-mobile-03.webp    1x,
              ./img/gallery/gallery-mobile/gallery-mobile-03@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-mobile/gallery-mobile-03.jpg    1x,
              ./img/gallery/gallery-mobile/gallery-mobile-03@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./img/gallery/gallery-mobile/gallery-mobile-03.jpg"
            alt="Уход за бородой"
            class="img"
            load="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="
              ./img/gallery/gallery-desktop/gallery-desktop-04.webp    1x,
              ./img/gallery/gallery-desktop/gallery-desktop-04@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-desktop/gallery-desktop-04.jpg    1x,
              ./img/gallery/gallery-desktop/gallery-desktop-04@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-tablet/gallery-tablet-04.webp    1x,
              ./img/gallery/gallery-tablet/gallery-tablet-04@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-tablet/gallery-tablet-04.jpg    1x,
              ./img/gallery/gallery-tablet/gallery-tablet-04@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-mobile/gallery-mobile-04.webp    1x,
              ./img/gallery/gallery-mobile/gallery-mobile-04@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/gallery/gallery-mobile/gallery-mobile-04.jpg    1x,
              ./img/gallery/gallery-mobile/gallery-mobile-04@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./img/gallery/gallery-mobile/gallery-mobile-04.jpg"
            alt="Бритье шеи"
            class="img"
            load="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
