<section class="gallery">
  <div class="container">
  <div class="gallery-1">
    <div class="card1">
        <div class="card-side front">
          <picture>
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/pic1-d-1x.jpg, 
            /src/images/gallery/pic1-d-2x.jpg,
            /src/images/gallery/pic1-d-3x.jpg"
            type="image"
            />
            <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic1-t-1x.jpg,
                    /src/images/gallery/pic1-t-2x.jpg,
                    /src/images/gallery/pic1-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic1-m-1x.jpg,
                    /src/images/gallery/pic1-m-2x.jpg,
                    /src/images/gallery/pic1-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic1-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="card-side back">
          <p class="text-back">All creamy</p>
        </div>
      </div>
  </div>
  <div class="gallery-2">
    <div class="box2">
        <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic10-d-1x.jpg, 
                  /src/images/gallery/pic10-d-2x.jpg,
                  /src/images/gallery/pic10-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic10-t-1x.jpg,
                    /src/images/gallery/pic10-t-2x.jpg,
                    /src/images/gallery/pic10-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic10-m-1x.jpg,
                    /src/images/gallery/pic10-m-2x.jpg,
                    /src/images/gallery/pic10-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic10-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">Pure joy</p>
        </div>
      </div>
    </div>
    <div class="box3">
       <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic3-d-1x.jpg, 
                  /src/images/gallery/pic3-d-2x.jpg,
                  /src/images/gallery/pic3-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic3-t-1x.jpg,
                    /src/images/gallery/pic3-t-2x.jpg,
                    /src/images/gallery/pic3-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic3-m-1x.jpg,
                    /src/images/gallery/pic3-m-2x.jpg,
                    /src/images/gallery/pic3-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic3-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">The sweetest choice </p>
        </div> 
    </div>
  </div>
  <div class="gallery-3">
    <div class="box4">
        <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic4-d-1x.jpg, 
                  /src/images/gallery/pic4-d-2x.jpg,
                  /src/images/gallery/pic4-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic4-t-1x.jpg,
                    /src/images/gallery/pic4-t-2x.jpg,
                    /src/images/gallery/pic4-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic4-m-1x.jpg,
                    /src/images/gallery/pic4-m-2x.jpg,
                    /src/images/gallery/pic4-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic4-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">Feel the joy of Childhood return </p>
        </div>
    </div>
    <div class="box5">
        <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic5-d-1x.jpg, 
                  /src/images/gallery/pic5-d-2x.jpg,
                  /src/images/gallery/pic5-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic5-t-1x.jpg,
                    /src/images/gallery/pic5-t-2x.jpg,
                    /src/images/gallery/pic5-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic5-m-1x.jpg,
                    /src/images/gallery/pic5-m-2x.jpg,
                    /src/images/gallery/pic5-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic5-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">Love youreself</p>
        </div>
    </div>
  </div>
  <div class="gallery-4">
    <div class="box6">
        <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic6-d-1x.jpg, 
                  /src/images/gallery/pic6-d-2x.jpg,
                  /src/images/gallery/pic6-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic6-t-1x.jpg,
                    /src/images/gallery/pic6-t-2x.jpg,
                    /src/images/gallery/pic6-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic6-m-1x.jpg,
                    /src/images/gallery/pic6-m-2x.jpg,
                    /src/images/gallery/pic6-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic6-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">Naturally made</p>
        </div>
    </div>
    <div class="box7">
        <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic7-d-1x.jpg, 
                  /src/images/gallery/pic7-d-2x.jpg,
                  /src/images/gallery/pic7-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic7-t-1x.jpg,
                    /src/images/gallery/pic7-t-2x.jpg,
                    /src/images/gallery/pic7-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic7-m-1x.jpg,
                    /src/images/gallery/pic7-m-2x.jpg,
                    /src/images/gallery/pic7-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic7-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">Share happy</p>
        </div>
    </div>
  </div>
  <div class="gallery-5">
    <div class="box8">
        <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic8-d-1x.jpg, 
                  /src/images/gallery/pic8-d-2x.jpg,
                  /src/images/gallery/pic8-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic8-t-1x.jpg,
                    /src/images/gallery/pic8-t-2x.jpg,
                    /src/images/gallery/pic8-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic8-m-1x.jpg,
                    /src/images/gallery/pic8-m-2x.jpg,
                    /src/images/gallery/pic8-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic8-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">Enjoy and relax</p>
        </div>
    </div>
    <div class="box9">
        <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic9-d-1x.jpg, 
                  /src/images/gallery/pic9-d-2x.jpg,
                  /src/images/gallery/pic9-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic9-t-1x.jpg,
                    /src/images/gallery/pic9-t-2x.jpg,
                    /src/images/gallery/pic9-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic9-m-1x.jpg,
                    /src/images/gallery/pic9-m-2x.jpg,
                    /src/images/gallery/pic9-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic9-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">Treat youreself</p>
        </div>
      </div>
  </div>
  <div class="gallery-6">
    <div class="box10">
        <div class="box-face">
            <picture>
              <source media="(min-width: 1200px)" 
                srcset="
                  /src/images/gallery/pic2-d-1x.jpg, 
                  /src/images/gallery/pic2-d-2x.jpg,
                  /src/images/gallery/pic2-d-3x.jpg"
                  type="image"
              />
              <source
                  media="(min-width: 768px)"
                  srcset="
                    /src/images/gallery/pic2-t-1x.jpg,
                    /src/images/gallery/pic2-t-2x.jpg,
                    /src/images/gallery/pic2-t-3x.jpg"
                    type="image"
                />
              <source
                  media="(min-width: 320px)"
                  srcset="
                    /src/images/gallery/pic2-m-1x.jpg,
                    /src/images/gallery/pic2-m-2x.jpg,
                    /src/images/gallery/pic2-m-3x.jpg"
                    type="image"
                />
                <img src="/src/images/gallery/pic2-m-1x.jpg" alt=" icecream " class="gallery-img">
            </picture>
        </div>
        <div class="box-back">
          <p class="text-back">Love at first bite</p>
        </div>
    </div>
  </div>
</div>
</section>
