<section class="garantee">
  <div class="container-title">
    <h2 class="garantee-title title">Мы гарантируем</h2>
  </div>
  <div class="container">
    <ul class="garantee-list">
      <li class="garantee-list-item">
        <p class="garantee-list-item__text">
          Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
          тестировании. Иначе мы вернем деньги
          <span class="span-accent-color">*</span>
        </p>
      </li>
      <li class="garantee-list-item">
        <p class="garantee-list-item__text">
          Ты научишься писать сочинения минимум на 10 баллов из 14.<span
            class="span-accent-color"
          >
            В то время как 20% учеников получили за сочинение 0.</span
          >
        </p>
      </li>
      <li class="garantee-list-item">
        <p class="garantee-list-item__text">
          Ты будешь заниматься в своем районе. Мы выберем место проведения
          занятий после формирования команд.
        </p>
      </li>
      <li class="garantee-list-item">
        <p class="garantee-list-item__text">
          Команды будут сформированы, исходя из начального уровня учеников. Мы
          учитываем особенности каждого ученика.
        </p>
      </li>
    </ul>
  </div>
</section>
