<section class="guarantee" id="we-guarantee">

    <h2 class="guarantee-header">Мы гарантируем</h2>
    <div class="container">
        <ul class="guarantee-list">
            <li class="guarantee-item">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги. <span>*</span></li>
            <li class="guarantee-item">Ты научишься писать сочинения минимум на 10 баллов из 14. В то время как 20% учеников получили за сочинение 0.</li>
            <li class="guarantee-item">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</li>
            <li class="guarantee-item">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</li>
        </ul>
    </div>
</section>