<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="HARVEST BOX" />
        <title>Team Project 01</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/src/sass/_gotyoucovered.scss" />

    </head>

<body>

<section class="got-you-covered">
    <div class="container">
        <h2>Fresh Harvest Box has<br> got you covered</h2>
        <div class="got-you-covered-images">
            <li class="got-you-covered-images"><img src="/src/images/melon.png" alt="" /> 
            </li>
            <li class="got-you-covered-images"><img src="/src/images/black.png" alt="" />
            </li>
        </div>
        <div class="paragraph">
            <p>Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for<br> anyone looking to eat healthier or
            support local farmers. Order your box today and<br> start enjoying the best that nature has to offer!</p>
        </div>
        <div>

        </div>
    </div>
</section>
</body>
</html>