<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="HARVEST BOX" />
        <title>Team Project 01</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/src/sass/_gotyoucovered.scss" />

    </head>

<body>

<section class="got-you-covered">
    <div class="container">
        
        <div class="desktop-got-you-covered-images">
            <li class="melon"><img src="/src/images/melon.png" alt="" width="792px" /> 
            </li>
            <li class="black"><img src="/src/images/black.png" alt="" width="400px" />
            </li>
            <h2>Fresh Harvest Box has<br> got you covered</h2>
        </div>
        
        <div class="tablet-got-you-covered-images">
            <li class="melon-tablet"><img src="/src/images/melon-tablet.png" alt="" width="344px" />
            </li>
            <li class="black-tablet"><img src="/src/images/black-tablet.png" alt="" width="344px" />
            </li>
            <h2>Fresh Harvest Box has<br> got you covered</h2>
        </div>
        <div class="mobile-got-you-covered-images">
            <li class="melon-tablet"><img src="/src/images/melon-tablet.png" alt="" width="344px" />
            </li>
            
            <h2>Fresh Harvest Box<br> has got you<br> covered</h2>
        </div>
        <div class="paragraph">
            <p>Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for<br> anyone looking to eat healthier or
            support local farmers. Order your box today and<br> start enjoying the best that nature has to offer!</p>
        </div>
        <div class="got-you-covered-form">
            <form>
                <input type="text" placeholder="Enter email" class="got-you-covered-input-sub" />
                <button class="got-you-covered-btn-sub">
                    Send
                    
                </button>
            </form>
        </div>
    </div>
</section>
</body>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
crossorigin="anonymous"></script>

</html>