<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>

  <body>
    <section class="graduates-section">
      <div class="graduates-container container">
        <h2 class="graduates-title">Отзывы выпускников</h2>
        <div class="graduates-active-item">
          <div class="graduates-img-svg">
            <div class="graduates-content-img">
              <img
                src="./images/mobile/graduates1.png"
                srcset="./images/mobile/graduates1@2x.png"
                alt="Тоня Кучеровская"
                class="graduates-person"
              />
            </div>
            <div class="svg-style">
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="vk-svg-style">
                  <use xlink:href="./images/svg/sprite.svg#icon-vk-logo" />
                </svg>
              </a>
            </div>
          </div>

          <div class="graduates-about">
            <h3 class="graduates-name-title">Тоня Кучеровская</h3>
            <p class="graduates-info-fonts">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="graduates-fonts">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <button class="graduates-button">Читать дальше</button>
            </p>
          </div>
        </div>
        <div class="graduates-group-slider">
          <ul class="graduates-person-list">
            <li class="graduates-person-item">
              <button>
                <img
                  src="./images/mobile/graduates2.png"
                  srcset="./images/mobile/graduates2@2x.png"
                  alt="2"
                  class="graduates-persons-style"
                />
              </button>
            </li>
            <li class="graduates-person-item">
              <button>
                <img
                  src="./images/mobile/graduates3.png"
                  srcset="./images/mobile/graduates3@2x.png"
                  alt="3"
                  class="graduates-persons-style"
                />
              </button>
            </li>
            <li class="graduates-person-item">
              <button>
                <img
                  src="./images/mobile/graduates4.png"
                  srcset="./images/mobile/graduates4@2x.png"
                  alt="4"
                  class="graduates-persons-style"
                />
              </button>
            </li>
            <li class="graduates-person-item graduates-hidden">
              <button>
                <img
                  src="./images/mobile/graduates5.png"
                  srcset="./images/mobile/graduates5@2x.png"
                  alt="2"
                  class="graduates-persons-style"
                />
              </button>
            </li>
            <li class="graduates-person-item graduates-hidden">
              <button>
                <img
                  src="./images/mobile/graduates6.png"
                  srcset="./images/mobile/graduates6@2x.png"
                  alt="3"
                  class="graduates-persons-style"
                />
              </button>
            </li>
            <li class="graduates-person-item graduates-hidden">
              <button>
                <img
                  src="./images/mobile/graduates7.png"
                  srcset="./images/mobile/graduates7@2x.png"
                  alt="4"
                  class="graduates-persons-style"
                />
              </button>
            </li>
            <li class="graduates-person-item graduates-hidden">
              <button>
                <img
                  src="./images/mobile/graduates8.png"
                  srcset="./images/mobile/graduates8@2x.png"
                  alt="4"
                  class="graduates-persons-style"
                />
              </button>
            </li>
          </ul>
          <button class="left-slider">
            <svg xmlns="http://www.w3.org/2000/svg" class="arrow-style">
              <use xlink:href="./images/svg/sprite.svg#icon-arrow-left" />
            </svg>
          </button>
          <button class="right-slider">
            <svg xmlns="http://www.w3.org/2000/svg" class="arrow-style">
              <use xlink:href="./images/svg/sprite.svg#icon-arrow-right" />
            </svg>
          </button>
        </div>
      </div>
    </section>

    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
  </body>
</html>
