<section class="container-section">
  <div class="green-bronze">
    <h4 class="section-header">New watches</h4>
    <h2 class="main-title-green">Green And Bronze—The Match Made In Heaven</h2>

    <!--

    <ul class="watch-shooting-1">
      <li>
        <div>
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/hand-green-desktop.jpg    1x,
                ./images/hand-green-desktop-2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hand-green-tableta.jpg,
                ./images/hand-green-table-2x.jpg
              "
            />

            <source
              media="(max-width: 768px)"
              srcset="
                ./images/hand-green-mobile.jpg,
                ./images/watch-green-mobile.jpg
              "
            />

            <img
              class="sliding watch"
              src="./images/hand-green-mobile.jpg"
              alt="watch"
            />

            <img
              class="sliding watch"
              src="./images/watch-green-mobile.jpg"
              alt="watch"
            />
          </picture>
        </div>
      </li>
    </ul>
    -->
    <div class="presentation-picture">
      <img
        class="sliding new-watches"
        src="./images/hand-green-mobile.jpg"
        alt="watch"
      />

      <img
        class="sliding new-watches"
        src="./images/green-watch.png"
        alt="green-watch"
      />
    </div>
  </div>
</section>

<section class="container-sale">
  <div class="sale-div">
    <h2 class="sale">Sale</h2>
  </div>
  <div class="sales_images">
    <ul class="sales_images_list">
      <li>
        <img
          class="sale_image"
          src="./images/representation-1.svg"
          alt="Watch"
        />
      </li>
      <li>
        <img
          class="sale_image"
          src="./images/representation-2.png"
          alt="watch"
        />
      </li>
      <li>
        <img
          class="sale_image"
          src="./images/representation-3.png"
          alt="watch"
        />
      </li>
      <li>
        <img
          class="sale_image"
          src="./images/representation-4.png"
          alt="watch"
        />
      </li>
    </ul>
    <img src="./images/big-plan.png" alt="big-plan" class="sale_image_big" />

    <div class="sale_info_container">
      <div class="sale_info_box">
        <div class="info-watch">
          <h2 class="watch-s-name">Greenlane Watch By Police For MenHT</h2>
          <h4 class="product-tag">Product tag: PEWJK2227003</h4>
          <h4 class="price-now">€700</h4>
          <h4 class="old-price">€1000</h4>
        </div>
      </div>
      <div class="sale_info_box">
        <div class="Description">
          <h2 class="title">Description</h2>
        </div>
        <div class="description-nav border-nav">
          <p>
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
      </div>
      <div class="sale_info_box">
        <div class="DETAILS-FEATURESTION">
          <h1 class="details">DETAILS & FEATURESTION</h1>
        </div>
        <div class="details-description">
          <ul>
            <li>Gender: man</li>
            <li>Size: 46x54.5mm</li>
            <li>Case Colour: Steel</li>
            <li>Band Material: Metal</li>
            <li>Case Material: Metal</li>
            <li>Features: Multifunction</li>
            <li>Water Resistant: 5 (ATM)</li>
            <li>Band Colour: Steel</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
