<section class="container-section">
  <div class="green-bronze">
    <h4 class="section-header">New watches</h4>
    <h2 class="main-title-green">Green And Bronze—The Match Made In Heaven</h2>

    <div class="presentation-picture">
      <img
        class="sliding new-watches"
        src="./images/hand-green-mobile.jpg"
        alt="watch"
      />

      <img
        class="sliding new-watches"
        src="./images/green-watch.png"
        alt="green-watch"
      />
    </div>
  </div>
</section>
