<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
  </head>
  <body>
    <section class="container-section">
      <h4 class="section-header">New watches</h4>
      <h2 class="main-title">Green And Bronze—The Match Made In Heaven</h2>
      <div class="watch-shooting-1">
        <ul class="watch-shooting-1">
          <li>
            <img
              src="./images/man-s-hand.png"
              alt="watch on the hand"
              width="335px"
              height="260px"
            />
          </li>
          <li>
            <img
              src="./images/green-watch.png"
              alt="green-watch"
              width="335px"
              height="260px"
            />
          </li>
        </ul>
      </div>
    </section>

    <section class="container-sale">
      <div class="sale-div">
        <h2 class="sale">Sale</h2>
      </div>
      <div class="images">
        <div class="blocks">
          <ul class="watch-shooting-2">
            <li>
              <img src="./images/representation-1.svg" alt="Watch" />
            </li>
            <li>
              <img src="./images/representation-2.png" alt="watch" />
            </li>
            <li>
              <img src="./images/representation-3.png" alt="watch" />
            </li>
            <li>
              <img src="./images/representation-4.png" alt="watch" />
            </li>
          </ul>
        </div>
        <div class="big-plan">
          <ul class="big">
            <li>
              <img
                src="./images/big-plan.png"
                alt="big-plan"
                width="235px"
                height="350px"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="info-watch">
        <h2 class="watch-s-name">Greenlane Watch By Police For MenHT</h2>
        <h4 class="product-tag">Product tag: PEWJK2227003</h4>
        <h4 class="price-now">€700</h4>
        <h4 class="old-price">€1000</h4>
      </div>
      <div class="Description">
        <h2 class="title">Description</h2>
      </div>
      <div class="description-nav border-nav">
        <p>
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="DETAILS-FEATURESTION">
        <h1 class="details">DETAILS & FEATURESTION</h1>
      </div>
      <div class="details-description">
        <ul>
          <li>Gender: man</li>
          <li>Size: 46x54.5mm</li>
          <li>Case Colour: Steel</li>
          <li>Band Material: Metal</li>
          <li>Case Material: Metal</li>
          <li>Features: Multifunction</li>
          <li>Water Resistant: 5 (ATM)</li>
          <li>Band Colour: Steel</li>
        </ul>
      </div>
    </section>
  </body>
</html>
