<section class="guaranties-section">
  <div class="container">
    <h2 class="guaranties-title">Мы гарантируем</h2>
    <div class="guaranties-wraper">
      <ul class="guaranties-list list">
        <li class="guaranties-item">
          Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
          тестировании. Иначе мы вернем деньги.<span class="guaranties-color"
            >*</span
          >
        </li>
        <li class="guaranties-item">
          Ты научишься писать сочинения минимум на 10 баллов из 14.
          <span class="guaranties-color">
            В то время как 20% учеников получили за сочинение 0.</span
          >
        </li>
        <li class="guaranties-item">
          Ты будешь заниматься в своем районе. Мы выберем место проведения
          занятий после формирования команд.
        </li>
        <li class="guaranties-item">
          Команды будут сформированы, исходя из начального уровня учеников. Мы
          учитываем особенности каждого ученика.
        </li>
      </ul>
    </div>
  </div>
</section>
