<section class="guarantees">
    <h1 class="guarantees__header">Мы гарантируем</h1>
    <div class="guarantees__body" >
        <ul class="guarantees__list">
            <li class="guarantees__item">
                <div class="guarantees__icon">
                    <img class="guarantees__iconFire" src="./images/svg/fire.svg" alt="Иконка fire" >
                    <img class="guarantees__iconDashed" src="./images/svg/dashed-big.svg" alt="Иконка dashed">
                </div>
                <p class="guarantees__text">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги. <span class="guarantees__text--color">*</span> </p> 
            </li> 
            <li class="guarantees__item">
                <div class="guarantees__icon">
                    <img class="guarantees__iconFire" src="./images/svg/fire.svg" alt="Иконка fire">
                    <img class="guarantees__iconDashed" src="./images/svg/dashed-big.svg" alt="Иконка dashed">
                </div>
                <p class="guarantees__text">Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="guarantees__text--color">В то время как 20%
                    учеников получили за сочинение 0.</span></p>
            </li>
            <li class="guarantees__item">
                <div class="guarantees__icon">
                    <img class="guarantees__iconFire" src="./images/svg/fire.svg" alt="Иконка fire">
                    <img class="guarantees__iconDashed" src="./images/svg/dashed-big.svg" alt="Иконка dashed">
                </div>
                <p class="guarantees__text">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</p>
            </li>
            <li class="guarantees__item">
                <div class="guarantees__icon">
                    <img class="guarantees__iconFire" src="./images/svg/fire.svg" alt="Иконка fire">
                    <!-- <img class="guarantees__iconDashed" src="./images/svg/dashed-litle.svg" alt="Иконка dashed"> -->
                </div>
                <p class="guarantees__text">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</p>
            </li>
         </ul>
    </div>
</section>