<section class="section-guarantee">
    <div class="container">
        <h2 class="guarantee-title">Мы гарантируем</h2>
        <ul class="guarantee-list list">
            <li class="guarantee-item">
                <div class="guarantee-wrap guarantee-wrap-before">
                    <svg class="guarantee-icon">
                        <use href="./images/symbols.svg#icon-fire" width="15" height="20"></use>
                    </svg>
                    <p class="guarantee-paragraph">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.<span class="guarantee-accent">*</span></p>
                </div>
            </li>
            <li class="guarantee-item">
                <div class="guarantee-wrap guarantee-wrap-before">
                    <svg class="guarantee-icon">
                        <use href="./images/symbols.svg#icon-fire" width="15" height="20"></use>
                    </svg>
                    <p class="guarantee-paragraph">Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="guarantee-accent">В то время как 20% учеников получили за сочинение 0.</span></p>
                </div>
            </li>
            <li class="guarantee-item">
                <div class="guarantee-wrap guarantee-wrap-before">
                    <svg class="guarantee-icon">
                        <use href="./images/symbols.svg#icon-fire" width="15" height="20"></use>
                    </svg>
                    <p class="guarantee-paragraph">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</p>
                </div>
            </li>
            <li class="guarantee-item">
                <div class="guarantee-wrap  ">
                    <svg class="guarantee-icon">
                        <use href="./images/symbols.svg#icon-fire" width="15" height="20"></use>
                    </svg>
                    <p class="guarantee-paragraph">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</p>
                </div>
            </li>
        </ul>
    </div>
</section>