<section class="guarantee__section">
    <h2 class="guarantee__section-title">
        Мы гарантируем
    </h2>
    <div class="guarantee__container">
        <ul class="guarantee__list list">
            <li class="guarantee__list-item left__border">
                <svg class="svg_container">
                    <use href="../src/images/icons/icons-sprite.svg#icon-fire"></use>
                </svg>
                <span class="guarantee__list-text">
                    Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
                    тестировании. Иначе мы вернем деньги. <span class="orange__text">*</span>
                </span>  
            </li>
            <li class="guarantee__list-item left__border">
                <svg class="svg_container">
                    <use href="../src/images/icons/icons-sprite.svg#icon-fire"></use>
                </svg>
                <span class="guarantee__list-text">
                    Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="orange__text">В то время как
                    20% учеников получили за сочинение 0.</span>
                </span> 
            </li>
            <li class="guarantee__list-item left__border">
                <svg class="svg_container">
                    <use href="../src/images/icons/icons-sprite.svg#icon-fire"></use>
                </svg>
                <span class="guarantee__list-text">
                    Ты будешь заниматься в своем районе. Мы выберем место проведения занятий
                    после формирования команд.
                </span> 
            </li>
            <li class="guarantee__list-item">
                <svg class="svg_container">
                    <use href="../src/images/icons/icons-sprite.svg#icon-fire"></use>
                </svg>
                <span class="guarantee__list-text">
                    Команды будут сформированы, исходя из начального уровня учеников. Мы
                    учитываем особенности каждого ученика.
                </span> 
            </li>
        </ul>
    </div>
</section>