<section class="guarantees">
    <h1 class="guarantees__header">Мы гарантируем</h1>
    <div class="guarantees__body" >
        <ul class="guarantees__list">
            <li class="guarantees__item">
                <img src="./images/svg/fire.svg" alt="Иконка fire" width="22px" height="30px" >
                <img src="./images/svg/dashed-litle.svg" alt="Иконка dashed " width="1px" height="40px">
                <p class="guarantees__text">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги. <span class="guarantees__item--color">*</span> </p> </li> 
            <li>Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="guarantees__item--color">В то время как 20% учеников получили за сочинение 0.</span></li>
            <li>Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</li>
            <li>Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</li>
        </ul>
    </div>
</section>