<section class="guarantee section">
  <div class="container">
    <h2 class="lg">Мы гарантируем</h2>
    <ul class="guarantee-list list">
      <li class="guarantee-item fire">
        Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
        тестировании. Иначе мы вернем деньги.<span class="accent">*</span>
      </li>
      <li class="guarantee-item fire">
        Ты научишься писать сочинения минимум на 10 баллов из 14.
        <span class="accent"
          >В то время как 20% учеников получили за сочинение 0.</span
        >
      </li>
      <li class="guarantee-item fire">
        Ты будешь заниматься в своем районе. Мы выберем место проведения занятий
        после формирования команд.
      </li>
      <li class="guarantee-item fire">
        Команды будут сформированы, исходя из начального уровня учеников. Мы
        учитываем особенности каждого ученика.
      </li>
    </ul>
  </div>
</section>
