<!--guarantees-->

<section class="guarantees" id="guarantees">

    <div class="container">

     <h2 class="title guarantees-title">Мы гарантируем</h2>
   
         <ul class="guarantees-list list text-dark">
            <li class="guarantees-list-item ">
                <p class="guarantees-list-item-text">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.
                    <span class="text-color">*</span></p>
            </li>
            <li class="guarantees-list-item">
                <p class="guarantees-list-item-text">Ты научишься писать сочинения минимум на 10 баллов из 14.
                    <span class="text-color">В то время как 20% учеников получили за сочинение 0.</span>
                </p>
            </li>
            <li class="guarantees-list-item">
                <p class="guarantees-list-item-text">Ты будешь заниматься в своем районе. Мы выберем место проведения
                    занятий после формирования команд.
                </p>
            </li>
            <li class="guarantees-list-item">
                <p class="guarantees-list-item-text">Команды будут сформированы, исходя из начального уровня учеников.
                    Мы учитываем особенности каждого
                    ученика.</p>
            </li>
        </ul>
    </div>

</section>