
<!-- # Web-site: Simply Chocolate
     # Section: Header N Aside
     # Company: GoIt
     # Team: Team 8
     # Date: 17.08.2023
     # Files: HTML, CSS, JS
     # Author: Valentin Cristian Calota
     # Comment: Not sure what I'm doing yet!
     # Social media: Ig - @cristianvalentinx -->
<!-- Header -->
<div class="js-menu-container is-close">
  <button class="js-close-menu" type="button">
    <svg class="js-close-menu">
      <use href="./images/header-n-aside.svg#icon-x"></use>
    </svg>
  </button>
  <nav class="mobile-navigation-menu">
    <ul class="mobile-navigation-menu">
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu active" href="#home">Home</a>
      </li>
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu" href="#how-its-made"
          >How it&#8217;s made?</a
        >
      </li>
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu" href="#our-products">Our products</a>
      </li>
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu" href="#top-sellers">Top sellers</a>
      </li>
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu" href="#chocolate-its-loved"
          >Chocolate is loved</a
        >
      </li>
    </ul>
  </nav>
  <div class="mobile-social-media">
    <a href="https://www.instagram.com/">
      <svg class="mobile-social-media">
        <use href="./images/header-n-aside.svg#icon-instagram"></use>
      </svg>
    </a>
    <a href="https://www.twitter.com/">
      <svg class="mobile-social-media">
        <use href="./images/header-n-aside.svg#icon-twitter"></use>
      </svg>
    </a>
  </div>
</div>
<header>
  <div>
    <a class="logo" href="./index.html"
      >SIMPLY <span class="logo">CHOCOLATE</span></a
    >
    <svg class="logo">
      <use href="./images/header-n-aside.svg#icon-logo-chocolate"></use>
    </svg>
  </div>
  <nav class="navigation-menu">
    <ul class="navigation-menu">
      <li class="navigation-menu">
        <a class="navigation-menu active" href="#home">Home</a>
      </li>
      <li class="navigation-menu">
        <a class="navigation-menu" href="#how-its-made">How it&#8217;s made?</a>
      </li>
      <li class="navigation-menu">
        <a class="navigation-menu" href="#our-products">Our products</a>
      </li>
      <li class="navigation-menu">
        <a class="navigation-menu" href="#top-sellers">Top sellers</a>
      </li>
      <li class="navigation-menu">
        <a class="navigation-menu" href="#chocolate-its-loved">Chocolate is loved</a
        >
      </li>
    </ul>
  </nav>
  <div class="social-media">
    <a class="social-media" href="https://www.instagram.com/">
      <svg class="social-media">
        <use href="./images/header-n-aside.svg#icon-instagram"></use>
      </svg>
    </a>
    <a class="social-media" href="https://www.twitter.com/">
      <svg class="social-media">
        <use href="./images/header-n-aside.svg#icon-twitter"></use>
      </svg>
    </a>
  </div>
  <button class="js-open-menu">
    <svg class="mobile-menu">
      <use href="./images/header-n-aside.svg#icon-mobile-menu"></use>
    </svg>
  </button>
</header>
<!-- Aside(Hero) -->
<aside id="home">
  <h1>
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h1>
  <div class="aside">
    <div class="aside-buttons">
      <button sellers-data-modal-open class="buy-now">Buy now</button>
      <a class="to-how-its-made" href="#how-its-made">How it&#8217;s made</a>
    </div>
    <a class="scroll-down" href="#footer"
      >scroll down
      <svg class="scroll-down">
        <use href="./images/header-n-aside.svg#icon-scroll-arrow"></use>
      </svg>
    </a>
  </div>
</aside>

<!-- Benefits -->
<section class="benefits">
  <div class="benefits-container">
    <div class="benefits benefits-after">
      <div class="benefits-container-svg">
        <svg class="benefits">
          <use href="./images/header-n-aside.svg#icon-chocolate"></use>
        </svg>
      </div>
      <div class="benefits-text">
        <h3 class="benefits">Unsurpassed taste</h3>
        <p class="benefits">
          Crafted with the finest quality cocoa beans and a dedication to
          perfection&#8218; each bite is a decadent experience that simply
          cannot be matched&#8228; Savor the richness and complexity of our
          Unsurpassed Taste and discover a new level of chocolate bliss&#8228;
        </p>
      </div>
    </div>
    <div class="benefits benefits-after">
      <div class="benefits-container-svg">
        <svg class="benefits">
          <use href="./images/header-n-aside.svg#icon-coin"></use>
        </svg>
      </div>
      <div class="benefits-text">
        <h3 class="benefits">Affordable price</h3>
        <p class="benefits">
          Indulge in high&#8208;quality chocolate without breaking the bank with
          Simply Chocolate&#8217;s selection of affordable treats&#8228; Enjoy
          mouth&#8208; watering truffles and velvety chocolate bars without
          sacrificing taste or quality&#8228; Browse our selection and indulge
          in affordable luxury today&#8228;
        </p>
      </div>
    </div>
    <div class="benefits">
      <div class="benefits-container-svg">
        <svg class="benefits">
          <use href="./images/header-n-aside.svg#icon-spoon"></use>
        </svg>
      </div>
      <div class="benefits-text">
        <h3 class="benefits">Own production</h3>
        <p class="benefits">
          We take pride in our own production process, ensuring that every step
          is carefully crafted to perfection&#8228; From selecting the finest
          ingredients to handcrafting each piece&#8218; our attention to detail
          is evident in every bite&#8228;
        </p>
      </div>
    </div>
  </div>
</section>

