<header class="header" id="headers">
    <a class="button-to-up" href="#headers">
        <svg class="svg-for-up" width="20" height="20">
            <use href="/images/slide-sect/sprite.svg#up"></use>
        </svg>
    </a>
    <div class="header-hero container">
        <div class="header-container" id="header">
            <div class="div-logo">
                <a class="logo" href="">
                    <picture>
                        <source media="(min-width: 768px)" srcset="../src/images/header-hero/tablet/logo.png 1x, 
                             ../src/images/header-hero/tablet/logo@2x.png 2x">
                        <source media="(min-width: 1280px)" srcset="../src/images/header-hero/desktop/logo.png 1x, 
                             ../src/images/header-hero/desktop/logo@2x.png 2x">
                        <img src="../src/images/header-hero/mobile/logo.png" srcset="../src/images/header-hero/mobile/logo.png 1x, 
                            ../src/images/header-hero/mobile/logo@2x.png 2x" alt="logotype" width="199" height="50"
                            loading="lazy">
                    </picture>
                </a>
            </div>
            <div class="hidden-menu-mobile header-nav" id="hidden-menu-mobile" data-menu>
                <button class="button-buy" type="button" data-modal-open>Buy now<svg class="svg-button" width="6px"
                        height="8px">
                        <use href="../src/images/header-hero/sprite.svg#icon-Vector"></use>
                    </svg>
                </button>
                <nav>
                    <ul class="header-list">
                        <li class="header-item"><a class="nav-link" href="#header">Home</a></li>
                        <li class="header-item"><a class="nav-link" href="#galery">About
                                us</a></li>
                        <li class="header-item"><a class="nav-link" href="#how-it-made">How
                                it’s made?</a></li>
                        <li class="header-item"><a class="nav-link" href="#products">Our
                                products</a></li>
                        <li class="header-item"><a class="nav-link" href="#contacts">Contact</a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="div-menu">
                <button type="button" class="button-menu" data-menu-button>
                    <svg class="icons-for-menu" width="30" height="30">
                        <use class="icon-menu" href="../src/images/header-hero/sprite.svg#icon-menu">
                        </use>
                        <use class="menu-closed" href="../src/images/header-hero/sprite.svg#menu-closed"></use>
                    </svg>
                </button>
            </div>
            <div class="button-div" data-desk-modal-open>
                <button class="button-buy buy-desktop" type="button">Buy now<svg class="svg-button" width="6px"
                        height="8px">
                        <use href="../src/images/header-hero/sprite.svg#icon-Vector"></use>
                    </svg>
                </button>
            </div>
        </div>

        <!-- section hero -->

        <section class="hero-container">

            <div class="text-button-cont">
                <div class="hero-text">
                    <h1>ice cream made with <span>passion</span></h1>
                </div>

                <div class="hero-buttons">
                    <a  class="hero-btn-products" href="#product">Products</a>
                    <a  class="hero-btn-how" href="#how-it-mades">How it's made?</a>
                </div>
            </div>
            <div class="hero-bio-eco">
                <img class="milk-pic" srcset="../src/images/header-hero/tablet/d-header_milk@2x.png 2x"
                    src="../src/images/header-hero/tablet/d-header_milk.png" alt="milk picture">
                <p class="bio-eco-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et
                </p>
                <a class="hero-arrow" href="#">
                    <img class="hero-icon" src="/images/products/arrow-right.png" alt="">
                </a>
            </div>

            <div class="hero-box">
                <img class="hero-image" srcset="../src/images/header-hero/mobile/m-header_ice-cream@2x.png 2x"
                    src="../src/images/header-hero/mobile/m-header_ice-cream.png" alt="ice-cream picture">
            </div>

            <div class="cafes">
                <ul class="cafes-list">
                    <li class="cafes-item">
                        <span class="cafes-number">16</span>
                        <p class="cafes-text">cafes</p>
                    </li>
                    <li class="cafes-item">
                        <span class="cafes-number">23</span>
                        <p class="cafes-text">food trucks</p>
                    </li>
                </ul>
            </div>

            <img class="tasty-girl" srcset="../src/images/header-hero/tablet/d-header_girl@2x.png 2x"
                src="../src/images/header-hero/tablet/d-header_girl.png" alt="tasty girl image">


        </section>
    </div>
</header>

<!-- modal section  -->

<!--Desktop/Tablet-->
<div class="backdrop is-hidden" data-desk-backdrop>
    <div class="modal-purchase">
        <div class="modal-purchase-circle"></div>
        <button type="button" class="modal-purchase-close" data-desk-modal-close>
            <svg width="19" height="18">
                <use href="./images/modal-purchase/purchase-sprite.svg#close-purch"></use>
            </svg>
        </button>
        <h2 class=" modal-purchase-title">Submit your order now and get a discount of 15% </h2>

        <form class="modal-purchase-form">
            <div class="modal-purchase-input">
                <label class="modal-purchase-lable-txt" for="name-desk">Name</label>
                <input class="modal-purchase-input-label" type="text" id="name-desk" />
                <div class="modal-purchase-input-icon">
                    <svg width="18" height="18">
                        <use href="./images/modal-purchase/purchase-sprite.svg#user-purch"></use>
                    </svg>
                </div>
            </div>

            <div class="modal-purchase-input">
                <label class="modal-purchase-lable-txt" for="mail-desk">E-mail</label>
                <input class="modal-purchase-input-label" type="email" id="mail-desk" />
                <div class="modal-purchase-input-icon">
                    <svg width="18" height="18">
                        <use href="./images/modal-purchase/purchase-sprite.svg#envelope-purch"></use>
                    </svg>
                </div>
            </div>

            <div class="modal-purchase-input">
                <label class="modal-purchase-lable-txt" for="comment-desk">Comments</label>
                <textarea class="modal-purchase__comment-box" id="comment-desk" placeholder="Leave your comment"
                    rows="4" cols="8" style="margin: 0px 0px;"></textarea>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox-1" class="checkbox-old visually-hidden" />
                    <span class="checkbox-text">
                        I have read and agree to the
                        <a href=" " class="checkbox-link" title="Terms and Conditions">Terms &
                            Conditions.</a>
                    </span>
                    <span class="checkbox-icon">
                        <svg class="checkbox-icon-svg">
                            <use href="./images/modal-purchase/purchase-sprite.svg#check-purch"></use>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox-2" class="checkbox-old visually-hidden" checked />
                    <span class="checkbox-text">
                        I want to recive future promotions and offers.
                    </span>
                    <span class="checkbox-icon">
                        <svg class="checkbox-icon-svg">
                            <use href="./images/modal-purchase/purchase-sprite.svg#check-purch"></use>
                        </svg>
                    </span>
                </label>
            </div>
            <button class="modal-purchase-submit">Submit</button>
        </form>

    </div>

</div>

<!--Mobile-->

<div class="backdrop is-hidden" data-backdrop>
    <div class="modal-purchase">
        <div class="modal-purchase-circle"></div>
        <button class="modal-purchase-close" data-modal-close>
            <svg width="19" height="18">
                <use href="./images/modal-purchase/purchase-sprite.svg#close-purch"></use>
            </svg>
        </button>
        <h2 class=" modal-purchase-title">Submit your order now and get a discount of 15% </h2>

        <form class="modal-purchase-form">
            <div class="modal-purchase-input">
                <label class="modal-purchase-lable-txt" for="name-mobile">Name</label>
                <input class="modal-purchase-input-label" type="text" id="name-mobile" />
                <div class="modal-purchase-input-icon">
                    <svg width="18" height="18">
                        <use href="./images/modal-purchase/purchase-sprite.svg#user-purch"></use>
                    </svg>
                </div>
            </div>

            <div class="modal-purchase-input">
                <label class="modal-purchase-lable-txt" for="mail-mobile">E-mail</label>
                <input class="modal-purchase-input-label" type="email" id="mail-mobile" />
                <div class="modal-purchase-input-icon">
                    <svg width="18" height="18">
                        <use href="./images/modal-purchase/purchase-sprite.svg#envelope-purch"></use>
                    </svg>
                </div>
            </div>

            <div class="modal-purchase-input">
                <label class="modal-purchase-lable-txt" for="comment-mobile">Comments</label>
                <textarea class="modal-purchase__comment-box" name="comment" id="comment-mobile"
                    placeholder="Leave your comment" rows="4" cols="8" style="margin: 0px 0px;"></textarea>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox-1" class="checkbox-old visually-hidden" />
                    <span class="checkbox-text">
                        I have read and agree to the
                        <a href=" " class="checkbox-link" title="Terms and Conditions">Terms &
                            Conditions.</a>
                    </span>
                    <span class="checkbox-icon">
                        <svg class="checkbox-icon-svg">
                            <use href="./images/modal-purchase/purchase-sprite.svg#check-purch"></use>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox-2" class="checkbox-old visually-hidden" checked />
                    <span class="checkbox-text">
                        I want to recive future promotions and offers.
                    </span>
                    <span class="checkbox-icon">
                        <svg class="checkbox-icon-svg">
                            <use href="./images/modal-purchase/purchase-sprite.svg#check-purch"></use>
                        </svg>
                    </span>
                </label>
            </div>
            <button class="modal-purchase-submit">Submit</button>
        </form>
    </div>

</div>