<header class="header-section" id="home">
    <div class="container">
      <div class="header">
        <svg class="header__icon" width="199" height="50">
          <use href="./images/header/icons.svg#icon-logo"></use>
        </svg>
        <nav class="no-display">
        <ul class="header__list menu">
          <li><a class="header__item" href="#home">Home</a></li>
          <li><a class="header__item" href="#about">About us</a></li>
          <li><a class="header__item" href="#about">How it’s made?</a></li>
          <li><a class="header__item" href="#products">Our products</a></li>
          <li><a class="header__item" href="#footer">Contact</a></li>
        </ul>
      </nav>
        <button class="menu-toggle js-open-menu header__menu-btn "
                aria-expanded="false"
                aria-controls="mobile-menu" 
                >
          <svg width="20" height="12">
            <use href="./images/header/icons.svg#icon-Burger"></use>
          </svg>
        </button> 
        <button data-modal-open class="buy-modal-button button header__buy-btn" type="button">
          Buy now
          <svg class="header__btn-icon" width="8" height="8">
            <use href="./images/header/icons.svg#icon-btn-arrow"></use>
          </svg>
        </button>
        </div>
        <section class="hero">
        <div>
          <h1 class="hero__title">
            ice cream <br />made with <br />
            <span class="hero__title--color-red">passion</span>
          </h1>
          <div class="hero__btns">
          <div>
              <a class="hero__link" href="#products"><button class="hero__btn" type="button">Products </button></a>
          </div>
          <div>
              <a class="hero__link hero__link--red" href="#about"><button class="hero__btn hero__btn--white" type="button">How it’s made?</button></a> 
          </div>
        </div>
          <div class="info">
          <img
            class="info__img"
            srcset="./images/header/milk-img.png 1x, ./images/header/milk-img@2x.png 2x"
            src="./images/header/milk-img.png"
            alt="Milk"
          />
          <div class="info__side">
            <p class="info__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <div>
              <a class="hero__link" href="#gallery"><button class="info__btn" type="button">
                <svg class="info__icon" width="20" height="10">
                  <use href="./images/header/icons.svg#icon-arrow"></use>
                </svg>
              </button></a>
          </div>
          </div>
          </div>
        </div>
        <div>
          <ul class="sell-point">
            <li class="sell-point__item">
              <svg class="sell-point__icon" width="30" height="30">
                <use href="./images/header/icons.svg#icon-header-dot"></use>
              </svg>
              <h2 class="sell-point__no">16</h2>
              <p class="sell-point__type">cafes</p>
            </li>
            <li class="sell-point__item">
              <svg class="sell-point__icon" width="30" height="30">
                <use href="./images/header/icons.svg#icon-header-dot"></use>
              </svg>
              <h2 class="sell-point__no">23</h2>
              <p class="sell-point__type">food trucks</p>
            </li>
          </ul>
            <img
              class="hero__img"
              srcset="./images/header/header-img.png 1x, ./images/header/header-img@2x.png 2x"
              src="./images/header/header-img.png"
              alt="Enjoy icecream"
            />
        </div>
      </section>
    </div>
</header>

