<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- HEADER -->
    <header class="header-page">

        <div class="container header-container">

            <a href="./index.html" class="link logo">
                <span class="logo">icecream</span>
            </a>

            <button type="button" class="header-page__menu-button" aria-expanded="false"
                aria-controls="header__menu-container" data-menu-button>

                <svg class=" header-page__menu-button-icons" aria-label="Переключатель мобильного меню">
                    <!-- <use class="header-page__menu-button-burger" href="./images/sprite.svg#menu-button-icon">
            </use> -->
                    <!-- <use class="header-page__menu-button-close" href="./images/sprite.svg#menu-button-close">
            </use> -->
                    <use class="header-page__menu-button-burger"
                        href="./images/header-hero/header-sprite.svg#menu-burger_mobile">
                    </use>
                    <use class="header-page__menu-button-close"
                        href="./images/header-hero/header-sprite.svg#menu-burger-close_mobile">
                    </use>
                </svg>
            </button>

            <div class="header__menu-container" id="header__menu-container" data-menu>
                <nav class="header-nav">
                    <ul class="list site-nav">
                        <li class="site-nav__item">
                            <a href="./index.html" class="link site-nav__link current">Home</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="./index.html" class="link site-nav__link">About us</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="./index.html" class="link site-nav__link">How it’s made?</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="./index.html" class="link site-nav__link">Our products</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="./index.html" class="link site-nav__link">Contact</a>
                        </li>
                    </ul>
                </nav>

                <button type="button">Buy now</button>

            </div>

        </div>
    </header>


    <!-- HERO -->
    <!-- <section class="hero container"> <h1 class="hero__title">ice cream made with passion</h1>
<button type="button">Products</button>
<button type="button">How it’s made?</button>
</section> -->

</body>

</html>