<section class="header_hero container">
  <div class="header">
    <a href="./index.html">
      <img src="./images/logo-header-mobile.png" alt="logo" class="logo" />
    </a>
    <nav class="header_nav">
      <ul class="header_list">
        <li class="item">
          <a class="header_links current" href="./index.html">Home</a>
        </li>
        <li class="item"><a class="header_links" href="#">About us</a></li>
        <li class="item">
          <a class="header_links" href="#">How it’s made?</a>
        </li>
        <li class="item"><a class="header_links" href="#">Our products</a></li>
        <li class="item"><a class="header_links" href="#">Contact</a></li>
      </ul>
    </nav>

    <button class="header_button">Buy now</button>

     <button type="button" class="menu-button" data-menu-button aria-expanded="false">
          <svg width="20" height="12"  aria-label="perekluchatel mobil menu">
            <use
              class="icon-menu"
              href="../src/images/svg/symbol-defs.svg#burger"
            ></use>
            <use
              class="icon-close"
              href="../src/images/svg/symbol-defs.svg#close"
            ></use>
          </svg>
        </button>
  </div>

  <div class="hero">
    <h1 class="hero_title">
      ice cream<br />made with<br /><span class="hero_subtitle">passion</span>
    </h1>
    <button class="hero_button_products">Products</button>
    <button class="hero_button_made">How it’s made?</button>

    <img
      src="../src/images/ellipse3@1x.png"
      class="header_ellipse"
      alt="ellipse3"
    />
   <img src="../src/images/hero-ice-cream-mobile.png"
    class="header_ice"
     alt="ice">
  </div>
 
</section>
<script src="./menu.js"></script>



