<!--Header pentru Home-->
<header class="header-main">
  <div class="header-main__container">
    <div class="header-menu">
      <a href="./index.html">
        <span class="logo__label">Filmoteka</span>
      </a>
      <nav class="header-nav">
        <ul class="header-nav__list list">
          <li class="header-nav__item">
            <a
              href="./index.html"
              class="header-nav__link header-nav__link--current link"
              >HOME</a
            >
          </li>
          <li class="header-nav__item">
            <a href="./library.html" class="header-nav__link link"
              >MY LIBRARY</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
