<!-- heading-section -->
<section class="heading" id="heading">
  <div class="title-container container">
    <picture>
      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        srcset="./images/title-strawberries_t.png"
      />
      <!-- Desktop -->
      <source
        media="(min-width: 1280px)"
        srcset="./images/title-strawberries_d.png"
      />
      <img
        src="./images/title-strawberries_m.png"
        alt="strawberries"
        class="title-strawberries"
      />
    </picture>
    <picture>
      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        srcset="./images/title-bananas_t.png"
      />
      <!-- Desktop-->
      <source
        media="(min-width: 1280px)"
        srcset="./images/title-bananas_d.png"
      />
      <img
        src="./images/title-bananas_m.png"
        alt="bananas"
        class="title-bananas"
      />
    </picture>
    <h1 class="heading-title">
      fresh harvest box<br />is your one-stop place for a delicious fruit basket
    </h1>
  </div>
  <div class="container">
    <div class="heading-picture">
      <div class="oval">
        <img
          class="heading-girl"
          srcset="
            ./images/red-haired-woman_m_1x.jpg   311w,
            ./images/red-haired-woman_m_2x.jpg   622w,
            ./images/red-haired-woman_t&d_1x.jpg 452w,
            ./images/red-haired-woman_t&d_2x.jpg 904w
          "
          sizes="(min-width: 768px) 452px, 311px"
          src="./images/red-haired-woman_m_1x.jpg"
          alt="Red haired woman hold half orange"
        />
      </div>
      <a href="#" target="_parent">shop now</a>
    </div>
    <div class="heading-watermelon">
      <p class="heading-watermelon-details">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="fruit-benefits">
        <span>Fruit</span>
        <img
          srcset="
            ./images/1.1.tropical-watermelon_1x.png,
            ./images/1.1.strawberry-basket_2x.png   2x
          "
          src="./images/1.1.tropical-watermelon.png"
          alt="watermelon"
        />
        <p class="heading-ovals-details">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="heading-strawberries">
      <ul class="heading-list">
        <li class="heading-list-ithem"><span>#organic</span></li>
        <li class="heading-list-ithem"><span>#products</span></li>
        <li class="heading-list-ithem"><span>#basket</span></li>
        <li class="heading-list-ithem"><span>#fruits</span></li>
      </ul>
      <div class="fruit-benefits">
        <span>Fruit</span>
        <img
          srcset="
            ./images/1.1.strawberry-basket_1x.png,
            ./images/1.1.strawberry-basket_2x.png 2x
          "
          src="./images/1.1.strawberry-basket.png"
          alt="strawberries"
        />
        <p class="heading-ovals-details">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
    </div>
  </div>
</section>
