<header class="header">
  <div class="logo-and-socials">
    <div class="logo">
      <a href="">
        <svg width="69" height="55">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="socials">
      <a href="" class="socials-media">Instagram</a>
      <a href="" class="socials-media">Youtube</a>
    </div>
  </div>
  <nav class="page-header">
    <svg
      data-burger-open
      width="40"
      height="40"
      class="header-menu-button"
      aria-label="Переключатель мобильного меню"
    >
      <use class="icon-menu" href="./images/symbol-defs.svg#icon-menu"></use>
    </svg>

    <div class="menu-header is-hidden" data-burger>
      <svg data-burger-close width="40" height="40" class="close-menu-button">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
      <ul id="menu" class="site-nav">
        <li class="site-item">
          <a href="#about" class="site-link current">О нас</a>
        </li>
        <li class="site-item">
          <a href="#prices" class="site-link">Услуги и цены</a>
        </li>
        <li class="site-item">
          <a href="#masters" class="site-link">Мастера</a>
        </li>
        <li class="site-item">
          <a href="#contacts" class="site-link">Контакты</a>
        </li>
      </ul>
      <div class="contact-nav">
        <a class="telephone" href="tel:+38 0441111111">+38 044 111 11 11</a>

        <div class="mobile-menu-button">
          <button class="button-online" data-modal-open>Онлайн-запись</button>
        </div>
      </div>

      <div class="site-socials">
        <a href="" class="social-media">Instagram</a>
        <a href="" class="social-media">Youtube</a>
      </div>
    </div>
  </nav>
</header>
