<div class="backdrop is-hidden" data-hero-modal>
    <form class="modal">
      <button class="button-close" data-hero-modal-close>
        <svg class="icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
      <b>Оставьте свои данные, для оформления заказа</b>
        <label class="form-label">
          <span class="label-name">Имя</span>
          <input type="text" name="name">
          <svg width="18" height="18">
            <use href="./images/sprite.svg#icon-persone"></use>
          </svg>
        </label>
        <label class="form-label"> 
          <span class="label-name">Телефон</span>
          <input type="tel" name="phone">
          <svg width="18" height="18">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
        </label>
        <label class="form-label"> 
          <span class="label-name">Почта</span>
          <input type="email" name="mail">
          <svg width="18" height="18">
            <use href="./images/sprite.svg#icon-mail"></use>
          </svg>
        </label>
        <label class="form-label">
          <span class="label-name">Комментарий</span>
          <textarea name="feedback" placeholder="Введите текст"></textarea>
        <button class="button" type="submit">Отправить</button>
    </form>
  </div>