<div class="container">
  <a href="./index.html" class="logo">
    <img src="./images/header/logo2.svg" width="50" height="50" alt="logo ice cream" />
    <span class="logo-text">ICECREAM</span>
  </a>

  <div class="menu__container" id="menu__container" data-menu>
    <button class="menu__button-mob" type="button">
      Buy now <span class="menu__button-vector">></span>
    </button>
    <nav>
      <ul class="menu__navigation">
        <li class="menu__item">
          <a class="menu__link menu__link--active" href="index.html">Home</a>
        </li>
        <li class="menu__item">
          <a href="#location" class="menu__link">About us</a>
        </li>
        <li class="menu__item">
          <a href="#tradition" class="menu__link">How it’s made?</a>
        </li>
        <li class="menu__item">
          <a href="#product" class="menu__link">Our products</a>
        </li>
        <li class="menu__item">
          <a href="#contacts" class="menu__link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="menu__button-tablet" type="button" data-buy-open>
    Buy now <span class="menu__button-vector">></span>
  </button>
  <button data-open-backdrop class="menu__button" type="button" aria-expanded="false" aria-controls="menu__container"
    data-menu-button>
    <svg width="20" height="20" aria-label="Переключатель мобильного меню">
      <use class="icon-menu" href="./images/sprite.svg#icon-burger"></use>

      <use width="14" height="14" class="icon-cross" href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="menu__backdrop is-hidden" data-backdrop></div>
</div>

