<header class="header-library">
  <div class="container">
    <a href="./index.html" class="logo">
      <svg width="24" height="24">
        <use href="../src/images/sprite.svg#icon-film"></use>
      </svg>
      <p>Filmoteka</p>
    </a>

    <nav>
      <ul class="site-nav list">
        <li class="item">
          <a href="../src/index.html" class="link">Home</a>
        </li>
        <li class="item">
          <a href="../src/my-library.html" class="link current">my library</a>
        </li>
      </ul>
    </nav>

    <button class="button">Watched</button>
    <button class="button">queue</button>
  </div>
</header>
