<header class="header" id="top">
  <div class="header__inner">
    <div class="header__mob">
      <a href="./" class="header__logo" aria-label="главная страница сайта">
        <svg class="logo" width="69" height="56">
          <use href="./images/sprite.svg#icon-logo" aria-label="Логотип компании"></use>
        </svg>
      </a>
      <button class="header__button-menu" aria-label="кнопка меню открыть-закрыть" aria-expanded="false" aria-controls="sideBar" data-menu-button>
        <svg width="40" height="40">
          <use href="./images/sprite.svg#icon-menu" class="icon-menu"></use>
          <use href="./images/sprite.svg#icon-close" class="icon-cross"></use>
        </svg>
      </button>
    </div>
    <div class="backdrop" data-menu>
      <div class="header__side" id="sideBar" data-sideBar>
        <nav>
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#about-us" class="header__nav-link" aria-label="кнопка перехода к секции о нас" data-menu-close-1>О нас</a>
            </li>
            <li class="header__nav-item">
              <a href="#services" class="header__nav-link" aria-label="кнопка перехода к секции цены" data-menu-close-2>Услуги и цены</a>
            </li>
            <li class="header__nav-item">
              <a href="#masters" class="header__nav-link" aria-label="кнопка перехода к секции наша команда" data-menu-close-3>Мастера</a>
            </li>
            <li class="header__nav-item">
              <a href="#contacts" class="header__nav-link" aria-label="кнопка перехода к контактам" data-menu-close-4>Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="header__contacts">
          <a href="tel:+380441111111" class="tel">+38 044 111 11 11</a>
          <a href="#feedback" class="button" aria-label="кнопка перехода на форму записи" data-menu-close-5>
            онлайн-запись
          </a>
        </div>
        <div class="socialWrap">
          <ul class="header__social">
            <li class="header__social-item">
              <a href="" class="header__social-link">Instagram</a>
            </li>
            <li class="header__social-item">
              <a href="" class="header__social-link">Youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
