<!-- HEADER -->
<header class="header-page">

    <div class="header-container" header>
        <a href="./index.html" class="logo-title">
            <svg class="header-page__logo">
                <use class="header-page__logo-icon" width="50" height="50" href="./images/header-hero/sprite.svg#logo">
                </use>
            </svg>icecream
        </a>

        <!-- <button type="button" class="buynow-header open">Buy now</button> -->
        <div class="btn-menu-container">
            <button type="button" class="header-page__menu-button" aria-expanded="false"
                aria-controls="header__menu-container" data-menu-button>

                <svg class=" header-page__menu-button-icons" aria-label="Переключатель мобильного меню">
                    <use class="header-page__menu-button-burger"
                        href="./images/header-hero/sprite.svg#menu-button-icon">
                    </use>
                    <use class="header-page__menu-button-close"
                        href="./images/header-hero/sprite.svg#menu-button-close">
                    </use>
                </svg>
            </button>

            <button type="button" class="buynow-header open">Buy now<svg class="buynow-menu--arrow-icon" width="4"
                    height="8">
                    <use href="./images/header-hero/sprite.svg#icon-right-arrow-btn"></use>
                </svg></button>

            <div class="header__menu-container" id="header__menu-container" data-menu>
                <div class="header__btn-buy-now-after">
                    <button type="button" class="buynow-menu open">Buy now<svg class="buynow-menu--arrow-icon" width="4"
                            height="8">
                            <use href="./images/header-hero/sprite.svg#icon-right-arrow-btn"></use>
                        </svg>
                    </button>
                </div>
                <nav class="header-nav">
                    <ul class="site-nav">
                        <li class="site-nav__item">
                            <a href="#home" class="link site-nav__link">Home</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="#about-us" class="link site-nav__link">About us</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="#how-made" class="link site-nav__link">How it’s made?</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="#products" class="link site-nav__link">Our products</a>
                        </li>
                        <li class="site-nav__item">
                            <a href="#contact" class="link site-nav__link">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>

    </div>
</header>


<!-- HERO -->


<!-- <script src="./js/menu.js"></script> -->