<header class="header-library">
  <div class="container">
    <div class="top-flex-library">
      <a href="./index.html" class="logo">
        <svg width="24" height="24" class="logo-icon">
          <use href="../src/images/sprite.svg#icon-film"></use>
        </svg>
        <p class="logo-title">Filmoteka</p>
      </a>

      <nav>
        <ul class="site-nav list">
          <li class="nav-item">
            <a href="../src/index.html" class="link">Home</a>
          </li>
          <li class="nav-item">
            <a href="../src/my-library.html" class="link current">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="bottom-header">
      <button class="button header-button watched-btn">Watched</button>
      <button class="button header-button queue-btn">queue</button>
    </div>
  </div>
</header>
