<header class="container header-container">
  <div class="header-wrapper">
    <a class="logo-link" href="./index.html" lang="en">
      <img src="./images/logo.png" alt="logo" />
    </a>
    <nav>
      <ul class="menu-wrapper-list">
        <li class="menu-wrapper-list-item">
          <a href="./index.html" class="menu-wrapper-list-item-link">Home</a>
        </li>
        <li class="menu-wrapper-list-item">
          <a href="#about-us" class="menu-wrapper-list-item-link">About us</a>
        </li>
        <li class="menu-wrapper-list-item">
          <a href="#how-its-made" class="menu-wrapper-list-item-link"
            >How it's made?</a
          >
        </li>
        <li class="menu-wrapper-list-item">
          <a href="#our-products" class="menu-wrapper-list-item-link"
            >Our products</a
          >
        </li>
        <li class="menu-wrapper-list-item">
          <a href="#contact" class="menu-wrapper-list-item-link">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      class="button burger-btn"
      type="button"
      aria-expanded="false"
      aria-controls="menu-wrapper"
      data-modal-open
    >
      <svg class="icon-burger" width="20" height="12">
        <use href="./images/sprite.svg#header-burger-icon"></use>
      </svg>
    </button>

    <button class="button header-buy-btn" type="submit">
      <span class="button-text">Buy now</span>
      <svg class="greater-icon" width="8" height="10">
        <use href="./images/sprite.svg#button-greater-icon"></use>
      </svg>
    </button>
  </div>
</header>
