<section class="header container">
  <div class="header_container">
    <a href="./index.html">
      <img src="../src/images/logo-header-mobile.png" alt="logo" class="logo" />
    </a>
    <nav class="header_nav">
      <ul class="header_list">
        <li class="item">
          <a class="header_links current" href="./index.html">Home</a>
        </li>
        <li class="item"><a class="header_links" href="#">About us</a></li>
        <li class="item">
          <a class="header_links" href="#how_made>">How it’s made?</a>
        </li>
        <li class="item"><a class="header_links" href="#">Our products</a></li>
        <li class="item"><a class="header_links" href="#">Contact</a></li>
      </ul>
    </nav>

    <button
      type="button"
      class="menu-button"
      data-menu-button
      aria-expanded="false"
    >
      <svg width="20" height="12" aria-label="perekluchatel mobil menu">
        <use
          class="icon-menu"
          href="../src/images/svg/symbol-defs.svg#icon-burger" 
        ></use>
        <!-- <use
          class="icon-close"
          href="../src/images/svg/symbol-defs.svg#close"
        ></use> -->
      </svg>
    </button>

    <button class="header_button">
      Buy now
      <svg class="header_next">
        <use href="../src/images/svg/symbol-defs.svg#next"></use>
      </svg>
    </button>
  </div>

  <div class="hero">
    <div class="hero_title_container"><h1 class="hero_title">
    <span class="text-title">ice cream made with</span>  <span class="hero_subtitle">passion</span>
    </h1></div>
    
    <button class="hero_button_products">Products</button>
    <button class="hero_button_made"><a href="#how_made"></a>How it’s made?</a></button>
    <div class="hero_textnext">
      <p class="hero_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero_icon">
        <svg class="hero_next">
          <use href="../src/images/svg/symbol-defs.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  <ul class="numbers_list list">
    <li class="numbers_item"> <span class="circle"></span> <span class="outlets_number">16</span> <span
        class="numbers_type">cafes</span> </li>
    <li class="numbers_item"> <span class="circle"></span> <span class="outlets_number">23</span> <span
        class="numbers_type">food trucks</span> </li>
  </ul>


    <!-- <img src="../src/images/ellipse3@1x.png" class="header_ellipse" alt="ellipse3" /> -->
    <img
      src="../src/images/hero-ice-cream-mobile@2x.png"
      class="hero_ice"
      alt="ice"
    />
    <img
      src="../src/images/hero-milk-tablet@2x.png"
      class="hero_milk"
      alt="milk"
    />
    <img
      src="../src/images/hero-girl-tablet@2x.png"
      class="hero_girl"
      alt="milk"
    />
  </div>
</section>
<script src="./menu.js"></script>
