<div data-backdrop-header-modal class="backdrop-header backdrop--hidden "><div class="modal container">
    <form class="form" name="order">
      <div class="form-group"> 
      <p class="contact-details">Order form</p>
      <div class="username field">
        <label class="label">
       <div class="name">Name</div> 

      <span class="container-form">
        <input name="username" class="input"/>
  
      </span>

      </label>
      </div>

      <label class="label">
        <div class="name">Phone number</div> 
       <span class="container-form">
          <input type ="tel" name= "tel" class="input"/>
          <div class="input-img">
            <svg class="user-icon">
              <use href="./images/symbol-defs.svg#icon-phone-black-18dp"></use>
            </svg>
          </div>
        </span>
      </label>
  
      <label for="state">State:</label>
<input class="input" type="text" name="state" id="state" list="states" />
<datalist id="states">
  <option value="СH">Chicago</option>
  <option value="NY">New-York</option>
  <option value="LA">Los-Angeles</option>
  </datalist>


    <button class="button-modal" type="submit">Send</button>
    </div>
    </form>
    <button class="button-close" data-toggle-header-modal >
      <svg class="icon-close">
        <use href="./images/symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
     </div></div>