<header class="header">
    <div class="container">
        <nav class="main-nav">
            <a lang="en" href="./index.html">
                <img class="logo" src="./images/logo.svg">
            </a>
            <div class="mobile-menu-wrapper">
                <ul class="navigation-list">
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="">Программы обучения</a>
                    </li>
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="">О нас</a>
                    </li>
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="">Варианты обучения</a>
                    </li>
                    <li class="navigation-list-item">
                        <a class="navigation-link" href="">Контакты</a>
                    </li>
                </ul>
                <button class="header-button" type="button">Консультация по телефону</button>
                <button type="button" class="mobile-button " data-menu-button aria-expanded="true"
                    aria-controls="main-nav-wrapper">
                    <svg width="24" height="19" aria-label="Переключатель мобильного меню">
                        <use class="menu-icon" href="./images/sprite.svg#menu_icon"></use>
                        <use class="close-icon" href="./images/sprite.svg#close_icon"></use>
                    </svg>
                </button>
            </div>
        </nav>
    </div>