<header class="header">
    <div class="container">
        <nav class="main-nav">
            <a lang="en" href="./index.html">
                <img class="logo" src="./images/logo.svg">
            </a>
            <ul class="navigation-list">
                <li class="navigation-list-item">Программы обучения</li>
                <li class="navigation-list-item">О нас</li>
                <li class="navigation-list-item">Варианты обучения</li>
                <li class="navigation-list-item">Контакты</li>
            </ul>
            <button class="header-button" type="button">Консультация по телефону</button>
        </nav>
    </div>