<header>
    <div>
        <a href=""><img src="./logo 1.svg" alt=""></a>
        <div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">How it’s made?</a></li>
                    <li><a href="">Our products</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <button>Buy now</button>
            <button type="button"  data-menu-button>
                <svg  width="40" height="40">
                    <use ></use>
                    <use ></use>
                </svg>
            </button>
        </div>
    </div>
</header>