<!-- heading-section -->
<section class="heading">
  <div class="heading-picture">
    <h1 class="heading-title">
      fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>
    <div class="heading-img">
      <picture>
        <!-- Mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/red-haired-woman_m_1x.jpg 1x,
            ./images/red-haired-woman_m_2x.jpg 2x
          "
        />
        <!-- Tablet & desktop-->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/red-haired-woman_t&d_1x.jpg 1x,
            ./images/red-haired-woman_t&d_2x.jpg 2x
          "
        />
        <img
          src="./images/red-haired-woman.jpg"
          alt="red haired woman hold half on orange"
        />
      </picture>
      <a href="#" target="_parent">shop now</a>
    </div>
  </div>
  <div class="heading-watermelon">
    <p class="heading-watermelon-details">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
    <div class="fruit-benefits">
      <span>Fruit</span>
      <img src="./images/1.1.tropical-watermelon.png" alt="watermelon" />
      <p class="heading-ovals-details">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>
  </div>
  <div class="heading-strawberries">
    <ul class="heading-strawberries-list">
      <li><span>#organic</span></li>
      <li><span>#products</span></li>
      <li><span>#basket</span></li>
      <li><span>#fruits</span></li>
    </ul>
    <div class="fruit-benefits">
      <span>Fruit</span>
      <img src="./images/1.1.strawberry-basket_1x.png" alt="strawberries" />
      <p class="heading-ovals-details">
        Sweet and juicy, strawberries are packed with vitamin C and
        antioxidants, making them a delicious and healthy snack
      </p>
    </div>
  </div>
</section>
