<header class="header">

  <div class="container proba">
    <div class="header_container">
      <a href="./index.html">
        <img src="../src/images/logo-header-mobile.png" alt="logo" class="logo" />
      </a>
      <nav class="header_nav"  data-menu>
        <ul class="header_list">
          <li class="item">
            <a class="header_links current" href="./index.html">Home</a>
          </li>
          <li class="item"><a class="header_links" href="#about-us">About us</a></li>
          <li class="item">
            <a class="header_links" href="#how-made">How it’s made?</a>
          </li>
          <li class="item">
            <a class="header_links" href="#products">Our products</a>
          </li>
          <li class="item">
            <a class="header_links" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    
      <button type="button" class="menu-button is-open" data-menu-button aria-expanded="false">
        <svg width="20" height="12" aria-label="perekluchatel mobil menu">
          <use class="icon-menu" href="../src/images/svg/symbol-defs.svg#icon-burger"></use>
          <use class="icon-close" href="../src/images/svg/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    
      <button class="header_button" type="button" data-modal-open>
        Buy now
        <svg class="header_next">
          <use href="../src/images/svg/symbol-defs.svg#next"></use>
        </svg>
      </button>
    
    </div>
    
    <div class="hero">
      <div class="hero_title_container">
        <h1 class="hero_title">
          <span class="text-title">ice cream made with</span>
          <span class="hero_subtitle">passion</span>
        </h1>
      </div>
    
      <a class="hero_button_products" href="#products">Products</a>
      <a class="hero_button_made" href="#how-made">How it’s made?</a>
      <div class="hero_textnext">
        <p class="hero_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
        <button class="hero_icon">
          <svg class="hero_next">
            <use href="../src/images/svg/symbol-defs.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
      <ul class="numbers_list list">
        <li class="numbers_item">
          <span class="circle"></span> <span class="outlets_number">16</span>
          <span class="numbers_type">cafes</span>
        </li>
        <li class="numbers_item">
          <span class="circle"></span> <span class="outlets_number">23</span>
          <span class="numbers_type">food trucks</span>
        </li>
      </ul>
    
      
    </div>
  </div>
  
</header>
<!--<div class="mobile_menu" data-menu>
  <div class="mobile_container">
    <button class="mobile_button" type="button" data-modal-open>
      Buy now
      <svg class="header_next">
        <use href="../src/images/svg/symbol-defs.svg#next"></use>
      </svg>
    </button>
    <ul class="mobile_list">
      <li class="item">
        <a class="mobile_links current" href="./index.html">Home</a>
      </li>
      <li class="item"><a class="mobile_links" href="#about-us">About us</a></li>
      <li class="item">
        <a class="header_links" href="#how-made">How it’s made?</a>
      </li>
      <li class="item"><a class="mobile_links" href="#products">Our products</a></li>
      <li class="item"><a class="mobile_links" href="#contact">Contact</a></li>
    </ul>
  </div>

</div>-->
