
<!-- # Web-site: Simply Chocolate
     # Section: Header N Aside
     # Company: GoIt
     # Team: Team 8
     # Date: 17.08.2023
     # Files: HTML, CSS, JS
     # Author: Valentin Cristian Calota
     # Comment: Not sure what I'm doing yet!
     # Social media: Ig - @cristianvalentinx -->
<!-- Header -->
<div class="js-menu-container is-open">
  <svg class="js-close-menu">
    <use href="./images/header-n-aside.svg#icon-x"></use>
  </svg>
  <nav class="mobile-navigation-menu">
    <ul class="mobile-navigation-menu">
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu active" href="#header">Home</a>
      </li>
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu" href="#how-its-made"
          >How it&#8217;s made?</a
        >
      </li>
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu" href="#our-products">Our products</a>
      </li>
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu" href="#top-sellers">Top sellers</a>
      </li>
      <li class="mobile-navigation-menu">
        <a class="mobile-navigation-menu" href="#chocolate-is-loved"
          >Chocolate is loved</a
        >
      </li>
    </ul>
  </nav>
  <div class="mobile-social-media">
    <a href="https://www.instagram.com/">
      <svg class="mobile-social-media">
        <use href="./images/header-n-aside.svg#icon-instagram"></use>
      </svg>
    </a>
    <a href="https://www.twitter.com/">
      <svg class="mobile-social-media">
        <use href="./images/header-n-aside.svg#icon-twitter"></use>
      </svg>
    </a>
  </div>
</div>
<header id="#header">
  <div>
    <a class="logo" href="./index.html"
      >SIMPLY <span class="logo">CHOCOLATE</span></a
    >
    <svg class="logo">
      <use href="./images/header-n-aside.svg#icon-logo-chocolate"></use>
    </svg>
  </div>
  <nav class="navigation-menu">
    <ul class="navigation-menu">
      <li class="navigation-menu">
        <a class="navigation-menu active" href="#header">Home</a>
      </li>
      <li class="navigation-menu">
        <a class="navigation-menu" href="#how-its-made">How it&#8217;s made?</a>
      </li>
      <li class="navigation-menu">
        <a class="navigation-menu" href="#our-products">Our products</a>
      </li>
      <li class="navigation-menu">
        <a class="navigation-menu" href="#top-sellers">Top sellers</a>
      </li>
      <li class="navigation-menu">
        <a class="navigation-menu" href="#chocolate-is-loved"
          >Chocolate is loved</a
        >
      </li>
    </ul>
  </nav>
  <div class="social-media">
    <a class="social-media" href="https://www.instagram.com/">
      <svg class="social-media">
        <use href="./images/header-n-aside.svg#icon-instagram"></use>
      </svg>
    </a>
    <a class="social-media" href="https://www.twitter.com/">
      <svg class="social-media">
        <use href="./images/header-n-aside.svg#icon-twitter"></use>
      </svg>
    </a>
  </div>
  <button class="js-open-menu">
    <svg class="mobile-menu">
      <use href="./images/header-n-aside.svg#icon-mobile-menu"></use>
    </svg>
  </button>
</header>
<!-- Aside(Hero) -->
<aside>
  <h1>
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h1>
  <div class="aside">
    <div class="aside-buttons">
      <button data-modal-open class="buy-now">Buy now</button>
      <button class="to-how-its-made">How it&#8217;s made</button>
    </div>
    <a class="scroll-down" href="#footer"
      >scroll down
      <svg class="scroll-down">
        <use href="./images/header-n-aside.svg#icon-scroll-arrow"></use>
      </svg>
    </a>
  </div>
</aside>
<script src="./js/mobile-menu.js"></script>
