<header class="container">
  <ul class="header__container">
    <li class="header__container--bar">
      <nav class="header__navigation">
        <ul class="header__navigation__menu">
          <li
            class="header__navigation__menu__item header__navigation__menu--named"
          >
            <a href="./index.html" class="header__navigation__menu__item--link"
              >Home</a
            >
          </li>
          <li class="header__navigation__menu__item">
            <a
              href="/src/partials/header-library.html"
              class="header__navigation__menu__item--link"
              >My library</a
            >
          </li>
        </ul>
      </nav>
      <form class="header__search" id="form__search">
        <span class="header__search__container">
          <input
            type="text"
            placeholder="Movie search"
            autocomplete="off"
            name="searchQuery"
          />
          <button type="submit">
            <svg class="header__search__container--icon">
              <use href="images/icons8-search.svg#search"></use>
            </svg>
          </button>
        </span>
        <span id="searchError" class="header__search__container--error"></span>
      </form>
    </li>
    <li class="header__container__logo">
      <a href="index.html" class="header__container__logo--link">
        <span class="header__container__logo--icon">
          <svg class="header__container__logo--icon-svg">
            <use href="images/symbol-defs.svg#icon-film"></use>
          </svg>
        </span>

        <h1 class="header__title">Filmoteka</h1>
      </a>
    </li>

    
  </ul>
</header>