<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="modal-box">
            <svg class="close-modal" width="15" height="15" data-modal-close>
                <use href="./images/symbol-defs.svg#icon-menu-cross"></use>
            </svg>

            <a class="logo white" href="/">
                Hell
                <svg class="icon-fire" width="" height="">
                    <use href="./images/symbol-defs.svg#icon-fire"></use>
                </svg>EN

                <span class="logo-description white"><span class="logo-description-accent white">Адский
                    </span>английский</span>
            </a>
        </div>

        <ul class="modal-site-nav">
            <li class="link">
                <a href="" class="link-item">Программа обучения</a>
            </li>
            <li class="link">
                <a href="" class="link-item">О нас</a>
            </li>
            <li class="link">
                <a href="" class="link-item">Варианты обучения</a>
            </li>
            <li class="link">
                <a href="" class="link-item">Контакты</a>
            </li>
        </ul>
        <a href="./index.html" class="modal-button">Консультация по телефону</a>
    </div>
</div>

<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="logo" href="/">
                Hell
                <svg class="icon-fire" width="" height="">
                    <use href="./images/symbol-defs.svg#icon-fire"></use>
                </svg>EN

                <span class="logo-description"><span class="logo-description-accent">Адский </span>английский</span>
            </a>


            <ul class="site-nav3">
                <li class="link">
                    <a href="" class="link-item">Программа обучения</a>
                </li>
                <li class="link">
                    <a href="" class="link-item">О нас</a>
                </li>
                <li class="link">
                    <a href="" class="link-item">Варианты обучения</a>
                </li>
                <li class="link">
                    <a href="" class="link-item">Контакты</a>
                </li>
            </ul>

            <a href="/index.html" class="hero-button-2">Консультация по телефону</a>

            <button class="menu-button" data-modal-open>
                <svg width="20" height="12">
                    <use class="icon-cross" href="./images/symbol-defs.svg#icon-menu-burger"></use>
                </svg>
            </button>
        </nav>
    </div>

    <div class="container">
        <section class="hero">
            <div class="hero-flex">
                <div class="hero-block">
                    <h1 class="hero-title">
                        Комплексная <br> подготовка к ВНО <br> по английскому языку
                    </h1>
                    <p class="hero-slogan">Просто не будет.</p>
                    <p class="hero-subtitle">
                        Но ты гарантировано наберешь <b>+25 баллов</b>
                    </p>

                    <a class="hero-button">Хочу на бесплатное занятие<a>
                </div>


                <img srcset="./images/hero/hero-desktop.png 1x, ./images/hero/hero-desktop@2x.png 2x"
                    src="./images/hero/hero-desktop.png" alt="" class="hero-img" width="208" />

            </div>

            <ul class="hero-benefits">
                <li class="item">
                    <img src="./images/symbol-defs.svg#icon-person" alt="" class="icon">
                    <h3 class="title">Адаптированная авторская <br> программа ВНО</h3>
                </li>
                <li class="item">
                    <img src="./images/symbol-defs.svg#icon-smartphone" alt="" class="icon">
                    <h3 class="title">Современные методика <br> обучения</h3>
                </li>
                <li class="item">
                    <img src="./images/symbol-defs.svg#icon-dollar" alt="" class="icon">
                    <h3 class="title">Финансовая гарантия <br> результата</h3>
                </li>
            </ul>
        </section>
    </div>
</header>
<script>
    const refs = {
        openModalBtn: document.querySelector('[data-modal-open]'),
        closeModalBtn: document.querySelector('[data-modal-close]'),
        modal: document.querySelector('[data-modal]'),
    };

    refs.openModalBtn.addEventListener('click', toggleModal);
    refs.closeModalBtn.addEventListener('click', toggleModal);

    function toggleModal() {
        refs.modal.classList.toggle('is-hidden');
    }
</script>