<header class="header">
    <div class="container">
        <nav class="main-nav">
            <a class="logo" lang="en" logo href="./index.html" id="logo">
                <!-- <img class="logo-pic" src="./images/logo.svg"> -->
                <svg class="logo-pic">
                    <use href="./images/sprite.svg#logo"></use>
                </svg>
            </a>
            <div class="main-nav-wrapper" data-menu id="main-nav-wrapper">
                <div class="wrapper-container">
                    <a class="logo-mobile" lang="en" logo href="./index.html" id="logo">
                        <!-- <img class="logo-pic" src="./images/logo.svg"> -->
                        <svg class="logo-pic-mobile">
                            <use href="./images/sprite.svg#logo-white"></use>
                        </svg>
                    </a>
                    <ul class="navigation-list">
                        <li class="navigation-list-item">
                            <a class="navigation-link" href="#section-program">Программы обучения</a>
                        </li>
                        <li class="navigation-list-item">
                            <a class="navigation-link" href="#how_we_do_it">О нас</a>
                        </li>
                        <li class="navigation-list-item">
                            <a class="navigation-link" href="#benefits">Варианты обучения</a>
                        </li>
                        <li class="navigation-list-item">
                            <a class="navigation-link" href="#contacts">Контакты</a>
                        </li>
                    </ul>
                    <button class="wrapper-button" type="button">Консультация по телефону</button>
                </div>
            </div>
            <button class=" header-button hidden-button" type="button">Консультация по телефону</button>
            <button type="button" class="mobile-button " data-menu-button aria-expanded="true"
                aria-controls="main-nav-wrapper logo">
                <svg class="for-close-button svg" aria-label="Переключатель мобильного меню">
                    <use class="menu-icon" href="./images/sprite.svg#menu_icon"></use>
                    <use class="close-icon" href="./images/sprite.svg#close_icon"></use>
                </svg>
            </button>

        </nav>
    </div>