<header class="header">
  <div class="container-header">
    <div class="header-nav">
      <a class="header-logo" href="#">
        <svg class="header-logo__svg" width="199px" height="50px">
          <use href="./images/sprite.svg#icon-Group"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav__list unstyled-list">
          <li class="nav__list-item">
            <a class="nav__list-item" href="#home">Home</a>
          </li>
          <li>
            <a class="nav__list-item" href="#about-section.html">About us</a>
          </li>
          <li>
            <a class="nav__list-item" href="#about-section.html"
              >How it’s made?</a
            >
          </li>
          <li>
            <a class="nav__list-item" href="#products-section.html"
              >Our products</a
            >
          </li>
          <li>
            <a class="nav__list-item" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="btn-nav" type="button">
        Buy now
        <svg class="btn-nav__svg" width="4px" height="8px">
          <use href="./images/sprite.svg#icon-Vector-1"></use>
        </svg>
      </button>
    </div>
    <section class="hero">
      <div class="hero-group">
        <div>
          <div class="hero-title">
            <h1>
              <span class="hero-title__first">ICE CREAM</span>
              <br />
              <span class="hero-title__second">MADE WITH</span><br />
              <span class="hero-title__last">PASSION</span>
            </h1>
          </div>
          <div class="hero-btn">
            <ul class="hero-btn__list unstyled-list">
              <li>
                <button class="hero-btn__list-first" type="button">
                  Products
                </button>
              </li>
              <li>
                <button class="hero-btn__list-second" type="button">
                  How it’s made?
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="hero-number">
          <ul class="hero-number__list unstyled-list">
            <li>
              <span class="hero-number__list-nr">16</span><br />
              <span class="hero-number__list-text">cafes</span>
            </li>
            <li>
              <span span class="hero-number__list-nr">23</span><br />
              <span class="hero-number__list-text">food trucks</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero-milk-cont">
        <div>
          <picture>
            <source
              media="screen and (max-width:767px)"
              srcset="images\milk-cup-t.png, images\milk-cup-t@x2.png 2x"
            />
            <source
              media="screen and (max-width:1200px)"
              srcset="images\milk-cup-d.png, images\milk-cup-d@x2.png 2x"
            />
            <img
              class="hero-milk-cont__image-mod"
              width="270"
              src="./images/milk-cup-d.png"
              alt="Christopher Walker"
            />
          </picture>
        </div>
        <div class="hero-milk">
          <div>
            <p class="hero-milk__paragraf">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
          </div>
          <div class="hero-btn-milk-mod">
            <button class="arrow-button arrow-button-mod" type="button">
              <svg class="arrow-button__svg" width="40px" height="40px">
                <use href="/src/images/sprite.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
    <picture class="ice-cup">
      <source
        media="screen and (max-width:480px)"
        srcset="images\ice-cup-m.png, images\ice-cup-m@x2.png 2x"
      />
      <source
        media="screen and (max-width:767px)"
        srcset="images\ice-cup-t.png, images\ice-cup-t@x2.png 2x"
      />
      <source
        media="screen and (max-width:1200px)"
        srcset="images\ice-cup-d.png, images\ice-cup-d@x2.png 2x"
      />
      <img
        class="ice-cup__image"
        width="270"
        src="./images/ice-cup-d.png"
        alt="ice-cup"
      />
    </picture>
    <picture class="eat-ice">
      <source
        media="screen and (max-width:480px)"
        srcset="images\eat-ice-t.png, images\eat-ice-t@x2.png 2x"
      />
      <source
        media="screen and (max-width:767px)"
        srcset="images\eat-ice-d.png, images\eat-ice-d@x2.png 2x"
      />
      <img
        class="eat-ice__image"
        width=""
        src="./images/eat-ice-d.png"
        alt="ice"
      />
    </picture>
    <div class="hero-eclips"></div>
  </div>
</header>
