<div class="backdrop is-hidden" data-header-modal>
    <div class="modal-area">
        <button class="modal-area__button" type="button" data-header-modal-close>
            <svg width="11" height="11">
                <use href="./images/sprite.svg#icon-exit">
                </use>
            </svg>
        </button>
    <ul class="filter-list">
        <li class="filter-item">
            <button type="button" class="filter-item__button">Ice Cream</button>
        </li>
        <li class="filter-item">
            <button type="button" class="filter-item__button">Ice Coffee</button>
        </li>
        <li class="filter-item">
            <button type="button" class="filter-item__button">Milkshakes</button>
        </li>
    </ul>
      
    <ul class="card-set">
        <li class="products-card">
           <div class="product-descr">
                    <h2 class="product-descr__title">strawberry ice cream</h2>
                    <button type="button" class="add-btn">
                        <svg width="30" height="30">
                            <use href="./images/sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>
           
        </li>
        <li class="products-card">
         <div class="product-descr">
                    <h2 class="product-descr__title">chocolate ice cream</h2>
                    <button type="button" class="add-btn">
                        <svg width="30" height="30">
                            <use href="./images/sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>
            
        </li>
        <li class="products-card">
          <div class="product-descr">
                    <h2 class="product-descr__title">pistachio ice cream</h2>
                    <button type="button" class="add-btn">
                        <svg width="30" height="30">
                            <use href="./images/sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>
            
        </li>
        <li class="products-card">
            <div class="product-descr">
                    <h2 class="product-descr__title">cherry milkshake</h2>
                    <button type="button" class="add-btn">
                        <svg width="30" height="30">
                            <use href="./images/sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>
            
        </li>
        <li class="products-card">
          <div class="product-descr">
                    <h2 class="product-descr__title">oreo milkshake</h2>
                    <button type="button" class="add-btn">
                        <svg width="30" height="30">
                            <use href="./images/sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>
           
        </li>
        <li class="products-card">
            <div class="product-descr">
                    <h2 class="product-descr__title">mint milkshake</h2>
                    <button type="button" class="add-btn">
                        <svg width="30" height="30">
                            <use href="./images/sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>
           
        </li>
        <li class="products-card">
          <div class="product-descr">
                    <h2 class="product-descr__title">hot coffee</h2>
                    
                </div>
                <button type="button" class="add-btn">
                    <svg width="30" height="30">
                        <use href="./images/sprite.svg#icon-basket"></use>
                    </svg>
                </button>
           
        </li>
        <li class="products-card">
             <div class="product-descr">
                    <h2 class="product-descr__title">ice coffee</h2>
                    <button type="button" class="add-btn">
                        <svg width="30" height="30">
                            <use href="./images/sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>
          
        </li>
        <li class="products-card">
          <div class="product-descr">
                    <h2 class="product-descr__title">matcha latte</h2>
                    <button type="button" class="add-btn">
                        <svg width="30" height="30">
                            <use href="./images/sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>

        </li>
    </ul>

        
    </div>

</div>