<section class="header-hero" id="home">
  <header class="header">
    <div class="container-box">
      <div class="hero-section">
        <div class="logo-case">
          <a class="logotype link" lang="en" href="/index.html">
            <svg width="50" height="50" class="Logo-icon">
              <use href="./images/sprite.svg#logo"></use>
            </svg>

            <span class="logo-icecream">icecream</span>
          </a>

          <div class="nav-block">
            <nav class="navigation-case" id="menu1">
              <ul class="navigation-list list">
                <li class="navigation-list-item">
                  <a class="nav accent link" href="#home">Home</a>
                </li>
                <li class="navigation-list-item">
                  <a class="nav link" href="#about_us">About us</a>
                </li>
                <li class="navigation-list-item">
                  <a class="nav link" href="#how_made">How it’s made?</a>
                </li>
                <li class="navigation-list-item">
                  <a class="nav link" href="#our_products">Our products</a>
                </li>
                <li class="navigation-list-item">
                  <a class="nav link" href="#contact">Contact</a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="btn-case">
            <div class="burger-case">
              <button type="button" class="burger-btn" data-menu-button>
                <svg class="burger-icon" width="20" height="20">
                  <use href="./images/sprite.svg#burgermenu"></use>
                </svg>
              </button>
            </div>

            <button class="Buy-now-button" type="button">Buy now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-content">
      <div class="left-case">
        <div class="slogan-case">
          <div class="slogan-title">
            <h1 class="hero-title">
              ice cream<br />
              made with
            </h1>
            <h2 class="slogan-prefix">passion</h2>

            <ul class="header-but-list list">
              <li class="header-but-item">
                <a class="header-but-link link" href="#our_products"
                  >Products</a
                >
              </li>
              <li class="header-but-item">
                <a class="header-but-link link" href="#how_made"
                  >How it’s made?</a
                >
              </li>
            </ul>
          </div>

          <div class="notitia-case">
            <div class="notitia-block owner">
              <picture class="slave">
                <source
                  srcset="
                    ./images/hero-header/desktop-milk.webp    1x,
                    ./images/hero-header/desktop-milk@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/hero-header/desktop-milk.png    1x,
                    ./images/hero-header/desktop-milk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/hero-header/tablet-milk.webp    1x,
                    ./images/hero-header/tablet-milk@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/hero-header/tablet-milk.png    1x,
                    ./images/hero-header/tablet-milk@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  src="./images/hero-header/tablet-milk.png"
                  alt="графин с молоком"
                />
              </picture>
            </div>

            <div class="title-case">
              <p class="title-notitia">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
              <a class="title-but-link link" href="#contact">
                <svg class="title-button-icon">
                  <use href="./images/sprite.svg#right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="center-case">
        <div class="hero-content"></div>

        <div class="hero-case owner">
          <picture class="slave">
            <source
              srcset="
                ./images/hero-header/desktop-ice-cream.webp    1x,
                ./images/hero-header/desktop-ice-cream@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hero-header/desktop-ice-cream.png    1x,
                ./images/hero-header/desktop-ice-cream@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero-header/tablet-ice-cream.webp    1x,
                ./images/hero-header/tablet-ice-cream@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/hero-header/tablet-ice-cream.png    1x,
                ./images/hero-header/tablet-ice-cream@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero-header/mobile-ice-cream.webp    1x,
                ./images/hero-header/mobile-ice-cream@2x.webp 2x
              "
              media="(min-width: 280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hero-header/mobile-ice-cream.png    1x,
                ./images/hero-header/mobile-ice-cream@2x.png 2x
              "
              media="(min-width: 280px)"
            />
            <img
              src="./images/hero-header/mobile-ice-cream.png"
              alt="рожковое мороженое"
            />
          </picture>
        </div>
      </div>

      <div class="right-case">
        <div class="soooooo-tasty">
          <div class="soooooo-box">
            <ul class="auxiliary-list list">
              <li class="auxiliary-item">
                <p class="figures">16</p>
                <p class="signature">cafes</p>
              </li>
              <li class="auxiliary-item">
                <p class="figures">23</p>
                <p class="signature">food trucks</p>
              </li>
            </ul>
          </div>

          <div class="soooooo-image owner">
            <picture class="slave">
              <source
                srcset="
                  ./images/hero-header/desktop-girl.webp    1x,
                  ./images/hero-header/desktop-girl@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/hero-header/desktop-girl.png    1x,
                  ./images/hero-header/desktop-girl@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hero-header/tablet-girl.webp    1x,
                  ./images/hero-header/tablet-girl@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/hero-header/tablet-girl.png    1x,
                  ./images/hero-header/tablet-girl@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/hero-header/tablet-girl.png"
                alt="девушка ест мороженое"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>

<!-- mob -->

<div class="background-close bat-close" bat-close bat-ref>
  <p>
    the background is specially created for working out of the mobile menu, I
    understand that through castille, but on I am not able for a while otherwise
    ((((((
  </p>
</div>

<div class="backdrop is-open" data-menu>
  <div class="mobil-block">
    <button type="button" class="mobil-button-close" data-menu-close>
      <svg class="mobil-button-icon" width="14" height="14">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="btn-buy-now">
      <a class="mobil-button link" lang="en" href="/">
        <span class="title-buy-now">Buy now</span>

        <svg width="5" height="8" class="mod-icon">
          <use href="./images/sprite.svg#minr"></use>
        </svg>
      </a>
    </div>

    <ul class="mobil-list list" id="menu2">
      <li class="mobil-item" data-id-exit1>
        <a class="mobil-link accent link" href="#home">Home</a>
      </li>
      <li class="mobil-item" data-id-exit2>
        <a class="mobil-link link" href="#about_us">About us</a>
      </li>
      <li class="mobil-item" data-id-exit3>
        <a class="mobil-link link" href="#how_made">How it’s made?</a>
      </li>
      <li class="mobil-item" data-id-exit4>
        <a class="mobil-link link" href="#our_products">Our products</a>
      </li>
      <li class="mobil-item" data-id-exit5>
        <a class="mobil-link link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
