<section class="hero">
  <h1 class="hero-title">ICE CREAM MADE WITH <span>PASSION</span></h1>
  <button type="button">Products</button>
  <button type="button">How it’s made?</button>
  <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et</p>
  <button type="button">
    <svg>
      <use href="./images/sprite/sprite_projects.svg#arrow-right"></use>
    </svg>
  </button>
  <div class="thumb">
    <picture>
      <source srcset="
                    ./images/img-hero/ice-desctop.webp 1x, 
                    ./images/img-hero/ice-desctop@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">

      <source srcset="
                    ./images/img-hero/ice-desctop.png 1x, 
                    ./images/img-hero/ice-desctop@2x.png 2x" media="(min-width: 1280px)">

      <source srcset="
                    ./images/img-hero/ice-tablet.webp 1x, 
                    ./images/img-hero/ice-tablet@2x.webp 2x" media="(min-width: 768px)" type="image/webp">

      <source srcset="
                    ./images/img-hero/ice-tablet.png 1x, 
                    ./images/img-hero/ice-tablet@2x.png 2x" media="(min-width: 768px)">

      <source srcset="
                    ./images/img-hero/ice-mobile.webp 1x, 
                    ./images/img-hero/ice-mobile@2x.webp 2x" media="(min-width: 480px)" type="image/webp">

      <source srcset="
                    ./images/img-hero/ice-mobile.png 1x, 
                    ./images/img-hero/ice-mobile@2x.png 2x" media="(min-width: 480px)">
      <img class="team__img" src="./images/img-hero/ice-mobile.png" alt="член команды">
    </picture>
  </div>
  <ul>
    <li>
      <div>
        <h3>16</h3>
        <p>cafes</p>
      </div>
    </li>
    <li>
      <div>
        <h3>23</h3>
        <p>food trucks</p>
      </div>
    </li>
  </ul>
</section>