<!-- Герой -->
<section class="hero-section">
  <div class="container-hero-full hero-full">
    <!-- саундбар -->
    <div class="saundbar">
      <ul class="socials list-link-hero">
        <span class="decor"></span>
        <li class="list-link-hero">
          <a class="link-socials list-link-hero" href="">Instagram</a>
        </li>
        <li class="list-link-hero">
          <a class="link-socials list-link-hero" href="">Youtube</a>
        </li>
      </ul>
    </div>
    <!-- Секція слайдера -->
    <div class="section-hero">
      <!-- Слайдер -->
      <div class="slider">
        <div class="slider-item">
          <img src="./images/img-sllid1.jpg" alt="Первый слайд" />
        </div>
        <div class="slider-item">
          <img src="./images/img-sllid2.jpg" alt="Второй слайд" />
        </div>
        <div class="slider-item">
          <img src="./images/img-sllid3.jpg" alt="Третий слайд" />
        </div>
      </div>

      <!-- Вказівник слайду -->
      <div class="slider-dots">
        <span class="slider-dots_item" onclick="currentSlide(1)"></span>
        <span class="slider-dots_item" onclick="currentSlide(2)"></span>
        <span class="slider-dots_item" onclick="currentSlide(3)"></span>
      </div>

      <!-- перимикач слайдера -->
      <div class="button-slayder">
        <button class="button-end prev" onclick="minusSlide()">Назад</button>
        <button class="button-up next" onclick="plusSlide()">Вперед</button>
      </div>

      <!-- Текст над слайдом -->
      <div class="hero">
        <h2 class="subtitle-hero">A hair salon for men in Kyiv</h2>
        <h1 class="title-hero">BarberShop</h1>
        <p class="text-hero">
          Мы эксперты в модных мужских стрижках. <br />
          Работаем быстро, осторожно и совкусом.
        </p>
      </div>
    </div>
  </div>

  <!-- Меню сайту -->
  <!-- <include src="./partials/page-header.html"></include> -->
</section>
