<section class="hero">
  <div class="container">
    <div class="hero-box">
      <div class="caption">
        <h1 class="title"><span class="subtitle">ice cream made with</span> passion</h1>
        <ul class="btn-list list">
          <li class="btn-item">
            <a class="btn-dark link" href="#products">Products</a>
            <!-- <button class="btn-dark" type="button">Products</button> -->
          </li>
          <li class="btn-item">
            <!-- <button class="btn-light" type="button">How it’s made?</button> -->
            <a class="btn-light link" href="#how">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="wrap-hero-desc">
        <p class="hero-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut
          labore et</p>
        <a class="circle-link link" href=""> -&gt; </a>
      </div>
    </div>
    <div class="box-hero-img">
      <img class="hero-img" src="" alt="best ice cream" width="236" height="557">
    </div>
    <ul class="achievement-list list">
      <li class="achievement-item">
        <p class="achievement-numbers">16</p>
        <p class="achievement-desc">cafes</p>
      </li>
      <li class="achievement-item">
        <p class="achievement-numbers">23</p>
        <p class="achievement-desc">food trucks</p>
      </li>
    </ul>
  </div>
  <!-- <div class="canvas"></div> -->
</section>