<header class="header-hero">
  <div class="container">
    <div class="header">
      <a href="./index.html" class="logo link">
        <img class="logo-picture" src="./images/header-hero/logo.png" alt="company logo" />
      </a>
      <nav class="nav">
        <ul class="nav__list list">
          <li class="nav__item">
            <a href="./index.html" class="nav__link link active">Home</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#description" class="nav__link link">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link link">Our products</a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="burger-button">
        <svg class="burger-button-icon">
          <use href="./images/sprite.svg#icon-menu-burger"></use>
        </svg>
      </button>
      <button class="button--arrow-theme-white button">
        Buy now
        <svg class="button__icon">
          <use href="./images/sprite.svg#icon-half-arrow-right-red"></use>
        </svg>
      </button>
      <div class="mobile-menu">
        <button class="mobile-menu__button-close button">
          <svg class="mobile-menu__button-close-icon">
            <use href="./images/sprite.svg#icon-menu-close"></use>
          </svg>
        </button>
        <button class="button--arrow-theme-white button">
          Buy now
          <svg class="button__icon">
            <use href="./images/sprite.svg#icon-half-arrow-right-red"></use>
          </svg>
        </button>
        <ul class="mobile-menu-nav list">
          <li class="mobile-menu-nav__item">
            <a href="./index.html" class="mobile-menu-nav__link link">Home</a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="#about" class="mobile-menu-nav__link link">About us</a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="#description" class="mobile-menu-nav__link link">How it’s made?</a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="#products" class="mobile-menu-nav__link link">Our products</a>
          </li>
          <li class="mobile-menu-nav__item">
            <a href="#contacts" class="mobile-menu-nav__link link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <div class="hero__container">
        <h1 class="hero__title">
          Ice cream<br />made with<br /><span class="hero-title__accent">passion</span>
        </h1>
        <ul class="hero-nav list">
          <li class="hero-nav__item">
            <a href="#products" class="button button--theme-red link">Products</a>
          </li>
          <li class="hero-nav__item">
            <a href="#description" class="button button--theme-white link">How it's made?</a>
          </li>
        </ul>
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="#" class="hero__link">
          <svg class="hero__icon">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
      <div class="hero__image-background"></div>
      <ul class="hero-statistics">
        <li class="hero-statistics__item">
          <p class="hero-statistics__number">16</p>
          <p class="hero-statistics__description">cafes</p>
        </li>
        <li class="hero-statistics__item">
          <p class="hero-statistics__number">23</p>
          <p class="hero-statistics__description">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</header>
