<div class="backdrop is-hidden" data-modal>
    <div class="modal-area">
        <button class="modal-area__button" type="button" data-modal-close>
            <svg width="11" height="11">
                <use href="./images/sprite.svg#icon-exit">
                </use>
            </svg>
        </button>
    <ul class="filter-list">
        <li class="filter-item">
            <button type="button" class="filter-item__button">Ice Cream</button>
        </li>
        <li class="filter-item">
            <button type="button" class="filter-item__button">Ice Coffe</button>
        </li>
        <li class="filter-item">
            <button type="button" class="filter-item__button">Milkshakes</button>
        </li>
    </ul>
      
    <ul class="card-set">
        <li class="products-card">
            
                <div class="product-photo">
                </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">strawberry ice cream</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
           
        </li>
        <li class="products-card">
            
                <div class="product-photo">
                </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">chocolate ice cream</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            
        </li>
        <li class="products-card">
                <div class="product-photo">
                </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">pistachio ice cream</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            
        </li>
        <li class="products-card">
            
                <div class="product-photo">
                </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">oreo milkshake</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            
        </li>
        <li class="products-card">
           
                <div class="product-photo">
                </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">mint milkshake</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
           
        </li>
        <li class="products-card">
            
                <div class="product-photo">
                </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">raspberry milkshake</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
           
        </li>
        <li class="products-card">
          
                <div class="product-photo">
               </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">matcha latte</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
           
        </li>
        <li class="products-card">
            
                <div class="product-photo">
               </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">cherry late</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
          
        </li>
        <li class="products-card">
          
                <div class="product-photo">
                </div>
                <div class="product-descr">
                    <h2 class="product-descr__title">ice coffe</h2>
                    <p class="product-descr__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
           
        </li>
    </ul>

        
    </div>

</div>