<!-- Герой -->
<section class="hero-section">
  <div class="container-hero-full">
    <div class="saundbar">
      <ul class="socials list">
        <span class="decor"></span>
        <li class="list"><a class="link-socials list" href="">Instagram</a></li>
        <li class="list"><a class="link-socials list" href="">Youtube</a></li>
      </ul>
    </div>
    <div class="section-hero">
      <div class="imgsl">
        <div class="fon"></div>
        <picture>
          <source srcset="./images/slider3.jpg" media="(min-width: 1280px)" />
          <source
            srcset="./images/slider3-768.jpg"
            media="(min-width: 768px)"
          />
          <img
            srcset="./images/slider3-480.jpg"
            src="./images/slider3-480.jpg"
            alt="фотографія"
          />
        </picture>
      </div>

      <div class="hero">
        <h2 class="subtitle-hero">A hair salon for men in Kyiv</h2>
        <h1 class="title-hero">BarberShop</h1>
        <p class="text-hero">
          Мы эксперты в модных мужских стрижках. <br />
          Работаем быстро, осторожно и совкусом.
        </p>
      </div>
      <!-- перимикач слайдера -->
      <div class="button-slayder">
        <button class="button-end">Назад</button>
        <button class="button-up">Вперед</button>
      </div>

      <!-- перимикач слайдера права панель-->
      <div class="right-panels">
        <button class="up1"></button>
        <button class="up1"></button>
        <button class="up1"></button>
      </div>
    </div>
  </div>
</section>
