<section class="hero">
  <div class="container">
    <div class="hero__box-first">
      <div class="hero__caption">
        <h1 class="hero__title animate__heartBeat">ice cream made with<span class="hero__subtitle"> passion</span></h1>
        <ul class="buttons-list list">
          <li class="buttons-list__item">
            <a class="hero-button btn-dark link" href="#products">Products</a>
          </li>
          <li class="buttons-list__item">
            <a class="hero-button btn-light link" href="#about">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="hero__wrap-first">
        <picture>
          <source
            srcset="./images/hero/desktop/hero-bottle-desktop.webp 1x, ./images/hero/desktop/hero-bottle-desktop@2x.webp 2x"
            media="(min-width: 1280px)" type="image/webp">
          <source srcset="./images/hero/desktop/hero-bottle-desktop.png 1x, ./images/hero/desktop/hero-bottle-desktop@2x.png 2x"
            media="(min-width: 1280px)">
        
          <source srcset="./images/hero/tablet/hero-bottle-tablet.webp 1x, ./images/hero/tablet/hero-bottle-tablet@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
          <source srcset="./images/hero/tablet/hero-bottle-tablet.png 1x, ./images/hero/tablet/hero-bottle-tablet@2x.png 2x"
            media="(min-width: 768px)">
        
          <img class="hero__bottle-img" src="./images/hero/desktop/hero-bottle-desktop.png" alt="bottle with milk">
        </picture>
        <div class="hero_wrap-second">
          <p class="hero__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et
          </p>
          <a class="hero__circle-link link" href="#about">
            <svg class="header__circle-icon" width="10" height="10">
              <use href="./images/sprite.svg#right-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="hero__box-second">
      <picture>
        <source
          srcset="./images/hero/desktop/hero-icecream-desktop.webp 1x, ./images/hero/desktop/hero-icecream-desktop@2x.webp 2x"
          media="(min-width: 1280px)" type="image/webp">
        <source srcset="./images/hero/desktop/hero-icecream-desktop.png 1x, ./images/hero/desktop/hero-icecream-desktop@2x.png 2x"
          media="(min-width: 1280px)">
      
        <source srcset="./images/hero/tablet/hero-icecream-tablet.webp 1x, ./images/hero/tablet/hero-icecream-tablet@2x.webp 2x"
          media="(min-width: 768px)" type="image/webp">
        <source srcset="./images/hero/tablet/hero-icecream-tablet.png 1x, ./images/hero/tablet/hero-icecream-tablet@2x.png 2x"
          media="(min-width: 768px)">
        
        <source srcset="./images/hero/mob/hero-icecream-mob.webp 1x, ./images/hero/mob/hero-icecream-mob@2x.webp 2x"
          media="(min-width: 320px)" type="image/webp">
        <source srcset="./images/hero/mob/hero-icecream-mob.png 1x, ./images/hero/mob/hero-icecream-mob@2x.png 2x"
          media="(min-width: 320px)">
      
        <img class="hero__icecream-img" src="./images/hero/desktop/hero-icecream-desktop.png" alt="best ice cream">
      </picture>
    </div>
    
    <div class="hero__box-third">
      <ul class="achievement-list list">
        <li class="achievement-list__item">
          <p class="achievement-list__numbers">16</p>
          <p class="achievement-list__desc">cafes</p>
        </li>
        <li class="achievement-list__item">
          <p class="achievement-list__numbers">23</p>
          <p class="achievement-list__desc">food trucks</p>
        </li>
      </ul>
      <picture>
        <source
          srcset="./images/hero/desktop/hero-girl-desktop.webp 1x, ./images/hero/desktop/hero-girl-desktop@2x.webp 2x"
          media="(min-width: 1280px)" type="image/webp">
        <source srcset="./images/hero/desktop/hero-girl-desktop.png 1x, ./images/hero/desktop/hero-girl-desktop@2x.png 2x"
          media="(min-width: 1280px)">
      
        <source srcset="./images/hero/tablet/hero-girl-tablet.webp 1x, ./images/hero/tablet/hero-girl-tablet@2x.webp 2x"
          media="(min-width: 768px)" type="image/webp">
        <source srcset="./images/hero/tablet/hero-girl-tablet.png 1x, ./images/hero/tablet/hero-girl-tablet@2x.png 2x"
          media="(min-width: 768px)">
      
        <img class="hero__girl-img" src="./images/hero/desktop/hero-girl-desktop.png" alt="girl with icecream">
      </picture>
    </div>
  </div>
</section>