<header class="header">
    <div class="container">
        <div class="hero">


            <a class="logotype" lang="en" href="#">
                <svg width="50" height="50" class="Logo-icon">
                    <!-- <use href="./images/sprite.svg#logo"></use> -->
                    <use href=""></use>
                </svg>icecream</a>

            <nav class="navigation">
                <ul class="navigation-list">
                    <li class="navigation-list-item"><a class="nav" href="">Home</a></li>
                    <li class="navigation-list-item"><a class="nav" href="">About us</a></li>
                    <li class="navigation-list-item"><a class="nav" href="">How it’s made?</a></li>
                    <li class="navigation-list-item"><a class="nav" href="">Our products</a></li>
                    <li class="navigation-list-item"><a class="nav" href="">Contact</a></li>
                </ul>
            </nav>
            
            <button class="modal-button" type="button">Buy now</button>


            <div class="slogan">
                <h1 class="hero-title">ice cream<br> made with</h1> 
                <p>passion</p>

                <div class="notitia">     
                    <img src="./images/hero-header/desktop-milk@2x.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                </div>

            </div>

            <div class="hero-imagini">
                <img src="./images/hero-header/mobile-ice-cream@2x.png" alt="">                
            </div>
            
            <div class="soooooo-tasty">
                
                <ul>
                    <li>
                        <h2 class="figures">16</h2>
                        <p class="signature">cafes</p>
                    </li>
                    <li>
                        <h2 class="figures">23</h2>
                        <p class="signature">food trucks</p>
                    </li>
                </ul>

            </div>

            
            
            

        </div>

    </div>
</header>
