<section class="home">
  <div class="home-container">
  <div class="home-main">
    <h1 class="home-title">ice cream<br>made with<br>
      <span class="home-passion">passion</span>
    </h1>
    <ul class="home-bottons-list">
      <li class="btn"><a class="home-botton" href="#products">Products</a></li>
      <li class="btn light"><a class="home-botton" href="#production">How it’s made?</a></li>
    </ul>
  </div>
  <div class="home-circle"></div>
  
    <img class="home-icecream"
    src="./images/mobile/home/home_ice.png" 
    srcset="./images/mobile/home/home_ice.png"
    srcset="./images/mobile/home/home_ice@2x.png 2x"
    srcset="./images/tablet/home/home_ice.png"
    srcset="./images/tablet/home/home_ice@2x.png 2x"
    srcset="./images/tablet/home/home_ice@3x.png 3x"
    srcset="./images/desktop/home/home_ice.png"
    srcset="./images/desktop/home/home_ice@2x.png 2x"
    srcset="./images/desktop/home/home_ice@3x.png 3x"
    
    alt="ice-cream">

  <div class="home-trend">
    <ul class="home-trend-list">
      <li><span class="home-number">16</span>cafes</li>
      <li><span class="home-number">23</span>food trucks</li>
  </ul>
  </div>
  <div class="home-milk">
    <div class="home-milk-img">
      <img 
      src="./images/tablet/home/milk.png" 
      srcset="./images/tablet/home/milk.png"
      srcset="./images/tablet/home/milk@2x.png 2x"
      srcset="./images/desktop/home/milk@2x.png 2x"
      srcset="./images/desktop/home/milk@3x.png 3x"
      alt="milk">
    </div>
    <div class="home-milk-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo exercitationem nesciunt aut ab maiores doloremque minus vero, voluptatum eaque fugit.
      </p>
      <button class="home-arrow-button" type="button">
        <svg class="home-arrow-icon">
          <use
            href="./images/symbol-defs.svg#icon-arrow-right2">
          </use>
        </svg>
      </button>
    </div>
  </div>
   <img class="home-girl"
  src="./images/tablet/home/girl.png"
  srcset="./images/tablet/home/girl@2x.png 2x"
  srcset="./images/desktop/home/girl.png"
  srcset="./images/desktop/home/girl@2x.png 2x"
  srcset="./images/desktop/home/girl@x3.png 3x"
  alt="girl with ice cream">
</div>
</section>