<div class="days"></div>

<script src="./hourly_florin.js"></script>

<!-- <div class="days">
  <div class="weather-card">
    <div class="weather-card__time">
      <h2 class="weather-card__time-hour">12:00</h2>
      <svg class="weather-card__time-icon">
        <use href="./css/icons.svg#icon-cloudy"></use>
      </svg>
      <h1 class="weather-card__time-temp">22°C</h1>
    </div>
    <div class="weather-card__details">
      <div class="weather-card__barometer">
        <svg class="weather-card__details-icons">
          <use href="./css/icons.svg#icon-barometer"></use>
        </svg>
        <p class="weather-card__details-text">772 mm</p>
      </div>
      <div class="weather-card__humidity">
        <svg class="weather-card__details-icons">
          <use href="./css/icons.svg#icon-humidity"></use>
        </svg>
        <p class="weather-card__details-text">54 %</p>
      </div>
      <div class="weather-card__wind">
        <svg class="weather-card__details-icons">
          <use href="./css/icons.svg#icon-wind"></use>
        </svg>
        <p class="weather-card__details-text">3.7 m/s</p>
      </div>
    </div>
  </div>
</div> -->
