<!-- How it’s made? -->
        <section class="container">
            <p class="title-H3">tradition and love </p>
            <h2>how it’s made?</h2>
            <div>
                <!-- <picture>
                </picture> -->
            </div>
            <div>
               <p class="fat-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p> 
               <p class="normal-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
               <p class="normal-text">Aliquam erat volutpat. Aenean accumsan.</p>
               <button class="btn2">Read more</button>
            </div>
            <div>
                <ul>
                    <li>
                        <!-- <img src="" alt=""> -->
                        <p>721</p>
                        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                    <li>
                        <!-- <img src="" alt=""> -->
                        <p>16 kg</p>
                        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                    <li>
                        <!-- <img src="" alt=""> -->
                        <p>84</p>
                        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                </ul>
            </div>
        </section>