<section class="how-we-do-it">
    <div class="container">
        <h2 class="title how">Как мы это делаем</h2>
        <ul class="list how-we-do">
            <li class="item">
                <a href="" class="link for-card">
                    <svg width="45.39" height="48">
                        <use href="./images/svg/sprite.svg#study"></use>
                    </svg>
                    <h3>Адаптированная программа <br>подготовки к ВНО</h3>
                    <p>Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.</p>
                </a>
            </li>
            <li class="item">
                <a href="" class="link for-card">
                    <svg width="48" height="47">
                        <use href="./images/svg/sprite.svg#mobile"></use>
                    </svg>
                    <h3>Аудитория и <br>онлайн-обучение</h3>
                    <p>Учитель поможет не только в аудитории, но и во время домашней подготовки. Родители могут участвовать в чате при желании.</p>
                </a>
            </li>
            <li class="item">
                <a href="" class="link for-card">
                    <svg width="68.43" height="48">
                        <use href="./images/svg/sprite.svg#book"></use>
                    </svg>
                    <h3>Привычка читать на <br>английском языке</h3>
                    <p>Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон дважды в неделю.</p>
                </a>
            </li>
            <li class="item">
                <a href="" class="link for-card">
                    <svg width="48.35" height="48">
                        <use href="./images/svg/sprite.svg#backup"></use>
                    </svg>
                    <h3>Психологическая <br>поддержка</h3>
                    <p>Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности в себе.</p>
                </a>
            </li>
            <li class="item">
                <a href="" class="link for-card">
                    <svg width="39.83" height="48">
                        <use href="./images/svg/sprite.svg#student"></use>
                    </svg>
                    <h3>Обучение по авторским <br>пособиям</h3>
                    <p>Тебе не нужно тратить время на  самостоятельный поиск материала и ничего покупать дополнительно. Мы составили 2 пособия для тебя.</p>
                </a>
            </li>
            <li class="item">
                <a href="" class="link for-card">
                    <svg width="57.14" height="48">
                        <use href="./images/svg/sprite.svg#audio"></use>
                    </svg>
                    <h3>Умение воспринимать устную <br>английскую речь</h3>
                    <p>“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать аудиозаписи в соответствии с изучаемой лексикой.</p>
                </a>
            </li>
        </ul>
    </div>
</section>