<!-- How it’s made? -->
<!-- hm = how made -->
<section class="container how-made" id="recipy">
    <div class="hm-backgroung-image"></div>
    <p class="hm-h3">tradition and love </p>
    <h2 class="hm-h2">how it’s made?</h2>
    <div class="hm-picture">
        <picture class="hm-img-container">
            <source srcset="
            ./images/section3/img31-desktop.png 1x,
            ./images/section3/img31-desktop@2x.png 2x" media="(min-width: 1200px)">
            <source srcset="
            ./images/section3/img31-tablet.png 1x,
            ./images/section3/img31-tablet@2x.png 2x" media="(min-width: 768px)">
            <source srcset="
            ./images/section3/img31-mobile.png 1x,
            ./images/section3/img31-mobile@2x.png 2x" media="(max-width: 767px)">
        
            <img class="hm-img" src="./images/section3/img31-mobile.png" alt="Milk and cow" />
        </picture>
        <div class="hm-description">
            <p class="hm-text-black">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
                eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
            <p class="hm-text">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                tincidunt.
                <br>
                    
                <br>               
                Aliquam erat volutpat. Aenean accumsan.
            </p>
            
            <button class="btn-hm" type="button">Read more
                <svg class="btn-hm-icon" width="7" height="10">
                    <use href="./images/icons/sprite.svg#corner-icon"></use>
                </svg>
            </button>
        </div>
    </div>
   
    <div>
        <ul class="hm-list">
            <li class="hm-list-item">
                <p class="hm-numbers">721</p>
                <p class="hm-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="hm-list-item">
                <p class="hm-numbers">16 kg</p>
                <p class="hm-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="hm-list-item">
                <p class="hm-numbers">84</p>
                <p class="hm-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
    <picture>
        <source srcset="
                ./images/section3/collage-desk.jpg 1x,
                ./images/section3/collage-desk@2x.jpg 2x" media="(min-width: 1200px)">
        <source srcset="
                ./images/section3/collage-tab.jpg 1x,
                ./images/section3/collage-tab@2x.jpg 2x" media="(min-width: 768px)">
        <source srcset="
                ./images/section3/collage-mob.jpg 1x,
                ./images/section3/collage-mob@2x.jpg 2x" media="(max-width: 767px)">
    
        <img class="hm-collage" src="./images/section3/collage-mob.jpg" alt="Collage" />
    </picture>
</section>