<section class="how-we-do">
    <div class="container">
        <h2 class="how-we-do__title">Как мы это делаем</h2>
        <ul class="how-we-do__cards">
            <li class="how-we-do__card">
                <div class="how-we-do__svg">
                    <svg width="48" height="48">
                        <use href="/images/sprite.svg#study-program"></use>
                    </svg>
                </div>
                <div class="how-we-do__card-information">
                    <h3 class="how-we-do__card-tile">Адаптированная программа подготовки к ВНО</h3>
                    <p class="how-we-do__card-text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься
                        писать сочинения.
                    </p>
                </div>
            </li>
            <li class="how-we-do__card">
                <div class="how-we-do__svg">
                    <svg width="48" height="48">
                        <use href="/images/sprite.svg#mobile-learning"></use>
                    </svg>
                </div>
                <div class="how-we-do__card-information">
                    <h3 class="how-we-do__card-tile">Аудитория и <br> онлайн-обучение</h3>
                    <p class="how-we-do__card-text">Учитель поможет не только в аудитории, но и во время домашней
                        подготовки. Родители могут
                        участвовать в чате при желании.</p>
                </div>
            </li>
            <li class="how-we-do__card">
                <div class="how-we-do__svg">
                    <svg width="48" height="48">
                        <use href="/images/sprite.svg#open-book"></use>
                    </svg>
                </div>
                <div class="how-we-do__card-information">
                    <h3 class="how-we-do__card-tile">Привычка читать на <br> английском языке</h3>
                    <p class="how-we-do__card-text">Статьи из источников, которые используются при разработке настоящего
                        ВНО, будут
                        приходить на телефон дважды в неделю</p>
                </div>
            </li>
            <li class="how-we-do__card">
                <div class="how-we-do__svg">
                    <svg width="48" height="48">
                        <use href="/images/sprite.svg#psychology-support"></use>
                    </svg>
                </div>
                <div class="how-we-do__card-information">
                    <h3 class="how-we-do__card-tile">Психологическая <br> поддержка</h3>
                    <p class="how-we-do__card-text">Мы научим тебя методикам прохождения тестирований, умению
                        планировать свою подготовку
                        уверенности
                        в себе.</p>
                </div>
            </li>
            <li class="how-we-do__card">
                <div class="how-we-do__svg">
                    <svg width="48" height="48">
                        <use href="/images/sprite.svg#student"></use>
                    </svg>
                </div>
                <div class="how-we-do__card-information">
                    <h3 class="how-we-do__card-tile">Обучение по авторским пособиям</h3>
                    <p class="how-we-do__card-text">Тебе не нужно тратить время на самостоятельный поиск материала и
                        ничего покупать
                        дополнительно. Мы составили 2 пособия
                        для тебя.</p>
                </div>
            </li>
            <li class="how-we-do__card">
                <div class="how-we-do__svg">
                    <svg width="48" height="48">
                        <use href="/images/sprite.svg#audio-book"></use>
                    </svg>
                </div>
                <div class="how-we-do__card-information">
                    <h3 class="how-we-do__card-tile">Умение воспринимать устную английскуб речь</h3>
                    <p class="how-we-do__card-text">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать аудиозаписи в соответствии с изучаемой лексикой.</p>
                </div>
            </li>
        </ul>
    </div>
</section>