<!-- Section how-it-made -->
<section class="section how-it-made how-it-made__background">
  <div class="container how-it-made__container">
    <p class="sub-title">tradition and love</p>
    <h2 class="title">how it's made?</h2>
    
    <div class="how-it-made__main-block">
        <div class="how-it-made__left-side">
            <picture class="picture">
                
                <source srcset="./images/how-it-made/cow_desktop.webp 1x, ./images/how-it-made/cow_desktop@2x.webp 2x" media="(min-width: 1200px)"
                type="image/webp">
                <source srcset="./images/how-it-made/cow_desktop.png 1x, ./images/how-it-made/cow_desktop@2x.png 2x" media="(min-width: 1200px)">
                
                <source srcset="./images/how-it-made/cow_tablet.webp 1x, ./images/how-it-made/cow_tablet@2x.webp 2x" media="(min-width: 768px)"
                type="image/webp">
                <source srcset="./images/how-it-made/cow_tablet.png 1x, ./images/how-it-made/cow_tablet@2x.png 2x" media="(min-width: 768px)">
            
                <source srcset="./images/how-it-made/cow_tel.webp 1x, ./images/how-it-made/cow_tel@2x.webp 2x" media="(min-width: 320px)"
                type="image/webp">
                <source srcset="./images/how-it-made/cow_tel.png 1x, ./images/how-it-made/cow_tel@2x.png 2x" media="(min-width: 320px)">
            
                <img src="./images/how-it-made/cow_tel.png" alt="cow with a glass of milk"  class="picture">
            
            </picture>
        </div>  
    
        <div class="how-it-made__right-side">
            <h4 class="how-it-made__losung">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. 
                Nam vel justo cursus, faucibus lorem eget, egestas eros. 
                Maecenas eleifend erat at justo fringilla.
            </h4>
            
            <p class="how-it-made__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. 
            </p>
                
            <p class="how-it-made__text another">Aliquam erat volutpat. Aenean accumsan.</p> 
                    
            <a href="" class="link how-it-made__link">Read more
            
                    <svg class="how-it-made__icon">
                        <use href="./images/sprite.svg#icon-arrow-my"></use>
                    </svg>
                
            </a>
        </div>
    </div>
    

        
    <ul class="how-it-made__list" >
        <li class="how-it-made__list--link first">
            
            <p class="how-it-made__number">721</p>
            <p class="how-it-made__recipe">Aliquam ac dui vel dui vulputate consectetur. 
                                Mauris massa.
            </p>
        </li>
        <li class="how-it-made__list--link second">
            
            <p class="how-it-made__number">16kg</p>
            <p class="how-it-made__recipe">Aliquam ac dui vel dui vulputate consectetur. 
                                Mauris massa.
            </p>
        </li>
        <li class="how-it-made__list--link third">
            
            <p class="how-it-made__number">84</p>
            <p class="how-it-made__recipe">Aliquam ac dui vel dui vulputate consectetur. 
                                Mauris massa.
            </p>
        </li>
    </ul>

    <picture class="picture">

        <source srcset="./images/how-it-made/icecream_desktop.webp 1x, ./images/how-it-made/icecream_desktop@2x.webp 2x" media="(min-width: 1200px)"
        type="image/webp">
        <source srcset="./images/how-it-made/icecream_desktop.jpg 1x, ./images/how-it-made/icecream_desktop@2x.jpg 2x" media="(min-width: 1200px)">
        
        <source srcset="./images/how-it-made/icecream_tablet.webp 1x, ./images/how-it-made/icecream_tablet@2x.webp 2x" media="(min-width: 768px)"
        type="image/webp">
        <source srcset="./images/how-it-made/icecream_tablet.jpg 1x, ./images/how-it-made/icecream_tablet@2x.jpg 2x" media="(min-width: 768px)">
    
        <source srcset="./images/how-it-made/icecream_tel.webp 1x, ./images/how-it-made/icecream_tel@2x.webp 2x" media="(min-width: 320px)"
        type="image/webp">
        <source srcset="./images/how-it-made/icecream_tel.jpg 1x, ./images/how-it-made/icecream_tel@2x.jpg 2x" media="(min-width: 320px)">
    
        <img src="./images/how-it-made/icecream_tel.jpg" alt="cow with a glass of milk"  class="how-it-made__picture">
    
    </picture>

    </div>
</section>

