<section class="how-we-do-it">
    <span id="study-options"></span>
    <div class="container">
        <h2 class="how-we-do-it__title">Как мы это делаем</h2>

        <ul class="how-we-do-it__list list">
            <li class="how-we-do-it__item">
                <a class="how-we-do-it__link" href="#">
                    <svg class="how-we-do-it__icon" width="46" height="48">
                        <use href="./images/sprite.svg#icon-study_program"></use>
                    </svg>
                    <h3 class="how-we-do-it__item-title">
                        Адаптированная программа подготовки к ВНО
                    </h3>
                    <span class="dash">&mdash;</span>
                    <p class="how-we-do-it__item-text">
                        Ты будешь изучать грамматику и лексику одновременно. И ты
                        научишься писать сочинения.
                    </p>
                </a>
            </li>
            <li class="how-we-do-it__item">
                <a class="how-we-do-it__link" href="#">
                    <svg class="how-we-do-it__icon" width="48" height="47">
                        <use href="./images/sprite.svg#icon-mobile_learning"></use>
                    </svg>
                    <h3 class="how-we-do-it__item-title">
                        Аудитория и <br>онлайн-обучение
                    </h3>
                    <span class="dash">&mdash;</span>
                    <p class="how-we-do-it__item-text">
                        Учитель поможет не только в аудитории, но и во время домашней
                        подготовки. Родители могут участвовать в чате при желании.
                    </p>
                </a>
            </li>
            <li class="how-we-do-it__item">
                <a class="how-we-do-it__link" href="#">
                    <svg class="how-we-do-it__icon" width="68" height="48">
                        <use href="./images/sprite.svg#icon-openbook"></use>
                    </svg>
                    <h3 class="how-we-do-it__item-title">
                        Привычка читать на английском языке
                    </h3>
                    <span class="dash">&mdash;</span>
                    <p class="how-we-do-it__item-text">
                        Статьи из источников, которые используются при разработке
                        настоящего ВНО, будут приходить на телефон дважды в неделю.
                    </p>
                </a>
            </li>
            <li class="how-we-do-it__item">
                <a class="how-we-do-it__link" href="#">
                    <svg class="how-we-do-it__icon" width="48" height="48">
                        <use href="./images/sprite.svg#icon-psychology_support"></use>
                    </svg>
                    <h3 class="how-we-do-it__item-title">
                        Психологическая <br>поддержка
                    </h3>
                    <span class="dash">&mdash;</span>
                    <p class="how-we-do-it__item-text">
                        Мы научим тебя методикам прохождения тестирований, умению
                        планировать свою подготовку уверенности в себе.
                    </p>
                </a>
            </li>
            <li class="how-we-do-it__item">
                <a class="how-we-do-it__link" href="#">
                    <svg class="how-we-do-it__icon" width="40" height="48">
                        <use href="./images/sprite.svg#icon-student"></use>
                    </svg>
                    <h3 class="how-we-do-it__item-title">
                        Обучение по авторским пособиям
                    </h3>
                    <span class="dash">&mdash;</span>
                    <p class="how-we-do-it__item-text">
                        Тебе не нужно тратить время на самостоятельный поиск материала
                        и ничего покупать дополнительно. Мы составили 2 пособия для
                        тебя.
                    </p>
                </a>
            </li>
            <li class="how-we-do-it__item">
                <a class="how-we-do-it__link" href="#">
                    <svg class="how-we-do-it__icon" width="57" height="48">
                        <use href="./images/sprite.svg#icon-audiobook"></use>
                    </svg>
                    <h3 class="how-we-do-it__item-title">
                        Умение воспринимать устную английскую речь
                    </h3>
                    <span class="dash">&mdash;</span>
                    <p class="how-we-do-it__item-text">
                        “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и
                        разбирать аудиозаписи в соответствии с изучаемой лексикой.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>