<section class="how-we-do-section">
  <div class="container how-we-do-container">
    <h2 class=".title how-we-do-title">Как мы это делаем</h2>
    <ul class="list how-we-do-list">
      <!--1 карточка-->
      <li class="item how-we-do-card">
        <svg class="how-we-do-card-svg">
          <use href="./images/icons/sprite.svg"></use>
        </svg>
        <h2 class="how-we-do-card-title">
          Адаптированная программа подготовки к ВНО
        </h2>
        <p class="how-we-do-card-description">
          Ты будешь изучать грамматику и лексику одновременно. И ты научишься
          писать сочинения.
        </p>
      </li>
      <!--2 карточка-->
      <li class="item how-we-do-card">
        <svg class="how-we-do-card-svg">
          <use></use>
        </svg>
        <h2 class="how-we-do-card-title">Аудитория и онлайн-обучение</h2>
        <p class="how-we-do-card-description">
          Учитель поможет не только в аудитории, но и во время домашней
          подготовки. Родители могут участвовать в чате при желании.
        </p>
      </li>
      <!--3 карточка-->
      <li class="item how-we-do-card">
        <svg class="how-we-do-card-svg">
          <use></use>
        </svg>
        <h2 class="how-we-do-card-title">
          Привычка читать на английском языке
        </h2>
        <p class="how-we-do-card-description">
          Статьи из источников, которые используются при разработке настоящего
          ВНО, будут приходить на телефон дважды в неделю.
        </p>
      </li>
      <!--4 карточка-->
      <li class="item how-we-do-card">
        <svg class="how-we-do-card-svg">
          <use></use>
        </svg>
        <h2 class="how-we-do-card-title">Психологическая поддержка</h2>
        <p class="how-we-do-card-description">
          Мы научим тебя методикам прохождения тестирований, умению планировать
          свою подготовку уверенности в себе.
        </p>
      </li>
      <!--5 карточка-->
      <li class="item how-we-do-card">
        <svg class="how-we-do-card-svg">
          <use></use>
        </svg>
        <h2 class="how-we-do-card-title">Обучение по авторским пособиям</h2>
        <p class="how-we-do-card-description">
          Тебе не нужно тратить время на самостоятельный поиск материала и
          ничего покупать дополнительно. Мы составили 2 пособия для тебя.
        </p>
      </li>
      <!--6 карточка-->
      <li class="item how-we-do-card">
        <svg class="how-we-do-card-svg">
          <use></use>
        </svg>
        <h2 class="how-we-do-card-title">
          Умение воспринимать устную английскуб речь
        </h2>
        <p class="how-we-do-card-description">
          “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и
          разбирать аудиозаписи в соответствии с изучаемой лексикой.
        </p>
      </li>
    </ul>
  </div>
</section>
