<!-- Section how-it-made -->
<!-- <section class="section how-it-made">
  <div class="container">
    <p class="sub-title">tradition and love</p>
    <h2 class="title">how it's made?</h2>
    <picture class="picture">
      <source
        srcset="
          ./images/portfolio/1/portfolio-pc1.webp    1x,
          ./images/portfolio/1/portfolio-pc1@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/portfolio/1/portfolio-pc1.jpg    1x,
          ./images/portfolio/1/portfolio-pc1@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />

      <source
        srcset="
          ./images/portfolio/1/portfolio-tablet1.webp    1x,
          ./images/portfolio/1/portfolio-tablet1@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/portfolio/1/portfolio-tablet1.jpg    1x,
          ./images/portfolio/1/portfolio-tablet1@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./images/portfolio/1/portfolio-mobile1.webp    1x,
          ./images/portfolio/1/portfolio-mobile1@2x.webp 2x
        "
        media="(min-width: 320px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/portfolio/1/portfolio-mobile1.jpg    1x,
          ./images/portfolio/1/portfolio-mobile1@2x.jpg 2x
        "
        media="(min-width: 320px)"
      />

      <img
        src="./images/portfolio/1/portfolio-mobile1.jpg"
        alt="cow with a glass of milk"
        class="picture"
      />
    </picture>
    <h4 class="how-it-made__losung">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </h4>
    <p class="how-it-made__text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt. <br />
      Aliquam erat volutpat. Aenean accumsan.
    </p>
    <a href="" class="link how-it-made__link">Read more</a>
  </div>
</section> -->
