<section class="how-made container id="how-made">

    <h3 class="how-made-subtitle secondary-title">tradition and love</h3>
    <h2 class="how-made-title main-title">how it’s made?</h2>
    
    <img class="how-made-background-image-milk" src="./images/how-made/how-made-bcg2.png" alt="Background image with milk" width="1280">
    
    <div class="how-made-content-wrapper">
    <img class="how-made-image-cow" src="./images/how-made/how-made-image-cow.png" alt="Section image with cow" width="516">
    <p class="how-made-introduction-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla. </p>
    <p class="how-made-general-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</p>
    <button class="how-made-modal-button" type="button" aria-label="Read more">
    <span class="how-made-modal-button-text">Read more</span>
    <svg class="how-made-modal-button-icon-svg" width="5" height="8" >
        <use href="./images/sprite.svg#icon-Vector" ></use>
    </svg>
    </button>
    </div>
    
    
    <ul class="how-made-list list">
    
    <li class="how-made-list-item">
    <img class="how-made-list-item-picture-1" src="./images/how-made/how-made-list-item-picture-1.png" alt="Milking" width="33" height="50">
    <h2 class="how-made-list-item-title">721</h2>
    <p class="how-made-list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    
    
    <li class="how-made-list-item">
    <img class="how-made-list-item-picture-2" src="./images/how-made/how-made-list-item-picture-2.png" alt="Fruits" width="50" height="50">
    <h2 class="how-made-list-item-title">16kg</h2>
    <p class="how-made-list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    
    <li class="how-made-list-item">
    <img class="how-made-list-item-picture-3" src="./images/how-made/how-made-list-item-picture-3.png" alt="Ice-cream" width="44" height="50">
    <h2 class="how-made-list-item-title">84</h2>
    <p class="how-made-list-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    
    </ul>
    
    <img src="./images/how-made/how-made-positioned-full-pic.png" alt="Positioned background image between sections" width="1280">
    </section>
    