<!-- how it work -->
<article class="container">
  <section class="how-it-work-section">
    <div class="how-it-work-container">
      <h3 class="how-it-work-title">
        To order your fruit basket, simply follow these easy steps
      </h3>
      <p class="how-it-work-pharagraf">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home. Whether you're looking for a healthy snack or a thoughtful
        gift, our fruit baskets are the perfect choice.
      </p>
      <div class="how-it-work-container-list">
        <ul class="list how-it-work-list">
          <li class="how-it-work-list-item">
            <button class="how-it-work-button">First Step</button>
            <p class="how-it-work-pharagraf-card">
              Just choose the fruit you want to order by clicking on the
              checkboxes next to it.
            </p>
          </li>
          <li class="how-it-work-list-item">
            <button class="how-it-work-button botton-green">Second Step</button>
            <p class="how-it-work-pharagraf-card">
              Click on the basket and fill out the form.
            </p>
          </li>
          <li class="how-it-work-list-item">
            <button class="how-it-work-button botton-yellow">Third Step</button>
            <p class="how-it-work-pharagraf-card">
              Sit back and relax! Your fresh fruit basket will be delivered.
            </p>
          </li>
        </ul>
        <div class="fig">

          <!-- <img
            class="how-it-work-image"
            src="./images/gif-fruitss.gif"
            alt=""
          /> -->
        </div>
      </div>
    </div>
  </section>
</article>
