<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How it`s made? 1st section</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Так добавляются фрагменты в главные HTML-файлы страниц. -->
    <include src="./partials/how-its-made.html"></include>
    <section class="container-how-its-made">
      <div class="how-its-made-header"><b>
        tradition and love
    </b></div>
      
      <h2 class="how-its-made-main-header">
          how it’s made? 
      </h2>
      
        <img srcset="../images/how-its-made/cow-mobile.jpg 1x,
        ../images/how-its-made/cow-mobile@2x.jpg 2x" class="how-its-made-img-cow" src="../images/how-its-made/cow-mobile.jpg" width="280px" height="279px" alt="">
      
      <div class="how-its-made-text-wrapper">
          <p>
              <b class="how-its-made-main-text">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </b>
          </p>
        </div>
          <p class="how-its-made-text how-its-made-text-bg-img">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br>

            <br> Aliquam erat volutpat. Aenean accumsan.
          </p>
            
  
       <button class="how-its-made-rmore" type="button">Read more
           <svg class="how-its-made-svg-arrow">
               <use href="../imageshow-its-made/arrow.svg"></use>
           </svg>
       </button>
      
  </section>

    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
  </body>
</html>
