<div class="how-its-made-section">
    <h2 class="how-its-made-h2">tradition and love</h2>
    <h1 class="how-its-made-h1">how it’s made?</h1>
    <picture>
        <source srcset="./images/how-its-made/how-its-made-img.png 1x, ./images/how-its-made/how-its-made-img@2x.png 2x" media="(min-width: 320px)" type="image/jpg">
        <img class="him-pic" src="./images/how-its-made/how-its-made-img.png" alt=" ">        
    </picture>
    <div class="how-its-made-div">
        <p class="how-its-made-p">
            <span class="how-its-made-p-1">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </span><br><br>
            <span class="how-its-made-p-2">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.<br>
                <br>Aliquam erat volutpat. Aenean accumsan.
            </span>
        </p>
    </div>
    <button class="read-more-button" type="button">
        <span class="read-more-span">Read more</span>
    </button>
    <ul class="how-its-made-list">
        <li class="how-its-made-item one">
            <h1 class="how-its-made-item-title">721</h1>
            <p class="how-its-made-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="how-its-made-item two">
            <h1 class="how-its-made-item-title">16kg</h1>
            <p class="how-its-made-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="how-its-made-item three">
            <h1 class="how-its-made-item-title">84</h1>
            <p class="how-its-made-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    <!-- <img srcset="./images/how-its-made/him-img.jpg 1x, ./images/how-its-made/him-img@2x.jpg 2x" class="him-img" src="./images/how-its-made/him-img.jpg" alt="">    -->
</div>