<section id="section-how-its-made" class="section-how-its-made">
    <div class="container made">
<p class="made__subtitle">tradition and love</p>
<h2 class="made__title title">how it’s made?</h2>
<div class="made__wrapper">
<picture class="made__left-side">
    <source srcset="./images/how-its-made-page/cow-desktop.png 1x, ./images/how-its-made-page/cow-desktop@2x.png 2x"
        media="(min-width: 1280px)">
    <source srcset="./images/how-its-made-page/cow-tablet.png 1x, ./images/how-its-made-page/cow-tablet@2x.png 2x"
        media="(min-width: 768px)">
    <source srcset="./images/how-its-made-page/cow-mob.png 1x, images/how-its-made-page/cow-mob@2x.png 2x"
        media="(min-width: 320px)">
<img class="made__img-cow" src="./images/how-its-made-page/cow-mob.png" srcset="" alt="корова и рядом с ней графин молока" width="280">
</picture>
<div class="made__right-side">
<p class="made__text-top text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
Maecenas eleifend erat at justo fringilla.</p>
<p class="made__text-middle text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p>
<p class="made__text-bottom text">Aliquam erat volutpat. Aenean accumsan.</p>
<button type="button" class="made__btn"><a class="made__link link" href="#">Read more</a></button>
</div>
</div>
<ul class="cost list">
    <li class="cost__item">
        <span class="cost__num">721</span>
        <p class="cost__text text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="cost__item">
        <span class="cost__num">16kg</span>
        <p class="cost__text text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="cost__item">
        <span class="cost__num">84</span>
        <p class="cost__text text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
    </div>
</section>


<!-- ../images/how-its-made-page/icon1.svg -->