<section class=" section section_how_made">
    <div class="container container_hm">
<p class="hm_caption">tradition and love</p>
<h2 class="hm_title">how it’s made?</h2>
<img class="hm_img" src="/images/pictures/how-made/mobile/how_made_cow_1x_m.png" alt="milk and cow">
<ul class="hm_list">
    <h3 class="hm_about hm_about_first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</h3>
    <p class="hm_about hm_about_second">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
    Maecenas eleifend erat at justo fringilla.</p>
    <button class="hm_btn">Read more</button>
</ul>
</div>
</section>
