<section class="container">
  <p class="how-second-titel">tradition and love</p>
  <h1 class="section-title">how it’s made?</h1>
  <img src="" alt="" />
  <p>
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
    fringilla.
  </p>
  <p>
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit
    ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam
    erat volutpat. Aenean accumsan.
  </p>
</section>
