<section class=" section">
  <div class=" container">
    <div class="title-container">
      <h2 class="how-it-works-title">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="how-it-works-paragraph">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    </div>
    <div class="steps-container">
      <ul class="list  how-it-works-ul">
        <li class="steps">
          <div class="steps-background">
            <button " class="first-button">
              First step
            </button>
            <p class="how-it-works-p">
              Just choose the fruit you want to order by clicking on the
              checkboxes next to it.
            </p>
          </div>
        </li>
        <li class=" steps">
          <div class="steps-background">
            <button class="second-button">Second Step</button>
            <p class="how-it-works-p">
              Click on the basket and fill out the form.
            </p>
          </div>
        </li>
        <li class=" steps">
          <div class="steps-background">
            <button class="third-button">Third Step</button>
            <p class="how-it-works-p">
              Sit back and relax! Your fresh fruit basket will be delivered.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="title-container">
       <img
      src="/src/images/fruits.gif"
      alt="beautiful fruit basket"
      height="476"
      class="how-it-works-img"
    />
  </div> 
  </div>
</section>


