<section class="him-section">
  <h2 class="him-title">
    tradition and love <br />
    <span class="him-title-main">how it’s made?</span>
    <img src="./images/how-its-made/cow-mobile.png" alt="" />
  </h2>
  <div class="him-text">
    <p class="him-text-main">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="him-text-secondary">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt. Aliquam erat volutpat. Aenean accumsan.
    </p>
  </div>
</section>
