<section class="section-how-its-made">
    <div class="container">
<p>tradition and love</p>
<h2>how it’s made?</h2>
<p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
Maecenas eleifend erat at justo fringilla.</p>
<p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
Aliquam erat volutpat. Aenean accumsan.</p>
<button type="button"><a class="link" href="#">Read more</a></button>
<ul class="list">
    <li>
        <svg width='33' height='50'>
            <use href="../images/how-its-made-page/icon1.svg"></use>
        </svg>
        <span>721</span>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
        <svg width='50' height='50'>
            <use></use>
        </svg>
        <span>16kg</span>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
        <svg width='44' height='50'>
            <use></use>
        </svg>
        <span>84</span>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
    </div>
</section>