<section class="how-we-do-it">
    <div class="container">

        <h2 class="title how-we-do-it-title">
            Как мы это делаем
        </h2>
        <ul class="how-we-do-it-list">
            <li class="how-we-do-it-item">
                <svg></svg>
                <h3 class="how-we-do-it-list-title">Адаптированная программа
                подготовки к ВНО</h3>
                <p class="how-we-do-it-list-text">
                    Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.
                </p>

            </li>
            <li class="how-we-do-it-item"></li>
            <li class="how-we-do-it-item"></li>
            <li class="how-we-do-it-item"></li>
            <li class="how-we-do-it-item"></li>
            <li class="how-we-do-it-item"></li>
        </ul>

    </div>
</section>
