<!-- Projects -->
<section class="section-doit">
  <div class="container-doit" id="how_we_do_it">
    <h1 class="section-title">Как мы это делаем</h1>
    <ul class=" flex-container">

      <li class="container-element doing-hover">

        <svg class="icon-container" width="45" height="48"">
                        <use href=" ./images/doit.svg#icon-1"></use>
        </svg>

        <h2 class="container-title">Адаптированная программа
          подготовки к ВНО</h2>
        <p class="description">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.</p>


      </li>

      <li class="container-element doing-hover">


        <svg class="icon-container" width="45" height="48"">
                                        <use href=" ./images/doit.svg#icon-2"></use>
        </svg>
        <h2 class="container-title">Аудитория и онлайн-обучение</h2>
        <p class="description">Учитель поможет не только в аудитории, но и во время домашней подготовки.
          Родители могут участвовать в чате при желании.</p>


      </li>
      <li class="container-element doing-hover">

        <svg class="icon-container" width="45" height="48"">
                                            <use href=" ./images/doit.svg#icon-3"></use>
        </svg>
        <h2 class="container-title">Привычка читать на английском языке
        </h2>
        <p class="description">Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить
          на телефон дважды в неделю.

        </p>


      </li>
      <li class="container-element doing-hover">

        <svg class="icon-container" width="45" height="48"">
                                                <use href=" ./images/doit.svg#icon-4"></use>
        </svg>
        <h2 class="container-title">Психологическая
          поддержка</h2>
        <p class="description">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку
          уверенности
          в себе.</p>


      </li>
      <li class="container-element doing-hover">


        <svg class="icon-container" width="45" height="48"">
                                                    <use href=" ./images/doit.svg#icon-5"></use>
        </svg>
        <h2 class="container-title">Обучение по авторским пособиям</h2>
        <p class="description">Тебе не нужно тратить время
          на самостоятельный поиск материала и ничего покупать дополнительно. Мы составили
          2 пособия для тебя.</p>


      </li>
      <li class="container-element doing-hover">

        <svg class="icon-container" width="45" height="48"">
                                                        <use href=" ./images/doit.svg#icon-6"></use>
        </svg>
        <h2 class="container-title">Умение воспринимать устную английскуб речь</h2>
        <p class="description">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
          и разбирать аудиозаписи
          в соответствии с изучаемой лексикой.</p>


      </li>
    </ul>




  </div>
</section>