<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>parcel-project-template</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.6.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../sass/main.css" />
    <link rel="stylesheet" href="../sass/normalize.css" />
  </head>

  <body class="page">
    <!-- Так добавляются фрагменты в главные HTML-файлы страниц. -->
    <include src="./partials/example.html"></include>
    <main>
      <section class="container-made">
        <h2 class="heading">tradition and love</h2>
        <h3 class="subtitle">How it’s made?</h3>
        <div class="container-prod">
          <picture>
            <img
              class="cow_milk"
              srcset="../images/cow_milk_desctop@1.png"
              src="../images/cow_milk_desctop@1.png"
              alt="Cow and milk"
            />
            <source
              srcset="
                ./images/cow_milk_mobile@1.png 1x,
                ./images/cow_milk_mobile@2.png 2x
              "
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/cow_milk_tablet1.png 1x,
                ./images/cow_milk_tablet2.png 2x
              "
              media="(min-width:480px)"
            />
            <source
              srcset="
                ./images/cow_milk_tablet1.png 1x,
                ./images/cow_milk_tablet2.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/cow_milk_desctop1.png 1x,
                ./images/cow_milk_desctop2.png 2x
              "
              media="(min-width:1200px)"
            />
          </picture>
          <div>
            <p class="product">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </p>

            <p class="product-text">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh, tincidunt.
            </p>
            <p class="product-text">Aliquam erat volutpat. Aenean accumsan.</p>
            <button class="button" type="button">
              <span class="btn-text">Read more</span>
            </button>
          </div>
        </div>
        <ul class="container-prod">
          <li class="indent">
            <svg width="33" height="50">
              <use href="./imges/symbol-defs.svg#"></use>
            </svg>
            <p class="list">721</p>
            <p class="list-text">
              Aliquam ac dui vel dui vulputate consectetur Mauris massa.
            </p>
          </li>
          <li class="indent">
            <svg width="50" height="50">
              <use href="./imges/symbol-defs.svg#"></use>
            </svg>
            <p class="list">16kg</p>
            <p class="list-text">
              Aliquam ac dui vel dui vulputate consectetur Mauris massa.
            </p>
          </li>
          <li class="indent">
            <svg width="44" height="50">
              <use href="./imges/symbol-defs.svg#"></use>
            </svg>
            <p class="list">84</p>
            <p class="list-text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </section>
    </main>

    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
  </body>
</html>
