<section class="howitsmade" id="how-its-made">
    <div class="container-howitsmade">
        <div class="howitsmade-title">
            <h2 class="howitsmade-title-name">tradition and love</h2>
            <div class="howitsmade-title-container">
            <p class="howitsmade-title-rename">how it’s made?</p>
            </div>
        </div>

        <div class="howitsmade-description">

            <picture>
                <source
                    srcset="./images/desktop_cow_1x.png 1x, ./images/desktop_cow_2x.png 2x, ./images/desktop_cow_3x.png 3x"
                    media="(min-width: 1200px)">
                <source
                    srcset="./images/tablet_cow_1x.png 1x, ./images/tablet_cow_2x.png 2x, ./images/tablet_cow_3x.png 3x"
                    media="(min-width: 768px)">
                <source
                    srcset="./images/mobile_cow_1x.png 1x, ./images/mobile_cow_2x.png 2x, ./images/mobile_cow_3x.png 3x"
                    media="(min-width: 480px)">
                <img src="./images/desktop_cow_1x.png" class="howtsmade-img" width="280" alt="" />
            </picture>
            <div class="howitsmade-text">
                <p>
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="howitamade-positioning">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
                    massa nibh, tincidunt.
                    <br>
                    <br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>

                <a class="howitsmade-link">Read more
                    <svg class="howitsmade-icon" width="4.5px" height="8px">
                        <use xlink:href="./images/icons/sprite.svg#vector"></use>
                    </svg>
                </a>
            </div>
        </div>

    </div>
</section>