<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Studio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/sass/main.css">
</head>

<body>

    <main>

        <!--HOW-ITS-MADE-section-->
        <section class="third-section made"> 
            <div class="container">
                <h3 class="made__subtitle">tradition and love</h3>
                <h2 class="made__title">how it’s made?</h2> <!-- class="center-text" -->

                <div class="made-section">
                    <div class="made-section__divimage">
                        <img class="made-section__image" src="/src/images/made.png" alt="cow">
                    </div>
                    <div class="made-section__text">
                        <p class="made-section__text made-section__text--text1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. <br> Nam vel justo cursus, faucibus lorem eget, egestas eros. <br> Maecenas eleifend erat at justo fringilla.</p>
                        <p class="made-section__text made-section__text--text2">Curabitur lacinia enim at ex blandit, vel pellentesque odio <br> elementum. Mauris rhoncus orci in imperdiet placerat. <br> Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna <br> maximus. Cras massa nibh, tincidunt. <br>
                            </p>
                        <p class="made-section__text made-section__text--text3">Aliquam erat volutpat. Aenean accumsan.</p>
                    
                        <button data-modal-open class="made-section__button" type="button">Read more 
                        <!-- <svg class=""> 
                            <use href="./images/icons-svg.svg#icon-Vector-1"></use>
                        </svg> -->
                    </button>
                    
                    </div>
                   
            </div>
            <section class="third-section quantity">
                <div class="quantity__container">
                    <ul class="quantity__list">
                        <li class="quantity__item">
                            <div class="quantity__svg-container">
                                <svg class="quantity__svg">
                                    <use href="/src/images/icons-svg.svg#icon-Group-1"></use>
                                </svg>
                                <h3 class="quantity__title">721</h3>
                                <p class="quantity__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                            </div>
                        </li>
                        <li class="quantity__item">
                            <div class="quantity__svg-container">
                                <svg class="quantity__svg">
                                    <use href="/src/images/icons-svg.svg#icon-Group-1"></use>
                                </svg>
                                <h3 class="quantity__title">16kg</h3>
                                <p class="quantity__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                            </div>
                        </li>
                        <li class="quantity__item">
                            <div class="quantity__svg-container">
                                <svg class="quantity__svg">
                                    <use href="/src/images/icons-svg.svg#icon-Group-1"></use>
                                </svg>
                                <h3 class="quantity__title">84</h3>
                                <p class="quantity__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </section>
    </main>
</body>

</html>