<section id="howltsMade" class="made">
    <div class="made-container">

        <p class="made-traditional made-titan">tradition and love</p>
        <h2 class="made-header made-titan">how it’s made?</h2>
        <div class="made-description">
            <div class="made-box-wrapper">
                <img alt="Cow" src="./images/howItsMade/made_320@1x.png" srcset="
                    ./images/howItsMade/made_320@1x.png 320w,
                    ./images/howItsMade/made_320@2x.png 640w,
                    ./images/howItsMade/made_768@1x.png 768w,
                    ./images/howItsMade/made_1200@1x.png 1200w,
                    ./images/howItsMade/made_768@2x.png 1536w,
                    ./images/howItsMade/made_1200@2x.png 2400w
                " width="100%" />
                <div style="display: none;" class="made-reade-more">
                    <h4 class="made-read-more-header">More for made</h4>
                    <p class="made-read-more-first">Lorem ipsum dolor sit amet, consectetur adipisicing 
                        elit. Enim architecto necessitatibus, 
                        molestiae soluta pariatur adipisci impedit sapiente eaque alias ipsa iusto. 
                        Unde, ex! Sunt id maiores vitae voluptate. Laboriosam, officia!</p>
                    <p class="made-read-more-second">Lorem ipsum dolor sit amet, consectetur adipisicing 
                        elit. Enim architecto necessitatibus, 
                        molestiae soluta pariatur adipisci impedit sapiente eaque alias ipsa iusto. 
                        Unde, ex! Sunt id maiores vitae voluptate. Laboriosam, officia!</p>
                </div>
            </div>
            <div class="made-discription-text">
                <p class="made-discription-first">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="made-discription-second">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
                    massa nibh, tincidunt.
                </p>
                <p class="made-last-text">Aliquam erat volutpat. Aenean accumsan.</p>
                <a class="discription-btn" href="#">
                    <span class="made-text-btn">Read more</span>
                    <span class="made-arrow-btn">&#62;</span>
                </a>
            </div>
        </div>
        <ul class="made-list">
            <li class="made-list-item">
                <div class="made-icon-wrapper">
                    <img src="./images/howItsMade/icon1.png" alt="aice" width="33">
                </div>
                <h3 class="made-titan">721</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="made-list-item">
                <div class="made-icon-wrapper">
                    <img src="./images/howItsMade/icon2.png" alt="aice" width="50">
                </div>
                <h3 class="made-titan">16kg</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class=" made-list-item">
                <div class="made-icon-wrapper">
                    <img src="./images/howItsMade/icon3.png" alt="aice" width="44">
                </div>
                <h3 class="made-titan">84</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

        </ul>











    </div>
</section>