<section class="howmade-section">
    <div class="howmade-container">
        <p class="howmade-subtitle">tradition and love</p>
        <h2 class="howmade-title">how it’s made?</h2>
        <div class="howmade-content-box">
            <div class="howmade-content-box-img">
                <img src="./images/howmade/milka.png" alt="how it’s made?">
            </div>
            <div class="howmade-content-box-text">
                <p class="howmade-content-box-main-text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="howmade-content-box-second-text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    </br></br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class="howmade-button">Read more
                    <svg>
                        <use href="./images/sprite.svg#basic-btn"></use>
                    </svg>
                </button>
            </div>
        </div>
        <ul class="howmade-ingredients-list">
                <li class="howmade-ingredients-list-item">
                    <img src="./images/howmade/icon-bucket.png" alt="icon-bucket">
                    <span class="howmade-ingredients-list-item-title">721</span>
                    <p class="howmade-ingredients-list-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="howmade-ingredients-list-item">
                    <img src="./images/howmade/icon-apple-bucket.png" alt="icon-apple-bucket">
                    <span class="howmade-ingredients-list-item-title">16kg</span>
                    <p class="howmade-ingredients-list-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="howmade-ingredients-list-item">
                    <img src="./images/howmade/icon-ice-cream.png" alt="ice-cream">
                    <span class="howmade-ingredients-list-item-title">84</span>
                    <p class="howmade-ingredients-list-item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
    </div>
</section>
