<section class="howmade-section">
    <container class="howmade-container container">
        <p>tradition and love</p>
        <h2>how it’s made?</h2>
        <div class="content-box">
            <img src="./images/howmade/milka.png" alt="how it’s made?">
            <div class="content-box-text">
                <p class="content-box-title">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="content-box-title">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    </br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
            </div>
            <button class="button">Read more</button>
            <ul class="ingredients-list">
                <li class="ingredients-list-items">
                    <img src="./images/howmade/icon-bucket.png" alt="icon-bucket">
                    <span class="ingredients-list-items-title">721</span>
                    <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="ingredients-list-items">
                    <img src="./images/howmade/icon-apple-bucket.png" alt="icon-apple-bucket">
                    <span class="ingredients-list-items-title">16kg</span>
                    <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="ingredients-list-items">
                    <img src="./images/howmade/icon-ice-cream.png" alt="ice-cream">
                    <span class="ingredients-list-items-title">84</span>
                    <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
        </div>
    </container>
</section>