<section class="how-we-do" id="how_we_do_scroll">
    <div class="container" data-aos="fade-right">
        <h2 class="title how-we-do-headline">Как мы это делаем</h2>
        <ul class="list how-we-do-items-wrapper">
            <li class="list how-we-do-item">
                <a href="#" rel="noreferrer noopener" aria-label="Adapted program preparation for UPE"
                    class="how-we-do-link">
                    <div class="how-we-do-description-wrapper">
                        <div class="how-we-do-position">
                            <svg class="how-we-do-svg" width="45" height="48">
                                <use href="./images/icons/sprite.svg#icon-study-program"></use>
                            </svg>
                            <h3 class="how-we-do-title">Адаптированная программа подготовки к ВНО</h3>
                        </div>
                        <p class="how-we-do-paragraph">Ты будешь изучать грамматику и лексику одновременно. И ты
                            научишься писать сочинения.</p>
                    </div>
                </a>
            </li>
            <li class="list how-we-do-item">
                <a href="#" rel="noreferrer noopener" aria-label="Audience and online learning" class="how-we-do-link">
                    <div class="how-we-do-description-wrapper">
                        <div class="how-we-do-position">
                            <svg class="how-we-do-svg" width="48" height="47">
                                <use href="./images/icons/sprite.svg#icon-mobile-learning"></use>
                            </svg>
                            <h3 class="how-we-do-title how-we-do-title-wide-width">Аудитория и онлайн-обучение</h3>
                        </div>
                        <p class="how-we-do-paragraph">Учитель поможет не только в аудитории, но и во время домашней
                            подготовки. Родители могут участвовать
                            в чате при желании.</p>
                    </div>
                </a>
            </li>
            <li class="list how-we-do-item">
                <a href="#" rel="noreferrer noopener" aria-label="The habit of reading in English"
                    class="how-we-do-link">
                    <div class="how-we-do-description-wrapper">
                        <div class="how-we-do-position">
                            <svg class="how-we-do-svg" width="67" height="48">
                                <use href="./images/icons/sprite.svg#icon-open-book"></use>
                            </svg>
                            <h3 class="how-we-do-title how-we-do-title-width">Привычка читать на английском языке</h3>
                        </div>
                        <p class="how-we-do-paragraph">Статьи из источников, которые используются при разработке
                            настоящего ВНО, будут приходить на телефон
                            дважды в неделю.</p>
                    </div>
                </a>
            </li>
            <li class="list how-we-do-item">
                <a href="#" rel="noreferrer noopener" aria-label="Psychological support" class="how-we-do-link">
                    <div class="how-we-do-description-wrapper">
                        <div class="how-we-do-position">
                            <svg class="how-we-do-svg" width="48" height="48">
                                <use href="./images/icons/sprite.svg#icon-hand-group"></use>
                            </svg>
                            <h3 class="how-we-do-title how-we-do-title-width">Психологическая поддержка</h3>
                        </div>
                        <p class="how-we-do-paragraph">Мы научим тебя методикам прохождения тестирований, умению
                            планировать свою подготовку уверенности в
                            себе.</p>
                    </div>
                </a>
            </li>
            <li class="list how-we-do-item">
                <a href="#" rel="noreferrer noopener" aria-label="Training on author's manuals" class="how-we-do-link">
                    <div class="how-we-do-description-wrapper">
                        <div class="how-we-do-position">
                            <svg class="how-we-do-svg" width="40" height="47">
                                <use href="./images/icons/sprite.svg#icon-female-student"></use>
                            </svg>
                            <h3 class="how-we-do-title">Обучение по авторским пособиям</h3>
                        </div>
                        <p class="how-we-do-paragraph">Тебе не нужно тратить время на самостоятельный поиск
                            материала и ничего покупать дополнительно. Мы
                            составили 2 пособия для тебя.</p>
                    </div>
                </a>
            </li>
            <li class="list how-we-do-item">
                <a href="#" rel="noreferrer noopener" aria-label="Ability to comprehend spoken English"
                    class="how-we-do-link">
                    <div class="how-we-do-description-wrapper">
                        <div class="how-we-do-position">
                            <svg class="how-we-do-svg" width="57" height="48">
                                <use href="./images/icons/sprite.svg#icon-audio-book"></use>
                            </svg>
                            <h3 class="how-we-do-title how-we-do-title-short-width">Умение воспринимать устную
                                английскую речь</h3>
                        </div>
                        <p class="how-we-do-paragraph">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
                            и разбирать аудиозаписи в соответствии с
                            изучаемой лексикой.</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>