<section class="images">
    <div class="images-container">
        <h2 style="display: none;">Examples</h2>
       <div class="images-section">
        <img alt="Cow" src="./images/imagesSection/image320.jpg" srcset="
        ./images/imagesSection/image320.jpg 320w,
        ./images/imagesSection/image320@2.jpg 640w,
        ./images/imagesSection/image768.jpg 768w,
        ./images/imagesSection/image1280.jpg 1200w,
        ./images/imagesSection/image1280@2.jpg 2400w
    " width="100%" />

       </div>
    </div>
</section>
<!-- ./images/imagesSection/image320.jpg -->