<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- normalizador -->
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" />



<link rel="stylesheet" href="../css/styles.css">
<meta charset="utf=8" />
    <title>FOOTER</title>

  <!-- tipo de letra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Titan+One&display=swap" rel="stylesheet">


</head>


<body>
    <footer class="container-footer">
        <div>
            <div class="margins">
                <h3>HOMEMADE ICE CREAM <br> MADE</h3>
                <h2>WITH</h2>
                <h2>PASSION</h2>
            </div>
            <section class="social-links">
                <div class="circular-container">
                    <svg class="icon" width="20" height="20">
                      <!-- tamaño de la ventana de visualizacion se ajusta en view box y aca se modifica el tamaño de el svg-->
                      <use href="../images/icons.svg#icon-github"></use>
                    </svg>
                  </div>
                  <div class="circular-container">
                    <svg class="icon" width="20" height="20">
                      <!-- tamaño de la ventana de visualizacion se ajusta en view box y aca se modifica el tamaño de el svg-->
                      <use href="../images/icons.svg#icon-paper-plane"></use>
                    </svg>
                  </div>
                  <div class="circular-container">
                    <svg class="icon" width="20" height="20">
                      <!-- tamaño de la ventana de visualizacion se ajusta en view box y aca se modifica el tamaño de el svg-->
                      <use href="../images/icons.svg#icon-facebook22"></use>
                    </svg>
                  </div>
            </section>
            <div class="contacts">
                <P>Feel free to contact</P>
                <p class="number">+61(O)383 766 284</p>
            </div>
        </div>
        <p class="registered">© 2022 - IceCream. All Rights Reserved</p>
    </footer>
      
    
</body>
</html>