<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How it`s made? 1st section</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Так добавляются фрагменты в главные HTML-файлы страниц. -->
    <include src="./partials/index.html"></include>
    <section>
      <div class="how-its-made-header"><b>
        tradition and love
    </b></div>
      
      <h2 class="how-its-made-main-header">
          how it’s made? 
      </h2>
      <div>
        <img class="how-its-made-img-cow" src="../images/cow-mobile.jpg" width="280px" height="279px" alt="">
      </div>
      

      <div class="how-its-made-text-wrapper">
          <p>
              <b class="how-its-made-main-text">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </b>
          </p>
        </div>
          <p class="how-its-made-text how-its-made-text-wrapper how-its-made-text-bg-img">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
  
                <p class="how-its-made-text how-its-made-text-wrapper">Aliquam erat volutpat. Aenean accumsan.</p>
  
       <button class="how-its-made-rmore" type="button">Read more</button>
      
  </section>

    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
  </body>
</html>
