<section class="container it-made">
  <h2 class="it-made__title">tradition and love</h2>
  <p class="it-made__name">how it’s made?</p>
  <p class="it-made__text">
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
    fringilla.
  </p>
  <p class="it-made__text--grey">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit
    ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br />

    Aliquam erat volutpat. Aenean accumsan.
  </p>
  <button class="it-made__button">Read more</button>
  <div class="it-made__advantages">
    <div class="it-made__item">
      <h3 class="it-made__item-name>721</h3>
      <p class="it-made__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div class="it-made__item">
      <h3 class="it-made__item-name>16kg</h3>
      <p class="it-made__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div class="it-made__item">
      <h3 class="it-made__item-name>84</h3>
      <p class="it-made__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
  </div>
</section>
