<section class="it-made" id="it-made">
  <div class="container it-made__wrap">
    <h2 class="it-made__title">tradition and love</h2>
    <p class="it-made__name">how it’s made?</p>
    <div class="it-made__flex">
      <div class="it-made__cow">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop-cow@1x.png 1x,
              ./images/desktop-cow@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet-cow@1x.png 1x,
              ./images/tablet-cow@2x.png 2x
            "
          />
          <source
            media="(min-width: 0px)"
            srcset="
              ./images/mobile-cow@1x.png 1x,
              ./images/mobile-cow@2x.png 2x
            "
          />
          <img
            class="it-made__cow--picture"
            src="./images/desktop-cow@1x.png"
            alt="cow and milk"
          />
        </picture>
      </div>
      <div class="it-made__description">
        <p class="it-made__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="it-made__text it-made__text--grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. <br />

          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="it-made__button">Read more</button>
      </div>
    </div>

    <ul class="it-made__advantages">
      <li class="it-made__item">
        <img
          srcset="
            ./images/it-made-icon1@1x.png 1x,
            ./images/it-made-icon1@2x.png 2x
          "
          width="33"
          src="./images/it-made-icon1@1x.png"
          alt="Мороженое в стакане"
        />
        <h3 class="it-made__item-name">721</h3>
        <p class="it-made__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="it-made__item">
        <img
          srcset="
            ./images/it-made-icon2@1x.png 1x,
            ./images/it-made-icon2@2x.png 2x
          "
          width="33"
          src="./images/it-made-icon2@1x.png"
          alt="Мороженое в ведерке"
        />
        <h3 class="it-made__item-name">16kg</h3>
        <p class="it-made__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="it-made__item">
        <img
          srcset="
            ./images/it-made-icon3@1x.png 1x,
            ./images/it-made-icon3@2x.png 2x
          "
          width="33"
          src="./images/it-made-icon3@1x.png"
          alt="Мороженое в виде сердечка"
        />
        <h3 class="it-made__item-name">84</h3>
        <p class="it-made__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
