<div class="container-today-weather">
  <div class="today-weather">
    <div class="hero-weather">
      <img
        class="hero-weather__emoji"
        src="./images/cloudy-today.jpg"
        alt="cloudy"
      />
      <p class="hero-weather__city">Kyiv, UA</p>
      <h1 class="hero-weather__degrees">-3°</h1>
    </div>
    <div class="detailed">
      <ul class="detailed values">
        <li class="values__min">
          <span>min</span>
          <h5>-2°</h5>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1"
          height="40"
          viewBox="0 0 1 40"
          fill="none"
        >
          <path d="M0.5 0V40" stroke="#27384A" />
        </svg>
        <li class="values__max">
          <span>max</span>
          <h5>1°</h5>
        </li>
      </ul>
    </div>
    <button type="button" class="today-btn">TODAY</button>
  </div>
</div>
