<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/src/images/logo-ice.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/sass/judith.css" />
    <title>Ice cream</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <img class="nav__img" src="/src/images/Group.png" alt="" />
        <a class="nav__link--pink2" href="#">Home</a>
        <a class="nav__link" href="#">About us</a>
        <a class="nav__link" href="#">How it&apos;s made?</a>
        <a class="nav__link" href="#">Our products</a>
        <a class="nav__link" href="#">Contact</a>
        <button class="nav__button">
          <span class="nav__span">Buy now</span>
          <svg
            class="nav__svg"
            width="6"
            height="10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m1 1 4 4-4 4"
              stroke="#D41443"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>

      <!--  -->
      <div class="content">
        <h2 class="content__title">
          ICE CREAM <br />
          MADE WITH <br />
          <span class="content__title--2">PASSION</span>
        </h2>
      </div>
      <!-- group -->
      <div class="group-1">
        <div class="numbers">
          <span class="number__16">16</span>
        </div>
        <div class="numbers">
          <span class="number__26">26</span>
        </div>
      </div>

      <div class="group">
        <svg
          class="group__svg"
          width="30"
          height="30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="15" cy="15" r="15" fill="#fff" />
        </svg>
      </div>
      <div class="group">
        <svg
          class="group__svg"
          width="30"
          height="30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="15" cy="15" r="15" fill="#fff" />
        </svg>
      </div>
    </header>
  </body>
</html>
