<!-- LOCATION MODAL -->
<div class="modal is-hidden" data-modal-location>
  <div class="modal-content">
    <button class="close-btn" data-modal-close-location>
      <svg class="mobile-menu-close">
        <use href="./images/symbol-defs.svg#icon-close2"></use>
      </svg>
    </button>
    </button>
    <h2>We will be glad to see you</h2>
    <div class="location-modal-map">
<iframe src="https://maps.google.com/maps?q=goit%20romania&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 356px; height: 402px;"></iframe><style>.mapouter{position:relative;height:402px;width:356px;background:#fff;}</style><a href="https://blooketjoin.org" style="color:#fff !important; position:absolute !important; top:0 !important; z-index:0 !important;">blooket join</a><style>.gmap_canvas{overflow:hidden;height:400px;width:450px}.gmap_canvas iframe{position:relative;z-index:2}</style>
    </div>
    <p class="location-modal-adress">Bulevardul Ion Mihalache, București 011187</p>
    <button class="sent-btn-modal">
        <a target="_blank" href="https://www.google.com/maps/place/GoIT+Rom%C3%A2nia,+Bulevardul+Ion+Mihalache,+Bucure%C8%99ti+011187/@44.4700101,26.0553002,15z/data=!4m6!3m5!1s0x40b2032327b8c331:0x5f7dc92e3bd34d2d!8m2!3d44.4700101!4d26.0553002!16s%2Fg%2F11srz4060q" class="modal_btn-text">Open in Google Maps</a></button>
      </div>
    </form>
  </div>
</div>
