<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>locations</title>
</head>

<body>

    <section class="locations">
        <div class="container">
            <h2 class="locations__title visually-hidden">Our locations</h2>
            <ul class="locations__list list">
                <li class="locations__item">
                    <h3 class="locations__item__title">CAFE</h3>
                    <address class="locations__item__address-first">Chicago</address>
                    <p class="locations__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="line-first"></div>
                    <ul class="list">
                        <li class="locations__item__schedule">
                            <p class="locations__item__workdays">Monday - Friday</p>
                            <div class="locations__item__workdays__schedule">
                                <time class="locations__item__time">06:00</time> <span class="locations__item__time">AM -</span> <time class="locations__item__time">10:00</time> <span class="locations__item__time">PM</span>
                            </div>
                            <p class="locations__item__weekend">Saturday - Sunday</p>
                            <div class="locations__item__weekend__schedule">
                                <time class="locations__item__time">08:00</time> <span class="locations__item__time">AM -</span><time class="locations__item__time">16:00</time><span class="locations__item__time">PM</span>
                            </div>
                            <div class="line-second"></div>
                        </li>
                        <li class="locations__item__contacts">
                            <a href="tel:+610383766284" class="locations__item__contacts__info">
                                +61(0) 383 766 284
                            </a> <br>
                            <a href="mailto:noreply@envato.com" class="locations__item__contacts__info">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="locations__item">
                    <h3 class="locations__item__title__accent">FOODTRUCK</h3>
                    <address class="locations__item__address-second">Los Angeles</address>
                    <p class="locations__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="line-first"></div>
                    <ul class="list">
                        <li class="locations__item__schedule">
                            <p class="locations__item__workdays">Monday - Friday</p>
                            <div class="locations__item__workdays__schedule">
                                <time class="locations__item__time">06:00</time> <span class="locations__item__time">AM -</span> <time class="locations__item__time">10:00</time> <span class="locations__item__time">PM</span>
                            </div>
                            <p class="locations__item__weekend">Saturday - Sunday</p>
                            <div class="locations__item__weekend__schedule">
                                <time class="locations__item__time">08:00</time> <span class="locations__item__time">AM -</span><time class="locations__item__time">16:00</time><span class="locations__item__time">PM</span>
                            </div>
                            <div class="line-second"></div>
                        </li>
                        <li class="locations__item__contacts">
                            <a href="tel:+610383766284" class="locations__item__contacts__info">
                                +61(0) 383 766 284
                            </a> <br>
                            <a href="mailto:noreply@envato.com" class="locations__item__contacts__info">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="locations__item">
                    <h3 class="locations__item__title">CAFE</h3>
                    <address class="locations__item__address-third">New York</address>
                    <p class="locations__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="line-first"></div>
                    <ul class="list">
                        <li class="locations__item__schedule">
                            <p class="locations__item__workdays">Monday - Friday</p>
                            <div class="locations__item__workdays__schedule">
                                <time class="locations__item__time">06:00</time><span class="locations__item__time">AM -</span><time class="locations__item__time">10:00</time><span class="locations__item__time">PM</span>
                            </div>
                            <p class="locations__item__weekend">Saturday - Sunday</p>
                            <div class="locations__item__weekend__schedule">
                                <time class="locations__item__time">08:00</time> <span class="locations__item__time">AM -</span><time class="locations__item__time">16:00</time><span class="locations__item__time">PM</span>
                            </div>
                            <div class="line-second"></div>
                        </li>
                        <li class="locations__item__contacts">
                            <a href="tel:+610383766284" class="locations__item__contacts__info">
                                +61(0) 383 766 284
                            </a> <br>
                            <a href="mailto:noreply@envato.com" class="locations__item__contacts__info">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <button type="button" class="locations__store">Our Locations</button>
            <button type="button" class="locations__franchise">Franchise</button>
        </div>
    </section>
</body>

</html>