<section class="locations">
  <div class="container">
    <h2 hidden>Our locations</h2>
    <ul id="contact" class="locations-cards">
      <li class="locations-cards-item">
        <h3 class="locations-cards-title">CAFE</h3>
        <h4 class="locations-cards-subtitle locations-font-size">Chicago</h4>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="locations-cards-worktime-weekday">
          <p class="locations-cards-worktime-days locations-font-size">
            Monday - Friday
          </p>
          <p class="locations-cards-worktime-time locations-font-size">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
        </div>
        <div class="locations-cards-worktime-weekend">
          <p class="locations-cards-worktime-days locations-font-size">
            Saturday - Sunday
          </p>
          <p class="locations-cards-worktime-time locations-font-size">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <ul class="locations-cards-address-block">
          <li class="locations-cards-address-items">
            <a
              class="locations-cards-address-links locations-font-size"
              href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="locations-cards-address-items">
            <a
              class="locations-cards-address-links locations-font-size"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="locations-cards-item">
        <h3 class="locations-cards-title middle">FOOD TRUCK</h3>
        <h4 class="locations-cards-subtitle locations-font-size">
          Los Angeles
        </h4>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="locations-cards-worktime-weekday">
          <p class="locations-cards-worktime-days locations-font-size">
            Monday - Friday
          </p>
          <p class="locations-cards-worktime-time locations-font-size">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
        </div>
        <div class="locations-cards-worktime-weekend">
          <p class="locations-cards-worktime-days locations-font-size">
            Saturday - Sunday
          </p>
          <p class="locations-cards-worktime-time locations-font-size">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <ul class="locations-cards-address-block">
          <li class="locations-cards-address-items">
            <a
              class="locations-cards-address-links locations-font-size"
              href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="locations-cards-address-items">
            <a
              class="locations-cards-address-links locations-font-size"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="locations-cards-item">
        <h3 class="locations-cards-title">CAFE</h3>
        <h4 class="locations-cards-subtitle locations-font-size">New York</h4>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="locations-cards-worktime-weekday">
          <p class="locations-cards-worktime-days locations-font-size">
            Monday - Friday
          </p>
          <p class="locations-cards-worktime-time locations-font-size">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
        </div>
        <div class="locations-cards-worktime-weekend">
          <p class="locations-cards-worktime-days locations-font-size">
            Saturday - Sunday
          </p>
          <p class="locations-cards-worktime-time locations-font-size">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <ul class="locations-cards-address-block">
          <li class="locations-cards-address-items">
            <a
              class="locations-cards-address-links locations-font-size"
              href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="locations-cards-address-items">
            <a
              class="locations-cards-address-links locations-font-size"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="locations-btn-list">
      <li class="locations-btn-list-item">
        <button class="button-red">
          <span class="button-name">Our locations</span
          ><svg class="locations-btn-svg" width="4px" height="8px">
            <use
              class="icon-vector"
              href="./images/sprite.svg#icon-vector"
            ></use>
          </svg>
        </button>
      </li>
      <li class="locations-btn-list-item">
        <button class="button-white">
          <span class="button-name">Franshise</span
          ><svg class="locations-btn-svg" width="4px" height="8px">
            <use
              class="icon-vector"
              href="./images/sprite.svg#icon-vector"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
