<section class="locations">
    <div class="container">
        <h1 class="hidden">locations</h1>
        <ul class="locations__list">
            <li class="locations__item">
                <h2 class="locations__caption">CAFE</h2>
                <ul>
                    <li class="locations__box">
                        <h3 class="locations__city">Chicago</h3>
                        <p class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="locations__box">
                        <ul>
                            <li class="locations__operation-time">
                                <p class="locations__working-days">Monday - Friday</p>
                                <p class="locations__working-hours">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="locations__operation-time">
                                <p class="locations__working-days">Saturday - Sunday</p>
                                <p class="locations__working-hours">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="locations__box">
                        <ul>
                            <li class="locations__mail"><a class="locations__contacts" href="#">+61(0) 383 766 284</a></li>
                            <li class="locations__mail"><a class="locations__contacts" href="#">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="locations__item">
                <h2 class="locations__caption">FOODTRUCK</h2>
                <ul>
                    <li class="locations__box">
                        <h3 class="locations__city">Los Angeles</h3>
                        <p class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="locations__box">
                        <ul>
                            <li class="locations__operation-time">
                                <p class="locations__working-days">Monday - Friday</p>
                                <p class="locations__working-hours">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="locations__operation time">
                                <p class="locations__working-days">Saturday - Sunday</p>
                                <p class="locations__working-hours">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="locations__box">
                                                <ul>
                                                    <li class="locations__mail"><a class="locations__contacts" href="#">+61(0) 383 766 284</a></li>
                                                    <li class="locations__mail"><a class="locations__contacts" href="#">noreply@envato.com</a></li>
                                                </ul>
                    </li>
                </ul>
            </li>
            <li class="locations__item">
                <h2 class="locations__caption">CAFE</h2>
                <ul>
                    <li class="locations__box">
                        <h3 class="locations__city">New York</h3>
                        <p class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="locations__box">
                        <ul>
                            <li class="locations__operation-time">
                                <p class="locations__working-days">Monday - Friday</p>
                                <p class="locations__working-hours">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="locations__operation time">
                                <p class="locations__working-days">Saturday - Sunday</p>
                                <p class="locations__working-hours">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="locations__box">
                                                <ul>
                                                    <li class="locations__mail"><a class="locations__contacts" href="#">+61(0) 383 766 284</a></li>
                                                    <li class="locations__mail"><a class="locations__contacts" href="#">noreply@envato.com</a></li>
                                                </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="locations__buttons">
            <a class="locations__btn-locations"  href="#">Our Locations</a>
            <a class="locations__btn-franchise"  href="#">Franchise</a>
        </div>
    </div>
</section>