<!-- секция location -->
<section id="locations" class="location-section">
  <div class="location-section-container container">
    <h2 hidden>Location</h2>
    <ul class="location list">
      <li class="location-item">
        <h3 class="location-item-title">cafe</h3>
        <ul class="location-item-list list">
          <li class="town">
            <span class="town-title">Chicago</span>
            <p class="town-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="work">
            <div class="weekday">
              <span>Monday - Friday</span>
              <p class="time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="weekend">
              <span>Saturday - Sunday</span>
              <p class="time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li>
            <ul class="location-address list">
              <li>
                <address>
                  <a class="link" href="tel:+61(0)383766284"
                    >+61(0) 383 766 284</a
                  >
                </address>
              </li>
              <li>
                <address>
                  <a class="link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a
                  >
                </address>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="location-item">
        <h3 class="location-item-title food-truck">food truck</h3>
        <ul class="location-item-list list">
          <li class="town">
            <span class="town-title">Los Angeles</span>
            <p class="town-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="work">
            <div class="weekday">
              <span>Monday - Friday</span>
              <p class="time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="weekend">
              <span>Saturday - Sunday</span>
              <p class="time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li>
            <ul class="location-address list">
              <li>
                <address>
                  <a class="link" href="tel:+61(0)383766284"
                    >+61(0) 383 766 284</a
                  >
                </address>
              </li>
              <li>
                <address>
                  <a class="link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a
                  >
                </address>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="location-item">
        <h3 class="location-item-title">cafe</h3>
        <ul class="location-item-list list">
          <li class="town">
            <span class="town-title">New York</span>
            <p class="town-desc">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="work">
            <div class="weekday">
              <span>Monday - Friday</span>
              <p class="time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="weekend">
              <span>Saturday - Sunday</span>
              <p class="time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li>
            <ul class="location-address list">
              <li>
                <address>
                  <a class="link" href="tel:+61(0)383766284"
                    >+61(0) 383 766 284</a
                  >
                </address>
              </li>
              <li>
                <address>
                  <a class="link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a
                  >
                </address>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="location-btn">
      <button class="our-location-btn">
        Our Locations
        <svg class="our-location-btn-ic">
          <use href="./images/sprite.svg#icon-button"></use>
        </svg>
      </button>
      <button class="franchise-btn">
        Franchise
        <svg class="franchise-btn-ic">
          <use href="./images/sprite.svg#icon-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
