<div class="location">
    <ul class="location__list">
        <li class="location__listItem">
            <ul>
                <li>
                    <p class="location__title-cafe">Cafe</p>
                </li>
                <li class="location__listElement">
                    <ul>

                        <li>
                            <p class="location__subtitle">Chicago</p>
                            <p class="location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                </li>
                <li class="location__listElement">
                    <ul>
                        <li>
                            <p class="location__subtitle">Monday - Friday</p>
                            <p class="location__timeline">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="location__subtitle">Saturday - Sunday</p>
                            <p class="location__timeline">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="location__contacts">
                    <p class="location__contactsItem">+61(0) 383 766 284</p>
                    <p class="location__contactsItem">noreply@envato.com</p>
                </li>
            </ul>
        </li>
        <li class="location__listItem">
            <ul>
                <li>
                    <p class="location__title-truck">Food Truck</p>
                </li>
                <li class="location__listElement">
                    <ul>

                        <li>
                            <p class="location__subtitle">Los Angeles</p>
                            <p class="location__description">Fusce ut velit
                                laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                </li>
                <li class="location__listElement">
                    <ul>
                        <li>
                            <p class="location__subtitle">Monday - Friday</p>
                            <p class="location__timeline">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="location__subtitle">Saturday - Sunday</p>
                            <p class="location__timeline">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="location__contacts">
                    <p class="location__contactsItem">+61(0) 383 766 284</p>
                    <p class="location__contactsItem">noreply@envato.com</p>
                </li>
            </ul>
        </li>
        <li class="location__listItem">
            <ul>
                <li>
                    <p class="location__title-cafe">Cafe</p>
                </li>
                <li class="location__listElement">
                    <ul>

                        <li>
                            <p class="location__subtitle">New York</p>
                            <p class="location__description">Fusce ut velit
                                laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                </li>
                <li class="location__listElement">
                    <ul>
                        <li>
                            <p class="location__subtitle">Monday - Friday</p>
                            <p class="location__timeline">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="location__subtitle">Saturday - Sunday</p>
                            <p class="location__timeline">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="location__contacts">
                    <p class="location__contactsItem">+61(0) 383 766 284</p>
                    <p class="location__contactsItem">noreply@envato.com</p>
                </li>
            </ul>
        </li>
    </ul>
    <div class="buttons">
        <button type="button" class="button-location"><a href=""
                class="location__buttons">Our Locations</a><svg width="7" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.403 1l4.28 4-4.28 4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
        <button type="button" class="button-franchise"><a href=""
                class="">Franchise</a><svg width="7" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.403 1l4.28 4-4.28 4" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></button>
    </div>
</div>
