<section class="location">
  <div class="container">
    <h2 hidden>Our location</h2>

    <ul class="list">
      <div class="location-wrapper">
        <li>
          <ul class="list">
            <li>
              <div class="location-title-wrapper">
                <h3 class="location-title">cafe</h3>
              </div>
              <h4 class="location-subtitle">Chicago</h4>
              <p class="location-text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
              <ul class="list">
                <li>
                  <ul class="list">
                    <li class="location-list-date"><b>Monday - Friday</b></li>
                    <li class="location-list-time">06:00 AM - 10:00 PM</li>
                  </ul>
                </li>
                <li>
                  <ul class="list">
                    <li><b>Saturday - Sunday</b></li>
                    <li>08:00 AM - 16:00 PM</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>+61(0) 383 766 284</li>
            <li>noreply@envato.com</li>
          </ul>
        </li>
      </div>
      <li>
        <ul class="list">
          <li>
            <ul class="list">
              <li>
                <h3>cafe</h3>
                <h4>Chicago</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </li>
              <li>
                <ul class="list">
                  <li><b>Monday - Friday</b></li>
                  <li>06:00 AM - 10:00 PM</li>
                </ul>
              </li>
              <li>
                <ul class="list">
                  <li><b>Saturday - Sunday</b></li>
                  <li>08:00 AM - 16:00 PM</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>+61(0) 383 766 284</li>
          <li>noreply@envato.com</li>
        </ul>
      </li>
      <li>
        <ul class="list">
          <li>
            <ul class="list">
              <li>
                <h3>cafe</h3>
                <h4>Chicago</h4>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              </li>
              <li>
                <ul class="list">
                  <li><b>Monday - Friday</b></li>
                  <li>06:00 AM - 10:00 PM</li>
                </ul>
              </li>
              <li>
                <ul class="list">
                  <li><b>Saturday - Sunday</b></li>
                  <li>08:00 AM - 16:00 PM</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>+61(0) 383 766 284</li>
          <li>noreply@envato.com</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<script>
  /* Индекс слайда по умолчанию */
  var slideIndex = 1;
  showSlides(slideIndex);

  /* Функция увеличивает индекс на 1, показывает следующй слайд*/
  function plusSlide() {
    showSlides((slideIndex += 1));
  }

  /* Функция уменьшяет индекс на 1, показывает предыдущий слайд*/
  function minusSlide() {
    showSlides((slideIndex -= 1));
  }

  /* Устанавливает текущий слайд */
  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  /* Основная функция слайдера */
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName('slider-item');
    var dots = document.getElementsByClassName('slider-dots_item');
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(' active', '');
    }
    slides[slideIndex - 1].style.display = 'block';
    dots[slideIndex - 1].className += ' active';
  }
</script>
