<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>locations</title>
</head> -->

<!-- <body> -->

<section class="locations">
    <div class="container">
        <h2 class="locations__title visually-hidden">Our locations</h2>
        <ul class="locations__list list">
            <li class="locations__item">
                <h3 class="locations__item__title">CAFE</h3>
                <p class="locations__item__city-first">Chicago</p>
                <p class="locations__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="line-first"></div>
                <ul class="list">
                    <li class="locations__item__schedule">
                        <p class="locations__item__workdays">Monday - Friday</p>
                        <div class="locations__item__workdays__schedule">
                            <span class="locations__item__time">06:00 AM - 10:00 PM</span>
                        </div>
                        <p class="locations__item__weekend">Saturday - Sunday</p>
                        <div class="locations__item__weekend__schedule">
                            <span class="locations__item__time">08:00 AM - 16:00 PM</span>
                        </div>
                        <div class="line-second"></div>
                    </li>
                    <li class="locations__item__contacts">
                        <address>
                                <a href="tel:+610383766284" class="locations__item__contacts__info">
                                    +61(0) 383 766 284
                                </a> <br>
                                <a href="mailto:noreply@envato.com" class="locations__item__contacts__info">
                                 noreply@envato.com
                                </a>
                            </address>
                    </li>
                </ul>

            </li>
            <li class="locations__item">
                <h3 class="locations__item__title__accent">FOODTRUCK</h3>
                <p class="locations__item__city-second">Los Angeles</p>
                <p class="locations__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="line-first"></div>
                <ul class="list">
                    <li class="locations__item__schedule">
                        <p class="locations__item__workdays">Monday - Friday</p>
                        <div class="locations__item__workdays__schedule">
                            <span class="locations__item__time">06:00 AM - 10:00 PM</span>
                        </div>
                        <p class="locations__item__weekend">Saturday - Sunday</p>
                        <div class="locations__item__weekend__schedule">
                            <span class="locations__item__time">08:00 AM - 16:00 PM</span>
                        </div>
                        <div class="line-second"></div>
                    </li>
                    <li class="locations__item__contacts">
                        <address>
                                <a href="tel:+610383766284" class="locations__item__contacts__info">
                                    +61(0) 383 766 284
                                </a> <br>
                                <a href="mailto:noreply@envato.com" class="locations__item__contacts__info">
                                 noreply@envato.com
                                </a>
                            </address>
                    </li>
                </ul>
            </li>
            <li class="locations__item">
                <h3 class="locations__item__title">CAFE</h3>
                <p class="locations__item__city-third">New York</p>
                <p class="locations__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="line-first"></div>
                <ul class="list">
                    <li class="locations__item__schedule">
                        <p class="locations__item__workdays">Monday - Friday</p>
                        <div class="locations__item__workdays__schedule">
                            <span class="locations__item__time">06:00 AM - 10:00 PM</span>
                        </div>
                        <p class="locations__item__weekend">Saturday - Sunday</p>
                        <div class="locations__item__weekend__schedule">
                            <span class="locations__item__time">08:00 AM - 16:00 PM</span>
                        </div>
                        <div class="line-second"></div>
                    </li>
                    <li class="locations__item__contacts">
                        <address>
                                <a href="tel:+610383766284" class="locations__item__contacts__info">
                                    +61(0) 383 766 284
                                </a> <br>
                                <a href="mailto:noreply@envato.com" class="locations__item__contacts__info">
                                 noreply@envato.com
                                </a>
                            </address>
                    </li>
                </ul>
            </li>
        </ul>
        <button type="button" class="locations__store">Our Locations
                <svg class="locations__store__svg"> 
                    <use href="./images/sprite_locations.svg#link-white"></use>
                </svg>
            </button>
        <button type="button" class="locations__franchise">Franchise
                <svg class="locations__franchise__svg">
                    <use href="./images/sprite_locations.svg#link-pink"></use>
                </svg>
            </button>

    </div>
</section>
<!-- </body> -->

<!-- </html> -->