<section>
    <h2>Location</h2>
    <ul>
        <li>
            <h3>CAFE</h3>
            <p>Chicago</p>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p>Monday - Friday<span>06:00 AM - 10:00 PM</span></p>
            <p>Saturday - Sunday<span>08:00 AM - 16:00 PM</span></p>
            <address>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
            </address>
        </li>
        <li>
            <h3>FOOD TRUCK</h3>
            <p>Los Angeles</p>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p>Monday - Friday<span>06:00 AM - 10:00 PM</span></p>
            <p>Saturday - Sunday<span>08:00 AM - 16:00 PM</span></p>
            <address>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
            </address>
        </li>
        <li>
            <h3>CAFE</h3>
            <p>New York</p>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p>Monday - Friday<span>06:00 AM - 10:00 PM</span></p>
            <p>Saturday - Sunday<span>08:00 AM - 16:00 PM</span></p>
            <address>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
            </address>
        </li>
    </ul>
    <div>
        <a href="" target="_blank" rel="noreferrer noopener">Our Locations
            <svg>
                <use href=""></use>
            </svg>
        </a>
        <a href="" target="_blank" rel="noreferrer noopener">Franchise
            <svg>
                <use href=""></use>
            </svg>
        </a>
    </div>
</section>