<div class="logo-container">
    <a href="#" rel="noreferrer noopener" aria-label="logotype" class="logo">
        <div class="logo-wrapper">
            <p class="logo-left">Hell</p>
            <svg class="logo-svg">
                <use href="./images/icons/sprite.svg#icon-fire"></use>
            </svg>
            <p>En</p>
        </div>
        <span class="logo-description">Адский&nbsp;<span class="logo-description logo-color">Английский</span></span>
    </a>
</div>

<!-- WHITE-LOGO--Modal-Menu--for-tablet-and-mobile -->
<div class="logo-container">
    <a href="#" rel="noreferrer noopener" aria-label="logotype" class="logo logo-white">
        <div class="logo-wrapper">
            <p class="logo-left">Hell</p>
            <svg class="logo-svg">
                <use href="./images/icons/sprite.svg#icon-fire"></use>
            </svg>
            <p>En</p>
        </div>
        <span class="logo-description">Адский&nbsp;<span class="logo-description logo-white-color">Английский</span></span>
    </a>
</div>