<section class="mhero">
  <div class="mhero__container">
    <h2 class="mhero__title">
      <span class="mhero__title--white">
        ice cream <br />
        made with <br
      /></span>
      <span class="mhero__title--red">passion</span>
    </h2>
    <div class="mhero__buttons">
      <a href="#products" class="mhero__btn1">
        <span> Products </span>
      </a>
      <a href="#tradition" class="mhero__btn2">
        <span> How it’s made? </span>
      </a>
    </div>
    <div class="mhero__description">
      <p class="mhero__description--text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <div class="mhero__description--btn"></div>
    </div>
  </div>
</section>
