<!-- ================================================ -->
<!-- <section class="m-products">
  <div class="m-products__container">
    <h3 class="products__title--add">100% Natural</h3>
    <h2 class="products__title__title--main">Products</h2>
    <ul class="prod-list">
      <li class="m-product">
        <picture class="p-picture">
          <source
            srcset="
              ./images/desktop/icecream@2x.png 2x,
              ./images/desktop/icecream@1x.png 1x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/tablet/icecream@2x.png 2x,
              ./images/tablet/icecream@1.png  1x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/mobile/icecream@2x.png 2x,
              ./images/mobile/icecream@1x.png 1x
            "
            media="(max-width: 768px)"
          />

          <img
            class="p-image"
            src="./images/mobile/icecream@1x.png"
            alt="Фото мороженое"
          />
        </picture>
        <div class="product__content pink">
          <h4 class="product__title">ice cream</h4>
          <p class="product__title">...</p>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <img
            class="p_image--bottom"
            src="./images/icons/arrow-right.svg"
            alt="arrow"
          />
        </div>
      </li>
      <li class="m-product">
        <picture class="p-picture">
          <source
            srcset="
              ./images/desktop/icecoffee@2x.png 2x,
              ./images/desktop/icecoffee@1x.png 1x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/tablet/icecoffee@2x.png 2x,
              ./images/tablet/icecoffee@1x.png 1x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/mobile/icecoffe@2x.png 2x,
              ./images/mobile/icecoffe@1x.png 1x
            "
            media="(max-width: 768px)"
          />

          <img
            class="p-image"
            src="./images/mobile/icecoffe@1x.png"
            alt="Фото холодного кофе"
          />
        </picture>
        <div class="product__content yellow">
          <h4 class="product__title">ice coffee</h4>
          <p class="product__title">...</p>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <img
            class="p_image--bottom"
            src="./images/icons/arrow-right.svg"
            alt="arrow"
          />
        </div>
      </li>
      <li class="m-product">
        <picture class="p-picture">
          <source
            srcset="
              ./images/desktop/milkshakes@2x.png 2x,
              ./images/desktop/milkshakes@1x.png 1x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/tablet/milkshakes@2x.png 2x,
              ./images/tablet/milkshakes@1x.png 1x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/mobile/milkshakes@2x.png 2x,
              ./images/mobile/milkshakes@1x.png 1x
            "
            media="(max-width: 768px)"
          />

          <img
            class="p-image"
            src="./images/mobile/milkshakes@1x.png"
            alt="Фото молочного коктейля"
          />
        </picture>
        <div class="product__content green">
          <h4 class="product__title">milkshakes</h4>
          <p class="product__title">...</p>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <img
            class="p_image--bottom"
            src="./images/icons/arrow-right.svg"
            alt="arrow"
          />
        </div>
      </li>
    </ul>
  </div>
</section> -->
