<section class="section-made">
    <div class="container">
        <div>
            <p class="made-label">tradition and love</p>
            <h3 class="made-title">how it’s made?</h3>
        </div>  

        <div>
        <picture>
            <source
            srcset="./images/how-its-made/cow.png 1x,
                    ./images/how-its-made/cow@2x.png 2x"
            media="(min-width:1200px)"
            />
            <source
            srcset="./images/how-its-made/cow-tablet.png 1x,
                    ./images/how-its-made/cow-tablet@2x.png 2x"
            media="(min-width:768px)"
            />
            <source
            srcset="./images/how-its-made/cow-mobile.png 1x,
                    ./images/how-its-made/cow-mobile@2x.png 2x"
            media="(min-width: 320px)"
            />
            <img src="./images/how-its-made/cow.png" alt="корова с графином" />
        </picture>
        </div>

        <div class="made-content">
            <ul class="list">
                <li>
                    <p class="content-item1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                        Maecenas eleifend erat at justo fringilla.
                    </p>
                </li>
                <li>
                    <p class="content-item2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                </li>
                <li>
                    <p class="content-item2">Aliquam erat volutpat. Aenean accumsan.</p>
                </li>
            </ul>

            <div class="made-thumb">
                <picture>
                    <source
                    srcset="./images/how-its-made/milk-bg.png 1x,
                            ./images/how-its-made/milk-bg@2x.png 2x"
                    media="(min-width:1200px)"
                    />
                    <source
                    srcset="./images/how-its-made/milk-bg-mobile.png 1x,
                            ./images/how-its-made/milk-bg-mobile@2x.png 2x"
                    media="(min-width: 320px)"
                    />
                    <img src="./images/how-its-made/milk-bg.png" alt="корова с графином" />
                </picture>
            </div>
        </div>

        <button class="btn" type="button"><span>Read more</span>
            <svg class="decor-icon" width="6" height="10">
                <use href="./images/how-its-made/inline-sprite-made.svg#icon-btn-decor"></use>
            </svg>
        </button>
    </div>
</section>