<section class="problems">
  <!-- проблемы на черном фоне -->
  <div class="container">
    <div class="container-name">
      <h2 class="container-name-title">
        Главные проблемы <br />учеников <br />
        на English ВНО, <br />которые<br />
        мы <span class="word-help">помогаем</span> решить
      </h2>
    </div>
    <!-- перечисление проблем -->
    <div class="container-list">
      <ul class="list-item">
        <li>
          <p class="number-item"></p>
          <p>Название грамматики</p>
        </li>
        <li>
          <p class="number-item"></p>
          <p>
            Неумение вомпринимать<br />
            устную английскую речь
          </p>
        </li>
        <li>
          <p class="number-item"></p>
          <p>
            Скупой словарный запас<br />
            для написани сочинения
          </p>
        </li>
        <li>
          <p class="number-item"></p>
          <p>
            Поодготовка в <br />
            одиночку
          </p>
        </li>
        <li>
          <p class="number-item"></p>
          <p>
            Отсутствие единого <br />
            ресурса знаний
          </p>
        </li>
        <li>
          <p class="number-item"></p>
          <p>
            Недостаток <br />
            самоорганизации и лень
          </p>
        </li>
        <li>
          <p class="number-item"></p>
          <p>
            Эксперим - сделал<br />
            что бы понимать
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
