<body>
  <main>
    <!-- TRADITION AND LOVE-SECTION -->
    <section>
      <div class="container">
        <h4 class="section-title">tradition and love</h4>
        <article class="article">
          <h1 class="article__title">how it's made?</h1>
          <div class="article article-flex">
            <img
              class="article-flex__image"
              src="../sass/images/cow.png"
              alt="vacuta"
            />
            <div class="article paragraph-flex">
              <p class="paragraph-flex__paragraph1">
                Ice is a place where you will become not only a little happier,
                but also healthier. Health is the main value for us, and we
                follow it when creating our handmade desserts.
              </p>
              <p class="paragraph-flex__paragraph2">
                We use traditional recipes and 100% natural ingredients. Our
                products are so natural that they can be given to children from
                the age of three years. Sweets lovers can expect 55 types of ice
                cream, 15 types of coffee and 23 milkshakes.
              </p>
              <button type="button" class="article read-more-button">
                READ MORE
                <svg class="read-more-button__btn-svg">
                  <use href="../sass/images/symbol-defs.svg#icon-Vector"></use>
                </svg>
              </button>
            </div>
          </div>
        </article>
        <ul class="features-list">
          <li>
            <svg class="features-list__svg">
              <use href="../sass/images/symbol-defs.svg#icon-milk"></use>
            </svg>
            <h1 class="features-list__heading">721</h1>
            <p class="features-list__text">
              At 721 Cow, we're passionate about producing the highest quality
              ice cream possible.
            </p>
          </li>
          <li>
            <svg class="features-list__svg">
              <use href="../sass/images/symbol-defs.svg#icon-apples"></use>
            </svg>
            <h1 class="features-list__heading">16kg</h1>
            <p class="features-list__text">
              You can be sure you're getting a scoop of the freshest ice cream
              around.
            </p>
          </li>
          <li>
            <svg class="features-list__svg">
              <use href="../sass/images/symbol-defs.svg#icon-heart"></use>
            </svg>
            <h1 class="features-list__heading">84</h1>
            <p class="features-list__text">
              We use only the freshest, locally-sourced ingredients to make our
              84 unique and delicious flavors.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
