<main class="main-section section">
    <div class="product-advertisement">
        <span>Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</span>
        <div class="main-div-buttons">
            <div class="principal-buttons">
                <button type="button" class="buy-now-button">Buy now</button>
                <button type="button"> How it's made</button>
            </div>
            
            <div class="scroll-down">
                <a href="#">scroll down</a>
                <svg>
                    <use href="./images/symbol-defs.svg#icon-scroll-down" />
                </svg>
            </div>
        </div>
    </div>
</main>