<section class="problems">
  <!-- проблемы на черном фоне -->
  <div class="container container-problem">
    <div class="container-name">
      <h2 class="container-name-title">
        Главные проблемы учеников <br />
        <span class="qwert">на English ВНО,</span>
        <span class="qwert"
          >которые <br />
          мы <span class="word-help">помогаем</span> решить</span
        >
      </h2>
    </div>

    <!-- перечисление проблем -->
    <div class="container-list">
      <ul class="list-item">
        <li class="number-item">
          <p class="item-position">Название грамматики</p>
        </li>

        <li class="number-item">
          <p class="item-position">
            Неумение вомпринимать<br />
            устную английскую речь
          </p>
        </li>
        <li class="number-item">
          <p class="item-position">
            Скупой словарный запас<br />
            для написани сочинения
          </p>
        </li>
        <li class="number-item">
          <p class="item-position">
            Поодготовка в <br />
            одиночку
          </p>
        </li>
        <li class="number-item">
          <p class="item-position">
            Отсутствие единого <br />
            ресурса знаний
          </p>
        </li>
        <li class="number-item">
          <p class="item-position">
            Недостаток <br />
            самоорганизации и лень
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
