<section class="main-contacts" id="our-contacts">
  <div class="container">
    <div class="title-wrapper">
      <p class="secondary-title">homemade ice cream made</p>
      <h2 class="main-title">with passion</h2>
    </div>

    <div class="main-contacts-wrapper">
      <ul class="social-links list">
        <li class="social-links-item">
          <a
            class="social-network-link"
            href="#"
            target="_blank"
            aria-label="link to github"
          >
            <svg class="icon-social-link github">
              <use href="./images/sprite.svg#icon-footer-github"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-item">
          <a
            class="social-network-link"
            href="#"
            target="_blank"
            aria-label="link to telegram"
          >
            <svg class="icon-social-link telegram">
              <use href="./images/sprite.svg#icon-footer-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-item">
          <a
            class="social-network-link"
            href="#"
            target="_blank"
            aria-label="link to facebook"
          >
            <svg class="icon-social-link facebook">
              <use href="./images/sprite.svg#icon-footer-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="text">
        Feel free to contact
        <a class="main-tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
</section>
