<section class="section main-problems-section">
  <div class="container main-problems-container">
    <h2 class="title main-problems-title">
      Главные проблемы учеников<br />на English ВНО, которые<br />мы
      <span>помогаем</span> решить
    </h2>
    <div class="main-problems-card">
      <ol class="main-problems-list">
        <li>Название грамматики</li>
        <li>Неумение вомпринимать устную английскую речь</li>
        <li>Скупой словарный запас для написани сочинения</li>
        <li>Поодготовка в одиночку</li>
        <li>Отсутствие единого ресурса знаний</li>
        <li>Недостатой самоорганизации и лень</li>
      </ol>
    </div>
  </div>
</section>
