<section class="main-issues fire-big">
    <div class="fire-big"></div>
    <div class="container">
        <h2 class="main-issues-title">Главные проблемы учеников <br> на English ВНО, которые <br> мы <span
                class="main-issues-title-wort">помогаем</span> решить</h2>
        <ul class="main-issues-list">
            <li class="main-issues-list-item">
                <h3 class="main-issues-subtitle"></span>01</h3>
                <p class="main-issues-description">Название грамматики</p>
            </li>
            <li class="main-issues-list-item">
                <h3 class="main-issues-subtitle"></span>02</h3>
                <p class="main-issues-description">Неумение вомпринимать устную английскую речь</p>
            </li>
            <li class="main-issues-list-item">
                <h3 class="main-issues-subtitle"></span>03</h3>
                <p class="main-issues-description">Скупой словарный запас для написани сочинения</p>
            </li>
            <li class="main-issues-list-item">
                <h3 class="main-issues-subtitle"></span>04</h3>
                <p class="main-issues-description">Поодготовка в одиночку</p>
            </li>
            <li class="main-issues-list-item">
                <h3 class="main-issues-subtitle"></span>05</h3>
                <p class="main-issues-description">Отсутствие единого ресурса знаний</p>
            </li>
            <li class="main-issues-list-item">
                <h3 class="main-issues-subtitle"></span>06</h3>
                <p class="main-issues-description">Недостатой самоорганизации и лень</p>
            </li>
        </ul>
    </div>
</section>