<section class="problems">
<div class="container">
    <h2 class="problems__title">Главные проблемы учеников <br>на English ВНО, которые <br>мы <span class="accent">помогаем</span> решить</h2>
    <div class="enumeration">
    <ul class="enumeration__list list">
        <li class="enumeration__list--item">Название грамматики</li>
        <li class="enumeration__list--item">Неумение вомпринимать устную английскую речь</li>
        <li class="enumeration__list--item">Скупой словарный запас для написани сочинения</li>
        <li class="enumeration__list--item">Подготовка в одиночку</li>
        <li class="enumeration__list--item">Отсутствие единого ресурса знаний</li>
        <li class="enumeration__list--item">Недостатой самоорганизации и лень</li>
    </ul>
    </div>
</div>
</section>
