<!-- Main_Problems -->

<section class="main_problems">
    <div class="container">
        <div class="main_problems__black">
            <h2 class="main_problems__title">
                Главные проблемы учеников на English ВНО, которые мы <span>помогаем</span> решить</h2>
            <div class="main_problems__img">
                <img src="images/main_problems/fire_under_hero.png" alt="fire_under_hero" / width="300px">
            </div>
            <div class="main_problems__list">
                <ul>
                    <li class="main_problems__item">
                        <div class="item-number">01</div>
                        Название грамматики
                    </li>
                    <li class="main_problems__item">
                        <div class="item-number">02</div>
                        Неумение воcпринимать <br>
                        устную английскую речь
                    </li>
                    <li class="main_problems__item">
                        <div class="item-number">03</div>
                        Скупой словарный запас <br>
                        для написани сочинения
                    </li>
                    <li class="main_problems__item">
                        <div class="item-number"> 04</div>
                        Подготовка в одиночку
                    </li>
                    <li class="main_problems__item">
                        <div class="item-number">05</div>
                        Отсутствие единого <br>ресурса знаний
                    </li>
                    <li class="main_problems__item">
                        <div class="item-number">06</div>
                        Недостаток <br>самоорганизации и лень
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- End Main_Problems -->

