<!-- Main_Problems -->

<section class="main_problems">
    <div class="container">
        <div class="main_problems__black">
            <h2 class="main_problems__title">
                Главные проблемы учеников <br> на English ВНО, которые <br> мы <span class="main_problems__title-orange">помогаем</span> решить</h2>
            <div class="main_problems__list">
                <ul class="main_problems__list-item">
                    <li class="main_problems__item">
                        <div class="main_problems__item-number">01</div>
                        <span class="main_problems__item-desc">Название грамматики</span>
                    </li>
                    <li class="main_problems__item">
                        <div class="main_problems__item-number">02</div>
                        <span class="main_problems__item-desc">Неумение воcпринимать <br>
                        устную английскую речь</span>
                    </li>
                    <li class="main_problems__item">
                        <div class="main_problems__item-number">03</div>
                        <span class="main_problems__item-desc">Скупой словарный запас <br>
                        для написания сочинения</span>
                    </li>
                    <li class="main_problems__item">
                        <div class="main_problems__item-number"> 04</div>
                        <span class="main_problems__item-desc">Подготовка в <br> одиночку</span>
                    </li>
                    <li class="main_problems__item">
                        <div class="main_problems__item-number">05</div>
                        <span class="main_problems__item-desc">Отсутствие единого <br>ресурса знаний</span>
                    </li>
                    <li class="main_problems__item">
                        <div class="main_problems__item-number">06</div>
                        <span class="main_problems__item-desc">Недостаток <br>самоорганизации и лень</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- End Main_Problems -->

