<section class="manufacture">
  <div class="container">
    <h3 class="manu__subtitle">tradition and love</h3>
    <h2 class="manu__title">how it’s made?</h2>
    <div class="manu__cow">
      <picture>
        <source srcset="
              ./images/manufacture/mobile/cow.webp    1x,
              ./images/manufacture/mobile/cow@2x.webp 2x
            " media="(min-width: 320px) and (max-width: 767px)" type="image/webp"/>
        <source srcset="
              ./images/manufacture/tablet/cow.webp    1x,
              ./images/manufacture/tablet/cow@2x.webp 2x
            " media="(min-width: 768px) and (max-width: 1199px)" type="image/webp"/>
        <source srcset="
              ./images/manufacture/desktop/cow.webp    1x,
              ./images/manufacture/desktop/cow@2x.webp 2x
            " media="(min-width: 1200px)" type="image/webp"/>

        <source srcset="
                  ./images/manufacture/mobile/cow.png    1x,
                  ./images/manufacture/mobile/cow@2x.png 2x
                " media="(min-width: 320px) and (max-width: 767px)" />
        <source srcset="
                  ./images/manufacture/tablet/cow.png    1x,
                  ./images/manufacture/tablet/cow@2x.png 2x
                " media="(min-width: 768px) and (max-width: 1199px)" />
        <source srcset="
                  ./images/manufacture/desktop/cow.png    1x,
                  ./images/manufacture/desktop/cow@2x.png 2x
                " media="(min-width: 1200px)" />
        <img class="" srcset="
                  ./images/manufacture/mobile/cow.png    1x,
                  ./images/manufacture/mobile/cow@2x.png 2x
                " src="./images/manufacture/mobile/cow.png" alt="корова" />
      </picture>
      <div class="manu__cow__text">
        <p class="manu__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
          eget, egestas eros.
          Maecenas eleifend erat at justo fringilla.</p>
        <p class="manu__subtext">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
          imperdiet placerat.
          Vestibulum euismod ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.<br><br>
        
          Aliquam erat volutpat. Aenean accumsan.</p>

        <button class="manu__btn">Read More</button>
      </div>
    </div>
      <ul class="manu__list">
        <li class="manu__item">
          <picture>
            <img srcset="
              ./images/manufacture/icon-1.png    1x,
              ./images/manufacture/icon-1@2x.png 2x
            " src="./images/manufacture/icon-1.png" alt="ведро">
          </picture>
          <p class="manu__number">721</p>
          <p class="manu__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li class="manu__item">
          <picture>
            <img srcset="
                      ./images/manufacture/icon-2.png    1x,
                      ./images/manufacture/icon-2@2x.png 2x
                    " src="./images/manufacture/icon-2.png" alt="ведро">
          </picture>
          <p class="manu__number">16KG</p>
          <p class="manu__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li class="manu__item">
          <picture>
            <img srcset="
                      ./images/manufacture/icon-3.png    1x,
                      ./images/manufacture/icon-3@2x.png 2x
                    " src="./images/manufacture/icon-3.png" alt="ведро">
          </picture>
          <p class="manu__number">84</p>
          <p class="manu__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        
      </ul>
  </div>
</section>
