<div class="backdrop is-hidden" data-map>
    <div class="map">
        <a href="/" onclick="return false" data-map-close>
            <svg class="modal-button" >
                <use href="./images/sprite.svg#icon-cross"></use>
            </svg>
        </a>
        <b>Visit our office</b>
        <div id="map-container">
            <div class="google-maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93963.8684210425!2d30.467377903557537!3d50.43110778064426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1sru!2sua!4v1614075103049!5m2!1sru!2sua"
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy">
                </iframe>
        </div>
        </div>
        </div>
</div>

