<div class="backdrop is-hidden" data-modal>  
    <div class="locations">
        <button class="locations-button" type="button" data-modal-close>
            <svg class="locations-icon" width="14" height="14">
                <use href="./images/sprite.svg#close.svg"></use>
            </svg>
        </button>
        <p class="locations-tittle">
            How to find us
        </p>   
    
        <ul class="locations-list">
            <li class="locations-item">
                <p class="locations-list-tittle">
                    Chicago Ice Cream
                </p>
                <address class="locations-list-address">
                    20811 W Chicago, Detroit, MI 48228, Соединенные Штаты
                </address>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.9710667662107!2d-83.24722618513985!3d42.364455879186586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824caa42b31d87f%3A0xbbf81fd97456b587!2sChicago%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1613575742529!5m2!1sru!2sua" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </li>

            <li class="locations-item">
                <p class="locations-list-tittle">
                    Ice Cream On Wheels of Los Angeles
                </p>
                <address class="locations-list-address">
                    914 E 31st St, Los Angeles, CA 90011, Соединенные Штаты
                </address>
    
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105827.41602833741!2d-118.32930344179688!3d34.01547070000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c87b9d36057b%3A0x3e8ff2ec6b6b1059!2sIce%20Cream%20On%20Wheels%20of%20Los%20Angeles!5e0!3m2!1sru!2sua!4v1613582164162!5m2!1sru!2sua" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </li>

            <li class="locations-item">
                <p class="locations-list-tittle">
                    Ice Cream New York 
                </p>
                <address class="locations-list-address">
                    71-24 Austin St, Queens, NY 11375, Соединенные Штаты
                </address>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96746.18251988632!2d-73.99732540068221!3d40.73302323192679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25e20c450658d%3A0x3ecd7f129f2491f!2sI-CE-NY!5e0!3m2!1sru!2sua!4v1613582766419!5m2!1sru!2sua" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </li>
    
        </ul>
    </div>    
</div>    
