<section class="section-mass">
    <div class="container">
        <ul class="mass-list">
            <li class="mass-item">
                <p class="mass-overhead">721</p>
                <p class="mass-label">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="mass-item">
                <p class="mass-overhead">16kg</p>
                <p class="mass-label">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="mass-item">
                <p class="mass-overhead">84</p>
                <p class="mass-label">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>

        <div class="mass-gallery">
            
        </div>
    </div>
</section>