<section class="master section">
  <div class="master container">
    <p class="master-section-text">для настоящих ценителей атмосферы</p>
    <h2 class="master title">Наши мастера</h2>
    <ul class="master-ul">
      <li class="master-name">
        <img
          class="master-foto"
          srcset="
            ./images/John-370.jpg 370w,
            ./images/John-418.jpg 418w,
            ./images/John-450.jpg 450w,
            ./images/John-740.jpg 740w,
            ./images/John-836.jpg 836w,
            ./images/John-900.jpg 900w
          "
          src="./images/John-370.jpg"
          alt="John"
          sizes="( min-width: 1280px ) 370px, ( min-width: 768px ) 450px, (min-width: 480px ) 418px"
        />
        <div class="master-content">
          <h3 class="master-title name">John Smith</h3>
          <p class="master-text">Extreme Barber</p>
          <ul class="master-seti">
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-instagram"
                  aria-label="instagram"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-twitter"
                  aria-label="twitter"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-facebook"
                  aria-label="facebook"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-linkedin"
                  aria-label="linkedin"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="master-name">
        <img
          class="master-foto"
          srcset="
            ./images/Michele-370.jpg 370w,
            ./images/Michele-418.jpg 418w,
            ./images/Michele-450.jpg 450w,
            ./images/Michele-740.jpg 740w,
            ./images/Michele-836.jpg 836w,
            ./images/Michele-900.jpg 900w
          "
          src="./images/Michele-370.jpg"
          alt="Michele"
          sizes="( min-width: 1280px ) 370px, ( min-width: 768px ) 450px, (min-width: 480px ) 418px"
        />
        <div class="master-content">
          <h3 class="master-title name">Michele Doe</h3>
          <p class="master-text">Extreme Barber</p>
          <ul class="master-seti">
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-instagram"
                  aria-label="instagram"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-twitter"
                  aria-label="twitter"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-facebook"
                  aria-label="facebook"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-linkedin"
                  aria-label="linkedin"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="master-name">
        <img
          class="master-foto"
          srcset="
            ./images/Alan-370.jpg 370w,
            ./images/Alan-418.jpg 418w,
            ./images/Alan-450.jpg 450w,
            ./images/Alan-740.jpg 740w,
            ./images/Alan-836.jpg 836w,
            ./images/Alan-900.jpg 900w
          "
          src="./images/Alan-370.jpg"
          alt="Alan"
          sizes="( min-width: 1280px ) 370px, ( min-width: 768px ) 450px, (min-width: 480px ) 418px"
        />
        <div class="master-content">
          <h3 class="master-title name">Alan Black</h3>
          <p class="master-text">Extreme Barber</p>
          <ul class="master-seti">
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-instagram"
                  aria-label="instagram"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-twitter"
                  aria-label="twitter"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-facebook"
                  aria-label="facebook"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="master-seti list">
              <a class="master-seti link" href="">
                <svg
                  class="icon-linkedin"
                  aria-label="linkedin"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
