<section class="section masters-section" id="masters">
  <div class="container masters-container">
    <p class="suptitle">для настоящих ценителей атмосферы</p>
    <h2 class="title masters-title">Наши мастера</h2>
    <ul class="list masters-list">
      <!-- ===================================================================================================================== -->
      <li class="masters-item">
        <picture class="masters-item-pictures">
          <!-- ================desktop================= -->
          <source
            srcset="
              ./img/masters/masters-desktop/masters-desktop-01.webp    1x,
              ./img/masters/masters-desktop/masters-desktop-01@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-desktop/masters-desktop-01.jpg    1x,
              ./img/masters/masters-desktop/masters-desktop-01@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <!-- tablet -->
          <source
            srcset="
              ./img/masters/masters-tablet/masters-tablet-01.webp    1x,
              ./img/masters/masters-tablet/masters-tablet-01@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-tablet/masters-tablet-01.jpg    1x,
              ./img/masters/masters-tablet/masters-tablet-01@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- mobile -->
          <source
            srcset="
              ./img/masters/masters-mobile/masters-mobile-01.webp    1x,
              ./img/masters/masters-mobile/masters-mobile-01@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-mobile/masters-mobile-01.jpg    1x,
              ./img/masters/masters-mobile/masters-mobile-01@2x.jpg 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <img
            src="./img/masters/masters-mobile/masters-mobile-01.jpg"
            class="img"
            alt="Модная стрижка в барбершопе"
            load="lazy"
          />
        </picture>
        <div class="masters-item-description">
          <h3 class="masters-item-title">John Smith</h3>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="list masters-icon-list">
            <!-- ==================ICONS============================ -->
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <!-- ============================================================ -->
        </div>
      </li>
      <!-- ============================================================================================================================================== -->
      <li class="masters-item">
        <picture class="masters-item-pictures">
          <!-- ================desktop================= -->
          <source
            srcset="
              ./img/masters/masters-desktop/masters-desktop-02.webp    1x,
              ./img/masters/masters-desktop/masters-desktop-02@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-desktop/masters-desktop-02.jpg    1x,
              ./img/masters/masters-desktop/masters-desktop-02@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <!-- tablet -->
          <source
            srcset="
              ./img/masters/masters-tablet/masters-tablet-02.webp    1x,
              ./img/masters/masters-tablet/masters-tablet-02@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-tablet/masters-tablet-02.jpg    1x,
              ./img/masters/masters-tablet/masters-tablet-02@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- mobile -->
          <source
            srcset="
              ./img/masters/masters-mobile/masters-mobile-02.webp    1x,
              ./img/masters/masters-mobile/masters-mobile-02@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-mobile/masters-mobile-02.jpg    1x,
              ./img/masters/masters-mobile/masters-mobile-02@2x.jpg 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <img
            src="./img/masters/masters-mobile/masters-mobile-02.jpg"
            class="img"
            alt="Модная стрижка в барбершопе"
            load="lazy"
          />
        </picture>
        <div class="masters-item-description">
          <h3 class="masters-item-title">Michele Doe</h3>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="list masters-icon-list">
            <!-- ==================ICONS============================ -->
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <!-- ============================================================ -->
        </div>
      </li>
      <!-- =================================================================================================================== -->
      <li class="masters-item">
        <picture class="masters-item-pictures">
          <!-- ================desktop================= -->
          <source
            srcset="
              ./img/masters/masters-desktop/masters-desktop-03.webp    1x,
              ./img/masters/masters-desktop/masters-desktop-03@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-desktop/masters-desktop-03.jpg    1x,
              ./img/masters/masters-desktop/masters-desktop-03@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <!-- tablet -->
          <source
            srcset="
              ./img/masters/masters-tablet/masters-tablet-03.webp    1x,
              ./img/masters/masters-tablet/masters-tablet-03@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-tablet/masters-tablet-03.jpg    1x,
              ./img/masters/masters-tablet/masters-tablet-03@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- mobile -->
          <source
            srcset="
              ./img/masters/masters-mobile/masters-mobile-03.webp    1x,
              ./img/masters/masters-mobile/masters-mobile-03@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/masters/masters-mobile/masters-mobile-03.jpg    1x,
              ./img/masters/masters-mobile/masters-mobile-03@2x.jpg 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <img
            src="./img/masters/masters-mobile/masters-mobile-03.jpg"
            class="img"
            alt="Модная стрижка в барбершопе"
            load="lazy"
          />
        </picture>
        <div class="masters-item-description">
          <h3 class="masters-item-title">Alan Black</h3>
          <p class="masters-item-text">Extreme Barber</p>
          <ul class="list masters-icon-list">
            <!-- ==================ICONS============================ -->
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="masters-icon-item">
              <a href="#" class="masters-icon-link">
                <svg class="masters-icon">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <!-- ============================================================ -->
        </div>
      </li>
      <!-- ======================================================================================================================================================= -->
    </ul>
  </div>
</section>
