<section class="section team-section">
  <div>
    <h3 class="title-subtitle">
      Для настоящих ценителей атмосферы
    </h3>
  </div>
  <div class="container team">
    <h2 class="section-title">Наши мастера</h2>
    <ul class="section-list">
      <li class="teams item">
        <picture>
          <source srcset="" type="image/webp" media="(min-width: 1200px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <source srcset="" type="image/webp" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" type="image/webp" media="(max-width: 767px)" />
          <source srcset="" media="(max-width: 767px)" />
          <img class="mate-img" src="./images/mate-1.jpg" alt="John Smith" />
        </picture>
        <h3 class="section-subtitle team">John Smith</h3>
        <p class="position">Extreme Barber</p>
        <ul class="mate">
          <li class="mate-item">
            <a class="social-links" href="https://www.instagram.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://twitter.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://www.facebook.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://www.linkedin.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="teams item">
        <picture>
          <source srcset="" type="image/webp" media="(min-width: 1200px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <source srcset="" type="image/webp" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" type="image/webp" media="(max-width: 767px)" />
          <source srcset="" media="(max-width: 767px)" />
          <img
            class="mate-img"
            src="./images/mate-2.jpg"
            alt="Michele Doe"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw, (max-width: 767px) 80vw"
          />
        </picture>
        <h3 class="section-subtitle team">Michele Doe</h3>
        <p class="position">Extreme Barber</p>
        <ul class="mate">
          <li class="mate-item">
            <a class="social-links" href="https://www.instagram.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://twitter.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://www.facebook.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://www.linkedin.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="teams item">
        <picture>
          <source srcset="" type="image/webp" media="(min-width: 1200px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <source srcset="" type="image/webp" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" type="image/webp" media="(max-width: 767px)" />
          <source srcset="" media="(max-width: 767px)" />
          <img
            class="mate-img"
            src="./images/mate-3.jpg"
            alt="Alan Black"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw, (max-width: 767px) 80vw"
          />
        </picture>
        <h3 class="section-subtitle team">Alan Black</h3>
        <p class="position">Extreme Barber</p>
        <ul class="mate">
          <li class="mate-item">
            <a class="social-links" href="https://www.instagram.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://twitter.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://www.facebook.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mate-item">
            <a class="social-links" href="https://www.linkedin.com/">
              <svg class="social-icon" width="20" height="20">
                <use href="./images/sprite.svg.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
