<!-- Секция наши мастера -->
<section class="masters">
  <p>для настоящих ценителей атмосферы</p>
  <h2>Наши мастера</h2>
  <ul>
    <li>
      <img
        src="../images/john.jpg"
        alt="John Smith"
        srcset="../images/john.jpg 1x, ../images/john@2x.jpg 2x"
        class="masters"
      />
      <h3>John Smith</h3>
      <p>Extreme Barber</p>
      <ul class="list">
        <li>
          <a href="#" aria-label="Ссылка на Инстаграм" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Твитер" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Фейсбук" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Линкедин" class="link">
            <svg width="20" height="20">
              <use href=".,/images/sprite.svg#icon-linkedin"></use></svg
          ></a>
        </li>
      </ul>
    </li>
    <li>
      <img
        src="../images/michele.jpg"
        alt="John Smith"
        srcset="../images/michele.jpg 1x, ../images/michele@2x.jpg 2x"
        class="masters"
      />
      <h3>Michele Doe</h3>
      <p>Extreme Barber</p>
      <ul class="list">
        <li>
          <a href="#" aria-label="Ссылка на Инстаграм" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Твитер" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Фейсбук" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Линкедин" class="link">
            <svg width="20" height="20">
              <use href=".,/images/sprite.svg#icon-linkedin"></use></svg
          ></a>
        </li>
      </ul>
    </li>
    <li>
      <img
        src="../images/alan.jpg"
        alt="John Smith"
        srcset="../images/alan.jpg 1x, ../images/alan@2x.jpg 2x"
        class="masters"
      />
      <h3>Alan Black</h3>
      <p>Extreme Barber</p>
      <ul class="list">
        <li>
          <a href="#" aria-label="Ссылка на Инстаграм" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Твитер" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Фейсбук" class="link">
            <svg width="20" height="20">
              <use href="../images/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li>
          <a href="#" aria-label="Ссылка на Линкедин" class="link">
            <svg width="20" height="20">
              <use href=".,/images/sprite.svg#icon-linkedin"></use></svg
          ></a>
        </li>
      </ul>
    </li>
  </ul>
</section>
