<section class="mentors">
  <div class="container">
    <h2 class="mentors__title">Преподаватель</h2>
    <div class="mentors__content">
    <picture>
      <source
        srcset="./images/mentors/mentor-desktop.jpg 1x, ./images/mentors/mentor-desktop@2x.jpg 2x"
        media="(min-width:1344px)"
      />
      <source
        srcset="./images/mentors/mentor-mob.jpg 1x, ./images/mentors/mentor-mob@2x.jpg 2x"
        media="(max-width:1343px)"
      />
      <img class="mentors__photo" src="/images/mentors/mentor-mob.jpg" alt="фото преподавателя" />
    </picture>
    <div class="mentors__item" >
      <p class="mentors__name">Елена Морева</p>
      <ul class="mentors__experience list">
        <li class="mentors__experience-list">Опыт подготовки учеников к ВНО - 6 лет</li>
        <li class="mentors__experience-list">Собственный результат сдачи ВНО - 197 баллов 2 года подряд</li>
        <li class="mentors__experience-list">
          Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)
        </li>
      </ul>
      <p class="mentors__line">—</p>
      <p class="mentors__about">
        Высшее образование получила в Институте международных отношений НАУ по специальности переводчик-аналитик. </p>
        <p class="mentors__about">
          В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания
        сочинений.</p>
        <p class="mentors__about">В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The
        University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
        Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</p>
        <a class="mentors__certificate" href="#" lang="en">Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
