<div class="mobile-menu" id="mobile-menu" data-menu>
  <button
    class="mobile-menu__menu-button--close"
    type="button"
    aria-controls="mobile-menu"
    data-menu-close
    aria-expanded="false"
  >
    <svg
      class="mobile-menu__icon"
      width="20"
      height="20"
      aria-label="mobile menu switcher"
      aria-expanded="false"
    >
      <use
        class="mobile-menu__icon--cross"
        href="./images/sprite.svg#close-menu"
      ></use>
    </svg>
  </button>

  <button class="mobile-menu__button btn-buy" type="button" data-open-modal>
    <span class="title">Buy now</span>
    <svg class="btn-buy__icon" width="15" height="15">
      <use
        href="./images/sprite.svg#arrow-to-right"
        width="10px"
        height="10px"
      ></use>
    </svg>
  </button>

  <nav class="nav">
    <ul class="nav__list list">
      <li class="nav__item">
        <a class="nav__link" href="">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">About us</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">How it's made?</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">Our products</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">Contact</a>
      </li>
    </ul>
  </nav>
</div>
