<div class="header__mobil is-hidden">
  <a class="header__logo--mobil logo" href="">
    <img src="./images/Logo.png" alt="logo" class="logo__image" />
  </a>
  <button type="button" class="header__cross">
    <svg class="cross__img" width="47px" height="39px">
      <use href="./img/sprite.svg#icon-modal-cross"></use>
    </svg>
  </button>
  <div class="header__switcher">
    <span class="header__light">Light</span>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
    <span class="header__dark">Dark</span>
  </div>
  <form class="header__form form js-form-mobil">
    <input placeholder="Search" name="input" class="form__input" type="text" />
    <button class="form__btn" type="submit">
      <svg class="form__img" width="18px" height="18px">
        <use href="./img/sprite.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <nav class="header__nav nav">
    <a class="nav__link" href="./">Home</a>
    <p class="nav__link nav__menu js-nav__link--mobil">
      Favorite
      <svg class="nav__img" width="40px" height="30px">
        <use href="./img/sprite.svg#icon-mdi-light_chevron-down"></use>
      </svg>
    </p>
    <ul class="nav__links is-hidden nav__links--mobil">
      <li class="nav__item--top">
        <a href="./fav-coctails.html">Favorite cocktails</a>
      </li>
      <li class="nav__item--bottom">
        <a href="./fav-ingredients.html">Favorite ingredients</a>
      </li>
    </ul>
  </nav>
  <button class="signup__btn" type="button" data-authorithation="disable">
    <svg width="32px" height="32px">
      <use class="signup__ico--in" href="./img/sprite.svg#icon-key"></use>
      <use
        class="signup__ico--out"
        href="./img/sprite.svg#icon-checkbox-checked"
      ></use>
    </svg>
  </button>
</div>
