<div class="header__mobil is-hidden">
  <a class="header__logo--mobil logo" href="">
    <img src="./images/Logo.png" alt="logo" class="logo__image" />
  </a>
  <button type="button" class="header__cross">
    x
    <svg class="cross__img" width="18px" height="18px">
      <!-- <use href=""></use> -->
    </svg>
  </button>
  <div class="header__switcher">
    <span class="header__light">Light</span>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
    <span class="header__dark">Dark</span>
  </div>
  <form class="header__form form">
    <input placeholder="Search" class="form__input" type="text" />
    <button class="form__btn" type="submit">
      <svg class="form__img" width="18px" height="18px">
        <!-- <use href=""></use> -->
      </svg>
    </button>
  </form>
  <nav class="header__nav nav">
    <a class="nav__link" href="./">Home</a>
    <p class="nav__link">
      Favorite<span>
        <svg class="form__img" width="17px" height="10px">
          <!-- <use href=""></use> -->
        </svg>
      </span>
    </p>
    <ul class="nav__links is-hidden">
      <li><a href="#">Favorite cocktails</a></li>
      <li><a href="#">Favorite ingredients</a></li>
    </ul>
  </nav>
</div>
