<div class="mobile-menu" data-menu>
  <button type="button" class="mobile-menu-close-btn" data-menu-close>
    <svg class="mobile-menu-close-icon">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu-nav-list list">
    <li class="mobile-menu-nav-item">
      <a href="#aboute" class="mobile-menu-nav-link link scrollto">О нас</a>
    </li>
    <li class="mobile-menu-nav-item">
      <a href="#prices" class="mobile-menu-nav-link link scrollto"
        >Услуги и цены</a
      >
    </li>
    <li class="mobile-menu-nav-item">
      <a href="#masters" class="mobile-menu-nav-link link scrollto">Мастера</a>
    </li>
    <li class="mobile-menu-nav-item">
      <a href="#footer" class="mobile-menu-nav-link link scrollto">Контакты</a>
    </li>
  </ul>

  <a href="tel:+380441111111" class="tel-link link">+38 044 111 11 11</a>

  <button type="button" class="btn" data-modal-open>онлайн-запись</button>

  <ul class="social-list list">
    <li class="social-list-item">
      <a class="social-link link" href="">Instagram</a>
    </li>
    <li class="social-list-item">
      <a class="social-link link" href="">Youtube</a>
    </li>
  </ul>
</div>
