<div class="mob-menu" data-menu>
  <!-- <button class="btn-toggle" id="menu-toggle" data-menu-button>
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button> -->

  <button class="mob-menu-button btn-light" type="button">
    <span class="mob-menu-button__caption">Buy now</span>
    <svg class="mob-menu-button__icon">
      <use href="./images/sprite.svg#bracket2"></use>
    </svg>
  </button>
  <nav class="mob-menu__nav">
    <ul class="mob-menu__list list">
      <li class="mob-menu__item">
        <a class="mob-menu__link mob-menu__link--current link" href="./index.html">Home</a>
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link link" href="#customer-reviews">About us</a>
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link link" href="#about">How it’s made?</a>
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link link" href="#products">Our products</a>
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link link" href="#contacts">Contact</a>
      </li>
    </ul>
  </nav>
</div>