<!-- Mobile-menu -->
<div class="mobile-menu">
    <svg class="mobile-menu-close-icon">
        <use href="./images/icons/symbol-defs.svg#icon-close"></use>
    </svg>
    <button class="mobile-menu-button" type="button">
        Buy now
        <svg>
            <use href="./images/icons/symbol-defs.svg#icon-mobile-menu-button-vector"></use>
        </svg>
    </button>
    <ul class="mobile-menu-nav">
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link">Home</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link">About us</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link">How it's made?</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link">Our products</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link">Contacts</a>
        </li>
    </ul>
</div>