<!-- Mobile-menu -->
<div class="mobile-menu" data-menu>
    <div class="mobile-menu-block-svg">
         <svg class="mobile-menu-close-icon">
             <use href="./images/icons/symbol-defs.svg#icon-close"></use>
         </svg>
        </div>     

    <button class="mobile-menu-button" type="button">
        Buy now
        <svg class="mobile-menu-vector-icon">
            <use href="./images/icons/symbol-defs.svg#icon-left-arrow-svg-2"></use>
        </svg>
    </button>
    <ul class="mobile-menu-nav">
        <li class="mobile-menu-nav-item mobile-menu-first-item">
            <a class="mobile-menu-nav-link" href="#">Home</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#">About us</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#">How it's made?</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#">Our products</a>
        </li>
        <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#">Contacts</a>
        </li>
    </ul>
</div>