<!-- MODAL -->

<!-- CERTIFICATE MODAL -->
<div class="modal certificate-modal modal-area-bgd" id="certificate-modal">
    <div class="container modal-area-content">
        <button type="button" class="certificate-modal__close-button modal-close-btn">
            <svg width="15" height="15">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <div class="certificate-modal__scroll-area">
            <img src="./images/about/certificate.jpg"
                srcset="./images/about/certificate.jpg 1x, ./images/about/certificate@2x.jpg 2x"
                class="about-section-certificate" alt="Cambrige English Entry Level Certificate">
            <h3>Международный языковой сертификат Cambrige ESOL</h3>
            <p>Экзаменационный департамент Кембриджского Университета, который называется Cambridge ESOL (English for
                Speakers of Other
                Languages) является старейшей и наиболее авторитетной организацией, занимающейся экзаменами по
                английскому языку.</p>
            <p>Кембриджские экзамены проверяют уровень развития всех четырех языковых навыков (чтение, письмо,
                аудирование/понимание на
                слух и говорение) и разработаны с учетом Общеевропейской шкалы языковой компетенции (Common European
                Framework of
                Reference for Languages, CEFR) – международной системы определения уровня владения языком.</p>
        </div>
    </div>
</div>
<!-- / CERTIFICATE MODAL -->
<!-- CONSULTATION MODAL -->
<div class="modal consultation-modal modal-area-bgd" id="consultation-modal">
    <div class="container modal-area-content">
        <button type="button" class="consultation-modal__close-button modal-close-btn">
            <svg width="15" height="15">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <div class="consultation-modal__scroll-area">
            <form class="contact-form">
                <h3>Оставьте свои данные, мы вам перезвоним</h3>
                <label for="name">Имя</label>
                <input type="text" class="contact-form__input" name="name" id="name" pattern="[А-Яа-яA-Za-z]{2,}"
                    required>
                <label for="phone">Телефон</label>
                <input type="tel" class="contact-form__input" name="phone" id="phone" required>
                <label for="comment">Комментарий</label>
                <textarea name="comment" class="contact-form__textarea" id="comment"
                    placeholder="Введите текст"></textarea>
                <button type="submit" class="button contact-form__submit">Жду звонка</button>
            </form>
        </div>
    </div>
</div>
<!-- / CONSULTATION MODAL -->
<!-- /MODAL -->