<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="map-button-close" data-modal-close>
      <svg width="30" height="30">
        <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="map-container" id="map_canvas">
      <iframe class="map-frame"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.4117594296367!2d30.502679315152324!3d50.396163399156954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8c95f581b9b%3A0x94615950b26aa5ec!2z0YPQuy4g0JLQsNGB0LjQu9GM0LrQvtCy0YHQutCw0Y8sIDUvNywg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1594735041273!5m2!1sru!2sua"
        width="400" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe></div>
  </div>
</div>