<div class="modal-backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button class="modal-button__close" data-modal-close>
      <svg class="icon-modal__close" height="20" width="20">
        <use href="./images/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="modal-window__content">
      <h2 class="modal-window__header">Advantages of cooperation with us:</h2>
      <ul class="modal-window__list">
        <li class="modal-window__item">
          &rArr; Proven concept to start own business.
        </li>
        <li class="modal-window__item">
          &rArr; Trade in a high quality product.
        </li>
        <li class="modal-window__item">&rArr; Regular delivery of products.</li>
      </ul>
      <p class="contact-us__heading-text">Leave yor details</p>
      <form
        class="contact-us-form"
        method="POST"
        onsubmit="return ffs.checkValid(this, 'your-key', 'Thanks!');"
      >
        <div class="contact-us-form__formfield">
          <input
            class="contact-us-form__input"
            type="text"
            name="name"
            id="name"
            placeholder=" "
            required=""
          />
          <label class="contact-us-form__label" for="name">Name</label>
          <span>
            <svg
              class="contact-us-form__input-icon contact-us-form__input-icon__name"
              height="12"
              width="12"
            >
              <use href="./images/sprite.svg#icon-contact-us-name"></use>
            </svg>
          </span>
        </div>

        <div class="contact-us-form__formfield">
          <input
            class="contact-us-form__input"
            type="tel"
            name="tel"
            id="tel"
            placeholder=" "
            required=""
          />
          <label class="contact-us-form__label" for="tel">Phone</label>
          <span>
            <svg
              class="contact-us-form__input-icon contact-us-form__input-icon__phone"
              height="13"
              width="13"
            >
              <use href="./images/sprite.svg#icon-contact-us-phone"></use>
            </svg>
          </span>
        </div>

        <div class="contact-us-form__formfield">
          <input
            class="contact-us-form__input"
            type="email"
            name="mail"
            id="mail"
            placeholder=" "
            required=""
          />
          <label class="contact-us-form__label" for="mail">E-mail</label>
          <span>
            <svg
              class="contact-us-form__input-icon contact-us-form__input-icon__email"
              height="12"
              width="15"
            >
              <use href="./images/sprite.svg#icon-contact-us-email"></use>
            </svg>
          </span>
        </div>

        <div class="contact-us-form__formfield">
          <label class="contact-us-form__label__textarea" for="comment"
            >Leave your comment</label
          >
          <textarea
            class="contact-us-form__input__textarea"
            name="comment"
            id="comment"
            placeholder="Input text"
          ></textarea>
        </div>

        <div class="contact-us-form__formfield">
          <input
            class="checkbox visually-hidden"
            type="checkbox"
            name="checkbox"
            id="checkbox"
            required=""
          />
          <label class="checkbox-label" for="checkbox"
            >I agree with&nbsp;<a class="inline-url" href="#"
              >Privacy policy</a
            ></label
          >
        </div>
        <button class="contact-us-form__submit-btn" type="submit">
          <span class="submit-btn__text">Send</span>
        </button>
      </form>
    </div>
  </div>
</div>
