<div class="backdrop is-hidden" data-modal>
  <div class="backdrop__modal modal">
    <a class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/header-hero/sprite.svg#menu-button-close"></use>
      </svg>
    </a>
    <div class="map">
      <p class="map-title">Our Locations</p>
      <img src="/images/map.jpg" alt="map" class="map-img" />
      <a
        href="https://www.google.com/maps/place/GoIT,+%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80+%D0%9B%D0%B5%D1%81%D1%96+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%BA%D0%B8,+26,+%D0%9A%D0%B8%D1%97%D0%B2,+01133/@50.4265807,30.5383858,17z/data=!4m2!3m1!1s0x40d4d96f5139689b:0xa1f7c65300bebad1?hl=ru&gl=UA"
        class="link map-link"
        target="blank"
        >Open map</a
      >
    </div>
  </div>
</div>
