<div class="back-drope is-hidden" data-modal>
    <div class="modal-window">
        <div class="clean-div">
        <button type="button" class="modals-button" data-modal-close>
            <svg width="35" height="35" class="close-modal-button">
                <use href="./images/sprite.svg#icon-close-modal-button"></use>
            </svg>
        </button></div>
        <div class="modal-discription-div">
            <h2 class="titles">how it’s made?</h2>
            <p class="modal-discrption-text strong">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                rhoncus orci in imperdiet placerat.<br>
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                Aliquam erat volutpat. Aenean accumsan. 
                <br> </p>
                <p class="modal-discrption-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, eius nostrum! Quo incidunt praesentium voluptate, impedit quod natus non veniam aperiam, quam neque tenetur blanditiis debitis? Voluptates laboriosam corporis rerum!
                Explicabo aspernatur suscipit ratione labore iste sunt est quibusdam voluptas officiis totam omnis facere, odit neque veniam, dolorum maxime voluptate voluptatibus cupiditate dolore optio atque sed? Blanditiis rerum nemo nesciunt?
                Nisi perspiciatis iure, id accusamus, exercitationem, fugiat molestiae unde ab tempora impedit hic dolores inventore vero veniam repellat sequi nihil. Id ducimus nemo possimus suscipit quibusdam sunt, eum maxime dolorum.
                Error debitis non cum numquam in dicta necessitatibus voluptate officiis, maiores laudantium omnis quisquam pariatur. Recusandae culpa dicta cum fugit quisquam omnis explicabo ducimus rem quibusdam magni. Amet, saepe quibusdam.
                Nam numquam error porro quo iure labore repellat ut consequatur incidunt eligendi soluta debitis tempora enim, eaque blanditiis perspiciatis minima unde facilis! Iste porro placeat autem. At, ea. Quis, veritatis.
                Nulla, dignissimos magnam. Voluptate, ullam, nemo non laborum esse vel facere nesciunt, deleniti ea beatae ipsa placeat aperiam possimus eos. Perspiciatis beatae porro modi delectus impedit reiciendis dicta ipsa sit.
                Ipsum quae expedita est quod facere voluptates maiores reprehenderit repudiandae deserunt nisi veniam ullam autem, nesciunt amet sint consequuntur sapiente nulla blanditiis architecto rem vel nihil assumenda eum quo. Amet.
                Quidem laboriosam dolorum libero assumenda facilis dolore autem. Architecto rerum dignissimos voluptatem, consequuntur laboriosam nihil. Doloribus non praesentium dolore illo optio placeat consequatur nemo, at pariatur, quis velit vel tempore.
                Impedit quo tenetur quis dicta eveniet aut, nemo odio eos at, nesciunt est dolore soluta aspernatur unde ullam eum nobis in quasi laboriosam error architecto enim magni. Cupiditate, repellendus dolores.
                Minus fuga porro nobis dolorum veniam id, minima praesentium eligendi inventore dolorem soluta suscipit distinctio libero. Iure numquam reiciendis illum quibusdam vero? Porro placeat odio quod praesentium libero exercitationem adipisci!
                Quisquam doloremque suscipit quidem ea. Cum at tempore omnis doloribus labore assumenda, magnam, ex eaque quam recusandae veritatis quasi magni maxime natus temporibus non rem, dolores aperiam! Debitis, qui asperiores.
                Quos quibusdam excepturi rerum magnam nemo molestiae, ex fugiat facilis quae, dolorem quis sed nulla ipsa, laboriosam impedit! Eos possimus impedit numquam cupiditate neque doloribus explicabo incidunt est molestias officiis.
                Quo repudiandae error nemo nulla est debitis odio quasi, iste optio cupiditate, reprehenderit harum expedita. Non ut expedita voluptates? Sunt doloribus cumque unde eius. Magni sapiente doloribus laborum iure molestias?
                Similique, quasi suscipit? Distinctio itaque error nihil necessitatibus commodi quia earum atque beatae, obcaecati laudantium. Illo, dolorem illum assumenda ipsam, cum voluptates, reiciendis architecto mollitia suscipit modi nostrum? Similique, tempora?
                Quaerat temporibus neque ut delectus reprehenderit, rem dignissimos laboriosam impedit quod modi ratione est quo voluptatem dolorum minima rerum provident adipisci autem, ad voluptates. Cupiditate ea eaque dolores ex minima.
                Hic natus nisi doloribus adipisci voluptas pariatur et illum inventore voluptatem animi at, exercitationem, quam debitis cumque officia id illo impedit alias quod autem rem excepturi quo laudantium optio? Autem!
                Nostrum atque magni doloribus autem repudiandae fuga mollitia pariatur, perferendis esse alias reprehenderit odio? Quae, eaque quis architecto ea animi labore laboriosam velit quos accusamus possimus saepe quo natus repellat!
                Eveniet nihil, vero, eligendi in excepturi veniam repellendus dignissimos odio expedita eos suscipit atque velit, adipisci possimus esse nulla? Cumque rerum tenetur aliquam laborum nihil neque. Incidunt ipsam modi ratione!
                Asperiores enim id nostrum fuga ipsum recusandae autem, similique, saepe voluptate inventore ratione molestias dolorum eos iusto provident quibusdam sequi mollitia ipsam perspiciatis tenetur, voluptatem ea adipisci veritatis. Ipsum, laudantium.
                Excepturi quas nisi provident ab corporis pariatur ipsum quae iure praesentium, repellat sequi quod suscipit minus hic. Eaque excepturi dolore voluptatibus corporis quam reprehenderit neque odit tempora rem doloribus. Fuga?
                Est impedit aliquam architecto laboriosam numquam libero dolor nostrum, cumque, culpa dignissimos voluptatibus aut maxime. Optio quia sequi repudiandae animi repellendus, consequuntur magni sed aut officia fugit eos facere molestiae!
                Obcaecati beatae iure, eveniet maiores dolore autem nesciunt perspiciatis soluta voluptates dolorem eos ducimus, animi exercitationem nihil provident quos labore esse quasi? Obcaecati ullam accusamus officia vero, laborum at sequi?
                Nihil culpa molestias aliquid odio odit! Quae magnam, dolore assumenda ea recusandae quas dolorum! Illum quasi deserunt et nam eveniet ipsa sunt necessitatibus tempore. Sit minus quos suscipit nulla impedit.
                Ipsum asperiores error sint quia! Eaque culpa hic ut reprehenderit obcaecati laudantium ipsa fuga soluta consequatur eveniet, et nulla facilis vel veritatis at eum vitae tempora, necessitatibus ipsum. Unde, impedit.
                Libero vel at illum officia quam quidem alias necessitatibus commodi neque quos dolorum dignissimos velit totam excepturi, nostrum delectus sapiente perspiciatis molestiae. Blanditiis assumenda nesciunt eius accusamus ullam, minima expedita.
            </p>
            
        </div>
        
    </div>
</div>
<script src="./js/modal-window.js"></script>