<div class="backdrop is-hidden" data-backdrop>
  <div class="modal-w">
    <button
      class="close-modal"
      data-close-modal
      type="button"
      aria-label="Закрыть"
    >
      <svg class="close-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <form class="modal-content" id="user-data-modal">
      <b class="modal-header"
        >Please leave the necessary information for the order</b
      >
      <label class="modal-label" for="name">Name</label>
      <div class="input-wrapper">
        <input
          class="input"
          type="text"
          placeholder=" "
          pattern="^[А-Яа-яЁё\sa-zA-Z]+$"
          id="name"
          name="name"
          required
        />
        <svg class="modal-icon">
          <use href="./images/sprite.svg#icon-person"></use>
        </svg>
      </div>
      <label class="modal-label" for="tel">Telephone</label>
      <div class="input-wrapper">
        <input
          class="input"
          type="tel"
          pattern="[0-9]{5,10}"
          placeholder=" "
          id="tel"
          name="telephone"
          required
        />
        <svg class="modal-icon">
          <use href="./images/sprite.svg#icon-phone"></use>
        </svg>
      </div>
      <label class="modal-label" for="address">Address</label>
      <div class="input-wrapper">
        <input
          class="input"
          type="address"
          placeholder=" "
          id="address"
          name="address"
          required
        />
        <svg class="modal-icon">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
      </div>
      <label class="modal-label" for="comment">Choose product and taste</label>
      <textarea
        class="textarea"
        name="comment"
        id="comment"
        placeholder="Chocolate ice cream"
        required
      ></textarea>

      <div role="group" class="delivery-wrapper">
        <p class="modal-label">Delivery method:</p>
        <label class="delivery-item" for="s-d">
          <input
            class="hidden input_delivery"
            id="s-d"
            name="delivery"
            type="radio"
            value="self"
          />
          <span class="delivery-text">Self-delivery</span>
        </label>
        <label class="delivery-item" for="h-d">
          <input
            class="hidden input_delivery"
            id="h-d"
            name="delivery"
            type="radio"
            value=""
          />
          <span class="delivery-text">Home delivery service</span>
        </label>
      </div>
      <!-- <label class="user-agreement-wrapper">
        <input
          type="checkbox"
          name="user-agreement"
          class="checkbox-agreement visually-hidden"
        />
        <span class="user-agreement">
          Соглашаюсь с рассылкой и принимаю
          <a class="agreement-conditions" href="">Условия договора</a></span
        >
      </label> -->
      <button class="modal-btn" type="submit">Send</button>
    </form>
  </div>
</div>
