<!--Modal-footer1-->
<div class="backdrop is-hidden" data-modal3>
    <div class="modal">
        <button class="modal-close-button" data-modal-close3><span class="icon-close">&#10006</span></button>
        <div class="modal-form-container">
            <h2 class="modal-name">Leave your contacts, we will contact you </h2>
            <form class="form-field" id="my-form">
                <div>
                    <label class="form-label" for="name">Name 
                    </label>
                    <div class="info-input">
                        <input class="modal-input" type="text" name="name" id="name" required>
                        <svg class="modal-icon">
                            <use href="./images/icons/symbol-defs-sprite.svg#icon-person-black"></use>
                        </svg>
                    </div>
                </div>
                <div>
                    <label class="form-label" for="tel">Phone </label>
                    <div class="info-input">
                        <input class="modal-input" type="tel" name="tel" id="tel" required>
                        <svg class="modal-icon">
                            <use href="./images/icons/symbol-defs-sprite.svg#icon-phone-black"></use>
                        </svg>
                    </div>
                </div>
                <div>
                    <label class="form-label" for="mail">E-mail</label>
                    <div class="info-input">
                        <input class="modal-input" type="email" name="mail" id="mail" required>
                        <svg class="modal-icon" >
                            <use href="./images/icons/symbol-defs-sprite.svg#icon-email-black"></use>
                        </svg>
                    </div>
                </div>
                <div class="policy">
                    <label for="policy" class="modal-policy-text">
                        <input class="modal-checkbox visually-hidden" type="checkbox" name="policy" id="policy">
                        <span class="modal-agreement">
                            I agree to the terms of use <a class="terms link" href="#">Terms and
                                Conditions</a></span>
                    </label>
                </div>
            </form>
            <button type="submit" class="modal-submit" form="my-form">Submit</button>

        </div>
    </div>
</div>