<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="modal-window-close-btn" data-modal-close>
      <svg class="modal-window-close-icon">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <form method="post" action="" class="modal-form contact-form">
      <p class="modal-window-title">Оставьте свои данные, мы вам перезвоним</p>
      <label for="name" class="label">Имя</label>
      <div class="modal-form-item">
        <input type="text" name="name" id="name" class="input" />
        <svg class="modal-form-icon">
          <use href="./img/sprite.svg#person"></use>
        </svg>
      </div>

      <label for="tel" class="label">Телефон</label>
      <div class="modal-form-item">
        <input type="tel" name="phonenumber" id="tel" class="input" />
        <svg class="modal-form-icon">
          <use href="./img/sprite.svg#phone-mw"></use>
        </svg>
      </div>

      <label for="text-area" class="label">Сообщение</label>
      <textarea name="message" id="text-area" class="message" placeholder="Введите текст"></textarea>

      <input type="checkbox" name="policy" id="policy" class="policy-input visually-hidden" />
      <label for="policy" class="policy-label">Соглашаюсь с рассылкой и принимаю
        <a href="" class="policy-link">Условия договора</a>
      </label>

      <button type="submit" id="btn" class="btn">Отправить</button>
    </form>

    <div id="result_form" class="visually-hidden"></div>
  </div>
</div>