<div data-modal class="modal is-hidden">
  <div class="modal__inner">
    <button data-modal-close class="modal__btn"><svg width="18" height="18">
        <use href="./images/sprite.svg#icon-close-black-18dp-2-11"></use>
      </svg>
    </button>
    <h3 class="modal__title">Send us a message!<br><span class="modal__title-second">Have a nice Icecream!</span></h3>
    <form class="form" name="request-form">
      <label class="form__item">
        Name
        <input type="text" name="name">
      </label>
      <label class="form__item">
        Telephone
        <input type="tel" name="telephone">
      </label>
      <label class="form__item">
        E-mail
        <input type="mail" name="email">
      </label>
      <label class="form__item">
        Comments
        <textarea name="comments" type="text" rows="8" placeholder="Enter the text"></textarea>
      </label>
      <button class="btn-nav raise btn-nav--modal" type="submit">
        Send
        <svg class="btn-nav__svg " width="4px" height="8px">
          <use href="./images/sprite.svg#icon-Vector-1"></use>
        </svg>
      </button>
    </form>
  </div>
</div>