<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-top">
      <button
        type="button"
        class="header-btn-burger header-icon-cross"
        aria-expanded="false"
        data-modal-close
      >
        <svg
          class="header-icon-cross"
          width="20"
          height="20"
          aria-label="Переклчатель мобильного меню"
        >
          <use
            class="header-icon-cross"
            href="./images/sprite-modal-btn.svg#cross"
          ></use>
        </svg>
      </button>
      <a href="./index.html" class="logo-modal"
        ><img
          class="logo-modal"
          src="./images/header-logo/logo-modal.png"
          width="80"
          height="30"
          alt="Логотип Адский английский"
      /></a>
    </div>
    <nav class="modal-nav">
      <ul class="modal-menu">
        <li class="header-item">
          <a href="#" class="header-link">Программы обучения</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">О нас</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">Варианты обучения</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
  <a type="button" href="#footer" class="btn-consult-modal">
    Консультация по телефону
  </a>
</div>
