<div class="modals conteiner">
  <div class="modals_body">
    <div class="modal-content">
      <div class="modal-wrap">
        <h2 class="modal__title">BUY NOW:</h2>
        <ul class="modal__list">
          <li class="modal__items">
            <img src="/images/phone/home-pic1@2x.png" alt="" />
            <h3 class="modal__text">ice cream</h3>
            <button class="modal__button_buy">add</button>
          </li>
          <li class="modal__items">
            <img src="/images/phone/home-pic2@2x.png" alt="" />
            <h3 class="modal__text">milk shake</h3>
            <button class="modal__button_buy">add</button>
          </li>
          <li class="modal__items">
            <img src="/images/phone/home-pic3@2x.png" alt="" />
            <h3 class="modal__text">dessert</h3>
            <button class="modal__button_buy">add</button>
          </li>
        </ul>

        <form>
          <input
            name="name"
            type="text"
            class="feedback-input"
            placeholder="Name"
          />
          <input
            name="email"
            type="text"
            class="feedback-input"
            placeholder="Email"
          />
          <textarea
            name="text"
            class="feedback-input"
            placeholder="Comment"
          ></textarea>

          <input type="submit" value="SUBMIT" />
          <button class="close">CLOSE</button>
        </form>
      </div>
    </div>
  </div>
</div>
