<div class="rm__backdrop close-rm" data-modal3>
  <div class="rm__modal">
    <button type="button" class="franchise__close-btn" data-modal-close3>
      <svg class="franchise__close-icon" width="30" height="30">
        <use href="./images/header-hero/sprite.svg#menu-button-close"></use>
      </svg>
    </button>
    <div class="rm__content">
        <h2 class="how-made__subtitle">how it's made?</h2>
    <ul>
      <li>
        <span class="rm__subtitle">from our cows</span>
        <img src="/images/rm-img.jpg" class="rm__img" alt="cow & milk" />
        <p class="rm__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatum consequuntur adipisci rem dolor vel, itaque.
        </p>
      </li>
      <li>
        <span class="rm__subtitle">right to your heart</span>
        <p class="rm__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id molestiae
          perspiciatis modi. Nam, placeat cum!
        </p>
        <img src="/images/grid_gallery/1.jpg" class="rm__img" alt="ice-cream" />
      </li>
    </ul>
    </div>
  </div>
</div>
