<!-- <div class="backdrop is-hidden" data-modal> -->
    <div class="modal-buy-now">
      <button class="button-close" data-modal-close>
        <svg class="icon-close-svg">
          <use href=""></use>
        </svg>
      </button>
      <h3 class="modal-title">Оставьте свои данные, мы вам перезвоним</h3>
      
        <form name="ice-creame" autocomplete="on">
          
        <fieldset>
            <legend>BIO</legend>
            <label>Enter your name
                <input type="text" name="name" placeholder="Vaycheslav" required>
            </label>
            <label>Enter your surname
                <input type="text" name="surname" placeholder="Rus">
            </label>
            <label>Enter your email
                <input type="email" name="email" placeholder="aloha@gmil.com" required>
            </label>
            <label>Enter your tel
                <input type="tel" name="tal" value="" required
                    pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$">
            </label>
        </fieldset>


        <fieldset>
            <legend>OPTIONS</legend>

            <label>Quantity
                <input type="number" name="quantity" min="1" max="25" value="1" step="2">
            </label>
            


            <h2>Sides</h2>
            <label><p>Braces</p>
                <input type="checkbox" name="sides" value="cheese" checked>
            </label>
            <label><p>wafer</p>
                <input type="checkbox" name="sides" value="bacon">

            </label>
            <label><p>cornet</p>
                <input type="checkbox" name="sides" value="garlic">
            </label>

            </label>
            <label><p>lolly</p>
                <input type="checkbox" name="sides" value="garlic">
            </label>


            <label>SIZE small
                <input type="range" id='range' name="size" min="10" value="30" max="50" step="20">
                <h2 id="output">large</h2>
            </label>
            <label>
                ice-creamSelect
                <select name="ice-creamSelect">

                    <optgroup label="Low calorie">
                        <option value="Neapolitan">Neapolitan</option>
                        <option value="green tea ice cream" selected>green tea ice cream</option>
                        <option value="Eskimo">Eskimo</option>
                    </optgroup>
                    <optgroup label="Normal colorie">
                        <option value="caramel cream">caramel cream</option>
                        <option value="rocky">rocky</option>
                        <option value="coconut">coconut</option>
                    </optgroup>

                </select>
            </label>

            <label>
                Payment
                <input type="text" list="dataBase">

                <datalist id="dataBase">
                    <option value="cash">$</option>
                    <option value="card">Visa</option>
                    <option value="bc">BC</option>
                </datalist>
            </label>

        </fieldset>

        <fieldset name="radioField">
            <legend>Delivery</legend>
            <label>to go
                <input type="radio" name="delivery" value="to go">
            </label>
            <label>delivery
                <input type="radio" name="delivery" value="delivery">
            </label>
            
        </fieldset>


        <label> Fedback
            <textarea name="feedback" rows="5">Вы хорошие потому что:</textarea>
        </label>


        <label>
            By submitting the form, I consent to the processing of personal data and <span>accept the user agreement</span>
            <input type="checkbox" name="agree">
        </label>

        <button type="submit">Submit</button>
    </form>
    </div>
  </div>

   <!-- <script src="./modal-buy-now.js"></script>

    (() => {
        const refs = {
          openModalBtn: document.querySelector('[data-modal-open]'),
          closeModalBtn: document.querySelector('[data-modal-close]'),
          modal: document.querySelector('[data-modal]'),
        };
      
        refs.openModalBtn.addEventListener('click', toggleModal);
        refs.closeModalBtn.addEventListener('click', toggleModal);
      
        function toggleModal() {
          refs.modal.classList.toggle('is-hidden');
        }
      })(); -->