<!--Modal-header-->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal-close-button" data-modal-close><span class="icon-close">&#10006</span>
        </button>
        <div class="modal-form-container">
            <h2 class="modal-name">Make your order </h2>
            <form class="form-field" id="my-form">
                <div>
                    <label class="form-label" for="name">The product's name 
                    </label>
                    <div class="info-input">
                        <input class="modal-input" type="text" name="name" id="name" required>
                        <svg class="modal-icon">
                            <use href="./images/icons/symbol-defs-sprite.svg#icon-person-black"></use>
                        </svg>
                    </div>
                </div>
                <div>
                    <label class="form-label" for="tel">Quantity (1 piece)</label>
                    <div class="info-input">
                        <input class="modal-input" type="tel" name="tel" id="tel" required>
                        <svg class="modal-icon">
                        <use href="./images/icons/symbol-defs-sprite.svg#icon-phone-black"></use>
                        </svg>
                    </div>
                </div>
                <div>
                    <label class="form-label" for="mail">E-mail</label>
                    <div class="info-input">
                        <input class="modal-input" type="email" name="mail" id="mail" required>
                        <svg class="modal-icon">
                            <use href="./images/icons/symbol-defs-sprite.svg#icon-email-black"></use>
                        </svg>
                    </div>
                </div>
                <div class="info-input">
                    <label class="form-label" for="comment">Leave your comment</label>
                    <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Enter text"></textarea>
                </div>
            </form>
            <button type="submit" class="modal-submit" form="my-form">Order Now</button>
        </div>
    </div>
</div>
