<div class="locate-backdrop is-hidden" local-modal>
  <div class="locate-modal">
    <button class="locate-close" type="button" local-modal-close>
      <svg class="close-icon" width="11" height="11">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="locate-wrapper">
      <p class="local-description">
        the best ice cream is waiting for you here
      </p>
      <h3 class="locate-title">Umka - Homemade Ice Cream</h3>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162707.10926672193!2d30.457480583727797!3d50.41690836414024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5038fcefcf%3A0x8a9079ecfb78ae8d!2sUmka%20-%20Homemade%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1615979358427!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      frameborder="0"
      width="100%"
      height="80%"
      align-items="center"
    >
    </iframe>
  </div>
</div>
