
  <div class="description__backdrop">
  <div class="container description">
    <button class="button__close" type="button">X</button>
    <h2 class="description__title">Campari</h2>
    <h3 class="description__category">Liqueur</h3>
    <p class="description__characteristic">
      <span class="description__span">Campari</span> is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%,
      25%, or 28.5% ABV, depending on the country in which it is sold), obtained from the infusion
      of herbs and fruit (including chinotto and cascarilla) in alcohol and water. It is a bitters,
      characterised by its dark red colour.
    </p>
    <ul class="description__item">
      <li class="description__list">✶ Type: Bitters</li>
      <li class="description__list">✶ Country of origin: Italy</li>
      <li class="description__list">✶ Alcohol by volume: 20.5–28.5%</li>
      <li class="description__list">✶ Flavour: Bitter, spicy and sweet</li>
    </ul>
    <button class="description__favorite button" type="button">Remove from favorite</button>
  </div>
  </div>

</section>