<div class="backdrop is-hidden" header-modal>
  <div class="modal-menu">
    <div class="modal-btn">
      <button class="modal-close" type="button" header-modal-close>
        <svg class="modal-icon-close">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <button class="buy modal-buy" type="button" data-modal-open>
        Buy now >
      </button>
    </div>
    <nav class="modal-nav">
      <ul class="modal-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about-us" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="#how-made" class="nav-link">How it's made?</a>
        </li>
        <li class="nav-item">
          <a href="#our-products" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
