

<!--Modal 2-->

<div class="modal2 is-hidden-thanks" data-modal-thanks>
  <div class="modal2-container">
    <button  class="modal2-close-button" data-modal-close-thanks type="button"><svg width="24" height="24"><use href="./images/symbol-defs.svg#icon-close-btn"/></svg></button>
    <picture>
        <!--Mobile-->
      <source
        media="(min-width:300px)"
        srcset="./images/modal2-rberry-m-1x.png 1x, ./images/modal2-rberry-m-2x.png 2x"/>
        <!--Tablet-->
      <source
        media="(min-width:768px)"
        srcset="./images/modal2-rberry-t-1x.png 1x, ./images/modal2-rberry-t-2x.png 2x"/>
        <!--Desktop-->
      <source
        media="(min-width:1158px)"
        srcset="./images/modal2-rberry-d-1x.png 1x, ./images/modal2-rberry-d-2x.png 2x"/>
        <img src="./images/modal-fruits-basket-d-1x.png" alt="Fruits Basket">
    </picture>
      <h2>THANK YOU</h2>
      <p>Thank you for your order! Our team is preparing your box with fresh, delicious fruits and vegetables, and we'll deliver it straight to your doorstep. We appreciate your business and look forward to providing you with the best possible experience!</p>
  </div>
</div>
 
