<!-- Modal -->

<div class="content">
  <div class="modal is-open is-hidden" data-modal>
    <div class="modal-content">
      <button class="close-btn" data-modal-close>
        <svg class="svg-modal">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <div class="watch-offer">
        <div class="div-watch">
          <img
            class="example-watch"
            src="./images/example-watch.png"
            alt="Ceas Exemplu"
          />
        </div>

        <div class="watch-infos">
          <h2 class="watch-info">Tube Watch S42 Date Steel With Black Case</h2>
          <span class="watch-price">€395</span>
        </div>
      </div>

      <div class="second-part">
        <form class="modal-form">
          <label for="user-name" class="modal-label">
            <span class="info-text">Full name</span>
            <input
              type="text"
              name="name"
              placeholder="Enter your full name"
              required
              minlength="3"
              id="user-name"
            />
          </label>

          <label for="user-phone" class="modal-label">
            <span class="info-text">Email</span>
            <input
              type="email"
              name="user phone"
              id="user-phone"
              placeholder="Enter your email"
              required
            />
          </label>

          <label for="user-ameil" class="modal-label">
            <span class="info-text">Card number</span>
            <input
              type="text"
              id="user-ameil"
              name="user ameil"
              placeholder="Enter card"
              required
              minlength="16"
            />
          </label>

          <label class="modal-label">
            <span class="info-text">Comments</span>
            <textarea
              name="comments"
              rows="6"
              placeholder="Enter your text"
              required
            ></textarea>
          </label>
        </form>

        <div class="submit-button">
          <button class="sub-btn" type="submit" value="Send Request">
            <span class="span-sub">submit</span>
          </button>
        </div>

        <p class="modal-paragraph">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </div>
    </div>
  </div>
</div>
