<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/header-hero/sprite.svg#menu-button-close"></use>
      </svg>
    </button>
    <!-- <form class="form">
      <h2 class="form__header">
        Thank you for your interest in owning an Ice Cream shop.
      </h2>
      <p>
        Due to the overwhelming volume of franchise requests we are not
        accepting new franchisee applications at this time. Once the application
        process resumes, we will contact you for further information. Please
        fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <div class="form__field">
        <label for="name" class="form__label">Full Name</label>
        <input class="form__input" type="text" name="name" id="name" />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/symbol-defs.svg#person"></use>
        </svg>
      </div>

      <div class="form__field">
        <label for="tel" class="form__label">Phone</label>
        <input class="form__input" type="tel" name="tel" id="tel" />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/symbol-defs.svg#phone"></use>
        </svg>
      </div>

      <div class="form__field">
        <label for="mail" class="form__label">E-mail</label>
        <input class="form__input" type="email" name="mail" id="mail" />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/symbol-defs.svg#email"></use>
        </svg>
      </div>

      <div class="form__field">
        <label for="mail" class="form__label">Location Desired</label>
        <input class="form__input" type="email" name="mail" id="location" />
        <svg class="form__icon" width="18" height="18">
          <use href="./images/symbol-defs.svg#email"></use>
        </svg>
      </div>

      <div class="form__field form__field--bottom">
        <label for="comment" class="form__label">Additional Comments</label>
        <textarea
          class="form__input form__input--left"
          name="comment"
          id="comment"
          cols="30"
          rows="10"
          placeholder="Leave a comment"
        ></textarea>
      </div>

      <button type="submit" class="button" name="Submit">Submit</button>
    </form> -->
  </div>
</div>

