<div class="modal-menu is-hidden" data-modal>
  <div class="container">
    <div class="modal-menu__header">
      <a href="./index.html" class="logo link">
        <svg class="logo__svg logo--white">
          <use href="./images/sprite.svg#icon-logo-mobile"></use>
        </svg>
      </a>
      <button class="modal-btn" type="button" data-modal-close>
        <svg width="15px" height="15px">
          <use class="modal-btn__icon" href="./images/sprite.svg#cross"></use>
        </svg>
      </button>
    </div>
    <div class="modal-menu__body">
      <ul class="modal-menu__list">
        <li class="modal-menu__item list">
          <a
            href="#section-programm"
            class="modal-menu__link link"
            program-closed
            >Программа обучения</a
          >
        </li>
        <li class="modal-menu__item list">
          <a href="#teache" class="modal-menu__link link" teacher-closed
            >О нас</a
          >
        </li>
        <li class="modal-menu__item list">
          <a href="#methods" class="modal-menu__link link" methods-closed
            >Варианты обучения</a
          >
        </li>
        <li class="modal-menu__item list">
          <a href="#footer" class="modal-menu__link link" footer-closed
            >Контакты</a
          >
        </li>
      </ul>
      <a href="tel:+380961111111" class="menu__button link">
        Консультация по телефону
      </a>
    </div>
  </div>
</div>
