<div class="backdrop__cocktail is hidden" data-modal>
  <div class="modal__cocktail">
    <button type="button" class="btn--close" data-modal="close-cocktail">
      <svg width="32" height="32" data-modal="close-cocktail">
        <use
          href="./img/sprite.svg#icon-modal-cross"
          data-modal-close="close-cocktail"
        ></use>
      </svg>
    </button>
    <h2 class="cocktail__name cocktail__name--mobile">Negroni</h2>
    <div class="modal__form">
      <div class="instraction__wrap">
        <h3 class="cocktail__title">Instractions:</h3>
        <p class="recipe__text">
          Add the gin, Campari and sweet vermouth to a mixing glass filled with
          ice, and stir until well-chilled. Strain into a rocks glass filled
          with large ice cubes. Garnish with an orange peel.
        </p>
      </div>
      <div class="image__wrap">
        <!-- <img
                    class="cocktail__img"
                    <!-- alt=""
                    src="./img/pictures/ACID.jpg" -->
        /> -->
      </div>
      <div class="ingredients__wraper">
        <div class="recipe__wrapper">
          <h2 class="cocktail__name cocktail__name--big">Negroni</h2>
          <h4 class="recipe__title">INGREDIENTS</h4>
          <p class="cocktail__text">Per cocktail</p>
          <ul class="ingredient">
            <li class="ingredient__item">
              <span class="ingredient__accent">✶</span>
              <!-- <span>Ice</span>  -->
              <a class="link ingredient-link" data-type="" data-name="Ice"
                >Ice</a
              >
            </li>
            <li class="ingredient__item">
              <span class="ingredient__accent">✶</span>
              <span>1 ounce</span>
              <a class="link ingredient-link" data-type="" data-name="gin"
                >gin</a
              >
            </li>
            <li class="ingredient__item">
              <span class="ingredient__accent">✶</span>
              <span>1 ounce</span>
              <a class="link ingredient-link" data-type="" data-name="Campari"
                >Campari</a
              >
            </li>
            <li class="ingredient__item">
              <span class="ingredient__accent">✶</span>
              <span>1 ounce sweet </span>
              <a class="link ingredient-link" data-type="" data-name="vermouth"
                >vermouth</a
              >
            </li>
            <li class="ingredient__item">
              <span class="ingredient__accent">✶</span>
              <span> Garnish:</span>
              <a
                class="link ingredient-link"
                data-type=""
                data-name="orange peel"
                >orange peel</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="cocktail__modal-btn">
        <button type="button" class="modal__btn">Add to favorite</button>
      </div>
    </div>
  </div>
</div>
