<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-icon">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <form action="#" class="modal-form">
      <p class="modal-form-title">Leave your details, we will contact you</p>

      <label class="modal-form-input-label">
        <span class="modal-form-input-name">Name</span>
        <span class="modal-form-input-wrapper">
          <input type="text" name="user-name" class="modal-form-input" />
          <svg class="modal-form-icon">
            <use href="./images/sprite.svg#icon-user"></use>
          </svg>
        </span>
      </label>

      <label class="modal-form-input-label">
        <span class="modal-form-input-name">Second name</span>
        <span class="modal-form-input-wrapper">
          <input type="text" name="user-name" class="modal-form-input" />
          <svg class="modal-form-icon">
            <use href="./images/sprite.svg#icon-users"></use>
          </svg>
        </span>
      </label>

      <label class="modal-form-input-label">
        <span class="modal-form-input-name">Phone number</span>
        <span class="modal-form-input-wrapper">
          <input type="tel" name="user-phone" class="modal-form-input" />
          <svg class="modal-form-icon">
            <use href="./images/sprite.svg#icon-mobile"></use>
          </svg>
        </span>
      </label>

      <label class="modal-form-input-label">
        <span class="modal-form-input-name">Mail</span>
        <span class="modal-form-input-wrapper">
          <input type="email" name="user-mail" class="modal-form-input" />
          <svg class="modal-form-icon">
            <use href="./images/sprite.svg#icon-mail4"></use>
          </svg>
        </span>
      </label>

      <label class="modal-form-input-label">
        <span class="modal-form-input-name">Comment</span>
        <textarea
          name="user-message"
          class="modal-form-message"
          placeholder="Enter text"
        ></textarea>
      </label>

      <button class="modal-form-button" type="submit">Send message</button>
    </form>
  </div>
</div>
