<div class="modal-backdrop is-hidden">
    <div class="modal-window">
        <button class="modal-button__close" data-modal-close>
            <svg class="icon-modal__close" height="20" width="20">
                <use href="./images/sprite.svg#icon-modal-close"></use>
            </svg>
        </button>
        <div class="modal-window__content">
            <p class="contact-us__heading-text">
                Оставьте свои данные, мы вам перезвоним
            </p>
            <form class="contact-us-form">
                <div class="contact-us-form__formfield">
                    <input class="contact-us-form__input" type="text" name="name" id="name" placeholder=" " required="">
                    <label class="contact-us-form__label" for="name">Имя</label>
                    <span>
                        <svg class="contact-us-form__input-icon contact-us-form__input-icon__name" height="12" width="12">
                            <use href="./images/sprite.svg#icon-contact-us-name"></use>
                        </svg>
                    </span>
                </div>

                <div class="contact-us-form__formfield">
                    <input class="contact-us-form__input" type="tel" name="tel" id="tel" placeholder=" " required="">
                    <label class="contact-us-form__label" for="tel">Телефон</label>
                    <span>
                        <svg class="contact-us-form__input-icon contact-us-form__input-icon__phone" height="13" width="13">
                            <use href="./images/sprite.svg#icon-contact-us-phone"></use>
                        </svg>
                    </span>
                </div>

                <div class="contact-us-form__formfield">
                    <input class="contact-us-form__input" type="email" name="mail" id="mail" placeholder=" " required="">
                    <label class="contact-us-form__label" for="mail">Почта</label>
                    <span>
                        <svg class="contact-us-form__input-icon contact-us-form__input-icon__email" height="12" width="15">
                            <use href="./images/sprite.svg#icon-contact-us-email"></use>
                        </svg>
                    </span>
                </div>

                <div class="contact-us-form__formfield">
                    <label class="contact-us-form__label__textarea" for="comment">Комментарий</label>
                    <textarea class="contact-us-form__input__textarea" name="comment" id="comment" placeholder="Введите текст"></textarea>
                </div>

                <div class="contact-us-form__formfield">
                    <input class="checkbox visually-hidden" type="checkbox" name="checkbox" id="checkbox" required=""> 
                    <label class="checkbox-label" for="checkbox">Соглашаюсь с рассылкой и принимаю&nbsp;<a class="inline-url" href="#">Условия договора</a></label>
                </div>
                <button class="contact-us-form__submit-btn" type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>