<div class="backdrop is-hidden" data-modal-ice-cream>
    <div class="modal modal--ice-cream">
        <button class="modal-close-btn" type="button" data-modal-ice-cream-close>
            <svg class="modal-close-btn__icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title section-subtitle">The best you've ever had</p>
        <p class="modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
            provident tempore assumenda molestiae explicabo. Commodi temporibus optio.</p>
        <a class="modal__order-link btn-dark  link" href="index.html">Want it!</a>
    </div>
</div>



<div class="backdrop is-hidden" data-modal-ice-coffee>
    <div class="modal modal--ice-coffee">
        <button class="modal-close-btn" type="button" data-modal-ice-coffee-close>
            <svg class="modal-close-btn__icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title section-subtitle">The best you've ever had</p>
        <p class="modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
            provident tempore assumenda molestiae explicabo. Commodi temporibus optio.</p>
        <a class="modal__order-link btn-dark  link" href="index.html">Want it!</a>
    </div>
</div>

<div class="backdrop is-hidden" data-modal-milkshakes>
    <div class="modal modal--milkshakes">
        <button class="modal-close-btn" type="button" data-modal-milkshakes-close>
            <svg class="modal-close-btn__icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title section-subtitle">The best you've ever had</p>
        <p class="modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
            provident tempore assumenda molestiae explicabo. Commodi temporibus optio.</p>
        <a class="modal__order-link btn-dark  link" href="index.html">Want it!</a>
    </div>
</div>