<div data-modal class="modal-backdrop is-hidden">
  <div class="modal-window">
    <button class="modal-button__close" data-modal-close>
      <svg class="icon-modal__close" height="20" width="20">
        <use href="./images/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="modal-window__content">
      <h2 class="modal-window__header">Advantages of cooperation with us:</h2>
      <ul class="modal-window__list">
        <li class="modal-window__item">
          &rArr; Proven concept to start own business.
        </li>
        <li class="modal-window__item">
          &rArr; Trade in a high quality product.
        </li>
        <li class="modal-window__item">&rArr; Regular delivery of products.</li>
        <li class="modal-window__item">&rArr; Fast return of investment.</li>
        <li class="modal-window__item">&rArr; Beneficial pricing policy.</li>
      </ul>
      <p class="contact-us__heading-text">Leave yor details</p>
      <form class="contact-us-form">
        <div class="contact-us-form__formfield">
          <input
            class="contact-us-form__input"
            type="text"
            name="name"
            id="name"
            placeholder=" "
            required=""
          />
          <label class="contact-us-form__label" for="name">Name</label>
          <span>
            <svg
              class="contact-us-form__input-icon contact-us-form__input-icon__name"
              height="12"
              width="12"
            >
              <use href="./images/sprite.svg#icon-contact-us-name"></use>
            </svg>
          </span>
        </div>

        <div class="contact-us-form__formfield">
          <input
            class="contact-us-form__input"
            type="tel"
            name="tel"
            id="tel"
            placeholder=" "
            required=""
          />
          <label class="contact-us-form__label" for="tel">Phone</label>
          <span>
            <svg
              class="contact-us-form__input-icon contact-us-form__input-icon__phone"
              height="13"
              width="13"
            >
              <use href="./images/sprite.svg#icon-contact-us-phone"></use>
            </svg>
          </span>
        </div>

        <div class="contact-us-form__formfield">
          <input
            class="contact-us-form__input"
            type="email"
            name="mail"
            id="mail"
            placeholder=" "
            required=""
          />
          <label class="contact-us-form__label" for="mail">E-mail</label>
          <span>
            <svg
              class="contact-us-form__input-icon contact-us-form__input-icon__email"
              height="12"
              width="15"
            >
              <use href="./images/sprite.svg#icon-contact-us-email"></use>
            </svg>
          </span>
        </div>

        <div class="contact-us-form__formfield">
          <label class="contact-us-form__label__textarea" for="comment"
            >Leave your comment</label
          >
          <textarea
            class="contact-us-form__input__textarea"
            name="comment"
            id="comment"
            placeholder="Input text"
          ></textarea>
        </div>

        <div class="contact-us-form__formfield">
          <input
            class="checkbox visually-hidden"
            type="checkbox"
            name="checkbox"
            id="checkbox"
            required=""
          />
          <label class="checkbox-label" for="checkbox"
            >I agree with&nbsp;<a class="inline-url" href="#"
              >Privacy policy</a
            ></label
          >
        </div>
        <button class="contact-us-form__submit-btn" type="submit">
          <span class="submit-btn__text">Send</span>
        </button>
      </form>
    </div>
  </div>
</div>
<!-- <div data-modal class="backdrop is-hidden">
  <div class="modal">
    <form class="modal-form">
      <p class="modal-call-to-action">
        Оставьте свои данные, мы вам перезвоним
      </p>
      <label class="modal-label">
        <span class="modal-text">Имя</span>
        <div class="modal-field-wrapper">
          <input class="modal-field" type="text" name="name" />
          <svg class="modal-icon" width="12px" height="12px">
            <use href="./images/symbol-defs.svg#icon-person"></use>
          </svg>
        </div>
      </label>
      <label class="modal-label">
        <span class="modal-text">Телефон</span>
        <div class="modal-field-wrapper">
          <input class="modal-field" type="tel" name="phone" />
          <svg class="modal-icon" width="13px" height="13px">
            <use href="./images/symbol-defs.svg#icon-mobile"></use>
          </svg>
        </div>
      </label>
      <label class="modal-label">
        <span class="modal-text">Почта</span>
        <div class="modal-field-wrapper">
          <input class="modal-field" type="email" name="mail" />
          <svg class="modal-icon" width="15px" height="12px">
            <use href="./images/symbol-defs.svg#icon-form-envelope"></use>
          </svg>
        </div>
      </label>
      <label class="modal-label"
        ><span class="modal-text">Комментарий</span>
        <div class="modal-field-wrapper">
          <textarea
            class="modal-textarea"
            name="comment"
            placeholder="Введите текст"
          ></textarea>
        </div>
      </label>

      <label class="modal-privacy"
        ><input class="checkbox" type="checkbox" name="policy" />
        <span class="modal-accept-icon"></span
        ><span>Соглашаюсь с рассылкой и принимаю</span>
        <a class="modal-privacy-link" href=""> Условия договора</a></label
      >
      <button class="modal-submit-button" type="submit">
        <span class="modal-submit-button-name">Отправить</span>
      </button>
    </form>
    <button data-modal-close class="modal-closing-button" type="button">
      <svg width="11px" height="11px">
        <use href="./images/symbol-defs.svg#icon-close-button"></use>
      </svg>
    </button>
  </div>
</div> -->
