<div class="franchise__backdrop franchise is-hiddeniv" data-modal2>
  <div class="franchise__modal">
    <button type="button" class="franchise__close-btn" data-modal2-close>
      <svg class="franchise__close-icon" width="30" height="30">
        <use href="./images/header-hero/sprite.svg#menu-button-close"></use>
      </svg>
    </button>
    <form class="franchise-form">
      <h2 class="franchise-form__header">
        Thank you for your interest in owning an Ice Cream shop.
      </h2>
      <p class="franchise-form__label">
        Due to the overwhelming volume of franchise requests we are not
        accepting new franchisee applications at this time. Once the application
        process resumes, we will contact you for further information. Please
        fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <div class="franchise-form__field">
        <label for="name" class="franchise-form__label">Full Name</label>
        <input
          class="franchise-form__input"
          type="text"
          name="name"
          id="name"
        />
      </div>

      <div class="franchise-form__field">
        <label for="tel" class="franchise-form__label">Phone</label>
        <input class="franchise-form__input" type="tel" name="tel" id="tel" />
      </div>

      <div class="franchise-form__field">
        <label for="mail" class="franchise-form__label">E-mail</label>
        <input
          class="franchise-form__input"
          type="email"
          name="mail"
          id="mail"
        />
      </div>

      <div class="franchise-form__field">
        <label for="mail" class="franchise-form__label">Location Desired</label>
        <input
          class="franchise-form__input"
          type="email"
          name="mail"
          id="location"
        />
      </div>

      <div class="franchise-form__field franchise-form__field--bottom">
        <label for="comment" class="franchise-form__label"
          >Additional Comments</label
        >
        <textarea
          class="franchise-form__input franchise-form__input--left"
          name="comment"
          id="comment"
          cols="3"
          rows="5"
          placeholder="Leave a comment"
        ></textarea>
      </div>

      <button class="franchise__submit" name="Submit">Submit</button>
    </form>
  </div>
</div>
