<div class="modal-backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal-close-btn-svg">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <p class="form-title">Leave your contact details, we will call you back</p>
        <form action="#" class="modal-form">

            <label class="modal-form-label">
                <span class="modal-form-label-name">Name</span>
                    <input class="modal-form-input" type="text" name="user-name" required>
            </label>

            <label class="modal-form-label">
                <span class="modal-form-label-name">Phone</span>
                    <input class="modal-form-input" type="tel" name="user-tel" required>
            </label>

            <label class="modal-form-label">
                <span class="modal-form-label-name">Mail</span>
                    <input class="modal-form-input" type="email" name="user-mail" required>
            </label>

            <label class="modal-form-label" for="message">Comment</label>
            <textarea id="message" name="user-message" class="modal-form-message"
                placeholder="Enter text"></textarea>

            <label for="policy" class="modal-form-label-policy">
                <input type="checkbox" name="user-policy" id="policy" class="modal-form-check-policy" required>
                <span class="check-policy-icon"></span>
                I agree to the&nbsp;
                <a href="#" class="policy-link">Terms and Conditions</a>
            </label>

            <button type="submit" class="modal-form-btn">Buy</button>
        </form>
    </div>
</div>