<div class="franchisa-backdrop is-hidden" franchisa-modal>
  <div class="franchisa-modal">
    <button
      class="franchisa-modal-close-btn"
      type="button"
      franchisa-modal-close
    >
      <svg class="franchisa-modal-icon">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <form action="#" class="franchisa-modal-form">
      <p class="franchisa-modal-form-title">
        Leave your details, we will call you back
      </p>
      <h2 class="franchisa-modal-form-title big">
        ADVANTAGES OF COOPERATION WITH US:
      </h2>
      <ul class="franchisa-modal-form-list">
        <li class="franchisa-modal-form-item">
          Proven concept that makes it easy to start your own business.
        </li>
        <li class="franchisa-modal-form-item">
          Trade in a high quality, unique product.
        </li>
        <li class="franchisa-modal-form-item">
          Mutually beneficial pricing policy of business partners.
        </li>
        <li class="franchisa-modal-form-item">
          Regular delivery of products of you own production.
        </li>
        <li class="franchisa-modal-form-item">Fast return on investment.</li>
      </ul>

      <label class="franchisa-modal-form-input-label">
        <span class="franchisa-modal-form-input-name">Name</span>
        <span class="franchisa-modal-form-input-wrapper">
          <input
            type="text"
            name="user-name"
            class="franchisa-modal-form-input"
          />
          <svg class="franchisa-modal-form-icon">
            <use href="./images/sprite.svg#icon-user"></use>
          </svg>
        </span>
      </label>

      <label class="franchisa-modal-form-input-label">
        <span class="franchisa-modal-form-input-name">Second name</span>
        <span class="franchisa-modal-form-input-wrapper">
          <input
            type="text"
            name="user-name"
            class="franchisa-modal-form-input"
          />
          <svg class="franchisa-modal-form-icon">
            <use href="./images/sprite.svg#icon-users"></use>
          </svg>
        </span>
      </label>

      <label class="franchisa-modal-form-input-label">
        <span class="franchisa-modal-form-input-name">Phone number</span>
        <span class="franchisa-modal-form-input-wrapper">
          <input
            type="tel"
            name="user-phone"
            class="franchisa-modal-form-input"
          />
          <svg class="franchisa-modal-form-icon">
            <use href="./images/sprite.svg#icon-mobile"></use>
          </svg>
        </span>
      </label>

      <label class="franchisa-modal-form-input-label">
        <span class="franchisa-modal-form-input-name">E-mail</span>
        <span class="franchisa-modal-form-input-wrapper">
          <input
            type="email"
            name="user-mail"
            class="franchisa-modal-form-input"
          />
          <svg class="franchisa-modal-form-icon">
            <use href="./images/sprite.svg#icon-mail4"></use>
          </svg>
        </span>
      </label>

      <label class="franchisa-modal-form-input-label">
        <span class="franchisa-modal-form-input-name">Comment</span>
        <textarea
          name="user-message"
          class="franchisa-modal-form-message"
          placeholder="Enter text"
        ></textarea>
      </label>
      <button class="franchisa-modal-form-button" type="submit">
        Send message
      </button>
    </form>
  </div>
</div>
