<section class="section-program">
  <div class="container container-program">
    <h2>Наша программа</h2>
    <ul class="list program-list">
      <li class="program-list-item">
        <ul class="list semester-list">
          <h3 class="semester-title">1 семестр</h3>
          <li>
            <h4>Grammar</h4>
            <p>
              Nouns & Articles <br />
              Adjectives & Adverb
            </p>
          </li>
          <li>
            <h4>Vocabulary</h4>
            <p>
              Family & Relations <br />
              People & Society
            </p>
          </li>
        </ul>
      </li>
      <li class="program-list-item">
        <ul class="list semester-list">
          <h3>2 семестр</h3>
          <li>
            <h4>Grammar</h4>
            <p>
              Pronouns <br />
              Active Voice <br />
              Passive Voice
            </p>
          </li>
          <li>
            <h4>Vocabulary</h4>
            <p>
              Home <br />
              School <br />
              Work
            </p>
          </li>
        </ul>
      </li>
      <li class="program-list-item">
        <ul class="list semester-list">
          <h3>3 семестр</h3>
          <li>
            <h4>Grammar</h4>
            <p>
              Modal verbs <br />
              Infinitive <br />
              Gerund <br />
              Participle: 1, 2
            </p>
          </li>
          <li>
            <h4>Vocabulary</h4>
            <p>
              Travel & Tourism <br />
              Culture & Free Time <br />
              Sport
            </p>
          </li>
          <li>
            <h4>Writing</h4>
            <p>Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-list-item">
        <ul class="list semester-list">
          <h3>4 семестр</h3>
          <li>
            <h4>Grammar</h4>
            <p>
              Clauses: Conditional and Wishes <br />
              Direct / Reported speech <br />
              Preposition <br />
              Conjunction <br />
              Numeral
            </p>
          </li>
          <li class="program-list-item">
            <h4>Vocabulary</h4>
            <p>
              Healthy Living <br />
              Nature & Environment <br />
              Money
            </p>
          </li>
          <li>
            <h4>Writing</h4>
            <p>Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-list-item">
        <ul class="list semester-list">
          <h3>5 семестр</h3>
          <li>
            <h4>Test</h4>
            <p>
              Revision <br />
              Tests
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
