<section>
    <nav>
        <ul>
            <li><a href="#ordering">It Works</a></li>
            <li><a href="#products">Fruits</a></li>
            <li><a href="#footer">Contacts</a></li>
        </ul>
    </nav>
    <div>
        <svg>
            <use href="../images/symbol-defs.svg#icon-nav-cubic" width="16" height="16"></use>
        </svg>
        <a href="#nav">fresh harvest box</p>
    </div>
    <svg>
        <use href="../images/symbol-defs.svg#icon-nav-cubic#icon-nav-bag" width="19" height="23"></use>
    </svg>
    <svg>
        <use href="../images/symbol-defs.svg#icon-nav-cubic#icon-nav-modal" width="20" height="14"></use>
    </svg>
</section>

