<div class="js-menu-container">
  <div class="mobile-modal-header">
    <div>
      <svg width="16" height="16">
        <use
          href="./images/symbol-defs.svg#icon-nav-cubic-head"
          width="16"
          height="16"
        ></use>
      </svg>
      <button type="button">FRESH HARVEST BOX</button>
    </div>
    <button type="button" class="menu-toggle js-close-menu">
      <svg width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-modal-close"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-modal-body">
    <li><a href="#products">How it Works</a></li>
    <li><a href="#ordering">Fruits</a></li>
    <li><a href="#footer">Contacts</a></li>
    <li>
      <svg width="28" height="28">
        <use href="./images/symbol-defs.svg#icon-modal-bag"></use>
      </svg>
    </li>
  </ul>
</div>
<header class="navigation-top">
  <div class="nav-bar">
    <nav>
      <ul>
        <li><a href="#ordering" class="navigation-link">How it Works</a></li>
        <li><a href="#products" class="navigation-link">Fruits</a></li>
        <li><a href="#footer" class="navigation-link">Contacts</a></li>
      </ul>
    </nav>

    <div class="cubic-text">
      <svg width="16" height="16">
        <use
          href="./images/symbol-defs.svg#icon-nav-cubic-head"
          width="16"
          height="16"
        ></use>
      </svg>
      <a href="./index.html">FRESH HARVEST BOX</a>
    </div>

    <div id="#ordering">
      <svg class="nav-order" id="icon-nav-bag" width="19" height="23">
        <use
          href="./images/symbol-defs.svg#icon-nav-bag"
          width="19"
          height="23"
        ></use>
      </svg>
    </div>

    <div class="mobile-menu js-open-menu">
      <svg class="nav-mobile" id="icon-nav-modal" width="20" height="14">
        <use
          href="./images/symbol-defs.svg#icon-nav-modal"
          width="20"
          height="14"
        ></use>
      </svg>
    </div>
  </div>
</header>
