<section class="container" >

            <!-- NAV -->
            <header>
                <nav>
                    <a href="index.html" class="container"> <img src="./img/logo_1.png" alt=""></a>
                    <ul class="site-nav">
                       <li class="nav-item curent">Home</li>
                       <li class="nav-item">About us</li>
                       <li class="nav-item">How it’s made?</li>
                       <li class="nav-item">Our products</li>
                       <li class="nav-item">Contact</li> 
                    </ul>
                    <buttonc class="btn2">Buy now</button>
                </nav>
                <div class="mobile-menu" id="menu-container" data-menu>
                    <button class="btn2">Buy now</button>
                    <ul class="mobile-site-nav">
                        <li class="mobile-nav-item curent">Home</li>
                        <li class="mobile-nav-item">About us</li>
                        <li class="mobile-nav-item">How it’s made?</li>
                        <li class="mobile-nav-item">Our products</li>
                        <li class="mobile-nav-item">Contact</li> 
                    </ul>
                </div>
            </header>

            <!-- ЗАГОЛОВОК -->
            <div>
                <h1 class="title-H1">ice cream made with     
                    <span>passion</span>
                </h1>
                <button class="btn">Products</button>
                <button class="btn2">How it’s made?</button>
            </div>

            <!-- ВІО ЕКО -->
            <div>
                <!-- <picture>
                </picture> -->
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                </p>
                <button class="btn-circle">
                  <p>&#8594;</p>  
                </button>
            </div>

            <!-- ТОЧКИ ПРОДАЖУ -->
            <div>
                <div>
                    <p>16<span>cafes</span></p> 
                </div>
                <div>
                   <p>23<span>food trucks</span></p>
                </div>
            </div>

            <!-- <img src="" alt=""> -->

</section>