<section class="container head-container" >

            <!-- NAV -->
            <header>
                <nav class="nav">
                    
                    <a href="index.html" class="logo"> 
                        <svg class="logo_icon">
                            <use href="././images/icons/sprite.svg#logo-icon"></use>                                         
                        </svg> 
                    </a>                
                    <ul class="site-nav">
                        <li class="nav-item"><a href="index.html" class="nav-link current">Home</a></li>
                        <li class="nav-item"><a href="#about" class="nav-link">About us</a></li>
                        <li class="nav-item"><a href="#recipy" class="nav-link">How it’s made?</a></li>
                        <li class="nav-item"><a href="#products" class="nav-link">Our products</a></li>
                        <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li> 
                    </ul>
                    <div class="btn-container">
                        <button type="button" class="menu-btn open-btn" data-menu-open>
                            <svg class="open-icon">
                                <use href="././images/icons/sprite.svg#open-icon"></use>
                            </svg>
                        </button>
                        <button type="button" class="btn2 buy-btn buy-btn--nmob">
                            Buy now
                            <svg class="right-icon">
                                <use href="././images/icons/sprite.svg#right-icon"></use>
                            </svg>
                        </button>
                    </div>
                    
                    <div class="mobile-menu" data-menu>
                        <button type="button" class="menu-btn close-btn" data-menu-close>
                            <svg class="cross-icon">
                                <use href="././images/icons/sprite.svg#close-icon"></use>
                            </svg>
                        </button>
                        <button type="button" class="btn2 buy-btn buy-btn--mob">
                            Buy now
                            <svg class="right-icon">
                                <use href="././images/icons/sprite.svg#right-icon"></use>
                            </svg>
                        </button>
                        <ul class="mobile-site-nav">
                            <li class="mobile-nav-item"><a href="index.html" class="current nav-link">Home</a></li>
                            <li class="mobile-nav-item"><a href="#about" class="nav-link">About us</a></li>
                            <li class="mobile-nav-item"><a href="#recipy" class="nav-link">How it’s made?</a></li>
                            <li class="mobile-nav-item"><a href="#products" class="nav-link">Our products</a></li>
                            <li class="mobile-nav-item"><a href="#contact" class="nav-link">Contact</a></li> 
                        </ul>
                    </div>
                </nav>
                
            </header>

            <!-- ЗАГОЛОВОК -->
            <div>
                <h1 class="title-H1">ice cream made with     
                    <span>passion</span>
                </h1>
                <button class="btn">Products</button>
                <button class="btn2">How it’s made?</button>
            </div>

            <!-- ВІО ЕКО -->
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                </p>
                <button class="btn-circle">
                  <p>&#8594;</p>  
                </button>
            </div>

            <!-- ТОЧКИ ПРОДАЖУ -->
            <div>
                <div>
                    <p>16<span>cafes</span></p> 
                </div>
                <div>
                   <p>23<span>food trucks</span></p>
                </div>
            </div>
            <picture class="milk">
                <source srcset="././images/hero/milk_tablet.jpg 1x, ././images/hero/milk_tablet@2x.jpg 2x" media="(max-width: 1199px)"/>
                <source srcset="././images/hero/milk_desktop.jpg 1x, ././images/hero/milk_desktop@2x.jpg 2x"  media="(min-width: 1200px)"/>
                <img
                  src="././images/section1/img11-tablet.jpg"
                  alt="bottle with milk"
                />  
            </picture>
            

</section>
<script src="../menu.js"></script>