
            <section class="watches-and-sales">
                <div class="new-watches">
                    <h5>New watches</h5>
                    <h2>Green And Bronze—The Match Made In Heaven</h2>
                    <ul>
                        <li>
                            <img class="watch-one" src="./images/newwatch1.jpg" alt="Watch presentation">
                        </li>
                        <li>
                            <img class="watch-two" src="./images/newwatch2.jpg" alt="Watch presentation">
                        </li>
                    </ul>
                </div>
                <div class="sales">
                    <h2>Sale</h2>
                    <div class="col-container">
                        <div class="image-list">
                            <ul>
                                <li class="next-image">
                                    <img src="./images/watch2.jpg" alt="Watch presentation"  width="80px" height="80px">
                                </li>
                                <li class="next-image">
                                    <img src="./images/watch3.jpg" alt="Watch presentation"  width="80px" height="80px">
                                </li>
                                <li class="next-image">
                                    <img src="./images/watch4.jpg" alt="Watch presentation" width="80px" height="80px">
                                </li>
                                <li class="next-image">
                                    <img src="./images/watch5.jpg" alt="Watch presentation" width="80px" height="80px">
                                </li>
                            </ul>
                        </div>
                        <div class="first-watch">
                            <img src="./images/watch1.jpg" alt="Watch presentation" width="211px" height="322px">
                        </div>
                    </div>
                    <h3>Greenlane Watch By Police For MenHT </h3>
                    <p class="tag">Product tag: PEWJK2227003</p>
                    <div class="price">
                        <p class="new-price">€700</p>
                        <p class="old-price">€1000</p>
                    </div>
                    <div class="product">
                        <div class="subtitle">
                            <h3>Description</h3>
                        </div>
                        <p class="product-description"> Richly detailed with an understated design - 
                            the Police Men’s Greenlane watch features a versatile multifunction
                            design that fits effortlessly into work and play. 
                            The steel case is adorned with a semi-transparent black dial. 
                            The timepiece exhibits a contrast through a black IP bracelet with matching crown and pushers.
                        </p>
                    </div>
                    <div class="product">
                        <div class="subtitle">
                            <h3>DETAILS & FEATUREStion</h3>
                        </div>
                        <p class="product-features">
                            Gender: man <br>
                            Size: 46x54.5mm <br>
                            Case Colour: Steel <br>
                            Band Material: Metal <br>
                            Case Material: Metal <br>
                            Features: Multifunction <br>
                            Water Resistant: 5 (ATM) <br>
                            Band Colour: Steel</p>
                    </div>
                </div>
            </section>