<section class="my-watches">
    <div class="watches-container">
      <div class="watches-title">
        <p class="watches-subtitle">New watches</p>
        <h2 class="watches-header">Green And Bronze—The Match Made In Heaven</h2>
      </div>
      <div class="watches-images">
        <div class="watches-image-container">
          <img
            srcset="
              ./images/new-watches/waches1.png 1x,
              ./images/new-watches/waches1.png 2x
            "
            src="./images/new-watches/waches1.png"
            alt="new watches 1"
            class="watches-img"
          />
        </div>
        <div class="watches-image-container">
          <img
            srcset="
              ./images/new-watches/watches2.jpg 1x,
              ./images/new-watches/watches2.jpg 2x
            "
            src="./images/new-watches/watches2.jpg"
            alt="new watches 2"
            class="watches-img"
          />
        </div>
      </div>
    </div>
  </section>
  