 
<section class="seccion__nosotros" id="nosotros">
  <div class="contenedor">
    <div class="seccion__subencabezado"> 
      <p class="seccion__subencabezado--texto">TRADITION AND LOVE</p>
      <h2 class="seccion__subencabezado--titulo">HOW IT'S MADE</h2>
    </div>

    <div class="seccion__nosotros--menu">

      <div class="seccion__nosotros--img">
        <img class="seccion__nosotros--bioeco" src="images/home-pic4.jpg" alt="bio-eco">        
      </div>

      <div class="seccion__nosotros--info">
        <p class="seccion__nosotros--texto1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>

        <p class="seccion__nosotros--texto2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>

        <p  class="seccion__nosotros--texto3">Aliquam erat volutpat. Aenean accumsan.</p>

        <button class="seccion_nosotros--enviar">Red more 

          <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.61646 1L6.04413 5L1.61646 9" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

        </button>
      </div>
      
    </div>
  </div>
  
</section>
