<section class="offer-section" aria-label="Секция наши преимущества">
  <div class="container-section">
    <h2 class="visually-hidden">Секция наши преимущества</h2>
    <ul class="offer-list list">
      <li class="offer-list-item">
        <p class="offer-list-description icon-first">
          Адаптированная авторская программа ВНО
        </p>
      </li>
      <li class="offer-list-item">
        <p class="offer-list-description">Современные методики обучения</p>
      </li>
      <li class="offer-list-item">
        <p class="offer-list-description">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
