<section class="offer-section">
  <div class="container-section">
    <ul class="offer-list list">
      <li class="offer-list-item">
        <p class="offer-list-description icon-first">
          Адаптированная авторская программа ВНО
        </p>
      </li>
      <li class="offer-list-item">
        <p class="offer-list-description">Современные методики обучения</p>
      </li>
      <li class="offer-list-item">
        <p class="offer-list-description">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>