<section class="old-school">
  <div class="container">
    <div class="content">
      <h2 class="content-title">старая традиционная школа</h2>
      <h3 class="content-description">Почему приходят именно к нам?</h3>
      <p class="text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
    <div class="progress">
      <ul class="feature list">
        <li class="item">
          <h4 class="index">600 <span class="plus">+</span></h4>
          <p class="description">Довольных клиентов в день</p>
        </li>
        <li class="item">
          <h4 class="index">50 <span class="plus">+</span></h4>
          <p class="description">Наград за отличный сервис</p>
        </li>
        <li class="item">
          <h4 class="index">20 <span class="plus">+</span></h4>
          <p class="description">Лучших мастеров Киева</p>
        </li>
        <li class="item">
          <h4 class="index">100 <span class="plus">+</span></h4>
          <p class="description">Подарков постоянным клиентам</p>
        </li>
      </ul>
    </div>
  </div>
</section>
