<!-- Форма онлайн-записи-->
<section class="online-booking-section section">
  <form class="online-booking container" id="online-booking-form">
    <h2 class="title-dark-fone">Онлайн-запись</h2>
    <div class="collecting-container">
      <div class="name-container">
        <label class="name-label">
          <input
            class="name-form"
            type="text"
            name="customer-name"
            placeholder=" "
            required
          />
          <span class="name-label-name">Имя*</span>
        </label>
      </div>
      <div class="tel-container">
        <label class="tel-label">
          <input
            class="tel-form"
            type="tel"
            name="customer-tel"
            placeholder=" "
            required
          />
          <span class="tel-label-name">Телефон*</span>
        </label>
      </div>
    </div>
    <div class="message-container">
      <label class="message-label">
        <textarea
          class="message-form"
          name="message"
          placeholder=" "
        ></textarea>
        <span class="message-label-name">Сообщение</span>
      </label>
    </div>
    <button class="btn-dark-fone" type="submit">Отправить</button>
  </form>
</section>
