<!-- ORDER WINDOW -->
<div class="modalwindow is-hidden" data-modal>
  <div class="modal-order-container">
    <div class="modal-order-header">
      <h2 class="modal-order-title">Your order</h2>
      <button class="buttonscriptclose" type="button" data-modal-close>
        <svg width="28" height="28" class="iconscriptclose">
          <use href="./images/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <form class="modal-order-form">
      <ul class="list basket-list">
        <li>
          <div class="basket-element red-element">
            <div class="checkbox-container">
              <input
                type="checkbox"
                name="strawberry-basket-checked"
                id="strawberry-basket-checked"
                value="true"
                class="checkbox-input visually-hidden"
                checked
              />
              <label for="strawberry-basket-checked" class="checkbox">
                <span class="check-span-icon"
                  ><svg width="13" height="13" class="check-icon">
                    <use href="./images/icons.svg#checkbox-icon"></use>
                  </svg> </span
              ></label>
            </div>
            <div class="product-info">
              <h3 class="shopping-title-product">Strawberry Basket</h3>
              <p class="fruit-type">Plant</p>
            </div>
            <img
              width="88px"
              height="95px"
              class="shopping-image strawberry-image"
              src="./images/strawberry-basket.png"
              alt="strawberry-basket"
            />
          </div>
        </li>
        <li>
          <div class="basket-element yellow-element">
            <div class="checkbox-container">
              <input
                type="checkbox"
                name="apple-basket-checked"
                id="apple-basket-checked"
                value="true"
                class="checkbox-input visually-hidden"
              />
              <label for="apple-basket-checked" class="checkbox">
                <span class="check-span-icon"
                  ><svg width="13" height="13" class="check-icon">
                    <use href="./images/icons.svg#checkbox-icon"></use>
                  </svg> </span
              ></label>
            </div>
            <div class="product-info">
              <h3 class="shopping-title-product">Apple Basket</h3>
              <p class="fruit-type">Plant</p>
            </div>
            <img
              width="106px"
              height="95px"
              class="shopping-image apple-image"
              src="./images/apple-basket.png"
              alt="apple-basket"
            />
          </div>
        </li>
        <li>
          <div class="basket-element green-element">
            <div class="checkbox-container">
              <input
                type="checkbox"
                name="fruit-basket-checked"
                id="fruit-basket-checked"
                value="true"
                class="checkbox-input visually-hidden"
              />
              <label for="fruit-basket-checked" class="checkbox">
                <span class="check-span-icon"
                  ><svg width="13" height="13" class="check-icon">
                    <use href="./images/icons.svg#checkbox-icon"></use>
                  </svg> </span
              ></label>
            </div>
            <div class="product-info">
              <h3 class="shopping-title-product">Fruit Basket</h3>
              <p class="fruit-type">Plant</p>
            </div>
            <img
              width="107px"
              height="95px"
              class="shopping-image fruit-image"
              src="./images/fruit-basket.png"
              alt="fruit-basket"
            />
          </div>
        </li>
      </ul>
      <!-- User-Name -->
      <div class="modal-heading">
        <input
          id="user-name"
          name="user-name"
          type="text"
          placeholder="Enter full name..."
          class="modal-input"
          required
          size="45"
          pattern="[A-z]{4,8}"
        />
        <!-- Email -->
        <input
          id="user-email"
          name="user-email"
          type="text"
          placeholder="Enter email..."
          class="modal-input"
          required
          pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
          title="Invalid email address"
        />
        <!-- Card -->
        <input
          id="user-card"
          name="user-card"
          type="text"
          placeholder="Enter card.."
          class="modal-input"
          required
          pattern="[0-9]{13,16}"
          title="Invalid card"
        />
        <!-- Comments -->
        <textarea
          class="modal-texting"
          name="user-comments"
          id="user-comments"
          cols="20"
          rows="5"
          placeholder="Enter comments..."
        ></textarea>
        <button class="form-button" type="submit" thanks-modal-open="">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
