<article>
  
  <div class="backdrop " data-order>
      <div class="modal-order">
        <div class="order-button-title">
          <h2 class="modal-order-title">Your Order</h2>
          <button class="modal-order-button" data-order-close>
            <svg class="modal-order-button-icon">
              <use href="./images/icons.svg#modal-close"></use>
            </svg>
          </button>
        </div>
        <form name="signap-form" id="myForm">
          <fieldset class="modal-order-basket">
            <label class="modal-order-label strawberry">
              <span class="modal-order-text">Strawberry Basket</span>
              <span class="modal-order-plant">Plant</span>
              <picture>
              
                <img
                  class="modal-order-img strawberry-img"
                  src="./images/modal-strawberry.png"
                  alt="Strawberry Basket"
                  width="173"
                  height="196"
                  
                />
              </picture>
    
              <input class="modal-order-checkbox" type="checkbox" name="basket" />
              <span class="modal-order-checkbox-span">
                <svg class="modal-order-icon" width="6" height="6">
                  <use href="./images/icons.svg#modal-pick"></use>
                </svg>
              </span>
            </label>
            <label class="modal-order-label apple">
              <span class="modal-order-text">Apple Basket</span>
              <span class="modal-order-plant">Plant</span>
              <picture>
                
                <img
                  class="modal-order-img"

                  src="./images/apple-modal.png"
                  alt="Apple Basket"
                  width="100"
                  height="170"
                  
                />
              </picture>
              <input class="modal-order-checkbox" type="checkbox" name="basket" />
              <span class="modal-order-checkbox-span">
                <svg class="modal-order-icon" width="6" height="6">
                  <use href="./images/icons.svg#modal-pick"></use>
                </svg>
              </span>
            </label>
            <label class="modal-order-label fruits">
              <span class="modal-order-text">Fruits Basket</span>
              <span class="modal-order-plant">Plant</span>
              <picture>
                
                <img
                  class="modal-order-img"
                  src="./images/modal-basket-fruit.png"
                  alt="Fruits Basket"
                  width="200"
                  height="170"
                  
                />
              </picture>
              <input class="modal-order-checkbox" type="checkbox" name="basket" />
              <span class="modal-order-checkbox-span">
                <svg class="modal-order-icon" width="6" height="6">
                  <use href="./images/icons.svg#modal-pick"></use>
                </svg>
              </span>
            </label>
          </fieldset>
          <fieldset class="modal-order-group">
            <label>
              <input
                class="modal-order-input modal-form-input"
                type="text"
                name="fullname"
                pattern="[a-zA-Z][a-zA-Z ]+"
                id="fullname"
                required
                placeholder="Enter full name..."
              />
            </label>
            <label>
              <input
                class="modal-order-input modal-form-input"
                type="email"
                name="email"
                required
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                placeholder="Enter email..."
                id="emailform"
              />
            </label>
            <label>
              <input
                class="modal-order-input modal-form-input"
                type="text"
                name="card"
                id="card"
                pattern="[0-9]{10}"
                required
                placeholder="Enter card.."
              />
            </label>
            <label>
              <textarea
                class="modal-order-comments modal-form-input"
                name="comments"
                placeholder="Enter comments..."
              ></textarea>
            </label>
          </fieldset>
          <button
            class="modal-order-submit"
            type="submit"
            id="submitButton"
            disabled
            data-order-close
            data-thank-you-open
          >
            Submit
          </button>
        </form>
      </div>
    </div>
</article>