    <form class="form-field">
        <div class="select-form">
            <label class="select-text" for="ice">Your favorite Ice-Cream</label>
            <select class="select-ice" id="ice" name="ice">
                <option value=""></option>
                <option value="">Dark Chocolate</option>
                <option value="">Milk Chocolate</option>
                <option value="">Raspberry</option>
                <option value="">Strawberry</option>
                <option value="">Green Tea</option>
                <option value="">Pistachio</option>
                <option value="">Blue Moon</option>
                <option value="">Vanilla</option>
                <option value="">Milk</option>
                <option value="">Snikears</option>
            </select>
        </div>

        <p class="pay-text">Pay with</p>

        <div class="pay-card" role="group">
            <div class="cards">
                <label for="pay-1"></label>
                <input class="select-box" id="pay-1" name="pay" type="radio" value="mastercard" />
                <svg class="card-svg">
                    <use href="./images/sprite-form.svg#visa"></use>
                </svg>
            </div>

            <div class="cards">
                <label for="pay-2"></label>
                <input class="select-box" id="pay-2" name="pay" type="radio" value="mastercard" />
                <svg class="card-svg">
                    <use href="./images/sprite-form.svg#mastercard"></use>
                </svg>
            </div>

            <div class="cards">
                <label for="pay-3"></label>
                <input class="select-box" id="pay-3" name="pay" type="radio" value="paypal" />
                <svg class="card-svg">
                    <use href="./images/sprite-form.svg#paypal"></use>
                </svg>
            </div>
        </div>

        <button class="form-btn">Order</button>
    </form>