<section id="ordering" class="order-section">
  <h3>To order your fruit basket, simply follow these easy steps</h3>
  <h4>
    Our baskets are assembled with care and delivered straight to your doorstep,
    so you can enjoy the taste of fresh fruit without ever leaving your home.
    Whether you're looking for a healthy snack or a thoughtful gift, our fruit
    baskets are the perfect choice.
  </h4>

  <ul class="order-blocks">
    <li>
      <a href="first-step" class="order-first-step">First Step</a>
      <p class="first">
        Just choose the fruit you want to order by clicking on the checkboxes
        next to it.
      </p>
    </li>
    <li>
      <a href="second-step" class="order-second-step">Second Step</a>
      <p class="second">Click on the basket and fill out the form.</p>
    </li>
    <li>
      <a href="third-step" class="order-third-step">Third Step</a>
      <p class="third">
        Sit back and relax! Your fresh fruit basket will be delivered.
      </p>
    </li>
  </ul>

  <div class="gif"></div>
</section>
