<div>
  <h2>YOUR ORDER</h2>
  <div class="modalscript is-hidden" data-modal>
    <div class="windowscript">
      <button class="buttonscript" type="button" data-modal-close>
        <svg width="28" height="28" class="iconscript">
          <use href="./images/icons.svg#icon-x"></use>
        </svg>
      </button>
      <div>
        <ul class="list">
          <li>
            <div>
              <div>
                <input
                  type="checkbox"
                  name="strawberry-basket-checked"
                  id="strawberry-basket-checked"
                  value="true"
                  class="checkbox visually-hidden"
                  checked
                />
                <label for="strawberry-basket-checked" class="checkbox">
                  <span
                    ><svg width="13" height="13" class="check-icon">
                      <use href="./images/icons.svg#checkbox-icon"></use>
                    </svg> </span
                ></label>
              </div>
              <div>
                <h3>Strawberry Basket</h3>
                <p>Plant</p>
              </div>
              <img src="./images/strawberry-basket" alt="strawberry-basket" />
            </div>
          </li>
          <li>
            <div>
              <div>
                <input
                  type="checkbox"
                  name="apple-basket-checked"
                  id="apple-basket-checked"
                  value="true"
                  class="checkbox visually-hidden"
                  checked
                />
                <label for="apple-basket-checked" class="checkbox">
                  <span
                    ><svg width="13" height="13" class="check-icon">
                      <use href="./images/icons.svg#checkbox-icon"></use>
                    </svg> </span
                ></label>
              </div>
              <div>
                <h3>Apple Basket</h3>
                <p>Plant</p>
              </div>
              <img src="./images/apple-basket" alt="apple-basket" />
            </div>
          </li>
          <li>
            <div>
              <div>
                <input
                  type="checkbox"
                  name="fruit-basket-checked"
                  id="fruit-basket-checked"
                  value="true"
                  class="checkbox visually-hidden"
                  checked
                />
                <label for="fruit-basket-checked" class="checkbox">
                  <span
                    ><svg width="13" height="13" class="check-icon">
                      <use href="./images/icons.svg#checkbox-icon"></use>
                    </svg> </span
                ></label>
              </div>
              <div>
                <h3>Fruit Basket</h3>
                <p>Plant</p>
              </div>
              <img src="./images/fruit-basket" alt="fruit-basket" />
            </div>
          </li>
        </ul>
            <form>
              <!-- User-Name -->
              <div class="modal-heading modal--data">
                <label class="modal-label" for="user-name"></label>
                <div class="modal-table">
                  <input
                    id="user-name"
                    name="user-name"
                    type="text"
                    placeholder="Enter full name..."
                    class="modal-input"
                    required
                  />
                </div>
              </div>
              <!-- Email -->
              <div class="modal-heading modal--data">
                <label class="modal-label" for="user-email"></label>
                <div class="modal-table">
                  <input
                    id="user-email"
                    name="user-email"
                    type="text"
                    placeholder="Enter email..."
                    class="modal-input"
                    required
                  />
                </div>
              </div>
              <!-- Card -->
              <div class="modal-heading modal--data">
                <label class="modal-label" for="user-card"></label>
                <div class="modal-table">
                  <input
                    id="user-card"
                    name="user-card"
                    type="text"
                    placeholder="Enter card.."
                    class="modal-input"
                    required
                  />
                  <svg width="18" height="24" class="modal-icon">
                    <use href="./images/icons.svg#icon-email-black"></use>
                  </svg>
                </div>
              </div>
              <!-- Comments -->
              <div class="modal-comment">
                <label class="modal-label" for="user-comments"></label>
                <textarea
                  class="modal-texting"
                  name="user-comments"
                  id="user-comments"
                  placeholder="Enter comments..."
                ></textarea>
              </div>
              <button class="form-button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
