<section class="our-products-section">
  <div class="our-products-container">
    <h2 class="hidden-header">Our products</h2>
    <p class="hundred-percent">100% natural</p>
    <p class="products">products</p>
    <ul class="our-products-list list">
      <li class="our-product ice-cream">
        <img
          class="image-mobile-tablet"
          alt="ice-cream"
          srcset="
            ./images/our-product/1ic-m-249@1x.png 249w,
            ./images/our-product/1ic-m-498@2x.png 498w,
            ./images/our-product/1ic-t-220@1x.png 220w,
            ./images/our-product/1ic-t-440@2x.png 440w
          "
          src="./images/our-product/1ic-t-220@1x.png"
          sizes="(min-width: 768px) 220px, (max-width: 767px) 249px, 100vw"
        />
        <img
          class="image-desctop"
          alt="ice-cream"
          srcset="
            ./images/our-product/1ic-d-335@1x.png 335w,
            ./images/our-product/1ic-d-670@2x.png 670w
          "
          src="./images/our-product/1ic-d-335@1x.png"
          sizes="(min-width: 1200px) 335px, 100vw"
        />
        <h3 class="our-product-name">ice cream</h3>
        <div class="points-container">
          <span class="point"></span>
          <span class="point"></span>
          <span class="point"></span>
        </div>
        <p class="our-product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="view-more link" href="">
          <svg class="rightarrow" width="10" height="10">
            <<<<<<< Updated upstream
            <use href="./images/symbol-defs.svg#icon-rightarrow"></use>
            =======
            <use href="./images/symbol-defs.svg##icon-rightarrow"></use>
            >>>>>>> Stashed changes
          </svg>
        </a>
      </li>
      <li class="our-product coffee">
        <img
          class="image-mobile-tablet"
          alt="coffee"
          srcset="
            ./images/our-product/2ic-m-249@1x.png 249w,
            ./images/our-product/2ic-m-498@2x.png 498w,
            ./images/our-product/2ic-t-220@1x.png 220w,
            ./images/our-product/2ic-t-440@2x.png 440w
          "
          src="./images/our-product/2ic-t-220@1x.png"
          sizes="(min-width: 768px) 220px, (max-width: 767px) 249px, 100vw"
        />
        <img
          class="image-desctop"
          alt="ice-cream"
          srcset="
            ./images/our-product/2ic-d-337@1x.png 335w,
            ./images/our-product/2ic-d-674@2x.png 670w
          "
          src="./images/our-product/2ic-d-337@1x.png"
          sizes="(min-width: 1200px) 335px, 100vw"
        />
        <h3 class="our-product-name">ice coffee</h3>
        <div class="points-container">
          <span class="point"></span>
          <span class="point"></span>
          <span class="point"></span>
        </div>
        <p class="our-product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="view-more link" href="">
          <svg class="rightarrow" width="10" height="10">
            <<<<<<< Updated upstream
            <use href="./images/symbol-defs.svg#icon-rightarrow"></use>
            =======
            <use href="./images/symbol-defs.svg##icon-rightarrow"></use>
            >>>>>>> Stashed changes
          </svg>
        </a>
      </li>
      <li class="our-product milkshakes">
        <img
          class="image-mobile-tablet"
          alt="milkshakes"
          srcset="
            ./images/our-product/3ic-m-249@1x.png 249w,
            ./images/our-product/3ic-m-498@2x.png 498w,
            ./images/our-product/3ic-t-220@1x.png 220w,
            ./images/our-product/3ic-t-440@2x.png 440w
          "
          src="./images/our-product/3ic-t-220@1x.png"
          sizes="(min-width: 768px) 220px, (max-width: 767px) 249px, 100vw"
        />
        <img
          class="image-desctop"
          alt="ice-cream"
          srcset="
            ./images/our-product/3ic-d-335@1x.png 335w,
            ./images/our-product/3ic-d-670@2x.png 670w
          "
          src="./images/our-product/3ic-d-335@1x.png"
          sizes="(min-width: 1200px) 335px, 100vw"
        />
        <h3 class="our-product-name">milkshakes</h3>
        <div class="points-container">
          <span class="point"></span>
          <span class="point"></span>
          <span class="point"></span>
        </div>
        <p class="our-product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="view-more link" href="">
          <svg class="rightarrow" width="10" height="10">
            <<<<<<< Updated upstream
            <use href="./images/symbol-defs.svg#icon-rightarrow"></use>
            =======
            <use href="./images/symbol-defs.svg##icon-rightarrow"></use>
            >>>>>>> Stashed changes
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
