<section class="our-progect">
  <div class="conteiner">
    <h2 class="our-progect__title">Наши проекты</h2>
    <p class="our-progect__text">
      Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem <br />
      Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
    </p>
    <ul class="our-progect__list list">
      <li class="our-progect__item"><img src="./images/imgour.jpg" alt="" /></li>
      <li class="our-progect__item"><img src="./images/imgour.jpg" alt="" /></li>
      <li class="our-progect__item"><img src="./images/imgour.jpg" alt="" /></li>
      <li class="our-progect__item"><img src="./images/imgour.jpg" alt="" /></li>
    </ul>
    <button class="button" type="button">Все проекты</button>
  </div>
</section>
