<section class="advantages">
    <div class="container">
        <ul class="advantages-list">
            <li class="advantages-list-item">
                <svg class="advantages-icon">
                    <use href="./images/sprite.svg#Group-1"></use>
                </svg>
                <p class="advantages-text">Адаптированная авторская программа ВНО</p>
            </li>
            <li class="advantages-list-item">
                <svg class="advantages-icon">
                    <use href="./images/sprite.svg#Group-2"></use>
                </svg>
                <p class="advantages-text">Современные методики обучения</p>
            </li>
            <li class="advantages-list-item umbrella">
                <svg class="advantages-icon">
                    <use href="./images/sprite.svg#Group-3"></use>
                </svg>
                <p class="advantages-text">Финансовая гарантия результата</p>
            </li>
        </ul>
    </div>
</section>