<!-- Наша программа -->

<section class="our-program">
    <div class="container">
        <h2 class="our-program-title">Наша программа</h2>
        <ul class="our-program-term-list">
            <li class="our-program-term-item">
                <h3 class="our-program-term-title">1 семестр</h3>
                <ul class="our-program-term-section-list">
                    <li class="our-program-term-section-item">
                    <h4 class="our-program-term-section-title">— Grammar</h4>
                    <p class="our-program-term-description">Nouns & Articles Adjectives & Adverb </p>
                    </li>

                    <li class="our-program-term-section-item">
                        <h4 class="our-program-term-section-title">— Vocabulary</h4>
                        <p class="our-program-term-description">Family & Relations People & Society</p>
                        </li>
                </ul>
            </li>  

            <li class="our-program-term-item">
                <h3 class="our-program-term-title">2 семестр</h3>
                <ul class="our-program-term-section-list">

                    <li class="our-program-term-section-item">
                    <h4 class="our-program-term-section-title">— Grammar</h4>
                    <p class="our-program-term-description">Pronouns Active Voice Passive Voice </p>
                    </li>

                    <li class="our-program-term-section-item">
                        <h4 class="our-program-term-section-title">— Vocabulary</h4>
                        <p class="our-program-term-description">Home School Work </p> 
                    </li>
                </ul>
            </li>  

            <li class="our-program-term-item">
                <h3 class="our-program-term-title">3 семестр</h3>
                <ul class="our-program-term-section-list">
                    
                    <li class="our-program-term-section-item">
                    <h4 class="our-program-term-section-title">— Grammar</h4>
                    <p class="our-program-term-description">Modal verbs Infinitive Gerund Participle: 1, 2 </p>
                    </li>

                    <li class="our-program-term-section-item">
                        <h4 class="our-program-term-section-title">— Vocabulary</h4>
                        <p class="our-program-term-description">Travel & Tourism Culture & Free Time Sport  </p> 
                    </li>

                    <li class="our-program-term-section-item">
                        <h4 class="our-program-term-section-title">— Writing</h4>
                        <p class="our-program-term-description">Informal Letter </p> 
                    </li>
                </ul>
            </li>  

            <li class="our-program-term-item">
                <h3 class="our-program-term-title">4 семестр</h3>
                <ul class="our-program-term-section-list">
                    
                    <li class="our-program-term-section-item">
                    <h4 class="our-program-term-section-title">— Grammar</h4>
                    <p class="our-program-term-description">Clauses: Conditional and Wishes Direct / Reported speech  Preposition Conjunction Numeral</p>
                    </li>

                    <li class="our-program-term-section-item">
                        <h4 class="our-program-term-section-title">— Vocabulary</h4>
                        <p class="our-program-term-description">Healthy Living Nature & Environment Money </p> 
                    </li>

                    <li class="our-program-term-section-item">
                        <h4 class="our-program-term-section-title">— Writing</h4>
                        <p class="our-program-term-description">Formal Letter</p> 
                    </li>
                </ul>
            </li>  
                      
            <li class="our-program-term-item">
                <h3 class="our-program-term-title">5 семестр</h3>
                <ul class="our-program-term-section-list">
                    
                    <li class="our-program-term-section-item">
                    <h4 class="our-program-term-section-title">— </h4>
                    <p class="our-program-term-description">Revision Tests</p>
                    </li>
                    
                </ul>
            </li>  
        </ul>

        <div class="our-program-info">
            <h3 class="our-program-info-title">Почему нас выбирают</h3>
            <ul class="our-program-info-list">
                <li class="our-program-info-item">
                    <h4 class="our-program-info-subtitle">— 01</h4>
                    <p class="our-program-info-description">Обучение в малых командах</p>
                </li>

                <li class="our-program-info-item">
                    <h4 class="our-program-info-subtitle">— 02</h4>
                    <p class="our-program-info-description">Визуализированные конспекты</p>
                </li>

                <li class="our-program-info-item">
                    <h4 class="our-program-info-subtitle">— 03</h4>
                    <p class="our-program-info-description">Каждое занятие имеет цель и конкретный результат</p>
                </li>

                <li class="our-program-info-item">
                    <h4 class="our-program-info-subtitle">— 04</h4>
                    <p class="our-program-info-description">Реальные результаты преподавателя</p>
                </li>

                <li class="our-program-info-item">
                    <h4 class="our-program-info-subtitle">— 05</h4>
                    <p class="our-program-info-description">Прогамма курса соответствует требованиям МОН Украины</p>
                </li>

                <li class="our-program-info-item">
                    <h4 class="our-program-info-subtitle">— 06</h4>
                    <p class="our-program-info-description">Набор команд по уровням знаний</p>
                </li>
            </ul>
        </div>
    </div>
</section>