<section class="master-section">
  <div class="container">
    <p class="section-manifest">для настоящих ценителей атмосферы</p>
    <h2>Наши мастера</h2>
    <ul class="list master-list">
      <li class="master-list-item">
        <picture>
          <source
            srcset="
              ../src/images/john-smith-mob.jpg    1x,
              ../src/images/john-smith-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../src/images/john-smith-desc.jpg    1x,
              ../src/images/john-smith-desc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../src/images/john-smith-tab.jpg    1x,
              ../src/images/john-smith-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="master-photo"
            src="../src/images/john-smith-mob.jpg"
            alt="Фото Джон Смит"
          />
        </picture>
        <div>
          <h3 class="master-name-text">John Smith</h3>
          <p class="master-skill-text">
            Extreme Barber
          </p>
          <ul class="list master-socnetwork-list">
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://www.instagram.com">
                <svg class="socials-icon">
                  <use href="./images/sprite-socnet.svg#icon-instagram-1"></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://twitter.com">
                <svg class="socials-icon">
                  <use href="./images/sprite-socnet.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://facebook.com/">
                <svg class="socials-icon">
                  <use href="./images/sprite-socnet.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://www.linkedin.com/">
                <svg class="socials-icon">
                  <use href="./images/sprite-socnet.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="master-list-item">
        <picture>
          <source
            srcset="
              ../src/images/michele-doe-mob.jpg    1x,
              ../src/images/michele-doe-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../src/images/michele-doe-desc.jpg    1x,
              ../src/images/michele-doe-desc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../src/images/michele-doe-tab.jpg    1x,
              ../src/images/michele-doe-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="master-photo"
            src="../src/images/michele-doe-mob.jpg"
            alt="Marta Stewart"
          />
        </picture>

        <div>
          <h3 class="master-name-text">Michele Doe</h3>
          <p class="master-skill-text">
            Extreme Barber
          </p>
          <ul class="list master-socnetwork-list">
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://www.instagram.com">
                <svg class="socials-icon">
                  <use
                    href="../src/images/sprite-socnet.svg#icon-instagram-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://twitter.com">
                <svg class="socials-icon">
                  <use
                    href="../src/images/sprite-socnet.svg#icon-twitter-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://facebook.com/">
                <svg class="socials-icon">
                  <use
                    href="../src/images/sprite-socnet.svg#icon-facebook-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://www.linkedin.com/">
                <svg class="socials-icon">
                  <use
                    href="../src/images/sprite-socnet.svg#icon-linkedin-1"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="master-list-item">
        <picture>
          <source
            srcset="
              ../src/images/alan-black-mob.jpg    1x,
              ../src/images/alan-black-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../src/images/alan-black-desc.jpg    1x,
              ../src/images/alan-black-desc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../src/images/alan-black-tab.jpg    1x,
              ../src/images/alan-black-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="master-photo"
            src="../src/images/alan-black-mob.jpg"
            alt="Robert Jakis"
          />
        </picture>

        <div>
          <h3 class="master-name-text">Alan Black</h3>
          <p class="master-skill-text">Extreme Barber</p>
          <ul class="list master-socnetwork-list">
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://www.instagram.com">
                <svg class="socials-icon">
                  <use
                    href="../src/images/sprite-socnet.svg#icon-instagram-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://twitter.com">
                <svg class="socials-icon">
                  <use
                    href="../src/images/sprite-socnet.svg#icon-twitter-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://facebook.com/">
                <svg class="socials-icon">
                  <use
                    href="../src/images/sprite-socnet.svg#icon-facebook-1"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="master-socials-item">
              <a class="master-socials-link" href="https://www.linkedin.com/">
                <svg class="socials-icon">
                  <use
                    href="../src/images/sprite-socnet.svg#icon-linkedin-1"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
