<section>
  <p>ДЛЯ НАСТОЯЩИХ ЦЕНИТЕЛЕЙ АТМОСФЕРЫ</p>
  <ul>
    <li>
      <p>John Smith</p>
      <p>Extreme Barber</p>
      <ul>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
      </ul>
    </li>
    <li>
      <p>Michele Doe</p>
      <p>Extreme Barber</p>
      <ul>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
      </ul>
    </li>
    <li>
      <p>Alan Black</p>
      <p>Extreme Barber</p>
      <ul>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
      </ul>
    </li>
  </ul>
</section>
