<section class="programm">
    <div>
        <H2>Наша программа</H2>
        <ul>
            <li>1 семестр</li>
            <li>— Grammar</li>
            <li>Nouns & Articles Adjectives & Adverb</li>
            <li>— Vocabulary</li>
            <li>Family & Relations People & Society</li>

            <li>2 семестр</li>
            <li>— Grammar</li>
            <li>Pronouns Active Voice Passive Voice</li>
            <li>— Vocabulary</li>
            <li>Home School Work</li>

            <li>3 семестр</li>
            <li>— Grammar</li>
            <li> Modal verbs Infinitive Gerund Participle: 1, 2</li>
            <li>— Vocabulary</li>
            <li>Travel & Tourism Culture & Free Time Sport</li>
            <li>— Writing</li>
            <li>Informal Letter</li>

            <li>4 семестр</li>
            <li>— Grammar</li>
            <li> Clauses: Conditional and Wishes Direct / Reported speech Preposition Conjunction Numeral</li>
            <li>— Vocabulary</li>
            <li>Healthy Living Nature & Environment Money</li>
            <li>— Writing</li>
            <li>Formal Letter</li>

            <li>5 семестр</li>
            <li>—</li>
            <li>Revision Tests</li>
      
        </ul>
    </div>
    <div>
        <H2>Почему нас выбирают</H2>
        <ul>
            <li>
                <p>Обучение в малых командах</p>
            </li>
            <li>
                <p>Визуализированные конспекты</p>
            </li>
            <li>
                <p>Каждое занятие имеет цель и конкретный результ</p>
            </li>
            <li>
                <p>Ревльные результаты преподавателя</p>
            </li>
            <li>
                <p>Прогамма курса соответствует требованиям МОН Украин</p>
            </li>
            <li>
                <p>Набор команд по уровням знаний</p>
            </li>
            
        
        </ul>

    </div>

</section>