<section class="our-programm-section section" id="our-programm">
    <div class="dop-contener">
        <div class="container ">
            <div class="our-programm">
               
                <H2 class="our-programm__h2">Наша программа</H2>
                <div class="our-programm_thumb">
                    <div class="our-programm__img" alt=" учитель с учениками"></div>
                    <div class="vl"></div>
                    <ul class="our-programm__list">
                        <li class=our-programm__list-outter>
                            <h3 class="our-programm__h3">1 семестр</h3>
                            <ul class="our-programm__list-interior">
                                <li class="our-programm__item-interior our-programm__item-interior--first">
                                    <h4 class="our-programm__h4">— Grammar</h4>
                                    <p class="our-programm__text">Nouns & Articles<br> Adjectives & Adverb</p>
                                </li>
                                <li class="our-programm__item-interior our-programm__item-interior--second">
                                    <h4 class="our-programm__h4">— Vocabulary</h4>
                                    <p class="our-programm__text">Family & Relations <br>People & Society</p>
                                </li>
                            </ul>
                        </li>
                        <li class=our-programm__list-outter>
                            <h3 class="our-programm__h3">2 семестр</h3>
                            <ul class="our-programm__list-interior">
                                <li class="our-programm__item-interior our-programm__item-interior--first">
                                    <h4 class="our-programm__h4">— Grammar</h4>
                                    <p class="our-programm__text">Pronouns<br> Active Voice<br> Passive Voice</p>
                                </li>
                                <li class="our-programm__item-interior our-programm__item-interior--second">
                                    <h4 class="our-programm__h4">— Vocabulary</h4>
                                    <p class="our-programm__text">Home<br> School<br> Work</p>
                                </li>
                            </ul>
                        </li>
                        <li class=our-programm__list-outter>
                            <h3 class="our-programm__h3">3 семестр</h3>
                            <ul class="our-programm__list-interior">
                                <li class="our-programm__item-interior our-programm__item-interior--first">
                                    <h4 class="our-programm__h4">— Grammar</h4>
                                    <p class="our-programm__text">Modal verbs <br>Infinitive Gerund<br> Participle: 1, 2</p>
                                </li>
                                <li class="our-programm__item-interior our-programm__item-interior--second">
                                    <h4 class="our-programm__h4">— Vocabulary</h4>
                                    <p class="our-programm__text">Travel & Tourism<br> Culture & Free Time Sport</p>
                                </li>
                                <li class="our-programm__item-interior our-programm__item-interior--third">
                                    <h4 class="our-programm__h4">— Writing</h4>
                                    <p class="our-programm__text">Informal Letter</p>
                                </li>
                            </ul>
                        </li>
                        <li class=our-programm__list-outter>
                            <h3 class="our-programm__h3">4 семестр</h3>
                            <ul class="our-programm__list-interior">
                                <li class="our-programm__item-interior our-programm__item-interior--first">
                                    <h4 class="our-programm__h4">— Grammar</h4>
                                    <p class="our-programm__text">Clauses: Conditional and <br>Wishes <br>Direct / Reported speech
                                     <br>Preposition <br>Conjunction<br> Numeral</p>
                                </li>
                                <li class="our-programm__item-interior our-programm__item-interior--second">
                                    <h4 class="our-programm__h4">— Vocabulary</h4>
                                    <p class="our-programm__text">Healthy Living <br>Nature & Environment<br> Money</p>
                                </li>
                                <li class="our-programm__item-interior our-programm__item-interior--third">
                                    <h4 class="our-programm__h4">— Writing</h4>
                                    <p class="our-programm__text">Formal Letter</p>
                                </li>
                            </ul>
                        </li>
                        <li class=our-programm__list-outter>
                            <h3 class="our-programm__h3"> 5 семестр</h3>
                            <ul class="our-programm__list-interior">
                                <li class="our-programm__item-interior our-programm__item-interior--first">
                                    <h4 class="our-programm__h4">— </h4>
                                    <p class="our-programm__text">Revision <br> Tests</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="why-we" id="variant">
                <H2 class="why-we__h2">Почему нас выбирают</H2>
                <ul class="why-we__list">
                    <li class="why-we__item">
                        <p class="why-we__h3">— 01</p>
                        <p class="why-we__p">Обучение в малых командах</p>
                    </li>
                    <li class="why-we__item">  
                        <p class="why-we__h3">— 02</p>
                        <p class="why-we__p">Визуализированные конспекты</p>
                    </li>
                    <li class="why-we__item">
                        <p class="why-we__h3">— 03</p>
                        <p class="why-we__p">Каждое занятие имеет цель и конкретный результат</p>
                    </li>
                    <li class="why-we__item">
                        <p class="why-we__h3">— 04</p>
                        <p class="why-we__p">Реальные результаты преподавателя</p>
                    </li>
                    <li class="why-we__item">
                        <p class="why-we__h3">— 05</p>
                        <p class="why-we__p">Программа курса соответствует требованиям МОН Украины</p>
                    </li>
                    <li class="why-we__item">
                        <p class="why-we__h3">— 06</p>
                        <p class="why-we__p">Набор команд по уровням знаний</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>