<section class="our-masters">
  <div class="container">
    <p>для настоящих ценителей атмосферы</p>
    <h2>Наши мастера</h2>
    <ul class="masters-team">
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/our-masters/master_john-mobile.jpg    1x,
              ./images/our-masters/master_john-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/our-masters/master_john-desktop.jpg    1x,
              ./images/our-masters/master_john-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/our-masters/master_john-tablet.jpg    1x,
              ./images/our-masters/master_john-tablet@2x.jpg 2x
            "
            media="(min-width: 767px)"
          />
          <img
            src="./images/our-masters/master_john-tablet.jpg"
            alt="Фото John Smith"
          />
        </picture>
        <h3>John Smith</h3>
        <p>Extreme Barber</p>
        <ul class="soc-networks">
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/our-masters/master_michele-mobile.jpg    1x,
              ./images/our-masters/master_michele-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/our-masters/master_michele-desktop.jpg    1x,
              ./images/our-masters/master_michele-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/our-masters/master_michele-tablet.jpg    1x,
              ./images/our-masters/master_michele-tablet@2x.jpg 2x
            "
            media="(min-width: 767px)"
          />
          <img
            src="./images/our-masters/master_michele-tablet.jpg"
            alt="Фото Michele Doe"
          />
        </picture>
        <h3>Michele Doe</h3>
        <p>Extreme Barber</p>
        <ul class="soc-networks">
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./images/our-masters/master_alan-mobile.jpg    1x,
              ./images/our-masters/master_alan-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/our-masters/master_alan-desktop.jpg    1x,
              ./images/our-masters/master_alan-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/our-masters/master_alan-tablet.jpg    1x,
              ./images/our-masters/master_alan-tablet@2x.jpg 2x
            "
            media="(min-width: 767px)"
          />
          <img
            src="./images/our-masters/master_alan-tablet.jpg"
            alt="Фото Alan Black"
          />
        </picture>
        <h3>Alan Black</h3>
        <p>Extreme Barber</p>
        <ul class="soc-networks">
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a href="">
              <svg width="20px" height="20px">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
