<section class="team">
  <p class="atmosphere-team">ДЛЯ НАСТОЯЩИХ ЦЕНИТЕЛЕЙ АТМОСФЕРЫ</p>
  <h1 class="title-team">Наши мастера</h1>
  <ul>
    <li class="item-team">
      <p class="name-master">John Smith</p>
      <p class="skills-master">Extreme Barber</p>
      <ul class="list icon-network">
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-instagram"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-twitter"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-facebook"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-linkedin"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item-team">
      <p class="name-master">Michele Doe</p>
      <p class="skills-master">Extreme Barber</p>
      <ul class="list icon-network">
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-instagram"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-twitter"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-facebook"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-linkedin"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="item-team">
      <p class="name-master">Alan Black</p>
      <p class="skills-master">Extreme Barber</p>
      <ul class="list icon-network">
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-instagram"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-twitter"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-facebook"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="icon color">
            <svg class="network">
              <use
                href="./images/symbol-defs.svg#icon-linkedin"
                width="20"
                height="20"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
