<section class="master-container">
  <div class="container">
    <h2 class="section-description">ДЛЯ НАСТОЯЩИХ ЦЕНИТЕЛЕЙ АТМОСФЕРЫ</h2>
    <h3 class="section-title">Наши мастера</h3>
    <ul class="masters-list">
      <li class="masters-item">
        <picture>
          <img src="./images/worker1-desktop370.jpg" alt="John Smith" />
        </picture>
        <div>
          <h3 class="name">John Smith</h3>
          <p class="speciality">Extreme Barber</p>
        </div>
        <div class="container-network">
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use
                    href="./images/icons/main-sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <picture>
          <img src="./images/worker2-desktop370.jpg" alt="Michele Doe" />
        </picture>
        <h3 class="name">Michele Doe</h3>
        <p class="speciality">Extreme Barber</p>
        <div class="container-network">
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <picture>
          <img src="./images/worker3-desktop370.jpg" alt="Alan Black" />
        </picture>
        <h3 class="name">Alan Black</h3>
        <p class="speciality">Extreme Barber</p>
        <div class="container-network">
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/SocialNetwork.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
