<section class="our-strategy">
<div  class="container">
<h1 class="our-strategy__title">Как мы это делаем</h1>
<ul class="our-strategy__list">
    <li class="our-strategy__item">
            <svg class="our-strategy__item-svg" width="45px" height="48px">
                <use href="./images/svg/sprite.svg#icon-strategy-1"></use>
            </svg>
            <div class="our-strategy__content">
                <h2 class="our-strategy__item-title">Адаптированная программа <br>
                подготовки к ВНО</h2>
            <p class="our-strategy__description">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.</p>
        </div>
    </li>
    <li class="our-strategy__item">
            <svg class="our-strategy__item-svg" width="47px" height="48px">
                <use href="./images/svg/sprite.svg#icon-strategy-2"></use>
            </svg>
            <div class="our-strategy__content">
                <h2 class="our-strategy__item-title">Аудитория и <br> онлайн-обучение</h2>
            <p class="our-strategy__description">Учитель поможет не только в аудитории, но и во время домашней подготовки.
            Родители могут участвовать в чате при желании.</p>
        </div>
    </li>
    <li class="our-strategy__item">
            <svg class="our-strategy__item-svg" width="68px" height="48px">
                <use href="./images/svg/sprite.svg#icon-strategy-3"></use>
            </svg>
            <div class="our-strategy__content">
                <h2 class="our-strategy__item-title">Привычка читать на <br> английском языке</h2>
            <p class="our-strategy__description">Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон дважды в неделю.
</p>
        </div>
    </li>
    <li class="our-strategy__item">
            <svg class="our-strategy__item-svg" width="48px" height="48px">
                <use href="./images/svg/sprite.svg#icon-strategy-4"></use>
            </svg>
            <div class="our-strategy__content">
                <h2 class="our-strategy__item-title">Психологическая <br>
                поддержка</h2>
            <p class="our-strategy__description">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности
            в себе.</p>
        </div>
    </li>
    <li class="our-strategy__item">
            <svg class="our-strategy__item-svg" width="40px" height="48px">
                <use href="./images/svg/sprite.svg#icon-strategy-5"></use>
            </svg>
            <div class="our-strategy__content">
                <h2 class="our-strategy__item-title">Обучение по авторским <br> пособиям</h2>
            <p class="our-strategy__description">Тебе не нужно тратить время
            на самостоятельный поиск материала и ничего покупать дополнительно. Мы составили
            2 пособия для тебя.</p>
        </div>
    </li>
    <li class="our-strategy__item">
            <svg class="our-strategy__item-svg" width="57px" height="48px">
                <use href="./images/svg/sprite.svg#icon-strategy-6"></use>
            </svg>
            <div class="our-strategy__content">
                <h2 class="our-strategy__item-title">Умение воспринимать <br> устную английскую речь</h2>
            <p class="our-strategy__description">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
            и разбирать аудиозаписи
            в соответствии с изучаемой лексикой.</p>
        </div>
    </li>
</ul>
</div>
</section>