<!-- section Our Program -->
<section class="our-program">
    <div class="container">
        <h2>Наша программа</h2>
        <ul>
            <li>
                <h4>1 Семестр</h4>
            </li>
            <li>
                <h4>2 Семестр</h4>
            </li>
            <li>
                <h4>3 Семестр</h4>
            </li>
            <li>
                <h4>4 Семестр</h4>
            </li>
            <li>
                <h4>5 Семестр</h4>
            </li>
        </ul>
    </div>
</section>