<section>
  <div>
    <div>
      <h2>старая традиционная школа</h2>
      <h3>Почему приходят именно к нам?</h3>
      <p>
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
    <div>
      <ul>
        <li>
          <span>600<sup>+</sup></span
          ><br />
          <span>Довольных клиентов в день</span>
        </li>
        <li>
          <span>50<sup>+</sup></span
          ><br />
          <span>Наград за отличный сервис</span>
        </li>
        <li>
          <span>20<sup>+</sup></span
          ><br />
          <span>Лучших мастеров Киева</span>
        </li>
        <li>
          <span>100<sup>+</sup></span
          ><br />
          <span>Подарков постоянным клиентам</span>
        </li>
      </ul>
    </div>
  </div>
</section>
