<section class="team-section background">
  <div class="team-container">
    <p class="additional">для настоящих ценителей атмосферы</p>
    <h2 class="section-title">Наши мастера</h2>
    <ul class="team-list">
      <li class="worker-card">
        <div class="thumb">
          <img
            class="photo"
            srcset="
              ./images/smith-photo.jpg    1x,
              ./images/smith-photo@2x.jpg 2x,
              ./images/smith-photo@3x.jpg 3x
            "
            src="./images/smith-photo.jpg"
            alt="фото Джона Смитта"
          />
        </div>
        <div class="worker-info">
          <h3 class="worker-name">John Smith</h3>
          <p class="worker-profession">Extreme Barber</p>
          <ul class="socials-list">
            <li>
              <a href="#" aria-label="Ссылка на Instagram" class="socials-link">
                <svg width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Twitter" class="socials-link"
                ><svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Facebook" class="socials-link">
                <svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Linkedin" class="socials-link"
                ><svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="worker-card">
        <div class="thumb">
          <img
            class="photo"
            srcset="
              ./images/doe-photo.jpg    1x,
              ./images/doe-photo@2x.jpg 2x,
              ./images/doe-photo@3x.jpg 3x
            "
            src="./images/doe-photo.jpg"
            alt="фото Мишеля Доу"
          />
        </div>
        <div class="worker-info">
          <h3 class="worker-name">Michele Doe</h3>
          <p class="worker-profession">Extreme Barber</p>
          <ul class="socials-list">
            <li>
              <a href="#" aria-label="Ссылка на Instagram" class="socials-link">
                <svg width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Twitter" class="socials-link"
                ><svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Facebook" class="socials-link">
                <svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Linkedin" class="socials-link"
                ><svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="worker-card">
        <div class="thumb">
          <img
            class="photo"
            srcset="
              ./images/black-photo.jpg    1x,
              ./images/black-photo@2x.jpg 2x,
              ./images/black-photo@3x.jpg 3x
            "
            src="./images/black-photo.jpg"
            alt="фото Алана Блэка"
          />
        </div>
        <div class="worker-info">
          <h3 class="worker-name">Alan Black</h3>
          <p class="worker-profession">Extreme Barber</p>
          <ul class="socials-list">
            <li>
              <a href="#" aria-label="Ссылка на Instagram" class="socials-link">
                <svg width="20" height="20">
                  <use
                    href="./images/symbol-defs.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Twitter" class="socials-link"
                ><svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Facebook" class="socials-link">
                <svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Linkedin" class="socials-link"
                ><svg width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
