<section class="advantages">
    <div class="container">
        <ul class="list advantages-list">
            <li class="advantages-list-item person">
                <svg class="advantages-icon">
                    <use href="../src/images/sprite.svg#icon-advantages1"></use>
                </svg>
                <p class="advantages-content">Адаптированная авторская программа ВНО</p>
            </li>
            <li class="advantages-list-item mobil">
                <svg class="advantages-icon">
                    <use href="../src/images/sprite.svg#icon-advantages2"></use>
                </svg>
                <p class="advantages-content">Современные методики обучения</p>
            </li>
            <li class="advantages-list-item umbrella">
                <svg class="advantages-icon">
                    <use href="../src/images/sprite.svg#icon-advantages3"></use>
                </svg>
                <p class="advantages-content">Финансовая гарантия результата</p>
            </li>
        </ul>
    </div>
</section>