<!-- Our Team -->
<section class="section our-team">
  <div class="container">
    <h2 class="our-team__title">Преподаватель</h2>
    <div class="our-team-wrapper">
      <div class="our-team-left-side">
        <picture class="our-team__img">
          <source
            srcset="
              ./images/out-team/desktop-teacher.webp    1x,
              ./images/out-team/desktop-teacher@2x.webp 2x
            "
            media="(min-width:1355px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/out-team/tablet-teacher.webp    1x,
              ./images/out-team/tablet-teacher@2x.webp 2x
            "
            media="(min-width:727px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/out-team/mobile-teacher.webp    1x,
              ./images/out-team/mobile-teacher@2x.webp 2x
            "
            media="(min-width:319px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/out-team/desktop-teacher.jpg    1x,
              ./images/out-team/desktop-teacher@2x.jpg 2x
            "
            media="(min-width:1355px)"
          />
          <source
            srcset="
              ./images/out-team/tablet-teacher.jpg    1x,
              ./images/out-team/tablet-teacher@2x.jpg 2x
            "
            media="(min-width:727px)"
          />
          <source
            srcset="
              ./images/out-team/mobile-teacher.jpg    1x,
              ./images/out-team/mobile-teacher@2x.jpg 2x
            "
            media="(min-width:319px)"
          />
          <img src="./images/out-team/mobile-teacher.jpg" alt="Преподаватель" />
        </picture>
      </div>
      <div class="our-team-right-side">
        <h3 class="our-team__name">Елена Морева</h3>
        <ul class="our-team-experience">
          <li class="our-team-experience__item">
            <p>Опыт подготовки учеников к ВНО - 6 лет</p>
          </li>
          <li class="our-team-experience__item">
            <p>Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
          </li>
          <li class="our-team-experience__item">
            <p>
              Сдала на отлично международный аналог ВНО - Кембриджский PET
              (Preliminary English Test)
            </p>
          </li>
        </ul>
        <ul class="our-team-advantages">
          <li class="our-team-advantages__item">
            <p>
              Высшее образование получила в Институте международных отношений
              НАУ по специальности переводчик-аналитик.
            </p>
          </li>
          <li class="our-team-advantages__item">
            <p>
              В свободное время проходит курсы от лучших университетов мира по
              эффективному преподаванию и методикам написания сочинений.
            </p>
          </li>
          <li class="our-team-advantages__item">
            <p>
              В числе пройденных: English Grammar and Essay Writing (Berkeley),
              English Grammar&Style (The University of Queensland), How to Write
              an Essay (Berkeley), Academic and Business Writing (Berkeley), The
              Art of Teaching (GEMS education), Powerful Tools for Teaching and
              Learning (University of Houston).
            </p>
          </li>
        </ul>
        <a class="our-team__link" href="#"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
