<section class="our-program">
  <div class="container">
    <h2 class="our-program-title">Наша программа</h2>
    <ul class="our-program-list">
      <li class="our-program-item our-program-border">
        <h3 class="our-program-semestr">1 семестр</h3>
        <span class="our-program-type">Grammar</span>
        <p class="our-program-text">Nouns & Articles Adjectives & Adverb</p>
        <span class="our-program-type">Vocabulary</span>
        <p class="our-program-text">Family & Relations People & Society</p>
      </li>
      <li class="our-program-item our-program-border">
        <h3 class="our-program-semestr">2 семестр</h3>
        <span class="our-program-type">Grammar</span>
        <p class="our-program-text">Family & Relations People & Society</p>
        <span class="our-program-type">Vocabulary</span>
        <p class="our-program-text">Home School Work</p>
      </li>
      <li class="our-program-item our-program-border">
        <h3 class="our-program-semestr">3 семестр</h3>
        <span class="our-program-type">Grammar</span>
        <p class="our-program-text">
          Modal verbs Infinitive Gerund Participle: 1, 2
        </p>
        <span class="our-program-type"> Vocabulary</span>
        <p class="our-program-text">
          Travel & Tourism Culture & Free Time Sport
        </p>
        <span class="our-program-type">Writing</span>
        <p class="our-program-text">Informal Letter</p>
      </li>
      <li class="our-program-item our-program-border">
        <h3 class="our-program-semestr">4 семестр</h3>
        <span class="our-program-type">Grammar</span>
        <p class="our-program-text">
          Clauses: Conditional and Wishes Direct / Reported speech Preposition
          Conjunction Numeral
        </p>
        <span class="our-program-type">Vocabulary</span>
        <p class="our-program-text">
          Healthy Living Nature & Environment Money
        </p>
        <span class="our-program-type">Writing</span>
        <p class="our-program-text">Formal Letter</p>
      </li>
      <li class="our-program-item">
        <h3 class="our-program-semestr">5 семестр</h3>
        <span class="our-program-type"></span>
        <p class="our-program-text">Revision Tests</p>
      </li>
    </ul>
  </div>
</section>
