<section >
    <div class="our-programm">
        <H2 class="our-programm__h2">Наша программа</H2>
        <ul class="our-programm__list">
            <li class="our-programm__h3">1 семестр</li>
            <li class="our-programm__h4">— Grammar</li>
            <li class="our-programm__text">Nouns & Articles Adjectives & Adverb</li>
            <li class="our-programm__h4">— Vocabulary</li>
            <li class="our-programm__text">Family & Relations People & Society</li>

            <li class="our-programm__h3">2 семестр</li>
            <li class="our-programm__h4">— Grammar</li>
            <li class="our-programm__text">Pronouns Active Voice Passive Voice</li>
            <li class="our-programm__h4">— Vocabulary</li>
            <li class="our-programm__text">Home School Work</li>

            <li class="our-programm__h3">3 семестр</li>
            <li class="our-programm__h4">— Grammar</li>
            <li class="our-programm__text"> Modal verbs Infinitive Gerund Participle: 1, 2</li>
            <li class="our-programm__h4">— Vocabulary</li>
            <li class="our-programm__text">Travel & Tourism Culture & Free Time Sport</li>
            <li class="our-programm__h4">— Writing</li>
            <li class="our-programm__text">Informal Letter</li>

            <li class="our-programm__h3">4 семестр</li>
            <li class="our-programm__h4">— Grammar</li>
            <li class="our-programm__text"> Clauses: Conditional and Wishes Direct / Reported speech Preposition Conjunction Numeral</li>
            <li class="our-programm__h4">— Vocabulary</li>
            <li class="our-programm__text">Healthy Living Nature & Environment Money</li>
            <li class="our-programm__h4">— Writing</li>
            <li class="our-programm__text">Formal Letter</li>

            <li class="our-programm__h3">5 семестр</li>
            <li class="our-programm__h4">—</li>
            <li class="our-programm__text">Revision Tests</li>
      
        </ul>
    </div>
    <div class="why-we">
        <H2 class="why-we__h2">Почему нас выбирают</H2>
        <ul>
            <li class="why-we__h3">— 01</li>
            <li class="why-we__p">Обучение в малых командах</li>
            <li class="why-we__h3">— 02</li>
            <li class="why-we__p">Визуализированные конспекты</li>
            <li class="why-we__h3">— 03</li>
            <li class="why-we__p">Каждое занятие имеет цель и конкретный результ</li>
            <li class="why-we__h3">— 04</li>
            <li class="why-we__p">Ревльные результаты преподавателя</li>
            <li class="why-we__h3">— 05</li>
            <li class="why-we__p">Прогамма курса соответствует требованиям МОН Украин</li>
            <li class="why-we__h3"> — 06</li>
            <li class="why-we__p">Набор команд по уровням знаний</li>
         </ul>

    </div>

</section>