<section>
  <div class="container-main">
    <article class="container-main-main">
      <h2 class="why-us-slogan">старая традиционная школа</h2>
      <h3 class="why-us-question">Почему приходят именно к нам?</h3>
      <p class="why-us-title">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </article>
    <article class="why-us-statistics">
      <h2 class="visually-hidden">статистика салона</h2>
      <ul class="statistics-list">
        <li class="statistics-list-item">
          <span class="statistics-number"
            >600<sup class="statistics-plus">+</sup></span
          ><br />
          <span class="statistics-text">Довольных клиентов<br />в день</span>
        </li>
        <li class="statistics-list-item">
          <span class="statistics-number"
            >50<sup class="statistics-plus">+</sup></span
          ><br />
          <span class="statistics-text">Наград за отличный<br />сервис</span>
        </li>
        <li class="statistics-list-item">
          <span class="statistics-number"
            >20<sup class="statistics-plus">+</sup></span
          ><br />
          <span class="statistics-text">Лучших мастеров<br />Киева</span>
        </li>
        <li class="statistics-list-item">
          <span class="statistics-number"
            >100<sup class="statistics-plus">+</sup></span
          ><br />
          <span class="statistics-text">Подарков постоянным<br />клиентам</span>
        </li>
      </ul>
    </article>
  </div>
</section>
