<section class="our-guarantees section">
    <h2 class="our-guarantees__title">Мы гарантируем</h2>
    <div class="our-guarantees__box">
        <ul class="our-guarantees__list">
            <li class="our-guarantees__item our-guarantees__icon-line">
                <svg class="our-guarantees__icon" >
                    <use href="./icons/our-guarantees-sprite.svg#our-guarantees-fire"></use>
                </svg>
                Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании.
                Иначе
                мы вернем деньги.<span class="our-guarantees__slogan">*</span>
            </li>
            <li class="our-guarantees__item our-guarantees__icon-line">
                <svg class="our-guarantees__icon" >
                    <use href="./icons/our-guarantees-sprite.svg#our-guarantees-fire"></use>
                </svg>
                Ты научишься писать сочинения минимум на 10 баллов из 14.<span class="our-guarantees__slogan"> В то время как
                    20%
                    учеников получили за сочинение 0.</span>
            </li>
            <li class="our-guarantees__item our-guarantees__icon-line">
                <svg class="our-guarantees__icon" >
                    <use href="./icons/our-guarantees-sprite.svg#our-guarantees-fire"></use>
                </svg>
                Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после
                формирования команд.
            </li>
            <li class="our-guarantees__item">
                <svg class="our-guarantees__icon" >
                    <use href="./icons/our-guarantees-sprite.svg#our-guarantees-fire"></use>
                </svg>
                Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем
                особенности каждого ученика.
            </li>
        </ul>
    </div>
</section>
