<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Products</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/css/ourproducts-style.css" />
  </head>
  <body>
    <section class="slick ourproducts-section">
      <h2 class="modal-h2">
        Our <span class="modal-h2-orange">products</span>
      </h2>
      <div class="variable slider chocolate-card-container">
        <div class="chocolate-card">
          <img src="../images/ourproducts-images/cioco1.jpg" />
          <h3>ORANGE</h3>
          <p>Dark chocolate</p>
          <button class="ourproducts-button">45 UAH</button>
        </div>
        <div class="chocolate-card">
          <img src="../images/ourproducts-images/cioco2.jpg" />
          <h3>APPLE&CRANBERRY</h3>
          <p>Milk chocolate</p>
          <button class="ourproducts-button">50 UAH</button>
        </div>
        <div class="chocolate-card">
          <img src="../images/ourproducts-images/cioco3.jpg" />
          <h3>LIME&SEA SALT</h3>
          <p>Dark chocolate</p>
          <button class="ourproducts-button">66 UAH</button>
        </div>
        <div class="chocolate-card">
          <img src="../images/ourproducts-images/cioco4.jpg" />
          <h3>PINEAPPLE</h3>
          <p>Dark chocolate</p>
          <button class="ourproducts-button">54 UAH</button>
        </div>
        <div class="chocolate-card">
          <img src="../images/ourproducts-images/cioco5.jpg" />
          <h3>CLASSIC</h3>
          <p>Milk chocolate</p>
          <button class="ourproducts-button">45 UAH</button>
        </div>
        <div class="chocolate-card">
          <img src="../images/ourproducts-images/cioco6.jpg" />
          <h3>HONEY</h3>
          <p>Milk chocolate</p>
          <button class="ourproducts-button">50 UAH</button>
        </div>
        <div class="chocolate-card">
          <img src="../images/ourproducts-images/cioco7.jpg" />
          <h3>ROASTED FRUITS</h3>
          <p>Dark chocolate</p>
          <button class="ourproducts-button">66 UAH</button>
        </div>
        <div class="chocolate-card">
          <img src="../images/ourproducts-images/cioco8.jpg" />
          <h3>CLASSIC</h3>
          <p>White chocolate</p>
          <button class="ourproducts-button">54 UAH</button>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"
    ></script>
    <script src="/src/slick.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
      $(document).on('ready', function () {
        $('.variable').slick({
          dots: true,
          infinite: true,
          variableWidth: true,
          arrows: false,
          dotsClass: 'slick-dots',
        });
      });
    </script>
  </body>
</html>