<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Products</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../sass/ourproducts-style.css" />
  </head>
  <body>
    <section class="ourproducts-section">
      <h2 class="modal-h2">
        Our <span class="modal-h2-orange">products</span>
      </h2>
      <div class="chocolate-card-container">
        <ul class="chocolate-card-list">
          <li class="chocolate-card">
            <img
              src="../images/ourproducts-images/cioco1.jpg"
              alt="Orange Dark Chocolate"
            />
            <h3>ORANGE</h3>
            <p>Dark chocolate</p>
            <button class="ourproducts-button">45 UAH</button>
          </li>
          <li class="chocolate-card">
            <img
              src="../images/ourproducts-images/cioco2.jpg"
              alt="Orange Dark Chocolate"
            />
            <h3>APPLE&CRANBERRY</h3>
            <p>Milk chocolate</p>
            <button class="ourproducts-button">50 UAH</button>
          </li>
          <li class="chocolate-card">
            <img
              src="../images/ourproducts-images/cioco3.jpg"
              alt="Orange Dark Chocolate"
            />
            <h3>LIME&SEA SALT</h3>
            <p>Dark chocolate</p>
            <button class="ourproducts-button">66 UAH</button>
          </li>
          <li class="chocolate-card">
            <img
              src="../images/ourproducts-images/cioco4.jpg"
              alt="Orange Dark Chocolate"
            />
            <h3>PINEAPPLE</h3>
            <p>Dark chocolate</p>
            <button class="ourproducts-button">54 UAH</button>
          </li>
          <li class="chocolate-card">
            <img
              src="../images/ourproducts-images/cioco5.jpg"
              alt="Orange Dark Chocolate"
            />
            <h3>CLASSIC</h3>
            <p>Milk chocolate</p>
            <button class="ourproducts-button">45 UAH</button>
          </li>
          <li class="chocolate-card">
            <img
              src="../images/ourproducts-images/cioco6.jpg"
              alt="Orange Dark Chocolate"
            />
            <h3>HONEY</h3>
            <p>Milk chocolate</p>
            <button class="ourproducts-button">50 UAH</button>
          </li>
          <li class="chocolate-card">
            <img
              src="../images/ourproducts-images/cioco7.jpg"
              alt="Orange Dark Chocolate"
            />
            <h3>ROASTED FRUITS</h3>
            <p>Dark chocolate</p>
            <button class="ourproducts-button">66 UAH</button>
          </li>
          <li class="chocolate-card">
            <img
              src="../images/ourproducts-images/cioco8.jpg"
              alt="Orange Dark Chocolate"
            />
            <h3>CLASSIC</h3>
            <p>White chocolate</p>
            <button class="ourproducts-button">54 UAH</button>
          </li>
        </ul>
      </div>
      <!-- Insert svg for scroll -->
    </section>
  </body>
</html>
