<section class="outlets" id="outlets">
    <div class="content-container">
        <ul class="outlets-list">
            <li class="outlets-item">
                <div class="subtitle">CAFE</div>
                <h3 class="outlets-title">Chicago</h3>
                <p class="outlets-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="timetable-list">
                    <li>
                        <h3 class="timetable-title">Monday - Friday</h3>
                        <p class="timetable-desc">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <h3 class="timetable-title">Saturday - Sunday</h3>
                        <p class="timetable-desc">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="outlets-contacts">
                    <li class="contacts-item">+61(0) 383 766 284</li>
                    <li class="contacts-item">noreply@envato.com</li>
                </ul>
            </li>
            <li class="outlets-item">
                <div class="subtitle">FOODTRUCK</div>
                <h3 class="outlets-title">Los Angeles</h3>
                <p class="outlets-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="timetable-list">
                    <li>
                        <h3 class="timetable-title">Monday - Friday</h3>
                        <p class="timetable-desc">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <h3 class="timetable-title">Saturday - Sunday</h3>
                        <p class="timetable-desc">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="outlets-contacts">
                    <li class="contacts-item">+61(0) 383 766 284</li>
                    <li class="contacts-item">noreply@envato.com</li>
                </ul>
            </li>
            <li class="outlets-item">
                <div class="subtitle">CAFE</div>
                <h3 class="outlets-title">New York</h3>
                <p class="outlets-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="timetable-list">
                    <li>
                        <h3 class="timetable-title">Monday - Friday</h3>
                        <p class="timetable-desc">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <h3 class="timetable-title">Saturday - Sunday</h3>
                        <p class="timetable-desc">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="outlets-contacts">
                    <li class="contacts-item">+61(0) 383 766 284</li>
                    <li class="contacts-item">noreply@envato.com</li>
                </ul>
            </li>
        </ul>
    </div>
</section>