<section class="outlets" id="outlets">
    <div class="content-container">
        <ul class="outlets-list">
            <li class="outlets-item">
                <h3 class="subtitle">CAFE</h3>
                <p class="outlets-title">Chicago</p>
                <p class="outlets-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="timetable-list">
                    <li class="outlets-time-item">
                        <p class="timetable-title">Monday - Friday</p>
                        <p class="timetable-desc">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="outlets-time-item">
                        <p class="timetable-title">Saturday - Sunday</p>
                        <p class="timetable-desc">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="outlets-contacts">
                    <li><a class="contacts-item" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                    <li><a class="contacts-item" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </li>

            <li class="outlets-item">
                <h3 class="subtitle-food">FOODTRUCK</h3>
                <p class="outlets-title">Los Angeles</p>
                <p class="outlets-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="timetable-list">
                    <li class="outlets-time-item">
                        <p class="timetable-title">Monday - Friday</p>
                        <p class="timetable-desc">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="outlets-time-item">
                        <p class="timetable-title">Saturday - Sunday</p>
                        <p class="timetable-desc">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="outlets-contacts">
                    <li><a class="contacts-item" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                    <li><a class="contacts-item" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </li>
            <li class="outlets-item">
                <h3 class="subtitle">CAFE</h3>
                <p class="outlets-title">New York</p>
                <p class="outlets-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="timetable-list">
                    <li class="outlets-time-item">
                        <p class="timetable-title">Monday - Friday</p>
                        <p class="timetable-desc">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="outlets-time-item">
                        <p class="timetable-title">Saturday - Sunday</p>
                        <p class="timetable-desc">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="outlets-contacts">
                    <li><a class="contacts-item" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
                    <li><a class="contacts-item" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </li> 
            </ul> 
        </div>
</section>