<section id="page_our-masters" class="section section-masters">
  <div class="container">
    <p class="container-under-title under-title-masters">для настоящих ценителей атмосферы</p>
    <h2 class="container-title title-masters">Наши мастера</h2>
    <ul class="list-mastres">
      <li class="item-masters">
        <div class="thumb-photo-master"><img srcset="
          ./images/John_Smith.jpg  370w,
          ./images/John_Smith@2x.jpg  740w,
          ./images/John_Smith@3x.jpg 1110w
          
        " src="./images/John_Smith.jpg" alt="photo John Smith"  aria-label="photo John Smith"
        sizes="100vw, (min-width: 768px) 450px, (min-width: 1200px) 370px"></div>
        <h3 class="name-masters">John Smith</h3>
        <p class="prof-masters">Extreme Barber</p>
        <ul class="list-social-masters">
          <li><a href="https://www.instagram.com" aria-label="instagram logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-instagram"></use>
                                        </svg></li>
          <li><a href="https://twitter.com" aria-label="twitter logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-twitter"></use>
                                        </svg></li>
          <li><a href="https://www.facebook.com" aria-label="facebook logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-facebook"></use>
                                        </svg></li>
          <li><a href="https://www.linkedin.com" aria-label="linkedin logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-linkedin"></use>
                                        </svg></li>
        </ul>
      </li>
      <li class="item-masters">
        <div class="thumb-photo-master"><img srcset="
          ./images/Michele_Doe.jpg  370w,
          ./images/Michele_Doe@2x.jpg  740w,
          ./images/Michele_Doe@3x.jpg 1110w
          
        " src="./images/Michele_Doe.jpg" alt="photo Michele Doe" aria-label="photo Michele Doe"
          
          sizes="100vw, (min-width: 768px) 450px, (min-width: 1200px) 370px"></div>
        <h3 class="name-masters">Michele Doe</h3>
        <p class="prof-masters">Extreme Barber</p>
        <ul class="list-social-masters">
          <li><a href="https://www.instagram.com" aria-label="instagram logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-instagram"></use>
                                        </svg></li>
          <li><a href="https://twitter.com" aria-label="twitter logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-twitter"></use>
                                        </svg></li>
          <li><a href="https://www.facebook.com" aria-label="facebook logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-facebook"></use>
                                        </svg></li>
          <li><a href="https://www.linkedin.com" aria-label="linkedin logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-linkedin"></use>
                                        </svg></li>
        </ul>
      </li>
      <li class="item-masters">
        <div class="thumb-photo-master"><img srcset="
          ./images/Alan_Black.jpg  370w,
          ./images/Alan_Black@2x.jpg  740w,
          ./images/Alan_Black@3x.jpg 1110w
          
        " src="./images/Alan_Black.jpg" alt="photo Alan Black" aria-label="photo Alan Black"
          
          sizes="100vw, (min-width: 768px) 450px, (min-width: 1200px) 370px"></div>
        <h3 class="name-masters">Alan Black</h3>
        <p class="prof-masters">Extreme Barber</p>
        <ul class="list-social-masters">
          <li><a href="https://www.instagram.com" aria-label="instagram logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-instagram"></use>
                                        </svg></li>
          <li><a href="https://twitter.com" aria-label="twitter logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-twitter"></use>
                                        </svg></li>
          <li><a href="https://www.facebook.com" aria-label="facebook logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-facebook"></use>
                                        </svg></li>
          <li><a href="https://www.linkedin.com" aria-label="linkedin logo" class="logotype-social-masters">
                                        <svg  class="icon" height="20" width="20">
                                            <use href="./images/sprite.svg#icon-linkedin"></use>
                                        </svg></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
