<section class="our-help">
    <div class="container">
<ul class="our-help__item">
<li class="our-help__item-li">
    <h3 class="our-help__item-title">Название грамматики</h3>
</li>
<li>
    <h3 class="our-help__item-title">Неумение вомпринимать устную английскую речь</h3>
</li>
<li>
    <h3 class="our-help__item-title">Скупой словарный запас для написани сочинения</h3>
</li>
<li>
    <h3 class="our-help__item-title">Подготовка в одиночку</h3>
</li>
<li>
    <h3 class="our-help__item-title">Отсутствие единого ресурса знаний
</h3>
</li>
<li>
    <h3 class="our-help__item-title">Недостатой самоорганизации и лень</h3>
</li>
</ul>
</div>
</section>