<div class="header-container">
  <a class="header-logo" href="#">
    <svg width="69" height="55">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <button
    class="button-menu"
    type="button"
    aria-expanded="false"
    aria-controls="menu-container"
    data-menu-button
    data-open-modal
  >
    <svg width="40" height="40" aria-label="Переключатель мобильного меню">
      <use class="icon-menu" href="./images/sprite.svg#mobile-menu"></use>
      <use class="icon-close" href="./images/sprite.svg#close-menu"></use>
    </svg>
  </button>
  <div class="over is-hidden" data-backdrop>
    <div class="menu-container" id="menu-container" data-menu>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about-us" class="nav-link">О нас</a>
          </li>
          <li class="nav-item">
            <a href="#services-and-prices" class="nav-link">Услуги и цены</a>
          </li>
          <li class="nav-item">
            <a href="#page_our-masters" class="nav-link">Мастера</a>
          </li>
          <li class="nav-item">
            <a href="#contacts" class="nav-link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header-record">
        <a
          class="record-button"
          aria-controls="#page_footer"
          href="#page_footer"
          >онлайн-запись</a
        >
        <a href="tel:+380441111111" class="record-link">+38 044 111 11 11</a>
      </div>
      <ul class="social-list">
        <li class="social-item">
          <a href="https://www.instagram.com/" class="social-link before"
            >Instagram</a
          >
        </li>
        <li class="social-item">
          <a href="https://www.youtube.com/" class="social-link">Youtube</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="./js/menu.js"></script>
<script src="./js/modal.js"></script>
