<section class="features__section">
  <div class="container">
    <div class="features-container">
      <div class="features-box">
        <h2 class="features-box__title">Высокие стандарты разработки</h2>
        <p class="features-box__text">
          Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
          является стандартной "рыбой" для текстов на латинице с начала XVI века. стандартной
          "рыбой" для текстов на латинице с начала XVI века.
        </p>
        <a href="#" class="features__link">Подробнее о компании</a>
      </div>
      <img class="img_features" src="./images/img_features.jpg" alt="" width="500" height="400" />
    </div>
    <ul class="features__list">
      <li class="features__item">
        <svg class="features__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-web-programming"></use>
        </svg>
        <p class="features__numbers">125</p>
        <p class="features__text">Our projects</p>
      </li>
      <li class="features__item">
        <svg class="features__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-web-programming"></use>
        </svg>
        <p class="features__numbers">125</p>
        <p class="features__text">Our projects</p>
      </li>
      <li class="features__item">
        <svg class="features__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-web-programming"></use>
        </svg>
        <p class="features__numbers">125</p>
        <p class="features__text">Our projects</p>
      </li>
      <li class="features__item">
        <svg class="features__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-web-programming"></use>
        </svg>
        <p class="features__numbers">125</p>
        <p class="features__text">Our projects</p>
      </li>
    </ul>
  </div>
</section>
