<section class="request">
  <div class="request__anchor">
    <a id="request" name="service" class="request__anchor-link"></a>
  </div>
  <div class="container">
    <h2 class="title request__title">
      Регистрация на
      <span class="request__title-part">бесплатную</span>
      телефонную
      <span class="request__title-part">консультацию</span>
      по нюансам ВНО по английскому языку
    </h2>
    <p class="title request__subtitle">
      Оставь заявку на участие в
      <span class="request__subtitle-part">бесплатном занятии. <br /></span>
      С вами свяжется консультант и ответит на вопросы
    </p>
    <form action="#" class="request__form">
      <input
        type="text"
        name="name"
        class="request__form-input"
        placeholder="Имя*"
        required
        pattern="“[[A-Za-zА-Яа-яЁё]]”"
        minlength="2"
      />
      <input
        type="tel"
        name="phone"
        class="request__form-input"
        placeholder="Tелефон*"
        required
        pattern="[0-9]{3}\s[0-9]{3}\s[0-9]{4}"
        maxlength="15"
      />
      <small class="request__form-input-tel">Формат: 123 456 7890</small>
      <button type="submit" class="button request__form-btn">
        хочу на бесплатное занятие
      </button>
    </form>
  </div>
</section>
