<header class="header">
    <div class="container">
        <nav class="navigation">
            <ul class="navigation__list list">
                <li class="navigation__item">
                    <a href="" class="navigation__link link current">Главная</a>
                </li>
                <li class="navigation__item">
                    <a href="" class="navigation__link link">Наши проекты</a>
                </li>
                <li class="navigation__item">
                    <a href="" class="navigation__link link">Услуги</a>
                </li>
                <li class="navigation__item">
                    <a href="" class="navigation__link link">Новости</a>
                </li>
                <li class="navigation__item">
                    <a href="" class="navigation__link link">Контакты</a>
                </li>
            </ul>
         </nav>
    </div>
</header>