<section class="section footer-section">
  <div>
    <div class="container">
      <b class="footer-title">Онлайн-запись</b>
      <form action="">
        <input
          class="footer-input"
          type="name"
          name="full name"
          placeholder="Имя*"
        />
        <input
          class="footer-input"
          type="tel"
          name="telephone"
          placeholder="Телефон*"
        />
        <textarea
          class="footer-textarea"
          name="comment"
          rows="5"
          cols="45"
          placeholder="сообщение"
        ></textarea>
        <button class="button" type="submit">
          <span class="button-title">отправить</span>
        </button>
      </form>
    </div>
    <div class="container">
      <b class="footer-title">Контакты</b>
      <address>
        <ul class="contact-list">
          <li class="contact-time-data">
            <a href="">ул. Васильковая, 7А, Киев, 08132</a>
          </li>
          <li class="contact-time-data"><a href="">+38 044 111 11 11</a></li>
          <li class="contact-time-data"><a href="">barbershop@email.com</a></li>
        </ul>
      </address>
      <b class="time-title">время работы</b>
      <p class="contact-time-data">Ежедневно с 9:00 до 22:00</p>
    </div>
  </div>
</section>
<section class="section copyright-section">
  <div class="copyright">
    <p class="copyright-title">&#169;Copyright 2020</p>
    <div class="footer-social">
      <a class="social-text-link" href="">-----------</a>
      <a class="social-text-link" href="">Instagram</a>
      <a class="social-text-link" href="">Youtube</a>
    </div>
  </div>
</section>
