<!-- Footer -->
<footer class="footer">
    <div class="footer-ice-cream-block container">
        <div class="footer-ice-cream">
            <p class="footer-ice-cream-text">Homemade ice cream made</p>
            <h2 class="footer-ice-cream-title title">With passion</h2>
        </div>
        <div class="footer-address-section">
            <address class="footer-adderess-social-list">
                <ul class="social-list-link list">
                    <li class="social-list-item">
                        <a class="social-list-item-link link" href="" aria-label="icon github">
                            <svg class="social-list-item-svg">
                                <use href="../src/images/sprite.svg#github">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-item-link link" href="" aria-label="icon github">
                            <svg class="social-list-item-svg">
                                <use href="../src/images/sprite.svg#telegram">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-item-link link" href="" aria-label="icon github">
                            <svg class="social-list-item-svg">
                                <use href="../src/images/sprite.svg#facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a class="footer-address-tel link" href="tel:+610383766284">Feel free to contact <span class="footer-address-tel-txt">+61 (0) 383 766 284</span></a>
            </address>
        </div>
    </div>
        <div class="footer-line"></div>
    <p class="footer-copyright container">&#169; 2019 - IceCream. All Rights Reserved. </p>
</footer>
