<section class="problems">
<div class="container">
      <div class="problems-block">
      <h2 class="problems-title">Главные проблемы учеников 
        на English ВНО, которые мы помогаем решить
        </h2>
        </div>
        <div class="problems-content">
          <ul class="problems-list">
            <li class="problems-item">
              <h3 class="problems-item-title">— 01</h3>
              <p class="problems-item-text">Незнание грамматики</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 02</h3>
              <p class="problems-item-text">Неумение воспринимать устную английскую речь</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 03</h3>
              <p class="problems-item-text">Скупой словарный запас для написани сочинения</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 04</h3>
              <p class="problems-item-text">Подготовка в одиночку</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 05</h3>
              <p class="problems-item-text">Отсутствие единого ресурса знаний</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 06</h3>
              <p class="problems-item-text">Недостаток самоорганизации и лень</p>
            </li>
          </ul>
        </div>
        </div>
    </section>
