<footer class="page-footer">
    <div class="container-footer">
        
            <div class="footer-contacts">
                <div class="footer-caption">
                    <p class="footer-title">homemade ice cream made</p>
                    <p class="footer-subtitle">with passion</p>
                </div>
                
                <div class="footer-address">
                    <ul class="footer-social">
                        <li class="footer-item"><a class="footer-link" href="https://github.com" target="_blank">
                                <svg class="icon-footer" width="20" height="20">
                                    <use href="./icons/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-item"><a class="footer-link" href="https://tmtr.me/channel" target="_blank">
                                <svg class="icon-footer" width="20" height="16">
                                    <use href="./icons/symbol-defs.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer-item"><a class="footer-link" href="https://www.facebook.com" target="_blank">
                                <svg class="icon-footer" width="9" height="20">
                                    <use href="./icons/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="footer-tel">
                        <span>Feel free to contact</span>
                        <a class="footer-tellink" href="tel:610383766284">+61 (0) 383 766 284</a>
                    </div>
                </div>
            </div>
        <div class="footer-text">
            <p>© 2019 - IceCream. All Rights Reserved.</p>
            </div>
    </div>
</footer>