<section class="problems">
    <div class="container">
        <h3 class="problems__title title">Почему нас выбирают</h3>
        <ul class="problems__list list">
            <li class="problems__item pseudo-line">
                <p class="problems__numbers">01</p>
                <p class="problems__topic">Обучение в малых командах</p>
            </li>
            <li class="problems__item pseudo-line">
                <p class="problems__numbers">02</p>
                <p class="problems__topic">Визуализированные конспекты</p>
            </li>
            <li class="problems__item pseudo-line">
                <p class="problems__numbers">03</p>
                <p class="problems__topic">Каждое занятие имеет цель и конкретный результат</p>
            </li>
            <li class="problems__item pseudo-line">
                <p class="problems__numbers">04</p>
                <p class="problems__topic">Ревльные результаты преподавателя</p>
            </li>
            <li class="problems__item pseudo-line">
                <p class="problems__numbers">05</p>
                <p class="problems__topic">Прогамма курса соответствует требованиям МОН Украины</p>
            </li>
            <li class="problems__item pseudo-line">
                <p class="problems__numbers">06</p> 
                <p class="problems__topic">Набор команд по уровням знаний</p>
            </li>
        </ul>
  
    </div>
</section>