<section class="instructor">
  <div class="instructor__anchor">
    <a id="instructor" name="service" class="instructor__anchor-link"></a>
  </div>
  <div class="container">
    <h2 class="instructor__title title">Преподаватель</h2>
    <div class="instructor__wrapper">
      <picture>
        <source
          srcset="
            ./images/desctop/teac.webp    1x,
            ./images/desctop/teac@2x.webp 2x
          "
          media="(min-width: 1400px)"
          type="image/webp"
        />
        <source
          srcset="./images/desctop/teac.jpg 1x, ./images/desctop/teac@2x.jpg 2x"
          media="(min-width: 1400px)"
        />
        <source
          srcset="
            ./images/tablet/teac-tab.webp    1x,
            ./images/tablet/teac-tab@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/teac-tab.jpg    1x,
            ./images/tablet/teac-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/tel/teac-tel.webp    1x,
            ./images/tel/teac-tel@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="./images/tel/teac-tel.jpg 1x, ./images/tel/teac-tel@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img
          class="instructor__picture"
          src="./images/desctop/teac.jpg"
          alt="instructor foto"
        />
      </picture>

      <div class="instructor__info">
        <h3 class="instructor__subtitle">Елена Морева</h3>
        <ul class="instructor__skill-list list">
          <li class="instructor__skill-item">
            <p class="instructor__skill-description">
              Опыт подготовки учеников к ВНО - 6 лет
            </p>
          </li>
          <li class="instructor__skill-item">
            <p class="instructor__skill-description">
              Собственный результат сдачи ВНО - 197 баллов 2 года подряд
            </p>
          </li>
          <li class="instructor__skill-item">
            <p
              class="instructor__skill-description instructor__skill-description_special"
            >
              Сдала на отлично международный аналог ВНО - Кембриджский PET
              (Preliminary English Test)
            </p>
          </li>
        </ul>
        <div class="instructor__subinfo">
          <p class="instructor__gray">
            Высшее образование получила в Институте международных отношений НАУ
            по специальности переводчик-аналитик.
          </p>
          <p class="instructor__gray">
            В свободное время проходит курсы от лучших университетов мира по
            эффективному преподаванию и методикам написания сочинений.
          </p>
          <p class="instructor__gray">
            В числе пройденных: English Grammar and Essay Writing (Berkeley),
            English Grammar&Style (The University of Queesland), How to Write an
            Essay (Berkeley), Academic and Business Writing (Berkeley), The Art
            of Teaching (GEMS education), Powerful Tools for Teaching and
            Learning (University of Houston).
          </p>
          <a
            href="https://www.jbs.cam.ac.uk/executive-education/open-programmes/certificates-of-achievement/"
            class="instructor__link"
            target="_blank"
            >Cambrige English Entry Level Certificate</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
