<section class="problems">
<div class="container">
      <div class="problems-block">
      <picture>
        <img src="./images/problems/campfire.png" alt="огонь" width="455" height="472">
      </picture>
      <h2 class="problems-title">Главные проблемы учеников <br> 
        на English ВНО, которые <br> мы <span class="problems-title-word">помогаем</span> решить
        </h2>
        </div>
        <div class="problems-content">
          <ul class="problems-list">
            <li class="problems-item">
              <h3 class="problems-item-title">— 01</h3>
              <p class="problems-item-text">Незнание грамматики</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 02</h3>
              <p class="problems-item-text">Неумение воспринимать<br> устную английскую речь</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 03</h3>
              <p class="problems-item-text">Скупой словарный запас<br> для написания сочинения</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 04</h3>
              <p class="problems-item-text">Подготовка в одиночку</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 05</h3>
              <p class="problems-item-text">Отсутствие единого<br> ресурса знаний</p>
            </li>
            <li class="problems-item">
              <h3 class="problems-item-title">— 06</h3>
              <p class="problems-item-text">Недостаток <br> самоорганизации и лень</p>
            </li>
          </ul>
        </div>
        </div>
    </section>
