<footer>
  <div class="united-section">
    <section class="section footer-section-left">
      <!-- <div class="main-footer-container"> -->
      <div class="footer-container online-form-container">
        <b class="footer-title" id="page_footer">Онлайн-запись</b>
        <form action="">
          <div class="union-footer-input">
            <input
              class="footer-input"
              type="name"
              name="full name"
              placeholder="Имя*"
              autocomplete="off"
            />
            <input
              class="footer-input"
              type="tel"
              name="telephone"
              placeholder="Телефон*"
              autocomplete="off"
            />
          </div>
          <textarea
            class="footer-textarea"
            name="comment"
            rows="4"
            cols="45"
            placeholder="сообщение"
            autocomplete="off"
          ></textarea>
          <button class="button-dark-them" type="submit">
            <span class="button-title">отправить</span>
          </button>
        </form>
      </div>
    </section>
    <section class="footer-section-right">
      <div class="footer-container contacts-container">
        <div class="contacts-half-area contacts-left-area">
          <b class="footer-title">Контакты</b>
          <address>
            <ul class="contact-list">
              <li class="contact-time-data">
                <a href="" class="contact-time-data-link">
                  <svg class="contact-time-data-icon" width="24" height="24">
                    <use href="./images/sprite.svg#icon-map-pin"></use>
                  </svg>
                  <span class="streetaddress">
                    <span class="streetaddress-top">ул. Васильковая, 7А,</span>
                    <span class="streetaddress-bottom">Киев, 08132</span>
                  </span>
                </a>
              </li>
              <li class="contact-time-data">
                <a href="" class="contact-time-data-link">
                  <svg class="contact-time-data-icon" width="24" height="24">
                    <use href="./images/sprite.svg#icon-phone"></use>
                  </svg>
                  +38 044 111 11 11</a
                >
              </li>
              <li class="contact-time-data">
                <a href="" class="contact-time-data-link">
                  <svg class="contact-time-data-icon" width="24" height="24">
                    <use href="./images/sprite.svg#icon-mail"></use>
                  </svg>
                  barbershop@email.com</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div class="contacts-half-area contacts-right-area">
          <b class="time-title">время работы</b>
          <p class="contact-time-data">Ежедневно с 9:00 до 22:00</p>
        </div>
      </div>
    </section>
  </div>
  <section class="section copyright-section">
    <div class="copyright">
      <div class="footer-social">
        <a class="social-text-link" href="">Instagram</a>
        <a class="social-text-link" href="">Youtube</a>
      </div>
      <p class="copyright-title">Copyright 2020</p>
    </div>
  </section>
</footer>
