<section class="hero">
  <div class="hero__anchor">
    <a id="hero" name="service" class="hero__anchor-link"></a>
  </div>
  <div class="container">
    <div class="hero__left-side">
      <h1 class="title">
        Комплексная <span class="title__span">подготовка к ВНО</span>
        по английскому языку
      </h1>
      <p class="hero__subtitle">Просто не будет.</p>
      <p class="hero__description">
        Но ты гарантировано наберешь
        <span class="hero__decription-accent"> +25 баллов </span>
      </p>
      <a class="scrollto hero__form-btn button link" href="#request">
        хочу на бесплатное занятие
      </a>
    </div>

    <picture class="hero__img">
      <source
        media="(min-width: 1400px)"
        srcset="
          ./images/desctop/head-desc.png    1x,
          ./images/desctop/head-desc@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/tablet/head-tablet.png    1x,
          ./images/tablet/head-tablet@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="./images/tel/head-tel.png 1x, ./images/tel/head-tel@2x.png 2x"
      />
      <img
        src="./images/tel/head-tel.png"
        alt="Четыре девушки общаются, сидя за столом"
      />
    </picture>
  </div>
</section>
