<section class="section branch" ></section>
<div  class="container branch-container" ></div>
<h2 class="visually-hidden">Branch-cafe</h2>
<ul class="branch__list list">
    <li class="branch__item">
        <h3 class="branch__title">CAFE</h3>
        <b class="branch__text-city">Chicago</b>
        <p class="branch__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
   <ul class="branch__list-timetable" >
       <li class="branch__item-timetable">
            <b class="branch__text-day">Monday - Friday</b>
            <p class="branch__text-time">06:00 AM - 10:00 PM</p>
       </li>
       <li class="branch__item-timetable">
            <b class="branch__text-day">Saturday - Sunday</b>
            <p class="branch__text-time">08:00 AM - 16:00 PM</p>
       </li>
   </ul> 
    <ul class="branch__list-contact">
        <li class="branch__item-contact">
         <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
         
        </li>
        <li class="branch__item-contact">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>          
        </li>
    </ul>

    </li>
    <li class="branch__item">
        <h3 class="branch__title--accent">FOOD TRUCK</h3>
        <b class="branch__title-city">Los Angeles</b>
        <p branch-text>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="branch__list-timetable">
            <li class="branch__item-timetable">
                <b class="branch__text-day">Monday - Friday</b>
                <p class="branch__text-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="branch__item-timetable">
                <b class="branch__text-day">Saturday - Sunday</b>
                <p class="branch__text-time">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
        
        <ul class="branch__list-contact">
            <li class="branch__item-contact">
                <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
        
            </li>
            <li class="branch__item-contact">
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
    
    </li>
<li class="branch__item">
    <h3 class="branch__title">CAFE</h3>
    <b class="branch__title-city">New York</b>
    <p branch-text>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>   
    <ul class="branch__list-timetable">
        <li class="branch__item-timetable">
            <b class="branch__text-day">Monday - Friday</b>
            <p class="branch__text-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="branch__item-timetable">
            <b class="branch__text-day">Saturday - Sunday</b>
            <p class="branch__text-time">08:00 AM - 16:00 PM</p>
        </li>
    </ul>
    
    <ul class="branch__list-contact">
        <li class="branch__item-contact">
            <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
    
        </li>
        <li class="branch__item-contact">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>

</li>
</ul>