<section class="header">
    <div class="container">
        <nav class="nav">

            <div class="header__logo-wrap">
                <a class="header__logo-link link" href="logo" aria-label="логотип">
                    <span class=“logo__h” lang="en">Hell</span>

                    <svg class="header__logo-svg" width="22" height="30">
                        <use href="../src/images/icons/sprite.svg#icon-flame"></use>
                    </svg>
                    <span class="logo__e" lang="en">EN</span>
                </a>
                <p class="header__logo-subtitle"><span class="header__logo-subtitle-accent">адский</span> английский</p>
            </div>


            <ul class="nav__list list">
                <li class="nav__list-item">
                    <a class="nav__list-link link" href="">Программы обучения</a>
                </li>
                <li class="nav__list-item">
                   <a class="nav__list-link link" href="">О нас</a>
                </li>
                <li class="nav__list-item">
                   <a class="nav__list-link link" href="">Варианты обучения</a>
                </li>
                <li class="nav__list-item">
                   <a class="nav__list-link link" href="">Контакты</a>
                </li>
            </ul>

            <a class="nav__form-btn link" href="">Консультация по телефону
            </a>

            <button class="burger-btn" type="button" data-modal-open>
                <svg width="40" height="40" aria-label="Перключатель мобильного меню">
                    <use class="icon-menu" href="../src/images/icons/sprite.svg#icon-menu"></use>
                </svg>
            </button>

            <div class="menu-wrap is-hidden" data-modal>
                <div class="menu-wrap__dark-logo">
                    <a class="menu-wrap__logo-link link" 
                        href="logo" aria-label="логотип">
                        <span class=“menu-wrap__logo-h” lang="en">Hell</span>
                        <svg class="menu-wrap__logo-svg" width="22" height="30">
                            <use href="../src/images/icons/sprite.svg#icon-flame">
                            </use>
                        </svg>
                        <span class="menu-wrap__logo-e" lang="en">EN</span>
                    </a>
                    <p class="menu-wrap__logo-subtitle"><span class="menu-wrap__logo-subtitle-accent">адский</span> английский</p>
                </div>

                <button class="burger-cross" data-modal-close>
                    <svg class="cross-svg" width="40" height="40" aria-label="Перключатель мобильного меню">
                        <use class="icon-cross" href="../src/images/icons/sprite.svg#icon-cross"></use>
                    </svg>
                </button>

                <ul class="menu-wrap__list list">
                    <li class="menu-wrap__list-item">
                        <a class="menu-wrap__list-link link" href="">Программы обучения</a>
                    </li>
                    <li class="menu-wrap__list-item">
                        <a class="menu-wrap__list-link link" href="">О нас</a>
                    </li>
                    <li class="menu-wrap__list-item">
                        <a class="menu-wrap__list-link link" href="">Варианты обучения</a>
                    </li>
                    <li class="menu-wrap__list-item">
                        <a class="menu-wrap__list-link link" href="">Контакты</a>
                    </li>
                </ul>
            
                <a class="menu-wrap__form-btn link" href="">Консультация по телефону
                </a>
            </div>

        </nav>
    </div>
</section>