<section class="section">
  <div class="container">
    <div class="examples_statement">
      <p class="statement">На латинском языке “барба” означает “борода”</p>
    </div>
    <div class="examples_container">
      <ul class="photo_set">
        <li class="examples_item">
          <div class="thumb">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/rectangle25_418.jpg    1x,
                  ./images/rectangle25_418@2x.jpg 2x,
                  ./images/rectangle25_418@2x.jpg 3x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/rectangle25_330.jpg    1x,
                  ./images/rectangle25_330@2x.jpg 2x,
                  ./images/rectangle25_330@2x.jpg 3x
                "
              />
              <source
                media="(max-width: 1280px)"
                srcset="
                  ./images/rectangle25_270.jpg    1x,
                  ./images/rectangle25_270@2x.jpg 2x,
                  ./images/rectangle25_270@2x.jpg 3x
                "
              />
              <img
                src="./images/rectangle25_418.jpg"
                alt="в_процессе_работы"
                srcset="
                  ./images/rectangle25_418.jpg    1x,
                  ./images/rectangle25_418@2x.jpg 2x,
                  ./images/rectangle25_418@2x.jpg 3x
                "
              />
            </picture>
          </div>
        </li>
        <li class="examples_item">
          <div class="thumb">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/rectangle26_418.jpg    1x,
                  ./images/rectangle26_418@2x.jpg 2x,
                  ./images/rectangle26_418@2x.jpg 3x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/rectangle26_330.jpg    1x,
                  ./images/rectangle26_330@2x.jpg 2x,
                  ./images/rectangle26_330@2x.jpg 3x
                "
              />
              <source
                media="(max-width: 1280px)"
                srcset="
                  ./images/rectangle26_270.jpg    1x,
                  ./images/rectangle26_270@2x.jpg 2x,
                  ./images/rectangle26_270@2x.jpg 3x
                "
              />
              <img
                src="./images/rectangle26_418.jpg"
                alt="в_процессе_работы"
                srcset="
                  ./images/rectangle26_418.jpg    1x,
                  ./images/rectangle26_418@2x.jpg 2x,
                  ./images/rectangle26_418@2x.jpg 3x
                "
              />
            </picture>
          </div>
        </li>
        <li class="examples_item">
          <div class="thumb">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/rectangle27_418.jpg    1x,
                  ./images/rectangle27_418@2x.jpg 2x,
                  ./images/rectangle27_418@2x.jpg 3x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/rectangle27_330.jpg    1x,
                  ./images/rectangle27_330@2x.jpg 2x,
                  ./images/rectangle27_330@2x.jpg 3x
                "
              />
              <source
                media="(max-width: 1280px)"
                srcset="
                  ./images/rectangle27_270.jpg    1x,
                  ./images/rectangle27_270@2x.jpg 2x,
                  ./images/rectangle27_270@2x.jpg 3x
                "
              />
              <img
                src="./images/rectangle27_418.jpg"
                alt="в_процессе_работы"
                srcset="
                  ./images/rectangle27_418.jpg    1x,
                  ./images/rectangle27_418@2x.jpg 2x,
                  ./images/rectangle27_418@2x.jpg 3x
                "
              />
            </picture>
          </div>
        </li>
        <li class="examples_item">
          <div class="thumb">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/rectangle28_418.jpg     418w,
                  ./images/rectangle28_418@2x.jpg  836w,
                  ./images/rectangle28_418@2x.jpg 1254w
                "
                sizes="100vw"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/rectangle28_330.jpg    330w,
                  ./images/rectangle28_330@2x.jpg 660w,
                  ./images/rectangle28_330@2x.jpg 990w
                "
                sizes="50vw"
              />
              <source
                media="(max-width: 1280px)"
                srcset="
                  ./images/rectangle28_270.jpg    270w,
                  ./images/rectangle28_270@2x.jpg 540w,
                  ./images/rectangle28_270@2x.jpg 810w
                "
                sizes="25vw"
              />
              <img
                src="./images/rectangle28_418.jpg "
                alt="в_процессе_работы"
                sizes="100vw"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
