<section class="section">
  <div class="container examples">
    <div class="examples_statement">
      <p class="statement">На латинском языке “барба” означает “борода”</p>
    </div>
    <div class="examples_container">
      <ul class="examples_photo">
        <li class="examples_item">
          <div class="examples_picture">
            <picture>
              <source
                srcset="
                  ./images/rectangle25_418.jpg    1x,
                  ./images/rectangle25_418@2x.jpg 2x,
                  ./images/rectangle25_418@2x.jpg 3x
                "
                media="(max-width: 767px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/rectangle25_270.jpg    1x,
                  ./images/rectangle25_270@2x.jpg 2x,
                  ./images/rectangle25_270@2x.jpg 3x
                "
                media="(min-width: 1280px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/rectangle25_330.jpg    1x,
                  ./images/rectangle25_330@2x.jpg 2x,
                  ./images/rectangle25_330@2x.jpg 3x
                "
                media="(min-width: 768px) "
                type="image/jpg"
              />
              <img
                srcset="
                  ./images/rectangle25_270.jpg     270w,
                  ./images/rectangle25_330.jpg     330w,
                  ./images/rectangle25_418.jpg     418w,
                  ./images/rectangle25_270@2x.jpg  540w,
                  ./images/rectangle25_330@2x.jpg  660w,
                  ./images/rectangle25_418@2x.jpg  836w,
                  ./images/rectangle25_270@2x.jpg  810w,
                  ./images/rectangle25_330@2x.jpg  990w,
                  ./images/rectangle25_418@2x.jpg 1254w
                "
                src="./images/rectangle25_418.jpg "
                sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, 418px"
                alt="в_процессе_работы"
              />
            </picture>
          </div>
        </li>
        <li class="examples_item">
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/rectangle26_418.jpg    1x,
                  ./images/rectangle26_418@2x.jpg 2x,
                  ./images/rectangle26_418@2x.jpg 3x
                "
                media="(max-width: 767px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/rectangle26_270.jpg    1x,
                  ./images/rectangle26_270@2x.jpg 2x,
                  ./images/rectangle26_270@2x.jpg 3x
                "
                media="(min-width: 1280px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/rectangle26_330.jpg    1x,
                  ./images/rectangle26_330@2x.jpg 2x,
                  ./images/rectangle26_330@2x.jpg 3x
                "
                media="(min-width: 768px) "
                type="image/jpg"
              />
              <img
                srcset="
                  ./images/rectangle26_270.jpg     270w,
                  ./images/rectangle26_330.jpg     330w,
                  ./images/rectangle26_418.jpg     418w,
                  ./images/rectangle26_270@2x.jpg  540w,
                  ./images/rectangle26_330@2x.jpg  660w,
                  ./images/rectangle26_418@2x.jpg  836w,
                  ./images/rectangle26_270@2x.jpg  810w,
                  ./images/rectangle26_330@2x.jpg  990w,
                  ./images/rectangle26_418@2x.jpg 1254w
                "
                src="./images/rectangle26_418.jpg "
                sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, 418px"
                alt="в_процессе_работы"
              />
            </picture>
          </div>
        </li>
        <li class="examples_item">
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/rectangle27_418.jpg    1x,
                  ./images/rectangle27_418@2x.jpg 2x,
                  ./images/rectangle27_418@2x.jpg 3x
                "
                media="(max-width: 767px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/rectangle27_270.jpg    1x,
                  ./images/rectangle27_270@2x.jpg 2x,
                  ./images/rectangle27_270@2x.jpg 3x
                "
                media="(min-width: 1280px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/rectangle27_330.jpg    1x,
                  ./images/rectangle27_330@2x.jpg 2x,
                  ./images/rectangle27_330@2x.jpg 3x
                "
                media="(min-width: 768px) "
                type="image/jpg"
              />
              <img
                srcset="
                  ./images/rectangle27_270.jpg     270w,
                  ./images/rectangle27_330.jpg     330w,
                  ./images/rectangle27_418.jpg     418w,
                  ./images/rectangle27_270@2x.jpg  540w,
                  ./images/rectangle27_330@2x.jpg  660w,
                  ./images/rectangle27_418@2x.jpg  836w,
                  ./images/rectangle27_270@2x.jpg  810w,
                  ./images/rectangle27_330@2x.jpg  990w,
                  ./images/rectangle27_418@2x.jpg 1254w
                "
                src="./images/rectangle27_418.jpg "
                sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, 418px"
                alt="в_процессе_работы"
              />
            </picture>
          </div>
        </li>
        <li class="examples_item">
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/rectangle28_418.jpg    1x,
                  ./images/rectangle28_418@2x.jpg 2x,
                  ./images/rectangle28_418@2x.jpg 3x
                "
                media="(max-width: 767px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/rectangle28_270.jpg    1x,
                  ./images/rectangle28_270@2x.jpg 2x,
                  ./images/rectangle28_270@2x.jpg 3x
                "
                media="(min-width: 1280px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/rectangle28_330.jpg    1x,
                  ./images/rectangle28_330@2x.jpg 2x,
                  ./images/rectangle28_330@2x.jpg 3x
                "
                media="(min-width: 768px) "
                type="image/jpg"
              />
              <img
                srcset="
                  ./images/rectangle28_270.jpg     270w,
                  ./images/rectangle28_330.jpg     330w,
                  ./images/rectangle28_418.jpg     418w,
                  ./images/rectangle28_270@2x.jpg  540w,
                  ./images/rectangle28_330@2x.jpg  660w,
                  ./images/rectangle28_418@2x.jpg  836w,
                  ./images/rectangle28_270@2x.jpg  810w,
                  ./images/rectangle28_330@2x.jpg  990w,
                  ./images/rectangle28_418@2x.jpg 1254w
                "
                src="./images/rectangle28_418.jpg "
                sizes="(min-width: 1280px) 270px, (min-width: 768px) 330px, 418px"
                alt="в_процессе_работы"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
