<section class="footer">
    <div class="container">
        <div class="footer__direction">
            <!-- <a href="/index.html" class="footer-logo">
                <svg width="84.12" height="30">
                    <use href="./icons/footer-icons/footer-logo.svg"></use>
                </svg>
            </a> -->
            <!-- <a href="tel:+38 (000) 000 00 00">
                <svg width="20" height="19.21">
                    <use href="./icons/footer-sprite.svg#footer-mob-phone"></use>
                </svg>
            </a> -->
        </div>
    </div>
</section>