<!-- Как мы это делаем -->
<section class="how-do">
    <div class="container">
        <h2 class="how-do-title">Как мы это делаем</h2>
        <ul class="how-do-list list">
            <li class="how-do-list-item">
            <svg class="how-do-icon" width="45" height="48">
                <use href="./images/sprite.svg#Document"></use>
            </svg>
            
            <h3 class="skills-title">Адаптированная программа подготовки к ВНО</h3>
            
            <p class="skills-text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.</p>
               
            </li>
            <li class="how-do-list-item">
                <svg class="how-do-icon" width="45" height="48">
                    <use href="./images/sprite.svg#Cap"></use>
                </svg>
                <h3 class="skills-title">Аудитория и<br />онлайн-обучение</h3>
                
                <p class="skills-text">Учитель поможет не только в аудитории, но и во время домашней подготовки. Родители могут участвовать в чате при желании.</p>
               
            </li>
            <li class="how-do-list-item">
            <svg class="how-do-icon" width="45" height="48">
                <use href="./images/sprite.svg#Book"></use>
            </svg>
            <h3 class="skills-title">Привычка читать на английском языке</h3>
            
            <p class="skills-text">Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон дважды в неделю.</p>
            </li>
            <li class="how-do-list-item">
                <div class="how-do-card">
                <svg class="how-do-icon" width="45" height="48">
                    <use href="./images/sprite.svg#Hand"></use>
                </svg>
                <h3 class="skills-title">Психологическая <br> поддержка</h3>
                <p class="skills-text">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности в себе.</p>
                </div>
               
            </li>
            <li class="how-do-list-item">
                <svg class="how-do-icon" width="45" height="48">
                    <use href="./images/sprite.svg#Person"></use>
                </svg>
                <h3 class="skills-title">Обучение по авторским пособиям</h3>
                <p class="skills-text">Тебе не нужно тратить время на самостоятельный поиск материала и ничего покупать дополнительно.
                    Мы составили 2 пособия для тебя.</p>
                
            </li>
            <li class="how-do-list-item">
                <svg class="how-do-icon" width="45" height="48">
                    <use href="./images/sprite.svg#Music"></use>
                </svg>
                <h3 class="skills-title">Умение воспринимать устную английскуб речь</h3>
                <p class="skills-text">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать аудиозаписи в
                    соответствии с изучаемой лексикой.</p>
               
            </li>
        </ul>
    </div>
</section>