<div class="works">
  <div class="works-background"></div>

  <div class="works-container container">

    <div class="works-top">
    <h2 class="works__title title">
      Наши работы, на которых мы специализируемся
    </h2>
    
    <button class="works__button" type="button">Все услуги</button>
    </div>


    <ul class="works-list">

      <li class="works-list__item">
              <picture>
                <!--<source srcset="./images/works/1x/demo@1x.webp 1x, ./images/works/2x/demo@2x.webp 2x"
                  media="(min-width: 1200px)" type="image/webp">-->
                <source srcset="./images/works/1x/demo@1x.jpg 1x, ./images/works/2x/demo@2x.jpg 2x"
                  media="(min-width: 1200px)">
                <img class="works-list__img" src="./images/works/2x/demo@2x.jpg" alt="Пример работы">
              </picture>
        <h3 class="woks-list__name"><span class="works-list__text--number-color">01.</span> Исследование и упаковка </h3>
          <p class="works-list__text">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
          </p>
        <a href="" class="works-list__link">Подробнее</a>
      </li>

      <li class="works-list__item">
        <picture>
          <!--<source srcset="./images/works/1x/demo@1x.webp 1x, ./images/works/2x/demo@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">-->
          <source srcset="./images/works/1x/demo@1x.jpg 1x, ./images/works/2x/demo@2x.jpg 2x" media="(min-width: 1200px)">
          <img class="works-list__img" src="./images/works/2x/demo@2x.jpg" alt="Пример работы">
        </picture>
        <h3 class="woks-list__name"><span class="works-list__text--number-color">01.</span> Исследование и упаковка </h3>
        <p class="works-list__text">
          Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
          для текстов на латинице с начала XVI века.
        </p>
        <a href="" class="works-list__link">Подробнее</a>
      </li>

      <li class="works-list__item">
        <picture>
          <!--<source srcset="./images/works/1x/demo@1x.webp 1x, ./images/works/2x/demo@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">-->
          <source srcset="./images/works/1x/demo@1x.jpg 1x, ./images/works/2x/demo@2x.jpg 2x" media="(min-width: 1200px)">
          <img class="works-list__img" src="./images/works/2x/demo@2x.jpg" alt="Пример работы">
        </picture>
        <h3 class="woks-list__name"><span class="works-list__text--number-color">01.</span> Исследование и упаковка </h3>
        <p class="works-list__text">
          Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
          для текстов на латинице с начала XVI века.
        </p>
        <a href="" class="works-list__link">Подробнее</a>
      </li>

      </ul>

      <div class="section-line"></div>

  </div>

</div>