
    <section class="warranties">
     <div class="container">
        <h2 class="warranties__title title">Мы гарантируем</h2>
        <ul class="warranties__list list">
            <li class="warranties__item">
                Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.<span class="warranties__item_text">*</span>
            </li>
            <li class="warranties__item">
                Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="warranties__item_text">В то время как 20% учеников получили за сочинение 0.</span>
            </li>
            <li class="warranties__item">
                Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.
            </li>
            <li class="warranties__item">
                Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.
            </li>
        </ul>
     </div>
    </section>