<section class="feature">
    <div class="container">
        <ul class="feature__list list">
            <li class="feature__list-item">
                <div class="feature__icon-wrap">
                    <svg class="feature__list-svg feature__icon-female">
                        <use href="./images/icons/sprite.svg#icon-female"></use>
                    </svg>
                </div>
                <h2 class="feature__title">Адаптированная авторская
                    программа ВНО</h2>
            </li>
            <li class="feature__list-item">
                <div class="feature__icon-wrap">
                    <svg class="feature__list-svg feature__icon-mobile">
                        <use href="./images/icons/sprite.svg#icon-mobile-edu"></use>
                    </svg>
                </div>
                <h2 class="feature__title">Современные
                    методики обучения</h2>
            </li>
            <li class="feature__list-item">
                <div class="feature__icon-wrap">
                    <svg class="feature__list-svg feature__icon-umbrella">
                        <use href="./images/icons/sprite.svg#icon-umbrella"></use>
                    </svg>
                </div>
                <h2 class="feature__title">Финансовая гарантия
                    результата</h2>
            </li>
        </ul>
    </div>
</section>