<section class="section">
  <div class="container">
    <p class="container-over-title">Проведи время в компании лучших мастеров</p>
    <h2 class="container-title">Услуги и цены</h2>
  </div>
  <ul>
    <li><span>Мужская стрижка</span>от 300 грн.</li>
    <li><span>Стрижка бороды</span>от 200 грн.</li>
    <li><span>Стрижка усов</span>от 200 грн.</li>
    <li><span>Бритье опасной бритвой</span>от 200 грн.</li>
    <li><span>Cтрижка у стажера</span>от 50 грн.</li>
    <li><span>Стрижка под насадку</span>от 200 грн.</li>
    <li><span>Детская стрижка (до 12 лет)</span>от 300 грн.</li>
    <li><span>Камуфлирование седины</span>от 200 грн.</li>
  </ul>
  <button>онлайн-запись</button>
</section>
