<section class="how-we-do">
  <div class="how-we-do__anchor">
    <a id="how-we-do" name="service" class="how-we-do__anchor-link"></a>
  </div>

  <div class="container">
    <h2 class="how-we-do__main-caption">Как мы это делаем</h2>
    <ul class="how-we-do__item list">
      <li class="how-we-do__item-li">
        <div class="how-we-do__item_border">
          <svg class="how-we-do__item_svg" width="45" height="48">
            <use href="./images/icons/sprite.svg#icon-note"></use>
          </svg>
          <h3 class="how-we-do__item_caption psevdo-line">
            Адаптированная программа подготовки к ВНО
          </h3>

          <p class="how-we-do__item-text">
            Ты будешь изучать грамматику и лексику одновременно. И ты научишься
            писать сочинения.
          </p>
        </div>
      </li>
      <li class="how-we-do__item-li">
        <div class="how-we-do__item_border">
          <svg class="how-we-do__item_svg" width="48" height="47">
            <use href="./images/icons/sprite.svg#icon-mobile-edu"></use>
          </svg>
          <h3 class="how-we-do__item_caption psevdo-line">
            Аудитория и <br />
            онлайн-обучение
          </h3>

          <p class="how-we-do__item-text">
            Учитель поможет не только в аудитории, но и во время домашней
            подготовки. Родители могут участвовать в чате при желании
          </p>
        </div>
      </li>
      <li class="how-we-do__item-li">
        <div class="how-we-do__item_border">
          <svg class="how-we-do__item_svg" width="68" height="48">
            <use href="./images/icons/sprite.svg#icon-openbook"></use>
          </svg>
          <h3 class="how-we-do__item_caption psevdo-line">
            Привычка читать на <br />
            английском языке
          </h3>

          <p class="how-we-do__item-text">
            Статьи из источников, которые используются при разработке настоящего
            ВНО, будут приходить <br />
            на телефон дважды в неделю.
          </p>
        </div>
      </li>
      <li class="how-we-do__item-li">
        <div class="how-we-do__item_border">
          <svg class="how-we-do__item_svg" width="48" height="48">
            <use href="./images/icons/sprite.svg#icon-Group"></use>
          </svg>
          <h3 class="how-we-do__item_caption psevdo-line">
            Психологическая <br />
            поддержка
          </h3>

          <p class="how-we-do__item-text">
            Мы научим тебя методикам прохождения тестирований, <br />
            умению планировать свою <br />
            подготовку уверенности в себе.
          </p>
        </div>
      </li>
      <li class="how-we-do__item-li">
        <div class="how-we-do__item_border">
          <svg class="how-we-do__item_svg" width="40" height="48">
            <use href="./images/icons/sprite.svg#icon-female"></use>
          </svg>
          <h3 class="how-we-do__item_caption psevdo-line">
            Обучение по авторским <br />
            пособиям
          </h3>

          <p class="how-we-do__item-text">
            Тебе не нужно тратить время на самостоятельный поиск материала и
            ничего покупать дополнительно. Мы составили 2 пособия для тебя.
          </p>
        </div>
      </li>
      <li class="how-we-do__item-li">
        <div class="how-we-do__item_border">
          <svg class="how-we-do__item_svg" width="57" height="48">
            <use href="./images/icons/sprite.svg#icon-audiobook"></use>
          </svg>
          <h3 class="how-we-do__item_caption psevdo-line">
            Умение воспринимать устную английскую речь
          </h3>

          <p class="how-we-do__item-text">
            “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и
            разбирать аудиозаписи в соответствии с изучаемой лексикой.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
