<section class="section about-us" id="about">
  <div class="container">
    <div class="about-us-photos">
      <div class="cont-photos">
        <picture class="photos">
          <source
            srcset="
              ./images/about-us/about-us-first-tablet.webp    1x,
              ./images/about-us/about-us-first-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="
              ./images/about-us/about-us-first-tablet.jpg    1x,
              ./images/about-us/about-us-first-tablet@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />

          <source
            srcset="
              ./images/about-us/about-us-first-desktop.webp    1x,
              ./images/about-us/about-us-first-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/about-us/about-us-first-desktop.jpg    1x,
              ./images/about-us/about-us-first-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            src="./images/about-us/about-us-first-tablet.jpg"
            alt="Photo beard"
          />
        </picture>

        <picture class="photos">
          <source
            srcset="
              ./images/about-us/about-us-second-tablet.webp    1x,
              ./images/about-us/about-us-second-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="
              ./images/about-us/about-us-second-tablet.jpg    1x,
              ./images/about-us/about-us-second-tablet@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />

          <source
            srcset="
              ./images/about-us/about-us-second-desktop.webp    1x,
              ./images/about-us/about-us-second-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/about-us/about-us-second-desktop.jpg    1x,
              ./images/about-us/about-us-second-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            src="./images/about-us/about-us-second-tablet.jpg"
            alt="Photo beard"
          />
        </picture>
      </div>

      <div class="desc">
        <h2 class="about-us-title">О нас</h2>
        <h3 class="big-title">
          Лучший Барбершоп <br />
          твоего города
        </h3>
        <p class="come-to-us">
          Если ты хочешь добавить в свой образ больше уверенности — тебе точно к
          нам.
        </p>
        <p class="we-are-team">
          Мы команда, которая никогда не останавливается на достигнутом и жаждет
          перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
          сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
          волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
          приходит!
        </p>

        <button class="button" type="button">Онлайн-запись</button>
      </div>
    </div>
  </div>
</section>
