<section class="page-hero">
    <div class="conteiner">
        <h1>
            Комплексная подготовка к ВНО
            по английскому языку
        </h1>
        <p>
            Просто не будет.
        </p>
        <p>
            Но ты гарантировано наберешь +25 баллов
        </p>
        <button>
            хочу на бесплатное занятие
        </button>
        <div class="feature">
            <ul>
                <li>Адаптированная авторская
                    программа ВНО</li>
                <li>Современные
                    методики обучения</li>
                <li>Финансовая гарантия
                    результата</li>
            </ul>
        </div>
    </div>
</section>