<section class="section">
  <div class="container">
    <div>
      <b>Онлайн-запись</b>
      <form action="">
        <input type="name" name="full name" placeholder="Имя*" />
        <input type="tel" name="telephone" placeholder="Телефон*" />
        <textarea
          name="comment"
          rows="5"
          cols="45"
          placeholder="сообщение"
        ></textarea>
        <button type="submit">отправить</button>
      </form>
    </div>
    <div>
      <b>Контакты</b>
      <ul>
        <li>ул. Васильковая, 7А, Киев, 08132</li>
        <li>+38 044 111 11 11</li>
        <li>barbershop@email.com</li>
        <p>время работы</p>
        <p>Ежедневно с 9:00 до 22:00</p>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>&#169;Copyright 2020</p>
    <a href="">Instagram</a>
    <a href="">Youtube</a>
  </div>
</section>
