<section class="branch" id="branch">
  <div class="branch-container container ">
   <h2 class="visually-hidden">Branch-cafe</h2>
    <ul class="branch__list list">
      <li class="branch__item"> 
          <h3 class="branch__title">CAFE</h3>   
        <div class="branch__location-wrapper">                 
        <p class="branch__main-text">Chicago</p>    
        <p class="branch__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p></div>

        <ul class="branch__location-wrapper  list">
          <a class="branch__calendar"
            href="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FKiev&amp;showTitle=0&amp;showTz=0&amp;showCalendars=1&amp;showTabs=1&amp;showPrint=0&amp;showDate=1&amp;showNav=1">
            <p class="branch__main-text">Monday - Friday</p>
            <li class="branch__schedule-item ">
              <p class="branch__text-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="branch__schedule-item">
              <p class="branch__main-text">Saturday - Sunday</p>
              <p class="branch__text-time">08:00 AM - 16:00 PM</p>
            </li>
          </a>
        </ul>
        <ul class="branch__location-wrapper  list">
          <li class="branch__contact-item">
            <a class="branch__link" href="tel:+61(0) 383 766 284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="branch__location-item">
            <a class="branch__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="branch__item">
        <h3 class="branch__title branch__title--accent">FOOD TRUCK</h3>
            <div class="branch__location-wrapper">
                <p class="branch__main-text">Los Angeles</p>     
                <p class="branch__text">
                    Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>        </div>
      
        <ul class="branch__location-wrapper list">
          <a class="branch__calendar"  href="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FKiev&amp;showTitle=0&amp;showTz=0&amp;showCalendars=1&amp;showTabs=1&amp;showPrint=0&amp;showDate=1&amp;showNav=1"> 
          <p class="branch__main-text">Monday - Friday</p>
          <li class="branch__schedule-item ">
          <p class="branch__text-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="branch__schedule-item">
            <p class="branch__main-text">Saturday - Sunday</p>
            <p class="branch__text-time">08:00 AM - 16:00 PM</p>
          </li> </a>
        </ul>

        <ul class="branch__location-wrapper list">
          <li class="branch__contact-item">
            <a class="branch__link" href="tel:+61(0) 383 766 284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="branch__contact-item">
            <a class="branch__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="branch__item">
        <h3 class="branch__title">CAFE</h3>
    <div class="branch__location-wrapper">
            <p class="branch__main-text">New York</p>
            <p class="branch__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
        </div>
        <ul class="branch__location-wrapper list">
          <a class="branch__calendar"
            href="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FKiev&amp;showTitle=0&amp;showTz=0&amp;showCalendars=1&amp;showTabs=1&amp;showPrint=0&amp;showDate=1&amp;showNav=1">
            <p class="branch__main-text">Monday - Friday</p>
            <li class="branch__schedule-item ">
              <p class="branch__text-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="branch__schedule-item">
              <p class="branch__main-text">Saturday - Sunday</p>
              <p class="branch__text-time">08:00 AM - 16:00 PM</p>
            </li>
          </a>
        </ul>

        <ul class="branch__location-wrapper list">
          <li class="branch__contact-item">
            <a class="branch__link" href="tel:+61(0) 383 766 284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="branch__contact-item">
            <a class="branch__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
