<section class="our-help">
  <div class="container">
    <div class="our-help__main-section">
      <ul class="our-help__item">
        <li class="our-help__item-li list">
          <h3 class="our-help__item-title accent-line">Незнание грамматики</h3>
        </li>
        <li class="our-help__item-li list">
          <h3 class="our-help__item-title accent-line">
            Неумение воспринимать <br />
            устную английскую речь
          </h3>
        </li>
        <li class="our-help__item-li list">
          <h3 class="our-help__item-title accent-line">
            Скупой словарный запас <br />
            для написания сочинения
          </h3>
        </li>
        <li class="our-help__item-li list">
          <h3 class="our-help__item-title accent-line">
            Подготовка в одиночку
          </h3>
        </li>
        <li class="our-help__item-li list">
          <h3 class="our-help__item-title accent-line">
            Отсутствие <br />
            единого ресурса знаний
          </h3>
        </li>
        <li class="our-help__item-li list">
          <h3 class="our-help__item-title accent-line">
            Недостаток <br />
            самоорганизации и лень
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
