<section class="problems">
    <div class="container">
        <h3 class="problems__title">Почему нас выбирают</h3>
        <ul class="problems__list">
            <li class="problems__item">
                <p class="problems__topic">Обучение в малых командах</p>
            </li>
            <li class="problems__item">
                <p class="problems__topic">Визуализированные конспекты</p>
            </li>
            <li class="problems__item">
                <p class="problems__topic">Каждое занятие имеет цель и конкретный результат</p>
            </li>
            <li class="problems__item">
                <p class="problems__topic">Ревльные результаты преподавателя</p>
            </li>
            <li class="problems__item">
                <p class="problems__topic">Прогамма курса соответствует требованиям МОН Украины</p>
            </li>
            <li class="problems__item"> 
                <p class="problems__topic">Набор команд по уровням знаний</p>
            </li>
        </ul>
  
    </div>

</section> 