<section id="services-and-prices" class="section">
  <div class="container bg-services-overley">
    <p class="container-over-title">Проведи время в компании лучших мастеров</p>
    <h2 class="container-title" data-aos="fade-right" data-aos-delay="250">Услуги и цены</h2>
    <div class="desktop-list">
      <div class="bg-color-list">
        <ul class="list">
          <li class="item" data-aos="zoom-out-right" data-aos-delay="250">Мужская стрижка<span class="underline">от 300 грн.</span></li>
          <li class="item" data-aos="zoom-out-right" data-aos-delay="300">Стрижка бороды <span class="underline">от 200 грн.</span></li>
          <li class="item" data-aos="zoom-out-right" data-aos-delay="350">Стрижка усов <span class="underline">от 200 грн.</span></li>
          <li class="item" data-aos="zoom-out-right" data-aos-delay="400">Бритье опасной бритвой <span class="underline">от 200 грн.</span></li>
        </ul>
      </div>
      <div class="bg-color-list-desktop">
        <ul class="list-desktope">
          <li class="item" data-aos="zoom-out-left" data-aos-delay="250">Cтрижка у стажера <span class="underline">от 50 грн.</span></li>
          <li class="item" data-aos="zoom-out-left" data-aos-delay="300">Стрижка под насадку <span class="underline">от 200 грн.</span></li>
          <li class="item" data-aos="zoom-out-left" data-aos-delay="350">Детская стрижка (до 12 лет) <span class="underline">от 300 грн.</span></li>
          <li class="item" data-aos="zoom-out-left" data-aos-delay="400">Камуфлирование седины <span class="underline">от 200 грн.</span></li>
        </ul>
      </div>
    </div>   
    <a href="#page_footer" aria-controls="page_footer" class="button button-dark-them">онлайн-запись</a>
  </div>
</section>
