<section class="features">
  <div class="container">
    <ul class="features__list list">
      <li class="features__list-item">
        <div class="features__icon-wrap">
          <svg class="features__list-svg features__icon-female">
            <use href="./images/icons/sprite.svg#icon-female"></use>
          </svg>
        </div>
        <h2 class="features__title">Адаптированная авторская
          программа ВНО</h2>
      </li>
      <li class="features__list-item">
        <div class="features__icon-wrap">
          <svg class="features__list-svg features__icon-mobile">
            <use href="./images/icons/sprite.svg#icon-mobile-edu"></use>
          </svg>
        </div>
        <h2 class="features__title">Современные
          методики обучения</h2>
      </li>
      <li class="features__list-item">
        <div class="features__icon-wrap">
          <svg class="features__list-svg features__icon-umbrella">
            <use href="./images/icons/sprite.svg#icon-umbrella"></use>
          </svg>
        </div>
        <h2 class="features__title">Финансовая гарантия
          результата</h2>
      </li>
    </ul>
  </div>
</section>