    <section class="graduates">
        <div class="container">
            <h2 class="graduates__title title">
                Отзывы выпускников
            </h2>
            <div class="graduates__info">
                <div class="graduates__info_first">
                    <a href="" class="graduates__link"></a>
                    <a href="" class="graduates__vk">
                        <!-- <svg class="graduates__svg" width="30px" height="30px">
                                            <use href="./images/icons/sprite.svg#icon-vk"></use>
                                        </svg> -->
                    </a>
                </div>
                <div class="graduates__info_second">
                    <h3 class="graduates__name">Тося Кучерява</h3>
                    <p class="graduates__university">Выпуск 2015-го года, Національний університет біоресурсів
                        і природокористування України</p>
                    <p class="graduates__comment">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
                        Зараз
                        я можу похизуватись тим, що я студен ...
                        <a class="graduates__comment_end" href="">Читать дальше</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
