<section class="page_advantages">
  <div class="container">
    <div class="wrap">
      <p class="subject">старая традиционная школа</p>
      <!-- <div class="subject">
          <h3>старая традиционная школа</h3>
          <svg class="icon" width="1" height="60">
            <use href="./image/sprite.svg#icon-line"></use>
          </svg>
        </div> -->
      <h2 class="title">
        Почему приходят <br />
        именно к нам?
      </h2>
      <p class="text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и
        прочувствовать, чем 10 раз прочитать.
      </p>
    </div>
    <ul class="items">
      <li class="item" data-aos="zoom-in-down" data-aos-delay="150">
        <h2 class="number">600</h2>
        <p class="item-text">Довольных клиентов в день</p>
      </li>
      <li class="item" data-aos="zoom-in-down" data-aos-delay="300">
        <h2 class="number">50</h2>
        <p class="item-text">Наград за отличный сервис</p>
      </li>
      <li class="item" data-aos="zoom-in-down" data-aos-delay="400">
        <h2 class="number">20</h2>
        <p class="item-text">Лучших мастеров Киева</p>
      </li>
      <li class="item" data-aos="zoom-in-down" data-aos-delay="500">
        <h2 class="number">100</h2>
        <p class="item-text">Подарков постоянным клиентам</p>
        <!-- <svg class="icon" width="13" height="22">
          <use href="./image/sprite.svg#icon-plus.svg"></use>
        </svg> -->
      </li>
    </ul>
  </div>
</section>
