<header class="page-header">
    <section class="hero-section">
        <div class="overlay-block">
        <div class="container no-padding">

            <div class="header-sidebar">

                <div class="logo">
                    <a href="" class="">
                        <svg class="icon-logo" width="69" height="56">
                        <use href="./images/symbol-defs.svg#icon-logo" alt="Логотип компании"></use>
                        </svg>
                    </a>
                </div>

                <div class="social-networks--block">
                    <ul class="social-networks--list">
                        <li class="social-networks--item">
                            <a class="social-networks--link line" href="">Instagram</a>
                        </li>

                        <li class="social-networks--item">
                            <a class="social-networks--link" href="">Youtube</a>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- <div class="overlay-block"> -->
                <div class="header-block">

                        <button
                            type="button"
                            class="mobile__menu__button is-open"
                            aria-expanded="false"
                            aria-controls="menu-container"
                            data-menu-button>
                            <svg width="40" height="40" aria-label="Переключатель мобильного меню">
                            <use class="icon-close" href="./images/symbol-defs.svg#icon-menu"></use>
                            <use class="icon-menu" href="./images/symbol-defs.svg#icon-close"></use>
                            </svg>
                        </button>

                        <div class="menu-container" id="menu-container" data-menu>

                            <nav class="site-nav">
                            <ul class="site-nav--list">

                                <li class="site-nav--item">
                                    <a class="site-nav--link">О нас</a>
                                </li>

                                <li class="site-nav--item">
                                    <a class="site-nav--link">Услуги и цены</a>
                                </li>

                                <li class="site-nav--item">
                                    <a class="site-nav--link">Мастера</a>
                                </li>

                                <li class="site-nav--item">
                                    <a class="site-nav--link">Контакты</a>
                                </li>
                            </ul>
                            </nav>


                            <ul class="contacts-list">
                                <li class="contacts-item"><a href="tel:+380441111111" class="phone">+38 044 111 11 11</a></li>
                                <li class="contacts-item"><button class="button-check header-button">онлайн-запись</button></li>
                            </ul>

                            <div class="social-networks--mobile">
                            <ul class="social-networks--list">

                                <li class="social-networks--item">
                                <a class="social-networks--link line" href="">Instagram</a>
                                </li>

                                <li class="social-networks--item">
                                <a class="social-networks--link" href="">Youtube</a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    <!-- </div> -->


                    <div class="hero-block">
                        <p class="subtitle">A hair salon for men in Kyiv</p>
                        <h1 class="hero-title">BarberShop</h1>
                        <div class="hero-text--block">
                            <p class="hero-text line-hight--fix">Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со вкусом.</p>
                        </div>
                    </div>

                    <div class="nav-buttons--block">
                        <ul class="nav-buttons--list">
                            <li class="nav-buttons-item">
                            <a class="nav-button--back" href="#" onclick="history.back();return false;">Назад</a>
                            </li>
                            <li class="nav-buttons-item">
                            <a class="nav-button--forward" href="#" onclick="history.forward();return false;">Вперед</a>
                            </li>
                        </ul>
                    </div>
                    <div class="overlay"></div>
                </div>
            <!-- </div> -->
        </div>
    </div>
  </section>
</header>
