<section class="hero">
    <div class="container">
        <h1 class="title">
            Комплексная подготовка к ВНО
            по английскому языку
        </h1>
        <p class="hero__subtitle">
            Просто не будет.
        </p>
        <p class="hero__description">
            Но ты гарантировано наберешь 
        </p>
        <p class="hero__decription-accent">
            +25 баллов
        </p>
        <a class="hero__form-btn button link" href="">
            хочу на бесплатное занятие
        </a>
        <picture class="hero__img">
            <source media="(min-width: 1399px)" 
            srcset="./images/desctop/head-desc.png 1x, 
            ./images/desctop/head-desc@2x.png 2x" sizes="841px">
            <source media="(min-width: 768px)" 
            srcset="./images/tablet/head-tablet.png 1x, 
            ./images/tablet/head-tablet@2x.png 2x" sizes="375px">
            <source media="(min-width: 480px)" 
            srcset="./images/tel/head-tel.png 1x, 
            ./images/tel/head-tel@2x.png 2x" sizes="208px">
            <img src="./images/tel/head-tel.png" alt="Четыре девушки общаются, сидя за столом">
        </picture>

        <div class="feature">
            <ul class="feature__list list">
                <li class="feature__list-item">
                    <div class="feature__icon-wrap">
                        <svg class="feature__list-svg feature__icon-female">
                            <use href="./images/icons/sprite.svg#icon-female"></use>
                        </svg>
                    </div>
                   <h2 class="feature__title">Адаптированная авторская
                    программа ВНО</h2> 
                </li>
                <li class="feature__list-item">
                    <div class="feature__icon-wrap">
                        <svg class="feature__list-svg feature__icon-mobile">
                            <use href="./images/icons/sprite.svg#icon-mobile-edu"></use>
                        </svg>
                    </div>
                   <h2 class="feature__title">Современные
                    методики обучения</h2> 
                </li>
                <li class="feature__list-item">
                    <div class="feature__icon-wrap">
                        <svg class="feature__list-svg feature__icon-umbrella">
                            <use href="./images/icons/sprite.svg#icon-umbrella"></use>
                        </svg>
                    </div>
                  <h2 class="feature__title">Финансовая гарантия
                    результата</h2> 
                </li>
            </ul>
        </div>
    </div>
</section>