    <section class="graduates">
        <div class="container">
            <h2 class="graduates__title title">
                Отзывы выпускников
            </h2>

            <div class="slider">
                
                <div class="graduates__info slick-slide">
                    <div class="graduates__info_first">
                        <a href="" class="graduates__link">
                            <img class="graduates__img" src="./images/graduates/img.png" alt="">
                        </a>
                        <a href="" class="graduates__vk"></a>
                    </div>
                    <div class="graduates__info_second">
                        <h3 class="graduates__name">Тоня Кучерява</h3>
                        <p class="graduates__university">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="graduates__comment">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                            помилку.
                            Зараз
                            я можу похизуватись тим, що я студен ...
                            <a class="graduates__comment_end" href="">Читать дальше</a>
                        </p>
                    </div>
                </div>

                <div class="graduates__info slick-slide">
                    <div class="graduates__info_first">
                        <a href="" class="graduates__link">
                            <img class="graduates__img" src="./images/graduates/img1.jpg" alt="">
                        </a>
                        <a href="" class="graduates__vk"></a>
                    </div>
                    <div class="graduates__info_second">
                        <h3 class="graduates__name">Головач Лєна</h3>
                        <p class="graduates__university">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="graduates__comment">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                            помилку.
                            Зараз
                            я можу похизуватись тим, що я студен ...
                            <a class="graduates__comment_end" href="">Читать дальше</a>
                        </p>
                    </div>
                </div>

                <div class="graduates__info slick-slide">
                    <div class="graduates__info_first">
                        <a href="" class="graduates__link">
                            <img class="graduates__img" src="./images/graduates/img2.png" alt="">
                        </a>
                        <a href="" class="graduates__vk"></a>
                    </div>
                    <div class="graduates__info_second">
                        <h3 class="graduates__name">Світлана Лисенко</h3>
                        <p class="graduates__university">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="graduates__comment">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                            помилку.
                            Зараз
                            я можу похизуватись тим, що я студен ...
                            <a class="graduates__comment_end" href="">Читать дальше</a>
                        </p>
                    </div>
                </div>

                <div class="graduates__info slick-slide">
                    <div class="graduates__info_first">
                        <a href="" class="graduates__link">
                            <img class="graduates__img" src="./images/graduates/img3.png" alt="">
                        </a>
                        <a href="" class="graduates__vk"></a>
                    </div>
                    <div class="graduates__info_second">
                        <h3 class="graduates__name">Людмила Непийпиво</h3>
                        <p class="graduates__university">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="graduates__comment">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                            помилку.
                            Зараз
                            я можу похизуватись тим, що я студен ...
                            <a class="graduates__comment_end" href="">Читать дальше</a>
                        </p>
                    </div>
                </div>

                <div class="graduates__info slick-slide">
                    <div class="graduates__info_first">
                        <a href="" class="graduates__link">
                            <img class="graduates__img" src="./images/graduates/img4.png" alt="">
                        </a>
                        <a href="" class="graduates__vk"></a>
                    </div>
                    <div class="graduates__info_second">
                        <h3 class="graduates__name">Оксана Гадюка</h3>
                        <p class="graduates__university">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="graduates__comment">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                            помилку.
                            Зараз
                            я можу похизуватись тим, що я студен ...
                            <a class="graduates__comment_end" href="">Читать дальше</a>
                        </p>
                    </div>
                </div>

                <div class="graduates__info slick-slide">
                    <div class="graduates__info_first">
                        <a href="" class="graduates__link">
                            <img class="graduates__img" src="./images/graduates/img5.png" alt="">
                        </a>
                        <a href="" class="graduates__vk"></a>
                    </div>
                    <div class="graduates__info_second">
                        <h3 class="graduates__name">Олена Бобрик</h3>
                        <p class="graduates__university">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="graduates__comment">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                            помилку.
                            Зараз
                            я можу похизуватись тим, що я студен ...
                            <a class="graduates__comment_end" href="">Читать дальше</a>
                        </p>
                    </div>
                </div>

                <div class="graduates__info slick-slide">
                    <div class="graduates__info_first">
                        <a href="" class="graduates__link">
                            <img class="graduates__img" src="./images/graduates/img6.png" alt="">
                        </a>
                        <a href="" class="graduates__vk"></a>
                    </div>
                    <div class="graduates__info_second">
                        <h3 class="graduates__name">Аліна Бабай</h3>
                        <p class="graduates__university">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="graduates__comment">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З
                            першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала
                            моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                            помилку.
                            Зараз
                            я можу похизуватись тим, що я студен ...
                            <a class="graduates__comment_end" href="">Читать дальше</a>
                        </p>
                    </div>
                </div>
              </div>

                <div class="wrapper">
                    <!-- <div class="wrapper__container"> -->
                        <div class="wrapper__item">
                            <img class="wrapper__img" src="./images/graduates/img.png" alt="">
                        </div>
                        <div class="wrapper__item">
                            <img class="wrapper__img" src="./images/graduates/img1.jpg" alt="">
                        </div>
                        <div class="wrapper__item">
                            <img class="wrapper__img" src="./images/graduates/img2.png" alt="">
                        </div>
                        <div class="wrapper__item">
                            <img class="wrapper__img" src="./images/graduates/img3.png" alt="">
                        </div>
                        <div class="wrapper__item">
                            <img class="wrapper__img" src="./images/graduates/img4.png" alt="">
                        </div>
                        <div class="wrapper__item">
                            <img class="wrapper__img" src="./images/graduates/img5.png" alt="">
                        </div>
                        <div class="wrapper__item">
                            <img class="wrapper__img" src="./images/graduates/img6.png" alt="">
                        </div>
                    <!-- </div> -->
                </div>
        </div>
    </section>
