<header class="section-head page-header">
  <div class="container-header">
    <div class="sidebar">
      <div class="logo-div">
        <svg class="logo" width="69" height="56">
          <use href="./images/header/symbol-defs.svg#logo"></use>
        </svg>
      </div>

      <ul class="soc-bar">
        <li><a class="link soc-Instagram" href="#">Instagram</a></li>
        <li><a class="link soc-Youtube" href="#">Youtube</a></li>
      </ul>
      <!-- ////////////////////////кнопка открітия і закритія меню//////////////////////////// -->
      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        data-menu-button
      >
        <svg width="40" height="40" aria-label="Переключатель мобильного меню">
          <use
            class="icon-close"
            href="./images/header/symbol-defs.svg#close"
          ></use>
          <use
            class="icon-menu"
            href="./images/header/symbol-defs.svg#menu"
          ></use>
        </svg>
      </button>
    </div>
    <!-- ///////////////////////////////////////////////////// -->

    <!-- <div class="mobile-menu" id="mobile-menu" data-menu></div> -->

    <div class="second">
      <div class="mobile-menu" id="mobile-menu" data-menu>
        <div class="content">
          <nav class="nav">
            <ul class="site-nav">
              <li>
                <a class="link" href="">О нас</a>
              </li>

              <li>
                <a class="link" href="">Услуги и цены</a>
              </li>

              <li>
                <a class="link" href="">Мастера</a>
              </li>

              <li>
                <a class="link" href="">Контакты</a>
              </li>
            </ul>
            <!-- /////////////////////////////////////////// -->
            <ul class="auth-nav">
              <li>
                <a class="link" href="tel:+38 044 111 11 11"
                  >+38 044 111 11 11</a
                >
              </li>
              <li><button class="record_button">онлайн-запись</button></li>
            </ul>
            <!-- ///////////////////////////////////////////////////// -->
            <ul class="soc">
              <li><a class="link soc-Instagram" href="#">Instagram</a></li>
              <li><a class="link soc-Youtube" href="#">Youtube</a></li>
            </ul>
            <!-- ///////////////////////////////////////////////////////////// -->
          </nav>
        </div>
      </div>
      <div class="content">
        <nav class="nav">
          <ul class="site-nav">
            <li>
              <a class="link" href="">О нас</a>
            </li>

            <li>
              <a class="link" href="">Услуги и цены</a>
            </li>

            <li>
              <a class="link" href="">Мастера</a>
            </li>

            <li>
              <a class="link" href="">Контакты</a>
            </li>
          </ul>
          <!-- /////////////////////////////////////////// -->
          <ul class="auth-nav">
            <li>
              <a class="link" href="tel:+38 044 111 11 11">+38 044 111 11 11</a>
            </li>
            <li><button class="record_button">онлайн-запись</button></li>
          </ul>
          <!-- ///////////////////////////////////////////////////// -->
          <ul class="soc">
            <li><a class="link soc-Instagram" href="#">Instagram</a></li>
            <li><a class="link soc-Youtube" href="#">Youtube</a></li>
          </ul>
          <!-- ///////////////////////////////////////////////////////////// -->
        </nav>
      </div>
      <section class="hero">
        <p class="sub-title">A hair salon for men in Kyiv</p>
        <h1>BarberShop</h1>
        <p class="sub-content">
          Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
          вкусом.
        </p>
      </section>
    </div>
  </div>
</header>
