
<!-- page numbering on the home page -->

<!-- pagination html code -->

<section>
  <div>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
    <button type="button"></button>
  </div>
</section>

