<section class="galery">
    <h2 class="visually-hidden">Tittle hidden</h2>
<div class="container galery-container" id="galery">
    
    <div class="galery-div" data-aos="zoom-in" data-aos-delay="0" data-aos-duration="800" data-aos-easing="ease-in-out"  data-aos-mirror="true" data-aos-once="false" data-aos-offset="20">
        <img class="img-1 gallery-image" srcset="/images/pics-sect/m-collage@2x.png 2x"
        src="/images/pics-sect/m-collage.png" alt="ice cream">
    </div>
    <div class="galery-div" data-aos="zoom-in" data-aos-delay="0" data-aos-duration="800" data-aos-easing="ease-in-out"  data-aos-mirror="true" data-aos-once="false" data-aos-offset="20">
        <img class="galery-img img-1 gallery-image" srcset="/images/pics-sect/t-collage1@2x.png 2x"
        src="/images/pics-sect/t-collage1.png" alt="ice cream in hand">
        <img class="img-1 gallery-image" srcset="/images/pics-sect/t-collage2@2x.png 2x"
        src="/images/pics-sect/t-collage2.png" alt="pink ice cream">
    </div>
    <div class="galery-div" data-aos="zoom-in" data-aos-delay="0" data-aos-duration="800" data-aos-easing="ease-in-out"  data-aos-mirror="true" data-aos-once="false" data-aos-offset="20">
        <img class="galery-img img-2 gallery-image" srcset="/images/pics-sect/t-collage4@2x.png 2x"
        src="/images/pics-sect/t-collage4.png" alt="ice cream with berries">
        <img class="img-1 gallery-image" srcset="/images/pics-sect/t-collage3@2x.png 2x"
        src="/images/pics-sect/t-collage3.png" alt="girl with ice cream">
    </div>
    <div class="galery-div" data-aos="zoom-in" data-aos-delay="0" data-aos-duration="800" data-aos-easing="ease-in-out"  data-aos-mirror="true" data-aos-once="false" data-aos-offset="20">
        <img class="galery-img img-1 gallery-image" srcset="/images/pics-sect/t-collage5@2x.png 2x" 
        src="/images/pics-sect/t-collage5.png" alt="dessert">
        <img class="img-1 gallery-image" srcset="/images/pics-sect/t-collage6@2x.png 2x"
        src="/images/pics-sect/t-collage6.png" alt="ice cream at the city">
    </div>
    <div class="galery-div" data-aos="zoom-in" data-aos-delay="0" data-aos-duration="800" data-aos-easing="ease-in-out"  data-aos-mirror="true" data-aos-once="false" data-aos-offset="20">
        <img class="galery-img img-1 gallery-image" srcset="/images/pics-sect/t-collage7@2x.png 2x"
        src="/images/pics-sect/t-collage7.png" alt="ice cream and dog">
        <img class="img-1 gallery-image" srcset="/images/pics-sect/t-collage8@2x.png 2x"
        src="/images/pics-sect/t-collage8.png" alt="milkshake">
    </div>
    <div class="galery-div" data-aos="zoom-in" data-aos-delay="0" data-aos-duration="800" data-aos-easing="ease-in-out"  data-aos-mirror="true" data-aos-once="false" data-aos-offset="20">
        <img class="img-1 gallery-image" srcset="/images/pics-sect/t-collage9@2x.png 2x"
        src="/images/pics-sect/t-collage9.png" alt="cake">
        
    </div>
</div>
</section>