<section class="galery">
    <h2 class="visually-hidden">Tittle hidden</h2>
<div class="container galery-container" id="galery">
    
    <div class="galery-div">
        <img class="img-1" src="/images/pics-sect/m-collage.png" alt="">
    </div>
    <div class="galery-div">
        <img class="galery-img img-1" src="/images/pics-sect/t-collage1.png" alt="">
        <img class="img-1" src="/images/pics-sect/t-collage2.png" alt="">
    </div>
    <div class="galery-div">
        <img class="galery-img img-2" src="/images/pics-sect/t-collage4.png" alt="">
        <img class="img-1" src="/images/pics-sect/t-collage3.png" alt="">
    </div>
    <div class="galery-div">
        <img class="galery-img img-1" src="/images/pics-sect/t-collage5.png" alt="">
        <img class="img-1" src="/images/pics-sect/t-collage6.png" alt="">
    </div>
    <div class="galery-div">
        <img class="galery-img img-1" src="/images/pics-sect/t-collage7.png" alt="">
        <img class="img-1" src="/images/pics-sect/t-collage8.png" alt="">
    </div>
    <div class="galery-div">
        <img class="img-1" src="/images/pics-sect/t-collage9.png" alt="">
        
    </div>
</div>
</section>