<section class="made__gallery__container">
    <picture class="made__gallery">
        <source srcset="./images/made/gallery468.jpg 1x, ./images/made/gallery468x2.jpg 2x" type="image/webp" media="(max-width: 479px)"/>
        <source srcset="./images/made/gallery1200.jpg 1x, ./images/made/gallery1200x2.jpg 2x" type="image/webp" media="(min-width: 1050px)"/>
        <source srcset="./images/made/gallery768.jpg 1x, ./images/made/gallery768x2.jpg 2x" type="image/webp" media="(min-width: 480px)"/>
        <img src="./images/made/gallery1200.jpg" alt="Галерея" width="100%">
    </picture>
</section>