<!-- Popup -->
<div class="popup js-popup">
	<div class="popup-overlay"></div>
	<div class="popup-content">
		<header class="header-home">
			<div class="container">
				<div class="top-flex">
					<a href="./index.html" class="logo">
						<svg width="24" height="24" class="logo-icon">
							<use href="../src/images/sprite.svg#icon-film"></use>
						</svg>
						<p class="logo-title">Filmoteka</p>
					</a>
					<nav>
						<ul class="site-nav list">
							<li class="nav-item">
								<a href="../src/index.html" class="link current">Home</a>
							</li>
							<li class="nav-item">
								<a href="../src/my-library.html" class="link">my library</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<div class="popup-movie"></div>

		<footer class="footer">
			<div class="container footer-container">
				<span class="footer-top">© 2020 | All Rights Reserved | </span>
				<div>
					<span>Developed with</span>
					<svg width="14" height="13" class="icon-heart">
						<use href="../src/images/sprite.svg#icon-favorite"></use>
					</svg>
					<span>by</span>
					<a href="https://goit.ua/" target="_blank" class="footer-link">GoIT Students</a>
				</div>
			</div>
		</footer>

	</div>
	<button class="popup-btn-close js-close" type="button" title="Close"></button>
</div>