<!-- Portfolio -->
<div class="section">
  <div class="container">
    <p class="portfolio-section__subtitle">На латинском языке “барба” означает “борода”</p>
    <ul class="portfolio__list">
      <li class="portfolio__item">
        <picture>
          <source srcset="./images/examples/example1-desk.jpg 270w, ./images/examples/example1-desk@2x.jpg 540w" media="(min-width: $desktop)" sizes="270px" />
          <source srcset="./images/examples/example1-tab.jpg 330w, ./images/examples/example1-tab@2x.jpg 660w" media="(min-width: $tablet)" sizes="330px" />
          <source srcset="./images/examples/example1-mob.jpg 418w, ./images/examples/example1-mob@2x.jpg 836w" media="(max-width: 767px)" sizes="418px" />
          <img src="./images/examples/example1-mob.jpg " alt="Мастер стрижет парня" />
        </picture>
      </li>
      <li class="portfolio__item">
        <picture> </picture>
      </li>
      <li class="portfolio__item">
        <picture> </picture>
      </li>
      <li class="portfolio__item">
        <picture> </picture>
      </li>
    </ul>
  </div>
</div>
