<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">портфолио</h2>
    <p class="portfolio-text">На латинском языке “барба” означает “борода”</p>
    <ul class="portfolio-list">
      <li class="portfolio-list-item">
        <picture>
          <source
            srcset="
              ./images/portfolio-img-mob/photo1.webp    1x,
              ./images/portfolio-img-mob/photo1@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio-img-mob/photo1.jpg    1x,
              ./images/portfolio-img-mob/photo1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio-img-desk/photo1.webp    1x,
              ./images/portfolio-img-desk/photo1@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/portfolio-img-desk/photo1.jpg    1x,
              ./images/portfolio-img-desk/photo1@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/portfolio-img-tab/photo1.webp    1x,
              ./images/portfolio-img-tab/photo1@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio-img-tab/photo1.jpg    1x,
              ./images/portfolio-img-tab/photo1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/portfolio-img-mob/photo1.jpg"
            alt="пример работы"
            sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-list-item">
        <picture>
          <source
            srcset="
              ./images/portfolio-img-mob/photo2.webp    1x,
              ./images/portfolio-img-mob/photo2@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio-img-mob/photo2.jpg    1x,
              ./images/portfolio-img-mob/photo2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio-img-desk/photo2.webp    1x,
              ./images/portfolio-img-desk/photo2@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/portfolio-img-desk/photo2.jpg    1x,
              ./images/portfolio-img-desk/photo2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/portfolio-img-tab/photo2.webp    1x,
              ./images/portfolio-img-tab/photo2@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio-img-tab/photo2.jpg    1x,
              ./images/portfolio-img-tab/photo2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/portfolio-img-mob/photo2.jpg"
            alt="пример работы"
            sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-list-item">
        <picture>
          <source
            srcset="
              ./images/portfolio-img-mob/photo3.webp    1x,
              ./images/portfolio-img-mob/photo3@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio-img-mob/photo3.jpg    1x,
              ./images/portfolio-img-mob/photo3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio-img-desk/photo3.webp    1x,
              ./images/portfolio-img-desk/photo3@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/portfolio-img-desk/photo3.jpg    1x,
              ./images/portfolio-img-desk/photo3@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/portfolio-img-tab/photo3.webp    1x,
              ./images/portfolio-img-tab/photo3@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio-img-tab/photo3.jpg    1x,
              ./images/portfolio-img-tab/photo3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/portfolio-img-mob/photo3.jpg"
            alt="пример работы"
            sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
          />
        </picture>
      </li>
      <li class="portfolio-list-item">
        <picture>
          <source
            srcset="
              ./images/portfolio-img-mob/photo4.webp    1x,
              ./images/portfolio-img-mob/photo4@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio-img-mob/photo4.jpg    1x,
              ./images/portfolio-img-mob/photo4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/portfolio-img-desk/photo4.webp    1x,
              ./images/portfolio-img-desk/photo4@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/portfolio-img-desk/photo4.jpg    1x,
              ./images/portfolio-img-desk/photo4@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/portfolio-img-tab/photo4.webp    1x,
              ./images/portfolio-img-tab/photo4@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/portfolio-img-tab/photo4.jpg    1x,
              ./images/portfolio-img-tab/photo4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/portfolio-img-mob/photo4.jpg"
            alt="пример работы"
            sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100vw"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
