<section class="portfolio">
  <div class="container section">
    <p class="description">На латинском языке “барба” означает “борода”</p>
    <!-- <button type="button" class="" data-modal-open>
      модалка
    </button> -->

    <ul class="portfolio-list">
      <li class="portfolio-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="
              ./images/portfolio/portfolio_1.jpg    1x,
              ./images/portfolio/portfolio_1@2x.jpg 2x
            "
            src="./images/portfolio/portfolio_1.jpg"
            alt="Первый пример работ"
          />
        </div>
      </li>
      <li class="portfolio-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="
              ./images/portfolio/portfolio_2.jpg    1x,
              ./images/portfolio/portfolio_2@2x.jpg 2x
            "
            src="./images/portfolio/portfolio_2.jpg"
            alt="Второй пример работ"
          />
        </div>
      </li>
      <li class="portfolio-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="
              ./images/portfolio/portfolio_3.jpg    1x,
              ./images/portfolio/portfolio_3@2x.jpg 2x
            "
            src="./images/portfolio/portfolio_3.jpg"
            alt="Третий пример работ"
          />
        </div>
      </li>
      <li class="portfolio-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="
              ./images/portfolio/portfolio_4.jpg    1x,
              ./images/portfolio/portfolio_4@2x.jpg 2x
            "
            src="./images/portfolio/portfolio_4.jpg"
            alt="Четвертый пример работ"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
