<section class="portfolio">
    <div class="container-portfolio">
        
        <h3>На латинском языке “барба” означает “борода”</h3>

        <ul class="portfolio-list">
            <li>
                <img src="../images/Rectangle25.jpg" alt="">

            </li>
            <li>
                <img src="../images/Rectangle26.jpg" alt="">
            </li>
            <li>
                <img src="../images/Rectangle27.jpg" alt="">
            </li>
            <li>
                <img src="../images/Rectangle28.jpg" alt="">
            </li>
        </ul>
       
    </div>

</section>