<!-- Prices -->
<section class="layout layout--price">
	<div class="container price">
		<div class="block price">
			<p class="pre-heading price">
				Проведи время в компании лучших мастеров
			</p>
			<h2 class="section-title price">Услуги и цены</h2>
			<div class="price-items v--desc">
				<div class="price-item-desc">
					<div class="price-item">
						<span class="price-item__text">Мужская стрижка</span>
						<span class="price-item__text--decor"></span>
						<span class="price-item__text">от 300 грн.</span>
					</div>
					<div class="price-item">
						<span class="price-item__text">Стрижка бороды</span>
						<span class="price-item__text--decor"></span>
						<span class="price-item__text">от 200 грн.</span>
					</div>
					<div class="price-item">
						<span class="price-item__text">Стрижка усов</span>
						<span class="price-item__text--decor"></span>
						<span class="price-item__text">от 200 грн.</span>
					</div>
					<div class="price-item">
						<span class="price-item__text">Бритье опасной бритвой</span>
						<span class="price-item__text--decor"></span>
						<span class="price-item__text">от 200 грн.</span>
					</div>
				</div>
				<div class="price-item-desc secondary--gradient">
					<div class="price-item">
						<span class="price-item__text">Стрижка у стажера</span>
						<span class="price-item__text--decor"></span>
						<span class="price-item__text">от 50 грн.</span>
					</div>
					<div class="price-item">
						<span class="price-item__text">Стрижка под насадку</span>
						<span class="price-item__text--decor"></span>
						<span class="price-item__text">от 200 грн.</span>
					</div>
					<div class="price-item">
						<span class="price-item__text">Детская стрижка (до 12 лет)</span>
						<span class="price-item__text--decor"></span>
						<span class="price-item__text">от 300 грн.</span>
					</div>
					<div class="price-item">
						<span class="price-item__text">Камуфлирование седины</span>
						<span class="price-item__text--decor"></span>
						<span class="price-item__text">от 200 грн.</span>
					</div>
				</div>
			</div>
			<ul class="price-items">
				<li class="price-item">
					<span class="price-item__text">Мужская стрижка</span>
					<span class="price-item__text--decor"></span>
					<span class="price-item__text">от 300 грн.</span>
				</li>
				<li class="price-item">
					<span class="price-item__text">Стрижка бороды</span>
					<span class="price-item__text--decor"></span>
					<span class="price-item__text">от 200 грн.</span>
				</li>
				<li class="price-item">
					<span class="price-item__text">Стрижка усов</span>
					<span class="price-item__text--decor"></span>
					<span class="price-item__text">от 200 грн.</span>
				</li>
				<li class="price-item">
					<span class="price-item__text">Бритье опасной бритвой</span>
					<span class="price-item__text--decor"></span>
					<span class="price-item__text">от 200 грн.</span>
				</li>
				<li class="price-item">
					<span class="price-item__text">Стрижка у стажера</span>
					<span class="price-item__text--decor"></span>
					<span class="price-item__text">от 50 грн.</span>
				</li>
				<li class="price-item">
					<span class="price-item__text">Стрижка под насадку</span>
					<span class="price-item__text--decor"></span>
					<span class="price-item__text">от 200 грн.</span>
				</li>
				<li class="price-item">
					<span class="price-item__text">Детская стрижка (до 12 лет)</span>
					<span class="price-item__text--decor"></span>
					<span class="price-item__text">от 300 грн.</span>
				</li>
				<li class="price-item">
					<span class="price-item__text">Камуфлирование седины</span>
					<span class="price-item__text--decor"></span>
					<span class="price-item__text">от 200 грн.</span>
				</li>
			</ul>
			<div class="button-price__position">
				<button class="button">Онлайн-запись</button>
			</div>
		</div>
	</div>
</section>
