<section class="price">
  <div class="container">
    <p class="appeal">Проведи время в компании лучших мастеров</p>
    <h2 class="price-title" id="price">
      Услуги и цены
    </h2>
    <div class="price-list">
      <ul class="list part-1">
        <li class="item">
          <p class="text">Мужская стрижка</p>
          <div class="line"></div>
          <p class="text">от 300 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка бороды</p>
          <div class="line"></div>
          <p class="text">от 200 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка усов</p>
          <div class="line"></div>
          <p class="text">от 200 грн.</p>
        </li>
        <li class="item">
          <p class="text">Бритье опасной бритвой</p>
          <div class="line"></div>
          <p class="text">от 200 грн.</p>
        </li>
      </ul>

      <ul class="list part-2">
        <li class="item">
          <p class="text">Cтрижка у стажера</p>
          <div class="line"></div>
          <p class="text">от 50 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка под насадку</p>
          <div class="line"></div>
          <p class="text">от 200 грн.</p>
        </li>
        <li class="item">
          <p class="text">Детская стрижка (до 12 лет)</p>
          <div class="line"></div>
          <p class="text">от 300 грн.</p>
        </li>
        <li class="item">
          <p class="text">Камуфлирование седины</p>
          <div class="line"></div>
          <p class="text">от 200 грн.</p>
        </li>
      </ul>
    </div>
    <button class="button-check">онлайн-запись</button>
  </div>
</section>
