<section class="price">
  <div class="price_container">
    <div class="сall_to_action">
      <svg class="icon-line" width="60" height="1">
        <use href="./images/price_images/symbol-defs.svg#icon-line"></use>
      </svg>
      <p class="time_in_command">
        проведи время в компании лучших мастеров
      </p>
    </div>

    <h2 class="price_title">Услуги и цены</h2>

    <div class="desctop_list">
      <ul class="desctop_list_left">
        <li class="price_item">
          <div class="haircut">Мужская стрижка</div>
          <div class="border"><span class="hide"></span></div>
          <div class="grn">от 300 грн.</div>
        </li>
        <li class="price_item">
          <div class="haircut">Стрижка бороды</div>
          <div class="border"></div>
          <div class="grn">от 200 грн.</div>
        </li>
        <li class="price_item">
          <div class="haircut">Стрижка усов</div>
          <div class="border"></div>
          <div class="grn">от 200 грн.</div>
        </li>
        <li class="price_item">
          <div class="haircut">Бритье опасной бритвой</div>
          <div class="border"></div>
          <div class="grn">от 200 грн.</div>
        </li>
      </ul>
      <ul class="desctop_list_right">
        <li class="price_item">
          <div class="haircut">Cтрижка у стажера</div>
          <div class="border"></div>
          <div class="grn">от 50 грн.</div>
        </li>
        <li class="price_item">
          <div class="haircut">Стрижка под насадку</div>
          <div class="border"></div>
          <div class="grn">от 200 грн.</div>
        </li>
        <li class="price_item">
          <div class="haircut">Детская стрижка (до 12 лет)</div>
          <div class="border"></div>
          <div class="grn">от 300 грн.</div>
        </li>
        <li class="price_item">
          <div class="haircut">Камуфлирование седины</div>
          <div class="border"></div>
          <div class="grn">от 200 грн.</div>
        </li>
      </ul>
    </div>

    <ul class="price_list">
      <li class="price_item">
        <div class="haircut">Мужская стрижка</div>
        <div class="border"><span class="hide"></span></div>
        <div class="grn">от 300 грн.</div>
      </li>
      <li class="price_item">
        <div class="haircut">Стрижка бороды</div>
        <div class="border"></div>
        <div class="grn">от 200 грн.</div>
      </li>
      <li class="price_item">
        <div class="haircut">Стрижка усов</div>
        <div class="border"></div>
        <div class="grn">от 200 грн.</div>
      </li>
      <li class="price_item">
        <div class="haircut">Бритье опасной бритвой</div>
        <div class="border"></div>
        <div class="grn">от 200 грн.</div>
      </li>
      <li class="price_item">
        <div class="haircut">Cтрижка у стажера</div>
        <div class="border"></div>
        <div class="grn">от 50 грн.</div>
      </li>
      <li class="price_item">
        <div class="haircut">Стрижка под насадку</div>
        <div class="border"></div>
        <div class="grn">от 200 грн.</div>
      </li>
      <li class="price_item">
        <div class="haircut">Детская стрижка (до 12 лет)</div>
        <div class="border"></div>
        <div class="grn">от 300 грн.</div>
      </li>
      <li class="price_item">
        <div class="haircut">Камуфлирование седины</div>
        <div class="border"></div>
        <div class="grn">от 200 грн.</div>
      </li>
    </ul>
    <div class="button_section">
      <button class="button_price" type="submit">онлайн-запись</button>
    </div>
  </div>
</section>
