<section class="layout">
  <p class="pre-heading">Проведи время в компании лучших мастеров</p>
  <h2 class="section-title">Услуги и цены</h2>
  <ul class="price-items">
    <li class="price-item">
      Мужская стрижка
      <span>от 300 грн.</span>
    </li>
    <li class="price-item">
      Стрижка бороды
      <span class="price-item__cost">от 200 грн.</span>
    </li>
    <li class="price-item">
      Стрижка усов
      <span class="price-item__cost">от 200 грн.</span>
    </li>
    <li class="price-item">
      Бритье опасной бритвой
      <span class="price-item__cost">от 200 грн.</span>
    </li>
    <li class="price-item">
      Стрижка у стажера
      <span class="price-item__cost">от 50 грн.</span>
    </li>
    <li class="price-item">
      Стрижка под насадку
      <span class="price-item__cost">от 200 грн.</span>
    </li>
    <li class="price-item">
      Детская стрижка (до 12 лет)
      <span class="price-item__cost">от 300 грн.</span>
    </li>
    <li class="price-item">
      Камуфлирование седины
      <span class="price-item__cost">от 200 грн.</span>
    </li>
  </ul>
  <button class="button">Онлайн-запись</button>
</section>
