<section class="section price">
  <div class="container price">
    <p class="tagline price">Проведи время в компании лучших мастеров</p>
    <h2 class="heading price">Услуги и цены</h2>

    <ul class="price-list">
      <li class="price-item">
        <span class="service-name">Мужская стрижка</span>
        <span class="service-price">от 300 грн.</span>
      </li>
      <li class="price-item">
        <span class="service-name">Стрижка бороды</span>
        <span class="service-price">от 200 грн.</span>
      </li>
      <li class="price-item">
        <span class="service-name">Стрижка усов</span>
        <span class="service-price">от 200 грн.</span>
      </li>
      <li class="price-item">
        <span class="service-name">Бритье опасной бритвой</span>
        <span class="service-price">от 200 грн.</span>
      </li>
      <li class="price-item">
        <span class="service-name">Cтрижка у стажера</span>
        <span class="service-price">от 50 грн.</span>
      </li>
      <li class="price-item">
        <span class="service-name">Стрижка под насадку</span>
        <span class="service-price">от 200 грн.</span>
      </li>
      <li class="price-item">
        <span class="service-name">Детская стрижка (до 12 лет)</span>
        <span class="service-price">от 300 грн.</span>
      </li>
      <li class="price-item">
        <span class="service-name">Камуфлирование седины</span>
        <span class="service-price">от 200 грн.</span>
      </li>
    </ul>

    <div class="center">
      <button class="record_button">Онлайн-Запись</button>
    </div>
  </div>
</section>
