<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
  </head>

  <body>
    <!--Section 2 - prices-->
    <section class="section-prices">
        <div class="container-prices">
            <div class="sub-title-container">
              <div class="prices-flatline"></div>
              <p class="subtitle-prices">Проведи время в компании лучших мастеров</p>
            </div>
            <h1 class="section-title">Услуги и цены</h1>
      <div class="prices-box">
        <ul class="box-1">
          <li>
              <p>Мужская стрижка</p>
          </li>
          <li>
              <p>Стрижка бороды</p>
          </li>
          <li>
              <p>Стрижка усов</p>
          </li>
          <li>
              <p>Бритье опасной бритвой</p>
          </li>
        </ul>
        <ul class="box-2">
            <li>
                <p>Cтрижка у стажера</p>
            </li>
            <li>
                <p>Стрижка под насадку</p>
            </li>
            <li>
                <p>Детская стрижка (до 12 лет)</p>
            </li>
            <li>
                <p>Камуфлирование седины</p>
            </li>
          </ul>
          <button class="button">Онлайн-запись</button>
        </div>
      </div>
    </section>
    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
  </body>
</html>
