<!-- Услуги и цены -->
<section class="section-price conteiner">
  <h2 class="price-title">
    Проведи время в компании лучших мастеров
  </h2>
  <h3 class="price-services-title">Услуги и цены</h3>
  <ul class="section-price-list">
    <li>
      <ul class="price-list">
        <li class="price-item">
          <p class="price-text">
            Мужская стрижка<span class="line">_________________</span>от 300
            грн.
          </p>
        </li>
        <li>
          <p class="price-text">
            Стрижка бороды<span class="line">_________________</span>от 200 грн.
          </p>
        </li>
        <li>
          <p class="price-text">
            Стрижка усов<span class="line">_________________</span>от 200 грн.
          </p>
        </li>
        <li>
          <p class="price-text">
            Бритье опасной бритвой<span class="line">_________________</span>от
            200 грн.
          </p>
        </li>
      </ul>
    </li>
    <li>
      <ul class="price-list">
        <li class="price-item">
          <p class="price-text">
            Cтрижка у стажера<span class="line">_________________</span>от 50
            грн.
          </p>
        </li>
        <li>
          <p class="price-text">
            Стрижка под насадку<span class="line">_________________</span>от 200
            грн.
          </p>
        </li>
        <li>
          <p class="price-text">
            Детская стрижка (до 12 лет)<span class="line"
              >_________________</span
            >от 300 грн.
          </p>
        </li>
        <li>
          <p class="price-text">
            Камуфлирование седины<span class="line">_________________</span>от
            200 грн.
          </p>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#">онлайн-запись</a>
</section>
