<section class="price-section section">
  <div class="price-container container">
    <h2 class="price-title">Проведи время в компании лучших мастеров</h2>
    <p class="price-text">Услуги и цены</p>
    <div class="price-list">
      <ul class="price-left list">
        <li class="price-item">
          <span class="price-service">Мужская стрижка</span>
          <span class="price-value">от 300 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-service">Стрижка бороды</span>
          <span class="price-value">от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-service">Стрижка усов</span>
          <span class="price-value">от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-service">Бритье опасной бритвой</span>
          <span class="price-value">от 200 грн.</span>
        </li>
      </ul>
      <ul class="price-right list">
        <li class="price-item">
          <span class="price-service">Cтрижка у стажера</span>
          <span class="price-value">от 50 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-service">Стрижка под насадку</span>
          <span class="price-value">от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-service">Детская стрижка (до 12 лет)</span>
          <span class="price-value">от 300 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-service">Камуфлирование седины</span>
          <span class="price-value">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <a href="" class="price-button">онлайн-запись</a>
  </div>
</section>
