<!-- <section class="problems">
        <div class="container">
                <h1 class="hidden-title">
                    problems
                </h1>
                <p class="problems-text">Главные проблемы учеников<br>
                    на English ВНО, которые <br>
                    мы <span class="problem-text-exception">помогаем </span>решить
                </p>
           
        
            <section class="section-problems">
                <div class="container-problems">
                    <ul class="problem-list">
                        <li class="problem-list-item">
                            <h3 class="problems-title accent-line">
                                Название грамматики
                            </h3>
                        </li>
                        <li class="problem-list-item">
                            <h3 class="problems-title accent-line">
                                Неумение вомпринимать<br>
                                устную английскую речь
                            </h3>
                        </li>   
                        <li class="problem-list-item">
                            <h3 class="problems-title accent-line">
                                Скупой словарный запас<br>
                                для написани сочинения
                            </h3>
                        </li>
                        <li class="problem-list-item">
                            <h3 class="problems-title accent-line">
                                Поодготовка в одиночку
                            </h3>
                        </li>
                        <li class="problem-list-item">
                            <h3 class="problems-title accent-line">
                                Отсутствие единого <br>
                                ресурса знаний
                            </h3>
                        </li>
                        <li class="problem-list-item">
                            <h3 class="problems-title accent-line ">
                                Недостатой самоорганизации и лень
                            </h3>
                        </li>
                    </ul>
                </div>
            </section>
        
        </div>
    </div>
</section> -->