
<section class="problems-section">
                <svg class="problems-section__image">
                    <use href="../src/images/svg/fire2.svg#fire"></use>
                </svg>
                
        
    <div class="container">
       
        <h2 class="problems-section__title">Главные проблемы учеников  на <span lang="en">English</span> ВНО, которые  мы <span
                class="problems-section__title--color">помогаем</span> решить</h2>
        <ul class="list problems-section__list">
            <li class="problems-section__item">
                <p class="problems-section__number">— 01</p> 
                <p>Незнание грамматики</p>
            </li>

            <li class="problems-section__item">
               <p class="problems-section__number">— 02</p>
              <p>Неумение воспринимать устную английскую речь</p>
            </li>
            <li class="problems-section__item">
                <p class="problems-section__number">— 03</p>
                <p>Скупой словарный запас для написания сочинения</p> 
            </li>
            <li class="problems-section__item">
                <p class="problems-section__number">— 04</p>
                <p>Подготовка в одиночку</p>
            </li>
            <li class="problems-section__item">
                <p class="problems-section__number">— 05</p>
               <p>Отсутствие единого ресурса знаний</p>
            </li>
            <li class="problems-section__item">
                <p class="problems-section__number">— 06</p>
               <p>Недостаток самоорганизации и лень</p> 
            </li>
        </ul>
</section>
<section class="answers-section">
    <a name="about"></a>
    <div class="container">
        <h2 class="answers-section__title">Как мы это делаем</h2>
        <ul class="list answers-section__list">
            <li class="answers-section__item">
                <a class="link answers-section__link" href="">
               <svg class="answers-section__icon">
                   <use href="./images/svg/sprite.svg#paper-answer"></use>
               </svg>
                <h3 class="answers-section__subtitle">Адаптированная программа <br>
                    подготовки к ВНО</h3>
                <p class="answers-section__description">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.</p>
            </a>
            </li>
            <li class="answers-section__item">
                <a class="link answers-section__link" href="">
                <svg class="answers-section__icon">
                    <use href="./images/svg/sprite.svg#study-answer"></use>
                </svg>
                <h3 class="answers-section__subtitle">Аудитория <br> и онлайн-обучение</h3>
                <p class="answers-section__description">Учитель поможет не только в аудитории, но и во время домашней подготовки.
                    Родители могут участвовать в чате при желании.</p>
                </a>
            </li>
            <li class="answers-section__item">
                <a class="link answers-section__link" href="">
                <svg class="answers-section__icon">
                    <use href="./images/svg/sprite.svg#book-answer"></use>
                </svg>
                <h3 class="answers-section__subtitle">Привычка читать на <br> английском языке</h3>
                <p class="answers-section__description">Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон
                    дважды в неделю.
                </p>
                </a>
            </li>
            <li class="answers-section__item">
                <a class="link answers-section__link" href="">
                <svg class="answers-section__icon">
                    <use href="./images/svg/sprite.svg#support-answer"></use>
                </svg>
                <h3 class="answers-section__subtitle">Психологическая <br> поддержка</h3>
                <p class="answers-section__description">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности
                    в себе.</p>
                    </a>
            </li>
            <li class="answers-section__item">
                <a class="link answers-section__link" href="">
                <svg class="answers-section__icon">
                    <use href="./images/svg/sprite.svg#student-answer"></use>
                </svg>
                <h3 class="answers-section__subtitle">Обучение по авторским <br> пособиям</h3>
                <p class="answers-section__description">Тебе не нужно тратить время
                    на самостоятельный поиск материала и ничего покупать дополнительно. Мы составили
                    2 пособия для тебя.</p>
                </a>
            </li>
            <li class="answers-section__item">
                <a class="link answers-section__link" href="">
                <svg class="answers-section__icon">
                    <use href="./images/svg/sprite.svg#audiobook-answer"></use>
                </svg>
                <h3 class="answers-section__subtitle">Умение воспринимать устную <br> английскую речь</h3>
                <p class="answers-section__description">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
                    и разбирать аудиозаписи
                    в соответствии с изучаемой лексикой.</p>
                    </a>
            </li>
        </ul>

    </div>

    </div>
    </div>
</section>
