<section class="problems">
  <div class="problems-wrapper">
    <div class="container">
      <h2 class="title">
        Главные проблемы учеников на English ВНО, которые мы
        <span class="accent">помогаем </span>решить
      </h2>
      <ul class="problems-list list">
        <li class="problems-list-item">Название грамматики</li>
        <li class="problems-list-item">
          Неумение воспринимать устную английскую речь
        </li>
        <li class="problems-list-item">
          Скупой словарный запас для написания сочинения
        </li>
        <li class="problems-list-item">Подготовка в одиночку</li>
        <li class="problems-list-item">Отсутствие единого ресурса знаний</li>
        <li class="problems-list-item">Недостаток самоорганизации и лень</li>
      </ul>
    </div>
  </div>
</section>

