<div class="wrapper">
  <div class="realative-position">
    <section class=" students-problems bg-image ">
      <div class="container">
        <h1 class="students-problems-title ">
          Главные проблемы учеников на English ВНО, которые мы
          <span class="color-text">помогаем</span> решить
        </h1>
      </div>
    </section>

    <section class="container students-absolute">
      <ul class="students-problems-list">
        <li class="students-problems-item">
          <p class="color">01</p>
          <p class="students-problems-subtitle">Незнание грамматики</p>
        </li>
        <li class="students-problems-item">
          <p class="color">02</p>
          <p class="students-problems-subtitle">
            Неумение воспринимать устную английскую речь
          </p>
        </li>
        <li class="students-problems-item">
          <p class="color">03</p>
          <p class="students-problems-subtitle">
            Скупой словарный запас для написания сочинения
          </p>
        </li>
        <li class="students-problems-item">
          <p class="color">04</p>
          <p class="students-problems-subtitle">Подготовка в одиночку</p>
        </li>
        <li class="students-problems-item">
          <p class="color">05</p>
          <p class="students-problems-subtitle">
            Отсутствие единого ресурса знаний
          </p>
        </li>
        <li class="students-problems-item">
          <p class="color">06</p>
          <p class="students-problems-subtitle">
            Недостаток самоорганизации и лень
          </p>
        </li>
      </ul>
    </section>
  </div>
</div>