<section id="problems" class="problems section">
    <div class="main-container">
        <h2 class="problems-title">Главные проблемы учеников <br> на English ВНО, которые<br> мы <span>помогаем</span> решить</h2>
        <ul class="problems-list">
            <li class="problems-list-item">
                <p>01</p>
                <h3>Название грамматики</h3>
            </li>
            <li class="problems-list-item">
                <p>02</p>
                <h3>Неумение вомпринимать устную английскую речь</h3>
            </li>
            <li class="problems-list-item">
                <p>03</p>
                <h3>Скупой словарный запас для написани сочинения</h3>
            </li>
            <li class="problems-list-item">
                <p>04</p>
                <h3>Поодготовка в одиночку</h3>
            </li>
            <li class="problems-list-item">
                <p>05</p>
                <h3>Отсутствие единого ресурса знаний</h3>
            </li>
            <li class="problems-list-item" >
                <p>06</p>
                <h3>Недостаток самоорганизации и лень</h3>
            </li>
        </ul>
    </div>
</section>