
<section class="problems-section">
    <div class="container">
        <h2 class="problems-section__title">Главные проблемы учеников на English ВНО, которые мы <span
                class="problems-section__title--color">помогаем</span> решить</h2>

        <ul class="list problems-section__problem">
            <li class="problem-section__problem-item">01 <br>
                <span>Незнание грамматики</span>
            </li>

            <li class="problem-section__problem-item">02
              <span>Неумение воспринимать устную английскую речь</span>
            </li>
            <li class="problem-section__problem-item">Скупой словарный запас для написания сочинения</li>
            <li class="problem-section__problem-item">Подготовка в одиночку</li>
            <li class="problem-section__problem-item">Отсутствие единого ресурса знаний</li>
            <li class="problem-section__problem-item">Недостаток самоорганизации и лень</li>
        </ul>
</section>
<section class="answers-section">
    <div class="container">
        <h2 class="answers-section__title">Как мы это делаем</h2>
        <ul class="list answers-section__list">
            <li class="answers-section__list-item">
                <a class="answers-section__icon" href="">
                   
                </a>
                <h3 class="answers-section__list-subtitle">Адаптированная программа
                    подготовки к ВНО</h3>
                <p>Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.</p>
            </li>
            <li class="answers-section__list-item">
                <h3 class="answers-section__list-subtitle">Аудитория и онлайн-обучение</h3>
                <p>Учитель поможет не только в аудитории, но и во время домашней подготовки.
                    Родители могут участвовать в чате при желании.</p>
            </li>
            <li class="answers-section__list-item">
                <h3 class="answers-section__list-subtitle">Привычка читать на английском языке</h3>
                <p>Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон
                    дважды в неделю.
                </p>
            </li>
            <li class="answers-section__list-item">
                <h3 class="answers-section__list-subtitle">Психологическая
                    поддержка</h3>
                <p>Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности
                    в себе.</p>
            </li>
            <li class="answers-section__list-item">
                <h3 class="answers-section__list-subtitle">Обучение по авторским пособиям</h3>
                <p>Тебе не нужно тратить время
                    на самостоятельный поиск материала и ничего покупать дополнительно. Мы составили
                    2 пособия для тебя.</p>
            </li>
            <li class="answers-section__list-item">
                <h3 class="answers-section__list-subtitle">Умение воспринимать устную английскую речь</h3>
                <p>“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
                    и разбирать аудиозаписи
                    в соответствии с изучаемой лексикой.</p>
            </li>
        </ul>

    </div>

    </div>
    </div>
</section>