<section class="process">
    <div class="bg-img"></div>
    <div class="container">
        <h2 class="section-title">tradition and love <br>
            <span>how it’s made?</span>
        </h2>
        <picture class="process-picture">
            <source srcset="./images/process/mobile/cow_webp1x.webp 1x, ./images/process/mobile/cow_webp@2x.webp 2x"
                media="(min-width: 320px)" type="image/webp">
            <source srcset="./images/process/mobile/cow1x.png 1x, ./images/process/mobile/cow@2x.png 2x"
                media="(min-width: 320px)" type="image/webp">
            <img src="./images/process/mobile/cow1x.png" alt="графин молока и корова" width="280px">
        </picture>
        <p class="process-history">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
            faucibus
            lorem eget, egestas
            eros.
            Maecenas eleifend erat at justo fringilla.</p>
        <p class="process-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
            placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="process-text">
            Aliquam erat volutpat. Aenean accumsan.
        </p>
        <div class="btn-container">
            <button type="button" class="button button-process">Read more
                <svg class="process-btn-svg">
                    <use href="./images/btn-arrow-right.svg#right-arrow-button"></use>
                </svg>
            </button>
        </div>
        <ul class="process-list">
            <li class="process-list-item">
                <img class="process-list-img" src="./images/process/mobile/dug1x.png" alt="вымя и ведро">
                <p class="numbers numbers-section">721</p>
                <p class="process-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="process-list-item">
                <img class="process-list-img" src="./images/process/mobile/apples1x.png" alt="яблоки в ведре">
                <p class="numbers numbers-section">16kg</p>
                <p class="process-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="process-list-item">
                <img class="process-list-img" src="./images/process/mobile/heart1x.png" alt="сердце на палочке">
                <p class="numbers numbers-section">84</p>
                <p class="process-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

        </ul>


    </div>

</section>