<section class="process">
  <a href="#" class="back-to-top"></a>
  <div class="bg-img"></div>
  <div class="container">
    <h2 class="section-title" id="process">
      tradition and love
      <span>how it’s made?</span>
    </h2>
    <div class="section-container">
      <picture class="process-picture">
        <source
          srcset="
            ./images/process/desktop/cow_webp1x.webp  1x,
            ./images/process/desktop/cow_webp@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/process/desktop/cow1x.png  1x,
            ./images/process/desktop/cow@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/process/tablet/cow_webp1x.webp  1x,
            ./images/process/tablet/cow_webp@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/process/tablet/cow1x.png  1x,
            ./images/process/tablet/cow@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/process/mobile/cow_webp1x.webp  1x,
            ./images/process/mobile/cow_webp@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/process/mobile/cow1x.png  1x,
            ./images/process/mobile/cow@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/process/mobile/cow1x.png"
          alt="a carafe of milk and a cow"
        />
      </picture>
      <div class="container-description">
        <p class="process-history">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="process-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="process-text">Aliquam erat volutpat. Aenean accumsan.</p>
        <div class="btn-container">
          <button type="button" class="button button-process" data-modal-open>
            Read more
            <svg class="process-btn-svg">
              <use href="./images/sprite.svg#right-arrow-button"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <ul class="process-list">
      <li class="process-list-item">
        <picture class="process-list-picture shake-slow">
          <source
            srcset="
              ./images/process/mobile/dug_webp1x.webp  1x,
              ./images/process/mobile/dug_webp@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/process/mobile/dug1x.png  1x,
              ./images/process/mobile/dug@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/process/mobile/dug1x.png"
            alt="udder and bucket"
            width="33"
            height="50"
          />
        </picture>
        <p class="numbers numbers-section">721</p>
        <p class="process-list-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="process-list-item">
        <picture class="process-list-picture shake-slow">
          <source
            srcset="
              ./images/process/mobile/apples_webp1x.webp  1x,
              ./images/process/mobile/apples_webp@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/process/mobile/apples1x.png    1x,
              ./images/process/mobile/apples@2x-1.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/process/mobile/apples1x.png"
            alt="apples in a bucket"
            width="50"
            height="50"
          />
        </picture>
        <p class="numbers numbers-section">16kg</p>
        <p class="process-list-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="process-list-item">
        <picture class="process-list-picture shake-slow">
          <source
            srcset="
              ./images/process/mobile/heart_webp1x.webp  1x,
              ./images/process/mobile/heart_webp@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/process/mobile/heart1x.png    1x,
              ./images/process/mobile/heart@2x-2.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/process/mobile/heart1x.png"
            alt="heart on a stick"
            width="44"
            height="50"
          />
        </picture>
        <p class="numbers numbers-section">84</p>
        <p class="process-list-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
