
<section class="products container">
  <div class="product-ice-cream-title">
    <p class="product-benefit">100% natural</p>
    <h2 class="product-title">products</h2>
  </div>

  <ul class="product-list">
    <li class="product-item list color-ice-cream container">
      <div class="product-img-ice-cream">
        <h3 class="product-title-ice-cream">ice cream</h3>
      </div>

      <div class="product-svg-ice-cream">
        <p class="product-ice-cream-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </div>

      <button class="products-btn">
        <svg class="products-ice-cream-icon">
          <use href="./images/sprite.svg#right"></use>
        </svg>
      </button>
    </li>
    <li class="product-item list container"></li>
    <li class="product-item list container"></li>
  </ul>
</section>