<section class="products" id="products-section">
  <div class="container container--modif">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="products__list unstyled-list">
      <li class="products__list-item appearance">
        <div class="products-cards ">
          <h3 class="products-cards__subtitle">ice cream</h3>
          <div class="products-cards__dots"></div>
          <p class="products-cards__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="arrow-button raise" type="button">
            <svg class="arrow-button__svg " width="15px" height="15px">
              <use href="/src/images/sprite.svg#icon-arrow-thick-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list-item appearance1">
        <div class="products-cards ">
          <h3 class="products-cards__subtitle">ice coffee</h3>
          <div class="products-cards__dots"></div>
          <p class="products-cards__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="arrow-button raise" type="button">
            <svg class="arrow-button__svg" width="15px" height="15px">
              <use href="/src/images/sprite.svg#icon-arrow-thick-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__list-item appearance2">
        <div class="products-cards ">
          <h3 class="products-cards__subtitle">milkshakes</h3>
          <div class="products-cards__dots"></div>
          <p class="products-cards__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="arrow-button raise" type="button">
            <svg class="arrow-button__svg " width="15px" height="15px">
              <use href="/src/images/sprite.svg#icon-arrow-thick-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>