<!-- product -->
<section class="product container">
  <div class="section-title">
    <p class="product-subtitles">100% natural</p>
    <h2 class="product-title">products</h2>
  </div>

  <ul>
    <li class="card ice-cream list">
      <div class="product-png">
       
      </div>

      <ul>
        <li class="card ice-cream list">
          <div class="project-png">
            <picture>
              <source srcset="
              ./images/products/icecreamdesktop.png 1x,
              ./images/products/icecreamdesktop@2x.png  2x
                " media="(min-width: 1200px)">
              <source srcset="
              ./images/products/icecreamtablet.png 1x,
              ./images/products/icecreamtablet@2x.png 2x"
               media="(min-width: 768px)">
              <source srcset="
              ./images/products/icecreammobile.png  1x,
              ./images/products/icecreammobile@2x.png  2x
                " media="(min-width: 320px)">
               
                <img
                srcset="./images/products/icecreammobile.png 1x,
                          ./images/products/icecreammobile.png 2x"
                alt="ice cream"
                 />
          </picture>
          </div>
          <h3 class="card-title">ice cream</h3>
          <svg class="svg-first" width="26" height="6">
            <use href="./images/sprite-product.svg#icon-svg-projects"></use>
          </svg>
          <p class="project-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#">
           <svg class="svg-second" width="40" height="40">
                <use href=></use>
            </svg>
           <!-- <img
              class="svg-second"
              src="./images/arrow-right.jpg"
              alt="arrow-right"
              width="40"
              height="40"
            /> -->
          </a>
        </li>
        <li class="card ice-coffee list">
          <div class="project-png">
           
          </div>

          <h3 class="card-title">ice cream</h3>
          <svg class="svg-first" width="26" height="6">
            <use href="./images/sprite-product.svg#icon-svg-projects"></use>
          </svg>
          <p class="project-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#">
            <svg class="svg-second" width="40" height="40">
                <use href=></use>
            </svg>
            <!-- <img
              class="svg-second"
              src="./images/arrow-right.jpg"
              alt="arrow-right"
              width="40"
              height="40"
            /> -->
          </a>
        </li>
        <li class="card milkshakes list">
          <div class="project-png">
            
      </div>

          <h3 class="card-title">ice cream</h3>
          <svg class="svg-first" width="26" height="6">
            <use href="./images/sprite-product.svg#icon-svg-projects"></use>
          </svg>
          <p class="project-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#"> -->
             <svg class="svg-second" width="40" height="40">
                <use href=></use>
            </svg>
            <!-- <img
              class="svg-second"
              src="./images/arrow-right.jpg"
              alt="arrow-right"
              width="40"
              height="40"
            /> -->
          </a>
        </li>
      </ul>
    </section>
    <script src="./index.js"></script>
  </body>
</html>
