<!-- Section Products -->

<section class="section__products" id="products">
  <div class="container products">
    <h2
      class="section__title title wow fadeInLeft"
      data-wow-mobile="false"
      data-wow-offset="80"
    >
      <span
        class="section__subtitle sub-title wow fadeInRight"
        data-wow-delay="1.2s"
        >100% natural<br
      /></span>
      products
    </h2>
    <ul class="products-list">
      <li
        class="products-list__item first-item wow fadeInUp"
        data-wow-delay="0.4s"
      >
        <picture>
          <source
            srcset="
              ./images/products/icecream-products-mobile.webp    1x,
              ./images/products/icecream-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/products/icecream-products-tablet.webp    1x,
              ./images/products/icecream-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/icecream-products.webp    1x,
              ./images/products/icecream-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="products-list__img"
            src="./images/products/icecream-products.png"
            alt="pink strawberry ice cream cone"
            srcset="
              ./images/products/icecream-products-mobile.png    1x,
              ./images/products/icecream-products-mobile@2x.png 2x,
              ./images/products/icecream-products-tablet.png    1x,
              ./images/products/icecream-products-tablet@2x.png 2x,
              ./images/products/icecream-products.png           1x,
              ./images/products/icecream-products@2x.png        2x
            "
          />
        </picture>
        <div class="products__content-box">
          <h3 class="products-list__title">ice cream</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
            <span class="products-list__text-part"
              >dolore magna aliqua facilisis.</span
            >
          </p>

          <a
            class="products-list__link wow heartBeat"
            data-wow-delay="1s"
            href=""
          ></a>
        </div>
      </li>

      <li
        class="products-list__item second-item wow fadeInUp"
        data-wow-delay="0.7s"
      >
        <picture>
          <source
            srcset="
              ./images/products/icecoffee-products-mobile.webp    1x,
              ./images/products/icecoffee-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/products/icecoffee-products-tablet.webp    1x,
              ./images/products/icecoffee-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/icecoffee-products.webp    1x,
              ./images/products/icecoffee-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="products-list__img"
            src="./images/products/icecoffee-products.png"
            alt="glass of ice coffee"
            srcset="
              ./images/products/icecoffee-products-mobile.png    1x,
              ./images/products/icecoffee-products-mobile@2x.png 2x,
              ./images/products/icecoffee-products-tablet.png    1x,
              ./images/products/icecoffee-products-tablet@2x.png 2x,
              ./images/products/icecoffee-products.png           1x,
              ./images/products/icecoffee-products@2x.png        2x
            "
          />
        </picture>
        <div class="products__content-box">
          <h3 class="products-list__title">ice coffee</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
            <span class="products-list__text-part"
              >dolore magna aliqua facilisis.</span
            >
          </p>
        
        <a
          class="products-list__link wow heartBeat"
          data-wow-delay="1s"
          href=""
        ></a>
        </div>
      </li>

      <li
        class="products-list__item third-item wow fadeInUp"
        data-wow-delay="0.9s"
      >
        <picture>
          <source
            srcset="
              ./images/products/milkshakes-products-mobile.webp    1x,
              ./images/products/milkshakes-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/products/milkshakes-products-tablet.webp    1x,
              ./images/products/milkshakes-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/milkshakes-products.webp    1x,
              ./images/products/milkshakes-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="products-list__img"
            src="./images/products/milkshakes-products.png"
            alt="chocolate milkshake"
            srcset="
              ./images/products/milkshakes-products-mobile.png    1x,
              ./images/products/milkshakes-products-mobile@2x.png 2x,
              ./images/products/milkshakes-products-tablet.png    1x,
              ./images/products/milkshakes-products-tablet@2x.png,
              ./images/products/milkshakes-products.png           1x,
              ./images/products/milkshakes-products@2x.png        2x
            "
          />
        </picture>
        <div class="products__content-box">
          <h3 class="products-list__title">milkshakes</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
            <span class="products-list__text-part"
              >dolore magna aliqua facilisis.</span
            >
          </p>
        
        <a
          class="products-list__link wow heartBeat"
          data-wow-delay="1s"
          href=""
        ></a>
      </li>
      </div>
    </ul>
  </div>
</section>
