<section class="section production">
  <div class="container">
    <p class="sub-title"></p>
    <h2 class="title">
      <span class="sub-title">tradition and love</span> how it’s made?
    </h2>
    <div class="production-desc">
      <p class="desc">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="secondary-desc">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="button-white">Read more</button>
    </div>
    <ul class="production-list">
      <li class="production-list-item">
        <div class="production-box icon-milk">
          <p class="desc-numbers">721</p>
          <p class="text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="production-list-item">
        <div class="production-box icon-apple">
          <p class="desc-numbers">16kg</p>
          <p class="text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="production-list-item">
        <div class="production-box icon-heart">
          <p class="desc-numbers">84</p>
          <p class="text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
