<section class="production">
    <div class="container" id="production">
        <h2 class="production-title">
            <span class="regular">Tradition and love</span> <span class="accent">how it's made?</span>
        </h2>
        
        <div class="cow-container">
           
            <img class="cow-image"
                srcset="../src/images/mobile/production/cow.png 1x, ../src/images/mobile/production/cow@2x.png 2x, ../src/images/mobile/production/cow@3x.png 3x"
                src="../src/images/mobile/production/cow.png" alt="Cow Image">
          
           
            <div class="description-container">

                <p class="production-description black">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>

                <p class="production-description">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                    placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                    <br>
                    <br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>

                <button class="button" href="#">
                    <span class="button-text">
                        read more
                    </span>
                    <svg width="5px" height="8px">
                        <use href="../src/images/symbol-defs.svg#icon-right"></use>
                    </svg>
                </button>
            
            </div>
        </div>

        
        
    

        <ul class="production-features">
            <li>
                <ul class="production-features-list">
                    <li class="features-list-icon1">
                        <svg width="50px" height="75px">
                            <use href="../src/images/symbol-defs.svg#icon-milk"></use>
                           
                        </svg>
                    </li>
                    <li class="features-list-item">
                        721
                    </li>
                    <li class="features-list-description">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </li>
                </ul>
            </li>
            <li>
                <ul class="production-features-list">
                    <li class="features-list-icon2">
                        <svg width="50px" height="50px">
                            <use href="../src/images/symbol-defs.svg#icon-apples"></use>
                        </svg>
                    </li>
                    <li class="features-list-item">
                        16KG
                    </li>
                    <li class="features-list-description">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </li>
                </ul>
            </li>
            <li>
                <ul class="production-features-list">
                    <li class="features-list-icon3">
                        <svg width="44px" height="50px">
                            <use href="../src/images/symbol-defs.svg#icon-heart-shaped-ice-cream"></use>
                        </svg>
                    </li>
                    <li class="features-list-item">
                        84
                    </li>
                    <li class="features-list-description">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="milk">
        <img srcset="
        ../src/images/mobile/production/milk.png 1x 320w,
        ../src/images/mobile/production/milk@2.png 2x 320w,
        ../src/images/mobile/production/milk@3.png 3x 320w,
        ../src/images/desktop/production/milk_1280.png 1200w,
        ../src/images/desktop/production/milk_1280@2x.png 1200w 2x,
        ../src/images/desktop/production/milk_1280@3x.png 1200w 3x"
        sizes="100vw"
        src="../src/images/mobile/production/milk.png"
        alt="Milk background">
    </div>
</section>