<section class="product">
    <p class="product-label">100% natural</p>
    <h2 class="products-title">products</h2>

    <ul class="product-list">
        <li>
            <img src="" alt="ice cream">
            <h3 class="product-title">ice cream</h3>
            <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.
            </p>
            <button class="product-button" type="button" width="40px" height="40px"></button>
        </li>
        <li>
            <img src="" alt="ice coffee">
            <h3 class="product-title">ice coffee</h3>
            <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.
            </p>
            <button type="button"></button>
        </li>
        <li>
            <img src="" alt="milkshakes">
            <h3 class="product-title">milkshakes</h3>
            <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.
            </p>
            <button type="button"></button>
        </li>
    </ul>

</section>