<div class="backdrop hidden" cream-modal>
    <div class="modal">
        <button class="close-button" cream-modal-close >✖</button>
        <h2 class="product-title">ice cream</h2>
        <p class="product-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, vel, possimus magni earum est sed, illum sequi nostrum quam molestiae suscipit sapiente quasi quibusdam commodi quisquam accusantium harum ipsum? Ipsum nostrum aspernatur et cum placeat. Iure quos neque, pariatur impedit quasi eligendi qui ratione sed hic error voluptatibus! Temporibus cumque, cupiditate odit iste voluptatum ea excepturi tenetur commodi, officiis, rerum impedit soluta! Deleniti, beatae tempora? Id nisi qui assumenda repudiandae! Perferendis blanditiis fugit porro ea, sed non. Error officiis possimus, neque animi distinctio omnis, sunt blanditiis, eligendi repellendus in molestias consequatur tenetur aut eius adipisci repellat odit aliquid! Vel, sapiente?</p>
        <button class="button-buy">Buy now</button>
    </div>
</div>