<section class="section-products">
    <div class="container">
        <p class="lable-products">100% natural</p>
    <h2 class="products-title">products</h2>
        <ul class="products-list">
            <li class="products-item">
                <div class="photo-products">
                    <img class="products-image"
                    srcset="./images/products/img-mob-icecream@1x.png 1x, ./images/products/img-mob-icecream@2x.png 2x" 
                    src="./images/products/img-mob-icecream@1x.png" 
                    alt="мороженое"
                    width="249">
                </div>
               
                <div class="heading-title">
                    <h3 class="products-name">ice cream</h3>
                    <svg class="ellipsis-icon" width="26" height="6">
                        <use href="./images/icons/symbol-defs.svg#ellipsis-icon"></use>
                    </svg>
                    <div class="description-item">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    </div>
                    <button class="detailed-description">
                    <svg class="arrow-icon" width="15" height="15">
                        <use href="./images/icons/symbol-defs.svg#icon-right-arrow"></use>
                    </svg>
                    </button>
                </div>
            </li>

            <li class="products-item">
                <div class="photo-products">
                    <img class="products-image"
                    srcset="./images/products/img-desktop-icecoffee@1x.png 1x, ./images/products/img-desktop-icecoffee@2x.png 2x" 
                    src="./images/products/img-desktop-icecoffee@1x.png" 
                    alt="кофе"
                    width="249">
                </div>

                <div class="heading-title">
                    <h3 class="products-name">ice coffee</h3>
                    <svg class="ellipsis-icon" width="26" height="6">
                        <use href="./images/icons/symbol-defs.svg#ellipsis-icon"></use>
                    </svg>
                    <div class="description-item">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    </div>
                    <button class="detailed-description">
                    <svg class="arrow-icon" width="15" height="15">
                        <use href="./images/icons/symbol-defs.svg#icon-right-arrow"></use>
                    </svg>
                    </button>
                </div>
            </li>

            <li class="products-item">
                <div class="photo-products">
                    <img class="products-image"
                    srcset="./images/products/img-desktop-milkshake@1x.png 1x, ./images/products/img-desktop-milkshake@2x.png 2x" 
                    src="./images/products/img-desktop-milkshake@1x.png" 
                    alt="молочный коктейль"
                    width="249">
                </div>

                <div class="heading-title">
                    <h3 class="products-name">milkshakes</h3>
                    <svg class="ellipsis-icon" width="26" height="6">
                        <use href="./images/icons/symbol-defs.svg#ellipsis-icon"></use>
                    </svg>
                    <div class="description-item">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    </div>
                    <button class="detailed-description">
                    <svg class="arrow-icon" width="15" height="15">
                        <use href="./images/icons/symbol-defs.svg#icon-right-arrow"></use>
                    </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    
</section>