<!-- product -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.6.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./css/main.min.css" />
  </head>

  <body>
    <section class="projects container">
      <div class="section-title">
        <p class="project-subtitles">100% natural</p>
        <h2 class="project-title">products</h2>
      </div>

      <ul>
        <li class="card ice-cream list">
          <div class="project-png">
            <picture>
              <source
                srcset="
                  ./images/png-desktop/ice-cream.png,
                  ./images/png-desktop/ice-cream@2x.png 2x
                "
                media="(min-width:
                                1200px)"
              />
              <source
                srcset="
                  ./images/png-tablet/ice-cream.png,
                  ./images/png-tablet/ice-cream@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/png-mobile/ice-cream.png,
                  ./images/png-mobile/ice-cream@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/png-mobile/ice-cream.png" alt="milkshakes" />
            </picture>
          </div>

          <h3 class="card-title">ice cream</h3>
          <svg class="svg-first" width="26" height="6">
            <use href="./images/sprite.svg#icon-svg-projects"></use>
          </svg>
          <p class="project-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#">
            <!-- <svg class="svg-second" width="40" height="40">
                <use href=></use>
            </svg> -->
            <img
              class="svg-second"
              src="./images/arrow-right .jpg"
              alt="arrow-right"
              width="40"
              height="40"
            />
          </a>
        </li>
        <li class="card ice-coffee list">
          <div class="project-png">
            <picture>
              <source
                srcset="
                  ./images/png-desktop/ice-coffee.png,
                  ./images/png-desktop/ice-coffee@2x.png 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/png-tablet/ice-coffee.png,
                  ./images/png-tablet/ice-coffee@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/png-mobile/ice-coffee.png,
                  ./images/png-mobile/ice-coffee@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/png-mobile/ice-coffee.png" alt="ice-coffee" />
            </picture>
          </div>

          <h3 class="card-title">ice cream</h3>
          <svg class="svg-first" width="26" height="6">
            <use href="./images/sprite.svg#icon-svg-projects"></use>
          </svg>
          <p class="project-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#">
            <!-- <svg class="svg-second" width="40" height="40">
                <use href=></use>
            </svg> -->
            <img
              class="svg-second"
              src="./images/arrow-right .jpg"
              alt="arrow-right"
              width="40"
              height="40"
            />
          </a>
        </li>
        <li class="card milkshakes list">
          <div class="project-png">
            <picture>
              <source
                srcset="
                  ./images/png-desktop/milkshakes.png,
                  ./images/png-desktop/milkshakes@2x.png 2x
                "
                media="(min-width:
                                1200px)"
              />
              <source
                srcset="
                  ./images/png-tablet/milkshakes.png,
                  ./images/png-tablet/milkshakes@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/png-mobile/milkshakes.png,
                  ./images/png-mobile/milkshakes@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/png-mobile/milkshakes.png" alt="ice-cream" />
            </picture>
          </div>

          <h3 class="card-title">ice cream</h3>
          <svg class="svg-first" width="26" height="6">
            <use href="./images/sprite.svg#icon-svg-projects"></use>
          </svg>
          <p class="project-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#">
            <!-- <svg class="svg-second" width="40" height="40">
                <use href=></use>
            </svg> -->
            <img
              class="svg-second"
              src="./images/arrow-right .jpg"
              alt="arrow-right"
              width="40"
              height="40"
            />
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
