<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    
    <main>
        <!--products-->
        <section class="section-products">
            <div class="container">
                <a name="Products"></a>
                <p class="products-text"> 100% natural</p>
                <h2 class="products-title"> products </h2>

                <ul class="list products-item">
                    <li class="products-list">
                        <div class="products-content cream">
                            <h3 class="products-content-title">ice cream</h3>
                            <p class="products-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                            <div id="openModal" class="products-icon">
                                <button type="button" class="button-products">
                                    <svg class="products-arrow" width="11px" height="10px">
                                        <use href="./images/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </li>

                    <li class="products-list">
                        <div class="products-content coffee">
                            <h3 class="products-content-title">ice coffee</h3>
                            <p class="products-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                            <div class="products-icon">
                                <button type="button" class="button-products">
                                    <svg class="products-arrow" width="11px" height="10px">
                                        <use href="./images/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </li> 

                    <li class="products-list">
                        <div class="products-content shakes">
                            <h3 class="products-content-title">milkshakes</h3>
                            <p class="products-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                            <div class="products-icon">
                                <button type="button" class="button-products">
                                    <svg class="products-arrow" width="11px" height="10px">
                                        <use href="./images/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </li>     
                </ul>
            </div>

            <!-- подробное описание продукта -->
            <!-- <div  class="product-item is-hidden" data-modal>
                <div class="product-open" >
                    <img src="https://picsum.photos/500/550">
                    <div class="product-list">
                        <h3>Blueberry 🍨</h3>
                        <p class="product-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate magni veritatis nobis excepturi tenetur, ratione laudantium perferendis rerum dolorum enim quaerat accusamus neque ipsam repudiandae consequuntur dicta magnam quo in.</p>
                        <span class="price">$ 32</span>
                        <a href="" class="product-button" data-modal-close>cart</a>
                    </div>
                </div>
            </div> -->

        </section>
    </main>

    
</body>
</html>