<!-- Section Products -->

<section class="section__products">
  <div class="container products">
    <p class="section__subtitle sub-title">100% natural</p>
    <h2 class="section__title title">products</h2>
    <ul class="products-list">
      <li class="products-list__item--first">
        <picture>
          <source
            srcset="
              ./images/products/icecream-products-mobile.webp 1x,
              ./images/products/icecream-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/products/icecream-products-tablet.webp 1x,
              ./images/products/icecream-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/icecream-products.webp 1x,
              ./images/products/icecream-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="products-list__img"
            src="./images/products/icecream-products-mobile.png"
            alt="pink strawberry ice cream cone"
            srcset="
              ./images/products/icecream-products-mobile.png,
              ./images/products/icecream-products-mobile@2x.png
              ./images/products/icecream-products-tablet.png,
              ./images/products/icecream-products-tablet@2x.png,
              ./images/products/icecream-products.png,
              ./images/products/icecream-products@2x.png
            "
          />
        </picture>
        <div class="products__content-box">
          <h3 class="products-list__title">ice cream</h3>
          <span class="products-list__dots">...</span>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="products-list__link" href="">
            <svg class="products-list__icon" width="40" height="40">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products-list__item--second">
        <picture>
          <source
            srcset="
              ./images/products/icecoffee-products-mobile.webp    1x,
              ./images/products/icecoffee-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/products/icecoffee-products-tablet.webp    1x,
              ./images/products/icecoffee-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/icecoffee-products.webp    1x,
              ./images/products/icecoffee-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="products-list__img"
            src="./images/products/icecoffee-products-mobile.png"
            alt="glass of ice coffee"
            srcset="
              ./images/products/icecoffee-products-mobile.png,
              ./images/products/icecoffee-products-mobile@2x.png,
              ./images/products/icecoffee-products-tablet.png,
              ./images/products/icecoffee-products-tablet@2x.png,
              ./images/products/icecoffee-products.png,
              ./images/products/icecoffee-products@2x.png
            "
          />
        </picture>
        <div class="products__content-box">
          <h3 class="products-list__title">ice coffee</h3>
          <span class="products-list__dots">...</span>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="products-list__link" href="">
            <svg class="products-list__icon" width="40" height="40">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products-list__item--third">
        <picture>
          <source
            srcset="
              ./images/products/milkshakes-products-mobile.webp    1x,
              ./images/products/milkshakes-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ./images/products/milkshakes-products-tablet.webp    1x,
              ./images/products/milkshakes-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/milkshakes-products.webp    1x,
              ./images/products/milkshakes-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="products-list__img"
            src="./images/products/milkshakes-products-mobile.png"
            alt="chocolate milkshake"
            srcset="
              ./images/products/milkshakes-products-mobile.png,
              ./images/products/milkshakes-products-mobile@2x.png
              ./images/products/milkshakes-products-tablet.png,
              ./images/products/milkshakes-products-tablet@2x.png,
              ./images/products/milkshakes-products.png,
              ./images/products/milkshakes-products@2x.png
            "
          />
        </picture>
        <div class="products__content-box">
          <h3 class="products-list__title">milkshakes</h3>
          <span class="products-list__dots">...</span>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="products-list__link" href="">
            <svg class="products-list__icon" width="40" height="40">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
