<!-- Section product-card -->
<section class="section__products">
  <div class="container products">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="product-list">
      <li class="product-list_item">
        <picture>
          <source
            srcset="
              ../src/images/products/icecream-products-mobile.webp    1x,
              ../src/images/products/icecream-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ../src/images/products/icecream-products-tablet.webp    1x,
              ../src/images/products/icecream-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/products/icecream-products.webp    1x,
              ../src/images/products/icecream-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="product-list__img"
            src="../src/images/products/icecream-products-mobile.png"
            alt="strawberry ice cream cone"
            srcset="
              ../src/images/products/icecream-products-mobile.png,
              ../src/images/products/icecream-products-mobile@2x.png
              ../src/images/products/icecream-products-tablet.png,
              ../src/images/products/icecream-products-tablet@2x.png,
              ../src/images/products/icecream-products.png,
              ../src/images/products/icecream-products@2x.png
            "
          />
        </picture>
        <h3 class="product-list__title">ice cream</h3>
        <span class="product-list__dots">...</span>
        <p class="product-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="product-list__link" href="">
          <svg class="product-list__icon" width="40" height="40">
            <use href="#"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="product-list">
      <li class="product-list_item">
        <picture>
          <source
            srcset="
              ../src/images/products/icecoffee-products-mobile.webp    1x,
              ../src/images/products/icecoffee-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ../src/images/products/icecoffee-products-tablet.webp    1x,
              ../src/images/products/icecoffee-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/products/icecoffee-products.webp    1x,
              ../src/images/products/icecoffee-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="product-list__img"
            src="../src/images/products/icecoffee-products-mobile.png"
            alt="strawberry ice cream cone"
            srcset="
              ../src/images/products/icecoffee-products-mobile.png,
              ../src/images/products/icecoffee-products-mobile@2x.png,
              ../src/images/products/icecoffee-products-tablet.png,
              ../src/images/products/icecoffee-products-tablet@2x.png,
              ../src/images/products/icecoffee-products.png,
              ../src/images/products/icecoffee-products@2x.png
            "
          />
        </picture>
        <h3 class="product-list__title">ice coffee</h3>
        <span class="product-list__dots">...</span>
        <p class="product-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="product-list__link" href="">
          <svg class="product-list__icon" width="40" height="40">
            <use href="#"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="product-list">
      <li class="product-list_item">
        <picture>
          <source
            srcset="
              ../src/images/products/milkshakes-products-mobile.webp    1x,
              ../src/images/products/milkshakes-products-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            srcset="
              ../src/images/products/milkshakes-products-tablet.webp    1x,
              ../src/images/products/milkshakes-products-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/products/milkshakes-products.webp    1x,
              ../src/images/products/milkshakes-products@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <img
            class="product-list__img"
            src="../src/images/products/milkshakes-products-mobile.png"
            alt="strawberry ice cream cone"
            srcset="
              ../src/images/products/milkshakes-products-mobile.png,
              ../src/images/products/milkshakes-products-mobile@2x.png
              ../src/images/products/milkshakes-products-tablet.png,
              ../src/images/products/milkshakes-products-tablet@2x.png,
              ../src/images/products/milkshakes-products.png,
              ../src/images/products/milkshakes-products@2x.png
            "
          />
        </picture>
        <h3 class="product-list__title">milkshakes</h3>
        <span class="product-list__dots">...</span>
        <p class="product-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="product-list__link" href="">
          <svg class="product-list__icon" width="40" height="40">
            <use href="#"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
