<div class="programm-conteiner">
  <section class="conteiner">
    <h2 class="programm-title">Наша программа</h2>
    <ul>
      <li>
        <h3 class="programm-list_title">1 семестр</h3>
        <ul>
          <li>
            <h4 class="programm-item_title">— Grammar</h4>
            <p>Nouns & Articles</p>
            <p>Adjectives & Adverb</p>
          </li>
          <li>
            <h4 class="programm-item_title">— Vocabulary</h4>
            <p>Family & Relations</p>
            <p>People & Society</p>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="programm-list_title">2 семестр</h3>
        <ul>
          <li>
            <h4 class="programm-item_title">— Grammar</h4>
            <p>Pronouns</p>
            <p>Active Voice</p>
            <p>Passive Voice</p>
          </li>
          <li>
            <h4 class="programm-item_title">— Vocabulary</h4>
            <p>Home</p>
            <p>School</p>
            <p>Work</p>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="programm-list_title">3 семестр</h3>
        <ul>
          <li>
            <h4 class="programm-item_title">— Grammar</h4>
            <p>Modal verbs</p>
            <p>Infinitive</p>
            <p>Gerund</p>
            <p>Participle: 1, 2</p>
          </li>
          <li>
            <h4 class="programm-item_title">— Vocabulary</h4>
            <p>Travel & Tourism</p>
            <p>Culture & Free</p>
            <p>Time Sport</p>
          </li>
          <li>
            <h4 class="programm-item_title">— Writing</h4>
            <p>Informal Letter</p>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="programm-list_title">4 семестр</h3>
        <ul>
          <li>
            <h4 class="programm-item_title">— Grammar</h4>
            <p>Clauses: Conditional and Wishes</p>
            <p>Direct / Reported speech</p>
            <p>Preposition</p>
            <p>Conjunction</p>
            <p>Numeral</p>
          </li>
          <li>
            <h4 class="programm-item_title">— Vocabulary</h4>
            <p>Healthy Living</p>
            <p>Nature & Environment</p>
            <p>Money</p>
          </li>
          <li>
            <h4 class="programm-item_title">— Writing</h4>
            <p>Formal Letter</p>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="programm-list_title">5 семестр</h3>
        <ul>
          <li>
            <p class="programm-item_title">—</p>
            <p>Revision</p>
            <p>Tests</p>
          </li>
        </ul>
      </li>
    </ul>
    <h2 class="programm-title">Почему нас выбирают</h2>
    <div class="programm-features">
      <ul>
        <li>
          <h3 class="programm-item_title">— 01</h3>
          <p>Обучение в малых командах</p>
        </li>
        <li>
          <h3 class="programm-item_title">— 02</h3>
          <p>Визуализированные конспекты</p>
        </li>
        <li>
          <h3 class="programm-item_title">— 03</h3>
          <p>Каждое занятие имеет цель и конкретный результат</p>
        </li>
        <li>
          <h3 class="programm-item_title">— 04</h3>
          <p>Ревльные результаты преподавателя</p>
        </li>
        <li>
          <h3 class="programm-item_title">— 05</h3>
          <p>Прогамма курса соответствует требованиям МОН Украины</p>
        </li>
        <li>
          <h3 class="programm-item_title">— 06</h3>
          <p>Набор команд по уровням знаний</p>
        </li>
      </ul>
    </div>
  </section>
</div>
