<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <section class="programm__section section">
    <div class="programm__container container">
      <h2 class="programm__title">Наша программа</h2>
      <div>
        <ul class="programm__scroll">
          <li>
            <h3 class="programm__heading3">1 семестр</h3>
            <ul>
              <li>
                <h4 class="programm__heading4">— Grammar</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Nouns & Articles</p>
                  <p class="programm__text">Adjectives & Adverb</p>
                </div>
              </li>
              <li>
                <h4 class="programm__heading4">— Vocabulary</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Family & Relations</p>
                  <p class="programm__text">People & Society</p>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="programm__heading3">2 семестр</h3>
            <ul>
              <li>
                <h4 class="programm__heading4">— Grammar</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Pronouns</p>
                  <p class="programm__text">Active Voice</p>
                  <p class="programm__text">Passive Voice</p>
                </div>
              </li>
              <li>
                <h4 class="programm__heading4">— Vocabulary</h4>
                <div class="programm__text-item">
                  <p class=" programm__text">Home</p>
                  <p class="programm__text">School</p>
                  <p class="programm__text">Work</p>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="programm__heading3">3 семестр</h3>
            <ul>
              <li>
                <h4 class="programm__heading4">— Grammar</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Modal Verbs</p>
                  <p class="programm__text">Infinitive</p>
                  <p class="programm__text">Gerund</p>
                  <p class="programm__text">Participle: 1, 2</p>
                </div>
              </li>
              <li>
                <h4 class="programm__heading4">— Vocabulary</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Travel & Tourism</p>
                  <p class="programm__text">Culture & Free Time</p>
                  <p class="programm__text">Sport</p>
                </div>
              </li>
              <li>
                <h4 class="programm__heading4">— Writing</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Informal Letter</p>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="programm__heading3">4 семестр</h3>
            <ul>
              <li>
                <h4 class="programm__heading4">— Grammar</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Clauses: Conditional and Wishes</p>
                  <p class="programm__text">Direct / Reported speech</p>
                  <p class="programm__text">Preposition</p>
                  <p class="programm__text">Conjunction</p>
                  <p class="programm__text">Numeral</p>
                </div>
              </li>
              <li>
                <h4 class="programm__heading4">— Vocabulary</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Healthy Living</p>
                  <p class="programm__text">Nature & Environment</p>
                  <p class="programm__text">Money</p>
                </div>
              </li>
              <li>
                <h4 class="programm__heading4">— Writing</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Formal Letter</p>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="programm__heading3">5 семестр</h3>
            <h4 class="programm__heading4">—</h4>
            <div class="programm__text-item">
              <p class="programm__text">Revision</p>
              <p class="programm__text">Tests</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="program-section-image">
        <picture>
          <source srcset="../img/program-section-bg-pic-mobile.webp 1x, 
                    ../img/program-section-bg-pic-mobile-2x.webp 2x" type="image/webp">
          <img srcset="../img/program-section-bg-pic-mobile.jpg 1x, 
                      ../img/program-section-bg-pic-mobile-2x.jpg 2x" src="../img/program-section-bg-pic-mobile.jpg"
            alt="процесс обучения">
        </picture>
      </div>
      <h2 class="programm__chosen">Почему нас </br> выбирают</h2>
    </div>
  </section>

  <script src="./index.js"></script>
</body>

</html>