<section class="programm-section">
  <div class="container">
    <h2 class="programm-section__title">Наша программа</h2>
    <div class="programm-section__line"></div>
    <ul class="list programm-section__list">
      <li class="programm-section__item">
        <h3 class="programm-section__semester">
          <span class="programm-section__semester--number-size">1 </span>
          семестр
        </h3>

        <div class="programm-section__item--position">
          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Grammar
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Nouns & Articles
            </li>
            <li lang="en" class="programm-section__features-description">
              Adjectives & Adverb
            </li>
          </ul>

          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Vocabulary
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Family & Relations
            </li>
            <li lang="en" class="programm-section__features-description">
              People & Society
            </li>
          </ul>
        </div>
      </li>

      <li class="programm-section__item">
        <h3 class="programm-section__semester">
          <span class="programm-section__semester--number-size">2 </span>
          семестр
        </h3>

        <div class="programm-section__item--position">
          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Grammar
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Pronouns
            </li>
            <li lang="en" class="programm-section__features-description">
              Active Voice
            </li>
            <li lang="en" class="programm-section__features-description">
              Passive Voice
            </li>
          </ul>

          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Vocabulary
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Home
            </li>
            <li lang="en" class="programm-section__features-description">
              School
            </li>
            <li lang="en" class="programm-section__features-description">
              Work
            </li>
          </ul>
        </div>
      </li>

      <li class="programm-section__item">
        <h3 class="programm-section__semester">
          <span class="programm-section__semester--number-size">3 </span>
          семестр
        </h3>
        <div class="programm-section__item--position">
          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Grammar
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Modal verbs
            </li>
            <li lang="en" class="programm-section__features-description">
              Infinitive
            </li>
            <li lang="en" class="programm-section__features-description">
              Gerund
            </li>
            <li lang="en" class="programm-section__features-description">
              Participle: 1, 2
            </li>
          </ul>

          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Vocabulary
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Travel & Tourism
            </li>
            <li lang="en" class="programm-section__features-description">
              Culture & Free Time
            </li>
            <li lang="en" class="programm-section__features-description">
              Sport
            </li>
          </ul>

          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Writting
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Informal Letter
            </li>
          </ul>
        </div>
      </li>

      <li class="programm-section__item">
        <h3 class="programm-section__semester">
          <span class="programm-section__semester--number-size">4 </span>
          семестр
        </h3>
        <div class="programm-section__item--position">
          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Grammar
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Clauses: Conditional <br />
              and Wishes
            </li>
            <li lang="en" class="programm-section__features-description">
              Direct / Reported speech
            </li>
            <li lang="en" class="programm-section__features-description">
              Preposition
            </li>
            <li lang="en" class="programm-section__features-description">
              Conjunction
            </li>
            <li lang="en" class="programm-section__features-description">
              Numeral
            </li>
          </ul>

          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Vocabulary
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Healthy Living
            </li>
            <li lang="en" class="programm-section__features-description">
              Nature & Environment
            </li>
            <li lang="en" class="programm-section__features-description">
              Money
            </li>
          </ul>

          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 lang="en" class="programm-section__features-title">
                — Writting
              </h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Formal Letter
            </li>
          </ul>
        </div>
      </li>
      <li class="programm-section__item">
        <h3 class="programm-section__semester">
          <span class="programm-section__semester--number-size">5 </span>
          семестр
        </h3>
        <div class="programm-section__item--position">
          <ul class="list programm-section__features-list">
            <li class="programm-section__features">
              <h4 class="programm-section__features-title">—</h4>
            </li>
            <li lang="en" class="programm-section__features-description">
              Revision
            </li>
            <li lang="en" class="programm-section__features-description">
              Tests
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- Преимущества-->
    <section class="advantages-section">
      <h2 class="advantages-section__title">Почему нас выбирают</h2>
      <div class="advantages-section__container-list">
        <ul class="list advantages-section__list">
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 01</p>
            <p class="advantages-section__description">
              Обучение в малых командах
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 02</p>
            <p class="advantages-section__description">
              Визуализированные конспекты
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 03</p>
            <p class="advantages-section__description">
              Каждое занятие имеет цель и конкретный результат
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 04</p>
            <p class="advantages-section__description">
              Реальные результаты преподавателя
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 05</p>
            <p class="advantages-section__description">
              Программа курса соответствует требованиям МОН Украины
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 06</p>
            <p class="advantages-section__description">
              Набор команд по уровням знаний
            </p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
