<section>
  <h2>Наша программа</h2>
  <ul>
    <li>
      <h3>1 семестр</h3>
      <h4>Grammar</h4>
      <p>Nouns & Articles Adjectives & Adverb</p>

      <h4>Vocabulary</h4>
      <p>Family & Relations People & Society</p>
    </li>
    <li>
      <h3>2 семестр</h3>
      <h4>Grammar</h4>
      <p>Pronouns Active Voice Passive Voice</p>

      <h4>Vocabulary</h4>
      <p>Home School Work</p>
    </li>
    <li>
      <h3>3 семестр</h3>
      <h4>Grammar</h4>
      <p>Modal verbs Infinitive Gerund Participle: 1, 2</p>

      <h4>Vocabulary</h4>
      <p>Travel & Tourism Culture & Free Time Sport</p>

      <h4>Writting</h4>
      <p>Informal Letter</p>
    </li>
    <li>
      <h3>4 семестр</h3>
      <h4>Grammar</h4>
      <p>
        Clauses: Conditional and Wishes Direct / Reported speech Preposition
        Conjunction Numeral
      </p>

      <h4>Vocabulary</h4>
      <p>Healthy Living Nature & Environment Money</p>

      <h4>Writting</h4>
      <p>Formal Letter</p>
    </li>
    <li>
      <h3>5 Семестр</h3>
      <p>Revision Tests</p>
    </li>
  </ul>

  <h2>Почему нас выбирают</h2>
  <ul>
    <li>
      <p>01</p>
      <p>Обучение в малых командах</p>
    </li>
    <li>
      <p>02</p>
      <p>Визуализированные конспекты</p>
    </li>
    <li>
      <p>03</p>
      <p>Каждое занятие имеет цель и конкретный результат</p>
    </li>
    <li>
      <p>04</p>
      <p>Реальные результаты преподавателя</p>
    </li>
    <li>
      <p>05</p>
      <p>Программа курса соответствует требованиям МОН Украины</p>
    </li>
    <li>
      <p>06</p>
      <p>Набор команд по уровням знаний</p>
    </li>
  </ul>
</section>
