<section class="programme section">
    <div class="programme__wrapper">
        <div class="container">
        <h2 class="programme__heading">Наша программа</h2>
        <ul class="semester-list list">
            <li class="semester-list__item">
                <p class="semester-list__number"><span class="semester-list__number_upper">1</span>&nbsp cеместр</p>
                <ul class="skills-list list">
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Grammar</p>
                        <ul class="content-list list">
                            <li class="content-list__item" lang="en">Nouns & Articles</li>
                            <li class="content-list__item" lang="en">Adjectives & Adverb</li>
                        </ul>
                    </li>
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Vocabulary</p>
                        <ul class="content-list list">
                            <li class="content-list__item" lang="en">Family & Relations</li>
                            <li class="content-list__item" lang="en">People & Society</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="semester-list__item">
                <p class="semester-list__number"><span class="semester-list__number_upper">2</span>&nbsp cеместр</p>
                <ul class="skills-list list">
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Grammar</p>
                        <ul class="content-list list">
                            <li class="content-list__item" lang="en">Pronouns</li>
                            <li class="content-list__item" lang="en">Active Voice</li>
                            <li class="content-list__item" lang="en">Passive Voice</li>
                        </ul>
                    </li>
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Vocabulary</p>
                        <ul class="content-list list">
                            <li class="content-list__item" lang="en">Home</li>
                            <li class="content-list__item" lang="en">School</li>
                            <li class="content-list__item" lang="en">Work</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="semester-list__item">
                <p class="semester-list__number"><span class="semester-list__number_upper">3</span>&nbsp cеместр</p>
                <ul class="skills-list list">
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Grammar</p>
                        <ul class="content-list list">
                            <li class="content-list__item" lang="en">Modal verbs</li>
                            <li class="content-list__item" lang="en">Infinitive</li>
                            <li class="content-list__item" lang="en">Gerund</li>
                            <li class="content-list__item" lang="en">Participle: 1, 2</li>
                        </ul>
                    </li>
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Vocabulary</p>
                        <ul class="content-list list">
                            <li class="content-list__item" lang="en">Travel & Tourism</li>
                            <li class="content-list__item" lang="en">Culture & Free Time</li>
                            <li class="content-list__item" lang="en">Sport</li>
                        </ul>
                    </li>
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Writing</p>
                        <p class="content-list__item" lang="en">Informal Letter</p>
                    </li>
                </ul>
            </li>
            <li class="semester-list__item">
                <p class="semester-list__number"><span class="semester-list__number_upper">4</span>&nbsp cеместр</p>
                <ul class="skills-list list">
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Grammar</p>
                        <ul class="content-list list">
                            <li class="content-list__item" lang="en">Clauses: Conditional and Wishes</li>
                            <li class="content-list__item" lang="en">Direct / Reported speech</li>
                            <li class="content-list__item" lang="en">Preposition</li>
                            <li class="content-list__item" lang="en">Conjunction</li>
                            <li class="content-list__item" lang="en">Numeral</li>
                        </ul>
                    </li>
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Vocabulary</p>
                        <ul class="content-list list">
                            <li class="content-list__item" lang="en">Healthy Living</li>
                            <li class="content-list__item" lang="en">Nature & Environment</li>
                            <li class="content-list__item" lang="en">Money</li>
                        </ul>
                    </li>
                    <li class="skills-list__item">
                        <p class="skills-list__name" lang="en">Writing</p>
                        <p class="content-list__item" lang="en">Formal Letter</p>
                    </li>
                </ul>
            </li>
            <li class="semester-list__item">
                <p class="semester-list__number"><span class="semester-list__number_upper">5</span>&nbsp cеместр</p>
                <p class="skills-list__name skills-list__name--final"></p>
                <ul class="content-list content-list--final list">
                    <li class="content-list__item" lang="en">Revision</li>
                    <li class="content-list__item" lang="en">Tests</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</div>
    <div class="container">
        <div class="reasons">
                <h2 class="reasons__heading">Почему нас выбирают</h2>
                <ul class="reasons-list list">
                    <li class="reasons-list__item">Обучение в малых командах</li>
                    <li class="reasons-list__item">Визуализированные конспекты</li>
                    <li class="reasons-list__item">Каждое занятие имеет цель и конкретный результат</li>
                    <li class="reasons-list__item">Реальные результаты преподавателя</li>
                    <li class="reasons-list__item">Прогамма курса соответствует требованиям МОН Украины</li>
                    <li class="reasons-list__item">Набор команд по уровням знаний</li>
                </ul>
        </div>
    </div>
</section>