  <section class="programm__section section" id=programm>
    <span class="programm__underline"></span>
    <div class="programm__container container">
      <h2 class="programm__title">Наша программа</h2>
      <div>
        <ul class="programm__scroll">
          <li class="programm__margin">
            <h3 class="programm__heading3">1 семестр</h3>
            <ul class="programm__ul">
              <li class="programm__li indent1">
                <h4 class="programm__heading4">— Grammar</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Nouns & Articles</p>
                  <p class="programm__text">Adjectives & Adverb</p>
                </div>
              </li>
              <li class="programm__li indent2">
                <h4 class="programm__heading4">— Vocabulary</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Family & Relations</p>
                  <p class="programm__text">People & Society</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="programm__margin-last">
            <h3 class="programm__heading3">2 семестр</h3>
            <ul class="programm__ul">
              <li class="programm__li indent1">
                <h4 class="programm__heading4">— Grammar</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Pronouns</p>
                  <p class="programm__text">Active Voice</p>
                  <p class="programm__text">Passive Voice</p>
                </div>
              </li>
              <li class="programm__li indent2">
                <h4 class="programm__heading4">— Vocabulary</h4>
                <div class="programm__text-item">
                  <p class=" programm__text">Home</p>
                  <p class="programm__text">School</p>
                  <p class="programm__text">Work</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="programm__margin">
            <h3 class="programm__heading3">3 семестр</h3>
            <ul class="programm__ul">
              <li class="programm__li indent1">
                <h4 class="programm__heading4 last">— Grammar</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Modal Verbs</p>
                  <p class="programm__text">Infinitive</p>
                  <p class="programm__text">Gerund</p>
                  <p class="programm__text">Participle: 1, 2</p>
                </div>
              </li>
              <li class="programm__li indent2">
                <h4 class="programm__heading4 last">— Vocabulary</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Travel & Tourism</p>
                  <p class="programm__text">Culture & Free Time</p>
                  <p class="programm__text">Sport</p>
                </div>
              </li>
              <li class="programm__li">
                <h4 class="programm__heading4">— Writing</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Informal Letter</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="programm__margin">
            <h3 class="programm__heading3">4 семестр</h3>
            <ul class="programm__ul">
              <li class="programm__li indent1">
                <h4 class="programm__heading4">— Grammar</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Clauses: Conditional and Wishes</p>
                  <p class="programm__text">Direct / Reported speech</p>
                  <p class="programm__text">Preposition</p>
                  <p class="programm__text">Conjunction</p>
                  <p class="programm__text">Numeral</p>
                </div>
              </li>
              <li class="programm__li indent2">
                <h4 class="programm__heading4">— Vocabulary</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Healthy Living</p>
                  <p class="programm__text">Nature & Environment</p>
                  <p class="programm__text">Money</p>
                </div>
              </li>
              <li class="programm__li">
                <h4 class="programm__heading4">— Writing</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Formal Letter</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="programm__margin">
            <h3 class="programm__heading3">5 семестр</h3>
            <ul class="programm__ul">
              <li class="programm__li indent1">
                <h4 class="programm__heading4">—</h4>
                <div class="programm__text-item">
                  <p class="programm__text">Revision</p>
                  <p class="programm__text">Tests</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="program-section-image">
        <picture>
          <source srcset="../img/program-section-bg-pic-1344.webp 1x, ../img/program-section-bg-pic-1344-2x.webp 2x"
            media="(min-width: 1344px)" type="image/webp">
          <source srcset="../img/program-section-bg-pic-768.webp 1x, ../img/program-section-bg-pic-768-2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
          <source srcset="../img/program-section-bg-pic-mobile.webp 1x, ../img/program-section-bg-pic-mobile-2x.webp 2x"
            type="image/webp">
          <source srcset="../img/program-section-bg-pic-1344.jpg 1x, ../img//program-section-bg-pic-1344-2x.jpg 2x"
            media="(min-width: 1344px)">
          <source srcset="../img/program-section-bg-pic-768.jpg 1x, ../img//program-section-bg-pic-768-2x.jpg 2x"
            media="(min-width: 768px)">
          <source srcset="../img/program-section-bg-pic-mobile.jpg 1x, ../img//program-section-bg-pic-mobile-2x.jpg 2x">
          <img src="../img/program-section-bg-pic-1344.jpg" alt="программа обучения">
        </picture>
      </div>
      <h2 class="programm__chosen">Почему нас выбирают</h2>
    </div>
    <div class="troubles__list__div">
      <ul class="troubles__ul">
        <li class="troubles__li-margin">
          <p class="troubles__number margin">— 01</p>
          <p class="troubles__item">Обучение в малых командах</p>
        </li>
        <li class="troubles__li-margin">
          <p class="troubles__number margin">— 02</p>
          <p class="troubles__item">
            Визуализированные конспекты
          </p>
        </li>
        <li class="troubles__li-margin">
          <p class="troubles__number margin">— 03</p>
          <p class="troubles__item">
            Каждое занятие имеет цель и конкретный результат
          </p>
        </li>
        <li class="troubles__li-margin">
          <p class=" troubles__number margin">— 04</p>
          <p class="troubles__item">Реальные результаты преподавателя</p>
        </li>
        <li class="troubles__li-margin">
          <p class="troubles__number margin">— 05</p>
          <p class="troubles__item">Прогамма курса соответствует требованиям МОН Украины</p>
        </li>
        <li class="troubles__li-margin margin">
          <p class="troubles__number">— 06</p>
          <p class="troubles__item">Набор команд по уровням знаний</p>
        </li>
      </ul>
    </div>
  </section>