<div class="sections-wrapper">
<section class="programm">
<span id="programm"></span>
  <div class="programm__container container">
    <h2 class="programm__title" >Наша программа</h2>
    <div class="programm__semester-list-wrapper">
    <ul class="programm__semester-list list">

      <li class="programm__semester-list-item">
        <h3 class="programm__semester-list-title"><span class='programm__semester-list-title-number'>1 </span>семестр
        </h3>

        <ul class="programm__study-section-list list">
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Grammar</h4>

            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Nouns & Articles</li>
              <li class="programm__study-subject-list-item">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Vocabulary</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Family & Relations</li>
              <li class="programm__study-subject-list-item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="programm__semester-list-item">
        <h3 class="programm__semester-list-title"><span class='programm__semester-list-title-number'>2 </span>семестр
        </h3>

        <ul class="programm__study-section-list list">
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Grammar</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Pronouns</li>
              <li class="programm__study-subject-list-item">Active Voice</li>
              <li class="programm__study-subject-list-item">Passive Voice</li>
            </ul>
          </li>
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Vocabulary</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Home</li>
              <li class="programm__study-subject-list-item">School</li>
              <li class="programm__study-subject-list-item">Work</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="programm__semester-list-item">
        <h3 class="programm__semester-list-title"><span class='programm__semester-list-title-number'>3 </span>семестр
        </h3>

        <ul class="programm__study-section-list list">
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Grammar</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Modal verbs</li>
              <li class="programm__study-subject-list-item">Infinitive</li>
              <li class="programm__study-subject-list-item">Gerund</li>
              <li class="programm__study-subject-list-item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Vocabulary</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Travel & Tourism</li>
              <li class="programm__study-subject-list-item">Culture & Free Time</li>
              <li class="programm__study-subject-list-item">Sport</li>
            </ul>
          </li>
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Writing</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="programm__semester-list-item">
        <h3 class="programm__semester-list-title"><span class='programm__semester-list-title-number'>4 </span>семестр
        </h3>

        <ul class="programm__study-section-list list">
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Grammar</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Clauses: Conditional and Wishes</li>
              <li class="programm__study-subject-list-item">Direct / Reported speech</li>
              <li class="programm__study-subject-list-item">Preposition</li>
              <li class="programm__study-subject-list-item">Conjunction</li>
              <li class="programm__study-subject-list-item">Numeral</li>
            </ul>
          </li>
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Vocabulary</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Healthy Living</li>
              <li class="programm__study-subject-list-item">Nature & Environment</li>
              <li class="programm__study-subject-list-item">Money</li>
            </ul>
          </li>
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title">Writing</h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="programm__semester-list-item">
        <h3 class="programm__semester-list-title"><span class='programm__semester-list-title-number'>5 </span>семестр
        </h3>

        <ul class="programm__study-section-list list">
          <li class="programm__study-section-list-item">
            <h4 class="programm__study-section-title"></h4>
            <ul class="programm__study-subject-list list">
              <li class="programm__study-subject-list-item">Revision</li>
              <li class="programm__study-subject-list-item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
    </div>
  </div>

</section>

<section class="why-us">
  <div class="container">
    <h2 class="why-us__title">Почему нас выбирают</h2>
    <div class="why-us__list-wrapper">
      <ol class="why-us__list list">
        <li class="why-us__list-item">
          <p class="why-us__description">Обучение в малых командах</p>
        </li>
        <li class="why-us__list-item">
          <p class="why-us__description">Визуализированные конспекты</p>
        </li>
        <li class="why-us__list-item">
          <p class="why-us__description">Каждое занятие имеет цель и конкретный результат</p>
        </li>
        <li class="why-us__list-item">
          <p class="why-us__description">Реальные результаты преподавателя</p>
        </li>
        <li class="why-us__list-item">
          <p class="why-us__description">Прогамма курса соответствует требованиям МОН Украины</p>
        </li>
        <li class="why-us__list-item">
          <p class="why-us__description">Набор команд по уровням знаний</p>
        </li>
      </ol>
    </div>

  </div>

</section>
</div>
