<section class="section program-section">
    <div class="container">
        <h2 class="title">Наша программа</h2>
    
        <ul class="list program-list">
            <li class="program-list-item">
                <h3 class="program-list-semester">1 семестр</h3>
                <ul class="list method-list">
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Grammar</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Nouns & Articles</li>
                            <li class="topic-list-item" lang="en"> Adjectives & Adverb </li>
                        </ul>
                    </li>
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Vocabulary</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Family & Relations</li>
                            <li class="topic-list-item" lang="en">People & Society </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-list-item">
                <h3 class="program-list-semester">2 семестр</h3>
                <ul class="list method-list">
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Grammar</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Pronouns</li>
                            <li class="topic-list-item" lang="en">Active Voice</li>
                            <li class="topic-list-item" lang="en">Passive Voice</li>
                        </ul class="list">
                    </li>
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Vocabulary</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Home</li>
                            <li class="topic-list-item" lang="en">School</li>
                            <li class="topic-list-item" lang="en">Work</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-list-item">
                <h3 class="program-list-semester">3 семестр</h3>
                <ul class="list method-list">
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Grammar</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Modal verbs</li>
                            <li class="topic-list-item" lang="en">Infinitive</li>
                            <li class="topic-list-item" lang="en">Gerund</li>
                            <li class="topic-list-item" lang="en">Participle: 1, 2</li>
                        </ul>
                    </li>
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Vocabulary</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Travel & Tourism</li>
                            <li class="topic-list-item" lang="en">Culture & Free Time</li>
                            <li class="topic-list-item" lang="en">Sport </li>
                        </ul>
                    </li>
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Writing</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Informal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-list-item">
                <h3 class="program-list-semester">4 семестр</h3>
                <ul class="list method-list">
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Grammar</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Clauses: Conditional and Wishes</li>
                            <li class="topic-list-item" lang="en">Direct / Reported speech</li>
                            <li class="topic-list-item" lang="en">Preposition</li>
                            <li class="topic-list-item" lang="en">Conjunction</li>
                            <li class="topic-list-item" lang="en">Numeral</li>
                        </ul>
                    </li>
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Vocabulary</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Healthy Living</li>
                            <li class="topic-list-item" lang="en">Nature & Environment</li>
                            <li class="topic-list-item" lang="en">Money</li>
                        </ul>
                    </li>
                    <li class="method-list-item">
                        <p class="method-list-text" lang="en">— Writing</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Formal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-list-item">
                <h3 class="program-list-semester">5 семестр</h3>
                <ul class="list method-list">
                    <li class="method-list-item">
                        <p class="method-list-text">—</p>
                        <ul class="list topic-list">
                            <li class="topic-list-item" lang="en">Revision</li>
                            <li class="topic-list-item" lang="en">Tests</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    
        <picture class="section-program-picture">
             <source 
            srcset="./images/program-section/pic-tel@1x.jpg 1x, ./images/program-section/pic-tel@2x.jpg 2x"
            media="(max-width: 767px)" />

            <source 
            srcset="./images/program-section/pic-tel@1x.webp 1x, ./images/program-section/pic-tel@2x.webp 2x"
            media="(max-width: 767px)" type="image/webp" />

            <source 
            srcset="./images/program-section/pic-desk@1x.jpg 1x, ./images/program-section/pic-desk@2x.jpg 2x"
            media="(min-width: 1344px)" />

            <source 
            srcset="./images/program-section/pic-desk@1x.webp 1x, ./images/program-section/pic-desk@2x.webp 2x"
            media="(min-width: 1344px)" type="image/webp" />

            <source 
            srcset="./images/program-section/pic-tab@1x.jpg 1x, ./images/program-section/pic-tab@2x.jpg 2x"
            media="(min-width: 768px)" />  

            <source 
            srcset="./images/program-section/pic-tab@1x.webp 1x, ./images/program-section/pic-tab@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp" />  

          <img class="section-program-img" src="./images/program-section/pic-tel@1x.jpg" alt="учетильница занимаеться с сотрудниками" >
         </picture> 
   
    </div>


    <!-- Секция почему нас выбирают -->
<section class="section choose-section">
    <!-- <div class="container"> -->
        <div class="title-wrapper">
            <h2 class="title">Почему нас выбирают</h2>
        </div>
        

        <div class="choose-wrapper">
            <ul class="list choose-list">
                <li class="choose-list-item">— 01
                    <p class="choose-list-text">Обучение в малых командах</p>
                </li>
                <li class="choose-list-item">— 02
                    <p class="choose-list-text">Визуализированные конспекты</p>
                </li>
                <li class="choose-list-item">— 03
                    <p class="choose-list-text">Каждое занятие имеет цель и конкретный результат</p>
                </li>
                <li class="choose-list-item">— 04
                    <p class="choose-list-text">Реальные результаты преподавателя</p>
                </li>
                <li class="choose-list-item">— 05
                    <p class="choose-list-text">Программа курса соответствует требованиям МОН Украины</p>
                </li>
                <li class="choose-list-item">— 06
                    <p class="choose-list-text">Набор команд по уровням знаний</p>
                </li>
            </ul>
        </div>
        
    <!-- </div> -->
   
</section>
    
</section>





    


