<section id="section-programm" class="programm">
  <div class="programm__line"></div> 
  <div class="container programm__width">
    <h2 class="programm__head">Наша программа</h2>
    <ul class="programm__list list">
      <li class="programm__item">
        <p class="programm__term">1 семестр</p>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <p class="programm-skills__name">Grammar</p>
            <p class="programm-skills__description">
              Nouns & Articles Adjectives & Adverb
            </p>
          </li>
          <li class="programm-skills__item">
            <p class="programm-skills__name">Vocabulary</p>
            <p class="programm-skills__description">
              Family & Relations People & Society
            </p>
          </li>
        </ul>
      </li>
      <li class="programm__item">
        <p class="programm__term">2 семестр</p>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <p class="programm-skills__name">Grammar</p>
            <p class="programm-skills__description">
              Pronouns Active Voice Passive Voice
            </p>
          </li>
          <li class="programm-skills__item">
            <p class="programm-skills__name">Vocabulary</p>
            <p class="programm-skills__description">Home School Work</p>
          </li>
        </ul>
      </li>
      <li class="programm__item">
        <p class="programm__term">3 семестр</p>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <p class="programm-skills__name">Grammar</p>
            <p class="programm-skills__description">
              Modal verbs Infinitive Gerund Participle: 1, 2
            </p>
          </li>
          <li class="programm-skills__item">
            <p class="programm-skills__name">Vocabulary</p>
            <p class="programm-skills__description">
              Travel & Tourism Culture & Free Time Sport
            </p>
          </li>
          <li class="programm-skills__item">
            <p class="programm-skills__name">Writing</p>
            <p class="programm-skills__description">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="programm__item">
        <p class="programm__term">4 семестр</p>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <p class="programm-skills__name">Grammar</p>
            <p class="programm-skills__description">
              Clauses: Conditional and Wishes Direct / Reported speech
              Preposition Conjunction Numeral
            </p>
          </li>
          <li class="programm-skills__item">
            <p class="programm-skills__name">Vocabulary</p>
            <p class="programm-skills__description">
              Healthy Living Nature & Environment Money
            </p>
          </li>
          <li class="programm-skills__item">
            <p class="programm-skills__name">Writing</p>
            <p class="programm-skills__description">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="programm__item">
        <p class="programm__term">5 семестр</p>
        <ul class="programm-skills__list list">
          <li class="programm-skills__item">
            <p class="programm-skills__name programm__tests">Tests</p>
            <p class="programm-skills__description">
              Revision<br />
              Tests
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
