<section class="section-program" id="program">
  <div class="container">
    <h2 class="section-title">Наша программа</h2>
    <ul class="program-list" lang="en">
      <li class="program-list-item">
        <p class="semester" lang="ru">1 семестр</p>
        <ul class="semester-program">
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Grammar</p>
            </li>
            <li class="semester-topic-item">Nouns & Articles</li>
            <li class="semester-topic-item">Adjectives & Adverb</li>
          </ul>
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Vocabulary</p>
            </li>
            <li class="semester-topic-item">Family & Relations</li>
            <li class="semester-topic-item">People & Society</li>
          </ul>
        </ul>
      </li>
      <li class="program-list-item">
        <p class="semester" lang="ru">2 семестр</p>
        <ul class="semester-program">
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Grammar</p>
            </li>
            <li class="semester-topic-item">Pronouns</li>
            <li class="semester-topic-item">Active Voice</li>
            <li class="semester-topic-item">Passive Voice</li>
          </ul>
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Vocabulary</p>
            </li>
            <li class="semester-topic-item">Home</li>
            <li class="semester-topic-item">School</li>
            <li class="semester-topic-item">Work</li>
          </ul>
        </ul>
      </li>
      <li class="program-list-item">
        <p class="semester" lang="ru">3 семестр</p>
        <ul class="semester-program">
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Grammar</p>
            </li>
            <li class="semester-topic-item">Modal verbs</li>
            <li class="semester-topic-item">Infinitive</li>
            <li class="semester-topic-item">Gerund</li>
            <li class="semester-topic-item">Participle: 1, 2</li>
          </ul>
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Vocabulary</p>
            </li>
            <li class="semester-topic-item">Travel & Tourism</li>
            <li class="semester-topic-item">Culture & Free Time</li>
            <li class="semester-topic-item">Sport</li>
          </ul>
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Writing</p>
            </li>
            <li class="semester-topic-item">Informal Letter</li>
          </ul>
        </ul>
      </li>
      <li class="program-list-item">
        <p class="semester" lang="ru">4 семестр</p>
        <ul class="semester-program">
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Grammar</p>
            </li>
            <li class="semester-topic-item">Clauses: Conditional and Wishes</li>
            <li class="semester-topic-item">Direct / Reported speech</li>
            <li class="semester-topic-item">Preposition</li>
            <li class="semester-topic-item">Conjunction</li>
            <li class="semester-topic-item">Numeral</li>
          </ul>
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Vocabulary</p>
            </li>
            <li class="semester-topic-item">Healthy Living</li>
            <li class="semester-topic-item">Nature & Environment</li>
            <li class="semester-topic-item">Money</li>
          </ul>
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>— Writing</p>
            </li>
            <li class="semester-topic-item">Formal Letter</li>
          </ul>
        </ul>
      </li>
      <li class="program-list-item">
        <p class="semester" lang="ru">5 семестр</p>
        <ul class="semester-program">
          <ul class="semester-topic-list">
            <li class="semester-topic">
              <p>—</p>
            </li>
            <li class="semester-topic-item">Revision</li>
            <li class="semester-topic-item">Tests</li>
          </ul>
        </ul>
      </li>
    </ul>
    <div class="subsection">
      <h2 class="section-title">Почему нас выбирают</h2>
      <ul class="why-list">
        <li class="why-item">
          <ul>
            <li class="why-number">— 01</li>
            <li class="why-reason">Обучение в малых командах</li>
          </ul>
        </li>
        <li class="why-item">
          <ul>
            <li class="why-number">— 02</li>
            <li class="why-reason">Визуализированные конспекты</li>
          </ul>
        </li>
        <li class="why-item">
          <ul>
            <li class="why-number">— 03</li>
            <li class="why-reason">
              Каждое занятие имеет цель и конкретный результат
            </li>
          </ul>
        </li>
        <li class="why-item">
          <ul>
            <li class="why-number">— 04</li>
            <li class="why-reason">Ревльные результаты преподавателя</li>
          </ul>
        </li>
        <li class="why-item">
          <ul>
            <li class="why-number">— 05</li>
            <li class="why-reason">
              Прогамма курса соответствует требованиям МОН Украины
            </li>
          </ul>
        </li>
        <li class="why-item">
          <ul>
            <li class="why-number">— 06</li>
            <li class="why-reason">Набор команд по уровням знаний</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
