<section class="programs">
    <div class="container">
    <h2 class="title-dark-theme">Наша программа</h2>
   
    <ul class="programs-list list">
        <li class="programs-semester">
            <h3 class="programs-title subtitle-dark-theme">1 семестр</h3>
            <ul class="programs-section list">
                <li class="programs-direction">
                    <h4 class="programs-subtitle subtitle ">Grammar</h4>
                    <ul class="programs-items list">
                        <li class="description">Nouns & Articles</li>
                        <li class="description">Adjectives & Adverb</li>
                    </ul>
                </li>
                <li class="programs-direction">
                    <h4 class="programs-subtitle subtitle">Vocabulary</h4>
                    <ul class="programs-items list">
                        <li class="description">Family & Relations</li>
                        <li class="description">People & Society</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="programs-semester">
            <h3 class="programs-title subtitle-dark-theme">2 семестр</h3>
                <ul class="programs-section list">
                <li class="programs-direction">
                   <h4 class="programs-subtitle subtitle">Grammar</h4>
                    <ul class="programs-items list">
                        <li class="description">Pronouns</li>
                        <li class="description">Active Voice</li>
                        <li class="description">Passive Voice</li>
                    </ul>
                </li>
                <li class="programs-direction">
                    <h4 class="programs-subtitle subtitle">Vocabulary</h4>
                    <ul class="programs-items list">
                        <li class="description">Home</li>
                        <li class="description">School</li>
                        <li class="description">Work</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="programs-semester">
            <h3 class="programs-title subtitle-dark-theme">3 семестр</h3>
            <ul class="programs-section list">
                <li class="programs-direction">
                    <h4 class="programs-subtitle subtitle">Grammar</h4>
                    <ul class="programs-items list">
                        <li class="description">Modal verbs</li>
                        <li class="description">Infinitive</li>
                        <li class="description"Gerund</li>
                        <li class="description">Participle: 1, 2</li>
                    </ul>
                </li>
                <li class="programs-direction">
                    <h4 class="programs-subtitle subtitle">Vocabulary</h4>
                    <ul class="programs-items list">
                        <li class="description">Travel & Tourism</li>
                        <li class="description">Culture & Free Time</li>
                        <li class="description">Sport</li>
                    </ul>
                </li>
                <li class="programs-direction">
                <h4 class="programs-subtitle subtitle">Writing</h4>
                      <ul class="programs-items list">
                        <li class="description">Informal Letter</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="programs-semester">
            <h3 class="programs-title subtitle-dark-theme">4 семестр</h3>
            <ul class="programs-section list">
                <li class="programs-direction">
                    <h4 class="programs-subtitle subtitle">Grammar</h4>
                    <ul class="programs-items list">
                        <li class="description">Clauses: Conditional and Wishes</li>
                        <li class="description">Direct / Reported speech</li>
                        <li class="description">Preposition</li>
                        <li class="description">Conjunction</li>
                        <li class="description">Numeral</li>
                    </ul>
                </li>
                <li class="programs-direction">
                    <h4 class="programs-subtitle subtitle">Vocabulary</h4>
                    <ul class="programs-items list">
                        <li class="description">Healthy Living</li>
                        <li class="description">Nature & Environment</li>
                        <li class="description">Money</li>
                    </ul>
                </li>
                <li class="programs-direction">
                   <h4 class="programs-subtitle subtitle">Writing</h4>
                    <ul class="programs-items list">
                        <li class="description">Formal Letter</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="programs-semester">
            
            <h3 class="programs-title subtitle-dark-theme">5 семестр</h3>
            <h4 class="programs-subtitle subtitle"></h4>
            <ul class="programs-section list">
                <li class="description">Revision</li>
                <li class="description">Tests</li>
                <picture>
                <source srcset="../src/images/img-mob/prog-img-mob.jpg 1x, ../src/images/img-mob/prog-img-mob@2x.jpg 2x" media="(min-width:320px)">
                <source srcset="../src/images/img-tab/prog-img-tab.jpg 1x, ../src/images/img-tab/prog-img-tab@2x.jpg 2x" media="(min-width:320px)">
                <source srcset="../src/images/img-desktop/prog-img-desk.jpg 1x, ../src/images/img-desktop/prog-img-desk@2x.jpg 2x" media="(min-width:320px)">

                <img src="../src/images/img-mob/prog-img-mob.jpg" alt="фото учеников за партами">
    </picture>
            </ul>
        </li>
    </ul>
    
</div>
</section>


<section class="advantages">
    <div class="container">
    <h2 class="title-dark-theme">Почему нас выбирают</h2>
        <ul class="advantages-list list">
        <li class="advantages-list-item subtitle-light-theme subtitle">
            <h3 class="subtitle accent">01</h3>
            Обучение в малых командах</li>
        <li class="advantages-list-item subtitle-light-theme subtitle">
            <h3 class="subtitle accent
            ">02</h3>
            Визуализированные конспекты</li>
        <li class="advantages-list-item subtitle-light-theme subtitle">
             <h3 class="subtitle accent
             ">03</h3>
            Каждое занятие имеет цель и конкретный результат</li>
        <li class="advantages-list-item subtitle-light-theme subtitle">
             <h3 class="subtitle accent
             ">04</h3>
             Ревльные результаты преподавателя</li>
        <li class="advantages-list-item subtitle-light-theme subtitle">
             <h3 class="subtitle accent
             ">05</h3>
             Прогамма курса соответствует требованиям МОН Украины</li>
        <li class="advantages-list-item subtitle-light-theme subtitle">
             <h3 class="subtitle accent
             ">06</h3>
             Набор команд по уровням знаний</li>
    </ul>
</div>
</section>