<div class="choose-position">
  <section class="program" id="program">
    <div class="container">
      <h2 class="title program-title black-background">Наша программа</h2>
      <div class="photo-position">
        <ul class="program-list list">
          <li class="program-list-item">
            <h3 class="program-list-item-title">1 семестр</h3>
            <ul class="semester-list list">
              <li class="semester-list-item">
                <p class="topic-list-title">Grammar</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Nouns & Articles</li>
                  <li class="topic-list-item">Adjectives & Adverb</li>
                </ul>
              </li>
              <li class="semester-list-item">
                <p class="topic-list-title">Vocabulary</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Family & Relations</li>
                  <li class="topic-list-item">People & Society</li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="program-list-item">
            <h3 class="program-list-item-title">2 семестр</h3>
            <ul class="semester-list list">
              <li class="semester-list-item">
                <p class="topic-list-title">Grammar</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Pronouns</li>
                  <li class="topic-list-item">Active Voice</li>
                  <li class="topic-list-item">Passive Voice</li>
                </ul>
              </li>
              <li class="semester-list-item">
                <p class="topic-list-title">Vocabulary</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Home</li>
                  <li class="topic-list-item">School</li>
                  <li class="topic-list-item">Work</li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="program-list-item">
            <h3 class="program-list-item-title">3 семестр</h3>
            <ul class="semester-list list">
              <li class="semester-list-item">
                <p class="topic-list-title">Grammar</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Modal verbs</li>
                  <li class="topic-list-item">Infinitive</li>
                  <li class="topic-list-item">Gerund</li>
                  <li class="topic-list-item">Participle: 1, 2</li>
                </ul>
              </li>
              <li class="semester-list-item">
                <p class="topic-list-title">Vocabulary</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Travel & Tourism</li>
                  <li class="topic-list-item">Culture & Free Time</li>
                  <li class="topic-list-item">Sport</li>
                </ul>
              </li>
              <li class="semester-list-item">
                <p class="topic-list-title">Writing</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Informal Letter</li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="program-list-item">
            <h3 class="program-list-item-title">4 семестр</h3>
            <ul class="semester-list list">
              <li class="semester-list-item">
                <p class="topic-list-title">Grammar</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">
                    Clauses: Conditional and Wishes
                  </li>
                  <li class="topic-list-item">Direct / Reported speech</li>
                  <li class="topic-list-item">Preposition</li>
                  <li class="topic-list-item">Conjunction</li>
                  <li class="topic-list-item">Numeral</li>
                </ul>
              </li>
              <li class="semester-list-item">
                <p class="topic-list-title">Vocabulary</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Healthy Living</li>
                  <li class="topic-list-item">Nature & Environment</li>
                  <li class="topic-list-item">Money</li>
                </ul>
              </li>
              <li class="semester-list-item">
                <p class="topic-list-title">Writing</p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Formal Letter</li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="program-list-item">
            <h3 class="program-list-item-title">5 семестр</h3>
            <ul class="semester-list list">
              <li class="semester-list-item">
                <p class="topic-list-title"></p>
                <ul class="topic-list list">
                  <li class="topic-list-item">Revision</li>
                  <li class="topic-list-item">Tests</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <picture class="photo-program">
          <source srcset="
              ./images/program/desktop-program-img.png    1x,
              ./images/program/desktop-program-img@2x.png 2x
            " media="(min-width: 1400px)" />
          <source srcset="
              ./images/program/tablet-program-img.png    1x,
              ./images/program/tablet-program-img@2x.png 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ./images/program/mobile-program-img.png    1x,
              ./images/program/mobile-program-img@2x.png 2x
            " media="(min-width: 320px)" />
          <img src="./images/program/mobile-program-img.png" alt="classroom" />
        </picture>
      </div>
    </div>
  </section>

  <section class="choose" id="choose">
    <div class="container">
      <h2 class="title choose-title black-background">Почему нас выбирают</h2>
      <ol class="choose-list bold-text">
        <li class="choose-list-item">
          <p class="choose-list-item-text">Обучение в малых командах</p>
        </li>
        <li class="choose-list-item">
          <p class="choose-list-item-text">Визуализированные конспекты</p>
        </li>
        <li class="choose-list-item">
          <p class="choose-list-item-text">
            Каждое занятие имеет цель и конкретный результат
          </p>
        </li>
        <li class="choose-list-item">
          <p class="choose-list-item-text">Реальные результаты преподавателя</p>
        </li>
        <li class="choose-list-item">
          <p class="choose-list-item-text">
            Прогамма курса соответствует требованиям МОН Украины
          </p>
        </li>
        <li class="choose-list-item">
          <p class="choose-list-item-text">Набор команд по уровням знаний</p>
        </li>
      </ol>
    </div>
  </section>
</div>