<section class="programm-section">
  <div class="container">
    <h2 class="programm-section__title">Наша программа</h2>
    <div class="programm-section__line"></div>
    <ul class="list programm-section__list">
      <li class="programm-section__item">
        <h3 class="programm-section__semester">1 семестр</h3>
        <h4 lang="en" class="programm-section__features">— Grammar</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Nouns & Articles
          </li>
          <li lang="en" class="programm-section__features-description">
            Adjectives & Adverb
          </li>
        </ul>

        <h4 lang="en" class="programm-section__features">— Vocabulary</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Family & Relations
          </li>
          <li lang="en" class="programm-section__features-description">
            People & Society
          </li>
        </ul>
      </li>
      <li class="programm-section__item">
        <h3 class="programm-section__semester">2 семестр</h3>
        <h4 lang="en" class="programm-section__features">— Grammar</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Pronouns
          </li>
          <li lang="en" class="programm-section__features-description">
            Active Voice
          </li>
          <li lang="en" class="programm-section__features-description">
            Passive Voice
          </li>
        </ul>

        <h4 lang="en" class="programm-section__features">— Vocabulary</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">Home</li>
          <li lang="en" class="programm-section__features-description">
            School
          </li>
          <li lang="en" class="programm-section__features-description">Work</li>
        </ul>
      </li>
      <li class="programm-section__item">
        <h3 class="programm-section__semester">3 семестр</h3>
        <h4 lang="en" class="programm-section__features">— Grammar</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Modal verbs
          </li>
          <li lang="en" class="programm-section__features-description">
            Infinitive
          </li>
          <li lang="en" class="programm-section__features-description">
            Gerund
          </li>
          <li lang="en" class="programm-section__features-description">
            Participle: 1, 2
          </li>
        </ul>

        <h4 lang="en" class="programm-section__features">— Vocabulary</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Travel & Tourism
          </li>
          <li lang="en" class="programm-section__features-description">
            Culture & Free Time
          </li>
          <li lang="en" class="programm-section__features-description">
            Sport
          </li>
        </ul>

        <h4 lang="en" class="programm-section__features">— Writting</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Informal Letter
          </li>
        </ul>
      </li>
      <li class="programm-section__item">
        <h3 class="programm-section__semester">4 семестр</h3>
        <h4 lang="en" class="programm-section__features">— Grammar</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Clauses: Conditional <br />
            and Wishes
          </li>
          <li lang="en" class="programm-section__features-description">
            Direct / Reported <br />
            speech
          </li>
          <li lang="en" class="programm-section__features-description">
            Preposition
          </li>
          <li lang="en" class="programm-section__features-description">
            Conjunction
          </li>
          <li lang="en" class="programm-section__features-description">
            Numeral
          </li>
        </ul>

        <h4 lang="en" class="programm-section__features">— Vocabulary</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Healthy Living
          </li>
          <li lang="en" class="programm-section__features-description">
            Nature & Environment
          </li>
          <li lang="en" class="programm-section__features-description">
            Money
          </li>
        </ul>

        <h4 lang="en" class="programm-section__features">— Writting</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Formal Letter
          </li>
        </ul>
      </li>
      <li class="programm-section__item">
        <h3 class="programm-section__semester">5 Семестр</h3>
        <h4 class="programm-section__features">—</h4>
        <ul class="list programm-section__features-list">
          <li lang="en" class="programm-section__features-description">
            Revision
          </li>
          <li lang="en" class="programm-section__features-description">
            Tests
          </li>
        </ul>
      </li>
    </ul>

    <picture>
      <img
        src="../src/images/mobile/programm-mobile.jpg"
        alt="фото студентов на занятии"
        class="programm-section__image"
      />
    </picture>
    <!-- <svg class="programm-section__image">
      <use href="./images/svg/sprite.svg#fire"></use>
    </svg> -->

    <!-- Достижения -->
    <section class="advantages-section">
      <h2 class="advantages-section__title">Почему нас выбирают</h2>
      <div class="advantages-section__container-list">
        <ul class="list advantages-section__list">
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 01</p>
            <p class="advantages-section__description">
              Обучение в малых командах
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 02</p>
            <p class="advantages-section__description">
              Визуализированные конспекты
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 03</p>
            <p class="advantages-section__description">
              Каждое занятие имеет цель и конкретный результат
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 04</p>
            <p class="advantages-section__description">
              Реальные результаты преподавателя
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 05</p>
            <p class="advantages-section__description">
              Программа курса соответствует требованиям МОН Украины
            </p>
          </li>
          <li class="advantages-section__item">
            <p class="advantages-section__number">— 06</p>
            <p class="advantages-section__description">
              Набор команд по уровням знаний
            </p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
