<section class="program-section container">
  <h2 class="program-title">Наша программа</h2>
  <div class="flex-div">
    <div class="div">
      
      <h3 class="list-header">1 семестр</h3>
      <div class="flex-row">
        
          
            <ul class="grey-text list">
            <li class="list-li">
              <span class="orange-text">— Grammar</span>
              <ul class="list gray-list">
                <li>Nouns & Articles</li>
                <li>Adjectives & Adverb</li>
              </ul>
            </li>
            <li class="list-li">
              <span class="orange-text">— Vocabulary</span>
              <ul class="list gray-list">
                <li>Family & Relations</li>
                <li>People & Society</li>
              </ul>
            </li>
          </ul>
          </div>
          </div>
          <div class="div">
          <h3 class="list-header">2 семестр</h3>
          <ul class="grey-text list">
            <li class="list-li">
              <span class="orange-text">— Grammar</span>
              <ul class="list gray-list">
                <li>Pronouns</li>
                <li>Active Voice</li>
                <li>Passive Voice</li>
              </ul>
            </li>
            <li class="list-li">
              <span class="orange-text">— Vocabulary</span>
              <ul class="list gray-list">
                <li>Home</li>
                <li>School</li>
                <li>Work</li>
              </ul>
            </li>
          </ul>
          </div>
          <div class="div">
          <h3 class="list-header">3 семестр</h3>
          <ul class="grey-text list">
            <li class="list-li">
              <span class="orange-text">— Grammar</span>
              <ul class="list gray-list">
                <li>Modal verbs</li>
                <li>Infinitive</li>
                <li>Gerund</li>
                <li>Participle: 1, 2</li>
              </ul>
            </li>
            <li class="list-li">
              <span class="orange-text">— Vocabulary</span>
              <ul class="list gray-list">
                <li>Travel & Tourism</li>
                <li>Culture & Free Time</li>
                <li>Sport</li>
              </ul>
            </li>
            <li class="list-li">
              <span class="orange-text">— Writing</span>
              <ul class="list gray-list">
                <li>Informal Letter</li>
              </ul>
            </li>
          </ul>
          </div>
          <div class="div">
          <h3 class="list-header">4 семестр</h3>
          <ul class="grey-text list">
            <li class="list-li">
              <span class="orange-text">— Grammar</span>
              <ul class="gray-list list">
                <li>Clauses: Conditional and Wishes</li>
                <li>Direct / Reported speech</li>
                <li>Preposition</li>
                <li>Conjunction</li>
                <li>Numeral</li>
              </ul>
            </li>
            <li class="list-li">
              <span class="orange-text">— Vocabulary</span>
              <ul class="list gray-list">
                <li>Healthy Living</li>
                <li>Nature & Environment</li>
                <li>Money</li>
              </ul>
            </li>
            <li class="list-li">
              <span class="orange-text">— Writing</span>
              <ul class="list gray-list">
                <li>Formal Letter</li>
              </ul>
            </li>
          </ul>
          </div>
          <div class="div">
          <h3 class="list-header">5 семестр</h3>
          <ul class="grey-text list">
            <li>
              <span class="orange-text">— </span>
              <ul class="list gray-list">
                <li>Revision</li>
                <li>Tests</li>
              </ul>
            </li>
          </ul>
          </div>
          </div></li>
        </ul>
        
      
      
      
     
      
     
  <h2 class="section-title-two">
    Почему нас выбирают
    <picture>
      <source srcset="./images/desktop/lesson.jpg 1x, ./images/desktop/lesson@x2.jpg 2x" media="(min-width:1680px)">
        <source srcset="./images/tablet/lesson.jpg 1x, ./images/tablet/lesson@x2.jpg 2x" media="(min-width:768px) ">
          <source srcset="./images/mobile/lesson.jpg 1x, ./images/mobile/lesson@x2.jpg 2x" media="(min-width:320px) ">
      <img class="lesson-image" src="./images/desktop/lesson.jpg" alt="урок английского" />
    </picture>
  </h2>

  <div class="why-section">
      <ul class="why-list">
    
    <li class="why-item">
        <span class="orange-text span">— 01</span><br>
        Обучение в малых командах</li>
    <li class="why-item">
        <span class="orange-text span">— 02</span><br>
        Визуализированные конспекты</li>
    <li class="why-item">
        <span class="orange-text span">— 03</span><br>
        Каждое занятие имеет цель и конкретный результат</li>
    <li class="why-item">
        <span class="orange-text span">— 04</span><br>
        Реальные результаты преподавателя</li>
    <li class="why-item">
        <span class="orange-text span">— 05</span><br>
      Программа курса соответствует требованиям МОН Украины
    </li>
    <li class="why-item">
        <span class="orange-text span">— 06</span><br>
        Набор команд по уровням знаний</li>
  </div>
</section>
