    
    <!-- PROMISES -->
   <section class="promises-section container">

           <h2 class="promises-section-title">Мы гарантируем</h2>
 
           <div class="promises-section-wrapper">
            <ul class="promises-section-list list">
            <li class="promises-section-list-item icon-fire">
               Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.<span class="promises-section-accent-text accent-text">*</span></li>
            <li class="promises-section-list-item icon-fire">
              Ты научишься писать сочинения минимум на 10 баллов из 14.
            <span class="promises-section-accent-text accent-text">В то время как 20% учеников получили за сочинение 0.</span></li>
            <li class="promises-section-list-item icon-fire">
                Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд. </li>
            <li class="promises-section-list-item icon-fire">
               Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</li>
        </ul>
       </div>
   
   </section>
