<section class="quality" id="about-us">
  <ul class="quality__list">
    <li class="quality__items">
      <svg width="33" height="50">
        <use href="/images/symbol-defs.svg#icon-ice-bucket"></use>
      </svg>
      <h2 class="quality__title">721</h2>
      <p class="quality__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="quality__items">
      <svg width="50" height="50">
        <use href="/images/symbol-defs.svg#icon-weight"></use>
      </svg>
      <h2 class="quality__title">16KG</h2>
      <p class="quality__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="quality__items">
      <svg width="40" height="50">
        <use href="/images/symbol-defs.svg#icon-popsicle"></use>
      </svg>
      <h2 class="quality__title">84</h2>
      <p class="quality__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>

<section class="gallery">
  <h2 class="gallery__title">gallery</h2>
  <!-- <picture class="gallery__picture">
    <source
      srcset="
        ../images/desktop/home-pic5.jpg    1x,
        ../images/desktop/home-pic5@2x.jpg 2x
      "
      media="(min-width:1200px)" />

    <source
      srcset="
        /images/tablet/home-pic5.jpg    1x,
        /images/tablet/home-pic5@2x.jpg 2x
      "
      media="(min-width:768px)" />
    <source
      srcset="
        /images/phone/home-pic5.jpg    1x,
        /images/phone/home-pic5@2x.jpg 2x
      "
      media="(max-width:767px)" />
    <img src="/images/desktop/home-pic5.jpg" alt="gallery"
  /></picture> -->
</section>
