<section class="quality" id="about-us">
  <div class="quality__container">
    <ul class="quality__list">
      <li class="quality__items">
        <svg width="43" height="50">
          <use href="/images/symbol-defs.svg#icon-ice-bucket"></use>
        </svg>
        <h2 class="quality__title animate__animated animate__flip">721</h2>
        <p class="quality__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="quality__items">
        <svg width="60" height="50">
          <use href="/images/symbol-defs.svg#icon-weight"></use>
        </svg>
        <h2 class="quality__title animate__animated animate__flip">16KG</h2>
        <p class="quality__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="quality__items">
        <svg width="50" height="50">
          <use href="/images/symbol-defs.svg#icon-popsicle"></use>
        </svg>
        <h2 class="quality__title animate__animated animate__flip">84</h2>
        <p class="quality__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>

<section class="gallery__section">
  <div class="gallery">
    <figure class="gallery__item gallery__item--1">
      <img
        src="/images/grid_gallery/2.jpg"
        class="gallery__img"
        alt="Image 1"
      />
    </figure>
    <figure class="gallery__item gallery__item--2">
      <img
        src="/images/grid_gallery/3.jpg"
        class="gallery__img"
        alt="Image 2"
      />
    </figure>
    <figure class="gallery__item gallery__item--3">
      <img
        src="/images/grid_gallery/1.jpg"
        class="gallery__img"
        alt="Image 3"
      />
    </figure>
    <figure class="gallery__item gallery__item--4">
      <img
        src="/images/grid_gallery/4.jpg"
        class="gallery__img"
        alt="Image 4"
      />
    </figure>
    <figure class="gallery__item gallery__item--5">
      <img
        src="/images/grid_gallery/5.jpg"
        class="gallery__img"
        alt="Image 5"
      />
    </figure>
    <figure class="gallery__item gallery__item--6">
      <img
        src="/images/grid_gallery/6.jpg"
        class="gallery__img"
        alt="Image 6"
      />
    </figure>
    <figure class="gallery__item gallery__item--7">
      <img
        src="/images/grid_gallery/7.jpg"
        class="gallery__img"
        alt="Image 7"
      />
    </figure>
    <figure class="gallery__item gallery__item--8">
      <img
        src="/images/grid_gallery/8.jpg"
        class="gallery__img"
        alt="Image 8"
      />
    </figure>
    <figure class="gallery__item gallery__item--9">
      <img
        src="/images/grid_gallery/9.jpg"
        class="gallery__img"
        alt="Image 9"
      />
    </figure>
  </div>
</section>
