<section class="quality">
  <ul class="quality__list">
    <li class="quality__items">
      <img
        class="quality__img"
        src="/images/desktop/icon1.png"
        alt="icon"
        width="33"
        height="50"
      />
      <h2 class="quality__title">721</h2>
      <p class="quality__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="quality_items">
      <img
        class="quality__img"
        src="/images/desktop/icon2.png"
        alt="icon"
        width="50"
        height="50"
      />
      <h2 class="quality__title">16KG</h2>
      <p class="quality__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="quality_items">
      <img
        class="quality__img"
        src="/images/desktop/icon3.png"
        alt="icon"
        width="44"
        height="50"
      />
      <h2 class="quality__title">84</h2>
      <p class="quality__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
<section class="gallery">
  <!-- пустая секция плохо, сделай картинку через image и, возможно, скрытый заголовок фото продуктов -->
</section>
