  <div class="container dateDisplay-container">
    <div class="dateDisplay__content">
      <div class="dateDisplay--firstline">
        <p class="dateDisplay__day">8th Sat</p>
      </div>
      <div class="dateDisplay--secondline">
        <div class="dateDisplay__date">
        <p class="dateDisplay__month">February</p>
        <span class="line"></span>
        <p class="dateDisplay__hour">21:30:56</p>
      </div>
        <div class="dateDisplay__time">
          <img
              class="sunrise-icon"
              src="./images/sunrise.png"
              alt="sunrise"
          />
          <p class="dateDisplay__time--sunsrise">07:04</p>
          <span class="line"></span>
          <img
          class="sunset-icon"
          src="./images/sunset.png"
          alt="sunset"
      />
          <p class="dateDisplay__time--sunset">07:04</p>
          </div>
      </div>
    </div>
      <div class="quoteDisplay__container">
      <div class="quoteDisplay">
          <img
              class="frame-quote"
              src="./images/Frame 1.png"
              alt="frame"
          />
        <p class="quoteDisplay__text">Who cares about the clouds when we're together? Just sing a song and bring the sunny weather.</p>
        <h3 class="quoteDisplay__author">Dale Evans</h3>
      </div>
      </div>
    </div>
  </div>
