<section class="recipe">
    <div class="container">
        <p class="recipe_under-h">tradition and love</p>
        <h1 class="recipe_title">how it’s made?</h1>
        <div class="recipe_card">
        <img src="./images/bitmap/how-its-made/cow-milk/mob@1x.png" alt="cow" srcset="./images/bitmap/how-its-made/cow-milk/mob@1x.png 1x, ./images/bitmap/how-its-made/cow-milk/mob@2x.png 2x" width="280">
   <p class="recipe_bold-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
Maecenas eleifend erat at justo fringilla.</p>
<p class="recipe_text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
<br>
<br>
Aliquam erat volutpat. Aenean accumsan.</p>
</div>
<a href="#" class="button recipe-button"> 
<div class="recipe_button-all"> <p class="recipe_button-text">Read more</p>
</div></a>
 <img class="recipe_splash" src="./images/bitmap/how-its-made/milk-splash/mob-bcg@1x.png" alt="cow" srcset="./images/bitmap/how-its-made/milk-splash/mob-bcg@1x.png 1x, ./images/bitmap/how-its-made/milk-splash/mob-bcg@2x.png 2x">  </div> 
</section>