
    <section class="section recording">
      <div class="container">
        <form class="recording-form">
          <h2 class="recording-header">Онлайн запись</h2>
          <ul class="recording-list">
            <li class="recording-item">
              <input
                class="recording-input"
                type="text"
                name="name"
                id="name"
                placeholder="имя*"
              />
            </li>
            <li class="recording-item">
              <input
                class="recording-input"
                type="tel"
                name="telephone"
                id="telephone"
                placeholder="телефон*"
              />
            </li>
            <li class="recording-item">
              <textarea
                class="recording-input textarea"
                name="comment"
                id="comment"
                placeholder="сообщение"
              ></textarea>
            </li>
          </ul>
          <button class="recording-button"></button>
        </form>
      </div>
    </section>

   
