<!-- SECTION REGISTRATION-FORM -->
<section class="registration" id="registration">
  <div class="container">
    <div class ="registration-field">
      <h2 class="registration-field-title">
        Регистрация на <span class="orange-font">бесплатную</span> телефонную <span class="orange-font">консультацию</span> по нюансам ЗНО по
        английскому языку
      </h2>
      <p class= "registration-field-subtitle">
        Оставь заявку на участие в <span class="orange-font">бесплатном занятии.</span>
      </p>
      <p class="registration-field-subtitle">
        С вами свяжется
        консультант и ответит на вопросы
      </p>
      <form action="#" class="registration-form">
        <label class="registration-form-field">
            <span>
                <input type="text" name="user-name" class="registration-form-input" placeholder="Имя*" minlength="2" required />
            </span>
        </label>
        <label class="registration-form-field">
            <span>
            <input type="tel" name="user-phone" class="registration-form-input" placeholder="Телефон*" required />
            </span>
        </label>
        <button type="submit" class="button primary">хочу на бесплатное занятие</button>
        </form>
      </form>
    </div>
  </div>
</section>
