<div class="container">
    <h2 class="title">Registration</h2>
    <p>May 23, 11:00
        New York</p>
    <span>$ 699</span>

    <form action="" class="registration__form">
        <h3 class="registration__form-title">Apply your personal info
            for registration</h3>

        <input class="registration__form-input" type="text" name="Name" placeholder="Name">
        <input class="registration__form-input" type="tel" name="Phone number" placeholder="Phone number">
        <input class="registration__form-input" type="email" name="Email" placeholder="Email">

    </form>
    <button class="button" type="button">Register</button>
</div>