<section id="registration" class="registration">
<div class="container">
    <form action="#" class="registration__form">
        <h2 class="registration__form--title">Регистрация на <span class="accent">бесплатную</span> телефонную <span
                class="accent">консультацию</span> по нюансам ЗНО
            по английскому языку</h2>
        <p class="registration__form--text">Оставь заявку на участие в <span class="accent">бесплатном занятии.</span><br>С вами
            свяжется консультант и ответит на вопросы</p>
        <label class="registration__form--field">
            <input type="text" name="user-name" class="registration__form--input name" placeholder="Имя*" required>
        </label>
        <label class="registration__form-field">
            <input type="tel" name="user-phone" class="registration__form--input tel" placeholder="Телефон*" required>
        </label>
    
        <button type="submit" class="button">хочу на бесплатное занятие</button>
    </form>
</div>
</section>