<section class="relations">
  <div class="relations__blocks">
    <div class="sign__wrapper">
      <div class="sign__content">
        <p class="sign__title">Онлайн-запись</p>
        <form class="sign__form">
          <label class="sign__name">
            <input
              class="sign__item"
              type="text"
              name="name"
              placeholder="Имя*"
            />
          </label>
          <label class="sign__tel">
            <input
              class="sign__item"
              type="tel"
              name="tel"
              placeholder="Телефон*"
            />
          </label>
          <label class="sign__comment">
            <textarea
              class="sign__item"
              name="coments"
              placeholder="Сообщение"
            ></textarea>
          </label>
          <button class="sign__button" type="submit">Отправить</button>
        </form>
      </div>
    </div>
    <!-- Контакты -->
    <div class="contacts__wrapper">
      <div class="contacts__content">
        <p class="contacts__title">Контакты</p>
        <div class="contacts__flex">
          <address class="contacts__main">
            <p class="contacts__address">
              <svg class="contacts__icon" width="24" height="24">
                <use href="./images/footer/footer-sprite.svg#pointer"></use>
              </svg>
              ул. Васильковая, 7А, Киев, 08132
            </p>
            <a class="contacts__phone" href="tel:+380441234567">
              <svg class="contacts__icon" width="24" height="24">
                <use href="./images/footer/footer-sprite.svg#phone"></use>
              </svg>
              +38 044 111 11 11
            </a>
            <a class="contacts__mail" href="mailto:barbershop@email.com">
              <svg class="contacts__icon" width="24" height="24">
                <use href="./images/footer/footer-sprite.svg#mail"></use>
              </svg>
              barbershop@email.com
            </a>
          </address>
          <div>
            <p class="contacts__work">Время работы</p>
            <p class="contacts__time">Ежедневно с 9:00 до 22:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
