<section class="respond-section">
    <h2 class="respond-title">Секція відгуків</h2>
    <img class="respond-collage" src="./images/respond/respond-collage.png" alt="">
    <div class="respond-container">
        <div class="respond-box">
            <ul class="respond-list">
                <li class="respond-item">
                    <img class="respond-person" src="./images/respond/person1.jpg" alt="Person who left a response">
                    <p class="respond-description">
                        <svg class="commas-svg">
                            <use href="./images/sprite.svg#commas"></use>
                        </svg>
                        <span class="respond-description-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </span> 
                    </p>
                    <p class="respond-place">Emily, Los Angeles</p>
                </li>
                <li class="respond-item">
                    <img class="respond-person" src="./images/respond/person2.jpg" alt="Person who left a response">
                    <p class="respond-description">
                        <svg class="commas-svg">
                            <use href="./images/sprite.svg#commas"></use>
                        </svg>
                        <span class="respond-description-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </span> 
                    </p>
                    <p class="respond-place">Sara, New York</p>
                </li>
                <li class="respond-item">
                    <img class="respond-person" src="./images/respond/person3.jpg" alt="Person who left a response">
                    <p class="respond-description">
                        <svg class="commas-svg">
                            <use href="./images/sprite.svg#commas"></use>
                        </svg>
                        <span class="respond-description-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </span> 
                    </p>
                    <p class="respond-place">Jesika, Mayami</p>
                </li>
            </ul>
            <div class="respond-radiobtn-container">
                <input class="respond-radio" id="radio-input-first" name="respond" type="radio" checked>
                <label class="respond-label" for="radio-input-first">
                    <svg class="respond-radio-svg">
                        <use href="./images/sprite.svg#respond-home"></use>
                    </svg>
                </label>
                <input class="respond-radio" id="radio-input-second" name="respond" type="radio">
                <label class="respond-label" for="radio-input-second">
                    <svg class="respond-radio-svg">
                        <use href="./images/sprite.svg#respond-home"></use>
                    </svg>
                </label>
                <input class="respond-radio" id="radio-input-third" name="respond" type="radio">
                <label class="respond-label" for="radio-input-third">
                    <svg class="respond-radio-svg">
                        <use href="./images/sprite.svg#respond-home"></use>
                    </svg>
                </label>
            </div>
        </div>
    </div>
</section>
