<section class="respond-section">
    <h2 class="respond-title">Секція відгуків</h2>
    <div class="respond-container">
        <div class="respond-collage"></div>
        <div class="respond-box">
            <ul class="respond-list">
                <li class="respond-item">
                    <img class="respond-person" src="./images//respond/person1.jpg" alt="Person who left a response">
                    <p class="respond-description">
                        <svg class="commas-svg">
                            <use href="./images/sprite.svg#commas"></use>
                        </svg>
                        <span class="respond-description-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </span> 
                    </p>
                    <p class="respond-place">Emily, Los Angeles</p>
                <!-- </li>
                <li class="respond-item">
                    <img class="respond-person" src="./images/respond/person2.jpg" alt="Person who left a response">
                    <svg class="commas-svg">
                        <use href="./images/sprite.svg#commas"></use>
                    </svg> 
                    <p class="respond-descript"></p>
                    <p class="respond-place"></p>
                </li>
                <li class="respond-item">
                    <img class="respond-person" src="./images/respond/person3.jpg" alt="Person who left a response">
                    <svg class="commas-svg">
                        <use href="./images/sprite.svg#commas"></use>
                    </svg> 
                    <p class="respond-descript"></p>
                    <p class="respond-place"></p>
                </li> -->
            </ul>
            <input class="respond-radio" name="respond" id="respond-radio-first" type="radio" checked>
            <label class="respond-label" for="respond-radio-first">
                <span class="respond-radio-img"></span>
            </label>
            <input class="respond-radio" name="respond" id="respond-radio-second" type="radio">
            <label class="respond-label" for="respond-radio-second">
                <span class="respond-radio-img"></span>
            </label>
            <input class="respond-radio" name="respond" id="respond-radio-third" type="radio">
            <label class="respond-label" for="respond-radio-third">
                <span class="respond-radio-img"></span>
            </label>
        </div>
    </div>
</section>
