<section class="section-reviews">
        <div class="container">
            <h2 class="reviews-title">Отзывы выпускников</h2>
            <div class="reviews">
                <div class="reviews-img-part">
                    <ul class="reviews-img-list list">
                        <li class="reviews-img-list-item">
                        <picture>
                                <source
                                    srcset=".images/slider/slider1-mobile-min.jpg 1x , .images/slider/slider1@2x-mobile-min.jpg 2x "
                                    media="(min-width:320px)">
                                <source srcset=".images/slider/slider1-min.jpg 1x , .images/slider/slider1@2x-min.jpg 2x "
                                    media="(min-width:768px)">

                                <img class="reviews-img" src=".images/slider/slider1-min.jpg" alt="Тоня Кучеровская" />

                            </picture>
                        </li>
                        <li class="reviews-img-list-item">
                            <svg class="reviews-vk" width="30" height="30">
                           <use href="./images/symbols.svg#icon-vk"></use>
                             </svg>
                        </li>
                    </ul>
                </div>
                <div class="reviews-text-part">
                    <ul class="reviews-text-list list">
                        <li class="reviews-text-list-item">
                            <p class="reviews-text-list-item-name">Тоня Кучеровская</p>
                        </li>
                        <li>
                            <p class="reviews-text-list-item-eduacation">
                                Выпуск 2015-го года, Національний університет біоресурсів і
                                природокористування України
                            </p>
                        </li>
                        <li>
                            <p class="reviews-text-list-item-feedback">
                                За короткий час занять з Оленою я опанувала граматику і
                                поповнила свій зовсім пустий словниковий запас. З першого ж
                                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою
                                стали друзями, тому що її справді хвилювала моя успішність. Вона
                                стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                                страх зробити найменшу помилку. Зараз я можу похизуватись тим,
                                що я студен... <a class="read-more" href=""> Читать дальше</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        
        <div class="reviers-slider-img">
                <ul class="reviews-slider-img-list list">
                    <li class="reviews-slider-img-list-item arrov-mob-left">
                        <picture>
                            <source srcset=".images/slider/slider2-min.jpg 1x , .images/slider/slider2@2x-min.jpg 2x ">
                            <img src=".images/slider/slider2-min.jpg" alt="выпускиник" />
                        </picture>
                    </li>
                    <li class="reviews-slider-img-list-item">
                        <picture>
                            <source srcset=".images/slider/slider3-min.jpg 1x , .images/slider/slider3@3x-min.jpg 2x ">
                            <img src=".images/slider/slider3-min.jpg" alt="выпускиник" />
                        </picture>
                    </li>
                    <li class="reviews-slider-img-list-item arrov-mob-right">
                        <picture>
                            <source srcset=".images/slider/slider4-min.jpg 1x , .images/slider/slider4@2x-min.jpg 2x">
                            <img src=".images/slider/slider4-min.jpg" alt="выпускиник" />
                        </picture>
                    </li>

                    <li class="reviews-slider-img-list-item not-shown">
                        <picture>
                            <source srcset=".images/slider/slider5-min.jpg 1x , .images/slider/slider5@2x-min.jpg 2x">
                            <img src=".images/slider/slider5-min.jpg" alt="выпускиник" />
                        </picture>
                    </li>
                    <li class="reviews-slider-img-list-item not-shown">
                        <picture>
                            <source srcset=".images/slider/slider6-min.jpg 1x , .images/slider/slider6@2x-min.jpg 2x">
                            <img src=".images/slider/slider6-min.jpg" alt="выпускиник" />
                        </picture>
                    </li>
                    <li class="reviews-slider-img-list-item not-shown">
                        <picture>
                            <source srcset=".images/slider/slider7-min.jpg 1x , .images/slider/slider7@2x-min.jpg 2x">
                            <img src=".images/slider/slider7-min.jpg" alt="выпускиник" />
                        </picture>
                    </li>
                    <li class="reviews-slider-img-list-item not-shown">
                        <picture>
                            <source srcset=".images/slider/slider8-min.jpg 1x , .images/slider/slider8@2x-min.jpg 2x">
                            <img src=".images/slider/slider8-min.jpg" alt="выпускиник" />
                        </picture>
                    </li>
                </ul>
            </div>
    </div>
</section>
