<section class="review">
    <div class="container">
        <img class="review-img" src="./images/testimonials1.jpg" alt="girl"
        width="85px"
        height="85px"
        >
        <div class="review-wrapper">
            <p class="review-text">
                <span class="review-text-line">Nullam viverra</span>
                <span class="review-text-line">consectetuer. Quisque</span>
                <span class="review-text-line">cursus et, porttitor risus.</span>
                <span class="review-text-line">Aliquam sem. In hendrerit</span>
                <span class="review-text-line">nulla quam nunc,</span>
                <span class="review-text-line">accumsan congue. Lorem</span>
                <span class="review-text-line">ipsum primis in nibh vel</span>
                <span class="review-text-line">risus.</span>   
            </p>

            <!-- <ul class="review-text">
                <li class="review-text-line">Nullam viverra</li>
                <li class="review-text-line">consectetuer. Quisque</li>
                <li class="review-text-line">cursus et, porttitor risus.</li>
                <li class="review-text-line">Aliquam sem. In hendrerit</li>
                <li class="review-text-line">nulla quam nunc,</li>
                <li class="review-text-line">accumsan congue. Lorem</li>
                <li class="review-text-line">ipsum primis in nibh vel</li>
                <li class="review-text-line">risus.</li>
            
            </ul> -->
        </div>
        <h4 class="review-name">Emily, Los Angeles</h4>
    </div>
</section>
