<section class="review">
    <div class="container">
        <h3 class="review__alumni">Отзывы выпускников</h3>
        <div class="review__container">
            <div class="review__all">
                <div class="review__all-general">
                    <img class="review__image" src="./images/review/photo.jpg" width="90" height="90" />
                    <div class="review__all-text">
                        <h4 class="review__main">Тоня Кучеровская</h4>
                        <p class="review__description">Выпуск 2015-го года, Національний університет біоресурсів
                            і природокористування України</p>
                        <p class="review__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                            зовсім
                            пустий
                            словниковий запас. З першого ж
                            заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                            справді
                            хвилювала моя
                            успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                            зробити
                            найменшу
                            помилку. Зараз
                            я можу похизуватись тим, що я студен ... Читать дальше</p>
                    </div>
                </div>
                <ul class="review__img-list">
                    <img class="review__img-item" src="./images/review/photo1.jpg" width="54" height="54" />
                    <img class="review__img-item" src="./images/review/photo2.jpg" width="54" height="54" />
                    <img class="review__img-item" src="./images/review/photo3.jpg" width="54" height="54" />
                    <img class="review__img-item" src="./images/review/photo4.jpg" width="54" height="54" />
                    <img class="review__img-item" src="./images/review/photo5.jpg" width="54" height="54" />
                    <img class="review__img-item" src="./images/review/photo6.jpg" width="54" height="54" />
                    <img class="review__img-item" src="./images/review/photo7.jpg" width="54" height="54" />
                </ul>

            </div>
        </div>
</section>