<section class="reviews">
  <div class="reviews-container">
    <h2 class="visually-hidden">Отзывы</h2>
    <picture>
      <source
        srcset="./images/customer1.webp 1x, ./images/customer1@2x.webp 2x"
        type="image/wedp"
      />
      <source
        srcset="./images/customer1.png 1x, ./images/customer1@2x.png 2x"
        type="image/wedp"
      />
      <img
        class="reviews-images"
        src="./images/customer1.png"
        alt="костюмер-1"
      />
    </picture>
    <div class="reviews-content">
      <p class="reviews-content-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
    <div class="reviews-slider">
      <svg class="reviews-slider-icon-dots" width="32" height="4">
        <use href="./images/sprite.svg#icon-dots"></use>
      </svg>

      <p class="reviews-slider-text-cont">Emily, Los Angeles</p>

      <svg class="reviews-slider-icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-home"></use>
      </svg>
      <svg class="reviews-slider-icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-ellipse"></use>
      </svg>
      <svg class="reviews-slider-icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-ellipse"></use>
      </svg>
    </div>
  </div>
</section>
