<!--секция со скрытым заголовком - Отзывы -->

<section class="reviews">
  <div class="container">
    <h2 class="visuallyhidden">Reviews of our clients</h2>
    <div class="reviews-slider">
        <img class="reviews-slider-image" src="./images/reviews/testimonials1.png" alt="Client's photo" width="85" />
        <p class="reviews-slider-description">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <svg class="reviews-slider-svg" width="32" height="4">
            <use href="./images/sprite.svg#icon-ellipsis-reviews"></use>
        </svg>
        <p class="reviews-slider-name">
            Emily, Los Angeles
        </p>
    </div>
    <div class="reviews-slider">
        <img class="reviews-slider-image" src="./images/reviews/testimonials2.png" alt="Client's photo" width="85" />
        <p class="reviews-slider-description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <svg class="reviews-slider-svg" width="32" height="4">
            <use href="./images/sprite.svg#icon-ellipsis-reviews"></use>
        </svg>
        <p class="reviews-slider-name">
            Emily, Los Angeles
        </p>
    </div>
    <div class="reviews-slider">
        <img class="reviews-slider-image" src="./images/reviews/testimonials3.png" alt="Client's photo" width="85" />
        <p class="reviews-slider-description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <svg class="reviews-slider-svg" width="32" height="4">
            <use href="./images/sprite.svg#icon-ellipsis-reviews"></use>
        </svg>
        <p class="reviews-slider-name">
            Emily, Los Angeles
        </p>
    </div>

</section>
