<!--секция со скрытым заголовком - Отзывы -->

<section class="reviews">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/reviews/desktop-collage.jpg    1x,
          ./images/reviews/desktop-collage@2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/reviews/tablet-collage.jpg    1x,
          ./images/reviews/tablet-collage@2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/reviews/mobile-collage.jpg    1x,
          ./images/reviews/mobile-collage@2x.jpg 2x
        "
        type="image/jpg"
        media="(max-width:767px)"
      />
      <img
        class="reviews-collage"
        src="./images/reviews/desktop-collage.jpg"
        alt="sweets"
      />
    </picture>
    <h2 class="visuallyhidden">Reviews of our clients</h2>
    <input
      type="radio"
      id="slide1"
      class="slider-radio-btn"
      name="slide"
      value="slide1"
      checked
    />
    <input
      type="radio"
      id="slide2"
      class="slider-radio-btn"
      name="slide"
      value="slide2"
    />
    <input
      type="radio"
      id="slide3"
      class="slider-radio-btn"
      name="slide"
      value="slide3"
    />
    <div class="reviews-slider">
      <div class="slides review-slide1">
        <img
          class="reviews-slider-image"
          src="./images/reviews/testimonials1.png"
          srcset="
            ./images/reviews/testimonials1.png    1x,
            ./images/reviews/testimonials1@2x.png 2x
          "
          alt="Client's photo"
          width="85"
        />
        <p class="reviews-slider-description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <svg class="reviews-slider-svg" width="32" height="4">
          <use href="./images/sprite.svg#icon-ellipsis-reviews"></use>
        </svg>
        <p class="reviews-slider-name">Emily, Los Angeles</p>
      </div>

      <div class="slides review-slide2">
        <img
          class="reviews-slider-image"
          src="./images/reviews/testimonials2.png"
          srcset="
            ./images/reviews/testimonials2.png    1x,
            ./images/reviews/testimonials2@2x.png 2x
          "
          alt="Client's photo"
          width="85"
        />
        <p class="reviews-slider-description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <svg class="reviews-slider-svg" width="32" height="4">
          <use href="./images/sprite.svg#icon-ellipsis-reviews"></use>
        </svg>
        <p class="reviews-slider-name">Teilor, Los Angeles</p>
      </div>

      <div class="slides review-slide3">
        <img
          class="reviews-slider-image"
          src="./images/reviews/testimonials3.png"
          srcset="
            ./images/reviews/testimonials3.png    1x,
            ./images/reviews/testimonials3@2x.png 2x
          "
          alt="Client's photo"
          width="85"
        />
        <p class="reviews-slider-description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <svg class="reviews-slider-svg" width="32" height="4">
          <use href="./images/sprite.svg#icon-ellipsis-reviews"></use>
        </svg>
        <p class="reviews-slider-name">Mery, Los Angeles</p>
      </div>
    </div>

    <div class="reviews-slider-controls">
      <label for="slide1">
        <svg width="12" height="12" class="check-svg">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
      </label>
      <label for="slide2">
        <svg width="12" height="12" class="check-svg">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
      </label>
      <label for="slide3">
        <svg width="12" height="12" class="check-svg">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
      </label>
    </div>
  </div>
</section>
