<!--Отзывы выпускников  -->
<section class="section">
  <div class="container review">
    <h2 class="section-title">Отзывы выпускников</h2>

    <!-- Отзыв -->
    <div class="review-container">
      <ul class="review-set list">
        <li class="review-element">
          <div class="review-picture">
            <img
              src="./images/rewies/img6@2x.jpg"
              width="90"
              alt="Фото Тоня Кучеровская"
            />
            <a
              href="https://vk.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="ссылка Вконтакте"
            >
              <svg class="review-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review-sign">
            <h3 class="review-title">Тоня Кучеровская</h3>
            <p class="review-title-sign">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="review-text">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <button class="review-btn" type="button">Читать дальше</button>
            </p>
          </div>
        </li>
        <li class="review-element">
          <div class="review-picture">
            <img src="./images/rewies/img1@2x.jpg" alt="Фото выпускника" />
            <a
              href="https://vk.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="ссылка Вконтакте"
            >
              <svg class="review-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>

          <div class="review-sign">
            <h3 class="review-title">Lorem, ipsum.</h3>
            <p class="review-title-sign">Lorem ipsum dolor sit amet.</p>
            <p class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem quaerat eos ut quod laudantium! Quasi, pariatur
              impedit quibusdam, dolore animi optio sit ipsa, quae conseqrem
              ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
              quaerat eos ut quod laudantium! Quasi, pariatur impeuatur soluta
              laboriosam a? Distinctio quod id explicabo corporis numquam, hic
              beatae non odit vero repellat cupiditate fugiat maxime vel illum!
              Corrupti quod officiis aliquid modi...
              <button class="review-btn" type="button">Читать дальше</button>
            </p>
          </div>
        </li>
        <li class="review-element">
          <div class="review-picture">
            <img
              src="./images/rewies/img2@2x.jpg"
              width="90"
              alt="Фото выпускника"
            />
            <a
              href="https://vk.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="ссылка Вконтакте"
            >
              <svg class="review-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>

          <div class="review-sign">
            <h3 class="review-title">Lorem, ipsum.</h3>
            <p class="review-title-sign">Lorem ipsum dolor sit amet.</p>
            <p class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem quaerat eos ut quod laudantium! Quasi, pariatur
              impedit quibusdam, dolore animi optio sit ipsa, quae consequatur
              soluta laboriosam a? Distinctio quod id explicabo corporis
              Exercitationem quaerat eos ut quod laudantium! Quasi, pariatur
              impedit quibusdam, dolore animi optio sit ipsa, quae consequa
              numquam, hic beatae non odit vero repellat cupiditate fugiat
              maxime vel illum! Corrupti quod officiis aliquid modi...
              <button class="review-btn" type="button">Читать дальше</button>
            </p>
          </div>
        </li>
        <li class="review-element">
          <div class="review-picture">
            <img
              src="./images/rewies/img3@2x.jpg"
              width="90"
              alt="Фото выпускника"
            />
            <a
              href="https://vk.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="ссылка Вконтакте"
            >
              <svg class="review-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review-sign">
            <h3 class="review-title">Lorem, ipsum.</h3>
            <p class="review-title-sign">Lorem ipsum dolor sit amet.</p>
            <p class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem quaerat eos ut quod laudantium! Quasi, pariatur
              impe Lorem ipsum dolnumquam, hic beatae non odit vero repellat
              cupiditate fugiat maxime vel illum! Corrupti quod officiis aliquid
              modi...
              <button class="review-btn" type="button">Читать дальше</button>
            </p>
          </div>
        </li>
        <li class="review-element">
          <div class="review-picture">
            <img
              src="./images/rewies/img4@2x.jpg"
              width="90"
              alt="Фото выпускника"
            />
            <a
              href="https://vk.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="ссылка Вконтакте"
            >
              <svg class="review-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review-sign">
            <h3 class="review-title">Lorem, ipsum.</h3>
            <p class="review-title-sign">Lorem ipsum dolor sit amet.</p>
            <p class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem quaerat eos ut quod laudantium! Quasi, pariatur
              impedit quibusdam, dolore animi optio sit ipsa, quae consequatur
              soluta laboriosam a? Distinctio quod id explicabo corporis
              numquam, hic beatae non odit vero repellat cupiditate fugiat
              rcitationem quaerat eos ut quod laudantium! Quasi, pariatur
              impedit quibusdam, dolore animi optio sit ipsa, quae conseqmaxime
              vel illum! Corrupti quod officiis aliquid modi...
              <button class="review-btn" type="button">Читать дальше</button>
            </p>
          </div>
        </li>
        <li class="review-element">
          <div class="review-picture">
            <img
              src="./images/rewies/img5@2x.jpg"
              width="90"
              alt="Фото выпускника"
            />
            <a
              href="https://vk.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="ссылка Вконтакте"
            >
              <svg class="review-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review-sign">
            <h3 class="review-title">Lorem, ipsum.</h3>
            <p class="review-title-sign">Lorem ipsum dolor sit amet.</p>
            <p class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem quaerat eos ut quod laudantium! Quasi, pariatur
              impedit quibusdam, dolore animi optio sit ipsa, quae conseqrem
              ipsum dolor sit amet, consectetur adipisicing elit. Exercuatur
              soluta laboriosam a? Distinctio quod id explicabo corporis
              numquam, hic beatae non odit vero repellat cupiditate fugiat
              maxime vel illum! Corrupti quod officiis aliquid modi...
              <button class="review-btn" type="button">Читать дальше</button>
            </p>
          </div>
        </li>

        <li class="review-element">
          <div class="review-picture">
            <img
              src="./images/rewies/img7@2x.jpg"
              width="90"
              alt="Фото выпускника"
            />
            <a
              href="https://vk.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="ссылка Вконтакте"
            >
              <svg class="review-icon" width="30" height="30">
                <use href="./images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review-sign">
            <h3 class="review-title">Lorem, ipsum.</h3>
            <p class="review-title-sign">Lorem ipsum dolor sit amet.</p>
            <p class="review-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Exercitationem quaerat eos ut quod laudantium! Quasi, pariatur
              impedit quibusdam, dolore animi optio sit ipsa, quae consequatur
              soluta laboriosam a? Distinctio quod id explicabo corporis nrem
              ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
              quaerat eos ut quod laudantium! Quasi, pariatur impedit
              quibumquam, hic beatae non odit vero repellat cupiditate fugiat
              maxime vel illum! Corrupti quod officiis aliquid modi...
              <button class="review-btn" type="button">Читать дальше</button>
            </p>
          </div>
        </li>
      </ul>
    </div>

    <!-- Изображения -->
    <div class="avatars">
      <button class="avatars-btn left" type="button">
        <svg width="25" height="25">
          <use href="./images/sprite.svg#icon-left"></use>
        </svg>
      </button>

      <ul class="avatars-set list">
        <li class="avatars-element">
          <a href=""
            ><img
              src="./images/rewies/img1@2x.jpg"
              width="54"
              alt="Фото выпускника"
          /></a>
        </li>
        <li class="avatars-element">
          <a href=""
            ><img
              src="./images/rewies/img2@2x.jpg"
              width="54"
              alt="Фото выпускника"
          /></a>
        </li>
        <li class="avatars-element">
          <a href=""
            ><img
              src="./images/rewies/img3@2x.jpg"
              width="54"
              alt="Фото выпускника"
          /></a>
        </li>
        <li class="avatars-element display">
          <a href=""
            ><img
              src="./images/rewies/img4@2x.jpg"
              width="54"
              alt="Фото выпускника"
          /></a>
        </li>
        <li class="avatars-element display">
          <a href=""
            ><img
              src="./images/rewies/img5@2x.jpg"
              width="54"
              alt="Фото выпускника"
          /></a>
        </li>
        <li class="avatars-element display">
          <a href=""
            ><img
              src="./images/rewies/img6@2x.jpg"
              width="54"
              alt="Фото выпускника"
          /></a>
        </li>
        <li class="avatars-element display">
          <a href=""
            ><img
              src="./images/rewies/img7@2x.jpg"
              width="54"
              alt="Фото выпускника"
          /></a>
        </li>
      </ul>

      <button class="avatars-btn right" type="button">
        <svg width="25" height="25">
          <use href="./images/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
