<!-- Sale -->
<section id="sale" class="sale">
    <div class="sale-container">
        <h2 class="sale-header">Sale</h2>
        <div class="sale-content-container">
            <div class="sale-all-images-container">
                <div class="sale-little-images-contaniner">
                    <img srcset="
                      images/sale/sale1.png    1x,
                      images/sale/sale1-2x.png 2x
                    " src="./images/sale/sale1.png" alt="sale watch 1" class="sale-images" />
                    <img srcset="
                      images/sale/sale2.png    1x,
                      images/sale/sale2-2x.png 2x
                    " src="./images/sale/sale2.png" alt="sale watch 2" class="sale-images" />
                    <img srcset="
                      images/sale/sale3.png    1x,
                      images/sale/sale3-2x.png 2x
                    " src="./images/sale/sale3.png" alt="sale watch 3" class="sale-images" />
                    <img srcset="
                      images/sale/sale4.png    1x,
                      images/sale/sale4-2x.png 2x
                    " src="./images/sale/sale4.png" alt="sale watch 4" class="sale-images" />
                </div>
                <div class="sale-big-image-container">
                    <img srcset="images/sale/sale-large2x.png" src="images/sale/sale-large.png"
                        alt="sale big picture with watch" class="sale-big-img" />
                </div>
            </div>
            <div class="sale-description-container">
                <div class="sale-description-name">
                    <h2 class="sale-product-name">
                        Greenlane Watch By Police For MenHT
                    </h2>
                    <div class="sale-product-name-details">
                        <p class="sale-product-serial">Product tag: PEWJK2227003</p>
                        <div class="sale-prices-container">
                            <span class="sale-new-price">€700</span>
                            <span class="sale-old-price">€1000</span>
                        </div>
                    </div>
                </div>
                <div class="sale-item-description-container">
                    <div class="sale-item-description-title-container">
                        <p class="sale-item-description-title">Description</p>
                        <svg width="16" height="2">
                            <use href="./images/icons.svg#icon-minus"></use>
                        </svg>
                    </div>
                    <p class="sale-description-paragraph">
                        Richly detailed with an understated design - the Police
                        Men’s Greenlane watch features a versatile multifunction
                        design that fits effortlessly into work and play. The steel
                        case is adorned with a semi-transparent black dial. The
                        timepiece exhibits a contrast through a black IP bracelet
                        with matching crown and pushers.
                    </p>
                </div>
                <div class="sale-item-description-container">
                    <div class="sale-item-description-title-container">
                        <p class="sale-item-description-title">
                            DETAILS & FEATUREStion
                        </p>
                        <svg width="16" height="2">
                            <use href="./images/icons.svg#icon-minus"></use>
                        </svg>
                    </div>
                    <p class="sale-description-paragraph">
                        Gender: man <br />
                        Size: 46x54.5mm <br />
                        Case Colour: Steel <br />
                        Band Material: Metal <br />
                        Case Material: Metal <br />
                        Features: Multifunction <br />
                        Water Resistant: 5 (ATM) <br />
                        Band Colour: Steel
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>