<article>
  <section>
    <h1>Sale</h1>
    <div>
      <div>
        <!-- <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" /> -->
      </div>
      <!-- <img src="" alt="" /> -->
    </div>
    <div>
      <h1>Greenlane Watch By Police For MenHT</h1>
      <p>Product tag: PEWJK2227003</p>
      <p>€700 <span>€1000</span></p>
    </div>
    <div>
      <h2>Description</h2>
      <p>
        Richly detailed with an understated design - the Police Men’s Greenlane
        watch features a versatile multifunction design that fits effortlessly
        into work and play. The steel case is adorned with a semi-transparent
        black dial. The timepiece exhibits a contrast through a black IP
        bracelet with matching crown and pushers.
      </p>
    </div>
    <div>
      <h2>DETAILS & FEATUREStion</h2>
      <p>
        Gender: man <br />
        Size: 46x54.5mm <br />
        Case Colour: Steel <br />
        Band Material: Metal <br />
        Case Material: Metal <br />
        Features: Multifunction <br />
        Water Resistant: 5 (ATM) <br />
        Band Colour: Steel
      </p>
    </div>
  </section>
</article>
