<section class="section-sale">
    <div class="container-sale-sale">
        <h2 class="title-sale">Sale</h2>
        <div class="sale-container">
            <div class="parent-sale">
                <div class="div1" data-aos="zoom-out" data-aos-easing="ease-out-cubic" data-aos-duration="600">
                    <img srcset="images/sale-img/1-small-x2.jpg" src="images/sale-img/1-small.jpg" alt="watches" width="80"
                        height="80" />
                </div>
                <div class="div2" data-aos="zoom-out" data-aos-easing="ease-out-cubic" data-aos-duration="600">
                    <img srcset="images/sale-img/2-small-x2.jpg" src="images/sale-img/2-small.jpg" alt="watches" width="80"
                        height="80" />
                </div>
                <div class="div3" data-aos="zoom-out" data-aos-easing="ease-out-cubic" data-aos-duration="600">
                    <img srcset="images/sale-img/3-small-x2.jpg" src="images/sale-img/3-small.jpg" alt="watches" width="80"
                        height="80" />
                </div>
                <div class="div4" data-aos="zoom-out" data-aos-easing="ease-out-cubic" data-aos-duration="600">
                    <img srcset="images/sale-img/4-small-x2.jpg" src="images/sale-img/4-small.jpg" alt="watches" width="80"
                        height="80" />
                </div>
                <div class="div5">
                    <img srcset="images/sale-img/big-photo-x2.jpg" src="images/sale-img/big-photo.jpg" class="sale-main-img"
                        alt="watches" width="235" height="350" />
                </div>
            </div>
            <div class="sale-information">
                <h3 class="sale-name-watch">Greenlane Watch By Police For MenHT</h3>
                <p class="sale-tag-watch">Product tag: PEWJK2227003</p>
                <div class="sale-prices">
                    <p class="sale-new-price">€700</p>
                    <p class="sale-old-price">€1000</p>
                </div>
                <div class="sale-parag-svg">
                    <h4 class="sale-description">Description</h4>
                </div>
                <p class="sale-pharagraf">
                    Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile
                    multifunction design that fits effortlessly into work
                    and play. The steel case is adorned with a semi-transparent black dial. The timepiece exhibits a
                    contrast through a black IP bracelet with matching crown
                    and pushers.
                </p>
                <div class="sale-parag-svg">
                    <h4 class="sale-description">DETAILS & FEATUREStion</h4>
                </div>
                <ul class="sale-pharagraf">
                    <li>Gender: man</li>
                    <li>Size: 46x54.5mm</li>
                    <li>Case Colour: Steel</li>
                    <li>Band Material: Metal</li>
                    <li>Case Material: Metal</li>
                    <li>Features: Multifunction</li>
                    <li>Water Resistant: 5 (ATM)</li>
                    <li>Band Colour: Steel</li>
                </ul>
            </div>
        </div>
    </div>
</section>