<section>
  <div id="search-form" class="search">
    <button class="location-btn">
      <svg width="22" height="22">
        <use href="./images/icons-svg.svg#icon-location"></use>
      </svg>
    </button>
    <input
      type="text"
      placeholder="Enter the city"
      class="search-bar"
      id="city-input"
    />
    <button class="star-btn">
      <svg width="22" height="22">
        <use href="./images/icons-svg.svg#icon-star"></use>
      </svg>
    </button>
  </div>
</section>
