<header class='search_header'>
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
        class="search_input"
        ></input>
      <button type='submit' class='search_btn'>
        <svg width="13" height="13">
          <use href="./svg/search_icon.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </header>
  
  <div class="container">
    <div class="gallery">
      <!-- Obraz karty -->
    </div>
  </div>
  
  <button type="button" class="load-more">Load more</button>