<header>
  <section class="header">
    <form id="form" class="search form">
      <button class="location-btn">
        <svg width="22" height="22">
          <use href="./images/icons-svg.svg#icon-location"></use>
        </svg>
      </button>
      <input
        type="text"
        placeholder="Enter the city"
        class="location search-form"
        name="search"
      />
      <button class="star-btn">
        <svg width="22" height="22">
          <use href="./images/icons-svg.svg#icon-star"></use>
        </svg>
      </button>
    </form>
    <div class="carousel">
      <button class="prev">
        <svg class="slider-icon" width="22" height="22">
          <use href="./images/icons-svg.svg#icon-left"></use>
        </svg>
      </button>
      <div class="slider"></div>
      <button class="next">
        <svg class="slider-icon" width="22" height="22">
          <use href="./images/icons-svg.svg#icon-right"></use>
        </svg>
      </button>
    </div>
    <div class="weather-card">
      <div>
        <div class="weather">
          
          <h2 class="city">New York</h2>
          <h1 class="temp">22°C</h1>
          <div class="temp-limits">
            <p class="min"><span>min</span> 5°C</p>
            <p class="max"><span>max</span> 30°C</p>
          </div>
        </div>
        <div class="switch-buttons">
          <button class="today-button">TODAY</button>
          <button class="five-day-button">5 DAYS</button>
        </div>
      </div>
    </div>
  </section>
</header>
