<section class="section team">
  <div class="container team__container">
    <p class="container-title">для настоящих ценителей атмосферы</p>
    <h2 class="section-title team__title">Наши мастера</h2>
    <ul class="team-card team__list">
      <li class="team-card__item">
        <picture>
          <source
            srcset="
              ./images/team/smith/smith-418.jpg 418w,
              ./images/team/smith/smith-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/smith/smith-370.jpg 370w,
              ./images/team/smith/smith-740.jpg 740w
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/smith/smith-450.jpg 450w,
              ./images/team/smith/smith-900.jpg 900w
            "
            media="(min-width: 1200px)"
          />
          <img
            class="team-card__image"
            src="./images/team/smith/smith-418.jpg"
            alt="Джон Смит"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw,  100vw"
          />
        </picture>
        <h3 class="team-card__name">John Smith</h3>
        <p class="team-card__post">Extreme Barber</p>
        <ul>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на Instagram">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на twitter">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на facebook">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на linkedin">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-card__item">
        <picture>
          <source
            srcset="
              ./images/team/doe/doe-418.jpg 418w,
              ./images/team/doe/doe-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/doe/doe-370.jpg 370w,
              ./images/team/doe/doe-740.jpg 740w
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/doe/doe-450.jpg 450w,
              ./images/team/doe/doe-900.jpg 900w
            "
            media="(min-width: 1200px)"
          />
          <img
            class="team-card__image"
            src="./images/team/doe/doe-418.jpg"
            alt="Майкл Доуи"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw,  100vw"
          />
        </picture>
        <h3 class="team-card__name">Michele Doe</h3>
        <p class="team-card__post">Extreme Barber</p>
        <ul>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на Instagram">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на twitter">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на facebook">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на linkedin">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li></li>
      <li class="team-card__item">
        <picture>
          <source
            srcset="
              ./images/team/black/black-418.jpg 418w,
              ./images/team/black/black-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/black/black-370.jpg 370w,
              ./images/team/black/black-740.jpg 740w
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/black/black-450.jpg 450w,
              ./images/team/black/black-900.jpg 900w
            "
            media="(min-width: 1200px)"
          />
          <img
            class="team-card__image"
            src="./images/team/black/black-418.jpg"
            alt="Алан Блек"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw,  100vw"
          />
        </picture>
        <h3 class="team-card__name">Alan Black</h3>
        <p class="team-card__post">Extreme Barber</p>
        <ul>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на Instagram">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на twitter">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на facebook">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social__link" href="" aria-label="Ссылка на linkedin">
              <svg class="social__icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
