<section class="section-easy-steps section" id="how-it-work">
  <div class="container">
  <p class="section-step-title">
    To order your fruit basket, simply follow these easy steps
  </p>
  <p class="section-step-desc">
    Our baskets are assembled with care and delivered straight to your doorstep,
    so you can enjoy the taste of fresh fruit without ever leaving your home.
    Whether you're looking for a healthy snack or a thoughtful gift, our fruit
    baskets are the perfect choice.
  </p>
  <div class="section-step-card">
    <ul class="section-step-list list">
      <li class="section-easy-step-card">
        <span
          ><button type="button" class="button-card">First Step</button></span
        >
        <p class="card-desc">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="section-easy-step-card">
        <span
          ><button type="button" class="button-card">Second Step</button></span
        >
        <p class="card-desc">Click on the basket and fill out the form.</p>
      </li>
      <li class="section-easy-step-card">
        <span
          ><button type="button" class="button-card">Third Step</button></span
        >
        <p class="card-desc">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
  </div>
  </div>
</section>
