<section class="section-feedback">
  <div class="container">
    <h2 class="section-feedback-title">Отзывы выпускников</h2>

    <div class="slider">
      <div class="slider__item animation">
        <div class="slider-content">
          <div calss="feedback-tablet-container">
            <picture class="feedback-main-photo">
              <source
                srcset="
                  ./images/desktop/feedbackmain-desktop1.png 1x,
                  ./images/desktop/feedbackmain-desktop2.png 2x
                "
                media="(min-width: 1314px)"
              />
              <source
                srcset="
                  ./images/tablet/feedbackmain-tablet1.png 1x,
                  ./images/tablet/feedbackmain-tablet2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/feedbackmain-phone1.png 1x,
                  ./images/mobile/Feedbackmain-phone2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/feedbackmain-desktop1.png"
                alt="Портрет Тоня Кучеровская"
              />
            </picture>

            <a
              href="#"
              class="feedback-vk-link animation"
              aria-label="Ссылка на vkontakte"
            >
              <img
                src="./images/svg/feddback-vk-icon.svg"
                alt="Иконка vkontakte"
                width="30px"
              />
            </a>
          </div>
          <div class="feedback-textpart">
            <h3 class="feedback-person">Тоня Кучеровская</h3>
            <p class="feedback-person-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="feedback-main-part">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback-link animation" aria-label="Ссылка"
                >Читать дальше</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <div class="slider-content">
          <div calss="feedback-tablet-container">
            <picture class="feedback-main-photo">
              <source
                srcset="
                  ./images/desktop/feedbackmain-desktop1.png 1x,
                  ./images/desktop/feedbackmain-desktop2.png 2x
                "
                media="(min-width: 1314px)"
              />
              <source
                srcset="
                  ./images/tablet/feedbackmain-tablet1.png 1x,
                  ./images/tablet/feedbackmain-tablet2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/feedbackmain-phone1.png 1x,
                  ./images/mobile/Feedbackmain-phone2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/feedbackmain-desktop1.png"
                alt="Портрет Тоня Кучеровская"
              />
            </picture>

            <a
              href="#"
              class="feedback-vk-link animation"
              aria-label="Ссылка на vkontakte"
            >
              <img
                src="./images/svg/feddback-vk-icon.svg"
                alt="Иконка vkontakte"
                width="30px"
              />
            </a>
          </div>
          <div class="feedback-textpart">
            <h3 class="feedback-person">Тоня Кучеровская</h3>
            <p class="feedback-person-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="feedback-main-part">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback-link animation" aria-label="Ссылка"
                >Читать дальше</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <div class="slider-content">
          <div calss="feedback-tablet-container">
            <picture class="feedback-main-photo">
              <source
                srcset="
                  ./images/desktop/feedbackmain-desktop1.png 1x,
                  ./images/desktop/feedbackmain-desktop2.png 2x
                "
                media="(min-width: 1314px)"
              />
              <source
                srcset="
                  ./images/tablet/feedbackmain-tablet1.png 1x,
                  ./images/tablet/feedbackmain-tablet2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/feedbackmain-phone1.png 1x,
                  ./images/mobile/Feedbackmain-phone2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/feedbackmain-desktop1.png"
                alt="Портрет Тоня Кучеровская"
              />
            </picture>

            <a
              href="#"
              class="feedback-vk-link animation"
              aria-label="Ссылка на vkontakte"
            >
              <img
                src="./images/svg/feddback-vk-icon.svg"
                alt="Иконка vkontakte"
                width="30px"
              />
            </a>
          </div>
          <div class="feedback-textpart">
            <h3 class="feedback-person">Тоня Кучеровская</h3>
            <p class="feedback-person-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="feedback-main-part">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback-link animation" aria-label="Ссылка"
                >Читать дальше</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <div class="slider-content">
          <div calss="feedback-tablet-container">
            <picture class="feedback-main-photo">
              <source
                srcset="
                  ./images/desktop/feedbackmain-desktop1.png 1x,
                  ./images/desktop/feedbackmain-desktop2.png 2x
                "
                media="(min-width: 1314px)"
              />
              <source
                srcset="
                  ./images/tablet/feedbackmain-tablet1.png 1x,
                  ./images/tablet/feedbackmain-tablet2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/feedbackmain-phone1.png 1x,
                  ./images/mobile/Feedbackmain-phone2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/feedbackmain-desktop1.png"
                alt="Портрет Тоня Кучеровская"
              />
            </picture>

            <a
              href="#"
              class="feedback-vk-link animation"
              aria-label="Ссылка на vkontakte"
            >
              <img
                src="./images/svg/feddback-vk-icon.svg"
                alt="Иконка vkontakte"
                width="30px"
              />
            </a>
          </div>
          <div class="feedback-textpart">
            <h3 class="feedback-person">Тоня Кучеровская</h3>
            <p class="feedback-person-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="feedback-main-part">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback-link animation" aria-label="Ссылка"
                >Читать дальше</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <div class="slider-content">
          <div calss="feedback-tablet-container">
            <picture class="feedback-main-photo">
              <source
                srcset="
                  ./images/desktop/feedbackmain-desktop1.png 1x,
                  ./images/desktop/feedbackmain-desktop2.png 2x
                "
                media="(min-width: 1314px)"
              />
              <source
                srcset="
                  ./images/tablet/feedbackmain-tablet1.png 1x,
                  ./images/tablet/feedbackmain-tablet2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/feedbackmain-phone1.png 1x,
                  ./images/mobile/Feedbackmain-phone2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/feedbackmain-desktop1.png"
                alt="Портрет Тоня Кучеровская"
              />
            </picture>

            <a
              href="#"
              class="feedback-vk-link animation"
              aria-label="Ссылка на vkontakte"
            >
              <img
                src="./images/svg/feddback-vk-icon.svg"
                alt="Иконка vkontakte"
                width="30px"
              />
            </a>
          </div>
          <div class="feedback-textpart">
            <h3 class="feedback-person">Тоня Кучеровская</h3>
            <p class="feedback-person-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="feedback-main-part">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback-link animation" aria-label="Ссылка"
                >Читать дальше</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <div class="slider-content">
          <div calss="feedback-tablet-container">
            <picture class="feedback-main-photo">
              <source
                srcset="
                  ./images/desktop/feedbackmain-desktop1.png 1x,
                  ./images/desktop/feedbackmain-desktop2.png 2x
                "
                media="(min-width: 1314px)"
              />
              <source
                srcset="
                  ./images/tablet/feedbackmain-tablet1.png 1x,
                  ./images/tablet/feedbackmain-tablet2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/feedbackmain-phone1.png 1x,
                  ./images/mobile/Feedbackmain-phone2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/feedbackmain-desktop1.png"
                alt="Портрет Тоня Кучеровская"
              />
            </picture>

            <a
              href="#"
              class="feedback-vk-link animation"
              aria-label="Ссылка на vkontakte"
            >
              <img
                src="./images/svg/feddback-vk-icon.svg"
                alt="Иконка vkontakte"
                width="30px"
              />
            </a>
          </div>
          <div class="feedback-textpart">
            <h3 class="feedback-person">Тоня Кучеровская</h3>
            <p class="feedback-person-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="feedback-main-part">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback-link animation" aria-label="Ссылка"
                >Читать дальше</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <div class="slider-content">
          <div calss="feedback-tablet-container">
            <picture class="feedback-main-photo">
              <source
                srcset="
                  ./images/desktop/feedbackmain-desktop1.png 1x,
                  ./images/desktop/feedbackmain-desktop2.png 2x
                "
                media="(min-width: 1314px)"
              />
              <source
                srcset="
                  ./images/tablet/feedbackmain-tablet1.png 1x,
                  ./images/tablet/feedbackmain-tablet2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/feedbackmain-phone1.png 1x,
                  ./images/mobile/Feedbackmain-phone2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/desktop/feedbackmain-desktop1.png"
                alt="Портрет Тоня Кучеровская"
              />
            </picture>

            <a
              href="#"
              class="feedback-vk-link animation"
              aria-label="Ссылка на vkontakte"
            >
              <img
                src="./images/svg/feddback-vk-icon.svg"
                alt="Иконка vkontakte"
                width="30px"
              />
            </a>
          </div>
          <div class="feedback-textpart">
            <h3 class="feedback-person">Тоня Кучеровская</h3>
            <p class="feedback-person-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <p class="feedback-main-part">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback-link animation" aria-label="Ссылка"
                >Читать дальше</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-nav-holder">
      <div class="slider-nav">
        <div class="slider__item">
          <div class="feddback-slider-control"></div>
          <picture class="slider-photo">
            <source
              srcset="
                ./images/desktop/feedback9desktop1.png 1x,
                ./images/desktop/feedback9desktop2.png 2x
              "
              media="(min-width: 1314px)"
            />
            <source
              srcset="
                ./images/tablet/feedback9tablet1.png  1x,
                ./images/tablet/feedback9tablet2@.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/feedback9phone.png   1x,
                ./images/mobile/feedback9phone2@.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/feedback9desktop1.png" alt="Портрет" />
          </picture>
        </div>
        <div class="slider__item">
          <picture class=" ">
            <source
              srcset="
                ./images/desktop/feedback10desktop1.png 1x,
                ./images/desktop/feedback10desktop2.png 2x
              "
              media="(min-width: 1314px)"
            />
            <source
              srcset="
                ./images/tablet/feedback10tablet1.png  1x,
                ./images/tablet/feedback10tablet2@.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/feedback10phone.png   1x,
                ./images/mobile/feedback10phone2@.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/feedback10desktop1.png" alt="Портрет" />
          </picture>
        </div>
        <div class="slider__item">
          <picture class=" ">
            <source
              srcset="
                ./images/desktop/feedback11desktop1.png 1x,
                ./images/desktop/feedback11desktop2.png 2x
              "
              media="(min-width: 1314px)"
            />
            <source
              srcset="
                ./images/tablet/feedback11tablet1.png  1x,
                ./images/tablet/feedback11tablet2@.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/feedback11phone.png   1x,
                ./images/mobile/feedback11phone2@.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/feedback11desktop1.png" alt="Портрет" />
          </picture>
        </div>
        <div class="slider__item">
          <picture class=" ">
            <source
              srcset="
                ./images/desktop/feedback12desktop1.png 1x,
                ./images/desktop/feedback12desktop2.png 2x
              "
              media="(min-width: 1314px)"
            />
            <source
              srcset="
                ./images/tablet/feedback12tablet1.png  1x,
                ./images/tablet/feedback12tablet2@.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/mobile/feedback12phone1.png 1x"
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/feedback12desktop1.png" alt="Портрет" />
          </picture>
        </div>
        <div class="slider__item">
          <picture class=" ">
            <source
              srcset="
                ./images/desktop/feedback13desktop1.png 1x,
                ./images/desktop/feedback13desktop2.png 2x
              "
              media="(min-width: 1314px)"
            />
            <source
              srcset="
                ./images/tablet/feedback13tablet1.png  1x,
                ./images/tablet/feedback13tablet2@.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/mobile/feedback13phone1.png 1x"
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/feedback13desktop1.png" alt="Портрет" />
          </picture>
        </div>
        <div class="slider__item">
          <picture class=" ">
            <source
              srcset="
                ./images/desktop/feedback14desktop1.png 1x,
                ./images/desktop/feedback14desktop2.png 2x
              "
              media="(min-width: 1314px)"
            />
            <source
              srcset="
                ./images/tablet/feedback14tablet1.png  1x,
                ./images/tablet/feedback14tablet2@.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/mobile/feedback14phone1.png 1x"
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/feedback14desktop1.png" alt="Портрет" />
          </picture>
        </div>
        <div class="slider__item">
          <picture class=" ">
            <source
              srcset="
                ./images/desktop/feedback15desktop1.png 1x,
                ./images/desktop/feedback15desktop2.png 2x
              "
              media="(min-width: 1314px)"
            />
            <source
              srcset="
                ./images/tablet/feedback15tablet1.png  1x,
                ./images/tablet/feedback15tablet2@.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/mobile/feedback15phone1.png 1x"
              media="(max-width: 767px)"
            />
            <img src="./images/desktop/feedback15desktop1.png" alt="Портрет" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
