<section class="section reviews-section">
  <div class="container">
    <h2 class="section-heading">
      <span class="orange-heading">CHOCOLATE</span> IS LOVED
    </h2>
    <ul>
      <li>
        <img
          src="./images/mobile/victora-dobrzhanska-m.jpg"
          alt="Victoria Dobrzhanska"
        />
        <h3>Victoria Dobrzhanska</h3>
        <p>
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li>
        <img src="./images/mobile/nazar-babenko-m.jpg" alt="Nazar Babenko" />
        <h3>Nazar Babenko</h3>
        <p>
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li>
        <img src="./images/mobile/olena-kampusch-m.jpg" alt="Olena Kampusch" />
        <h3>Olena Kampusch</h3>
        <p>
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li>
        <img src="./images/mobile/natalia-sus-m.jpg" alt="Natalia Sus" />
        <h3>Natalia Sus</h3>
        <p>
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li>
        <img
          src="./images/mobile/danilo-nottingham-m.jpg"
          alt="Danilo
        Nottingham"
        />
        <h3>Danilo Nottingham</h3>
        <p>
          This is delicious. It so rich and flavorful you don't need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>
      <li>
        <img src="./images/mobile/irina-tydnyuk-m.jpg" alt="Irina Tydnyuk" />
        <h3>Irina Tydnyuk</h3>
        <p>
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </li>
    </ul>
    <div class="review-modal-btn">
      <button type="button" class="leave-review-btn">Leave a review</button>
    </div>
  </div>
</section>
