<!-- Section 4 / Top Sellers Section -->

<section class="sellers-section" id="top-sellers">
	<div class="container">
		<h2 class="top-sellers-title"><span>Top</span> Sellers</h2>

		<ul class="sellers-items">
			<li class="sellers-item">
				<picture>
					<!-- Desktop -->
					<source media="(min-width: 1200px)"
						srcset="images/desktop/coffe-nuts-chocolate-d.jpg 1x, images/desktop/coffe-nuts-chocolate-d-2x.jpg 2x"
						alt="Coffee and nuts chocolate" width="368" height="464">

					<!-- Tablet -->
					<source media=" (min-width: 768px)"
						srcset="images/tablet/coffe-nuts-chocolate-t.jpg 1x, images/tablet/coffe-nuts-chocolate-t-2x.jpg 2x"
						alt="Coffee and nuts chocolate" width="344" height="464">

					<!-- Mobile -->
					<source srcset="images/mobile/coffe-nuts-chocolate-m.jpg 1x, images/mobile/coffe-nuts-chocolate-m-2x.jpg 2x"
						alt="Coffee and nuts chocolate" width="335" height="464">

					<img src="images/desktop/coffe-nuts-chocolate-d.jpg" alt="Coffee and nuts chocolate">
				</picture>
			</li>

			<li class="sellers-item">
				<picture>
					<!-- Desktop -->
					<source media="(min-width: 1200px)"
						srcset="images/desktop/orange-mint-chocolate-d.jpg 1x, images/desktop/orange-mint-chocolate-d-2x.jpg 2x"
						alt="Orange and mint chocolate" width="368" height="464">

					<!-- Tablet -->
					<source media=" (min-width: 768px)"
						srcset="images/tablet/orange-mint-chocolate-t.jpg 1x, images/tablet/orange-mint-chocolate-t-2x.jpg 2x"
						alt="Orange and mint chocolate" width="344" height="464">

					<!-- Mobile -->
					<source srcset="images/mobile/orange-mint-chocolate-m.jpg 1x, images/mobile/orange-mint-chocolate-m-2x.jpg 2x"
						alt="Orange and mint chocolate" width="335" height="464">

					<img src="images/desktop/orange-mint-chocolate-d.jpg" alt="Orange and mint chocolate">
				</picture>
			</li>

			<li class="sellers-item">
				<picture>
					<!-- Desktop -->
					<source media="(min-width: 1200px)"
						srcset="images/desktop/hazelnuts-dark-chocolate-d.jpg 1x, images/desktop/hazelnuts-dark-chocolate-d-2x.jpg 2x"
						alt="Hazelnuts dark chocolate" width="368" height="464">

					<img src="images/desktop/hazelnuts-dark-chocolate-d.jpg" alt="Hazelnuts dark chocolate">
				</picture>
			</li>

			<li class="sellers-item">
				<p class="top-sellers-text">Crazy enough chocolate originates from a bean just like the
					coffee
					bean called Cacao. Cacao has been around for thousands of years and was first discovered by the
					Native
					American tribe called the Mayans.
				</p>
			</li>
		</ul>
		<div class="top-sellers-modal-btn container">
			<button type="button" class="top-sellers-buy-now-btn section-1-btn" data-buy-now-modal-open="top-sellers">
				Buy now
			</button>
		</div>
	</div>

	<div class="buy-now-modal is-hidden" data-buy-now-modal>

		<div class="modal-overlay">
			<div class="modal-content">
				<button class="close-btn" data-buy-now-modal-close><svg class="icon-close">
						<use xlink:href="images/icons.svg#icon-x-close"></use>
					</svg>
				</button>
				<form action="" method="get" autocomplete="off" class="contact-form" onsubmit="return checkForm(this)">
					<div class="buy-now-form-section">

						<h2 class="modal-content-title ">BUY <span>NOW</span></h2>

						<div class="modal-buy-list-container">
							<ul class="modal-buy-list">
								<li class="modal-buy-item">
									<picture>
										<!-- Desktop -->
										<source media="(min-width: 1200px)"
											srcset="images/desktop/nuts-chocolate-d.jpg 1x, images/desktop/nuts-chocolate-d-2x.jpg 2x"
											alt="Nuts chocolate" width="120" height="107">

										<!-- Tablet -->
										<source media=" (min-width: 768px)"
											srcset="images/tablet/nuts-chocolate-t.jpg 1x, images/tablet/nuts-chocolate-t-2x.jpg 2x"
											alt="Nuts chocolate" width="120" height="107">

										<!-- Mobile -->
										<source srcset=" images/mobile/nuts-chocolate-m.jpg 1x,
                                        images/mobile/nuts-chocolate-m-2x.jpg 2x" alt="Nuts chocolate" width="84"
											height="69">

										<img src="images/desktop/nuts-chocolate-d.jpg" alt="Nuts chocolate">
									</picture>
									<p class="order-weight">100 g</p>
								</li>
								<li class="modal-buy-item">
									<picture>
										<!-- Desktop -->
										<source media="(min-width: 1200px)"
											srcset="images/desktop/milk-chocolate-d.jpg 1x, images/desktop/milk-chocolate-d-2x.jpg 2x"
											alt="Milk chocolate" width="120" height="107">

										<!-- Tablet -->
										<source media=" (min-width: 768px)"
											srcset="images/tablet/milk-chocolate-t.jpg 1x, images/tablet/milk-chocolate-t-2x.jpg 2x"
											alt="Milk chocolate" width="120" height="107">

										<!-- Mobile -->
										<source srcset="images/mobile/milk-chocolate-m.jpg 1x,
                                                                        images/mobile/milk-chocolate-m-2x.jpg 2x"
											alt="Milk chocolate" width="84" height="69">

										<img src="images/desktop/milk-chocolate-d.jpg" alt="Milk chocolate">
									</picture>
									<p class="order-weight">200 g</p>
								</li>
								<li class="modal-buy-item">
									<picture>
										<!-- Desktop -->
										<source media="(min-width: 1200px)"
											srcset="images/desktop/dark-chocolate-d.jpg 1x, images/desktop/dark-chocolate-d-2x.jpg 2x"
											alt="Dark chocolate" width="120" height="107">

										<!-- Tablet -->
										<source media=" (min-width: 768px)"
											srcset="images/tablet/dark-chocolate-t.jpg 1x, images/tablet/dark-chocolate-t-2x.jpg 2x"
											alt="Dark chocolate" width="120" height="107">

										<!-- Mobile -->
										<source srcset=" images/mobile/dark-chocolate-m.jpg 1x,
                                                                        images/mobile/dark-chocolate-m-2x.jpg 2x"
											alt="Dark chocolate" width="84" height="69">

										<img src="images/desktop/dark-chocolate-d.jpg" alt="Dark chocolate">
									</picture>
									<p class="order-weight">300 g</p>
								</li>
							</ul>
						</div>

						<div class="buy-now-form-section">
							<label class="buy-now-label-text" for="name">Personal information</label>
							<div class="buy-now-input-container">
								<input class="buy-now-modal-input name-input" type="text" name="name" id="name" placeholder="Name"
									autocomplete="given-name additional-name" required>
								<input class="buy-now-modal-input name-input" type="text" name="name" id="surname" placeholder="Surname"
									autocomplete="family-name" required>
							</div>
						</div>

						<div class="buy-now-form-section">
							<label class="buy-now-label-text" for="email">E-mail</label>
							<div class="buy-now-input-container">
								<input class="buy-now-modal-input email-input" type="email" name="email" id="email"
									placeholder="Enter your email" autocomplete="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
									required>
							</div>
						</div>

						<div class="buy-now-form-section">
							<label class="buy-now-label-text" for="phone">Phone number</label>
							<div class="buy-now-input-container">
								<input class="buy-now-modal-input phone-input" type="tel" name="phone" id="phone"
									placeholder="Phone number" autocomplete="tel" required>
								<svg class="icon-frame">
									<use xlink:href="images/icons.svg#icon-frame"></use>
								</svg> <span>+380</span>
							</div>
						</div>

						<div class="buy-now-form-section">
							<label class="buy-now-label-text" for="ccn">Card number</label>
							<div class="buy-now-input-container">
								<input class="buy-now-modal-input card-input" id="ccn" type="tel" inputmode="numeric"
									pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="Enter card" required>
								<svg class="icon-mastercard">
									<use xlink:href="images/icons.svg#icon-mastercard"></use>
								</svg>
							</div>
						</div>


						<div class="buy-now-textarea">
							<label class="buy-now-label-text" for="textarea">Comment</label>
							<div class="textarea-input">
								<textarea name="textarea" id="textarea" placeholder="Enter text"></textarea>
							</div>
						</div>

					</div>

					<input class="top-sellers-send-btn" type="submit" value="Submit">

				</form>
			</div>
		</div>

	</div>
	<script src="./buy-now-modal.js"></script>

</section>