<!-- Section 6  -->
<section class="section subscribe-section">
  <div class="section-6">
    <span class="section-6-title">Explore our new chocolate first</span>
    <span
      >From the velvety texture to the rich and complex flavor, our New
      Chocolate is a true indulgence that will leave you craving more. Made with
      only the finest ingredients and handcrafted with the utmost care, each
      piece is a work of art that is sure to please.</span
    >
    <button type="button" subscribe-modal-open>Subscribe</button>
  </div>
</section>

<!-- Modal Subscribe -->
<div class="modal-subscribe is-hidden1" subscribe-modal>
  <div class="modal-content-subscribe">
    <button class="close-s-btn" subscribe-modal-close>&times;</button>
    <div class="modal-img">
      <picture>
        <!-- Tablet & Desktop -->
        <source
          media="(min-width: 768px)"
          srcset="
            /src/images/tablet/chocolate-modal-t&d.jpg    1x,
            /src/images/tablet/chocolate-modal-t&d-2x.jpg 2x
          "
          alt="Chocolate-Tabs"
          width="538"
          height="196"
        />

        <!-- Mobile -->
        <source
          srcset="
            /src/images/mobile/chocolate-modal-m.jpg    1x,
            /src/images/mobile/chocolate-modal-m-2x.jpg 2x
          "
          alt="Chocolate-Tabs"
        />

        <img
          src="/src/images/mobile/chocolate-modal-m.jpg"
          alt="Chocolate-Tabs"
        />
      </picture>
    </div>
    <div class="subscribe-content-wrapper">
      <span class="modal-text"
        >Explore our <br />
        <span>new chocolate</span> first!</span
      >
      <form name="subscribe-form" action="" method="get">
        <div class="email-subscribe">
          <input
            type="email"
            name="subscribe-email"
            id="subscribe-email"
            placeholder="Enter your e-mail"
          />
          <button class="subscribe-button">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
