<section class="product-section" id="product">
  <div class="container product-container">
    <span class="product-header-label">100% natural</span>

    <h2 class="product-header">products</h2>
    <ul class="product-list">
      <li class="product-item product-pink-card">
        <h3 class="product-name">ice cream</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button id="btn_icecream" class="product-button" type="button">
          <svg class="product-button-icon" width="24" height="16">
            <use href="./images/product/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
        <div id="icecream" class="product-card-overlay pink-overlay" hidden>
          <p class="product-overlay-header">Choose your favorite flavor!</p>
          <ul class="product-overlay-list">
            <li class="product-overlay-item">&rArr; Vanilla</li>
            <li class="product-overlay-item">&rArr; Chocolate</li>
            <li class="product-overlay-item">&rArr; Strawberry</li>
            <li class="product-overlay-item">&rArr; Mint Chocolate Chip</li>
            <li class="product-overlay-item">&rArr; Chocolate Cookie Dough</li>
          </ul>
          <input
            class="product-overlay-close-btn"
            type="button"
            id="input_icecream"
            value="Buy now"
          />
        </div>
      </li>
      <li class="product-item product-brown-card">
        <h3 class="product-name">ice coffee</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button id="btn_coffee" class="product-button" type="button">
          <svg class="product-button-icon" width="24" height="16">
            <use href="./images/product/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
        <div id="coffee" class="product-card-overlay brown-overlay" hidden>
          <p class="product-overlay-header">Choose your favorite flavor!</p>
          <ul class="product-overlay-list">
            <li class="product-overlay-item">&rArr; Vanilla</li>
            <li class="product-overlay-item">&rArr; Chocolate</li>
            <li class="product-overlay-item">&rArr; Strawberry</li>
            <li class="product-overlay-item">&rArr; Mint Chocolate Chip</li>
            <li class="product-overlay-item">&rArr; Chocolate Cookie Dough</li>
          </ul>
          <input
            class="product-overlay-close-btn"
            type="button"
            id="input_coffee"
            value="Buy now"
          />
        </div>
      </li>
      <li class="product-item product-green-card">
        <h3 class="product-name">milkshakes</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button id="btn_milkshake" class="product-button" type="button">
          <svg class="product-button-icon" width="24" height="16">
            <use href="./images/product/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
        <div id="milkshake" class="product-card-overlay green-overlay" hidden>
          <p class="product-overlay-header">Choose your favorite flavor!</p>
          <ul class="product-overlay-list">
            <li class="product-overlay-item">&rArr; Vanilla</li>
            <li class="product-overlay-item">&rArr; Chocolate</li>
            <li class="product-overlay-item">&rArr; Strawberry</li>
            <li class="product-overlay-item">&rArr; Mint Chocolate Chip</li>
            <li class="product-overlay-item">&rArr; Chocolate Cookie Dough</li>
          </ul>
          <input
            class="product-overlay-close-btn"
            type="button"
            id="input_milkshake"
            value="Buy now"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
