<section class="section-products">
    <div class="container container-products">
        <p class="section-products__text">100% natural</p>
        <h2 class="section-products__title">products</h2>
        <ul class="section-products__list list">
            <li class="product-card product-card--icecream">
                <picture>
                    <source srcset="./images/products/webp/icecream-1050.webp 1x, ./images/products/webp/icecream-1050@2x.webp 2x" 
                        media="(min-width: 1200px)" 
                        type="image/webp" />
                    <source srcset="./images/products/webp/icecream-768.webp 1x, ./images/products/webp/icecream-768@2x.webp 2x" 
                        media="(min-width: 768px)" 
                        type="image/webp" />
                    <source srcset="./images/products/webp/icecream-320.webp 1x, ./images/products/webp/icecream-320@2x.webp 2x" 
                        media="(min-width: 320px)" 
                        type="image/webp" />

                    <source srcset="./images/products/png/icecream-1050.png 1x, ./images/products/png/icecream-1050@2x.png 2x" 
                        media="(min-width: 1200px)" />
                    <source srcset="./images/products/png/icecream-768.png 1x, ./images/products/png/icecream-768@2x.png 2x" 
                        media="(min-width: 768px)" />
                    <source srcset="./images/products/png/icecream-320.png 1x, ./images/products/png/icecream-320@2x.png 2x" 
                        media="(min-width: 320px)" />
                
                    <img class="product-card__image" src="./images/products/png/icecream-320.png" alt="icecream" width="335">
                </picture>
                <h3 class="product-card__title">ice cream</h3>
                <div class="dots"> 
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a class="product-card-link" href="" target="_blank" rel="noreferrer noopener">
                    <svg class="product-card-link__icon">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>

            <li class="product-card product-card--icecoffee">
                <picture>
                    <source srcset="./images/products/webp/icecoffee-1050.webp 1x, ./images/products/webp/icecoffee-1050@2x.webp 2x" 
                        media="(min-width: 1200px)" 
                        type="image/webp" />
                    <source srcset="./images/products/webp/icecoffee-768.webp 1x, ./images/products/webp/icecoffee-768@2x.webp 2x" 
                        media="(min-width: 768px)" 
                        type="image/webp" />
                    <source srcset="./images/products/webp/icecoffee-320.webp 1x, ./images/products/webp/icecoffee-320@2x.webp 2x" 
                        media="(min-width: 320px)" 
                        type="image/webp" />

                    <source srcset="./images/products/png/icecoffee-1050.png 1x, ./images/products/png/icecoffee-1050@2x.png 2x" 
                        media="(min-width: 1200px)" />
                    <source srcset="./images/products/png/icecoffee-768.png 1x, ./images/products/png/icecoffee-768@2x.png 2x" 
                        media="(min-width: 768px)" />
                    <source srcset="./images/products/png/icecoffee-320.png 1x, ./images/products/png/icecoffee-320@2x.png 2x" 
                        media="(min-width: 320px)" />
                
                    <img class="product-card__image" src="./images/products/png/icecoffee-320.png" alt="icecoffee" width="335">
                </picture>
                <h3 class="product-card__title">ice coffee</h3>
                <div class="dots"> 
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a class="product-card-link" href="" target="_blank" rel="noreferrer noopener">
                    <svg class="product-card-link__icon">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>

            <li class="product-card product-card--milkshakes">
                <picture>
                    <source srcset="./images/products/webp/milkshakes-1050.webp 1x, ./images/products/webp/milkshakes-1050@2x.webp 2x" 
                        media="(min-width: 1200px)" 
                        type="image/webp" />
                    <source srcset="./images/products/webp/milkshakes-768.webp 1x, ./images/products/webp/milkshakes-768@2x.webp 2x" 
                        media="(min-width: 768px)" 
                        type="image/webp" />
                    <source srcset="./images/products/webp/milkshakes-320.webp 1x, ./images/products/webp/milkshakes-320@2x.webp 2x" 
                        media="(min-width: 320px)" 
                        type="image/webp" />

                    <source srcset="./images/products/png/milkshakes-1050.png 1x, ./images/products/png/milkshakes-1050@2x.png 2x" 
                        media="(min-width: 1200px)" />
                    <source srcset="./images/products/png/milkshakes-768.png 1x, ./images/products/png/milkshakes-768@2x.png 2x" 
                        media="(min-width: 768px)" />
                    <source srcset="./images/products/png/milkshakes-320.png 1x, ./images/products/png/milkshakes-320@2x.png 2x" 
                        media="(min-width: 320px)" />
                    
                    <img class="product-card__image" src="./images/products/png/milkshakes-320.png" alt="milkshakes" width="335">
                </picture>
                <h3 class="product-card__title">milkshakes</h3>
                <div class="dots"> 
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a class="product-card-link" href="" target="_blank" rel="noreferrer noopener">
                    <svg class="product-card-link__icon">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>