<section class="dayli-container">
  <div class="date">
    <ul class="date__first-section unstyled-list">
      <li>
        <p class="date__day-now"></p>
      </li>
      <li>
        <p class="date__day-week"></p>
      </li>
    </ul>
    <div class="date__second-section">
      <ul class="date__value unstyled-list">
        <li class="date__value-1">
          <p class="date__month"></p>
        </li>
        <li>
          <p class="date__hours"></p>
        </li>
      </ul>
      <ul class="date__value-2 unstyled-list">
        <li>
          <svg
            class="date__sunrise-svg"
            width="
            20px"
            height="20px"
          >
            <use href="./images/sprite.svg#icon-sunrise"></use>
          </svg>
        </li>
        <li><p class="date__sunrise"></p></li>
        <li>
          <svg
            class="date__sunset-svg"
            width="
            20px"
            height="20px"
          >
            <use href="./images/sprite.svg#icon-sunset"></use>
          </svg>
        </li>
        <li>
          <p class="date__sunset"></p>
        </li>
      </ul>
    </div>
  </div>
</section>
