<section class="container">
    <h2 class="section__subtitle">100% natural</h2>
    <h3 class="section__title">products</h3>
    <ul class="products-card">
    <li>
        <picture>
            <source srcset="./images/desktop/ice-cream-desktop@1x.png 1x, ./images/desktop/ice-cream-desktop@2x.png 2x "
                media="(min-width: 1280px)" />
            <source srcset="./images/tablet/ice-cream-tablet@1x.png 1x, ./images/tablet/ice-cream-tablet@2x.png 2x"
                media="(min-width: 768px)" />
            <source srcset="./images/mobile/ice-cream-mob@1x.png 1x, ./images/mobile/ice-cream-mob@2x.png 2x" media="(max-width: 767px)" />
            <img src="./images/desktop/ice-cream-desktop@1x.png" alt="Картинка мороженого" />
        </picture>

        <h4>ice cream</h4>
        <svg class="social-icon__img">
            <use href="./images/symbol-defs.svg#icon-ellipse-group"></use>
        </svg>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>

        <a href="/"
        aria-label="ссылка на продукт - мороженое">
           <img alt="стрелка вправо" src="./images/desktop/arrow-right@1x.png" srcset="./images/desktop/arrow-right@2x.png 2x" /> 
        </a>
        
    </li>
    <li>
        <picture class="picture">
            <source srcset="./images/desktop/ice-coffee-desktop@1x.png 1x, ./images/desktop/ice-coffee-desktop@2x.png 2x "
                media="(min-width: 1280px)" />
            <source srcset="./images/tablet/ice-coffee-tablet@1x.png 1x, ./images/tablet/ice-coffee-tablet@2x.png 2x"
                media="(min-width: 768px)" />
            <source srcset="./images/mobile/ice-coffee-mob@1x.png 1x, ./images/mobile/ice-coffee-mob@2x.png 2x"
                media="(max-width: 767px)" />
            <img src="./images/desktop/ice-coffee-desktop@1x.png" alt="Картинка мороженого" />
        </picture>
        
        <h4>ice cream</h4>
        <svg class="social-icon__img">
            <use href="./images/symbol-defs.svg#icon-ellipse-group"></use>
        </svg>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
        
        <a href="/" aria-label="ссылка на продукт - мороженое">
            <img alt="стрелка вправо" src="./images/desktop/arrow-right@1x.png"
                srcset="./images/desktop/arrow-right@2x.png 2x" />
        </a>
    </li>
    <li>
        <picture class="picture">
            <source srcset="./images/desktop/milkshakes-desktop@1x.png 1x, ./images/desktop/milkshakes-desktop@2x.png 2x "
                media="(min-width: 1280px)" />
            <source srcset="./images/tablet/milkshakes-tablet@1x.png 1x, ./images/tablet/milkshakes-tablet@2x.png 2x"
                media="(min-width: 768px)" />
            <source srcset="./images/mobile/milkshakes-mob@1x.png 1x, ./images/mobile/milkshakes-mob@2x.png 2x"
                media="(max-width: 767px)" />
            <img src="./images/desktop/milkshakes-desktop@1x.png" alt="Картинка мороженого" />
        </picture>
        
        <h4>ice cream</h4>
        <svg class="social-icon__img">
            <use href="./images/symbol-defs.svg#icon-ellipse-group"></use>
        </svg>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
        
        <a href="/" aria-label="ссылка на продукт - мороженое">
            <img alt="стрелка вправо" src="./images/desktop/arrow-right@1x.png"
                srcset="./images/desktop/arrow-right@2x.png 2x" />
        </a>
    </li>
</ul>
</section>