<section class="section-hero-header">
    <div class="container">
            <header class="header">
             <img class="logo" src="./images/logo.svg" alt="logo">
             <label for="size">Size</label>
                <select id="size" name="size">
                <option value="xs">Extra Small</option>
                <option value="s">Small</option>
                <option value="m" selected>Medium</option>
                <option value="l">Large</option>
                </select>
             <ul class="site-nav__list">
              <li><a class="link site-nav__link" href="#">MAIN</a></li>
              <li><a class="link site-nav__link" href="#">ABOUT</a></li>
              <li><a class="link site-nav__link" href="#">GAME FEATURES</a></li>
              <li><a class="link site-nav__link" href="#">SYSTEM REQUIREMETS</a></li>
              <li><a class="link site-nav__link" href="#">QUOTES</a></li>
             </ul>
            </header>
       <div class="section-hero">
        <h1 class="section-hero__title">SURVIVE AT ALL COSTS</h1>
        <h2 class="section-hero__subtitle">Experience new social battle royale game</h2>
        <button class="btn section-hero__btn">Buy Now on Steam <span class="btn--border"></span> $14.99</button>
       </div>
    </div>
</section>