<!--Section 1 -->
<!--Start-section 1 -->
<section class="start-page">
  <div class="container start-container">
    <h1 class="start-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="start-description">
      <div class="buttons-start">
        <button class="buy-btn" type="button" data-modal-open="sellers">
          Buy now
        </button>
        <a class="how-made" href="#how-made">
          <button class="made-btn" type="button">How it &#96;s made</button>
        </a>
      </div>
      <div>
        <a class="scroll-btn" href="#scroll">
          <p class="scroll-btn-txt">scroll down</p>
          <svg class="scroll-icon">
            <use href="/src/images/icons.svg#icon-down_arrow_mobile"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Benefits-section 1 -->

<section class="benefits" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="benefits-list">
      <li class="benefits-list-item border">
        <div class="benefits-icon-box">
          <svg class="benefits-icon" width="32" height="32">
            <use href="/src/images/icons.svg#icon-chocolate"></use>
          </svg>
        </div>
        <h3 class="benefits-title">Unsurpassed taste</h3>
        <p class="benefits-text">
          Crafted with the finest quality cocoa beans and a dedication to
          perfection, each bite is a decadent experience that simply cannot be
          matched. Savor the richness and complexity of our Unsurpassed Taste
          and discover a new level of chocolate bliss.
        </p>
      </li>
      <li class="benefits-list-item border">
        <div class="benefits-icon-box">
          <svg class="benefits-icon" width="37" height="37">
            <use href="/src/images/icons.svg#icon-dollar_sign"></use>
          </svg>
        </div>
        <h3 class="benefits-title">Affordable price</h3>
        <p class="benefits-text">
          Indulge in high-quality chocolate without breaking the bank with
          Simply Chocolate's selection of affordable treats. Enjoy
          mouth-watering truffles and velvety chocolate bars without sacrificing
          taste or quality. Browse our selection and indulge in affordable
          luxury today.
        </p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-icon-box">
          <svg class="benefits-icon" width="37" height="37">
            <use href="/src/images/icons.svg#icon-spoon"></use>
          </svg>
        </div>
        <h3 class="benefits-title">Own production</h3>
        <p class="benefits-text">
          We take pride in our own production process, ensuring that every step
          is carefully crafted to perfection. From selecting the finest
          ingredients to handcrafting each piece, our attention to detail is
          evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>
<!--End section 1 -->
