<section class="section__made">
    <div class="container">
        <h3 class="section__made__description">TRADITION AND LOVE</h3>
        <h2 class="section__made__title">HOW IT’S MADE?</h2>
        <ul class="made__block1 list">
            <li class="made__block1__item made__block1--picture">

                <picture>
                    <source srcset="./images/section02/desktop/cow-1200.webp 1x, ./images/section02/desktop/cow-1200@2x.webp 2x"
                        type="image/webp" media="(min-width: 1200px)" />
                    <source srcset="./images/section02/tablet/cow-768.webp 1x, ./images/section02/tablet/cow-768@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px)" />
                    <source srcset="./images/section02/phone/cow-320.webp 1x, ./images/section02/phone/cow-320@2x.webp 2x" type="image/webp"
                        media="(max-width: 767px)" />
                    <source srcset="./images/section02/desktop/cow-1200.png 1x, ./images/section02/desktop/cow-1200@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/section02/tablet/cow-768.png 1x, ./images/section02/tablet/cow-768@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/section02/phone/cow-320.png 1x, ./images/section02/phone/cow-320@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/section02/cow.png" alt="photo cow with milk" />
                </picture>

            </li>
            <li class="made__block1__item made__block1--text">
                <h6 class="made__block1__item__title">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam
                    vel justo cursus, faucibus lorem
                    eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.</h6>
                <p class="made__block1__item__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                    elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.</p>
                <p class="made_block1__item__text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="button">Read more</button>
            </li>
        </ul>
        <ul class="made_block2 list">
            <li class="made_block2__item">
                <img src="./images/section02/icon_made1.png" alt="">
                <h2 class="made_block2__title">721</h2>
                <h6 class="made_block2__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h6>
            </li>
            <li class="made_block2__item">
                <img src="./images/section02/icon_made2.png" alt="">
                <h2 class="made_block2__title">16kg</h2>
                <h6 class="made_block2__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h6>
            </li>
            <li class="made_block2__item">
                <img src="./images/section02/icon_made3.png" alt="">
                <h2 class="made_block2__title">84</h2>
                <h6 class="made_block2__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h6>
            </li>
        </ul>

    </div>
</section>