<section class="section reviews-section">
  <div class="container chocolate-reviews">
    <h2 class="section-heading">
      <span class="orange-heading">CHOCOLATE</span> IS LOVED
    </h2>
    <input type="radio" name="bullet" id="bullet1" checked />
    <input type="radio" name="bullet" id="bullet2" />
    <input type="radio" name="bullet" id="bullet3" />
    <input type="radio" name="bullet" id="bullet4" />
    <input type="radio" name="bullet" id="bullet5" />
    <input type="radio" name="bullet" id="bullet6" />
    <div class="reviewers-area">
      <ul class="reviewers-list">
        <li>
          <picture>
            <source
              srcset="
                /src/images/mobile/victora-dobrzhanska-1x.png 1x,
                /src/images/mobile/victora-dobrzhanska-2x.png 2x
              "
            />
            <img
              src="/src/images/mobile/victora-dobrzhanska-1x.png"
              alt="Victoria Dobrzhanska"
            />
          </picture>
          <div class="user-review">
            <h3>Victoria Dobrzhanska</h3>
            <p>
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li>
          <picture>
            <source
              srcset="
                /src/images/mobile/nazar-babenko-1x.png 1x,
                /src/images/mobile/nazar-babenko-2x.png 2x
              "
            />
            <img
              src="/src/images/mobile/nazar-babenko-1x.png"
              alt="Nazar Babenko"
            />
          </picture>
          <div class="user-review">
            <h3>Nazar Babenko</h3>
            <p>
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li>
          <picture>
            <source
              srcset="
                /src/images/mobile/olena-kampusch-1x.png 1x,
                /src/images/mobile/olena-kampusch-2x.png 2x
              "
            />
            <img
              src="/src/images/mobile/olena-kampusch-1x.png"
              alt="Olena Kampusch"
            />
          </picture>
          <div class="user-review">
            <h3>Olena Kampusch</h3>
            <p>
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
        <li>
          <picture>
            <source
              srcset="
                /src/images/mobile/natalia-sus-1x.png 1x,
                /src/images/mobile/natalia-sus-2x.png 2x
              "
            />
            <img
              src="/src/images/mobile/natalia-sus-1x.png"
              alt="Natalia Sus"
            />
          </picture>
          <div class="user-review">
            <h3>Natalia Sus</h3>
            <p>
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>
        <li>
          <picture>
            <source
              srcset="
                /src/images/mobile/danilo-nottingham-1x.png 1x,
                /src/images/mobile/danilo-nottingham-2x.png 2x
              "
            />
            <img
              src="/src/images/mobile/danilo-nottingham-1x.png"
              alt="Danilo Nottingham"
            />
          </picture>
          <div class="user-review">
            <h3>Danilo Nottingham</h3>
            <p>
              This is delicious. It so rich and flavorful you don't need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>
        <li>
          <picture>
            <source
              srcset="
                /src/images/mobile/irina-tydnyuk-1x.png 1x,
                /src/images/mobile/irina-tydnyuk-2x.png 2x
              "
            />
            <img
              src="/src/images/mobile/irina-tydnyuk-1x.png"
              alt="Irina Tydnyuk"
            />
          </picture>
          <div class="user-review">
            <h3>Irina Tydnyuk</h3>
            <p>
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="slide-nav">
      <label for="bullet1" class="bullet1"></label>
      <label for="bullet2" class="bullet2"></label>
      <label for="bullet3" class="bullet3"></label>
      <label for="bullet4" class="bullet4"></label>
      <label for="bullet5" class="bullet5"></label>
      <label for="bullet6" class="bullet6"></label>
    </div>
    <div class="review-modal-btn">
      <button type="button" class="leave-review-btn">Leave a review</button>
    </div>
  </div>
</section>
