<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>section6</title>
</head>

<body> -->


<!-- Top Sellers Section -->

<section id="top-sellers">
    <div class="container">
        <h2 class="top-sellers-title"><span>Top</span> Sellers</h2>

        <ul class="sellers-items">
            <li class="sellers-item">
                <picture>
                    <!-- Desktop -->
                    <source media="(min-width: 1200px)"
                        srcset="images/desktop/coffe-nuts-chocolate-d.jpg 1x, images/desktop/coffe-nuts-chocolate-d-2x.jpg 2x"
                        alt="Coffee and nuts chocolate" width="368">

                    <!-- Tablet -->
                    <source media=" (min-width: 767px)"
                        srcset="images/tablet/coffe-nuts-chocolate-t.jpg 1x, images/tablet/coffe-nuts-chocolate-t-2x.jpg 2x"
                        alt="Coffee and nuts chocolate" width="344">

                    <!-- Mobile -->
                    <source
                        srcset="images/mobile/coffe-nuts-chocolate-m.jpg 1x, images/mobile/coffe-nuts-chocolate-m-2x.jpg 2x"
                        alt="Coffee and nuts chocolate" width="335">

                    <img src="images/desktop/coffe-nuts-chocolate-d.jpg" alt="Coffee and nuts chocolate">
                </picture>
            </li>

            <p class="mobile-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao.
                Cacao
                has been
                around for thousands of years and was first discovered by the Native American tribe called the Mayans.
            </p>

            <li class="sellers-item">
                <picture>
                    <!-- Desktop -->
                    <source media="(min-width: 1200px)"
                        srcset="images/desktop/orange-mint-chocolate-d.jpg 1x, images/desktop/orange-mint-chocolate-d-2x.jpg 2x"
                        alt="Orange and mint chocolate" width="368">

                    <!-- Tablet -->
                    <source media=" (min-width: 767px)"
                        srcset="images/tablet/orange-mint-chocolate-t.jpg 1x, images/tablet/orange-mint-chocolate-t-2x.jpg 2x"
                        alt="Orange and mint chocolate" width="344">

                    <!-- Mobile -->
                    <source
                        srcset="images/mobile/orange-mint-chocolate-m.jpg 1x, images/mobile/orange-mint-chocolate-m-2x.jpg 2x"
                        alt="Orange and mint chocolate" width="335">

                    <img src="images/desktop/orange-mint-chocolate-d.jpg" alt="Orange and mint chocolate">
                </picture>
            </li>

            <li class="sellers-item">
                <picture>
                    <!-- Desktop -->
                    <source media="(min-width: 1200px)"
                        srcset="images/desktop/hazelnuts-dark-chocolate-d.jpg 1x, images/desktop/hazelnuts-dark-chocolate-d-2x.jpg 2x"
                        alt="Hazelnuts dark chocolate" width="368">

                    <img src="images/desktop/hazelnuts-dark-chocolate-d.jpg" alt="Hazelnuts dark chocolate">
                </picture>
            </li>
        </ul>
        <div class="top-sellers-text-box container">
            <p class="tablet-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao.
                Cacao has
                been
                around for thousands of years and was first discovered by the Native American tribe called the Mayans.
            </p>
            <button type="button" class="top-sellers-buy-now-btn section-1-btn" data-modal-open="top-sellers"> Buy now
            </button>
        </div>
    </div>
</section>

<!-- Top Sellers Modal -->

<div class="top-sellers-modal" data modal="top-sellers">
    <div class="modal-buy-now-section-container">

    </div>

</div>

<!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script> -->
<!-- <script src="./sass/modal-top-sellers.js"></script> -->

<!-- </body>

</html> -->