<section class="section-slider">
    <div class="container container--slider">
        <!-- <h2 class="visually-hidden">Customer feedbacks</h2> -->
        <div class="slider-box">
            <div class="images-thumb">
                <img src="../src/images/slider/testimonials1.jpg">
            </div>
            <svg class="icon-home" width="85" height="85">
                <use href="./images/sprite.svg#icon-home"></use>
            </svg>
            <p class="">Nullam viverra consectetuer.
                Quisque cursus et, porttitor risus. Aliquam sem.
                In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
    </div>
</section>