<div class="city"><h2 class="city__name"></h2></div>
<section class="five-days is-hidden">
  <ul class="five-days__info">
    <li class="five-days__item show-initial hide-on-click">
      <p class="five-days__day"></p>
      <p class="five-days__date"></p>
      <svg height="35" width="35" class="five-days__icon">
        <use></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"></span>
        </div>
        <svg height="46" width="1">
          <use href="./images/sprite.svg#icon-line"></use>
        </svg>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value"></span>
        </div>
      </div>
      <button type="button" class="five-days__button" data-day="1">
        more info
      </button>
    </li>
    <li class="five-days__item show-initial hide-on-click">
      <p class="five-days__day"></p>
      <p class="five-days__date"></p>
      <svg height="35" width="35" class="five-days__icon">
        <use></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"></span>
        </div>
        <svg height="46" width="1">
          <use href="./images/sprite.svg#icon-line"></use>
        </svg>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value"></span>
        </div>
      </div>
      <button type="button" class="five-days__button" data-day="2">
        more info
      </button>
    </li>
    <li class="five-days__item show-initial hide-on-click">
      <p class="five-days__day"></p>
      <p class="five-days__date"></p>
      <svg height="35" width="35" class="five-days__icon">
        <use></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"></span>
        </div>
        <svg height="46" width="1">
          <use href="./images/sprite.svg#icon-line"></use>
        </svg>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value"></span>
        </div>
      </div>
      <button type="button" class="five-days__button" data-day="3">
        more info
      </button>
    </li>
    <li class="five-days__item hide-initial show-on-click">
      <p class="five-days__day"></p>
      <p class="five-days__date"></p>
      <svg height="35" width="35" class="five-days__icon">
        <use></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"></span>
        </div>
        <svg height="46" width="1">
          <use href="./images/sprite.svg#icon-line"></use>
        </svg>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value"></span>
        </div>
      </div>
      <button type="button" class="five-days__button" data-day="4">
        more info
      </button>
    </li>
    <li class="five-days__item hide-initial show-on-click">
      <p class="five-days__day"></p>
      <p class="five-days__date"></p>
      <svg height="35" width="35" class="five-days__icon">
        <use></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"></span>
        </div>
        <svg height="46" width="1">
          <use href="./images/sprite.svg#icon-line"></use>
        </svg>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value"></span>
        </div>
      </div>
      <button type="button" class="five-days__button" data-day="5">
        more info
      </button>
    </li>
  </ul>
  <div class="show-more">
    <button class="show-more__left">
      <svg class="show-more__icon" width="20" height=" 20">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button class="show-more__right">
      <svg width=" 20" height=" 20">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
  </div>
</section>
