<section class="section-products">
    <p>100% natural</p>
    <h2>products</h2>
    <ul>
        <li>
<!--        <picture>
                <source srcset=" 1x,  2x" 
                    media="(min-width: 1200px)" 
                    type="image/webp" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 768px)" 
                    type="image/webp" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 480px)" 
                    type="image/webp" />

                <source srcset=" 1x,  2x" 
                    media="(min-width: 1200px)" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 768px)" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 480px)" />
                
                <img src="" alt="" width="">
            </picture> -->
            <h3>ice cream</h3>
            <span>...</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <a href="" target="_blank" rel="noreferrer noopener">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>

        <li>
<!--        <picture>
                <source srcset=" 1x,  2x" 
                    media="(min-width: 1200px)" 
                    type="image/webp" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 768px)" 
                    type="image/webp" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 480px)" 
                    type="image/webp" />

                <source srcset=" 1x,  2x" 
                    media="(min-width: 1200px)" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 768px)" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 480px)" />
                
                <img src="" alt="" width="">
            </picture>  -->
            <h3>ice coffee</h3>
            <span>...</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <a href="" target="_blank" rel="noreferrer noopener">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>

        <li>
<!--        <picture>
                <source srcset=" 1x,  2x" 
                    media="(min-width: 1200px)" 
                    type="image/webp" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 768px)" 
                    type="image/webp" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 480px)" 
                    type="image/webp" />

                <source srcset=" 1x,  2x" 
                    media="(min-width: 1200px)" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 768px)" />
                <source srcset=" 1x,  2x" 
                    media="(min-width: 480px)" />
                
                <img src="" alt="" width="">
            </picture>  -->
            <h3>milkshakes</h3>
            <span>...</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <a href="" target="_blank" rel="noreferrer noopener">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
    </ul>
</section>