<section class="section-feature">
  <h1>Feature</h1>
  <p class="feature-subtitle">старая традиционная школа</p>
  <h2 class="feature-title">Почему приходят именно к нам?</h2>
  <p class="feature-text">
    О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
    10 раз прочитать.
  </p>
  <ul class="feature-list">
    <li>600<sup>+</sup> Довольных клиентов в день</li>
    <li>50<sup>+</sup> Наград за отличный сервис</li>
    <li>20<sup>+</sup> Лучших мастеров Киева</li>
    <li>100<sup>+</sup> Подарков постоянным клиентам</li>
  </ul>
</section>
