<section class="section-team">
  <div class="team__container section">
    <p class="team__main">для настоящих ценителей атмосферы</p>
    <h2 class="team__title">Наши мастера</h2>
    <ul class="team-card__list">
      <li class="team-card__item">
        <picture>
          <source
            srcset="
              ./images/team/smith/smith-418.jpg 1x,
              ./images/team/smith/smith-836.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/smith/smith-370.jpg 1x,
              ./images/team/smith/smith-740.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/smith/smith-450.jpg 1x,
              ./images/team/smith/smith-900.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="team-card__image"
            src="./images/team/smith/smith-418.jpg"
            alt="Джон Смит"
          />
        </picture>
        <h3 class="team-card__name">John Smith</h3>
        <p class="team-card__post">Extreme Barber</p>
        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на Instagram">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на twitter">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на facebook">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на linkedin">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-card__item">
        <picture>
          <source
            srcset="
              ./images/team/doe/doe-418.jpg 1x,
              ./images/team/doe/doe-836.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/doe/doe-370.jpg 1x,
              ./images/team/doe/doe-740.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/doe/doe-450.jpg 1x,
              ./images/team/doe/doe-900.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="team-card__image"
            src="./images/team/doe/doe-418.jpg"
            alt="Майкл Доуи"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw,  100vw"
          />
        </picture>
        <h3 class="team-card__name">Michele Doe</h3>
        <p class="team-card__post">Extreme Barber</p>
        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на Instagram">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на twitter">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на facebook">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на linkedin">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-card__item">
        <picture>
          <source
            srcset="
              ./images/team/black/black-418.jpg 1x,
              ./images/team/black/black-836.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/team/black/black-370.jpg 1x,
              ./images/team/black/black-740.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/team/black/black-450.jpg 1x,
              ./images/team/black/black-900.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="team-card__image"
            src="./images/team/black/black-418.jpg"
            alt="Алан Блек"
          />
        </picture>
        <h3 class="team-card__name">Alan Black</h3>
        <p class="team-card__post">Extreme Barber</p>
        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на Instagram">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на twitter">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на facebook">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="" aria-label="Ссылка на linkedin">
              <svg class="socials-link--icon" width="20" height="20">
                <use href="./images/sprite-team-soc.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
