<section class="reviews">
  <div class="container slider">
    <article>
      <!-- <img
        width=""
        height=""
        class="slider-img"
        src="./img/testimonials1.jpg"
        alt="foto"
      /> -->
      <p class="review-text underline">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>

      <p class="reviewer-name">Emily, Los Angeles</p>
    </article>

    <article>
      <!-- <img
        width=""
        height=""
        class="slider-img"
        src="./img/testimonials2.jpg"
        alt="foto"
      /> -->
      <p class="review-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi inventore
        veniam enim dicta, eligendi impedit quas at voluptates ipsa a aut
        consectetur iure alias earum veritatis neque perspiciatis expedita?
        Commodi!
      </p>

      <p class="reviewer-name">Emily, Los Angeles</p>
    </article>
    <article>
      <!-- <img
        width=""
        height=""
        class="slider-img"
        src="./img/testimonials3.jpg"
        alt="foto"
      /> -->
      <p class="review-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, atque.
      </p>

      <p class="reviewer-name">Emily, Los Angeles</p>
    </article>
  </div>
</section>
<script
  type="text/javascript"
  src="//code.jquery.com/jquery-1.11.0.min.js"
></script>
<script
  type="text/javascript"
  src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
></script>
<script type="text/javascript" src="./js/slick.js"></script>
<script type="text/javascript" src="./js/slider-script.js"></script>
