<section class="chart">
  <div class="chart-fivedays">
    <div class="hide-chart-button">
      <p class="hide-chart-button__p">Hide Chart</p>
      <button class="hide-chart-button__btn">
        <svg height="28" width="28" class="hide-chart-button__icon">
          <use href="./images/sprite.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </div>

    <div class="chart-wrapper">


      <!-- <div class="chart-header">
        <p class="chart-header__title">AVERAGE</p>
        <ul class="chart-header__list unstyled-list">
          <li class="chart-header__item">— Temperature, C°</li>
          <li class="chart-header__item">— Humidity, %</li>
          <li class="chart-header__item">— Wind Speed, m/s</li>
          <li class="chart-header__item">— Atmosphere Pressure, m/m</li>
        </ul>
      </div>

      <div class="aside-info">
        <p class="aside-info__p">Value of Indicators</p>
      </div> -->

      <div class="chart-scheme">
        <canvas id="weatherChart" width="660" height="330"></canvas>
      </div>

      <!-- <ul class="chart-days unstyled-list">
        <li class="chart-days__day">Feb 9, 2020</li>
        <li class="chart-days__day">Feb 9, 2020</li>
        <li class="chart-days__day">Feb 9, 2020</li>
        <li class="chart-days__day">Feb 9, 2020</li>
        <li class="chart-days__day">Feb 9, 2020</li>
      </ul> -->
    </div>
  </div>

</section>