<section class="section section-catalog">
    <div class="container">
       <h2 class="title">Catalog</h2>
       <ul class="catalog-list">
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/1@2x.png 2x" src="./img/catalog/1.png" alt="Tube Watch S42 Date Steel With Black Case" width="275" height="274" />
                   </div>
                   <div class="flip-card-back">
                      <div class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </div>
                      <div class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <p class="catalog-item-text">Tube Watch S42 Date Steel With Black Case</p>
             <span class="catalog-item-ptice">€395</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/2@2x.png 2x" src="./img/catalog/2.png" alt="Avondale Watch Police For Men" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Avondale Watch Police For Men</p>
             <span class="catalog-item-ptice">€800</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img
                         srcset="./img/catalog/3@2x.png 2x"
                         src="./img/catalog/3.png"
                         alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
                         width="275"
                         height="274"
                      />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
             <span class="catalog-item-ptice">€600</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/4@2x.png 2x" src="./img/catalog/4.png" alt="Diver 300M Co-Axial Master Chronometer" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Diver 300M Co-Axial Master Chronometer</p>
             <span class="catalog-item-ptice">€1400</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/5@2x.png 2x" src="./img/catalog/5.png" alt="Taman Watch By Police For Men" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Taman Watch By Police For Men</p>
             <span class="catalog-item-ptice">€500</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/6@2x.png 2x" src="./img/catalog/6.png" alt="watches" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Malawi Watch Police For Men</p>
             <span class="catalog-item-ptice">€555</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/7@2x.png 2x" src="./img/catalog/7.png" alt="Diver 300M Co-Axial Master Chronometer" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Diver 300M Co-Axial Master Chronometer</p>
             <span class="catalog-item-ptice">€1200</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/8@2x.png 2x" src="./img/catalog/8.png" alt="Greenlane Watch By Police For Men" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Greenlane Watch By Police For Men</p>
             <span class="catalog-item-ptice">€1000</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/9@2x.png 2x" src="./img/catalog/9.png" alt="Squardrc 5402 Chrono" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Squardrc 5402 Chrono</p>
             <span class="catalog-item-ptice">€359</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img
                         srcset="./img/catalog/10@2x.png 2x"
                         src="./img/catalog/10.png"
                         alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
                         width="275"
                         height="274"
                      />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
             <span class="catalog-item-ptice">€400</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/11@2x.png 2x" src="./img/catalog/11.png" alt="Citizen" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Citizen</p>
             <span class="catalog-item-ptice">€519</span>
          </li>
          <li class="catalog-list-item" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="600">
             <div class="flip-card">
                <div class="flip-card-inner">
                   <div class="flip-card-front">
                      <img srcset="./img/catalog/12@2x.png 2x" src="./img/catalog/12.png" alt="Armani Exchange" width="275" height="274" />
                   </div>
                   <ul class="flip-card-back">
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">Description</h3>
                         <p class="flip-card-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                      </li>
                      <li class="flip-card-back-item">
                         <h3 class="flip-card-title">DETAILS & FEATUREStion</h3>
                         <ul class="flip-card-text">
                            <li>Gender: man</li>
                            <li>Size: 46x54.5mm</li>
                            <li>Case Colour: Steel</li>
                            <li>Band Material: Metal</li>
                            <li>Case Material: Metal</li>
                            <li>Features: Multifunction</li>
                            <li>Water Resistant: 5 (ATM)</li>
                            <li>Band Colour: Steel</li>
                         </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <p class="catalog-item-text">Armani Exchange</p>
             <span class="catalog-item-ptice">€400</span>
          </li>
       </ul>
       <button class="button" data-popup="request">Buy now</button>
    </div>
 </section>