<section class="section-tradition">
    <div class="container">
        <p>Tradition and love</p>
        
        <h2>how it’s made?</h2>
        <img srcset="../src/images/tradition/home-pic4.png 1x, ../src/images/tradition/home-pic4@2x.png 2x" src="../src/images/tradition/home-pic4.png" alt="cow, milk" />
        
        
        <h3>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</h3>

        <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>   

        <p>Aliquam erat volutpat. Aenean accumsan.</p>
        
        <button type="button">Read more</button>

        <ul>
            <li>
                <p>721</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li>
                <p>16kg</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li>
                <p>84</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>