<div class="container section-prices">
  <p class="price-section-name">
    Проведи время в компании лучших мастеров
  </p>
  <h2 class="title price-title">Услуги и цены</h2>

  <div class="prices-alling">
    <ul class="prices">
      <li class="list price-list">
        Мужская стрижка <span class="line-prices"></span>
        <span class="price-value"> от 300 грн.</span>
      </li>
      <li class="list price-list">
        Стрижка бороды <span class="line-prices"></span>
        <span class="price-value"> от 200 грн.</span>
      </li>
      <li class="list price-list">
        Стрижка усов <span class="line-prices"></span>
        <span class="price-value"> от 200 грн.</span>
      </li>
      <li class="list price-list">
        Бритье опасной бритвой <span class="line-prices"></span>
        <span class="price-value"> от 200 грн.</span>
      </li>
    </ul>
    <ul class="prices">
      <li class="list price-list">
        Cтрижка у стажера <span class="line-prices"></span>
        <span class="price-value"> от 50 грн.</span>
      </li>
      <li class="list price-list">
        Стрижка под насадку <span class="line-prices"></span>
        <span class="price-value"> от 200 грн.</span>
      </li>
      <li class="list price-list">
        Детская стрижка (до 12 лет) <span class="line-prices"></span>
        <span class="price-value"> от 300 грн.</span>
      </li>
      <li class="list price-list">
        Камуфлирование седины <span class="line-prices"></span>
        <span class="price-value"> от 200 грн.</span>
      </li>
    </ul>
  </div>

  <button class="button button-price">Онлайн-запись</button>
</div>
