<section class="about-us section">
  <ul class="about-us__list">
    <li class="about-us__item">
      <picture>
        <source
          srcset="
            ./images/about/About1tablet.jpg    1x,
            ./images/about/About1tablet@2x.jpg 2x,
            ./images/about/About1tablet@3x.jpg 3x
          "
          media="(max-width: 1199px)"
        />

        <source
          srcset="
            ./images/about/About1desktop.jpg    1x,
            ./images/about/About1desktop@2x.jpg 2x,
            ./images/about/About1desktop@3x.jpg 3x
          "
          media="(min-width: 1200px)"
        />
        <img src="./images/about/About1tablet.jpg" alt="beard" />
      </picture>
    </li>
    <li class="about-us__item">
      <picture>
        <source
          srcset="
            ./images/about/About2tablet.jpg    1x,
            ./images/about/About2tablet@2x.jpg 2x,
            ./images/about/About2tablet@3x.jpg 3x
          "
          media="(max-width: 1199px)"
        />

        <source
          srcset="
            ./images/about/About2desktop.jpg    1x,
            ./images/about/About2desktop@2x.jpg 2x,
            ./images/about/About2desktop@3x.jpg 3x
          "
          media="(min-width: 1200px)"
        />
        <img src="./images/about/About2tablet.jpg" alt="beard" />
      </picture>
    </li>
  </ul>
  <div class="about-us__content">
    <p class="about-us__description">О нас</p>
    <h2 class="about-us__title">Лучший Барбершоп твоего города</h2>
    <p class="about-us__label">
      Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
      нам.
    </p>
    <p class="about-us__text">
      Мы команда, которая никогда не останавливается на достигнутом и жаждет
      перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
      сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
      волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
      приходит!
    </p>
    <button class="about-us__btn">онлайн-запись</button>
  </div>
</section>
