<section class="section our-products-section">
  <div class="container">
    <h2 class="section-heading">
      our <span class="orange-heading">products</span>
    </h2>
    <ul class="chocolate-cards">
      <li class="chocolate-cards-items"></li>
      <li class="chocolate-cards-items"></li>
      <li class="chocolate-cards-items"></li>
      <li class="chocolate-cards-items"></li>
      <li class="chocolate-cards-items"></li>
      <li class="chocolate-cards-items"></li>
      <li class="chocolate-cards-items"></li>
      <li class="chocolate-cards-items"></li>
    </ul>
  </div>
</section>
