<!-- Taste sction -->
<section class="section taste" id="taste-section">
  <div class="container taste-container">
    <!-- Taste header -->
    <div class="taste-header">
      <h2 class="taste-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
      </h2>
      <p class="taste-description">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <!-- Taste cards -->
    <div class="taste-cards">
      <div class="flip-card">
        <div class="front">
          <div class="content">
            <picture>
              <!-- Mobile/tablet -->
              <source
                srcset="
                  /src/images/mobile/chocolate-card-1-mt-1x.png 1x,
                  /src/images/mobile/chocolate-card-1-mt-2x.png 2x
                "
              />
              <!-- Desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /src/images/desktop/chocolate-card-1-d-1x.png 1x,
                  /src/images/desktop/chocolate-card-1-d-2x.png 2x
                "
              />
              <img
                src="/src/images/desktop/chocolate-card-1-d-1x.png"
                alt="Milk chocolate"
                class="img-test"
              />
            </picture>
            <h2>MILK CHOCOLATE</h2>
          </div>
        </div>
        <div class="back">
          <div class="content">
            <h2>MILK CHOCOLATE</h2>
            <ul class="taste-button-list">
              <li>
                <button class="taste-button taste-active" type="button">
                  chocolate
                </button>
              </li>
              <li>
                <button class="taste-button" type="button">the benefits</button>
              </li>
            </ul>
            <p class="taste-description">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="front">
          <div class="content">
            <picture>
              <!-- Mobile/tablet -->
              <source
                srcset="
                  /src/images/mobile/chocolate-card-2-mt-1x.png 1x,
                  /src/images/mobile/chocolate-card-2-mt-2x.png 2x
                "
              />
              <!-- Desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /src/images/desktop/chocolate-card-2-d-1x.png 1x,
                  /src/images/desktop/chocolate-card-2-d-2x.png 2x
                "
              />
              <img
                src="/src/images/desktop/chocolate-card-2-d-1x.png"
                alt="Milk"
                class="img-test"
              />
            </picture>
            <h2>MILK</h2>
          </div>
        </div>
        <div class="back">
          <div class="content">
            <h2>MILK</h2>
            <ul class="taste-button-list">
              <li>
                <button class="taste-button taste-active" type="button">
                  milk
                </button>
              </li>
              <li>
                <button class="taste-button" type="button">the benefits</button>
              </li>
            </ul>
            <p class="taste-description">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="front">
          <div class="content">
            <picture>
              <!-- Mobile/tablet -->
              <source
                srcset="
                  /src/images/mobile/chocolate-card-3-mt-1x.png 1x,
                  /src/images/mobile/chocolate-card-3-mt-2x.png 2x
                "
              />
              <!-- Desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /src/images/desktop/chocolate-card-3-d-1x.png 1x,
                  /src/images/desktop/chocolate-card-3-d-2x.png 2x
                "
              />
              <img
                src="/src/images/desktop/chocolate-card-3-d-1x.png"
                alt="Walnuts"
                class="img-test"
              />
            </picture>
            <h2>NUTS</h2>
          </div>
        </div>
        <div class="back">
          <div class="content">
            <h2>NUTS</h2>
            <ul class="taste-button-list">
              <li>
                <button class="taste-button taste-active" type="button">
                  nuts
                </button>
              </li>
              <li>
                <button class="taste-button" type="button">the benefits</button>
              </li>
            </ul>
            <p class="taste-description">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They are a good source of fiber, healthy fats,
              and plant protein. Plus, they are great on their own.
            </p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="front">
          <div class="content">
            <picture>
              <!-- Mobile/tablet -->
              <source
                srcset="
                  /src/images/mobile/chocolate-card-4-mt-1x.png 1x,
                  /src/images/mobile/chocolate-card-4-mt-2x.png 2x
                "
              />
              <!-- Desktop -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /src/images/desktop/chocolate-card-4-d-1x.png 1x,
                  /src/images/desktop/chocolate-card-4-d-2x.png 2x
                "
              />
              <img
                src="/src/images/desktop/chocolate-card-4-d-1x.png"
                alt="SEMI-SWEET CHOCOLATE"
                class="img-test"
              />
            </picture>
            <h2>SEMI-SWEET CHOCOLATE</h2>
          </div>
        </div>
        <div class="back">
          <div class="content">
            <h2>SEMI-SWEET CHOCOLATE</h2>
            <ul class="taste-button-list">
              <li>
                <button class="taste-button taste-active" type="button">
                  sweet chocolate
                </button>
              </li>
              <li>
                <button class="taste-button" type="button">the benefits</button>
              </li>
            </ul>
            <p class="taste-description">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
