<section class="hero">
    <div class="container">
        <div class="hero__circle">
            <!--<img src="./images/header/ellipse3.png">-->
            <div class="hero__icecream">

                <picture>
                    <source srcset="
                                    ./images/header/slider-pic7mob1.png 1x,
                                    ./images/header/slider-pic7mob1@2x.png 2x,
                                    ./images/header/slider-pic7mob1@3x.png 3x
                                    " media="(max-width: 767px)" type="image/webp">
                    <source srcset="
                                    ./images/header/slider-pic7tablet1.png 1x,
                                    ./images/header/slider-pic7tablet1@2x.png 2x,
                                    ./images/header/slider-pic7tablet1@3x.png 3x
                                    " media="(min-width: 768px) and (max-width: 1279px)" type="image/webp">
                    <!--<source srcset="
                                    ./images/header/slider-pic7desctop1.png 1x,
                                    ./images/header/slider-pic7desctop@2x.png 2x,
                                    ./images/header/slider-pic7desctop@3x.png 3x
                                    " media="(min-width: 1280px)" type="image/webp">-->
                    <img class="person__foto" src="
                                    ./images/header/slider-pic7mob1.png" alt="IceCream">
                </picture>

            </div>

        </div>
        <div class="hero__title">
            <div >
                <span class="hero__title-up">Ice cream</span>
                <span class="hero__title-up">made with</span>
                <span class="hero__title-main">passion</span>
            </div>
            <div class="hero__buttons">
                <button class="hero__button-products" type="button">
                    <span>Products</span>
                </button>
                <button class="hero__button-made" type="button">
                    <span>How it’s made?</span>
                </button>
            </div>
        </div>
    </div>
</section>