<section class="section-location">
    <div class="container">
        <h2 class="visually-hidden">Location and franchise</h2>
    </div>
    <div class="locations-card">
        <div class="locations-title locations-title-cream">Cafe</div>
        <div class="locations-description-title">Chicago</div>
        <div class="locations-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
        <ul class="locations-schedule">
            <li class="locations-schedule__item">
              <p class="locations-schedule__text">Monday - Friday</p>
              <p class="locations-schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="locations-schedule__item">
              <p class="locations-schedule__text">Saturday - Sunday</p>
              <p class="locations-schedule__time">08:00 AM - 16:00 PM</p>
            </li>
        <ul class="locations-list">
          <li class="locations-communication">
            <a class="locations-communication-link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="locations-communication">
            <a
              class="locations-communication-link"
              href="mailto:noreply@envato.com"
              >
              noreply@envato.com</a>
          </li>
        </ul>
    </div>
    <div class="wrapper-btn">
      <button class="locations-our">Our Locations</button>
      <button class="locations-franchise">Franchise</button>
    </div>
</section>