<div class="footer-section" id="footer">
  <div class="footer">
    <h4 class="footer-title">
      Регистрация на <span class="orange">бесплатную</span> телефонную
      <span class="orange">консультацию</span> по нюансам ЗНО по английскому
      языку
    </h4>
    <p class="footer-description">
      Оставь заявку на участие в
      <span class="orange">бесплатном занятии.</span><br />С вами свяжется
      консультант и ответит на вопросы
    </p>

    <form method="POST" class="footer-form-field">
      <label for="user-name" class="footer-label"></label>
      <input
        type="text"
        class="footer-field footer-field-first"
        id="user-name"
        placeholder="Имя*"
        pattern="^[А-Яа-яЁё\s]+$"
      />
      <label for="user-tel" class="footer-label"></label>
      <input
        type="tel"
        class="footer-field"
        id="user-tel"
        placeholder="Телефон*"
        pattern="^[ 0-9]+$"
      />
      <button class="footer-btn">хочу на бесплатное занятие</button>
    </form>
  </div>
  <div class="footer-contacts container" id="contacts">
    <a
      href="index.html"
      class="footer-contacts-logo"
      aria-label="Hellen адский английский"
      rel="noopener noreferrer"
    >
    </a>
    <a href="tel:+380000000000" class="footer-contacts-tel"
      >+38 (000) 000 00 00</a
    >
    <a
      href="#"
      class="footer-contacts-inst"
      aria-label="ссылка Instagram"
      target="_blank"
      rel="noopener noreferrer"
    >
    </a>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="footer-copyright">@ Все права защищены, 2019</p>
    </div>
  </div>
</div>
