<section class="section-teacher">
  <div class="container">
    <h2 class="section-teacher-title">Преподаватель</h2>
    <h3 class="teacher-name">Елена Морева</h3>
    <ul class="teacher-achievements-list">
      <li class="teacher-achievements-item">
        Опыт подготовки учеников к ВНО - 6 лет
      </li>
      <li class="teacher-achievements-item">
        Собственный результат сдачи ВНО - 197 баллов 2 года подряд
      </li>
      <li class="teacher-achievements-item">
        Сдала на отлично международный аналог ВНО - Кембриджский PET
        (Preliminary English Test)
      </li>
      <p class="teacher-education">
        Высшее образование получила в Институте международных отношений НАУ по
        специальности переводчик-аналитик. В свободное время проходит курсы от
        лучших университетов мира по эффективному преподаванию и методикам
        написания сочинений. В числе пройденных: English Grammar and Essay
        Writing (Berkeley), English Grammar&Style (The University of Queesland),
        How to Write an Essay (Berkeley), Academic and Business Writing
        (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for
        Teaching and Learning (University of Houston).
      </p>
      <a>Cambrige English Entry Level Certificate</a>
    </ul>
  </div>
</section>
