<section class="section section-portfolio">
    <div class=" container-portfolio">
        <div class="row">
            <div class="line"></div>
            <h2 class="subtitle-sect6">На латинском языке “барба” означает “борода”</h2>
        </div>
        <div class="container-photo">
            <ul class="list-port">
                <li class="item-port">
                    <picture>
                        <source
                            srcset="./images/im_section6/Rectangle25.jpg 1x , ./images/im_section6/Rectangle25@2x.jpg 2x"
                            media="(min-width: 1280px)">


                        <source
                            srcset="./images/im_section6/tablet_img/Rectangle25.jpg 1x , ./images/im_section6/tablet_img/Rectangle25@2x.jpg 2x"
                            media="(min-width: 768px)">


                        <source
                            srcset="./images/im_section6/mob_img/Rectangle25.jpg 1x , ./images/im_section6/mob_img/Rectangle25@2x.jpg 2x"
                            media="(max-width: 767px)">

                        <img srcset="./images/im_section6/Rectangle25.jpg 1x , ./images/im_section6/Rectangle25@2x.jpg 2x , ./images/im_section6/tablet_img/Rectangle25.jpg 1x , ./images/im_section6/tablet_img/Rectangle25@2x.jpg 2x , ./images/im_section6/mob_img/Rectangle25.jpg 1x , ./images/im_section6/mob_img/Rectangle25@2x.jpg 2x"
                            src="./images/im_section6/Rectangle25.jpg" alt="Николай Кучеренко">
                    </picture>

                </li>
                <li class="item-port">
                    <picture>
                        <source
                            srcset="./images/im_section6/Rectangle26.jpg 1x , ./images/im_section6/Rectangle26@2x.jpg 2x"
                            media="(min-width: 1280px)">


                        <source
                            srcset="./images/im_section6/tablet_img/Rectangle26.jpg 1x , ./images/im_section6/tablet_img/Rectangle26@2x.jpg 2x"
                            media="(min-width: 768px)">


                        <source
                            srcset="./images/im_section6/mob_img/Rectangle26.jpg 1x , ./images/im_section6/mob_img/Rectangle26@2x.jpg 2x"
                            media="(max-width: 767px)">

                        <img srcset="./images/im_section6/Rectangle26.jpg 1x , ./images/im_section6/Rectangle26@2x.jpg 2x , ./images/im_section6/tablet_img/Rectangle26.jpg 1x , ./images/im_section6/tablet_img/Rectangle26@2x.jpg 2x , ./images/im_section6/mob_img/Rectangle26.jpg 1x , ./images/im_section6/mob_img/Rectangle26@2x.jpg 2x"
                            src="./images/im_section6/Rectangle26.jpg" alt="Николай Кучеренко">
                    </picture>
                </li>
                <li class="item-port">
                    <picture>
                        <source
                            srcset="./images/im_section6/Rectangle27.jpg 1x , ./images/im_section6/Rectangle27@2x.jpg 2x"
                            media="(min-width: 1280px)">


                        <source
                            srcset="./images/im_section6/tablet_img/Rectangle27.jpg 1x , ./images/im_section6/tablet_img/Rectangle27@2x.jpg 2x"
                            media="(min-width: 768px)">

                        <source
                            srcset="./images/im_section6/mob_img/Rectangle27.jpg 1x , ./images/im_section6/mob_img/Rectangle27@2x.jpg 2x"
                            media="(max-width: 767px)">



                        <img srcset="./images/im_section6/Rectangle27.jpg 1x , ./images/im_section6/Rectangle27@2x.jpg 2x , ./images/im_section6/tablet_img/Rectangle27.jpg 1x , ./images/im_section6/tablet_img/Rectangle27@2x.jpg 2x , ./images/im_section6/mob_img/Rectangle27.jpg 1x , ./images/im_section6/mob_img/Rectangle27@2x.jpg 2x"
                            src="./images/im_section6/Rectangle27.jpg" alt="Николай Кучеренко">
                    </picture>
                </li>
                <li class="item-port">
                    <picture>
                        <source
                            srcset="./images/im_section6/Rectangle28.jpg 1x , ./images/im_section6/Rectangle28@2x.jpg 2x"
                            media="(min-width: 1280px)">


                        <source
                            srcset="./images/im_section6/tablet_img/Rectangle28.jpg 1x , ./images/im_section6/tablet_img/Rectangle28@2x.jpg 2x"
                            media="(min-width: 768px)">


                        <source
                            srcset="./images/im_section6/mob_img/Rectangle28.jpg 1x , ./images/im_section6/mob_img/Rectangle28@2x.jpg 2x"
                            media="(max-width: 767px)">

                        <img srcset="./images/im_section6/Rectangle28.jpg 1x , ./images/im_section6/Rectangle28@2x.jpg 2x , ./images/im_section6/tablet_img/Rectangle28.jpg 1x , ./images/im_section6/tablet_img/Rectangle28@2x.jpg 2x , ./images/im_section6/mob_img/Rectangle28.jpg 1x , ./images/im_section6/mob_img/Rectangle28@2x.jpg 2x"
                            src="./images/im_section6/Rectangle28.jpg" alt="Николай Кучеренко">
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>