<section>
    <div class="home">
        <!-- <picture>
            <source srcset="./images/sec03/home-pic5des@1x.jpg 1x,./images/sec03/home-pic5des@2x.jpg 2x" media="(min-width: 1220px)" />
            <source srcset="./images/sec03/home-picntab@1x.jpg 1x,./images/sec03/home-pic5tab@2x.jpg 2x" media="(min-width: 768px)" />
             <source srcset="./images/sec03/home-pic51@1x.jpg 1x,./images/sec03/home-pic5@2x.jpg 2x" media="(max-width: 320px)" />
            <img src="./images/sec03/home-pic51@1x.jpg" alt="разновидность мороженного" />
        </picture>  -->
    </div>
    <div class="const">
            <ul class="fon">
                <li>
                    <p class="fon-linc">Nullam viverra  дописываю текст </p>
                    
                </li>
                <li>
                    <p class="fon-linc"> consectetuer. Quisque</p>
                </li>
                <li>
                    <p class="fon-linc" >cursus et, porttitor risus.</p>
                </li>
                <li>
                    <p class="fon-linc">  Aliquam sem. In hendrerit</p>
                </li>
                <li>
                    <p class="fon-linc">nulla quam nunc, </p>
                </li>
                <li>
                    <p class="fon-linc"> accumsan congue. Lorem</p>
                </li>
                <li>
                    <p class="fon-linc">ipsum primis in nibh vel</p>
                </li>
                <li><p class="fon-linc">risus.</p></li>
            </ul>
     </div>   
</section>

