<article>
  <section class="section aboutus">
    <div class="container aboutus-container">
      <div class="aboutus-image-container-tablet">
        <img
          class="image"
          srcset="
            ./images/section-1-best-barber/tabl-best-barber-img-1.jpg,
            ./images/section-1-best-barber/tabl-best-barber-img-1@2x.jpg 2x
          "
          src="./images/section-1-best-barber/tabl-best-barber-img-1.jpg"
          alt=""
        />
        <img
          class="image"
          srcset="
            ./images/section-1-best-barber/tabl-best-barber-img-2.jpg    1x,
            ./images/section-1-best-barber/tabl-best-barber-img-2@2x.jpg 2x
          "
          src="./images/section-1-best-barber/tabl-best-barber-img-2.jpg"
          alt=""
        />
      </div>
      <div class="aboutus-image-container-desktop">
        <img
          class="image"
          srcset="
            ./images/section-1-best-barber/desk-best-barber-img-1.jpg    1x,
            ./images/section-1-best-barber/desk-best-barber-img-1@2x.jpg 2x
          "
          src="./images/section-1-best-barber/desk-best-barber-img-1.jpg"
          alt=""
        />
        <img
          class="image"
          srcset="
            ./images/section-1-best-barber/desk-best-barber-img-2.jpg    1x,
            ./images/section-1-best-barber/desk-best-barber-img-2@2x.jpg 2x
          "
          src="./images/section-1-best-barber/desk-best-barber-img-2.jpg"
          alt=""
        />
      </div>
      <div class="aboutus-text-container">
        <h3 class="text pretitle">О НАС</h3>
        <h2 class="title">Лучший Барбершоп твоего города</h2>
        <p class="text var-text">
          Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
          нам.
        </p>
        <p class="text">
          Мы команда, которая никогда не останавливается на достигнутом и жаждет
          перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
          сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
          волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
          приходит!
        </p>
        <button class="button">онлайн-запись</button>
      </div>
    </div>
  </section>
</article>
