<section class="five-days is-hidden">
  <ul class="five-days__info">
    <li class="five-days__item">
      <p class="five-days__day">Monday</p>
      <p class="five-days__date">24 iul</p>
      <svg height="35" width="35" class="five-days__icon">
        <use href="./images/sprite.svg#icon-weather"></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"> 2</span>
        </div>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value">20</span>
        </div>
      </div>
      <button class="five-days__button">more info</button>
    </li>
    <li class="five-days__item">
      <p class="five-days__day">Monday</p>
      <p class="five-days__date">24 iul</p>
      <svg height="35" width="35" class="five-days__icon">
        <use href="./images/sprite.svg#icon-weather"></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"> 2</span>
        </div>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value">20</span>
        </div>
      </div>
      <button class="five-days__button">more info</button>
    </li>
    <li class="five-days__item">
      <p class="five-days__day">Monday</p>
      <p class="five-days__date">24 iul</p>
      <svg height="35" width="35" class="five-days__icon">
        <use href="./images/sprite.svg#icon-weather"></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"> 2</span>
        </div>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value">20</span>
        </div>
      </div>
      <button class="five-days__button">more info</button>
    </li>
    <li class="five-days__item hide-on-mobile">
      <p class="five-days__day">Monday</p>
      <p class="five-days__date">24 iul</p>
      <svg height="35" width="35" class="five-days__icon">
        <use href="./images/sprite.svg#icon-weather"></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"> 2</span>
        </div>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value">20</span>
        </div>
      </div>
      <button class="five-days__button">more info</button>
    </li>
    <li class="five-days__item hide-on-mobile">
      <p class="five-days__day">Monday</p>
      <p class="five-days__date">24 iul</p>
      <svg height="35" width="35" class="five-days__icon">
        <use href="./images/sprite.svg#icon-weather"></use>
      </svg>
      <div class="five-days__temperature">
        <div class="temperature-min">
          <p class="temperature-min__title">min</p>
          <span class="temperature-min__value"> 2</span>
        </div>
        <div class="temperature-max">
          <p class="temperature-max__title">max</p>
          <span class="temperature-max__value">20</span>
        </div>
      </div>
      <button class="five-days__button">more info</button>
    </li>
    <button id="show-more">
      >
      <svg width=" 4" height=" 8">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
  </ul>
</section>
