<section class="section-composition">
    <div class="container">
        <div class="gallery-box">
            <ul class="gallery">
               <li class="gallery-item">
                <div class="item-thumb image-up">
                    <div class="item-content">
                        <img src="/images/composition/ice1.jpg" class="gallery-image" alt="ice-cream-on-the-plate">
                    </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                        <img src="/images/composition/ice2.jpg" class="gallery-image" alt="ice-cream-in-the-hand">
                    </div>
                    </div>
                    <div class="item-thumb image-down">
                        <div class="item-content">
                        <img src="/images/composition/ice3.jpg" class="gallery-image" alt="ice-cream-on-the-table">
                    </div>
                    </div>
                </li>
                <li class="gallery-item gallery-item-big">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                        <img src="/images/composition/ice-big.jpg" class="gallery-image" alt="ice-cream">
                    </div>
                    </div>
                    <div class="item-thumb image-down">
                        <div class="item-content">
                        <img src="/images/composition/ice5.jpg" class="gallery-image" alt="girl-with-ice-cream">
                    </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                        <img src="/images/composition/ice6.jpg" class="gallery-image" alt="few-ice-creams-on-the-table">
                    </div>
                    </div>
                    <div class="item-thumb image-down">
                        <div class="item-content">
                        <img src="/images/composition/ice7.jpg" class="gallery-image" alt="The-hand-holding-ice-cream">
                    </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                        <img src="/images/composition/ice8.jpg" class="gallery-image" alt="the-dog-test-ice-cream">
                    </div>
                    </div>
                    <div class="item-thumb image-down">
                        <div class="item-content">
                        <img src="/images/composition/ice9.jpg" class="gallery-image" alt="ice-cream-choco">
                    </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                        <img src="/images/composition/ice10.jpg" class="gallery-image" alt="ice-cream-on-the-plate">
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>