<section class="location">
  <div class="container location__container">
    <h2 class="location__title visually-hidden">Locations</h2>

    <ul class="list location__list">
      <li class="location__item">
        <p class="location__type">CAFE</p>
        <p class="location__town">Chicago</p>
        <p class="location__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <ul class="list location__schedule">
          <li class="location__schedule-item">
            <span class="location__workdays">Monday - Friday</span>
            <span class="location__worktime"
              ><time>08:00</time> AM - <time>16:00</time> PM</span
            >
          </li>
          <li class="location__schedule-item">
            <span class="location__workdays">Saturday - Sunday</span>
            <span class="location__worktime"
              ><time>08:00</time> AM - <time>16:00</time> PM</span
            >
          </li>
        </ul>
        <adress class="location__contacts">
          <ul class="list">
            <li class="location__link">
              <a class="link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="location__link">
              <a class="link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </adress>
      </li>
      <li class="location__item">
        <p class="location__type green">FOODTRUCK</p>
        <p class="location__town">Los Angeles</p>
        <p class="location__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <ul class="list location__schedule">
          <li class="location__schedule-item">
            <span class="location__workdays">Monday - Friday</span>
            <span class="location__worktime"
              ><time>08:00</time> AM - <time>16:00</time> PM</span
            >
          </li>
          <li class="location__schedule-item">
            <span class="location__workdays">Saturday - Sunday</span>
            <span class="location__worktime"
              ><time>08:00</time> AM - <time>16:00</time> PM</span
            >
          </li>
        </ul>
        <adress class="location__contacts">
          <ul class="list">
            <li class="location__link">
              <a class="link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="location__link">
              <a class="link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </adress>
      </li>
      <li class="location__item">
        <p class="location__type">CAFE</p>
        <p class="location__town">New York</p>
        <p class="location__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <ul class="list location__schedule">
          <li class="location__schedule-item">
            <span class="location__workdays">Monday - Friday</span>
            <span class="location__worktime"
              ><time>08:00</time> AM - <time>16:00</time> PM</span
            >
          </li>
          <li class="location__schedule-item">
            <span class="location__workdays">Saturday - Sunday</span>
            <span class="location__worktime"
              ><time>08:00</time> AM - <time>16:00</time> PM</span
            >
          </li>
        </ul>
        <adress class="location__contacts">
          <ul class="list">
            <li class="location__link">
              <a class="link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="location__link">
              <a class="link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </adress>
      </li>
    </ul>
    <ul class="list location__buttons">
      <li class="location__button">
        <button class="location__button-red">
          <span class="location__button-title"
            >Our Locations
            <svg class="location__button-icon">
              <use href="./images/sprite.svg#arrow-to-right"></use>
            </svg>
          </span>
        </button>
      </li>
      <li class="location__button">
        <button class="location__button-white">
          <span class="location__button-title"
            >Franchise
            <svg class="location__button-icon">
              <use href="./images/sprite.svg#arrow-to-right"></use>
            </svg>
          </span>
        </button>
      </li>
    </ul>
  </div>
</section>
