<section class="section-feedback">
  <div class="container">
    <h2 class="section-feedback-title">Отзывы выпускников</h2>
    <h3>Тоня Кучеровская</h3>
    <p>
      Выпуск 2015-го года, Національний університет біоресурсів і
      природокористування України
    </p>
    <p>
      За короткий час занять з Оленою я опанувала граматику і поповнила свій
      зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
      знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
      хвилювала моя успішність. Вона стала для мене авторитетом, проте я не
      тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу
      похизуватись тим, що я студен ... <a>Читать дальше</a>
    </p>
  </div>
</section>
