<section>
  <h1>Отзывы выпускников</h1>
  <ul>
    <li>
      <picture></picture>
      <h2>Тоня Кучеровская</h2>
      <p>
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p>
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ... <span>Читать дальше</span>
      </p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
  </ul>
</section>
