<section class="section-about container">
  <div class="foto-about-us">
    
    <img srcset="./images/img-1.jpg 1x"
                    src="./images/img-1.jpg"
                    alt="razor"
                    class="photo-razor" />

    <img srcset="./images/img-2.jpg 1x"
                    src="./images/img-2.jpg"
                    alt="brush"
                    class="photo-brush" /> 
  </div>
  <!--<img srcset="./images/img-1.jpg 1x 
                    ./images/img-1@2x.jpg 2x,
                    ./images/img-1@3x.jpg 3x"
                    src="./images/img-1.jpg"
                    alt="razor"
                    class="photo-razor"/>

    <img srcset="./images/img-2.jpg 1x,
                    ./images/img-about2x@2x.jpg 2x,
                    ./images/img-about3x@3x.jpg 3x"
                    src="./images/img-about.jpg"
                    alt="brush"
                     class="photo-brush"/> 
  -->
  
  <div class="about-us">
    <h3 class="section-title">о нас</h3>
     <h2 class="section-item"> Лучший Барбершоп </br>
      твоего города
    </h2>
    <p class="sectoin-page">
      Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
      нам.
    </p>
    <p class="section-text">
      Мы команда, которая никогда не останавливается на достигнутом и жаждет
      перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
      сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
      волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
      приходит!
    </p>
    
      <a class="section-button" href="#">
        онлайн-запись
      </a>
    
  </div>
</section>
