<section class="section">
  <div class="container container-flex">
    <h1 class="visually-hidden">Feature</h1>
    <div class="feature-container">
      <b class="slogan">старая традиционная школа</b>
      <h2 class="section-title">Почему приходят<br />именно к нам?</h2>
      <p class="feature-text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
    <ul class="feature-list">
      <li class="feature-list-item">
        <span class="feature-list-numeric">600</span
        ><sup class="feature-list-sup">+</sup>Довольных клиентов в день
      </li>
      <li class="feature-list-item">
        <span class="feature-list-numeric">50</span
        ><sup class="feature-list-sup">+</sup>Наград за отличный сервис
      </li>
      <li class="feature-list-item">
        <span class="feature-list-numeric">20</span
        ><sup class="feature-list-sup">+</sup>Лучших мастеров Киева
      </li>
      <li class="feature-list-item">
        <span class="feature-list-numeric">100</span
        ><sup class="feature-list-sup">+</sup>Подарков постоянным клиентам
      </li>
    </ul>
  </div>
</section>
