<section class="section-our-program">
  <div class="container"><h2>Наша программа</h2></div>

  <ul class="program-list list">
    <div class="container">
      <li class="period-item">
        <svg class="ball">
          <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
        </svg>
        <p class="period">1 семестр</p>
        <ul class="description-list list">
          <li>
            <h3>— Grammar</h3>
            <ul class="topic">
              <li><p>Nouns &amp; Articles</p></li>
              <li><p>Adjectives &amp; Adverb</p></li>
            </ul>
          </li>
          <li>
            <h3>— Vocabulary</h3>
            <ul class="topic">
              <li><p>Family &amp; Relations</p></li>
              <li><p>People &amp; Society</p></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="period-item">
        <svg class="ball">
          <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
        </svg>
        <p class="period">2 семестр</p>
        <ul class="description-list list">
          <li>
            <h3>— Grammar</h3>
            <ul class="topic">
              <li><p>Pronouns</p></li>
              <li><p>Active Voice</p></li>
              <li><p>Passive Voice</p></li>
            </ul>
          </li>
          <li>
            <h3>— Vocabulary</h3>
            <ul class="topic">
              <li><p>Home</p></li>
              <li><p>School</p></li>
              <li><p>Work</p></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="period-item">
        <svg class="ball">
          <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
        </svg>
        <p class="period">3 семестр</p>
        <ul class="description-list list">
          <li>
            <h3>— Grammar</h3>
            <ul class="topic">
              <li><p>Modal verbs</p></li>
              <li><p>Infinitive</p></li>
              <li><p>Gerund</p></li>
              <li><p>Participle: 1, 2</p></li>
            </ul>
          </li>
          <li>
            <h3>— Vocabulary</h3>
            <ul class="topic">
              <li><p>Travel &amp; Tourism</p></li>
              <li><p>Culture &amp; Free Time</p></li>
              <li><p>Sport</p></li>
            </ul>
          </li>
          <li>
            <h3>— Writing</h3>
            <p>Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="period-item">
        <svg class="ball">
          <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
        </svg>
        <p class="period">4 семестр</p>
        <ul class="description-list list">
          <li>
            <h3>— Grammar</h3>
            <ul class="topic">
              <li><p>Clauses: Conditional and Wishes</p></li>
              <li><p>Direct / Reported speech</p></li>
              <li><p>Preposition</p></li>
              <li><p>Conjunction</p></li>
              <li><p>Numeral</p></li>
            </ul>
          </li>
          <li>
            <h3>— Vocabulary</h3>
            <ul class="topic">
              <li><p>Healthy Living</p></li>
              <li><p>Nature &amp; Environment</p></li>
              <li><p>Money</p></li>
            </ul>
          </li>
          <li>
            <h3>— Writing</h3>
            <ul class="topic">
              <li><p>Formal letter</p></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="period-item">
        <svg class="ball">
          <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
        </svg>
        <p class="period">5 семестр</p>
        <h3>—</h3>
        <ul class="topic">
          <li><p>Revision</p></li>
          <li><p>Tests</p></li>
        </ul>
      </li>
    </div>
  </ul>
</section>
