<section class="features">
    <div class="container">
        <div class="feature-about">
            <div class="old">
                <p class="old-school">старая традиционная школа</p>
            </div>
            <h2 class="Why-we-header">Почему приходят именно к нам?</h2>
            <p class="Why-we">
                О нас говорят только хорошее. Но лучше 1 раз увидеть и
                прочувствовать, чем 10 раз прочитать.
            </p>
        </div>
        <div class="boxes">

            <ul class="box-list">

                <li class="item">
                    <div class="box-content">
                        <p class="figure">600 </p>
                        <p class="feature-content">Довольных клиентов в день</p>
                    </div>
                </li>
                <li class="item">
                    <div class="box-content">
                        <p class="figure">50 </p>
                        <p class="feature-content">Наград за отличный сервис
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="box-content">
                        <p class="figure">20 </p>
                        <p class="feature-content">Лучших мастеров Киева
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div class="box-content">
                        <p class="figure">100 </p>
                        <p class="feature-content">Подарков постоянным клиентам
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
</section>