<section class="dayli-container">
  <div class="date">
    <ul class="date__first-section unstyled-list">
      <li>
        <p class="date__day-now">8<sup>th</sup></p>
      </li>
      <li>
        <p class="date__day-week">Sat</p>
      </li>
    </ul>
    <div class="date__second-section">
      <ul class="date__value unstyled-list">
        <li class="date__value-1">
          <p class="date__month">February</p>
        </li>
        <li>
          <p class="date__hours">21:30:56</p>
        </li>
      </ul>
        <ul class="date__value-2 unstyled-list">
          <li> 
            <svg class="date__sunrise-svg"  width="
            20px" height="20px">
              <use href="./images/sprite.svg#icon-sunrise"></use>
            </svg></li>
           <li> <p class="date__sunrise">07:04</p></li>
          <li> 
            <svg class="date__sunset-svg"  width="
            20px" height="20px">
              <use href="./images/sprite.svg#icon-sunset"></use>
            </svg>
          </li>
          <li>
            <p class="date__sunset">17:05</p>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</section>
