<section class="reviews">
  <div class="container slider">
    <article class="slide">
      <picture>
        <source
          srcset="
            ./images/slider/emily.webp    1x,
            ./images/slider/emily@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="./images/slider/emily.png 1x, ./images/slider/emily@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          class="slider-img"
          src="./images/slider/emily.webp"
          alt="Foto Emily"
          width="85"
        />
      </picture>

      <p class="review-text">
        <span class="review-text-underlined">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </span>
      </p>

      <p class="reviewer-name">Emily, Los Angeles</p>

      <div class="dots-slik"></div>
    </article>

    <article class="slide">
      <picture>
        <source
          srcset="
            ./images/slider/emily1.webp    1x,
            ./images/slider/emily1@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/slider/emily1.png    1x,
            ./images/slider/emily1@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="slider-img"
          src="./images/slider/emily1.webp"
          alt="Foto Emily"
          width="85"
        />
      </picture>

      <p class="review-text">
        <span class="review-text-underlined">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi
          inventore veniam enim dicta, eligendi impedit quas at voluptates ipsa
          a aut consectetur iure alias earum veritatis neque perspiciatis
          expedita? Commodi!
        </span>
      </p>

      <p class="reviewer-name">Emily, Los Angeles</p>
    </article>

    <article class="slide">
      <picture>
        <source
          srcset="
            ./images/slider/emily2.webp    1x,
            ./images/slider/emily2@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/slider/emily2.png    1x,
            ./images/slider/emily2@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="slider-img"
          src="./images/slider/emily2.webp"
          alt="Foto Emily"
          width="85"
        />
      </picture>

      <p class="review-text">
        <span class="review-text-underlined">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          veniam impedit tenetur voluptas nam repellendus debitis unde ad
          temporibus laboriosam.
        </span>
      </p>

      <p class="reviewer-name">Emily, Los Angeles</p>
    </article>
  </div>
</section>
