<!-- Section 4 / Top Sellers Section -->

<section class="sellers-section" id="top-sellers">
    <div class="container">
        <h2 class="top-sellers-title"><span>Top</span> Sellers</h2>

        <ul class="sellers-items">
            <li class="sellers-item">
                <picture>
                    <!-- Desktop -->
                    <source media="(min-width: 1200px)"
                        srcset="images/desktop/coffe-nuts-chocolate-d.jpg 1x, images/desktop/coffe-nuts-chocolate-d-2x.jpg 2x"
                        alt="Coffee and nuts chocolate" width="368" height="464">

                    <!-- Tablet -->
                    <source media=" (min-width: 767px)"
                        srcset="images/tablet/coffe-nuts-chocolate-t.jpg 1x, images/tablet/coffe-nuts-chocolate-t-2x.jpg 2x"
                        alt="Coffee and nuts chocolate" width="344" height="464">

                    <!-- Mobile -->
                    <source
                        srcset="images/mobile/coffe-nuts-chocolate-m.jpg 1x, images/mobile/coffe-nuts-chocolate-m-2x.jpg 2x"
                        alt="Coffee and nuts chocolate" width="335" height="464">

                    <img src="images/desktop/coffe-nuts-chocolate-d.jpg" alt="Coffee and nuts chocolate">
                </picture>
            </li>

            <li class="sellers-item">
                <picture>
                    <!-- Desktop -->
                    <source media="(min-width: 1200px)"
                        srcset="images/desktop/orange-mint-chocolate-d.jpg 1x, images/desktop/orange-mint-chocolate-d-2x.jpg 2x"
                        alt="Orange and mint chocolate" width="368" height="464">

                    <!-- Tablet -->
                    <source media=" (min-width: 767px)"
                        srcset="images/tablet/orange-mint-chocolate-t.jpg 1x, images/tablet/orange-mint-chocolate-t-2x.jpg 2x"
                        alt="Orange and mint chocolate" width="344" height="464">

                    <!-- Mobile -->
                    <source
                        srcset="images/mobile/orange-mint-chocolate-m.jpg 1x, images/mobile/orange-mint-chocolate-m-2x.jpg 2x"
                        alt="Orange and mint chocolate" width="335" height="464">

                    <img src="images/desktop/orange-mint-chocolate-d.jpg" alt="Orange and mint chocolate">
                </picture>
            </li>

            <li class="sellers-item">
                <picture>
                    <!-- Desktop -->
                    <source media="(min-width: 1200px)"
                        srcset="images/desktop/hazelnuts-dark-chocolate-d.jpg 1x, images/desktop/hazelnuts-dark-chocolate-d-2x.jpg 2x"
                        alt="Hazelnuts dark chocolate" width="368" height="464">

                    <img src="images/desktop/hazelnuts-dark-chocolate-d.jpg" alt="Hazelnuts dark chocolate">
                </picture>
            </li>

            <li class="sellers-item">
                <p class="top-sellers-text">Crazy enough chocolate originates from a bean just like the
                    coffee
                    bean called Cacao. Cacao has been around for thousands of years and was first discovered by the
                    Native
                    American tribe called the Mayans.
                </p>
            </li>
        </ul>
        <div class="top-sellers-modal-btn container">
            <button type="button" class="top-sellers-buy-now-btn section-1-btn" data-modal-open="top-sellers"> Buy now
            </button>
        </div>
    </div>
</section>