<section class="contacts" id="contacts">
  <div id="online-record" class="section container contacts__form">
    <h2 class="contacts__title">Онлайн-запись</h2>
    <form class="form">
      <div class="form__top-thumb">
        <label class="form__field">
          <input
            class="form__input"
            type="text"
            name="name"
            placeholder=" "
            required
          />
          <span class="form__label">Имя*</span>
        </label>
        <label class="form__field">
          <input
            class="form__input"
            type="tel"
            name="tel"
            placeholder=" "
            required
          />
          <span class="form__label">Телефон*</span>
        </label>
      </div>
      <label class="form__field form__field--message">
        <textarea
          class="form__input form__input--message"
          name="message"
          placeholder=" "
        ></textarea>
        <span class="form__label form__label--message">сообщение</span>
      </label>
      <button type="submit" class="record_button form__button">
        отправить
      </button>
    </form>
  </div>
  <div class="contacts__information-thumb">
    <div class="section container contacts__information">
      <div class="contacts__address-thumb">
        <h2 class="contacts__title">Контакты</h2>
        <address class="address">
          <ul class="address__list">
            <li class="address__item">
              <a
                href="https://goo.gl/maps/ZQxLvjob7u7DZz8eA"
                target="_blank"
                class="address__link"
              >
                <svg class="address__icons" width="32px" height="32px">
                  <use href="./images/sprite.svg#icon-map-pin"></use>
                </svg>
                <p class="address__link-text">
                  ул. Васильковая, 7А, Киев, 08132
                </p>
              </a>
            </li>
            <li class="address__item">
              <a href="tel:+380441111111" class="address__link">
                <svg class="address__icons" width="32px" height="32px">
                  <use href="./images/sprite.svg#icon-phone"></use>
                </svg>
                <p class="address__link-text">+38 044 111 11 11</p>
              </a>
            </li>
            <li class="address__item">
              <a
                href="mailto:info@barbershop@email.com"
                class="address__link address__link--email"
              >
                <svg class="address__icons" width="32px" height="32px">
                  <use href="./images/sprite.svg#icon-mail"></use>
                </svg>
                <p class="address__link-text">barbershop@email.com</p>
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="contacts__worktime">
        <h3 class="contacts__sub-title">Время работы</h3>
        <p class="contacts__time">Ежедневно с 9:00 до 22:00</p>
      </div>
    </div>
  </div>
</section>
