    <!-- Section 6  -->
     <section class="section">
        <div class="section-6">
            <span class="section-6-title">Explore our new chocolate first</span>
            <span>From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.</span>
            <button type="button" data-modal-open>Subscribe</button>
        </div>
     </section>

    <!-- Modal Subscribe -->
<div class="modal is-hidden" data-modal>
    <div class="modal-content">
    <button class="close-btn" data-modal-close>&times;</button>
      <form name="modal-form" action="" method="get">
        <div class="modal-div">
          <span>Leave your information and we'll call you back</span>
          <div class="form-div">
            <label for="name">Name</label>
            <div>
              <input type="text" name="name" id="name" required />
              <svg>
                <use href="./images/symbol-defs.svg#icon-form-person"></use>
              </svg>
            </div>
          </div>
          <div class="form-div">
            <label for="phone-number">Telephone</label>
            <div>
              <input type="tel" name="phone-number" id="phone-number" required />
              <svg>
                <use href="./images/symbol-defs.svg#icon-form-phone"></use>
              </svg>
            </div>
          </div>
          <div class="form-div">
            <label for="email">E-mail</label>
            <div>
              <input type="email" name="email" id="email" required />
              <svg>
                <use href="./images/symbol-defs.svg#icon-form-email"></use>
              </svg>
            </div>
          </div>
          <div class="form-div">
            <label for="comments">Comments</label>
            <div>
              <textarea name="comments" id="comments" placeholder="Enter the text"></textarea>
            </div>
          </div>
          <div class="terms">
            <input type="checkbox" name="checkbox" id="checkbox"/>
            <span>I agree with the letter and accept the <a href="#">Terms and Conditions</a></span>
          </div>
          <div class="send-button">
            <input type="submit" name="send-modal" id="send-modal" value="Send">
          </div>
        </div>
      </form>
    </div>
  </div>
