<!--*Section-1day -->
<section class="1day-section container">
  <div class="allday-wheather">
    <img class="current-wheather-icon" alt="icon" />
    <p class="current-wheather-city">City name</p>
    <div class="today-weather">
      <p class="today-weather__current">28</p>
      <div class="today-weather-minmax">
        <div class="today-minmax">
          <p class="today-minmax__p">min</p>
          <p class="today-minmax__mindegree">25</p>
          <svg height="40" width="1">
            <use href="./images/sprite.svg#icon-line"></use>
          </svg>
        </div>

        <div class="today-minamx">
          <p class="today-minmax__p">max</p>
          <p class="today-minmax__maxdegree">35</p>
        </div>
      </div>
    </div>
  </div>

  <div class="button-list">
    <button class="btn-today" type="button" id="today-btn">TODAY</button>
    <button class="btn-5days" type="button" id="5days-btn">5DAYS</button>
  </div>
</section>
<!-- <div class="button-list">
    <button class="btn-today" type="button" id="today-btn">TODAY</button>
    <button class="btn-5days" type="button" id="5days-btn">5DAYS</button>
  </div> -->
<!-- *End Section-1day -->
