<article class="article">
  <div class="article__container">
    <h2 class="article__title">A random article</h2>
    <p class="article__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos assumenda, corrupti consequuntur ea quam
      nam
      itaque voluptatum laborum quod quaerat excepturi ullam? Quae explicabo sed ipsa a amet dicta saepe, accusamus
      blanditiis distinctio? Molestias necessitatibus exercitationem et tempore doloribus consequuntur possimus,
      voluptatum
      rerum deserunt excepturi iusto perferendis ratione, ex fugit id aperiam quasi accusantium temporibus illum vel
      omnis
      quae praesentium? Distinctio, soluta modi nulla recusandae quas repellendus earum possimus voluptate a officia
      maiores
      rem! Impedit tenetur cum cupiditate qui sit repellat omnis dolorum, nihil delectus atque et ipsam, facilis eius
      expedita a maiores. Sed dolores aliquid vel molestiae iure.
    </p>
    <p class="article__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos assumenda, corrupti consequuntur ea quam
      nam
      itaque voluptatum laborum quod quaerat excepturi ullam? Quae explicabo sed ipsa a amet dicta saepe, accusamus
      blanditiis distinctio? Molestias necessitatibus exercitationem et tempore doloribus consequuntur possimus,
      voluptatum
      rerum deserunt excepturi iusto perferendis ratione, ex fugit id aperiam quasi accusantium temporibus illum vel
      omnis
      quae praesentium? Distinctio, soluta modi nulla recusandae quas repellendus earum possimus voluptate a officia
      maiores
      rem! Impedit tenetur cum cupiditate qui sit repellat omnis dolorum, nihil delectus atque et ipsam, facilis eius
      expedita a maiores. Sed dolores aliquid vel molestiae iure.
    </p>
    <img class="article__img" src="./images/demo.jpg" alt="a dog" width="640">
    <button class="article__bnt" type="button"> BUTTON</button>
  </div>
  
</article>