<section class="section-beard">
  <div class="section-beard__title-wrapper">
    <h3 class="section-beard__title">
      На латинском языке “барба” означает “борода”
    </h3>
  </div>

  <ul class="section-beard__list">
    <li class="section-beard__item">
      <picture>
        <source
          srcset="
            ./images/section-beard/beard-1-418-360.jpg    1x,
            ./images/section-beard/beard-1-836-720-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/section-beard/beard-1-tablet.jpg    1x,
            ./images/section-beard/beard-1-tablet-2x.jpg 2x
          "
          media="(min-width:768px) and (max-width: 1199px)"
        />

        <!-- <source
          srcset="./images/John.jpg 1x, ./images/John2x.jpg 2x"
          media="(min-width:1200px)"
        /> -->

        <img
          src="./images/section-beard/beard-1-418-360.jpg"
          alt="процесс стрижки"
          class="section-beard__image"
        />
      </picture>
    </li>
    <li class="section-beard__item">
      <picture>
        <source
          srcset="
            ./images/section-beard/beard-2-418-360.jpg    1x,
            ./images/section-beard/beard-2-836-720-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/section-beard/beard-2-tablet.jpg    1x,
            ./images/section-beard/beard-2-tablet-2x.jpg 2x
          "
          media="(min-width:768px) and (max-width: 1199px)"
        />

        <!-- <source
          srcset="./images/John.jpg 1x, ./images/John2x.jpg 2x"
          media="(min-width:1200px)"
        /> -->

        <img
          src="./images/section-beard/beard-2-418-360.jpg"
          alt="нанесение пены для бритья"
          class="section-beard__image"
        />
      </picture>
    </li>
    <li class="section-beard__item">
      <picture>
        <source
          srcset="
            ./images/section-beard/beard-3-418-360.jpg    1x,
            ./images/section-beard/beard-3-836-720-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/section-beard/beard-3-tablet.jpg    1x,
            ./images/section-beard/beard-3-tablet-2x.jpg 2x
          "
          media="(min-width:768px) and (max-width: 1199px)"
        />

        <!-- <source
          srcset="./images/John.jpg 1x, ./images/John2x.jpg 2x"
          media="(min-width:1200px)"
        /> -->

        <img
          src="./images/section-beard/beard-3-418-360.jpg"
          alt="уходовые процедуры"
          class="section-beard__image"
        />
      </picture>
    </li>
    <li class="section-beard__item">
      <picture>
        <source
          srcset="
            ./images/section-beard/beard-4-418-360.jpg    1x,
            ./images/section-beard/beard-4-836-720-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/section-beard/beard-4-tablet.jpg    1x,
            ./images/section-beard/beard-4-tablet-2x.jpg 2x
          "
          media="(min-width:768px) and (max-width: 1199px)"
        />

        <!-- <source
          srcset="./images/John.jpg 1x, ./images/John2x.jpg 2x"
          media="(min-width:1200px)"
        /> -->

        <img
          src="./images/section-beard/beard-4-418-360.jpg"
          alt="процесс бритья"
          class="section-beard__image"
        />
      </picture>
    </li>
  </ul>
</section>
