<section class="main-problems">
    <div class="container">
        <h2 class="main-problems-title">Главные проблемы учеников <br> на English ВНО, которые <br> мы <span class="main-problems-title-accent">помогаем</span> решить</h2>
    
        <div class="main-problems-card">
            <ul class="main-problems-list">
                <li class="main-problems-item">
                    <span class="main-problems-number">01</span>
                    <p class="main-problems-descr">Обучение в малых командах</p>
                </li>
                <li class="main-problems-item">
                    <span class="main-problems-number">02</span>
                    <p class="main-problems-descr">Визуализированные конспекты</p>
                </li>
                <li class="main-problems-item">
                    <span class="main-problems-number">03</span>
                    <p class="main-problems-descr">Каждое занятие имеет цель и конкретный результат</p>
                </li>
                <li class="main-problems-item">
                    <span class="main-problems-number">04</span>
                    <p class="main-problems-descr">Ревльные результаты преподавателя</p>
                </li>
                <li class="main-problems-item">
                    <span class="main-problems-number">05</span>
                    <p class="main-problems-descr">Прогамма курса соответствует требованиям МОН Украины</p>
                </li>
                <li class="main-problems-item">
                    <span class="main-problems-number">06</span>
                    <p class="main-problems-descr">Набор команд по уровням знаний</p>
                </li>
            </ul>
        </div>
    </div>
</section>