<section class="section_product">
  <div class="container">
    <h2 class="title">
      <span class="title__label">100% natural</span>products
    </h2>
    <ul class="product_list">
      <li class="product_item icecream">
        <h3 class="product_title">ice cream</h3>
        <div class="product_svg-ellipse">
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="product_text">
          Ice cream, frozen dairy food made from cream or butterfat, milk,
          sugar, and flavourings. Frozen custard and French-type ice creams also
          contain eggs. Hundreds of flavours have been devised, the most popular
          being vanilla, chocolate, and strawberry.
        </p>
        <a href="" class="button-arrow">
          <svg class="button-arrow__icon">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </a>
      </li>

      <li class="product_item icecoffee">
        <h3 class="product_title">ice coffee</h3>
        <div class="product_svg-ellipse">
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="product_text">
          Iced coffee is a type of coffee beverage served chilled, brewed
          variously with the fundamental division being cold brew – brewing the
          coffee cold, yielding a different flavor, and not requiring cooling –
          or brewing normally (hot) and then cooling, generally by simply
          pouring over ice or into ice cold milk
        </p>
        <a href="" class="button-arrow">
          <svg class="button-arrow__icon">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </a>
      </li>

      <li class="product_item milkshake">
        <h3 class="product_title">milkshakes</h3>
        <div class="product_svg-ellipse">
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <svg width="6" height="6">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
        </div>
        <p class="product_text">
          Full-service restaurants, ice cream shops, soda fountains, and diners
          usually prepare the shake in a specialized mixer known as a milkshake
          machine. At home, a blender is more commonly used. Milkshakes may be
          made from any flavor of ice cream
        </p>
        <a href="" class="button-arrow">
          <svg class="button-arrow__icon">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
