<section>
    <div class="home">
        <!-- <picture>
            <source srcset="./images/sec03/home-pic5des@1x.jpg 1x,./images/sec03/home-pic5des@2x.jpg 2x" media="(min-width: 1220px)" />
            <source srcset="./images/sec03/home-picntab@1x.jpg 1x,./images/sec03/home-pic5tab@2x.jpg 2x" media="(min-width: 768px)" />
             <source srcset="./images/sec03/home-pic51@1x.jpg 1x,./images/sec03/home-pic5@2x.jpg 2x" media="(max-width: 320px)" />
            <img src="./images/sec03/home-pic51@1x.jpg" alt="разновидность мороженного" />
        </picture>  -->
    </div>

    <!-- <div class="container">

     <div class="fon">
        <p class="fon-linc">
            Nullam viverra  
            consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>
     </div>
        
    </div> -->

</section>

