<section class="section-composition">
    <div class="container animate__animated animate__heartBeat">
        <div class="gallery-box" id="menu-gallery" data-gallery>
            <a href="#gallery" class="close"></a>


        <!-- <div class="gallerys">
            <a href="/images/composition/ice1.jpg">
            <img src="/images/composition/ice1.jpg" alt="">
            </a>

            <a href="/images/composition/ice2.jpg">
                <img src="/images/composition/ice2.jpg" alt="">
            </a>
        </div> -->



            <ul class="gallery">
               <li class="gallery-item">
                <div class="item-thumb image-up">
                    <div class="item-content">
                        <a href="#portfolio-item-1">
                        <img src="/images/composition/ice1.jpg" class="gallery-image" alt="ice-cream-on-the-plate">
                        </a>
                    </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                            <a href="#portfolio-item-2">
                              <img src="/images/composition/ice2.jpg" class="gallery-image" alt="ice-cream-in-the-hand">
                           </a>
                    </div>
                    </div>
                    <div class="item-thumb image-down">
                        <div class="item-content">
                            <a href="#portfolio-item-3">
                        <img src="/images/composition/ice3.jpg" class="gallery-image" alt="ice-cream-on-the-table">
                        </a>
                    </div>
                    </div>
                </li>
                <li class="gallery-item gallery-item-big">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                            <a href="#portfolio-item-4">
                        <img src="/images/composition/ice-big.jpg" class="gallery-image" alt="ice-cream">
                    </a>
                    </div>
                    </div>
                    <div class="item-thumb image-down">
                        <div class="item-content">
                            <a href="#portfolio-item-5">
                        <img src="/images/composition/ice5.jpg" class="gallery-image" alt="girl-with-ice-cream">
                    </a>
                    </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                            <a href="#portfolio-item-6">
                        <img src="/images/composition/ice6.jpg" class="gallery-image" alt="few-ice-creams-on-the-table">
                    </a>
                    </div>
                    </div>
                    <div class="item-thumb image-down">
                        <div class="item-content">
                            <a href="#portfolio-item-7">
                        <img src="/images/composition/ice7.jpg" class="gallery-image" alt="The-hand-holding-ice-cream">
                    </a>
                    </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                            <a href="#portfolio-item-8">
                        <img src="/images/composition/ice8.jpg" class="gallery-image" alt="the-dog-test-ice-cream">
                    </a>
                    </div>
                    </div>
                    <div class="item-thumb image-down">
                        <div class="item-content">
                            <a href="#portfolio-item-9">
                        <img src="/images/composition/ice9.jpg" class="gallery-image" alt="ice-cream-choco">
                    </a>
                    </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="item-thumb image-up">
                        <div class="item-content">
                            <a href="#portfolio-item-10">
                        <img src="/images/composition/ice10.jpg" class="gallery-image" alt="ice-cream-on-the-plate">
                    </a>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<!-- <div class="portfolio">
   
    <div class="portfolio-item">
        <img src="/images/composition/big/pic-14.jpg" alt="ice-cream-on-the-plate">
        <div class="portfolio-desk">
            <h3 class="portfolio-title">This is the title</h3>
            <a href="#portfolio-item-1" class="button-gallery">More info</a>
        </div>
    
    </div>
    
    <div class="portfolio-item">
        <img src="/images/composition/big/promo-hold-orig.jpg" alt="ice-cream-on-the-plate">
        <div class="portfolio-desk">
            <h3 class="portfolio-title">This is the title</h3>
            <a href="" class="button-gallery">More info</a>
        </div>
    
    </div>
    
    <div class="portfolio-item">
        <img src="/images/composition/big/promo-hold-orig.jpg" alt="ice-cream-on-the-plate">
        <div class="portfolio-desk">
            <h3 class="portfolio-title">This is the title</h3>
            <a href="" class="button-gallery">More info</a>
        </div>
    
    </div>
</div> -->
<!-- The portfolio lightboxes-->

<div class="portfolio-lightboxes">
    <!--lightbox 01-->
    <div id="portfolio-item-1" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/pic-14.jpg" alt="">
        <!-- <h3 class="potfolio-lightbox__title">This would be the title inside the lightbox</h3> 
        <p class="potfolio-lightbox__body">This would be the content inside the lightbox</p> -->
    </div>
    </div>
    <!--lightbox 02-->
    <div id="portfolio-item-2" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/promo-hold-orig.jpg" alt="">
            </div>
    </div>
    <!--lightbox 03-->
    <div id="portfolio-item-3" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/ice-cream-photography-10.jpg" alt="">
            </div>
    </div>
    <!--lightbox 04-->
    <div id="portfolio-item-4" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/promo-lay.jpg" alt="">
            </div>
    </div>
    <!--lightbox 05-->
    <div id="portfolio-item-5" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/promo-smile.jpg" alt="">
            </div>
    </div>
    <!--lightbox 06-->
    <div id="portfolio-item-6" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/promo-vac.jpg" alt="">
            </div>
    </div>
    <div id="portfolio-item-7" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/promo-hold.jpg" alt="">
            </div>
    </div>
    <div id="portfolio-item-8" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/perros.jpg" alt="">
            </div>
    </div>
    <div id="portfolio-item-9" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/promo-choco.jpg" alt="">
            </div>
    </div>
    <div id="portfolio-item-10" class="porfolio-lightbox">
        <div class="portfolio-lightbox__content">
            <a href="#gallery" class="close"></a>
            <img src="/images/composition/big/promo-hold2.jpg" alt="">
        </div>
    </div>
</div>

</section>