<section class="section our-products-section">
  <div class="container our-products-container">
    <h2 class="section-heading">
      our <span class="orange-heading">products</span>
    </h2>
    <input type="radio" name="dot" id="one" checked />
    <input type="radio" name="dot" id="two" />
    <input type="radio" name="dot" id="three" />
    <input type="radio" name="dot" id="four" />
    <input type="radio" name="dot" id="five" />
    <input type="radio" name="dot" id="six" />
    <input type="radio" name="dot" id="seven" />
    <input type="radio" name="dot" id="eight" />
    <div class="cards-wrapper">
      <ul class="chocolate-cards">
        <li class="chocolate-cards-item">
          <div class="card-content">
            <img
              srcset="
                images\mobile\chocolate_orange-1x.jpg 1x,
                images\mobile\chocolate_orange-2x.jpg 2x
              "
              src="images\mobile\chocolate_orange-1x.jpg"
              alt="Dark Chocolate Orange"
            />
            <div class="chocolate-tablet-description">
              <p class="chocolate-flavour">orange</p>
              <p class="chocolate-type">Dark chocolate</p>
              <div class="price-wrapper">
                <p class="chocolate-price">45 UAH</p>
              </div>
            </div>
          </div>
        </li>

        <li class="chocolate-cards-item">
          <div class="card-content">
            <img
              srcset="
                images\mobile\chocolate_apple-cranberry-1x.jpg 1x,
                images\mobile\chocolate_apple-cranberry-2x.jpg 2x
              "
              src="images\mobile\chocolate_apple-cranberry-1x.jpg"
              alt="Milk chocolate Apple&Cranberry"
            />
            <div class="chocolate-tablet-description">
              <p class="chocolate-flavour">APPLE&CRANBERRY</p>
              <p class="chocolate-type">Milk chocolate</p>
              <div class="price-wrapper">
                <p class="chocolate-price">50 UAH</p>
              </div>
            </div>
          </div>
        </li>

        <li class="chocolate-cards-item">
          <div class="card-content">
            <img
              srcset="
                images\mobile\chocolate_lime-sea-salt-1x.jpg 1x,
                images\mobile\chocolate_lime-sea-salt-2x.jpg 2x
              "
              src="images\mobile\chocolate_lime-sea-salt-1x.jpg"
              alt="Dark Chocolate Lime&Sea Salt"
            />
            <div class="chocolate-tablet-description">
              <p class="chocolate-flavour">lime&sea salt</p>
              <p class="chocolate-type">Dark chocolate</p>
              <div class="price-wrapper">
                <p class="chocolate-price">66 UAH</p>
              </div>
            </div>
          </div>
        </li>

        <li class="chocolate-cards-item">
          <div class="card-content">
            <img
              srcset="
                images\mobile\chocolate_pineapple-1x.jpg 1x,
                images\mobile\chocolate_pineapple-2x.jpg 2x
              "
              src="images\mobile\chocolate_pineapple-1x.jpg"
              alt="Dark Chocolate Pineapple"
            />
            <div class="chocolate-tablet-description">
              <p class="chocolate-flavour">pineapple</p>
              <p class="chocolate-type">Dark chocolate</p>
              <div class="price-wrapper">
                <p class="chocolate-price">54 UAH</p>
              </div>
            </div>
          </div>
        </li>

        <li class="chocolate-cards-item">
          <div class="card-content">
            <img
              srcset="
                images\mobile\chocolate_classic-1x.jpg 1x,
                images\mobile\chocolate_classic-2x.jpg 2x
              "
              src="images\mobile\chocolate_classic-1x.jpg"
              alt="Milk Chocolate Classic"
            />
            <div class="chocolate-tablet-description">
              <p class="chocolate-flavour">classic</p>
              <p class="chocolate-type">Milk chocolate</p>
              <div class="price-wrapper">
                <p class="chocolate-price">45 UAH</p>
              </div>
            </div>
          </div>
        </li>

        <li class="chocolate-cards-item">
          <div class="card-content">
            <img
              srcset="
                images\mobile\chocolate_honey-1x.jpg 1x,
                images\mobile\chocolate_honey-2x.jpg 2x
              "
              src="images\mobile\chocolate_honey-1x.jpg"
              alt="Milk Chocolate Honey"
            />
            <div class="chocolate-tablet-description">
              <p class="chocolate-flavour">honey</p>
              <p class="chocolate-type">Milk chocolate</p>
              <div class="price-wrapper">
                <p class="chocolate-price">50 UAH</p>
              </div>
            </div>
          </div>
        </li>

        <li class="chocolate-cards-item">
          <div class="card-content">
            <img
              srcset="
                images\mobile\chocolate_roasted-fruits-1x.jpg 1x,
                images\mobile\chocolate_roasted-fruits-2x.jpg 2x
              "
              src="images\mobile\chocolate_roasted-fruits-1x.jpg"
              alt="Dark Chocolate Roasted Fruits"
            />
            <div class="chocolate-tablet-description">
              <p class="chocolate-flavour">Roasted Fruits</p>
              <p class="chocolate-type">Dark chocolate</p>
              <div class="price-wrapper">
                <p class="chocolate-price">66 UAH</p>
              </div>
            </div>
          </div>
        </li>

        <li class="chocolate-cards-item">
          <div class="card-content">
            <img
              srcset="
                images\mobile\chocolate_classic2-1x.jpg 1x,
                images\mobile\chocolate_classic2-2x.jpg 2x
              "
              src="images\mobile\chocolate_classic2-1x.jpg"
              alt="Milk Chocolate Classic"
            />
            <div class="chocolate-tablet-description">
              <p class="chocolate-flavour">Classic</p>
              <p class="chocolate-type">White chocolate</p>
              <div class="price-wrapper">
                <p class="chocolate-price">54 UAH</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="button">
      <label for="one" class="one active"></label>
      <label for="two" class="two"></label>
      <label for="three" class="three"></label>
      <label for="four" class="four"></label>
      <label for="five" class="five"></label>
      <label for="six" class="six"></label>
      <label for="seven" class="seven"></label>
      <label for="eight" class="eight"></label>
    </div>
  </div>
</section>
