<section>
    <div class="home"></div>
    <div class="const">
        <!-- слайдер начало -->
        <div class="your-class" >
             <div class="testimo">
                    <img src="./images/sec03/testimo2des@1x.png" alt="девушка"/>
             </div>
            <!-- <div class="testimo">
                <img src="./images/sec03/testimo3des@1x.png" alt="девушка" />
            </div>
            <div class="testimo">
                <img src="./images/sec03/testimodes@1x.png" alt="девушка" />
            </div> -->
        </div>   
        <!-- слайдер конец -->

            <ul class="fon">
                <li>
                     <svg class="const-item">
                         <use width="54" height="40" href="./images/sec03/galca1.svg#icon-galca"></use>
                     </svg>
                </li>
                <li>
                    <p class="fon-linc line">Nullam viverra</p>
                                  
                <li>
                    <p class="fon-linc line">consectetuer. Quisque</p>
                </li>
                <li>
                    <p class="fon-linc line">cursus et, porttitor risus.</p>
                </li>
                <li>
                    <p class="fon-linc line">Aliquam sem. In hendrerit</p>
                </li>
                <li>
                    <p class="fon-linc line">nulla quam nunc,</p>
                </li>
                <li>
                    <p class="fon-linc line">accumsan congue. Lorem</p>
                </li>
                <li>
                    <p class="fon-linc line">ipsum primis in nibh vel</p>
                </li>
                <li><p class="fon-linc line">risus.</p></li>
            </ul>

            <ul class="fon-2">
                <li>
                    <svg class="const-item">
                        <use width="54" height="40" href="./images/sec03/galca1.svg#icon-galca"></use>
                    </svg>
                </li>
                <li>
                    <p class="fon-linc line">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.</p>
                </li>
            
                <li>
                    <p class="fon-linc line">Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.</p>
                </li>
            
                <li>
                    <p class="fon-linc line"> Lorem ipsum primis in nibh vel risus.</p>
                </li>
            
            </ul>

            <ul class="fon-3">
                <li>
                    <svg class="const-item">
                        <use width="54" height="40" href="./images/sec03/galca1.svg#icon-galca"></use>
                    </svg>
                </li>
                <li>
                    <p class="fon-linc line">Nullam viverra consectetuer. Quisque cursus et, porttitor risus Aliquam sem. In hendrerit</p>
                </li>
                <li>
                    <p class="fon-linc line">nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </li>
            </ul>

          <div class="item-red">
              <ul class="ul-item-red">
                  <li class="li-item-red"></li>
                  <li class="li-item-red"></li>
                  <li class="li-item-red"></li>
              </ul>
          </div>

           <P class="const-name">Emiiy,Los Angeles</P>
        <ul class="svg-dom">
           <li class="svg-dom-link">
                    <a class="svg-dom-item" href="">
                            <svg class="dom-item">
                                <use href="./images/sec03/symbol-defsdom.svg#icon-dom"></use>
                            </svg>
                    </a>
           </li>
           <li class="svg-dom-link">
                    <a class="svg-dom-item" href="">
                        <svg class="dom-item">
                            <use href="./images/sec03/symbol-defsdom.svg#icon-dom"></use>
                        </svg>
                    </a>
           </li>
           <li class="svg-dom-link">
                    <a class="svg-dom-item" href="">
                        <svg class="dom-item">
                            <use href="./images/sec03/symbol-defsdom.svg#icon-dom"></use>
                        </svg>
                    </a>
           </li>

        </ul>
     </div> 
</section>

