<section class="section section-gallery">
	<div class="container"> 
		<p class="gallery-slogan">На латинском языке “барба” означает “борода”</p>
		<h2 class="visually-hidden">Галерея работ</h2>
		<ul class="gallery-list">
			<li class="gallery-list-item">
				<div class="gallery-image-thumb">
					<!-- <img src="../images/gallery/1.jpg" alt=""> -->
					<!-- <picture>
						<source srcset="../images/gallery/1.webp 1x, ../images/gallery/1@2x.webp 2x, ../images/gallery/1@3x.webp 3x," 
						type="image/webp">
						<img class="gallery-image" 
						srcset="../images/gallery/1.jpg 1x, ../images/gallery/1@2x.jpg 2x, ../images/gallery/1@3x.jpg 3x," 
						src="../images/gallery/1.jpg" alt="мастер стрижет клиента" width="418" height="360">
					</picture> -->
				</div>
			</li>
	</div>
</section>