<section class="chart">
  <div class="chart-fivedays">
    <div class="hide-chart-button">
      <p class="hide-chart-button__p">Hide Chart</p>
      <button class="hide-chart-button__btn">
        <svg height="28" width="28" class="hide-chart-button__icon">
          <use href="./images/sprite.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </div>

    <div class="chart-wrapper">
      <div class="chart-scheme">
        <canvas id="weatherChart" width="1000" height="330"></canvas>
      </div>
    </div>
  </div>
</section>
