<section class="container section-pictures">
  <div class="pictures-container">
    <div class="img-one">
      <picture>
        <source
          srcset="./images/pictures/green-ice-1200.jpg 1x"
          media="(min-width: 1200px)"
        />
        <img
          class="pictures"
          src="./images/pictures/green-ice-1200.jpg"
          alt="green ice"
        />
      </picture>
    </div>
    <div class="img-one">
      <picture>
        <source
          srcset="
            ./images/pictures/webp/scream-1200.webp    1x,
            ./images/pictures/webp/scream-1200@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/scream-1200.jpg    1x,
            ./images/pictures/scream-1200@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures cream"
          src="./images/pictures/scream-1200.jpg"
          alt="cream"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/pictures/webp/rose-ice-1200.webp    1x,
            ./images/pictures/webp/rose-ice-1200@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/rose-ice-1200.jpg    1x,
            ./images/pictures/rose-ice-1200@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures"
          src="./images/pictures/rose-ice-1200.jpg"
          alt="rose ice"
        />
      </picture>
    </div>
    <div class="img-one">
      <picture>
        <source
          srcset="
            ./images/pictures/webp/cream-1200.webp    1x,
            ./images/pictures/webp/cream-1200@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/cream-1200.jpg    1x,
            ./images/pictures/cream-1200@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures-one cream"
          src="./images/pictures/cream-1200.jpg"
          alt="cream"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/pictures/webp/girl-1200.webp    1x,
            ./images/pictures/webp/girl-1200@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/girl-1200.jpg    1x,
            ./images/pictures/girl-1200@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures"
          src="./images/pictures/girl-1200.jpg"
          alt="girl smile"
        />
      </picture>
    </div>
    <div class="img-one">
      <picture>
        <source
          srcset="
            ./images/pictures/webp/small-glass-1200.webp    1x,
            ./images/pictures/webp/small-glass-1200@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/small-glass-1200.jpg    1x,
            ./images/pictures/small-glass-1200@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures glass"
          src="./images/pictures/small-glass-1200.jpg"
          alt="small glass"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/pictures/webp/Festival-1200.webp    1x,
            ./images/pictures/webp/Festival-12002@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/Festival-1200.jpg     1x,
            ./images/pictures/Festival-12002@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures"
          src="./images/pictures/Festival-1200.jpg"
          alt="Ice cream"
        />
      </picture>
    </div>
    <div class="img-one">
      <picture>
        <source
          srcset="
            ./images/pictures/webp/dog-1200.webp    1x,
            ./images/pictures/webp/dog-1200@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/dog-1200.jpg    1x,
            ./images/pictures/dog-1200@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures dog"
          src="./images/pictures/dog-1200.jpg"
          alt="dog and icecream"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/pictures/webp/glass-1200.webp    1x,
            ./images/pictures/webp/glass-1200@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/glass-1200.jpg    1x,
            ./images/pictures/glass-1200@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures milkshake"
          src="./images/pictures/glass-1200.jpg"
          alt="glass milkshake"
        />
      </picture>
    </div>
    <div class="img-one">
      <picture>
        <source
          srcset="
            ./images/pictures/webp/unnamed-1200.webp    1x,
            ./images/pictures/webp/unnamed-1200@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/pictures/unnamed-1200.png    1x,
            ./images/pictures/unnamed-1200@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pictures"
          src="./images/pictures/unnamed-1200.png"
          alt="yellow ice"
        />
      </picture>
    </div>
  </div>
</section>
