<section class="search-location">
  <form class="search-location__form js-form">
    <svg class="search-location__svg" width="20px" height="20px">
      <use xlink:href="./images/sprite.svg#icon-icon-location"></use>
    </svg>
    <input type="text" name="query" placeholder="Enter the city" />
    <button
      type="submit"
      class="search-location__form-btn append"
      id="js-btnAdd"
    >
      <svg width="20px" height="20px">
        <use xlink:href="./images/sprite.svg#icon-Star-1"></use>
      </svg>
    </button>
  </form>
  <div class="search-location__slider">
    <button class="search-location__slider-btnPrev js-btnPrev prev">
      <svg width="12px" height="12px">
        <use xlink:href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <ul class="search-location__slider-list js-slider-list"></ul>
    <button class="search-location__slider-btnNext js-btnNext next">
      <svg width="22px" height="22px">
        <use xlink:href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
  </div>
</section>
