<div id="services" class="container">
   <section id="services" class="section">
      <p id="services" class="lineWithText" >Проведи время в компании лучших мастеров</p>
      <h2 id="services" class="services-title">Услуги и цены</h2>
      <ul>
         <li>
            <div id="services" class="product">Мужская стрижка</div>
            <div id="services" class="price"> от 300 грн.</div>
         </li>
         <li>
            <div id="services" class="product">Стрижка бороды</div>
            <div id="services" class="price">от 200 грн</div>
         </li>
         <li>
            <div id="services" class="product">Стрижка усов</div>
            <div id="services" class="price">от 200 грн</div>
         </li>
         <li>
            <div id="services" class="product">Бритье опасной бритвой</div>
            <div id="services" class="price">от 200 грн</div>
         </li>
      </ul>
      <ul>
         <li>
            <div id="services" class="product">Cтрижка у стажера</div>
            <div id="services" class="price">от 50 грн.</div>
         </li>
         <li>
            <div id="services" class="product">Стрижка под насадку</div>
            <div id="services" class="price">от 200 грн</div>
         </li>
         <li>
            <div id="services" class="product">Детская стрижка (до 12 лет)</div>
            <div id="services" class="price"> от 300 грн.</div>
         </li>
         <li>
            <div id="services" class="product">Камуфлирование седины</div>
            <div id="services" class="price">от 200 грн.</div>
         </li>
      </ul>

      <button id="services" class="btn" type=“button”>онлайн-запись</button>
   </section>
</div>