<section class="section-teacher">
  <div class="container">
    <h2 class="section-teacher-title">Преподаватель</h2>
    <!-- <picture>
      <source
        srcset="
          ./images/optimaze/team3desktop.jpg  1x,
          ./images/optimaze/team3desktop@.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/optimaze/team3tablet.jpg   1x,
          ./images/optimaze/team3tablet2@.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/optimaze/team3phone.jpg   1x,
          ./images/optimaze/team3phone2@.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/optimaze/team3desktop.jpg"
        alt="Портрет Николай Тарасова"
      />
    </picture> -->
    <h3 class="teacher-name">Елена Морева</h3>
    <ul class="teacher-achievements-list list">
      <li class="teacher-achievements-item">
        <p class="teacher-achievements-content">
          Опыт подготовки учеников к ВНО - 6 лет
        </p>
      </li>
      <li class="teacher-achievements-item">
        <p class="teacher-achievements-content">
          Собственный результат сдачи ВНО - 197 баллов 2 года подряд
        </p>
      </li>
      <li class="teacher-achievements-item">
        <p class="teacher-achievements-content">
          Сдала на отлично международный аналог ВНО - Кембриджский PET
          (Preliminary English Test)
        </p>
      </li>
      <p class="teacher-education-part">
        Высшее образование получила в Институте международных отношений НАУ по
        специальности переводчик-аналитик.
      </p>
      <p class="teacher-education-part">
        В свободное время проходит курсы от лучших университетов мира по
        эффективному преподаванию и методикам написания сочинений.
      </p>
      <p class="teacher-education-part">
        В числе пройденных: English Grammar and Essay Writing (Berkeley),
        English Grammar&Style (The University of Queesland), How to Write an
        Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
        Teaching (GEMS education), Powerful Tools for Teaching and Learning
        (University of Houston).
      </p>
      <a
        href="#"
        class="teacher-education-part teacher-education-link animation"
        aria-label="Ссылка на сайт высшего учебного заведения"
        >Cambrige English Entry Level Certificate</a
      >
    </ul>
  </div>
</section>
