<section class="feedback-page">
    <div class="container-feedback">
        <h2>Отзывы выпускников</h2>

        <ul class="slider">
            <li class="slider-item">
                <div class="slider-foto">
                    <img src="./images/feedback/1-@3x.jpg" width="150" alt="Фото Ученика">
                    <a class="networks-link">
                        <svg class="networks-svg" width='30' height="30">
                            <use href="./images/feedback/sprite.svg#vk"></use>
                        </svg>
                    </a>

                </div>
                <div class="slider-text">
                    <h3 class="slider-name">Тоня Кучеровская</h3>
                    <p class="about">Выпуск 2015-го года, Національний університет
                        <br>біоресурсів і природокористування
                        України</p>
                    <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                        зовсім пустий
                        словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                        що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                        страх зробити найменшу помилку. Зараз
                        я можу похизуватись тим, що я студен
                        <span id="dots">...</span>
                        <span id="more">Зараз
                            я можу похизуватись тим, що я студен </span>
                        <button id="btn" onclick="readMore()">Читать
                            далее</button>

                    </p>

                </div>
            </li>

            <li class="slider-item">

                <div class="slider-foto">
                    <img src="./images/feedback/2-@3x.jpg" width="150" alt="Фото Ученика">
                    <a class="networks-link">
                        <svg class="networks-svg" width='30' height="30">
                            <use href="./images/feedback/sprite.svg#vk"></use>
                        </svg>
                    </a>

                </div>
                <div class="slider-text">
                    <h3 class="slider-name">Тоня Кучеровская</h3>
                    <p class="about">Выпуск 2015-го года, Національний університет
                        <br>біоресурсів і природокористування
                        України</p>
                    <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                        зовсім пустий
                        словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                        що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                        страх зробити найменшу помилку. Зараз
                        я можу похизуватись тим, що я студен
                        <span id="dots">...</span>
                        <span id="more">Зараз
                            я можу похизуватись тим, що я студен </span>
                        <button id="btn" onclick="readMore()">Читать
                            далее </button>

                    </p>

                </div>
            </li>
            <li class="slider-item">
                <div class="slider-foto">
                    <img src="./images/feedback/3-@3x.jpg" width="150" alt="Фото Ученика">
                    <a class="networks-link">
                        <svg class="networks-svg" width='30' height="30">
                            <use href="./images/feedback/sprite.svg#vk"></use>
                        </svg>
                    </a>

                </div>
                <div class="slider-text">
                    <h3 class="slider-name">Тоня Кучеровская</h3>
                    <p class="about">Выпуск 2015-го года, Національний університет
                        <br>біоресурсів і природокористування
                        України</p>
                    <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                        зовсім пустий
                        словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                        що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                        страх зробити найменшу помилку. Зараз
                        я можу похизуватись тим, що я студен
                        <span id="dots">...</span>
                        <span id="more">Зараз
                            я можу похизуватись тим, що я студен </span>
                        <button id="btn" onclick="readMore()">Читать
                            далее</button>

                    </p>

                </div>
            </li>
            <li class="slider-item">
                <div class="slider-foto">
                    <img src="./images/feedback/4-@3x.jpg" width="150" alt="Фото Ученика">
                    <a class="networks-link">
                        <svg class="networks-svg" width='30' height="30">
                            <use href="./images/feedback/sprite.svg#vk"></use>
                        </svg>
                    </a>

                </div>
                <div class="slider-text">
                    <h3 class="slider-name">Тоня Кучеровская</h3>
                    <p class="about">Выпуск 2015-го года, Національний університет
                        <br>біоресурсів і природокористування
                        України</p>
                    <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                        зовсім пустий
                        словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                        що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                        страх зробити найменшу помилку. Зараз
                        я можу похизуватись тим, що я студен
                        <span id="dots">...</span>
                        <span id="more">Зараз
                            я можу похизуватись тим, що я студен </span>
                        <button id="btn" onclick="readMore()">Читать
                            далее</button>

                    </p>
                </div>
            </li>
            <li class="slider-item">
                <div class="slider-foto">
                    <img src="./images/feedback/5-@3x.jpg" width="150" alt="Фото Ученика">
                    <a class="networks-link">
                        <svg class="networks-svg" width='30' height="30">
                            <use href="./images/feedback/sprite.svg#vk"></use>
                        </svg>
                    </a>

                </div>
                <div class="slider-text">
                    <h3 class="slider-name">Тоня Кучеровская</h3>
                    <p class="about">Выпуск 2015-го года, Національний університет
                        <br>біоресурсів і природокористування
                        України</p>
                    <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                        зовсім пустий
                        словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                        що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                        страх зробити найменшу помилку. Зараз
                        я можу похизуватись тим, що я студен
                        <span id="dots">...</span>
                        <span id="more">Зараз
                            я можу похизуватись тим, що я студен </span>
                        <button id="btn" onclick="readMore()">Читать
                            далее</button>

                    </p>

                </div>
            </li>
            <li class="slider-item">
                <div class="slider-foto">
                    <img src="./images/feedback/6-@3x.jpg" width="150" alt="Фото Ученика">
                    <a class="networks-link">
                        <svg class="networks-svg" width='30' height="30">
                            <use href="./images/feedback/sprite.svg#vk"></use>
                        </svg>
                    </a>

                </div>
                <div class="slider-text">
                    <h3 class="slider-name">Тоня Кучеровская</h3>
                    <p class="about">Выпуск 2015-го года, Національний університет
                        <br>біоресурсів і природокористування
                        України</p>
                    <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                        зовсім пустий
                        словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                        що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                        страх зробити найменшу помилку. Зараз
                        я можу похизуватись тим, що я студен
                        <span id="dots">...</span>
                        <span id="more">Зараз
                            я можу похизуватись тим, що я студен </span>
                        <button id="btn" onclick="readMore()">Читать
                            далее</button>

                    </p>

                </div>
            </li>
            <li class="slider-item">
                <div class="slider-foto">
                    <img src="./images/feedback/7-@3x.jpg" width="150" alt="Фото Ученика">
                    <a class="networks-link">
                        <svg class="networks-svg" width='30' height="30">
                            <use href="./images/feedback/sprite.svg#vk"></use>
                        </svg>
                    </a>

                </div>
                <div class="slider-text">
                    <h3 class="slider-name">Тоня Кучеровская</h3>
                    <p class="about">Выпуск 2015-го года, Національний університет
                        <br>біоресурсів і природокористування
                        України</p>
                    <p class="comment">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                        зовсім пустий
                        словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
                        що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                        страх зробити найменшу помилку. Зараз
                        я можу похизуватись тим, що я студен
                        <span id="dots">...</span>
                        <span id="more">Зараз
                            я можу похизуватись тим, що я студен </span>
                        <button id="btn" onclick="readMore()">Читать
                            далее</button>

                    </p>

                </div>
            </li>

        </ul>


    </div>

    <script src="./js/readmore.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/script.js"></script>


</section>