<section class="social">
    <h2 class="social__title">
        Ссылки на наши соцсети
    </h2>
    <ul class="social__list">
        <li class="social__item">
          <a href="" class="social__link">Instagram</a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">Twitter
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            Linkedin
          </a>
        </li>
        <li class="social__item">
          <a href="" class="social__link">
            Facebook
          </a>
        </li>
      </ul>
</section>