<section class="section-beard">
  <h3 class="section-beard__title">
    На латинском языке “барба” означает “борода”
  </h3>

  <picture>
    <source
      srcset="
        ./images/section-beard/beard-1-418-360.jpg      1x,
        ./images/section-beard/beard-1-836-720-2x.jpg   2x,
        ./images/section-beard/beard-1-1254-1080-3x.jpg 3x
      "
      media="(max-width: 767px)"
    />

    <!-- <source
      srcset="./images/John-tab.jpg 1x, ./images/John-tab2x.jpg 2x"
      media="(min-width:768px) and (max-width: 1279px)"
    />

    <source
      srcset="./images/John.jpg 1x, ./images/John2x.jpg 2x"
      media="(min-width:1280px)"
    /> -->

    <img
      src="./images/section-beard/beard-1-418-360.jpg"
      alt="процесс стрижки"
      class="section-beard__image"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/section-beard/beard-2-418-360.jpg      1x,
        ./images/section-beard/beard-2-836-720-2x.jpg   2x,
        ./images/section-beard/beard-2-1254-1080-3x.jpg 3x
      "
      media="(max-width: 767px)"
    />

    <!-- <source
      srcset="./images/John-tab.jpg 1x, ./images/John-tab2x.jpg 2x"
      media="(min-width:768px) and (max-width: 1279px)"
    />

    <source
      srcset="./images/John.jpg 1x, ./images/John2x.jpg 2x"
      media="(min-width:1280px)"
    /> -->

    <img
      src="./images/section-beard/beard-2-418-360.jpg"
      alt="нанесение пены для бритья"
      class="section-beard__image"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/section-beard/beard-3-418-360.jpg      1x,
        ./images/section-beard/beard-3-836-720-2x.jpg   2x,
        ./images/section-beard/beard-3-1254-1080-3x.jpg 3x
      "
      media="(max-width: 767px)"
    />

    <!-- <source
      srcset="./images/John-tab.jpg 1x, ./images/John-tab2x.jpg 2x"
      media="(min-width:768px) and (max-width: 1279px)"
    />

    <source
      srcset="./images/John.jpg 1x, ./images/John2x.jpg 2x"
      media="(min-width:1280px)"
    /> -->

    <img
      src="./images/section-beard/beard-3-418-360.jpg"
      alt="уходовые процедуры"
      class="section-beard__image"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/section-beard/beard-4-418-360.jpg      1x,
        ./images/section-beard/beard-4-836-720-2x.jpg   2x,
        ./images/section-beard/beard-4-1254-1080-3x.jpg 3x
      "
      media="(max-width: 767px)"
    />

    <!-- <source
      srcset="./images/John-tab.jpg 1x, ./images/John-tab2x.jpg 2x"
      media="(min-width:768px) and (max-width: 1279px)"
    />

    <source
      srcset="./images/John.jpg 1x, ./images/John2x.jpg 2x"
      media="(min-width:1280px)"
    /> -->

    <img
      src="./images/section-beard/beard-4-418-360.jpg"
      alt="процесс бритья"
      class="section-beard__image"
    />
  </picture>
</section>
