<section class="section">
  <div class="container how-its-made-container">
    <h2 class="section-heading">
      how it's <span class="orange-heading">made?</span>
    </h2>

    <div class="video-column">
      <video
        width="600"
        height="400"
        poster="images\mobile\imagine_pt_test.png"
        muted
        controls
      >
        <source src="images\chocolote_spoler-2d8faa6d.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="text-column">
      <h3 class="how-its-made-subheading">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="recipe-steps">
        <li class="recipe-steps-items">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="recipe-steps-items">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="recipe-steps-items">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="recipe-steps-items">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="recipe-steps-items">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
