<section>
    <h2>Главные проблемы учеников на English ВНО, которые мы <span>помогаем</span> решить</h2>
    
    <ul>
        <li>
            <h3>01</h3>
            <p>Обучение в малых командах</p>
        </li>
        <li>
            <h3>02</h3>
            <p>Визуализированные конспекты</p>
        </li>
        <li>
            <h3>03</h3>
            <p>Каждое занятие имеет цель и конкретный результат</p>
        </li>
        <li>
            <h3>04</h3>
            <p>Ревльные результаты преподавателя</p>
        </li>
        <li>
            <h3>05</h3>
            <p>Прогамма курса соответствует требованиям МОН Украины</p>
        </li>
        <li>
            <h3>06</h3>
            <p>Набор команд по уровням знаний</p>
        </li>
    </ul>
</section>