<section class="section pricelist">
  <div class="container pricelist-container">
    <h3 class="text">
      Проведи время в компании лучших мастеров
    </h3>
    <h2 class="title">Услуги и цены</h2>
    <div class="first-pricebox box">
      <ul class="list list-pricelist">
        <li class="item">
          <p class="text">Мужская стрижка</p>
          <span class="text text-line"></span>
          <p class="text">от 300 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка бороды</p>
          <span class="text text-line"></span>
          <p class="text price">от 200 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка усов</p>
          <span class="text text-line"></span>
          <p class="text price">от 300 грн.</p>
        </li>
        <li class="item">
          <p class="text">Бритье опасной бритвой</p>
          <span class="text text-line"></span>
          <p class="text price">от 300 грн.</p>
        </li>
      </ul>
    </div>
    <div class="second-pricebox box">
      <ul class="list list-pricelist">
        <li class="item">
          <p class="text">Cтрижка у стажера</p>
          <span class="text text-line"></span>
          <p class="text price">от 50 грн.</p>
        </li>
        <li class="item">
          <p class="text">Стрижка под насадку</p>
          <span class="text text-line"></span>
          <p class="text price">от 200 грн.</p>
        </li>
        <li class="item">
          <p class="text">Детская стрижка (до 12 лет)</p>
          <span class="text text-line"></span>
          <p class="text price">от 300 грн.</p>
        </li>
        <li class="item">
          <p class="text">Камуфлирование седины</p>
          <span class="text text-line"></span>
          <p class="text price">от 200 грн.</p>
        </li>
      </ul>
    </div>
    <button class="button" data-modal-open>ОНЛАЙН-ЗАПИСЬ</button>
  </div>
</section>
