<!-- Услуги и цены -->
<section class="services">
  <div class="container">
    <div class="services-flatline"></div>
    <h3 class="services-h3">Проведи время в компании лучших мастеров</h3>
    <h2 class="services-title">Услуги и цены</h2>
    <div class="services-main-list">
      <ul class="services-list">
        <li class="services-item">
          <p>Мужская стрижка от 300 грн.</p>
        </li>
        <li class="services-item">
          <p>Стрижка бороды от 200 грн.</p>
        </li>
        <li class="services-item">
          <p>Стрижка усов от 200 грн.</p>
        </li>
        <li class="services-item">
          <p>Бритье опасной бритвой от 200 грн.</p>
        </li>
      </ul>
      <ul class="services-list">
        <li class="services-item">
          <p>Cтрижка у стажера от 50 грн.</p>
        </li>
        <li class="services-item">
          <p>Стрижка под насадку от 200 грн.</p>
        </li>
        <li class="services-item">
          <p>Детская стрижка (до 12 лет) от 300 грн.</p>
        </li>
        <li class="services-item">
          <p>Камуфлирование седины от 200 грн.</p>
        </li>
      </ul>
    </div>
    <button class="button-services" data-modal-open>ОНЛАЙН-ЗАПИСЬ</button>
  </div>
</section>
