<div id="services" class="container services">
   <section id="services" class="section services">
      <p id="services" class="text" >Проведи время в компании лучших мастеров</p>
      <h2 id="services" class="services-title">Услуги и цены</h2>
      <div class="ul-fone">
      <ul class="services-ul-first">
         <li class="item">
            <div id="services" class="product">Мужская стрижка</div>
            <div class="tire" ></div>
            <div id="services" class="price"> от 300 грн.</div>
         </li>
         <li class="item">
            <div id="services" class="product">Стрижка бороды</div>
            <div id="services" class="price">от 200 грн.</div>
         </li>
         <li class="item">
            <div id="services" class="product">Стрижка усов</div>
            <div id="services" class="price">от 200 грн.</div>
         </li>
         <li class="item">
            <div id="services" class="product">Бритье опасной бритвой</div>
            <div id="services" class="price">от 200 грн.</div>
         </li>
      </ul>
      <ul class="services-ul-second">
         <li class="item">
            <div id="services" class="product">Cтрижка у стажера</div>
            <div id="services" class="price">от 50 грн.</div>
         </li>
         <li class="item">
            <div id="services" class="product">Стрижка под насадку</div>
            <div id="services" class="price">от 200 грн.</div>
         </li>
         <li class="item">
            <div id="services" class="product">Детская стрижка (до 12 лет)</div>
            <div id="services" class="price"> от 300 грн.</div>
         </li>
         <li class="item">
            <div id="services" class="product">Камуфлирование седины</div>
            <div id="services" class="price">от 200 грн.</div>
         </li>
      </ul>
   </div>

      <button id="services" class="btn" type=“button”>онлайн-запись</button>
   </section>
</div>


