<section class="location">
  <div class="location__container">
    <h2 class="location__title visually-hidden">Locations</h2>
    <ul class="location__list">
      <li class="location__item">
        <p class="location__type">CAFE</p>
        <p class="location__town">Chicago</p>
        <p class="location__description"></p>
        <ul class="location__schedule">
          <li class="location__schedule-item">
            <span class="location__workdays">Monday - Friday</span>
            <span><time>08:00</time> AM - <time>16:00</time> PM</span>
          </li>
          <li class="location__schedule-item">
            <span class="location__workdays">Saturday - Sunday</span>
            <span><time>08:00</time> AM - <time>16:00</time> PM</span>
          </li>
          <adress class="location__contacts">
            <ul>
              <li class="location__link">
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li class="location__link">
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </adress>
        </ul>
      </li>
      <li class="location__item">
        <p class="location__type">FOODTRUCK</p>
        <p class="location__town">Los Angeles</p>
        <p class="location__description"></p>
        <ul class="location__schedule">
          <li class="location__schedule-item">
            <span class="location__workdays">Monday - Friday</span>
            <span><time>08:00</time> AM - <time>16:00</time> PM</span>
          </li>
          <li class="location__schedule-item">
            <span class="location__workdays">Saturday - Sunday</span>
            <span><time>08:00</time> AM - <time>16:00</time> PM</span>
          </li>
          <adress class="location__contacts">
            <ul>
              <li class="location__link">
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li class="location__link">
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </adress>
        </ul>
      </li>
      <li class="location__item">
        <p class="location__type">CAFE</p>
        <p class="location__town">New York</p>
        <p class="location__description"></p>
        <ul class="location__schedule">
          <li class="location__schedule-item">
            <span class="location__workdays">Monday - Friday</span>
            <span><time>08:00</time> AM - <time>16:00</time> PM</span>
          </li>
          <li class="location__schedule-item">
            <span class="location__workdays">Saturday - Sunday</span>
            <span><time>08:00</time> AM - <time>16:00</time> PM</span>
          </li>
          <adress class="location__contacts">
            <ul>
              <li class="location__link">
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li class="location__link">
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </adress>
        </ul>
      </li>
    </ul>
    <ul class="location__buttons">
      <li class="location__button">
        <button class="location__button-red">
          <span class="location__button-title"
            >Our Locations
            <svg class="location__button-icon"></svg>
          </span>
        </button>
      </li>
      <li class="location__button">
        <button class="location__button-white">
          <span class="location__button-title"
            >Franchise
            <svg class="location__button-icon"></svg>
          </span>
        </button>
      </li>
    </ul>
  </div>
</section>
