<section class="section-tradition">
    <div class="container">
        <p class="tradition-subtitle">tradition and love</p>

        <h2 class="tradition-title">how it’s made?</h2>

        <div class="tradition-first-box">
            <img class="tradition-img"
                srcset="../src/images/tradition/home-pic4.png 1x, ../src/images/tradition/home-pic4@2x.png 2x"
                src="../src/images/tradition/home-pic4.png" alt="cow, milk" />
            <div class="tradition-text-box">
                <p class="tradition-text tradition-text--accent">Fusce ut velit laoreet, tempus arcu eu, molestie
                    tortor. Nam vel
                    justo
                    cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>

                <p class="tradition-text traditiom-text--margin">Curabitur lacinia enim at ex blandit, vel pellentesque
                    odio
                    elementum.
                    Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.</p>

                <p class="tradition-text">Aliquam erat volutpat. Aenean accumsan.</p>

                <button type="button" class="tradition-btn">
                    Read more
                    <svg class="tradition-btn__icon" width="5" height="8">
                        <use href="../src/images/tradition/icon.svg#tradition-arrow"></use>
                    </svg>
                </button>
            </div>

        </div>

        <ul class="tradition-list">
            <li class="tradition-list__item">
               <svg class="tradition-list__icon" width="33" height="50">
                   <use href="../src/images/tradition/icon.svg#tradition-icon-1"></use>
                </svg>
                <p class="tradition-list__number">721</p>
                <p class="tradition-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="tradition-list__item">
                <svg class="tradition-list__icon" width="50" height="50">
                    <use href="../src/images/tradition/icon.svg#tradition-icon-2"></use>
                </svg>
                <p class="tradition-list__number">16kg</p>
                <p class="tradition-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="tradition-list__item">
                <svg class="tradition-list__icon" width="44" height="50">
                    <use href="../src/images/tradition/icon.svg#tradition-icon-3"></use>
                </svg>
                <p class="tradition-list__number">84</p>
                <p class="tradition-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>