<section class="section-location" id="location">
  <div class="location-overlay"></div>
  <div class="container">
    <h2 class="visually-hidden">Location and franchise</h2>
    <div class="location-wrapper">
      <div class="location-card">
        <p class="location-title location-title__brown">Cafe</p>
        <p class="location-city">Chicago</p>
        <p class="location-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="location-schedule">
          <li class="location-schedule__item">
            <p class="location-schedule__day">Monday - Friday</p>
            <p class="location-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location-schedule__item">
            <p class="location-schedule__day">Saturday - Sunday</p>
            <p class="location-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="location-list">
          <li class="location-contacts">
            <a class="location-contacts__link" href="tel:+610383766284">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="location-contacts">
            <a class="location-contacts__link" href="mailto:noreply@envato.com">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="location-card">
        <p class="location-title location-title__green">Foodtruck</p>
        <p class="location-city">Los Angeles</p>
        <p class="location-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="location-schedule">
          <li class="location-schedule__item">
            <p class="location-schedule__day">Monday - Friday</p>
            <p class="location-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location-schedule__item">
            <p class="location-schedule__day">Saturday - Sunday</p>
            <p class="location-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="location-list">
          <li class="location-contacts">
            <a class="location-contacts__link" href="tel:+610383766284">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="location-contacts">
            <a class="location-contacts__link" href="mailto:noreply@envato.com">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="location-card">
        <p class="location-title location-title__brown">Cafe</p>
        <p class="location-city">New York</p>
        <p class="location-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="location-schedule">
          <li class="location-schedule__item">
            <p class="location-schedule__day">Monday - Friday</p>
            <p class="location-schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location-schedule__item">
            <p class="location-schedule__day">Saturday - Sunday</p>
            <p class="location-schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="location-list">
          <li class="location-contacts">
            <a class="location-contacts__link" href="tel:+610383766284">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="location-contacts">
            <a class="location-contacts__link" href="mailto:noreply@envato.com">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-wrapper">
      <button class="btn btn-location__our" data-map-open>
        Our location
        <svg class="btn-icon" width="10" height="10">
          <use href="./images/sprite.svg#icon-vector"></use>
        </svg>
      </button>
      <button class="btn btn-location__franchise" data-modal-open>
        Franchise
        <svg class="btn-icon" width="10" height="10">
          <use href="./images/sprite.svg#icon-vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
