<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
    <link rel="stylesheet" href="../sass/section-6.css" />
</head>
<body>
    <header></header>

    <main>
    <!-- Section 6  -->
     <section class="section">
        <div class="section-6">
            <span class="section-6-title">Explore our new chocolate first</span>
            <span>From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.</span>
            <button type="button">Subscribe</button>
        </div>
     </section>
    </main>

    <footer></footer>
    <!-- Modal Subscribe -->
    <div class="modal is-hidden" data-modal>
        <div class="modal-content">
            <button class="close-btn" data-modal-close>&times;</button>
        </div>
    </div>

    <!-- <script src="./js/modal.js"></script> -->
</body>
</html>