<section class="made">
  <div class="container">
    <b>tradition and love</b>
    <h2>how it’s made?</h2>
    <img
      srcset="
        ./images/made/made-280.png   280w,
        ./images/made/made-340.png   340w,
        ./images/made/made-516.png   516w,
        ./images/made/made-560.png   560w,
        ./images/made/made-680.png   680w,
        ./images/made/made-1032.png 1032w
      "
      src="./images/made/made-280.png"
      alt="Nice cow with fresh milk bottle"
      sizes="(min-width:1200px) 50vw, (min-width:768px) 50vw, 100vw"
    />
    <p>
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p>
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt.
    </p>
    <p>Aliquam erat volutpat. Aenean accumsan.</p>
    <button>Read more</button>
  </div>
</section>
