    <!-- Section 6  -->
     <section class="section">
        <div class="section-6">
            <span class="section-6-title">Explore our new chocolate first</span>
            <span>From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.</span>
            <button type="button">Subscribe</button>
        </div>
     </section>
    </main>

    <!-- Modal Subscribe -->
    <!-- <div class="modal is-hidden" data-modal>
        <div class="modal-content">
            <button class="close-btn" data-modal-close>&times;</button>
        </div>
    </div> -->