<section class="made">
  <div class="container">
    <p class="made-second-title">tradition and love</p>
    <h2 class="made-title">how it’s made?</h2>
    <div class="made-flex">
      <div class="made-item">
        <picture>
          <source
            srcset="
              ./images/made/made-516.png  1x,
              ./images/made/made-1032.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/made/made-340.png 1x,
              ./images/made/made-680.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/made/made-280.png 1x,
              ./images/made/made-560.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/made/made-516.webp  1x,
              ./images/made/made-1032.webp 2x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/made/made-340.webp 1x,
              ./images/made/made-680.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/made/made-280.webp 1x,
              ./images/made/made-560.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <img
            srcset="
              ./images/made/made-516.png  516w,
              ./images/made/made-1032.png 516w,
              ./images/made/made-340.png  340w,
              ./images/made/made-680.png  340w,
              ./images/made/made-280.png  280w,
              ./images/made/made-560.png  280w
            "
            class="made-photo"
            src="./images/made/made-516.png"
            alt="Nice cow with fresh milk bottle"
          />
        </picture>
      </div>
      <div class="made-container made-item">
        <p class="made-main-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="made-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="made-text">Aliquam erat volutpat. Aenean accumsan.</p>

        <a class="made-button" href="#">
          Read more
          <svg class="icon-made-arrow" width="8" height="12">
            <use href="./images/sprite.svg#arrow-to-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
