<section class="section-our-program">
  <h2>Наша программа</h2>
  <ul class="program-list list">
    <li class="period-item">
      <svg class="ball">
        <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
      </svg>
      <p class="period">1 семестр</p>
      <ul class="description-list list">
        <li>
          <h3>— Grammar</h3>
          <p>Nouns &amp; Articles</p>
          <p>Adjectives &amp; Adverb</p>
        </li>
        <li>
          <h3>— Vocabulary</h3>
          <p>Family &amp; Relations</p>
          <p>People &amp; Society</p>
        </li>
      </ul>
    </li>
    <li class="period-item">
      <svg class="ball">
        <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
      </svg>
      <p class="period">2 семестр</p>
      <ul class="description-list list">
        <li>
          <h3>— Grammar</h3>
          <p>Pronouns</p>
          <p>Active Voice</p>
          <p>Passive Voice</p>
        </li>
        <li>
          <h3>— Vocabulary</h3>
          <p>Home</p>
          <p>School</p>
          <p>Work</p>
        </li>
      </ul>
    </li>
    <li class="period-item">
      <svg class="ball">
        <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
      </svg>
      <p class="period">3 семестр</p>
      <ul class="description-list list">
        <li>
          <h3>— Grammar</h3>
          <p>Modal verbs</p>
          <p>Infinitive</p>
          <p>Gerund</p>
          <p>Participle: 1, 2</p>
        </li>
        <li>
          <h3>— Vocabulary</h3>
          <p>Travel &amp; Tourism</p>
          <p>Culture &amp; Free Time</p>
          <p>Sport</p>
        </li>
        <li>
          <h3>— Writing</h3>
          <p>Informal Letter</p>
        </li>
      </ul>
    </li>
    <li class="period-item">
      <svg class="ball">
        <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
      </svg>
      <p class="period">4 семестр</p>
      <ul class="description-list list">
        <li>
          <h3>— Grammar</h3>
          <p>Clauses: Conditional and Wishes</p>
          <p>Direct / Reported speech</p>
          <p>Preposition</p>
          <p>Conjunction</p>
          <p>Numeral</p>
        </li>
        <li>
          <h3>— Vocabulary</h3>
          <p>Healthy Living</p>
          <p>Nature &amp; Environment</p>
          <p>Money</p>
        </li>
        <li>
          <h3>— Writing</h3>
          <p>Formal Letter</p>
        </li>
      </ul>
    </li>
    <li class="period-item">
      <svg class="ball">
        <use href="./images/symbol-defs.svg#icon-ellipse-3"></use>
      </svg>
      <p class="period">5 семестр</p>
      <h3>—</h3>
      <p>Revision</p>
      <p>Tests</p>
    </li>
  </ul>
  <img src="./images/mobile/mainpic-x1.jpg" alt="" />
</section>
