<section class="section section-gallery">
	<div class="container"> 
		<p class="gallery-slogan">На латинском языке “барба” означает “борода”</p>
		<h2 class="visually-hidden">Галерея работ</h2>
		<ul class="gallery-list">
			<li class="gallery-list-item">
				<img class="gallery-image" src="" alt="" width="418" height="360">
			</li>
			<li class="">
				<img class="gallery-image" src="" alt="" width="418" height="360">
			</li>
			<li>
				<img class="gallery-image" src="" alt="" width="418" height="360">
			</li>
			<li class="">
				<img class="gallery-image" src="" alt="" width="418" height="360">
			</li>
	</div>
</section>