<section class="search-location container">
  <form class="search-location__form js-form">
    <input type="text" name="query" placeholder="Enter the city" />
    <button
      type="button"
      class="search-location__form-btn append"
      id="js-btnAdd"
    ></button>
  </form>
  <div class="search-location__slider">
    <button class="search-location__slider-btnPrev js-btnPrev prev"></button>
    <ul class="search-location__slider-list js-slider-list siema"></ul>
    <button class="search-location__slider-btnNext js-btnNext next"></button>
  </div>
</section>
