<section class="services" id="services-and-prices">
  <div class="container">
    <h2 class="services-title">Проведи время в компании лучших мастеров</h2>
    <p class="services-subtitle">Услуги и цены</p>
    <div class="services-list">
      <ul class="left-services-list">
        <li class="services-list_items">
          Мужская стрижка <span class="services-list_price">от 300 грн.</span>
        </li>
        <li class="services-list_items">
          Стрижка бороды <span class="services-list_price">от 200 грн.</span>
        </li>
        <li class="services-list_items">
          Стрижка усов <span class="services-list_price">от 200 грн.</span>
        </li>
        <li class="services-list_items">
          Бритье опасной бритвой
          <span class="services-list_price">от 200 грн.</span>
        </li>
      </ul>
      <ul class="right-services-list">
        <li class="services-list_items">
          Cтрижка у стажера <span class="services-list_price">от 50 грн.</span>
        </li>
        <li class="services-list_items">
          Стрижка под насадку
          <span class="services-list_price">от 200 грн.</span>
        </li>
        <li class="services-list_items">
          Детская стрижка (до 12 лет)
          <span class="services-list_price">от 300 грн.</span>
        </li>
        <li class="services-list_items">
          Камуфлирование седины
          <span class="services-list_price">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <a class="order-button services-link" href="#footer-form">
      <button type="button">онлайн-запись</button>
    </a>
  </div>
</section>
