<section class="prices section">
  <div class="container">
    <h3 class="section-title">Проведи время в компании лучших мастеров</h3>
    <h2 class="white-section-title">Услуги и цены</h2>
    <div class="price-list">
      <ul class="list-left-side">
        <li class="price-list-row">
          <div class="price-item">Мужская стрижка</div>
          <div class="price-line"></div>
          <div class="price-amount">от 300 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Стрижка бороды</div>
          <div class="price-line"></div>
          <div class="price-amount">от 200 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Стрижка усов</div>
          <div class="price-line"></div>
          <div class="price-amount">от 200 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Бритье опасной бритвой</div>
          <div class="price-line"></div>
          <div class="price-amount">от 200 грн.</div>
        </li>
      </ul>
      <ul class="list-right-side">
        <li class="price-list-row">
          <div class="price-item">Cтрижка у стажера</div>
          <div class="price-line"></div>
          <div class="price-amount">от 50 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Стрижка под насадку</div>
          <div class="price-line"></div>
          <div class="price-amount">от 200 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Детская стрижка (до 12 лет)</div>
          <div class="price-line"></div>
          <div class="price-amount">от 300 грн.</div>
        </li>
        <li class="price-list-row">
          <div class="price-item">Камуфлирование седины</div>
          <div class="price-line"></div>
          <div class="price-amount">от 200 грн.</div>
        </li>
      </ul>
    </div>
    <div class="button-box">
      <button class="button">онлайн-запись</button>
    </div>
  </div>
</section>
