<section class="prices">
  <div class="container">
    <h3 class="section-subtitle">Проведи время в компании лучших мастеров</h3>
    <h2 class="section-title">Услуги и цены</h2>
    <ul class="price-list">
      <li class="price-list-row">
        <div class="price-item">Мужская стрижка</div>
        <div class="price-line"></div>
        <div class="prive-amount">от 300 грн.</div>
      </li>
      <li class="price-list-row">
        <div class="price-item">Стрижка бороды</div>
        <div class="price-line"></div>
        <div class="prive-amount">от 200 грн.</div>
      </li>
      <li class="price-list-row">
        <div class="price-item">Стрижка усов</div>
        <div class="price-line"></div>
        <div class="prive-amount">от 200 грн.</div>
      </li>
      <li class="price-list-row">
        <div class="price-item">Бритье опасной бритвой</div>
        <div class="price-line"></div>
        <div class="prive-amount">от 200 грн.</div>
      </li>
      <li class="price-list-row">
        <div class="price-item">Cтрижка у стажера</div>
        <div class="price-line"></div>
        <div class="prive-amount">от 50 грн.</div>
      </li>
      <li class="price-list-row">
        <div class="price-item">Стрижка под насадку</div>
        <div class="price-line"></div>
        <div class="prive-amount">от 200 грн.</div>
      </li>
      <li class="price-list-row">
        <div class="price-item">Детская стрижка (до 12 лет)</div>
        <div class="price-line"></div>
        <div class="prive-amount">от 300 грн.</div>
      </li>
      <li class="price-list-row">
        <div class="price-item">Камуфлирование седины</div>
        <div class="price-line"></div>
        <div class="prive-amount">от 200 грн.</div>
      </li>
    </ul>
    <button class="button">онлайн-запись</button>
  </div>
</section>
