<section class="service-section">
    <div class="service-container">
        <div class="service__subtitle">Проведи время в компании лучших мастеров</div>
        <h2 class="service__title">Услуги и цены</h2>
        <div class="price__container">
            <ul class="price__list1">
                <li class="price__item">
                    <p class="price__title">Мужская стрижка</p>
                    <p class="price__from">от 300грн.</p>
                </li>
                <li class="price__item">
                    <p class="price__title">Стрижка бороды</p>
                    <p class="price__from">от 200грн.</p>
                </li>
                <li class="price__item">
                    <p class="price__title">Стрижка усов</p>
                    <p class="price__from">от 200грн.</p>
                </li>
                <li class="price__item">
                    <p class="price__title">Бритье опасной бритвой</p>
                    <p class="price__from">от 200грн.</p>
                </li>
                </ul>
                <ul class="price__list2">
                <li class="price__item">
                    <p class="price__title">Cтрижка у стажера</p>
                    <p class="price__from">от 50грн.</p>
                </li>
                <li class="price__item">
                    <p class="price__title">Стрижка под насадку</p>
                    <p class="price__from">от 200грн.</p>
                </li>
                <li class="price__item">
                    <p class="price__title">Детская стрижка (до 12 лет)</p>
                    <p class="price__from">от 300грн.</p>
                </li>
                <li class="price__item">
                    <p class="price__title">Камуфлирование седины</p>
                    <p class="price__from">от 200грн.</p>
                </li>
            
            </ul>
        </div>
        
        <button type="button" class="service__button">онлайн-запись</button>
    </div>
</section>