<!-- Услуги и цены -->
<section class="price-section">
  <div class="container">
    <p class="price-text">Проведи время в компании лучших мастеров</p>
    <h2 class="price-title">Услуги и цены</h2>
    <div class="price-services">
      <ul class="price-list">
        <li class="price-item">
          <span class="name-services">Мужская стрижка</span>
          <div class="price-line"></div>
          <span class="value">от 300 грн.</span>
        </li>
        <li class="price-item">
          <span class="name-services">Стрижка бороды</span>
          <div class="price-line"></div>
          <span class="value">от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="name-services">Стрижка усов</span>
          <div class="price-line"></div>
          <span class="value">от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="name-services">Бритье опасной бритвой</span>
          <div class="price-line"></div>
          <span class="value">от 200 грн.</span>
        </li>
      </ul>
      <ul class="price-list">
        <li class="price-item">
          <span class="name-services">Cтрижка у стажера</span>
          <div class="price-line"></div>
          <span class="value">от 50 грн.</span>
        </li>
        <li class="price-item">
          <span class="name-services">Стрижка под насадку</span>
          <div class="price-line"></div>
          <span class="value">от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="name-services">Детская стрижка (до 12 лет)</span>
          <div class="price-line"></div>
          <span class="value">от 300 грн.</span>
        </li>
        <li class="price-item">
          <span class="name-services">Камуфлирование седины</span>
          <div class="price-line"></div>
          <span class="value">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <button class="main-button price-button trans">онлайн-запись</button>
  </div>
</section>
