<section class="services section">
  <div class="container">
    <h3 class="section__subtitle services__subtitle">Проведи время в компании лучших мастеров</h3>
    <h2 class="section__title section__title--white">Услуги и цены</h2>

    <div class="container-list">
      <ul class="services__list services__list--light">
        <li class="services__item">
          <p class="services__item-title">Мужская стрижка</p>
          <p class="services__item-price">от 300 грн.</p>
        </li>
        <li class="services__item">
          <p class="services__item-title">Стрижка бороды</p>
          <p class="services__item-price">от 200 грн.</p>
        </li>
        <li class="services__item">
          <p class="services__item-title">Стрижка усов</p>
          <p class="services__item-price">от 200 грн.</p>
        </li>
        <li class="services__item">
          <p class="services__item-title">Бритье опасной бритвой</p>
          <p class="services__item-price">от 200 грн.</p>
        </li>
      </ul>
      <ul class="services__list services__list--margine">
        <li class="services__item">
          <p class="services__item-title">Мужская стрижка</p>
          <p class="services__item-price">от 300 грн.</p>
        </li>
        <li class="services__item">
          <p class="services__item-title">Мужская стрижка</p>
          <p class="services__item-price">от 300 грн.</p>
        </li>
        <li class="services__item">
          <p class="services__item-title">Мужская стрижка</p>
          <p class="services__item-price">от 300 грн.</p>
        </li>
        <li class="services__item">
          <p class="services__item-title">Мужская стрижка</p>
          <p class="services__item-price">от 300 грн.</p>
        </li>
      </ul>
    </div>

    <a class="button">онлайн-запись</a>
  </div>
</section>
