<section class="seervice1">
  <div class="service1-container">
    <div class="service1-subtitle">
      Проведи время в компании лучших мастеров
    </div>
    <h2 class="service1-title">Услуги и цены</h2>
    <div class="price-container">
      <ul class="price-list">
        <!-- TODO: Перший список -->
        <li class="price-item">
          <p class="price-title">Мужская стрижка</p>
          <p class="price-cost">от 300 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-title">Стрижка бороды</p>
          <p class="price-cost">от 200 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-title">Стрижка усов</p>
          <p class="price-cost">от 200 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-title">Бритье опасной бритвой</p>
          <p class="price-cost">от 200 грн.</p>
        </li>
      </ul>
      <!-- TODO: Другий список -->
      <ul class="price-list">
        <li class="price-item">
          <p class="price-title">Cтрижка у стажера</p>
          <p class="price-cost">от 500 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-title">Стрижка под насадку</p>
          <p class="price-cost">от 200 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-title">Детская стрижка (до 12 лет)</p>
          <p class="price-cost">от 300 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-title">Камуфлирование седины</p>
          <p class="price-cost">от 200 грн.</p>
        </li>
      </ul>
      <button class="button-bg-black">онлайн-запись</button>
    </div>
  </div>
</section>
