<section class="services__section">
  <div class="services__container">
    <h3 class="services__subtitle">Проведи время в компании лучших мастеров</h3>
    <h2 class="services__title">Услуги и цены</h2>

    <ul class="services__list">
      <li class="services__item">
        <p class="services__text">
          <span class="service">Мужская стрижка</span>
          <span class="price">от 300 грн.</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__text">
          <span class="service">Стрижка бороды</span>
          <span class="price">от 200 грн.</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__text">
          <span class="service">Стрижка усов</span>
          <span class="price">от 200 грн.</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__text">
          <span class="service">Бритье опасной бритвой</span>
          <span class="price">от 200 грн.</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__text">
          <span class="service">Cтрижка у стажера</span>
          <span class="price">от 50 грн.</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__text">
          <span class="service">Стрижка под насадку</span>
          <span class="price">от 200 грн.</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__text">
          <span class="service">Детская стрижка (до 12 лет)</span>
          <span class="price">от 300 грн.</span>
        </p>
      </li>
      <li class="services__item">
        <p class="services__text">
          <span class="service">Камуфлирование седины</span>
          <span class="price">от 200 грн.</span>
        </p>
      </li>
    </ul>
    <button class="button">онлайн-запись</button>
  </div>
</section>
