<section class="shops" id="shops">
  <div class="container shops-container">
    <ul class="shops-list">
      <li class="shops-item">
        <h2 class="shops-title">CAFE</h2>
        <h3 class="shops-subtitle">Chicago</h3>
        <p class="shops-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="shops-thumb">
          <h3 class="shops-subtitle shops-day-subtitle">Monday - Friday</h3>
          <p class="shops-time-text shops-secondary-time">06:00 AM - 10:00 PM</p>
          <h3 class="shops-subtitle shops-day-subtitle">Saturday - Sunday</h3>
          <p class="shops-time-text">06:00 AM - 10:00 PM</p>
        </div>
        <a href="tel:+61(0) 383 766 284 " class="shops-contacts shops-tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="shops-contacts">noreply@envato.com</a>
      </li>
      <li class="shops-item">
        <h2 class="shops-title food-title">FOOD TRUCK</h2>
        <h3 class="shops-subtitle">Los Angeles</h3>
        <p class="shops-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="shops-thumb">
          <h3 class="shops-subtitle shops-day-subtitle">Monday - Friday</h3>
          <p class="shops-time-text shops-secondary-time">06:00 AM - 10:00 PM</p>
          <h3 class="shops-subtitle shops-day-subtitle">Saturday - Sunday</h3>
          <p class="shops-time-text">06:00 AM - 10:00 PM</p>
        </div>
        <a href="tel:+61(0) 383 766 284 " class="shops-contacts shops-tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="shops-contacts">noreply@envato.com</a>
      </li>
      <li class="shops-item">
        <h2 class="shops-title">CAFE</h2>
        <h3 class="shops-subtitle">New York</h3>
        <p class="shops-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="shops-thumb">
          <h3 class="shops-subtitle shops-day-subtitle">Monday - Friday</h3>
          <p class="shops-time-text shops-secondary-time">06:00 AM - 10:00 PM</p>
          <h3 class="shops-subtitle shops-day-subtitle">Saturday - Sunday</h3>
          <p class="shops-time-text">06:00 AM - 10:00 PM</p>
        </div>
        <a href="tel:+61(0) 383 766 284 " class="shops-contacts shops-tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="shops-contacts">noreply@envato.com</a>
      </li>
    </ul>
    <div class="shops-btn-container">
      <a target="_blank" rel="noopener noreferrer" href="https://www.google.com.ua/maps/place/GoIT/@50.4265747,30.5364694,17z/data=!4m5!3m4!1s0x40d4d96f5139689b:0xa1f7c65300bebad1!8m2!3d50.4265807!4d30.5383858?hl=ru&authuser=0" class="shops-btn btn-loc">
        Our Locations
        <svg class="shops-icon-white shops-icon" width="10" height="10">
          <use href="./images/svg/sprite.svg#icon-button_arrow"></use>
        </svg>
      </a>
      <button type="button" class="shops-btn btn-frachise">
        Franchise
        <svg class="shops-icon" width="10" height="10">
          <use href="./images/svg/sprite.svg#icon-button_arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>