<header class="site-nav">
  <div class="container">
    <div class="container-site-nav">
      <img class="logo" src="../src/images/site-nav/logo.png">
      <ul class="site-nav-list">
        <li class="site-nav-item"><a href="" class="link link-site-nav">Home</a></li>
        <li class="site-nav-item"><a href="" class="link link-site-nav">About us</a></li>
        <li class="site-nav-item"><a href="" class="link link-site-nav">How it’s made?</a></li>
        <li class="site-nav-item"><a href="" class="link link-site-nav">Our products</a></li>
        <li class="site-nav-item"><a href="" class="link link-site-nav">Contact</a></li>
      </ul>
      <button class="btn-site-nav burger-menu"   data-menu-button> <span></span> </button>
      <button class="container-btn-site-nav btn-site-nav-desktop btn-site-nav">
        <span class="">
          Buy now
        </span>
        <svg class="btn-icon-site-nav" width="14" height="14">
          <use href="../src/images/svg/sprite.svg#icon-bracket-right"></use>
        </svg>
      </button>
      <div class="mobile-nav">
        <button class="btn-site-nav close-btn-site-nav">
          <svg width="17" height="17">
            <use href="../src/images/svg/sprite.svg#icon-close-cross"></use>
          </svg>
        </button>
        <button class="container-btn-site-nav btn-site-nav">
          <span >
            Buy now
          </span>
          <svg class="btn-icon-site-nav btn-icon-menu-site-nav" width="14" height="14">
            <use href="../src/images/svg/sprite.svg#icon-bracket-right"></use>
          </svg>
        </button>
        <ul class="mobile-nav-list" data-menu>
          <li class="site-nav-item"><a href="" class="link link-mobile-site-nav">Home</a></li>
          <li class="site-nav-item"><a href="" class="link link-mobile-site-nav">About us</a></li>
          <li class="site-nav-item"><a href="" class="link link-mobile-site-nav">How it’s made?</a></li>
          <li class="site-nav-item"><a href="" class="link link-mobile-site-nav">Our products</a></li>
          <li class="site-nav-item"><a href="" class="link link-mobile-site-nav">Contact</a></li>
        </ul>
      </div>
    </div>
    
  </div>
</header>

<!--  образец вставки контентного изображения
  <picture>
  <source
    srcset="
      ./images/products/mobile/product-1.webp    1x,
      ./images/products/mobile/product-1@2x.webp 2x
    "
    media="(min-width: 320px) and (max-width: 767px)"
    type="image/webp"
  />
  <source
    srcset="
      ./images/products/tablet/product-1.webp    1x,
      ./images/products/tablet/product-1@2x.webp 2x
    "
    media="(min-width: 768px) and (max-width: 1199px)"
    type="image/webp"
  />
  <source
    srcset="
      ./images/products/desktop/product-1.webp    1x,
      ./images/products/desktop/product-1@2x.webp 2x
    "
    media="(min-width: 1200px)"
    type="image/webp"
  />
  <source
    srcset="
      ./images/products/mobile/product-1.png    1x,
      ./images/products/mobile/product-1@2x.png 2x
    "
    media="(min-width: 320px) and (max-width: 767px)"
  />
  <source
    srcset="
      ./images/products/tablet/product-1.png    1x,
      ./images/products/tablet/product-1@2x.png 2x
    "
    media="(min-width: 768px) and (max-width: 1199px)"
  />
  <source
    srcset="
      ./images/products/desktop/product-1.png    1x,
      ./images/products/desktop/product-1@2x.png 2x
    "
    media="(min-width: 1200px)"
  />
  <img
    class=""
    srcset="
      ./images/products/mobile/product-1.png    1x,
      ./images/products/mobile/product-1@2x.png 2x
    "
    src="./images/products/mobile/product-1.png"
    alt="Описание"
  />
</picture> -->
