<div class="container container-color">
  <div class="flex-box">
    <h2 class="title-slaider">Отзывы выпускников</h2>
  </div>
  <div class="section-color container-arrow flex-tablet">
    <div class="slaider-tab">
      <div class="container-slaider flex-box img-size">
        <img
          class=""
          src="./images/mobile/foto1.png"
          alt="фотка чиксы"
          width="90px"
          data-img-change
        />
      </div>
      <div class="container-slaider flex-box item-icon">
        <svg class="svg-icon">
          <use href="./images/symbol-defs.svg#icon-vk"></use>
        </svg>
      </div>
    </div>
    <div>
      <div class="container-slaider flex-box slaider-text">
        <h3 class="title-section">Тоня Кучеровская</h3>
      </div>
      <div class="container-slaider flex-box slaider-text">
        <p class="title-section-text">
          Выпуск 2015-го года, Національний університет біоресурсів і
          природокористування України
        </p>
      </div>
      <div class="container-slaider flex-box slaider-text">
        <p class="title-section-text-bla">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій
          зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
          знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
          справді хвилювала моя успішність. Вона стала для мене авторитетом,
          проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
          Зараз я можу похизуватись тим, що я студен ...
          <span class="text-color">Читать дальше</span>
        </p>
      </div>
    </div>
  </div>
  <div class="container-arrow flex-box">
    <svg class="svg-arrow svg-arrow-left" data-modal-left>
      <use href="./images/arrow-left.svg#arrow-left"></use>
    </svg>
    <div class="flex-box img-box">
      <img
        class="svg-icon-face svg-icon-face-marg"
        src="./images/tablet/foto1.png"
        alt="фотка чиксы"
        data-img
      />
      <img
        class="svg-icon-face"
        src="./images/tablet/foto2.png"
        alt="фотка чиксы"
        data-img
      />
      <img
        class="svg-icon-face"
        src="./images/tablet/foto3.png"
        alt="фотка чиксы"
        data-img
      />
      <img
        class="svg-icon-face svg-icon-fase-p"
        src="./images/tablet/foto4.png"
        alt="фотка чиксы"
        data-img
      />
      <img
        class="svg-icon-face svg-icon-fase-p"
        src="./images/tablet/foto5.png"
        alt="фотка чиксы"
        data-img
      />
      <img
        class="svg-icon-face svg-icon-fase-p"
        src="./images/tablet/foto6.png"
        alt="фотка чиксы"
        data-img
      />
      <img
        class="svg-icon-face svg-icon-fase-p"
        src="./images/tablet/foto7.png"
        alt="фотка чиксы"
        data-img
      />
    </div>
    <svg class="svg-arrow svg-arrow-right" data-modal-right>
      <use href="./images/arrow-right.svg#arrow-right"></use>
    </svg>
  </div>
</div>
