
<div class="container container-color">
    <div class="flex-box">
        <h2 class="title-slaider">Отзывы выпускников</h2>
    </div>
    <div class="section-color container-arrow">
        <div class="container-slaider flex-box img-size">
            <img class="" src="./images/mobile/foto1.png" alt="фотка чиксы" width="90px">
        </div>
        <div class="container-slaider flex-box item-icon">
            <svg class="svg-icon">
                <use href='./images/symbol-defs.svg#icon-vk'></use>
            </svg>
        </div>
        <div class="container-slaider flex-box">
            <h3 class="title-section">Тоня Кучеровская</h3>
        </div>
        <div class="container-slaider flex-box">
            <p class="title-section-text">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
        </div>
        <div class="container-slaider flex-box">
            <p class="title-section-text-bla">За короткий час занять з Оленою я опанувала граматику 
                і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, 
                що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала 
                моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи 
                страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... 
                <span class="text-color">Читать дальше</span></p>
        </div>
    </div>
    <div class="container-arrow">
        <svg class="svg-arrow svg-arrow-left">
            <use href="./images/arrow-left.svg#arrow-left"></use>
        </svg>
        <img class="svg-icon-face" src="./images/mobile/foto2.png" alt="фотка чиксы">
        <img class="svg-icon-face" src="./images/mobile/foto3.png" alt="фотка чиксы">
        <img class="svg-icon-face" src="./images/mobile/foto4.png" alt="фотка чиксы">
        <svg class="svg-arrow svg-arrow-right">
            <use href="./images/arrow-right.svg#arrow-right"></use>
        </svg>
    </div>
    
</div>