<section class="slider">
    <article class="slider-article">
        <img class="slider-img" src="./images/bitmap/slider/desk-woman@1x.png" width="85" height="85"
            alt="foto of testimonials1" />
        <p class="slider-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
        </p>
        <p class="slider-subtitle">Emily, Los Angeles</p>
    </article>
    <!--  <article class="slider-article">
      <img
        class="slider-img"
        src="./images/bitmap/slider/desk-yellow-dress@1x.png"
        width="85"
        height="85"
        alt="foto of testimonials1"
      />
      <p class="slider-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut saepe ad odio eius modi, debitis sequi error et laudantium deserunt voluptatibus exercitationem repellendus.
      </p>
      <p class="slider-subtitle">Marry, Boston</p>
    </article>
    <article class="slider-article">
      <img
        class="slider-img"
        src="./images/bitmap/slider/desk-in-glassess@1x.png"
        width="85"
        height="85"
        alt="foto of testimonials1"
      />
      <p class="slider-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aspernatur illum unde ex, fugit repellat, magnam saepe deserunt molestias libero earum officiis placeat dolorum.
      </p>
      <p class="slider-subtitle">Ellisabet, New York</p>
    </article> -->
</section>
<!--  <script
    type="text/javascript"
    src="//code.jquery.com/jquery-1.11.0.min.js"
  ></script>
  <script
    type="text/javascript"
    src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
  ></script>
  <script src="./js/slick.min.js"></script>
  <script src="./js/script.js"></script> -->