<section class='slider'>
  <div class='container'>
    <div class='slider-block'>
      <div class='swiper-container reviews-slider'>
        <ul class='list swiper-wrapper'>
          <li class='swiper-slide'>
            <img src='./images/slider/avatar1.png'
                 srcset='./images/slider/avatar1@2x.png'
                 alt='Avatar 1'
                 class='slider-image'
            >
            <p class='slider-description'>
              <span class='slider-description__underline'>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
            </p>
            <div class='slider-dots'>
              <span class='slider-dots__dot'></span>
              <span class='slider-dots__dot'></span>
              <span class='slider-dots__dot'></span>
            </div>
            <p class='slider-title'>
              Emily, Los Angeles
            </p>
          </li>
          <li class='swiper-slide'>
            <img src='./images/slider/avatar2.png'
                 srcset='./images/slider/avatar2@2x.png'
                 alt='Avatar 2'
                 class='slider-image'
            >
            <p class='slider-description'>
              <span class='slider-description__underline'>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
            </p>
            <div class='slider-dots'>
              <span class='slider-dots__dot'></span>
              <span class='slider-dots__dot'></span>
              <span class='slider-dots__dot'></span>
            </div>
            <p class='slider-title'>
              Emily, Los Angeles
            </p>
          </li>
          <li class='swiper-slide'>
            <img src='./images/slider/avatar3.png'
                 srcset='./images/slider/avatar3@2x.png'
                 alt='Avatar 2'
                 class='slider-image'
            >
            <p class='slider-description'>
              <span class='slider-description__underline'>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
            </p>
            <div class='slider-dots'>
              <span class='slider-dots__dot'></span>
              <span class='slider-dots__dot'></span>
              <span class='slider-dots__dot'></span>
            </div>
            <p class='slider-title'>
              Emily, Los Angeles
            </p>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
