<section class="slide-sec">
    <div class="container slide-sec-container slick">
        <h2 class="visually-hidden">Отзывы покупателей</h2>

        <div class="your-class">
            <div>
                <div class="customer-photo">
                    <img class="slide-sec-photo" src="/images/slide-sect/curly-girl.jpg" alt="black girl smiling"
                        width="85" height="85" srcset="/images/slide-sect/curly-girl@2x.jpg 2x" />
                </div>

                <div class="customer-review">
                    <div class="p-gradient">
                        <p class="sample">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                            ipsum primis in nibh vel risus.
                        </p>
                        <div class="gradient-container"></div>
                    </div>
                </div>
                <div class="custumer-tittle">
                    <h2 class="customer">Emily, Los Angeles</h2>
                </div>
            </div>
            <div>
                <div class="customer-photo">
                    <img class="slide-sec-photo" src="/images/slide-sect/curly-girl.jpg" alt="black girl smiling"
                        width="85" height="85" srcset="/images/slide-sect/curly-girl@2x.jpg 2x" />
                </div>

                <div class="customer-review">
                    <div class="p-gradient">
                        <p class="sample">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                            ipsum primis in nibh vel risus.
                        </p>
                        <div class="gradient-container"></div>
                    </div>
                </div>
                <div class="custumer-tittle">
                    <h2 class="customer">Emily, Los Angeles</h2>
                </div>
            </div>
            <div>
                <div class="customer-photo">
                    <img class="slide-sec-photo" src="/images/slide-sect/curly-girl.jpg" alt="black girl smiling"
                        width="85" height="85" srcset="/images/slide-sect/curly-girl@2x.jpg 2x" />
                </div>

                <div class="customer-review">
                    <div class="p-gradient">
                        <p class="sample">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                            ipsum primis in nibh vel risus.
                        </p>
                        <div class="gradient-container"></div>
                    </div>
                </div>
                <div class="custumer-tittle">
                    <h2 class="customer">Emily, Los Angeles</h2>
                </div>
            </div>
        </div>

        <!-- <div class="customer-photo">
      <img
        class="slide-sec-photo"
        src="/images/slide-sect/curly-girl.jpg"
        alt="black girl smiling"
        width="85"
        height="85"
        srcset="/images/slide-sect/curly-girl@2x.jpg 2x"
      />
    </div>

    <div class="customer-review">
      <div class="p-gradient">
        <p class="sample">Njdiojijoijio</p>
        <div class="gradient-container"></div>
      </div>
    </div>

    <div class="customer-photo">
      <img
        class="slide-sec-photo"
        src="/images/slide-sect/curly-girl.jpg"
        alt="black girl smiling"
        width="85"
        height="85"
        srcset="/images/slide-sect/curly-girl@2x.jpg 2x"
      />
    </div>

    <div class="customer-review">
      <div class="p-gradient">
        <p class="sample">knknclkncnlk</p>
        <div class="gradient-container"></div>
      </div>
    </div>

    <div class="customer-navigation">
      <svg width="30px" height="4px">
        <use href="/images/slide-sect/sprite.svg#red-dots"></use>
      </svg>
    </div>

    <div class="custumer-tittle">
      <h2 class="customer">Emily, Los Angeles</h2>
    </div> -->

        <div class="pagination-section">
            <svg class="slide-svg" width="12px" height="11px">
                <use href="/images/slide-sect/sprite.svg#home"></use>
            </svg>
            <svg class="slide-svg" width="12px" height="11px">
                <use href="/images/slide-sect/sprite.svg#gray-circle"></use>
            </svg>
            <svg class="slide-svg" width="12px" height="11px">
                <use href="/images/slide-sect/sprite.svg#gray-circle"></use>
            </svg>
            <svg class="slide-svg" width="12px" height="11px">
                <use href="/images/slide-sect/sprite.svg#gray-circle"></use>
            </svg>
        </div>
    </div>
</section>