<section class="slider-section">
  <div class="container slider-container">
    <h2 class="section-title slider">Отзывы</h2>
    <ul class="list slider-list">
      <li class="list-item slider_list-item centered" firts-review>
        <img
          class="slider-photo"
          alt="Фото автора отзыва"
          src="./images/photo1_1x.png"
          srcset="./images/photo1_2x.png 2x, ./images/photo1_3x.png 3x"
        />
        <p class="slider-text">
          <span class="span-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </span>
        </p>
        <p class="slider-address">Emily, Los Angeles</p>
      </li>
      <li class="list-item slider_list-item right" second-review>
        <img
          class="slider-photo"
          alt="Фото автора отзыва"
          src="./images/photo2_1x.png"
          srcset="./images/photo2_2x.png 2x, ./images/photo2_3x.png 3x"
        />
        <p class="slider-text">
          <span class="span-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </span>
        </p>
        <p class="slider-address">Jina, Los Angeles</p>
      </li>
      <li class="list-item slider_list-item right" third-review>
        <img
          class="slider-photo"
          alt="Фото автора отзыва"
          src="./images/photo3_1x.png"
          srcset="./images/photo3_2x.png 2x, ./images/photo3_3x.png 3x"
        />
        <p class="slider-text">
          <span class="span-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </span>
        </p>
        <p class="slider-address">Alex, Los Angeles</p>
      </li>
    </ul>

    <ul class="list slider-buttons">
      <li class="list-item slider-buttons_list-item">
        <button
          type="button"
          class="slider-button active"
          first-button
        ></button>
      </li>
      <li class="list-item slider-buttons_list-item">
        <button type="button" class="slider-button" second-button></button>
      </li>
      <li class="list-item slider-buttons_list-item">
        <button type="button" class="slider-button" third-button></button>
      </li>
    </ul>
  </div>
</section>
