<!-- SOLUTIONS -->
<section class="solutions" id="solutions">
    <div class="container">
        <h2 class="title solutions-title">Как мы это делаем</h2>
        
        <ul class="solutions-list list">

            <li class="solutions-list-item">
                <svg class="solutions-list-item-svg" width="45" height="48" aria-label="Иконка файлов">
                    <use href="./images/sprite.svg#icon-files"></use>
                </svg>
                  <h3 class="title solutions-list-item-title">Адаптированная программа подготовки к ВНО</h3>
                <span class="solutions-list-item-dash">
                    &mdash;
                </span>
                <p class="solutions-list-item-text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься
                    писать сочинения.</p>
            </li>
           
            <li class="solutions-list-item">
                <svg class="solutions-list-item-svg" width="48" height="47" aria-label="Иконка шапки магистра и смартона">
                    <use href="./images/sprite.svg#icon-smartphone"></use>
                </svg>
                <h3 class="solutions-list-item-title bold-text">Аудитория и<br>онлайн-обучение</h3>
                <span class="solutions-list-item-dash">
                    &mdash;
                </span>
                <p class="solutions-list-item-text">Учитель поможет не только в аудитории, но и во время домашней
                    подготовки. Родители могут участвовать в чате при желании.</p>
            </li>

            <li class="solutions-list-item">
                <svg class="solutions-list-item-svg" width="68" height="48" aria-label="Иконка открытой книги">
                    <use href="./images/sprite.svg#icon-opened_book"></use>
                </svg>
                <h3 class="solutions-list-item-title bold-text">Привычка читать на<br>английском языке</h3>
                <span class="solutions-list-item-dash">
                    &mdash;
                </span>
                <p class="solutions-list-item-text">Статьи из источников, которые используются при разработке настоящего
                    ВНО, будут приходить на телефон дважды в неделю.</p>
            </li>

            <li class="solutions-list-item">
                <svg class="solutions-list-item-svg" width="48" height="48" aria-label="Иконка руки, поддерживающей людей">
                    <use href="./images/sprite.svg#icon-people"></use>
                </svg>
                <h3 class="solutions-list-item-title bold-text">Психологическая<br> поддержка</h3>
                <span class="solutions-list-item-dash">
                    &mdash;
                </span>
                <p class="solutions-list-item-text">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности в себе.</p>
            </li>

            <li class="solutions-list-item">
                <svg class="solutions-list-item-svg" width="40" height="48" aria-label="Иконка девушки студентки">
                    <use href="./images/sprite.svg#icon-female"></use>
                </svg>
                <h3 class="solutions-list-item-title bold-text">Обучение по авторским<br>пособиям</h3>
                <span class="solutions-list-item-dash">
                    &mdash;
                </span>
                <p class="solutions-list-item-text">Тебе не нужно тратить время на самостоятельный поиск материала и
                    ничего покупать дополнительно. Мы составили 2 пособия для тебя.</p>
            </li>

            <li class="solutions-list-item">
                <svg class="solutions-list-item-svg" width="57" height="48" aria-label="Иконка аудокниги">
                    <use href="./images/sprite.svg#icon-audio-book"></use>
                </svg>
                <h3 class="solutions-list-item-title bold-text">Умение воспринимать устную английскую речь</h3>
                <span class="solutions-list-item-dash">
                    &mdash;
                </span>
                <p class="solutions-list-item-text">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и
                    разбирать аудиозаписи в соответствии с изучаемой лексикой.</p>
            </li>
            
        </ul>
    </div>
</section>