<section class="students-review container">
    <h2 class="section-title">Отзывы выпускников</h2>
    <div class="students-review__container">
        <div class="students-review__img-wrapper" >
            <img class="students-review__img" src="../images/students-reviews/student-6.png" alt="">
        </div>
        <div class="students-review__students-info">
          <h3 class="students-review__title-name">Тоня Кучеровская</h3>
          <h4 class="students-review__title-education">Выпуск 2015-го года,  Національний університет біоресурсів і природокористування України</h4>
          <p class="students-review__personal-review">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... Читать дальше </p>
        </div>   
    </div>
    <div class="students-review__thumbnail">
        <a class="students-review__thumbnail--link" href="">
            <img class="students-review__thumbnail--img" src="../images/students-reviews/thumb-student-1.png" alt="thumbnail 1" />
        </a>
        <a class="students-review__thumbnail--link" href="">
            <img class="students-review__thumbnail--img" src="../images/students-reviews/thumb-student-2.png" alt="thumbnail 2" />
        </a>
        <a class="students-review__thumbnail--link" href="">
            <img class="students-review__thumbnail--img" src="../images/students-reviews/thumb-student-3.png" alt="thumbnail 3" />
        </a>
        <a class="students-review__thumbnail--link" href="">
            <img class="students-review__thumbnail--img" src="../images/students-reviews/thumb-student-4.png" alt="thumbnail 4" />
        </a>
        <a class="students-review__thumbnail--link" href="">
            <img class="students-review__thumbnail--img" src="../images/students-reviews/thumb-student-5.png" alt="thumbnail 5" />
        </a>
        <a class="students-review__thumbnail--link" href="">
            <img class="students-review__thumbnail--img" src="../images/students-reviews/thumb-student-6.png" alt="thumbnail 6" />
        </a>
        <a class="students-review__thumbnail--link" href="">
            <img class="students-review__thumbnail--img" src="../images/students-reviews/thumb-student-7.png" alt="thumbnail 7" />
        </a>
          
    </div>
</section>