<section class="students-review">
    <h2 class="students-review__section-title">Отзывы выпускников</h2>
<div class="students-review__container">
    <div class="students-review__img-wrapper">
        <picture>
            <source srcset="./images/students-reviews/student-6-active-desktop-tablet.jpg 1x, ./images/students-reviews/student-6-active-desktop-tablet@2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/students-reviews/student-6-active-mobile.jpg 1x, ./images/students-reviews/student-6-active-mobile@2x.jpg 2x" media="(max-width: 767px)">
            <img class="students-review__profile-photo" src="./images/students-reviews/student-6-active-mobile.jpg" alt="Фото Тоня Кучеровская">
        </picture>
        <a href="">
            <svg class="students-review__social" width="30px" height="30px">
                <use href="./images/svg/sprite.svg#icon-vk"></use>
            </svg>
        </a>
    </div>

    <div class="students-review__description-container">
        <h3 class="students-review__name">Тоня Кучеровская</h3>
        <h4 class="students-review__education">Выпуск 2015-го года,  Національний університет біоресурсів і природокористування України</h4>
        <p class="students-review__review">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a class="students-review__review--extend" href="">Читать дальше </a> </p>    
    </div>
  
</div>
<div class="students-review__thumbnail--container">
        <img class="students-review__thumbnail--img" src="./images/students-reviews/student-1.jpg" srcset="./images/students-reviews/student-1.jpg 1x, ./images/students-reviews/student-1@2x.jpg 2x" alt="Фото студентки">
        <img class="students-review__thumbnail--img" src="./images/students-reviews/student-2.jpg" srcset="./images/students-reviews/student-2.jpg 1x, ./images/students-reviews/student-2@2x.jpg 2x" alt="Фото студентки" >
        <img class="students-review__thumbnail--img" src="./images/students-reviews/student-3.jpg" srcset="./images/students-reviews/student-3.jpg 1x, ./images/students-reviews/student-3@2x.jpg 2x" alt="Фото студентки" >
        <img class="students-review__thumbnail--img" src="./images/students-reviews/student-4.jpg" srcset="./images/students-reviews/student-4.jpg 1x, ./images/students-reviews/student-4@2x.jpg 2x" alt="Фото студентки" >
        <img class="students-review__thumbnail--img" src="./images/students-reviews/student-5.jpg" srcset="./images/students-reviews/student-5.jpg 1x, ./images/students-reviews/student-5@2x.jpg 2x" alt="Фото студентки" >
        <img class="students-review__thumbnail--img" src="./images/students-reviews/student-6.jpg" srcset="./images/students-reviews/student-6.jpg 1x, ./images/students-reviews/student-6@2x.jpg 2x" alt="Фото студентки" >
        <img class="students-review__thumbnail--img" src="./images/students-reviews/student-7.jpg" srcset="./images/students-reviews/student-7.jpg 1x, ./images/students-reviews/student-7@2x.jpg 2x" alt="Фото студентки" >
</div>
</section>