<section>
    <h1>Главные проблемы учеников 
        на English ВНО, которые 
        мы помогаем решить</h1>
    <ul>
        <li>
            Название грамматики
        </li>
        <li>Неумение вомпринимать
            устную английскую речь</li>
        <li>Скупой словарный запас
            для написани сочинения</li>
        <li>Поодготовка в одиночку</li>
        <li>Отсутствие единого ресурса знаний</li>
        <li>Недостатой самоорганизации и лень</li>
        <p> deleted</p>

    </ul>

</section>