<section class="students-review">
    <div class="container">
     <h2 class="students-review__section-title">Отзывы выпускников</h2>
     <div class="slider">
         <div class="students-review__container">
             <div class="students-review__img-wrapper">
                 <picture>
                     <source srcset="./images/students-reviews/student-1-active-desktop-tablet.jpg 1x, ./images/students-reviews/student-1-active-desktop-tablet@2x.jpg 2x" media="(min-width: 768px)">
                     <source srcset="./images/students-reviews/student-1-active-mobile.jpg 1x, ./images/students-reviews/student-1-active-mobile@2x.jpg 2x" media="(max-width: 767px)">
                     <img class="students-review__profile-photo" src="./images/students-reviews/student-1-active-mobile.jpg" alt="Фото Тоня Кучеровская">
                 </picture>
                 <a href="">
                     <svg class="students-review__social" width="30px" height="30px">
                         <use href="./images/svg/sprite.svg#icon-vk"></use>
                     </svg>
                 </a>
             </div>
             <div class="students-review__description-container">
                 <h3 class="students-review__name">Ніна Матвієнко</h3>
                 <h4 class="students-review__education">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                 <p class="students-review__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis impedit laudantium facere unde nemo? Voluptatibus, deleniti, alias temporibus tempora dicta quas officiis voluptatem, non similique maiores porro ea. Esse, quibusdam! </p>    
             </div>
         </div>
         <div class="students-review__container">
             <div class="students-review__img-wrapper">
                 <picture>
                     <source srcset="./images/students-reviews/student-2-active-desktop-tablet.jpg 1x, ./images/students-reviews/student-2-active-desktop-tablet@2x.jpg 2x" media="(min-width: 768px)">
                     <source srcset="./images/students-reviews/student-2-active-mobile.jpg 1x, ./images/students-reviews/student-2-active-mobile@2x.jpg 2x" media="(max-width: 767px)">
                     <img class="students-review__profile-photo" src="./images/students-reviews/student-2-active-mobile.jpg" alt="Фото Тоня Кучеровская">
                 </picture>
                 <a href="">
                     <svg class="students-review__social" width="30px" height="30px">
                         <use href="./images/svg/sprite.svg#icon-vk"></use>
                     </svg>
                 </a>
             </div>
             <div class="students-review__description-container">
                 <h3 class="students-review__name">Анастасія Каменських</h3>
                 <h4 class="students-review__education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, sequi.</h4>
                 <p class="students-review__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur nulla id architecto nostrum non porro, error reiciendis, doloribus dicta voluptates quis tempore. Nisi, id! Eius beatae delectus at enim dolores iste! Optio magnam, eius molestiae dignissimos quis eos nulla? Commodi eaque inventore tenetur, nisi suscipit sunt ex. Eligendi, iste? ... <a class="students-review__review--extend" href="">Читать дальше </a> </p>    
             </div>
         </div>
         <div class="students-review__container">
             <div class="students-review__img-wrapper">
                 <picture>
                     <source srcset="./images/students-reviews/student-3-active-desktop-tablet.jpg 1x, ./images/students-reviews/student-3-active-desktop-tablet@2x.jpg 2x" media="(min-width: 768px)">
                     <source srcset="./images/students-reviews/student-3-active-mobile.jpg 1x, ./images/students-reviews/student-3-active-mobile@2x.jpg 2x" media="(max-width: 767px)">
                     <img class="students-review__profile-photo" src="./images/students-reviews/student-3-active-mobile.jpg" alt="Фото Тоня Кучеровская">
                 </picture>
                 <a href="">
                     <svg class="students-review__social" width="30px" height="30px">
                         <use href="./images/svg/sprite.svg#icon-vk"></use>
                     </svg>
                 </a>
             </div>
             <div class="students-review__description-container">
                 <h3 class="students-review__name">Ольга Полякова</h3>
                 <h4 class="students-review__education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, sequi.</h4>
                 <p class="students-review__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur nulla id architecto nostrum non porro, error reiciendis, doloribus dicta voluptates quis tempore. Nisi, id! Eius beatae delectus at enim dolores iste! Optio magnam, eius molestiae dignissimos quis eos nulla? Commodi eaque inventore tenetur, nisi suscipit sunt ex. Eligendi, iste? ... <a class="students-review__review--extend" href="">Читать дальше </a> </p>    
              </div>
         </div>
         <div class="students-review__container">
             <div class="students-review__img-wrapper">
                 <picture>
                     <source srcset="./images/students-reviews/student-4-active-desktop-tablet.jpg 1x, ./images/students-reviews/student-4-active-desktop-tablet@2x.jpg 2x" media="(min-width: 768px)">
                     <source srcset="./images/students-reviews/student-4-active-mobile.jpg 1x, ./images/students-reviews/student-4-active-mobile@2x.jpg 2x" media="(max-width: 767px)">
                     <img class="students-review__profile-photo" src="./images/students-reviews/student-4-active-mobile.jpg" alt="Фото Тоня Кучеровская">
                 </picture>
                 <a href="">
                     <svg class="students-review__social" width="30px" height="30px">
                         <use href="./images/svg/sprite.svg#icon-vk"></use>
                     </svg>
                 </a>
             </div>
             <div class="students-review__description-container">
                 <h3 class="students-review__name">Елізабет Александра Мері Віндзор</h3>
                 <h4 class="students-review__education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, sequi.</h4>
                 <p class="students-review__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem tenetur nulla id architecto nostrum non porro, error reiciendis, doloribus dicta voluptates quis tempore. Nisi, id! Eius beatae delectus at enim dolores iste! Optio magnam, eius molestiae dignissimos quis eos nulla? Commodi eaque inventore tenetur, nisi suscipit sunt ex. Eligendi, iste? ... <a class="students-review__review--extend" href="">Читать дальше </a> </p>    
              </div>
         </div>
         <div class="students-review__container">
             <div class="students-review__img-wrapper">
                 <picture>
                     <source srcset="./images/students-reviews/student-5-active-desktop-tablet.jpg 1x, ./images/students-reviews/student-5-active-desktop-tablet@2x.jpg 2x" media="(min-width: 768px)">
                     <source srcset="./images/students-reviews/student-5-active-mobile.jpg 1x, ./images/students-reviews/student-5-active-mobile@2x.jpg 2x" media="(max-width: 767px)">
                     <img class="students-review__profile-photo" src="./images/students-reviews/student-5-active-mobile.jpg" alt="Фото Тоня Кучеровская">
                 </picture>
                 <a href="">
                     <svg class="students-review__social" width="30px" height="30px">
                         <use href="./images/svg/sprite.svg#icon-vk"></use>
                     </svg>
                 </a>
             </div>
             <div class="students-review__description-container">
                 <h3 class="students-review__name">Мадонна Луїза Вероніка Чикконе</h3>
                 <h4 class="students-review__education">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, recusandae!</h4>
                 <p class="students-review__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit labore qui recusandae magnam eius nihil eum cum veniam consectetur harum aspernatur inventore, libero nostrum blanditiis quos numquam at, voluptatibus nobis aliquam aliquid in unde minima asperiores. Quaerat beatae eius praesentium officiis incidunt est in eos.</p>    
             </div>
         </div>
         <div class="students-review__container">
             <div class="students-review__img-wrapper">
                 <picture>
                     <source srcset="./images/students-reviews/student-6-active-desktop-tablet.jpg 1x, ./images/students-reviews/student-6-active-desktop-tablet@2x.jpg 2x" media="(min-width: 768px)">
                     <source srcset="./images/students-reviews/student-6-active-mobile.jpg 1x, ./images/students-reviews/student-6-active-mobile@2x.jpg 2x" media="(max-width: 767px)">
                     <img class="students-review__profile-photo" src="./images/students-reviews/student-6-active-mobile.jpg" alt="Фото Тоня Кучеровская">
                 </picture>
                 <a href="">
                     <svg class="students-review__social" width="30px" height="30px">
                         <use href="./images/svg/sprite.svg#icon-vk"></use>
                     </svg>
                 </a>
             </div>
             <div class="students-review__description-container">
                 <h3 class="students-review__name">Тоня Кучеровская</h3>
                 <h4 class="students-review__education">Выпуск 2015-го года,  Національний університет біоресурсів і природокористування України</h4>
                 <p class="students-review__review">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен ... <a class="students-review__review--extend" href="">Читать дальше </a> </p>    
             </div>
         </div>
         <div class="students-review__container">
             <div class="students-review__img-wrapper">
                 <picture>
                     <source srcset="./images/students-reviews/student-7-active-desktop-tablet.jpg 1x, ./images/students-reviews/student-7-active-desktop-tablet@2x.jpg 2x" media="(min-width: 768px)">
                     <source srcset="./images/students-reviews/student-7-active-mobile.jpg 1x, ./images/students-reviews/student-7-active-mobile@2x.jpg 2x" media="(max-width: 767px)">
                     <img class="students-review__profile-photo" src="./images/students-reviews/student-7-active-mobile.jpg" alt="Фото Тоня Кучеровская">
                 </picture>
                 <a href="">
                     <svg class="students-review__social" width="30px" height="30px">
                         <use href="./images/svg/sprite.svg#icon-vk"></use>
                     </svg>
                 </a>
             </div>
             <div class="students-review__description-container">
                 <h3 class="students-review__name">Віра Сердюк</h3>
                 <h4 class="students-review__education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quod corporis!</h4>
                 <p class="students-review__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti repellat amet id molestiae hic doloribus. Vero consectetur ipsum excepturi sequi aliquid, nihil quod totam qui nostrum expedita quidem dolorum quisquam itaque a eius exercitationem molestiae cum assumenda aliquam! Ullam accusantium non voluptas culpa perferendis corrupti totam eum ea. Maxime repellat sunt asperiores... <a class="students-review__review--extend" href="">Читать дальше </a> </p>    
             </div>
         </div>
     </div>
     <div class="thumbnail"></div>
    </div>
 </section>
 
  <!-- Подключаем - jQuerry -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  
  <!-- Подключаем слайдер Slick -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
  <!-- Подключаем файл скриптов -->
  <script src="slider-js/slider.js"></script>