<section class="students-problems">
    <h1 class="students-problems-title container">
        Главные проблемы учеников на English ВНО, которые мы <span class="color-text">помогаем</span> решить
    </h1>
    <ul class="students-problems-list container">
        <li class="students-problems-item">
            <p>01</p>
            <h3 class="students-problems-subtitle">
                Незнание грамматики
            </h3>
        </li>
        <li class="students-problems-item">
            <p>02</p>
            <h3 class="students-problems-subtitle">
                Неумение воспринимать устную английскую речь
            </h3>
        </li>
        <li class="students-problems-item">
            <p>03</p>
            <h3 class="students-problems-subtitle">
                Скупой словарный запас для написания сочинения
            </h3>
        </li>
        <li class="students-problems-item">
            <p>04</p>
            <h3 class="students-problems-subtitle">
                Подготовка в одиночку
            </h3>
        </li>
        <li class="students-problems-item">
            <p>05</p>
            <h3 class="students-problems-subtitle">
                Отсутствие единого ресурса знаний
            </h3>
        </li>
        <li class="students-problems-item">
            <p>06</p>
            <h3 class="students-problems-subtitle">
                Недостаток самоорганизации и лень
            </h3>
        </li>
    </ul>
</section>