*,
*::before,
*::after {
  box-sizing: border-box;
  }

.pip {
    font-family: 'DM Sans', sans-serif;
font-family: 'Titan One', cursive;
}
  a { text-decoration: none;}

  ul { list-style: none;}
  
  /* Variables*/

  :root {
    --general-color:#FFFFFF; 

  }

   /* HERO-HEADER-CLASS*/

.container {
    width: 1200px;
    margin-left: 40px;
    margin-right: 40px;
    background: #FFB8CA;
}