<section class="subcribe">
    <div class="container">
        <div class="sub-container">
        <b class="subcribe__title">Подпишитесь на нашу рассылку</b>
        <p class="subcribe__desc">Полезные статьи, акции, новости - получите все это сейчас!</p>
        <form class="subcribe__form" autocomplete="on">
            <label class="subcribe__label">
                <input type="email" name="mail" class="subcribe__input" placeholder="Ваш e-mail">
            </label>  
            <button class="subcribe__button" type="submit">Подписаться</button>
        </form>
        <p class="subcribe__spam">Мы не шлем спам, и передаем никому ваши данные.</p>
        </div>
    </div>
</section>