<section class="subscribe-section"> 
  <div class="subscribe-content-box">
    <h2>
      EXPLORE OUR NEW <br />
      CHOCOLATE FIRST
    </h2>
    <p>
      From the velvety texture to the rich and complex flavor, our New
      Chocolate is a true indulgence that will leave you craving more. Made
      with only the finest ingredients and handcrafted with the utmost care,
      each piece is a work of art that is sure to please.
    </p>
    <!-- Add modal to subscribe button -->
    <button class="subscribe-button" data-modal-open>Subscribe</button>
  </div>
  <div class="subscribe-modal is-hidden" data-modal>
    <!-- replace with svg close button -->
    <button class="exit" data-modal-close>x</button>
    <img
      src="./images/subscribe-images/subscribe-modal.jpg"
      alt="chocolate"
      class="modal-img"
    />
    <div class="subscribe-modal-bottom">
      <h2 class="modal-h2">
        Explore our <br /><span class="modal-h2-orange">new chocolate</span>
        first!
      </h2>
      <form class="subscribe-modal-form">
        <input
          type="email"
          placeholder="Enter your email"
          class="subscribe-email-input"
        />
        <button class="subscribe-button subscribe-button-modal">
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
