<section class="subscribe-section">
  <div class="subcribe-container">
    <h2 class="subscribe-title">EXPLORE OUR NEW <br />CHOCOLATE FIRST</h2>
    <p class="subscribe-paragraph">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>

    <button class="subscribe-button" type="button">Subscribe</button>
  </div>
</section>
