<div class="image-slider swiper-container">
    <div class="image-slider__wrapper swiper-wrapper">
        <div class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
                <picture>
                    <source srcset="./images/slider-test/emily1x.webp 170w,
                                    ./images/slider-test/emily2x.webp 255w,
                                    ./images/slider-test/emily3x.webp 340w" type="image/webp">
                    <source srcset="./images/slider-test/emily1x.jpg 170w,
                                    ./images/slider-test/emily2x.jpg 255w,
                                    ./images/slider-test/emily3x.jpg 340w">
                    <img src="./images/slider-test/emily1x.jpg" alt="emily1x" sizes="85px">
                </picture>
            </div>
            <div class="image-slider__text">
                <span class="image-slider__text-decore"> Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem.
                    In hendrerit </span> <span class="image-slider__text-decore"> nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</span>

            </div>

            <span class="image-slider__decore">
            </span>
            <span class="image-slider__decore">
            </span>
            <span class="image-slider__decore">
            </span>
            <p class="image-slider__paragraph">Emily, Los Angeles</p>
        </div>
        <div class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
                <picture>
                    <source srcset="./images/slider-test/negra1x.webp 170w,
                                    ./images/slider-test/negra2x.webp 255w,
                                    ./images/slider-test/negra3x.webp 340w" type="image/webp">
                    <source srcset="./images/slider-test/negra1x.jpg 170w,
                                    ./images/slider-test/negra2x.jpg 255w,
                                    ./images/slider-test/negra3x.jpg 340w">
                    <img src="./images/slider-test/negra1x.jpg" alt="negra1x" sizes="85px">
                </picture>
            </div>
            <div class="image-slider__text">
                <span class="image-slider__text-decore"> Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem.
                    In hendrerit </span> <span class="image-slider__text-decore"> nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</span>

            </div>
            <span class="image-slider__decore">
            </span>
            <span class="image-slider__decore">
            </span>
            <span class="image-slider__decore">
            </span>
            <p class="image-slider__paragraph">Negra, New York</p>
        </div>
        <div class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
                <picture>
                    <source srcset="./images/slider-test/kasandra1x.webp 170w,
                                    ./images/slider-test/kasandra2x.webp 255w,
                                    ./images/slider-test/kasandra3x.webp 340w" type="image/webp">
                    <source srcset="./images/slider-test/kasandra1x.jpg 170w,
                                    ./images/slider-test/kasandra2x.jpg 255w,
                                    ./images/slider-test/kasandra3x.jpg 340w">
                    <img src="./images/slider-test/kasandra1x.jpg" alt="kasandra1x" sizes="85px">
                </picture>
            </div>
            <div class="image-slider__text">
                <span class="image-slider__text-decore"> Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem.
                    In hendrerit </span> <span class="image-slider__text-decore"> nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</span>
            </div>
            <span class="image-slider__decore">
            </span>
            <span class="image-slider__decore">
            </span>
            <span class="image-slider__decore">
            </span>
            <p class="image-slider__paragraph">Kasandra, Chicago</p>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>