<!-- Syllabus -->

<section class="syllabus">
  <div class="container syllabus__container">
    <h2 class="syllabus__title">Наша программа</h2>
    <ul class="list syllabus__program">
      <li class="syllabus__semester">
        <span class="syllabus__semester-title">1 семестр</span>
        <div class="syllabus__field-wrapper">
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">Grammar</span>
            <li class="syllabus__item">Nouns & Articles</li>
            <li class="syllabus__item">Adjectives & Adverb</li>
          </ul>
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">Vocabulary</span>

            <li class="syllabus__item">Family & Relations</li>
            <li class="syllabus__item">People & Society</li>
          </ul>
          <ul>
            <li></li>
          </ul>
        </div>
      </li>
      <li class="syllabus__semester">
        <span class="syllabus__semester-title">2 семестр</span>
        <div class="syllabus__field-wrapper">
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">Grammar</span>
            <li class="syllabus__item">Pronouns</li>
            <li class="syllabus__item">Active Voice</li>
            <li class="syllabus__item">Passive Voice</li>
          </ul>
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">Vocabulary</span>
            <li class="syllabus__item">Home</li>
            <li class="syllabus__item">School</li>
            <li class="syllabus__item">Work</li>
          </ul>
          <ul>
            <li></li>
          </ul>
        </div>
      </li>
      <li class="syllabus__semester">
        <span class="syllabus__semester-title">3 семестр</span>
        <div class="syllabus__field-wrapper">
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">Grammar</span>
            <li class="syllabus__item">Modal verbs</li>
            <li class="syllabus__item">Infinitive</li>
            <li class="syllabus__item">Gerund</li>
            <li class="syllabus__item">Participle: 1, 2</li>
          </ul>
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">Vocabulary</span>
            <li class="syllabus__item">Travel & Tourism</li>
            <li class="syllabus__item">Culture & Free Time</li>
            <li class="syllabus__item">Sport</li>
          </ul>
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title"> Writing</span>
            <li class="syllabus__item">Informal Letter</li>
          </ul>
        </div>
      </li>

      <li class="syllabus__semester">
        <span class="syllabus__semester-title">4 семестр</span>
        <div class="syllabus__field-wrapper">
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">Grammar</span>
            <li class="syllabus__item">Clauses: Conditional and Wishes</li>
            <li class="syllabus__item">Direct / Reported speech</li>
            <li class="syllabus__item">Preposition</li>
            <li class="syllabus__item">Conjunction</li>
            <li class="syllabus__item">Numeral</li>
          </ul>
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">Vocabulary</span>
            <li class="syllabus__item">Healthy Living</li>
            <li class="syllabus__item">Nature & Environment</li>
            <li class="syllabus__item">Money</li>
          </ul>
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title"> Writing</span>
            <li class="syllabus__item">Formal Letter</li>
          </ul>
        </div>
      </li>
      <li class="syllabus__semester">
        <span class="syllabus__semester-title">5 семестр</span>
        <div class="syllabus__field-wrapper">
          <ul class="list syllabus__field" lang="en">
            <span class="syllabus__field-title">&nbsp;</span>
            <li class="syllabus__item">Revision</li>
            <li class="syllabus__item">Tests</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End Syllabus -->

<!-- Advantages -->

<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__wrapper">
      <h2 class="advantages__title">Почему нас выбирают</h2>
      <!--классы block-list-->
      <ol class="list block-list__list advantages__list">
        <li class="block-list__item advantages__item">
          <span class="block-list__num advantages__num">01</span>
          <h3 class="block-list__title advantages__name">
            Обучение в малых командах
          </h3>
        </li>
        <li class="block-list__item advantages__item">
          <span class="block-list__num advantages__num">02</span>
          <h3 class="block-list__title advantages__name">
            Визуализированные конспекты
          </h3>
        </li>
        <li class="block-list__item advantages__item">
          <span class="block-list__num advantages__num">03</span>
          <h3 class="block-list__title advantages__name">
            Каждое занятие имеет цель и конкретный результат
          </h3>
        </li>
        <li class="block-list__item advantages__item">
          <span class="block-list__num advantages__num">04</span>
          <h3 class="block-list__title advantages__name">
            Реальные результаты преподавателя
          </h3>
        </li>
        <li class="block-list__item advantages__item">
          <span class="block-list__num advantages__num">05</span>
          <h3 class="block-list__title advantages__name">
            Программа курса соответствует требованиям МОН Украины
          </h3>
        </li>
        <li class="block-list__item advantages__item">
          <span class="block-list__num advantages__num">06</span>
          <h3 class="block-list__title advantages__name">
            Набор команд по уровням знаний
          </h3>
        </li>
      </ol>
    </div>
  </div>
</section>
<!-- End Advantages -->
