<!-- Syllabus -->

<section class="syllabus">
  <div class="container syllabus__container">
    <h2 class="syllabus__title">Наша программа</h2>
    <ul class="list syllabus__program">
      <li class="syllabus__semester">
        1 семестр
        <ul class="list syllabus__field" lang="en">
          Grammar
          <li class="syllabus__item">Nouns & Articles</li>
          <li class="syllabus__item">Adjectives & Adverb</li>
        </ul>
        <ul class="list syllabus__field" lang="en">
          Vocabulary
          <li class="syllabus__item">Family & Relations</li>
          <li class="syllabus__item">People & Society</li>
        </ul>
      </li>
      <li class="syllabus__semester">
        2 семестр
        <ul class="list syllabus__field" lang="en">
          Grammar
          <li class="syllabus__item">Pronouns</li>
          <li class="syllabus__item">Active Voice</li>
          <li class="syllabus__item">Passive Voice</li>
        </ul>
        <ul class="list syllabus__field" lang="en">
          Vocabulary
          <li class="syllabus__item">Home</li>
          <li class="syllabus__item">School</li>
          <li class="syllabus__item">Work</li>
        </ul>
      </li>
      <li class="syllabus__semester">
        3 семестр
        <ul class="list syllabus__field" lang="en">
          Grammar
          <li class="syllabus__item">Modal verbs</li>
          <li class="syllabus__item">Infinitive</li>
          <li class="syllabus__item">Gerund</li>
          <li class="syllabus__item">Participle: 1, 2</li>
        </ul>
        <ul class="list syllabus__field" lang="en">
          Vocabulary
          <li class="syllabus__item">Travel & Tourism</li>
          <li class="syllabus__item">Culture & Free Time</li>
          <li class="syllabus__item">Sport</li>
        </ul>
        <ul class="list syllabus__field" lang="en">
          Writing
          <li class="syllabus__item">Informal Letter</li>
        </ul>
      </li>
      <li class="syllabus__semester">
        4 семестр
        <ul class="list syllabus__field" lang="en">
          Grammar
          <li class="syllabus__item">Clauses: Conditional and Wishes</li>
          <li class="syllabus__item">Direct / Reported speech</li>
          <li class="syllabus__item">Preposition</li>
          <li class="syllabus__item">Conjunction</li>
          <li class="syllabus__item">Numeral</li>
        </ul>
        <ul class="list syllabus__field" lang="en">
          Vocabulary
          <li class="syllabus__item">Healthy Living</li>
          <li class="syllabus__item">Nature & Environment</li>
          <li class="syllabus__item">Money</li>
        </ul>
        <ul class="list syllabus__field" lang="en">
          Writing
          <li class="syllabus__item">Formal Letter</li>
        </ul>
      </li>
      <li class="syllabus__semester">
        5 семестр
        <ul class="list syllabus__field" lang="en">
          -
          <li class="syllabus__item">Revision</li>
          <li class="syllabus__item">Tests</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<!-- End Syllabus -->

<!-- Advantages -->

<section class="advantages">
  <div class="container advantages__container">
    <!--использовать ситили с block-list-->
    <h2 class="advantages__title">Почему нас выбирают</h2>
    <ol class="list advantages__list">
      <li class="advantages__item">
        <span class="advantages__item-position">01</span>
        Обучение в малых командах
      </li>
      <li class="advantages__item">
        <span class="advantages__item-position">02</span>
        Визуализированные конспекты
      </li>
      <li class="advantages__item">
        <span class="advantages__item-position">03</span>
        Каждое занятие имеет цель и конкретный результат
      </li>
      <li class="advantages__item">
        <span class="advantages__item-position">04</span>
        Ревльные результаты преподавателя
      </li>
      <li class="advantages__item">
        <span class="advantages__item-position">05</span>
        Прогамма курса соответствует требованиям МОН Украины
      </li>
      <li class="advantages__item">
        <span class="advantages__item-position">06</span>
        Набор команд по уровням знаний
      </li>
    </ol>
  </div>
</section>
<!-- End Advantages -->
