<section>
  <div>
    <div>
      <h2>IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION</h2>
      <p>
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul>
      <li>
        <img src="../images/milk-chocolate.jpg" alt="milkchocolate" />
        <h3>MILK CHOCOLATE</h3>
      </li>
      <li>
        <img src="../images/milk.jpg" alt="milk" />
        <h3>MILK</h3>
      </li>
      <li>
        <img src="../images/nuts.jpg" alt="nuts" />
        <h3>NUTS</h3>
      </li>
      <li>
        <img
          src="../images/semi-sweet-chocolate.jpg"
          alt="semisweetchocolate"
        />
        <h3>SEMI - SWEET CHOCOLATE</h3>
      </li>
    </ul>
  </div>
</section>
