<link rel="stylesheet" href="../css/taste-sens.css" />
<section
  class="section components">
  <div class="container">
    <div class="components-content">
      <h2 class="components__title title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="title-decor">TASTE</span> SENSATION
      </h2>
      <p class="components__text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="flip-card__list">
      <li class="flip-card">
        <div class="flip-card__inner">
          <div class="flip-card__front chocolate">
              <img
                class="front-img"
                src="../images/taste_sensations_images/milk-chocolate.jpg"
                alt="milk-chocolate"
              />
            <h3 class="front-title">MILK CHOCOLATE</h3>
          </div>
          <div class="flip-card__back">
            <h3 class="back-title">MILK CHOCOLATE</h3>
            <ul class="back-buttons-list">
              <li class="back-buttons__item">
                <button type="button" class="back-button back-button-one">chocolate</button>
              </li>
              <li class="back-buttons__item">
                <button type="button" class="back-button back-button-two">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="back-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="flip-card">
        <div class="flip-card__inner">
          <div class="flip-card__front">
            <img
                class="front-img"
                src="../images/taste_sensations_images/milk.jpg"
                alt="milk"
              />
            <h3 class="front-title">MILK</h3>
          </div>
          <div class="flip-card__back">
            <h3 class="back-title">MILK</h3>
            <ul class="back-buttons-list">
              <li class="back-buttons__item">
                <button type="button" class="back-button back-button-one">milk</button>
              </li>
              <li class="back-buttons__item">
                <button type="button" class="back-button back-button-two">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="back-text">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="flip-card">
        <div class="flip-card__inner">
          <div class="flip-card__front nuts">
           <img
                class="front-img"
                src="../images/taste_sensations_images/kisspng-milk-white-chocolate-hot-chocolate-chocolate-bar-c-5af7417b10bc19 1 (1).jpg"
                alt="nuts"
              />
            <h3 class="front-title">NUTS</h3>
          </div>
          <div class="flip-card__back">
            <h3 class="back-title">NUTS</h3>
            <ul class="back-buttons-list">
              <li class="back-buttons__item">
                <button type="button" class="back-button back-button-one">nuts</button>
              </li>
              <li class="back-buttons__item">
                <button type="button" class="back-button back-button-two">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="back-text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="flip-card">
        <div class="flip-card__inner">
          <div class="flip-card__front">
            <img
                class="front-img"
                src="../images/taste_sensations_images/semi-sweet-chocolate.jpg"
                alt="semi-sweet-chocolate"
              />
            </picture>
            <h3 class="front-title">SEMI - SWEET CHOCOLATE</h3>
          </div>
          <div class="flip-card__back">
            <h3 class="back-title">SEMI - SWEET CHOCOLATE</h3>
            <ul class="back-buttons-list">
              <li class="back-buttons__item">
                <button type="button" class="back-button back-button-one decor">
                  sweet chocolate
                </button>
              </li>
              <li class="back-buttons__item">
                <button type="button" class="back-button back-button-two decor">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="back-text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and more mellow.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
