<section class="teacher-secction">
  <div class="container">
    <h2 class="section-title">Преподаватель</h2>
    <div class="teacher-box">
      <div class="box-img">
        <picture>
          <source
            srcset="
              ./images/teacher/mobile/teacher.jpg    1x,
              ./images/teacher/mobile/teacher@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/teacher/tablet/teacher.jpg    1x,
              ./images/teacher/tablet/teacher@2x.jpg 2x
            "
            media="(max-width: 1313px)"
          />
          <source
            srcset="
              ./images/teacher/desktop/teacher.jpg    1x,
              ./images/teacher/desktop/teacher@2x.jpg 2x
            "
            media="(min-width: 1314px)"
          />
          <img src="./images/teacher/desktop/teacher.jpg" alt="" />
        </picture>
      </div>
      <div class="teacher-block">
        <h3 class="teacher-title">Елена Морева</h3>
        <ul class="list">
          <li class="teacher-list-item">
            <div>
              <svg class="teacher-svg" width="17.08" height="14">
                <use href="./images/sprite.svg#icon-galochka"></use>
              </svg>
            </div>
            <p class="teacher-item-p">Опыт подготовки учеников к ВНО - 6 лет</p>
          </li>
          <li class="teacher-list-item">
            <div>
              <svg class="teacher-svg" width="17.08" height="14">
                <use href="./images/sprite.svg#icon-galochka"></use>
              </svg>
            </div>
            <p class="teacher-item-p">
              Собственный результат сдачи ВНО - 197 баллов 2 года подряд
            </p>
          </li>
          <li class="teacher-list-item">
            <div>
              <svg class="teacher-svg" width="17.08" height="14">
                <use href="./images/sprite.svg#icon-galochka"></use>
              </svg>
            </div>
            <p class="teacher-item-p">
              Сдала на отлично международный аналог ВНО - Кембриджский PET
              (Preliminary English Test)
            </p>
          </li>
        </ul>
        <span class="line">—</span>
        <p class="teacher-about">
          Высшее образование получила в Институте международных отношений НАУ по
          специальности переводчик-аналитик.<br /><br />
          В свободное время проходит курсы от лучших университетов мира по
          эффективному преподаванию и методикам написания сочинений.<br /><br />
          В числе пройденных: English Grammar and Essay Writing (Berkeley),
          English Grammar&Style (The University of Queesland), How to Write an
          Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
          Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>
        <a class="teacher-link" href="#"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
