<section class="conteiner">
  <div class="teacher">
    <h2 class="title-teacher">Преподаватель</h2>

    <img src="#" alt="foto" />
    <p class="title-name">Елена Морева</p>
    <ul class="teacher-experience">
      <li>
        <svg width="17.08" height="14">
          <use class="icon-daw" href="#"></use>
        </svg>
        Опыт подготовки учеников к ВНО - 6 лет
      </li>
      <li>
        <svg width="17.08" height="14">
          <use class="icon-daw" href="#"></use>
        </svg>
        Собственный результат сдачи ВНО - 197 баллов 2 года подряд
      </li>
      <li>
        <svg width="17.08" height="14">
          <use class="icon-daw" href="#"></use>
        </svg>
        Сдала на отлично международный аналог ВНО - Кембриджский PET
        (Preliminary English Test
      </li>
    </ul>

    <article class="teacher-education">
      <p>
        Высшее образование получила в Институте международных отношений НАУ по
        специальности переводчик-аналитик.
      </p>
      <p>
        В свободное время проходит курсы от лучших университетов мира по
        эффективному преподаванию и методикам написания сочинений.
      </p>
      <p>
        В числе пройденных: English Grammar and Essay Writing (Berkeley),
        English Grammar&Style (The University of Queesland), How to Write an
        Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
        Teaching (GEMS education), Powerful Tools for Teaching and Learning
        (University of Houston).
      </p>
      <p class="certificate-teacher">
        Cambrige English Entry Level Certificate
      </p>
    </article>
  </div>
  <h2 class="title-text">Мы гарантируем</h2>
  <ul class="our-warranty">
    <li>
      <svg class="icon-fire" width="14.67" height="20">
        <use href="#"></use>
      </svg>
      <svg>
        <use href="#"></use>
      </svg>
      Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
      тестировании. Иначе мы вернем деньги. <sup class="akcent">*</sup>
    </li>
    <li>
      <svg class="icon-fire" width="14.67" height="20">
        <use href="#"></use>
      </svg>
      <svg>
        <use href="#"></use>
      </svg>
      Ты научишься писать сочинения минимум на 10 баллов из 14.
      <span>В то время как 20% учеников получили за сочинение 0.</span>
    </li>
    <li>
      <svg class="icon-fire" width="14.67" height="20">
        <use href="#"></use>
      </svg>
      <svg>
        <use href="#"></use>
      </svg>
      Ты будешь заниматься в своем районе. Мы выберем место проведения занятий
      после формирования команд.
    </li>
    <li>
      <svg class="icon-fire" width="14.67" height="20">
        <use href="#"></use>
      </svg>
      <svg>
        <use href="#"></use>
      </svg>

      Команды будут сформированы, исходя из начального уровня учеников. Мы
      учитываем особенности каждого ученика.
    </li>
  </ul>
</section>
