<section class="teachers" id="teachers"> 
<div class="container">
<h2 class="teachers-title">Преподаватель</h2>
<div class="teachers-container">
    <div class="teacher-img">
        <picture >
            <source media="(min-width:1345px )" srcset="./images/desktop-teachers.webp 1x, ./images/desktop-teachers@2x.webp 2x" type="image/webp">
            <source media="(min-width:1345px )" srcset="./images/desktop-teachers.jpg 1x, ./images/desktop-teachers@2x.jpg 2x" >
             <source media="(min-width:320px )" srcset="./images/mobile-teachers.webp 1x, ./images/mobile-teachers@2x.webp 2x" type="image/webp">
                    <source media="(min-width:320px )" srcset="./images/mobile-teachers.jpg 1x, ./images/mobile-teachers@2x.jpg 2x" >   
          <img src="./images/mobile-teachers.jpg" alt="Фото преподавателя">
          </picture>
        </div>
          <div class="teachers-list-container">
              <h3 class="teachers-title-list">Елена Морева</h3>
              <ul class="teachers-list">
                  <li class="items teachers-list-text">Опыт подготовки учеников к ВНО - 6 лет</li>
                  <li class="items teachers-list-text">Собственный результат сдачи ВНО - 197 баллов 2 года подряд </li>
                  <li class="items teachers-list-text">Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)</li>
              </ul>
         <p class="teachers-text teachers-text-indent">  Высшее образование  получила в Институте международных отношений НАУ по специальности переводчик-аналитик. </p>
           <p class="teachers-text teachers-text-indent">В свободное время  проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания сочинений. </p> 
            <p class="teachers-text">В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).
            </p>
            <a class="teachers-link" href="">Cambrige English Entry Level Certificate</a>
          </div>
</div>
</div>
</section>