<section class="teacher">
  <div class="teacher-main-container">

    <h2 class="teacher-title">Преподаватель</h2>
    
    <div class="teacher-container">
      <div class="teacher-photo-container">

        <picture>
          <source srcset="./images/teacher/teacher-desktop.webp 1x, ./images/teacher/teacher-desktop@2x.webp 2x" 
          media="(min-width: 1680px)"
          type="image/webp">
          <source srcset="./images/teacher/teacher-desktop.jpg 1x, ./images/teacher/teacher-desktop@2x.jpg 2x" 
          media="(min-width: 1680px)">
          
          <source srcset="./images/teacher/teacher-mob.webp 1x, ./images/teacher/teacher-mob@2x.webp 2x" 
          media="(min-width: 768px)"
          type="image/webp">
          <source srcset="./images/teacher/teacher-mob.jpg 1x, ./images/teacher/teacher-mob@2x.jpg 2x" 
          media="(min-width: 768px)">

          <img class="teacher-photo" src="./images/teacher/teacher-mob.jpg" alt="фото преподавателя">
        </picture>

      </div>

      <div class="teacher-data-container">

        <h2 class="teacher-name">Елена Морева</h2>
        <ul class="teacher-list list">
          <li class="teacher-list-item">
            <div class="teacher-container-icon">
              <svg class="teacher-list-check-mark-1" width="17" height="14">
                <use href="./images/sprite.svg#icon-check-mark"></use>
              </svg>
              <svg class="teacher-list-check-mark-2" width="24" height="20">
                <use href="./images/sprite.svg#icon-check-mark"></use>
              </svg>
            </div>
          <p>Опыт подготовки учеников к ВНО - 6 лет</p>
        </li>
          <li class="teacher-list-item">
            <div class="teacher-container-icon">
              <svg class="teacher-list-check-mark-1" width="17" height="14">
                <use href="./images/sprite.svg#icon-check-mark"></use>
              </svg>
              <svg class="teacher-list-check-mark-2" width="24" height="20">
                <use href="./images/sprite.svg#icon-check-mark"></use>
              </svg>
            </div>
          <p>Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
        </li>
          <li class="teacher-list-item">
            <div class="teacher-container-icon">
              <svg class="teacher-list-check-mark-1" width="17" height="14">
                <use href="./images/sprite.svg#icon-check-mark"></use>
              </svg>
              <svg class="teacher-list-check-mark-2" width="24" height="20">
                <use href="./images/sprite.svg#icon-check-mark"></use>
              </svg>
            </div>
          <p>Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)</p>
        </li>
        </ul>

        <span class="teacher-element">—</span>

        <div class="teacher-progress-container">

          <ul class="teacher-progress-list list">
            <li class="teacher-progress-list-item">Высшее образование  получила в Институте международных отношений НАУ по специальности переводчик-аналитик.</li>
            <li class="teacher-progress-list-item">В свободное время  проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания сочинений.</li>
            <li class="teacher-progress-list-item">В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</li>
          </ul>
          
          <span lang="en">
            <a class="сertificate" href="" target="_blank">Cambrige English Entry Level Certificate</a>
          </span>
    
        </div>

      </div>
    </div>

  </div>
</section>