<section class="section section-team">
  <div class="container">
    <p>для настоящих ценителей атмосферы</p>

    <h2 class="section-title">Наши мастера</h2>

    <ul class="team-list">
      <li class="team">
        <div class="team-photo">
          <img src="../images/demo.jpg" alt="" />
        </div>

        <h3 class="team-member">John Smith</h3>
        <p>Extreme Barber</p>

        <ul class="network">
          <li>
            <a href="#" class="size-icon" aria-label="Instagram">
              <svg width="20px" height="20px">
                <use href=" "></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="Twitter"
              ><svg width="20px" height="20px">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="Facebook">
              <svg width="20" height="20">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="LinkedIn">
              <svg width="20px" height="20px">
                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team">
        <div class="team-photo"></div>
        <img src="../images/team/michele.jpg" alt=" Michele Doe photo" />
        <img src="/src/images/" alt="" />

        <h3 class="team-member">Michele Doe</h3>
        <p>Extreme Barber</p>

        <ul class="network">
          <li>
            <a href="#" class="size-icon" aria-label="Instagram">
              <svg width="20px" height="20px">
                <use href=" "></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="Twitter"
              ><svg width="20px" height="20px">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="Facebook">
              <svg width="20" height="20">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="LinkedIn">
              <svg width="20px" height="20px">
                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team">
        <div class="team-photo">
          <p>photo</p>
        </div>

        <h3 class="team-member">Alan Black</h3>
        <p>Extreme Barber</p>

        <ul class="network">
          <li>
            <a href="#" class="size-icon" aria-label="Instagram">
              <svg width="20px" height="20px">
                <use href=" "></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="Twitter"
              ><svg width="20px" height="20px">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="Facebook">
              <svg width="20" height="20">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="size-icon" aria-label="LinkedIn">
              <svg width="20px" height="20px">
                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
