<!--Team-->
<section class="section-team">
    <div class="container">
        <b class="team-text">для настоящих ценителей атмосферы</b>
        <h2 class="section-title">
            Наши мастера
        </h2>
        <ul class="team-list">
            <li class="team-item">
                <picture>
                    <source srcset="./images/team1_370.jpg 1x, ./images/team1_370x.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/team1_450t.jpg 1x, ./images/team1_450xt.jpg 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/team1_418m.jpg 1x, ./images/team1_418xm.jpg 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/team1_418m.jpg" alt="Extreme Barber photo" class="team-photo" />
                </picture>
                <h3 class="team-title">John Smith</h3>
                <p class="team-role">Extreme Barber</p>
                <ul class="social-links list">
                    <li class="team-links">
                        <a class="icon links" href="https://www.instagram.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#instagram">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.twitter.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#twitter">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.facebook.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.linkedin.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#linkedin">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="./images/team2_370.jpg 1x, ./images/team2_370x.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/team2_450t.jpg 1x, ./images/team2_450xt.jpg 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/team2_418m.jpg 1x, ./images/team2_418xm.jpg 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/team2_418m.jpg" alt="Extreme Barber photo" class="team-photo" />
                </picture>
                <h3 class="team-title">Michele Doe</h3>
                <p class="team-role">Extreme Barber</p>
                <ul class="social-links list">
                    <li class="team-links">
                        <a class="icon links" href="https://www.instagram.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#instagram">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.twitter.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#twitter">
                                </use>
                            </svg>

                        </a></li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.facebook.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.linkedin.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#linkedin">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="./images/team3_370.jpg 1x, ./images/team3_370x.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="./images/team3_450t.jpg 1x, ./images/team3_450xt.jpg 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/team3_418m.jpg 1x, ./images/team3_418xm.jpg 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/team3_418m.jpg" alt="Extreme Barber photo" class="team-photo" />
                </picture>
                <h3 class="team-title">Alan Black</h3>
                <p class="team-role">Extreme Barber</p>
                <ul class="social-links list">
                    <li class="team-links">
                        <a class="icon links" href="https://www.instagram.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#instagram">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.twitter.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#twitter">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.facebook.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-links">
                        <a class="icon links" href="https://www.linkedin.com/">
                            <svg class="team-icon">
                                <use href="./images/symbol-defs.svg#linkedin">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>