<section class="team">
  <div class="container">
    <h2 class="team-title">для настоящих ценителей атмосферы</h2>
    <h3 class="team-subtitle">Наши мастера</h3>
    <ul class="team-list">
      <li class="team-item">
        <div class="team-thumb">
          <picture>
            <source />
            <img
              src="./images/team/mobile-john-smith@1x.jpg"
              alt="Фото сотрудника"
              width="418"
              height="346"
            />
          </picture>
        </div>
        <div class="team-content">
          <h4 class="team-name">John Smith</h4>
          <p class="team-prof">Extreme Barber</p>
          <ul class="icon-list">
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на instagram" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на twitter" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на facebook" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на linkedin" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-thumb">
          <picture>
            <source />
            <img
              src="./images/team/mobile-michele-doe@1x.jpg"
              alt="Фото сотрудника"
              width="418"
              height="346"
            />
          </picture>
        </div>
        <div class="team-content">
          <h4 class="team-name">Michele Doe</h4>
          <p class="team-prof">Extreme Barber</p>
          <ul class="icon-list">
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на instagram" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на twitter" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на facebook" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на linkedin" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-thumb">
          <picture>
            <source />
            <img
              src="./images/team/mobile-alan-black@1x.jpg"
              alt="Фото сотрудника"
              width="418"
              height="346"
            />
          </picture>
        </div>
        <div class="team-content">
          <h4 class="team-name">Alan Black</h4>
          <p class="team-prof">Extreme Barber</p>
          <ul class="icon-list">
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на instagram" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на twitter" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на facebook" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item">
              <a href="#" aria-label="Ссылка на linkedin" class="icon-link"
                ><svg class="icon-img" width="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
