<div class="backdrop js-backdrop">
    <div class="modal">
        <h2 class="team-heading">Our Team</h2>
        <ul class="team-members">
            <li class="member"> <img src="../src/images/team/roman.jpeg" alt="Roman Voznyy" width="75px">
                <div class="member-info">
                    <p>Roman Voznyy</p>
                    <p class="team-role">Team Leader</p>
                </div>
            </li>
            <li class="member"> <img src="../src/images/team/anastasiia.jpeg" alt="Anastasiia Yermakova" width="75px">
                <div class="member-info">
                    <p>Anastasiia Yermakova</p>
                    <p class="team-role">Developer</p>
                </div>
            </li>
            <li class="member"> <img src="../src/images/team/elena-kh.jpeg" alt="Elena Kharchenko" width="75px">
                <div class="member-info">
                    <p>Elena Kharchenko</p>
                    <p class="team-role">Developer</p>
                </div>
            </li>
            <li class="member"> <img src="../src/images/team/vadym-m.jpeg" alt="Vadym Melnik" width="75px">
                <div class="member-info">
                    <p>Vadym Melnik</p>
                    <p class="team-role">Developer</p>
                </div>
            </li>
            <li class="member"> <img src="../src/images/team/vadym-u.jpeg" alt="Vadym Usov" width="75px">
                <div class="member-info">
                    <p>Vadym Usov</p>
                    <p class="team-role">Developer</p>
                </div>
            </li>
            <li class="member"> <img src="../src/images/team/valentin.jpeg" alt="Valentyn Yakubovskiy" width="75px">
                <div class="member-info">
                    <p>Valentyn Yakubovskiy</p>
                    <p class="team-role">Developer</p>
                </div>
            </li>
            <li class="member"> <img src="../src/images/team/yaroslav.jpg" alt="Yaroslav Petrovskiy" width="75px">
                <div class="member-info">
                    <p>Yaroslav Petrovskiy</p>
                    <p class="team-role">Developer</p>
                </div>
            </li>
            <li class="member"> <img src="../src/images/team/elena-p.jpg" alt="Elena Panasyuk" width="75px">
                <div class="member-info">
                    <p>Elena Panasyuk</p>
                    <p class="team-role">Scrum Master</p>
                </div>
            </li>
        </ul>
        <button class="team-btn-close js-team-close" type="button" title="Close"></button>
    </div>
</div>