<section class="section section-team">
  <div class="container">
    <p class="team-slogan">для настоящих ценителей атмосферы</p>

    <h2 class="team-title">Наши мастера</h2>

    <ul class="team-list">
      <li class="team-item">
        <div class="team-photo">
          <picture>
            <source
              srcset="
                ./images/team/john.webp    320w,
                ./images/team/john@2x.webp 640w,
                ./images/team/john@3x.webp 960w
              "
              type="image/webp"
            />
            <img
              class="team-img"
              srcset="
                ./images/team/john.jpg    1x,
                ./images/team/john@2x.jpg 2x,
                ./images/team/john@3x.jpg 3x
              "
              src="./images/team/john.jpg"
              alt="John Smith photo"
            />
          </picture>
        </div>

        <h3 class="member-name">John Smith</h3>
        <p class="member-skill">Extreme Barber</p>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link test" aria-label="Instagram">
              <svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="Twitter"
              ><svg class="team-icons" width="20" height="16.25">
                <use href="./images/sprite.svg#twitter"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="Facebook"
              ><svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#facebook"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="LinkedIn"
              ><svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <div class="team-photo">
          <picture>
            <source
              srcset="
                ./images/team/michele.webp    320w,
                ./images/team/michele@2x.webp 640w,
                ./images/team/michele@3x.webp 960w
              "
              type="image/webp"
            />
            <img
              class="team-img"
              srcset="
                ./images/team/michele.jpg    1x,
                ./images/team/michele@2x.jpg 2x,
                ./images/team/michele@3x.jpg 3x
              "
              src="./images/team/michele.jpg"
              alt="Michele Doe photo"
            />
          </picture>
        </div>

        <h3 class="member-name">Michele Doe</h3>
        <p class="member-skill">Extreme Barber</p>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link" aria-label="Instagram">
              <svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="Twitter"
              ><svg class="team-icons" width="20" height="16.25">
                <use href="./images/sprite.svg#twitter"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="Facebook"
              ><svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#facebook"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="LinkedIn"
              ><svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <div class="team-photo">
          <picture>
            <source
              srcset="
                ./images/team/alan.webp    320w,
                ./images/team/alan@2x.webp 640w,
                ./images/team/alan@3x.webp 960w
              "
              type="image/webp"
            />
            <img
              class="team-img"
              srcset="
                ./images/team/alan.jpg    1x,
                ./images/team/alan@2x.jpg 2x,
                ./images/team/alan@3x.jpg 3x
              "
              src="./images/team/alan.jpg"
              alt="Alan Black photo"
            />
          </picture>
        </div>

        <h3 class="member-name">Alan Black</h3>
        <p class="member-skill">Extreme Barber</p>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link" aria-label="Instagram">
              <svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="Twitter"
              ><svg class="team-icons" width="20" height="16.25">
                <use href="./images/sprite.svg#twitter"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="Facebook"
              ><svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#facebook"></use></svg
            ></a>
          </li>
          <li>
            <a href="#" class="social-link" aria-label="LinkedIn"
              ><svg class="team-icons" width="20" height="20">
                <use href="./images/sprite.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
