<section class="testimonials container">
  <h2 class="testimonials__title">Отзывы выпускников</h2>
  <svg class="testimonials__prev-btn" width="27" height="16">
    <use href="./images/sprite.svg#arrow-left"></use>
  </svg>
  <ul class="testimonials__list list">
    <li class="testimonial">
      <div class="testimonial__avatar-side">
        <div class="testimonial__photo-thumb">
          <img
            src="./images/test1.jpg"
            srcset="./images/test1@2x.jpg 2x"
            alt="студентка со светлыми волосами"
            class="testimonial__photo"
          />
        </div>
        <ul class="testimonial__social">
          <li class="testimonial__social-link">
            <svg class="testimonial__social-svg" width="30" height="30">
              <use href="./images/sprite.svg#vk"></use>
            </svg>
          </li>
          <li class="testimonial__social-link">
            <svg class="testimonial__social-svg" width="30" height="30">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </li>
          <li class="testimonial__social-link">
            <svg class="testimonial__social-svg" width="30" height="30">
              <use href="./images/sprite.svg#instagram"></use>
            </svg>
          </li>
        </ul>
      </div>
      <div class="testimonial__description-side">
        <h3 class="testimonial__student-name">Тоня Кучеровская</h3>
        <p class="testimonial__subtitle">
          Выпуск 2015-го года, Національний університет біоресурсів і
          природокористування України
        </p>
        <p class="testimonial__description">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій
          зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
          знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
          справді хвилювала моя успішність. Вона стала для мене авторитетом,
          проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
          Зараз я можу похизуватись тим, що я студен ...
          <span class="testimonial_long-switch-btn">Читать дальше</span>
        </p>
      </div>
    </li>
    <li class="testimonial">
      <img src="" alt="" class="testimonial__photo" />
      <h3 class="testimonial__student-name">Тоня Кучеровская</h3>
      <p class="testimonial__subtitle">
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p class="testimonial__description">
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ... Читать дальше
      </p>
    </li>
    <li class="testimonial">
      <img src="" alt="" class="testimonial__photo" />
      <h3 class="testimonial__student-name">Тоня Кучеровская</h3>
      <p class="testimonial__subtitle">
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p class="testimonial__description">
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ... Читать дальше
      </p>
    </li>
    <li class="testimonial">
      <img src="" alt="" class="testimonial__photo" />
      <h3 class="testimonial__student-name">Тоня Кучеровская</h3>
      <p class="testimonial__subtitle">
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p class="testimonial__description">
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ... Читать дальше
      </p>
    </li>
    <li class="testimonial">
      <img src="" alt="" class="testimonial__photo" />
      <h3 class="testimonial__student-name">Тоня Кучеровская</h3>
      <p class="testimonial__subtitle">
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p class="testimonial__description">
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ... Читать дальше
      </p>
    </li>
    <li class="testimonial">
      <img src="" alt="" class="testimonial__photo" />
      <h3 class="testimonial__student-name">Тоня Кучеровская</h3>
      <p class="testimonial__subtitle">
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p class="testimonial__description">
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ... Читать дальше
      </p>
    </li>
    <li class="testimonial">
      <img src="" alt="" class="testimonial__photo" />
      <h3 class="testimonial__student-name">Тоня Кучеровская</h3>
      <p class="testimonial__subtitle">
        Выпуск 2015-го года, Національний університет біоресурсів і
        природокористування України
      </p>
      <p class="testimonial__description">
        За короткий час занять з Оленою я опанувала граматику і поповнила свій
        зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
        знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
        справді хвилювала моя успішність. Вона стала для мене авторитетом, проте
        я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
        можу похизуватись тим, що я студен ... Читать дальше
      </p>
    </li>
  </ul>
  <svg class="testimonials__next-btn" width="27" height="16">
    <use href="./images/sprite.svg#arrow-right"></use>
  </svg>
  <ul class="testimonials__photos-list list">
    <li class="testimonials__photos-item">
      <img
        class="testemonials__small-photo"
        src="./images/test1-icon.jpg"
        alt="фото студента"
        srcset="./images/test1-icon.jpg 1x, ./images/test1-icon@2x.jpg 2x"
      />
    </li>
    <li class="testimonials__photos-item">
      <img
        class="testemonials__small-photo"
        src="./images/test2-icon.jpg"
        alt="фото студента"
        srcset="./images/test2-icon.jpg 1x, ./images/test2-icon@2x.jpg 2x"
      />
    </li>
    <li class="testimonials__photos-item">
      <img
        class="testemonials__small-photo"
        src="./images/test3-icon.jpg"
        alt="фото студента"
        srcset="./images/test3-icon.jpg 1x, ./images/test3-icon@2x.jpg 2x"
      />
    </li>
    <li class="testimonials__photos-item">
      <img
        class="testemonials__small-photo"
        src="./images/test4-icon.jpg"
        alt="фото студента"
        srcset="./images/test4-icon.jpg 1x, ./images/test4-icon@2x.jpg 2x"
      />
    </li>
    <li class="testimonials__photos-item">
      <img
        class="testemonials__small-photo"
        src="./images/test5-icon.jpg"
        alt="фото студента"
        srcset="./images/test5-icon.jpg 1x, ./images/test5-icon@2x.jpg 2x"
      />
    </li>
    <li class="testimonials__photos-item">
      <img
        class="testemonials__small-photo"
        src="./images/test6-icon.jpg"
        alt="фото студента"
        srcset="./images/test6-icon.jpg 1x, ./images/test6-icon@2x.jpg 2x"
      />
    </li>
    <li class="testimonials__photos-item">
      <img
        class="testemonials__small-photo"
        src="./images/test7-icon.jpg"
        alt="фото студента"
        srcset="./images/test7-icon.jpg 1x, ./images/test7-icon@2x.jpg 2x"
      />
    </li>
  </ul>
</section>
