<section class="swiper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slider-block">
          <img
            class="slider-avatar"
            src="./images/7-testimonials//repeta.webp"
            alt="Александр Репета - СТО GoIT"
          />
          <div class="slider-bg">
            <div class="slider-quote">
              <div class="slider-text">
                <p class="text-quote">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.
<!--                   Все нормально, все окей... Windows - для домохозяек, Mac - 
                  для людей, а Линуха - для админов. И еще: если background-color, то 
                  это tomato. Мы все это учим 8 недель, чтоб ты человеком стал!
 -->                </p>
              </div>
            </div>
          </div>
          <div class="slider-adress">
            <p class="slider-adress-text">Alexander, Kyiv</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slider-block">
          <img
            class="slider-avatar"
            src="./images/7-testimonials//denys.webp"
            alt="Денис Хворостяный - ментор GoIT"
          />
          <div class="slider-bg">
            <div class="slider-quote">
              <div class="slider-text">
                <p class="text-quote">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.
<!--                   Ребята, смотрим макет, и буквально разбираем его на 
                  молекулы... Секция "Отзывы клиентов", можете туда вместо этих 
                  красивых тёть вставить фото одногруппников. Преподов не надо.
 -->                </p>
              </div>
            </div>
          </div>
          <div class="slider-adress">
            <p class="slider-adress-text">Denys, Odessa</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="slider-block">
          <img
            class="slider-avatar"
            src="./images/7-testimonials//anton.webp"
            alt="Антон Черный - SEO GoIT"
          />
          <div class="slider-bg">
            <div class="slider-quote">
              <div class="slider-text">
                <p class="text-quote">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.
                  <!-- В GoIT гордятся тем, что делают наши выпускники. Мы постоянно
                  собираем вдохновляющие истории тех, кто начал свою IT-карьеру 
                  с обучения в GoIT. -->
                </p>
              </div>

            </div>
          </div>
          <div class="slider-adress">
            <p class="slider-adress-text">Anton, Kyiv</p>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-point">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      renderBullet: function (index, className) {
        return '<span class="' + className + '"></span>';
      },
    },
  });
</script>
