<button type="button" thanks-modal-open="">Order Service</button>
<div class="thanks-modal is-hidden" thanks-modal>
  <article class="thx-modal-window">
    <button thanks-modal-close class="thanks-modal-button" type="button">
      <svg width="28" height="28" class="thx-svg">
        <use href="/src/images/icons.svg#icon-x"></use>
      </svg>
    </button>
    <img
      src="/src/images/raspberry-strawberry-fruit.png"
      alt=""
      class="thx-modal-img"
    />
    <h3 class="thx-modal-title">THANK YOU</h3>
    <p class="thx-modal-paragraph">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </article>
</div>
