<div class="thanks-modal" thanks-modal>
  <button thanks-modal-close class="tanks-modal-button" type="button"></button>
  <img
    src="/src/images/raspberry-strawberry-fruit.png"
    alt=""
    class="thx-modal-img"
  />
  <h3 class="thx-modal-title">THANK YOU</h3>
  <p class="thx-modal-paragraph">
    Thank you for your order! Our team is preparing your box with fresh,
    delicious fruits and vegetables, and we'll deliver it straight to your
    doorstep. We appreciate your business and look forward to providing you with
    the best possible experience!
  </p>
</div>
