<section class="time-section">
    <ul class="time-list">
        <li class="time-day"></li>
        <li class="time-month">
            <p class="month"></p>
            <p class="hour"></p>
        </li>
    </ul>

    <ul class="date-sun">
        <li class="date-sunrise">
            <img class="sunrise-icon" src="/src/images/008-sunrise (1).png" alt="" />
            <p class="sunrise-time"></p>
        </li>
        <li class="date-sunset">
            <img class="sunset-icon" src="/src/images/009-sunset (1).png" alt="" />
            <p class="sunset-time"></p>
        </li>
    </ul>
</section>