<div class="weather-container">
  <ul class="weather-info">
    <li class="weather-info__weather">
      <p>Bucharest, RO</p>
    </li>
    <li class="weather-info__details">
      <div class="weather-info__temperature">
        <h3 class="current-temperature">-3</h3>
      </div>
      <ul class="weather-info__variation">
        <li>
          <p class="type">min</p>
          <p class="degrees-min degrees">-2&deg;</p>
        </li>
        <li><span class="border"></span></li>
        <li>
          <p class="type">max</p>
          <p class="degrees-max degrees">1&deg;</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="buttons">
  <button class="buttons__active" id="today-button">Today</button>
  <button id="5-days-button">5Days</button>
</div>
<div class="date-quote-container">
  <div class="current-date-container">
    <ul class="date-info">
      <li class="date-info__date">
      </li>
      <li class="date-info__details">
        <div class="time">
          <p class="time__month">February</p>
          <span class="line"></span>
          <p class="time__hour">21:30:56</p>
        </div>
        <div class="sun-details">
          <p id="sunrise">07:04</p>
          <span class="line line-sun"></span>
          <p id="sunset">17:05</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="quote-container">
    <div class="quote">
      <div class="quote__container">
        <p class="quote__text"><em></em></p>
        <h3 class="quote__author"></h3>
      </div>
    </div>
  </div>
</div>