<section>
  <div>
    <h2><span>TOP</span> SELLERS</h2>
    <ul>
      <li><img src="./images/img1.jpg" alt="chocolate-one" width="368" /></li>
      <li><img src="./images/img2.jpg" alt="chocolate-two" width="368" /></li>
      <li><img src="./images/img3.jpg" alt="chocolate-three" width="368" /></li>
    </ul>
    <div>
      <p>
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button">Buy now</button>
    </div>
  </div>
</section>
