<section>
  <div class="container">
    <h3 class="section-header">
      <span class="section-header-span">TOP</span> SELLERS
    </h3>
    <ul class="images-list">
      <li class="images-list-element">
        <img
          srcset="./images/image1.jpg 1x, ./images/image1@2x.jpg 2x"
          class="image"
          src="./images/image1.jpg"
          alt="chocolate nuts and coffee"
          width="368"
        />
        <p class="sellers-paragraph">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="images-list-element">
        <img
          srcset="./images/image2.jpg 1x, ./images/image2@2x.jpg 2x"
          class="image"
          src="./images/image2.jpg"
          alt="almond cinamon chocolate"
          width="368"
        />
      </li>
      <li class="images-list-element">
        <img
          srcset="./images/image3.jpg 1x, ./images/image3@2x.jpg 2x"
          class="image-3"
          src="./images/image3.jpg"
          alt="dark and mint chocolate"
          width="368"
        />
      </li>
    </ul>
    <div class="paragraph-button-div">
      <p class="sellers-paragraph-desktop">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="buy-button" type="button">Buy now</button>
    </div>
  </div>
  </style>
</section>
