<section class="section-top-sellers">
  <div class="container">
    <h2 class="title-top-sellers">
      <span class="colored-title">TOP</span> SELLERS
    </h2>
    <ul class="list-top-sellers">
      <li>
        <img
          class="images"
          src="./images/top-sellers/img1.jpg"
          alt="chocolate-one"
          width="368"
        />
      </li>
      <li>
        <img
          class="images"
          src="./images/top-sellers/img2.jpg"
          alt="chocolate-two"
          width="368"
        />
      </li>
      <li class="li-three">
        <img
          class="images"
          src="./images/top-sellers/img3.jpg"
          alt="chocolate-three"
          width="368"
        />
      </li>
    </ul>
    <div class="div-text">
      <p class="paragraph">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="button-top-sellers" type="button">Buy now</button>
    </div>
  </div>
</section>
