<div class="wrapper-fluid ">
    <section class="tradition-wrapper container">
      <h2 class="tradition-wrapper__main-title section__title">
        tradition and love
        </h2>
        <span class="tradition-wrapper__sub-title section__subtitle">how it’s made?</span>
      
      <div class="tradition-wrapper__cow-container">
        <div class="tradition-wrapper__cow-container-picture">
          <picture >
       
                            <source srcset="../src/images/desktop/home-pic1_desktop.png 1x, ../src/images/desktop/home-pic1_desktop@2x.png 2x " media="(min-width: 1200px)" />
                            <source srcset="../src/images/tablet/home-pic1_tablet.png 1x, ../src/images/tablet/home-pic_tablet@2x.png 2x" media="(min-width: 768px)" />
                            <source srcset="../src/images/mobile/home-pic4_mob.png 1x, ../src/images/mobile/home-pic4@2x.png 2x" media="(max-width: 767px)" />

          <img
            src="./images/desktop/home-pic1_desktop.png"
            alt="cow picture"
            class="tradition-wrapper__cow-picture"
          />
        </picture>
        </div>
        <div class="tradition-wrapper__cow-container-information tradition-wrapper__imagas">
          <h5 class="tradition-wrapper__title">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </h5>

          <p class="tradition-wrapper__text ">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
            Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
            suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.
          </p>
          <p class="tradition-wrapper__text">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="button tradition-wrapper__button">Read more
            <svg class="tradition-wrapper__strelka">
              <use href="./images/symbol-defs.svg#icon-strelka">
              </use>
            </svg>
          </button>
        </div>
      </div>
  
      <div class="tradition-wrapper-icecream">
        <div class="tradition-wrapper-icecream__type">

          <picture>
            <source srcset="../src/images/desktop/icon1.png 1x, ../src/images/desktop/icon1@2x.png 2x " media="(min-width: 1200px)" />
            <source srcset="../src/images/tablet/icon1_tablet.png 1x, ../src/images/tablet/icon1_tablet@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="../src/images/mobile/icon1_mob.png 1x, ../src/images/mobile/icon1_mob@2x.png 2x" media="(max-width: 767px)" />
           
          <img class="tradition-wrapper-icecream__icon" src="./images/desktop/icon1.png" alt="" />
          </picture>
          <h2 class="tradition-wrapper-icecream__massa" >721</h2>
          <p class="tradition-wrapper-icecream__descripsion">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="tradition-wrapper-icecream__type">
          <picture>
            <source srcset="../src/images/desktop/icon2.png 1x, ../src/images/desktop/icon2@2x.png 2x " media="(min-width: 1200px)" />
            <source srcset="../src/images/tablet/icon2_tablet.png 1x, ../src/images/tablet/icon2_tablet@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="../src/images/mobile/icon2_mob.png 1x, ../src/images/mobile/icon2_mob@2x.png 2x" media="(max-width: 767px)" />

          <img class="tradition-wrapper-icecream__icon" src="./images/desktop/icon2.png" alt="" />
          </picture>
          <h2 class="tradition-wrapper-icecream__massa">16kg</h2>
          <p class="tradition-wrapper-icecream__descripsion">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="tradition-wrapper-icecream__type">
          <picture>
            <source srcset="../src/images/desktop/icon3.png 1x, ../src/images/desktop/icon3@2x.png 2x " media="(min-width: 1200px)" />
            <source srcset="../src/images/tablet/icon3_tablet.png 1x, ../src/images/tablet/icon3_tablet@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="../src/images/mobile/icon3_mob.png 1x, ../src/images/mobile/icon3_mob@2x.png 2x" media="(max-width: 767px)" />

          <img class="tradition-wrapper-icecream__icon" src="./images/desktop/icon3.png" alt="" />
          </picture>
          <h2 class="tradition-wrapper-icecream__massa">84</h2>
          <p class="tradition-wrapper-icecream__descripsion">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </div>
    </section>
    <picture >
              <source srcset="../src/images/desktop/home-pic_desktop.png 1x, ../src/images/desktop/home-pic_desktop@2x.png 2x " media="(min-width: 1200px)" />
                            <source srcset="../src/images/tablet/home-pic5__tablet.png 1x, ../src/images/tablet/home-pic5@2x__tablet.png 2x" media="(min-width: 768px)" />
                            <source srcset="../src/images/mobile/home-pic5_mob.png 1x, ../src/images/mobile/home-pic5_mob@2x.png 2x" media="(max-width: 767px)" />


    <img
      class="tradition-wrapper__pictures"
      src="./images/desktop/home-pic_desktop.png"
      alt=""
      width="100%"
    />
  </picture>
  </div>
  