<section id="tradition" class="tradition">
  <div class="tradition__container">
    <h2 class="tradition__title">tradition and love</h2>
    <h3 class="tradition__big-title">how it’s made?</h3>
    <div class="tradition__wrapper">
      <picture>
        <source
          srcset="./images/desktop/cow.png 1x, ./images/desktop/cow@2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./images/tablet/cow.png 1x, ./images/tablet/cow@2x.png 2x"
          media="(min-width:772px)"
        />
        <source
          srcset="./images/mobile/cow.png 1x, ./images/mobile/cow@2x.png 2x"
          media="(max-width:771px)"
        />
        <img
          class="tradition__img"
          src="./images/desktop/cow.png"
          alt="cow and milk"
        />
      </picture>
      <div class="tradition__desc-wrapper">
        <p class="tradition__desc">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <div class="wrap">
          <p class="tradition__desc--text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>

          <p class="tradition__desc--addtext">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </div>

        <button type="button" class="button">
          Read more
          <svg class="button__item" width="8" height="8">
            <use href="./images/sprite.svg#icon-button"></use>
          </svg>
        </button>
      </div>
    </div>

    <ul class="list statistic__list">
      <li class="statistic__item">
        <img
          class="statistic__img"
          src="./images/icon1.svg"
          alt="glass of milk"
        />
        <p class="statistic__number">721</p>
        <p class="statistic__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="statistic__item">
        <img
          class="statistic__img"
          src="./images/icon2.svg"
          alt="fruits in glass"
        />
        <p class="statistic__number">16kg</p>
        <p class="statistic__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="statistic__item">
        <img class="statistic__img" src="./images/icon3.svg" alt="icecream" />
        <p class="statistic__number">84</p>
        <p class="statistic__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
