<section class="tradition">
    <div class="content-container">
        <h3 class="tradition-title">tradition and love</h3>
        <p class="tradition-question">how it’s made?</p>

        <img src="./images/1-mobile/how-made.png" alt="Кувшин с молоком и корова на заднем плане" width="280" height="280">
        <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

            Aliquam erat volutpat. Aenean accumsan.</p>
        <button>Read more<span><svg><use></use></svg></span></button>
        <ul>
            <li>
                <span>721</span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <span>16kg</span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <span>84</span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>