<section class="tutor">
  <div class="cintainer">
    <h2 class="tutor__title">Преподаватель</h2>
    <h3 class="tutor__subtitle">Елена Морева</h3>
    <ul class="tutor__list">
      <li class="tutor__item">Опыт подготовки учеников к ВНО - 6 лет</li>
      <li class="tutor__item">
        Собственный результат сдачи ВНО - 197 баллов 2 года подряд
      </li>
      <li class="tutor__item">
        Сдала на отлично международный аналог ВНО - Кембриджский PET
        (Preliminary English Test)
      </li>
    </ul>
    <p class="tutor__text">
      Высшее образование получила в Институте международных отношений НАУ по
      специальности переводчик-аналитик.
    </p>
    <p class="tutor__text">
      В свободное время проходит курсы от лучших университетов мира по
      эффективному преподаванию и методикам написания сочинений.
    </p>
    <p class="tutor__text">
      В числе пройденных: English Grammar and Essay Writing (Berkeley), English
      Grammar&Style (The University of Queesland), How to Write an Essay
      (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching
      (GEMS education), Powerful Tools for Teaching and Learning (University of
      Houston).
    </p>
  </div>
</section>
