<section class="tutor">
  <div class="container">
    <h2 class="tutor__title">Преподаватель</h2>
    <div class="tutor__wrapper">
      <picture>
        <source
          srcset="
            ./images/tutor/tutor1344.jpg    1x,
            ./images/tutor/tutor1344@2x.jpg 2x
          "
          media="(min-width: 1344px)"
        />
        <source
          srcset="
            ./images/tutor/tutor768.jpg    1x,
            ./images/tutor/tutor768@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/tutor/tutor320.jpg    1x,
            ./images/tutor/tutor320@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="tutor__img"
          src="./images/tutor/tutor320.jpg"
          alt="Елена Морева"
        />
      </picture>

      <div class="tutor__description-wrapper">
        <h3 class="tutor__subtitle">Елена Морева</h3>
        <ul class="tutor__experience-list">
          <li class="tutor__experience-item">
            <span
              ><svg class="tutor__svg">
                <use
                  class="tutot__icon"
                  href="./images/svg/sprite.svg#icon-check-mark"
                ></use>
              </svg>
            </span>
            <span class="tutor__experience-text"
              >Опыт подготовки учеников к ВНО - 6 лет</span
            >
          </li>
          <li class="tutor__experience-item">
            <span
              ><svg class="tutor__svg">
                <use
                  class="tutot__icon"
                  href="./images/svg/sprite.svg#icon-check-mark"
                ></use>
              </svg>
            </span>
            <span class="tutor__experience-text"
              >Собственный результат сдачи ВНО - 197 баллов 2 года подряд</span
            >
          </li>
          <li class="tutor__experience-item">
            <span
              ><svg class="tutor__svg">
                <use
                  class="tutot__icon"
                  href="./images/svg/sprite.svg#icon-check-mark"
                ></use></svg
            ></span>
            <span class="tutor__experience-text">
              Сдала на отлично международный аналог ВНО - Кембриджский PET
              (<span lang="en">Preliminary English Test</span>)
            </span>
          </li>
        </ul>
        <ul class="tutor__education-list">
          <li class="tutor__education-item">
            Высшее образование получила в Институте международных отношений НАУ
            по специальности переводчик-аналитик.
          </li>
          <li class="tutor__education-item">
            В свободное время проходит курсы от лучших университетов мира по
            эффективному преподаванию и методикам написания сочинений.
          </li>
          <li class="tutor__education-item">
            В числе пройденных:
            <span lang="en"
              >English Grammar and Essay Writing (Berkeley), English
              Grammar&Style (The University of Queesland), How to Write an Essay
              (Berkeley), Academic and Business Writing (Berkeley), The Art of
              Teaching (GEMS education), Powerful Tools for Teaching and
              Learning (University of Houston)</span
            >.
          </li>
        </ul>

        <a class="tutor__link" href="" lang="en"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
