  <script type="module" src="./index.js"></script>
    <!-- Unique Components -->
    <section class="unique-components-section">
      <div class="unique-components-div">
        <h2 class="unique-components-section-title">
          IT ALL ADDS UP TO ONE EXCEPTIONAL
          <span class="unique-components-section-title-span">TASTE</span>
          SENSATION
        </h2>
        <p class="unique-components-section-paragraph">
          At Simply Chocolate, we believe that the secret to exceptional
          chocolate is in the details. From the sourcing of the finest
          ingredients to the careful crafting of each individual piece, every
          step of our process adds up to one exceptional taste sensation.
        </p>
      </div>
      <ul class="aliment-list">
        <li class="aliment-list-element-1 parent-container">
          <div class="card">
            <div class="front-1">
              <img
                src="./images/ciocolata-cu-lapte.png"
                alt="ciocolata-cu-lapte"
                class="ciocolata-cu-lapte"
                width="224px"
                height="171px"
              />
              <div class="photo-text">MILK CHOCOLATE</div>
            </div>
            <div class="back">
              <div class="back-div">
                <h3 class="back-div-h3">MILK CHOCOLATE</h3>
                <div class="space-between-paragraph">
                  <p class="back-orange-fill">chocolate</p>
                  <p class="back-orange-border">the benefits</p>
                </div>
                <p class="back-of-card-text">
                  Milk chocolate is a solid chocolate confectionery containing
                  cocoa, sugar and milk. It is the most consumed type of
                  chocolate. Chocolate was originally sold and consumed as a
                  beverage in pre-Columbian times. Although four-fifths of all
                  milk chocolate is sold in the United States and Europe.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="aliment-list-element-2 parent-container">
          <div class="card">
            <div class="front-2">
              <img
                src="images/lapte.png"
                alt="lapte"
                class="lapte"
                width="224px"
                height="171px"
              />
              <div class="photo-text-black">MILK</div>
            </div>
            <div class="back">
              <div class="back-div">
                <h3 class="back-div-h3">MILK</h3>
                <div class="space-between-paragraph">
                  <p class="back-orange-fill">milk</p>
                  <p class="back-orange-border">the benefits</p>
                </div>
                <p class="back-of-card-text">
                  Milk is a white liquid food produced by the mammary glands of
                  mammals. It is the primary source of nutrition for young
                  mammals (including breastfed human infants) before they are
                  able to digest solid food.Early-lactation milk, which is
                  called colostrum, contains antibodies that strengthen the
                  immune system.
                </p>
              </div>
            </div>
          </div>
        </li>

        <li class="aliment-list-element-3 parent-container">
          <div class="card">
            <div class="front-3">
              <img
                src="images/alune.png"
                alt="alune"
                class="alune"
                width="224px"
                height="171px"
              />
              <div class="photo-text">NUTS</div>
            </div>
            <div class="back">
              <div class="back-div">
                <h3 class="back-div-h3">NUTS</h3>
                <div class="space-between-paragraph">
                  <p class="back-orange-fill">nuts</p>
                  <p class="back-orange-border">the benefits</p>
                </div>
                <p class="back-of-card-text">
                  Almonds, pistachios, and walnuts are some types of nuts that
                  contain healthy nutrients. When eaten as part of a
                  nutrient-dense diet, these 9 nuts may offer benefits such as
                  reducing your risk of heart disease. They’re a good source of
                  fiber, healthy fats, and plant protein. Plus, they’re great on
                  their own.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="aliment-list-element-4 parent-container">
          <div class="card">
            <div class="front-4">
              <img
                src="./images/ciocolata-dulce.png"
                alt="ciocolata-dulce"
                class="ciocolata-dulce"
                width="224px"
                height="171px"
              />
              <div class="photo-text-black">SEMI - SWEET CHOCOLATE</div>
            </div>
            <div class="back">
              <div class="back-div">
                <h3 class="back-div-h3">SEMI - SWEET CHOCOLATE</h3>
                <div class="space-between-paragraph">
                  <p class="back-orange-fill">sweet chocolate</p>
                  <p class="back-orange-border">the benefits</p>
                </div>
                <p class="back-of-card-text">
                  Semi-sweet chocolate has a cocoa solid content of 35 to 65%.
                  One of the best ways to gain an understanding of this type of
                  chocolate is to compare it to a different type of chocolate.
                  Semisweet is darker than milk chocolate. In a taste
                  comparison, it has a slightly bitter taste whereas milk
                  chocolate is sweeter.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
 <style>
  * {
  margin: 0;
  padding: 0;
}

/* Unique Components Section */

.unique-components-section {
  display: flex;
  min-width: 375px;
  padding-top: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 0; */
  padding-left: 10px;
  /* display: flex;
  min-width: 375px;

  flex-direction: column;
  align-items: flex-start;
  /* flex-shrink: 0; */
  /* padding-left: 18px; */
}

.unique-components-div {
  display: flex;
  width: 375px;
  height: 204px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  /* flex-shrink: 0; */
  margin-top: 70px;
  padding-left: 5px;
}

.unique-components-section-title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;
  height: 72px;
  width: 250px;
  /* flex-shrink: 0; */
  padding-left: 2px;
}

.unique-components-section-title-span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.unique-components-section-paragraph {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  width: 335px;
}

.aliment-list {
  /* display: flex;
  padding: 0;
  margin-top: 32px;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 1440px;
  flex-direction: column;
  gap: 20px; */
  display: flex;
  width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* height: 1376px; */
  padding-top: 60px;
  /* flex-shrink: 0; */
  list-style: none;
  padding-left: 20px;
}

.parent-container {
  position: relative;
  text-align: center;
  color: white;
}
.photo-text {
  position: absolute;
  bottom: 28px;
  left: 28px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.photo-text-black {
  position: absolute;
  bottom: 28px;
  left: 28px;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

img {
  width: 50%;
  height: 50%;
  flex-shrink: 1;

  /* flex-shrink: 0; */
}

.ciocolata-cu-lapte {
  flex-shrink: 1;
  padding-top: 45px;
  transform: translateZ(100px);
}

.lapte {
  flex-shrink: 1;
  padding-top: 45px;
  transform: translateZ(100px);
}

.alune {
  flex-shrink: 1;
  padding-top: 45px;
  transform: translateZ(100px);
}

.ciocolata-dulce {
  flex-shrink: 1;
  padding-top: 45px;
  transform: translateZ(100px);
}

/* CARD FLIP */

.back-of-card-text {
  /* overflow: hidden; */
  color: #111;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 18px; */
  letter-spacing: -0.28px;
  text-align: left;
}

.back-div-h3 {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.aliment-list-element-1 {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 335px;
  height: 270px;

  align-items: center;
  border-color: white;
  perspective: 1000px;

  border-color: transparent;
}

.front-1 {
  background-color: #fd9222;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-color: transparent;
  transition: 1s;
  border-color: transparent;
  transform-style: preserve-3d;
}
.aliment-list-element-2 {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 335px;
  height: 270px;

  align-items: center;
  border-color: white;
  perspective: 1000px;

  border-color: transparent;
}

.front-2 {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-color: transparent;
  border: 1px solid #fd9222;
  transition: 1s;
  transform-style: preserve-3d;
  background-color: white;
}

.aliment-list-element-3 {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 335px;
  height: 270px;

  align-items: center;
  border-color: white;
  perspective: 1000px;

  border-color: transparent;
}
.front-3 {
  background-color: #1e1823;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-color: transparent;
  transform-style: preserve-3d;
}

.aliment-list-element-4 {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 335px;
  height: 270px;

  align-items: center;
  border-color: white;
  perspective: 1000px;

  border-color: transparent;
}
.front-4 {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-color: transparent;
  border: 1px solid #fd9222;
  transform-style: preserve-3d;
  background-color: white;
}

.aliment-list-element-1:hover > .card {
  cursor: pointer;
  transform: rotateY(-180deg);
}

.aliment-list-element-2:hover > .card {
  cursor: pointer;
  transform: rotateY(-180deg);
}

.aliment-list-element-3:hover > .card {
  cursor: pointer;
  transform: rotateY(-180deg);
}

.aliment-list-element-4:hover > .card {
  cursor: pointer;
  transform: rotateY(-180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
  background-color: transparent;
  border-color: transparent;
}

.front,
.back {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-color: transparent;
  border-color: transparent;
}

.back {
  border-radius: 15px;
  background: #fff;
  transform: rotateY(180deg);
  border-style: none;
  /* transform: translateZ(200px); */
  /* transform-style: preserve-3d; */
}

.back-div {
  display: flex;
  width: 279px;
  height: 220px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* transform: translateZ(100px); */
  /* transform-style: preserve-3d; */
}

.back-orange-fill {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 35px;
  background: #fd9222;
  color: #fff;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
}

.back-orange-border {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 35px;
  border: 1px solid #fd9222;
  background: #fafafa;
  color: #111;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
}

.space-between-paragraph {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Unique Components Section */

  .unique-components-section {
    display: flex;
    min-width: 768px;
    /* height: 778px; */
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* flex-shrink: 0; */
    padding-left: 0;
  }

  .unique-components-div {
    display: flex;
    width: 486px;
    height: 156px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    /* flex-shrink: 0; */
  }

  .unique-components-section-title {
    width: 411px;
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  .unique-components-section-title-span {
    color: #fd9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
  .unique-components-section-paragraph {
    width: 486px;
    height: 72px;
    /* flex-shrink: 0; */
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .aliment-list {
    display: flex;
    flex-wrap: wrap;
    width: 704px;
    /* height: 572px; */
    align-items: flex-start;
    gap: 32px;
    /* flex-shrink: 0; */
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  /* Unique Components section */
  .unique-components-section {
    display: flex;
    min-width: 1250px;
    /* height: 476px; */
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* flex-shrink: 0; */
  }

  .unique-components-div {
    display: flex;
    min-width: 486px;
    height: 156px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    /* flex-shrink: 0; */
  }

  .unique-components-section-title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 411px;
  }

  .unique-components-section-title-span {
    color: #fd9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  .unique-components-section-paragraph {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 486px;
  }
  .aliment-list {
    display: flex;
    flex-direction: row;
    width: 0 !important;
    min-width: 1250px;
    align-items: center;
    gap: 19px;
  }

  .linie-svg {
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.5);
  }
}

 </style>