<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link
      rel="stylesheet"
      href="./sass/index.scss"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./sass/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <!-- Unique Components -->
    <section class="unique-components-section">
      <div class="unique-components-div">
        <h2 class="unique-components-section-title">
          IT ALL ADDS UP TO ONE EXCEPTIONAL
          <span class="unique-components-section-title-span">TASTE</span>
          SENSATION
        </h2>
        <p class="unique-components-section-paragraph">
          At Simply Chocolate, we believe that the secret to exceptional
          chocolate is in the details. From the sourcing of the finest
          ingredients to the careful crafting of each individual piece, every
          step of our process adds up to one exceptional taste sensation.
        </p>
      </div>
      <ul class="aliment-list">
        <li class="aliment-list-element-1">
          <img
            src="./images/ciocolata-cu-lapte.png"
            alt="ciocolata-cu-lapte"
            class="ciocolata-cu-lapte"
          />
        </li>
        <li class="aliment-list-element-2">
          <img src="./images/lapte.png" alt="lapte" />
        </li>
        <li class="aliment-list-element-3">
          <img src="./images/alune.png" alt="alune" />
        </li>
        <li class="aliment-list-element-4">
          <img src="./images/ciocolata-dulce.png" alt="ciocolata-dulce" />
        </li>
      </ul>
    </section>
    <!-- ❗️❗️❗️ Add partials like so for every page -->
  </body>
</html>
