<section class="warranty">

    <div class="warranty-container">

      <h2 class="warranty-title">Мы гарантируем</h2>

      <div class="warranty-cotainer-list">

        <ul class="warranty-list list _anim-items">
            <li class="warranty-list-item">
                <div class="warranty-icon-conteiner">
                    <svg class="warranty-list-item-icon-1" width="15" height="20">
                        <use href="./images/sprite.svg#icon-campfire-list"></use>
                    </svg>
                    <svg class="warranty-list-item-icon-2" width="22" height="30">
                        <use href="./images/sprite.svg#icon-campfire-list"></use>
                    </svg>
                </div>
                <p>Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги<span class="accent-part-list">*</span></p>
            </li>
            <li class="warranty-list-item">
                <div class="warranty-icon-conteiner">
                    <svg class="warranty-list-item-icon-1" width="15" height="20">
                        <use href="./images/sprite.svg#icon-campfire-list"></use>
                    </svg>
                    <svg class="warranty-list-item-icon-2" width="22" height="30">
                        <use href="./images/sprite.svg#icon-campfire-list"></use>
                    </svg>
                </div>
                <p>Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="accent-part-list">В то время как 20% учеников получили за сочинение 0.</span></p>
            </li>
            <li class="warranty-list-item">
                <div class="warranty-icon-conteiner">
                    <svg class="warranty-list-item-icon-1" width="15" height="20">
                        <use href="./images/sprite.svg#icon-campfire-list"></use>
                    </svg>
                    <svg class="warranty-list-item-icon-2" width="22" height="30">
                        <use href="./images/sprite.svg#icon-campfire-list"></use>
                    </svg>
                </div>
                <p>Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.</p>
            </li>
            <li class="warranty-list-item">
                <div class="warranty-icon-conteiner">
                    <svg class="warranty-list-item-icon-1" width="15" height="20">
                        <use href="./images/sprite.svg#icon-campfire-list"></use>
                    </svg>
                    <svg class="warranty-list-item-icon-2" width="22" height="30">
                        <use href="./images/sprite.svg#icon-campfire-list"></use>
                    </svg>
                </div>
                <p>Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.</p>
            </li>
          </ul>

      </div>

      
    </div>

</section>