<div class="warranty container">
<h2 class="warranty-header">Мы гарантируем</h2>



  
    <ul class="warranty-list">
      <li class="warranty-item">
        Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
        тестировании. Иначе мы вернем деньги.<span class="warranty-attention"
          >*</span
        >
      </li>
      <li class="warranty-item">
        Ты научишься писать сочинения минимум на 10 баллов из 14.<span
          class="warranty-attention"
        >
          В то время как 20% учеников получили за сочинение 0.</span
        >
      </li>
      <li class="warranty-item">
        Ты будешь заниматься в своем районе. Мы выберем место проведения занятий
        после формирования команд.
      </li>
      <li class="warranty-item">
        Команды будут сформированы, исходя из начального уровня учеников. Мы
        учитываем особенности каждого ученика.
      </li>
    </ul>
  </section>
</div>
