<section class="warranty">
  <div class="container">
    <h2 class="warranty__title">Мы гарантируем</h2>
    <div class="warranty__container">
      <ul class="warranty__list list">
        <li class="warranty__text warranty__border">
          Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги.<span
            class="colortext"
            >*</span
          >
        </li>
        <li class="warranty__text warranty__border">
          Ты научишься писать сочинения минимум на 10 баллов из 14.<span class="colortext">
            В то время как 20% учеников получили за сочинение 0.</span
          >
        </li>
        <li class="warranty__text warranty__border">
          Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после формирования команд.
        </li>
        <li class="warranty__text">
          Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.
        </li>
      </ul>
    </div>
  </div>
</section>
