<section class="we-garant-section">
  <div class="container">
    <h2 class="we-garant-section-header header">Мы гарантируем</h2>
    <div class="we-garant-div">
      <ul class="we-garant-section-list">
        <li class="we-garant-item">
          Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
          тестировании. Иначе мы вернем деньги. <span>*</span>
        </li>
        <a href="./images/icons/sprite.svg"></a>
        <li class="we-garant-item">
          Ты научишься писать сочинения минимум на 10 баллов из 14.
          <span> В то время как 20% учеников получили за сочинение 0.</span>
        </li>
        <li class="we-garant-item">
          Ты будешь заниматься в своем районе. Мы выберем место проведения
          занятий после формирования команд.
        </li>
        <li class="we-garant-item">
          Команды будут сформированы, исходя из начального уровня учеников. Мы
          учитываем особенности каждого ученика.
        </li>
      </ul>
    </div>
  </div>
</section>
