

<section class="doit"> 
    <div class="container">
    <h1 class="doit-title">Как мы это делаем</h1>
    
    <ul class="doit-list">
        <li class="doit-item list">
            <div class="doit-svg">
                <svg class="doit-svg-item" width=45px height=48px>
                    <use href="../sprite.svg#icon-wedoit-1"></use>
                </svg>
            </div>
                <p class="doit-svg-title">
                    Адаптированная программа подготовки к ВНО
                </p>
                <span class="doit-svg-explain">
                    Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.
                </span>
        </li>

        <li class="doit-item list">
            <div class="doit-svg">
                <svg class="doit-svg-item" width=46px height=47px>
                    <use href="../sprite.svg#icon-wedoit-2 "></use>
                </svg>
            </div>
                <p class="doit-svg-title">
                    Аудитория и онлайн-обучение
                </p>
                <span class="doit-svg-explain">
                    Учитель поможет не только в аудитории, но и во время домашней подготовки. Родители могут участвовать в чате при желании.
                </span>
        </li>

        <li class="doit-item list">
            <div class="doit-svg">
                <svg class="doit-svg-item" width=68px height=48px>
                    <use href="../sprite.svg#icon-wedoit-3"></use>
                </svg>
            </div>
                <p class="doit-svg-title">
                    Привычка читать на английском языке
                </p>
                <span class="doit-svg-explain">
                    Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон дважды в неделю.
                </span>
        </li>

        <li class="doit-item list">
            <div class="doit-svg">
                <svg class="doit-svg-item" width=0x height=48px>
                    <use href="../sprite.svg#icon-wedoit-4"></use>
                </svg>
            </div>
                <p class="doit-svg-title">
                    Психологическая поддержка
                </p>
                <span class="doit-svg-explain">
                    Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности в себе.
                </span>
        </li>

        <li class="doit-item list">
            <div class="doit-svg">
                <svg class="doit-svg-item" width=40px height=48px> 
                    <use href="../sprite.svg#icon-wedoit-5"></use>
                </svg>
            </div>
                <p class="doit-svg-title">
                    Обучение по авторским пособиям
                </p>
                <span class="doit-svg-explain">
                    Тебе не нужно тратить время на  самостоятельный поиск материала и ничего покупать дополнительно. Мы составили 2 пособия для тебя.
                </span>
        </li>

        <li class="doit-item list">
            <div class="doit-svg">
                <svg class="doit-svg-item"  width=57px height=48px>
                    <use href="../sprite.svg#icon-wedoit-6"></use>
                </svg>
            </div>
                <p class="doit-svg-title">
                    Умение воспринимать устную английскую речь
                </p>
                <span class="doit-svg-explain">
                    “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать аудиозаписи в соответствии с изучаемой лексикой.
                </span>
        </li>
        </div>
    </ul>
</section>