<section class="garants">    
        <h2 class="garant__title">Мы гарантируем</h2>
    <div class="garants__container container">
        <div class="feature-list__container ">
            <ul class="feature-list list">                
                <li class="feature-list__item">                                       
                    <p class="feature-list__description">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы вернем деньги. 
                        <span>*</span>
                    </p>
                </li>
                <li class="feature-list__item">                    
                    <p class="feature-list__description">Ты научишься писать сочинения минимум на 10 баллов из 14.
                        <span>В то время как 30% учеников получили за сочинение 0.</span>
                    </p>                    
                </li>
                <li class="feature-list__item">
                    <p class="feature-list__description">Ты будешь заниматься в своем районе. Мы выберем место
                        проведения занятий
                        после формирования команд.
                    </p>
                </li>
                <li class="feature-list__item">
                    <p class="feature-list__description">Команды будут сформированы, исходя из начального уровня
                        учеников. Мы
                        учитываем особенности каждого ученика.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="comments">
    <div class="comments__container container">
        <div class="comments-container__container ">
        <h2 class="comments__title">Отзывы выпускников</h2>
            <div class="mobile-comment-container">
            <ul class="comments-list list">
                <div class="container_main_comment">
                    <li class="comments-list__main-foto">
                        <img class="comments-main-foto__main-foto" src="./images/comments/tonya_kucherovskaya.png"
                            width="90" height="90" alt="фото Тоня Кучерявская">
                    </li>

                    <li class="comments-list__icon">
                        <svg class="comments-list-icon__vk">
                            <use href="./images/sprite.svg#icon-vk"></use>
                        </svg>
                    </li>
                </div>
                <li class="comments-list__item">
                    <h3 class="comments-list__name">Тоня Кучеровская</h3>
                    <p class="comments-list__info">
                        Выпуск 2015-го года, Національний університет <br>біоресурсів
                        і природокористування України
                    </p>
                    <p class="comments-list__description">
                        За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
                        я можу похизуватись тим, що я студент... <a href="#"><span>Читать дальше</span> </a>
                    </p>
                </li>
            </ul>
        </div>
        </div >
        <ul class="comments-under__list list">           
            
                <li class="comments-under__item">
                    <img class="comments-under-foto__under-foto" src="./images/comments/girl_1.png" width="54" height="54"
                        alt="фото girl_1">
                </li>

                <li class="comments-under__item">
                    <img class="comments-under-foto__under-foto" src="./images/comments/girl_2.png" width="54" height="54"
                        alt="фото girl_2">
                </li>

                <li class="comments-under__item">
                    <img class="comments-under-foto__under-foto" src="./images/comments/girl_3.png" width="54" height="54"
                        alt="фото girl_3">
                </li>

            <li class="comments-under__item">
                <img class="comments-under-foto__under-foto" src="./images/comments/girl_4.png" width="54" height="54"
                    alt="фото girl_4">
            </li>
            
            <li class="comments-under__item">
                <img class="comments-under-foto__under-foto" src="./images/comments/girl_5.png" width="54" height="54"
                    alt="фото girl_5">
            </li>
            
            <li class="comments-under__item">
                <img class="comments-under-foto__under-foto" src="./images/comments/girl_6.png" width="54" height="54"
                    alt="фото girl_6">
            </li>

            <li class="comments-under__item">
                <img class="comments-under-foto__under-foto" src="./images/comments/girl_7.png" width="54" height="54"
                    alt="фото girl_7">
            </li>
        </ul>
    
</section>