<section class="garants">
    <div class="container">
        <h1 class="garant__title">Мы гарантируем</h1>
            <div class="feature-list__container">
                <ul class="feature-list list">
                    <li class="feature-list__item">

                        <svg class="feature-list__icon">
                            <use href="./images/sprite.svg#icon-fire"></use>
                        </svg>
                            <p class="feature-list__description">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
                                тестировании. Иначе мы вернем деньги.* 
                            </p>
                                
                    </li>
                    <li class="feature-list__item">

                        <svg class="feature-list__icon">
                            <use href="./images/sprite.svg#icon-fire"></use>
                        </svg>
                            <p class="feature-list__description">Ты научишься писать сочинения минимум на 10 баллов из 14. В то время как
                                30% учеников получили за сочинение 0.
                            </p>
                            
                    </li>
                    <li class="feature-list__item">

                        <svg class="feature-list__icon">
                            <use href="./images/sprite.svg#icon-fire"></use>
                        </svg>
                            <p class="feature-list__description">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий
                                после формирования команд.
                            </p>
                            
                    </li>
                    <li class="feature-list__item">

                        <svg class="feature-list__icon">
                            <use href="./images/sprite.svg#icon-fire"></use>
                        </svg>
                            <p class="feature-list__description">Команды будут сформированы, исходя из начального уровня учеников. Мы
                                учитываем особенности каждого ученика.
                            </p>
                            
                    </li>
                </ul>
            </div>
                
        
        
        
        
    </div>
   
</section>