<main class="main-container">
  <div class="main-section">
    <div class="section-text">
      <h1 class="welcome-title">Welcome to our collection of premium watches</h1>
    </div>

    <div class="image-slider">
      <img src="/src/images/editorconfig.png" alt="" class="image" />
      <img src="/src/images/timex-watch.png" alt="" class="image" />
      <img src="/src/images/omaega-watch.png" alt="" class="image" />
      <img src="/src/images/omega-black-watch.png" alt="" class="image" />
      <img src="/src/images/omega-blau-watch.png" alt="" class="image" />
    </div>
   
  
   

    <div class="welcome-paragraph">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have a
        watch to suit every taste and occasion. 
    </div>

    <div class="img-welcome">
      <img src="/src/images/arm-watches.png" alt="the watch is on the hand" />
    </div>

  </div>
</main>