<main class="main-container">
  <div class="main-section">
    <h1 class="welcome-title">Welcome to our collection of premium watches</h1>

    <!--Carousel -->



    <div class="slider slider-1">
      
        <div class="photos">
          <img src="/src/images/editorconfig.png" alt="clasic-hand-watch" class="image" />
          <img src="/src/images/timex-watch.png" alt="clasic-hand-watch" class="image" />
          <img src="/src/images/omaega-watch.png" alt="clasic-hand-watch" class="image" />
          <img src="/src/images/omega-black-watch.png" alt="clasic-hand-watch" class="image" />
          <img src="/src/images/omega-blau-watch.png" alt="clasic-hand-watch" class="image" />
        </div>
 
        <div class="buttons">
          <div class="prev"></div>
          <div class="next"></div>
        </div>
    </div>
    

    <p class="welcome-paragraph">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>

    <picture class="welcome-picture">
      <source media="(min-width: 1158px)" srcset="/src/images/arm-watches_d.png" />
      <source media="(min-width: 768px)" srcset="/src/images/arm-watches_t.png" />
      <source media="(max-width: 768px)" srcset="/src/images/arm-watches_m.png" />
      <img src="/src/images/arm-watches_m.png" alt="clasic-hand-watch watch" />
    </picture>
  </div>
</main>
<script defer src="./carousel2.js"></script>