<main class="main-container">
    <div class="main-section">
        <div class="section">
            <h1 class="title">Welcome to our collection of premium watches</h1>
        </div>

        <div class="image-slider">

            <img src="/src/images/editorconfig.png" alt="" class="image">
            <img src="/src/images/timex-watch.png" alt="" class="image">
            <img src="/src/images/omaega-watch.png" alt="" class="image">
            <img src="/src/images/omega-black-watch.png" alt="" class="image">
            <img src="/src/images/omega-blau-watch.png" alt="" class="image">

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only"><button onclick="plusSlides(-1)">&#8249;</button></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only"><button onclick="plusSlides(1)">&#8250;</button></span>
        </a>


        <p id="imageCount"> 1 - 5
        </p>
    </div>
    <div class="paragraph">
        <p>Our watches are not just timepieces, but also an expression of your personality and
            lifestyle. From classic designs to
            modern ones, we have a watch to suit every taste and occasion.</p>
    </div>
    <div class="img-class">
        <img src="/src/images/arm-watches.png" alt="the watch is on the hand">
    </div>
</main>