<!-- Секция почему приходят к нам -->
<section class="whyus-section">
  <div class="flex-box container">
    <div class="text-container">
      <p class="old-school-text">старая традиционная школа</p>
      <h2 class="whyus-title">Почему приходят именно к нам?</h2>
      <p class="whyus-text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
    <div class="statistics-container">
      <ul class="statistiсs-list">
        <li class="item">
          <span class="data">600<sup class="index-plus">+</sup></span>

          <span class="text"
            >Довольных клиентов <br />
            в день</span
          >
        </li>

        <li class="item">
          <span class="data">50<sup class="index-plus">+</sup></span>
          <span class="text">Наград за отличный сервис</span>
        </li>

        <li class="item">
          <span class="data">20<sup class="index-plus">+</sup></span>
          <span class="text">Лучших мастеров Киева</span>
        </li>

        <li class="item">
          <span class="data">100<sup class="index-plus">+</sup></span>
          <span class="text">Подарков постоянным клиентам</span>
        </li>
      </ul>
    </div>
  </div>
</section>
