<div>
  <h2>старая традиционная школа</h2>
  <h3>Почему приходят именно к нам?</h3>
  <p>
    О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
    10 раз прочитать.
  </p>
</div>
<div class="statistics">
  <ul class="statistics-list list">
    <li class="statistics-list-item">
      <span class="statistics-number">600</span>Довольных клиентов в день
    </li>
    <li class="statistics-list-item">
      <span class="statistics-number">50</span>Наград за отличный сервис
    </li>
    <li class="statistics-list-item">
      <span class="statistics-number">20</span>Лучших мастеров Киева
    </li>
    <li class="statistics-list-item">
      <span class="statistics-number">100</span>Подарков постоянным клиентам
    </li>
  </ul>
</div>
