<section class="why-we">
  <div class="container container-why">
    <div class="container-name">
      <h2 class="section-title">Почему нас выбирают</h2>
    </div>

    <div class="container-reason">
      <ul class="list-reason">
        <li class="item-reason">
          <p class="item-title">Обучение в малых командах</p>
        </li>
        <li class="item-reason">
          <p class="item-title">Визуализированные конспекты</p>
        </li>
        <li class="item-reason">
          <p class="item-title">
            Каждое занятие имеет цель и конкретный результат
          </p>
        </li>
        <li class="item-reason">
          <p class="item-title">Ревльные результаты преподавателя</p>
        </li>
        <li class="item-reason">
          <p class="item-title">
            Прогамма курса соответствует требованиям МОН Украины
          </p>
        </li>
        <li class="item-reason">
          <p class="item-title">Набор команд по уровням знаний</p>
        </li>
      </ul>
    </div>
  </div>
</section>
