<section class="section-whyUs">
  <div class="container">
    <p class="section-manifest">старая традиционная школа</p>
    <h1 class="title-section">Почему приходят именно к нам?</h1>
    <p class="about-ass">О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.</p>
  
   <div class="wrapper">
    <!-- <div class="wraper"> -->
      <ul class="statistics">
        <li class="item">
          <span class="after">600</span>
          <p class="edit">Довольных клиентов в день</p>
        </li>       
        <li class="item">
          <span class="after">20</span>
          <p class="edit"> Лучших мастеров Киева  </p>              
        </li>  
      </ul>
    <!-- </div> -->
      <!-- <div class="wraper-padding"> -->
        <ul class="statistics down">
          <li class="item">
            <span class="after">50</span>
            <p class="edit">Наград за отличный сервис</p>
          </li>       
          <li class="item">
            <span class="after">100</span>
          <p class="edit">Подарков постоянным клиентам</p>              
          </li>  
        </ul>
      <!-- </div> -->
      </div>
  </div>
   
    
    
    
    
    
    <!-- <ul class="statistics">
        <li class="item">
          <span class="after">600</span>
          <p class="edit">Довольных клиентов в день</p>
        </li>       
          <li class="item">
            <span class="after">20</span>
          <p class="edit">Лучших мастеров Киева</p>              
          </li>  
        <li class="item">
          <span class="after">50</span>
          <p class="edit">Наград за отличный сервис</p> 
        <li class="item">
          <span class="after">100</span>
          <p class="edit">Подарков постоянным клиентам</p>
        </li>
      </ul> -->
    
  </div>
</section>