<section class="section why-we-are-chose-section">
  <div class="container why-we-are-chose-container">
    <h2 class="title why-we-are-chose-title">Почему нас выбирают</h2>
    <div class="why-we-are-chose-card">
      <ol class="why-we-are-chose-list">
        <li>Обучение в малых командах</li>
        <li>Визуализированные конспекты</li>
        <li>Каждое занятие имеет цель и конкретный результат</li>
        <li>Ревльные результаты преподавателя</li>
        <li>Прогамма курса соответствует требованиям МОН Украины</li>
        <li>Набор команд по уровням знаний</li>
      </ol>
    </div>
  </div>
</section>
