<section class="why-we section">
    <div class="why-we__container container">
        <div class="why-we__text-container">
            <p class="why-we__feture">старая традиционная школа</p>
            <h2 class="why-we__title title">
                Почему приходят именно к нам?
            </h2>
            <p class="why-we__subtitle">
                О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
            </p>
        </div>
        <ul class="why-we__list">
            <li class="why-we__item">
                <p class="why-we__number">600</p>
                <p class="why-we__desc">
                    Довольных клиентов в день
                </p>
            </li>
            <li class="why-we__item">
                <p class="why-we__number">50</p>
                <p class="why-we__desc">
                    Наград за отличный сервис
                </p>
            </li>
            <li class="why-we__item">
                <p class="why-we__number">20</p>
                <p class="why-we__desc">
                    Лучших мастеров Киева
                </p>
            </li>
            <li class="why-we__item">
                <p class="why-we__number">100</p>
                <p class="why-we__desc">
                    Подарков постоянным клиентам
                </p>
            </li>
        </ul>
    </div>
</section>