<section id="why-come-to-us" class="section results">
  <div class="container results">
    <div class="section-results-content">
      <p class="section-sub-title">старая традиционная школа</p>
      <h2 class="section-results-title">Почему приходят именно к нам?</h2>
      <p class="section-results-text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>

    <ul class="section-results-part">
      <li class="result-block">
        <p class="result-number">600<sup class="result-plus">+</sup></p>
        <p class="result-text">Довольных клиентов в день</p>
      </li>
      <li class="result-block">
        <p class="result-number">50<sup class="result-plus">+</sup></p>
        <p class="result-text">Наград за отличный сервис</p>
      </li>
      <li class="result-block">
        <p class="result-number">20<sup class="result-plus">+</sup></p>
        <p class="result-text">Лучших мастеров Киева</p>
      </li>
      <li class="result-block">
        <p class="result-number">100<sup class="result-plus">+</sup></p>
        <p class="result-text">Подарков постоянным клиентам</p>
      </li>
    </ul>
  </div>
</section>
