<section>
  <div class="container why-us">
    <div class="why-us-main">
      <h2 class="why-us-slogan">старая традиционная школа</h2>
      <h3 class="why-us-question">Почему приходят именно к нам?</h3>
      <p class="why-us-answer">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
    <div class="why-us-statistics">
      <ul class="statistics-list">
        <li class="statistics-list-item">
          <span class="statistics-number"
            >600<sup class="statistics-plus">+</sup></span
          ><br />
          <span class="statistics-text">Довольных клиентов в день</span>
        </li>
        <li class="statistics-list-item">
          <span class="statistics-number"
            >50<sup class="statistics-plus">+</sup></span
          ><br />
          <span class="statistics-text">Наград за отличный сервис</span>
        </li>
        <li class="statistics-list-item">
          <span class="statistics-number"
            >20<sup class="statistics-plus">+</sup></span
          ><br />
          <span class="statistics-text">Лучших мастеров Киева</span>
        </li>
        <li class="statistics-list-item">
          <span class="statistics-number"
            >100<sup class="statistics-plus">+</sup></span
          ><br />
          <span class="statistics-text">Подарков постоянным клиентам</span>
        </li>
      </ul>
    </div>
  </div>
</section>
