<div class="weather-card">
    <div>
      <div class="weather">
        <img class="widget-icon" src="/src/images/001-cloudy.png" alt="">
        <h2 class="city"></h2>
        <h1 class="temp"></h1>
        <div class="temp-limits">
            <div class="min">            
                <p>min</p>
                <p>0</p>
            </div>
            <div class="max">
                <p>max</p>
                <p>0</p>
            </div>          
        </div>
      </div>
      <div class="switch-buttons">
        <button class="today-button">TODAY</button>
        <button class="five-day-button">5 DAYS</button>
      </div>
    </div>
    <div class="switch-buttons">
      <button class="today-button">TODAY</button>
      <button class="five-day-button">5 DAYS</button>
    </div>
  </div>
</div>
