<section class="work">
    <div class="container">
        <h3 class="title title-light-theme">Как мы это делаем</h3>
        <ul class="">
            <li class="work-list list">
                <a href="" class="work-link link">
                    <svg class="work-svg" width="45px"
                            height="48px">
                        <use class="work-img-svg" href="../src/images/svg/sprite-hell.svg#noun-study-program"></use>
                    </svg>
                    <p class="subtitle subtitle-light-theme">Адаптированная программа подготовки к ВНО</p>
                    <p class="description">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.
                    </p>
                </a>
            </li>
            <li class="work-list list">
                <a href="" class="work-link link">
                    <svg class="work-svg" width="48px" height="47px">
                        <use class="work-img-svg" href="../src/images/svg/sprite-hell.svg#noun-mobile">
                        </use>
                    </svg>
                    <p class="subtitle subtitle-light-theme">Аудитория и онлайн-обучение</p>
                    <p class="description">Учитель поможет не только в аудитории, но и во время домашней подготовки.
                        Родители могут участвовать в чате при желании.</p>
                </a>
            </li>
            <li class="work-list list">
                <a href="" class="work-link link">
                    <svg class="work-svg" width="68px" height="48px">
                        <use class="work-img-svg" href="../src/images/svg/sprite-hell.svg#noun-book">
                        </use>
                    </svg>
                    <p class="subtitle subtitle-light-theme">Привычка читать на английском языке</p>
                    <p class="description">Статьи из источников, которые используются при разработке настоящего ВНО, будут
                        приходить на телефон дважды в неделю.</p>
                </a>
            </li>
            <li class="work-list list">
                <a href="" class="work-link link">
                    <svg class="work-svg" width="48px" height="48px">
                        <use class="work-img-svg" href="../src/images/svg/sprite-hell.svg#noun-hand">
                        </use>
                    </svg>
                    <p class="subtitle subtitle-light-theme">Психологическая поддержка</p>
                    <p class="description">Мы научим тебя методикам прохождения тестирований, умению планировать свою
                        подготовку уверенности
                        в себе.</p>
                </a>
            </li>
            <li class="work-list list">
                <a href="" class="work-link link">
                    <svg class="work-svg" width="40px" height="48px">
                        <use class="work-img-svg" href="../src/images/svg/sprite-hell.svg#noun-homo">
                        </use>
                    </svg>
                    <p class="subtitle subtitle-light-theme">Обучение по авторским пособиям</p>
                    <p class="description">Тебе не нужно тратить время
                        на самостоятельный поиск материала и ничего покупать дополнительно. Мы составили
                        2 пособия для тебя.</p>
                </a>
            </li>
            <li class="work-list list">
                <a href="" class="work-link link">
                    <svg class="work-svg" width="57px"
                            height="48px">
                        <use class="work-img-svg" href="../src/images/svg/sprite-hell.svg#noun-book-headphone"></use>
                    </svg>
                    <p class="subtitle subtitle-light-theme">Умение воспринимать устную английскуб речь</p>
                    <p class="description">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
                        и разбирать аудиозаписи
                        в соответствии с изучаемой лексикой.</p>
                </a>
            </li>
        </ul>
</section>