<section class="workers">
  <div class="container">
    <h2 class="workers-title">Наши мастера</h2>
    <ul class="workers-flex list">
      <li class="workers-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="
              ./images/workers/worker1.jpg    1x,
              ./images/workers/worker1@2x.jpg 2x
            "
            src="./images/workers/worker1.jpg"
            alt="Фото работника"
          />
        </div>
        <h3 class="workers-subtitle">John Smith</h3>
        <p class="workers-text">Extreme Barber</p>
        <ul class="workers-socials list">
          <li class="workers-socials item">
            <a
              href="https://www.instagram.com/"
              aria-label="Ссылка на Instagram"
              class="workers-link"
            >
              <svg class="social-icon" width="20" height="20">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.twitter.com/"
              aria-label="Ссылка на Twitter"
              class="workers-link"
            >
              <svg class="social-icon" width="20" height="20">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.facebook.com/"
              aria-label="Ссылка на Facebook"
              class="workers-link"
              ><svg class="social-icon" width="20" height="20">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.linkedin.com/"
              aria-label="Ссылка на LinkedIn"
              class="workers-link"
              ><svg class="social-icon" width="20" height="20">
                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="workers-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="
              ./images/workers/worker2.jpg    1x,
              ./images/workers/worker2@2x.jpg 2x
            "
            src="./images/workers/worker2.jpg"
            alt="Фото работника"
          />
        </div>
        <h3 class="workers-name">Michele Doe</h3>
        <p class="workers-text">Extreme Barber</p>
        <ul class="workers-socials list">
          <li class="workers-socials item">
            <a
              href="https://www.instagram.com/"
              aria-label="Ссылка на Instagram"
              class="workers-link"
            >
              <svg class="social-icon" width="20" height="20">
                <use></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.twitter.com/"
              aria-label="Ссылка на Twitter"
              class="workers-link"
            >
              <svg class="social-icon" width="20" height="20">
                <use></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.facebook.com/"
              aria-label="Ссылка на Facebook"
              class="workers-link"
              ><svg class="social-icon" width="20" height="20">
                <use></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.linkedin.com/"
              aria-label="Ссылка на LinkedIn"
              class="workers-link"
            >
              <svg class="social-icon" width="20" height="20">
                <use></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="workers-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="
              ./images/workers/worker3.jpg    1x,
              ./images/workers/worker3@2x.jpg 2x
            "
            src="./images/teamworkers/worker3.jpg"
            alt="Фото работника"
          />
        </div>
        <h3 class="workers-name">Alan Black</h3>
        <p class="workers-text">Extreme Barber</p>
        <ul class="workers-socials list">
          <li class="workers-socials item">
            <a
              href="https://www.instagram.com/"
              aria-label="Ссылка на Instagram"
              class="workers-link"
            >
              <svg class="social-icon" width="20" height="20">
                <use></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.twitter.com/"
              aria-label="Ссылка на Twitter"
              class="workers-link"
            >
              <svg class="social-icon" width="20" height="20">
                <use></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.facebook.com/"
              aria-label="Ссылка на Facebook"
              class="workers-link"
              ><svg class="social-icon" width="20" height="20">
                <use></use>
              </svg>
            </a>
          </li>
          <li class="workers-socials item">
            <a
              href="https://www.linkedin.com/"
              aria-label="Ссылка на LinkedIn"
              class="workers-link"
              ><svg class="social-icon" width="20" height="20">
                <use></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
