<!--Наши мастера-->
<section class="section-workers">
    <div class="container-workers">
        <div class="text-workers">
          <svg class="icon-workers" width="60" height="1" viewBox="0 0 60 1" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="60" width="1" height="60" transform="rotate(90 60 0)" fill="#303030"/>
          </svg>
          <p class="section-description">ДЛЯ НАСТОЯЩИХ ЦЕНИТЕЛЕЙ АТМОСФЕРЫ</p>
      </div>
    <h2 class="section-title">Наши мастера</h2>
    <ul class="workers-list">
      <li class="workers-item"> 
        <picture>
          <source
            srcset="
              ./images/worker1-mobile418.jpg    1x,
              ./images/worker1-mobile@2x836.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/worker1-tablet450.jpg    1x,
              ./images/worker1-tablet@2x900.jpg 2x
            "
            media="(max-width: 1199px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/worker1-desktop370.jpg    1x,
              ./images/worker1-desktop@2x740.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />

          <img src="./images/worker1-desktop370.jpg" alt="John Smith" />
        </picture>
        <h3 class="name">John Smith</h3>
        <p class="speciality">Extreme Barber</p>
        <div class="container-network">
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/worker2-mobile418.jpg    1x,
              ./images/worker2-mobile@2x836.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/worker2-tablet450.jpg    1x,
              ./images/worker2-tablet@2x900.jpg 2x
            "
            media="(max-width: 1199px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/worker2-desktop370.jpg    1x,
              ./images/worker2-desktop@2x740.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />

          <img src="./images/worker2-desktop370.jpg" alt="Michele Doe" />
        </picture>
        <h3 class="name">Michele Doe</h3>
        <p class="speciality">Extreme Barber</p>
        <div class="container-network">
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/worker3-mobile418.jpg    1x,
              ./images/worker3-mobile@2x836.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/worker3-tablet450.jpg    1x,
              ./images/worker3-tablet@2x900.jpg 2x
            "
            media="(max-width: 1199px)"
            type="image/jpg"
          />

          <source
            srcset="
              ./images/worker3-desktop370.jpg    1x,
              ./images/worker3-desktop@2x740.jpg 2x
            "
            media="(min-width: 1200px)"
            type="image/jpg"
          />

          <img src="./images/worker3-desktop370.jpg" alt="Alan Black" />
        </picture>
        <h3 class="name">Alan Black</h3>
        <p class="speciality">Extreme Barber</p>
        <div class="container-network">
          <ul class="social-list">
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a href="" class="social-link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    </div>
</section>
