<section class="works-section" id="works">
  <div class="container">
    <p class="works-text">На латинском языке “барба” означает “борода”</p>
    <ul class="works-list list">
      <li class="works-list-item">
        <picture>
          <!-- Desktop-image -->
          <source
            srcset="
              ./images/works/desktop/works-desktop1.webp    1x,
              ./images/works/desktop/works-desktop1@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/desktop/works-desktop1.jpg    1x,
              ./images/works/desktop/works-desktop1@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <!-- Tablet-image -->
          <source
            srcset="
              ./images/works/tablet/works-tablet1.webp    1x,
              ./images/works/tablet/works-tablet1@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/tablet/works-tablet1.jpg    1x,
              ./images/works/tablet/works-tablet1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile-image -->

          <source
            srcset="
              ./images/works/mobile/works-mob1.webp    1x,
              ./images/works/mobile/works-mob1@2x.webp 2x
            "
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/mobile/works-mob1.jpg    1x,
              ./images/works/mobile/works-mob1@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />

          <img
            src="./images/works/mobile/works-mob1.jpg"
            alt="Барбер стрижет"
            class="works-list-img"
          />
        </picture>
      </li>
      <li class="works-list-item">
        <picture>
          <!-- Desktop-image -->
          <source
            srcset="
              ./images/works/desktop/works-desktop2.webp    1x,
              ./images/works/desktop/works-desktop2@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/desktop/works-desktop2.jpg    1x,
              ./images/works/desktop/works-desktop2@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <!-- Tablet-image -->
          <source
            srcset="
              ./images/works/tablet/works-tablet2.webp    1x,
              ./images/works/tablet/works-tablet2@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/tablet/works-tablet2.jpg    1x,
              ./images/works/tablet/works-tablet2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile-image -->

          <source
            srcset="
              ./images/works/mobile/works-mob2.webp    1x,
              ./images/works/mobile/works-mob2@2x.webp 2x
            "
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/mobile/works-mob2.jpg    1x,
              ./images/works/mobile/works-mob2@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />

          <img
            src="./images/works/mobile/works-mob2.jpg"
            alt="Барбер наносит пену на бороду"
            class="works-list-img"
          />
        </picture>
      </li>
      <li class="works-list-item">
        <picture>
          <!-- Desktop-image -->
          <source
            srcset="
              ./images/works/desktop/works-desktop3.webp    1x,
              ./images/works/desktop/works-desktop3@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/desktop/works-desktop3.jpg    1x,
              ./images/works/desktop/works-desktop3@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <!-- Tablet-image -->
          <source
            srcset="
              ./images/works/tablet/works-tablet3.webp    1x,
              ./images/works/tablet/works-tablet3@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/tablet/works-tablet3.jpg    1x,
              ./images/works/tablet/works-tablet3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile-image -->

          <source
            srcset="
              ./images/works/mobile/works-mob3.webp    1x,
              ./images/works/mobile/works-mob3@2x.webp 2x
            "
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/mobile/works-mob3.jpg    1x,
              ./images/works/mobile/works-mob3@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />

          <img
            src="./images/works/mobile/works-mob3.jpg"
            alt="Барбер накладывает полотенце на лицо"
            class="works-list-img"
          />
        </picture>
      </li>
      <li class="works-list-item">
        <picture>
          <!-- Desktop-image -->
          <source
            srcset="
              ./images/works/desktop/works-desktop4.webp    1x,
              ./images/works/desktop/works-desktop4@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/desktop/works-desktop4.jpg    1x,
              ./images/works/desktop/works-desktop4@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <!-- Tablet-image -->
          <source
            srcset="
              ./images/works/tablet/works-tablet4.webp    1x,
              ./images/works/tablet/works-tablet4@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/tablet/works-tablet4.jpg    1x,
              ./images/works/tablet/works-tablet4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile-image -->

          <source
            srcset="
              ./images/works/mobile/works-mob4.webp    1x,
              ./images/works/mobile/works-mob4@2x.webp 2x
            "
            media="(min-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/works/mobile/works-mob4.jpg    1x,
              ./images/works/mobile/works-mob4@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />

          <img
            src="./images/works/mobile/works-mob4.jpg"
            alt="Барбер делает окантовку"
            class="works-list-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
