%flex-aline{
    display: flex;
    align-items: center;
}

%flex-justify{
    display: flex;
    justify-content: center;
}

%flex-aline-justify{
    display: flex;
    align-items: center;
    justify-content: center;
}

%margin-auto{
    margin-left: auto;
    margin-right: auto;
}

%animation{
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
