/* About us Mobile */
.about-us-section {
  width: 375px;
}

.about-us-title {
  color: var(--dark-green, #1e2827);
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
}

.title-p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 40px;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paragraphs-text {
  color: var(--black, #141414);
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  width: 335px;
}

.p2 {
  color: var(--black, #141414);
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  width: 335px;
}
.img-gif {
  padding: 40px 20px;
  gap: 40px;
}

.gif {
  width: 335px;
  height: 325;
  background: url(https://s3-alpha-sig.figma.com/img/ef39/52ff/ddf3148451bd2db71f02b9d2f8ebb2da?Expires=1693785600&Signature=Xlg0sqE~jiQhJpzSdf~Zmb60QEeTCmMT85Tg1yt2a4bFWmDO4RacY~gGw-tAfgs0a~VSyu~qNtLBM9Xzb-RUUPauhou1SE9LSJxM6C0UEMgiF6cuOWg6YPcQ8Ldg8pyFKTdKVTKIZL7gsQdA9EuTnJAZeF9sD71uKhsivi3rVcJFesnUb7vEUGyrBygcj0czAlHdsw3A8nlepJMC8JknXzURDB1of8Dg6alxy5Nl1A85xin8dPYtFrUfwIY1kDKofRknHq--y0z7Sutwow1o~w-5d2qxigrNWVXjiSR~XGmn~z0--6AWLgdtAdx5baplCcWBulJABn6I5mHWbPzg~A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
    lightgray -169.228px -6.319px / 200.103% 103.273% no-repeat;
}

/* Tablet design */

@media screen and (min-width: 768px) {
  .about-us-section {
    width: 768px;
  }

  .about-us-title {
    color: var(--dark-green, #1e2827);
    font-family: Epilogue;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px;
  }

  .title-p {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 40px;
  }

  .paragraphs {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .paragraphs-text {
    color: var(--black, #141414);
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 220px;
  }

  .p2 {
    color: var(--black, #141414);
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 250px;
  }

  .img-gif {
    padding: 40px 32px;
  }

  .gif {
    width: 704px;
    height: 465px;
  }
}

/* Desktop design */

@media screen and (min-width: 1280px) {
  .about-us-section {
    width: 1440px;
  }

  .title-p {
    display: flex;
    justify-content: flex-start;
    padding-left: 132px;
    gap: 145px;
  }

  .paragraphs {
    display: flex;
    gap: 40px;
  }

  .paragraphs-text {
    color: var(--black, #141414);
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 439px;
  }

  .p2 {
    color: var(--black, #141414);
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 380px;
  }

  .img-gif {
    display: flex;
    justify-content: flex-end;
    padding-right: 132px;
  }

  .gif {
    width: 892px;
    height: 500px;
  }
}
