.visually-hidden {
  display: none;
}
.container-advantages {
  max-width: 320px;
  margin: 0 auto;
  background-color: #fff5f6;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
}

.advantages-number {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #d41443;
}
.advantages-img.ice {
  width: 33px;
  height: 50px;
  flex-shrink: 0;
  display: none;
}
.advantages-img.apples {
  width: 49.694px;
  height: 50px;
  flex-shrink: 0;
  display: none;
}
.advantages-img.hertz {
  width: 44px;
  height: 50px;
  flex-shrink: 0;
  display: none;
}
.advantages-number.seven-two-one::before {
  content: url(../images/ice.svg);
  display: flex;
}
.advantages-number.sixteen::before {
  content: url(../images/apples.svg);
  display: flex;
}
.advantages-number.eighty-four::before {
  content: url(../images/hertz.svg);
  display: flex;
}
.advantages-text {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.24px;
}


.advantages-text.second-advantage {
  width: 280px;
  flex-shrink: 0;
}

.advantages-text.third-advantage {
  width: 280px;
  flex-shrink: 0;
}

/* MEDIA Query */

@media screen and (max-width: 320px) {
  .advantages-list {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .container-advantages {
    max-width: 768px;
  }

  .advantages-list {
    flex-direction: row;
    justify-content: flex-start;
    gap: 19px;
    padding-right: 173px;
    padding-left: 32px;
  }

  .advantages-img.ice {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    display: none;
  }
  .advantages-img.apples {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    display: none;
  }

  .advantages-text {
    font-size: 14px;
    line-height: 174%; /* 24.36px */
    letter-spacing: 0.28px;
  }

  .advantages-number {
    font-size: 48px;
    line-height: normal;
    letter-spacing: 1.92px;
  }

  .advantages-text.first-advantage {
    width: 165px;
  }

  .advantages-text.second-advantage {
    width: 162px;
    margin-right: 3px;
  }

  .advantages-text.third-advantage {
    width: 199px;
  }

  .advantages-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 174%;
    letter-spacing: 0.28px;
  }

  .advantages-number {
    font-size: 48px;
    letter-spacing: 1.92px;
  }
}
@media screen and (min-width: 1280px) {
  .container-advantages {
    max-width: 1280px;
  }
  .advantages-list {
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 96px;
  }
  .advantages-text {
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0.28px;
  }

  .advantages-number {
    font-size: 58px;
    line-height: normal;
    letter-spacing: 2.32px;
  }

  .advantages-text.first-advantage {
    width: 288px;
  }

  .advantages-text.second-advantage {
    width: 317px;
  }

  .advantages-text.third-advantage {
    width: 290px;
  }

  .advantages-text {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.32px;
  }
}
