body {
  background: #fafafa;
  font-family: Montserrat;
}
:root {
  --scroll-behavior: smooth;
  --black-main: #111111;
  --dark-purple-main: #1e1823;
  --orange-main: #fd9222;
  --white-main: #fafafa;
}
.container-blocks {
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
}
.container-blocks.adaptiv {
  width: 100%;
  padding-top: 72px;
}

.container {
  display: flex;
  max-width: 335px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
}

.title-container {
  display: flex;
  height: 204px;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  flex-shrink: 0;
}
.title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.description {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  margin: 0;
}
.card-container {
  display: flex;
  max-width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}
.card {
  width: 335px;
  height: 270px;
  flex-shrink: 0;
}
.milk-chocolate {
  border-radius: 15px;
  background: #fd9222;
}
.milk,
.sweet {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
}
.milk .content-title {
  color: #1e1823;
}
.nuts {
  border-radius: 15px;
  background: #1e1823;
}
.front-content {
  position: relative;
}
#card-picture {
  display: block;
  width: 224px;
  height: 171px;
  flex-shrink: 0;
  position: absolute;
  top: 28px;
  left: 56px;
}
.content-title {
  position: absolute;
  top: 224px;
  left: 28px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.content-title.second {
  color: #111;
}
.back-content {
  display: flex;
  width: 279px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
}
.back {
  height: 214px;
  padding: 28px;
  border-radius: 15px;
  background: #fff;
  row-gap: 14px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.about-card {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.little-blocks {
  display: inline-flex;
  align-items: flex-start;
  gap: 6px;
}
.white {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  border-radius: 35px;
  background: var(--unnamed, #fd9222);
}
.black {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 35px;
  border: 1px solid var(--unnamed, #fd9222);
  background: var(--unnamed, #fafafa);
}

.rotate {
  position: relative;
  transition: transform 3s;
  transform-style: preserve-3d;
}
.card:hover .rotate {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}
.front {
  transform: rotateY(180deg);
}
#card-picture,
.content-title {
  transform: translateZ(170px);
  transform-style: preserve-3d;
}
@media screen and (min-width: 768px) {
  .container-blocks {
    max-width: 768px;
  }
  .container-blocks.adaptiv {
    padding-top: 100px;
  }

  .container {
    max-width: 704px;
    row-gap: 50px;
    flex-shrink: 0;
  }

  .title-container {
    height: 156px;
    width: 486px;
    gap: 28px;
    flex-shrink: 0;
  }
  .title {
    font-size: 24px;
    line-height: 28px; /* 120% */
    letter-spacing: -0.72px;
  }
  span {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
  .description {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    margin: 0;
  }
  .card-container {
    max-width: 704px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
    flex-shrink: 0;
  }
  .card {
    width: 335px;
    height: 270px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container-blocks.adaptiv {
    padding-top: 128px;
  }

  .container {
    max-width: 1200px;
  }

  .title-container {
    gap: 28px;
    flex-shrink: 0;
  }
  .title {
    font-size: 24px;
    line-height: 28px; /* 120% */
    letter-spacing: -0.72px;
  }
  span {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
  .description {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    margin: 0;
  }
  .card-container {
    max-width: 1136px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 19px;
    flex-shrink: 0;
  }
  .back {
    display: flex;
    width: 270px;
    height: 270px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .front {
    display: flex;
    width: 270px;
    height: 270px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
}
