* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.flickity-viewport {
  width: 280px;
  height: 200px;
}

.costumers-review-section {
  width: 280px;
  margin: 60px auto;
}

.costumer-review-title {
  display: none;
}

.carousel {
  background: #eee;
  width: 280px;
  height: auto;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.gallery-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.carousel-pic {
  width: 85px;
  height: 85px;
  margin-bottom: 32px;
}

.review-text {
  background-color: #fafafa;
  color: #000;
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 260%;
  letter-spacing: 0.48px;
  width: 280px;
  height: 307px;
  flex-shrink: 0;
  padding: 47px 58px 47px 65px;
}
