.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  color: #000;
  opacity: 1;
  background: #d9d9d9;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}

.swiper-pagination-bullet-active {
  width: 12.4px;
  height: 12px;
  background-color: transparent;
  background-image: url('../images/reviews/home.png');
  border-radius: 0;
}
