a {
    color: currentColor;
    text-decoration: none
}

:root {
    --hero-bgc: #141414;
    --hero-text-color: #ffffff;
    --hero-watches-bgc: #1e2827;
    --slider-color: rgba(255, 255, 255, .5);
    --description-color: rgba(20, 20, 20, .5);
    --new-watches-subtitle-color: rgba(20, 20, 20, .4);
    --footer-icons-color: rgba(255, 255, 255, .1);
    --footer-privacy: #c6cdd1;
    --hover-button-border: #ffffff;
    --sale-section-bgc: #efefef;
    --hover-button-bgc: #131919;
    --link-active-color: #595e5e
}


img {
    display: block;
    max-width: 100%;
    height:auto
}


@media screen and (min-width: 375px),(max-width: 767px) {
    

    .footer {
        width: 100%;
        background-color:var(--hero-watches-bgc);
        color: var(--hero-text-color)
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px
    }

    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-logo {
        display: flex;
        margin-bottom: 40px;
        margin-left: 20px;
        width: 40px;
        height: 40px
    }

    .footer-logo-icons {
        width: 40px;
        height: 40px
    }

    .footer-address-wrap {
        text-decoration: none;
        font-style: normal;
        width: 100%
    }

    .footer-address-list .item {
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -.02em;
        transition: color .25s cubic-bezier(.4,0,.2,1)
    }

    .footer-address-list .item:is(:hover,:focus) {
        color: var(--link-active-color)
    }

    .footer-address-list .item:not(:last-child) {
        margin-bottom: 20px
    }

    .footer-nav-item {
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -.02em;
        text-transform: uppercase
    }

    .footer-nav-item:not(:last-child) {
        margin-bottom: 14px
    }
    .footer-nav-list{
        width: 100%;
        display: block;
    }
    a.footer-nav-link {
        transition: color .25s cubic-bezier(.4,0,.2,1);
        font-size: 18px;
        text-transform: uppercase;
    }

    .footer-nav-link:is(:hover,:focus) {
        color: var(--link-active-color)
    }

    .foot-social-list {
        display: flex;
        gap: 14px
    }

    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        transition: background .25s cubic-bezier(.4,0,.2,1);
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 10px
    }

    .social-list-icons {
        width: 24px;
        height: 24px
    }

    .social-list-link:is(:hover,:focus) {
        background: var(--hover-button-bgc)
    }

    .footer-terms{
        margin-top: 82px;
    }
    .footer-terms-item{
    display: flex;
    }

    .footer-terms-text {
        color: #C6CDD1;
        text-align: right;
        font-family: Epilogue;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.28px;
        
    }
    

    .footer-terms-list {
        display: flex;
        gap: 14px;
        margin-right: 0; 
    }
    .footer-terms-text{
        width: auto;
        text-align: left;
        opacity: .9;
        font-size: 14px;
    }
    .footer-terms-link {
        transition: color .25s cubic-bezier(.4,0,.2,1)
    }

    .footer-terms-link:is(:hover,:focus) {
        color: var(--link-active-color)
    }
}

@media screen and (min-width: 768px) {

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: static
    }

    .footer-wrap {
        width: 100%;
        margin-bottom: 0px
    }

    .footer-nav {
        position: static;
        width: 100%;
        text-align: center;
    }

    .footer-logo {
        width: 50px;
        height: 50px
    }

    .footer-address {
        margin-bottom: 0;
    }

    .footer-address-list .item {
        font-size: 18px;
        line-height: 1.33
    }


    .social-list-link {
        width: 44px;
        height: 44px;
    }

    .social-list-icons {
        width: 28px;
        height: 28px
    }

    .foot-social-list {
        gap: 16px;
        float: right;
    }

    .footer-nav-item {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.33
    }

    .footer-nav-item:not(:last-child) {
        margin-bottom: 18px
    }

    .footer-logo-icons {
        width: 50px;
        height: 50px
    }

    .footer-terms {
        display: flex;
        align-items: baseline;
        gap: 200px
    }

    .footer-terms-list {
        gap: 18px;
        margin-top: 0;
        float: right;
    }

}

@media screen and (min-width: 1280px) {

    .footer-terms {
        gap: 680px;
        width: 100%;
        margin-top: 82px;
    }
}

@font-face {
    font-family: Epilogue;
    src: url(/assets/Epilogue-Light.ttf) format("ttf"),url(/assets/Epilogue-Light.ttf) format("ttf"),url(/assets/Epilogue-Light.ttf) format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: Epilogue;
    src: url(/assets/Epilogue-Regular.ttf) format("ttf"),url(/assets/Epilogue-Regular.ttf) format("ttf"),url(/assets/Epilogue-Regular.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: Epilogue;
    src: url(/assets/Epilogue-SemiBold.ttf) format("ttf"),url(/assets/Epilogue-SemiBold.ttf) format("ttf"),url(/assets/Epilogue-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: NeueMontreal;
    src: local("/src/fonts/NeueMontreal-Regular.otf") format("woff");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 104px 10% 20px 10%;
}

@media only screen and (min-width:768px) {
    .row .col-md-4 {
        grid-column: span 4;
    }
    .row .col-md-6 {
        grid-column: span 6;
    }
    .footer-terms-list .links{
        margin-left:auto;
    }
    .footer-terms-list .links a{
        margin-left:18px;
    }

  }
  @media only screen and (max-width:767px) {
    .row .col-xs-8 {
        grid-column: span 8;
    }
    .row .col-xs-4 {
        grid-column: span 4;
    }
    .row .col-xs-12 {
        grid-column: span 12;
    }
    
    .footer-terms-list {
        float: left;
    }
    .footer-terms-list .links{
        margin-left: 0;
    }
    .footer-terms-list .links a{
        margin-left:0;
    }
  }
  .row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}
.footer-terms-list {
    float: right;
}



