/* Global styles for Header-Hero-Footer */

:root {
  --text-font-family: 'Montserrat', sans-serif;
  --body-color: #fafafa;
  --dark-text-color: #111;
  --light-text-color: #fff;
  --orange-color: #fd9222;
  --black-color: #1e1823;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Styles for Desktop */

footer {
  font-family: var(--text-font-family);
  background-color: var(--black-color);
  color: white;
}

.footer-container {
  padding: 50px 32px;
}

.subtitle-footer {
  color: white;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  word-wrap: break-word;
  margin-bottom: 62px;
  margin-right: 543px;
  width: 334px;
  /* padding: 50px 543px 62px 32px; */
  text-align: left;
}

.span-footer {
  color: var(--orange-color);
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.social-media-footer {
  display: flex;
  gap: 18px;
}

.media-footer {
  fill: white;
}

.media-footer:hover,
.media-footer:focus {
  fill: var(--orange-color);
}

.contact-footer {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  font-style: normal;
  margin-bottom: 14px;
}

.address-footer {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  font-style: normal;
}

.address-footer:hover,
.address-footer:focus {
  color: var(--orange-color);
}

.footer-navigation {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
  /* position: relative; */
}

.footer-navigation:hover,
.footer-navigation:focus {
  color: var(--orange-color);
}

.devider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.navigation-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

/*===== Resize for Mobile =====*/

@media screen and (width <= 768px) {
  .footer-container {
    padding: 32px 20px;
  }

  .footer-text {
    flex-wrap: wrap;
  }

  .subtitle-footer {
    margin-right: 0;
  }

  .devider {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .navigation-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
}

/*===== Resize for Tablet =====*/

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .subtitle-footer {
    margin-right: 0;
  }
}
