* {
  margin: 0px;
  padding: 0px;
}


/*media query telefono*/

@media screen and (min-width:290px) and (max-width:767px) {

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 136px;
    display: flex;
  }

  .container__picture {
    width: 43px;
    height: 43px;
  }

  .container__picture--big {
    width: 89px;
    height: 89px;
  }

  .container__image--center {
    display: flex;
    align-items: center;
  }

  .container__image {
    width: auto;
    height: auto;
    margin-right: 2px;
  }

  .container__image--c {
    margin-top: 28px;
  }

  .container__image--e {
    margin-top: 31px;
  }

  .container__image--f {
    margin-top: 20px;
  }

  .container__picture--bottom {
    margin-bottom: 1px;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    height: 327px;
    display: flex;
  }

  .container__picture {
    width: 104px;
    height: 105px;
  }

  .container__picture--big {
    width: 214px;
    height: 214px;
  }

  .container__image--center {
    display: flex;
    align-items: center;
  }

  .container__image {
    width: auto;
    height: auto;
    margin-right: 6px;
  }

  .container__image--c {
    margin-top: 67px;
  }

  .container__image--e {
    margin-top: 74px;
  }

  .container__image--f {
    margin-top: 49px;
  }

  .container__picture--bottom {
    margin-bottom: 4px;
  }
}


@media screen and (min-width:1200px) {
  .margin {
    width: 1201px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1013px;
    height: 430px;
    display: flex;
  }

  .container__picture {
    width: 138px;
    height: 138px;
  }

  .container__picture--big {
    width: 283px;
    height: 283px;
  }

  .container__image--center {
    display: flex;
    align-items: center;
  }

  .container__image {
    width: auto;
    height: auto;
    margin-right: 8px;
  }

  .container__image--c {
    margin-top: 88px;
  }

  .container__image--e {
    margin-top: 98px;
  }

  .container__image--f {
    margin-top: 65px;
  }

  .container__picture--bottom {
    margin-bottom: 8px;
  }
}