/* header-mobile */
.header-section {
  background-color: black;
}

.logo-header {
  width: 14px;
  height: 14px;
}

.logo-text {
  width: 80px;
  height: 10px;
  color: #fff;
  font-family: Epilogue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
