.header-section {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  padding: 25px 20px;
  position: relative;
}

.header-logo {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
  position: relative;
}

.header-logo .simply-logo {
  font-style: italic;
}

.header-logo .chocolate-logo {
  width: 21px;
  height: 21px;
  position: absolute;
}

.navigation-header-bar {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-social-icons {
  color: #ffffff;
  width: 24px;
  height: 24px;
}

.header-social-icons:hover {
  color: #fd9222;
}
.header-modal-button {
  background-color: #fff;
  border: none;
}

.burger-button {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.header-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  padding-top: 136px;
  padding-bottom: 20px;
  background-color: #1e1823;
  display: flex;
  flex-direction: column;
  gap: 460px;
}

.header-icons-section {
  display: flex;
  gap: 18px;
  padding-left: 20px;
}

.close-burger-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.header-modal-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms ease;
}
