/* Global styles for Header-Hero-Footer */

:root {
  --text-font-family: 'Montserrat', sans-serif;
  --body-color: #fafafa;
  --dark-text-color: #111;
  --light-text-color: #fff;
  --orange-color: #fd9222;
  --black-color: #1e1823;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Styles for Desktop */

section {
  font-family: var(--text-font-family);
  background-color: white;
  color: var(--dark-text-color);
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.main-background {
  max-width: 1136px;
  height: 600px;
  background-image: url(../images/hero-images/desktop-hero-background.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin: 34px auto 72px auto;
  border-radius: 30px;
}

.main-title {
  color: white;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  word-wrap: break-word;
  padding: 381px 612px 32px 40px;
  text-align: left;
}

.hero-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 40px;
  flex-wrap: wrap;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.buy-button {
  width: 144px;
  height: 45px;
  padding: 14px 40px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  word-wrap: break-word;
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.buy-button:hover,
.buy-button:focus {
  background-color: #fcf1e0;
  color: var(--orange-color);
}

.how-button {
  height: 45px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  word-wrap: break-word;
  border: 1px solid white;
  padding: 14px 40px;
  border-radius: 50px;
}

.how-button:hover,
.how-button:focus {
  color: var(--orange-color);
  background-color: white;
  border-color: var(--orange-color);
}

.scroll {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 14px;
}

.scroll:hover,
.scroll:focus {
  color: var(--orange-color);
  fill: var(--orange-color);
}

.scroll-down {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 8px;
  fill: var(--orange-color);
}

.scroll-down:hover,
.scroll-down:focus {
  background-color: var(--orange-color);
  fill: white;
}

/* Retina Function */

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-background {
    background-image: url(../images/hero-images/desktop-hero-background@2x.jpg);
  }
}

/*===== Resize for Mobile =====*/

@media screen and (width <= 768px) {
  .main-background {
    /* max-width: 1158px; */
    height: 621px;
    margin: 14px 20px 71px 20px;
    background-image: url(../images/hero-images/mobile-hero-background.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-background {
      background-image: url(../images/hero-images/mobile-hero-background@2x.jpg);
    }
  }

  .main-title {
    font-size: 20px;
    line-height: 24px;
    padding: 390px 20px 32px 20px;
  }

  .buy-button {
    width: 130px;
    height: 41px;
    padding: 12px 17px;
    margin-left: -23px;
  }

  .how-button {
    width: 145px;
    height: 41px;
    padding: 12px 20px;
  }

  .scroll-down-button {
    margin-top: 32px;
    margin-left: -15px;
    margin-bottom: 28px;
  }

  .scroll {
    font-size: 12px;
    line-height: 14px;
  }

  .scroll-down {
    width: 28px;
    height: 28px;
    padding: 6px;
  }
  .hero-nav {
    flex-direction: column;
  }
  .main-title {
    text-align: left;
  }
}

/*===== Resize for Tablet =====*/

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .main-background {
    /* max-width: 1158px; */
    height: 890px;
    margin: 50px 32px;
    background-image: url(../images/hero-images/tablet-hero-background.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-background {
      background-image: url(../images/hero-images/tablet-hero-background@2x.jpg);
    }
  }

  .main-title {
    padding: 671px 181px 32px 40px;
  }
  .main-title {
    text-align: left;
  }
}
