:root {
  --brand-color: rgba(255, 184, 202, 1);
  --color-white: #fff;
  --color-red: #d41443;
  --btn-hover-color-one: #ecebeb;
  --btn-hover-color-two: #c7133e;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', cursive;
  margin: 0;
  padding: 0;
}
.hero-header {
  background-color: var(--brand-color);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, #ffb8ca, #9f465b, #f6a7bb, #af6678);
  background-size: 400% 400%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero-header {
  animation: gradient 15s ease infinite;
}
.mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 20px 0 20px;
  padding-top: 8px;
  position: relative;
}
.logo-menu-container {
  display: flex;
  align-items: center;
  gap: 61px;
  margin-bottom: 136px;
}
.logo {
  width: 199px;
  height: 50px;
  flex-shrink: 0;
}
.menu-btn {
  width: 20px;
  height: 12px;
  background: transparent;
  border: none;
  padding: 0;
  right: 20px;
  top: 27px;
  position: absolute;
}
.menu {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 12px;
  cursor: pointer;
}
.menu svg {
  width: 20px;
  height: 12px;
}
.main-title-section {
  z-index: 3;
  margin-bottom: 158px;
}
.main-title {
  margin: 0;
  color: #fff;
  font-family: Titan One;
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}
.passion {
  color: #d41443;
  font-size: 48px;
  line-height: 96.5%;
}
.button-div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 17px;
}
.products-btn {
  display: flex;
  align-items: center;
  width: 61.2px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 20px;
  border: none;
  background-color: var(--color-red);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
  font-family: DM Sans;
  font-size: 8px;
}
.how-made-btn {
  display: flex;
  align-items: center;
  width: 82.8px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: var(--color-red);
  text-align: center;
  font-family: DM Sans;
  font-size: 8px;
  background-color: var(--color-white);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.products-btn:hover,
.products-btn:focus {
  background-color: var(--btn-hover-color-two);
  transform: translateY(-3px);
}
.how-made-btn:hover,
.how-made-btn:focus {
  background-color: var(--btn-hover-color-one);
  transform: translateY(-3px);
}
.header-big-bubble {
  position: absolute;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 346px;
  background: #ffa5ba;
  flex-shrink: 0;
}
.awesome-icecream-cone {
  position: absolute;
  top: 93px;
  right: 32px;
  cursor: pointer;
  z-index: 2;
}
/* -------------------------- Bubbles */
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@keyframes animate {
  0% {
    transform: translateY(0) translateX(0);
  }
  90% {
    transform: translateY(-1000px) translateX(-20px);
  }
  100% {
    transform: translateY(-1000px) translateX(0);
  }
}
@keyframes animate-left {
  0% {
    transform: translateY(0) translateX(200px);
  }
  100% {
    transform: translateY(-1000px) translateX(0);
  }
}
@keyframes animate-right {
  0% {
    transform: translateY(0) translateX(-200px);
  }
  100% {
    transform: translateY(-1000px) translateX(0);
  }
}
.bubbles .bubble {
  position: absolute;
  display: block;
  width: 3vw;
  height: 3vw;
  background-color: rgb(252, 252, 252, 0.4);
  bottom: -150px;
  animation: animate 10s ease-in infinite;
  border-radius: 50%;
}
.bubbles .bubble:nth-child(1) {
  left: 25%;
  width: 7vw;
  height: 7vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 0s;
  animation-duration: 8s;
}
.bubbles .bubble:nth-child(2) {
  left: 10%;
  width: 8vw;
  height: 8vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 2s;
  animation-duration: 9s;
}
.bubbles .bubble:nth-child(3) {
  left: 70%;
  width: 5vw;
  height: 5vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 7s;
}
.bubbles .bubble:nth-child(4) {
  left: 40%;
  width: 2vw;
  height: 2vw;
  animation: animate-left 10s ease-in infinite;
  animation-duration: 7s;
}
.bubbles .bubble:nth-child(5) {
  left: 60%;
  width: 3vw;
  height: 3vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 0s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(6) {
  left: 80%;
  width: 2vw;
  height: 2vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 7s;
  animation-duration: 4s;
}
.bubbles .bubble:nth-child(7) {
  left: 42%;
  width: 4vw;
  height: 4vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 7s;
  animation-duration: 4s;
}
.bubbles .bubble:nth-child(8) {
  left: 10%;
  width: 4vw;
  height: 4vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 10s;
}
.bubbles .bubble:nth-child(9) {
  left: 90%;
  width: 6vw;
  height: 6vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 5s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(10) {
  left: 47%;
  width: 4vw;
  height: 4vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 2s;
  animation-duration: 4s;
}
.bubbles .bubble:nth-child(11) {
  left: 25%;
  width: 6vw;
  height: 6vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 7s;
  animation-duration: 8s;
}
.bubbles .bubble:nth-child(12) {
  left: 95%;
  width: 4vw;
  height: 4vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 3s;
  animation-duration: 4s;
}
.bubbles .bubble:nth-child(13) {
  left: 40%;
  width: 3vw;
  height: 3vw;
  animation: animate-right 10s ease-in infinite;
  animation-duration: 9s;
}
.bubbles .bubble:nth-child(14) {
  left: 30%;
  width: 9vw;
  height: 9vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 8s;
  animation-duration: 7s;
}
.bubbles .bubble:nth-child(15) {
  left: 25%;
  width: 3vw;
  height: 3vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 4s;
  animation-duration: 8s;
}
.bubbles .bubble:nth-child(16) {
  left: 70%;
  width: 6vw;
  height: 6vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 3s;
  animation-duration: 5s;
}
.bubbles .bubble:nth-child(17) {
  left: 84%;
  width: 1vw;
  height: 1vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 8s;
  animation-duration: 3s;
}
.bubbles .bubble:nth-child(18) {
  left: 59%;
  width: 6vw;
  height: 6vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 2s;
  animation-duration: 4s;
}
.bubbles .bubble:nth-child(19) {
  left: 55%;
  width: 7vw;
  height: 7vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 2s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(20) {
  left: 35%;
  width: 5vw;
  height: 5vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 2s;
  animation-duration: 4s;
}
.bubbles .bubble:nth-child(21) {
  left: 65%;
  width: 1vw;
  height: 1vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 10s;
  animation-duration: 10s;
}
.bubbles .bubble:nth-child(22) {
  left: 90%;
  width: 1vw;
  height: 1vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 1s;
  animation-duration: 10s;
}
.bubbles .bubble:nth-child(23) {
  left: 5%;
  width: 7vw;
  height: 7vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 1s;
  animation-duration: 8s;
}
.bubbles .bubble:nth-child(24) {
  left: 12%;
  width: 4vw;
  height: 4vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 2s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(25) {
  left: 55%;
  width: 2vw;
  height: 2vw;
  animation: animate-right 10s ease-in infinite;
  animation-delay: 6s;
  animation-duration: 9s;
}
.bubbles .bubble:nth-child(26) {
  left: 41%;
  width: 10vw;
  height: 10vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 11s;
  animation-duration: 7s;
}
.bubbles .bubble:nth-child(27) {
  left: 70%;
  width: 4vw;
  height: 4vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 2s;
  animation-duration: 5s;
}
.bubbles .bubble:nth-child(28) {
  left: 91%;
  width: 7vw;
  height: 7vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 4s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(29) {
  left: 83%;
  width: 10vw;
  height: 10vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 18s;
  animation-duration: 4s;
}
.bubbles .bubble:nth-child(30) {
  left: 65%;
  width: 2vw;
  height: 2vw;
  animation: animate-left 10s ease-in infinite;
  animation-delay: 2s;
  animation-duration: 9s;
}
.bubbles .bubble:nth-child(31) {
  left: 15%;
  width: 3vw;
  height: 3vw;
  animation-delay: 2s;
  animation-duration: 5s;
}
.bubbles .bubble:nth-child(32) {
  left: 3%;
  width: 10vw;
  height: 10vw;
  animation-delay: 12s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(33) {
  left: 59%;
  width: 4vw;
  height: 4vw;
  animation-delay: 1s;
  animation-duration: 7s;
}
.bubbles .bubble:nth-child(34) {
  left: 81%;
  width: 5vw;
  height: 5vw;
  animation-delay: 2s;
  animation-duration: 5s;
}
.bubbles .bubble:nth-child(35) {
  left: 67%;
  width: 8vw;
  height: 8vw;
  animation-delay: 2s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(36) {
  left: 71%;
  width: 1vw;
  height: 1vw;
  animation-delay: 8s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(37) {
  left: 4%;
  width: 9vw;
  height: 9vw;
  animation-delay: 11s;
  animation-duration: 7s;
}
.bubbles .bubble:nth-child(38) {
  left: 61%;
  width: 3vw;
  height: 3vw;
  animation-delay: 7s;
  animation-duration: 4s;
}
.bubbles .bubble:nth-child(39) {
  left: 54%;
  width: 4vw;
  height: 4vw;
  animation-delay: 1s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(40) {
  left: 42%;
  width: 5vw;
  height: 5vw;
  animation-delay: 4s;
  animation-duration: 3s;
}
.bubbles .bubble:nth-child(41) {
  left: 41%;
  width: 1vw;
  height: 1vw;
  animation-delay: 2s;
  animation-duration: 8s;
}
.bubbles .bubble:nth-child(42) {
  left: 75%;
  width: 9vw;
  height: 9vw;
  animation-delay: 4s;
  animation-duration: 11s;
}
.bubbles .bubble:nth-child(43) {
  left: 34%;
  width: 6vw;
  height: 6vw;
  animation-delay: 4s;
  animation-duration: 5s;
}
.bubbles .bubble:nth-child(44) {
  left: 44%;
  width: 2vw;
  height: 2vw;
  animation-delay: 4s;
  animation-duration: 5s;
}
.bubbles .bubble:nth-child(45) {
  left: 91%;
  width: 7vw;
  height: 7vw;
  animation-delay: 13s;
  animation-duration: 3s;
}
.bubbles .bubble:nth-child(46) {
  left: 82%;
  width: 6vw;
  height: 6vw;
  animation-delay: 4s;
  animation-duration: 7s;
}
.bubbles .bubble:nth-child(47) {
  left: 51%;
  width: 6vw;
  height: 6vw;
  animation-delay: 6s;
  animation-duration: 5s;
}
.bubbles .bubble:nth-child(48) {
  left: 57%;
  width: 11vw;
  height: 11vw;
  animation-delay: 13s;
  animation-duration: 6s;
}
.bubbles .bubble:nth-child(49) {
  left: 35%;
  width: 3vw;
  height: 3vw;
  animation-delay: 1s;
  animation-duration: 7s;
}
.bubbles .bubble:nth-child(50) {
  left: 22%;
  width: 5vw;
  height: 5vw;
  animation-delay: 4s;
  animation-duration: 4s;
}
/* --------------------------------Mobile Backdrop */
.js-menu-container {
  display: none;
}
.js-menu-container.is-open {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e17992;
  z-index: 5;
  width: 250px;
  height: 100%;
  flex-shrink: 0;
  padding-top: 20px;
}
.js-close-menu {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  position: absolute;
  right: 20px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.js-close-menu svg {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.mobile-backdrop {
  width: 100%;
}
.buy-now-btn {
  width: 209px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  margin-top: 60px;
  margin-bottom: 32px;
  cursor: pointer;
  margin-left: 20px;
}
.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: var(--btn-hover-color-one);
  transform: translateY(-3px);
}
.buy-now-btn span {
  color: #d41443;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.buy-now-vector {
  width: 6px;
  flex-shrink: 0;
}
.mobile-navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-left: 20px;
  padding-right: 20px;
}
.mobile-navigation-item a {
  text-decoration: none;
  color: var(--color-white);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  transform: translateY(-3px);
}
.mobile-navigation-item:hover a {
  color: var(--color-red);
}
.mobile-navigation-item:hover {
  transform: translateY(-3px);
}
.mobile-navigation-item:first-child a {
  color: var(--color-red);
}
/* ---------------Data modal */
.hero-header-modal-container {position: relative;}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 550px;
  width: 315px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(255, 22, 131, 0.356),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid #d41443;
  border-radius: 10px;
  animation-name: animatetop;
  animation-duration: 2s;
  background-color: #ffb8ca;
  transform: translate(-50%, -50%);
  transition: top 0.4s, opacity 0.4s;
}
.is-hidden {
  visibility: hidden;
}
.is-active {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.title-close-btn-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  position: relative;
  margin-bottom: 130px;
}
.buy-now-close-btn {
  height: 40px;
  width: 40px;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-red);
}
.buy-now-close-btn:hover {
  color: var(--color-white);
}
.buy-now-modal-title {
  color: var(--color-red);
  font-size: 27px;
  text-align: center;
  margin: 0;
}
.buy-now-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
}
.buy-now-modal-list {
  list-style: none;
  padding: 0;
}
.buy-now-modal-images {
  width: 100px;
  height: 100px;
}
.ice-cream-modal-input {
  margin: 7px;
  width: 90px;
  color: var(--color-red);
  font-family: DM Sans;
  font-weight: bold;
  background-color: var(--color-white);
  border-radius: 5px;
  border: 1px solid var(--color-red);
  outline: none;
}
.buy-now-input-box {
  color: var(--color-red);
  font-family: DM Sans;
  font-weight: bold;
  background-color: var(--color-white);
  border-radius: 5px;
  border: 1px solid var(--color-red);
  outline: none;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.buy-now-form-label {
  display: flex;
  flex-direction: column;
  width: 242px;
  font-family: DM Sans;
  color: var(--color-red);
  font-weight: bold;
}
.buy-now-form-label textarea {
  resize: none;
  padding: 15px;
}
.i-want-that-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  border: none;
  color: var(--color-red);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--color-white);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.i-want-that-btn:hover,
.i-want-that-btn:focus {
  background-color: var(--btn-hover-color-two);
  color: var(--color-white);
  transform: translateY(-3px);
}

/* Media Query */

@media screen and (max-width: 320px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
