.how-is-made-big-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 245, 246, 1);
}
.how-is-made-container {
  width: 280px;
  margin: auto;
  flex-shrink: 0;
}
.tradition {
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 15px;

}
.tradition {
  font-size: 18px;
  transition-property: letter-spacing;
  transition-duration: 2s;
}
.tradition:hover {
  letter-spacing: 15px;
  transition-timing-function: ease-out;
  transition-duration: 1s;
}
.how-is-made-title {
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.how-is-made-title {
  font-size: 34px;
  transition-property: letter-spacing;
  transition-duration: 2s;
}
.how-is-made-title:hover {
  letter-spacing: 40px;
  transition-timing-function: ease-out;
  transition-duration: 1s;
}
.tradition.how-is-made-title {
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}
.how-is-made-img {
  width: 280px;
  height: 279px;
  flex-shrink: 0;
  margin-bottom: 40px;
  animation: transform 4s ease;
}
.how-is-made-img:hover {
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(40deg);
  }
}
.descripton-place {
  width: 220px;
  height: 111px;
  flex-shrink: 0;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.48px;
  margin-bottom: 18px;
}
.descripton-place:hover,
.descripton-ingrdients:hover {
  transform: scale(1.2);
}
.descripton-ingrdients {
  width: 220px;
  height: 171px;
  flex-shrink: 0;
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}
.how-is-made-btn {
  width: 176px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #fff;
  border: none;
  margin-bottom: 40px;
  cursor: pointer;
}
.how-is-made-btn:hover,
.how-is-made-btn:focus {
  background-color: #ecebeb;
  transform: translateY(-3px);
  scale: 1.2;
}
.how-its-made-btn-text {
  width: 83px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #d41443;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.how-is-made-svg {
  margin-left: 13px;
}
.how-is-made-content {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}
.how-its-made-description {
  display: flex;
  flex-direction: column;
  background-image: url('../images/how-is-made-milk-m.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 70% 25%;
}
/* MEDIA Query */
@media screen and (max-width: 320px) {
  .how-its-made-description {
    background-image: url('../images/how-is-made-milk-m-x2.png');
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .how-its-made-description {
      background-image: url('../images/how-is-made-milk-m-x2.png');

    }
  }
}
@media screen and (min-width: 768px) {
  .how-is-made-container {
    width: 768px;
  }
  .tradition {
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 16px;
  }
  .how-is-made-title {
    font-size: 48px;
    letter-spacing: 1.92px;
    margin-bottom: 40px;
  }
  .how-is-made-img {
    width: 336px;
    height: 335px;
    margin: 0 32px 83px 32px;
  }
  .descripton-place {
    width: 334px;
    height: 95px;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0.56px;
    margin-bottom: 32px;
  }
  .descripton-ingrdients {
    width: 334px;
    height: 155px;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
    margin-bottom: 40px;
  }
  .how-is-made-btn {
    margin-bottom: 52px;
  }
  .how-its-made-btn-text {
    font-size: 16px;
  }
  .how-its-made-description {
    background-image: none;
  }
  .how-is-made-content {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/how-is-made-milk-d.png');
    width: 768px;
    height: 335px;
  }
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .how-is-made-content {
      background-image: url('../images/how-is-made-milk-d-2x.png');
    }
  }
}
@media screen and (min-width: 1280px) {
  .how-is-made-container {
    width: 1280px;
  }
  .tradition {
    font-size: 30px;
    letter-spacing: 1.2px;
    margin-top: 60px;
    margin-bottom: 16px;
  }
  .how-is-made-title {
    font-size: 58px;
    letter-spacing: 3.48px;
    margin-bottom: 60px;
  }
  .how-is-made-img {
    width: 501px;
    height: 501px;
    margin: 0 99px 20px 16px;
  }
  .descripton-place {
    width: 400px;
    height: 104px;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.64px;
    margin-top: 90px;
    margin-bottom: 18px;
  }
  .descripton-ingrdients {
    width: 401px;
    height: 130px;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
    margin-bottom: 40px;
  }
  .how-is-made-btn {
    margin-bottom: 81px;
  }
  .how-its-made-btn-text {
    font-size: 16px;
  }
  .how-its-made-description {
    background-image: none;
  }
  .how-is-made-content {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
  }
  .how-its-made-description {
    background-size: cover;
    width: auto;
    background-image: url('../images/how-is-made-milk-d.png');
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .how-its-made-description {
      background-image: url('../images/how-is-made-milk-d-2x.png');
    }}}


