* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ------------------------------------GLOBALE--------------------------------- */
h2 {
  /* color: #fff; */
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.667%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
h3 {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
body {
  background-color: #fafafa;
}
.modal-h2 {
  color: #111;
}
.modal-h2-orange {
  color: #fd9222;
}
p {
  /* color: #fff; */
  color: rgba(17, 17, 17, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.28px;
}
img {
  margin-bottom: 8px;
}
/* ---------------------------------------------------------------------------- */
.ourproducts-section {
  padding-left: 34px;
  padding-right: 34px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
}
.chocolate-card-container {
  display: flex;
  max-width: 1136px;
  overflow: hidden;
}
.ourproducts-button {
  width: 94px;
  padding: 8px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;

  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 18px;
  margin-bottom: 32px;
}
/* ---------------------------------------------------------------------------- */
/* .chocolate-card-list {
  display: flex;
  gap: 18px;
  overflow: hidden;
} */

.chocolate-card {
  /* width: 270px; */
  height: auto;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  padding: 32px 20px 0 20px;
  text-align: center;
}

/* ------------------------------------------------------------------------------ */

.slick {
  display: flex;
  justify-content: center;
}

.slick-track {
  display: flex;
}

.slick .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.slick .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
  background-color: rgba(17, 17, 17, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slick .slick-dots li.slick-active button {
  transform: scale(1.5);
  width: 28px;
  height: 13px;
  border-radius: 30px;
  background-color: orange;
}

.slick-slide {
  margin: 0px 8px;
}

/* .slick-slide img {
  width: 100%;
} */

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}
/* ------------------------------------------------------------------------------ */

@media screen and (width <= 480px) {
  .chocolate-card-list {
    justify-content: center;
    align-items: center;
    /* display: block; */
  }
  .chocolate-card {
    width: 330px;
    padding: 32px 53px;
  }
  .chocolate-card-container {
    width: 335px;
    align-items: center;
  }
  .ourproducts-section {
    padding: 20px;
  }
}
@media screen and (width <= 768px) {
  .chocolate-card-container {
    align-self: start;
  }
}
