* {
  margin: 0;
}
.title {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.colored-title {
  color: #fd9222;
  text-align: center;
}
.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
}
.container {
  padding: 0 32px;
  width: 1200px;
}
.div-text {
  display: flex;
  justify-content: center;
  gap: 567px;
  flex-shrink: 0;
  margin-top: 32px;
}
.paragraph {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 407px;
}
.button {
  border: 1 solid #fd9222;
  border-radius: 100px;
  background: #fd9222;
  padding: 14px 40px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  cursor: pointer;
}
.button:hover {
  background: #fff;
}
