
.topic {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    position: relative;
    margin-left: 80px;
    margin-top: 0px;
  
    
    text-transform: uppercase;

    &::before {
        content: ' ';
        position: absolute;
        width: 60px;
        height: 1px;
        top: 0;
        left: 0;
        transform: translate(-80px, 10px);
        background-color: rgba(157, 164, 189, 0.6);
    }
}

.services-list {
    padding: 30px;
}

.services-item {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.14px;
    color: #9DA4BD;
}



.line-first {
    width: 145px;
    height: 1px;
}
