.section-tittle {
  position: relative;
  margin-left: 80px;
  margin-top: 0px;

  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 1.9;
  text-transform: uppercase;

  &::before {
    content: ' ';
    position: absolute;
    width: 60px;
    height: 1px;
    top: 0;
    left: 0;
    align-items: center;
    transform: translate(-80px, 94px);

    background-color: $tittle-color;
  }
}

.traditions {
  padding-top: 84px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $tittle-color;
}

.heading {
  margin-top: 20px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: $tittle-color;
}

.description {
  margin-top: 20px;
}

.attainment {
  padding-top: 44px;
  padding-bottom: 84px;

  display: flex;

  @media screen and (min-width: 768px) {
    margin-left: 230px;
  }
}

.attainment-figures {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;

  color: $tittle-color;
}

.attainment-title {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;

  color: $tittle-color;
}

.attainment-client {
  margin-bottom: 30px;
  margin-right: 30px;

  width: 193px;
  height: 133px;

  background: $section-masters-backfround-color;

  @media screen and (min-width: 768px) {
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.attainment-master {
  margin-bottom: 30px;

  width: 193px;
  height: 133px;

  background: $section-masters-backfround-color;

  @media screen and (min-width: 768px) {
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.attainment-servises {
  margin-top: 30px;
  margin-bottom: 30px;

  width: 194px;
  height: 133px;

  background: $section-masters-backfround-color;

  @media screen and (min-width: 768px) {
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.attainment-present {
  width: 194px;
  height: 133px;

  background: $section-masters-backfround-color;

  @media screen and (min-width: 768px) {
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.plus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  vertical-align: top;

  color: $accent-color;
}

.container-come {
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container-come {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .attainment {
    margin-left: 155px;
    padding-top: 84px;
  }
  .information {
    margin-left: 130px;
    padding-top: 46px;
  }
}
