// .social-network-list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }
.our-masters-container {
  padding-top: 84px;

  padding-left: 16px;
  padding-right: 16px;
  background-color: $section-masters-backfround-color;
  .ourmasters-subtitle {
    font-family: Open Sans;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $tittle-color;
    text-align: center;
  }
  .ourmasrets-title {
    font-family: Raleway;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $tittle-color;
    text-align: center;
  }
  .ourmasters-text {
    text-align: center;
  }
  .ourmasters-name {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: $tittle-color;
    margin-top: 43px;
    margin-bottom: 0;
  }
  .ourmasters-position {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    margin-top: 8px;

    color: $accent-color;
  }
}

.ourmasters-item {
  .our-masters-foto {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.ourmasters-list {
  list-style: none;
  padding: 0;
}
.social-network-list {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  list-style: none;
  padding: 0;
  margin-top: 27px;
  padding-bottom: 64px;
  //   &:last-child {
  //    padding-bottom: 84px;
  //   }

  .link {
    margin-right: 10px;
  }
}
.social-network-link {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 44px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
.icon-social-link {
  width: 20px;
  height: 20px;
  fill: $tittle-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-network-link:hover &,
  .social-network-link:focus & {
    fill: $accent-color;
  }
}
