.section-about-us {
    margin: 0;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 55px;
    padding-right: 91px;
    
}
.container-about-us {
    display: flex;
    flex-direction: row-reverse;
    
}
.section-items {
    position: relative;
}
.subtitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;

    &::before {
       content: '';
       position: absolute;
       display: block;
       left: 0;
       bottom: 50%;
       width: 60px;
       height: 1px;
       background-color: #303030;

    }
}

.images-box-about-us {
    display: flex;
    padding-right: 64px;
    
}
.img-1 {
    width: 270px;
    height: 445px;
    padding-right: 30px;
}
.img-2 {
    width: 270px;
    height: 445px;
}

.section-title {
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #303030;
}
.text-1 {
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: #555555;
}
.text-2 {
    padding: 0px;
    margin-bottom: 40px;
    margin-top: 0px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: #555555; 
}