.about {
  width: 100%;
  background-color: $primary-background-color;
  padding-top: 60px;

  background-size: 100%;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    background-image: url('../images/about/about-2_sm.png');
    background-position: 0 594px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/about/about-2_lg.png');
    background-position: 0 236px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .about {
    @media screen and (max-width: 767px) {
      background-image: url('../images/about/about-2_sm@2x.png');
      background-position: 0 594px;
    }

    @media screen and (min-width: 1200px) {
      background-image: url('../images/about/about-2_lg@2x.png');
      background-position: 0 236px;
    }
  }
}

.about__subtitle {
  padding-right: 44px;
  padding-left: 38px;
  font-family: $second-font;
  font-size: 18px;
  line-height: 1.17;
  color: $text-decoration-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  margin-top: 15px;
  padding-right: 44px;
  padding-left: 36px;
  font-family: $second-font;
  font-size: 34px;
  line-height: 1.15;
  color: $title-text-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.about__section {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 0px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 0px;
    // padding-bottom: 60px;
  }
}

.about__image {
  margin-top: 32px;
  min-width: 280px;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-right: 32px;
    min-width: 336px;
    width: 336px;
    height: 335px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 60px;
    margin-right: 99px;
    min-width: 501px;
    width: 501px;
    height: 501px;
  }
}

.content {
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 150px;
  }
}

.about__text {
  width: 100%;
  position: relative;
  z-index: 2;
  padding-right: 64px;
  padding-left: 4px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;

  @media screen and (min-width: 768px) {
    padding-right: 32px;
    font-size: 14px;
    line-height: 1.79;
  }

  @media screen and (min-width: 1200px) {
    padding-right: 105px;
  }
}

.about__text--first {
  margin-top: 40px;
  color: $black-color;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about__text--second {
  margin-top: 30px;
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.93;
  }
}

.about__btn {
  position: relative;
  margin-top: 20px;
  padding-left: 37px;
  padding-right: 60px;
  text-align: left;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: $title-text-color;
  border-radius: 44px;
  border: 1px solid transparent;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__btn:active,
.about__btn:hover,
.about__btn:focus {
  background-color: $reviews-background-color;
  border: 1px solid $complementary-color;
}

.about__icon {
  position: absolute;
  top: 50%;
  left: 133px;
  transform: translate(-50%, -50%);
  align-items: center;
  fill: $title-text-color;
}

//Модальное окно

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 7;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  background-color: $reviews-background-color;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 480px) {
    width: 80%;
    height: 80%;
  }
  @media screen and (min-width: 1200px) {
    width: 40%;
    height: 80%;
  }
}

.form {
  width: 100%;
  height: 100%;
}

.form__text {
  display: block;
  text-align: center;
  border: 1px solid transparent;
  background-color: $background-contacts-secondary;
  margin: 40px 0 12px;
  font-family: 'Titan One';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: $title-text-color;
}

.form__subtitle--first,
.form__subtitle--second,
.form__subtitle--third {
  display: block;
  text-align: center;
  margin-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  line-height: 1.17;
  color: $black-color;
}

.modal {
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 767px) {
    background-image: url('../images/about/about-2_sm.png');
    background-position: 0 150px;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/about/about-2_lg.png');
    background-position: 0 150px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../images/about/about-2_lg.png');
    background-position: 0 150px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .modal {
    @media screen and (max-width: 767px) {
      background-image: url('../images/about/about-2_sm@2x.png');
      background-position: 0 150px;
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/about/about-2_lg@2x.png');
      background-position: 0 150px;
    }

    @media screen and (min-width: 1200px) {
      background-image: url('../images/about/about-2_lg@2x.png');
      background-position: 0 150px;
    }
  }
}

// //кнопка Модального окна

.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon:hover {
  fill: $title-text-color;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

// .modal {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   width: 50%;
//   max-width: 630px;
//   min-width: 320px;
//   height: auto;
//   z-index: 2000;
//   visibility: hidden;
//   backface-visibility: hidden;
//   transform: translateX(-50%) translateY(-50%);
// }

// .about__container {
//   visibility: visible;
// }

// .backdrop {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   visibility: hidden;
//   top: 0;
//   left: 0;
//   z-index: 1000;
//   opacity: 0;
//   background: rgba(143, 27, 15, 0.8);
//   transition: all 0.3s;
// }

// .about__container ~ .modal {
//   opacity: 1;
//   visibility: visible;
// }

// .effect {
//   perspective: 1300px;
// }

// .effect .forma {
//   transform-style: preserve-3d;
//   transform: rotateX(-70deg);
//   transition: all 0.3s;
//   opacity: 0;
// }

// .about__container.effect .forma {
//   transform: rotateX(0deg);
//   opacity: 1;
// }
