.section-about-us {
  @media screen and (max-width: 767px) {
    width: 418px;
  }

  padding: 84px 31px;
  @media screen and (min-width: 768px) {
    padding: 100px 39px;
  }
  @media screen and (min-width: 1280px) {
    padding: 130px 55px;
  }
}

.section-items {
  @media screen and (min-width: 768px) {
    width: 330px;
  }
  @media screen and (min-width: 1280px) {
    width: 500px;
  }
}
.sub-title-container {
  display: flex;
  align-items: center;
}
.about-us-flatline {
  border-top: 1px solid #303030;
  width: 60px;
  margin-right: 20px;
  // 50% from line height
  // transform: translateY(0px);
}
.container-about-us {
  display: flex;
}
.container-about-us .subtitle-about-us {
  text-transform: uppercase;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.1em;
}
// .subtitle-about-us {
//   outline: 5px solid tomato;
//   position: absolute;
//   top: 0;
//   left: 0;
//   margin-top: 0px;
//   margin-bottom: 20px;
//   font-family: Open Sans, sans-serif;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 11px;
//   line-height: 1.4;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;
//   color: #303030;
//   transform: translate(200%);
// }

.images-box-about-us {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    margin-right: 64px;
  }
}
.images-box-about-us .about-us-image {
  @media screen and (max-width: 1279px) {
    width: 330px;
    height: 235px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 270px;
    height: 445px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.section-title {
  margin: 20px 0px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  @media screen and (min-width: 1280px) {
    font-size: 42px;
    line-height: 1.17;
  }
}
.text-1 {
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #555555;
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.67;
  }
}
.text-2 {
  margin-bottom: 40px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: #555555;
}
