.section {
  font-family: $font-main-text;
}

.container.about-us {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  @extend %section-title;
}

.section-title-secondary {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin: 0px;
  margin-bottom: 20px;

  color: $color-basic;
  font-family: $font-titles;

  @media screen and (min-width: 768px) {
    display: block;
    width: 330px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    width: 500px;
    font-size: 42px;
    line-height: 1.16;
  }
}

.about-us-main-text {
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: $color-text-on-pale;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-us-explain-text {
  margin-bottom: 34px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: $color-text-on-pale;

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.button {
  @extend %btn;
  background-color: $color-pale;
  font-family: $font-main-text;
}

.button {
  &:hover,
  &:focus {
    color: $color-pale;
    background-color: $color-accent;
  }
  & .link:hover,
  & .link:focus {
    color: $color-pale;
  }
}

.about-us-picture {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container.about-us {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-us-picture {
    display: block;
    margin-right: 30px;
  }

  .about-us-picture.first {
    margin-bottom: 30px;
  }

  .about-us-main-text,
  .about-us-explain-text {
    display: block;
    width: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .container.about-us {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 91px;
  }

  .about-us-media {
    display: flex;
  }
  .about-us-picture {
    display: block;
    margin-right: 30px;
    width: 270px;
    height: 445px;
  }

  .about-us-picture.second {
    margin-right: 64px;
  }

  .about-us-main-text,
  .about-us-explain-text {
    display: block;
    width: 500px;
  }
}
