.section-title--small {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.18;
	letter-spacing: 0.05em;
	color: $primary-title-color-dk;
	margin-bottom: 20px;
}
.image > img,
.image-desc > img {
	max-width: none;
}

.subdesc {
	font-size: $fs-text-normal;
	line-height: 1.6;
	letter-spacing: 0.02em;
	color: $primary-text-color-dk;
	margin-bottom: 20px;
}

.desc--small {
	font-weight: 400;
	font-size: $fs-text-small;
	line-height: 1.9;
	letter-spacing: 0.02em;
	color: $primary-text-color-dk;
}

.desc.images {
	display: none;
}

.desc-content__position:last-of-type {
	margin-bottom: 40px;
}

.desc-content__position {
	margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
	.desc-content {
		margin-left: 30px;
	}
	.desc.images {
		display: block;
	}
	.desc.image {
		margin-bottom: 30px;
	}

	.desc.image:last-child {
		margin-bottom: 0px;
	}
	.block.desc {
		display: flex;
	}
	.desc.images {
		margin-bottom: 0px;
	}
}

.desc.images {
	@media screen and (min-width: 1200px) {
		display: none;
	}
}

@media screen and (max-width: 1199px) {
	.desc.image-desc {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.desc.images-desc {
		display: flex;
		margin-bottom: 0px;
	}
	.desc.image-desc:first-child {
		margin-right: 30px;
		margin-bottom: 0px;
	}
	.desc.image-desc:last-child {
		margin-bottom: 0px;
	}
}
