.about-us {
    display: flex;
}

.about-us__list {
    display: flex;
    
    @media screen and (max-width: 768px) {
        display: block;
        width: 330px;
        height: 235px;  
    }
}

.about-us__item {
    width: 270px;
    border: 2px solid red;
    
    @media screen and (max-width: 480px) {
        display: none;
      }
}

.about-us__image {
   width: 270px;  
}

.about-us__block {
    margin-left: 64px;
}

.about-us__label {
    left: 769px;
    top: 810px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #303030;
}

.about-us__icon {
    width: 50px;
}

.about-us__name {
    margin-top: 20px;

    width: 500px;
    height: 98px;
    left: 689px;
    top: 845px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    
    color: #303030;
}

.about-us__mission {
    margin-top: 20px;

    width: 500px;
    height: 60px;
    left: 689px;
    top: 963px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    
    letter-spacing: 0.02em;
    
    color: #555555;
}

.about-us__description {
    margin-top: 20px;

    width: 500px;
    height: 128px;
    left: 689px;
    top: 1043px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    
    letter-spacing: 0.02em;
    
    color: #555555;
}

.about-us__button {
    margin-top: 40px;
}
