.about-section {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: #fff5f6;
}

.about-heading {
  font-family: Titan One;
  font-weight: 400;

  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;

  margin-bottom: 15px;
}
.about-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    width: 200px;
  }
}
.about-img {
  margin-bottom: 46px;
}
.about-list {
  padding-left: 30px;
  padding-right: 30px;
}
.about-text-first {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  text-align: left;

  color: #000000;
  margin-bottom: 32px;
}

.about-text-second {
  position: relative;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: #907e82;
}

.about-fon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: auto;
  max-width: 100%;
}
.about-button {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;

  color: #d41443;
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
  margin-top: 17px;

  padding-top: 13px;
  padding-right: 37px;
  padding-bottom: 13px;
  padding-left: 37px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.about-svg {
  margin-left: 15px;
  height: 8px;
  width: 5px;
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  .about-heading {
    font-size: 26px;
    line-height: 1.15;

    margin-bottom: 16px;
  }
  .about-title {
    font-size: 48px;

    margin-bottom: 50px;
  }
  .about-list {
    padding-left: 17px;
    padding-right: 0;
  }
  .about-text-first {
    font-size: 14px;
    line-height: 1.76;

    margin-top: 50px;
    margin-bottom: 35px;
  }

  .about-text-second {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-bottom: 62px;
  }
  .about-button {
    margin-top: 0;
    margin-right: 0;
  }
  .about-fon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: auto;
    max-width: 100%;
    background-size: cover;
  }
  .about-block {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-fon {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .about-section {
    padding-top: 125px;
    padding-bottom: 39px;
  }
  .about-block {
    position: relative;
    display: flex;
  }
  .about-heading {
    font-size: 30px;
    line-height: 1.13;

    margin-bottom: 15px;
  }
  .about-title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;

    margin-bottom: 55px;
  }
  .about-list {
    padding-left: 74px;
    padding-right: 0;
  }
  .about-text-first {
    font-size: 16px;
    line-height: 1.76;

    margin-bottom: 32px;
  }

  .about-text-second {
    font-size: 14px;
    line-height: 1.94;

    letter-spacing: 0.04em;
    margin-bottom: 45px;
  }
  .about-img {
    margin: 0;
  }
  .about-fon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: auto;
    max-width: 100%;
  }
}
