.about-section {
    @media screen and (min-width: 768px) {
        padding-left: 39px;
        padding-right: 39px;
    }
    @media screen and (min-width: 1200px) {
        padding-left: 55px;
        padding-right: 55px;
    }
}

.about-info {
    position: relative;
    display: block;
    padding-top: 84px;
    padding-bottom: 84px;
    max-width: 418px;

    @media screen and (min-width: 768px) {
        padding-top: 100px;
        max-width: 330px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 64px;
        padding-top: 130px;
        padding-bottom: 130px;
        max-width: none;
    }
}

.about-images {
    margin-right: 30px;
    padding-top: 100px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        // flex-wrap: nowrap;
        margin-right: 0;
        padding-top: 130px;
        // width: 100%;
    }
}

.shaving-foam-pic {
    margin-bottom: 30px;
    max-width: none;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 30px;
    }
}

.straght-razor-shave-pic {

    @media screen and (min-width: 1200px) {
        max-width: none;
    }
}

.second-heading {
    margin-left: 80px;
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.1em;
}

.third-heading {
    margin-top: 20px;

    font-family: $main-font;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;

    color: $main-text;

    @media screen and (min-width: 1200px) {
        font-size: 42px;
        line-height: 1.17;
    }
}

.tagline {
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.02em;

    color: $secondary-text;

    @media screen and (min-width: 1200px) {
        font-size: 18px;
        line-height: 1.7;
    }
}

.about-decr {
    margin-bottom: 40px;

    font-family: $secondary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    color: $secondary-text;
}