.achivments {
	.container {
		@media screen and(min-width:1200px) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-evenly;
		}
	}

	.section-title {
		margin-bottom: 20px;
		color: $primary-title-color-dk;
	}

	&-content {
		@media screen and(min-width:768px) {
			width: 500px;
		}
	}

	&-desc {
		margin-bottom: 44px;
		font-size: 18px;
		line-height: 1.67;
	}
}

.achivments-items {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
	padding-bottom: 35px;
	@media screen and(min-width:768px) and(max-width:1199px) {
		margin-left: 225px;
	}
	@media screen and(min-width:1200px) {
		width: 418px;
	}

	.holder {
		background-color: $background-color-dk;
		margin: 15px;
		width: 100%;
		@media screen and(min-width:480px) {
			width: 193px;
			&:nth-child(2n) {
				transform: translateY(35px);
			}
		}
		@media screen and(min-width:768px) and(max-width:1199px) {
			width: 210px;
		}
		@media screen and(min-width:1200px) {
			width: 170px;
		}
	}
}

 .holder-inner {
	position: relative;
	display: block;
	text-align: center;
	padding: 20px 35px;

	.quantity {
		display: inline-block;
		font-weight: 700;
		font-size: 42px;
		line-height: 1.35;
		letter-spacing: 0.05em;
		color: $primary-title-color-dk;
	}

	.holder-text {
		margin-top: 6px;
		font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		color: $primary-title-color-dk;
	}
}

.icon-plus {
	position: absolute;
	top: 27px;
}