.advantages {
  padding-bottom: 97px;
  background-color: $secondary-bcg-color;
  @media screen and (min-width: $min-desktop-width) {
    background-color: $white-color;
  }
  @media screen and(min-width:$min-tablet-width) {
    padding-bottom: 142px;
  }
  @media screen and(min-width:$min-desktop-width) {
    padding-bottom: 139px;
  }

  &__list {
    @media screen and(min-width:$min-tablet-width) {
      display: flex;
    }
  }
  &__item:not(:last-child) {
    @media screen and (max-width: $max-mobile-width) {
      margin-bottom: 38px;
    }
  }

  &__item::before {
    display: block;
    content: '';
    margin-bottom: 16px;
    @media screen and(min-width:$min-desktop-width) {
      margin-bottom: 40px;
    }
  }
  &__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $accent-color;
    margin-bottom: 16px;
    @media screen and (min-width: $min-tablet-width) {
      font-size: 48px;
    }
    @media screen and(min-width:$min-desktop-width) {
      font-size: 58px;
    }
  }
  &__description {
    font-style: normal;
    font-weight: 700;
    line-height: 1.74;

    color: $primary-text-color;
    @media screen and (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      font-size: 15px;
    }
  }
}

.advantages__item--icecream1::before {
  max-width: 33px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url(../images/advantages/icecream1.png);
  @media (min-resolution: 2dppx) {
    background-image: url(../images/advantages/icecream1@2x.png);
    background-size: cover;
  }
}
.advantages__item--icecream2::before {
  max-width: 50px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url(../images/advantages/icecream2.png);
  @media (min-resolution: 2dppx) {
    background-image: url(../images/advantages/icecream2@2x.png);
    background-size: cover;
  }
}
.advantages__item--icecream3::before {
  max-width: 44px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url(../images/advantages/icecream3.png);

  @media (min-resolution: 2dppx) {
    background-image: url(../images/advantages/icecream3@2x.png);
    background-size: cover;
  }
}
