.advantages {
  margin-top: -537px;
  padding-top: 50px;
}

.advantages-title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media screen and(max-width: 767px) {
    padding-right: 120px;
  }
}

.advantages-list {
  background-color: #ffffff;
  padding: 20px 30px;
}

.advantages-item {
  width: 236px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

@media screen and(max-width: 767px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantages-text {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .advantages {
    margin-top: -392px;
    padding-top: 189px;
  }

  .advantages-title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 26px;
    line-height: 1.31;
    letter-spacing: 0.03em;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 118px 25px 98px;
    margin-left: -20px;
    margin: -30px;
  }

  .advantages-item {
    margin-left: 20px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1376px) {
  .advantages {
    margin-top: -199px;
    padding-top: 0px;
  }

  .advantages .container {
    max-width: 1376px;
    padding: 0 30px;
  }
  .advantages-title {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  .advantages-list {
    padding: 38px 82px 70px 44px;
    margin-left: -40px;
    margin-top: -32px;
  }

  .advantages-item {
    font-size: 20px;
    line-height: 1.65;
    margin-left: 40px;
    margin-top: 32px;
    width: 356px;
  }

  .advantages-text {
    font-size: 20px;
    line-height: 1.2;
  }
}
