.advantage {
  background-color: $primary-background-color;
  padding-left: 20px;

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__icon {
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }
  &__box {
    max-width: 230px;
    @media screen and (min-width: 768px) {
      max-width: 160px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 300px;
    }
  }
  &__item {
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $title-text-color;

    margin-bottom: 32px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 48px;
      margin-bottom: 23px;
      &:not(:last-child) {
        margin-right: 4px;
      }
      &:last-child {
        margin-left: 18px;
      }
    }

    @media screen and (min-width: 1200px) {
      font-size: 58px;
      margin-bottom: 23px;
      &:not(:last-child) {
        margin-right: 80px;
      }
      &:first-child {
        margin-right: 115px;
      }
    }
  }

  &__text {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    text-transform: none;
    letter-spacing: 0;

    color: $black-color;

    margin-top: 25px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.74;
      margin-top: 20px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      margin-top: 16px;
    }
  }
}
