.backdrop-location {
    position: fixed;
    color:#FFA5BA;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.2);
    z-index: 5;
  }
  .modal-location{
    
    position: absolute;
    padding: 20px 10px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      @media screen and (min-width: $tablet-width) {
        height: 100vh;
  }
}
.modal-location.container {
    overflow: hidden;
  @media screen and (min-width: $tablet-width) {
          width: 500px;
          overflow: auto;
  }
  @media screen and (min-width: $desktop-width) {
          width: 720px;
          
  }
}
  .maps  {
  width: 270px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
       @media screen and (min-width: $tablet-width) {
          width: 450px;
          height: 338px;
  }
      @media screen and (min-width: $desktop-width) {
           width: 660px;
  }
}
  .map-city {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
.map-card {
       @media screen and (min-width: $tablet-width) {
          width: 480px;
  }
      @media screen and (min-width: $desktop-width) {
          width: 760px;
  }
} 
.map-card-item {
  margin-left: auto;
  margin-right: auto;
}