.btn__read-more {
  font-family: CaveatBrush;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 3.62;
  color: var(--star-icon-color);
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  #more {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .btn__read-more {
    display: none;
  }
}

.btn__read-more {
  &:hover,
  &:focus {
    color: var(--base-icon-color);
  }
}
