.burger-button {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 12px;
  }
}

@include for-size(desktop) {
  .burger-button {
    display: none;
  }
}
