.burger {
    @media screen and (max-width: 767px) {
        display: flex;
        margin-left: auto;
        margin-top: 8px;

        color: $primary-title-color-lt;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }            

    &:hover, &:focus, &:active {
        color: $accent-color;
    }
  
    & .icon-menu {
       fill: currentColor;
    }

    &.is-open + .menu {
        @media screen and (max-width: 767px) {
            display: flex;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            z-index: 5;

            background-color: rgba(25, 28, 38, 0.2);
            box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.16), -2px 0px 4px rgba(0, 0, 0, 0.08), -4px 0px 8px rgba(0, 0, 0, 0.04);
        }
    }

    @media screen and (min-width: 768px) {
        display: none;    
    }
}

.close {
    @media screen and (max-width: 767px){
       margin-bottom: 30px;
       display: flex;
       margin-left: auto;
       color: $primary-title-color-dk;
       fill: currentColor;       
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover, &:focus, &:active {
            color: $accent-color;
        }
    }
    @media screen and (min-width: 768px) {
        display: none;    
    }
}

.icon-cross {
    display: block;
    fill: currentColor;
}