.burger-button {
       position: absolute;
       background-color: transparent;
       border: none;
       padding: 0;
       top: 10px;
       right: 15px;
       cursor: pointer;
       outline: none;
       z-index: 100;
    
       &__svg {
         width: 40px;
         height: 40px;
       }
    
       @media screen and (min-width: 768px){
         display: none;
       }
     }
    
     .burger-button .icon-close-burger {
       display: none;
     }
    
     .burger-button.is-open .icon-close-burger {
       display: block;
     }
    
     .page-header .icon-burger {
       display: block;
     }
    
     .burger-button.is-open .icon-burger {
       display: none;
     }