.button-primary {
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 1.33;
  font: weight 700;
  background-color: #d41342;
  border-radius: 22px;
  align-items: center;
  text-align: center;
}
.button-secondary {
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 1.33;
  font: weight 700;
  background-color: $primary-text-color;
  border-radius: 22px;
  align-items: center;
  text-align: center;

  &hover,
  &focus {
    background: #ecebeb;
  }
}

.header-button-primary {
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;
  background-color: $secondary-title-color;
  border-radius: 20px;
  align-items: center;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}
.header-button-secondary {
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;
  background-color: $primary-text-color;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  &:hover,
  &:focus {
    background: #ecebeb;
  }
}
