.back_to_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  width: 34px;
  height: 34px;
  background: $social-primary-color;
  cursor: pointer;
  display: none;
  border-radius: 50%;
  opacity: 0.5;

  &:hover {
    transition: opacity $transition-duration $timing-function;
    opacity: 1;
  }
}

.back_to_top-show {
  display: block;
}

.btn-up {
  transform: rotate(-90deg);
  margin-top: 6px;
  margin-left: 7px;
  width: 20px;
  height: 20px;
}

.products__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white-color;

  border-style: none;
  padding: 0;
  cursor: pointer;

  &::after {
      content: "";
      
      background-image: url(../images/icons/arrow-right-products.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
  }
}
