.main-btn {
    // display: flex;
    // justify-content: center;
    margin: 0 auto;
    height: 44px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    @include font(16px, 700, 1.313);
    text-align: center;
}

.hero-btns {
    display: block;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    @include font(14px, 400, 1.286);
    text-align: center;
}

.how-made-btn {
    display: block;
    width: 176px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-family: $main-font;
    font-weight: bold;
    display: flex;
    text-align: center;
    color: $main-title-color;
}