.primary-button,
.secondary-button {
  color: $main-title-color;
  background-color: $write-color;
  font-family: $main-font;
  font-weight: 700;
  font-size: 1.31;
  line-height: 21px;
  text-align: center;
  border-radius: 22px;
  padding-top: 6px;
}

.primary-button:hover {
  background-color: #ecebeb;
}

.secondary-button {
  color: $write-color;
  background-color: #d41342;
}
