.button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    background-color: var(--primary-text-color);
  
    border-radius: 22px;
    border-style: none;
  
    cursor: pointer;
  
    &:hover,
    &:focus {
      background-color: #ecebeb;
      
    }
  
    &--red {
      background-color: var(--accent-color);
  
      color: var(--primary-text-color);
  
      &:hover,
      &:focus {
        background-color: #c7133e;
      }
    }

    &--catalin {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: #d41443;
    width: 35%;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    align-self: center;
    // border: solid 1px #d41443;
    margin-top: 10px;

    
    &:hover,
    &:focus {
      background-color: #c7133F;
      color: #fff;
      }
  }
  }
  

