.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 45px;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-radius: 25px;
}
