.primary-button,
.secondary-button {
  color: $main-title-color;
  background-color: $write-color;
  font-family: $main-font;
  font-weight: 700;
  font-size: 1.31;
  line-height: 21px;
  text-align: center;
  border-radius: 22px;
  padding-top: 6px;
}

.primary-button:hover {
  background-color: #ecebeb;
}

.secondary-button {
  color: $write-color;
  background-color: #d41342;
}
.cow .primary-button {
  display: block;
  width: 176px;
  height: 44px;
  border: 1px solid transparent;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
  text-align: center;
  cursor: pointer;
}
.cow .primary-button:hover,
.cow .primary-button:focus {
  background-color: #d41342;
  color: $write-color;
}
@media screen and (min-width: 768px) {
  .cow .primary-button {
    margin-left: 376px;
    margin-right: 0;
  }
  .text {
    margin-left: 17px;
  }
}
