.buy-modal {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-modal-inner-div {
    position: absolute;
    width: 549px;
    display: flex;
    flex-direction: column;
    border: 2px solid #F0D1A5;
    border-radius: 5%;
    background: #FFF5F6;
    align-items: center;
    gap: 10px;
    padding: 15px 15px 30px 15px;
}
.buy-modal-is-hidden {
    visibility: hidden; 
    opacity: 0;
}
.modal{
    position: absolute;
}
.buy-modal{
    &__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: none;
    position: absolute;
    top: 30px;
    right: 30px;
    &:hover,
    &:focus {
    background: #ECEBEB;
    cursor: pointer;
    }
}
&__close-icon {
    fill: #D41443;
}
&__title{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 30px 0 0 0;
    &--red {
    color: #D41443}
    }
    &__grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    }
&__card { 
    background: #ffffff;
    border: 1px solid #ECEBEB;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover,
    &:focus {
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    }
}
&__text {
    margin: 0 0 8px 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    color: #ECEBEB;
}
&__img {
    margin: 20px;
    background: #FFB8CA;
    border-radius: 10%;
    &--coffe-color {
    background: #F0D1A5;
    }
&--green-color {
    background: #C2E297;
    }
}
&__order-label {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    color: #907E82;
    appearance: none;
}
&__order-input {
    border-color: #ECEBEB;
    border-radius: 15%;
    color: #907E82;
    margin-bottom: 8px;
    &:focus-visible {
    outline: none;
    }
}
&__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
&__label {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 183%;
    color: #907E82;
}
&__input {
    height: 30px;
    border: none;
    border-radius: 5px;
    text-indent: 30px;
    &:focus-visible {
    outline: none;
    }
    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    }
}   
&__icon {
        position: absolute;
        top: 40px;
        left: 3px;
        fill:#D41443;
}
&__textarea {
    resize: none;
    height: 60px;
    border: none;
    border-radius: 5px;
    text-indent: 30px;
    &:focus-visible {
    outline: none;
    }
    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    }
    }
    ::placeholder{
    color: #ECEBEB;
    }
    ::placeholder{
    color: #ECEBEB;
}
&__submit-btn {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d41443;
    background: #ffffff;
    border: none;
    border-radius: 22px;
    margin: 0 0 0 auto;
    padding: 12px 47px 12px 47px;
    margin: 0;
    &:hover,
    &:focus {
    background: #ECEBEB;
    cursor: pointer;
    }
}
}
.buy-modal-is-hidden {
    visibility: hidden; 
    opacity: 0;
}
@media (max-width: 768px) and (min-width: 320px) {
.buy-modal{
    &__grid {
        gap: 3px;
    }
    &__img {
        margin: 4px;
    }
    &__label {
        width: 350px;
    }
    &__form {
        gap: 5px;
    }
    }
.buy-modal-inner-div {
    width: 430px;
    }
}