@import '~node_modules/modern-normalize/modern-normalize.css';

* {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

body {
    font-family: 'DM Sans';
    font-weight: 400px;
    font-style: normal;
    font-size: 14px;
     
}

// @media screen and (min-width: 768px) {
//     .container {
//       width: 768px;
//     }
//   }
  
//   @media screen and (min-width: 1280px) {
//     .container {
//       width: 1280px;
//     }
//   }