/*---------------- ЗАГОЛОВОК УРОВНЯ h2 -------------------*/

.titul-two {
  text-align: center;
  margin-top: 15px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-red-color);

  @include for-size(tablet) {
    font-size: 48px;
  }

  @include for-size(desktop) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.pretitul-two {
  text-align: center;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--text-pink-color);

  @include for-size(tablet) {
    font-size: 26px;
    line-height: 1.15;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.title-three {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

/* --------------КНОПКИ БОЛЬШИЕ---------------------*/

/*      
Формат HTML для кнопок
<button class="btn appeal-one">
        Our Locations
        <svg class="btn-icon next-one">
          <use href="./images/svg/sprite.svg#icon-move-to-next"></use>
        </svg>
      </button>
      <button class="btn appeal-two">
        Our Locations
        <svg class="btn-icon next-two">
          <use href="./images/svg/sprite.svg#icon-move-to-next"></use>
        </svg>
      </button>*/

// класс размеров

.btn {
  display: inline-flex;
  align-items: center;
  min-width: 161px;
  padding: 0 17px;
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  /* сюда нужно проставить правильный класс 
  для всплывающего окна хедера*/
  header & {
    width: 100%;
  }

  @include for-size(tablet) {
    padding: 0 30px;
  }

  @include for-size(desktop) {
    padding: 0 37px;
  }
}

.btn-icon {
  margin-left: 8px;
  width: 10px;
  height: 10px;
}

.next-one {
  fill: var(--primary-white-color);
}

.next-two {
  fill: var(--text-red-color);
}

//классы цветов
.appeal-one {
  background: var(--text-red-color);
  color: var(--primary-white-color);
  transition-duration: $animation-time;
  transition-timing-function: $animation-function;

  &:hover,
  &:focus {
    background: var(--text-red-color);
  }
}

.appeal-two {
  background: var(--primary-white-color);
  color: var(--text-red-color);
  transition-duration: $animation-time;
  transition-timing-function: $animation-function;

  &:hover,
  &:focus {
    background: var(--button-hover-color);
  }
}
