@import '~node_modules/modern-normalize/modern-normalize.css';
@import 'src/sass/utils/_vars.scss';
@import 'src/sass/utils/_keyframes.scss';
* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: $whiteColor;
  transition: background-color 250ms $main-transition-timing-function;
}

.arrow-button__svg {
  fill: #d41443;
}

.arrow-button--mod {
  width: 26px;
  height: 26px;
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 480px;
  margin: 0 auto;
}

.raise:hover,
.raise:focus {
  animation: raise 1s;
  animation-fill-mode: forwards;
}

.milk-shake:hover,
.milk-shake:focus {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.roll {
  animation-name: roll;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
//  .appearance {
//   animation: appearance 5s ease 0s 1 normal forwards;
//  }
//  .appearance1 {
//   animation: appearance 4s ease 0s 1 normal forwards;
//  }
//  .appearance2 {
//   animation: appearance 3s ease 0s 1 normal forwards;
//  }

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
