.container {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 420px;
    padding: 0 30px;
  }
  @media screen and (min-width: 768px) {
    max-width: 688px;
    padding: 0 40px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 15px;
    max-width: 1170px;
  }
}
