.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include size(mobile) {
    width: 480px;
  }
  @include size(tablet){
    width: 768px;
}
  @include size(desktop) {
    width: 1200px;
}

}
