.contact-info {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: $bgFooterColor;
  background-size: 50%;
  background-image: url(../images/contacts-m.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  // Для стилизации изображений
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/contacts-m@2x.png);
  }

  @media screen and (min-width: 481px) {
    background-image: url(../images/contacts-t.png);
    background-size: auto 496px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts-t@2x.png);
    }
  }

  @media screen and (min-width: $tablet) {
    // auto
    background-size: 100% 449px;
  }

  @media screen and (min-width: $desktop) {
    background-position: right;
    background-image: url(../images/contacts-d.png);
    background-size: calc(50% - 15px);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts-d@2x.png);
    }

    .container {
      position: relative;
      display: flex;
    }

    .contacts {
      margin-left: 100px;
    }
  }
}

// Форма онлайн-записи
.clients-form {
  @media screen and (max-width: 1279px) {
    margin-bottom: 100px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 84px;
  }

  @media screen and (min-width: $desktop) {
    width: 600px;
    padding-right: 40px;
  }

  & > div {
    margin-bottom: 36px;

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  .clients-button {
    display: flex;
    margin-top: 44px;
    padding: 12px 38px;

    border: 1px solid $accentColor;
    border-radius: 25px;
    background-color: $bgFooterColor;
    color: $contrastColor;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    transition: background-color $transition;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $accentColor;
    }

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  textarea {
    resize: none;
    height: 75px;
    width: 100%;
    background: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgba(157, 164, 189, 0.4);
  }
}

.clients-form > h2,
.contacts > h2 {
  margin-bottom: 40px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $contrastColor;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.form-field-item,
.form-field-textarea {
  position: relative;

  &:hover > .form-label,
  &:focus > .form-label,
  &:hover > .form-label-message,
  &:focus > .form-label-message {
    color: $contrastColor;
  }

  &:hover > .form-label,
  &:focus > .form-label {
    transform: translateY(-40px);
  }

  &:hover > .form-label-message,
  &:focus > .form-label-message {
    transform: translateY(-23px);
  }

  &:hover .form-input,
  &:focus .form-input {
    border-bottom-color: $contrastColor;
  }

  @media screen and (max-width: 1279px) {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 36px;
    }
  }

  .form-input,
  textarea {
    padding: 8px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgba(157, 164, 189, 0.4);
    border-width: 1px;

    color: $contrastColor;
    font-weight: 600;
    letter-spacing: 0.07em;
    background-color: $bgFooterColor;
    transition: border-bottom-color $transition;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:not(:placeholder-shown) + .form-label,
    &:not(:placeholder-shown) + .form-label-message {
      color: $contrastColor;
    }
    &:not(:placeholder-shown) + .form-label {
      transform: translateY(-40px);
    }

    &:not(:placeholder-shown) + .form-label-message {
      transform: translateY(-23px);
    }
  }

  &:not(:last-of-type) .form-input {
    width: 100%;
  }

  &:last-of-type .form-input {
    width: 100%;
  }

  .form-label,
  .form-label-message {
    position: absolute;
    top: 50%;
    left: 0;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);
    transform: translateY(-50%);
    transition: color $transition, transform $transition;
  }

  .form-label-message {
    top: 0;
    transform: translateY(0);
  }
}

.form-field-item {
  @media screen and (min-width: $desktop) {
    width: calc((100% / 2) - 30px);
  }
}

.form-field-textarea {
  display: flex;
}

@media screen and (min-width: $tablet) and (max-width: 1279px) {
  .contacts-block {
    display: flex;
    justify-content: space-between;
  }
}

// Контакты
// Адрес
.contacts {
  @media screen and (max-width: 1279px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 84px;
  }
}

.contacts address {
  @media screen and (max-width: $tablet) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 70px;
  }

  ul {
    @extend %list;
  }

  li:hover > a,
  li:focus > a,
  li:hover > .contacts-address-button,
  li:focus > .contacts-address-button {
    color: $contrastColor;
    cursor: pointer;
  }

  li:hover svg,
  li:focus svg {
    --color2: #ffffff;
  }

  li:not(:last-child) {
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }
  }

  a,
  .contacts-address-button {
    display: flex;
    align-items: center;

    font-style: normal;
    font-size: 18px;
    line-height: 1.7;

    color: $secondaryTextColor;
    transition: color $transition;
  }

  .contacts-address-button {
    background-color: inherit;
    outline: none;
    border: none;
  }

  svg {
    margin-right: 16px;
    // transition: fill $transition;
  }
}

// Часы работы
.working-hours {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .strip {
      width: 60px;
      height: 1px;
      margin-right: 20px;
      background-color: $textTrColor;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $contrastColor;
  }

  p {
    font-size: 18px;
    line-height: 30px;

    color: $secondaryTextColor;
  }
}
