.contacts-section {
    padding-top: 60px;
    padding-bottom: 40px;

    /* Класс скрывает семантический заголовок*/
    &__title.never {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
   
    &__text {
        display: inline-block;
        line-height: 1.83;
        letter-spacing: 0.04em;

        padding-left: 25px;
        padding-right: 25px;

        background-color:$products2-background-color;
        color:$white-color;
        border-radius: 4px;

        margin-bottom: 20px;
    }
     
    &__text.food {
        background-color:$products3-background-color;
    }

    &__list {
        border-radius: 24px;
        text-align: left;
        min-width: 280px;

        font-size: 12px;
        font-weight: 500;

        padding-left: 32px;
        padding-right: 32px;
    }
     
    &__list:not(:last-child) {
        margin-bottom: 20px;
    }

    &__list__button {
        padding-top: 32px;
    }

    &__list__location::after {
        content:'';
        display: block;
        border-bottom:1px solid $complementary-color;
    }
    &__list__time {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &__item__location {
        margin-bottom: 8px;
    }
    &__item__about {
        line-height: 1.5;
        margin-bottom: 32px;
        padding-right:37px;
    }
    &__item__day {
        color: $black-color;
        line-height: 1.83;
        margin-bottom: 11px;
    }
    &__item__time:not(:last-child) {
        margin-bottom: 8px;
    }
    &__item__time {
        line-height: 1.83;
        color: $text-decoration-color;
    }

    &__item__contacts_tel {
        margin-bottom: 7px;
    }
}
.contacts-section__button__location  {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $white-color;

    min-width: 161px;
    background-color: $button-color;
    border:none;
    border-radius: 22px;
    
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 10px;
}

.contacts-section__button__franchise {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $title-text-color;

    min-width: 161px;
    background-color:$white-color;
    border: none;
    border-radius: 22px;

    padding-top: 14px;
    padding-bottom: 14px;
}