.copy-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.copyright {
  padding-top: 44px;
  padding-bottom: 44px;
}

.media-list {
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.media-item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  text-decoration: none;

  color: #303030;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ff6c00;
  }

  &.instagram {
    position: relative;

    &:before {
      content: '';

      position: absolute;
      width: 60px;
      top: 50%;
      transform: translateY(-50%);
      left: -100px;

      border-top: 1px solid;
      border-color: #303030;
    }
  }
}

.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;

  color: #9da4bd;
}
