.swiper-container {
      width: 100%;
      height: 100%;
    }

.swiper-slide {
     padding: 123px 176px;
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.review {
display: block;
    position: static;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 31px;
    letter-spacing: .04em;
    z-index: 1;
    background: repeating-linear-gradient(
180deg
,#e1e1e1 0,transparent 1px,transparent 30px,#e1e1e1 0,#e1e1e1 31px);
    background-position: center bottom 3px;
}

.review::before {
    content: " ";  
    font-size: 24pt;  
    text-align: center;  
    line-height: 42px;  
    color: #fff;  
    float: left;  
    position: relative;  
    top: -15px;  
    // border-radius: 25px;  
  
    background: url(/images/6-customers/quote.png) ;  
    background-repeat: no-repeat;
  

  display: block;
  width: 54px;
  height: 50px;
}

.place-title::before {
  display: block;
  content: url(/images/6-customers/dots.png);
} 

.swiper-pagination-bullet-active {
  background-image: url(/images/6-customers/home-icon.png);
  background-size: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  opacity: 1;
  border-radius: 0;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .swiper-pagination {
    position: unset;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
  }