.reviews {
  @include font(500, 12px, 2.59, 0.02em);

  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    @include font(500, 14px, 2.14, 0.04em);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media screen and (min-width: 1280px) {
    @include font(500, 16px, 1.88, 0.04em);
    padding-top: 120px;
    padding-bottom: 132px;
  }

  &-img {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }

  &-text {
    position: relative;
    padding: 45px 50px 20px 50px;
    margin-bottom: 50px;

    text-align: center;

    background-color: #fafafa;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 33px;
      left: 57px;

      width: 54px;
      height: 40px;
      background-image: url('/images/reviews/quotes.png');

      @media screen and (min-width: 480px) {
        left: 35px;
      }

      @media screen and (min-width: 768px) {
        left: 40px;
      }

      @media screen and (min-width: 768px) {
        left: 48px;
      }
    }

    @media screen and (min-width: 768px) {
      padding: 47px 36px 28px 60px;
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
      padding: 47px 54px 32px 59px;
      margin-bottom: 35px;
    }
  }
  &-text-line {
    display: flex;
    position: relative;
    padding-right: 16px;
    padding-left: 7px;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 30px,
      #e1e1e1,
      #e1e1e1 30px,
      #e1e1e1 31px
    );

    @media screen and (min-width: 768px) {
      padding: 3px 44px 6px 20px;
      background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 29px,
        #e1e1e1,
        #e1e1e1 29px,
        #e1e1e1 30px
      );
    }

    @media screen and (min-width: 1280px) {
      padding: 0 35px 7px 28px;
    }
  }

  &-name {
    position: relative;
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-bottom: 35px;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);

      width: 32px;
      height: 4px;

      background-image: url('/images/reviews/dots.png');
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.88;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.85;
    }
  }
}

.slick-slide img {
  display: block;
  margin: auto;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  content: '';
  text-align: center;
  opacity: 1;
  color: black;
}

[aria-controls='slick-slide00']::before {
  content: '';
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  opacity: 1;
}

[aria-controls='slick-slide01']::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d9d9d9;
  opacity: 1;
}

[aria-controls='slick-slide02']::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d9d9d9;
  opacity: 1;
}

[aria-controls='slick-slide01']:hover::before,
[aria-controls='slick-slide01']:focus::before,
[aria-controls='slick-slide02']:hover::before,
[aria-controls='slick-slide02']:focus::before {
  background-color: #d31342;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}
