@import 'src/sass/utils/_vars.scss';

.customer-rev {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  &__rev {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__rev-container {
    padding: 32px 74px 31px 72px;
    background: #fafafa;
    width: 968px;
  }
  &__review {
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    text-align: center;
    letter-spacing: 0.04em;
    position: relative;
    padding: 15px 35px 8px 37px;
    color: $blackColor;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-image: url(../images/quotes.svg);
      height: 40px;
      width: 54px; 
      z-index: -1;
    }
    &::after {
        content: '';
        background-image: repeating-linear-gradient(#E1E1E1 0, #E1E1E1 1px, transparent 0, transparent 31px);
        position: absolute;
        width: 100%;
      
       
    }      

  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
    color: $blackColor;
  }
}
