.delete-btn {
  display: inline-flex;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
