.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  // Размеры контейнера на таблете
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    padding: 0 34px;
  }

  // Размеры контейнера на (нужно перепроверить). Вариант не финальный!
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 115px;
  }
}

.features {
  padding-top: 125px;
  padding-bottom: 149px;
  background-color: $section-bg-secondary;

  @media screen and (max-width: 767px) {
    background-image: url(../images/mobile/features-2-320.png);
    background-position: 0px 766px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.features__secondary-heading {
  margin-bottom: 15px;
}

.features__primary-heading {
  margin-bottom: 26x;
}

.features__primary-text {
  padding: 0px 30px;
  margin-top: 46px;
  margin-bottom: 47px;
  @include font(500, 12, 1.62);
  font-size: 12px;

  color: $black-color;
}

.features__secondary-text {
  padding: 0px 30px;
  margin-bottom: 47px;
  @include font(500, 12, 1.62);
  font-size: 12px;
  color: #907e82;
}

.features__button {
  height: 44px;
  padding: 0px 37px;
  margin-bottom: 39px;
  background-color: $white-color;
  margin-left: auto;
  margin-right: auto;
}

.features__button-text {
  color: $primary-accent-color;
}
