// .container {
//   margin: 0;
// }

.features {
  padding-top: 125px;
  padding-bottom: 145px;
  background-color: $section-bg-secondary;

  @media screen and (max-width: 767px) {
    background-image: url(../images/mobile/features-2-320.png);
    background-position: 0px 766px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-width: 767px) {
    padding-top: 130px;
    padding-bottom: 246px;
  }
}

.features__subtitle.section__subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.17;

  @media screen and (min-width: 767px) {
    margin-bottom: 16px;
  }
}

.features__heading.section__title {
  margin-top: 0;
  margin-bottom: 26px;

  @media screen and (min-width: 767px) {
    margin-bottom: 50px;
  }
}

.features-discribe {
  @media screen and (min-width: 767px) {
    padding-left: 19px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 340px;
  }
}

// .features-foto {
//   @media screen and (min-width: 767px) {
//     display: inline;
//   }
// }

.features__primary-text {
  padding: 0px 30px;
  margin-top: 46px;
  margin-bottom: 34px;
  @include font(500, 12px, 1.62);
  color: $black-color;
}

.features__secondary-text {
  padding: 0px 30px;
  @include font(500, 12px, 1.62);
  color: #907e82;

  &.text-top {
    margin-bottom: 19px;
  }
}

.features__button {
  height: 44px;
  padding: 0px 37px;
  margin-top: 17px;
  border-radius: 22px;
  background-color: $white-color;
  margin-left: auto;
  margin-right: auto;

  &:hover,
  &:focus {
    background-color: $secondary-button-color;
  }
}

.features__button-text {
  color: $primary-accent-color;

  &::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 10px;
    margin-left: 13px;
    background-image: url('../images/icons/Vector-pink.png');
  }
}

.features-list {
  margin-top: 39px;
  padding-right: 50px;
}

.features-list__item:not(:last-child) {
  margin-bottom: 38px;
}

.features-list__icon {
  margin-bottom: 16px;
}

.features-list__title {
  min-width: 98px;
  height: 56px;
  font-family: $font-family-second;
  font-style: normal;
  @include font(400, 36px, 1.14);
  letter-spacing: 0.04em;
  margin: 0;
  color: $primary-accent-color;
}

.features-list__text {
  @include font(900, 12px, 1.7);
  color: $black-color;
}
