.feedback-page {

    padding: 50px 0px;
    background: #FFFFFF;

    @media screen and (min-width:1320px) {
        padding-bottom: 140px;
        padding-top: 120px;
        padding-left: 31px;
        padding-right: 31px;

    }

}

.siema {
    
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    @media screen and (min-width:1320px) {
        margin: 0px 115px;

    }
}

.slider {
    position: relative;

}