.siema-dots {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0px;
  margin-right: 49px;
  margin-left: 49px;
  overflow: hidden;


  @media screen and (min-width:688px) {
    margin-top: 40px;

  }

  & button {
    cursor: pointer;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: transparent;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $accent-color;
      outline: none;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }


    @media screen and (min-width:1320px) {
      &:not(:last-child) {
        margin-right: 30px;
      }

    }




  }
}


.dots-1 {
  background: url(../images/feedback/1.jpg);
}

.dots-2 {
  background: url(../images/feedback/2.jpg);
}

.dots-3 {
  background: url(../images/feedback/3.jpg);
}

.dots-4 {
  background: url(../images/feedback/4.jpg);
}

.dots-5 {
  background: url(../images/feedback/5.jpg);
}

.dots-6 {
  background: url(../images/feedback/6.jpg);
}

.dots-7 {
  background: url(../images/feedback/7.jpg);
}