.block__feedback{
  background-color: #f5f4fa;
}
.feed-back-form {
  display: flex;
  flex-direction: column;
  background-color: var(--colorOn-darkВackground);
  padding: 30px 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 450px) {
    width: 450px;
    padding: 40px 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 500px;
  }

  &__tittle {
    margin-bottom: 30px;

    font-family: var(--main-font);
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
  }

  &__field {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__field + &__field {
    margin-top: 28px;
  }

  &__text {
    position: absolute;
    top: -40%;
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    

    color: var(--text-color);

    &__input:not(:placeholder-shown) + & {
      transform: translateY(-35px) translateX(-40px);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__field:focus-within > & {
      transform: translateY(-35px) translateX(-40px);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);


    width: 18px;
    height: 18px;

    &__input:focus ~ & {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__textarea {
    resize: none;
    height: 120px;
    width: 100%;
    padding: 12px 16px;

    font-family: var(--main-font);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--title-color);

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    &::placeholder {
      font-size: 14px;
      line-height: 1.14;
      color: rgba(117, 117, 117, 0.5);
    }

    &:focus,
    &:active {
      outline: none;
      border: 1px solid #2196f3;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__coment {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
  }

  &__input {
    padding: 11px 41px;
    z-index: 1;

    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: var(--main-font);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--title-color);

    &:focus,
    &:active {
      outline: none;
      border: 1px solid #2196f3;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 450px) {
    flex-direction: row;
    align-items: center;
  }

  &__text {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &__agreement {
    font-size: 12px;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */

  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.policy__icon {
  margin-right: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;

  background-color: #fff;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox:checked + & {
    border-color: transparent;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-origin: border-box;
    background-image: url(../images/icons/check.svg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.button--feed-back-form {
  margin-top: 30px;
  padding: 10px 56px;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  &:focus {
    border: 1px solid #2196f3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__svg {
    fill: #000;
    width: 11px;
    height: 11px;

    .closeButton:focus & {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
