.feedback-page {

    padding: 50px 0px;


    @media screen and (min-width:1320px) {
        padding-bottom: 140px;
        padding-top: 120px;
        padding-left: 31px;
        padding-right: 31px;

    }

}

.slider {
    position: relative;
    padding: 0px;
    margin: 0px;

    @media screen and (min-width:1320px) {
        padding: 0 60px;
        margin: 0 28px
    }



}