.film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.film-card {
  //   background-color: rgb(44, 137, 224);
  max-width: 280px;

  margin-bottom: 20px;
}

.film-card-img {
  max-width: 280px;
  border-radius: 5px;
}

.card-text-info {
  padding-top: 10px;

  & h2 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16666;
    text-transform: uppercase;
    color: $black-color;
  }
  & p {
    margin: 0;
    padding: 0;
    color: $accent-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
  }
}
