@import 'src/sass/utils/_vars.scss';

.footer {
  &__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffa5ba;
  }
  &__second-title {
    color: #d41443;
  }
}
.footer__contacts {
  display: flex;
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.footer__social-item {
  width: 32px;
  height: 32px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.footer {
  padding-top: 40px;
  background-color: var(--accent-bg-color);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 60px;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #e1e1e1;
  }
}

.footer__box {
  margin-bottom: 48px;
}

.footer__signature-box {
  width: 232px;
  margin-bottom: 40px;
}
.footer__social-link {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer__social-icon {
  fill: #ffa5ba;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .footer__social-link:hover &,
  .footer__social-link:focus & {
    fill: #d41443;
  }
}
.footer__contact {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #000000;
}

.footer__tel {
  color: #d41443;
}

.footer__copyright-container {
  display: flex;
  justify-content: center;
}
.footer__copyright-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #907e82;
}
