.footer {
    background-color: var(--bg-secondary-color);
    position: relative;

    // & .container {
    //     margin-top: 113px;
    // }

    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: var(--footer-pseudo-color);
        position: absolute;
        bottom: 88px;
    }
}

.footer-text {
    font-family: Titan One;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--pink);

    &-wrapper {
        max-width: 232px;
        margin-bottom: 43px;
    }

    &-accent {
        display: block;
        font-size: 34px;
        line-height: 1.147;
        color: var(--dark-pink);
        margin-top: 17px;
    }
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 43px;
}

.social-link-list {
    display: flex;
    margin-bottom: 46px;
    list-style: none;

    &-item:not(:last-child) {
        margin-right: 28px;
    }
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--social-link-bg-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: var(--dark-pink);
    }

    &-icon {
        width: 60%;
        height: 60%;
        fill: var(--white);
    }
}

.contact-phone {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.833;
    color: var(--black);

    .contact-phone-number {
        display: inline;
        color: var(--dark-pink);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--social-link-bg-color);
        }
    }
}

.copyright {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--grey);
    display: block;
    text-align: center;

    &-wrapper {
        padding: 23px 66px;
    }
}

@media screen and (min-width: 768px) {
    // .footer .container {
    //     margin-top: 158px;
    // }

    .footer::after {
        bottom: 74px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
    }

    .footer-text {
        font-size: 26px;
        line-height: 1.154;

        &-wrapper {
            max-width: 340px;
            margin-bottom: 91px;
        }
    
        &-accent {
            font-size: 48px;
            line-height: 1.146;
            margin-top: 16px;
        }
    }

    .contacts-wrapper {
        margin-bottom: 0px;
    }
  
    .social-link-list-item:not(:last-child) {
        margin-right: 30px;
    }

    .social-link {
        width: 34px;
        height: 34px;
    }

    .contact-phone {
        font-size: 14px;
        line-height: 1.857;
    }

    .copyright {
        line-height: 1.857;
    
        &-wrapper {
            padding-top: 29px;
            padding-bottom: 19px;
        }
    }
}

@media screen and (min-width: 1280px) {
    // .footer .container {
    //     margin-top: 165px;
    // }

    .footer::after {
        bottom: 45px;
    }

    .footer-container {
        align-items: center;
        margin-bottom: 97px;
    }

    .footer-text {
        font-size: 30px;
        line-height: 1.133;

        &-wrapper {
            max-width: 490px;
            margin-bottom: 0;
        }
    
        &-accent {
            font-size: 58px;
            line-height: 1.138;
            margin-top: 15px;
            letter-spacing: 0.06em;
        }
    }

    .social-link-list {
        margin-bottom: 50px;

       &-item:not(:last-child) {
            margin-right: 25px;
        }
    }

    .contact-phone {
        font-size: 16px;
        line-height: 1.813;
        letter-spacing: 0.02em;
    }

    .copyright {
        letter-spacing: 0.02em;
    
        &-wrapper {
            padding-top: 9px;
            padding-bottom: 10px;
        }
    }
}


