.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: $primeryAccentTextColor;
}

.smallSocial {
  display: flex;
  @extend %list;

}

.smallSocial-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 40px;

    &::before {
      display: inline-block;
      content: '';
      width: 60px;
      height: 1px;
      margin-right: 40px;
      background-color: $primeryTextColor;
    }
  }
}

.smallSocial-link {
  padding-top: 44px;
  padding-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: $primeryTextColor;
  @include linkAccent;

  @media screen and (min-width: $tablet) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}