.footer-form {
  background-color: #191c26;

  & .title {
    display: flex;
    justify-content: center;

    margin: 0 0 44px 0;
    color: #ffffff;
  }
  & .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.form {
  width: 100%;

  &-field {
    position: relative;
    display: block;
    margin-bottom: 44px;
  }

  &-label {
    position: absolute;
    top: 0;
    left: 0px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);
  }
  &-text {
    width: 100%;
    margin: 0;
    padding: 4px 5px 4px 70px;
    border-width: 0;
    text-align: center;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: #ffffff;
    background-color: #191c26;
    &:hover,
    &:focus {
      border-color: #ffffff;
      cursor: pointer;
    }

    &:hover + .form-label,
    &:focus + .form-label {
      color: #ffffff;
    }
  }
  &-comment {
    padding: 15px 2px 0;
    height: 76px;
    text-align: start;
    resize: none;
    overflow: auto;
  }
}
.contact {
  background-image: url(../../../src/images/footer.png);
}
