.footer-block {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

/* футер контент */

.footer-bottom {
  width: 100%;

  .container {
    @media screen and (max-width: 767px) {
      padding: 44px 31px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      padding: 56px 39px;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
      padding: 56px 55px;
    }
  }
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  .link {
    color: $dark-title-color;
  }
}

.footer-social-insta {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.footer-copyright {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;

  color: $footer-text-color;
}
.footer-copyright-icon {
  margin-right: 6px;
}
.footer-social::before {
  content: '';
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background: $dark-title-color;
}
