.form{
    background-color: #191C26;
    

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px){
        text-align: left;
    }
}

.form-area{
    @media screen and (max-width: 767px){
            padding-bottom: 44px;
    }

    @media screen and (min-width: 768px){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        max-width: 768px; 
    }

    @media screen and (min-width: 1200px){
        width: 50%;
    }
}

.form-description{
    color:#ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: 767px) {
        padding-top: 84px;
        padding-bottom: 67px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 67px;
        
    }
}

.form-field{
    position: relative;

    @media screen and (min-width: 480px) {
        margin-bottom: 44px;
    }
}

.form-input{
    width: 100%;
    background-color: #191C26;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: rgba(157, 164, 189, 0.4);
    color: #ffffff;
    outline: none;

    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label{
        color: #ffffff;
        transform: translateY(-30px);
    }

    @media screen and (min-width: 768px){
        min-width: 330px;
    }

    @media screen and (min-width: 1200px){
        min-width: 270px;
    }
}

.form-label{
    position: absolute;
    font-weight: 600;
    font-size: 11px;
    line-height: 0.73;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);

    transition: transform 250ms linear;

    @media screen and (min-width: 480px){
        top: 50%;
        left: 0;
        transform: translateY(-100%);
    }

    @media screen and (min-width: 768px){
        top: 0;
        left: 0;
    }
}

.form-comment{
    background-color: #191C26;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    color: #ffffff;
    border-color: rgba(157, 164, 189, 0.4);
    width: 100%;
    outline: none;

    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label
    {
        color: #ffffff;
        transform: translateY(-30px);
    }

    @media screen and (min-width: 768px){
        min-width: 690px;
    }

    @media screen and (min-width: 1200px){
        min-width: 560px;
    }
}

.button-center {
    @media screen and (min-width: 480px){
    text-align: center;
    padding-bottom: 84px;
}

.footer_btn {
    @media screen and (max-width: 767px) {
        display: inline-block;
    }
}
}

.isempty{
    @media screen and (min-width: 1200px){
        width: 50%;
    }
}