/* блок онлайн-записи */
.footer-form {
  padding: 84px 0;
  height: 557px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 130px 40px 130px 0;
    height: 644px;
  }
}

/* заголовок блока */
.footer-form-title {
  margin-bottom: 44px;

  font-family: $font-title;
  color: $light-title-color;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

/* форма отправки данных */
.footer-form-field {
  display: block;
  width: 100%;
  min-height: 24px;

  border: none;
  outline: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;

  &:focus + .footer-form-label,
  &:not(:placeholder-shown) + .footer-form-label {
    visibility: hidden;
  }
  @media screen and (min-width: 768px) {
    width: 330px;
  }

  @media screen and (min-width: 1280px) {
    width: 270px;
  }
}

.footer {
  ul {
    padding: 0;
  }
  textarea {
    resize: none;
  }
}

.footer-form-row {
  position: relative;
  display: block;

  margin-bottom: 44px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  &:focus,
  &:hover {
    border-bottom: 1px solid #fff;
  }

  &:hover .footer-form-label,
  &:focus .footer-form-label {
    color: $light-title-color;
  }
  &:first-child {
    margin-right: 30px;
  }
}

.footer-form-block {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer-form-label {
  position: absolute;
  top: 0;
  color: rgba(157, 164, 189, 0.4);
}

/* форма для сообдещий */
.footer-form-comment {
  display: block;
  width: 100%;
  min-height: 76px;
  padding: 0;
  color: $light-title-color;
  border: none;
  outline: 0;
  background-color: transparent;
  cursor: pointer;

  &:focus + .footer-form-label,
  &:not(:placeholder-shown) + .footer-form-label {
    visibility: hidden;
  }
}

/*кнопка отправки */
.footer-form-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 38px;
  min-width: 160px;
  height: 40px;
  justify-content: center;

  color: $light-title-color;
  background-color: $dark-bacground-color;
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid $accent-color;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $accent-color;
  }
}
