.form {
  padding-left: 31px;
  padding-right: 31px;

  @media screen and (min-width: $desktop) {
    width: 655px;
    padding-left: 55px;
    padding-right: 40px;
  }
}

.form__box {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-bottom: 44px;
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $primary-white-color;

  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
}

.form__field {
  position: relative;
  display: block;
  width: 100%;

  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &-inpute {
    width: 100%;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: $primary-white-color;
    border: none;
    border-bottom: 1px solid $placeholder-text-color;
    background-color: inherit;

    &::placeholder {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $placeholder-text-color;
    }

    &:focus {
      outline: none;
      border: none;
      border-bottom: 1px solid $primary-white-color;

      &::placeholder {
        color: $primary-white-color;
      }
    }
  }
}

.form__message {
  position: relative;
  display: block;
  margin-bottom: 44px;

  & textarea {
    resize: none;
  }

  &-field {
    width: 100%;
    height: 75px;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: $primary-white-color;
    border: none;
    border-bottom: 1px solid $placeholder-text-color;
    background-color: inherit;

    &::placeholder {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $placeholder-text-color;
    }

    &:focus {
      outline: none;
      border: none;
      border-bottom: 1px solid $primary-white-color;

      &::placeholder {
        color: $primary-white-color;
      }
    }
  }
}

.form__button {
  @extend %button;
  color: $primary-white-color;
  @include transitionII(color, background-color);

  @media screen and (max-width: $tablet - 1px) {
    margin-left: auto;
    margin-right: auto;
  }

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
  }
}
