.gallery {

    &__wrapper {
    display:flex;
    flex-direction:row;
    gap:2.53px;
    align-items:center;
    }
    &__column {
        display:flex;
        flex-direction:column;
    }

    &__image1 {
        border-radius:16px;
    }
}

@media screen and (min-width:480px) {
    .gallery {
        &__wrapper {
        gap:6px;
        }
    }
}

@media screen and (min-width:768px) {
    .gallery{
        &__wrapper {
        gap:8px;
        padding-left:93px;
    }
}
}