.gallery-main {
  background-image: linear-gradient(
    #fff5f6 0%,
    #fff5f6 40%,
    #ffffff 40%,
    #ffffff 100%
  );
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  max-width: 364px;
  height: 122px;
  background-image: url('../images/gallery/gallery@x1-mob-min.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media screen and (min-width: 1200px) {
    max-width: 1280px;
    height: 430px;
    background-image: url('../images/gallery/gallery@x1-pc-min.jpg');
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 786px;
    height: 264px;
    background-image: url('../images/gallery/gallery@x1-tab-min.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .gallery {
    background-image: url('../images/gallery/gallery@x2-mob-min.jpg');
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      background-image: url('../images/gallery/gallery@x2-tab-min.jpg');
    }
    @media screen and (min-width: 1199px) {
      background-image: url('../images/gallery/gallery@x2-pc-min.jpg');
    }
  }
}
