@import 'src/sass/utils/_vars.scss';

.gallery {
    background-image: linear-gradient(to top,$whiteColor 80%, $secondBackgroundColor 30%);
    padding-bottom: 60px; 
}

.gallery__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px; 
}

.gallery__grid picture {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 3px;
    transition: transform 0.3s;
}
.gallery__second-item {
    padding-top: 45px;
}

.gallery__fourth-item {
    padding-top: 60px;
}

.gallery__grid picture:hover,
.gallery__grid picture:focus {
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .gallery{
        padding-bottom: 60px; 
    }
    
    .gallery__grid picture {
        border-radius: 20px;
        margin: 0px 6px 6px 0px;
    }
}

@media screen and (min-width: 1280px) {
    .gallery {
        padding-bottom: 120px;
    }
    
    .gallery__grid picture {
        border-radius: 20px;
        margin: 0px 8px 8px 0px;
    } 
}

