.container {
    display:flex;
    flex-direction:row;
    gap:2.53px;
    align-items:center;

    &__column {
        display:flex;
        flex-direction:column;
    }

    &__row {
        picture {
            transition: transform 0.3ms;
        }

        &:hover picture {
            transform: scale(1.2);
        }
    }
}


.container__row  picture {
    transition: transform 0.3ms;
}

.container__row:hover picture {
    transform: scale(1.2);
}
@media screen and (min-width:480px) {
    .container {
        gap:6px;
    }
}

@media screen and (min-width:768px) {
    .container {
        gap:8px;
        padding-left:93px;
    }
}