.graduates-section {
  padding-left: 20px;
  padding-right: 20px;

  background: #ffffff;
}

.graduates-container {
  max-width: 100%;

  padding-top: 50px;
  padding-bottom: 50px;

  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.graduates-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 40px;
}

.graduates-content-img {
  display: flex;
  justify-content: center;
}

.graduates-person {
  width: 90px;
}

.svg-style {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.vk-svg-style {
  width: 30px;
  height: 30px;
}

.graduates-about {
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}

.graduates-name-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.08em;

  color: #ff6b09;
}

.graduates-info-fonts {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.08em;

  color: #b9b9b9;
}

.graduates-fonts {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  color: #3d3d3d;
}

.graduates-person-list {
  list-style-type: none;
  display: flex;
}

.graduates-person-item {
  margin-right: 10px;
}

.graduates-person-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.graduates-person-item button {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

.graduates-button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  margin: 0;
  padding: 0;

  border-style: none;

  text-align: center;
  text-decoration-line: underline;

  color: #ff6b09;
  background-color: #ffffff;

  cursor: pointer;
}
