.guarantee__section {
  padding-top: 50px;

  @media screen and (min-width: 1344px) {
    padding-top: 130px;
  }
}
.guarantee__container {
  width: 100%;
  margin: 0 auto;
  background: #f1f1f1;

  max-width: 320px;
  padding-left: 27.5px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 86px;
    padding-right: 50px;
  }
  @media screen and (min-width: 1344px) {
    max-width: 1344px;
    padding-left: 123px;
    padding-right: 112px;
  }
}

.orange__text {
  color: #ff6b09;
}

.guarantee__section-title {
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.03em;
}

.guarantee__list {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 1344px) {
    padding-top: 50px;
    padding-bottom: 45px;
  }
}

.guarantee__list-item {
  padding-left: 27.5px;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  color: #3d3d3d;
  letter-spacing: initial;
  @media screen and (min-width: 768px) {
    padding-left: 33px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 20px;
  }
}

.left__border {
  border-left: 1px dashed #b9b9b9;
}

.svg_container {
  display: flex;
  position: absolute;
  top: 0px;
  left: -7.5px;
  width: 15px;
  height: 30px;
  background: #f1f1f1;
  @media screen and (min-width: 1344px) {
    width: 22px;
    height: 40px;
    left: -11px;
  }
}

.guarantee__list-item:not(:last-child) {
  padding-bottom: 23px;
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }
}
