.site-nav {
  @extend %list;
  // width: 100%;

  @include for-size(desktop) {
    display: flex;
    justify-content: center;
  }

  &__link {
    @extend %link;
    color: $color-white-text;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    display: block;
    margin-top: 11px;
    margin-bottom: 11px;

    &:hover,
    &:focus {
      color: $color-bcg-btn;
    }
  }

  &__item {
    padding-left: 20px;
    border-top: 1px solid $color-menu-borders;
    width: 100%;

    @include for-size(tablet) {
      padding-left: 24px;
    }
  }

  &__item:last-child {
    border-bottom: 1px solid $color-menu-borders;
  }
}
