@media screen and (min-width: $desktop) {
  .bg-pic {
    padding-right: 55px;
    padding-left: 100px;
    width: 87.89%;

    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/slider1-desk.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .box {
        background-image: url(../images/Slider1-desk@x2.jpg);
      }
    }
  }

  //  ====
  // LOGO
  // ===

  .logo-icon {
    top: 32px;
    left: 55px;
  }
  // ===
  // MENU
  // ===

  .main-menu {
    z-index: 1;
    left: 195px;

    width: 80%;
    padding-top: 40px;
    padding-left: 0px;

    nav {
      margin-right: auto;
    }

    address {
      flex-direction: row;
      align-items: baseline;

      a {
        margin-right: 40px;
      }
    }
  }

  .menu-list {
    li:not(:last-child) {
      margin-right: 40px;
    }
  }

  .header-button {
    margin-bottom: 0px;
  }

  .soc-networks {
    left: -250px;
  }

  // ===
  // HERO
  // ===

  .hero {
    .sliders {
      right: 55px;
      top: 325px;
    }

    h2 {
      font-size: 72px;
      line-height: 1.18;
    }

    p {
      width: 400px;

      font-size: 18px;
      line-height: 1.67;
    }
  }

  // ===
  // BUTTONS
  // ===
  .back {
    margin-top: 142px;
  }

  .buttons-cont {
    text-align: right;
  }
}
