.site-nav {
  @extend %list;

  @include for-size(desktop) {
    display: flex;
    justify-content: center;
  }

  &__link {
    @extend %link;
    display: block;

    color: $color-white-text;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    @include for-size(desktop) {
      font-size: 16px;
      line-height: 1.31;
    }

    @include for-size(desktop-only) {
      margin-top: 11px;
      margin-bottom: 11px;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $color-bcg-btn;
      animation: jello; 
    animation-duration: 0.5s;
    animation-iteration-count: 30;
    animation-fill-mode: both; 
  
    }
  }

  &__item {
    border-top: 1px solid $color-menu-borders;

    @include for-size(tablet-only) {
      padding-left: 20px;
    }

    @include for-size(tablet) {
      padding-left: 24px;
    }

    @include for-size(desktop) {
      padding: 0;
      border: none;
      &:not(:last-child) {
        margin-right: 35px;
      }
      &:last-child {
        margin-right: 110px;
      }
    }
  }

  &__item:last-child {
    @include for-size(desktop-only) {
      border-bottom: 1px solid $color-menu-borders;
    }
  }
}
