.header-library {
  background-image: url('../images/bg-library-mob.jpg');

  @media screen and (min-width: $tablet) {
    background-image: url('../images/bg-library-tab.jpg');
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/bg-library-desk.jpg');
  }
}

.top-flex-library {
  @include flex(space-between, baseline);
  margin-bottom: 49px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 45px;
  }
}

.bottom-header {
  @include flex();
}

.header-button {
  min-width: 136px;
  border: 1px solid $white-color;
  color: $white-color;
}

.header-button:not(:last-child) {
  margin-right: 15px;
}

.activBtn {
  background-color: $accent-color;
  border: none;
}
