.header{

}
.site-nav__list{
    text-align: center;
}
.site-nav__link{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--prymary-color);
}