.mobile-menu__button { 
    z-index: 100;       
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover {
        fill: #876655;
    }
}

// .mobile-menu_icon-menu--size {
//     width: 30px;
//     height: 16px;
// }