.hero{
    background-color: var(--hero-pink);
    .title{
        display: block;
        font-family: 'Titan One', sans-serif;
        @include font-mobile($fs:26px, $lh:30px, $fw:400);
        color: var(--white);
        text-transform: uppercase;
        .title-red{
            @include font-mobile($fs:48px, $lh:46px, $fw:400);
            color: var(--dark-pink);
        }
    }
    .nav{
        list-style: none;
        display: flex;
        font-family: 'DM Sans', sans-serif;
        @include font-mobile($fs:8px, $lh:10px, $fw:400);
        color: var(--white);

        li:not(:last-child){
            margin-right: 8px;
        }

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px 11px;
            border-radius: 22px;
            color: var(--white);
            background-color: var(--dark-pink);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
            
        }
        .button-product:hover,
        .button-product:focus {
          background-color: var(--white);
          color: var(--dark-pink);
        }
        .button-him{
            color: var(--dark-pink);
            background-color: var(--white);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);           
    
            &:hover,
            &:focus{
                background-color: var(--accent) ;
            }
        }
        
    }

    @media screen and (max-width: 560px) {
        .ice-girl{
            display: none;
        }

        .list{
            display: none;
        }
        .icecream{
            position: absolute;
            width: 171px;
            top: 9px;
            left: 34.642%;
        }
        .icecream-before:before{
            content: "";
            position: absolute;
            top: 0;
            left: 5.714%;
            width: 346px;
            height: 346px;
            border-radius: 50%;
            background-color: var(--pink);
        }
    }

    @media screen and (min-width: 560px) and (max-width: 767px){
        .icecream{
            position: absolute;
            width: 171px;
            top: 9px;
            left: 197px;
        }
        .icecream-before:before{
            content: "";
            position: absolute;
            top: 0;
            left: 116px;
            width: 346px;
            height: 346px;
            border-radius: 50%;
            background-color: var(--pink);
        }
    }

    
    @media screen and (max-width: 767px) {
            overflow: hidden; 

        .container{
            padding-top: 110px;
            padding-bottom: 160px;
            position: relative;
        }

        .title{
            margin-bottom: 19px;
            position: relative;
            width: 218px;
            z-index: 1;
        }
        .milk, .text, .button-bio{
            display: none;
        }
        .ice-girl{
            position: absolute;
            width: 168px;
            bottom: 0px;
            right: 0px;
        }
        .list{
            position: absolute;
            top: 2px;
            right: 7px;

            .item{
                position: relative;
            }

            .item:not(:last-child){
                margin-bottom: 24px;
            }
            .item::after{
                content: "";
                position: absolute;
                z-index: 0;
                top: -2px;
                left: 27px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: var(--white);
            }

            .nomber-of{
                display: block;
                position: relative;
                z-index: 1;
                font-family: 'Titan One', sans-serif;
                @include font-mobile($fs:28px, $lh:32px, $fw:400);
                color: var(--dark-pink);
            }

            .quantity-of{
                display: block;
                position: absolute;
                white-space: nowrap;
                top: 32px;
                right: 2px;
                @include font-mobile($fs:8px, $lh:10px, $fw:400);
                color: var(--white);

            }
        }
        .nav a{
            position: relative; 
            z-index: 1;
        }
    }
    @media screen and (min-width: 768px) {
        .container{
            position: relative;
            padding-top: 8px;
            padding-bottom: 34px;
        }
        .title{
            @include font-tablet($fs:22px, $lh:25px, $fw:400);
            width: 162px;
            margin-bottom: 20px;
        }
        .title-red{
            @include font-mobile($fs:34px, $lh:31px, $fw:400);
        }
        .nav{
            margin-bottom: 19px;
        }
        .list{
            position: absolute;
            top: 2px;
            right: 7px;

            .item{
                position: relative;
            }

            .item:not(:last-child){
                margin-bottom: 24px;
            }
            .item::after{
                content: "";
                position: absolute;
                z-index: 0;
                top: -2px;
                left: 27px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: var(--white);
            }

            .nomber-of{
                display: block;
                position: relative;
                z-index: 1;
                font-family: 'Titan One', sans-serif;
                @include font-mobile($fs:28px, $lh:32px, $fw:400);
                color: var(--dark-pink);
            }

            .quantity-of{
                display: block;
                position: absolute;
                white-space: nowrap;
                top: 32px;
                right: 2px;
                @include font-mobile($fs:8px, $lh:10px, $fw:400);
                color: var(--white);

            }
        }
        .icecream{
            position: absolute;
            width: 143px;
            bottom: 0;
            left: 344px;
        }
        .icecream-before:before{
            content: "";
            position: absolute;
            bottom: 46px;
            left: 273px;
            width: 324px;
            height: 324px;
            border-radius: 50%;
            background-color: var(--pink);
        }
        .ice-girl{
            position: absolute;
            width: 168px;
            bottom: 0px;
            right: 0px;
        }
        .milk{
            width: 124px;
        }
        .info-bio{
            position: absolute;
            bottom: 59px;
            left: 120px;
        }
        .text{
            display: block;
            width: 114px;
            margin-bottom: 7px;
            @include font-mobile($fs:8px, $lh:12px, $fw:400);
            color: var(--white);
        }
        .button-bio{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: var(--white);
            border: none;
            cursor: pointer;
        }

    } 

    @media screen and (min-width: 1280px) {
        .container{
            height: 515px;
            padding-top: 15px;
            padding-bottom: 62px;
        }
        .mobile-menu{
            display: none;
        }
        .title{
            width: 277px;
            @include font-mobile($fs:38px, $lh:44px, $fw:400);
        }
        .title-red{
            @include font-mobile($fs:58px, $lh:52px, $fw:400);
        }

        .nav a{
                @include font-mobile($fs:14px, $lh:18px, $fw:400);
                padding: 11px 24px;
                margin-bottom: 56px;
              
        }
    
        .icecream{
            width: 236px;
            height: 557px;
            bottom: 0;
            left: 479px;
        }
        .icecream-before:before{
            content: "";
            position: absolute;
            bottom: 81px;
            left: 360px;
            width: 538px;
            height: 538px;
            border-radius: 50%;
            background-color: var(--pink);
        }
        .ice-girl{
            width: 293px;

        }
        .milk{
            width: 188px;
        }
        .info-bio{
            position: absolute;
            bottom: 69px;
            left: 180px;
        }
        .text{
            display: block;
            width: 200px;
            margin-bottom: 20px;
            @include font-mobile($fs:14px, $lh:20px, $fw:400);
            color: var(--white);
        }
        .button-bio{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-color: var(--white);
            border: none;
            cursor: pointer;
        }
        .list{
            position: absolute;
            top: 0;
            right: 0px;

            .item{
                position: relative;
            }

            .item:not(:last-child){
                margin-bottom: 35px;
            }
            .item::after{
                content: "";
                position: absolute;
                z-index: 0;
                top: -4px;
                left: 45px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--white);
            }

            .nomber-of{
                display: block;
                position: relative;
                text-align: end;
                z-index: 1;
                font-family: 'Titan One', sans-serif;
                @include font-mobile($fs:46px, $lh:53px, $fw:400);
                color: var(--dark-pink);
            }

            .quantity-of{
                display: block;
                position: absolute;
                white-space: nowrap;
                top: 55px;
                right: 2px;
                @include font-mobile($fs:14px, $lh:18px, $fw:400);
                color: var(--white);

            }
        }
        
    }
}