@keyframes ice-cream-appearance {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.hero-container {
  background-color: $hero-bgc;
}

.font-for-header {
  font-family: Titan One;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $header-font-color;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-family: Titan One;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  @media screen and (min-width: $desktop-width) {
    font-family: Titan One;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.emphasis-font-for-header {
  font-size: 48px;
  line-height: 96.5%;

  color: $red-color;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-family: Titan One;
    font-size: 34px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  @media screen and (min-width: $desktop-width) {
    font-family: Titan One;
    font-size: 58px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.hero {
  position: relative;

  min-width: $site-minimum-width;
  max-width: $tablet-width;
  padding: $hero-paddings;
  padding-bottom: 160px;

  @media screen and (min-width: $desktop-width) {
    max-width: 1300px;
    height: 665px;
  }

  background-color: $hero-bgc;

  margin: 0 auto;
  // z-index: 1;

  display: flex;

  &-header {
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 162px;
      height: 80px;
    }

    @media screen and (min-width: $desktop-width) {
      width: 277px;
      height: 137px;
    }

    &-main {
      width: 218px;
      margin-top: 137px;
      @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
        width: 162px;
        height: 124px;

        font-family: Titan One;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-top: 15px;
      }
      @media screen and (min-width: $desktop-width) {
        width: 277px;
        height: 202px;
        margin-top: 84px;
        margin-left: 95px;

        font-family: Titan One;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
    }
  }

  * {
    z-index: 2;
  }

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: $tablet-width;
    padding-bottom: 0px;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    padding-bottom: 0px;
  }
}

.hero-header-logo {
  @media screen and (min-width: $tablet-width) {
    margin-top: 31px;
  }
  @media screen and (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin-left: 26px;
  }
}

.hero-main-link {
  color: $red-color;
  text-decoration: none;
  display: flex;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    width: 199px;
  }
}

.header-logo-text {
  margin-left: 20px;
  letter-spacing: -0.01em;
  @media screen and (min-width: $desktop-width) {
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.header-link-list {
  margin-top: 19px;
  display: flex;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-top: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 25px;
  }
  * * {
    display: block;
    padding: 7px 13px;
    border-radius: 20px;

    font-family: DM Sans;
    font-size: 8px;
    line-height: 1.25;
    align-items: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
  }

  li + li {
    margin-left: 8px;
  }
}

.hero-link {
  &-products {
    background-color: $header-products-link-bgc;
    color: $header-prod-link-color;
    &:hover,
    &:focus {
      background-color: $button-products-hover-color;
    }

    @media screen and (min-width: $desktop-width) {
      font-family: DM Sans;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  &-him {
    background-color: $header-link-bg;
    color: $header-him-link-color;

    &:hover,
    &:focus {
      background-color: $button-Howitsmade-hover-color;
    }

    @media screen and (min-width: $desktop-width) {
      font-family: DM Sans;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
}

.header-menu-call-btn {
  position: absolute;
  right: 20px;
  top: 25px;

  width: 20px;
  height: 13px;
  border: 0;
  border-top: 1.5px solid $menu-icon-lines-color;
  border-bottom: 1.5px solid $menu-icon-lines-color;

  background: none;
  z-index: 3;

  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    position: relative;
    top: -0.02px;
    left: -6px;
    background-color: $menu-icon-lines-color;
  }

  @media screen and (min-width: $tablet-width) {
    position: relative;
    top: 45px;
    left: 505px;
  }
}

.header-menu-close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  width: 14px;
  height: 14px;

  background: none;
  border: 0;

  color: $white-color;
  fill: currentColor;
  .header-menu-icon {
    width: 14px;
    height: 14px;
  }
}

.header-drop-menu {
  position: fixed;
  top: 0px;
  right: 0px;

  width: 254px;
  height: 100vh;
  padding: 60px 21px;

  z-index: 17;

  background-color: $menu-bgc;
  visibility: visible;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-buy-now-button {
  width: 209px;
  height: 44px;
  border: 0;
  border-radius: 22px;

  color: $red-color;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  .menu-buy-now-arrow {
    margin-left: 12px;
    font-weight: 900;
  }
}

.header-main-buy-now-button {
  margin-top: 32px;
  margin-right: 0px;
  width: 160px;
  height: 44px;
  border: 0;
  border-radius: 22px;
  position: relative;
  right: -12px;

  background-color: $header-link-bg;
  color: $red-color;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  .menu-buy-now-arrow {
    margin-left: 16px;
    font-weight: 900;
  }
}

.header-menu-link {
  text-decoration: none;

  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: $menu-links-color;
}

.header-site-navigation {
  margin-top: 19px;

  li {
    background: linear-gradient(
      $menu-lines-color 0%,
      $menu-bgc 3%,
      $menu-bgc 97%,
      $menu-lines-color 100%
    );
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.header-home-link {
  color: $red-color;
}

.is-upped {
  // right: -100%;
  // display: none;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

// конец меню

.hero-ice-cream {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;

  z-index: 0;
  overflow: hidden;
  height: 502px;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    height: 399px;
  }

  @media screen and (min-width: $desktop-width) {
    height: 665px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 82px;
    left: 65%;

    transform: translateX(-50%);

    width: 346px;
    height: 346px;
    border-radius: 50%;
    z-index: -2;

    background-color: $header-circle-bgc;

    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
      top: 31px;
      left: 61%;
      width: 324px;
      height: 322px;
    }

    @media screen and (min-width: $desktop-width) {
      width: 538px;
      height: 538px;

      top: 39px;
      left: 59%;
    }
  }
}

.hero-icecream-bg-picture {
  position: absolute;
  bottom: 0;
  left: 63%;
  z-index: 1;
  transform: translateX(-50%);

  animation: ice-cream-appearance 1s linear 0 1 normal forwards;
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    left: 58%;
  }
  @media screen and (min-width: $desktop-width) {
    left: 57%;
  }
}

.header-logo {
  width: 50px;
  height: 50px;
}

.hero-secondary-container {
  z-index: 1;
}

.hero-milk-container {
  margin-top: 19px;
  width: 234px;
  height: 128px;
  margin-bottom: 28px;

  @media screen and (min-width: $desktop-width) {
    width: 418px;
    height: 191px;
    margin-top: 56px;
    margin-left: 77px;
  }
}

.hero-second-milk-container {
  width: 114px;
  margin-left: auto;
  @media screen and (min-width: $desktop-width) {
    width: 200px;
  }
}

.hero-milk-text {
  position: relative;
  margin-top: 49px;

  font-family: DM Sans;
  font-size: 8px;
  line-height: 150%;

  color: $header-font-color;
  @media screen and (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 140%;
    margin-top: 56px;
  }
}

.hero-milk-image {
  position: absolute;
  display: block;

  bottom: 45px;
  left: 77px;
}

.hero-milk-anker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-top: 7px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;

  @media screen and (min-width: $desktop-width) {
    width: 26px;
    height: 26px;
  }
}

.hero-anker-arrow {
  width: 18px;
  height: 18px;
  @media screen and (min-width: $desktop-width) {
    width: 26px;
    height: 26px;
  }
}

.header-secondary-container {
  flex-direction: column;
  margin-right: 24px;
  margin-left: auto;

  @media screen and (min-width: $desktop-width) {
    margin-right: 77px;
  }
}

.header-places {
  font-family: Titan One;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $header-places-font-color;

  margin-top: 12px;

  @media screen and (min-width: $desktop-width) {
    font-family: Titan One;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-top: 74px;
  }

  li {
    position: relative;
    z-index: 2;
    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: 114px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      z-index: -1;
      background-color: $white-color;

      @media screen and (min-width: $desktop-width) {
        top: -4px;
        left: 99px;
        width: 30px;
        height: 30px;
      }
    }
  }

  li + li {
    margin-top: 13px;
  }

  &-text {
    display: block;
    font-family: DM Sans;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: $header-places-regular-font-color;

    @media screen and (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.hero-girl-image-png {
  position: absolute;
  bottom: 0;
  right: 34px;

  @media screen and (min-width: $desktop-width) {
    right: 109px;
  }
}

.header-desktop-navigation {
  display: flex;

  margin-left: 110px;
  margin-right: 110px;

  width: 541px;

  li {
    margin-left: 35px;
    a {
      white-space: nowrap;
    }
  }
}

.header-cafes-count {
  margin-top: 0;
  margin-right: 0;
  @media screen and (min-width: $desktop-width) {
    margin-right: 24px;
  }
}
