// Герой
.hero {
  max-width: 1125px;
  height: auto;
  background-image: url('../images/hero_1125.jpg');
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero_1125@2x.jpg 2x');
  }
}
