.hero {
  position: relative;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    padding-left: 135px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 155px;
  }

  &__description {
    position: absolute;
    top: 36%;
    left: 6%;
    z-index: 1;

    max-width: 306px;

    @media screen and (min-width: $tablet) {
      top: 38%;
      left: 36%;
      max-width: 352px;
    }

    @media screen and (min-width: $desktop) {
      top: 40%;
      left: 20%;
      max-width: 486px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: $secondary-font;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $primary-white-color;

    @media screen and (min-width: $desktop) {
      font-size: 72px;
      line-height: 1.18;
    }
  }

  &__subtitle--color {
    color: rgba($secondary-text-color, 0.6);

    &::before {
      background-color: rgba($secondary-text-color, 0.6);
    }
  }

  &__text {
    margin: 0;

    font-size: 16px;
    line-height: 26px;
    color: $secondary-text-color;

    @media screen and (min-width: $desktop) {
      font-size: 18px;
      line-height: 1.67;
    }
  }

  &__social {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      position: absolute;
      left: -7%;
      bottom: 15%;
      transform: rotate(-90deg);
    }

    @media screen and (min-width: $desktop) {
      left: -2.6%;
      bottom: 15%;
    }

    &::before {
      display: inline-block;
      content: '';
      width: 60px;
      height: 1px;
      margin-right: 20px;
      color: $primary-text-color;
    }
  }
}

.siema {
  width: 100%;
  height: 100%;
}

.siema-buttons {
  display: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    display: flex;
    right: 55px;
    bottom: 40px;
  }
}

.slider-button {
  display: inline-block;

  min-width: 60px;
  padding: 8px 0;
  margin: 0;

  border: transparent;
  border-bottom: 1px solid rgba($secondary-text-color, 0.6);
  background-color: transparent;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba($secondary-text-color, 0.6);
  cursor: pointer;

  transition: color $timming, border-color $timming;

  &:hover,
  &:focus,
  &:active {
    color: $primary-white-color;
    border-color: $primary-white-color;
    outline: none;
  }
}

.prev {
  margin-right: 26px;

  text-align: left;
}

.next {
  text-align: right;
}

.slider-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
