@import 'src/sass/utils/_vars.scss';

/*Header*/

header {
  background-color: $primaryBackgroundColor;
}
 


.nav-list {
  display: none;
}

.nav {
  display: flex;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;


&__logo {
  display: block;
  height: 50px;
}
}

// Hero
.hero {
  
  &__pictures-milk,
  &__pictures-eat {
    display: none;

&__pictures-ice {
  position: absolute;
  bottom: 0;
  left: 117px;
  z-index: -1;
  
}

  &__picture::after {
    content: "";
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: $secondaryColor;
    display: block;
    position: absolute;
    z-index: -2;
    top: 83px;
    left: 36px;}
}

}
 

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
}
.btn-burger {
  margin-left: auto;
  margin-right: 32px;
}

.btn-nav {
  background: $whiteColor;
  border-radius: 22px;
  padding: 10px 37px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $primaryColor;
  gap: 12px;
  cursor: pointer;
  transition: background-color 250ms $main-transition-timing-function;
  &:hover {
    background-color: #ECEBEB;
  }
  }
  .hero__pictures-milk,
  .hero__pictures-eat {
      display: block;
  }
  
}

@media screen and (min-width: 1280px) {
  .btn-burger {
    display: none;
}


.nav {
  &__list {
    display: flex;
    justify-content: center;
  }
&__list-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: $whiteColor;
  text-decoration: none;
  transition: color 250ms $main-transition-timing-function;
  cursor: pointer;
   
  &:hover {
    color: $primaryColor;
  }
}
  &__list-item:not(:last-child) {
      margin-right: 35px;
    }
}

.btn-nav {
background: $whiteColor;
border-radius: 22px;
padding: 10px 37px;
border: none;
font-weight: 700;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: $primaryColor;
gap: 12px;
cursor: pointer;
transition: background-color 250ms $main-transition-timing-function;
&:hover {
  background-color: #ECEBEB;
}
}

// Hero
 
.hero-section {
  position: relative;
 

}

.hero {
  position: relative;
  &__title {
    font-family: 'Titan One';
font-size: 38px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $whiteColor;}
&__title-second {
font-size: 58px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $primaryColor;

  }
&__btn {
  display: flex;
  gap: 12px;

}
  &__btn-type-first {
    font-size: 14px;
    line-height: 18px;
    color: $whiteColor;
    background: $primaryColor;
    border-radius: 20px;
    border: none;
    padding: 11px 23px;
    cursor: pointer;
  }
  &__btn-type-second {
    font-size: 14px;
    line-height: 18px;
    color: $primaryColor;
    background: $whiteColor;
    border-radius: 20px;
    border: none;
    padding: 11px 23px;
    cursor: pointer;
  }
  &__about-milk{
    
    padding-bottom: 84px;
    width: 470px;
    padding-left: 286px;
    
  }
  &__about-milk-details {
     font-size: 14px;
    line-height: 140%;
    color: $whiteColor;
    margin-bottom: 20px;
  }
  &__number-list {
    padding-bottom: 156px;
    
  }
&__title{
  display: flex;
  flex-direction: column;
  width: 277px;
}

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  
    
  }
  
  &__number-list-text{
     font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: $whiteColor;
    display: flex;
    flex-direction: column;
  }
  &__number-list-nr{
    font-family: 'Titan One';
font-size: 46px;
line-height: 53px;
text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;
color:$primaryColor;
display: flex;
flex-direction: column;
&::before {
content: "";
width: 30px;
height: 30px;
background: $whiteColor;
border-radius: 50%;
position: absolute;
right: 0;
}

  }
&__pictures-eat {
   
  padding-right: 16px;
  right: 0;
  left: auto;
  
  position: absolute;
         
        bottom: 0;
        
        z-index: 1;
}

&__pictures-ice {
    position: absolute;
     bottom: 0;
      right: 328px;
      &::before {
        content: "";
        background-image: url(../images/circle.png);
        background-repeat: no-repeat;
        background-position:  top 100% right 37%, top 40% right 25%; 
        z-index: 100;
      }
}

&__pictures-milk {
 position: absolute;
   bottom: 60px;
  padding: 0;
        
}


  &__picture {
    &::after {
         position: absolute;
        width: 534px;
        height: 534px;
        top: 54px;
       left: 519px;
    }
  }
}
}




// @media screen and (min-width: 1280px) {
//   .header {
//     background-color: $primaryBackgroundColor;
//   }

//   .container-header {
//     width: 1280px;
//     margin: auto;
//     height: 664px;
//   }

//   .header-nav {
//     display: flex;
//     margin: auto;
//     align-items: center;
//     width: 1280px;
//     padding-top: 37px;
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-left: 16px;
//     padding-right: 16px;
//   }
//   .nav {
//     &__list {
//       display: flex;
//       padding: 0;
//       gap: 35px;
//     }

//     &__list-item {
//       line-height: 21px;
//       letter-spacing: 0em;
//       text-align: left;
//       text-decoration: none;
//       color: $whiteColor;
//       font-size: 16px;
//       font-weight: 700;
//       z-index: 5;
//       position: relative;
//     }

//     &__list-item:hover {
//       color: $primaryColor;
//       transition: $main-transition-timing-function;
//     }
//   }

//   .header-logo {
//     margin-right: 128px;
//   }

//   .btn-nav {
//     height: 44px;
//     width: 159px;
//     border-radius: 22px;
//     border: 0px;
//     font-family: DM Sans;
//     font-size: 16px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: center;
//     color: $primaryColor;
//     margin-left: 141px;

//     &:hover {
//       background-color: #ecebeb;
//       cursor: pointer;
//       transition: $main-transition-timing-function;
//     }

//     &__svg {
//       margin-left: 12px;
//     }
//   }

//   .hero {
//     width: 1280px;
//     margin: auto;
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-right: 16px;
//     padding-left: 16px;
//   }

//   .hero-group {
//     display: flex;
//   }


//   .hero-btn {
//     display: flex;
//     margin-top: 24px;

//     &__list {
//       display: flex;
//       gap: 12px;
//       padding: 0;
//       margin: 0;
//     }

//     &__list-first {
//       height: 40px;
//       width: 107px;
//       border-radius: 20px;
//       border: 0;
//       color: $primaryColor;
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 400;
//       line-height: 18px;
//       letter-spacing: 0em;
//       text-align: center;
//     }
//     &__list-first:hover {
//       background-color: $primaryColor;
//       cursor: pointer;
//       color: $whiteColor;
//       transition: $main-transition-timing-function;
//     }

//     &__list-second {
//       height: 40px;
//       width: 138px;
//       border-radius: 20px;
//       border: 0;
//       color: $primaryColor;
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 400;
//       line-height: 18px;
//       letter-spacing: 0em;
//       text-align: center;
//     }

//     &__list-second:hover {
//       background-color: $primaryColor;
//       cursor: pointer;
//       color: $whiteColor;
//       transition: $main-transition-timing-function;
//     }
//   }

//   .hero-number {
//     display: flex;

//     &__list {
//       display: flex;
//       flex-direction: column;
//       padding: 0;
//       margin: 0;
//       margin-left: 819px;
//       margin-top: 72px;
//     }

//     &__list-nr {
//       font-family: Titan One;
//       font-size: 46px;
//       font-weight: 400;
//       line-height: 53px;
//       letter-spacing: 0.04em;
//       text-align: right;
//       color: $primaryColor;
//     }

//     &__list-text {
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 400;
//       line-height: 18px;
//       letter-spacing: 0em;
//       text-align: right;
//       color: $whiteColor;
//       height: 18px;
//       width: 74px;
//       border-radius: nullpx;
//     }
//   }

//   .hero-milk {
//     display: flex;
//     flex-direction: column;

//     &__paragraf {
//       height: 78px;
//       width: 200px;
//       border-radius: nullpx;
//       font-size: 14px;
//       font-weight: 400;
//       line-height: 20px;
//       letter-spacing: 0em;
//       text-align: left;
//       color: $whiteColor;
//       margin-top: 94px;
//       margin-bottom: 0;
//     }
//   }

//   .hero-btn-milk {
//     height: 26px;
//     width: 26px;
//     border-radius: 50%;
//     border: 0;
//     display: flex;
//   }

//   .arrow-button-mod {
//     margin-left: 0;
//   }

//   .arrow-button:hover {
//     background-color: $primaryColor;
//     cursor: pointer;
//     & svg {
//       fill: $whiteColor;
//       transform: rotate(90deg);
//     }
//   }

//   .hero-btn-milk-mod {
//     padding-top: 20px;
//   }

//   .hero-milk-cont {
//     display: flex;
//     width: 413px;
//     margin: 0;

//     &__image-mod {
//       height: 216px;
//       width: 213px;
//       border-radius: 0px;
//       margin-top: 40px;
//     }
//   }

//   .ice-cup {
//     margin-left: 676px;
//     top: 108px;
//     position: absolute;
//     z-index: 5;

//     &__image {
//       height: 557px;
//       width: 236px;
//       border-radius: 0px;
//     }
//   }

//   .eat-ice {
//     position: absolute;
//     margin-left: 920px;
//     top: 423px;
//     z-index: 5;

//     &__image {
//       height: 241px;
//       width: 304px;
//       border-radius: 0px;
//     }
//   }

//   .hero-eclips {
//     height: 534px;
//     width: 534px;
//     margin-left: 557px;
//     top: 54px;
//     border-radius: 50%;
//     background-color: $secondaryColor;
//     position: absolute;
//   }
// }

// /*Tableta*/

// @media screen and (min-width: 768px) {
//   .header {
//     background-color: $primaryBackgroundColor;
//   }
//   .container-header {
//     height: 416px;
//     margin: 0 auto;
//   }

//   .header-nav {
//     width: 1280px;
//     margin: 0 auto;
//     padding-top: 32px;
//     padding-left: 32px;
//     padding-right: 16px;
//     display: flex;
//   }

//   .header-logo {
//     margin-right: 128px;
//   }

//   .nav {
//     visibility: hidden;
//   }

//   .btn-nav {
//     height: 44px;
//     width: 159px;
//     border-radius: 22px;
//     border: 0px;
//     font-family: DM Sans;
//     font-size: 16px;
//     font-weight: 700;
//     line-height: 21px;
//     letter-spacing: 0em;
//     text-align: center;
//     color: $primaryColor;
//     margin-left: 141px;

//     &:hover {
//       background-color: #ecebeb;
//       cursor: pointer;
//       transition: $main-transition-timing-function;
//     }

//     &__svg {
//       margin-left: 12px;
//     }
//   }

//   .hero {
//     width: 1280px;
//     margin: auto;
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-right: 16px;
//     padding-left: 32px;
//   }

//   .hero-group {
//     display: flex;
//   }

//   .hero-title {
//     height: 80px;
//     width: 162px;
//     border-radius: nullpx;
//     font-family: Titan One;
//     font-weight: 400;
//     letter-spacing: 0.04em;
//     text-align: left;
//     cursor: pointer;
//     margin-top: -9.7px;

//     &__first {
//       font-size: 20px;

//       color: $whiteColor;
//     }
//     &__second {
//       font-size: 20px;

//       color: $whiteColor;
//     }

//     &__last {
//       font-size: 28px;

//       color: $primaryColor;
//     }
//   }

//   .hero-btn {
//     display: flex;
//     margin-top: 24px;

//     &__list {
//       display: flex;
//       gap: 12px;
//       padding: 0;
//       margin: 0;
//       margin-top: -3.7px;
//     }

//     &__list-first {
//       height: 24px;
//       width: 62.39999771118164px;
//       border-radius: 20px;
//       border: 0;
//       color: $primaryColor;
//       font-family: DM Sans;
//       font-size: 8px;
//       font-weight: 400;
//       line-height: 10px;
//       letter-spacing: 0em;
//       text-align: center;
//     }
//     &__list-first:hover {
//       background-color: $primaryColor;
//       cursor: pointer;
//       color: $whiteColor;
//       transition: $main-transition-timing-function;
//     }

//     &__list-second {
//       height: 24px;
//       width: 82.79999542236328px;
//       border-radius: nullpx;
//       border-radius: 20px;
//       border: 0;
//       color: $primaryColor;
//       font-family: DM Sans;
//       font-size: 8px;
//       font-weight: 400;
//       line-height: 10px;
//       letter-spacing: 0em;
//       text-align: center;
//     }

//     &__list-second:hover {
//       background-color: $primaryColor;
//       cursor: pointer;
//       color: $whiteColor;
//       transition: $main-transition-timing-function;
//     }
//   }

//   .hero-number {
//     display: flex;

//     &__list {
//       display: flex;
//       flex-direction: column;
//       padding: 0;
//       margin: 0;
//       margin-left: 499px;
//       margin-top: -21.5px;
//     }

//     &__list-nr {
//       height: 32px;
//       width: 33px;
//       left: 693px;
//       top: 94px;
//       border-radius: nullpx;
//       font-family: Titan One;
//       font-size: 28px;
//       font-weight: 400;
//       line-height: 32px;
//       letter-spacing: 0.04em;
//       text-align: right;

//       color: $primaryColor;
//     }

//     &__list-text {
//       font-family: DM Sans;
//       font-size: 14px;
//       font-weight: 400;
//       line-height: 18px;
//       letter-spacing: 0em;
//       text-align: right;
//       color: $whiteColor;
//       height: 18px;
//       width: 74px;
//       border-radius: nullpx;
//     }
//   }

//   .hero-milk {
//     display: flex;
//     flex-direction: column;

//     &__paragraf {
//       height: 48px;
//       width: 114px;
//       border-radius: nullpx;
//       text-align: left;
//       color: $whiteColor;
//       font-family: DM Sans;
//       font-size: 8px;
//       font-weight: 400;
//       line-height: 12px;
//       letter-spacing: 0em;
//       text-align: left;
//       margin-top: 61px;
//     }
//   }

//   .hero-btn-milk {
//     height: 26px;
//     width: 26px;
//     border-radius: 50%;
//     border: 0;
//     display: flex;
//   }

//   .arrow-button-mod {
//     margin-left: 0;
//   }

//   .arrow-button:hover {
//     background-color: $primaryColor;
//     cursor: pointer;
//     & svg {
//       fill: $whiteColor;
//       transform: rotate(90deg);
//     }
//   }

//   .hero-btn-milk-mod {
//     padding-top: 20px;

//     &__svg {
//       width: 25px;
//       height: 25px;
//     }
//   }

//   .hero-milk-cont {
//     display: flex;
//     width: 413px;
//     margin: 0;

//     &__image-mod {
//       height: 154px;
//       width: 152px;
//       border-radius: 0px;
//       margin-top: 20px;
//     }
//   }

//   .ice-cup {
//     z-index: 5;
//     margin-left: 322px;
//     position: absolute;
//     top: 80px;

//     &__image {
//       height: 336px;
//       width: 143px;
//       border-radius: 0px;
//     }
//   }

//   .eat-ice {
//     position: absolute;
//     margin-left: 546px;
//     top: 265px;
//     z-index: 5;

//     &__image {
//       height: 150px;
//       width: 190px;
//       left: 546px;
//       top: 265px;
//       border-radius: 0px;
//     }
//   }

//   .hero-eclips {
//     height: 333px;
//     width: 335px;
//     left: 248px;
//     top: 43px;
//     border-radius: 50%;
//     background-color: $secondaryColor;
//     position: absolute;
//   }
// }

// /*Mobil*/

// @media screen and (min-width: 320px) and (max-width: 768px) {
//   .header {
//     background-color: $primaryBackgroundColor;
//   }
//   .container-header {
//     height: 502px;
//   }

//   .header-nav {
//     width: 1280px;
//     margin: 0 auto;
//     padding-left: 20px;
//     padding-right: 20px;
//     display: flex;
//     padding-top: 8px;
//   }

//   .header-logo {
//     margin-right: 128px;
//   }

//   // .nav {
//   //   visibility: hidden;
//   // }

//   // .btn-nav {
//   //   visibility: hidden;
//   // }

//   .hero {
//     width: 1280px;
//     margin: auto;
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-left: 20px;
//     padding-right: 20px;
//   }

//   .hero-group {
//     display: flex;
//   }

//   .hero-title {
//     height: 106px;
//     width: 218px;
//     border-radius: nullpx;
//     font-family: Titan One;
//     font-weight: 400;
//     letter-spacing: 0.04em;
//     text-align: left;
//     cursor: pointer;
//     margin-top: 105.5px;
//     z-index: 100;
//     position: relative;

//     &__first {
//       font-size: 26px;
//       line-height: 30px;
//       color: $whiteColor;
//     }
//     &__second {
//       font-size: 26px;
//       line-height: 30px;
//       color: $whiteColor;
//     }

//     &__last {
//       font-size: 48px;
//       line-height: 46px;
//       color: $primaryColor;
//     }
//   }

//   .hero-btn {
//     display: flex;
//     margin-top: 24px;

//     &__list {
//       display: flex;
//       gap: 12px;
//       padding: 0;
//       margin: 0;
//       margin-top: -3.7px;
//       z-index: 100;
//     }

//     &__list-first {
//       height: 24px;
//       width: 61.20000076293945px;
//       border-radius: nullpx;
//       border-radius: 20px;
//       border: 0;
//       color: $primaryColor;
//       font-size: 8px;
//       line-height: 10px;
//       letter-spacing: 0em;
//       text-align: center;
//     }
//     &__list-first:hover {
//       background-color: $primaryColor;
//       cursor: pointer;
//       color: $whiteColor;
//       transition: $main-transition-timing-function;
//     }

//     &__list-second {
//       height: 24px;
//       width: 82.79999542236328px;
//       border-radius: nullpx;
//       border-radius: 20px;
//       border: 0;
//       color: $primaryColor;
//       font-family: DM Sans;
//       font-size: 8px;
//       font-weight: 400;
//       line-height: 10px;
//       letter-spacing: 0em;
//       text-align: center;
//     }

//     &__list-second:hover {
//       background-color: $primaryColor;
//       cursor: pointer;
//       color: $whiteColor;
//       transition: $main-transition-timing-function;
//     }
//   }

//   // .hero-number {
//   //   visibility: hidden;
//   // }

//   // .hero-milk {
//   //   visibility: hidden;
//   // }

//   // .hero-btn-milk {
//   //   visibility: hidden;
//   // }

//   // .arrow-button-mod {
//   //   visibility: hidden;
//   // }

//   // .hero-milk-cont {
//   //   visibility: hidden;
//   // }

//   .ice-cup {
//     z-index: 5;
//     margin-left: 117px;
//     position: absolute;
//     top: 92px;

//     &__image {
//       height: 410px;
//       width: 171px;

//       border-radius: 0px;
//     }
//   }

//   // .eat-ice {
//   //   visibility: hidden;
//   // }

//   .hero-eclips {
//     height: 344px;
//     width: 346px;
//     top: 83px;
//     border-radius: 0px;
//     margin-left: 36px;
//     top: 83px;
//     border-radius: 50%;
//     background-color: $secondaryColor;
//     position: absolute;
//   }
// }
