.conteiner.hero-conteiner {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  padding-left: 20px;
  padding-bottom: 320px;

  @media screen and (min-width: $mobile-width) {
    width: $mobile-width;
  }

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 38px 34px 320px 34px;
  }
}

// Герой
.hero-header {
  position: relative;
  background-color: #ffb8ca;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 345px;
    height: 345px;
    top: 83px;
    left: 36px;
    background-color: #ffa5ba;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 410px;
    top: 105px;
    left: 117px;
    background-image: url(/images/mobile/hero-header/ice-cream.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media screen and (min-resolution: 2dppx) {
      background-image: url(/images/mobile/hero-header/ice-cream@2x.png);
      background-size: contain;
    }
  }
}

.hero-block {
  position: absolute;
  z-index: 1;
}

.hero-button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;

  padding: 9px 13px;
  border-radius: 20px;
}

.hero-button.info-products {
  background-color: #d41443;
  color: #fff;
}

.hero-button.info-button {
  background-color: #fff;
  color: #d41443;
}

.hero-title {
  margin-bottom: 19px;
}
.text-cream {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

.text-passion {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.97;

  text-transform: uppercase;

  color: #d41443;
}
