@import 'src/sass/utils/_vars.scss';

/*Header*/

.btn-nav {
  display: none;
}

header {
  background-color: $primaryBackgroundColor;
}

.nav {
  display: none;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    display: block;
    height: 50px;
  }
}

// Hero

.hero {
  position: relative;
  &__title {
    font-family: 'Titan One';
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $whiteColor;
  }
  &__title-second {
    font-size: 58px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primaryColor;
  }
  &__btn {
    display: flex;
    gap: 12px;
  }
  &__btn-type-first,
  &__btn-type-second {
    font-size: 14px;
    line-height: 18px;
    color: $whiteColor;
    background: $primaryColor;
    border-radius: 20px;
    border: none;
    padding: 11px 23px;
    cursor: pointer;
  }
  &__btn-type-second {
    background: $whiteColor;
  }

  &__about-milk {
    padding-bottom: 84px;
    width: 470px;
    padding-left: 286px;
  }
  &__about-milk-details {
    font-size: 14px;
    line-height: 140%;
    color: $whiteColor;
    margin-bottom: 20px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 277px;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__number-list-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $whiteColor;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__number-list-nr {
    font-family: 'Titan One';
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    z-index: 3;
    color: $primaryColor;
    display: flex;
    flex-direction: column;
  }
}

.hero {
  &__pictures-milk,
  &__pictures-eat {
    display: none;

    &__pictures-ice {
      position: absolute;
      bottom: 0;
      left: 117px;
    }

    //   &__pictures::after {
    //     content: "";
    //     width: 346px;
    //     height: 344px;
    //     border-radius: 50%;
    //     background-color: $secondaryColor;
    //     display: block;
    //     position: absolute;
    //     z-index: -2;
    //     top: 83px;
    //     left: 36px;}
    // }
  }
}

@media screen and (min-width: 768px) {
  .btn-wrapper {
  display: flex;
    gap: 32px;
  }
  .arrow-button--mod {
    width: 18px;
    height: 18px;}
    .arrow-button__svg {
      width: 11px;}
  .header {
    padding-top: 32px;
  }
  .hero-section {
    padding-left: 32px;
    padding-right: 32px;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      padding-bottom: 20px;
    }
  }
}
.container-header {
  padding-left: 32px;
  padding-right: 32px;
  width: 786px;
}
.hero {
  position: relative;
  &__about-milk {
    z-index: 3;
    padding-bottom: 35px;
    padding-left: 155px;
    position: relative;
    padding-top: 35px;
  }
  
  &__title {
    font-family: 'Titan One';
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $whiteColor;
  }
  &__title-second {
    font-size: 34px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primaryColor;
  }

  &__btn {
    display: flex;
    gap: 12px;
  }
  &__btn-type-first {
    font-size: 8px;
    line-height: 10px;
    color: $whiteColor;
    background: $primaryColor;
    border-radius: 20px;
    border: none;
    padding: 10px 17px;
    cursor: pointer;
  }
  &__btn-type-second {
    color: $primaryColor;
    background: $whiteColor;
    font-size: 8px;
    line-height: 10px;
    border-radius: 20px;
    border: none;
    padding: 10px 17px;
    cursor: pointer;
  }

  &__about-milk-details {
    font-size: 8px;
    line-height: 150%;
    color: $whiteColor;
    margin-bottom: 20px;
    width: 115px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 10px;
  }

  &__number-list-text {
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: $whiteColor;
    display: flex;
    flex-direction: column;
    
    
  }
  &__number-list-nr {
    font-family: 'Titan One';
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primaryColor;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    &::after {
      content: '';
      z-index: -1;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      bottom: 29px;
      right: -5px;
      width: 16px;
      height: 16px;
    }
  }
  &__pictures-eat {
    position: absolute;
    right: 32px;
    bottom: 0;
    height: 150px;
    z-index: 3;
  }

  &__pictures-ice {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 143px;
    right: 304px;
  }

  &__pictures-milk {
    position: absolute;
    bottom: 16px;
    width: 152px;
  }

  &__pictures {
    z-index: 1;
    &::after {
      content: '';
      background-color: #ffa5ba;
      z-index: 2;
      border-radius: 50%;
      position: absolute;
      width: 335px;
      height: 335px;
      bottom: 35px;
      right: 189px;
    }
  }
}

.btn-nav {
  background: $whiteColor;
  border-radius: 22px;
  padding: 10px 37px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $primaryColor;
  gap: 12px;
  cursor: pointer;
  transition: background-color 250ms $main-transition-timing-function;
  &:hover {
    background-color: #ecebeb;
  }
}
.hero__pictures-milk,
.hero__pictures-eat {
  display: block;
}

@media screen and (min-width: 1280px) {
  .container-header {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 3;
  }
  .nav {
    display: flex;
    &__list {
      display: flex;
      justify-content: center;
    }
    &__list-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: $whiteColor;
      text-decoration: none;
      transition: color 250ms $main-transition-timing-function;
      cursor: pointer;

      &:hover {
        color: $primaryColor;
      }
    }
    &__list-item:not(:last-child) {
      margin-right: 35px;
    }
  }

  .btn-nav {
    background: $whiteColor;
    border-radius: 22px;
    padding: 10px 37px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $primaryColor;
    gap: 12px;
    cursor: pointer;
    transition: background-color 250ms $main-transition-timing-function;
    &:hover {
      background-color: #ecebeb;
    }
  }

  // Hero

  .hero-section {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    &__wrapper {
      padding-top: 60px;
      padding-bottom: 40px;
      padding-right: 16px;
    }
  }

  .hero {
    position: relative;
    &__title {
      font-family: 'Titan One';
      font-size: 38px;
      line-height: 44px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $whiteColor;
    }
    &__title-second {
      font-size: 58px;
      line-height: 44px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $primaryColor;
    }
    &__btn {
      display: flex;
      gap: 12px;
    }
    &__btn-type-first {
      font-size: 14px;
      line-height: 18px;
      color: $whiteColor;
      background: $primaryColor;
      border-radius: 20px;
      border: none;
      padding: 11px 23px;
      cursor: pointer;
    }
    &__btn-type-second {
      font-size: 14px;
      line-height: 18px;
      color: $primaryColor;
      background: $whiteColor;
      border-radius: 20px;
      border: none;
      padding: 11px 23px;
    }
    &__about-milk {
      padding-bottom: 84px;
      width: 470px;
      padding-left: 286px;
    }
    &__about-milk-details {
      font-size: 14px;
      line-height: 140%;
      color: $whiteColor;
      margin-bottom: 20px;
    }
    &__number-list {
      padding-bottom: 156px;
    }
    &__title {
      display: flex;
      flex-direction: column;
      width: 277px;
    }

    &__title-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: absolute;
    }

    &__number-list-text {
      font-size: 14px;
      line-height: 18px;
      text-align: right;
      color: $whiteColor;
      display: flex;
      flex-direction: column;
      
    }
    &__number-list-nr {
      font-family: 'Titan One';
      font-size: 46px;
      line-height: 53px;
      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $primaryColor;
      display: flex;
      flex-direction: column;
      z-index: 3;
      position: relative;
      &::after {
        content: '';
        z-index: -1;
        background-color: #fff;
        border-radius: 50%;
        display: block;
        position: absolute;
        right: -15px;
        bottom: 49px;
        width: 30px;
        height: 30px;
      }
    }

    &__pictures-eat {
      padding-right: 16px;
      right: 0;
      left: auto;

      position: absolute;

      bottom: 0;
      height: 241px;
      z-index: 3;
    }

    &__pictures-ice {
      position: absolute;
      bottom: 0;
      right: 328px;
      z-index: 3;
    }

    &__pictures-milk {
      position: absolute;
      bottom: 60px;
      padding: 0;
    }

    &__pictures {
      z-index: 1;
      &::after {
        content: '';
        background-color: #ffa5ba;
        z-index: 2;
        border-radius: 50%;
        position: absolute;
        width: 534px;
        height: 534px;
        bottom: 150px;
        right: 161px;
      }
    }
  }
}
