.making {
  position: relative;
  padding-top: 125px;
  padding-bottom: 145px;
  background-color: $secondary-bg-color;
  background-image: url('../images/mobile/bg-milk.png');
  background-position: center 750px;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/mobile/bg-milk@2x.png');
  }

  @include for-size(tablet) {
    background-image: none;
  }

  @include for-size(desktop) {
    background-image: url('../images/desktop/bg-milk.png');
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/bg-milk@2x.png');
    }
  }

  @include for-size(tablet) {
    padding-bottom: 246px;
  }
  @include for-size(tablet-only) {
    padding-top: 130px;
  }
  @include for-size(desktop) {
    padding-bottom: 310px;
  }
}

.making__subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  @include font(400, 18px, 1.17, $title-font);
  text-align: center;
  text-transform: uppercase;
  color: $sub-title-color;
  // animation-name: subtitlehm;
  // animation-duration: 3000ms;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;

  @include for-size(tablet) {
    @include font(400, 26px, 1.15, $title-font);
    margin-bottom: 16px;
  }

  @include for-size(desktop) {
    @include font(400, 30px, 1.13, $title-font);
    margin-bottom: 15px;
  }
}

// @keyframes subtitlehm {
//   0% {
//     transform: translateY();
//   }
//   50% {
//     transform: translateY(30%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }

.making__title {
  margin-top: 0;
  margin-bottom: 26px;
  @include font(400, 34px, 1.15, $title-font);
  text-align: center;
  text-transform: uppercase;
  color: $accent-color;
  // animation-name: titlehm;
  // animation-duration: 3000ms;
  // animation-timing-function: linear;
  // // animation-delay: 2500ms;
  // animation-iteration-count: infinite;

  @include for-size(tablet) {
    margin-bottom: 50px;
    @include font(400, 48px, 1.15, $title-font);
  }

  @include for-size(desktop) {
    margin-bottom: 55px;
    @include font(400, 58px, 1.13, $title-font, 0.06);
  }
}

// @keyframes titlehm {
//   0% {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(-20%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }

.making__img {
  @media screen and (max-width: 767px) {
    display: flex;
    animation: cow-m 3500ms ease-in-out 1000ms infinite;
    margin-bottom: 46px;
  }

  @include for-size(tablet) {
    animation: cow-t 3500ms ease-in-out 1000ms infinite;
    margin-right: 17px;
    flex-basis: calc((100% - 17px) / 2);
  }

  @include for-size(desktop) {
    animation: cow 3500ms ease-in-out 1000ms infinite;
    margin-right: 74px;
    flex-basis: calc((100% - 74px) / 2);
  }
}
@keyframes cow-m {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cow-t {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.02) translateY(8%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes cow {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.06) translateY(-8%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.making__wrapper {
  margin-bottom: 39px;

  @include for-size(tablet) {
    @include flexbox(center, stretch);
    margin-bottom: 66px;
  }

  @include for-size(desktop) {
    margin-bottom: 39px;
  }
}
.making__wrapper-text {
  @media screen and (max-width: 767px) {
    max-width: 220px;
  }
  @include for-size(tablet) {
    flex-basis: calc((100% - 17px) / 2);
  }

  @include for-size(desktop) {
    flex-basis: calc((100% - 74px) / 2);
  }
}

.making__text-dark {
  @include font(500, 12px, 1.62);
  color: $primary-text-color;
  margin-bottom: 30px;

  @include for-size(tablet) {
    padding-top: 35px;
    @include font(500, 14px, 1.76);
    margin-bottom: 50px;
  }

  @include for-size(desktop) {
    @include font(500, 16px, 1.76);
    margin-bottom: 35px;
  }
}

.making__text-light {
  @include font(500, 12px, 1.62);
  color: $secondary-text-color;

  @include for-size(tablet) {
    @include font(500, 14px, 1.76);
  }

  @include for-size(desktop) {
    @include font(500, 14px, 1.94);
  }

  &--f {
    margin-bottom: 10px;
    @include for-size(tablet) {
      margin-bottom: 14px;
    }

    @include for-size(desktop) {
      margin-bottom: 32px;
    }
  }

  &--s {
    margin-bottom: 17px;
    @include for-size(tablet) {
      margin-bottom: 62px;
    }

    @include for-size(desktop) {
      margin-bottom: 45px;
    }
  }
}

.making__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 37px;
  height: 44px;
  border-radius: 22px;
  background-color: $white-color;
  text-decoration: none;
  @include font(700, 14px, 1.29);
  color: $accent-color;

  @include for-size(tablet) {
    @include font(700, 16px, 1.31);
  }

  &:hover,
  &:focus {
    background-color: $accent-btn-color;
  }
}

.making__btn-icon {
  margin-left: 14px;
  width: 7px;
  height: 10px;
}

.making__list {
  @include for-size(tablet) {
    @include flexbox(flex-start, baseline);
  }

  @include for-size(desktop) {
    margin: -15px;
  }
}

.making__item {
  &:not(:last-child) {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 38px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 180px;
    &:not(:last-child) {
      margin-right: 60px;
    }
    flex-basis: calc((100% - 30px * 6) / 3);
  }

  @include for-size(desktop) {
    margin: 15px;
    flex-basis: calc((100% - 15px * 6) / 3);
  }
}

.making__item-img {
  margin-bottom: 16px;
  @include for-size(tablet) {
    margin-bottom: 36px;
  }

  @include for-size(desktop) {
    margin-bottom: 40px;
  }
}

.icon1 {
  width: 33px;
  height: 50px;
}
.icon2 {
  width: 50px;
  height: 50px;
}
.icon3 {
  width: 44px;
  height: 50px;
}

.making__data {
  display: block;
  color: $accent-color;
  animation-name: animate115;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-delay: 1000ms;
  animation-iteration-count: infinite;

  @include font(400, 36px, 1.14, $title-font);

  @include for-size(tablet) {
    @include font(400, 48px, 1.15, $title-font);
  }

  @include for-size(desktop) {
    @include font(400, 58px, 1.13, $title-font);
  }
}

@keyframes animate115 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.making__item-text {
  @include font(700, 12px, 1.7);
  color: $primary-text-color;

  @include for-size(tablet) {
    @include font(700, 14px, 1.74);
  }

  @include for-size(desktop) {
    @include font(500, 16px, 1.76);
  }
}

.collage-img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 60%);
  width: 320px;

  @include for-size(tablet) {
    width: 740px;
  }

  @include for-size(desktop) {
    width: 1090px;
  }
}
