.input {
  display: block;
  width: 280px;
  min-height: 48px;
  padding: 15px 28px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: text;
  border: 1px solid var(--light-color);
  color: var(--light-color);
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  &::placeholder {
    color: var(--light-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
  }
  &:hover,
  :active,
  :focus {
    outline: none;
    border: 1px solid var(--acsent-color);
  }
  &:not(:placeholder-shown):invalid {
    border-color: red;
  }
  @media screen and (min-width: 768px) {
    width: 390px;
  }
  @media screen and (min-width: 1366px) {
    width: 478px;
    min-height: 70px;
    padding: 23px 40px;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
    ::placeholder {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
