.location-is-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal-locations {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items:center;

  transition: opacity 250ms linear;
  &__inside {
    position: relative;
    width: 550px;
    height: 600px;
    background: #fff5f6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #ffa5ba;

    fill: #d41443;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__button:hover {
    fill: black;
    cursor: pointer;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: crimson;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
.container-modal {
  position: relative;
  &__svg {
    position: absolute;
    top: 230px;
    right: 240px;
    height: 90px;
    width: 90px;
    animation: col 2s linear infinite;

    @keyframes col {
      0%,
      25% {
        fill: crimson;
      }
      25%,
      50% {
        fill: purple;
      }
      50%,
      75% {
        fill: chartreuse;
      }
      75%,
      100% {
        fill: cyan;
      }
    }
  }
}
.frame-locations {
  display: flex;
  width: 450px;
  height: 400px;
  justify-content: center;
  align-items: center;
  border: 2px solid palevioletred;
  margin: 40px;
  &__form {
    justify-content: center;
    display: flex;
  }
  &__button {
    background: pink;
    height: 42px;
    color: black;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    width: 120px;
  }
  &__button:hover,
  &__button:focus {
    background: #d41443;
  }
}
