.locations {
    background: #FFF5F6;
    &__store {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding-left: 17px;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.31;
        display: flex;
        align-items: center;
        text-align: center;
        color: $white-text-color;
        width: 161px;
        background: #D41342;
        border-radius: 22px;
        border: 1px solid transparent;
        cursor: pointer;
        &__svg {
            width: 3.61px;
            height: 8px;
            margin: 19px 18px 17px 10px;
        }
    }
    &__franchise {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 113px;
        padding-left: 32px;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        width: 161px;
        color: $primary-title-accent-color;
        background: #FFFFFF;
        border-radius: 22px;
        border: 1px solid transparent;
        cursor: pointer;
        &__svg {
            width: 4.28px;
            height: 8px;
            margin: 19px 31px 17px 13px;
        }
    }
}

.locations__item {
    position: relative;
    height: 427px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 35px;
    margin-left: 35px;
    &:last-child {
        margin-bottom: 54px;
    }
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    &__title {
        position: absolute;
        margin: 43px 120px 25px 20px;
        padding-left: 25px;
        padding-right: 25px;
        width: 80px;
        height: 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.83;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: $white-text-color;
        background: $yellow-bg-color;
        border-radius: 4px;
        &__accent {
            position: absolute;
            margin: 43px 70px 25px 20px;
            padding-left: 25px;
            padding-right: 25px;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.83;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            color: $white-text-color;
            background: $green-bg-color;
            border-radius: 4px;
            width: 130px;
        }
    }
    &__city-first {
        position: absolute;
        top: 84px;
        padding-left: 20px;
        margin-bottom: 10px;
        width: 57.01px;
        height: 22px;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        letter-spacing: 0.04em;
        color: $primary-text-color;
        font-style: normal;
    }
    &__city-second {
        position: absolute;
        top: 84px;
        padding-left: 20px;
        margin-bottom: 10px;
        // width: 89px;
        height: 22px;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        letter-spacing: 0.04em;
        color: $primary-text-color;
    }
    &__city-third {
        position: absolute;
        top: 84px;
        padding-left: 20px;
        margin-bottom: 10px;
        width: 80px;
        height: 22px;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        letter-spacing: 0.04em;
        color: $primary-text-color;
    }
    &__description {
        position: absolute;
        box-sizing: content-box;
        top: 116px;
        padding-right: 21px;
        padding-left: 20px;
        margin-bottom: 25px;
        width: 179px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: $grey-text-color;
    }
    &__workdays {
        position: absolute;
        box-sizing: content-box;
        top: 202px;
        padding-right: 93px;
        padding-left: 20px;
        width: 107px;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        color: $primary-text-color;
        &__schedule {
            position: absolute;
            box-sizing: content-box;
            top: 222px;
            width: 162px;
            // margin-top: 18px;
            padding-left: 20px;
            padding-right: 38px;
        }
    }
    &__weekend {
        position: absolute;
        box-sizing: content-box;
        top: 250px;
        margin-top: 10px;
        padding-right: 79px;
        padding-left: 20px;
        width: 120px;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        color: $primary-text-color;
        &__schedule {
            position: absolute;
            box-sizing: content-box;
            top: 275px;
            width: 138px;
            margin-top: 4px;
            margin-bottom: 25px;
            padding-left: 20px;
            padding-right: 62px;
        }
    }
    &__contacts {
        position: absolute;
        box-sizing: content-box;
        top: 347px;
        padding-right: 20px;
        padding-left: 21px;
        margin-bottom: 43px;
    }
    &__time {
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        color: $secondary-title-color;
    }
    &__contacts__info {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: $grey-text-color;
        text-decoration: none;
        font-style: normal;
    }
}

.line-first {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 20px;
    margin-right: 21px;
    height: 0px;
    top: 177px;
    border: 1px solid #E1E1E1;
}

.line-second {
    position: absolute;
    height: 0px;
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 21px;
    margin-bottom: 25px;
    top: 322px;
    border: 1px solid #E1E1E1;
}