.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 84px;
  height: 30px;
  margin-right: auto;

  color: $primary-text-color;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.04em;
  text-decoration: none;

  &.white {
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    width: 127px;
    height: 45px;

    font-size: 26px;
  }
}

.logo-description {
  color: $primary-text-color;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 5px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  &.white {
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    font-size: 8px;
  }
}

.logo-description-accent {
  color: $primary-text-color;

  &.white {
    color: #fff;

    @media screen and (min-width: 768px) {
      color: $accent-color;
    }
  }

  @media screen and (min-width: 768px) {
    color: $accent-color;
  }
}

.icon-fire {
  width: 14px;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
  fill: $accent-color;

  @media screen and (min-width: 768px) {
    width: 21px;
    height: 30px;
  }
}
