.logo-main {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 128px;
  height: 45px;
  border: none;
  &-hell,
  &-en {
    @include font(26px, 800, 32px);
    letter-spacing: 0.04em;
    color: $primary-text-color;
  }

  &-ad {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;
    @include font(8px, 800, 10px);
    letter-spacing: 0.18em;

    color: $accent-color;
  }
  &-eng {
    margin-top: 3px;
    @include font(8px, 800, 10px);
    letter-spacing: 0.18em;
    color: $primary-text-color;
  }
  &-fire {
    margin-left: 3px;
    margin-right: 4px;
    fill: $accent-color;
  }
}
