.logo-link {
  margin-right: 61px;
}

.logo-link_picture {
  display: block;
  width: 199px;
  height: auto;
}

@include for-size(tablet) {
  .logo-link {
    margin-right: 291px;
  }
}

@include for-size(desktop) {
  .logo-link {
    margin-right: 110px;
  }
}
