.locations {
    padding: 30px 15px;
    width: 900px;
    min-height: 100vh;
    height: 100%;
    background: #FFB8CA;;

    &-tittle {
        margin: 0;
        margin-bottom: 30px;

        font-family: Titan One;
        font-style: normal;
        font-weight: normal;
        font-size: 58px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #D41443;
    }

    &-item {
        // width: calc((100% - 30px) / 3);
        // margin-right: 10px;
        margin-bottom: 20px;
        width: 430px;
        text-align: center;
      }

    &-item:last-child {
        margin-bottom: 0;
    }

    &-item:nth-child(2n) {
        margin-left: auto;
    }

    &-list-tittle {
        margin-top: 0;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;

        font-family: Titan One;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;

        color: #D41443;
    }

    &-list-address {
        margin-bottom: 5px;
        margin-right: auto;
        margin-left: auto;

        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.02em;
        text-align: center;

        color: #000000;
    }
}