.menu {
    display: none;
    
    color: $primary-title-color-dk;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.1em;

    @media screen and (min-width: 768px) {
    display: block;    
    }
}

.nav-list__link:hover, .nav-list__link:focus {
    color: $accent-color;
}

.media__item:first-child::before {
    content: '';
      display: inline-block;
      width: 60px;
      height: 6px;
      border-top: 1px solid $primary-title-color-dk;
      margin-right: 40px;
}

.media__item:not(:first-child) {
margin-left: 100px;
padding-bottom: 60px;
}

.icon-cross {
        display: block;
        fill: currentColor;
    }

@media screen and (max-width: 767px) {
    .burger {
        position: absolute;
        right: 31px;
        top: 48px;
        

        color: $primary-title-color-lt;
        fill: currentColor;       
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover, &:focus, &:active {
        color: $accent-color;
      }
          
      & .icon-menu {
        fill: currentColor;
      }
            
  
      &.is-open + .menu {
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 5;

        background-color: rgba(25, 28, 38, 0.2);
        box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.16), -2px 0px 4px rgba(0, 0, 0, 0.08), -4px 0px 8px rgba(0, 0, 0, 0.04);
        
            & .menu-wrap {
            margin-left: auto;
            padding-top: 48px;
            padding-left: 40px;
            padding-right: 31px;
            height: 100%;
            min-width: 285px;
            max-width: 70%;
            flex-grow: 1;
            
            position: relative;
            overflow-y: scroll;
            
            background-color: #ececec;
            }

            .close {
                margin-bottom: 30px;
                display: flex;
                margin-left: auto;

                color: $primary-title-color-dk;
                fill: currentColor;       
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                &:hover, &:focus, &:active {
                    color: $accent-color;
                }
  
            }
        }
    }
    
    .nav, .menu-box {
        margin-bottom: 64px;
    }

    .nav__item {
        display: block;
    }
    .nav__item:not(:last-child), .media__item:not(:last-child) {
        margin-bottom: 24px;
    }
}