.menu-container {
    display: none; 
    &.is-open{  
        
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 3;
        right: -20px;
        top:0%;
        padding-top: 60px;
        padding-left:20px ;
        width: 250px;
        min-height: 100vh;
        background-color: #E17992;
        @media screen and(min-width:768px){
        top:0%;
        right: -20px;
        width: 254px;
        } 
        @media screen and(min-width:1280px){
            display: none;
        }

    }
}

.menu-button {
    // position: relative;
    display: block;
    align-items: center;
    width: 209px;
    height: 44px;
    margin-bottom: 32px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #D41443;
    border-radius: 22px;
    background: #FFFFFF;
    border: none;
    @media screen and(min-width:768px){
        width: 186px;
        height: 44px;
        margin-left: 15px;
        margin-bottom: 32px;
    }
}

.menu-link{  
    display: flex;
    flex-direction: column;  
}

.menu-a{
    display: flex;
    align-items: center;
    padding-left: 1px;
    height: 42px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    &:nth-child(2n + 1){
        content: "";
        border-top: 1px solid #E18298;
        border-bottom: 1px solid #E18298;
    }
    @media screen and(min-width:768px){
        padding-left: 5px;
    }
}  

