.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: $mobile;
    height: 100vh;
    z-index: 120;

    padding: 25px;
    text-align: center;

    background-color: rgba(254, 243, 228, 0.9);
    backdrop-filter: blur(4px);
    
    
    &.is-open {
        display: block;           
    }
}

.page-nav__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;

    color: $text;

    &:hover,
    &:focus {
        color: #876655;
    }
}

.page-nav__item {
    margin-bottom: 45px;

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        margin-top: 40px;
    }
}





// @media screen and (max-width: 767.98px) {
//     


//     .contacts__wrap--mobile {
//         position: absolute;
//         bottom: 48px;
//     }

//     .contacts--mobile {
//         margin-bottom: 64px;
//     }

//     .contacts__item--tel {
//         margin-bottom: 32px;
//     }

//     .contacts__link--tel {
//         font-weight: 500;
//         font-size: 30px;
//         line-height: 1.18;
//         letter-spacing: 0.02em;
//         text-decoration: none;

//         color: var(--accent-color);
//     }

//     .contacts__link--mail {
//         font-weight: 500;
//         font-size: 24px;
//         line-height: 1.17;
//         letter-spacing: 0.02em;
//         text-decoration: none;

//         color: var(--primary-text-color);
//     }

//     .social-network {
//         display: flex;
//         flex-wrap: wrap;
//     }

//     .social-network__link {
//         margin-right: 20px;
//         font-weight: 500;
//         font-size: 18px;
//         line-height: 1.22;    
//         letter-spacing: 0.02em;
//         text-decoration: none;
        
//         color: var(--accent-color);
//     }
// }

// @media screen and (max-width: 767.98px) {
//     .page-nav__wrap,
//     .contacts__wrap {
//         display: none;
//     }
// }

// @media screen and (min-width: 768px) {
//     .mobile-menu__button,
//     .mobile-menu {
//         display: none;
//     }
// }
