.back-drope {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  z-index: 110;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    
  }
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--backgroundPink);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;

  background-image: url(../images/3-about/mobile/milk-background-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 50%;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/3-about/mobile/milk-background-mobile@2x.png);
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi) and (max-width: 767px),
    screen and (min-resolution: 3dppx) and (max-width: 767px) {
    background-image: url(../images/3-about/mobile/milk-backgound-mobile@3x.png);
  }
  @media screen and (max-width: 767px) {
    & {
      width: 100%;
      max-width: 400px;
      height: 100vh;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      width: 100%;
      max-width: 80vw;
      height: 100vh;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
    }
  }
  & .titles {
    min-width: 100px;
    text-align: center;
  }
}
.modal-discrption-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.92;
  letter-spacing: 0.04em;

  color: var(--grey);
}

.modals-button {
  margin-left: auto;

  cursor: pointer;
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  fill:var(--dark-pink);
  &:hover .close-modal-button {
    fill: var(--pink);
  }
}
.modal-discrption-text.strong {
  color: var(--black);
}
.modal-discription-div {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
}
.clean-div {
  padding-top: 8px;

  background-color: var(--backgroundPink);
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
}
