.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(-animation-timing-function);
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 320px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 618px;
    height: 562px;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    height: 568px;
  }
}

div.modal.dark-theme .modal__close-btn {
  background-image: url(../images/icons/close-dark-theme.svg);
  &:hover,
  &:focus {
    // border: 1px solid var(--background-accent);
    transform: scale(1.1);
    background-image: url(../images/icons/close-hover.svg);
  }
}

.modal__close-btn {
  display: inline-flex;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(../images/icons/close.svg);
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    // border: 1px solid var(--background-accent);
    transform: scale(1.1);
    background-image: url(../images/icons/close-hover.svg);
  }
}
  .basicLightbox {
    overflow: scroll;
    color: inherit;
    background-color: inherit;
}
