.modal-form {
  display: flex;
  flex-direction: column;

 &-label {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.928;
    letter-spacing: 0.01em;

    &:nth-child(-n + 3) {
      margin-bottom: 8px;
    }

    &-name {
      font-family: $main-font;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.928;

      letter-spacing: 0.04em;
    }

    &-policy {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      
      font-family: $main-font;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.928;

      letter-spacing: 0.04em;

      cursor: pointer;
    }
  }

  &-input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 16px;

    font-family: $main-font;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &-wrapper {
      position: relative;
      display: block;
    }

    &:focus {
      outline: none;
      border-color: $btn-bg-accent;
    }
  }

  &-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-input:focus + &-icon {
    fill: $btn-bg-accent;
  }

  &-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    font-family: $main-font;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      font-family: $main-font;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
      outline: none;
      border-color: $contact-icon-hover;
    }
  }

  &-check-policy {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  &-btn {
    width: 160px;
    height: 44px;
    min-height: 44px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    background-color: $btn-bg-accent;
    border: none;
    border-radius: 22px;
    outline: none;
    
    cursor: pointer;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.313;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      background-color: $btn-bg-accent;
    }
  }
}

.form-title {
font-family: $accent-font;
font-weight: 400;
font-size: 20px;
line-height: 1.15;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;

margin-bottom: 6px;

color: $primary-text-accent;
}

.check-policy-icon {
min-width: 16px;
height: 15px;

margin-right: 8px;

background-color: #ffffff;
background-size: contain;

border: 2px solid #212121;
border-radius: 2px;
transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-check-policy:checked + & {
//     background-image: url(../images/form-check.svg);
    background-size: contain;
    background-color: $btn-bg-accent;
    background-origin: border-box;
    border-color: $btn-bg-accent;
  }
}

.policy-link {
    color: $btn-bg-accent;
}