.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 300px;
  min-width: 400px;
  padding: 15px;

  background-color: $white-color;
  border-radius: 10px;
}
.button__modal {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1280px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
