.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--transition-funktion);
  background-color: var(--accent-color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen (min-width: 320px){ 
    width: 280px;
    }
      
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal {
    width: 618px;
    height: 562px;
  }
  
  @media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
    height: 568px;
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  
  &:hover &,
  &:focus & {
    fill: var(--accent-color);
  }
}
  

.backdrop .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--timing-funktion);
}

.modal__icon-close {
  fill: currentColor;
}
