.modal-window {
  position: absolute;
  z-index: 1000;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 280px;
  padding: 10px;
 background-image: url("../images/hero/fire.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

  transition: opacity 250ms var(--cubic) 250ms;
  box-shadow: 0px -5px 96px 9px rgba(252, 122, 0, 0.6);
  border-radius: 10px;

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%);

    transition: opacity 250ms var(--cubic);
  }

  @media screen and (max-height: 502px) {
    top: 10px;
    transform: translate(-50%, 0);
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1344px) {
    width: 500px;
  }
}
