.modal-btn {
  display: block;
  margin: 0;
  padding: 10px;
  min-height: 48px;
  min-width: 260px;

  border: 2px solid var(--accent-color);

  cursor: pointer;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);

  @include font(12px, 700, 15px);
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--accent-color);
    outline: none;
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 1344px) {
    min-height: 70px;
    min-width: 354px;
    @include font(14px, 700, 17px);
    letter-spacing: 0.14em;
  }
}
