h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}
.icecream-box {
  position: relative;
}

.product {
  margin-bottom: 129px;
}

.product-link {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  background: $white-color;
}

.icon-arrow {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  fill: red;
}

.section-product {
  margin-top: 121px;
  margin-bottom: 98px;
}

.product {
  margin: 0px;
  padding: 0px;
}
.product-tittle {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: $title-text-color;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.product-tittle_name {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  margin-top: 0;
  margin-bottom: 16px;
}

.product-foto {
  display: block;
  position: absolute;
  top: -23%;
  // left: 6%;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  overflow: auto;
  margin: auto;
  //   left: 0; bottom: 0; right: 0;
}

.product-name::before {
  position: absolute;
  content: '. . .';
  display: block;
  color: $white-color;
  font-size: 35px;
  height: 4px;
  left: 43%;
  top: 40%;
  z-index: 1;
}
.product-name {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 66px;
  // margin-top:161px;

  color: $white-color;
}

.product-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;

  text-align: center;
  letter-spacing: 0.04em;
  padding-right: 40px;
  padding-left: 40px;
  // padding-top: 66px;

  color: $white-color;
}

.product-card_ice {
  margin-top: 144px;
  padding-top: 161px;
  padding-bottom: 41px;
  background-color: $bg-pink;
  height: 485px;
  border-radius: 24px;
}
.product-card_coffe {
  margin-top: 144px;
  padding-top: 161px;
  padding-bottom: 41px;
  background: $bg-coffee;
  height: 485px;
  border-radius: 24px;
}
.product-card_milkshakes {
  margin-top: 144px;
  padding-top: 161px;
  padding-bottom: 41px;
  background: $bg-green;
  height: 485px;
  border-radius: 24px;
}

.product-list {
  top: 0;
  right: 0;
  margin: 0;
}

@media screen and (max-width: 319px) {
  .conteiner {
    width: auto;
  }
}
