.navigation-list {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  display: flex;
}

.navigation-item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.navigation-link {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;

  color: $primaryWhiteColor;

  &.current {
    color: $titleTextColor;
  }
}
