.section.online-record {
  background-color: $dark-bg-color;
  color: $light-color;

  @media screen and (min-width: $min-desktop) {
    // width: 50%;
  }
}

.contuct-us-form.container {
  @media screen and (min-width: $min-desktop) {
    width: 655px;
    padding-left: 55px;
    padding-right: 40px;
  }
}

.form-header {
  color: $light-color;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.05em;
}
.form-input {
  width: 100%;
  background-color: $dark-bg-color;
  margin-top: 44px;
  border: none;
  border-bottom: solid 1px $secondary-text-color;
  &:hover {
    border-color: $light-color;
  }
}

.record_button.online-record-butoon {
  margin-top: 44px;
  @media screen and (max-width: $max-tablet) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}