.team-section {
  background-color: $secondaryBgColor;
}
.section-title {
  margin-bottom: 44px;
}

.list {
  @extend %list;
}
.teammate {
  margin-top: 30px;

  font-size: 18px;
  line-height: 1.39;
  font-weight: 400;
  text-align: center;
}
.major {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.36;
  font-weight: 400;
  text-align: center;
  color: $accentLinkColor;
}
.socialLinks {
  @include centeredFlex($display: flex);
  margin-top: 30px;
  .item + .item {
    margin-left: 10px;
  }
  > .item {
    margin-bottom: 64px;
  }
  .socialLinkIcon {
    background-color: $whiteTextColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $primeryTextColor;

    &:hover,
    &:focus {
      fill: $accentLinkColor;
    }
  }
}
.teamList {
  > .item {
    margin-bottom: 64px;
    outline: solid 1px green;
    @media screen and (min-width: $tablet) and (max-width: $preDesktop) {
      margin-left: auto;
      margin-right: auto;
      width: 450px;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
  .item + .item {
    @media screen and (min-width: $desktop) {
      margin-left: 30px;
    }
  }
}
.test {
  margin-left: auto;
  margin-right: auto;
}
.photo-thumb {
  outline: 1px solid red;
  height: 346px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
