.our-masters {
  background-color: $secondary-background-color;
  padding-top: 84px;
  padding-bottom: 84px;
}

.our-masters .label,
.our-masters .main-label {
  margin: 0;
}

.our-masters .label {
  margin-bottom: 20px;
}

.our-masters .main-label {
  font-size: 42px;
  line-height: 1.17;
  margin-bottom: 44px;
}

.our-masters .label::before {
  @include decor-line($primary-text-color);
  margin-right: 20px;
}

.masters-team {
  padding: 0;
  margin: 0;
}

.masters-team .item,
.soc-networks .item {
  @extend %list;
}

.masters-team > .item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 64px;
  }
}

.masters-name {
  margin: 0;
  margin-top: 30px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;

  text-align: center;
}

.masters-position {
  margin: 0;
  margin-top: 8px;

  font-size: 14px;
  color: $accent-color;

  text-align: center;
}

.soc-networks {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0;
}

.soc-networks .item:not(:last-child) {
  margin-right: 10px;
}

.soc-networks .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primary-white-color;
}
