.our-program {
  padding-top: 50px;
  padding-bottom: 537px;
  background-color: $secondary-bg-color;
}

.container {
  outline: 2px dashed tomato;
}

.our-program__title {
  color: $dark-theme-title-color;
  text-align: center;
  margin-bottom: 43px;
}

// .our-program__list {
// }

.our-program__list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $dark-theme-title-color;
}

.our-program__sublist-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  color: $accent-color;
}

.our-program__second-sublist-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: $primary-text-color;
  opacity: 0.5;
}
