.our-help {
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%);
  background-color: $primary-white-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.our-help__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  align-items: center;
  letter-spacing: 0.08em;
  color: $primary-title-color;
  /* margin-bottom: 20px;*/
  position: relative;
}
.our-help__item-li {
  width: 250px;
  margin-left: 0;
  margin-right: 0;
}
.our-help__item {
  margin-left: 0;
  margin-right: 0;
}

.our-help__item-li .accent-line::before {
  content: '';
  display: block;
  background-color: $accent-color;
  color: $accent-color;
  height: 2px;
  width: 20px;
  margin-bottom: 20px;
}
.our-help__item-li .accent-line::after {
  content: counter(section, decimal-leading-zero);
  counter-increment: section;
  position: absolute;
  display: block;
  top: -11px;
  color: $accent-color;

  width: 20px;
  -webkit-transform: translateX(130%);
  transform: translateX(130%);
}
.number {
  color: $accent-color;
}
body {
  counter-reset: section;
}
@media screen and (max-width: 767px) {
  .our-help__item-li:nth-child(-n + 5) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1399px) {
  .our-help {
    width: 688px;
    padding-top: 30px;
    position: absolute;
    bottom: -180px;
    left: 50%;
    transform: translate(-50%);
    background-color: $primary-white-color;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }

  .our-help__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .our-help__item-li {
    box-sizing: border-box;
    width: 236px;
  }
  .our-help__item-li:nth-child(2n) {
    margin-left: 25px;
  }
  .our-help__item-li:nth-child(-n + 4) {
    margin-bottom: 20px;
  }

  .our-help__item-li .accent-line::before {
    content: '';
    display: block;
    background-color: $accent-color;
    color: $accent-color;
    height: 2px;
    width: 20px;
    margin-bottom: 15px;
  }
  .our-help__item-li .accent-line::after {
    content: counter(section, decimal-leading-zero);
    counter-increment: section;
    position: absolute;
    display: block;
    top: -11px;
    color: $accent-color;

    width: 20px;
    -webkit-transform: translateX(130%);
    transform: translateX(130%);
  }
}

@media screen and (min-width: 1400px) {
  .our-help {
    padding-top: 70px;
  }
  .our-help__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.714;
    align-items: center;
    letter-spacing: 0.08em;
    color: $primary-title-color;

    position: relative;
  }
  .our-help__main-section {
    counter-reset: section;
    height: 362px;

    max-width: 1313px;
    padding-right: 112px;
    padding-left: 112px;
  }
  .our-help__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .our-help__item-li {
    box-sizing: border-box;
    width: 336px;
  }

  .our-help__item-li:nth-child(-n + 3) {
    margin-bottom: 30px;
  }

  .our-help__item-li .accent-line::before {
    content: '';
    display: block;
    background-color: $accent-color;
    color: $accent-color;
    height: 2px;
    width: 20px;
    margin-bottom: 15px;
  }
  .our-help__item-li .accent-line::after {
    content: counter(section, decimal-leading-zero);
    counter-increment: section;
    position: absolute;
    display: block;
    top: -15px;
    color: $accent-color;

    width: 20px;
    -webkit-transform: translateX(130%);
    transform: translateX(130%);
  }
  .our-help__item-li .our-help__item-title + .our-help__item-title {
    margin-left: 40px;
  }
  .our-help {
    width: 1314px;
    height: 362px;
    padding-top: 70px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $primary-white-color;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
}
