.hero {
  background-color: $main-bg-color;

  &-bg-img {
    height: 502px;
    padding-top: 193px;
    padding-bottom: 160px;
    background-image: url('../images/hero/mobile/group-img-min.png');
    background-size: 284px 419px;
    background-position: right bottom;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/mobile/group-img@2x-min.png');
    }

    @media screen and (min-width: $tablet) {
      height: 399px;
      width: $tablet;
      margin: 0 auto;
      padding-top: 102px;
      padding-bottom: 160px;
      background-image: url('../images/hero/tablet/girl-min.png'),
        url('../images/hero/tablet/group-img-min.png');
      background-size: 168px 133px, 324px 368px;
      background-position: right 40px bottom, right 145px bottom;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/hero/tablet/girl@2x-min.png'),
          url('../images/hero/tablet/group-img@2x-min.png');
      }
    }

    @media screen and (min-width: $desktop) {
      height: 665px;
      width: $desktop;
      margin: 0 auto;
      padding-top: 171px;
      padding-bottom: 292px;
      background-image: url('../images/hero/desktop/girl-min.png'),
        url('../images/hero/desktop/group-img-min.png');
      background-size: 293px 232px, 538px 613px;
      background-position: right 60px bottom, right 218px bottom;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/hero/desktop/girl@2x-min.png'),
          url('../images/hero/desktop/group-img@2x-min.png');
      }
    }
  }

  &-number {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-text {
    margin-bottom: 7px;
    width: 114px;
    color: $text-color-dark-theme;
    font-family: $main-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;

    @media screen and (max-width: 767px) {
      min-width: 114px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 20px;
      width: 200px;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-title-container {
    width: 218px;

    @media screen and (min-width: $desktop) {
      width: 277px;
    }
  }

  &-title {
    margin-bottom: 20px;
    font-family: $title-font;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: $text-color-dark-theme;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      font-size: 22px;
      line-height: 1.13;
    }

    @media screen and (min-width: $desktop) {
      font-size: 38px;
      line-height: 1.16;
    }
  }

  &-title-accent {
    font-size: 48px;
    line-height: 0.96;
    color: $accent-color;

    @media screen and (min-width: $tablet) {
      font-size: 34px;
      line-height: 0.91;
    }
    @media screen and (min-width: $desktop) {
      font-size: 58px;
      line-height: 0.89;
    }
  }

  &-about-btn {
    @extend %btn;
    display: inline-flex;
    padding: 5px 10px;
    margin-right: 5px;
    height: 24px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: $text-color-dark-theme;
    background-color: $accent-color;
    transition: background-color $timing-function;

    @media screen and (min-width: $desktop) {
      margin-right: 12px;
      width: 104px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
    }

    &:hover,
    &:focus {
      background-color: $main-hover-color;
    }
  }

  &-production-btn {
    @extend %btn;
    display: inline-flex;
    padding: 5px 10px;
    min-width: 83px;
    height: 24px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: $accent-color;
    background-color: $text-color-dark-theme;
    transition: background-color $timing-function;

    @media screen and (min-width: $desktop) {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
    }

    &:hover,
    &:focus {
      background-color: $second-hover-color;
    }
  }

  &-number-item {
    position: relative;
    z-index: 1;
  }
  &-number-item:not(:last-child) {
    margin-bottom: 14px;
  }

  &-number-amount::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -3px;
    right: -7px;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    background-color: $text-color-dark-theme;

    @media screen and (min-width: $desktop) {
      top: -7px;
      right: -15px;
      width: 30px;
      height: 30px;
    }
  }

  &-number-amount {
    color: $accent-color;
    font-family: $title-font;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;

    @media screen and (min-width: $desktop) {
      font-size: 46px;
      line-height: 1.15;
    }
  }

  &-number-text {
    color: $text-color-dark-theme;
    font-family: $main-font;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.28;
    }
  }

  &-description {
    margin-left: 120px;
    margin-top: 66px;
    position: relative;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 112px;
      margin-left: 185px;
    }

    &::before {
      content: '';
      display: flex;
      position: absolute;
      top: -45px;
      left: -120px;
      width: 124px;
      height: 126px;
      background-image: url('../images/hero/tablet/milk-min.png');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/hero/tablet/milk@2x-min.png');
        background-size: 124px 126px;
      }

      @media screen and (min-width: $desktop) {
        top: -60px;
        left: -215px;
        width: 188px;
        height: 191px;
        background-image: url('../images/hero/desktop/milk-min.png');

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/hero/desktop/milk@2x-min.png');
          background-size: 188px 191px;
        }
      }
    }
  }

  &-link {
    display: inline-block;
  }

  &-link-arrow {
    @media screen and (min-width: $desktop) {
      width: 26px;
      height: 26px;
    }
  }
}
