.reviews {
  position: relative;
  padding-top: 153px;
  padding-bottom: 255px;
}

.reviews-container {
  padding: 0 20px;
}

.reviews-decorative-image {
  position: absolute;
  top: -49px;
  left: 50%;
  transform: translate(-50%);
  min-width: 320px;
  height: 122px;
  background-image: url('../images/reviews/mobile/collage-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .reviews-decorative-image {
    background-image: url('../images/reviews/mobile/collage@2x-min.png');
  }
}

.reviews-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
}

.reviews-block {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 43px;
  padding-right: 57px;
  padding-left: 66px;
  padding-bottom: 26px;

  background-color: #fafafa;
}

.reviews-quotes-icon {
  position: absolute;
  z-index: 0;
  top: 28px;
  left: 61px;

  fill: $boreder-color;
}

.reviews-text {
  position: relative;
  z-index: 1;
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-weight-medium;
  font-size: 12px;
  line-height: 2.55;

  text-align: center;

  color: $text-dark-color;
  background-image: repeating-linear-gradient(
    to top,
    $boreder-color 0px 1px,
    transparent 1px 31px
  );
}

.reviews-address {
  font-family: $main-font;
  font-style: $font-style;
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 186%;

  text-align: center;
}

.reviews-decor-points {
  width: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.reviews-icon {
  fill: $main-hover-color;
}

@media screen and (min-width: $tablet) {
  .reviews-decorative-image {
    top: -105px;
    height: 264px;
    width: $tablet;
    background-image: url('../images/reviews/tablet/collage-min.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .reviews-decorative-image {
      background-image: url('../images/reviews/tablet/collage@2x-min.png');
    }
  }

  .reviews {
    padding-top: 283px;
    padding-bottom: 244px;
  }

  .reviews-container {
    padding: 0 74px;
  }

  .reviews-block {
    margin-bottom: 30px;
    padding-top: 47px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 24px;
  }

  .reviews-decor-points {
    margin-bottom: 14px;
  }

  .reviews-img {
    margin-bottom: 19px;
  }

  .reviews-quotes-icon {
    top: 30px;
    left: 40px;
  }
}

@media screen and (min-width: $desktop) {
  .reviews-decorative-image {
    top: -171px;
    height: 430px;
    width: $desktop;
    background-image: url('../images/reviews/desktop/collage-min.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .reviews-decorative-image {
      background-image: url('../images/reviews/desktop/collage@2x-min.png');
    }
  }
  .reviews {
    padding-top: 375px;
    padding-bottom: 281px;
  }

  .reviews-img {
    margin-bottom: 15px;
  }
  .reviews-block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-top: 47px;
    padding-right: 89px;
    padding-left: 87px;
    padding-bottom: 39px;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.86;
  }

  .reviews-decor-points {
    margin-bottom: 15px;
  }

  .reviews-address {
    font-size: 20px;
    line-height: 1.86;
  }
  .reviews-quotes-icon {
    top: 32px;
    left: 50px;
  }
}

// ========= SLIDER ==========

.slick-track {
  display: flex;
}

.slick-list {
  margin-bottom: 30px;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    margin-bottom: 35px;
  }
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  position: relative;
  list-style: none;
}

.slider .slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border-color: transparent;
  outline: none;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
}

.slider .slick-dots li.slick-active button::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 12px;
  background: no-repeat;
  background-image: url(../images/home-min.svg);
  background-size: contain;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}
