.page-footer {
    padding-top: 0;
    padding-bottom: 97px;

    background-color: rgba(255, 245, 246, 1);
}

.footer-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 320px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }

  @media screen and (max-width: 1279px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
  }
}

.footer-title {
  margin-right: 257px;

    
}


.footer-text {
  font-family: Titan One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform:uppercase;
  
  color: rgba(255, 165, 186, 1);
}


.footer-logo {
  font-family: Titan One;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform:uppercase;
 
  color: rgba(212, 20, 67, 1);
}

.footer-contact {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
  .footer-contact {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
    .footer-contact {
      margin-right: 0;
    }
}


.footer-icon {
    margin-top: 0;
    
}

.footer-item :not(:first-child) {
    margin-left: 28px;
}

.footer-links {
  display: inline-flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  
  border-radius: 50%;
  background-color:#FEA5BB;
  color: #FFFFFF;
  fill: currentColor;
  cursor: pointer;

  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover, .footer-links:focus {
    background-color:#D41443;
}

.footer-socials {
  fill: #ffffff;
}