.bg-services-overley {
    background-image: linear-gradient(
      to right,
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ), url('../images/bg-service.jpg');
    background-position: 50% 0;
    background-size: cover;
    max-width: 1280px;
    text-align: center;
    
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
      to right,
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ), url('../images/bg-service@2x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(
      to right,
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ), url('../images/bg-service@3x.jpg');
    }
    
    .container-over-title {
        color: $headerColor;
        position: relative;
        padding-left: 80px;
        text-align: left;
        &::before {
            display: block;
            position: absolute;
            content: ' ';
            width: 60px;
            height: 1px;
            background-color: $headerColor;
            margin-right: 20px;
            top: 50%;
            left: 0;
        }
    }
    
    .container-title {
        margin-left: 0;
        text-align: left;
        color: $primaryWhiteColor;
    }
    .list, .list-desktope {
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 0.02em;
        color:$tertiaryTextColor;
        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 1.67;
        }    
        .item:not(:last-child) {
            display: flex;
            margin-bottom: 20px;
        }
        .item {
            align-items: baseline;
            display: flex;
            &::after {
                border-bottom: 1px solid rgba(157, 164, 189, 0.12);
                flex-grow: 1;
                order: 2;
                position: relative;
                content: ' ';
                background: rgba(157, 164, 189, 0.12);
                height: 1px;
                top: 3px;
                margin-left: 6px;
                margin-right: 6px;
            }
        }
        .underline {
            order: 3;
        }
    }
    .button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 12px 20px;
        width: 164px;
        height: 40px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        
    }
    .bg-color-list {
        padding: 30px 30px 0 30px;
        @media screen and (min-width: 1280px) {
            background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
            padding: 30px 40px;
            width: 585px;
        }
    }
    .bg-color-list-desktop {
        padding: 0 30px 30px 30px;
        margin-bottom: 50px;
        margin-top: 20px;
        @media screen and (min-width: 1280px) {
            background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
            padding: 30px 40px;
            margin: 0;
            width: 585px;
        }
    }
    .desktop-list {
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
        @media screen and (min-width: 1280px) {
           display: flex;
           background: none;
           margin-bottom: 50px;
        }
    }
}

