.container{
    margin: 0;
}
.our-help__item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.714;
    align-items: center;
    letter-spacing: 0.08em;
    color: $primary-title-color;

}
.our-help__item{
    height: 488px;
    width: 100%;
    max-width: 450px;
    
}
.our-help__item-li .accent-line::before{
    content: "";
    display: block;
    background-color: $accent-color;
    height: 2px;
    width: 20px;

}