.request {
  background-color: $secondary-bg-color;
  text-align: center;

  width: 100%;

  padding-top: 100px;
  padding-bottom: 62px;
  margin: 0 auto;

  background-image: url(../images/request-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  &-title {
    color: $primary-white-color;
    font-size: 46px;

    max-width: 1090px;
    text-align: center;

    margin: auto;
    margin-bottom: 50px;

    &__part {
      color: $accent-color;
    }
  }

  &-subtitle {
    color: $primary-white-color;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.23;

    letter-spacing: 0.08em;

    width: 1090px;
    text-align: center;
    margin: auto;
    margin-bottom: 56px;

    &__part {
      color: $accent-color;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
      width: 478px;
      height: 70px;

      border: 1px solid $primary-white-color;
      background-color: transparent;

      padding: 23px 40px;
    }

    &__input:not([type='tel']) {
      margin-bottom: 30px;
    }

    &__input::placeholder {
      color: $primary-white-color;

      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.08em;
    }

    &_btn {
      color: $primary-white-color;

      width: 354px;
      height: 70px;

      font-weight: 700;
      font-size: 14px;
      line-height: 1.21;

      text-align: center;
      letter-spacing: 0.14em;
      text-transform: uppercase;

      margin-top: 80px;
    }
  }
}
