.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url(../images/tel/wave-tel.png);
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-top: 72px;
  }
  @media screen and (min-width: 1400px) {
    padding-top: 46px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__subtitle {
    color: $primary-text-color;
    @media screen and (min-width: 1400px) {
      font-size: 20px;
      line-height: 1.7;
    }
  }

  .title {
    margin-bottom: 30px;
    &__span {
      display: block;
    }
    @media screen and (min-width: 768px) {
      width: 300px;
    }
    @media screen and (min-width: 1400px) {
      margin-top: 80px;
      width: 550px;
    }
  }

  &__description {
    // width: 380px;
    color: $primary-title-color;
    margin-bottom: 30px;
    @media screen and (min-width: 1400px) {
      font-size: 20px;
      line-height: 1.7;
      margin-bottom: 40px;
    }
  }
  &__decription-accent {
    color: $accent-color;
  }
  &__img {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1400px) {
      max-width: 841px;
    }
  }
  &__left-side {
    margin-bottom: 30px;
  }
  &__form-btn {
    display: flex;
    justify-content: center;
    border: 2px solid $accent-color;
    width: 260px;
    padding: 16px 1px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      background-color: $primary-white-color;
      color: $accent-color;
      border: 2px solid $accent-color;
    }
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 1400px) {
      min-width: 354px;
      font-size: 14px;
      line-height: 1.21;
      letter-spacing: 0.14em;
      padding: 26px 20px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/tel/wave-tel@2x.png);
  }
}

.hero__anchor {
  position: relative;
  &-link {
    position: absolute;
    top: -100px;

    @media screen and (min-width: 768px) and (max-width: 1399px) {
      top: -130px;
    }

    @media screen and (min-width: 1400px) {
      top: -150px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/tablet/wave-tablet.png);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/tablet/wave-tablet@2x.png);
  }
}
@media screen and (min-width: 1400px) {
  .hero {
    background-image: url(../images/desctop/wave-desc.png);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/desctop/wave-desc@2x.png);
  }
}
