.header {
  @include container(flex, flex-start, center);
  padding-top: 37px;
  background-color: $hero-bcg;

  @include for-size(mobile-only) {
    padding-top: 10px;
  }

  @include for-size(mobile) {
    padding-top: 6px;
  }

  &__logo {
    @include container(flex, flex-start, flex-end);
    margin-right: auto;

    @include for-size(desktop) {
      margin-left: -15px;
      margin-right: 0;
    }
  }

  &__list {
    @include container(flex, flex-start, flex-start);
    flex-direction: column;
    width: 100%;
    list-style: none;

    @include for-size(desktop) {
      @include container(flex, flex-start, center);
      flex-direction: row;
      width: 541px;
      margin-left: 110px;
      margin-right: 110px;
    }
  }

  &__item {
    @include container(flex, flex-start, center);
    height: 42px;
    color: $white;

    &:nth-child(2n + 1) {
      border: 1px solid #e18298;
    }

    @include for-size(mobile-only) {
      @include container(flex, center, center);
      width: 100%;
      padding-left: 10px;
    }

    @include for-size(mobile) {
      width: 250px;
      padding-left: 21px;
    }

    @include for-size(tablet) {
      width: 254px;
      padding-left: 24px;
    }

    @include for-size(desktop) {
      &:nth-child(2n + 1) {
        border: none;
      }

      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  &__link {
    @include font('DM Sans', normal, bold, 14px, 18px, 0.02em);
    color: $white;
    text-decoration: none;

    &:hover {
      color: $red;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__actual-link {
    color: $red;
  }

  &__button {
    @include container(flex, center, center);
    height: 44px;
    border: none;
    border-radius: 22px;
    outline: none;
    background-color: $white;
    @include font('DM Sans', normal, bold, 16px, 21px, 0);
    color: $red;

    &:hover {
      background-color: $button-bcg;
    }
  }

  &__inside {
    display: flex;
    margin-top: 23px;
    margin-bottom: 32px;

    @include for-size(mobile-only) {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }

    @include for-size(mobile) {
      width: 209px;
      margin-left: 21px;
      margin-right: 20px;
    }

    @include for-size(tablet) {
      width: 186px;
      margin-left: 34px;
      margin-right: 34px;
    }

    @include for-size(desktop) {
      display: none;
    }
  }

  &__outside {
    display: flex;
    width: 160px;
    margin-left: 0;

    @include for-size(mobile-only) {
      display: none;
    }

    @include for-size(mobile) {
      display: none;
    }

    @include for-size(tablet) {
      margin-left: 29px;
    }
  }

  &__button-icon {
    width: 10px;
    height: 10px;
    margin-left: 12px;
  }
}
