.footer {
  &__logo {
    display: flex;
    align-items: center;
    background-color: $primary-white-color;
    padding-top: 51px;
    padding-bottom: 54px;
    text-align: center;

    &-link {
      color: $primary-title-color;
      font-weight: 800;
      font-size: 26px;
      line-height: 1.23;

      letter-spacing: 0.04em;

      margin-right: 292.27px;
    }

    &-subtitel {
      color: $primary-title-color;
      font-weight: 700;
      font-size: 8px;
      line-height: 1-25;

      letter-spacing: 0.18em;
      text-transform: uppercase;

      &-accent {
        color: $accent-color;
      }
    }
  }

  &__contacts {
    display: flex;
    &-tel {
      color: $primary-title-color;
      font-weight: 600;
      font-size: 30px;
      line-height: 1.23;

      letter-spacing: 0.08em;

      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-svg {
      fill: $accent-color;

      margin-right: 9.27px;

      transform: rotate(39.05deg);

      &-inst {
        margin-left: 24px;
      }
    }
    &-tel::after {
      content: '';
      width: 0px;
      height: 40px;

      margin-left: 16px;

      border: 1px solid $primary-text-color;
    }

    &-tel:hover,
    &-tel:focus {
      color: $accent-color;
    }
  }
}

.bottom {
  background-color: $secondary-bg-color;
  padding-top: 21px;
  padding-bottom: 21px;
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 2;

    color: $primary-text-color;
  }
}
