.problems {
  width: 280px;

  width: 100%;
  background-image: linear-gradient(
    to bottom,
    $secondary-bg-color 61px,
    $primary-white-color 62px,
    $primary-white-color 430px
  );

  &__title {
    color: $dark-theme-title-color;
    padding-right: 130px;
    margin-bottom: 30px;
  }

  &__item {
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.08em;
    position: relative;
  }
  &__item:not(:last-child) {
    margin-bottom: 53px;
  }

  &__topic {
    color: $primary-title-color;
  }
  &__numbers {
    color: $accent-color;

    font-weight: bold;
    font-size: 14px;
    line-height: 164.9%;
    display: block;
    position: absolute;
    top: -25px;
    left: 25px;
  }
  &__numbers::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 1px;
    background-color: $accent-color;
    position: absolute;
    left: -22px;
    top: 11px;
  }
  &__list {
    padding-top: 53px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 14px;
  }
}
