.graduates {
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: 1400px) {
    & {
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1400px) {
      margin-bottom: 50px;
    }
  }

  &__info {
    background-color: $primary-white-color;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    background: #f7f5f5;

    @media screen and (min-width: 768px) {
      display: flex;
      width: 688px;
    }

    @media screen and (min-width: 1400px) {
      padding-left: 82px;
      padding-right: 112px;
      padding-top: 50px;
      padding-bottom: 51px;
      width: 1090px;
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
      &_first {
        margin-right: 46px;
      }
    }
  }

  &__name {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.08em;
    color: $accent-color;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      text-align: start;
      font-size: 20px;
    }

    @media screen and (min-width: 1400px) {
      font-size: 30px;
    }
  }

  &__university {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    color: $primary-text-color;
    margin-bottom: 10px;
    display: block;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      text-align: start;
      width: 412px;
    }

    @media screen and (min-width: 1400px) {
      font-size: 14px;
      line-height: 1.2;
      width: 438px;
    }
  }

  &__comment {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: #3d3d3d;
    letter-spacing: normal;

    @media screen and (min-width: 768px) {
      text-align: start;
    }

    @media screen and (min-width: 1400px) {
      font-size: 18px;
      line-height: 1.55;
    }
  }

  &__comment_end {
    color: $accent-color;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  &__comment_end::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $accent-color;
    border: none;
    position: absolute;
    bottom: 4px;
    left: 0;
  }

  &__link {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 26.5px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    &__link {
      width: 150px;
      height: 150px;
    }
  }

  &__img {
    border-radius: 50%;
  }

  &__vk {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    background-image: url('../images/icons/icon-vk.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }
}

/* Слайдер */
.slider {
  min-width: 0;
  position: relative;
  margin-bottom: 40px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 15px;
}

.slider .slick-arrow.slick-prev {
  left: -15px;
  width: 25px;
  height: 15px;
  background: url('../images/icons/arrow-prev.svg') 0 0 / 100% no-repeat;
  border: transparent;
}

.slider .slick-arrow.slick-next {
  right: -15px;
  width: 25px;
  height: 15px;
  background: url('../images/icons/arrow-next.svg') 0 0 / 100% no-repeat;
  border: transparent;
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: absolute;
  // bottom: -75px;
  // left: 50%;
  // transform: translate(-50%);
}
.slick-dots li {
  // list-style: none;
  // margin: 0px 15px;
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
  // font-size: 0;
  // width: 54px;
  // height: 54px;
  // border-radius: 50%;
  // background-color: #fff;
}

// Второй слайдер

.wrapper {
  position: relative;
  height: 60px;

  & .slick-list {
    display: flex;
    overflow: hidden;
    width: 182px;
    margin: 0 auto;
    height: 60px;

    @media screen and(min-width: 768px) {
      width: 558px;
    }
  }

  &__item {
    border-radius: 50%;
    width: 54px !important;
    height: 54px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;

    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
  }

  & .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .slick-arrow {
    position: absolute;
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 15px;
    font-size: 0;
  }

  & .slick-arrow.slick-prev {
    top: 40%;
    left: 4%;
    width: 25px;
    height: 15px;
    background: url('../images/icons/arrow-prev.svg') 0 0 / 100% no-repeat;
    border: transparent;
    font-size: 0;
  }

  & .slick-arrow.slick-next {
    font-size: 0;
    top: 40%;
    right: 4%;
    width: 25px;
    height: 15px;
    background: url('../images/icons/arrow-next.svg') 0 0 / 100% no-repeat;
    border: transparent;
  }

  &__item.slick-current .wrapper__img {
    border: 2px solid $accent-color;
  }
}
