.hero {
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .title {
    // display: block;
    // padding: 10px;
    margin-bottom: 30px;
  }
  &__subtitle {
  }
  &__description {
    color: $primary-title-color;
  }
  &__decription-accent {
    color: $accent-color;
    padding-bottom: 30px;
  }
  &__img {
  }
  .feature {
    margin-top: 77px;
    &__list {
      width: 216px;
      margin-left: auto;
      margin-right: auto;
    }
    &__list-item {
      position: relative;

      //   display: flex;

      display: inline-flex;
      align-items: center;

      margin-bottom: 30px;
      position: relative;
    }
    &__icon-wrap {
      //   position: absolute;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $accent-color;
    }

    &__icon-wrap::before {
      position: absolute;
      content: '';
      height: 40px;
      width: 1px;
      background-color: $primary-white-color;
      outline: 2px solid $primary-white-color;
      left: 27%;
      //   outline: $primary-white-color;
      //   display: block;
    }

    &__title {
      color: $primary-title-color;
      max-width: 145px;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      margin-left: 10px;
      //   padding-left: 70px;
    }
    &__list-svg {
      fill: $accent-color;
    }
    &__icon-female {
      width: 34px;
      height: 39px;
    }
    &__icon-mobile {
      width: 40px;
      height: 41px;
    }
    &__icon-umbrella {
      width: 34px;
      height: 40px;
    }
  }
}

.hero__form-btn {
  color: $primary-white-color;
  border: 2px solid $accent-color;

  outline: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  min-width: 260px;
  padding: 14px 1px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 31px;
  }

  @media screen and (min-width: 1400px) {
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    padding: 26px 25px;
    margin-top: 80px;
  }
}
.hero__form-btn:hover {
  outline: none;
  background-color: $primary-white-color;
  color: $accent-color;
  border: 2px solid $accent-color;
}
.hero__form-btn:focus {
  background-color: $primary-white-color;
  color: $accent-color;
}
