.warranties {
  padding-bottom: 30px;
  background-image: linear-gradient(
    to bottom,
    $primary-white-color 61px,
    $secondary-bg-grey-color 62px,
    $secondary-bg-grey-color 430px
  );

  @media screen and (min-width: 768px) {
    & {
      padding-bottom: 0;
      background-image: none;
      background-color: $primary-white-color;
    }
  }

  &__container {
    padding-top: 30px;

    @media screen and (min-width: 768px) {
      padding-left: 79px;
      padding-right: 50px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: $secondary-bg-grey-color;
    }

    @media screen and (min-width: 1400px) {
      padding-left: 112px;
      padding-right: 112px;
      padding-top: 50px;
      padding-bottom: 45px;
    }
  }

  &__list {
    margin-left: 35px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;

    @media screen and (min-width: 1400px) {
      font-size: 46px;
      margin-bottom: 50px;
    }
  }

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-bottom: 23px;
  }

  &__item:not(:last-child)::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 0;
    height: 100% - 10%;
    border-left: 1px dashed #b9b9b9;
    position: absolute;
    top: 23px;
    left: -29.5px;
  }

  &__item::after {
    content: '';
    display: block;
    width: 14.37px;
    height: 20px;
    background-image: url('../images/icons/icon-fflame.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -35px;

    @media screen and (min-width: 1400px) {
      width: 22px;
      height: 30px;
    }
  }

  &__discription {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: #3d3d3d;
    letter-spacing: normal;

    @media screen and (min-width: 1400px) {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &__item_text {
    color: $accent-color;
  }
}
