// .examples {
//   @media screen and (max-width: 767px) {
//     width: 480px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 1280px;
//   }
// }
.statement {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.91;
  letter-spacing: 0.1em;
  color: $primaryTextColor;
  text-transform: uppercase;
  padding-left: calc(111px - 31px);
  overflow: hidden;
  position: relative;
  @media screen and (min-width: 768px) {
    padding-left: calc(119px - 39px);
    line-height: 1.36;
  }
  @media screen and (min-width: 1280px) {
    padding-left: calc(135px - 55px);
  }
}

.statement:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 60px;
  height: 1px;
  background: $primaryTextColor;
  margin-right: 20px;
  top: 50%;
  left: 0;
  @media screen and (max-width: 767px) {
    content: ' ';
    display: block;
    position: absolute;
    width: 60px;
    height: 1px;
    background: $primaryTextColor;
    margin-right: 20px;
    top: 25%;
    left: 0;
  }
}
.examples {
  &_container {
    margin-left: auto;
    margin-right: auto;
  }
  &_statement {
    margin-bottom: 44px;
  }
  &_item {
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      &:nth-last-child(even) {
        margin-right: 30px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1280px) {
      width: calc((100% - 30px * 3) / 4);
      margin-right: 30px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &_photo {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  // &_picture {
  //   height: 360px;
  // }
}
