.location {
    background: $main-bg-second-color;
    padding-bottom: 113px;
}
.location-container {
    width: 100%;
    padding: 0 20px;
}

.location-list {
    margin-bottom: 54px;
    list-style-type: none;
}
.location-card {
    min-width: 220px;
    height: 427px;
    padding: 43px 20px;
    margin: 0 auto;
    background: $text-color-dark-theme;

    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}
.location-list-items {
    padding: 0 25px;
}
.location-list-items:not(:last-child) {
    margin-bottom: 20px;
}
.location-title__cafe {
    font-family: $main-font;
    color: $text-color-dark-theme;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background-color: #F0D1A5;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.location-title__Foodtruck {
    font-family: $main-font;
    color: $text-color-dark-theme;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background-color: $bg-second-product-color;
    width: 130px;
    height: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.location-city {
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
}
.location-text {
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $text-second-color;
}
.location-days {
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.833;
}
.location-time {
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.833;
    color: $text-title-color;
}

.location-contacts__item {
    text-decoration: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $text-second-color;
}
.location-card__days__time {
    padding: 25px 0;
    margin: 25px 0;
    border: 1px solid #E1E1E1;
    border-left: none;
    border-right: none;
}

//===================BUTTON================\\

.location-button {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.location-button-main {
    @extend %btn;
    border: none;
    width: 162px;
    height: 44px;
    margin: 0 auto 10px;
    color: $text-color-dark-theme;
    background-color: $accent-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.313;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: start;
    position: relative;
    padding-left: 18px;
}
.location-button-main:hover,
.location-button-main:focus {
    background-color: #C7133E;
} 
.icon-arrow-white {
    position: absolute;
    width: 9px; 
    height: 13px;
    right: 13px;
    top: 17px;
}


.location-button-second {
    @extend %btn;
    border: none;
    width: 162px;
    height: 44px;
    margin: 0 auto;
    color: $accent-color;
    background-color: $text-color-dark-theme;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.313;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: start;
    position: relative;
    padding-left: 32px;
    
}    
.location-button-second:hover,
.location-button-second:focus {
    background-color: #ECEBEB;
}
.icon-arrow-red {
    position: absolute;
    width: 9px; 
    height: 13px;
    right: 33px;
    top: 17px;
}
//===================END BUTTON==============\\

//================@MEDIA 768PX===============\\

@media screen and (min-width: $tablet) {
    .location-container {
        padding: 0px;
    }
    .location-list {
        display: flex;
    }
    .location-list-items {
        padding: 0px;
    }
    .location-list-items {
        margin-bottom: 0px;
    }
    .location-list-items:not(:last-child) {
        margin-right: 20px;
    }
    .location-card {
        height: 544px;
    }
    .location-title__cafe {
        font-size: 16px;
        width: 73px;
        height: 28px;
        line-height: 1.875;
    }
    .location-title__Foodtruck {
        font-size: 16px;
        width: 138px;
        height: 28px;
        line-height: 1.875;
    }
    .location-city,
    .location-days,
    .location-time,
    .location-contacts__item {
        font-size: 14px;
        line-height: 1.857;
    }
    .location-text {
        font-size: 14px;
        line-height: 1.643;
    }
    .location-button {
        flex-direction: row;
        justify-content: center;
    }
    .location-button-main {
        margin: 0px;
        margin-right: 14px;
        width: 192px;
        padding-left: 30px;
    }
    .icon-arrow-white {
        right: 35px;
    }
    .location-button-second {
        margin: 0px;
        width: 174px;
        padding-left: 37px;
    }
    .icon-arrow-red {
        right: 39px;
    }
}
//================@MEDIA 1080PX===============\\