// light button for desktop
%light-btn-desk{
    padding: 27px 23px 26px 24px;
    color: $orange;
    border: 2px solid $orange;
    transition: all $transSet;
    &:hover, &:focus, &:active {
        color: $white-font;
        background-color: $orange;
        cursor: pointer;
    }
}

// orage button for desktop
%orange-btn-desk{
    padding: 27px 23px 26px 24px;
    color: $white-font;
    border: 2px solid $orange;
    background-color: $orange;
    transition: all $transSet;
    &:hover, &:focus, &:active {
        color: $orange;
        background-color: #ffffff;
        cursor: pointer;
    }
}


// light button for tablet & mobile
%light-btn{
    padding: 14px 9px;
    color: $orange;
    border: 2px solid $orange;
    transition: all $transSet;
    &:hover, &:focus, &:active {
        color: $white-font;
        background-color: $orange;
        cursor: pointer;
    }
}

// orage button for tablet & mobile
%orange-btn{
    padding: 14px 9px;
    color: $white-font;
    border: 2px solid $orange;
    background-color: $orange;
    transition: all $transSet;
    &:hover, &:focus, &:active {
        color: $orange;
        background-color: #ffffff;
        cursor: pointer;
    }
}