.modal__video {
  @include for-phone-only {
    width: 280px;
  }

  @include for-tablet-portrait-up {
    width: 618px;
    height: 562px;
  }

  @include for-desktop-up {
    width: 882px;
    height: 568px;
  }
}

.modal__frame {
  width: 100%;
  height: 100%;
}
