.portfolio.section {
  padding-top: 84px;
  padding-bottom: 84px;

  background-color: $white-color;
}

@media screen and (min-width: 481px) {
  .portfolio.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio.section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.portfolio.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 481px) {
  .portfolio.container {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio.container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.portfolio-section-text {
  position: relative;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.9;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.portfolio-section-text::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  top: 25%;
  left: -80px;
  transform: translateY(-50%);
  background-color: $primery-color;
}

@media screen and (min-width: 481px) {
  .portfolio-section-text::before {
    top: 50%;
  }
}

.portfolio-ul {
  padding-left: 0;
}

@media screen and (min-width: 481px) {
  .portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-item {
  list-style: none;
}

@media screen and (max-width: 480px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) {
  .portfolio-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
