.container {
    @media screen and (min-width: 768px) {
        padding-left: 39px;
        padding-right: 39px;
    }
    @media screen and (min-width: 1280px) {
        padding-left: 55px;
        padding-right: 55px;
    }
}
 /*субзаголовок*/
.subtitle-price {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}

.subtitle-price::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
}
/*заглавие*/
.title-price {
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 44px;
}
 /*див для прайса*/
.pricelist-div {
    margin-bottom: 50px;
    padding: 30px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    @media screen and (min-width: 768px) {
          padding-left: 40px;
          padding-right: 40px;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: row;
    }
}
 /*части прайса*/
.price-first,
.price-second {
    display: inline-flex;
    flex-direction: column;
}

.price-first {
    @media screen and (max-width: 1279px) {
        padding-bottom: 10px;
    }
    @media screen and (min-width: 1280px) {
          padding-right: 40px;
    }
}
    

.price-second {
    @media screen and (max-width: 1279px) {
        padding-top: 10px;  
    }
    @media screen and (min-width: 1280px) {
           padding-left: 40px;
    }
}

 /*строки в пайсе*/
.price-item {
    display: inline-block;
    flex-direction: row;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}
 /* подчеркивание в строках*/
.price-span1::before {
    width: 145px;
    @extend %price-span;
    @media screen and (min-width: 768px) {
        width: 340px;
    }
    @media screen and (min-width: 1280px) {
        width: 235px;
    }
}

.price-span2::before {
    width: 149px;
    @extend %price-span;
    @media screen and (min-width: 768px) {
        width: 347px;
    }
    @media screen and (min-width: 1280px) {
        width: 242px;
    }
}

.price-span3::before {
    width: 178px;
    @extend %price-span;
    @media screen and (min-width: 768px) {
        width: 376px;
    }
    @media screen and (min-width: 1280px) {
        width: 271px;
    }
}

.price-span4::before {
    width: 91px;
    @extend %price-span;
    @media screen and (min-width: 768px) {
        width: 270px;
    }
    @media screen and (min-width: 1280px) {
        width: 165px;
    }
}

.price-span5::before {
    width: 144px;
    @extend %price-span;
    @media screen and (min-width: 768px) {
        width: 337px;
    }
    @media screen and (min-width: 1280px) {
        width: 234px;
    }
}

.price-span6::before {
    width: 119px;
    @extend %price-span;
    @media screen and (min-width: 768px) {
        width: 306px;
    }
    @media screen and (min-width: 1280px) {
        width: 202px;
    }
}

.price-span7::before {
    width: 74px;
    @extend %price-span;
    @media screen and (min-width: 768px) {
        width: 247px;
    }
    @media screen and (min-width: 1280px) {
        width: 143px;
    }
}

.price-span8::before {
    width: 89px;
    @extend %price-span;
    @media screen and (min-width: 768px) {
        width: 267px;
    }
    @media screen and (min-width: 1280px) {
        width: 163px;
    }
}

 /*ссылка*/
.price-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FF6C00;
    box-sizing: border-box;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}
 /*секция*/
.section-price {
    align-items: center;
    padding-top: 84px;
    padding-bottom: 84px;
    background-image: linear-gradient( to right, $background-price-color, $background-price-color ), url('/images/price/mobileprice.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: 768px) {
        background-image: linear-gradient( to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('/images/price/tabletprice.jpg');
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: 1280px) {
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('/images/price/desktopprice.jpg');
        padding-top: 130px;
        padding-bottom: 130px;
    }
}
