
.layout--price {
	background-image: url(../images/slider2-mob.png);
	padding: 84px 0;
	background-color: #111319;
	background-position: center;
	max-width: 1280px;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		background-image: url(../images/slider2-tab.png);
		padding: 100px 0;
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1280px;
		background-image: url(../images/slider2-des.png);
		padding: 130px 0;
	}
}

.subtitle {
	&.price {
		font-size: $fs-text-mini;
		line-height: 1.36;
		letter-spacing: 0.09em;
		color: $secondary-text-color;

		&::before {
			content: "";
			display: inline-block;
			width: 60px;
			height: 6px;
			border-top: 1px solid rgba(157, 164, 189, 0.6);
			margin-right: 20px;
		}
		
	}

.price-items {
	&.primary--gradient {
		background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
	}
	padding: 30px;
	margin-bottom: 50px;
	@media screen and (min-width: 1200px) {
		display: none;
		padding: 0;
	}
	&.v--desc {
		@media screen and (max-width: 1200px) {
			display: none;
		}
		@media screen and (min-width: 1200px) {
			display: flex;
		}
	}
}

.price-item {
	display: flex;
	&:last-child {
		margin-bottom: 0;
	}
	margin-bottom: 20px;
	&__text {
		font-weight: normal;
		font-size: $fs-text-small;
		line-height: 20px;
		letter-spacing: 0.02em;
		color: $primary-text-color-lt;
		&--decor {
			flex: 1;
			width: 100%;
			border-bottom: 1px solid $secondary-text-color;
			margin: 0 6px;
			margin-bottom: 3px;
		}
	}
	&-desc {
		padding: 30px;
		color: $primary-text-color-lt;
		width: 585px;
		background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
		&.secondary--gradient {
			background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
		}
	}
}

.button-price__position {
	text-align: center;
}
