.price-subtitle::before {
  background: rgba(157, 164, 189, 0.6);
}
.subtitle-text {
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  margin-top: 0;
  margin-bottom: 0;
}
.price-background {
  margin-left: auto;
  margin-right: auto;
  height: 718px;
  max-width: 1600px;

  background-image: url(../images/price/price.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
}
.price-overlay {
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  max-width: 585px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
