.price {
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  margin: o auto;
}
.price-current {
  display: block;
  padding-top: 84px;
  padding-bottom: 84px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.subtitle {
  position: relative;
  margin-bottom: 20px;
}
.subtitle-text::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 60px;
  left: 0px;

  background: rgba(157, 164, 189, 0.6);
  transform: rotate(90deg);
}
.subtitle-text {
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  margin-top: 0;
  margin-bottom: 0;
}
.price-overlay {
  margin-left: auto;
  margin-right: auto;
}
