.section.price {
  background-color: #111319;
  background-image: url(../images/price-section/img.png);
  background-repeat: no-repeat;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  //   background-image: linear-gradient(rgba(7, 7, 10, 0.8), rgba(7, 7, 10, 0.8)),
  //     url(../images/price-section/background-mobile.jpg);
}

// .container.price {
// }

.tagline {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: '';
    border: 1px solid rgba(157, 164, 189, 0.6);
  }
}

.heading {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.166;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.price-list {
  @extend %list;
  padding: 30px;
  margin-bottom: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

  font-weight: 400;
  font-size: 14px;
  line-height: 2.143;
  /* identical to box height, or 214% */

  letter-spacing: 0.02em;

  @media screen and (min-width: $min-desktop) {
    column-count: 2;
  }
}

.price-item {
  display: flex;
  justify-content: space-between;
  color: $secondary-text-color;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.service-name {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}

.service-name::after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.price-line {
  border-bottom: 1px solid #000;
}

.service-price {
  margin: 0;
  padding: 0;
}
