.prices .container {
  padding: $sec-pad-mob $cont-pad-mob;
  @media screen and (min-width: $tablet - 1) {
    padding: $sec-pad-tab $cont-pad-tab;
  }
  @media screen and (min-width: $desktop - 1) {
    padding: $sec-pad-desk $cont-pad-desk;
  }

  background-color: #111319;
  background-image: url(../images/prices/prices.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/prices/prices@2x.png);
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url(../images/prices/prices@3x.png);
  }
  @media screen and (min-width: $tablet) {
    background-image: url(../images/prices/prices-tablet.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/prices/prices-tablet@2x.png);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../images/prices/prices-tablet@3x.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/prices/prices-desktop.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/prices/prices-desktop@2x.png);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../images/prices/prices-desktop@3x.png);
    }
  }
  & .title {
    @include font(700, 42px, 1.17, 0.05em, $heading-font);
    margin-top: 0;
    margin-bottom: 44px;
    color: $primary-white-color;
  }
  & .sub-title {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.services-prices {
  margin-bottom: 50px;
  padding: 30px;
  @media screen and (max-width: $desktop - 1) {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  @media screen and (min-width: $tablet - 1) and (max-width: $desktop - 1) {
    padding: 30px 40px;
  }
}
.price-list {
  & .left-item {
    margin-bottom: 20px;
  }
  & .item {
    color: $secondary-grey-color;
    @include font($size: 14px, $height: 2.14);

    display: flex;
    align-items: baseline;

    @media screen and (min-width: $tablet) {
      @include font($size: 18px, $height: 1.67);
    }
  }
  & .item:not(:last-child) {
    margin-bottom: 20px;
  }
  & .underline {
    height: 1px;
    flex-grow: 1;

    margin: 0 6px;

    background-color: rgba(157, 164, 189, 0.12);
  }
}
.prices .order-box {
  text-align: center;
}
.prices .order-link {
  padding: 12px 20px;

  color: $primary-white-color;
  text-transform: uppercase;
  @include font(600, 12px, 1.33, 0.09em);

  background-color: transparent;

  border: 1px solid $accent-color;
  border-radius: 25px;

  transition: background-color 250ms $timing-function;
}
.prices .order-link:hover,
.prices .order-link:focus {
  background-color: $accent-color;
}
@media screen and (min-width: $desktop - 1) {
  .price-list {
    display: flex;
  }
  .price-list .left-item,
  .price-list .right-item {
    width: calc((100% - 55px * 2) / 2);
    flex-grow: 1;

    padding: 30px 40px;
  }
  .price-list .left-item {
    margin: 0;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price-list .right-item {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
  .services-prices {
    padding: 0;
  }
}
