
// ==========заголовок

.products-text {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 121px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: var(--pink);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.products-title {
  margin-bottom: 31px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--dark-pink);

  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
    font-size: 48px;
    line-height: 55px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 49px;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}

// ===============список
.products-item {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.products-list {

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.products-content {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 485px;
  margin-top: 146px;

  padding-top: 140px;
  padding-left: 40px;
  padding-right: 40px;

  border-radius: 24px;

  @media screen and (min-width: 768px) and (max-width: 1279px){

  // @media screen and (min-width: 768px) {
    margin-top: 111px;
    padding-top: 123px;
    padding-left: 11px;
    padding-right: 11px;
    width: 150%;
    max-width: 220px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 209px;
    padding-top: 124px;
    padding-left: 44px;
    padding-right: 44px;

    max-width: 329px;
    max-height: 525px;
  }


  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    // transform: scale(1.1);
    // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    margin: auto;

    width: 249px;
    height: 252px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 768px) {
      transform: translate(-50%, -150%);
      width: 220px;
      height: 233px;
    }

    @media screen and (min-width: 1280px) {
      transform: translate(-50%, -140%);
      width: 335px;
      height: 335px;
    }
  }
}

.cream:hover:before,
.coffee:hover:before,
.shakes:hover:before {
  width: 280px;
  height: 270px;

  @media screen and (min-width: 768px) {
    width: 252px;
    height: 254px;
  }

  @media screen and (min-width: 1280px) {
    width: 372px;
    height: 355px;
  }
  
}

// <-------------анимация на морожки---------<

.cream {
  background: var(--pink);

  &::before {
    content: '';

    @media screen and (max-width: 767px) {
    background-image: url('../images/2-products/320-icecream.png');

      @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      background-image: url('../images/2-products/320-icecream@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
      screen and (min-resolution: 288dpi) and (max-width: 767px),
      screen and (min-resolution: 3dppx) and (max-width: 767px) {
      background-image: url('../images/2-products/320-icecream@3x.png');
      }
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/2-products/768-icecream.png');

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url('../images/2-products/768-icecream@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
      screen and (min-resolution: 288dpi) and (min-width: 768px),
      screen and (min-resolution: 3dppx) and (min-width: 768px) {
      background-image: url('../images/2-products/768-icecream@3x.png');
      }
    }
  

    @media screen and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-icecream.png');

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-icecream@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (min-width: 1280px),
      screen and (min-resolution: 288dpi) and (min-width: 1280px),
      screen and (min-resolution: 3dppx) and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-icecream@3x.png');
      }
    }
  }

}

.coffee {
  background: #f0d1a5;
  &::before {
    content: '';
    @media screen and (max-width: 767px) {
    background-image: url('../images/2-products/320-ice-coffee.png');

      @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      background-image: url('../images/2-products/320-ice-coffee@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
      screen and (min-resolution: 288dpi) and (max-width: 767px),
      screen and (min-resolution: 3dppx) and (max-width: 767px) {
      background-image: url('../images/2-products/320-ice-coffee@3x.png');
      }
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/2-products/768-ice-coffee.png');

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url('../images/2-products/768-ice-coffee@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
      screen and (min-resolution: 288dpi) and (min-width: 768px),
      screen and (min-resolution: 3dppx) and (min-width: 768px) {
      background-image: url('../images/2-products/768-ice-coffee@3x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-ice-coffee.png');

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-ice-coffee@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (min-width: 1280px),
      screen and (min-resolution: 288dpi) and (min-width: 1280px),
      screen and (min-resolution: 3dppx) and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-ice-coffee@3x.png');
      }
    }
  }
}

.shakes {
  background: #c2e297;
  &::before {
    content: '';
    @media screen and (max-width: 767px) {
    background-image: url('../images/2-products/320-milkshakes.png');

      @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px),
      screen and (min-resolution: 2dppx) and (max-width: 767px) {
      background-image: url('../images/2-products/320-milkshakes@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
      screen and (min-resolution: 288dpi) and (max-width: 767px),
      screen and (min-resolution: 3dppx) and (max-width: 767px) {
      background-image: url('../images/2-products/320-milkshakes@3x.png');
      }
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/2-products/768-milkshakes.png');

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url('../images/2-products/768-milkshakes@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
      screen and (min-resolution: 288dpi) and (min-width: 768px),
      screen and (min-resolution: 3dppx) and (min-width: 768px) {
      background-image: url('../images/2-products/768-milkshakes@3x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-milkshakes.png');

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
      screen and (min-resolution: 192dpi) and (min-width: 1280px),
      screen and (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-milkshakes@2x.png');
      }
      @media screen and (min-device-pixel-ratio: 3) and (min-width: 1280px),
      screen and (min-resolution: 288dpi) and (min-width: 1280px),
      screen and (min-resolution: 3dppx) and (min-width: 1280px) {
      background-image: url('../images/2-products/1200-milkshakes@3x.png');
      }
    }
  }
}

// ============заголовок блока

.products-content-title {
  position: relative;
  display: block;

  margin-top: 22px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--white);

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 38px;
  }


  &::after {
    content: '';
    background-image: url('../images/2-products/dots.svg');
    width: 26px;
    height: 6px;
    margin: 30px auto;
    display: block;
  }
}

.products-desc {
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */

  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white);
}

.products-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}




.button-products {
  
  position: relative;
  display: inline-block;
  border: none;
  width: 40px;
  height: 40px;

  margin: auto;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
}



// ============подробное описание продукта

.del { 
  display: none; 
}

.del:not(:checked) + label + * { 
  display: none; 
}
 
.del:not(:checked) + label,
.del:checked + label {
display: inline-block;

border: none;
width: 40px;
height: 40px;
padding: 10px 15px;
margin: auto;
cursor: pointer;
background-color: var(--white);
border-radius: 50%;
}

.del:checked + label {
background: var(--hero-pink);
box-shadow: -3px -6px 195px -13px rgba(212,20,67,0.69);
-webkit-box-shadow: -3px -6px 195px -13px rgba(212,20,67,0.69);
-moz-box-shadow: -3px -6px 195px -13px rgba(212,20,67,0.69);
}

.j {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);

  width: 250px;
 height: 250px;
  background-color: var(--white);
  border-radius: 10%;

  }







// .product-item {
//   position: relative;
  
//   width: 100%;
//   max-width: 300px;
//   text-align: center;
//   margin: auto;

//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//   }
// }

// .product-open {
//   position: absolute;
//   display: block;
//   width: 100%;
//   max-width: 528px;
//   max-height: 700px;
  
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
// }

// .product-list {
//   background: var(--pink);
//   padding: 15px 0;
 
// }
// .product-list h3 {
//   font-family: Titan One;
//   font-size: 30px;
//   font-weight: 400;
//   color: var(--dark-pink);
//   margin: 0 0 10px 0;
// }

// .product-text{
//   font-size: 18px;
//   font-weight: 400;

// }

// .price {
//   font-size: 36px;
//   color:var(--dark-pink);
//   display: block;
//   margin-top: 12px;;
//   margin-bottom: 12px;
// }
// .product-button {
//   text-decoration: none;
//   display: inline-block;

//   padding: 13px 15px;
//   min-width: 176px;
//   height: 44px;

//   border-radius: 22px;
//   font-weight: bold;
//   font-size: 14px;
//   text-transform: uppercase;

//   background: var(--dark-pink);
//   color: var(--white);
  
//   cursor: pointer;

//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus-within {
//     padding: 16px 15px;
//     width: 276px;
//     height: 84px;
//     font-size: 44px;
//   }
// }