.product {
  padding-top: 121px;
  padding-left: 20px;
  padding-bottom: 98px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 122px;
    padding-left: 34px;
    padding-bottom: 112px;
    padding-right: 34px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-top: 127px;
    padding-left: 115px;
    padding-bottom: 119px;
    padding-right: 115px;
  }

  .product-label {
    font-family: Titan One;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    color: #ffa5ba;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 30px;
    }
  }
  .products-title {
    font-family: Titan One;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 144px;

    color: #d41443;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      margin-bottom: 150px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      margin-bottom: 259px;
    }
  }
  .product-list {
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-right: -20px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      margin-right: -30px;
    }
  }
  .product-item {
    position: relative;
    background-color: #ffb8ca;
    border-radius: 24px;
    padding-top: 161px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    @media screen and (min-width: 768px) {
      padding-top: 152px;
      padding-right: 11px;
      padding-bottom: 40px;
      padding-left: 11px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 163px;
      padding-right: 44px;
      padding-bottom: 50px;
      padding-left: 44px;
    }

    &:nth-child(2) {
      background-color: #f0d1a5;

      .product-title::before {
        content: '';
        display: block;
        justify-content: center;
        position: absolute;
        top: -25%;
        right: 5%;

        width: 249px;
        height: 252px;
        margin-bottom: 22px;
        background-image: url('../images/products/ice-coffee.png');
        background-size: 249px 252px;

        @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
          screen and (min-resolution: 192dpi) and (min-width: 320px),
          screen and (min-resolution: 2dppx) and (min-width: 320px) {
          background-image: url('../images/products/ice-coffee@2x.png');
        }
        @media screen and (min-width: 768px) {
          top: -110px;
          right: -5px;
          background-image: url('../images/products/ice-coffee-table.png');
          background-size: 220px 233px;
          width: 220px;
          height: 233px;
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url('../images/products/ice-coffee-table@2x.png');
          }
        }
        @media screen and (min-width: 1280px) {
          top: -200px;
          background-image: url('../images/products/ice-coffee-desk.png');
          background-size: 335px 335px;
          width: 335px;
          height: 335px;
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url('../images/products/ice-coffee-desk@2x.png');
          }
        }
      }
    }
    &:nth-child(3) {
      background-color: #c2e297;

      .product-title::before {
        content: '';
        display: block;
        justify-content: center;
        position: absolute;
        top: -25%;
        right: 5%;

        width: 249px;
        height: 252px;
        margin-bottom: 22px;
        background-image: url('../images/products/milkshakes.png');
        background-size: 249px 252px;

        @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
          screen and (min-resolution: 192dpi) and (min-width: 320px),
          screen and (min-resolution: 2dppx) and (min-width: 320px) {
          background-image: url('../images/products/milkshakes@2x.png');
        }
        @media screen and (min-width: 768px) {
          top: -110px;
          right: -5px;
          background-image: url('../images/products/milkshakes-table.png');
          background-size: 220px 233px;
          width: 220px;
          height: 233px;
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url('../images/products/milkshakes-table@2x.png');
          }
        }
        @media screen and (min-width: 1280px) {
          top: -200px;
          background-image: url('../images/products/milkshakes-desk.png');
          background-size: 335px 335px;
          width: 335px;
          height: 335px;
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url('../images/products/milkshakes-desk@2x.png');
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 130px;
      }
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);
      margin-right: 20px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 90px) / 3);
      margin-right: 30px;
    }
  }

  .product-title {
    font-family: Titan One;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 30px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;

    &::before {
      content: '';
      display: block;
      justify-content: center;
      position: absolute;
      top: -25%;
      right: 5%;

      width: 249px;
      height: 252px;
      //   margin-bottom: 22px;
      background-image: url('../images/products/ice-cream.png');
      background-size: 249px 252px;

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url('../images/products/ice-cream@2x.png');
      }
      @media screen and (min-width: 768px) {
        top: -110px;
        right: -5px;
        background-image: url('../images/products/ice-cream-table.png');
        background-size: 220px 233px;
        width: 220px;
        height: 233px;
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/products/ice-cream-table@2x.png');
        }
      }
      @media screen and (min-width: 1280px) {
        top: -200px;
        background-image: url('../images/products/ice-cream-desk.png');
        background-size: 335px 335px;
        width: 335px;
        height: 335px;
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/products/ice-cream-desk@2x.png');
        }
      }
    }
    // &::before:nth-child(2) {
    //   content: '';
    //   display: block;
    //   justify-content: center;
    //   position: absolute;
    //   top: -25%;
    //   right: 5%;

    //   width: 249px;
    //   height: 252px;
    //   margin-bottom: 22px;
    //   background-image: url('../images/products/ice-coffee.png');
    //   background-size: 249px 252px;
    // }
    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      width: 26px;
      height: 6px;

      background-image: url('../images/products/group.svg');
    }

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.13;
    }
  }
  .product-text {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.04em;
    max-width: 200px;

    color: #ffffff;

    @media screen and (min-width: 768px) {
      line-height: 1.78;
      height: 124px;
      overflow: hidden;
      margin-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.75;
      height: 106px;
      max-width: 100%;
      margin-bottom: 62px;
      //   overflow: hidden;
    }
  }
  .product-button {
    // display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;

    padding: 0;
    border: none;
    cursor: pointer;

    img {
      border-radius: 50%;
    }
  }
}
