.products__container {
  margin-left: auto;
  margin-right: auto;
  @include for-size(mobile) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include for-size(tablet) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @include for-size(desktop) {
    width: 1280px;
    padding-left: 114px;
    padding-right: 114px;
  }
}

.products {
  text-align: center;
  &__headingtext {
    font-family: Titan One;
    text-transform: uppercase;
    color: $color-bcg-btn-social;
  }

  &__headingtitle {
    font-family: Titan One, sans-serif;
    text-transform: uppercase;
    color: $color-accent-text;
  }
  &__title {
    font-family: Titan One, sans-serif;
    font-weight: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-white-text;
  }
  &__text {
    font-weight: 700;
    letter-spacing: 0.04em;
    color: $color-white-text;
  }
}

@media screen and (max-width: 767.5px) {
  .products {
    &__headingtext {
      font-size: 18px;
      line-height: 1.17;
    }
    &__headingtitle {
      font-size: 34px;
      line-height: 1.15;
      letter-spacing: 0.04em;
    }
    &__item {
      position: relative;
      background-color: #ffb8ca;
      max-width: 280px;
      width: 100%;
      height: 485px;
      border-radius: 24px;
    }
    &__item:not(:last-child) {
      margin-bottom: 130px;
    }
    &__title::after {
      position: absolute;
      display: block;
      content: '';
      top: 214px;
      left: 50%;
      width: 26px;
      height: 12px;
      border-bottom: dotted 6px #ffffff;
      transform: translate(-50%, -50%);
    }
    &__img {
      max-width: 249px;
      max-height: 252px;

      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: -23%;
      left: 50%;
      transform: translate(-50%);
    }

    &__title {
      font-size: 20px;
      line-height: 1.15;
      margin-bottom: 70px;
      padding-top: 160px;
    }
    &__text {
      font-size: 14px;
      line-height: 1.5;
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}

@media screen and (min-width: 768px) {
  .products {
    &__headingtext {
      font-size: 26px;
      line-height: 1.15;
    }
    &__headingtitle {
      font-size: 48px;
      line-height: 1.15;
      letter-spacing: 0.04em;
    }
    &__img {
      max-width: 249px;
      max-height: 252px;

      margin-left: auto;
      margin-right: auto;
    }
    &__title {
      font-size: 20px;
      line-height: 1.15;
    }
  }
}
