.products-container {
  width: 100%;
  background: getColor(white-backgraund);
}
.advantages {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.45;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-top: 127px;
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.12;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}
.products-title {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor(title);
  margin: 0;
  margin-top: 15px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.16;
    letter-spacing: 0.06em;
  }
}
.products {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-bottom: 98px;
  @media screen and (max-width: 767px) {
    padding-bottom: 112px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.products-item {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 24px;
  margin-top: 161px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);
    max-width: 220px;
    margin-right: 20px;
    margin-top: 150px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    max-width: 329px;
    margin-top: 254px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .ice-cream {
    background:getColor(background-main);
    border-radius: 4px;
  }
  .ice-coffee {
    background: getColor(ice-coffee-backgraund);
    border-radius: 4px;
  }
  .milkshakes {
    background: getColor(milkshakes-backgraund);
    border-radius: 4px;
  }
  & div {
    width: 100%;
    padding-bottom: 40px;
  }
}
.products img {
  position: absolute;
  top: -35%;
  padding-top: 31px;
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: -25%;
  }
  @media screen and (min-width: 1200px) {
    top: -50%;
  }
}
.product-item-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 152px;
  width: 100%;
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    padding-top: 162px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 152px;
  }
  &:not(:first-child) {
    padding-top: 291px;
  }
}
.svg-item {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 30px;
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
  }
}
.product-description {
  margin: 0;
  padding: 0;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: getColor(white-color);
  width: 100%;
  max-width: 200px;
  margin-top: 31px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 198px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 241px;
  }
  margin-right: auto;
  margin-left: auto;
}
.flipping-svg {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:getColor(white-color);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 62px;
  }
  & svg {
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    fill: getColor(title);
  }
}
