@import 'src/sass/utils/_vars.scss';
@import 'src/sass/components/_common.scss';
.products {
  &__label {
    font-family: $secondFamily;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondaryColor;
    padding-top: 60px;
  }
  &__title {
    font-family: $secondFamily;
    font-size: 58px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primaryColor;
    padding-bottom: 150px;
  }
  &__list {
    display: flex;
    gap: 32px;
    flex-direction: row;
  }
  &__list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
    border-radius: 24px;
    background-color: #f0d1a5;
    position: relative;
    height: 538px;
    &:first-child {
      background-color: $primaryBackgroundColor;
    }
    &:last-child {
      background-color: #c2e297;
    }
  }
  &__list-dots::before {
    content: '...';
    color: $whiteColor;
    font-size: 36px;
    margin-right: 4px;
    font-weight: bold;
  }
  &__list-subtitle {
    font-family: $secondFamily;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 261px;
  }
  &__list-description {
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: white;
    padding-left: 64px;
    padding-right: 63px;
    padding-bottom: 302px;
  }
}
.container {
  display: flex;
  flex-direction: column;
}
.arrow-button--prod {
  @extend.arrow-button;
  position: absolute;
  top: 435px;
}
.arrow-button__svg {
  fill: #d41443;
}
