// .program-features__item::before {
//   counter-increment: -0;
//   content: 'Секция ' counter(section) ': ';
// }

// .program-features__item {
//   counter-reset: number 1;
// }

// .program-features__description::before {
//   counter-increment: number 1;
//   content: '0' counter(number) ' ';
// }
.program-features__list {
  counter-reset: num-p;
}
.program-features__description::before {
  counter-increment: num-p;
  content: '— 0' counter(num-p) ' ';
}
