li {
    list-style-type: none;
}

.section-problems {
    width: 1680px;
    @media screen and (min-width: 1px) and (max-width: 767px) {
        width: 320px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 768px;
    }
}

.advantages {
    margin-bottom: 130px;
    margin-left: 143px;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 143px;
    }
    @media screen and (min-width: 1px) and (max-width: 767px) {
        margin-left: 12px;
        margin-bottom: 50px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 768px;
        margin-bottom: 50px;
        margin-left: 40px;
    }
}

.advantages-li {
    position: relative;
    font-weight: bold;
    margin-right: 348px;
    @media screen and (min-width: 1px) and (max-width: 767px) {
        margin-top: 30px;
        width: 59px;
        height: 60px;
        margin-right: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        margin-right: 167px;
    }
}

.advantages-p {
    position: absolute;
    top: 13%;
    left: 80%;
    width: 366px;
    height: 66px;
    font-family: Montserrat;
    font-size: 20px;
    @media screen and (min-width: 1px) and (max-width: 767px) {
        width: 146px;
        height: 60px;
        margin: 0px;
        margin-left: 10px;
        top: -5%;
        left: 95%;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.08em;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 146px;
        height: 60px;
        font-weight: bold;
        letter-spacing: 0.08em;
        font-size: 14px;
        line-height: 20px;
        top: -20%;
        left: 100%;
        margin-left: 10px;
    }
}

.advantages-img {
    width: 100px;
    height: 102px;
    fill-opacity: 0;
    stroke: $accent-color;
    stroke-width: 0.3px;
    @media screen and (min-width: 1px) and (max-width: 767px) {
        width: 58.82px;
        height: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 58.82px;
        height: 60px;
    }
}

.problems {
    width: 1314px;
    height: 362px;
    left: 10%;
    position: absolute;
    top: 85%;
    background-color: $wightColor;
    @media screen and (min-width: 1px) and (max-width: 767px) {
        width: 280px;
        height: 488px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 14px;
        left: 5%;
        top: 175%;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 688px;
        height: 303px;
        left: 5.5%;
        top: 103%;
    }
}

.problems-ul {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width: 1px) and (max-width: 767px) {
        padding: 0px;
        margin: 0px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        display: flex;
        padding-left: 71px;
        padding-right: 88px;
    }
}

.problems-li {
    font-family: Montserrat;
    font-weight: bold;
    @media screen and (min-width: 1680px) {
        width: 336px;
        height: 67px;
        font-size: 20px;
        padding-bottom: 32px;
        margin-top: 54px;
        &:first-child {
            margin-left: 34px;
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    @media screen and (min-width: 1px) and (max-width: 767px) {
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 225px;
        height: 40px;
        margin-bottom: 56px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.08em;
    }
}

.problems-p {
    @media screen and (min-width: 1px) and (max-width: 767px) {
        margin-top: 5px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.08em;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        margin-top: 5px;
        letter-spacing: 0.08em;
        margin-right: 21px;
        text-align: left;
    }
}

.section-2 {
    background-color: $main-text-color;
    height: 560px;
    position: relative;
    width: 1680px;
    overflow: hidden;
    @media screen and (min-width: 1px) and (max-width: 767px) {
        width: 320px;
        margin-top: 49px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 768px;
        height: 340px;
    }
}

.section-2-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    width: 866px;
    height: 178px;
    padding-top: 54px;
    padding-left: 183px;
    color: $wightColor;
    @media screen and (min-width: 1px) and (max-width: 767px) {
        width: 280px;
        height: 128px;
        left: 20px;
        top: 987px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 136%;
        letter-spacing: 0.03em;
        padding-left: 20px;
        padding-top: 50px;
        margin: 0px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {
        width: 568px;
        height: 104px;
        font-weight: 800;
        font-size: 26px;
        letter-spacing: 0.03em;
        padding-top: 59px;
        padding-left: 42px;
        margin: 0px;
    }
}

.section-2-img {
    fill: $secondary-text-color;
    position: absolute;
    top: 15%;
    left: 75%;
    @media screen and (min-width: 1px) and (max-width: 1679px) {
        display: none;
    }
}

.span-title {
    color: $accent-color;
}

.span-number {
    color: $accent-color;
    @media screen and (min-width: 1px) and (max-width: 767px) {
        margin-bottom: 0px;
        width: 216px;
        height: 24px;
        font-size: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1679px) {}
}