.problems{
    padding-top: 50px;
    height: 545px;
    background-color: var(--title-text-color);
    @media screen and (min-width:768px) {
    padding-top: 60px;
    height: 340px;
    }
}
.problems-content {
    max-width: 280px;
    height: 488px;
    margin-top: 27px;
    padding: 20px 14px 20px 30px;
    background-color: var(--primary-white-color);
    @media screen and (min-width:768px) {
    max-width: 688px; 
    height: 303px;    
    }
}
.problems-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    @media screen and (min-width:768px) {
    font-size: 26px;        
    }
}
.problems-title-word{
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    @media screen and (min-width:768px) {
    font-size: 26px;      
        }
}
.problems-item-title {    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.649;
    letter-spacing: 0.08em;
    color: var(--accent-color);
    &:not(:last-child) {
    margin-bottom: 5px;}    
}
.problems-item-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.08em;
    color: var(--title-text-color);    
}
.problems-item {
    &:not(:last-child) {
        margin-bottom: 10px;}
}