@import 'src/sass/utils/_vars.scss';
.products {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin: 0 auto;
    width: 480px;
  }
  &__label {
    font-family: $secondFamily;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondaryColor;
  }
  &__title {
    font-family: $secondFamily;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primaryColor;
    margin-bottom: 148px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__list-item {
    list-style: none;
    border-radius: 24px;
    background-color: #f0d1a5;
    position: relative;
    margin-bottom: 140px;
    margin-left: 20px;
    margin-right: 20px;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 280px;
      background-image: url(/src/images/icecoffe-m.png);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      transform: translateY(-50%);
      top: 0;
    }
    &:first-child {
      background-color: $primaryBackgroundColor;
    }
    &:last-child {
      background-color: #c2e297;
    }
    &:first-child::before {
      content: '';
      display: block;
      width: 100%;
      height: 280px;
      background-image: url(/src/images/icecream-m.png);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      transform: translateY(-50%);
      top: 0;
    }
    &:last-child::before {
      content: '';
      display: block;
      width: 100%;
      height: 280px;
      background-image: url(/src/images/milkshakes-m.png);
    }
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__list-item:first-child::before {
    background-image: url(/src/images/icecream-m@x2.png);
    background-size: 280px 280px;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__list-item::before {
    background-image: url(/src/images/icecoffe-m@x2.png);
    background-size: 280px 280px;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products__list-item:last-child:before {
    background-image: url(/src/images/milkshakes-m@x2.png);
    background-size: 280px 280px;
  }
}
.products-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 160px 32px 40px;

  &__subtitle {
    font-family: $secondFamily;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $whiteColor;
  }
  &__dots::before {
    content: '...';
    color: $whiteColor;
    font-size: 36px;
    font-weight: bold;
    display: block;
  }
  &__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $whiteColor;
  }
}

@media screen and (min-width: 768px) {
  .products {
    .container {
      width: 768px;
    }
    &__list {
      gap: 16px;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    &__title {
      margin-bottom: 158px;
    }
    &__list-item {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 224px;
        background-image: url(/src/images/icecoffe-t.png);
        background-repeat: no-repeat;
        position: absolute;
        transform: translateY(-60%);
        top: 0;
      }
      &:first-child::before {
        display: block;
        width: 100%;
        height: 224px;
        transform: translateY(-60%);
        background-image: url(/src/images/icecream-t.png);
      }
      &:last-child::before {
        display: block;
        width: 100%;
        height: 224px;
        transform: translateY(-60%);
        background-image: url(/src/images/milkshakes-t.png);
      }
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .products__list-item:first-child::before {
      background-image: url(/src/images/icecream-t@x2.png);
      background-size: 224px 224px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .products__list-item::before {
      background-image: url(/src/images/icecoffe-t@x2.png);
      background-size: 224px 224px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .products__list-item:last-child:before {
      background-image: url(/src/images/milkshakes-t@x2.png);
      background-size: 224px 224px;
    }
  }
  .products-cards {
    gap: 32px;
    padding: 118px 32px 40px;
    &__description {
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .products {
    .container {
      display: flex;
      flex-direction: column;
      padding-top: 60px;
      margin: 0 auto;
      width: 1148px;
    }
    &__label {
      font-size: 30px;
      line-height: 1.13;
      letter-spacing: 0.04em;
    }
    &__title {
      font-size: 58px;
      line-height: 1.13;
      letter-spacing: 0.06em;
      margin-bottom: 260px;
      margin-top: 0;
    }
    &__list-item {
      list-style: none;
      border-radius: 24px;
      background-color: #f0d1a5;
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 394px;
        background-image: url(/src/images/icecoffee-d.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: translateY(-60%);
        top: 0;
      }
      &:first-child {
        background-color: $primaryBackgroundColor;
      }
      &:last-child {
        background-color: #c2e297;
      }
      &:first-child::before {
        content: '';
        display: block;
        width: 100%;
        height: 394px;
        background-image: url(/src/images/icecream-d.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        transform: translateY(-60%);
        top: 0;
      }
      &:last-child::before {
        content: '';
        display: block;
        width: 100%px;
        height: 394px;
        background-image: url(/src/images/milkshakes-d.png);
      }
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .products__list-item:first-child::before {
      background-image: url(/src/images/icecream-d@x2.png);
      background-size: 368px 394px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .products__list-item::before {
      background-image: url(/src/images/icecoffe-d@x2.png);
      background-size: 368px 394px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .products__list-item:last-child:before {
      background-image: url(/src/images/milkshakes-d@x2.png);
      background-size: 368px 394px;
    }
  }
  .products-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 165px 60px 60px;

    &__subtitle {
      font-size: 30px;
      line-height: 1.13;
      text-align: center;
      letter-spacing: 0.04em;
    }
    &__description {
      font-weight: 700;
      font-size: 16px;
      line-height: 176%;
      letter-spacing: 0.04em;
    }
  }
}
