.quality {
  background-color: $color-bcg-light-pink;
  margin-right: 0px;
}
.quality_list {
  padding-left: 20px;
  padding-bottom: 97px;
  margin-bottom: 0px;

  @include for-size(tablet) {
    display: flex;
    padding-left: 36px;
    padding-bottom: 140px;
  }
  @include for-size(desktop) {
    padding-left: 115px;
  }
}
.quality_items img {
  width: auto;
  margin-bottom: 16px;

  @include for-size(tablet) {
    margin-bottom: 36px;
  }
}
.quality_items {
  list-style-type: none;
}
.quality_items:not(:last-child) {
  margin-bottom: 38px;

  @include for-size(tablet) {
    margin-bottom: 0px;
    margin-right: 60px;
  }
  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.quality_items_title {
  margin-bottom: 16px;
  width: 98px;
  left: 20px;
  top: 3910px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-accent-text;

  @include for-size(tablet) {
    width: 147px;
    left: 475px;
    top: 2750px;
    font-size: 58px;
    line-height: 66px;
  }
}
.quality_items_text {
  margin-bottom: 0px;
  width: 230px;
  left: 20px;
  top: 3964px;

  font-family: DMSans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;
  color: $color-black-text;

  @include for-size(tablet) {
    width: 180px;
    left: 274px;
    top: 2309px;

    font-size: 14px;
    line-height: 174%;
  }
  @include for-size(desktop) {
    width: 330px;
    left: 475px;
    top: 2830px;

    font-size: 16px;
    line-height: 176%;

    letter-spacing: 0.02em;
  }
}
.products {
  display: flex;

  height: 122px;
  left: -18px;
  top: 4291px;
  margin: auto;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $color-bcg-light-pink;
  background-image: url(/src/images/phone/home-pic5.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/src/images/phone/home-pic5@2x.jpg);
  }

  @include for-size(tablet) {
    height: 264px;
    left: -9px;
    top: 2516px;
    background-image: url(/src/images/tablet/home-pic5.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/tablet/home-pic5@2x.jpg);
    }
  }

  @include for-size(desktop) {
    height: 430px;
    left: 0px;
    top: 3021px;
    background-image: url(/src/images/desktop/home-pic5.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/desktop/home-pic5@2x.jpg);
    }
  }
}
