.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.button-white {
  @include flex;
  height: 44px;
  @include font(700, 16px, 1.31, unset);

  background-color: #ffffff;
  border-color: transparent;
  border-radius: 22px;
  @include transition(background-color);
  cursor: pointer;
  color: #d41443;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.button-red {
  @include flex;
  height: 44px;
  @include font(700, 16px, 1.31, unset);

  background-color: #d41443;
  border-color: transparent;
  border-radius: 22px;
  @include transition(background-color);
  cursor: pointer;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}
