.reviews {
  background-color: #ffffff;
  padding-bottom: 86px;
  text-align: center;
}
.reviews-foto {
  width: 85px;
  height: 85px;
  //   background-color: blue;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/reviews/testimonials1.png');
}
.reviews-commit {
  position: relative;
  background: #fafafa;

  margin-top: 29px;
  margin-bottom: 30px;
  //   padding-top: ;
  //   padding-bottom: ;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;

  text-align: center;
  letter-spacing: 0.04em;

  color: #000000;
  svg {
    position: absolute;
    z-index: 1;
    left: 61px;
    top: 28px;
    width: 54px;
    height: 40px;
  }
}
.i {
  padding-left: 50px;
  padding-top: 43px;
  padding-right: 50px;
  padding-bottom: 26px;

  p {
    max-width: 180px;
    padding-left: 7px;
    padding-right: 16px;
    background-image: repeating-linear-gradient(
      to bottom,
      #ffffff00,
      #ffffff00 29px,
      #e1e1e1 30px,
      #e1e1e1 30px
    );
    position: relative;
    z-index: 1;
    margin: 0px;
  }
}
.reviews-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;

  color: #000000;
  &::before {
    content: '';
  }
  &::after {
    content: '';
  }
}
