html {
  scroll-behavior: smooth;
}
.scroll-up__link {
  position: fixed;
  z-index: 1000;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  background: linear-gradient(
    130deg,
    rgba(212, 20, 67, 0.2) 50%,
    rgba(212, 20, 67, 0.5) 50%
  );
  background-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-position: 100% 0;
    // background: linear-gradient(130deg,rgba(212, 20, 67, 0.5) 50%,  rgba(212, 20, 67, 0.2) 50%);
  }
  @media screen and (min-width: 768px) {
    width: 55px;
    height: 55px;
    padding: 10px;
  }
  @media screen and (min-width: 1280px) {
    width: 75px;
    height: 75px;
    padding: 12px;
  }
}

.scroll-up__icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}
