.feedback {
  padding-top: 80px;
  padding-bottom: 86px;
}

.feedback-box {
  display: block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.feedback__box-client {
  display: inline-block;
}

.feedback__picture {
  display: block;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feedback__box-comments {
  position: relative;
  background-color: #fafafa;
  width: 100%;

  margin-top: 29px;
  margin-bottom: 30px;
  padding: 43px 66px 26px 57px;
}

.feedback__name {
  margin-top: 18px;
  margin-bottom: 30px;

  font-family: DMSans;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}

.feedback__text {
  position: relative;
  font-family: DMSans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  z-index: 1;
}

.icon-skavichki {
  position: absolute;
  top: 32px;
  left: 61px;
  z-index: 0;
}
