.section-title {
  font-family: var(--text-secondary);
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-design-main);
  
  @media screen and(min-width: 768px) {
    font-size: 48px;
  }
  @media screen and(min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}
