.main-title,
.secondary-title {
  margin: 0;
  font-family: $title-font;
  font-weight: 400;
  text-transform: uppercase;
}

.main-title {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: $main-title-color;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.secondary-title {
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 1.17;
  color: $secondary-title-color;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
