.feedback {
  padding-top: 80px;
  padding-bottom: 86px;
}

.feedback-box {
  display: block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.feedback-img {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feedback__box-comments {
  background-color: #fafafa;
  margin-top: 29px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.feedback__name {
  margin-top: 18px;
  margin-bottom: 30px;

  font-family: DMSans;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}

.feedback__text {
  font-family: DMSans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}
