.problems-section{
    background-color: $text-white;
    background-color:$main-text;
    width: 100%;
}
.problems-section-container {
    position: relative;
    background-color: $main-text;
    height: 545px;
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 365px;
    padding-left: 20px;
}
.problems-section-title {
    color:$text-white;
    font-weight: 800;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.03em;
}
.orange {
  color: $acent-text;
}
.problems-list-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    top:190px;
    margin: 0 auto;

    background-color: $text-white;
    width: 280px;
    height: 488px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.problems-subtitle {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.43em;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
}
.problems-number {
    margin-left: 10px;
    position: relative;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.214em;
    letter-spacing: 0.08em;
    color: $acent-text;
}
.problems-flex {
    display: flex;
    align-items: center;
}
.problems-line {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.649em;
    color: $acent-text;
}
.fire {
    display: none;
}


@media screen and (min-width: 768px) {
    .problems-section-title {
        width: 430px;
        font-size: 24px;
    }

    .problems-section-container {
        padding-left: 40px;
        height: 340px;
        padding-bottom: 0px;

    }

    .problems-list-container {
        
        left: 40px;
        display: flex;
        flex-wrap: wrap;
        width: 688px;
        height: 323px;
        margin: 0;
        padding-top: 20px;
        padding-left: 90px;
        padding-bottom: 20px;
        
    }


    .container {
        margin-top: 50px;
    }

    .problems-subtitle {
        margin-top: 7px;
        margin-bottom: 10px ;
        margin-right: 30px;
        width: 230px;
    
    }
    

}

@media screen and (min-width: 1300px) {

    .problems-list-container {
        top: 350px;
        left: 183px;
        width: 1230px;
        height: 362px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-right: 62 px;
        padding-bottom: 38px;
        padding-left: 80px; 
        margin-right: 0;
     
      
    }


    .problems-section-container {
     
     max-width: 1680px;
     margin-left: auto;
     margin-right: auto;
     height: 560px;
     padding-top: 90px;
     padding-left: 183px;
     
     
    }

    .problems-section-title {
        font-size: 46px;
        width: 850px;
    }


    .problems-subtitle {
        margin-top: 7px;
        margin-bottom: 40px ;
        margin-right: 30px;
        width: 330px;
    
    }

    .problems-subtitle {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.43em;
        letter-spacing: 0.08em;
    }

    .problems-number {
        font-size: 20px;
    }

    .fire {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        fill: $secondary-acent;
    
    }

}


