.problems-section{
    background-color: $text-white;
    height: 693px;
    
}

.problems-section-title {
    color:$text-white;
    font-weight: 800;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.03em;
}