ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

/* Услуги и цены */
.services {
  max-width: 1280px;
  height: 718px;
  background-image: url(../images/imgSectionServices.jpg);
  background-color: #111319;
  text-align: center;
  &-title {
    padding-right: 300px;
    margin-top: 20px;
    margin-bottom: 44px;
    color: white;
    font-family: 'Raleway' sans-serif;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
.services-flatline {
  border-top: 1px solid #303030;
  width: 60px;
  margin-right: 20px;
}
.services-h3 {
  padding-top: 130px;
  padding-right: 300px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.services-main-list {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}
.services-list {
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
  padding: 40px 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services-item {
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 2);
  }
  margin-bottom: 20px;
  text-align: left;
  color: #9da4bd;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.button-services {
  display: inline-block;
  border: 1px solid #ff6c00;
  min-width: 160px;
  height: 40px;
  margin-bottom: 84px;
  padding: 12px 20px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  border-radius: 25px;
}
