.main-title {
    margin: 0;
    font-family: $title-font;
    @include font (normal, 58px, 1.13);
    text-align: center;
    letter-spacing: 0.06em;
    color: $main-title-color;
    text-transform: uppercase;
}

.secondary-title {
    margin: 0;
    padding-bottom: 15px;
    font-family: $title-font;
    @include font (normal, 30px, 1.13);
    text-align: center;
    letter-spacing: 0.04em;
    color: $secondary-title-color;
    text-transform: uppercase;
}