.section-subtitle {
  font-family: var(--text-secondary);
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-subtitle);
  margin-bottom: 15px;

  @media screen and(min-width: 768px) {
    font-size: 26px;
  }

  @media screen and(min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
