.main-titel {
    margin: 0;
    font-family: $titel-font;
    @include font (normal, 58px, 1.13);
    text-align: center;
    letter-spacing: 0.06em;
    color: $main-titel-color;
}

.secondary-titel {
    margin: 0;
    padding-bottom: 15px;
    font-family: $titel-font;
    @include font (normal, 30px, 1.13);
    text-align: center;
    letter-spacing: 0.04em;
    color: $secondary-titel-color;
}