.prices {
  margin-left: auto;
  margin-right: auto;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #111319;
  background-image: url(../images/prices-overlay-mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices-overlay-mob@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .prices {
    height: 858px;
    background-image: url(../images/prices-overlay-tab.png);
    background-size: 768px 858px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .prices {
      background-image: url(../images/prices-overlay-tab@2x.png);
    }
  }
}
@media screen and (min-width: 769px) {
  .prices {
    background-image: url(../images/prices-overlay-desk.png);
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .prices {
      background-image: url(../images/prices-overlay-desk@2x.png);
    }
  }
}
@media screen and (min-width: 1280px) {
  .prices {
    width: 100%;
    height: 718px;
    background-image: url(../images/prices-overlay-desk.png);
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .prices {
      background-image: url(../images/prices-overlay-desk@2x.png);
    }
  }
}
.prices .white-section-title {
  @extend %second-section-titles;
  color: $color-pale;
  margin-bottom: 44px;
}
.prices .section-title {
  @extend %section-title;
  font-family: $font-main-text;
  letter-spacing: 0.1em;
  color: $color-input-text;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: $color-input-text;
    border-radius: 4px;
  }
}
.price-list {
  padding: 30px;
  margin: 0 auto 50px;
  min-height: 440px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

  @media screen and (min-width: 1280px) {
    display: flex;
    min-height: 240px;
    background: initial;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
  }
}
.list-left-side,
.list-right-side {
  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1280px) {
  .list-left-side {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1280px) {
  .list-right-side {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.list-right-side .price-list-row:last-child {
  margin-bottom: 0;
}
.price-list-row {
  max-width: 418px;
  margin: 0 auto 20px;
  @media screen and (max-width: 420px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 481px) {
    max-width: 690px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 585px;
    &:nth-child(4n) {
      margin-bottom: 0;
    }
  }
}

.price-item {
  font-size: 14px;
  color: $color-text-on-dark;
  font-family: $font-main-text;
  letter-spacing: 0.02em;
  line-height: 2.14;
  display: table-cell;
  white-space: nowrap;
  width: 10%;
  padding-right: 6px;
}
.price-line {
  display: table-cell;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  position: relative;
  bottom: 4px;
}
.price-amount {
  text-align: right;
  font-size: 14px;
  color: $color-text-on-dark;
  font-family: $font-main-text;
  letter-spacing: 0.02em;
  line-height: 2.14;
  display: table-cell;
  white-space: nowrap;
  width: 5%;
  padding-left: 6px;
}
.button-box {
  text-align: center;
}
.prices .button {
  color: $color-pale;
  background: transparent;
  &:hover {
    background-color: $color-accent;
  }
}
