// переменные для секции Services

$tertiary-bg: #111319;
$fourth-bg: #171a24;
$fifth-bg: #090b13;

// Cтили для секции Services

.services {
  height: 826px;
  background-color: $tertiary-bg;
  background-image: linear-gradient(to right, rgba($tertiary-bg, 0) 0%, rgba($tertiary-bg, 1) 100%), url(../images/price/price-bg-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba($tertiary-bg, 0) 0%, rgba($tertiary-bg, 1) 100%), url(../images/price/price-bg-mob@2x.jpg);
  }

  @media screen and (max-width: $mobile - 1px) {
    height: auto;
  }

  @media screen and (min-width: $tablet) {
    height: 858px;
    background-image: linear-gradient(to right, rgba($tertiary-bg, 0) 0%, rgba($tertiary-bg, 1) 100%), url(../images/price/price-bg-tab.jpg);

    @media srceen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba($tertiary-bg, 0) 0%, rgba($tertiary-bg, 1) 100%), url(../images/price/price-bg-tab@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    height: 718px;
    background-image: linear-gradient(to right, rgba($tertiary-bg, 0) 0%, rgba($tertiary-bg, 1) 100%), url(../images/price/price-bg-desk.jpg);

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba($tertiary-bg, 0) 0%, rgba($tertiary-bg, 1) 100%), url(../images/price/price-bg-desk@2x.jpg);
    }
  }

  // .services__title
  &__title {
    color: $primary-white-color;
    margin-bottom: 44px;
  }

  // .services__subtitle
  &__subtitle {
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 80px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba($secondary-text-color, 0.6);

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      display: inline-block;
      content: '';
      width: 60px;
      height: 1px;
      background-color: rgba($secondary-text-color, 0.6);
    }
  }

  // .services__list
  &__list {
    color: $secondary-text-color;

    @media screen and (min-width: $desktop) {
      width: 50%;
      height: 240px;
      padding: 30px 40px;

      background-image: linear-gradient(to bottom, $fifth-bg 0%, rgba($fifth-bg, 0.2) 100%);
    }

    // .services__list--light
    &--light {
      @media screen and (min-width: $desktop) {
        background-image: linear-gradient(to bottom, $fourth-bg 0%, rgba($fourth-bg, 0.2) 100%);
      }
      @media screen and (max-width: 1279px) {
        margin-bottom: 20px;
      }
    }
  }

  // .services__item
  &__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    font-size: 14px;
    line-height: 2.14;

    // .services__item:not(:last-child)
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 399px) {
      font-size: 12px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 18px;
      line-height: 1.7;
    }
  }

  // .services__item-title
  &__item-title {
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;

    @media screen and (max-width: $mobile - 1px) {
      max-width: 50%;
    }
  }

  // .services__item-price
  &__item-price {
    display: inline-flex;
    flex-grow: 1;
    align-items: flex-end;
    white-space: nowrap;
    margin: 0;

    &::before {
      content: '';
      display: inline-flex;

      width: 100%;
      height: 1px;
      margin-right: 6px;
      margin-left: 7px;
      background: rgba($secondary-text-color, 0.12);
    }
  }
}

.container-list {
  padding: 30px;
  background-color: $fourth-bg;
  background: linear-gradient(to bottom, rgba($fourth-bg, 1) 0%, rgba($fourth-bg, 0.2) 100%);
  margin-bottom: 50px;

  @media screen and (max-width: 399px) {
    padding: 15px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    background-color: none;
    background: none;
    padding: 0;
  }
}

.services-button {
  display: flex;
  justify-content: center;
}
