.price-section {
  padding-top: 84px;
  padding-bottom: 84px;
  background-image: #111319, url(./../images/price.jpg);

}
.price-line {
  width: 1px;
  height: 60px;
  background: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}
.price-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  margin: 0;
  margin-bottom: 44px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  color: $title-secondary-color;
}
.price-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  margin-top: -10px;
  margin-bottom: -10px;
}
.price-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.price-button {
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}
