.slider-nav {
  @extend %list;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 50%;
  right: 39px;
  transform: translateY(-50%);

  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    right: 55px;
  }
}

.slider-nav-item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.slider-nav-button {
  @extend %button;
  display: block;
  width: 8px;
  height: 2px;
  padding: 0;
  background-color: $secondaryTextColor;

  cursor: pointer;

  &.current {
    width: 18px;
    background-color: $contrastColor;
  }
}

.slider-control {
  @extend %list;
  display: flex;
  justify-content: flex-end;
  margin-top: 181px;
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 145px;
  }
}

.slider-control-item {
  text-align: left;

  &:nth-child(2) {
    text-align: right;
  }
}

.slider-control-button {
  @extend %button;

  display: block;
  margin-left: 26px;
  padding: 0;
  border-top: 1px solid transparent;

  color: $textTrColor;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-align: inherit;

  background-color: inherit;

  cursor: pointer;

  &::after {
    content: '';
    display: block;
    margin-top: 8px;

    background-color: $textTrColor;

    width: 60px;
    height: 1px;
  }
}

.slider-control-button.current {
  color: $contrastColor;

  &::after {
    background-color: $contrastColor;
  }
}
