.slider {
  user-select: none;
  overflow: hidden;
}

.slider .slick-track {
  display: flex;
}

.slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.slider .slick-dots li {
  margin: 0 9px;
}

.slider .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 50%;

  background-color: #d9d9d9;
  font-size: 0;
  outline: transparent;
}

.slider .slick-dots li.slick-active button {
  border-radius: 0;
  background-color: transparent;
  background-size: 12px 12px;
  background-position: center;
  background-image: url(../images/icons/icon-review-house.svg);
}
