/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
/* Картинка */
.slider-item {
}
/* Слайдер */
.slider {
  position: relative;
  width: 100%;
  z-index: -1;
  @media screen and(min-width:768px) {
    left: 51px;
    position: relative;
    width: 100%;
    z-index: -1;
  }
  @media screen and(min-width:1200px) {
    left: 25px;
    position: relative;
    width: 100%;
    z-index: -1;
  }
}

/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
  position: absolute;
  @media screen and (max-width: 767px) {
    display: none;
    overflow: hidden;
  }
}
/* Стрелка влево */
.slick-arrow.slick-prev {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;

  padding-bottom: 8px;
  width: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
  outline: none;
  transition: color 250ms linear;

  padding-left: 0px;
  padding-right: 12px;
  text-align: left;
  &:focus,
  &:hover {
    color: white;
    border-color: white;
  }
}
.slick-arrow.slick-prev:focus,
.slick-arrow.slick-prev:hover{
  color: white;
  border-color:white;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;

  padding-bottom: 8px;
  width: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
  outline: none;
  transition: color 250ms linear;

  padding-left: 0px;
  padding-left: 12px;
  &:focus,
  &:hover {
    color: white;
    border-color: white;
  }
}
.slick-arrow.slick-next:focus,
.slick-arrow.slick-next:hover{
  color: white;
  border-color:white;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slider .slick-dots {
  position: absolute;
  top: 50%;
  right: 59px;
  transform: rotate(180deg);
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    right: 55px;
    transform: rotate(180deg);
  }
}
.slider .slick-dots li {
}
/* Активная точка */
.slider .slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider .slick-arrow {
  position: absolute;
  z-index: 10;
}
.slider .slick-arrow.slick-prev {
  right: 134px;
  bottom: 40px;
  @media screen and (min-width: 1200px) {
    right: 135px;
    bottom: 40px;
  }
}

.slider .slick-arrow.slick-next {
  text-align: right;
  bottom: 40px;
  right: 59px;
  @media screen and (min-width: 1200px) {
    text-align: right;
    bottom: 40px;
    right: 55px;
  }
}
.slider .slick-dots li {
  list-style: none;
}
.slider .slick-dots li button {
  padding: 1px 4px;
  font-size: 0;
  background: #9da4bd;
  outline: none;
  border: none;
}
.slider .slick-dots li.slick-active {
}
.slider .slick-dots li.slick-active button {
  padding: 1px 9px;
  /* background: white; */
}
.slider > img {
  @media screen {
    width: 100%;
    height: auto;
  }
}
