.header__social-list {
  .link {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;

    color: $dark-title-color;
  }

  .link:hover,
  .link:focus {
    color: $accent-color;
  }
}

.main-nav__list--item {
  .main-nav__link {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;

    color: $light-title-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.main-nav__link.link.button-header {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $light-title-color;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;

  padding: 12px 20px;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.header__content {
  @media screen and (max-width: 767px) {
    padding-right: 112px;
  }

  @media screen and (min-width: 768px) {
    padding-right: 95px;
    padding-bottom: 181px;
    padding-left: 96px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 520px;
    padding-left: 69px;
    padding-bottom: 142px;
  }
}

.header__name {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);

  margin-bottom: 20px;
}

.header__name::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: rgba(157, 164, 189, 0.6);
}

.header__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $light-title-color;

  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    font-size: 48px;
    line-height: 56px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 72px;
    line-height: 85px;
  }
}

.header__text {
  font-style: normal;
  font-weight: normal;

  letter-spacing: 0.02em;

  color: #9da4bd;

  @media screen and (max-width: 1199px) {
    font-size: 16px;
    line-height: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.header__slide--button {
  width: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);

  background: transparent;
  border: 0;
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  &:first-child {
    margin-right: 26px;
  }
}

.header__slide--button.left {
  text-align: left;
}

.header__slide--button.right {
  text-align: right;
}
