.swiper-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 350px;
  margin-right: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}
