.swiper-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 350px;
  margin-right: 0;
  z-index: 0;
}
.swiper-wrapper {
  margin-bottom: 50px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: #d31342;
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.swiper-pagination-bulletmy {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d9d9d9;

  border-radius: 50%;
  outline: none;
}

.swiper-pagination-bullet-activemy {
  background: transparent;
  border-radius: 0;
  background-image: url(../images/reviews/home.svg);
  background-repeat: no-repeat;

  text-align: center;

  background-size: contain;
  transform: scale(1.5);
  outline: none;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bulletmy {
  margin-right: 18px;
}

.swiper-pagination-clickable .swiper-pagination-bulletmy {
  cursor: pointer;
}
