.swiper-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 350px;
  margin-right: 0;
  z-index: 0;
}
.swiper-wrapper {
  margin-bottom: 50px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}
