$mobile: 320px;
$tablet: 768px;
$desktop: 1376px;

//можно закинуть в базовые стили
.section {
  margin-top: 39px;
  //margin-bottom: 50px;

  @media screen and (min-width: $tablet) {
    margin-top: 50px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 130px;
  }
}
//можно закинуть в базовые стили
%section__title {
  font-weight: 800;
  font-size: 20px;
  font-style: normal; //можно вынести в common
  line-height: 1.3;
  letter-spacing: 0.03em;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 46px;
  }
}
//можно закинуть в базовые стили
//не моя тема
.section__title--white {
  @extend %section__title;
  color: #fff;
}
//можно закинуть в базовые стили
.section__title--black {
  @extend %section__title;
  color: var(--main-color);
}

.section-teacher__title {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.teacher {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    //width: 300px;
  }
}

//временно, до вставки картинки
.teacher-img {
  //margin-right: 40px;
  width: 243px;
  height: 306px;
  background-color: var(--secondary-color);
  //border: 1px solid red;

  @media screen and (min-width: $tablet) {
    margin-right: 40px;
  }

  @media screen and (min-width: $desktop) {
    //margin-right: 40px;
    width: 530px;
    height: 667px;
  }
}

.section-teacher__title-surname {
  margin: 20px 0;
  padding: 0 0 10px;
  border-bottom: 1px solid var(--secondary-color);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--main-color);

  @media screen and (min-width: $tablet) {
    margin: 0 0 20px 0;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 0 30px 0;
    padding: 0 0 15px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.section-teacher__list-result {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: var(--main-color);

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.section-teacher__item-result:not(:last-child) {
  margin-bottom: 26px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 35px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 37px;
  }
}

.section-teacher__item-result::before {
  content: '';
  display: inline-block;
  margin-right: 9px;
  width: 17px;
  height: 14px;
  //background-repeat: no-repeat;
  //background-position: 50% 50%;
  background-size: cover;
  //background-color: var(--accent-color);
  background-image: url(/images/teacher/teacher-mark.svg);

  @media screen and (min-width: $desktop) {
    margin-right: 35px;
    width: 24px;
    height: 20px;
  }
}

.section-teacher__item-result:last-child::after {
  content: '';
  display: block;
  margin: 22px 0;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    margin: 20px 0;
  }

  @media screen and (min-width: $desktop) {
    margin: 31px 0;
  }
}

.section-teacher__list-education {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--secondary-color);

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.section-teacher__item-education:not(:last-child) {
  margin-bottom: 24px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 28px;
  }
}

.section-teacher__item-education:last-child {
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.section-teacher__link-education {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;
  color: var(--accent-color);

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}
