.team {
  background-color: $secondary-bg-color;
}

.team-title {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;

  color: $primary-text-color;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: $primary-text-color;
  }
}

.team-subtitle {
  margin-bottom: 44px;

  color: $primary-text-color;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
}

// .team-list {
// }

.team-item {
  @media screen and( max-width:1199px) {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }
}
// .team-thumb {
// }

.team-content {
  margin-top: 30px;

  text-align: center;
}

.team-name {
  margin-top: 0;
  margin-bottom: 8px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  color: $primary-text-color;
}

.team-prof {
  margin-bottom: 30px;

  color: $accent-bg-color;
  font-size: 14px;
  line-height: 1.35;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-radius: 50px;
  width: 44px;
  height: 44px;

  color: $primary-text-color;
  background-color: $primary-bg-color;

  //   transition: color;??????????????

  &:hover,
  &:focus {
    color: $accent-bg-color;
  }
}

.icon-img {
  fill: currentColor;
}
