.section {
  padding-top: 340px;
  padding-bottom: 50px;
  @media screen and (min-width: 1320px) {
    padding-top: 340px;
    padding-bottom: 130px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.teacher-title {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $second-bg-color;
  margin-top: 0;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1320px) {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.teacher-flexbox {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1320px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.teacher-picture {
  display: block;
  max-width: 100%;
  margin-bottom: 20.42px;
}

.teacher-experience {
  display: block;
  width: 280px;

  @media screen and (min-width: 768px) and (max-width: 1319px) {
    width: 402px;
    margin-left: 34px;
  }

  @media screen and (min-width: 1320px) {
    width: 642px;
    margin-left: 30px;
  }
}

.teacher-subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: $second-bg-color;
  margin-top: 0;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1320px) {
    margin-bottom: 15px;
  }
}

.teacher-experience-list {
  margin: 0;
  margin-bottom: 22px;
  list-style: none;
  padding-top: 20px;
  border-top: 1px solid $primary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1319px) {
    margin-bottom: 17px;
    padding-top: 20px;
  }

  @media screen and (min-width: 1320px) {
    margin-bottom: 39px;
    padding-top: 30px;
  }
}

.teacher-experience-item {
  position: relative;
  width: 253px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: $second-text-color;
  padding-left: 21px;

  @media screen and (min-width: 1320px) {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 34.59px;
    width: 530px;
  }
  @media screen and (min-width: 768px) and (max-width: 1319px) {
    padding-left: 20px;
    width: 375px;
  }
}

.teacher-experience-item:not(:last-child) {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
  }
}

.teacher-experience-item::before {
  display: block;
  width: 17.08px;
  height: 14px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/tick-icon-2.svg);

  @media screen and (min-width: 1320px) {
    width: 24.41px;
    height: 20px;
    background-image: url(../images/tick-icon.svg);
  }
}

.teacher-description {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.66;
  color: $primary-text-color;

  @media screen and (min-width: 1320px) {
    font-size: 18px;
    line-height: 1.55;
  }
}

.description-element::before {
  margin-bottom: 15px;
  display: block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: $accent-color;

  @media screen and (min-width: 1320px) {
    margin-bottom: 30px;
  }
}

.teacher-certificate {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66;
  border: 0;
  background-color: transparent;
  text-decoration: underline;

  @media screen and (min-width: 1320px) {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.55;
  }
}

.teacher-certificate-link {
  color: $third-text-color;
}
