.title {
    font-family: $accent-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 48px;
        line-height: 1.14;
    }
}

@media screen and (min-width: 1280px) {
    .title {
        font-size: 58px;
        line-height: 1.13;
        letter-spacing: 0.06em;        
    }
}