.hero-title {
  font-family: $secondary-font-family;
  @include font(26px, 1.15, 400);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-text-color;

  span {
    font-family: $secondary-font-family;
    @include font(48px, 0.96, 400);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $secondary-title-color;
  }
}

.section-title {
  font-family: $secondary-font-family;
  @include font(18px, 1.17, 400);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-title-color;
  span {
    font-family: $secondary-font-family;
    @include font(34px, 1.15, 400);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $secondary-title-color;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    @include font(22px, 1.14, 400);

    span {
      @include font(34px, 0.91, 400);
    }
  }

  .section-title {
    @include font(26px, 1.15, 400);

    span {
      @include font(48px, 1.15, 400);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    @include font(38px, 1.16, 400);

    span {
      @include font(58px, 0.81, 400);
    }
  }

  .section-title {
    @include font(30px, 1.13, 400);

    color: $primary-title-color;
    span {
      @include font(58px, 1.14, 400);
      letter-spacing: 0.06em;
    }
  }
}
