.title {
  font-family: $main-font;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  &-dark-theme {
    color: $title-dark-theme-color;
  }

  &-light-theme {
    color: $title-light-theme-color;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1688px) {
  .title {
    font-size: 46px;
    line-height: 1.3;

    .hero & {
      font-size: 58px;
    }
  }
}
