.l {
    // font-size: 2em;
	// line-height: 1.5;
	background-color: rgb(92 89 88 / 69%);
	border-radius: 0.75em;
	box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0,0,0,0.25) inset;
	color: #ffee57;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
    background-color: #c7c2c2;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0,0,0,0.2) inset;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgb(127 122 122 / 45%);    
    -webkit-box-shadow: 0px 2px 17px 0px rgb(252 252 252 / 29%);
    -moz-box-shadow: 0px 2px 17px 0px rgb(252 252 252 / 29%);
     box-shadow: 0px 2px 17px 0px rgb(252 252 252 / 29%);
}

.l:checked:before {
	background-color: currentColor;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0,0,0,0.25) inset;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
.l:focus {
	outline: 0;
}