.scrollup {
  position: fixed;
  background-color: $main-color;
  right: 30px;
  bottom: 25px;
  transform: rotate(-90deg);
  padding: 10px;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  text-align: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);

  @media screen and (max-width: 479px) {
    // opacity: 0;
    right: 16px;
    bottom: 16px;
  }
}

div.scrollup:hover {
  background-color: $accent-color;
  color: #fff;

  z-index: 1000;
}
