@mixin mobile-s {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin mobile-end-s {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet-s {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet-end-s {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop-s {
  @media screen and (min-width: 1200px) {
    @content;
  }
}


.tradition {
  
  @include mobile-end-s {
        background-image: url(/img/tradition/bg-320-@2x.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0px 766px;
      }

  @include desktop-s {
      background-image: url(/img/tradition/bg-1282-@2.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0px 342px;
    }
}

.tradition__photo {
  margin: 0;
}

.tradition .container {
  @include mobile-end-s {
    padding-top: 125px;
    padding-bottom: 145px;
  }

  @include tablet-s {
    padding-top: 130px;
    padding-bottom: 246px;
  }
  @include desktop-s {
    padding-top: 125px;
    padding-bottom: 310px;
    padding-right: 75px;
    padding-left: 75px; /*Паддинги секции больше стандартных 60рх*/
  }
}

.tradition__flex {
  @include mobile-end-s {
    padding-top: 26px;
    padding-bottom: 0px;
  }

  @include tablet-s {
    padding-top: 50px;
    padding-bottom: 27px; /*66px по макету - 39px блоку statistic*/

    display: flex;
    justify-content: center;
    margin-left: -17px; /*Для калькулятора*/
  }
  @include desktop-s {
    padding-top: 55px;
    padding-bottom: 0px;
    justify-content: center;
    margin-left: -15px; /*Для калькулятора*/
  }
}

.tradition__photobox,
.tradition__box {
  @include tablet-s {
    margin-left: 17px;
    flex-basis: calc(100% / 2 - 0px);
  }

  @include desktop-s {
    margin-left: 15px;
    flex-basis: calc(100% / 2 - 0px);
  }
}


.tradition__photo {
  @include mobile-end-s {
    margin-bottom: 46px;
  }

  @include tablet-s {
    margin-bottom: 0px;
  }
  @include desktop-s {
    margin-bottom: 0px;
  }
}

.tradition__box {
  padding: 0px;

  @include mobile-s {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include tablet-s {
   padding: 0px;
   padding-top: 50px;

  }

  @include desktop-s {
    padding-left: 55px;
    padding-top: 55px;
  }
}

.tradition__text {
  @include mobile-s {
  margin-bottom: 25px;
  }
  
  @include tablet-s {
  margin-bottom: 27px;
  }

 @include desktop-s { 
  margin-bottom: 35px;
 }
}

.tradition__desc {
  @include mobile-end-s {
    margin-bottom: 19px; /*высчитано вручную*/
  }

  @include tablet-s {
    margin-bottom: 56px;
  }
  @include desktop-s {
    margin-bottom: 45px;
  }
}

.statistic__box {
  padding: 0px;

  @include tablet-s {
    padding-left: 2px;
    padding-right: 41px;
  }

  @include desktop-s {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.statistic__flex {
  @include tablet-s {
    display: flex;
    justify-content: center;
    margin-left: -60px; /*калькулятор*/
  }
  @include desktop-s {
    margin-left: -30px; /*калькулятор*/
  }
}

.statistic__item {
  @include tablet-s {
    margin-left: 60px;
    flex-basis: calc(100% / 3 - 0px);
  }

  @include desktop-s {
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 0px);
  }
}

.statistic__item::before {
  content: '';
  display: block;
  width: 100%;
  height: 50px;

  background-repeat: no-repeat;
  background-color: $traditionColor;
  margin-bottom: 0px;

  @include mobile-s {
    margin-bottom: 17px;
    margin-top: 40px;
  }

  @include tablet-s {
    margin-bottom: 36px;
    margin-top: 38px;
  }
  @include desktop-s {
    margin-bottom: 39px;
    margin-top: 38px;
  }
}

.statistic__item:nth-child(1)::before {
  background-image: url(/img/tradition/milk.svg);
}
.statistic__item:nth-child(2)::before {
  background-image: url(/img/tradition/food.svg);
}
.statistic__item:nth-child(3)::before {
  background-image: url(/img/tradition/heart.svg);
}

.statistic__title {
  @include mobile-end-s {
    margin-bottom: 0px;
  }

  @include tablet-s {
    margin-bottom: 13px;
  }
  @include desktop-s {
    margin-bottom: 14px;
  }
}

/*.tradition__background {
  @include desktop-s {
  background-color: yellowgreen;
  background-image: url(/img/tradition/bg-1282-@2.png);
  background-size: contain;
  width: 1280px;
  height: 534px;

  position: absolute;

  }
}
// */
