.up-icon {
  width: 20px;
  height: 20px;
  fill: var(--accent-color);

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.btn-up {
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
  }
}
