.container {
    padding: 50px 20px;

}

.list {list-style: none;}

h1 {margin: 0;}

ul, ol {
    margin: 0;
    padding: 0;
}


// .doit {

// }

.doit-title {
    margin-bottom: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #111518;
    
    
}

// .doit-list {

// }

.doit-item {
    padding: 0 11px;
    width: 280px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

    &:not(:last-child) {
        margin-bottom: 15px;
    }

}

// .doit-svg {

// }

// .doit-svg-item {

// }

.doit-svg-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;

    text-align: center;
    letter-spacing: 0.08em;
    
    color: #111518;
    
}

.doit-svg-explain {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    
    text-align: center;
    letter-spacing: 0.08em;
    
    color: #B9B9B9;
    
    
}
