.section {
  background-color: teal;
  padding-top: 200px;
  padding-bottom: 200px;
}
.features {
  height: 547px;
  position: relative;
  background-color: #111518;
}
.features-title {
  @include font(800, 20px, 1.3);
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 30px;
}
.features-list {
  z-index: 3;
  position: absolute;
  margin: auto;
  max-width: 280px;
  display: block;
  padding-right: 24px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  counter-reset: section;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.features-item::before {
  counter-increment: section;
  content: '—  0' counter(section);
  @include font(700, 14px, 1.2);
  letter-spacing: 0.08em;
  color: #ff6b09;
}
.features-description {
  @include font(700, 14px, 1.71);
  letter-spacing: 0.08em;
  color: #111518;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
