.about-section {
  padding-top: 125px;
  padding-bottom: 40px;

  background-color: #fff5f6;
}

@media screen and (max-width: 767px) {
  .about-section {
    background-image: url(../../src/images/about/milk-mobile.png);
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .about-section {
      background-image: url(../../src/images/about/milk-mobile@2x.png);
    }
  }

  .about-description {
    padding: 0 30px;
  }
}

.img-box {
  margin-bottom: 45px;
  min-width: 280px;
}

.about-description {
  &-main {
    margin-bottom: 25px;

    font-family: DM Sans;
    @include font($fs: 12px, $fw: 500, $lh: 19px);
    color: #000000;
  }
  &-minor {
    margin-bottom: 20px;
    font-family: DM Sans;
    @include font($fs: 12px, $fw: 500, $lh: 19px);
    color: #907e82;
  }
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-bottom: 65px;
  }

  .img-box {
    margin-bottom: 45px;
    margin-right: 20px;
    min-width: 340px;
  }

  .about-content {
    display: flex;
    align-items: flex-start;
  }

  .about-description {
    padding-top: 50px;

    &-main {
      @include font($fs: 14px, $fw: 500, $lh: 25px);
    }
    &-minor {
      margin-bottom: 60px;
      @include font($fs: 14px, $fw: 500, $lh: 25px);
      letter-spacing: 0.04em;
    }
  }
}

@media screen and (min-width: 1280px) {
  .about-section {
    padding-bottom: 40px;
    background-image: url(../../src/images/about/milk-desktop.png);
    background-position: 0 335px;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .about-section {
        background-image: url(../../src/images/about/milk-mobile@2x.png);
      }
    }
  }

  .img-box {
    margin-bottom: 0;
    margin-right: 75px;
    min-width: 516px;
  }
  .about-description {
    &-main {
      margin-bottom: 35px;

      @include font($fs: 16px, $fw: 500, $lh: 28px);
      letter-spacing: 0.04em;
    }
    &-minor {
      margin-bottom: 45px;
      @include font($fs: 14px, $fw: 500, $lh: 27px);
    }
  }
}

.about-button {
  position: relative;
  display: flex;
  align-items: center;

  min-width: 176px;
  height: 44px;
  padding: 0 37px;

  font-family: DM Sans;
  @include font($fs: 14px, $fw: 700, $lh: 18px);
  text-align: center;

  color: $accent-color;
  background-color: $primary-white-color;
  border-radius: 22px;
  border: none;

  cursor: pointer;
  &-icon {
    position: absolute;
    top: 17px;
    right: 37px;
  }
  &:hover,
  &:focus {
    background-color: $accent-background-color;
  }
}

@media screen and (min-width: 768px) {
  .about-button {
    @include font($fs: 16px, $fw: 700, $lh: 21px);

    &-icon {
      top: 18px;
    }
  }
}
