.about-us_title {
  color: aqua;
}
.about-us_item {
  display: flex;
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $accent-color;

    & .about-us_subtitle {
      color: $second-title;
    }

    & .about-us_desc {
      color: $second-title;
    }

    & .about-us_img {
      fill: $second-title;
    }

    & .about-us_desc::before {
      background-color: $second-title;
    }
  }
}

.about-us_subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  letter-spacing: 0.08em;

  color: #111518;

  .about-us-item:hover & {
    color: $second-title;
  }
}

.about-us_desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;
  letter-spacing: 0.08em;

  color: #b9b9b9;

  .about-us_item:hover & {
    color: $second-title;

    /*  &::before {
      background-color: $accent-color;
    } */
  }

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 20px;
    width: 30px;
    height: 1px;
    background-color: $accent-color;
  }
}

.about-us_img {
  fill: $accent-color;
  width: 45px;
  height: 48px;

  /* &:hover {
    fill: $second-title;
  } */
}
