@media screen and (max-width: 727px) {
  .about-us {
    padding: 50px 0;
    .title {
      margin-bottom: 30px;
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0.03em;
    }

    .list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .item {
      padding: 30px 10px 25px 10px;
      text-align: center;
      width: 280px;
      box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
      // background-color: $white;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &:hover {
        background-color: $accent;
      }
      &:hover .about-us-svg {
        background-color: $accent;
        fill: $white;
        color: $white;
      }
      &:hover .low-title {
        color: $white;
      }
      &:hover .text {
        color: $white;
      }
      &:hover .text::before {
        background-color: $white;
      }
    }

    .about-us-svg {
      width: 45px;
      height: 48px;
      margin-bottom: 20px;
      fill: $accent;
    }

    .low-title {
      // word-wrap: break-word;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.428;
      /* or 143% */

      text-align: center;
      letter-spacing: 0.08em;

      margin-bottom: 42px;
      color: $secondary-text-color;
    }

    .text {
      position: relative;
      &::before {
        position: absolute;
        justify-content: center;
        align-items: center;
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        top: -20px;
        left: 120px;
        background-color: $accent;
      }
    }
  }
}

@media screen and (min-width: 728px) {
  .about-us {
    padding-bottom: 50px;

    .title {
      margin-bottom: 30px;
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 1.307;
      letter-spacing: 0.03em;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 688px;
    }

    .item {
      padding: 40px 22px 24px 22px;
      text-align: center;
      width: 334px;
      height: 334px;
      box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
      // background-color: $white;
      @media screen and (max-width: 1313px) {
        &:nth-child(-n + 4) {
          margin-bottom: 15px;
        }
      }

      &:hover {
        background-color: $accent;
      }
      &:hover .about-us-svg {
        background-color: $accent;
        fill: $white;
        color: $white;
      }
      &:hover .low-title {
        color: $white;
      }
      &:hover .text {
        color: $white;
      }
      &:hover .text::before {
        background-color: $white;
      }
    }

    .about-us-svg {
      width: 45px;
      height: 48px;
      margin-bottom: 30px;
      fill: $accent;
    }

    .low-title {
      display: flex;
      margin: 0 auto;
      // word-wrap: break-word;
      width: 249px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.428;
      /* or 143% */

      letter-spacing: 0.08em;
      margin-bottom: 42px;
      color: $secondary-text-color;
    }

    .text {
      position: relative;
      &::before {
        position: absolute;
        justify-content: center;
        align-items: center;
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        top: -20px;
        left: 135px;
        background-color: $accent;
      }
    }
  }
}

@media screen and (min-width: 1354px) {
  .about-us {
    padding-bottom: 130px;

    .title {
      margin-bottom: 50px;
      text-align: start;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0.03em;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 1314px;
    }

    .item {
      padding: 40px 22px 24px 22px;
      text-align: center;
      width: 425px;
      height: 396px;
      box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
      // background-color: $white;

      &:nth-child(-n + 3) {
        margin-bottom: 15px;
      }
      &:hover {
        background-color: $accent;
      }
      &:hover .about-us-svg {
        background-color: $accent;
        fill: $white;
        color: $white;
      }
      &:hover .low-title {
        color: $white;
      }
      &:hover .text {
        color: $white;
      }
      &:hover .text::before {
        background-color: $white;
      }
    }

    .about-us-svg {
      width: 45px;
      height: 48px;
      margin-bottom: 30px;
      fill: $accent;
    }

    .low-title {
      // display:flex;
      // margin: 0 auto;
      width: 361px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.4;
      /* or 140% */

      letter-spacing: 0.08em;
      margin-bottom: 42px;
      color: $secondary-text-color;
    }

    .text {
      position: relative;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */

      text-align: center;
      letter-spacing: 0.08em;

      &::before {
        position: absolute;
        justify-content: center;
        align-items: center;
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        top: -20px;
        left: 180px;
        background-color: $accent;
      }
    }
  }
}
