.about-section {
  background-color: var(--primary-bcg-color);
  background-image: url(../images/about/m-milk.png);
  background-repeat: no-repeat;
  background-position-y: 125px;
  padding-top: 125px;
}

.about-label {
  font-family: Titan One;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--bright-accent-color);
  display: block;
  margin-bottom: 15px;
}

.about-title {
  font-family: Titan One;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-accent-color);
  margin-bottom: 26px;
  margin-top: 0;
}

.about-picture-cow {
  margin-bottom: 46px;
}

.about-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  &.first {
    color: var(--primary-text-color);
    margin-bottom: 33px;
  }
  &.second {
    color: var(--secondary-text-color);
    margin-bottom: 17px;
  }
}

.about-button {
  width: 176px;
  height: 44px;
  background-color: var(--button-color);
  border-radius: 22px;
  border-color: transparent;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  margin-left: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--dark-accent-color);
  transition: all var(--time) var(--delay);
}

.about-button-icon {
  fill: var(--dark-accent-color);
  margin-left: 14px;
  transition: all var(--time) var(--delay);
}

.about-button-icon:hover,
.about-button-icon:focus {
  fill: var(--button-color);
}

.about-button:hover,
.about-button:focus {
  background-color: var(--dark-accent-color);
  color: var(--button-color);
}
