.container {
  min-width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.action {
  height: 507px;
  background-color: #111518;
  background-image: url(../images/mobile/bk-botton1x.png);
  background-position: center;
  background-size: cover;
  color: $white;

  span {
    color: $accent-color;
  }

  .action-text {
    max-width: 688px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  .label-text {
    display: block;

    margin-bottom: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
    letter-spacing: 0.08em;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-input {
    display: block;
    width: 280px;
    height: 48px;

    border: 1px solid #FFFFFF;
    background-color: transparent;
    box-sizing: border-box;
    color: $white;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::placeholder {
      color: $white;
    }
  }

  .hero-btn {
    margin-top: 50px;
  }
}