.advantages {
    padding-top: 39px;
    padding-bottom: 97px;
    background-color: $secondary-bg-pink;
}

.advantages-block {
    position: relative;

        &:not(:first-child) {
            margin-top: 100px;
    }
}

.advantages-heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;

  &::before {
    position: absolute;
    top: -65px;
  }
}

.advantages-heading.first::before {
    content: url(../images/advantages/icon1.png);
}

.advantages-heading.second::before {
    content: url(../images/advantages/icon2.png);
}

.advantages-heading.third::before {
    content: url(../images/advantages/icon3.png);
}

.advantages-description {
   font-weight: 700;
   font-size: 12px;
   line-height: 1.7;

   color: $text-color-black;
}

.advantages-block-item:nth-child(2) {
    margin: 16px 0;
}


@media screen and (min-width: 768px) {
    .advantages-block {
        
        &:not(:first-child) {
            margin-top: 0;
        }
    }
    .advantages-description {
        font-size: 14px;
    }
    .advantages-heading {
        font-size: 48px;
    }
    .advantages-container {
        display: grid;
        grid-template-columns: 180px 180px 180px;
        grid-gap: 60px;
    }
    .advantages-block-item {

        &:nth-child(2) {
            margin-top: 36px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .advantages {
        padding-bottom: 139px;
    }
    .advantages-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .advantages-heading {
        font-size: 58px;
    }
    .advantages-description {
        font-size: 16px;
    }
    .advantages-block-item {
        :nth-child(2) {
            margin: 40px 0 0 15px;
        }
    }
}