.advantages-section {
  background-color: var(--primary-bcg-color);
  padding-top: 39px;
  padding-bottom: 124px;
  @media screen and (min-width: 772px) {
    padding-bottom: 246px;
    padding-top: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 39px;
    padding-bottom: 310px;
  }
}

.advantages-list {
  @media screen and (min-width: 772px) {
    display: flex;
  }
}

.advantages-list-item {
  display: block;
  margin-top: 38px;
  &:first-child {
    margin-top: 0;
  }
  &::before {
    content: "";
    display: block;
    height: 50px;
    margin-bottom: 16px;
    background-color: var(--primary-bcg-color);
    background-repeat: no-repeat;
    background-image: url('../images/advantages/icon1.png');
    @media screen and (min-width: 772px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 772px) {
      margin-bottom: 40px;
    }
  }
}

.advantages-list-item {
  @media screen and (min-width: 772px) {
    margin-top: 0;
    width: calc((100% - 120px) / 3);
    &:last-child {
      margin-right: 0;
    }
  }
}

.advantages-item-title {
  font-family: Titan One;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
  color: var(--dark-accent-color);
  margin-top: 0;
  margin-bottom: 20px;
  @media screen and (min-width: 772px) {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 15px;
  }
}

.advantages-item-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;
  color: var(--primary-text-color);
  margin: 0;
  @media screen and (min-width: 772px) {
    font-size: 14px;
    line-height: 174%;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}