.advantages {
    background-color: var(--accent-bgc);
  
    padding-bottom: 97px;
  }
  
  .advantages_item {
    margin-bottom: 38px;
  }
  
  .advantages_title {
    margin-bottom: 10px;
    text-align: left;
  
    &.sunny {
      &::before {
        content: '';
        width: 33px;
        height: 50px;
        margin-bottom: 16px;
        display: block;
        background-image: url('../images/img-advantages/icon-mobile1.png');
      }
    }
  
    &.apple {
      &::before {
        content: '';
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
        display: block;
        background-image: url('../images/img-advantages/icon-mobile2.png');
      }
    }
  
    &.hurts {
      &::before {
        content: '';
        width: 44px;
        height: 50px;
        margin-bottom: 16px;
        display: block;
        background-image: url('../images/img-advantages/icon-mobile3.png');
      }
    }
  }
  
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .advantages_title {
      &.sunny {
        &::before {
          background-size: contain;
          background-image: url('../images/img-advantages/icon-mobile1@2x.png');
        }
      }
  
      &.apple {
        &::before {
          background-size: contain;
          background-image: url('../images/img-advantages/icon-mobile2@2x.png');
        }
      }
  
      &.hurts {
        &::before {
          background-size: contain;
          background-image: url('../images/img-advantages/icon-mobile3@2x.png');
        }
      }
    }
  }
  
  .advantages_text {
    max-width: 230px;
  
    font-weight: 700;
    font-size: 12px;
    line-height: 1.667;
    color: var(--primary-black-color);
      }
  
  
  @media screen and (min-width: 768px) {
    .advantages {
      padding-bottom: 136px;
    }
    .advantages_list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .advantages_title {
      margin-bottom: 13px;
    
    &.sunny {
      &::before {
        content: '';
        width: 33px;
        height: 50px;
        margin-bottom: 36px;
        display: block;
        background-image: url('../images/img-advantages/icon-tablet1.png');
      }
    }
  
    &.apple {
      &::before {
        content: '';
        width: 50px;
        height: 50px;
        margin-bottom: 36px;
        display: block;
        background-image: url('../images/img-advantages/icon-tablet2.png');
      }
    }
  
    &.hurts {
      &::before {
        content: '';
        width: 44px;
        height: 50px;
        margin-bottom: 36px;
        display: block;
        background-image: url('../images/img-advantages/icon-tablet3.png');
        }
      }
    }
  
  
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .advantages_title {
      &.sunny {
        &::before {
          background-size: contain;
          background-image: url('../images/img-advantages/icon-tablet1@2x.png');
        }
      }
  
      &.apple {
        &::before {
          background-size: contain;
          background-image: url('../images/img-advantages/icon-tablet2@2x.png');
        }
      }
  
      &.hurts {
        &::before {
          background-size: contain;
          background-image: url('../images/img-advantages/icon-tablet3@2x.png');
        }
      }
    }
  }
  
  .advantages_text {
      max-width: 180px;
    
      font-weight: 700;
      font-size: 14px;
      line-height: 1.74;
      color: var(--primary-black-color);
    }
  }
  
  @media screen and (min-width: 1280px) {
      .advantages {
          padding-bottom: 139px;
        }
  .advantages_list {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
    .advantages_title {
      margin-bottom: 15px;
      
      &.sunny {
          &::before {
            content: '';
            width: 33px;
            height: 50px;
            margin-bottom: 40px;
            display: block;
            background-image: url('../images/img-advantages/icon-desctop1.png');
          }
        }
      
        &.apple {
          &::before {
            content: '';
            width: 50px;
            height: 50px;
            margin-bottom: 40px;
            display: block;
            background-image: url('../images/img-advantages/icon-desctop2.png');
          }
        }
      
        &.hurts {
          &::before {
            content: '';
            width: 44px;
            height: 50px;
            margin-bottom: 40px;
            display: block;
            background-image: url('../images/img-advantages/icon-desctop3.png');
            }
          }
        }
      
      
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .advantages_title {
          &.sunny {
            &::before {
              background-size: contain;
              background-image: url('../images/img-advantages/icon-desctop1@2x.png');
            }
          }
      
          &.apple {
            &::before {
              background-size: contain;
              background-image: url('../images/img-advantages/icon-desctop2@2x.png');
            }
          }
      
          &.hurts {
            &::before {
              background-size: contain;
              background-image: url('../images/img-advantages/icon-desctop3@2x.png');
            }
          }
        }
      }
      
      .advantages_text {
        max-width: 330px;
      
        font-weight: 700;
        font-size: 16px;
        line-height: 1.76;
        color: var(--primary-black-color);
      }
  }
  