.advantages {
    background: linear-gradient(to bottom, $secondary-background-color 75%, $header-hero-background-color 75%);
}

.advantages-head {
    padding-right: 35px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $secondary-head-color;
}

.advantages-list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 35px;
    background-color: $white-color;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}