.advantages__title {
  padding-bottom: 30px;
  @include font(800, 20px, 1.3, center, 0.03em);
  color: $black;
}

.advantages-list {
  margin: 0 auto;
  padding: 0;
}

.advantages-list__item {
  margin: 0 auto;
  width: 280px;
  height: 280px;

  background-color: $white;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.advantages-list__link {
  display: block;
  padding: 30px 5px 25px 5px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $orange;
    cursor: pointer;

    .advantages-list__icon {
      fill: $white;
    }

    .advantages-list__title,
    .advantage-list__text {
      color: $white;
    }

    .advantages-list__title::after {
      background-color: $white;
    }
  }
}

.advantages-list__icon {
  display: block;
  margin: 0 auto 20px;
  fill: $orange;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-list__title {
  @include font(700, 14px, 1.429, center, 0.08em);
  color: $black;

  &::after {
    content: '';
    display: block;
    margin-top: 22px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 2px;
    background-color: $orange;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.advantage-list__text {
  @include font(500, 12px, 1.666, center, 0.08em);
  color: $grey;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .advantages-list__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .advantages__title {
    padding-bottom: 20px;
    @include font(800, 26px, 1.3, center, 0.03em);
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-list__item {
    width: 334px;
    height: 334px;
  }

  .advantages-list__link {
    padding: 40px 20px 25px 20px;
    height: 334px;
  }

  .advantages-list__icon {
    margin-bottom: 30px;
  }

  .advantages-list__title {
    &::after {
      margin-top: 24px;
      margin-bottom: 22px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .advantages-list__item {
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }

    &:not(:nth-child(n + 5)) {
      margin-bottom: 27px;
    }
  }
}

@media screen and (min-width: 1344px) {
  .advantages__title {
    padding-bottom: 50px;
    @include font(800, 46px, 1.3, left, 0.03em);
  }

  .advantages-list__item {
    width: 424px;
    height: 396px;

    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }

    &:not(:nth-child(n + 4)) {
      margin-bottom: 20px;
    }
  }

  .advantages-list__link {
    height: 396px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .advantages-list__title {
    @include font(700, 20px, 1.4, center, 0.08em);

    &::after {
      margin-top: 16px;
      margin-bottom: 14px;
    }
  }

  .advantage-list__text {
    @include font(500, 18px, 1.555, center, 0.08em);
  }
}
