.answers-section {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-style: normal;
    font-weight: 800;

    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color-light-theme;
  }
  &__item {
    display: block;
    margin-top: 30px;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }
  }
  &__subtitle {
    display: block;
    margin-bottom: 32px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.429;
    text-align: center;
    letter-spacing: 0.08em;
    color: $title-color-light-theme;
    transform: color 450ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover .answers-section__subtitle,
  &__item:focus .answers-section__subtitle {
    color: $title-color-dark-theme;
  }

  &__description {
    display: block;
    position: relative;
    margin-top: 15px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.08em;
    color: #b9b9b9;
    transform: color 450ms cubic-bezier(0.4, 0, 0.2, 1);

    &::before {
      content: '';
      position: absolute;
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 20px;
      height: 2px;
      left: 47%;

      text-align: center;
      border-radius: 2px;
      background-color: $accent-color;
      transform: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__item:hover .answers-section__description,
  &__item:focus .answers-section__description {
    color: $title-color-dark-theme;
  }
  &__item:hover .answers-section__description:before,
  &__item:focus .answers-section__description:before {
    background-color: #fff;
  }

  &__icon {
    width: 57px;
    height: 48px;
    fill: $accent-color;
    cursor: pointer;
    margin-bottom: 20px;
    transform: fill 450ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.answers-section__item:hover .answers-section__icon,
.answers-section__item:focus .answers-section__icon {
  fill: $title-color-dark-theme;
}

@media screen and (max-width: 767px) {
  .answers-section {
    .container {
      width: 320px;
      padding-top: 200px;
      padding-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    &__item {
      display: block;
      margin-top: 30px;
      padding-top: 30px;
      padding-bottom: 25px;
      width: 280px;
      height: 280px;
    }
    &__title {
      font-size: 20px;
    }
    &__description::before {
      margin-top: -17px;
    }
  }
}
// @media screen and (min-width: 480px) {
//   .answers-section {
//     .container {
//       width: 480px;
//       margin-left: auto;
//     }
//   }
// }

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .answers-section {
    .container {
      width: 768px;
      padding-top: 200px;
      padding-bottom: 50px;
    }

    &__title {
      font-size: 26px;
      line-height: 1.308;
    }
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__item {
      width: 334px;
      height: 334px;
      padding-top: 40px;
      padding-bottom: 28px;

      &:nth-child(odd) {
        margin-right: 20px;
      }
      &:not(:last-child) {
        margin-top: 27px;
      }
    }
    &__subtitle {
      display: block;
      margin-bottom: 52px;
    }
    &__description::before {
      margin-top: -25px;
    }
  }
}

@media screen and (min-width: 1300px) {
  .answers-section {
    .container {
      width: 1300px;
      padding-top: 280px;
      padding-bottom: 130px;
    }
    &__title {
      font-size: 46px;
    }
    &__item {
      width: 420px;
      height: 396px;
      padding: 40px 30px 55px 30px;
      &:nth-child(3n + 1) {
        margin-right: 20px;
      }
      &:nth-child(3n) {
        margin-left: 20px;
      }
      &:nth-last-child(n + 4) {
        margin-top: 20px;
      }
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 32px;
    }
    &__description {
      font-size: 18px;
      line-height: 1.556;
      &::before {
        margin-top: -20px;
      }
    }
  }
}
