.approach {
  padding-top: 50px;
  padding-bottom: 50px;
}

.approach-title {
  margin-bottom: 30px;
  text-align: center;
}

.approach-card {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-function);
}

.approach-card:hover,
.approach-card:focus {
  background-color: var(--accent-color);
}

.approach-card:hover .approach-icon,
.approach-card:focus .approach-icon {
  fill: var(--white-color);
}

.approach-card:hover .approach-subtitle,
.approach-card:focus .approach-subtitle {
  color: var(--white-color);
}

.approach-card:hover .approach-text,
.approach-card:focus .approach-text {
  color: var(--white-color);
}

.approach-card:hover .approach-subtitle::after,
.approach-card:focus .approach-subtitle::after {
  background-color: var(--white-color);
}

.approach-card:not(:last-child) {
  margin-bottom: 15px;
}

.approach-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  fill: var(--accent-color);
  transition: fill 250ms var(--transition-function);
}

.approach-subtitle {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 42px;
  transition: color 250ms var(--transition-function);
}

.approach-subtitle::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  bottom: -50%;
  right: 46%;
  transition: background-color var(--transition-function);
}

.approach-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--secondary-text-color);
  text-align: center;
  transition: color var(--transition-function);
}
