.approach {
  padding-top: 50px;
  padding-bottom: 50px;
}

.approach-title {
  margin-bottom: 30px;
  text-align: center;
}

.approach-item {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-function);
}

.approach-item:hover,
.approach-item:focus {
  background-color: var(--accent-color);
}

.approach-item:hover .approach-icon,
.approach-item:focus .approach-icon {
  fill: var(--white-color);
}

.approach-item:hover .approach-text,
.approach-item:focus .approach-text {
  color: var(--white-color);
}

.approach-item:hover .approach-subtitle,
.approach-item:focus .approach-subtitle {
  color: var(--white-color);
}

.approach-item:hover .approach-subtitle::after,
.approach-item:focus .approach-subtitle::after {
  background-color: var(--white-color);
}

.approach-list {
  margin-bottom: -15px;
}

.approach-item {
  margin-bottom: 15px;
}

.approach-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  fill: var(--accent-color);
  transition: fill var(--transition-function);
}

.approach-subtitle {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 42px;
  transition: color var(--transition-function);
}

.approach-subtitle::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  bottom: -20px;
  right: 46%;
  transition: background-color var(--transition-function);
}

.approach-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--secondary-text-color);
  text-align: center;
  transition: color var(--transition-function);
}

@media screen and (min-width: 768px) {
  .approach-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: -27px;
  }

  .approach-item {
    width: 334px;
    height: 334px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    margin-bottom: 27px;
  }
  .approach-icon {
    margin-bottom: 30px;
  }

  .approach-subtitle {
    margin-bottom: 52px;
  }
  .approach-subtitle::after {
    bottom: -25px;
  }
}

@media screen and (min-width: 1344px) {
  .approach {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .approach-title {
    text-align: left;
    margin-bottom: 50px;
  }
  .approach-list {
    margin: -10px;
  }
  .approach-item {
    width: 425px;
    height: 396px;
    display: block;
    max-width: calc((100% - 3 * 20px) / 3);
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .approach-subtitle {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .approach-text {
    font-size: 18px;
    line-height: 1.55;
  }
  .approach-subtitle::after {
    bottom: -15px;
    right: 46%;
  }
}
