.cafes .container {
  padding: 0 50px;
}
.cafes {
  background-color: $secondary-bg-color;
  padding-bottom: 0px;
}
.cafes-list {
  list-style: none;
  padding-bottom: 54px;
}
.cafes-item {
  background-color: $primary-text-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 43px;
  padding-top: 43px;
}
.cafes-type {
  @include font(12px, 1.875);
  text-align: center;
  letter-spacing: 0.04em;
  width: max-content;
  color: $primary-text-color;
  border-radius: 4px;
  padding-left: 23px;
  padding-right: 23px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.cafes-item:nth-child(even) .cafes-type {
  background-color: #c2e297;
}
.cafes-item:nth-child(odd) .cafes-type {
  background-color: #f0d1a5;
}
.cafes-location {
  @include font(12px, 1.86);
  letter-spacing: 0.04em;
  color: $secondary-text-color;
  margin-bottom: 10px;
}
.cafes-descrip {
  @include font(12px, 1.5);
  letter-spacing: 0.04em;
  color: $description-text-color;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}
.working-date {
  @include font(12px, 1.86);
  color: $secondary-text-color;
}
.working-time {
  @include font(12px, 1.86);
  color: $primary-title-color;
}
.working-list-item + .working-list-item {
  margin-top: 10px;
}
.working-list {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.address-item {
  @include font(12px, 1.5);
  color: $description-text-color;
}
.cafes .button {
  line-height: 0px;
  padding-top: 17px;
}
.cafes {
  .button-primary {
    color: $primary-text-color;
  }
  .button-secondary {
    color: $secondary-title-color;
  }
}

.cafes-btn-primary-svg {
  width: 8px;
  height: 8px;
  fill: $primary-text-color;
  margin-left: 9px;
}
.cafes-btn-secondary-svg {
  width: 8px;
  height: 8px;
  fill: $secondary-title-color;
  margin-left: 13px;
}

@media screen and (max-width: 767px) {
  .cafes .container {
    position: relative;
    top: -84px;
    left: 0px;
  }
  .cafes .button {
    display: block;
    margin: 0 auto;
  }
  .button-box {
    padding-left: 25px;
    padding-right: 26px;
    .button + .button {
      margin-top: 10px;
    }
  }
  .cafes-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .cafes .container {
    padding: 0 34px;
  }
  .cafes .container {
    position: relative;
    top: -78px;
    left: 0px;
  }
  .cafes {
    .button-primary,
    .button-secondary {
      margin: 0;
    }
  }

  .button-box {
    display: flex;
    justify-content: center;
    .button + .button {
      margin-left: 15px;
    }
  }
  .cafes .container {
    display: block;
  }
  .cafes-item + .cafes-item {
    margin-left: 20px;
  }
  .cafes-list {
    list-style: none;
    display: flex;
    padding-bottom: 81px;
  }
  .cafes-item {
    padding-left: 31px;
    padding-right: 31px;
    width: calc((100% - 40px) / 3);
    padding-bottom: 50px;
  }
  .cafe {
    padding-left: 15px;
    padding-right: 15px;

    margin-bottom: 30px;
  }
  .cafes-type {
    @include font(16px, 1.875);
    padding: 0px 16px;
    margin-bottom: 30px;
  }
  .cafes-location {
    @include font(14px, 1.86);
    margin-bottom: 14px;
  }
  .cafes-descrip {
    @include font(14px, 1.66);
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
  }
  .working-date,
  .working-time {
    @include font(14px, 1.86);
  }
  .working-list-item + .working-list-item {
    margin-top: 16px;
  }
  .working-list {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .address-item {
    @include font(14px, 1.83);
  }
}

@media screen and (min-width: 1200px) {
  .cafes .container {
    top: -102px;
    padding: 0 75px;
  }
  .cafes-item {
    padding-left: 43px;
    padding-right: 43px;
    width: calc((100% - 60px) / 3);
  }
  .cafes-item + .cafes-item {
    margin-left: 29px;
  }
  .cafes-list {
    padding-bottom: 86px;
  }
  .cafes-descrip {
    @include font(16px, 1.83);
  }
  .cafes-location {
    @include font(16px, 1.86);
  }
  .working-date,
  .working-time {
    @include font(16px, 1.86);
  }
  .address-item {
    @include font(16px, 1.86);
  }
  .cafes {
    min-height: 382px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center;
    // background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/cafes/desktop/cafes1x.png');

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      background-image: url('../images/cafes/desktop/cafes@2x.png');
    }
  }
}
