.choose{
    width: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FFFFFF;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.choose-item-title{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.428;
letter-spacing: 0.08em;
color: #111518;
position: relative;
}
.choose-list-item:not(:last-child){
    margin-bottom: 20px;
}
.choose-list-item .accent-line::before{
    content: "";
    display: block;
    background-color:#FF6B09;
    width: 20px;
    height: 2px;
    color:#FF6B09;
    margin-bottom: 20px;
}
.choose-list-item .accent-line::after{
    content: counter(section,decimal-leading-zero);
    counter-increment: section;
    position: absolute;
    display: block;
    top: -9px;
    color: #ff6b09;
    width: 20px;
    -webkit-transform: translateX(130%);
    transform: translateX(130%);
}
@media screen and (min-width:768px) {
    .choose{
        width: 688px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 98px;
    }
    .choose-list{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    }
    .choose-list-item:not(:last-child){
    margin-bottom: 30px;
    }
    .choose-list-item{
        flex-basis: calc(100%/2 - 20px);
    }
}
@media screen and (min-width: 1344px){
    .choose{
    width: 1314px;
    padding: 70px 80px;
justify-content: space-between;
    }
    .choose-list{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.choose-list-item{
    flex-basis: calc(100%/3 - 20px);
}
}
