.clients {
  display: block;
  margin-top: 50px;
}
.clients__title {
  margin-bottom: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.03em;

  color: #111518;
}
.clients__img {
  display: block;
  width: 90px;
  margin-right: auto;
  margin-left: auto;
}
.clients__icon {
  display: block;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.clients__name-title {
  margin-bottom: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
.clients__description {
  margin-bottom: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;

  color: #b9b9b9;
}
.clients__second-description {
  margin-bottom: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #3d3d3d;
}
.clients__text-box {
  text-decoration-line: underline;
  color: #ff6b09;
}
.clients__list {
  display: flex;
  margin-bottom: 50px;
}
.clients__item {
  margin-bottom: 20px;
}
.clients__item:not(:last-child) {
  padding-right: 10px;
}
.clients__item-none {
  display: none;
}
.clients__icon-left-line {
  display: flex;
  justify-content: center;
}
.clients__icon-right-line {
  display: flex;
}
@media screen and (min-width: 768px) {
  .clients__title {
    margin-bottom: 70px;
  }
  .clients__img {
    display: flex;
    width: 150px;
  }
  .clients__box {
    display: flex;
  }
}
