

.links {
  text-decoration: none;
}

.list {
  list-style: none;
}


.container_cont {

  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

    @media screen and(min-width: 768px) {
      // width: 772px;
      width: 700px;
      padding-left: 36px;
      padding-right: 36px;
    }
    @media screen and(min-width: 1280px) {
      // width: 772px;
      width: 1050px;
      padding-left: 115px;
      padding-right: 115px;
    }
}

/* Накидую стили  */

.contacts {
  background: #fff5f6;
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: contain;
  background-position: center;


  background: linear-gradient(180deg, rgba(255,255,255,1) 6%, rgba(255,245,246,1) 6%);
  padding-bottom: 113px;
  
  @media screen and(min-width: 768px) {
    padding-bottom: 158px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,245,246,1) 10%);
  }
  @media screen and(min-width: 1280px) {
    
    padding-bottom: 165px;
    // background-image: url('../images/bg.png');
    background: url('../images/bg.png'),  center, linear-gradient(180deg, rgba(255,255,255,1) 12%, rgba(255,245,246,1) 12%);
    }
}


.wrapper-city {
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.contacts-city {
  width: 100%;
  height: 427px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  margin-bottom: 20px;

    @media screen and(min-width: 768px) {
      width: 220px;
      height: 544px;
      margin-right: 20px;
      margin-bottom: 81px;
    }

      @media screen and(min-width: 1280px) {
      width: 330px;
      height: 572px;
      margin-bottom: 86px;
      margin-right: 31px;
    }
}

.contacts-city:last-child {
  margin-right: 0;
} 


.contacts-list {
  padding: 43px 20px;

    @media screen and(min-width: 768px) {
      padding: 50px 32px;
    }

      @media screen and(min-width: 1280px) {
      padding-top: 51px;
      padding-bottom: 62px;
      padding-right: 44px;
      padding-left: 44px;
   }
}

.contacts-list-item-name {
  width: 80px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  margin-bottom: 25px;

  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  background: #f0d1a5;
  border-radius: 4px;

  color: #ffffff;

    @media screen and(min-width: 768px) {
      width: 73px;
      
      font-size: 16px;
      line-height: 186%; 
      margin-bottom: 30px;
    }

      @media screen and(min-width: 1280px) {
      width: 73px;
      margin-bottom: 32px;
    }
}


.contacts-list-item-titel {
  /* width: 57px; */
  height: 22px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  margin-bottom: 10px;

  letter-spacing: 0.04em;

  color: #000000;

    @media screen and(min-width: 768px) {
      // width: 58px;
      height: 26px;
      font-size: 14px;
      line-height: 186%;
       margin-bottom: 14px;
  }

    @media screen and(min-width: 1280px) {
      // width: 66px;
      height: 30px;

      font-size: 16px;
      line-height: 186%;
       margin-bottom: 10px;

    }
}

.contacts-list-item-text {
  width: 179px;
  // height: 36px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #907e82;

    @media screen and(min-width: 768px) {
      width: 145px;
      // height: 65px;
      font-size: 14px;
      line-height: 166%;
      /* or 23px */
}

    @media screen and(min-width: 1280px) {
      width: 243px;
      // height: 50px;
      font-size: 16px;
      line-height: 183%;
      /* or 29px */
    }
  }

.contacts-list-item::after {
  content: '';
  display: block;

  width: 179px;
  height: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #e1e1e1;

     @media screen and(min-width: 768px) {
       width: 157px;
        margin-top: 30px;
        margin-bottom: 30px;
  }

     @media screen and(min-width: 1280px) {
      width: 234px;
      margin-top: 32px;
      margin-bottom: 32px;
  }
}


.contacts-list-item-week {
  // width: 107px;
  width: 100%;
  height: 22px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: #000000;

     @media screen and(min-width: 768px) {
      // width: 124px;
      height: 26px;
     font-size: 14px;
     line-height: 186%;
     /* identical to box height, or 26px */
  }

  
     @media screen and(min-width: 1280px) {
      // width: 134px;
      height: 30px;
      font-size: 16px;
      /* identical to box height, or 30px */
      letter-spacing: 0.04em;
  }
}

.contacts-list-item-time {
  // width: 162px;
  width: 100%;
  height: 23px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  color: #ffa5ba;

     @media screen and(min-width: 768px) {  
    //  width: 142px;
     height: 23px;
     font-size: 14px;
     /* or 26px */

  }
    @media screen and(min-width: 1280px) {
      // width: 152px;
      height: 30px;
      font-size: 16px;
      letter-spacing: 0.04em;
    }
}

.item-time {
  margin-bottom: 10px;
    @media screen and(min-width: 768px) {
      margin-bottom: 16px;
}

      @media screen and(min-width: 1280px) {
      margin-bottom: 15px;

}
}



.nav-list-item-link {
  width: 179px;
  height: 37px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #907e82;
  transition: color 250ms linear;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: #2196f3;
}

.foodtruck {
  width: 130px;
  /* height: 16px; */
  background: #c2e297;
  border-radius: 4px;
}

/* Кнопки  */

.locations {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

 .contacts-btn {
   min-width: 161px;
   height: 44px;
   padding: 12px 20px;

   font-family: DM Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 21px;
   border: 0;
   cursor: pointer;
   margin-bottom: 10px;

   display: flex;
   align-items: center;
   text-align: center;

   color: #d41443;
   background: #ffffff;

   border-radius: 22px;

   transition: color 250ms linear;
   transition: background-color 250ms linear;

     @media screen and(min-width: 768px) {
       margin-right: 15px;
       margin-bottom: 0;
     }

 }


 .contacts-btn::after {
   content: '';
   width: 8px;
   height: 10px;
   margin-left: 10px;
   background-image: url('../images/icon/cont-vector.svg');

   background-size: contain;
 }

.contacts-btn:hover ,
.contacts-btn:focus  {
  color: #ffffff;
  background-color: #d41342;
  background-image: url('../images/icon/Vector.svg');
}

.contacts-btn:hover::after ,
.contacts-btn:focus::after {

  background-image: url('../images/icon/Vector.svg');
}


.franchise {
  min-width: 161px;
  height: 44px;
  padding: 0px 32px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 22px;

  color: #d41443;
  background: #ffffff;
  transition: color 250ms linear;
  transition: background-color 250ms linear;

    @media screen and(min-width: 768px) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.franchise::after {
  content: '';
  width: 8px;
  height: 10px;
  margin-left: 10px;
  color: inherit;
  background-color: inherit;
  /* border: 2px solid #ffffff; */

   background-image: url('../images/icon/cont-vector.svg');

  background-size: contain;
  
}


.franchise:hover::after,
.franchise:focus::after {
  color: #ffffff;
   background-color: #d41342;
   background-image: url('../images/icon/Vector.svg');
}
