.dash {
  display: block;
  background-color: var(--dash-color);
  width: 100%;
  height: 1px;
  margin-bottom: 25px;
}
.arrow {
  fill: transparent;
  stroke: var(--color-accent);
  width: 8px;
  height: 10px;
  margin-left: 13px;
  transition-property: stroke;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--time-function);
}
.contacts {
  font: var(--text-main-font);
  padding-bottom: 115px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 81px,
    rgba(255, 245, 246, 1) 81px
  );
  &-button {
    border-radius: 22px;
    background-color: var(--background-elements);
    color: var(--color-accent);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 161px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    transition-property: background-color, color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--time-function);
  }

  &-active .arrow,
  &-button:hover .arrow,
  &-button:focus .arrow {
    stroke: var(--background-elements);
  }
  &-active,
  &-button:hover,
  &-button:focus {
    cursor: pointer;
    background-color: var(--color-accent);
    color: var(--background-elements);
  }

  &-item {
    display: block;
    min-width: 220px;
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }
  &-type {
    border-radius: 4px;
    background-color: var(--products-ice-coffee);
    padding: 0px 25px;
    text-transform: uppercase;
    margin: 0;
    border: none;
    display: inline-block;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    /* or 22px */

    letter-spacing: 0.04em;
  }
  &-labe-color-cafe {
    background-color: var(--products-ice-coffee);
  }
  &-labe-color-foodtruck {
    background-color: var(--products-milkshakes);
  }
  &-type-bg {
    margin-bottom: 25px;
  }
  &-city {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
  }
  &-description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    color: var(--contacts-text-color);
    margin-bottom: 25px;
  }
  &-days {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
  }
  &-hours {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--sub-title-elipse);
  }
  &-hours:not(:last-child) {
    margin-bottom: 16px;
  }
  &-work-hours {
    margin-bottom: 25px;
  }
  &-info {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--contacts-text-color);
    display: flex;
    flex-direction: column;
  }
  &-tel {
    color: currentColor;
    font-size: inherit;
    line-height: inherit;
  }
  &-mail {
    color: currentColor;
    font-size: inherit;
    line-height: inherit;
  }

  @media screen and (max-width: 767px) {
    & .container {
      padding-left: 50px;
      padding-right: 50px;
    }
    &-item {
      width: 100%;
      padding: 43px 20px;
    }
    &-item:not(:last-child) {
      margin-bottom: 10px;
    }

    &-list {
      margin-bottom: 54px;
    }
    &-button-item:not(:last-child) {
      margin-bottom: 10px;
    }
    &-button-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (min-width: 768px) {
    .dash {
      margin-bottom: 30px;
    }
    .contacts {
      padding-bottom: 158px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 81px,
        rgba(255, 245, 246, 1) 81px
      );
    }
    &-button {
      padding-right: 32px;
      padding-left: 32px;
    }
    &-item {
      width: calc((100% - 2 * 10px) / 3);
      padding: 50px 32px;
      margin: 10px;
    }
    &-list {
      margin: -10px;
    }
    &-type {
      font-size: 16px;
      border-radius: 6px;

      padding: 5px 15px;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 1.86;
    }
    &-city {
      font-size: 14px;
      line-height: 1.86;
    }
    &-description {
      font-size: 14px;
      line-height: 1.66;
      margin-bottom: 30px;
    }

    &-days {
      font-size: 14px;
      line-height: 1.86;
    }
    &-hours {
      font-size: 14px;
      line-height: 1.86;
    }
    &-hours:not(:last-child) {
      margin-bottom: 16px;
    }
    &-work-hours {
      margin-bottom: 30px;
    }
    &-info {
      font-size: 14px;
      line-height: 1.86;
    }
    &-tel {
    }
    &-mail {
    }

    &-list {
      margin-bottom: 81px;
      display: flex;
    }
    &-button-list {
      display: flex;
      justify-content: center;
    }
    &-button-item:not(:last-child) {
      margin-right: 15px;
    }
  }
  @media screen and (min-width: 1280px) {
    .dash {
      margin-bottom: 32px;
    }
    .contacts {
      padding-bottom: 165px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100px,
        rgba(255, 245, 246, 1) 100px
      );
    }
    &-button {
      padding-right: 35px;
      padding-left: 35px;
    }
    &-item {
      width: calc((100% - 30px * 2) / 3);
      padding: 52px 43px 61px 43px;
      //margin: -15px;
      margin: 15px;
    }
    &-list {
      margin: -15px;
      margin-bottom: 86px;
    }

    &-city {
      font-size: 16px;
      line-height: 1.86;
    }
    &-description {
      font-size: 16px;
      line-height: 1.86;
      margin-bottom: 32px;
    }

    &-days {
      font-size: 16px;
      line-height: 1.86;
    }
    &-hours {
      font-size: 16px;
      line-height: 1.86;
    }
    &-hours:not(:last-child) {
      margin-bottom: 15px;
    }
    &-description {
      margin-bottom: 32px;
    }

    &-work-hours {
      margin-bottom: 32px;
    }
    &-info {
      font-size: 16px;
      line-height: 1.83;
    }
  }
}
