.contacts-section{
    padding-top: 86px;
    padding-bottom: 113px;
}
.contacts-container{
    padding-left: 20px;
    padding-right: 20px;
}
.contacts-item{
    width: 220px;
    display: block;
    background: $primary-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 25px;
}
.contacts-name{
  width: 80px;
  align-items: center;
  text-align: center;
  color: $primary-text-color;
  background: $bg-second-color;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 12px;
 }
  .contacts-name-item {
   width: 130px;   
   align-items: center;
   text-align: center;
   color: $primary-text-color;
   background: $bg-third-color;
   border-radius: 4px;
   margin-left: 20px;
   font-size: 12px;
 }
  .contacts-city{
      color: $dark-text-color;
      margin-left: 20px;
      padding: 25px 10px;
      font-size: 12px;
  }

  