.how-made {
    @extend .container; 
    padding-top: 125px;
    background-color: $color-bcg-light-pink;
    background-image: url(../images/phone/sectionbg2.png);
    background-size: 320px 133px;
    background-position: 0px 766px;
    background-repeat: no-repeat;
}