.section-customer {
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.container-customer {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 176px;
    padding-right: 176px;
  }
}

.customer-list {
  @extend %list;
}

.customer-item {
  text-align: center;
}

.customer-list-content {
  margin: 0 auto 30px;
  padding: 43px 66px 26px 57px;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: $dark-text-color;
}

.customer-name {
  margin: 0 auto 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: $dark-text-color;
}

.customer-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
