.customer-reviews {
    padding-top: 40px;
    padding-bottom: 34px;
    background: red;
  
    @media screen and (min-width: 768px) {
      padding-top: 61px;
      padding-bottom: 59px;
    }
  
    @media screen and (min-width: 1280px) {
      padding-top: 60px;
      padding-bottom: 66px;
    }
  
    & .container {
      position: relative;
      text-align: center;
  
      @media screen and (min-width: 768px) {
        padding: 0 74px;
      }
  
      @media screen and (min-width: 1280px) {
        padding: 0 205px;
      }
    }
  
    &__wrapper {
      background-color: #fafafa;
      padding: 43px 50px 20px;
      margin-bottom: 52px;
  
      @media screen and (min-width: 768px) {
        padding: 30px 36px 28px 60px;
        margin-bottom: 42px;
      }
  
      @media screen and (min-width: 1280px) {
        padding: 47px 25px 32px 32px;
        margin-bottom: 34px;
      }
    }
  
    &__image {
      margin: 0 auto 29px;
  
      @media screen and (min-width: 768px) {
        margin: 0 auto 19px;
      }
  
      @media screen and (min-width: 1280px) {
        margin: 0 auto 15px;
      }
    }
  
    &__description {
      position: relative;
  
      z-index: 1;
  
      padding: 0 9px;
  
      font-weight: 500;
      font-size: 12px;
      line-height: 2.55;
  
      color: var(--secondaryTextColor);
  
      background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 29px,
        #e1e1e1 1px,
        #e1e1e1 30px
      );
  
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 2.16;
  
        padding: 0 44px 6px 20px;
  
        background-image: repeating-linear-gradient(
          to bottom,
          transparent,
          transparent 28px,
          #e1e1e1 1px,
          #e1e1e1 29px
        );
      }
  
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.86;
  
        padding: 0 35px 7px 28px;
      }
  
      &::before {
        position: absolute;
  
        z-index: -1;
  
        content: '';
        background-image: url(./images/sprite/sprite.svg#icon-mark);
        background-size: contain;
  
        width: 54px;
        height: 40px;
        top: -15px;
        left: 11px;
  
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(./images/sprite/sprite.svg#icon-mark);
        }
  
        @media screen and (min-width: 768px) {
          top: -18px;
          left: -23px;
        }
  
        @media screen and (min-width: 1280px) {
          top: -17px;
          left: -8px;
        }
      }
    }
  
    &__list {
      display: flex;
      justify-content: center;
    }
  
    &__author {
      position: relative;
  
      margin-bottom: 30px;
  
      font-weight: 500;
      font-size: 14px;
      line-height: 1.86;
  
      color: var(--secondaryTextColor);
  
      @media screen and (min-width: 768px) {
        margin-bottom: 35px;
  
        font-size: 16px;
      }
  
      @media screen and (min-width: 1280px) {
        font-size: 20px;
      }
  
      &::before {
        position: absolute;
        content: '';
        display: block;
        background-image: url(./images/sprite/sprite.svg#icon-separator);
        width: 32px;
        height: 4px;
        left: 50%;
        top: -18px;
        transform: translateX(-50%);
  
        @media screen and (min-width: 768px) {
          top: -14px;
        }
      }
    }
  }
  
  .swiper-container {
    width: 100%;
  }
  
  .swiper-slide {
    width: 100%;
  }
  
  .swiper-pagination {
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate3d(0, 0, 0) translateX(-50%);
  }
  
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  
  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 18px;
  }
  
  .swiper-pagination-bullet-active {
    width: 18px;
    height: 18px;
    background-image: url(./images/sprite/sprite.svg#icon-arrow);
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
  }
  