.reviews {
  &__section {
    padding-top: 80px;
    padding-bottom: 86px;

    @media screen and (min-width: $tablet) {
      padding-top: 121px;
      padding-bottom: 119px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 123px;
      padding-bottom: 132px;
    }
  }

  &__img {
    margin: 0 auto 29px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 19px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 15px;
    }
  }

  &__text-wrapper {
    background-color: #fafafa;
    background-image: url(././../images/svg/quote-icon.svg);
    background-repeat: no-repeat;
    background-position: 61px 28px;
    padding: 43px 50px 20px 50px;

    @media screen and (min-width: $tablet) {
      padding: 47px 80px 34px 80px;
      width: 620px;
      margin: 0 auto;
    }

    @media screen and (min-width: $desktop) {
      padding: 47px 89px 39px 87px;
      width: 926px;
    }
  }

  &__text {
    padding-right: 16px;
    padding-left: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.583;
    text-align: center;
    margin-bottom: 30px;
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1 0px 1px,
      transparent 1px 31px
    );

    @media screen and (min-width: $tablet) {
      font-size: 14px;
      line-height: 2.143;
      letter-spacing: 0.04em;
      margin-bottom: 24px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 1.875;
      margin-bottom: 15px;
    }
  }

  &__decor {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 4px;
    height: 4px;
    background-color: $accent-hover-color;
    border-radius: 50%;
    margin-bottom: 18px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: $accent-hover-color;
      border-radius: 50%;
    }
    &::before {
      right: 10px;
    }

    &::after {
      left: 10px;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 14px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 15px;
    }
  }

  &__customer-name {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.857;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.875;
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 1.85;
    }
  }
}
