.description {
  padding-top: 198px;
  padding-bottom: 50px;
  &-title {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;

    text-align: center;
    letter-spacing: 0.03em;

    color: #111518;
  }
}
.descriprion-list__thumb {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.descriprion-list__content {
  padding-bottom: 22px;
  padding-left: 11px;
  padding-right: 11px;
}
.descriprion-list__line {
  display: block;

  margin-bottom: 5px;
  color: $accent-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .description-list__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.description-list {
  // border: 1px solid green;
  &__item {
    // border: 1px dotted rebeccapurple;
    background: #ffffff;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  }
  &__title {
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.428;

    text-align: center;
    letter-spacing: 0.08em;
  }
  &__description {
    // padding-bottom: 23px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;

    text-align: center;
    letter-spacing: 0.08em;

    color: #b9b9b9;
  }
}
.description-list__icon {
  fill: $accent-color;
  text-align: center;
}

.description-list__item:focus,
.description-list__item:hover {
  background-color: $accent-color;
}

.description-list__item:focus .description-list__icon,
.description-list__item:hover .description-list__icon {
  fill: $white;
}
.description-list__item:focus .description-list__title,
.description-list__item:hover .description-list__title {
  color: #ffffff;
}
.description-list__item:focus .descriprion-list__line,
.description-list__item:hover .descriprion-list__line {
  color: #ffffff;
}

.description-list__item:focus .description-list__description,
.description-list__item:hover .description-list__description {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .description-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
  }
  .description-list__item {
    flex-basis: calc(100% / 2 - 20px);
    margin-top: 20px;
    margin-left: 20px;
  }
  .description-title {
    font-size: 26px;
    line-height: 1.153;
    margin-bottom: 20px;
  }
  .descriprion-list__content {
    padding-left: 31px;
    padding-right: 30px;
    padding-bottom: 44px;
  }
  .descriprion-list__thumb {
    padding-bottom: 30px;
    padding-top: 40px;
  }
  .description-list__title {
    margin-bottom: 10px;
  }
  .descriprion-list__line {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1344px) {
  .description {
    padding-top: 280px;
    padding-bottom: 130px;
  }

  .description-list__item {
    flex-basis: calc(100% / 3 - 20px);
  }
  .description-title {
    margin-bottom: 50px;
    font-size: 46px;
    line-height: 1.304;
    text-align: start;
  }
  .description-list__title {
    font-size: 20px;
    line-height: 1.4;
  }
  .description-list__description {
    font-size: 18px;
    line-height: 1.556;
  }
}
