@media screen and(min-width:320px) and(max-width:767px) {
  .description-list {
    display: block;

    .item {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      .description-text {
        max-width: 146px;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;

        display: flex;
        align-items: center;
        letter-spacing: 0.08em;
      }
    }
  }
  .description-svg {
    width: 58px;
    height: 60px;
  }
}
@media screen and(min-width: 768px) and(max-width: 1344px) {
  .description-list {
    display: flex;

    margin-top: 114px;

    .item {
      display: flex;
      justify-content: center;
      margin-right: 21px;
      .description-text {
        max-width: 146px;
        margin-left: 10px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;

        display: flex;
        align-items: center;
        letter-spacing: 0.08em;
      }
    }
  }
  .description-svg {
    width: 58px;
    height: 60px;
  }
}
@media screen and(min-width: 1344px) {
  .description-list {
    display: flex;

    margin-top: 114px;

    .item {
      display: flex;
      justify-content: center;
      margin-right: 21px;
      .description-text {
        max-width: 146px;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;

        display: flex;
        align-items: center;
        letter-spacing: 0.08em;
      }
    }
  }
  .description-svg {
    width: 58px;
    height: 60px;
  }
}
