.features__item_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.429;
  letter-spacing: 0.08em;
  color: #111518;
  margin-left: 10px;
}

.features__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.features__svg {
  width: 59px;
  height: 60px;
  fill: #ff6b09;
}
