.features {
    align-items: center;
    &-text {
        width: 142px;
        margin-left: 15px;
    }
}

.fetures-text-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.features-title {

    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.fetures-text-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
}