.features {
  padding-top: 30px;
  padding-bottom: 50px;

  background-color: #e5e5e5;

  @media screen and (min-width: 1316px) {
    padding-top: 95px;
    padding-bottom: 130px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-title {
    @extend %title;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &-list-item {
    @media screen and (min-width: 320px) {
      width: 216px;
    }
    @media screen and (min-width: 1316px) {
      width: 448px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 21px;
      }
    }

    @media screen and (min-width: 1316px) {
      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }

  &-list-text {
    display: inline-flex;
    align-items: center;
  }

  &-list-text::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: aqua;

    @media screen and (min-width: 320px) {
      width: 59px;
      height: 60px;
    }
    @media screen and (min-width: 1316px) {
      width: 100px;
      height: 102px;
    }
  }

  &-list-item &-list-text {
    @include font(700, 14px, 20px, 0.08em);

    @media screen and (min-width: 1316px) {
      @include font(700, 20px, 33px, 0.08em);
    }
  }
}

.icon-1::before {
  background-image: url('../images/features/features-icon-1.svg');
}
.icon-2::before {
  background-image: url('../images/features/features-icon-2.svg');
}
.icon-3::before {
  background-image: url('../images/features/features-icon-3.svg');
}
