.features {
    align-items: center;
    padding-top: 100px;

    &-text {
        width: 142px;
        margin-left: 15px;

        @media screen and (min-width: 1200px) {
            font-size: 20px;
            line-height: 164.9%;
            margin: -17px;
            width: 366px;
        }

    }
}

.spasibo-dizayneru  {
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.fetures-text-item {
    display: flex;
    align-items: center;

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    &:not(:last-child) {
        margin-bottom: 30px;

        @media screen and (min-width: 767px) {
            margin-bottom: 0;
            margin-right: 21px;
        }

        @media screen and (min-width: 1200px) {
            width: 448px;
            margin: 0;
        }
    }
}

.features-title {

    display: flex;
    flex-direction: column;

    align-items: center;

    @media screen and (min-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}

.fetures-img {
    width: 60px;
    height: 60px;

    @media screen and (min-width: 1200px) {
        width: 100px;
        height: 100px;
    }
}