.feature {
  padding-top: 30px;
}

.features__list {
  width: 216px;
}

.features__item_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.429;
  letter-spacing: 0.08em;
  color: #111518;
}

.features__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 52px;
  margin-left: 52px;
}

.features__svg {
  display: block;
  max-width: 59px;
  height: 60px;
  fill: #ff6b09;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .feature {
    padding-top: 50px;
  }

  .features__wrapper {
    display: flex;
  }

  .features__item {
    margin-right: 21px;
    margin-left: 0;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .feature {
    padding-top: 96px;
  }

  .features__svg {
    margin-right: -20px;
  }

  .features__item_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.649;
    letter-spacing: 0.08em;
  }

  .features__svg {
    max-width: 100px;
    height: 102px;
  }

  .features__item {
    margin-bottom: 130px;
  }
}
