.footer{
    background-color: var(--bg-section);
    
    &__text{
    font-family:var(--text-secondary);
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-subtitle);
    }

    &__slog{
    font-family:var(--text-secondary);
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var(--color-design-main);
    }
    
}