.footer {
    padding-top: 30px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        align-items: center;
    }
}

.footer-last-content {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $primary-text-color;

    height: 70px;
    width: 100%;
    margin-top: 30px;

    p {

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        color: $text-color;
        letter-spacing: 0.05em;
    }


}

.footer .logo-header {
    margin-bottom: 21px;
}

.footer-namber {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: black;

    letter-spacing: 0.08em;

    display: flex;
    align-items: center;
    margin-bottom: 31px;
}

.footer-img {
    margin-right: 10px;
}