@media screen and(max-width:$tablet) {
    footer {
        min-width: 320px;
    }
    .container {
     background-color: $rose-section-color;
   }     
   .foot_button {
       margin-right: auto;
       margin-left: auto;
       padding-top: 54px;
       padding-bottom: 113px;
    }
       .foot_contacts{
       max-width: 480px;
       display:flex;
       justify-content: flex-end;
       padding-right: 20px;
       padding-bottom: 43px;
       margin-right: auto;
       margin-left: auto;
       background-color: $rose-section-color;

       
       &-phone{
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: right;
        color:$accent-red-color;
        
       }
       &-description{

        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: right;
        color: $black-color;
       }
       
    }
       
       .foot_sign{
         max-width: 480px;
         display:flex;
        justify-content: center;
        background-color: $rose-section-color;
        margin-right: auto;
        margin-left: auto;
        border-top: solid 1px #e1e1e1;
        padding-top: 25px;
        padding-bottom: 25px;
        
        &-text{
            display: block;
            width: 133px;
            font-family: DM Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
            color:$secondary-text-color;
            
             
        }
       }
}