@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .section-form {
    background: url('../images/form_img/bg_img_tablet@2x-min.png') $text-dark;
  }
}
.section-form {
  max-width: 1680px;
  min-width: 320px;
  min-height: 507px;
  margin: 0 auto;
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  color: $white;
  background: url('../images/form_img/bg_img_tablet-min.png') $text-dark;
  background-repeat: no-repeat;
  background-position: 82% 50%;
  padding: 50px 0;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form__header {
  @include font(800, 14px, 1.357, 0.03em);
  margin-bottom: 30px;
}

.registration-form__description {
  @include font(600, 12px, 1.25, 0.08em);
  margin-bottom: 30px;
}

.registration-form__header .text__accent,
.registration-form__description .text__accent {
  color: $accent-color;
}

.registration-form__btn {
  width: 260px;
  height: 48px;
  padding: 14px 0;
  margin-top: 50px;
  border: none;
  @include font(700, 12px, 1.25, 0.08em);
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background-color: $accent-color;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: transparent;
    color: $accent-color;
    border: 2px solid $accent-color;
    transform: scale(1.15);
  }
}

.registration-form__input {
  width: 280px;
  height: 48px;
  padding-left: 28px;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  @include font(600, 14px, 1.214, 0.08em);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    @include font(600, 14px, 1.214, 0.08em);
    color: $white;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $accent-color;
  }

  &:hover,
  &:focus {
    border: 2px solid $accent-color;
  }
}

.registration-form__field + .registration-form__field {
  margin-top: 20px;
}

@media screen and (min-width: $tablet) {
  .registration-form__header {
    @include font(800, 26px, 1.307, 0.03em);
  }

  .registration-form__description {
    @include font(600, 14px, 1.214, 0.08em);
    margin-bottom: 30px;
  }

  .registration-form__input {
    width: 390px;
  }

  .registration-form__btn {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1343px) and (min-width: 769px) {
  .section-form {
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1344px),
  screen and (min-resolution: 192dpi) and (min-width: 1344px),
  screen and (min-resolution: 2dppx) and (min-width: 1344px) {
  .section-form {
    background: url('../images/form_img/bg_img_desktop@2x-min.png') $text-dark;
  }
}

@media screen and (min-width: $desktop) {
  .section-form {
    background: url('../images/form_img/bg_img_desktop-min.png') $text-dark
      no-repeat center;
  }

  .registration-form__header {
    width: 1090px;
    @include font(800, 46px, 1.304, 0.03em);
    margin-bottom: 50px;
  }

  .registration-form__description {
    @include font(600, 30px, 1.233, 0.08em);
    margin-bottom: 56px;
  }

  .registration-form__input {
    width: 478px;
    height: 70px;
    @include font(600, 20px, 1.2, 0.08em);
  }

  .registration-form__field + .registration-form__field {
    margin-top: 30px;
  }

  .registration-form__btn {
    margin-top: 80px;
    width: 354px;
    height: 70px;
    @include font(700, 14px, 1.214, 0.08em);
  }
}
