
.form {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $dark-background;
  background-image: url('../images/registration/png/registration-mobile-min.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px 507px;
  margin-left: auto;
  margin-right: auto;
  &-text {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 14px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.03em;
    color: $white-text-color;
    margin-bottom: 30px;

    &-color {
      color: $accent-text-color;
    }
  }
  &-description {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    color: $white-text-color;
    margin-bottom: 30px;
    padding-right: 38px;
    padding-left: 38px;
  }
}

.form-input {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  width: 280px;
  height: 48px;
  background-color: transparent;
  color: $white-text-color;
  padding-top: 15px;
  padding-left: 28px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border: 1px solid $white-text-color;
  cursor: pointer;
}
input::placeholder {
  color: $white-text-color;
}
.form-button {
  width: 260px;
  height: 48px;
  background: $accent-background;
  border-radius: 1px solid;
  border-color: $accent-background;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $white-text-color;
  cursor: pointer;
  margin-top: 30px;
  //align-content: center;
  margin-right: 10px;
  margin-left: 10px;
  &:hover,
  &:focus {
    background: $white-background;
    color: $accent-text-color;
    transition: $animation;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .form {
    background-image: url('../images/registration/png/registration-mobile@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .form {
    padding-top: 50px;
    padding-bottom: 71px;
    background-color: $dark-background;
    background-image: url('../images/registration/png/registration-tablet.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 768px 520px;
    &-description {
      font-size: 14px;
      line-height: 1.21;
      margin-bottom: 40px;
      padding-left: 125px;
      padding-right: 125px;
    }
    &-text {
      font-size: 26px;
      line-height: 130%;
    }
    &-input {
      font-size: 14px;
      line-height: 1.21;
      width: 390px;
      height: 48px;

      padding-top: 15px;
      padding-left: 28px;
      padding-bottom: 16px;
      margin-bottom: 20px;
    }
    &-button {
      margin-top: 11px;
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .form {
    background-image: url('../images/registration/png/registration-tablet@2x.png');
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .form {
    background-size: cover;
  }
}

@media screen and (min-width: 1344px) {
  .form {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url('../images/registration/png/registration-desktop.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &-text {
      font-size: 46px;
      line-height: 130%;
      margin-bottom: 50px;
      padding-left: 120px;
      padding-right: 120px;
      text-align: center;
    }
    &-description {
      font-size: 30px;
      line-height: 1.23;
      margin-bottom: 56px;
      padding-left: 195px;
      padding-right: 195px;
      text-align: center;
    }
    &-input {
      font-size: 20px;
      line-height: 1.2;
      width: 478px;
      height: 70px;
      padding-top: 23px;
      padding-left: 40px;
      padding-bottom: 23px;
      margin-bottom: 30px;
    }
    &-button {
      width: 354px;
      height: 70px;
      font-size: 14px;
      line-height: 1.21;
      text-align: center;
      letter-spacing: 0.14em;
      margin-top: 50px;
      //align-content: center;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1380px),
  screen and (min-resolution: 192dpi) and (min-width: 1380px),
  screen and (min-resolution: 2dppx) and (min-width: 1380px) {
  .form {
    background-image: url('../images/registration/png/registration-desktop@2x.png');
  }
}

