.gallery {
    padding-top:25px;
    &__container {
      width:auto;
    }
    &__wrapper {
    display:flex;
    flex-direction:row;
    gap:2.53px;
    align-items:center;
    }
    &__column {
        display:flex;
        flex-direction:column;
    }

    &__image1 {
        border-radius:16px;
    }

    &__fourth {
        padding-top:40px;
    }

    &__fifth {
        padding-bottom:30px;
    }

    &__sixth {
        padding-bottom:10px;
    }
}


.gallery__image1, .gallery__image2, .gallery__image3,
.gallery__image4, .gallery__image5, .gallery__image6,
.gallery__image7, .gallery__image8, .gallery__image9,
.gallery__image10 {
   overflow: hidden;
   border-radius: 8px;
   transform: scale(1) translateX(0);

   transition: transform 250ms ease-in-out;

    @media screen and (min-width: 320px) {
   border-radius: 10px;
   }

    @media screen and (min-width: 480px) {
   border-radius: 16px;
   }

    @media screen and (min-width: 768px) {
   border-radius: 22px;
   }
}

.gallery__image1:hover,
.gallery__image1:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);   
   cursor: pointer;
   transform: scale(1.3) translateX(-8px); 

   @media screen and (min-width: 320px) {
      transform: scale(1.3) translateX(-12px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translate(-15px);
   }
}
.gallery__image2:hover,
.gallery__image2:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);    
   cursor: pointer;
   transform: scale(1.3) translate(-8px,-8px); 

   @media screen and (min-width: 480px) {
      transform: scale(1.3) translate(-10px,-10px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translate(-15px,-15px);
   }
}

.gallery__image3:hover,
.gallery__image3:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);    
   cursor: pointer;
   transform: scale(1.3) translate(-8px,8px); 

   @media screen and (min-width: 480px) {
      transform: scale(1.3) translate(-10px,10px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translate(-20px,-20px);
   }
}
.gallery__image4:hover,
.gallery__image4:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);   
   cursor: pointer;
   transform: scale(1.3) translate(-15px,-15px); 

   @media screen and (min-width: 480px) {
      transform: scale(1.3) translate(-22px,-22px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translate(-30px,-30px);
   }
} 
.gallery__image5:hover,
.gallery__image5:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);    
   cursor: pointer;
   transform: scale(1.3) translateX(10px);
   
   @media screen and (min-width: 480px) {
      transform: scale(1.3) translateX(17px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translateX(20px);
   }
}
.gallery__image6:hover,
.gallery__image6:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);  
   cursor: pointer;
   transform: scale(1.3) translate(-8px,-8px); 

   @media screen and (min-width: 480px) {
      transform: scale(1.3) translate(-10px,-10px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translate(-15px,-15px);
   }
}
.gallery__image7:hover,
.gallery__image7:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.632);  
   cursor: pointer;
   transform: scale(1.3) translateX(-8px);
   
   @media screen and (min-width: 480px) {
      transform: scale(1.3) translateX(-10px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translateX(-15px);
   }
} 
.gallery__image8:hover,
.gallery__image8:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);    
   cursor: pointer;
   transform: scale(1.3) translate(-8px,-8px);
   
   @media screen and (min-width: 480px) {
      transform: scale(1.3) translate(-10px,-10px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translate(-15px,-15px);
   }
}
.gallery__image9:hover,
.gallery__image9:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);    
   cursor: pointer;
   transform: scale(1.3) translate(-8px,8px);
   
   @media screen and (min-width: 480px) {
      transform: scale(1.3) translate(-10px,10px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translate(-15px,15px);
   }
} 
.gallery__image10:hover,
.gallery__image10:focus {
   box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.673);   
   cursor: pointer;
   transform: scale(1.3) translate(8px);
   
   @media screen and (min-width: 480px) {
      transform: scale(1.3) translate(12px);
   }

   @media screen and (min-width: 768px) {
      transform: scale(1.3) translate(15px);
   }
}
@media screen and (min-width:480px) {
    .gallery {
        &__wrapper {
        gap:6px;
        }
    }
}

@media screen and (min-width:768px) {
    .gallery{
        &__wrapper {
        gap:8px;
    }
}
}
