.gallery__img {
    width: 100%;
    height: auto;
    background: transparent;
}
.gallery {
           max-width: 1280px;
            margin: 0 auto;
        
}
.gallery .container {
    padding: 0;
}

