.movies__colection {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  @media screen and (min-width: 768px) {
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.container_gallery {
  margin-top: 50px;
}

.item {
  position: relative;
  box-shadow: 0px 1px 1px rgba(129, 129, 129, 0.1), 0px 2px 4px rgba(129, 129, 129, 0.1),
    3px 0px 6px rgba(129, 129, 129, 0.1);
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
      width: 280px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
    width: 293px;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  cursor: pointer;
  transition: transform 250ms linear;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.06),
      3px 0px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transform: scale(1.025);
    border-radius: 2px;

    & .delete-btn {
      transform: scale(1.1);
      background-image: url(../images/icons/close-hover.svg);
      background-color: #fff;
    }
  }
}

.gallery__video {
  border-radius: 5px;
  margin-bottom: 10px;
  height: 398px;
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 293px;
  }
  @media screen and (min-width: 1200px) {
    width: 274px;
  }
}

.video-title {
  padding-top: 10px;
  text-transform: uppercase;
  @include Roboto(12, 14, 500);
  line-height: inherit;
}

.video__details {
  display: inline-block;
  display: inline-block;
  color: var(--text-color-accent);
  @include Roboto(12, 14, 500);
  line-height: 1.33;
}

.video__text {
  padding-left: 5px;
}

.video__vote {
  color: var(--main-white-color);
  display: inline-block;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 36px;
  height: 16px;
  background: var(--background-accent);
  border-radius: 5px;
}

#item-dt {
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 4px;
}

.video__details {
  padding-bottom: 5px;
}
