.garantee {
  padding-bottom: 50px;

  @media screen and (min-width: 1366px) {
    padding-bottom: 130px;
  }
}
.garantee-title {
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1366px) {
    margin-bottom: 50px;
    font-size: 46px;
  }
}
.garantee-list {
  padding: 30px 20px;
  width: 100%;
  list-style: none;

  background-color: var(--grey-bg-color);

  @media screen and (min-width: 768px) {
    padding-left: 79px;
    padding-right: 50px;
  }
  @media screen and (min-width: 1366px) {
    padding-top: 50px;
    padding-left: 112px;
    padding-right: 112px;
    padding-bottom: 45px;
  }
}
.garantee-text {
  position: relative;
  padding-left: 28px;
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border-left: 1px dashed var(--accent-text-color);

  color: var(--secondary-color);

  &:last-child {
    padding-bottom: 0;
    border-left: none;
  }

  &::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    width: 14px;
    height: 20px;
    background-image: url('../images/fire.svg');

    @media screen and (min-width: 1366px) {
      width: 22px;
      height: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    padding-left: 24px;

    font-size: 12px;
    line-height: 20px;
  }
  @media screen and (min-width: 1366px) {
    padding-left: 30px;
    font-size: 20px;
    line-height: 28px;
  }
}
.text-color {
  color: var(--icon-color);
}
