.section-goal {
  padding-top: 20px;
  background-color: $color-light-theme;
}

.title-goal-effect {
  background: -webkit-linear-gradient($gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include font(400, 20px, 37px);
}

.list-goal {
  display: flex;
  justify-content: space-around;
}

.title-item-goal {
  text-align: center;
  @include font(900, 20px, 37px);
  color: $secondary-color;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 14px;
}

.item-goal {
  position: relative;
  width: 254px;

  &::after {
    position: absolute;
    top: 10%;
    left: 45%;
    content: '';
    display: block;
    width: 80px;
    height: 82px;

    background-repeat: no-repeat;
  }

  &:nth-child(1)::after {
    background-image: url(../images/goal/student.svg);
  }

  &:nth-child(2)::after {
    background-image: url(../images/goal/teather.svg);
  }

  &:nth-child(3)::after {
    background-image: url(../images/goal/family.svg);
    fill: $secondary-color;
  }

  &::before {
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: linear-gradient($gradient-color);
    margin: 0 auto;
  }
}
