@media screen and (max-width: 764px){
.guarantees .container{
    padding: 0;
}}
.guarantees{
    margin-bottom: 50px;
}
.guarantees__list { 
    background-color: $bg-gray;
    padding-right: 15px;
    padding-left: 15px;
  padding-top: 30px;
   padding-bottom: 30px; 
}
.guarantees__title{
    @include font(800, 26px, 1.31, 0.03em);
    margin-bottom: 30px;
    text-align: center;
}
.guarantees__icon{
    max-width: 14px;
    max-height: 20px;
    fill: $accent-color;
    margin-right: 20px;
}
.guarantees__item{
    display: flex;
    position: relative;
    
    &:not(:last-child){
        margin-bottom: 23px;
    }
}
.guarantees__item-text{
    @include font(500, 12px, 1.66, 0.03em);
    color: $text-semi-dark;
}
.guarantees__text-accent{
    color: $accent-color;
}
.guarantees__item:not(:last-of-type)::before{
    position: absolute;
    content: "";
    display: block;
    border: 0;
    border-left: 1px dashed #B9B9B9;
    height: 68px;
    bottom: -16px;
    left: 6px;
}
@media screen and (min-width: $tablet){
    .guarantees__item:not(:last-of-type)::before{
        height: 35px;
        bottom: -20px;
    }
    .guarantees__list { 
        padding-right: 50px;
        padding-left: 79px;
    }
}
@media screen and (min-width: $desktop) {
    .guarantees{
        margin-bottom: 130px;
    }
    .guarantees__title{
        @include font(800, 46px, 1.30, 0.03em);
        margin-bottom: 50px;
    }
        
        .guarantees__icon{
            max-width: 22px;
            max-height: 30px;
            margin-right: 30px;
        }
        .guarantees__item-text{
            @include font(500, 20px, 1.4, 0.03em)
        }
        .guarantees__item:not(:last-of-type)::before{
            height: 40px;
            left: 10px;
        }
        .guarantees__list{
            padding-top: 50px;
             padding-bottom: 45px; 
             padding-right: 112px;
            padding-left: 112px;
            width: 1314px;
          }
}
