.guarantees {
  &-title {
    @include font(26px, 800, 34px);
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    padding-top: 0;
    padding-bottom: 30px;
  }

  &-list {
    background: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    margin: 0 auto;

    &-item {
      @include font(12px, 500, 20px);
      // font-weight: 500;
      // font-size: 12px;
      // line-height: 1.66;
      color: #3d3d3d;
    }
  }

  & .text-color {
    color: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .guarantees-list-item:not(:last-child) {
    padding-bottom: 23px;
  }
}

@media screen and (min-width: 768px) {
  .guarantees-list-item:not(:last-child) {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .guarantees-list {
    padding-top: 50px;
    padding-bottom: 45px;
    padding-left: 79px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .guarantees-title {
    @include font(46px, 800, 60px);
    padding-bottom: 50px;
  }
  .guarantees-list {
    padding-left: 79px;
    padding-right: 50px;
  }

  .guarantees-list-item {
    @include font(20px, 500, 28px);
  }
}
