.header {
  background-color: var(--bg-header-hero);

  .container {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 27px;

    @media screen and (min-width: 768px) {
      padding-top: 38px;
      padding-bottom: 15px;
    }

    @media screen and (min-width: 1280px) {
      padding-bottom: 21px;
    }
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header-logo {
  @media screen and (min-width: 1280px) {
    margin-right: 110px;
  }
}

.header-logo__box {
  @media screen and (max-width: 1279px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
  }
}

.header-logo__icon-box {
  width: 50px;
  height: 50px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--color-design-white);
  background-color: var(--color-design-main);
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
  }
}

.header-logo__caption {
  font-family: var(--text-secondary);
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-design-main);
}

.header__list {
  @media screen and (max-width: 1279px) {
    display: none;
  }

  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 35px;
}

.header__link {
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;

  color: var(--color-design-white);

  transition: color 250ms linear;

  &--current {
    color: var(--color-design-main);
  }

  &:hover,
  &:focus {
    color: var(--color-design-main);
  }
}

.header-button.btn-light {
  display: flex;
  align-items: center;
  padding: 12px 37px;
  margin-left: 30px;
  border-radius: 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--bg-btn-light-hover);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
}

.header-button__caption {
  margin-right: 10px;
}

.header-button__icon {
  width: 9px;
  height: 15px;

  fill: var(--color-design-main);
}
