.header {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 6px;
    padding-bottom: 27px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 37px;
  }
  @media screen and (min-width: 1200px) {
  }
  background-color: #ffb8ca;
  &__container {
    display: flex;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      align-items: center;
      justify-content: space-between;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
  &__link {
    background-color: #ffb8ca;
    @media screen and (min-width: 1200px) {
      // margin-left: 40px;
    }
  }
  &__list {
    @media screen and (min-width: 320px) and (max-width: 1199px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      margin-left: 110px;
      z-index: 1;
    }
  }
  &__item:not(:last-child) {
    margin-right: 35px;
  }
  &__item-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.313;
    display: flex;
    align-items: center;
    color: $white;
  }
  &__btns-tablet {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }
  &__btn-buy {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $main;
    background: #ffffff;
    border-radius: 22px;
    border: none;
    outline: none;
    padding: 0 37px;
    margin-left: 42px;
    height: 44px;
  }
  &__btn-span {
    margin-left: 12px;
  }
  &__nav {
    display: flex;
  }
}

.mobile-btn {
  border: none;
  outline: none;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-color: #ffb8ca;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 0;
    z-index: 10;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
  &-svg {
    width: 20px;
    height: 17px;
  }
}
.mobile {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 250px;
    height: 502px;
    padding: 60px 20px 171px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 254px;
    height: 1020px;
    padding: 60px 24px 171px;
  }
  background-color: #e17992;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    display: block;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  &-btn-close {
    position: absolute;
    top: 23px;
    right: 28px;
    border: none;
    outline: none;
    background-color: #e17992;
  }
  &-btn-buy {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 209px;
      padding: 0 48px 0 48px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 186px;
      padding: 0 43px 0 43px;
      margin-left: 10px;
    }
    @media screen and (min-width: 1200px) {
      width: 186px;
      padding: 0 43px 0 43px;
      margin-left: 10px;
    }
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.313;
    display: flex;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border-radius: 22px;
    color: #d41443;
    border: none;
    outline: none;
    height: 44px;
    margin-bottom: 19px;
  }
  &-btn-span {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-left: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 14px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 14px;
    }
  }
  &-svg {
    width: 14px;
    height: 14px;
  }
  &-item {
    display: flex;
    align-items: center;
    display: flex;
    padding: 12px 0;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
  &-link {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $white;
  }
}
.current {
  color: #d41443;
}
