@media screen and(min-width:320px) and(max-width: 767px) {
  .menu-container {
    position: relative;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .menu-open {
    background: rgba(17, 21, 24, 0.9);
    position: fixed;
    width: 100%;
    height: 800px;
    z-index: 10;
    top: 0;

    .menu-logo {
      display: none;
    }
    .mobile_logo {
      margin-top: 30px;
      width: 80px;
      height: 28px;
    }
    .menu-close-btn {
      position: absolute;
      top: 37px;
      right: 19.5px;
      width: 14.5px;
      height: 14.5px;
    }
    .menu-nav {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 50px;

      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 1.8;
      letter-spacing: 0.03em;
      color: #ffffff;
      .nav-list-item {
        margin-top: 8px;
        .nav-link {
          color: var(--white-text-color);
          &:hover,
          &:focus {
            color: var(--accent-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
      }
    }
    .menu-header-button {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      width: 260px;
      background-color: transparent;
      color: var(--accent-color);
      border: 2px var(--accent-color) solid;
      padding: 14px;

      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }
  }

  .menu-close {
    .nav {
      display: none;
    }
    .header-button {
      display: none;
    }
  }
  .menu-close {
    display: flex;
    justify-content: space-between;
    .logo-link {
      display: none;
    }
    .nav-menu-btn {
      margin-top: 38px;
      width: 20px;
      height: 12px;
    }
    .mobile_logo {
      margin-top: 30px;
      width: 80px;
      height: 28px;
    }
  }
}

@media screen and(min-width:768px) and(max-width: 1344px) {
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .menu-container {
    min-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .menu-open {
    background: rgba(17, 21, 24, 0.9);
    position: fixed;
    width: 100%;
    height: 1024px;
    top: 0;
    left: 0;
    z-index: 10;

    .menu-logo {
      display: none;
    }
    .mobile_logo {
      margin-top: 41px;
      margin-right: 239px;
      width: 128px;
      height: 45px;
    }
    .menu-close-btn {
      position: absolute;
      top: 58px;
      right: 43px;
      width: 14.5px;
      height: 14.5px;
    }

    .menu-nav {
      display: flex;
      justify-content: center;
      margin-top: 65px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 26px;
      line-height: 1.8;

      letter-spacing: 0.03em;
      color: #ffffff;

      .nav-list-item {
        margin-top: 15px;
        .nav-link {
          margin-left: auto;
          margin-right: auto;
          color: var(--white-text-color);

          &:hover,
          &:focus {
            color: var(--accent-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
      }
    }
    .menu-header-button {
      display: none;
    }
  }
  .menu-close {
    .logo-link {
      display: none;
    }
    display: flex;

    .nav {
      display: none;
    }
    .mobile_logo {
      margin-top: 41px;
      margin-right: 239px;
      width: 128px;
      height: 45px;
    }

    .nav-menu-btn {
      margin-top: 59px;
      width: 20px;
      height: 12px;
    }
    .header-button {
      display: flex;
      justify-content: center;

      min-width: 260px;
      margin-top: 41px;
      margin-right: 41px;

      background-color: transparent;
      color: var(--accent-color);
      border: 2px var(--accent-color) solid;
      padding: 12.5px;

      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 1.2;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }
  }
}
@media screen and(min-width:1344px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-open {
    display: none;
  }
  .nav-menu-btn {
    display: none;
  }
  .logo-link {
    display: none;
  }

  .menu-close {
    display: flex;

    .mobile_logo {
      margin-top: 45px;
      margin-right: 144px;
      width: 128px;
      height: 45px;
    }
    .nav {
      margin-top: 60px;
      margin-right: 60px;

      font-weight: bold;
      font-size: 14px;
      line-height: 1.2;
      text-transform: uppercase;

      .nav-list {
        display: flex;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;

        text-transform: uppercase;

        .nav-list-item + .nav-list-item {
          margin-left: 40px;
        }
        .nav-link {
          padding-top: 40px;
          padding-bottom: 40px;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 1.2;

          text-transform: uppercase;
          color: var(--secondary-text-color);

          &:hover,
          &:focus {
            color: var(--accent-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
      }
    }
    .header-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 33px;
      width: 336px;
      background-color: transparent;
      border: 2px var(--accent-color) solid;
      padding: 23px;

      color: var(--accent-color);

      font-weight: 700;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }
  }
}
