@media screen and (min-width: $mobile) {
  .header {
    position: fixed;
    z-index: 15;
    background: $dark-theme-color;
    width: 100%;
  }

  .menu-logo {
    padding: 30px 0 30px 0;
    width: 100px;
  }

  .menu-logo .logo__text {
    color: $subtitle-light-theme-color;
  }

  .menu-logo .subtitle-logo {
    color: $subtitle-light-theme-color;
  }

  .is-open-bg-dark {
    background: rgba(17, 21, 24, 0.9);
    height: 100vh;
  }

  .is-open-bg-dark .menu-logo .logo__text {
    color: $dark-theme-color;
  }

  .is-open-bg-dark .menu-logo .subtitle-logo {
    color: $dark-theme-color;
  }

  .is-open-bg-dark .tel-link-wrapper {
    display: flex;
    justify-content: center;
  }
  .nav {
    position: relative;
  }

  .menu {
    display: none;
  }

  .menu-button {
    position: fixed;
    top: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .menu-button > .button-svg {
    width: 20px;
    height: 20px;
  }

  .menu-button > .button-svg > .icon-close {
    display: none;
  }

  .is-open {
    display: block;
  }

  .is-open > .button-svg > .icon-menu {
    display: none;
  }

  .is-open > .button-svg > .icon-close {
    display: block;
  }

  .tel-link {
    display: inline-block;
    color: $accent-color;
    font-size: 12px;
    padding: 14px;
    font-weight: 700;
    border: 1px solid $accent-color;
    text-transform: uppercase;
  }

  .tel-link-wrapper {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 50px;

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__link {
      font-size: 20px;
      font-weight: 800;
      color: $dark-theme-color;
    }

    &__link--active {
      color: $accent-color;
    }
  }
}

@media screen and (min-width: $tablet) {
  .navigation__link {
    font-size: 26px;
  }

  .tel-link-wrapper {
    display: block;
    position: fixed;
    top: 30px;
    right: 100px;
  }

  .menu-logo {
    width: 130px;
  }

  .menu-button {
    top: 40px;
    right: 40px;
  }
}

@media screen and (min-width: $desktop) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: block;
  }
  .navigation {
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;

    &__item:not(:last-child) {
      margin-right: 40px;
      margin-bottom: 0;
    }

    &__link {
      font-size: 14px;
      font-weight: 700;
      color: $text-color;
      @include transition(color);
    }

    &__link:hover {
      color: $accent-color;
    }

    &__link--active {
      color: $accent-color;
    }
  }

  .tel-link {
    padding: 26px 24px;
    font-size: 14px;
    @include transition(color);
    @include transition(background-color);
  }

  .tel-link:hover {
    background-color: $accent-color;
    color: $dark-theme-color;
  }

  .tel-link-wrapper {
    position: static;
  }

  .menu-button {
    display: none;
  }
}
