  .header {
    background-color: var(--bg-hero);
    
  }
  .Logo-icon {
    transition: var(--transition-duration) var(--timing-function);
    fill: var(--main-dark-color);
    background-color: var(--text-color-dark-bg);
    border-radius: 50%;
  }



  .hero-section {
    padding: 6px 20px;

    @media screen and (min-width: 768px) {
     padding: 34px 52px; 
    }
    @media screen and (min-width: 1280px) {
      padding: 46px 50px; 
    }
  }

  .hero-center{
    position: relative;
    overflow: hidden;
    height: 446px;

     @media screen and (min-width: 768px) {
       position:static;
    }
    @media screen and (min-width: 1280px) {
    }

  }

  .hero-case{
    // padding-left: 142px;

    position: absolute;
    top: 37px;
    left: 130px;
    min-width: 320px;

    @media screen and (min-width: 768px) {
      // padding-left: 378px;
      top: 63px;
      left: 307px;
    }
    @media screen and (min-width: 1280px) {
      // padding-left: 594px;
    }
  }

  .logo-case {
    display: flex;
  }



  .navigation-case,
  .Buy-now-button,
  .notitia-block,
  .soooooo-tasty {
    display: none;
    
  }

  .btn-case{
    display: flex;
    align-items: center;    
    margin-left: auto;
  }

  .Buy-now-button{

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;



    @media screen and (min-width: 768px) {
    display: flex ;
    align-items: center;
    margin-left: 30px;
       
    

    
    background-color: var(--text-color-dark-bg);

    color: var(--main-dark-color);
    background: var(--text-color-dark-bg);
    border-radius: 20px;
    padding: 6px 60px;
    
    transition: var(--transition-duration) var(--timing-function);
    &:hover, 
    &:focus {
    background: var(--hover-light-bg-btn);
    
  }


    }
    @media screen and (min-width: 1280px) {
    // display: flex;
  }
  }

  .slogan-title{
  position: absolute;
  z-index: 3;
  left: 20px;
  top: 193px;   
  }

  .hero-title{
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.153;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-dark-bg);
  }

  .slogan-prefix{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.145;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-dark-color);

  }



  .header-but-list{
    padding-top: 19px;
    display: flex;
  }








.header-but-item{

    transition: var(--transition-duration) var(--timing-function);
    background: var(--text-color-dark-bg);
    border-radius: 20px;
    padding: 7px 14px;


    & .header-but-link{
      color: var(--main-dark-color);
    }
    
    &:first-child{
      background: var(--main-dark-color);
      margin-right: 8px;

      &:hover, 
      &:focus {
      background: var(--hover-dark-bg-btn);
      }


      & .header-but-link{
        color: var(--text-color-dark-bg);
      }
  }


    &:hover, 
    &:focus {
    background: var(--hover-light-bg-btn);
    }


  }




  .header-but-link{  
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;  
    display: flex;
    align-items: center;
    text-align: center;  
  }


  .logotype {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-right: 20px;
    transition: var(--transition-duration) var(--timing-function);

    &:hover .logo-icecream,
    &:focus .logo-icecream,
    &:hover .Logo-icon,
    &:focus .Logo-icon{
      color: var(--hover-dark-bg-btn);
      fill: var(--hover-dark-bg-btn);
    }
    &:hover .Logo-icon,
    &:focus .Logo-icon{
      background-color: var(--hover-light-bg-btn);
    }

  }

  .logo-icecream {
    transition: var(--transition-duration) var(--timing-function);
    display: flex;
    padding-left: 20px;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.153;

    text-align: center;
    letter-spacing: 0.04em;

    color: var(--main-dark-color);
  }

  .burger-case {
    display: flex;
    align-items: center;
  }

  .burger-btn {
    transition: var(--transition-duration) var(--timing-function);
    padding: 0;
    display: flex;
    margin-left: auto;
    align-items: center;
    background-color: transparent;
    border: none;
    fill: var(--main-dark-color);
      &:hover,
      &:focus {
        fill: var(--text-color-dark-bg);
      }
  }

  .hero-boarder {
    position: absolute;

    margin-left: 50px;
    width: 346px;
    height: 346px;
    border-radius: 50%;  
    background:var(--label-color);
    margin-top: 27px;

    @media screen and (min-width: 768px) {
    margin-left: 277px;
    margin-top: -80px;
    }
    @media screen and (min-width: 1280px) {
    margin-left: 495px;
    }
  }


  .header {
  @media screen and (min-width: 768px) {
    // display: flex;
  }
  @media screen and (min-width: 1280px) {
    // display: flex;
  }
}

.header {
  min-width: 230px;
  @media screen and (min-width: 768px) {
    min-width: 180px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 330px;
  }
}

















  ///////////////////////////// modal/////////////////////////////////
  .backdrop {  

    z-index: 7;
    // display: none;
    position: absolute; 
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 100%;  
    right: 0px;
    top: 0px;
    background: #E17992;
    // box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    box-shadow: -11px 0px 10px 1px rgb(223 25 72 / 20%) //не по макету
  }
  .background-close{
    z-index: 6;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .background-close.bat-close{
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
  }


  


  .mod-icon{
    margin-left: 16px;
    fill: var(--main-dark-color);
  }

  .modal-button-close{
    transition: var(--transition-duration) var(--timing-function);
    position: absolute;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: transparent;
    top: 23px;
    right: 20px;
    fill: var(--text-color-dark-bg);

    &:hover,
    &:focus {
      fill: var(--main-dark-color);
    }
    
  }

  .btn-buy-now{
    padding-top: 60px;
    display: flex;  

  }

  .is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }


  .title-buy-now{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
  }

  .modal-button{
    background-color: var(--text-color-dark-bg);
    display: flex;
    align-items: center;

    color: var(--main-dark-color);
    background: var(--text-color-dark-bg);
    border-radius: 20px;
    padding: 6px 60px;
    
    transition: var(--transition-duration) var(--timing-function);
    &:hover, 
    &:focus {
    background: var(--hover-light-bg-btn);
    }
  }



  .modal-list{
  margin-top: 32px;
  }  

  
    .modal-item{
    transition: var(--transition-duration) var(--timing-function);
    border-top: 1px solid #E18298;


     &:hover .modal-link:hover,
     &:focus .modal-link:focus{
      color: #D41443;
    }

      padding-top: 13px;



      &:not(:last-child){
        padding-bottom: 11px;
      }
      }

 

  .modal-link{   
    transition: var(--transition-duration) var(--timing-function);

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.285;
    display: flex;
    align-items: center;

    color: #FFFFFF
  }

   .accent{
    color: #D41443;
  }