.hero {
  &-section {
    background-color: $main-background-color;
    height: 502px;
  }
  &-container {
    position: relative;
    height: 100%; // Krokodil
    overflow: hidden; // Krokodil

    &::after {
      // Krokodil
      //
      position: absolute;
      content: ''; // Krokodil
      top: 83px; // Krokodil
      left: calc(50% - 124px);
      width: 346px;
      height: 346px;
      border-radius: 50%;
      background-color: $title-text-color;
      z-index: 1;

      @media screen and (min-width: 768px) {
        width: 324px;
        height: 324px;
      }
      @media screen and (min-width: 1280px) {
        width: 538px;
        height: 538px;
      }
    }
  }
}
.hero-main-im {
  position: absolute;
  top: 92px;
  left: calc(50% - 42px);
  width: 171px;
  height: 410px;
  background-image: url(../images/hero-header/img-mob-icecream@1x.png);
  background-repeat: no-repeat;
  z-index: 2;
}
.header-mob {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  position: absolute;
  top: 6px;
  left: 0;
  z-index: 2;
}
.menu-button {
  position: absolute;
  top: 20px;
  right: 0;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 10;
}
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  position: absolute;
  top: 0;
  right: -100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $color-menu;
  z-index: 8;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // opacity: 0;  //Krokodil
  display: none; //Krokodil
  &.is-open {
    transform: translateX(-100%);
    // opacity: 1;  //Krokodil
    display: block; //Krokodil
  }
}
.header-order {
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0 auto;
    width: 210px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: $color-text;
    &:hover,
    &:focus {
      background-color: $color-bg-btn_hover;
    }
  }

  &-text {
    display: block;
    padding-right: 25px;
    color: $accent-color;
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
  }
  &-img {
    background: transparent;
  }
}

.navigatoin {
  &-link {
    color: $color-text;
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.29;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &-item {
    padding-left: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
  &-list {
    margin-top: 20px;
  }
}
.hero-title {
  position: absolute;
  top: 193px;
  z-index: 5;
  &-text {
    font-family: $font-decor;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }
  &-part {
    display: block;
    color: $color-text;
    font-size: 26px;
    line-height: 1.15;
  }
  &-accent {
    display: block;
    color: $accent-color;

    font-size: 48px;
    line-height: 0.97;
  }
}
.hero-button {
  &-product {
    display: inline-block;
    padding-top: 8px;
    text-align: center;
    width: 62px;
    height: 24px;
    border-radius: 12px;
    color: $color-text;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    background-color: $accent-color;
    &:hover,
    &:focus {
      background-color: $color-btn3_hover;
    }
  }
  &-made {
    display: inline-block;
    margin-left: 8px;
    padding-top: 8px;
    text-align: center;
    width: 83px;
    height: 24px;
    border-radius: 12px;
    color: $accent-color;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    background-color: $color-text;
    &:hover,
    &:focus {
      background-color: $color-bg-btn_hover;
    }
  }
}
.hero-secondary {
  display: none;
}
