.problem {
  background-color: $subtitle-light-theme-color;

  .wrapper {
    @media screen and (min-width: $desktop) {
      padding: 50px 0 258px 0;
    }
  }

  .problem-title {
    color: $dark-theme-color;
    font-size: 20px;
    line-height: 136%;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 46px;
    }
  }

  .span-accent-color {
    color: $accent-color;
  }
}
