.hero {
  width: 100%;
  max-width: 767px;
  height: 502px;
  background-color: $accent-rose-color;
  overflow: hidden;
  &__container {
    padding: 0;
  }
  &__elipse {
    position: absolute;
    top: 83px;
    left: 36px;
    overflow: hidden;

    width: 346px;
    height: 344px;
    background-color: $rose-text-color;
    border-radius: 50%;
  }
}
