.hero-problem {
  background-color: $subtitle-light-theme-color;
  padding: 50px 0 365px 0;

  @media screen and (min-width: $tablet) {
    padding: 60px 0 235px 0;
  }

  @media screen and (min-width: $desktop) {
    background-image: url(/images/svg/firegray.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
  }

  .problem-title {
    color: $dark-theme-color;
    font-size: 20px;
    line-height: 136%;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 46px;
    }
  }

  .span-accent-color {
    color: $accent-color;
  }
}
