// СБРОС СТАНДАРТНЫХ ПАРАМЕТРОВ

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
}

// КАРТИНКИ

.hero {
  height: 502px;
  background-image: url(../images/ice-cream-mob.svg),
    url(../images/bg-ellipse-mob.svg), url(../images/bg-image-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom right 32px, right, center;
  background-size: 171px, 270px, cover;
  padding-top: 193px;
}

// ГЛАВНЫЙ ЗАГОЛОВОК

.hero-title {
  font-family: $title-font;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $write-color;

  .hero-title-span {
    font-size: 48px;
    line-height: 1.04;
    text-transform: uppercase;
    color: $main-title-color;
  }
}

@media screen and (max-width: 767px) {
  .hero-shop,
  .hero-product-description,
  .hero-button {
    display: none;
  }
}

// СТИЛИ ГЛАВНЫХ КНОПОК

.hero-buttons {
  display: flex;
  margin-top: 19px;

  li:not(:last-child) {
    margin-right: 8px;
  }
}

.hero-buttons .primary-button,
.hero-buttons .secondary-button {
  font-size: 8px;
  line-height: 1.25;
  font-weight: 400;
}

.hero-buttons .secondary-button {
  width: 63px;
  height: 24px;
}

.hero-buttons .primary-button {
  width: 83px;
  height: 24px;
}
