.section-hero {
  padding-top: 50px;
  padding-bottom: 50px;

  @include for-size(tablet) {
    padding-top: 70px;
  }

  @include for-size(desktop) {
    padding-top: 125px;
    padding-bottom: 130px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;

  @include for-size(tablet) {
    font-size: 26px;
    line-height: 1.3;
  }

  @include for-size(desktop) {
    margin-bottom: 24px;

    font-size: 58px;
  }
}

.hero-text {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;

  @include for-size(desktop) {
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 1.65;
  }

  &-light {
    font-weight: 500;
    color: $text-light;
  }

  &-accent {
    color: $accent;
  }
}

.hero-btn {
  width: 260px;
  padding: 14px 0;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $title-white;
  background-color: $accent;
  border-color: transparent;

  &:hover,
  &:focus {
    color: $accent;
    background-color: $title-white;
    border: 2px solid $accent;
  }


  @include for-size(desktop) {
    width: 354px;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
    padding: 23px;
  }
  @include for-size(phone) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-item:not(:last-child) {
  margin-bottom: 30px;
}

.hero-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;

  @include for-size(desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}
