.how-its-made {
  background-color: $secondary-bg-color;
  padding-bottom: 145px;
  padding-top: 125px;
  @media screen and(min-width:768px) {
    padding-bottom: 246px;
    padding-top: 130px;
  }
  @media screen and(min-width:1280px) {
    padding-bottom: 310px;
    padding-top: 125px;
  }
  .container {
    position: relative;
  }
}
.how-its-made-title {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.167;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: $secondary-accent-color;
  margin: 0;
  margin-bottom: 15px;

  @media screen and(min-width:768px) {
    font-size: 26px;
    line-height: 1.154;
    /* identical to box height */
  }
  @media screen and(min-width:1280px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.how-its-made-subtitle {
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  margin: 0;
  margin-bottom: 26px;

  @media screen and(min-width:768px) {
    font-size: 48px;
    line-height: 1.146;
    /* identical to box height */
    margin-bottom: 50px;
  }
  @media screen and(min-width:1280px) {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;

    margin-bottom: 55px;
  }
}
.how-its-made-picture-text-wraper {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: flex-start;
  }
}

.cow-picture {
  margin-bottom: 46px;
  @media screen and(min-width:768px) {
    margin-bottom: 0;
    margin-right: 17px;
  }
  @media screen and(min-width:1280px) {
    width: 516px;
    margin-right: 74px;
  }
}

.how-its-made-text-button-wraper {
  position: relative;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 39px;
  @media screen and(min-width:768px) {
    width: 340px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
  }
  @media screen and(min-width:1280px) {
    width: 463px;
  }
}

.how-its-made-text-wraper {
  margin-bottom: 17px;
  @media screen and(min-width:768px) {
    margin-bottom: 53px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 45px;
  }
}

.how-its-made-text {
  font-weight: 500;
  line-height: 1.58;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.78;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}

.grey-text {
  color: $secondary-text-color;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and(min-width:768px) {
    letter-spacing: 0.04em;
  }
  @media screen and(min-width:1280px) {
    font-size: 14px;
    line-height: 1.94;
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

.how-its-made-btn {
  width: 176px;
  border-radius: 22px;
  color: $accent-color;
  border-color: transparent;
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  padding-right: 33px;
  padding-left: 33px;
  padding-top: 13px;
  padding-bottom: 13px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: 1.31;
  }
  &:hover,
  &:focus {
    outline: none;
    color: #fff;
    background-color: $accent-color;
    .how-its-made-svg {
      fill: $accent-color;
      stroke: #fff;
    }
  }
}

.how-its-made-svg {
  width: 8px;
  height: 10px;
  fill: #fff;
  stroke: #d41443;

  margin-left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-its-made-bg-milk {
  display: block;
  position: absolute;
  top: 600px;
  right: 0;
  height: 133px;
  width: 320px;
  @media screen and(max-width:767px) {
    background-image: url(../images/how-its-made/milk-bg320.png);
  }

  @media screen and(min-width:320px) {
    width: 320px;
  }
  // @media screen and (min-device-pixel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) and (min-width: 320px) {
  //   width: 320px;
  //   background-image: url(../images/how-its-made/milk-bg320@2x.png);
  // }
  @media screen and(min-width:768px) and(max-width:1279px) {
    display: none;
  }
  @media screen and(min-width:1280px) {
    display: block;
    background-image: url(../images/how-its-made/milk-bg1280.png);
    top: 200px;

    height: 534px;
    width: 1280px;
  }
  // @media screen and (min-device-pixel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  //   background-image: url(../images/how-its-made/milk-bg1280@2x.png);
  // }
}

.how-its-made-list {
  @media screen and(min-width:768px) {
    display: flex;
  }
}

.how-its-made-list-item {
  @media screen and(max-width:767px) {
    width: 230px;
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }
  @media screen and(min-width:768px) {
    width: 170px;
    &:not(:last-child) {
      margin-right: 75px;
    }
  }
  @media screen and(min-width:1280px) {
    width: 330px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.how-its-made-context-img {
  width: 33px;
  margin-bottom: 16px;
  @media screen and(min-width:768px) {
    margin-bottom: 36px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 40px;
  }
}

.apples {
  width: 50px;
}
.love-icecream {
  width: 44px;
}

.how-its-made-context-info {
  font-family: $secondary-font;
  color: $accent-color;
  font-size: 36px;
  line-height: 1.139;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 15px;
  @media screen and(min-width:768px) {
    font-size: 48px;
    line-height: 1.146;

    margin-bottom: 13px;
  }
  @media screen and(min-width:1280px) {
    font-size: 58px;
    line-height: 1.138;
    margin-bottom: 15px;
  }
}
.how-its-made-context-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 1.74;
  }
  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: 176%;

    letter-spacing: 0.02em;
  }
}
