// // ======== HOW PC OPEN ========
// .how-section-title {
//   font-family: $main-font;
//   font-weight: 800;
//   font-size: 46px;
//   line-height: 130%;
//   letter-spacing: 0.03em;

//   color: $light-theme-header-color;

//   text-align: center;
//   margin-bottom: 50px;
// }

// .how-section-card {
//   display: inline-block;
//   max-width: 425px;
//   width: 100%;
//   max-height: 396px;
//   height: 100%;
//   text-align: center;

//   margin-bottom: 10px;
//   margin-left: 10px;
//   margin-top: 10px;
//   padding: 20px 20px;
//   border-left: 1px solid #eeeeee;
//   border-right: 1px solid #eeeeee;
//   border-top: 1px solid #eeeeee;
//   border-bottom: 1px solid #eeeeee;
//   background: #ffffff;
//   box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .how-section-card:hover {
//   background-color: $accent-color;
// }
// // ------------text------------

// .how-list-text {
//   // display: block;
//   font-family: $main-font;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.5;
//   letter-spacing: 0.08em;
//   color: $light-text-color;
// }

// .how-list-title {
//   // display: block;

//   font-family: $main-font;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.4;
//   text-align: center;
//   letter-spacing: 0.08em;
//   padding-bottom: 30px;
// }

// .how-section-card:hover {
//   color: $dark-theme-header-color;
//   fill: $dark-theme-header-color;
// }

// // ------------text------------

// .how-section-card-icon:hover {
//   fill: $dark-theme-header-color;
//   color: white;
// }

// .how-section-card-icon {
//   position: relative;
//   text-align: center;
// }

// .how-section-item {
//   width: 100%;
// }

// .how-section-item:not(:last-child) {
//   margin-right: 20px;
// }

// // .how-section-item {
// //   display: inline-block;
// //   width: calc((100% - 6 * 15px) / 3);
// // }

// .how-list {
//   margin: -10px;
//   display: flex;
//   flex-wrap: wrap;
// }

// ======== HOW PC CLOSE ========

// ======== HOW MOBILE OPEN ========
.how-section {
  padding: 50px 0px;
}

.how-section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.03em;

  color: $light-theme-header-color;

  margin-bottom: 30px;
}

.how-section-item {
  display: block;
  width: 100%;
  padding: 30px 10px;
  min-height: 280px;
  text-align: center;

  background: $dark-theme-header-color;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  &:hover {
    background-color: $accent-color;

    .how-list-title,
    .how-list-text {
      color: white;
      fill: white;
    }
    .how-list-palka {
      background-color: white;
      border-color: white;
    }
    .how-section-card-icon {
      --color1: white;
    }
  }
}

.how-section-card-icon {
  margin-bottom: 20px;
}

.how-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;

  color: $light-theme-header-color;
  margin-bottom: 15px;
}

.how-list-palka {
  display: inline-block;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  width: 20px;

  margin-bottom: 15px;
}

.how-list-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;

  color: $light-text-color;
}

// ======== HOW MOBILE CLOSE ========

// from Roman --------------
// width: calc((100% - 4 * 15px) / 2);

// width: calc((100% - 6 * 15px) / 3);
