// Mobile ==========
.him-section {
  background-color: $pink-theme-bgc;

  & .container {
    padding-top: 125px;
  }
}

@media screen and (max-width: 767px) {
  .him-section .container {
    background-color: $pink-theme-bgc;
  }

  .him-container {
    background-image: url(../images/how-its-made/milk-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 697px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .him-container {
      background-image: url(../images/how-its-made/milk-mobile@2x.png);
    }
  }

  .him-title {
    font-size: 18px;
    line-height: 1.17;
  }

  .him-title-main {
    font-size: 34px;
  }

  .him-img-main {
    margin-bottom: 46px;
  }

  .him-text-main,
  .him-text-secondary,
  .him-text-third {
    padding-left: 30px;
    padding-right: 30px;
  }

  .him-text-secondary {
    letter-spacing: 0.02em;
  }

  .him-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 39px;
  }

  .him-desc-list {
    margin-bottom: 97px;
  }

  .him-desc-list-item:not(:last-child) {
    margin-bottom: 38px;
  }

  .him-desc-list-item-counter {
    font-size: 36px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .him-desc-list-item-text {
    font-size: 12px;
    line-height: 1.67;
  }
}

.him-title {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.him-title-main {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  display: inline-block;
  margin-top: 15px;
}

.him-text-main,
.him-text-secondary,
.him-text-third {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  margin-bottom: 37px;
}

.him-text-main {
  color: $first-text-color;
}

.him-text-secondary,
.him-text-third {
  color: $secondary-text-color;
}

.him-text-secondary {
  margin-bottom: 20px;
}

.him-btn {
  min-width: 176px;
  height: 44px;
  font-size: 14px;
  line-height: 1.29;
  display: block;
}

.him-btn-svg {
  margin-left: 14px;
}

.him-desc-img {
  margin-bottom: 16px;
  margin-right: 0;
}

.him-desc-list-item-counter {
  font-family: $secondary-font;
  letter-spacing: 0.04em;
  color: $accent-color;
}

.him-desc-list-item-text {
  font-family: $main-font;
  font-weight: 700;
  color: $first-text-color;
}
.him-collage-img-size {
  width: 100%;
}

.him-collage {
  background-color: #fff;

  .him-collage-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Tablet ==========
@media screen and (min-width: 768px) {
  .him-wrapper {
    display: flex;
  }

  .him-text-main,
  .him-text-secondary,
  .him-text-third {
    padding-left: 0;
  }

  .him-btn {
    font-size: 16px;
    line-height: 1.31;
  }

  .him-desc-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .him-section .container {
    background-color: $pink-theme-bgc;
    padding-top: 130px;
  }
  .him-title {
    font-size: 26px;
    line-height: 1.15;
  }
  .him-title-main {
    font-size: 48px;
  }
  .him-img-main {
    margin-top: 50px;
    margin-bottom: 56px;
  }

  .him-article {
    margin-left: 17px;
  }

  .him-text-main,
  .him-text-secondary,
  .him-text-third {
    font-size: 14px;
    line-height: 1.79;
  }

  .him-text-main {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .him-text-third {
    margin-bottom: 62px;
  }

  .him-desc-list {
    margin-top: 66px;
    margin-bottom: 140px;
  }

  .him-desc-list-item {
    width: 180px;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  .him-desc-list-item-counter {
    font-size: 48px;
    margin-bottom: 13px;
  }

  .him-desc-list-item-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

// Desktop ==========
@media screen and (min-width: 1200px) {
  .him-section {
    min-width: 1280px;
    background-image: url(../images/how-its-made/milk-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 340px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .him-section {
      background-image: url(../images/how-its-made/milk-desktop@2x.png);
    }
  }

  .him-container {
    background: transparent;
  }

  .him-title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }

  .him-title-main {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }

  .him-img-main {
    margin-top: 55px;
    margin-bottom: 39px;
  }

  .him-article {
    margin-left: 74px;
  }

  .him-text-main {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-top: 106px;
    margin-bottom: 35px;
  }

  .him-text-secondary,
  .him-text-third {
    line-height: 1.93;
  }

  .him-text-third {
    margin-bottom: 45px;
  }

  .him-desc-list {
    margin-top: 39px;
    margin-bottom: 139px;
  }

  .him-desc-list-item {
    width: 330px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .him-desc-list-item-counter {
    font-size: 58px;
    margin-bottom: 30px;
  }

  .him-desc-list-item-text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
