.how-we-do {
  z-index: 20;
  margin-bottom: 50px;
}

.how-we-do-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
}

.how-we-do-list-item {
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 11px;
  padding-right: 11px;
}

.how-we-do-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.how-we-do-item-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.429;

  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 32px;
  color: var(--main-color);

  .how-we-do-list-item:hover &,
  .how-we-do-list-item:focus & {
    color: var(--white-color);
  }
}

.how-we-do-item-name::after {
  content: '';
  display: block;
  width: 17px;
  height: 2px;
  bottom: -15px;
  right: -125px;
  background-color: var(--orange-color);
  border-radius: 2px;
  position: relative;

  .how-we-do-list-item:hover &,
  .how-we-do-list-item:focus & {
    background-color: var(--white-color);
  }
}

.how-we-do-item-name-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;

  text-align: center;
  letter-spacing: 0.08em;

  color: var(--grey-color);

  .how-we-do-list-item:hover &,
  .how-we-do-list-item:focus & {
    color: var(--white-color);
  }
}

.how-we-do-list-item-link {
  cursor: pointer;
  text-decoration: none;
}

.how-we-do-list-item {
  width: 280px;

  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    background: var(--orange-color);
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  }
}

.how-we-do-item-icon {
  margin-bottom: 20px;
}

.how-we-do-item-icon.study {
  width: 45.39px;
  height: 48px;
}

.how-we-do-item-icon.mobile {
  width: 48px;
  height: 47px;
}

.how-we-do-item-icon.book {
  width: 68.43px;
  height: 48px;
}

.how-we-do-item-icon.support {
  width: 48.35px;
  height: 48px;
}

.how-we-do-item-icon.student {
  width: 39.83px;
  height: 48px;
}

.how-we-do-item-icon.audio {
  width: 57.14px;
  height: 48px;
}

.how-we-do-item-icon {
  fill: var(--orange-color);

  .how-we-do-list-item:hover &,
  .how-we-do-list-item:focus & {
    fill: var(--white-color);
  }
}

.how-we-do-item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .how-we-do-title {
    font-size: 26px;
    line-height: 1.308;
    margin-bottom: 57px;
  }

  .how-we-do-list {
    height: 1056px;
  }

  .how-we-do-list-item {
    padding-top: 40px;
    padding-bottom: 23px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .how-we-do-list-item:not(:last-child),
  .how-we-do-list-item:last-child {
    margin-bottom: 27px;
  }

  .how-we-do-item-name {
    margin-bottom: 52px;
  }

  .how-we-do-item-name::after {
    content: '';
    display: block;
    bottom: -25px;
    right: -145px;
  }

  .how-we-do-item-name-description {
    &.study {
      width: 290px;
    }

    &.mobile {
      width: 293px;
    }

    &.book {
      width: 283px;
    }

    &.support {
      width: 293px;
    }

    &.student {
      width: 307px;
    }

    &.audio {
      width: 293px;
      height: 78px;
    }
  }

  .how-we-do-list-item {
    flex-basis: calc(100% / 2 - 20px);
    margin-left: 20px;
  }

  .how-we-do-item-icon {
    margin-bottom: 30px;
  }

  .how-we-do-list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -20px;
    margin-top: -27px;
  }
}

@media screen and (min-width: 1344px) {
  .how-we-do-title {
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 77px;
    text-align: left;
  }

  .how-we-do-list {
    height: 812px;
  }

  .how-we-do-list-item {
    padding-top: 40px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 29px;
  }

  .how-we-do-list-item:not(:last-child),
  .how-we-do-list-item:last-child {
    margin-bottom: 20px;
  }

  .how-we-do-item-name {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.08em;
  }

  .how-we-do-item-name::after {
    content: '';
    display: block;
    bottom: -16px;
    right: -170px;
  }

  .how-we-do-item-name-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.556;
    text-align: center;
    letter-spacing: 0.08em;

    &.study {
      width: 365px;
    }

    &.mobile {
      width: 365px;
    }

    &.book {
      width: 365px;
    }

    &.support {
      width: 365px;
    }

    &.student {
      width: 365px;
    }

    &.audio {
      width: 365px;
    }
  }

  .how-we-do-list-item {
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
  }

  .how-we-do-item-icon {
    margin-bottom: 30px;
  }

  .how-we-do-list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -20px;
    margin-top: -20px;
  }
}
