.him-container {
  box-sizing: border-box;
  background-color: $pink-theme-bgc;
  background-image: url(../images/how-its-made/milk-mobile.png);
  background-repeat: no-repeat;
  background-position-y: 766px;
  padding-top: 125px;
}

.him-title {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  padding-left: 40px;
  padding-right: 40px;
}

.him-title-main {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  display: inline-block;
  margin-top: 15px;
}

.him-img-main {
  margin-bottom: 46px;
}

.him-text-main,
.him-text-secondary,
.him-text-third {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  margin-bottom: 37px;
  padding-left: 30px;
  padding-right: 30px;
}

.him-text-main {
  color: $first-text-color;
}

.him-text-secondary,
.him-text-third {
  color: $secondary-text-color;
}

.him-text-secondary {
  margin-bottom: 20px;
}

.him-desc-img {
  margin-bottom: 16px;
}

.him-desc-list-item-counter {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  margin-bottom: 30px;
}

.him-desc-list-item-text {
  font-family: $main-font;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;
  color: $first-text-color;
}

.him-desc-list-item {
  &:not(:last-child) {
    margin-bottom: 38px;
  }

  &:last-child {
    padding-bottom: 97px;
  }
}

.him-collage-img {
  border: none;
}
