.how-we-do {
  padding-bottom: 37px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 130px;
  }
}

.how-we-do__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: $font;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $color-dark;

  @media screen and (max-width: 1365px) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    margin-bottom: 55px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 46px;
  }
}

.how-we-do__cards {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.how-we-do__card {
  width: 280px;
  height: 280px;
  padding-top: 30px;
  padding-bottom: 22px;

  background-color: $color-white;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.2);

  margin: 0 auto;

  transition: background-color 250ms linear;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 30px;

    width: 334px;
    height: 334px;

    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 27px;

    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1365px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 424px;
    height: 396px;

    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }
}

.how-we-do__svg {
  fill: $color-accent;

  display: flex;
  justify-content: center;

  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.how-we-do__card-information {
  @media screen and (min-width: $tablet) {
    padding: 0 14px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 30px;
  }
}

.how-we-do__card-tile {
  margin: 0;

  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.08em;
  color: $color-dark;

  @media screen and (min-width: $tablet) {
    padding: 0 5px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.how-we-do__card-tile::after {
  content: '';
  display: block;

  width: 20px;
  height: 2px;
  background-color: $color-accent;

  margin: 20px auto;

  @media screen and (min-width: $tablet) {
    margin: 25px auto;
  }

  @media screen and (min-width: $desktop) {
    margin: 20px auto;
  }
}

.how-we-do__card-text {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;

  margin: 0;
  padding: 0 6.5px;

  @media screen and (min-width: $tablet) {
    padding: 0 8px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.55;
    padding: 0 12px;
  }
}

.how-we-do__card:hover,
.how-we-do__card:focus {
  background-color: $color-accent;

  & .how-we-do__svg,
  & .how-we-do__svg {
    fill: #ffffff;
  }

  & .how-we-do__card-tile,
  & .how-we-do__card-tile {
    color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  & .how-we-do__card-text,
  & .how-we-do__card-text {
    color: $color-white;
  }
}
