@media screen and (max-width: 727px){

  .lecturer{
    .title{
      margin-bottom: 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 1,3;
      /* or 26px */
  
      letter-spacing: 0.03em;
    }
  
    .lecturer-img{
      width: 243px;
      margin-bottom: 20px;
  
    }
  
    .form{
    }
  
    .name{
      padding-bottom:11px;
  
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.08em;
  
      border-bottom: 1px solid $primary-text-color;
      color: #111518;
    }
    
    .list{
      position: relative;
      display: block;
      padding-left: 26px;
      list-style-image: url(../images/check-mark.svg);

      &:after{
        position: absolute;
        justify-content: center;
        align-items: center;
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        bottom: -10%;
        left: 0;
        background-color: $accent;
      }
      
    }
    
    .item{
      margin-bottom: 24px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.214;
      letter-spacing: 0.06em;
      color: black;
      
      &:first-child{
        padding-top: 22px;
      }

      &:last-child{
        margin-bottom: 43px;
      }
    }
  
    .text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      /* or 167% */
      margin-bottom: 24px;
    }
  
    .text-last{
      margin-bottom: 10px;
    }
  
    .link{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 1.818;
  
      text-decoration: underline;
      color: $accent;
    }
  }
}

@media screen and (min-width:728px){
  .lecturer{
    padding-bottom: 50px;

    .lecturer-flex{
      display: flex;
      justify-content: space-between;

    }

    .title{
      margin-bottom: 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 26px;
      line-height: 1,3;
      /* or 26px */
  
      letter-spacing: 0.03em;
    }
  
    .lecturer-img{
      margin-bottom: 20px;
      width: 243px;
      height: 100%;
  
    }
  
    .form{
      width: 402px;
    }
  
    .name{
      padding-bottom:11px;
  
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.08em;
  
      border-bottom: 1px solid $primary-text-color;
      color: #111518;
    }
    
    .list{
      position: relative;
      display: block;
      padding-left: 26px;
      list-style-image: url(../images/check-mark.svg);

      &:after{
        position: absolute;
        justify-content: center;
        align-items: center;
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        bottom: -10%;
        left: 0;
        background-color: $accent;
      }
      
    }
    
    .item{
      margin-bottom: 24px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.214;
      letter-spacing: 0.06em;
      color: black;
      
      &:first-child{
        padding-top: 22px;
      }

      &:last-child{
        margin-bottom: 38px;
      }
    }
  
    .text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      /* or 167% */
      margin-bottom: 24px;
    }
  
    .text-last{
      margin-bottom: 10px;
    }
  
    .link{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 1.818;
  
      text-decoration: underline;
      color: $accent;
    }
  }
}

@media screen and (min-width:1354px){
  .lecturer{
    padding-bottom: 50px;

    .lecturer-flex{
      display: flex;
      justify-content: start;


    }

    .title{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 1.304;
      /* or 60px */
      
      letter-spacing: 0.03em;
    }
  
    .lecturer-img{
      margin-bottom: 20px;
      width: 530px;
  
    }
  
    .form{
      width: 642px;
      margin-left: 30px;
    }
  
    .name{
      padding-bottom:11px;
  
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 1.233;
      /* identical to box height */
      
      letter-spacing: 0.08em;
  
      border-bottom: 1px solid $primary-text-color;
      color: #111518;
    }
    
    .list{
      position: relative;
      display: block;
      padding-left: 35px;
      list-style-image: url(../images/check-mark.svg);

      &:after{
        position: absolute;
        justify-content: center;
        align-items: center;
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        bottom: -10%;
        left: 0;
        background-color: $accent;
      }
      
    }
    
    .item{
      padding-left: 25px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.06em;
      color: black;
      
      &:first-child{
        padding-top: 22px;
      }

      &:last-child{
        margin-bottom: 38px;
      }
    }
  
    .text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.555;
    }
  
    .text-last{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.555;
      margin-bottom: 10px;
    }
  
    .link{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 1.818;
  
      text-decoration: underline;
      color: $accent;
    }
  }
}