body{
    margin: 0px;
    background-color: #E5E5E5;
    color: $primary-text-color;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.08em;
}
ul{
    list-style: none;
}

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
   
}
img{
    display: block;
    
}
.main-conteiner{
    max-width:1316px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
