.mentors {
  padding-top: 39px;
  padding-bottom: 50px;

  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $dark-theme-background-color;
    padding-bottom: 20px;
  }
  &__name {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: $dark-theme-background-color;
    margin-top: 20px;
    border-bottom: 1px solid #b9b9b9;
  }
  &__experience {
    margin-top: 20px;
  }
  &__experience-list {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: $dark-theme-background-color;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
  &__about {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.66;
    color: $main-text-color;
    margin-top: 43px;
    margin-bottom: 10px;
  }
  &__certificate {
    color: $accent-color;
  }
}
