.head-container {
    /*position: relative;*/
    padding: 0;


    height: 502px;

    display: flex;
    justify-content: center;
    
    background-color: $accent-color;

    @media screen  and (min-width:1280px){
        padding: 0;
        height: 665px;       
     
    }

    @media screen  and (min-width:768px) and (max-width:1279px) {
        padding: 0;
        padding-right: 34px;

        height: 399px;
    }   
}

.above-container {
    width: 320px;

    padding-top: 6px;
    padding-left: 20px;

    @media screen and (max-width:767px){
        background-image: url('./../images/hero/icecream_mob.png'), url('./../images/hero/ellipse_mob.png');
        background-repeat: no-repeat;
        background-position: left 117px bottom 0px, top 92px right 0px;
        
        /*@media screen and (min-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url('./../images/hero/icecream_mob@2x.png'), url('./../images/hero/ellipse_mob@2x.png');
        }*/  
    }

   

    @media screen and (min-width:768px) and (max-width:1279px){
        width: 768px;
        padding-top: 37px;

        
        background-image: url('./../images/hero/icecream_tablet.png'), url('./../images/hero/ellipse_tablet.png');
        background-repeat: no-repeat;
        background-position: top 63px right 214px, top 31px right 103px;
        
        /*@media screen and (min-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                    background-image: url('./../images/hero/icecream_tablet@2x.png'), url('./../images/hero/ellipse_tablet@2x.png');
        }*/
    }

    @media screen and (min-width:1280px) {
        width: 1280px;
        padding-top: 37px;
        padding-right: 115px;
    
        background-image: url('./../images/hero/icecream_desktop.png'), url('./../images/hero/ellipse_desktop.png');
        background-repeat: no-repeat;
        background-position: top 108px right 450px, top 55px right 267px;
        
        /*@media screen and (min-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                    background-image: url('./../images/hero/icecream_desktop@2x.png'), url('./../images/hero/ellipse_desktop@2x.png');
        }*/
    
    }
  
   
}


.nav {    
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 56px;

    @media screen  and (min-width:1280px){
        padding-right: 0px;
         
     }

    @media screen  and (min-width:768px) and (max-width:1279px){
        padding-right: 0px;
        padding-left: 19px;
    }
   
  
}

.logo_icon {
    display: block;
    fill: $title-text-color; 
    
    width: 199px;
    height: 50px;
}
.menu-btn {
    background-color: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen  and (min-width:1280px){
        display: none;
    }
}
.btn-container {
    display: flex;
}

.buy-btn {
    border: transparent;       
    
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;

    &--nmob {
        display: none;

        @media screen  and (min-width:768px){
            display: flex;
                    
            padding-right: 37.23px;
            padding-left: 37.23px;
    
            margin-left: 30px;
        
            width: 160px;
            height: 44px;
        
           
    
            & .right-icon{
                margin-left: 12px;
            }
        }
        @media screen  and (min-width:1280px){
            margin-right: 0px;
        }
    }

    &--mob{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    
        margin-top: 60px;        

        padding-right: 48.64px;
        padding-left: 48.64px;    
    
        width: 209px;
        height: 44px; 
        
        & .right-icon {              
            margin-left: 15.77px;
        }
    }

}
.right-icon {
    width: 5.26px;
    height: 9px;
}

.close-btn {
    position: absolute;
    top: 23px;
    right: 28px;

    @media screen  and (min-width:768px){
        right: 14px;
    }

    
}
.open-icon {
    width: 20px;
    height: 12px;
}

.cross-icon {
    fill: $text-color-hero;
    width: 14px;
    height: 14px;    
}

.mobile-menu {
    display: none;
     
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;

    opacity: 0;
    transform: translateX(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 450ms;
    
    

    padding-bottom: 185px;

    width: 78.125%;
    height: 502px;

    background-color: #E17992;

    &.is-open {
        display: block;
        opacity: 1;
        transform: translateX(0%);
        
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 450ms;

        @media screen  and (min-width:1280px){
            display: none;
        }
                   
    }     
    
    @media screen  and (min-width:768px){
        width: 33%;
        height: 1020px;

    }
   

}




.mobile-nav-item {
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 21px;    

    border: 1px solid #E18298;
}
.mobile-site-nav {
    margin-top: 19px;      
}
.nav-link {     
    font-family: DM Sans;
    font-weight: 700;
    line-height: 1.2857;

    cursor: pointer;

    color: $text-color-hero;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current,
.nav-limk:focus,
.nav-link:hover {
    color: $title-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.site-nav {
    display: none;

    @media screen  and (min-width:1280px){
        display: flex;
    }
}

.nav-item:not(:last-child) {
    margin-right: 35px;

}