.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: var(--primary-backdrop-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 95%;
  max-height: 609px;
  padding: 40px;
  overflow: scroll;
  background: var(--hero-bgc);
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
}

.backdrop-icon-close {
  width: 18px;
  height: 18px;
  stroke: var(--primary-white-color);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    stroke: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.modal-form-input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  fill: var(--label-color);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms linear;

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms linear;
  padding: 15px;
  margin-top: 4px;
  margin-bottom: 20px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-image: url(../images/img-customer/icon-check.svg);
  outline: none;
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  box-shadow: 0 0 0 2px blue;
}

.modal-form-label-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.17;

  & a {
    color: var(--accent-color);
    margin-left: 5px;
  }

  &::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    outline: 1px solid #000;
    content: '';
    margin-right: 10px;
  }
}

.order-btn-modal {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  min-width: 200px;
  height: 50px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-width: 528px;
    height: 581px;
    overflow: hidden;
  }
}
