.info {
  margin-bottom: 39px;
  font-family: Roboto;
  font-style: 500;
  font-size: 12px;
}

.info-name {
  text-transform: uppercase;
  margin-top: 10px;
}

.movie-poster {
  height: 398px;
  border-radius: 5px;
}

.info-location {
  margin-top: 7px;
  display: flex;
  color: rgba(255, 107, 8, 1);
}

.info-genre {
  padding-right: 5px;
}

.info-relise {
  padding-left: 5px;
  border-left: 1px solid rgba(255, 107, 8, 1);
}
