.hidden-header {
  position: absolute;
  visibility: hidden;
}
.our-products-container {
  margin-right: auto;
  margin-left: auto;
}
.our-products-container {
  .hundred-percent {
    margin-bottom: 15px;

    font-family: $secondary-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    color: $text-l-pink;
  }
  .products {
    font-family: $secondary-font;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;

    color: $text-d-pink;
  }
}
.our-products-section {
  width: 100%;
  background-color: $bacground-light;
}
.our-product {
  border-radius: 24px;
  text-align: center;
}
.ice-cream {
  background-color: $bacground-d-pink;
}
.coffee {
  background-color: $bacground-brown;
}
.milkshakes {
  background-color: $bacground-green;
}
.our-product-name {
  font-family: $secondary-font;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: $text--white;
}
.our-product-description {
  font-family: $main-font;
  color: $text--white;
}
.view-more {
  margin-right: auto;
  margin-left: auto;
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $bacground-light;
  transition: $time-function;

  &:hover,
  &:focus {
    background-color: $accent-color-second;
    transition: $time-function;

    .rightarrow {
      fill: $accent-color;
      transition: $time-function;
    }
  }
}
.rightarrow {
  fill: $fill-pink;
  transition: $time-function;
}
.points-container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;

  width: 28px;
  height: 6px;

  .point {
    width: 6px;
    height: 6px;
    border-radius: 50%;

    background-color: $bacground-light;
  }
}
.our-products-section {
  .our-products-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .our-product {
    position: relative;
  }
  .image-desctop {
    position: absolute;
  }
  .image-mobile-tablet {
    position: absolute;
  }
}

//
//
//
//
//
//
// стили мобильного
@media screen and (max-width: 767px) {
  .our-products-container {
    .hundred-percent {
      font-size: 18px;
      line-height: 1.16;
    }
    .products {
      margin-bottom: 144px;

      font-size: 34px;
      line-height: 1.14;
      letter-spacing: 0.04em;
    }
  }
  .our-products-container {
    max-width: 450px;
    padding-top: 121px;
    padding-bottom: 98px;
  }
  .our-product {
    min-height: 485px;
    margin-bottom: 120px;

    padding-top: 161px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .our-product-description {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }
  .image-mobile-tablet {
    left: 50%;
    transform: translateX(-50%);
    bottom: 71%;
  }
}
//
//
//
// стили для маленьких экранов
@media screen and (max-width: 259px) {
  .our-product {
    margin-bottom: 135px;

    padding-top: 140px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .image-mobile-tablet {
    width: 100%;
    bottom: 75%;
  }
}

// стили для очень маленьких экранов
@media screen and (max-width: 219px) {
  .our-products-container {
    .hundred-percent {
      font-size: 14px;
      line-height: 1.2;
    }
    .products {
      margin-bottom: 80px;

      font-size: 30px;
      line-height: 1.2;
      letter-spacing: 0.04em;
    }
  }
  .our-products-section {
    .our-products-container {
      padding-top: 50px;
      padding-bottom: 98px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  .our-product {
    margin-bottom: 100px;

    padding-top: 130px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
//
//
//стили крошечных телефнов
@media screen and (max-width: 199px) {
  .our-products-container {
    .hundred-percent {
      font-size: 14px;
      line-height: 1.3;
    }
    .products {
      margin-bottom: 60px;

      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0.04em;
    }
  }
  .our-products-section {
    .our-products-container {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .our-product {
    min-height: 300px;
    margin-bottom: 75px;

    padding-top: 125px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .points-container {
    margin-bottom: 10px;
  }
  .our-product-name {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.04em;
  }
  .our-product-description {
    margin: bottom 10px;
    font-weight: 500;
  }
  .image-desctop {
    display: none;
  }
}
//
//
//  стили от мобильного до планшета
@media screen and (min-width: 200px) and (max-width: 1199px) {
  .our-product-name {
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
  .our-product-description {
    font-weight: 700;
  }
  .image-desctop {
    display: none;
  }
}
//
//
// стили планшета
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-products-section {
    .our-products-container {
      padding-top: 122px;
      padding-bottom: 112px;
    }
  }
  .our-products-container {
    .hundred-percent {
      font-size: 26px;
      line-height: 1.16;
    }
  }
  .our-product {
    width: 230px;
    height: 485px;
    padding-top: 152px;
    padding-bottom: 40px;
    padding-left: 11px;
    padding-right: 11px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .products {
    margin-bottom: 150px;

    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
  .our-product-description {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  .image-mobile-tablet {
    left: 50%;
    transform: translateX(-50%);
    bottom: 363px;
  }
}
//
//
// общие стили от планшета до десктопа
@media screen and (min-width: 768px) {
  .our-products-list {
    display: flex;
    justify-content: center;
  }
}

//
//
// Стили десктопа
@media screen and (min-width: 1200px) {
  .our-products-section {
    .our-products-container {
      padding-top: 127px;
      padding-bottom: 114px;
    }
  }
  .our-products-container {
    .hundred-percent {
      font-size: 30px;
      line-height: 1.13;
    }

    .products {
      margin-bottom: 259px;
      font-size: 58px;
      line-height: 1.13;
      letter-spacing: 0.06em;
    }
  }
  .our-product-description {
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  .our-product {
    width: 329px;
    height: 525px;
    padding-top: 163px;
    padding-bottom: 119px;
    padding-left: 44px;
    padding-right: 45px;
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
  .our-products-list {
    width: 100%;
  }
  .our-product-name {
    margin-bottom: 32px;
  }
  .image-mobile-tablet {
    display: none;
  }
  .image-desctop {
    left: 50%;
    transform: translateX(-50%);
    bottom: 400px;
  }
}
