.our-program {
    background-color: #111518;
   


    @media screen and (max-width: 767px) {    
        padding-top: 50px;
        padding-bottom: 443px;
    }

    @media screen and (min-width: 768px) and(max-width:1313px) {    
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 178px;
}


    .container {

        margin: 0 auto;
    }
 

    .container {
        position: relative;
    }
    
    &-title {
        margin-bottom: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: #FFFFFF;

        @media screen and(min-width:768px){
           display: flex; 
           align-items: center;
           justify-content: start;
           font-size: 26px;
        }
    }

   
}


.our-program-term {

    &-list {
        padding-left: 90px;
    }


    &-title{
        display: inline-block;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 14px;
        line-height: 2px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        @media screen and(max-width:767px) {           
            height: 28px;          
       }

       @media screen and(min-width:768px) {           
       display: flex;      
       align-items: center; 
       height: 28px;   
   }

    }

 
    &-item:not(:last-child) {        

        @media screen and(max-width:767px){
            margin-bottom: 32px;
            
            @media screen and(min-width:768px){
                margin-bottom: 30px; 
            }
        }
        
        
    }


    &-section-list {

        @media screen and(min-width:768px) {
            display: inline-flex;
        }
        
}


    &-section-item {
        min-width: 176px;

    }


    &-section-item:not(:last-child) {
        
        @media screen and(min-width:768px) and(max-width:1313px){
            margin-right: 50px; 
        }
    }

    &-section-title {
        display: inline-block;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.667px;
        letter-spacing: 0.08em;
        color: #FF6B09;
        display: flex;
        align-items: center;
        margin-bottom: 5px;


        @media screen and(max-width:767px) {

           
            height: 32px;          
        
        }

        @media screen and(min-width:768px) {
           display: flex;
           align-items: center;
            height: 32px;          
            line-height: 164.9%;

        }
    }

    &-description-items {
        display: block;
        margin-bottom: 8px;


    }

    &-description-item {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.667;
        letter-spacing: 0.08em;
        color: #B9B9B9;


        @media screen and(max-width:768px) {

            min-width: 176px;
        
        }
    }
}





.our-program-info {
    position: absolute;
    background-color: #FFFFFF;
    
    
   

        @media screen and(max-width:767px){
            width: 290px;   
            height: 638px;
            padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 14px;
        transform: translate(-4%,0%);
        }

        
        @media screen and(min-width:768px) and(max-width:1313px){
            width: 688px;   
            height: 394px;
             padding-top: 30px;
        padding-bottom: 25px;
        padding-left: 98px;
        padding-right: 118px; 
        transform: translate(0%,62.5%);
        }

    
    &-title {
        font-family: Montserrat;
        font-weight: 800;
        font-size: 20px;
        line-height: 136%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        
        

        @media screen and(max-width: 767px){
            width: 180px;
}

        @media screen and(min-width: $tablet) and(max-width: 1313px){
            font-size: 26px;
            line-height: 130%;
            min-width: 370px;
           
        }
    }

    &-list {

        @media screen and(max-width:767px){
            
            padding: 0;
        }

        @media screen and(min-width:768px){
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;   
            flex-basis: 33.3333%;
        }
        
    }

    &-subtitle {
        height: 23px;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 14px;
        line-height: 164.9%;
        letter-spacing: 0.08em;
        color: #FF6B09;
         display: flex;
         align-items: center;
        margin-bottom: 10px;
    }

    &-description {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.429;
        letter-spacing: 0.08em;
        color: #111518;
        display: flex;
        align-items: center;
        
        @media screen and(min-width:768px){
        width: 236px;
        }

    }

    &-item {
        
       
        @media screen and(min-width:768px){
            width: 236px;
            

            &:not(:nth-last-child(-n+2)) {
                @media screen and(min-width:768px){
                    margin-bottom: 30px; 
                }
            }
    }
}

    &-item:not(:last-child){
        @media screen and(max-width:767px){
            margin-bottom: 20px; 
        }
    }

    &-item:nth-child(odd) {
        width: 216px;
        margin-right: 20px;
    }



}


.our-program-info-wrapper{

    
    @media screen and(width:768px){
        padding-top: 189px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }
}

.img-our-prgm {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;

    @media screen and(max-width:767px){
        width: 120px;
        height: 137px;
        
        background-image: url("../images/our-prgm-mobile.png");
        transform: translate(25%,73%); 
    }

    @media screen and (min-device-pixel-ratio:2) and (min-width: 320px),
    screen and (min-resolution:192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
         
            background-image: 
                 url('../images/our-prgm-mobile@2x.png');
                 background-repeat: no-repeat;
                background-position: center;  
                background-size: cover; 
    }

    @media screen and (min-width:768px){
        background-image: 
           url('../images/our-prgm-tablet.png');
           width: 384px;
           height: 280px;
           transform: translate(9%,57%);
    }

    @media screen and (min-device-pixel-ratio:2) and (min-width: 768px),
screen and (min-resolution:192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
   
        background-image: 
             url('../images/our-prgm-tablet@2x.png');
    
}

    @media screen and (min-width: 1314px){
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
          ),
           url('../images/our-prgm-desktop.png');
           
    }

    

@media screen and (min-device-pixel-ratio:2) and (min-width: 1314px),
screen and (min-resolution:192dpi) and (min-width: 1314px),
screen and (min-resolution: 2dppx) and (min-width: 1314px) {
    
    background-image: 
             url('../images/our-prgm-desktop@2x.png');
   
}

}

.term-container {
    position: relative;
    min-width: 176px;
    



    @media screen and(min-width:768px){
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

}