.advantages {
  padding-bottom: 50px;
}

.advantages-list-item {
  display: flex;
  justify-content: center;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.advantages-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.advantages-text {
  width: 60%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    // justify-content: space-between;
  }
  .advantages-list-item {
    // justify-content: flex-start;
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 21px;
    }
  }
}

@media screen and (min-width: 1344px) {
  .advantages {
    padding-bottom: 130px;
  }

  .advantages-list-item {
    position: relative;
    align-items: center;
    &:not(:last-child) {
      margin-right: 348px;
    }
  }
  .advantages-icon {
    width: 100px;
    height: 100px;
    margin-right: 0;
  }
  .advantages-text {
    position: absolute;
    left: 80px;
    width: 366px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.649;
  }
}
