.our-programm-section {
  position: relative;
  height: 2325px;
}

.dop-contener {
  height: 2050px;
  background: $black;
}

.our-programm {
  padding-top: 50px;
}

.our-programm__h2 {
  margin-bottom: 43px;
  @include font(800, 20px, 1.3, center, 0.03em);
  color: $white;
}

.our-programm_thumb {
  display: flex;
  position: relative;
}

.our-programm__list {
  padding-left: 74px;
  z-index: 2;
}

.our-programm__list-outter {
  padding-bottom: 40px;
}

.our-programm__h3 {
  @include font(700, 14px, 2, left, 0.08em);
  text-transform: uppercase;
  color: $white;
  margin-left: -30px;
  margin-bottom: 12px;
}

.our-programm__h4 {
  @include font(700, 12px, 1.667, left, 0.08em);
  margin-bottom: 14px;
  color: $orange;
}

.our-programm__text {
  @include font(500, 12px, 1.667, left, 0.08em);
  margin-bottom: 14px;
  color: $grey;
  opacity: 0.5;
}

.our-programm__h3::before {
  display: inline-block;
  content: ' ';
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: $orange;
  margin-right: 20px;
}

.why-we {
  position: absolute;
  top: 1563px;
  width: 280px;
  height: 718px;
  margin: 0 auto;
  box-shadow: 0px 8px 26px rgb(0 0 0 / 10%);
}

.why-we__h2 {
  width: 180px;
  margin-bottom: 30px;
  @include font(800, 20px, 1.365, left, 0.08em);
  color: $white;
}

.why-we__list {
  padding: 20px 14px 20px 30px;
  background-color: $white;
}

.why-we__h3 {
  @include font(700, 14px, 1.643, left, 0.08em);
  color: $orange;
  margin-bottom: 10px;
}

.why-we__p {
  @include font(700, 14px, 1.429, left, 0.08em);
  width: 216px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .why-we__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .vl {
    position: absolute;
    top: 10px;
    border-left: 1px solid $white;
    margin-left: 49px;
    height: 1320px;
  }
}


@media screen and (min-width: 768px) {
  .our-programm-section {
    position: relative;
    height: 1645px;
  }

  .dop-contener {
    height: 1355px;
  }

  .our-programm__h3 {
    margin-left: -62px;
    margin-bottom: 12px;
  }

  .our-programm__list-outter {
    padding-bottom: 30px;
  }

  .our-programm__list {
    padding-left: 114px;
  }

  .our-programm__h3::before {
    margin-right: 50px;
  }

  .our-programm__list-interior {
    display: flex;
  }

  .our-programm__item-interior--first {
    width: 176px;
  }

  .our-programm__item-interior--second {
    width: 155px;
  }

  .our-programm__item-interior--third {
    width: 110px;
  }

  .our-programm__item-interior {
    margin-right: 50px;
  }

  .why-we {
    top: 1137px;
    width: 688px;
    height: 455px;
  }

  .why-we__h2 {
    width: 688px;
    @include font(800, 26px, 1.307, center, 0.03em);
    color: $white;
  }

  .why-we__list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 118px 25px 98px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1344px) {
  .why-we__item {
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }

    &:not(:nth-child(n + 5)) {
      margin-bottom: 30px;
    }
  }

  .vl {
    position: absolute;
    top: 10px;
    border-left: 1px solid $white;
    margin-left: 57px;
    height: 752px;
  }
}

@media screen and (min-width: 1344px) {
  .our-programm-section {
    height: 1570px;
    &::before{
    position: absolute;
    content: " ";
    top: 278px;
    height: 1px;
    width: 100%;
   background-color: #fff;
   z-index: 0;
    } 
  }

  .dop-contener {
    height: 1237px;
  }

  .our-programm__list {
    display: flex;
    padding-left: 0;
  //   &::before{
  //   position: absolute;
  //   display: inline-block;
  //   content: " ";
  //   height: 1px;
  //   width: 100vw;
  //   background-color: #fff;
  //   // z-index: 2;
  //  }   
   }
  

  .our-programm {
    padding-top: 120px;
  }

  .our-programm__h2 {
    margin-bottom: 100px;
    @include font(800, 46px, 1.304, left, 0.03em);
  }

  .our-programm__h3 {
    @include font(700, 20px, 1.4, left, 0.08em);
    margin-left: 0px;
    // margin-bottom: 12px;
  }

  .our-programm__h4 {
    @include font(700, 20px, 1.667, left, 0.08em);
    // margin-bottom: 14px;
  }

  .our-programm__text {
    @include font(500, 18px, 1.556, left, 0.08em);
    // margin-bottom: 14px;
  }

  .our-programm__list-interior {
    flex-wrap: wrap;
  }

  .our-programm__h3::before {
    display: block;
    margin-bottom: 63px;
    margin-right: 0;
    margin-top: -6px;
  }

  .our-programm_thumb {
    display: block;
  }

  .our-programm__list-outter {
    padding-bottom: 0px;
  }

  .our-programm__list-interior {
    width: 240px;
    margin-right: 30px;
  }

  .our-programm__item-interior--first {
    width: 240px;
  }

  .our-programm__item-interior--second {
    width: 240px;
  }

  .our-programm__item-interior--third {
    width: 240px;
  }

  .our-programm__item-interior {
    margin-right: 0px;
  }

  .vl {
    margin-left: -600px;
    border-top: 1px solid $white;
    width: 3000px;
  }

  .why-we {
    position: absolute;
    top: 1050px;
    width: 1314px;
    height: 398px;
  }

  .why-we__h2 {
    display: none;
  }

  .why-we__list {
    padding: 70px 82px 70px 84px;
  }

  .why-we__h3 {
    @include font(700, 20px, 1.65, left, 0.08em);
  }

  .why-we__p {
    @include font(700, 20px, 1.2, left, 0.08em);
    width: 356px;
  }

  .why-we__item {
    &:not(:nth-child(3n)) {
      margin-right: 40px;
    }

    &:not(:nth-child(n + 4)) {
      margin-bottom: 32px;
    }
  }
}
.our-programm__img {
  position: absolute;
  bottom: -34px;
  opacity: 50%;
  left: 180px;
  display: block;
  width: 120px;
  height: 137px;
  background-image: url(/images/our-programm/our-programmimg.jpg);
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    background-image: url(/images/our-programm/our-programmimgtabl.jpg);
    width: 384px;
    height: 280px;
    bottom: -80px;
    left: 343px;
  }
  @media screen and (min-width: 1344px) {
    background-image: url(/images/our-programm/our-programmimgdesk.jpg);
    width: 680px;
    height: 502px;
    bottom: -258px;
    left: -187px;
    opacity: 50%;
  }
}

@media screen and (min-width: 1344px){
  .vl{
    display: none;
  }
}
// .our-programm__list::before{
//   display: block;
//   height: 10px;
//   width: 300px;
//   color: red;
// }