.logo {
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #111518;
}
.logo__icon {
  width: 14px;
  height: 19px;
  fill: #ff6b09;
}
.logo--undertitle {
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.header {
  padding-top: 36px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.menu-container {
  display: flex;
}
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}
.site-nav a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  text-transform: uppercase;
  color: #b9b9b9;
}
.site-nav .link.current {
  color: #ff6b09;
}
.button--header {
  padding: 24px 27px;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ff6b09;
  border: 2px solid #ff6b09;
}
.site-nav .item + .item {
  margin-left: 40px;
}
