.footer {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: var(--primary-white-color);
}

.footer-contacts {
  max-width: 320px;
}

.logo-main-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.logo-text {
  display: block;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: var(--title-text-color);
}

.logo-description {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 6px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.logo-accent {
  padding-right: 3px;
}

.logo-icon {
  display: block;
  width: 14px;
  height: 19px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.contact-phone {
  display: inline-flex;
  margin: 0 auto;
  padding-bottom: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;

  color: var(--title-text-color);
}

.phone-icon {
  margin-right: 10px;
}

.socials-link {
  display: block;
  padding-bottom: 30px;
}

.socials-icon {
  margin: 0 auto;
  padding: 0;
}

.footer-rights {
  width: 100%;
  background-color: var(--title-text-color);
}

.footer-rights-text {
  padding: 21px 0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  color: var(--secondary-text-color);
}
