.price-section {
  display: block;
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;

  background-position: center;
  background-size: cover;
  background-image: url(../images/price-image/bg-price-img.png);
  background-color: #111319;
}

.price-text {
  display: flex;
  align-items: center;
  position: relative;

  margin-bottom: 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: '';
    margin-right: 20px;
    top: 50%;
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.6);
  }
}

.price-title {
  margin-bottom: 44px;

  color: var(--dark-title-color);
}

.price-list {
  padding: 30px;
  margin-bottom: 50px;

  & .price-list-item {
    margin-bottom: 20px;
  }
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list-right {
  & .price-list-item:last-child {
    margin-bottom: 0;
  }
}

.price-list-item {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.143;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price-list-item-service {
  position: relative;
  display: flex;
  flex-grow: 1;

  &::after {
    content: '';
    position: relative;
    bottom: -22px;
    height: 1px;
    flex-grow: 1;
    margin-right: 6px;
    margin-left: 6px;

    background: rgba(157, 164, 189, 0.12);
  }
}

.price-section .modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
  margin-top: 44px;
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ff6c00;
  cursor: pointer;
  outline: none;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  transition: background-color 250ms linear;
}

@media screen and (min-width: 768px) {
  .price-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .price-list {
    padding: 30px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .price-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .price-list {
    // position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .price-list-left {
    padding: 30px 40px;
    width: 50%;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  .price-list-right {
    padding: 30px 40px;
    width: 50%;
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
