.price-section {
  background-color: var(--dark-bg-color);
}

.price-container {
  @media screen and (max-width: 767px) {
    padding: 30px 30px;
  }

  @media screen and (max-width: 1999px) {
    padding: 30px 40px;
  }
}

.price-list {
  @media screen and (min-width: 1200px) {
    padding: 30px 40px;
  }
}

.price-item {
  color: #9da4bd;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.price-section .btn.dark-theme-btn {
  text-align: center;
}
