.products {
  padding-top: 122px;
  padding-bottom: 98px;

  @media screen and(min-width:768px) {
    padding-bottom: 115px;
  }
  // @media screen and(min-width:1280px) {
  //   padding-bottom: 115px;
  // }
}

.products-ice-cream-title {
  margin-bottom: 140px;
  text-align: center;
  @media screen and(min-width:768px) {
    margin-bottom: 150px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 258px;
  }
}

.products-benefit {
  margin-bottom: 16px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;
  text-transform: uppercase;
  color: var(--label-color);
  @media screen and(min-width:768px) {
    font-size: 26px;
    line-height: 1.154;
  }
  @media screen and(min-width:1280px) {
    font-size: 30px;
    line-height: 1.133;
  }
}

.products-title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--main-dark-color);
  @media screen and(min-width:768px) {
    font-size: 48px;
    line-height: 1.146;
  }
  @media screen and(min-width:1280px) {
    font-size: 58px;
    line-height: 1.138;
  }
}

.products-list {
  @media screen and(min-width:768px) {
    display: flex;
    margin: -10px;
  }
  @media screen and(min-width:1280px) {
    display: flex;
    margin: -12px;
  }
}

.products-item {
  width: 280px;
  padding-top: 160px;
  padding-bottom: 40px;
  border-radius: 24px;
  text-align: center;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);

  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }

  @media screen and(min-width:768px) {
    width: calc((100%-40px) / 3);
    margin: 10px;
    padding-top: 152px;
  }
  @media screen and(min-width:1280px) {
    width: calc((100%-48px) / 3);
    margin: 12px;
    padding-top: 162px;
    padding-bottom: 50px;
  }

  &:hover {
    box-shadow: 0px 8px 30px rgba(53, 38, 41, 0.1);
  }
}

.ice-cream {
  background-color: var(--bg-ice-cream);
  &::before {
    content: '';
    max-width: 250px;
    background-image: url('../images/product/mobile-icecream.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      & {
        max-width: 250px;
        background-image: url('../images/product/mobile-icecream@2x.png');
      }
    }

    @media screen and (min-width: 768px) {
      & {
        max-width: 220px;
        background-image: url('../images/product/tablet-icecream.png');
      }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      & {
        max-width: 220px;
        background-image: url('../images/product/tablet-icecream@2x.png');
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        max-width: 335px;
        background-image: url('../images/product/desktop-icecream.png');
      }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      & {
        max-width: 335px;
        background-image: url('../images/product/desktop-icecream@2x.png');
      }
    }
  }
}

.ice-coffee {
  background-color: var(--bg-ice-coffee-cafe);
  &::before {
    content: '';
    max-width: 250px;
    background-image: url('../images/product/mobile-ice-coffee.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      & {
        max-width: 250px;
        background-image: url('../images/product/mobile-ice-coffee@2x.png');
      }
    }

    @media screen and (min-width: 768px) {
      & {
        max-width: 220px;
        background-image: url('../images/product/tablet-ice-coffee.png');
      }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      & {
        max-width: 220px;
        background-image: url('../images/product/tablet-ice-coffee@2x.png');
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        max-width: 335px;
        background-image: url('../images/product/desktop-ice-coffee.png');
      }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      & {
        max-width: 335px;
        background-image: url('../images/product/desktop-ice-coffee@2x.png');
      }
    }
  }
}
.milkshakes {
  background-color: var(--bg-milkshakes-foodtruck);
  &::before {
    content: '';
    max-width: 250px;
    background-image: url('../images/product/mobile-milkshakes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      & {
        max-width: 250px;
        background-image: url('../images/product/mobile-milkshakes@2x.png');
      }
    }

    @media screen and (min-width: 768px) {
      & {
        max-width: 220px;
        background-image: url('../images/product/tablet-milkshakes.png');
      }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx) and (min-width: 768px) {
      & {
        max-width: 220px;
        background-image: url('../images/product/tablet-milkshakes@2x.png');
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        max-width: 335px;
        background-image: url('../images/product/desktop-milkshakes.png');
      }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      & {
        max-width: 335px;
        background-image: url('../images/product/desktop-milkshakes@2x.png');
      }
    }
  }
}
.products-img {
  position: relative;
  margin-bottom: 66px;

  @media screen and(min-width:1280px) {
    margin-bottom: 70px;
  }
}

.products-subtitle {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--text-color-dark-bg);

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0);
    width: 250px;
    height: 252px;
    margin-bottom: 22px;
    @media screen and(min-width:768px) {
      width: 220px;
      height: 233px;
      margin-bottom: 30px;
    }
    @media screen and(min-width:1280px) {
      margin-bottom: 38px;
      width: 335px;
      height: 335px;
    }
  }
}

.products-svg-ice-cream {
  position: relative;
  margin-bottom: 30px;
  @media screen and(min-width:768px) {
    margin-bottom: 40px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 62px;
  }
}

.products-ice-cream-text {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;

  padding: 0 40px;
  color: var(--text-color-dark-bg);
  @media screen and(min-width:768px) {
    padding: 0 12px;
    line-height: 176%;
  }
  @media screen and(min-width:1280px) {
    padding: 0 44px;
    font-size: 16px;
    line-height: 176%;
  }

  &::before {
    content: '';
    position: absolute;
    margin-bottom: 30px;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0);

    width: 26px;
    height: 6px;
    background-image: url(../images/product/dots-products.png);
  }
}

.products-ice-cream-icon {
  width: 16px;
  height: 14px;

  fill: var(--main-dark-color);

  transition: fill var(--transition-duration) var(--timing-function);
}

.products-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color-dark-bg);

  transition: background-color var(--transition-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--main-dark-color);
  }

  &:hover .products-ice-cream-icon,
  &:focus .products-ice-cream-icon {
    fill: var(--text-color-dark-bg);
  }
}

// dropdown-menu

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-description {
  position: absolute;
  opacity: 0;
  left: -300%;
  bottom: 100%;
  background-color: var(--bg-color-light);
  width: 280px;
  margin-bottom: 8px;

  font-family: var(--title-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  border: 2px solid var(--main-dark-color);
  text-transform: uppercase;
  border-radius: 4px;
  color: var(--main-dark-color);

  transform: scale(0);
  transition-property: opacity, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);

  @media screen and(min-width:768px) {
    left: -225%;
    width: 220px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 176%;
  }
  @media screen and(min-width:1280px) {
    left: -368%;
    width: 334px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 176%;
  }

  .dropdown-menu:hover &,
  .dropdown-menu:focus & {
    opacity: 1;
    transform: scale(1);
  }
}

.ice-coffee .dropdown-description {
  background-color: var(--bg-color-light);
  border: 2px solid #af854a;
  color: #af854a;
}

.milkshakes .dropdown-description {
  background-color: var(--bg-color-light);
  border: 2px solid #67883c;
  color: #67883c;
}
