.problems-heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $white;
    /*  padding-left: 183px;
    padding-top: 100px;
    padding-bottom: 282px;
    padding-right: 631px;*/
    vertical-align: baseline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    border: 0px;
    margin-top: 49.50px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #111518;
}

.problems-list-line {
    background: #FFFFFF;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    /*padding-left: 183px;
    padding-right: 183px;
    padding-top: 348px;*/

    /*flex-wrap: wrap;*/
    list-style: none;
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 150px;
    background-color: #f5f4fa;

    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.problems-list-line-stroca {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 171% */
    position: relative;

    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.08em;

    color: #111518;
}



.problem-list-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;

    color: #FF6B09;
}

.problems-list {
    margin-bottom: 70px;
}