.promises-section {
  padding-top: 54px;

  &-title {
    font-family: $main-font;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.308;
    letter-spacing: 0.03em;
    text-align: center;
    color: $light-theme-header-color;
    margin-bottom: 23px;
  }

  &-list-item {
    width: 245px;
    height: 75px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    color: $dark-text-color;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 23px;
    }
    &::before {
      content: '';
      display: inline-block;
      background-repeat: no-repeat;
      width: 15px;
      height: 20px;
      position: relative;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 25px;
      left: -21px;
      content: '';
      height: 68px;
      border-left: 1px dashed #b9b9b9;
    }
  }

  @media screen and (max-width: 727px) {
    background-image: linear-gradient(
      to bottom,
      #ffffff 20%,
      #f1f1f1 20%,
      #f1f1f1 80%
    );

    &-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 37px;
      padding-bottom: 24px;
    }
  }

  @media screen and (min-width: 728px) {
    padding-top: 50px;

    &-title {
      margin-bottom: 30px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      padding-right: 50px;
      padding-bottom: 30px;
      padding-left: 79px;
      background-color: #f1f1f1;
    }

    &-list-item {
      width: 520px;
      height: 38px;
      &:not(:last-child) {
        margin-bottom: 20px;

        &:not(:last-child)::after {
          position: absolute;
          top: 22px;
          left: -32px;
          content: '';
          height: 30px;
          border-left: 1px dashed #b9b9b9;
        }
      }
    }
  }

  @media screen and (min-width: 1354px) {
    padding-top: 130px;
    &-title {
      margin-bottom: 47px;
      font-size: 46px;
      line-height: 1.304;
    }

    &-wrapper {
      padding-top: 50px;
      padding-right: 112px;
      padding-bottom: 45px;
      padding-left: 112px;
      background-color: #f1f1f1;

    }

    &-list-item {
      width: 1038px;
      height: 60px;
      font-size: 20px;
      line-height: 1.4;

      &:not(:last-child) {
        margin-bottom: 20px;

        &:not(:last-child)::after {
          
          position: absolute;
          top: 35px;
          left: -39px;
          content: '';
          height: 40px;
          border-left: 1px dashed #b9b9b9;
        }
      }
    }
  }
}

.icon-fire::before {
  position: absolute;
  display: block;
  width: 15px;
  height: 20px;
  top: 1px;
  left: -29px;
  background-image: url('../images/header/logo-fire.svg');
  background-size: cover;

  @media screen and (min-width: 728px) {
    top: -3px;
    left: -40px;
  }

  @media screen and (min-width: 1354px) {
    width: 22px;
    height: 30px;
    top: 0;
    left: -50px;
  }
}

// &::before {
//   position: relative;
//   top: 10px;

//   content: '';
//   padding-right: 20px;
//   border-left: 1px dashed #b9b9b9;
//   height: 284px;
// }

// &::before {
//   position: relative;
//   top: 10px;
//   left: -8px;
//   content: '';
//   padding-right: 24px;
//   border-left: 1px dashed #b9b9b9;
//   height: 160px;
// }
