.program {
    background-color: $dark-background-color;
    height: 2050px;
    padding-top: 50px;
    background-image: url(../images/programm/mobile/main_pic.png);
    background-repeat: no-repeat;
    background-position-x:  100%;
    background-position-y: 80.3%;
    background-size: auto 137px;

}
.program-title {
    color: $light-background-color;
    margin-bottom: 43px;
}
.program-semester {
    padding-left: 100px;
    margin-bottom: 50px;

}
.semester-list {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: white;
        width: 1px;
        height: 92%;
        top: 1%;
        left: -26px;
    }
}
.semester-item-list {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}
.semester-title {
    position: relative;
    color: $light-background-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-color: $hover-color;
        border-radius: 50%;
        top: 30%;
        left: -17%;
    }

}

.term {
    color: $hover-color;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
}
.definition {
    margin-bottom: 15px;
    margin-left: 0px;
}
.semester {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
    opacity: 0.5;
}

.program-advantages-title {
    color: $light-background-color;
    text-align: start;
    width: 180px;
    line-height: 1.35;
    margin-bottom: 30px;
}
.advantages-modal {
    background-color: $light-background-color;
    height: 638px;
    padding-top: 53px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    counter-reset: section;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.advantages-modal-list {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.08em;
    list-style-type: none;
}
.advantages-list-item {
    position: relative;
    margin-bottom: 53px;

    &::before {
        counter-increment: section;
        content: "— 0" counter(section); 
        color: $hover-color;
        position: absolute;
        left: 0;
        top: -10px;
        transform: translate(0, -100%);

        font-weight: bold;
        font-size: 14px;
        line-height: 1.642;
        letter-spacing: 0.08em;
    }
}