.program {
  background-color: $bg-color;
  padding-top: 50px;
  padding-bottom: 50px;
  &-subtitle {
    color: $white;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: $white;
    margin-bottom: 50px;
  }
  &-list {
    text-align: center;
    position: relative;
  }
}
.program-accent {
  display: block;
  color: $accent;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;

  letter-spacing: 0.08em;
  margin-bottom: 5px;
}

.program-list::before {
  content: '';

  position: absolute;
  top: 8px;
  left: 20px;
  width: 1px;
  height: 92%;
  background-color: $white;
}
.program-feature {
  position: relative;
}
.program-feature::before {
  content: '';
  position: absolute;
  display: block;
  background-color: $accent;
  top: 7px;
  left: 15px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.program-feature:not(:last-child) {
  margin-bottom: 40px;
}
