.programm {
    font-family: Monserrat, sans-serif;
    letter-spacing: 0.03em;
    position: relative;
}

.programm-box {
    background-color: $dark-back;
    display: flex;
    justify-content: center;
    padding-bottom: 437px;
    position: relative;

    .programm-list {
        display: flex;
        flex-direction: column;
    }
}

.programm-list-item {
    position: relative;
}

.title-box {
    background-color: $dark-back;
    color: $white;
    font-weight: 800;
    font-size: 20px;

    width: 100%;
    padding: 50px 0 43px 0; 
    text-align: center;
}

.programm-list-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .programm-list-item-title {
        color: $white;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.08em;

        margin-bottom: 15px;

        
    }
}

.programm-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.programm-sublist-item:not(:last-child) {
    margin-bottom: 15px;
}

.programm-sublist-item li {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: $text-color;
}

.sublist-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 165%;

    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: $accent-color;
}

.sublist-title::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: $accent-color;
    margin-right: 4px;
}

.programm-box::before {
    content: "";
    display: block;
    width: 2px;
    height: 1275px;
    background-color: $white;
    margin-right: 26px;
}

.programm-list-item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent-color;
    position: absolute;
    left: -33px;
}

.programm-image {
    position: absolute;
    top: 73%;
    right: 0;
    width: 127px;
    height: 137px;
    z-index: 1;
}

.strange-title-box {
    background-color: $dark-back;
    color: $white;
    font-weight: 800;
    font-size: 20px;

    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-bottom: 30px;
}

.strange-list-container {
    padding: 0 20px;
    position: absolute;
    bottom: -13%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 280px;
}

.strange-list {
    background-color: $white;
    padding: 20px 32px;
    box-shadow: -5px 8px 26px 0px rgba(0, 0, 0, 0.04);

    .strange-list-item {
        margin-bottom: 20px;
        padding: 0;
    }
}

.strange-list li {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.08em;
}

.strange-list-mark {
    font-size: 14px;
    font-weight: bold;
    line-height: 165%;
    letter-spacing: 0.08em;

    margin-bottom: 10px;
    color: $accent-color;
    display: inline-flex;
    align-items: center;
}

.strange-list-mark::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: $accent-color;
    margin-right: 4px;
}

@media screen and (min-width: 768px) {

    .programm-sublist-item-container {
        display: flex;

        .programm-sublist-item {
            width: 176px;
        }

        .programm-sublist-item:not(:last-child) {
            margin-right: 50px;
        }
    }

    .programm-box::before {
        height: 780px;
    }

    .programm-image {
        width: 384px;
        height: 280px;
        position: absolute;
        top: 55%;
        right: 0;
        z-index: 1;
    }

    .strange-list-container {
        padding: 0 20px;
        position: absolute;
        bottom: -19%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 280px;
    }

}

@media screen and (min-width: 1314px) {



}
