/*-------------OUR PROGRAMM SECTION -------------*/
.sections-wrapper {
  position: relative;
}

.programm {
  background-color: var(--black-color);
  background-image: url(../images/our_program/women_our_program-mobile.png);
  background-repeat: no-repeat;
  background-size: 176px 137px;
  background-position: left calc(50% + 127px) top 1473px;
  color: var(--white-color);
  margin-bottom: 270px;
  padding-top: 50px;
  padding-bottom: 537px;
}

.programm__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 43px;
}

.programm__semester-list {
  position: relative;
  border-left: 1px solid var(--white-color);
  padding-left: 20px;
  margin-left: 67px;

  &:before {
    position: absolute;
    top: -1px;
    left: -6px;
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--black-color);
  }

  &:after {
    position: absolute;
    bottom: -1px;
    left: -6px;
    content: '';
    display: block;
    width: 12px;
    height: 96px;
    background-color: var(--black-color);
  }
}

.programm__semester-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.programm__semester-list-title {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  margin-bottom: 5px;

  &::before {
    position: absolute;
    top: 50%;
    left: -26px;
    transform: translateY(-50%);
    content: '';
    background-color: var(--orange-color);
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

.programm__study-section-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 2.67;
  // 1.67 в макете, но тогда не получается высота элемента 32px
  letter-spacing: 0.08em;

  color: var(--orange-color);

  margin-bottom: 5px;

  &::before {
    content: '—';
    color: var(--orange-color);
    margin-right: 6px;
  }
}

.programm__study-section-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.programm__study-subject-list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;

  color: var(--grey-color);

  opacity: 0.5;
}

//по макету  3 семестре в впервых 2-х programm__study-section-title, а также в 5 семестре margin 10px
// во всех остальных списках margin 5px

.programm__semester-list-item:nth-child(3)
  .programm__study-section-list-item:first-child
  .programm__study-section-title,
.programm__semester-list-item:nth-child(3)
  .programm__study-section-list-item:nth-child(2)
  .programm__study-section-title,
.programm__semester-list-item:nth-child(5)
  .programm__study-section-list-item:first-child
  .programm__study-section-title {
  margin-bottom: 10px;
}

/*-------------MEDIA-RULES FOR MOBILE  -------------*/

// @media screen and (min-width: 320px) {
//   .sections-wrapper {
//     // max-width: 320px;
//   }
// }

/*-------------MEDIA-RULES FOR TABLET -------------*/

@media screen and (min-width: 768px) {
  .programm {
    margin-bottom: 302px;
    background-position: calc(50% + 192px) 822px;
    background-image: url(../images/our_program/women_our_program-tablet.png);
    background-size: 384px 280px;
    padding-top: 60px;
    padding-bottom: 392px;
  }

  .programm__title {
    text-align: left;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 52px;
  }

  .programm__semester-list {
    margin-left: 63px;
    padding-left: 56px;
  }

  .programm__semester-list-title {
    &:before {
      left: -62px;
    }
  }

  .programm__semester-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .programm__study-section-list {
    display: flex;
  }

  .programm__study-section-list-item {
    display: block;
    margin-right: 50px;

    &:first-child {
      width: 182px;
    }

    &:nth-child(2) {
      width: 155px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .sections-wrapper {
      background-image: url(../images/our_program/women_our_program-tablet@2x.png);
    }
  }
}

/*-------------MEDIA-RULES FOR DESKTOP -------------*/

@media screen and (min-width: 1344px) {
  .programm {
    position: relative;
    margin-bottom: 329px;
    background-image: url(../images/our_program/women_our_program.png);
    background-size: 672px 502px;
    background-position: calc(50% - 498px) 676px;
    margin-bottom: 329px;
    padding-top: 120px;
    padding-bottom: 363px;
  }

  .programm__title {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 100px;
  }

  .programm__semester-list {
    position: static;
    display: flex;
    justify-content: space-between;

    border-left: none;
    padding-left: 0;
    margin-left: 0;
    padding-top: 60px;

    &:before {
      top: 278px;
      left: 0;
      content: '';
      display: block;
      width: 100vw;
      height: 1px;
      background-color: var(--white-color);
    }

    &:after {
      display: none;
    }
  }

  .programm__semester-list-title-number {
    font-size: 30px;
    line-height: 0.93;
  }

  .programm__semester-list-title {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;

    margin-bottom: 25px;

    &::before {
      top: -60px;
      left: 0;
    }
  }

  .programm__semester-list-item {
    width: calc((100% - 4 * 27px) / 5);
  }

  .programm__semester-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .programm__study-section-list {
    display: block;
  }

  .programm__study-section-title {
    font-size: 20px;
    line-height: 1.64;
    margin-bottom: 10px;

    &::before {
      margin-right: 10px;
    }
  }

  .programm__study-section-list-item {
    margin-right: 0;

    &:first-child {
      width: 100%;
    }

    &:nth-child(2) {
      width: 100%;
    }
  }

  .programm__study-section-list-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .programm__study-subject-list-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .sections-wrapper {
      background-image: url(../images/our_program/women_our_program@2x.png);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .sections-wrapper {
    background-image: url(../images/our_program/women_our_program@2x.png);
  }
}
