.programm {
    font-family: Monserrat sans-serif;

}

.programm-box {
    background-color: $dark-back;
    display: flex;
    justify-content: center;

    .programm-list {
        display: flex;
        align-items: start;
        flex-direction: column;
    }
}

.title-box {
    background-color: $dark-back;
    color: $white;
    

    width: 100%;
    padding: 50px 0 43px 0; 
    text-align: center;
}

.programm-list-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .programm-list-item-title {
        color: $white;
        margin-bottom: 15px;
    }
}

.programm-list-item:not(:last-child) {
    margin-bottom: 40px;
}