.process {
  background-color: $secondary-bg-color;
  position: relative;
  padding-top: 125px;
  padding-bottom: 145px;
}

.bg-img {
  position: absolute;
  top: 770px;
  height: 133px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/process/mobile/side_milk1x.png');

  @media screen and (min-width: 320px) {
    background-image: url('../images/process/mobile/side_milk1x.png');

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx) and (min-width: 320px) {
      background-image: url('../images/process/mobile/side_milk@2x.png');
    }
  }
}

.process .section-title {
  margin-bottom: 26px;
  span {
    margin-top: 15px;
    display: inline-block;
    width: 200px;
  }
}

.process-picture {
  width: 280px;
  height: 279px;
  display: inline-block;
}

.process-history {
  @include font(12px, 1.583);
  color: $secondary-text-color;
  text-align: left;
  margin-bottom: 37px;
  margin-top: 46px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.process-text {
  @include font(12px, 1.583);
  color: $description-text-color;
  text-align: left;
  margin-bottom: 20px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.process-text + .process-text {
  margin-bottom: 25px;
}

.btn-container {
  text-align: center;
}

.button-process {
  color: $secondary-title-color;
  @include font(14px, 1.285, 700);
  display: inline-flex;
  background-color: $primary-text-color;
}

.process-btn-svg {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  fill: $secondary-title-color;
}

.process-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.process-list-img {
  margin-bottom: 16px;
}

.numbers-section {
  text-align: left;
  margin-bottom: 34px;
  margin-top: 16px;
}

.process-list-text {
  @include font(12px, 1.666, 700);
  color: $secondary-text-color;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container-description {
    padding: 46px 40px 39px;
  }
  .process-history {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .process-list-item:not(:last-child) {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bg-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .process {
    padding-top: 130px;
    padding-bottom: 246px;
  }

  .container {
    padding: 0 35px;
  }

  .process .section-title {
    margin-bottom: 50px;
    span {
      display: block;
      width: 100%;
    }
  }

  .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 39px;
  }

  .process-picture {
    width: 340px;
    height: 339px;
    margin-bottom: 127px;
  }

  .process-picture img {
    max-width: 340px;
  }

  .container-description {
    padding-top: 50px;
    margin-left: 17px;
  }

  .process-history {
    @include font(14px, 1.785);
    width: 340px;
    margin-bottom: 38px;
    margin-top: 0;
  }

  .process-text {
    @include font(14px, 1.785);
    width: 340px;
  }

  .process-text + .process-text {
    margin-bottom: 62px;
  }

  .btn-container {
    display: flex;
    justify-content: start;
  }

  .process-list {
    flex-direction: row;
    margin: -15px;
    justify-content: center;
  }

  .process-list-item {
    width: 180px;
    margin: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .process {
    padding-top: 125px;
    padding-bottom: 310px;
  }

  .bg-img {
    position: absolute;
    top: 342px;
    height: 534px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) {
      background-image: url('../images/process/desktop/side_milk1x.png');

      @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: url('../images/process/desktop/side_milk@2x.png');
      }
    }
  }

  .container {
    padding: 0 115px;
  }

  .process .section-title {
    margin-bottom: 55px;
  }

  .process-picture {
    width: 516px;
    height: 516px;
  }

  .process-picture img {
    max-width: 516px;
  }

  .container-description {
    position: relative;
    // z-index: 1;
    margin-left: 74px;
  }

  .process-history {
    @include font(16px, 1.75);
    width: 463px;
    margin-bottom: 39px;
  }

  .process-text {
    @include font(14px, 1.928);
    width: 463px;
  }

  .process-text + .process-text {
    margin-bottom: 45px;
  }

  .process-list {
    flex-direction: row;
    margin: -15px;
    justify-content: center;
  }

  .process-list-item {
    width: 330px;
    margin: 30px;
  }

  .process-list-text {
    margin-left: 0;
  }
}
