.problems-heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $white;
    /*  padding-left: 183px;
    padding-top: 100px;
    padding-bottom: 282px;
    padding-right: 631px;*/
    vertical-align: baseline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    border: 0px;
    margin-top: 49.50px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #111518;
}


.problems-list-line {
    counter-reset: num;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    color: $accent-color;



}

.problems-list-line .problem-list-item {
    counter-increment: num;
    position: relative;
    margin: 5px 0 5px 40px;
    padding: 0 0 0 0;
    font-size: 16px;
    line-height: 20px;

}

.problems-list-line .problem-list-item:before {

    color: $accent-color;

    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
}

.problems-list-line .problem-list-item:nth-last-child(-n+6) :before {
    content: "0"counter(num);
    display: flex;

}

.problem-list-item {
    list-style: none;
}

.problems-list-line-stroca {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;


}


/* .problems-list-line {

    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.problems-block {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.problems-block .problems-orang {
    position: relative;
}

.pproblems-block .problems-orang:before {
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: $accent-color;


}



.problems-list-line-stroca {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 171% */
/*position: relative;

line-height: 1.43;
text-align: left;
letter-spacing: 0.08em;

color: #111518;
*/
/*
.problem-list-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;

    color: #FF6B09;
}

.problems-list {
    margin-bottom: 70px;
}*/