.products__section {
  background-color: var(--text-main-color);
}

.products__subtitle {
  display: block;

  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;

  color: var(--text-alt-accent-color);
}

.products__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 144px;
}

.poducts__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.products__item {
  padding: 161px 40px 40px 41px;

  border-radius: 24px;

  width: 280px;

  &:not(:last-child) {
    margin-bottom: 130px;
  }

  &.cream {
    background-color: var(--font-primary-color);
  }

  &.coffee {
    background-color: var(--font-item-primary-color);
  }

  &.shakes {
    background: var(--font-item-secondary-color);
  }
}

.products__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  //   margin-top: 22px;
  margin-bottom: 66px;
  &::before {
    content: '';
    display: block;
    background-image: url(../images/mobile/m-prod-icecream.png);
    width: 250px;
    height: 250px;

    // margin-bottom: 22px;
    position: absolute;
    transform: translatey(-100%);
  }
}

.products__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  margin-bottom: 30px;
}

.products__section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-main-color);
  margin: 0 auto;

  height: 40px;
  width: 40px;
  border-radius: 50%;

  fill: var(--font-button-primary-color);
}

.products__list-img {
  height: 15px;
  width: 15px;
}
