.problems-heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $white;
    padding-left: 183px;
    padding-top: 100px;
    padding-bottom: 282px;
    padding-right: 631px;
}

.problems-list-line {
    background: #FFFFFF;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    /*padding-left: 183px;
    padding-right: 183px;
    padding-top: 348px;*/

    flex-wrap: wrap;
    list-style: none;
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}


.problems-list-line-stroca {}

display: flex;
align-items: center;
letter-spacing: 0.08em;

color: #111518;

.problems-dark {
    background-color: #111518;

}

.problems-fire {}