.registration-container {
  padding: 50px 20px;
  text-align: center;
  //   width: 320px;
  @media screen and (max-width: 767px) {
    .registration-container {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 768px) {
    .registration-container {
      width: 768px;
    }
  }

  @media screen and (min-width: 1314px) {
    .registration-container {
      width: 1314px;
    }
  }
}
.registration-form {
  display: block;
}
