.registration{
    width: 100%;
    
    background-color: $background-program;
    
    // background: url("../images/registration/bg-form.jpg");
    // background: rgba(17, 21, 24, 0.8);
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    //    opacity: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
   
    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 71px;
      }
      @media screen and (min-width: 1316px) {
        padding-top: 100px;
        padding-bottom: 62px;
      }
      & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background: rgba(17, 21, 24, 0.8);
         }
      &-title{
          width: 280px;
          margin-bottom: 30px;
          @include font(800, 14px, 19px, 0.03em);
          text-align: center;
          color: $white-color;

          @media screen and (min-width: 768px){
            width: 688px;
            @include font(800, 26px, 34px, 0.03em);
            
          }
          @media screen and (min-width: 1316px){
            margin-bottom: 50px;
            width: 1090px;
            @include font(800, 46px, 60px, 0.03em);
          }
     
         
      }
      &-text{
        width: 280px;
        @include font(600, 12px, 15px, 0.08em);
        text-align: center;
        margin-bottom: 30px;
        color:$white-color;
        @media screen and (min-width: 768px){
            width: 452px;
            @include font(600, 14px, 17px, 0.08em);
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1316px){
            width: 1090px;
            @include font(600, 30px, 37px, 0.08em);
            margin-bottom: 56px;
        }

      }
      &-span-accent{
        color: $accent-color;
    }
    &-form{
        display: flex;
        flex-direction: column;
        
             
        }
    &-form-input{
        width: 280px;
        height: 48px;
        background-color: transparent;
        border: 1px solid $white-color;
        padding-left: 40px;
        @include font(600, 20px, 24px, 0.08em);
        color:$white-color;

        &:first-child{
            margin-bottom: 20px;
        }

       


        @media screen and (min-width: 768px){
            width: 390px;
            padding-left: 28px;
            @include font(600, 14px, 17px, 0.08em);
             }
        @media screen and (min-width: 1316px){
            width: 478px;
            height: 70px;
            &:first-child{
                margin-bottom: 30px;
            }

        }
        &:invalid:not(:focus):placeholder-shown{
          color: $secondary-text-color;
          border-color: $secondary-text-color;
        }
    
        &:invalid {
          color: #ff0000;    
          border: 1px solid #ff0000;
        }
        &:hover,
        &:focus {
          outline: none;
        }
        &:valid{
            color: $accent-color;
        }

    }
&-button{
    width: 260px;
    height: 48px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: $accent-color;
    font-family: $main-font;
    font-style: normal;
    // text-align: center;
    @include font(700, 12px, 15px, 0.08em);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $white-color;
    border: none;
    cursor: pointer;
    // transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);



@media screen and (min-width: 768px){
    margin-top:31px;
    
    
    
}
@media screen and (min-width: 1316px){
    width: 354px;
    height: 70px;
    @include font(700, 14px, 17px, 0.14em);
    margin-top: 80px;
    padding: 25px;
    
}

}
}

