.registration {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #111518;
  @media screen and (max-width: 767px) {
    background-image: url(../images/registration/bg-mobile.png);
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/registration/bg-mobile@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/registration/bg-tablet.png);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/registration/bg-tablet@2x.png);
  }
  @media screen and (min-width: 1314px) {
    max-width: 1680px;
    margin: 0px auto;
    background-image: url(../images/registration/bg-deckstop.png);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1314px),
    screen and (min-resolution: 192dpi) and (min-width: 1314px),
    screen and (min-resolution: 2dppx) and (min-width: 1314px) {
    background-image: url(../images/registration/bg-deckstop@2x.png);
  }
}

.registration-container {
  padding: 50px 15px;
  text-align: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;

  @media screen and (min-width: 320px) {
    .registration-container {
      width: 320px;
    }
  }
  @media screen and (min-width: 768px) {
    .registration-container {
      width: 768px;
    }
  }
  @media screen and (min-width: 1344px) {
    .registration-container {
      width: 1344px;
    }
  }
}
.registration-form {
  display: block;
}
.registration {
  &__form-text {
    color: $accent-color;
  }
  &__form-title {
    width: 100%;
    margin: 0px auto;

    margin-bottom: 30px;

    font-weight: 800;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.03em;

    color: $dark-theme-text-color;
    @media screen and (min-width: 320px) {
      width: 280px;
      height: 73px;
    }
    @media screen and (min-width: 768px) {
      width: 688px;
      height: 100px;
      font-size: 26px;
      line-height: 1.308;
    }
    @media screen and (min-width: 1314px) {
      width: 1090px;
      height: 178px;
      font-size: 40px;
      line-height: 1.5;
    }
  }
  &__form-description {
    display: block;
    width: 100%;

    margin: 0px auto;
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;

    color: $dark-theme-text-color;
    @media screen and (min-width: 320px) {
      width: 280px;
    }
    @media screen and (min-width: 768px) {
      width: 452px;

      font-size: 14px;
      line-height: 1.214;
    }
    @media screen and (min-width: 1344px) {
      width: 1090px;

      font-size: 30px;
      line-height: 1.233;
    }
  }
  &__form-input {
    display: flex;
    align-items: center;
    width: 100%;

    margin: 0px auto;

    padding: 15px 28px;
    padding-bottom: 16px;
    outline: 1px solid $dark-theme-text-color;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.08em;

    color: $dark-theme-text-color;
    @media screen and (min-width: 1344px) {
      font-size: 20px;
      line-height: 1.2;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    border: 1px solid $dark-theme-text-color;
    background-color: transparent;
    @media screen and (min-width: 320px) {
      width: 280px;
    }
    @media screen and (min-width: 768px) {
      width: 390px;
    }
    @media screen and (min-width: 1344px) {
      width: 478px;
    }

    &::placeholder {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.214;
      letter-spacing: 0.08em;

      color: $dark-theme-text-color;
      @media screen and (min-width: 1344px) {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }
  &__form-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px 1px;
    margin: 0px auto;
    margin-top: 50px;

    @media screen and (min-width: 320px) {
      width: 260px;
      margin-top: 31px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 31px;
    }
    @media screen and (min-width: 1344px) {
      margin-top: 80px;
    }
    border: none;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $dark-theme-text-color;
    background-color: $accent-color;

    @media screen and (min-width: 1344px) {
      width: 354px;
      font-size: 14px;
      padding: 0px 25px;
      padding-top: 27px;
      padding-bottom: 26px;

      line-height: 1.214;
      letter-spacing: 0.14em;
    }
  }
}
