from {
  transform: scale(0.5);
}
to {
  transform: scale(1);
}
.reviews .container {
  position: relative;
  @media screen and(max-width:767px) {
    padding-top: 154px;
    padding-bottom: 170px;
  }
  @media screen and(min-width:768px) {
    padding-top: 279px;
    padding-bottom: 197px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 382px;
    padding-bottom: 217px;
  }
}
.reviews-collage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  @media screen and(max-width:767px) {
    top: -48px;
  }
  @media screen and (min-width: 768px) {
    top: -106px;
  }
  @media screen and(min-width:1200px) {
    top: -162px;
  }
}
.visualhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.reviews-slider-image {
  margin-right: auto;
  margin-left: auto;
  @media screen and(max-width:767px) {
    margin-bottom: 29px;
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    margin-bottom: 19px;
  }
  @media screen and(min-width:1200px) {
    margin-bottom: 15px;
  }
}


