.container {
  padding: 0px 15px;
  margin: 0 auto;
}

.review {
  width: 1258px;
  height: 571px;
  margin: 0 auto;
}

.reviews__alumni {
  font-family: $main-font;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;

  margin-top: 130px;
  margin-bottom: 50px;

  text-align: center;
  letter-spacing: 0.03em;

  color: $title-color;
}

.reviw__container {
  width: 1090px;
  height: 370px;
  display: flex;
  margin: 0 auto;

  margin-bottom: 40px;

  background: $dark-theme-text-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.review__image {
  margin-top: 50px;
  margin-left: 82px;
  margin-bottom: 170px;
}

.review__all {
  padding-left: 40px;
  padding-right: 112px;
  margin-top: 50px;
}
.review__main {
  font-family: $main-font;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  margin-top: 0px;
  margin-bottom: 10px;

  letter-spacing: 0.08em;

  color: $accent-color;
}

.review__description {
  font-family: $main-font;
  font-style: normal;
  width: 438px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 20px;

  color: #b9b9b9;
}
.review__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  padding-bottom: 51px;

  color: $secondary-text-color;
}

.review__img-list {
  display: flex;

  width: 558px;
  height: 54px;
  margin-top: 40px;
  padding-left: 0px;
}

.review__img-item:not(:last-child) {
  margin-right: 25px;
}
