.reviews {
    .container {
        width: 320px;
        min-width: 320px;
    }
}
.review-card-photo-wrapper {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

// @media screen and (min-width: 768px) {
//     width: 85px;
//     height: 85px;  
// }

.review-card {
    width: 100%;
   
  }
.review-list {
    display: block;
}
.review-card-feedback-wrapper {
    // position: relative;
    background-image: 1px solid #E1E1E1;;
    background-repeat: repeat;

}
.review-card-feedback {
// width: 100%;
position: relative;
padding-left: 50px;
padding-right: 50px;
font-weight: 500;
font-size: 12px;
line-height: 2.55;
text-align: center;
color: $first-text-color;
background-color: #FAFAFA;
margin-bottom: 30px;
&::before {
    content: " ";
    display: block;
    background-image: url(../images/sprite.svg#icon-quotes);
width: 54px;
height: 40px;
// fill: brown;
}
// &::after {
//     content: " ";
//     position: absolute;
//     display: block;
//     top: 0;
//     left: 0;
//     content: "";
//     width: 100%;
//     height: 4px;
//    background: tomato;
//     border-radius: 2px;
//    }
}
.decor {
    display: block;
    fill: chocolate;
    width: 54px;
    height: 40px;
}

.three-dots {
    @extend %three-dots;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 18px;
}
.review-card-author {
position: relative;
font-weight: 500;
  font-size: 14px;
line-height: 1.86;
text-align: center;
color: $first-text-color;
margin-bottom: 30px;
// &::before {
//     @extend %three-dots;
//     top: 0;
//     left: 50%;
//    }
}