.reviews-section {
  position: relative;
  padding-bottom: 170px;

  .collage-background {
    z-index: 1;
    background-color: #fff5f6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    @media screen and (min-width: 767px) {
      min-height: 95px;
    }

    @media screen and (min-width: 1280px) {
      min-height: 140px;
    }
  }
  .image.collage {
    position: relative;
    z-index: 101;
    margin-bottom: 80px;
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
  }

  .review-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 767px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    .image.client {
      width: 85px;
      height: 85px;
      margin-bottom: 29px;
    }

    .client-text {
      padding-left: 57px;
      padding-right: 66px;
      padding-top: 43px;
      padding-bottom: 26px;

      background-color: #fafafa;

      background-image: url('~./images/review-lines.svg'),
        url('~./images/review-quotes.svg');

      background-repeat: no-repeat, no-repeat;
      background-size: unset, unset;
      background-position: left 45px bottom 20px, left 60px top 25px;
      text-align: center;

      @include fonts(500, 12px, 2.583, 0.03em);

      margin-bottom: 30px;

      @media screen and (min-width: 767px) {
        @include fonts(500, 14px, 2.14, 0.03em);
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 47px;
        padding-bottom: 34px;
        background-image: url('~./images/review-lines-tablet.svg'),
          url('~./images/review-quotes.svg');

        background-repeat: no-repeat, no-repeat;
        background-size: unset, unset;
        background-position: left 45px bottom 15px, left 45px top 25px;
      }

      @media screen and (min-width: 1280px) {
        @include fonts(500, 16px, 1.86, 0.03em);
        padding-left: 88px;
        padding-right: 88px;
        background-image: url('~./images/review-lines-desktop.svg'),
          url('~./images/review-quotes.svg');
        background-repeat: no-repeat, no-repeat;
        background-size: unset, unset;
        background-position: left 70px bottom 10px, left 60px top 33px;
      }
    }

    .separator {
      display: flex;
      justify-content: center;
      margin-bottom: 18px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .client-name {
      @include fonts(500, 14px, 1.857, 0.03em);
      @media screen and (min-width: 767px) {
        @include fonts(500, 16px, 1.875, 0.03em);
      }
    }

    margin-bottom: 30px;
  }

  .navigator {
    display: flex;
    align-items: center;
  }

  .nav-item {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  .review-slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
