.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 24px;
}
.teacher-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--title-text-color);
}

.teacher-list-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.teacher-list-container-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--secondary-text-color);
}
.teacher-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-bottom: 60px;
}
.guarantee-list-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  color: var(--primaty-text-color);
  margin-bottom: 28px;
}
.color-span {
  color: var(--accent-color);
}
.teacher-list-container {
  margin-top: 24px;
  margin-bottom: 20px;
}
