.section-teacher {
  background-color: $title-white;
  padding-top: 270px;
  padding-bottom: 50px;
}
.section-teacher-title,
.teacher-name {
  font-style: 800;
  color: $title-black;
  text-align: left;
  margin: 0;

  @include for-size(phone) {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
}

.section-teacher-title {
  margin-bottom: 20px;
}
.teacher-name {
  line-height: 1.2;
  letter-spacing: 0.08em;

  margin-bottom: 10px;
  margin-top: 20px;
}
.teacher-achievements-list {
  margin: 0 0 17px;
  padding: 20px 0 0;
  border-top: 1px solid $text-light;
}
.teacher-achievements-item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 34px;

  ::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 14px;

    background-image: url('../images/svg/section-teacher-vector-phone.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}
.teacher-achievements-content {
  color: $title-black;
  font-style: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  margin: 0;
}

.teacher-education-part {
  font-style: 500;
  font-size: 12px;
  line-height: 1.37;
  margin: 0;
  margin-bottom: 15px;
}

.accent-border::before {
  content: ' ';
  margin-bottom: 15px;
  display: block;
  width: 25px;
  height: 2px;
  background-color: $accent;
}

.teacher-education-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.04em;
  color: $accent;
}
