.secrets {

  .title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
  }

  .list-item {
    display: block;
    width: 280px;
    height: 100%;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    text-align: center;

    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $white;
    }

    &:hover .secrets-icon,
    &:focus .secrets-icon {
      fill: $white;
    }

    &:hover .subtitle-description::before,
    &:focus .subtitle-description::before {
      background-color: $white;
    }


    .subtitle {
      margin-bottom: 42px;
    }
  }

  .secrets-icon {
    margin-bottom: 20px;
    fill: $accent-color;
  }





  .subtitle-description {
    position: relative;
  }

  .subtitle-description::before {
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background-color: $accent-color;
  }
}