.section-our-program {
  position: relative;
  background-color: #111518;
  padding-top: 120px;
  height: 1237px;

  ul {
    list-style: none;
  }

  .program-list {
    display: flex;
    border-top: 1px solid #ffffff;
    justify-content: center;
  }
  h2 {
    color: white;
    margin-bottom: 100px;
    margin-left: 184px;
  }
  h3 {
    color: #ff6b09;
  }
  p {
    color: #b9b9b9;
  }
  ul {
    padding-left: 0px;
  }

  .period {
    font-weight: bold;
    font-size: 30px;
    line-height: 0.93;
    letter-spacing: 0.08em;
    color: white;
  }
  .program-img {
    position: absolute;
    bottom: 0;
    transform: translateX(-88px) translateY(-59px);
    max-width: 760px;
  }
  .ball {
    position: absolute;
    width: 17px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: translateY(-50%);
  }
  .period-item {
    position: relative;
    text-align: left;
    min-width: 240px;
    margin-right: 30px;
  }
}
