.section-we-guarantees {
  background-color: $title-white;
}
.we-guarantees-dark {
  background-color: #f1f1f1;
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 20px;

  margin: 0 auto;

  @include for-size(tablet) {
    padding-top: 30px;
    padding-bottom: 30px;

    max-width: 688px;
  }

  @include for-size(desktop) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 164px;
    padding-right: 112px;

    max-width: 1314px;
  }
}

.we-guarantees-title {
  color: $logo-color;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;

  @include for-size(tablet) {
    letter-spacing: 0.03em;
  }
  @include for-size(desktop) {
    font-size: 46px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.we-guarantees-list {
  position: relative;

  &::after {
    content: ' ';
    display: inline-block;
    border: 1px dashed $text-light;
    position: absolute;
    width: 1px;
    height: 80%;
    top: 15px;
    left: -2px;
    z-index: 1;
  }
}
.we-guarantees-item {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: $text-dark;

  &:not(:last-child) {
    margin-bottom: 23px;

    @include for-size(tablet) {
      margin-bottom: 20px;
    }
  }
  padding-left: 20px;

  @include for-size(tablet) {
    padding-left: 24px;
  }

  @include for-size(desktop) {
    font-size: 20px;
    line-height: 1.4;
    padding-left: 30px;
  }

  &::before {
    display: block;
    content: ' ';
    width: 14px;
    height: 20px;
    position: absolute;

    left: -6px;
    top: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/svg/we-garantee-fire.svg');
    z-index: 2;
  }
}
.we-guarantees-accent {
  color: $accent;
}
