.hero {
  display: flex;
  color: $text-color-secondary;
  background-color: $background-pink;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // background-position: 50% 50%;
  margin: 0 auto;
  height: 502px;
}

.hero__title {
  margin-bottom: 19px;
  text-align: left;
  color: $text-color-secondary;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero__title--accent {
  color: $text-color-primary;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.965;
  text-transform: uppercase;
}

.hero-button {
  display: flex;
}

.hero__navigation {
  display: flex;
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 14px;
  height: 24px;
  border-radius: 20px;
  color: $text-color-primary;
  background-color: $background-primary;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
}

.hero__navigation:hover,
.hero__navigation:focus {
  color: $text-color-secondary;
  background-color: $text-color-primary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-page {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}

.hero__main {
  width: 218px;
  padding-top: 193px;
  position: relative;
}

.hero__icecream {
  position: absolute;
  width: 171px;
  bottom: 0;
  left: 36.56vw;
  // left: 36px;
  z-index: -1;
}

.hero__icecream-picture {
  position: relative;
  display: block;
  z-index: 2;
  height: 100%;
}

.hero__icecream-picture::before {
  display: block;
  content: '';
  position: absolute;
  left: 81px;
  transform: translateX(-48%);
  z-index: -1;
  background-color: $text-color-pink;
  border-radius: 50%;
  width: 346px;
  height: 344px;
}

// @media screen and (min-width: 320px) and (max-width: 767px) {

// }
