/* ========== syllabus ========== */
.syllabus {
  &__container {
    padding-top: 50px;
    padding-bottom: 537px;
  }
}

.advantages {
  position: relative;

  &__container {
    position: absolute;
    left: 50%;
    bottom: 0;
  }
}
