.teacher {
  margin-bottom: 50px;
}
.teacher__title {
  @include font(800, 20px, 1.3, 0.03em, $text-dark);
  margin-bottom: 20px;
}
.teacher__img {
  width: 243px;
  height: 305px;
  margin-bottom: 20px;
}
.teacher__name {
  @include font(800, 20px, 1.2, 0.08em, $text-dark);
  margin-bottom: 30px;
}
.teacher__name::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: $text-grey;
}
.teacher__achievements {
  margin-bottom: 23px;
}
.teacher__content {
  width: 280px;
}
.teacher__achievements::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: $accent-color;
}
.teacher__item {
  display: flex;
  margin-bottom: 20px;
}
.teacher__icon {
  max-width: 17px;
  max-height: 14px;
  fill: $accent-color;
  margin-right: 9px;
}
.teacher__item-text {
  @include font(600, 14px, 1.21, 0.06em, $text-dark);
}
.teacher__text {
  @include font(500, 12px, 1.67, 00.06em, $text-grey);
  color: $text-grey;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.teacher__link {
  @include font(500, 12px, 1.67, 00.06em, $accent-color);
  color: $accent-color;
  padding-top: 10px;
  display: block;
}

@media screen and (min-width: $tablet) {
  .teacher__box {
    display: flex;
  }

  .teacher__title {
    @include font(800, 26px, 1.3, 0.03em, $text-dark);
    margin-bottom: 30px;
  }

  .teacher__content {
    display: block;
    margin-left: 40px;
    width: 400px;
  }

  .teacher__achievements {
    margin-bottom: 18px;
  }
}
@media screen and (min-width: $desktop) {
  .teacher__title {
    @include font(800, 46px, 1.3, 0.03em, $text-dark);
    margin-bottom: 50px;
  }
  .teacher__name {
    @include font(800, 30px, 1.23, 0.08em, $text-dark);
    margin-bottom: 30px;
  }
  .teacher__name::after {
    margin-top: 15px;
  }
  .teacher__img {
    width: 530px;
    height: 667px;
  }
  .teacher__achievements {
    max-width: 600px;
  }

  .teacher__item {
    margin-bottom: 25px;
  }

  .teacher__icon {
    max-width: 25px;
    max-height: 20px;
    margin-right: 35px;
  }
  .teacher__item-text {
    @include font(600, 16px, 1.21, 0.06em, $text-dark);
  }
  .teacher__achievements {
    margin-bottom: 20px;
  }
  .teacher__text {
    @include font(500, 18px, 1.55, 0.08em, $text-grey);
  }
  .teacher__link {
    @include font(500, 18px, 1.55, 0.06em, $accent-color);
    padding-top: 20px;
  }
  .teacher__content {
    margin-left: 30px;
    width: 640px;
  }
}
