// .container{
//     outline: 1px solid red;
// }

.teacher{
    padding-top: 39px;
    padding-bottom: 50px;
}

.teacher-title{
@include font(20px, 800, 26px);
letter-spacing: 0.03em;

margin-bottom: 20px;

color: $primary-text-color;
}

.teacher-title-prepod{
@include font(20px, 800, 24px);
margin-bottom: 30px;
margin-top: 20px;
height: 34px;

border-bottom: 1px solid #E5E5E5;

color: $primary-text-color;
}

.teacher-title-list{
    margin-bottom: 34px;
}

.teacher-title-list-item{
@include font(14px, 600, 17px);
letter-spacing: 0.06em;

&:not(:last-child){
    margin-bottom: 10px;
}

color: $primary-text-color;
}

.teacher-achievements{
@include font(12px, 500, 20px);


color: $secondary-text-color;

&:not(:last-child){
    margin-bottom: 10px;
}
}

.teacher-achievements-link{
@include font(12px, 500, 20px);

color: $accent-color;
}

@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .position{
        display: flex;
    }

    .teacher-title{
        @include font(26px, 800, 34px);
        margin-bottom: 30px;
    }

    .teacher-title-prepod{
        @include font(20px, 800, 34px); 
        margin-left: 40px;
        
    }
    
    .teacher-title-list-item{
        @include font(14px, 600, 17px);
        letter-spacing: 0.06em;
        margin-left: 67px;
        
    }

    .teacher-title-list-item:not(:last-child){
        margin-bottom: 15px;
    }

    .teacher-achievements{
        @include font(12px, 500, 20px);
        margin-left: 41px;
    }

    .teacher-achievements-link{
        @include font(12px, 500, 20px);
        margin-left: 41px;
    }

    .teacher-rigt-side{
        padding-top: 36px;
    }

  }

  @media screen and (min-width: 1200px) {
    .container {
      padding: 0 15px;
      max-width: 1200px;
    }

    .teacher-title-img{
        height: 530px;
        width: 607px;
    }

    .teacher-title{
        @include font(46px, 800, 60px);
        margin-bottom: 50px;
    }

    .teacher-title-prepod{
        @include font(30px, 800, 37px); 
        margin-left: 30px;  
    }

    .teacher-title-list-item{
        @include font(16px, 600, 20px);
        letter-spacing: 0.06em;
        margin-left: 90px;
        
    }
    .teacher-title-list-item:not(:last-child){
        margin-bottom: 15px;
    }

    .teacher-achievements{
        @include font(18px, 500, 28px);
        margin-left: 31px;
    }

    .teacher-achievements-link{
        @include font(18px, 500, 28px);
        margin-left: 31px;
    }

    .teacher-rigt-side{
        padding-top: 85px;
    }

  }
  
  
