.team-modal {
  width: 900px;
  height: 600px;
}

.team-card-list {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  margin-left: -30px;
  margin-top: -30px;
}

.team-card-list-item {
  text-align: center;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-card-list-img {
  border-radius: 50%;
}

.team-discription,
.team-contact {
  color: var(--main-white-color);
}

.team-contact {
  font-size: 12px;
}

.team-name {
  color: var(--background-accent);
}
