.testimonials {
  padding-top: 154px;
  padding-bottom: 170px;
  background-color: #fff;
  display: block;
  position: relative;
}
.testimonials-review-slides {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
}

.testimonials-picture {
  width: 100%;
  position: absolute;
  top: -50px;
  @media screen and (min-width: 768px) {
    top: -105px;
  }
  @media screen and (min-width: 1200px) {
    top: -171px;
  }
}
.testimonials-picture-item {
  margin: 0 auto;
}
.testimonials-review-photo {
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
}
.testimonials-review-box {
  padding-top: 43px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 21px;
  background-color: #fafafa;
}
.testimonials-review-text {
  position: relative;
  padding-left: 7px;
  padding-right: 16px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: $secondary-text-color;
  z-index: 1;

  &::before {
    position: absolute;
    top: -15px;
    left: 11px;

    content: '';
    z-index: -1;
    background-repeat: no-repeat;
    width: 54px;
    height: 45px;
    background-image: url(../images/icon-quotes.svg);
  }
}
.testimonials-review-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  margin-bottom: 22px;
  color: $secondary-text-color;
  font-family: $main-font-family;
}
.slide-review {
  line-height: 2.55;
  background-image: linear-gradient(#e1e1e1 1px, transparent 1px);
  background-size: 42px 30px;
  background-position-y: 58px;
}
.testimonials-red-dots {
  text-align: center;
  margin-bottom: 13px;
}
.red-dot:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding-top: 279px;
    padding-bottom: 197px;
  }
  .testimonials-review-text {
    padding-left: 20px;
    padding-right: 44px;
    font-size: 14px;
    line-height: 2.15;
    letter-spacing: 0.04em;
    &::before {
      top: -17px;
      left: -20px;
    }
  }
  .testimonials-review-title {
    font-size: 16px;
    margin-bottom: 27px;
  }
  .testimonials-review-slides {
    max-width: 620px;
  }
  .testimonials-review-box {
    padding-top: 47px;
    padding-bottom: 28px;
    padding-left: 60px;
    padding-right: 36px;
    margin-bottom: 13px;
  }
  .testimonials-review-box-svg {
    top: -17px;
    left: -41px;
  }
  .testimonials-review-photo {
    margin-bottom: 19px;
  }
  .testimonials-red-dots {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials {
    display: block;
    position: relative;
    padding-top: 382px;
    padding-bottom: 234px;
  }

  .testimonials-review-text {
    padding-left: 28px;
    padding-right: 35px;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    &::before {
      top: -17px;
      left: -7px;
    }
  }
  .testimonials-review-slides {
    max-width: 926px;
  }
  .testimonials-review-box {
    padding-top: 47px;
    padding-bottom: 32px;
    padding-left: 50px;
    padding-right: 54px;
    margin-bottom: 6px;
  }
  .testimonials-review-title {
    font-size: 18px;
    line-height: 1.86;
  }
  .testimonials-review-photo {
    margin-bottom: 15px;
  }
  .slide-review {
    background-position-y: 57px;
  }
  .testimonials-red-dots {
    margin-bottom: 6px;
  }
}
