li {
  list-style-type: none;
}

.we-solve-dark {
  width: 100%;
  height: 545px;
  background: var(--main-color);
  position: relative;
  margin-bottom: 198px;
}

.we-solve-title {
  padding-top: 50px;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  text-align: left;

  color: var(--white-color);
}

.we-solve-title-part {
  color: var(--orange-color);
}

.we-solve-description {
  position: absolute;
  width: 280px;
  padding: 20px 22px;
  background-color: var(--white-color);
  //margin-bottom: 90px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  width: 280px;
  height: 488px;
}

.we-solve-set-item:not(:last-child) {
  margin-bottom: 10px;
}

.we-solve-item.number {
  margin-left: 27px;
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--orange-color);
}

.we-solve-item.number::before {
  content: '';
  display: block;
  width: 17px;
  height: 3px;
  bottom: -10px;
  left: -25px;
  background-color: var(--orange-color);
  border-radius: 2px;
  position: relative;
}

.we-solve-item.words {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.423;

  letter-spacing: 0.08em;
}

@media screen and (min-width: 768px) {
  .we-solve-dark {
    width: 100%;
    height: 340px;
    margin-bottom: 201.5px;
  }

  .we-solve-title {
    width: 568px;
    padding-top: 60px;
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.308;
  }

  .we-solve-description {
    width: 688px;
    height: 303px;
    padding: 30px 45px 26px 96px;
    width: 688px;
    height: 303px;
  }
  .we-solve-set {
    display: flex;
    flex-wrap: wrap;
  }

  .we-solve-set-item.odd {
    width: 236px;
    margin-right: 22px;
  }

  .we-solve-set-item.even {
    width: 287px;
  }

  .we-solve-item.words.second {
    width: 225px;
  }

  .we-solve-item.words.fourth {
    width: 180px;
  }

  .we-solve-item.words.sixth {
    width: 225px;
  }

  .we-solve-set-item-list {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1344px) {
  .we-solve-dark {
    width: 100%;
    height: 560px;
    margin-bottom: 280px;
    // background-image: url(../images/fire-wesolve.png);
    // background-repeat: no-repeat;
    // background-position: right bottom;
  }

  .we-solve-title {
    width: 866px;
    padding-top: 100px;
    margin-bottom: 70px;

    font-size: 46px;
    line-height: 1.304;
  }

  .we-solve-description {
    width: 1314px;
    height: 362px;
    padding: 70px 112px 62px 114px;
    margin-bottom: 130px;
  }

  .we-solve-item.number {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
  }

  .we-solve-item.number::before {
    content: '';
    display: block;
    width: 17px;
    height: 3px;
    bottom: -17px;
    left: -25px;
    background-color: var(--orange-color);
    border-radius: 2px;
    position: relative;
  }

  .we-solve-item.words {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    width: 336px;
  }

  .we-solve-set-item-list {
    width: 33px;
  }

  .we-solve-set-item:nth-child(1),
  .we-solve-set-item:nth-child(2),
  .we-solve-set-item:nth-child(3) {
    margin-bottom: 32px;
  }

  .we-solve-set-item:nth-child(4),
  .we-solve-set-item:nth-child(5) {
    margin-bottom: 0;
  }

  .we-solve-item.words.second {
    width: 336px;
  }

  .we-solve-item.words.fourth {
    width: 336px;
  }

  .we-solve-item.words.sixth {
    width: 336px;
  }

  .we-solve-set-item.odd,
  .we-solve-set-item.even {
    width: 336px;
    margin-right: 40px;
  }
  .we-solve-set-item:nth-child(3n) {
    margin-right: 0;
  }
}
