.section-hero {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: $section-pink-color;
}

.section-hero__container {
  position: relative;
  height: 502px;

  background-image: url('../images/hero/ice-cream-mobile.svg');
  background-repeat: no-repeat;
  background-position: top 92px left 117px;
}

.section-hero__box {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.section-hero__background {
  position: absolute;
  margin: 0 auto;
  width: 320px;
  height: 502px;

  &::before {
    content: '';
    position: absolute;
    top: 83px;
    left: 36px;
    display: block;
    width: 346px;
    height: 344px;
    background-color: $contacts-pink-color;
    border-radius: 50%;
  }
}

.section-hero__title {
  padding-top: 193px;
  margin-bottom: 19px;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-white-color;

  .section-hero__title--color {
    font-size: 48px;
    line-height: 0.95;
    color: $primary-accent-color;
    letter-spacing: 0;
  }
}

.section-hero__list-btn {
  display: flex;

  .section-hero__item-link:not(:last-child) {
    margin-right: 8px;
  }

  .section-hero__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 24px;

    color: $primary-white-color;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    background-color: $primary-accent-color;
    border-radius: 20px;
  }

  .section-hero__link:hover,
  .section-hero__link:focus {
    background-color: #c7133e;
  }

  .section-hero__link--color {
    width: 83px;

    color: $primary-accent-color;

    background-color: $primary-white-color;
  }

  .section-hero__link--color:hover,
  .section-hero__link--color:focus {
    background-color: $background-grey-color;
  }
}

.section-hero__list-branches {
  display: none;
}

.section-hero__text {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-hero__container {
    height: 399px;

    background-image: url('../images/hero/ice-cream-tablet.svg'),
      url('../images/hero/milk-tablet.svg'),
      url('../images/hero/girl-tablet.svg');
    background-repeat: no-repeat;
    background-position: top 63px left 378px, left 34px bottom 28px,
      right 34px bottom;
  }

  .section-hero__box {
    width: 768px;
  }

  .section-hero__background {
    width: 768px;
    height: 399px;

    &::before {
      top: 31px;
      left: 307px;
      width: 324px;
      height: 322px;
    }
  }

  .section-hero__title {
    padding-top: 102px;
    margin-bottom: 20px;

    font-size: 22px;
    line-height: 1.13;

    .section-hero__title--color {
      font-size: 34px;
      line-height: 0.91;
      letter-spacing: 0.04em;
    }
  }

  .section-hero__list-btn {
    margin-bottom: 66px;
  }

  .section-hero__text {
    display: block;
    width: 255px;
    padding-left: 120px;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: $primary-white-color;

    &::after {
      content: '';
      display: block;
      margin-top: 7px;
      width: 18px;
      height: 18px;
      background-image: url('../images/hero/arrow-right-tablet.svg');
    }
  }

  .section-hero__list-branches {
    position: absolute;
    top: 94px;
    right: 34px;
    display: block;
  }

  .section-hero__item-branches {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      right: -9px;

      display: block;
      width: 16px;
      height: 16px;
      background-color: $primary-white-color;
      border-radius: 50%;
    }
  }

  .section-hero__item-branches:first-child {
    margin-bottom: 13px;
  }

  .section-hero__branches-count {
    position: relative;
    z-index: 1;

    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-accent-color;
  }

  .section-hero__branches-text {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: $primary-white-color;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__container {
    height: 665px;

    background-image: url('../images/hero/ice-cream-desktop.svg'),
      url('../images/hero/milk-desktop.svg'),
      url('../images/hero/girl-desktop.svg');
    background-repeat: no-repeat;
    background-position: top 108px left 554px, left 37px bottom 45px,
      right 69px bottom;
  }

  .section-hero__box {
    width: 1200px;
  }

  .section-hero__background {
    width: 1200px;
    height: 665px;

    &::before {
      top: 52px;
      left: 435px;
      width: 538px;
      height: 538px;
    }
  }

  .section-hero__title {
    padding-top: 171px;
    margin-bottom: 25px;

    font-size: 38px;
    line-height: 1.15;

    .section-hero__title--color {
      font-size: 58px;
      line-height: 0.89;
    }
  }

  .section-hero__list-btn {
    margin-bottom: 112px;

    .section-hero__item-link:not(:last-child) {
      margin-right: 15px;
    }

    .section-hero__link {
      width: 104px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
    }

    .section-hero__link--color {
      width: 138px;
    }
  }

  .section-hero__text {
    width: 380px;
    padding-left: 180px;

    font-size: 14px;
    line-height: 1.4;

    &::after {
      content: '';
      display: block;
      margin-top: 20px;
      width: 26px;
      height: 26px;
      background-image: url('../images/hero/arrow-right-desktop.svg');
    }
  }

  .section-hero__list-branches {
    top: 160px;
    right: 75px;
  }

  .section-hero__item-branches {
    position: relative;

    &::before {
      position: absolute;
      top: -5px;
      right: -16px;

      width: 30px;
      height: 30px;
    }
  }

  .section-hero__item-branches:first-child {
    margin-bottom: 20px;
  }

  .section-hero__branches-count {
    margin-bottom: 2px;

    font-size: 46px;
    line-height: 1.15;
  }

  .section-hero__branches-text {
    font-size: 14px;
    line-height: 1.28;
  }
}

.section-hero__container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
