.about {
  position: relative;
  font-family: 'DM Sans', sans-serif;
  background-color: $secondary-body-color;
  background-repeat: no-repeat;
  background-size: contain;

  @include for-phone-only {
    background-image: url(../../src/images/about/mobile/background-mobile.png);
    background-position: 50% 82%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about/mobile/background-mobile@2x.png);
    }
  }

  @include for-desktop {
    background-image: url(../images/about/desktop/background-desktop.png);

    background-position: 0 342px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about/desktop/background-desktop@2x.png);
    }
  }
}

// .about__label {
//   margin-bottom: 15px;

//   font-family: 'Titan One', cursive;
//   font-size: 18px;
//   line-height: 1.16;
//   text-transform: uppercase;
//   text-align: center;
//   color: $secondary-accent-color;

//   @include for-desktop {
//     font-size: 30px;
//     line-height: 1.13;
//     letter-spacing: 0.04em;
//   }
// }

// .about__title {
//   font-family: Titan One;
//   font-size: 34px;
//   line-height: 39px;
//   letter-spacing: 0.04em;
//   text-align: center;
//   text-transform: uppercase;
//   color: $primary-accent-color;

//   @include for-desktop {
//     font-size: 58px;
//     line-height: 1.14;
//     letter-spacing: 0.06em;
//   }

// &::after {
//   display: inline-block;
//   content: '';
//   width: 280px;
//   height: 279px;
//   margin-top: 26px;

//   background-image: url(../images/about/mobile/cow-mobile.png);
//   background-size: cover;

//   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     background-image: url(../images/about/mobile/cow-mobile@2x.png);
//   }

//   @include for-phone-only {
//     margin-bottom: 46px;
//   }

//   @include for-tablet {
//     position: absolute;
//     width: 340px;
//     height: 339px;
//     display: block;
//     margin-top: 55px;

//     background-image: url(../images/about/tablet/cow-tablet.png);

//     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//       background-image: url(../images/about/tablet/cow-tablet@2x.png);
//     }
//   }

//   @include for-desktop {
//     width: 516px;
//     height: 516px;

//     background-image: url(../images/about/desktop/cow-desktop.png);

//     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//       background-image: url(../images/about/desktop/cow-desktop@2x.png);
//     }
//   }
// }
// }

.about__content {
  display: flex;
  align-items: center;
}

.about__img {
  margin-top: 26px;

  @include for-phone-only {
    margin-bottom: 46px;
  }

  @include for-tablet {
    margin-top: 55px;
  }
}

.about__thumb {
  @include for-phone-only {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for-tablet {
    max-width: 340px;
    margin-left: auto;
    margin-top: 106px;
  }

  @include for-desktop {
    max-width: 463px;
  }
}

.about__description {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  margin-bottom: 30px;

  @include for-tablet {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 35px;
  }

  @include for-desktop {
    font-size: 16px;
    line-height: 1.76;
  }
}

.about__description--inverse {
  color: $third-text-color;
  margin-bottom: 15px;

  @include for-desktop {
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;

    margin-bottom: 40px;
  }
}

.about__caption {
  @include for-desktop {
    margin-bottom: 45px;
  }
}

.btn__about {
  padding-left: 37px;
  padding-right: 37px;
  font-weight: 700;
  transition: color $transition-style;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
