.about {
  background-color: get-bgColor('accent-pale');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 90.5%;

  @media screen and (max-width: 767px) {
    background-image: url(../../images/about/optimisized__png/mob/bg__mob.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/about/optimisized__png/mob/bg__mob@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../../images/about/optimisized__png/mob/bg__mob@3x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../../images/about/optimisized__png/desktop/bg__desktop.png);
    background-position: 0 100%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/about/optimisized__png/desktop/bg__desktop@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url(../../images/about/optimisized__png/desktop/bg__desktop@3x.png);
    }
  }
}
.about__container {
  padding-top: 125px;
  padding-bottom: 39px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    padding-top: 130px;
    padding-bottom: 66px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
.about__title-label {
  margin-bottom: 15px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: getFont-size__mob('label-title');
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  color: get-titleColor('accent-pale');

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}
.about__title {
  margin-bottom: 26px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;

  color: get-titleColor('accent-bright');

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: getFont-size__tab('title-section');
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
    font-size: getFont-size__desk('title-section');
    letter-spacing: 0.06em;
  }
}
.about__filling {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}
.about__img-cow {
  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 17px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 74px;
  }
}
.about__description {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-right: 35px;
    margin-left: 35px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    padding-top: 50px;
    align-items: flex-start;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
    padding-top: 56px;
    align-items: flex-start;
  }
}
.about__description-text {
  margin-bottom: 29px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: getFont-size__mob('text');
  line-height: 1.58;
  letter-spacing: normal;
  color: get-textColor('main-dark');

  @media screen and (min-width: 768px) {
    font-size: getFont-size__tab('text-client');
    line-height: 1.78;
  }
}
.about__description-more {
  margin-bottom: 17px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: getFont-size__mob('text');
  line-height: 1.58;
  letter-spacing: normal;
  color: get-textColor('additional');

  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
    font-size: getFont-size__tab('text-client');
    line-height: 1.78;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
    font-size: getFont-size__desk('text');
    line-height: 1.93;
    letter-spacing: 0.04em;
  }
}
.about__more-paragraph {
  display: block;
  margin-top: 12px;

  @media screen and (min-width: 1280px) {
    margin-top: 24px;
  }
}
