.advantages {
  padding-top: 0;

  background-color: $secondary-body-color;

  @include from-none-to-tablet {
    padding-top: 39px;
  }
}

.advantages__counters::before {
  display: block;
  content: '';
  width: 33px;
  height: 50px;

  @include from-none-to-tablet {
    margin-bottom: 16px;
  }

  @include for-tablet {
    margin-bottom: 36px;
  }
}

.advantages__list {
  @include for-tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(60px * -1);
    margin-top: calc(60px * -1);
  }

  @include for-desktop {
    @include card-set-list(30px);
  }
}

.advantages__item {
  @include for-tablet {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
    margin-top: 60px;
  }

  @include for-desktop {
    @include card-set(3);
  }
}

.advantages__item:not(:last-child) {
  @include from-none-to-tablet {
    margin-bottom: 38px;
  }
}

.advantages__item:first-child .advantages__counters::before {
  background-image: url(../images/advantages/advantage1.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/advantages/advantage1@2x.png);
  }
}

.advantages__item:nth-child(2) .advantages__counters::before {
  width: 50px;
  background-image: url(../images/advantages/advantage2.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/advantages/advantage2@2x.png);
  }
}

.advantages__item:nth-child(3) .advantages__counters::before {
  width: 44px;
  background-image: url(../images/advantages/advantage3.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/advantages/advantage3@2x.png);
  }
}

.advantages__counters {
  display: block;

  font-family: $secondary-font;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $primary-accent-color;

  @include from-none-to-tablet {
    font-size: 36px;
  }

  @include for-tablet {
    font-size: 48px;
    margin-bottom: 13px;
  }

  @include for-desktop {
    font-size: 58px;
  }
}

.advantages_description {
  font-weight: 700;
  letter-spacing: 0.02em;

  @include from-none-to-tablet {
    font-size: 12px;
    line-height: 1.7;
    max-width: 230px;
  }

  @include for-tablet {
    font-size: 14px;
    line-height: 1.74;
  }

  @include for-desktop {
    font-size: 16px;
    line-height: 1.76;
  }
}
