.advantages {
  padding-top: 30px;
  padding-bottom: 49.5px;
}

.advantages-title {
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;

  display: flex;
  align-items: center;
  color: $primary-black-color;
}

.advantages-svg {
  margin-right: 10px;
  max-width: 59px;
  height: 60px;
  fill: $orange-color;
}
@include for-size(mobile-only) {
  .advantages-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .advantages-list {
    width: 320px;
    margin: 0 auto;
  }
}

@include for-size(tablet) {
  .advantages-list {
    display: flex;
  }
  .advantages-item {
    display: flex;
    width: calc((100% - 21px * 2) / 3);
  }
  @include for-size(tablet-only) {
    .advantages-item:not(:last-child) {
      margin-right: 21px;
    }
  }
}

@include for-size(desktop) {
  .advantages-item {
    width: calc(100% / 3);
  }
  .advantages-svg {
    margin-right: -12px;
  }
}
