.title-assurance {
  text-align: center;
  font-size: 26px;

  @media screen and (min-width: 767px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1688px) {
    font-size: 46px;
  }
}
.assurance-icon-punkt-line {
  margin: 0 auto;
}
.point-accent {
  color: $accent-color;
}

.assurance-icon-fire {
  width: 15px;
  height: 20px;

  @media screen and (min-width: 1688px) {
    width: 22px;
    height: 30px;
  }
}
.assurance-list-item {
  display: flex;
}

.assurance-list-point {
  font-size: 12px;
  line-height: 20px;

  @media screen and (min-width: 1688px) {
    font-size: 20px;
    line-height: 28px;
  }
}
.assurance-icon {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 25px;
  }
  @media screen and (min-width: 1688px) {
    margin-right: 30px;
  }
}
.assurance-list {
  padding: 30px 0px;
  margin-top: 30px;

  background-color: #f1f1f1;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-left: 79px;
    padding-right: 50px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1688px) {
    padding-top: 50px;
    padding-left: 112px;
    padding-right: 112px;
    padding-bottom: 45px;
  }
}
.assurance {
  padding-bottom: 50px;

  @media screen and (min-width: 1688px) {
    padding-bottom: 130px;
  }
}
@media screen and (max-width: 767px) {
  .container-mobile-assurance {
    background-color: #f1f1f1;
  }
}
