.banner {
  background-image: linear-gradient(
    $section-bg-secondary 39.767%,
    $white-color 31.1165%,
    $white-color 31.1165%
  );
  width: 100%;
  height: 100%;
}
.banner__image {
  margin-right: auto;
  margin-left: auto;
}
