.benefits {
  margin-top: -2px;
  position: relative;
  padding-bottom: 40px;
  background-image: linear-gradient(
    to bottom,
    #111518 65%,
    $primary-white-color 35%
  );
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      #111518 40%,
      $primary-white-color 40%
    );
  }
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
      to bottom,
      #111518 50%,
      $primary-white-color 50%
    );
  }
}

.benefits__title {
  white-space: normal;
  width: 180px;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
  }
  @media screen and (min-width: 1280px) {
    visibility: hidden;
  }
}
.benefits__img {
  position: absolute;
  top: -90px;
  right: 0px;
  @media screen and (min-width: 480px) {
    top: -113px;
  }
  @media screen and (min-width: 768px) {
    top: -325px;
  }
  @media screen and (min-width: 1280px) {
    top: -264px;
    left: 0px;
  }
  @media screen and (min-width: 1680px) {
    top: -362px;
  }
}
.benefits__list {
  padding: 20px 14px 20px 30px;
  background-color: $primary-white-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    padding: 30px;
    position: relative;
    z-index: 2;
    }
  @media screen and (min-width: 1680px) {
    padding: 70px 80px 70px 80px;
  }
}
.benefits__list-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.benefits__list-item:nth-child(odd) {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 40px;
  }
}
.benefits__list-item:not(:nth-last-child(-n+2)) {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 20px;
  }
}
.benefits__list-item:not(:nth-child(3n)) {
  @media screen and (min-width: 1280px) {
    margin-right: 40px;
  }
}

.benefits__list-item:not(:nth-last-child(-n+3)) {
  @media screen and (min-width: 1280px) {
    margin-bottom: 30px;
  }
}

.benefits__list-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 80px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 120px) / 3);
  }
}
.benefits__number {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.642;
  letter-spacing: 0.08em;
  color: $accent-color;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.642;
  }
}
.benefits__number::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: $accent-color;
  margin-right: 7px;
}
.benefits__text {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: $primary-black-color;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
