.benefits {
  position: relative;
  background-color: $primary-white-color;
}

.benefits__title {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  //   color: $primary-white-color;
}
.benefits__img {
  position: absolute;
  top: 0;
  right: -20px;
}
.benefits__list {
  padding: 20px 14px 20px 30px;
}
.benefits__number {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.642;
  letter-spacing: 0.08em;
  color: $accent-color;
}
.benefits__number::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: $accent-color;
  margin-right: 7px;
}
.benefits__text {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: $primary-black-color;
}
.benefits__text:not(:last-child) {
  margin-bottom: 25px;
}
