.benefits {
  margin-top: -2px;
  position: relative;
  padding-bottom: 40px;
  background-image: linear-gradient(
    to bottom,
    #111518 65%,
    $primary-white-color 35%
  );
}
.benefits .container {
  @media screen and (min-width: 768px) {
    width: 688px;
  }
  @media screen and (min-width: 1200px) {
    width: 1314px;
  }
}
.benefits__title {
  white-space: normal;
  width: 180px;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    visibility: hidden;
  }
}
.benefits__img {
  position: absolute;
  top: -90px;
  right: 0px;
  @media screen and (min-width: 768px) {
    top: -325px;
  }
  @media screen and (min-width: 1200px) {
    top: -350px;
    left: 0;
  }
}
.benefits__list {
  padding: 20px 14px 20px 30px;
  background-color: $primary-white-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    z-index: 2;
  }
}
.benefits__list-item {
  @media screen and (min-width: 768px) {
    width: 236px;
  }
  @media screen and (min-width: 1200px) {
    width: 356px;
  }
}
.benefits__list-item:not(:last-child) {
  margin-bottom: 25px;
}
.benefits__list-item:nth-last-child(-n + 2) {
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.benefits__list-item:nth-child(odd) {
  @media screen and (min-width: 768px) {
    margin-right: 25px;
  }
}
.benefits__list-item:nth-last-child(-n + 3) {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.benefits__number {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.642;
  letter-spacing: 0.08em;
  color: $accent-color;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.642;
  }
}
.benefits__number::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: $accent-color;
  margin-right: 7px;
}
.benefits__text {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: $primary-black-color;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
