.bottom-part {
  background-image: url('/images/mobile/background/bg_2.png');
  background-size: 100% 461px;
  background-repeat: no-repeat;
  background-position: center bottom 216px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/mobile/background/bg_2@2x.png');
  }

  @media screen and(min-width: 769px) {
    background-image: url('/images/tablet/background/bg_2.png');
    background-size: 100% 622px;
    background-position: center bottom 35px;


    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/tablet/background/bg_2@2x.png');
    }
  }

  @media screen and(min-width: 1280px) {
    background-image: url('/images/desktop/background/bg_2.png');
    background-size: 100% 1036px;
    background-position: center bottom -133px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/desktop/background/bg_2@2x.png');
    }
  }
}