.menu-button {
  display: inline-block;
  border: none;
  background-color: transparent;
  fill: $main-text-color;

  &.is-open {
    z-index: 20;
    position: absolute;
    right: 20px;
    fill: $bg-white;
  }

  &.is-open .icon-menu-open {
    display: none;
  }

  .icon-menu-close {
    display: none;
  }

  &.is-open .icon-menu-close {
    display: block;
  }

  @include for-size(tablet) {
    margin-right: 30px;
  }

  @include for-size(desktop) {
    display: none;
  }
}


// .menu-button-close {
//   display: inline-block;
//   position: absolute;
//   background-color: transparent;
// }

// .icon-close {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   fill: $bg-white;
// }
// .menu-button.is-open .icon-menu {
//   display: none;
// }
// .menu-button .icon-close {
//   display: none;
// }

.mobile-container {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  height: 500px;
  background-color: $bg-mobile-menu;
  padding: 60px 20px;
  overflow: auto;
  

  &.is-open {
    z-index: 15;
    display: block;
  }

  @include for-size(tablet) {
    height: 1000px;
  }
  // @include for-size(desktop) {
  //   display: none;
  // }
}


// .mobile-container.is-open {
//   opacity: 1;
//   visibility: visible;
//   overflow: scroll;
// }
// .mobile-container.is-open .menu-button {
//   position: absolute;
//   display: block;
//   top: 23px;
//   right: 20px;
// }

.btn-burger {
  @extend %button;
  width: 100%;
  margin-top: 20px;
  background-color: $bg-white;
  color: $main-text-color;
}
.mobile-menu {
  margin-top: 20px;
}
.mobile-menu .item {
  position: relative;
  border-top: 1px solid $mobile-lines;
  border-bottom: 1px solid $mobile-lines;
  padding-bottom: 12px;
  padding-top: 12px;
}

.nav-link {
  display: block;
  color: $bg-white;
  font-weight: 700;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;

  &:hover,
  &:focus {
    color: $main-text-color;
    transition-property: color;
    @extend %animation;
  }
}
