.contact-section {
    @media  screen and (max-width: 767px) {
   
    background-image: linear-gradient($third-body-color 12%, $secondary-body-color 12%);
    }

    @include for-tablet {
        background-image: linear-gradient($third-body-color 27%, $secondary-body-color 27%);
    }

    @include for-desktop {
        background-image: linear-gradient($third-body-color 28%, $secondary-body-color 28%);
    }    
}


.contact-list {
 @include for-tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
 } 
}


.contact-item:not(:last-child) {
 @media  screen and (max-width: 767px) {
        margin-bottom: 20px;
    }   
}

.contact-item:last-child {
    @media  screen and (max-width: 767px) {
     margin-bottom: 54px;
    }
}

.contact-item {
    @include for-tablet {
        @include card-set (3);        
    }
}


.contact-card {
    margin-left: auto;
    margin-right: auto;
    background: $primary-body-color;
    padding: 43px 20px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, .1);

    @media  screen and (max-width: 767px) {
        width: 220px;
    }
   
}


.contact-card__name {
    display: inline-block;
    margin-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
       
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 4%;
    color: $primary-text-color;

    &--cafe {
        background-color: $second-bg-color;
    }

    &--truck {
        background-color: $third-bg-color;
    }    
}

.contact-card__title {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;

    color: $secondary-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
}

.contact-card__text {
    display: block;
    margin-top: 0;
    margin-bottom: 25px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $third-text-color;
}

.contact-card__text::after {
    content:"";
    display: block;
    position: absolute;
    margin-top: 25px;
    width: 100%;
    border: 1px solid $pseudo-element-color;    
}

.contact-card__container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;    
}

.contact-card__container::after {
    content:"";
    display: block;
    position: absolute;
    margin-top: 25px;
    width: 100%;
    border: 1px solid $pseudo-element-color;
    

}

.contact-card__work-time {
    margin-top: 0;
    margin-bottom: 0;
}
.contact-card__work-time:not(:last-child) {
    margin-bottom: 10px;
}



.contact-card__work-time--days {
    display: block;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
         
    color: $secondary-text-color;
}


.contact-card__work-time--hours {
    

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;

    color: $secondary-accent-color ;
}


.contact-link-list {
    margin-top: 25px;
   

}

.contact-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $third-text-color;
}

.btn-set {
    @include for-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 120px;

    }
}

.btn {

    display: block;   
    width: 161px;

    padding-top: 20px;
    padding-bottom: 20px;
    
    border-style: none;
    background-color: $primary-body-color;
    
    border-radius: 22px;
    color: $primary-accent-color;
    font-size: 16px;

    @media  screen and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
    }
 
}

.btn:not(:last-child) {
    @media  screen and (max-width: 767px) {
        margin-top: 25px;
        margin-bottom: 10px;
    }
    @include for-tablet {
        margin-right: 15px;
    }
   
    background-color: $primary-accent-color;
    color: $primary-text-color;
}