.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: 83% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--alternative-text-color);
  background-image: url(../images/contacts-1x.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/contacts-2x.png');
  }

  @media screen and (min-width: $tablet) {
    background-position: center;
    padding-bottom: 71px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 62px;
  }
}

.contacts-title {
  color: var(--white-color);

  &-accent {
    color: var(--accent-color);
  }
}
