.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 507px;
  width: 100%;
  text-align: center;

  background-position: 83% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--title-color);
  background-image: url(../images/contacts-1x.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/contacts-2x.png');
  }

  @media screen and (min-width: $tablet) {
    height: 520px;
    background-position: center;
    padding-bottom: 71px;
  }

  @media screen and (min-width: $desktop) {
    height: 840px;
    padding-top: 100px;
    padding-bottom: 62px;
  }
}

.contacts-title {
  color: var(--white-color);
  margin-bottom: 30px;

  @media screen and (max-width: $mobile - 1) {
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
  }

  &-accent {
    color: var(--accent-color);
  }
}

.contacts-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  margin-bottom: 30px;
  color: var(--white-color);

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 56px;
  }
}
