.features {
    width: 100%;
}
.features-list__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.08em;
    width: 148px;
    height: 60px;
    margin-left: 74px;
    color: $primary-black-color;
}

.person {
    background-image: url("../images/person.svg");
    background-repeat: no-repeat;
}
.cap {
    background-image: url("../images/cap.svg");
    background-repeat: no-repeat;  
}
.umbrella {
    background-image: url("../images/umbrella.svg");
    background-repeat: no-repeat; 
}

.features-list {
    padding-left: 32px;
}
.features-list__items:nth-child(-n + 2){
    margin-bottom: 30px;
}
