.footer {
  background-color: $secondary-body-color;
  padding-top: 0;
  padding-bottom: 0;
}

.footer__box {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.footer__top {
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    padding-top: 45px;
    padding-bottom: 91px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 97px;
  }
}

.footer__title-box {
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}

.footer__first-title {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $secondary-accent-color;
  width: 232px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    width: 340px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    width: 472px;
  }
}

.footer__second-title {
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-accent-color;
  width: 200px;

  margin-top: 17px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 0.06em;
    width: 340px;
    margin-top: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    width: 477px;
    margin-top: 15px;
  }
}

.footer__list-box {
  margin-top: 43px;
  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer__list-item:not(:first-child) {
  margin-left: 29px;
}

.footer__list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.footer__list-item-svg {
  fill: #fea5bb;
  width: 34px;
  height: 34px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list-item-link:hover .footer__list-item-svg,
.footer__list-item-link:focus .footer__list-item-svg {
  fill: $primary-accent-color;
}

.footer__contact {
  font-family: $main-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: $secondary-text-color;

  margin-top: 46px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-top: 50px;
  }
}

.footer__contact-link {
  font-family: $main-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;

  color: $primary-accent-color;
}

.footer__bottom {
  padding-top: 22px;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.footer__property {
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: $third-text-color;
  width: 150px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    line-height: 1.86;
    letter-spacing: 0.02em;
    width: 276px;
  }
}
