.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  text-align: center;
  background-color: #e5e5e5;
}

.logo {
  text-decoration: none;
}

.button-phone {
  display: block;
  margin-top: 21px;
  margin-bottom: 31px;
  padding: 0;
  //list-style: none;
  text-decoration: none;
  color: $main-color;
}

.footer-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-bottom: 30px;

  border-radius: 10px;
  background-image: radial-gradient(
    110.28% 110.28% at 20.5% 87.39%,
    #fae100 0%,
    #fadc04 5.44%,
    #fbce0e 11.67%,
    #fcb720 18.29%,
    #fe9838 25.14%,
    #ff7950 30.54%,
    #ff1c74 49.22%,
    #6c1cd1 100%
  );
}

.footer-legal {
  background-color: #111518;
}

.legal-info {
  margin: 0;
  padding: 21px 51px;

  font-weight: 500;
  line-height: 2;
  color: $grey-color;
}
