.footer {
  background-color: $bg-pink;
}

.footer-container {
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

// Стили для текста
.footer-text {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: $second-text-color;
  max-width: 234px;
  margin-bottom: 43px;

  @include for-size(tablet) {
    font-size: 26px;
  }

  @include for-size(desktop) {
    font-size: 30px;
  }

  @include for-size(desktop) {
    max-width: 474px;
  }
}

.text-accent {
  font-size: 34px;
  line-height: 1.15;
  color: $main-text-color;
  margin-top: 17px;
  display: inline-block;

  @include for-size(tablet) {
    font-size: 48px;
  }

  @include for-size(desktop) {
    font-size: 58px;
  }
}

// Стили для соц. иконок
.cosial-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;

  .social-icons-svg {
    fill: $socialmedia-color;
  }

  .social-icons-item:not(:last-child) {
    margin-right: 28px;
  }
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  &:hover .social-icons-svg,
  &:focus .social-icons-svg {
    fill: $main-text-color;
  }
}

// Ститли для контактов
.contact-us {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 43px;
  font-style: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.86;

  @include for-size(tablet) {
    font-size: 14px;
  }

  @include for-size(tablet) {
    font-size: 16px;
  }
}

.footer-tel {
  color: $main-text-color;
}

// Стили для копирайта
.copyright {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: $text-grey;
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
}

.copyright-text {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet) {
    max-width: 300px;
  }
}
