.gallery-picture {
  position: relative;
  top: -54px;

  @include for-size(tablet) {
    display: none;
    left: -40px;
    top: -110px;
  }
  @include for-size(desktop) {
    left: -115px;
    top: -175px;
  }
}

.gallery-list {
  display: none;

  @include for-size(tablet) {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: -110px;
  }

  @include for-size(desktop) {
    width: 100%;
    left: 0px;
    top: -175px;
  }
}

.gallery-section-four {
  padding-top: 20px;
}

.gallery-section-five {
  padding-bottom: 30px;
}

.gallery-img {
  display: block;
  width: 100%;
  border: 2px solid transparent;
}

.new-gallery-img {
  transition: 1s;
}
.new-gallery-img:hover {
  animation: swing 0.6s ease;
  animation-iteration-count: 1;
}
