.graduate-reviews-section {
  .graduate-reviews-image-logo-container {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  .graduate-reviews-header {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
