.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ececec;
  background-color: $primary-white-color;
}

.header > .container {
  display: flex;
}

@import "../components/header/logo";
@import "../components/header/nav";
@import "../components/header/contacts";
