.hero{
    display: block;
    position: relative;
    background: get-bgColor('accent-bright');
    height: 502px;
    width: 100%;
    z-index: 1;
   
}

.hero__img{
    position: absolute;
    left: 117px;
    top: 92px;
    z-index: -1;

}

.hero__item_button:first-child{
margin-right: 8px;
}

.hero__title{
font-family: Titan One;
font-style: normal;
font-weight: 400;
font-size: getFont-size__mob('header-title');
line-height: 1;
letter-spacing: 0.04em;
color:get-titleColor('main');
width: 218px;
max-width: 100%;
height: 106px;
padding-top: 193px;
text-transform: uppercase;
margin-bottom: 19px;
}

.hero__title_red{
    color: get-titleColor('accent-bright');
    text-transform: uppercase;
    font-size:48px

}

.hero__list_button{
    display: flex;
}

.hero__round{
    display: flex;
    width: 346px;
height: 344px;
background: get-titleColor('accent-pale');
border-radius: 50%;
position: absolute;
left: 36px;
top: 83px;
z-index: -1;


}


.hero__text{
    display: none;
}


.hero__list_number{
    display: none;
}

.hero__button_arrow{
    display: none;
}