.hero {
  background-color: $color-main-product-1;

  @media screen and (min-width: $tablet) {
    padding-top: 102px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 171px;
  }
}

.hero .container {
  position: relative;

  @media screen and (max-width: 739px) {
    overflow: hidden;
    min-height: 440px;
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 28px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 45px;
  }
}

.upper-line {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.hero-box {
  @media screen and (max-width: 739px) {
    position: absolute;
    top: 131px;
    left: 20px;
    z-index: 3;
  }
}

.hero-title {
  max-width: 225px;
  margin-bottom: 20px;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-main;

  @media screen and (min-width: $tablet) {
    max-width: 180px;
    font-size: 22px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 277px;
    font-size: 24px;
  }

  .text {
    font-size: 48px;
    color: $color-accent;

    @media screen and (min-width: $tablet) {
      font-size: 37px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 58px;
    }
  }
}

.anchors {
  display: flex;
}

.anchors-item:not(:last-child) {
  margin-right: 8px;

  @media screen and (min-width: $desktop) {
    margin-right: 15px;
  }
}

.anchors-button {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 20px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  background-color: $color-main;
  color: $color-accent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-accent-button-2;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 23px;

    font-size: 14px;
    line-height: 1.3;
  }
}

.anchors-button-red {
  background-color: $color-accent;
  color: $color-main;

  &:hover,
  &:focus {
    background-color: $color-accent-button-1;
  }
}

.places {
  @media screen and (max-width: 739px) {
    display: none;
  }
}

.places-item {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -30%);
    z-index: 0;
    content: '';
    display: block;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-main;

    @media screen and (min-width: $desktop) {
      width: 30px;
      height: 30px;
    }
  }
}

.places-item:not(:last-child) {
  margin-bottom: 17px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.places-box {
  text-align: right;
}

.places-number {
  position: relative;
  z-index: 5;

  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-accent;

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: 1.13;
  }
}

.places-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  color: $color-main;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.3;
  }
}

.eco {
  display: flex;
  align-items: flex-end;

  @media screen and (max-width: 739px) {
    display: none;
  }
}

.eco-content {
  max-width: 115px;
  padding-bottom: 6px;

  @media screen and (min-width: $desktop) {
    max-width: 200px;
    padding-bottom: 11px;
  }
}

.eco-img {
  display: none;

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.eco-text {
  margin-bottom: 7px;

  font-family: 'DM Sans', sans-serif;

  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;

  color: $color-main;

  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.4;
  }
}

.eco-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background-color: $color-main;
  border-radius: 50%;

  @media screen and (min-width: $desktop) {
    width: 26px;
    height: 26px;
  }
}

.arrow-right {
  fill: $color-accent;
}

.hero-circle {
  position: absolute;
  left: 36px;
  bottom: 75px;

  display: block;
  width: 346px;
  height: 344px;
  border-radius: 50%;

  background-color: $color-background-hero;

  @media screen and (min-width: $tablet) {
    width: 324px;
    height: 322px;
    left: 293px;
    bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    width: 538px;
    height: 538px;
    left: 500px;
    bottom: 65px;
  }
}

.hero-img {
  position: absolute;
  max-width: 100%;
  right: 32px;
  bottom: 0;

  @media screen and (min-width: $tablet) {
    right: 233px;
  }

  @media screen and (min-width: $desktop) {
    left: 620px;
  }
}

.girl-img {
  display: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    display: block;
    right: 20px;
    bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    right: 109px;
  }
}
