.hero {
  padding: 0;
  background-color: $first-bg-color;
  background-image: url(../images/hero-header/ellipse_bg.svg);
  background-repeat: no-repeat;
  background-position: 36px;

  @include for-tablet {
    background-position: 75% 31px;
  }

  @include for-desktop {
    background-size: 530px;
  }
}

.container__hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;

  @include for-tablet {
    height: auto;
    padding-bottom: 28px;

    align-items: start;
    justify-content: space-between;
  }

  @include for-desktop {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.hero__wrap {
  z-index: 1;
}

.hero__title {
  margin-bottom: 20px;

  font-family: $secondary-font;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-body-color;

  @include for-tablet {
    font-size: 22px;
  }

  @include for-desktop {
    margin-bottom: 25px;

    font-size: 38px;
  }
}

.hero__title-accent {
  font-size: 48px;
  line-height: 0.9;
  color: $primary-accent-color;

  @include for-tablet {
    font-size: 34px;
  }

  @include for-desktop {
    font-size: 58px;
  }
}

.hero__btn-list {
  display: flex;
  margin-bottom: 20px;

  @include for-desktop {
    margin-bottom: 56px;
  }
}

.hero__btn-list-item {
  &:not(:last-child) {
    margin-right: 8px;

    @include for-desktop {
      margin-right: 15px;
    }
  }
}

.hero__btn {
  padding: 9px 15px;

  font-size: 8px;

  @include for-desktop {
    padding: 15px 25px;

    font-size: 14px;
  }
}

.hero__bottom-block {
  display: none;
  align-items: flex-end;

  @include for-tablet {
    display: flex;
  }
}

.hero__more {
  max-width: 114px;

  @include for-desktop {
    min-width: 200px;
  }
}

.hero__more-text {
  margin-bottom: 7px;

  font-size: 8px;
  line-height: 1.5;
  color: $primary-text-color;

  @include for-desktop {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.42;
  }
}

.hero__btn-more {
  width: 18px;
  height: 18px;
  background-size: 5px;

  @include for-desktop {
    width: 26px;
    height: 26px;
    background-size: 7px;
  }
}

.hero__image-milk {
  display: none;

  @include for-tablet {
    display: block;
  }
}

.hero__image-tasty {
  display: none;
  position: absolute;
  bottom: 0;
  right: 34px;
  z-index: 0;

  @include for-tablet {
    display: block;
  }
}

.hero__counter {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.hero__counter-num {
  display: none;
  position: relative;

  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.14;
  text-align: right;
  color: $primary-accent-color;

  @include for-tablet {
    display: block;
  }

  @include for-desktop {
    font-size: 45px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -8px;
    width: 16px;
    height: 16px;
    z-index: -1;

    border-radius: 50px;
    background-color: #fff;

    @include for-desktop {
      top: -4px;
      right: -20px;
      width: 30px;
      height: 30px;
    }
  }
}

.hero__counter-label {
  display: none;

  font-size: 8px;
  text-align: right;
  color: #ffffff;

  @include for-tablet {
    display: block;
  }

  @include for-desktop {
    font-size: 14px;
  }
}

.hero__image-icecream {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 0;

  @include for-tablet {
    right: 25%;
  }

  @include for-desktop {
    left: 50%;
  }
}
