.how-we-do-it {
  padding-top: 198px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px){
    padding-top: 201px;
  padding-bottom: 50px;
  }
  @media screen and (min-width: 1314px){
    padding-top: 280px;
   padding-bottom: 130px;
  }
}

.how-we-do-it-title {
  margin-bottom: 30px;
  font-family: $font;
  text-align: center;
}

.hwd-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.hwd-svg {
  fill: $orange;
}

.how-we-do-it-item {
  width: 280px;

  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  padding: 30px 5px 30px 5px;

  margin-bottom: 15px;
  transition: $transSet;
}

.how-we-do-it-list-title {
  font-family: $font;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.08em;
}

.how-we-do-it-list-text {
  font-family: $font;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $light-font;
  text-align: center;
  letter-spacing: 0.08em;
}

.how-we-do-it-list-title::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: $orange;
  margin: 15px auto 15px;
}

.how-we-do-it-item:hover,
.how-we-do-it-item:focus {
  background-color: $orange;
  color: $white-font;
}

.how-we-do-it-item:hover .how-we-do-it-list-text,
.how-we-do-it-item:focus .how-we-do-it-list-text {
  color: $white-font;
}

.how-we-do-it-item:hover .how-we-do-it-list-title::after,
.how-we-do-it-item:focus .how-we-do-it-list-title::after {
  background-color: $white-font;
}

.how-we-do-it-item:last-child {
  margin-bottom: 0px;
}

.how-we-do-it-item:hover .hwd-svg,
.how-we-do-it-item:focus .hwd-svg {
  fill: $white-font;
}
/*--------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .how-we-do-it-list {
    display: flex;
    flex-wrap: wrap;
  }

  .how-we-do-it-item {
    flex-basis: calc((100% - 2 * 20px) / 2);
    margin-bottom: 27px;
    margin-right: 20px;
    width: 334px;
    height: 334px;
    padding: 40px 22px 30px 22px;
  }

  .hwd-icon {
    margin-bottom: 30px;
  }

  .how-we-do-it-item:nth-last-child(2) {
    margin-bottom: 0px;
  }

  .how-we-do-it-list-title::after {
    margin: 25px auto 25px;
  }
}

@media screen and (max-width: 1313px) {
  .how-we-do-it-item:nth-child(2n + 2) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1314px) {
  .how-we-do-it-item {
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 424px;
    min-height: 396px;
    padding: 40px 30px 50px 30px;
  }

  .how-we-do-it-title {
    font-family: $font;
    text-align: left;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }

  .how-we-do-it-list-title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.08em;
  }

  .how-we-do-it-list-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.08em;
  }

  .how-we-do-it-list-title::after {
    margin: 15px auto 15px;
  }

  .how-we-do-it-item:nth-child(3n + 3) {
    margin-right: 0px;
  }

  .how-we-do-it-item:nth-last-child(3) {
    margin-bottom: 0px;
  }

  .how-we-do-it-item:nth-last-child(2) {
    margin-bottom: 0px;
  }

  .how-we-do-it-item {
    flex-basis: calc((100% - 3 * 20px) / 3);
  }
}