.how-its-made {
  padding-top: 100px;
  background-color: $section-bg-secondary;

  @media screen and (max-width: 767px) {
    background-image: url(../images/mobile/features-2-320.png);
    background-position: 0px 200px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-width: 767px) {
    padding-top: 100px;

    background-image: url(../images/desktop/features-2-1200.png);
    background-position: 0px 250px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 150px;
    background-image: url(../images/desktop/features-2-1200.png);
    background-position: 0px 300px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.how-its-made__foto {
  margin-left: auto;
  margin-right: auto;
}

.how-its-made__container {
  padding: 30px 0px;

  @media screen and (min-width: 767px) {
    padding: 50px 0px 0px 0px;
  }
}

.how-its-made__text {
  margin-bottom: 20px;
  @include font(500, 14px, 1.62);
  color: $black-color;

  @media screen and (min-width: 767px) {
    @include font(500, 16px, 1.76);
  }

  @media screen and (min-width: 1280px) {
    @include font(500, 18px, 1.76);
    letter-spacing: 0.04em;
  }

  &.text-last {
    margin-bottom: 0;
  }
}
