.how-its-made-numbers-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .how-its-made-numbers {
    background-image: linear-gradient($background-light-pink 0% 91%, #fff 91%);
  }

  .how-its-made-wrapper {
    background-image: url(../images/how-its-made-numbers/mobile/how-its-made-numbers.png);
    background-repeat: no-repeat;
    background-position: center bottom;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      margin: 0 auto;
      max-width: 320px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-image: url(../images/how-its-made-numbers/mobile/how-its-made-numbers@2x.png);
    }
  }
}

@media screen and (min-width: 768px) {
  .how-its-made-numbers {
    background-image: linear-gradient(
      $background-light-pink 0% 77.2%,
      #fff 77.2%
    );
  }
  .how-its-made-wrapper {
    background-image: url(../images/how-its-made-numbers/tablet/how-its-made-numbers.png);
    background-repeat: no-repeat;
    background-position: center bottom;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      margin: 0 auto;
      max-width: 768px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-image: url(../images/how-its-made-numbers/tablet/how-its-made-numbers@2x.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .how-its-made-numbers {
    background-image: linear-gradient($background-light-pink 0% 69%, #fff 69%);
  }
  .how-its-made-wrapper {
    background-image: url(../images/how-its-made-numbers/desktop/how-its-made-numbers.png),
      linear-gradient($background-light-pink 0% 69%, #fff 69%);
    background-repeat: no-repeat;
    background-position: center bottom;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      margin: 0 auto;
      max-width: 1280px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-image: url(../images/how-its-made-numbers/desktop/how-its-made-numbers@2x.png),
        linear-gradient($background-light-pink 0% 69%, #fff 69%);
    }
  }
}

.how-its-made-numbers-cont {
  padding-right: 50px;
}

@media screen and (max-width: 767px) {
  .how-its-made-numbers-cont {
    max-width: 320px;
    padding-top: 39px;
    padding-bottom: 246px;
  }
}

@media screen and (min-width: 768px) {
  .how-its-made-numbers-cont {
    // width: 772px;
    padding-left: 16px;
    padding-right: 56px;
    padding-top: 66px;
    padding-bottom: 405px;
  }
}

@media screen and (min-width: 1280px) {
  .how-its-made-numbers-cont {
    width: 1280px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 33px;
    padding-bottom: 573px;
  }
}

.how-its-made-numbers-item-element {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .how-its-made-numbers-item {
    width: 230px;
  }
  .how-its-made-numbers-item:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 768px) {
  .how-its-made-numbers-item {
    width: calc((100% - 120px) / 3);
  }
  .how-its-made-numbers-item:not(:last-child) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .how-its-made-numbers-item {
    width: calc((100% - 60px) / 3);
  }
  .how-its-made-numbers-item:not(:last-child) {
    margin-right: 30px;
  }
}

.how-its-made-numbers-img {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.how-its-made-numbers-number {
  font-family: $title-font-family;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.04em;
  color: $crimson-color;
  font-size: 36px;
  line-height: 1.14;
  margin-bottom: 13px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 13px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 15px;
  }
}

.how-its-made-numbers-text {
  // font-family: $primary-font-family;
  // font-style: normal;
  font-weight: 700;
  text-align: left;
  color: $primary-text-color;
  font-size: 12px;
  line-height: 1.67;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
