.section-location {
  padding-bottom: 113px;
  background-color: $secondaryBgColor;
}
.list-location {
  margin-top: -20px;
  margin-bottom: 54px;

  & .card {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $primaryTextColor;
    background: $primaryWhiteColor;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    & .description {
      color: $secondaryTextColor;
    }
  }
}
.card-box {
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  & .title-card-location {
    margin-bottom: 10px;
  }

  & .work-time {
    display: flex;
    flex-wrap: wrap;
    color: $subtitleTextColor;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  & .work-day {
    color: $primaryTextColor;
  }

  & .contact {
    color: $secondaryTextColor;
  }
}
