.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 84px;
  height: 30px;
  margin-top: 34px;
  margin-bottom: 21px;

  color: $primary-text-color;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.04em;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    width: 127px;
    height: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 203px;
    font-size: 26px;
  }

  @media screen and (min-width: 1354px) {
    margin-top: 52px;
    margin-bottom: 53px;
    margin-right: 290px;
    margin-left: 183px;
  }
}

.logo-description {
  color: $primary-text-color;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 5px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 8px;
  }
}

.logo-description-accent {
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    color: $accent-color;
  }
}

.icon-fire {
  width: 14px;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;

  @media screen and (min-width: 768px) {
    width: 21px;
    height: 30px;
  }
}
