/*===========Manufacture styles============*/
.section-manufacture {
  padding-top: 125px;
  padding-bottom: 97px;
  background-color: $secondaryBgColor;

  @include for-size(mobile-only) {
    background-image: url('../images/manufacture/sectionbg1-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0 42%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/manufacture/sectionbg1-mobile@2x.png');
    }
  }
  @include for-size(tablet) {
    padding-top: 120px;
    padding-bottom: 140px;
  }
  @include for-size(desktop) {
    padding-top: 125px;
    padding-bottom: 140px;
    background-image: url('../images/manufacture/sectionbg1-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 30%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/manufacture/sectionbg1-desktop@2x.png');
    }
  }
  .subtitle {
    margin-bottom: 15px;
  }

  .title {
    margin-bottom: 26px;
    margin-left: (59px -20px);
  }
}
.content-manufacture {
  @include for-size(tablet) {
    display: flex;
    margin-top: 55px;
  }
}
.picture {
  @include for-size(tablet) {
    min-width: 340px;
    margin-right: 17px;
  }
  @include for-size(desktop) {
    min-width: 516px;
    margin-right: 74px;
  }
}
.text-content {
  @include for-size(desktop) {
    margin-top: 50px;
  }
}
.primary-text-manufacture {
  font-family: 'DM Sans' sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  /* or 19px */
  color: $primaryTextColor;
  padding-left: (51px -20px);
  padding-right: (51px -20px);
  margin-bottom: 47px;
  @include for-size(tablet) {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 35px;
  }
  @include for-size(desktop) {
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 35px;
  }
}
.secondary-text-manufacture {
  font-family: 'DM Sans' sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $secondaryTextColor;
  padding-left: (51px -20px);
  padding-right: (51px -20px);

  margin-bottom: 47px;
  @include for-size(tablet) {
    font-size: 14px;
    line-height: 1.76;
  }
  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.94;
  }
}
.button-secondary {
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.button-manufacture {
  margin-top: 0;
  margin-bottom: 39px;
  margin-left: 0;
  font-weight: 700;
 
  &::after {
    content: '';
    width: 5px;
    height: 8px;
    display: inline-block;
    margin-left: 14px;
    background-image: url(../images/icons/half-arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
    @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.312;
    margin-right: 25%;
    margin-bottom: 66px;
    font-weight: 700;
    margin-left: 0;
    margin-top: 62px;
  }
  @include for-size(desktop) {
    font-size: 16px;
    line-height: 1.312;
    margin-bottom: 146px;
    font-weight: 700;
    margin-top: 45px;
  }
}

.list-manufacture {
  padding-right: 70px;

  @include for-size(tablet) {
    display: flex;

    .item + .item {
      margin-left: 60px;
    }
  }

  @include for-size(desktop) {
    display: flex;

    .item + .item {
      margin-left: 30px;
    }
  }
}
.number-manufacture {
  font-family: 'Titan One', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 0.878;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $titleTextColor;
  margin-bottom: 16px;
  @include for-size(tablet) {
    font-size: 48px;
    line-height: 1.145;
  }
  @include for-size(desktop) {
    font-size: 58px;
    line-height: 1.137;
  }
}
.list-manufacture-text {
  font-family: 'DM Sans' sans-serif;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  /* or 20px */
  color: $primaryTextColor;
  margin-bottom: 38px;
  @include for-size(tablet) {
    font-size: 14px;
    line-height: 1.74;
  }
  @include for-size(desktop) {
    font-size: 16px;
    line-height: 1.76;
  }
}
.list-manufacture {
  .item::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 16px;
  }
}

.item-milk::before {
  background-image: url('../images/icons/milk.svg');
  width: 33px;
  height: 50px;
}
.item-apple::before {
  background-image: url('../images/icons/apple.svg');
  width: 50px;
  height: 50px;
}
.item-lollipop::before {
  background-image: url('../images/icons/lollipop.svg');
  width: 44px;
  height: 50px;
}
