.methods {
  padding-bottom: 50px;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 24px;

    background: #ffffff;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

    transition-property: background-color;
    transition-duration: $transition-duration;
  }
  &__item:hover {
    background-color: $accent-color;
  }
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: #111518;
    margin-bottom: 20px;
  }
  &__svg {
    fill: $accent-color;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__therm {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;

    text-align: center;
    letter-spacing: 0.08em;

    color: #111518;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__therm::after {
    margin-top: 16px;
    display: inline-block;
    content: '';
    width: 21px;
    height: 2px;
    background-color: $accent-color;
  }
  &__text {
    padding-right: 20px;
    padding-left: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.08em;
    color: #b9b9b9;
  }
  &__item:hover .methods__svg {
    fill: #ffffff;
  }
  &__item:hover .methods__therm {
    color: #ffffff;
  }
  &__item:hover .methods__text {
    color: #ffffff;
  }
  &__item:hover .methods__therm::after {
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .methods {
    &__title {
      font-size: 26px;
      line-height: 1.3;
    }
    &__list {
      margin: -10px;
    }
    &__item {
      width: calc((100% - 40px) / 2);
      margin: 10px;
      width: 334px;
      height: 334px;
    }
    &__svg {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    &__therm {
      margin-bottom: 26px;
    }
    &__therm::after {
      margin-top: 26px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .methods {
    padding-top: 80px;
    &__title {
      text-align: start;
      font-size: 46px;
      line-height: 1.3;
    }
    &__item {
      width: calc((100% - 60px) / 3);
      height: 396px;
    }
    &__therm {
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 1.4;
    }
    &__therm::after {
      margin-top: 16px;
    }
    &__text {
      padding-right: 30px;
      padding-left: 30px;
      font-size: 18px;
      line-height: 1.56;
    }
    &__svg {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
}
