.modal-open {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--transition-timing-function);

  padding: 50px 20px 40px;
  max-height: calc(100vh - 20px);

  overflow-y: auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--second-color);

  @media screen and (max-width: 479px) {
    width: calc(100vw - 20px);
    max-width: 440px;
  }

  @media screen and (min-width: 480px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    padding: 40px 30px;
    width: 618px;
  }

  @media screen and (min-width: 1024px) {
    padding: 50px 30px 40px;
    width: 882px;
  }
}

.modal__button-close {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;

  width: 30px;
  height: 30px;

  padding: 0px;

  border-color: transparent;

  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal_wrap {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.modal_thumb {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 30px;
    width: 264px;
    height: 396px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 594px;
  }
}

.modal_img {
  height: 100%;
  width: 100%;

  border-radius: 5px;

  object-fit: cover;
}

.modal_inner {
  @media screen and (min-width: 768px) {
    max-width: 264px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 396px;
  }
}

.modal_title {
  margin: 0px 0px 20px 0px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  text-transform: uppercase;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal_table {
  margin-bottom: 20px;
}

.modal_item {
  display: block;

  margin: 0px;
  padding: 0px 0px 10px 0px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  &:nth-child(3) .modal_text {
    text-transform: uppercase;
  }
}

.modal_subtitle {
  width: 108px;

  color: var(--modal-color);

  @media screen and (min-width: 1024px) {
    width: 152px;
  }
}

.modal_inner-rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 16px;

  border-radius: 5px;

  color: var(--second-color);
  background-color: var(--accent-color);
}

.modal_inner-votes {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 16px;

  border-radius: 5px;

  background-color: var(--footer-background);
}

.modal_caption {
  margin: 0px 0px 10px 0px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;
}

.modal_desc {
  margin: 0px 0px 20px 0px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal_list-button {
  display: flex;

  margin: 0px;
  padding-left: 0px;

  list-style: none;

  @media screen and (max-width: 767px) {
    align-items: center;
    justify-content: center;
  }
}

.modal_item-button:not(:last-child) {
  margin-right: 15px;
}

.modal_button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 6px;
  width: 112px;
  height: 44px;

  border: 1px solid var(--primary-color);
  border-radius: 5px;

  cursor: pointer;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;

  background-color: var(--second-color);

  @media screen and (min-width: 768px) {
    width: 125px;
    height: 44px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
    height: 44px;
  }

  &:hover,
  &:focus {
    border-color: ar(--accent-color);
    color: var(--second-color);
    background-color: var(--accent-color);
  }
}
