.page-heder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
}

.menu-conteiner {  
    margin: 0 auto;

    @media screen and (max-width: 1679px) {
      display: none;
      z-index: 100;
      margin: 0 auto;
      padding: 0 30px;    
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  
      &.is-open {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(17, 21, 24, 0.9);
      }   
    }
}

.menu {
    padding-top: 30px;
    width: 320px;   

    @media screen and (min-width: 768px) {
        width: 768px;
      }
      
      @media screen and (min-width: 1688px) {
        width: 1688px;
        padding: 0 183px;
      }
    
    .site-nav {
      font-weight: 800;
      font-size: 20px;
      line-height: 1.8;
      letter-spacing: 0.03em;
      margin-top: 50px;

      @media screen and (min-width: 768px) {
        font-size: 26px;
        margin-top: 72px;
    
      }

      @media screen and (min-width: 1680px) {
        font-weight: 700;
        font-size: 14px;        
        line-height: 1.2; 
        margin-top: 0;  
      }   

      .link {        
        color: $title-dark-theme-color;

        @media screen and (min-width: 1680px) {
          color: $main-text-color;   
        }

        &:hover,
        &:focus {
          color: $accent-color;
        }
      }
    }
}