.page-heder {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0px;

    .nav {
      display: flex;
      align-items: center;
      
      .button {
        margin-right: 0;
      }
    }
}

.menu-conteiner {  
    margin: 0 auto;
    z-index: 100;
    height: 1000%;

    @media screen and (max-width: 1679px) {
      display: none; 
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  
      &.is-open {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(17, 21, 24, 0.9);
      }   
    } 

    @media screen and (min-width: 1680px) {
      margin-right: 0;
   
    }
  

}

.menu {
    padding-top: 30px;
    width: 320px;   

    @media screen and (min-width: 768px) {
        display: flex;
        width: 768px;
    }
      
    @media screen and (min-width: 1680px) {
      width: 1688px;
      padding: 0 0;
      align-items: center;
    }

    .logo {
      @media screen and (min-width: 1680px) {   
        margin-right: 144px;        
      }
    
    }

    .button {
      @media screen and (min-width: 768px) and (max-width: 1679px){
        display: none;    
      }      
    }
    
    .site-nav {
      font-weight: 800;
      font-size: 20px;
      line-height: 1.8;
      letter-spacing: 0.03em;
      margin: 50px 0;

      @media screen and (min-width: 768px) {
        font-size: 26px;
        margin-top: 72px;
        align-content: center;    
      }

      @media screen and (min-width: 1680px) {
        display: flex;        
        align-items: center;
        font-weight: 700;
        font-size: 14px;        
        line-height: 1.2; 
        margin: 0 0;
        margin-right: 60px;
        
        .item-nav:not(:last-child){
          margin-right: 40px;
        }
      }   

      .link {        
        color: $title-dark-theme-color;

        @media screen and (min-width: 1680px) {
          color: $main-text-color;   
        }

        &:hover,
        &:focus {
          color: $accent-color;
        }
      } 
    }
}