.footer {
    background: #F6F6F8;
    &__icon-adress {
        margin-right: 15px;
        width: 15px;
        height: 15px;
        fill: #999999;

    }
    &__icon {
        margin-right: 10px;
        width: 10px;
        height: 10px;
        fill: #999999;
    }

    &__item {
    width: 245px;
    }
    &__item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    }
    &__list {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    
    border-bottom: 1px solid #E0E0E0
    }
    &__link {
    font-size: 14px;
    line-height: 1.57;
    color: #999999;
    }
  
    &__item:not(:last-child) {
        margin-right: 40px;
    }
    
    &__item-title {
        margin-bottom: 35px;
    }
    &__sub-item:not(:last-child){
        margin-bottom: 30px;
    }
}
.copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #999999;
}
.adress {
    width: 255px;
    margin-right: 30px;
   
}