.problems {
  padding: 50px 0 367px;
  background-color: $dark-font;
}

.problems-wrapper {
  position: relative;

  & .problems-title {
    font-family: $font;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.03em;
    color: $white-font;

    & .accent-title {
      color: $orange;
    }
  }
}

.features-overlay {
  position: absolute;
  margin-top: 27px;
  max-width: 280px;
  padding: 20px 30px;
  background-color: $white-font;
}

.features-overlay .features-number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.643;
  letter-spacing: 0.08em;
  color: $orange;
}
.features-overlay .features-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.08em;
  color: $dark-font;
}
@media screen and (max-width: 767px) {
  .features-overlay .features-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .problems {
    padding: 60px 0 177px;

    .problems-title {
      font-family: $font;
      font-style: normal;
      font-weight: 800;
      font-size: 26px;
      line-height: 130%;
      letter-spacing: 0.03em;
      color: $white-font;
    }
  }

  .features-overlay {
    max-width: 688px;
    padding: 30px 46px 26px 96px;

    & .features-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    & .features-item {
      width: calc((100% / 2) - 25px);
    }

    & .features-text {
      font-style: normal;
      font-weight: 700;
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 1313px) {
  .features-overlay .features-item:nth-child(-n + 4) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1314px) {
  .problems {
    padding: 100px 0 282px;

    .problems-title {
      font-family: $font;
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 130%;
      letter-spacing: 0.03em;
      color: $white-font;
    }
  }
  .features-overlay {
    max-width: 1314px;
    padding: 70px 112px 62px 114px;

    & .features-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    & .features-item {
      max-width: 335px;
      width: calc((1120px / 3) - 40px);
    }

    & .features-item:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
    & .features-text {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
    }
    & .features-number {
      font-size: 20px;
      line-height: 1.65;
    }
  }
}
