.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  //   margin-left: -30px;
  //   margin-top: -30px;

  &:not(:last-child) {
    padding-right: 30px;
  }
}

.products-list-item {
  position: relative;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $primaryTextColor;
  background: $primaryWhiteColor;
  border-radius: 24px;
  background-color: #ffb8ca;

  @include for-size(tablet) {
    margin-left: 20px;
    min-width: 220px;
    max-width: calc((100% / 3) - 20px);

    font-size: 14px;
  }
  @include for-size(desktop) {
    margin-left: 30px;
    max-width: 330px;
    max-width: calc((100% / 3) - 30px);

    font-size: 14px;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 252px;
    background-image: url('../images/products/home-pic1-desktop.png');
    background-color: #ffb8ca;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    position: absolute;
    bottom: 70%;
  }
}

.products-list-item:nth-child(2):before {
  background-image: url('../images/products/home-pic2-desktop.png');
}

.products-list-item:nth-child(3):before {
  background-image: url('../images/products/home-pic3-desktop.png');
}

.next-btn-products {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  background-image: url('../images/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.products-list-name {
  font-family: 'Titan One';
  font-weight: 400px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.products-item-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
