.problems .container {
  @media screen and (max-width: 1629px) {
    position: relative;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
  }
}

.problems {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      to bottom,
      $primary-color 80%,
      $third-color 20%
    );
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      $primary-color 72%,
      $third-color 28%
    );
    padding-top: 60px;
  }
  @media screen and (min-width: 1366px) {
    background-image: linear-gradient(
      to bottom,
      $primary-color 72%,
      $third-color 28%
    );
    padding-top: 0px;
  }
  @media screen and (min-width: 1630px) {
    position: relative;
  }
  overflow: hidden;
  padding-bottom: 25px;
  &-titule {
    color: $third-color;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-align: left;
    padding-right: 50px;
    padding-bottom: 27px;
    width: 100%;
    position: relative;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.3;

      padding-right: 210px;
    }

    @media screen and (min-width: 1366px) {
      font-size: 46px;
      line-height: 1.3;
      padding-top: 100px;
      padding-right: 400px;
      padding-bottom: 70px;
    }
    &-primary {
      color: #ff6b09;
    }
  }

  &-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 488px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-left: 110px;
      padding-right: 95px;
    }
    @media screen and (min-width: 1366px) {
      height: 362px;
    }
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

    background-color: #ffffff;

    &-item {
      position: relative;
      @media screen and (min-width: 1366px) {
        padding-top: 10px;
      }

      content: '';
      font-weight: 700;
      font-size: 14px;
      line-height: 1.7;

      @media screen and (min-width: 768px) {
        line-height: 1.42;
      }
      @media screen and (min-width: 1366px) {
        height: 55px;
        font-size: 20px;
        line-height: 1.2;
      }
      @media screen and (max-width: 767px) {
        &:not(:last-child) {
          margin-bottom: 38px;
        }
      }
      &::before {
        position: absolute;
        content: '';
        top: -12px;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: #ff6b09;
      }
      &::after {
        position: absolute;
        top: -23px;
        left: 35px;
        content: '';
        counter-increment: item;
        content: '0' counter(item) ' ';
        color: #ff6b09;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1365px) {
    &-list {
      height: 300px;
      &-item {
        flex-basis: 225px;
        &:nth-child(2n + 1) {
          margin-right: 30px;
        }
        &:nth-child(-n + 4) {
          margin-bottom: 35px;
        }
      }
    }
  }
  @media screen and (min-width: 1366px) {
    &-list {
      padding-top: 115px;
      padding-left: 114px;
      padding-right: 115px;
      padding-bottom: 62px;
      justify-content: space-between;
      &-item {
        flex-basis: 335px;
        &:nth-child(-n + 3) {
          margin-bottom: 35px;
        }
      }
    }
  }
}
.fire-problems-bg {
  @media screen and (max-width: 1365px) {
    display: none;
  }
  @media screen and (min-width: 1366px) {
    position: absolute;
    bottom: 157px;
    right: -132px;
  }
}
@media screen and (min-width: 1630px) {
  .fire-problems-bg {
    bottom: 206px;
    right: 0;
  }
}
