ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.programm-conteiner {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 512px;
  background-color: $dark-bcg-color;
  @media screen and (min-width: 768px) {
    padding-bottom: 392px;
  }
  @media screen and (min-width: 1680px) {
    padding-bottom: 363px;
  }
}
.programm-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: $white-color;
  @media screen and (min-width: 768px) {
    text-align: left;
    margin-left: 40px;
    font-size: 26px;
  }
  @media screen and (min-width: 1680px) {
    margin-top: 70px;
    margin-left: 0;
    margin-bottom: 100px;
    font-size: 46px;
  }
}
.programm-box {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 688px;
  }
  @media screen and (min-width: 1680px) {
    width: 1320px;
  }
}
.programm-list {
  padding-left: 26px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 767px) {
    width: 150px;
  }

  @media screen and (min-width: 768px) {
    width: 80%;
    padding-left: 50px;
    margin-left: 100px;
  }
  @media screen and (min-width: 1680px) {
    display: flex;
    width: 1320px;
    padding-top: 50px;
    padding-left: 0;
    margin-left: 0;
  }
}
.programm-list::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: -1px;
  width: 1px;
  height: 1445px;
  background-color: $white-color;
  @media screen and (min-width: 768px) {
    height: 840px;
  }
  @media screen and (min-width: 1680px) {
    top: 10px;
    left: -50%;
    width: 200%;
    height: 1px;
  }
}
.programm-item {
  position: relative;
  @media screen and (min-width: 1680px) {
    width: calc((100% - 30px * 4) / 5);
    margin-right: 30px;
  }
}
.semester-list_title {
  display: flex;
  align-items: center;
  margin-top: 40px;

  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $white-color;
  @media screen and (min-width: 1680px) {
    font-weight: bold;
    font-size: 30px;
    line-height: 0.93;
    margin-top: 35px;
  }
}
.semester-list_title::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: $accent-color;
  @media screen and (min-width: 768px) {
    left: -56px;
  }
  @media screen and (min-width: 1680px) {
    left: 0;
    top: -8%;
  }
}
.semester-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1680px) {
    flex-direction: column;
  }
}
.semester-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 50px * 2) / 3);
  }
  @media screen and (min-width: 1680px) {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1679px) {
  .semester-item:not(:nth-child(3n + 3)) {
    margin-right: 50px;
  }
}
.semester-item_title {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.65;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: $accent-color;
  @media screen and (min-width: 1680px) {
    font-size: 20px;
    line-height: 1.65;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}

.semester-text {
  // margin-right: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: $primary-text-color;
  opacity: 0.5;
  @media screen and (min-width: 1680px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.features {
  position: absolute;
  bottom: -40%;
  right: 20px;
  width: 100%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  @media screen and (min-width: 320px) {
    width: 320px;
    bottom: -44%;
  }
  @media screen and (min-width: 768px) {
    width: 688px;
    bottom: -62%;
    right: 0;
  }
  @media screen and (min-width: 1680px) {
    width: 1320px;
    bottom: -73%;
  }
}
.features-title {
  position: relative;
  display: block;
  width: 60%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: auto;
  text-align: left;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  @media screen and (min-width: 1680px) {
    display: none;
  }
}
.features-box {
  position: relative;
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: $white-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  z-index: 99;
  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 688px;
    height: 394px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px 25px 100px;
  }
  @media screen and (min-width: 1680px) {
    width: 1320px;
    height: 398px;
    padding: 70px 83px;
    z-index: 99;
  }
}
.features-box::before {
  content: '';
  position: absolute;
  @media screen and (max-width: 767px) {
    right: -20px;
    top: -174px;
    width: 120px;
    height: 137px;

    background-image: url('../images/programm/programm-img.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/programm/programm-img@2x.jpg');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    width: 384px;
    height: 253px;
    top: -88%;
    right: -34px;
    background-image: url('../images/programm/programm-img-tablet.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/programm/programm-img-tablet@2x.jpg');
    }
  }

  background-repeat: no-repeat;
}
.features-photo-box {
  position: absolute;
  @media screen and (min-width: 1680px) {
    display: block;
    width: 760px;
    height: 502px;
    top: -65%;
    left: -20%;
    background-image: url('../images/programm/programm-img-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/programm/programm-img-desktop@2x.jpg');
      background-repeat: no-repeat;
    }
  }
}
.features-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 20px) / 2);
  }
  @media screen and (min-width: 1680px) {
    width: calc((100% - 40px * 2) / 3);
  }
}
.features-item:not(:nth-child(2n + 2)) {
  @media screen and (min-width: 768px) and (max-width: 1679px) {
    margin-right: 20px;
  }
}
.features-item:not(:nth-child(3n + 3)) {
  @media screen and (min-width: 1680px) {
    margin-right: 40px;
  }
}

.features-item_title {
  margin-top: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: $accent-color;
}
.features-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: $title-text-color;
  @media screen and (min-width: 1680px) {
    font-size: 20px;
    line-height: 1.4;
  }
}
