.products-wrapper {
  padding-top: 120px;
  padding-bottom: 98px;
  padding-left: 20px;
  padding-right: 20px;

  @include for-size(tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @include for-size(desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
    padding-left: 0;
    padding-right: 0;
  }
}

.products-title {
  margin-bottom: 144px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-text-color;

  @include for-size(tablet) {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.15;
  }

  @include for-size(desktop) {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.products-part {
  font-family: Titan One;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.17;
  font-weight: normal;
  color: $second-text-color;
  display: block;

  @include for-size(tablet) {
    font-size: 26px;
    line-height: 1.15;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-list {
  @include for-size(tablet) {
    display: flex;
  }
}

.products-item {
  position: relative;
  padding-top: 144px;
  padding-left: 40px;
  padding-right: 40px;

  &:not(:last-child) {
    margin-bottom: 130px;

    @include for-size(tablet) {
      margin-bottom: 0;
      margin-right: 20px;
    }

    @include for-size(desktop) {
      margin-right: 26px;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-size(tablet) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @include for-size(desktop) {
    // margin-right: 26px;
    padding-left: 44px;
    padding-right: 44px;
  }
}

.icecream-item {
  background-color: $bg-hero;
  border-radius: 24px;
}
.icecoffee-item {
  background-color: $bg-product-beige;
  border-radius: 24px;
}
.milkshakes-item {
  background-color: $bg-product-green;
  border-radius: 24px;
}

.cards-title {
  font-family: Titan One;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $bg-white;
  margin: 0;
  margin-bottom: 30px;

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 32px;
  }
}

.cards-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: $bg-white;
  margin-bottom: 30px;

  @include for-size(tablet) {
    line-height: 1.79;
    margin-bottom: 40px;
  }

  @include for-size(desktop) {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 62px;
  }
}

.icon-dots {
  width: 26px;
  height: 6px;
  fill: $bg-white;
  margin-bottom: 30px;
}

.arrow-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: $bg-white;
  margin-bottom: 42px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    border: 1px solid $main-text-color;
  }
}

.arrow-icon {
  width: 15px;
  height: 15px;
  fill: $main-text-color;
}

.absolute-block {
  position: absolute;
  bottom: 360px;

  @include for-size(mobile) {
    bottom: 280px;
  }

  @include for-size(tablet) {
    bottom: 370px;
  }

  @include for-size(desktop) {
    bottom: 380px;
  }
}

.is-hidden {
  display: block;

  @include for-size(mobile) {
    display: none;
  }
}
