.production {
  background-color: $secondary-bg-color;
  padding-top: 125px;
  padding-bottom: 145px;
  margin: 0 auto;
  background-image: url(../images/background-milk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 790px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-width: 320px) {
    background-image: url(/images/background-milk@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: none;
    padding-bottom: 246px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 534px;
    padding-bottom: 310px;
    background-image: url(/images/background-milk-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 400px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/background-milk-desktop@2x.png);
    }
  }

  .button-white {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 17px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-top: 62px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 45px;
    }
  }

  .btn-svg {
    margin-left: 14px;
  }
}

.production .title {
  color: $accent-color;
  margin-bottom: 26px;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 102px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}

.production .sub-title {
  display: block;
  color: $sub-title-color;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}

.production .container {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.production-desc {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 39px;
  width: 220px;
  padding-top: 300px;

  @media screen and (min-width: 768px) {
    position: static;
    margin-bottom: 66px;
    width: 50%;
    padding-top: 0;
    padding-left: 15px;

    margin-left: auto;
    margin-right: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 146px;
    padding-left: 80px;
  }
}

.production-desc::before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  width: 100%;
  height: 100%;
  background-image: url(/images/production.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/images/production@2x.png);
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 340px;
    background-size: contain;
    top: 151px;
    left: 15px;
    background-image: url(/images/production-tablet.png);
    margin-bottom: 0;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/production-tablet@2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 516px;
    height: 516px;
    top: 170px;
    left: 15px;
    background-image: url(/images/production-desktop.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/production-desktop@2x.png);
    }
  }
}

.desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: $primary-desc-color;
  margin-bottom: 35px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.secondary-desc {
  color: $secondary-desc-color;
  font-size: 12px;
  line-height: 1.62;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
  }
}

.secondary-desc.first {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 22px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.production-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }
}

.production-list-item {
  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 180px;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 330px;
    font-size: 16px;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .text {
    font-size: 12px;
    line-height: 1.7;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.74;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.76;
    }
  }

  .desc-numbers {
    color: $accent-color;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: $title-font;
    font-weight: 400;
    margin-bottom: 13px;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 58px;
    }
  }
}

.production-box {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }
}

.icon-milk::before {
  background-image: url(/images/production-icon1.png);
  background-size: 33px 50px;
  background-repeat: no-repeat;
}

.icon-apple::before {
  background-image: url(/images/production-icon2.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.icon-heart::before {
  background-image: url(/images/production-icon3.png);
  background-size: 45px 50px;
  background-repeat: no-repeat;
}
