.title {
  color: $accent-color;
}
.sub-title {
  color: $sub-title-color;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}
.products-section {
  background-color: $primary-color;
}
.products-subtitle {
  margin-bottom: 30px;
  font-family: $title-font;
  color: $primary-color;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    background-image: url(../images/pseudoelement.svg);
    width: 26px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    margin-top: 30px;
  }
}
.products-desc.pink {
  background-color: $hero-bg-color;
  border-radius: 24px;
}
.products-desc.brown {
  background-color: $secondary-product-bg-color;
  border-radius: 24px;
}
.products-desc.green {
  background-color: $third-product-bg-color;
  border-radius: 24px;
}

.description {
  color: $primary-color;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.04em;
  overflow: hidden;
}
.products-list-item {
  position: relative;
}
.products-desc .image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.products-svg {
  width: 40px;
  height: 40px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  fill: $accent-color;
}

@media screen and (max-width: 767px) {
  .products-section {
    padding-top: 121px;
    padding-bottom: 98px;
  }
  .title {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 31px;
  }
  .sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
  }
  .products-list {
    width: 280px;
    margin: 0 auto;
}
  .products-list-item {
    padding-top: 113px;

}
  .products-list-item:not(:last-child) {
    margin-bottom: 130px;
  }

  .products-desc {
    width: 280px;
    height: 485px;
    padding-top: 161px;
    padding-left: 41px;
    padding-right: 39px;
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }
  .description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .products-section {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  .title {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 39px;
  }
  .sub-title {
    font-size: 26px;
    line-height: 1.15;
    font-weight: 400;
  }
  .products-list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -10px;
  }
  .products-list-item {
    margin: 0 10px;
    padding-top: 104px;
  }

  .products-desc {
    width: 220px;
    height: 485px;
    padding-top: 152px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .description {
    font-size: 14px;
    line-height: 1.78;
    height: 124px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
  .products-section {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  .title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 49px;
    }
  .sub-title {
    font-size: 30px;
    line-height: 1.13;
    }
  .products-subtitle {
    font-size: 30px;
    margin-bottom: 32px;

    &::after {
      margin-top: 32px;
    }
  }
  .products-list {
    margin: 0 -15px;
  }
  .products-list-item {
    padding-top: 204px;
    margin: 0 15px;
  }
  .products-desc {
    width: 329px;
    height: 525px;
    padding-top: 163px;
    padding-left: 44px;
    padding-right: 45px;
  }
  .description {
    font-size: 16px;
    line-height: 1.75;
    height: 106px;
    margin-bottom: 62px;
  }
}
}
