.registration {
  background: #111518;
  background-image: url('/images/img-mob/form-foto-mob.png');
  background-repeat: no-repeat;
  background-size: 320px 507px;
  background-size: cover;
  background-position: center;
}

.registration-field {
  padding-top: 50px;

  &-title {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.357;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
    color: $title-dark-theme-color;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-align: center;
    color: $title-dark-theme-color;
  }
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;

  &-field {
    margin-bottom: 20px;

    &:nth-child(2) {
      margin-bottom: 50px;
    }
  }

  &-input {
    display: inline-block;
    align-items: center;
    width: 280px;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.08em;
    color: $title-dark-theme-color;
    border: 1px solid $secondary-background;
    background-color: transparent;
    padding: 15px 28px;
    cursor: pointer;

    &::placeholder {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.214;
      letter-spacing: 0.08em;
      color: $title-dark-theme-color;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .registration {
    background-image: url('/images/img-mob/form-foto-mob@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .registration {
    background-image: url('/images/img-tab/form-foto-tab.png');
    background-size: 768px 520px;
    background-size: cover;
  }

  .registration-field {
    &-title {
      font-size: 26px;
      line-height: 1.308;
    }
    &-subtitle {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.214;
      color: $title-dark-theme-color;
    }
  }

  .registration-form {
    margin-top: 40px;
    display: flex;
    align-items: center;

    &-field {
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }

    &-input {
      width: 390px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .registration {
    background-image: url('/images/img-tab/form-foto-tab@2x.png');
  }
}

@media screen and (min-width: 1680px) {
  .registration {
    background-image: url('/images/img-desktop/form-foto-desktop.png');
    background-size: 1680px 840px;
    background-size: cover;
  }

  .registration-field {
    &-title {
      font-size: 49px;
      line-height: 1.304;
      margin-bottom: 50px;
    }
    &-subtitle {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.233;
      color: $title-dark-theme-color;
    }
  }

  .registration-form {
    margin-top: 56px;
    display: flex;
    align-items: center;

    &-field {
      &:nth-child(2) {
        margin-bottom: 80px;
      }
    }

    &-input {
      width: 478px;
      height: 70px;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.08em;
      padding: 23px 40px;

      &::placeholder {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.08em;
      }
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1680px),
  screen and (min-resolution: 192dpi) and (min-width: 1680px),
  screen and (min-resolution: 2dppx) and (min-width: 1680px) {
  .hero {
    background-image: url('/images/img-desktop/form-foto-desktop@2x.png');
  }
}
