.section-title {
  margin: 0 0 20px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  @include for-size(tablet-landscape) {
    margin: 0 0 30px;
  }
  @include for-size(desktop) {
    margin: 0 0 50px;
  }
}

// Отзывы
.review {
  position: relative;

  @include for-size(desktop) {
    padding-right: 270px;
    padding-left: 270px;
  }
}

.review-container {
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  text-align: center;
}

.review-set {
  overflow: hidden;
  display: flex;

  @include for-size(tablet-landscape) {
    display: flex;
    overflow: hidden;
  }
  @include for-size(desktop) {
    display: flex;
    overflow: hidden;
  }
}

.review-element {
  min-width: 100%;

  @include for-size(tablet-landscape) {
    display: flex;
  }
}
.review-picture {
  margin-top: 20px;
  margin-right: 20px;

  @include for-size(tablet-landscape) {
    margin-top: 40px;
    margin-right: 20px;
  }
  img {
    min-width: 150px;
    margin: 0 auto 20px;
  }

  @include for-size(desktop) {
    margin-top: 50px;
  }
}
.review-icon {
  fill: #436eab;
  &:hover,
  &:focus {
    transform: scale(1);
    transition: transform 300ms $timing-function;
    fill: $accent-color;
  }
}

.review-sign {
  margin: 20px 20px 30px;

  @include for-size(tablet-landscape) {
    margin: 40px 27px 40px;
    text-align: left;
  }
  @include for-size(desktop) {
    margin: 50px 20px 50px 20px;
  }
}

.review-title {
  margin: 0 0 10px;

  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;

  color: $accent-color;

  @include for-size(tablet-landscape) {
    margin: 0 0 20px;
  }
  @include for-size(desktop) {
    margin: 0 0 10px;
  }
}
.review-title-sign {
  margin: 0 0 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;

  color: $informacion-text-color;

  @include for-size(tablet-landscape) {
    margin: 0 0 20px;
  }
}
.review-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: $secondary-text-color;
}
.review-btn {
  border: none;
  text-decoration: underline;
  color: $accent-color;
  background-color: $primary-white-color;

  &:hover {
    transform: scale(1.1);
    transition: transform 300ms $timing-function;
    text-decoration: none;
  }
}
// // Аватарки

// Стрелка
.avatars-btn {
  position: absolute;
  border: none;
  background-color: inherit;
  bottom: 10px;

  &:hover {
    transform: scale(1.1);
    transition: transform 300ms $timing-function;
  }
}
.left {
  left: 20px;

  @include for-size(tablet-landscape) {
    top: 50%;
    bottom: 50%;
  }
  @include for-size(desktop) {
    left: 150px;
    top: 50%;
    bottom: 50%;
  }
}
.right {
  right: 20px;

  @include for-size(tablet-landscape) {
    top: 50%;
    bottom: 50%;
  }
  @include for-size(desktop) {
    right: 150px;
  }
}

.display {
  display: none;

  @include for-size(tablet-landscape) {
    display: block;
  }
}

.avatars-set {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-right: -10px;

  @include for-size(tablet-landscape) {
    justify-content: center;
    margin-right: 0;
  }
}
.avatars-element {
  margin-right: 10px;

  @include for-size(tablet-landscape) {
    margin-right: 20px;
  }
  &:hover {
    transform: scale(1.1);
    transition: transform 300ms $timing-function;
  }
}
