.container.review {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.review__section {
  margin: 0 auto;
  text-align: center;
}

.review__button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  @media screen and (max-width: 767px) {
    bottom: 70px;
  }
  &--left {
    left: 20px;
  }
  &--right {
    right: 20px;
  }
}

.review__title {
  @include font($font, normal, 800, 20px, 1.3);
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.reviw__student-picture {
  // margin-bottom: 20px;
  margin: 0 auto 20px;
}

.review__student-contact {
  display: inline-block;
  margin-bottom: 20px;
}

.review__student-name {
  @include font($font, normal, 800, 14px, 1.21);
  letter-spacing: 0.08em;
  color: $orange;
  margin-bottom: 10px;
}

.review__student-eduction {
  @include font($font, normal, 500, 12px, 1.25);
  letter-spacing: 0.08em;
  color: $light-font;
  // margin-bottom: 10px;
  margin: 0 20px 10px;
}

.review__student-comment {
  @include font($font, normal, 500, 12px, 1.67);
  color: $sec-light-font;
  // margin-bottom: 50px;
  margin: 0 20px 50px;
}

.review__comment-more {
  display: block;
  color: $orange;
  text-decoration: underline;
}

.review__students-list {
  display: flex;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    width: 182px;
    overflow: hidden;
  }
}

.review__student {
  min-width: 54px;
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.review__student-button {
  padding: 0;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  &:hover,
  &:focus {
    border: 1px solid $orange;
  }
}
// .review--not-mobile {
//   @media screen and (max-width: 767px) {
//     display: ;
//   }
// }
