.features {
  padding-top: 39px;
  padding-bottom: 59px;

  @include for-size(tablet) {
    padding-bottom: 140px;
  }

  @include for-size(desktop) {
    padding-bottom: 139px;
  }
}

//.features-bg {
//  width: 100%;
//  background-color: $background-made-footer-locations;
//}

.features-item {
  text-align: left;
  font-family: Titan One;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  margin-top: 16px;
  margin-bottom: 0;

  @include for-size(tablet) {
    margin-top: 36px;
  }

  @include for-size(desktop) {
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

.features-text {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
}

.features-blok {
  padding-bottom: 38px;
}