.product-item {
  width: 280px;
  height: 485px;
  background-color: $color-main-product-1;
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 17px;
  }

  .product-item-title {
    margin-bottom: 30px;
    font-family: Titan One;
    font-weight: 400;
    font-size: 20px;
    line-height: 1, 15;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-main;
  }

  .product-item-text {
    margin-bottom: 30px;

    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 5;

    text-align: center;
    letter-spacing: 0.04em;

    color: $color-main;
  }

  .product-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    color: $color-accent;
  }
}
