.made {
  background-color: #fff;
  @include for-size(desktop) {
    background-image: url(./../images/made/made-bg-1280.png);
    background-size: contain;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(./../images/made/made-bg-2560.png);
    }
  }
}
