.howitsmade {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: $section-background;
}

.container-howitsmade {
  width: auto;
  display: block;

  @include for-size(tablet) {
    padding-bottom: 66px;
  }

  @include for-size(desktop) {
    padding-bottom: 146px;
  }
}

.howitsmade-title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.howitsmade-title-name {
  padding: 0;
  margin: 0;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  color: $secondary-color;
  text-transform: uppercase;

  @include for-size(tablet) {
    font-size: 26px;
    line-height: 1.15;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.145;
  }
}

.howitsmade-title-rename {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  color: $accent-color;
  text-transform: uppercase;

  @include for-size(tablet) {
    font-size: 46px;
    line-height: 1.145;
  }

  @include for-size(desktop) {
    font-size: 58px;
    line-height: 1.144;
  }
}

.howtsmade-img {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  margin-bottom: 46px;

  @include for-size(tablet) {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 17px;
    width: 340px;
  }

  @include for-size(desktop) {
    width: 516px;
    margin-top: 55px;
    margin-right: 74px;
  }
}

.howitsmade-description {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include for-size(mobile) {
    position: relative;
    background-image: url('../images//desktop_background_milk_1x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 90%;
  }

  @include for-size(tablet) {
    background-image: none;
  }

  @include for-size(desktop) {
    position: relative;

    background-image: url('../images//desktop_background_milk_1x.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.howitsmade-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $black-color;
  width: 100%;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;

  p:not(:first-child) {
    margin-top: 30px;
  }

  p:not(:first-child) {
    color: $grey-color;
  }

  @include for-size(tablet) {
    margin-left: 0;
    margin-right: 0;
    max-width: 340px;
    margin-top: 100px;
    font-size: 14px;
    line-height: 1.78;
  }

  @include for-size(desktop) {
    max-width: 463px;
    margin-top: 106px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.howitsmade-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 160px;
  height: 44px;

  border-radius: 22px;
  cursor: pointer;
  color: $accent-color;
  background: $white-color;

  &:hover {
    background: $button-secondary-hover;
  }

  &:focus {
    background: $button-secondary-hover;
  }

  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.howitsmade-icon {
  fill: $accent-color;
  align-items: center;
  vertical-align: middle;
  margin-left: 13.6px;
}
.howtsmade-images {
  @include for-size(mobile-only) {
    position: absolute;
    padding-top: 460px;
  }

  @include for-size(tablet) {
    display: none;
  }
}
