.hero {
  background: $background-pink;
}
.hero__container {
  padding-top: 193px;
  padding-bottom: 160px;
  background: url('../images/hero/mobile/mobile_icecream_1x.png') no-repeat
      bottom left 117px,
    url('../images/hero/mobile/mobile_ellips_1x.png') no-repeat center left 36px;

  @include dpr2 {
    background: url('../images/hero/mobile/mobile_icecream_2x.png') no-repeat
        bottom left 117px,
      url('../images/hero/mobile/mobile_ellips_2x.png') no-repeat center left
        36px;

    background-size: 171px 410px, 346px 346px;
  }

  @include dpr3 {
    background: url('../images/hero/mobile/mobile_icecream_3x.png') no-repeat
        bottom left 117px,
      url('../images/hero/mobile/mobile_ellips_3x.png') no-repeat center left
        36px;
    background-size: 171px 410px, 346px 346px;
  }

  @include from(tablet) {
    padding-top: 96px;
    padding-bottom: 28px;
    background: url('../images/hero/tablet/tablet_icecream_1x.png') no-repeat
        bottom right 247px,
      url('../images/hero/tablet/tablet_girl_1x.png') no-repeat bottom right
        34px,
      url('../images/hero/tablet/tablet_ellips_1x.png') no-repeat top 31px right
        137px;

    @include dpr2 {
      background: url('../images/hero/tablet/tablet_icecream_2x.png') no-repeat
          bottom right 247px,
        url('../images/hero/tablet/tablet_girl_2x.png') no-repeat bottom right
          34px,
        url('../images/hero/tablet/tablet_ellips_2x.png') no-repeat top 31px
          right 137px;
      background-size: 143px 336px, 168px 133px, 324px 324px;
    }
    @include dpr3 {
      background: url('../images/hero/tablet/tablet_icecream_3x.png') no-repeat
          bottom right 247px,
        url('../images/hero/tablet/tablet_girl_3x.png') no-repeat bottom right
          34px,
        url('../images/hero/tablet/tablet_ellips_3x.png') no-repeat top 31px
          right 137px;
      background-size: 143px 336px, 168px 133px, 324px 324px;
    }
  }

  @include from(desktop) {
    padding-top: 160px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
    background: url('../images/hero/desktop/desktop_icecream_1x.png') no-repeat
        bottom right 450px,
      url('../images/hero/desktop/desktop_girl_1x.png') no-repeat bottom right
        109px,
      url('../images/hero/desktop/desktop_ellips_1x.png') no-repeat top 52px
        right 267px;

    @include dpr2 {
      background: url('../images/hero/desktop/desktop_icecream_2x.png')
          no-repeat bottom right 450px,
        url('../images/hero/desktop/desktop_girl_2x.png') no-repeat bottom right
          109px,
        url('../images/hero/desktop/desktop_ellips_2x.png') no-repeat top 52px
          right 267px;
      background-size: 236px 557px, 293px 232px, 538px 538px;
    }

    @include dpr3 {
      background: url('../images/hero/desktop/desktop_icecream_3x.png')
          no-repeat bottom right 450px,
        url('../images/hero/desktop/desktop_girl_3x.png') no-repeat bottom right
          109px,
        url('../images/hero/desktop/desktop_ellips_3x.png') no-repeat top 52px
          right 267px;
      background-size: 236px 557px, 293px 232px, 538px 538px;
    }
  }
}

.hero-top-line {
  display: flex;
  justify-content: space-between;
}

.passions {
  max-width: 218px;

  @include from(tablet) {
    max-width: 162px;
    margin-top: 6px;
    margin-bottom: 19px;
    margin-left: 14px;
  }

  @include from(desktop) {
    max-width: 277px;
    margin-top: 11px;
    margin-bottom: 56px;
    margin-left: 95px;
  }
}

.passions-text {
  margin-bottom: 25px;
  color: $white-color;
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include from(tablet) {
    font-size: 22px;
    line-height: 1.13;
  }

  @include from(desktop) {
    font-size: 38px;
  }

  span {
    color: $accent-color;
    font-size: 48px;
    line-height: 0.95;

    @include from(tablet) {
      font-size: 34px;
      line-height: 0.9;
    }

    @include from(desktop) {
      font-size: 58px;
      line-height: 0.88;
    }
  }
}
.anchor {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    display: block;
    padding: 7px 14px;
    font-family: DM Sans;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 20px;
    transition: 250ms;

    @include from(desktop) {
      padding: 11px 20px;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  .anchor-products {
    margin-right: 8px;
    color: $white-color;
    background: $accent-color;

    @include from(desktop) {
      margin-right: 15px;
    }

    &:hover,
    &:focus {
      background: $button-primary-hover;
    }
  }
  .anchor-how-its-made {
    color: $accent-color;
    background: $white-color;

    &:hover,
    &:focus {
      background: $button-secondary-hover;
    }
  }
}

.food-point {
  @include to(tablet) {
    display: none;
  }

  margin-right: 24px;
  color: $accent-color;
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;

  @include from(desktop) {
    margin-right: 77px;
    font-size: 46px;
    line-height: 1.15;
  }
}

.food-point-item {
  height: 42px;
  margin-bottom: 14px;

  @include from(desktop) {
    height: 73px;
    margin-bottom: 18px;
  }
}

.food-point-count {
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: -2px;
    right: -10px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $white-color;

    @include from(desktop) {
      width: 30px;
      height: 30px;
      top: -4px;
      right: -18px;
    }
  }
}

.food-point-kind {
  vertical-align: top;
  color: $white-color;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.25;

  @include from(desktop) {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.eco-info {
  display: none;

  @include from(tablet) {
    display: flex;
    align-items: center;
    margin-left: 14px;
  }

  @include from(desktop) {
    margin-left: 57px;
  }
}

.milk-jug {
  width: 124px;
  height: 126px;

  @include from(desktop) {
    width: 188px;
    height: 191px;
  }
}

.eco-info-description {
  max-width: 114px;
  padding-top: 47px;
  color: $white-color;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  @include from(desktop) {
    max-width: 200px;
    padding-top: 56px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.link-more-btn.eco-info-link-more {
  width: 18px;
  height: 18px;
  margin-top: 7px;

  @include from(desktop) {
    margin-top: 20px;
    width: 26px;
    height: 26px;
  }
}

.link-more-btn-arrow.eco-info-link-more-arrow {
  width: 8px;
  height: 7px;
}
