.section-locations {
  padding-bottom: 29px;
  background-color: $section-background;

  @include for-size(tablet) {
    padding-bottom: 87px;
  }

  @include for-size(desktop) {
    padding-bottom: 63px;
    background-image: url('../images/desktop_background_pink_1x.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include for-size(mobile-only) {
      padding-right: 50px;
      padding-left: 50px;
      transform: translateY(-84px);
    }
    @include for-size(tablet) {
      transform: translateY(-78px);
    }
    @include for-size(desktop) {
      transform: translateY(-102px);
    }
  }
}

.locations-title-hidden {
  @extend %visually-hidden;
}

.locations-buttons {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  @include for-size(tablet) {
    display: flex;
  }
}

.locations-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 44px;

  border-radius: 22px;

  transition-duration: 250ms;

  &:first-child {
    background-color: $accent-color;
    color: $white-color;

    &:hover,
    &:focus {
      background-color: $button-primary-hover;
    }

    @include for-size(mobile-only) {
      margin-bottom: 10px;
    }
    @include for-size(tablet) {
      margin-right: 15px;
      width: 191px;
    }
    @include for-size(desktop) {
      width: 198px;
    }
  }

  &:last-child {
    background-color: $white-color;
    color: $accent-color;

    &:hover,
    &:focus {
      background-color: $button-secondary-hover;
    }

    @include for-size(tablet) {
      width: 174px;
    }
    @include for-size(desktop) {
      width: 180px;
    }
  }
}

.location-svg {
  display: block;
  width: 7px;
  height: 10px;
  margin-left: 8px;

  @include for-size(tablet) {
    margin-left: 13px;
  }
  @include for-size(desktop) {
    margin-left: 14px;
  }
}
