.pictures-container {
  display: flex;
  justify-content: center;
  padding-bottom: 123px;
}

.pictures {
  border-radius: 15%;
  max-height: 40px;
  margin: 0;
  transition-duration: 250ms;
  transition-timing-function: $bezier-page;

  @include for-size(tablet) {
    max-height: 85px;
  }

  @include for-size(desktop) {
    max-height: 138px;
  }

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.pictures-one {
  max-height: 80px;
  border-radius: 15%;
  transition-duration: 250ms;
  transition-timing-function: $bezier-page;

  @include for-size(tablet) {
    max-height: 175px;
  }

  @include for-size(desktop) {
    max-height: 285px;
  }

  &:hover,
  &:focus {
    transform: scale(1.25);
  }
}

.img-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2px;

  @include for-size(tablet) {
    margin-right: 4px;
  }

  @include for-size(desktop) {
    margin-right: 6px;
  }
}

.cream {
  margin-bottom: 2px;

  @include for-size(tablet) {
    margin-bottom: 4px;
  }

  @include for-size(desktop) {
    margin-bottom: 6px;
  }
}

.glass {
  margin-top: 10px;
  margin-bottom: 2px;

  @include for-size(tablet) {
    margin-bottom: 4px;
  }

  @include for-size(desktop) {
    margin-bottom: 6px;
    margin-top: 30px;
  }
}

.dog {
  margin-top: -10px;
  margin-bottom: 2px;

  @include for-size(tablet) {
    margin-bottom: 4px;
    margin-top: -30px;
  }

  @include for-size(desktop) {
    margin-bottom: 6px;
    margin-top: -60px;
  }
}
