.section.reviews {
  min-width: 0;
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.reviews {
  &__slide {
    width: 480px;
    width: 100%;
    font-family: DM Sans;
    font-weight: 500;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-right: auto;
      margin-left: auto;
      width: 620px;
    }

    @media screen and (min-width: 1200px) {
      width: 926px;
    }
  }

  &__girl {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  // &__text-item {
  //   padding-right: 44px;
  //   padding-left: 20px;
  // }

  // &__item {
  //   display: inline-block;
  //   align-items: center;
  //   background-image: repeating-linear-gradient(
  //     to bottom,
  //     transparent,
  //     transparent 28px,
  //     #d9d9d9 2px,
  //     #d9d9d9 33px
  //   );
  // }

  &__text {
    padding: 43px 66px 26px 66px;
    margin-bottom: 30px;

    font-size: 12px;
    line-height: 2.55;

    background: #fafafa;
    background-image: url('../images/reviews/quote.svg');
    background-repeat: no-repeat;
    background-size: auto auto;

    background-position: top 20px left 65px;

    @media screen and (min-width: 769px) {
      padding: 47px 80px 34px 80px;
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 0.04em;

      background-position: top 30px left 40px;
    }

    @media screen and (min-width: 1200px) {
      padding: 47px 87px 39px 89px;

      font-size: 16px;
      line-height: 1.86;

      background-position: top 32px left 50px;
    }
  }

  &__dots {
    font-size: 0;
    margin-bottom: 18px;
  }
  &__dot {
    display: inline-block;

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c7133e;
  }

  &__dot:not(:last-child) {
    margin-right: 10px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.86;
    font-weight: inherit;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 35px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }
}

// /* Слайдер */
// .slick-slider {
// }
// /* Слайдер запущен */
// .slick-slider.slick-initialized {
// }
// /* Слайдер с точками */
// .slick-slider.slick-dotted {
// }

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
// /* Слайд */
// .slick-slide {
// }
// /* Слайд активный (показывается) */
// .slick-slide.slick-active {
// }
// /* Слайд основной */
// .slick-slide.slick-current {
// }
// /* Слайд по центру */
// .slick-slide.slick-center {
// }
// /* Клонированный слайд */
// .slick-slide.slick-cloned {
// }
// /* Стрелка */
// .slick-arrow {
// }
// /* Стрелка влево */
// .slick-arrow.slick-prev {
// }
// /* Стрелка вправо */
// .slick-arrow.slick-next {
// }
// /* Стрелка не активная */
// .slick-arrow.slick-disabled {
// }

/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  // margin-right: 18px;
  cursor: pointer;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

// /* Активная точка */
// .slick-dots li.slick-active {
// }

/* Элемент точки */
.slick-dots > li > button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-image: url('../images/icon-dot.svg');

  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-dots > li.slick-active > button {
  background-image: url('../images/icon-home.svg');
  background-position: center;
  background-repeat: no-repeat;
}
