.slider {
  display: flex;
  justify-content: center;
  width: $mobile;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;

  @media screen and(min-width:$tablet) {
    width: $tablet;
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 121px;
    
  }
  
  &-text {
    width: 280px;
    padding: 43px 66px 26px 57px;
    margin: 0;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 2.55;
    text-align: center;
    background-color: #FAFAFA;
    color: #000000;
    background-image: url(../img/underline-slider.png);
    background-repeat: no-repeat;
    background-position: 50px 71px;

    @media screen and (min-width:$tablet) {
      width: 620px;
      padding: 47px 80px 34px;
      font-size: 14px;
line-height: 2.16;
letter-spacing: 0.04em;
background-image: url(../img/Vector-tablet.png);
background-repeat: repeat(3);
background-position: 60px 76px;

    }
  }

  &-img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      
  }
  &-subtitle {

  }
}
