.teacher-section {
  width: 100%;

  background-color: #ffffff;
}
.teacher {
  padding-top: 270px;

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    display: flex;
    padding-top: 302px;
  }
  @media screen and (min-width: 1680px) {
    display: flex;
    padding-top: 252px;
  }
}

.title-teacher {
  color: $title-text-color;
  @media screen and (max-width: 767px) {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;

    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1679px) {
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;

    margin-bottom: 30px;
  }
  @media screen and (min-width: 1680px) {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.tabl-experience {
  @media screen and (min-width: 768px) and (max-width: 1679px) {
    margin-top: 112px;
    margin-left: 40px;
  }
  @media screen and (min-width: 1680px) {
    margin-left: 30px;
    margin-top: 230px;
    margin-right: 112px;
  }
}
.title-name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  margin-bottom: 20px;

  padding-bottom: 10px;
  border-bottom: 1px solid $primary-text-color;

  color: $title-text-color;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media screnn and (min-width: 768px) and (max-width: 1680px) {
    margin-top: 112px;
  }
  @media screen and (min-width: 1680px) {
    font-size: 30px;
    line-height: 1.23;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}
.teacher-experience {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;

  color: $title-text-color;
  @media screen and (min-width: 320px) and (max-width: 767px) {
  }

  @media screen and (min-width: 1680px) {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
  }
}

.icon-galka {
  content: '';
  position: absolute;

  margin-right: 9px;
  margin: 0;
}
.experience-text {
  margin-left: 27px;
}
.line {
  position: relative;
  display: flex;
  align-items: center;

  width: 88px;
  height: 33px;

  @media screen and (min-width: 320px) and (max-width: 1679px) {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 1680px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.icon-line {
  content: '';
  position: absolute;

  fill: $accent-color;
}

.teacher-education {
  @media screen and (min-width: 320px) and (max-width: 767px) {
  }
  @media screen and (min-width: 1680px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55;
  }
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
}
.certificate-teacher {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  text-decoration-line: underline;

  color: $accent-color;
  margin-top: 10px;

  @media screen and (min-width: 1680px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.555;
  }
}
