.testimonials {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fefefe;
  text-align: center;

  @media screen and (min-width: 1344px) {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 127px;
    padding-right: 127px;
  }

  &__title {
    @include font(800, 20px, 26px);
    letter-spacing: 0.03em;
    color: $primary-black-color;

    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      @include font(800, 26px, 34px);
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      @include font(800, 46px, 60px);
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    overflow: hidden;
  }

  &__prev-btn {
    position: absolute;
    left: 20px;
    bottom: 70px;

    @media screen and (min-width: 768px) {
      left: 28px;
      bottom: 50%;
      transform: translateY(-50%);
    }

    @media screen and (min-width: 1344px) {
      left: 43px;
    }
  }

  &__next-btn {
    position: absolute;
    right: 20px;
    bottom: 70px;

    @media screen and (min-width: 768px) {
      right: 28px;
      bottom: 50%;
      transform: translateY(-50%);
    }

    @media screen and (min-width: 1344px) {
      right: 43px;
    }
  }

  &__photos-list {
    display: flex;
    width: 192px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      width: 100%;
      justify-content: center;
    }
  }

  &__photos-item {
    min-width: 54px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.testimonial {
  min-width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;

  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 82px;
    padding-right: 112px;

    margin-bottom: 40px;
  }

  &__photo-thumb {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-style: none;
    overflow: hidden;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__social-link {
    display: block;
    height: 30px;
  }

  &__social-svg {
    fill: #436eab;
  }

  &__student-name {
    @include font(800, 14px, 17px);
    letter-spacing: 0.08em;
    color: $accent-color;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      @include font(800, 20px, 24px);
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1344px) {
      @include font(800, 30px, 37px);
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    @include font(500, 12px, 15px);
    letter-spacing: 0.08em;
    margin-bottom: 10px;
    max-width: 355px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (min-width: 1344px) {
      @include font(500, 14px, 17px);
      max-width: 438px;
    }
  }

  &__description {
    margin-bottom: 10px;
    @include font(500, 12px, 20px);
    color: #3d3d3d;

    @media screen and (min-width: 1344px) {
      @include font(500, 18px, 28px);
    }

    & .long-switch-btn,
    & .short-switch-btn {
      color: $accent-color;
      text-decoration: underline;
      cursor: pointer;
    }

    & .short-switch-btn,
    & .continue {
      display: none;
    }

    &--long {
      & .short-switch-btn,
      & .continue {
        display: inline;
      }

      & .long-switch-btn,
      & .text-dots {
        display: none;
      }
    }
  }

  &__avatar-side {
    @media screen and (min-width: 768px) {
      padding-right: 46px;
    }
  }

  &__description-side {
    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }
}

.hidden {
  display: none;
}
