.warranty-list {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  background: #F1F1F1; 
  }
.warranty__title {
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-black-color;
  margin-bottom: 30px;
}
.warranty-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-left: 30px;
  color: #3D3D3D;
}
.fire {
  position: relative;
  background-image: url("../images/fire.svg");
  background-repeat: no-repeat;
}
.fire:not(:last-child)::after {
  content: "";
  display: block;
  width: 0px;
  height: 68px;
  top:0;
  position: absolute;
  border-left: 1px dashed #B9B9B9;
  margin-top: 25px;
  right: 97%;
}

@media screen and (max-width: 479px)  {
  .section-warranty {
    padding-top: 50px;
  }
  .warranty__title {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 30px;
  }
  
 
 .warranty-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-left: 30px;
  color: #3D3D3D;
 }
 .accent {
  color: $accent-color;
 }
  .warranty-list__item:nth-child(-n + 3){
  margin-bottom: 23px;
  }


 .warranty-list__item:not(:last-child) {
  margin-bottom: 20px;
 }
}
@media screen and (min-width: 480px) {
  .section-warranty {
    padding-top: 50px;
  }
  .fire:not(:last-child)::after {
    height: 30px;
    margin-top: 25px;
    right: 98%;
  }
  .warranty-list__item:nth-child(-n + 3){
    margin-bottom: 23px;
    }
  .fire:not(:last-child)::after {
    content: "";
    display: block;
    width: 0px;
    height: 58px;
    top:0;
    position: absolute;
    border-left: 1px dashed #B9B9B9;
    margin-top: 25px;
    right: 98%;
  }
}
@media screen and (min-width: 768px) {
  .section-warranty {
    padding-top: 50px;
  }
  .warranty-list {
    padding-left: 60px;
    padding-right: 30px;
  }
  .fire:not(:last-child)::after {
    height: 35px;
    left: 1%;
  }
 
  .warranty-subtitle {
    margin-left: 35px;
  }
}



@media screen and (min-width: 1280px) {
 
  .section-warranty {
    padding-top: 130px;
  }
  .warranty__title{
  font-size: 46px;
  margin-bottom: 50px;
  }
  .warranty-subtitle {
    font-size: 20px;
    line-height: 28px;
  }
  .warranty-list {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F1F1F1;
  }
  .fire {
    background-image: url("../images/fired.svg");
    background-repeat: no-repeat;
  }
  .fire:not(:last-child)::after {
    height: 40px;
    left: 1%;
    margin-top: 35px;
  }
  .warranty-subtitle {
    margin-left: 50px;
  }
  .fire:not(:last-child)::after {
    content: "";
    display: block;
    width: 0px;
    height: 40px;
    top:0;
    position: absolute;
    border-left: 1px dashed #B9B9B9;
    margin-top: 35px;
    right: 97%;
  }
}


