.why-we {
  width: 100%;
  background-color: $primary-black-color;

  position: relative;
  padding-bottom: 250px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1354px) {
    padding-bottom: 120px;
  }
}

.container-name {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $white-color;

  @media screen and (max-width: 480px) {
    width: 150px;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    width: 100%;
  }

  @media screen and (min-width: 1354px) {
    display: none;
  }
}

.container-reason {
  position: relative;

  @media screen and (max-width: 480px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1354px) {
    margin-top: 0;
  }
}

.list-reason {
  counter-reset: section;
  background-color: #fff;
  position: absolute;

  width: 100%;

  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: 480px) {
    padding-top: 65px;
    padding-left: 100px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 85px;
  }

  @media screen and (min-width: 1354px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 85px;
  }
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: $primary-black-color;
  position: relative;
  margin-bottom: 60px;

  @media screen and (min-width: 1354px) {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.08em;
  }
}

.item-title::before {
  counter-increment: section;
  content: '0' counter(section);
  color: $orange-color;
  position: absolute;

  top: -20px;
  left: 30px;
}

.item-title::after {
  display: block;
  content: '';
  width: 20px;
  height: 3px;
  background-color: $orange-color;
  position: absolute;
  top: -9px;
}

.item-reason {
  margin-bottom: 30px;

  @media screen and (max-width: 480px) {
    width: calc((100% - 20px) / 2);
    // margin-left: 60px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 20px) / 2);
    margin-right: 10px;
  }

  @media screen and (min-width: 1354px) {

    width: calc((100% - 20px) / 3);
    margin-right: 0;

  }
}

// .item-reason:last-child {
//   margin-bottom: 0;
// }

// .item-title:last-child {
//   margin-bottom: 0;
// }
