.guaranties__title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;
}