.guaranties-wrap {
    background-color: #F1F1F1;
}

.guaranties-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.guaranties-list {
    border-left: 1px dashed $text-color;
    padding-left: 20px;
}
.guaranties-list-item {
    position: relative;
    &:not(:last-child){
        margin-bottom: 20px;
    }
}

.guaranties-list-svg{
    position: absolute;
    left: -30px; /*пол ширины + паддинг*/
}