.product {
  position: relative;
  overflow: hidden;
}

.modal-container {
  max-width: 250px;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.modal {
  top: 0%;
  left: 100%;
  position: absolute;
  width: 250px;
  height: 500px;
  background-color: #e17992;
  z-index: 5;
  transform: translateX(-100%);
  @include transition(transform 1s);
}

.modal.is-hidden {
  transform: translateX(0);
}

// .is-hidden {
//   visibility: hidden;
//   pointer-events: none;
//   transform: translateX(-100%);
//
// }
