.footer-content {
  padding: 84px 31px;
  background-color: $bg-color-footer;

  font-family: Raleway;
  //   color: $bg-color;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item-form {
  margin-bottom: 44px;
}
