.hero-title {
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $bg-color;
}

.logo {
    fill: $bg-color;

    @media screen and (min-width: $tablet){
        fill: $primary-text-color;
    }
}

.hero-overlay {
    max-width: 1125px;
    max-height: 680px;
    margin-right: auto;
  margin-left: auto;
  background-image:
    url(..//images/header-slider/mobile-slider-img-3.jpg);
    background-color: $primary-text-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
    background-color: grey;
}