h1, h2, p {
    margin: 0;
    padding: 0;
}

.page-header {
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .is-hidden {
        @media screen and (min-width: $tablet) {opacity: 1;
            visibility: visible;
            pointer-events: all;}
        }


        @media screen and (max-width: $before-tablet) {
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }

        @media screen and (min-width: $tablet) {
            padding-top: 40px;
            padding-left: 39px;
            padding-right: 39px;

            color: $h2-alt-text-color;
        }

        @media screen and (min-width: $desktop) {
            padding-top: 40px;
            padding-left: 55px;
            padding-right: 55px;
        }

}

.header-link {
    color: $primary-text-color;
    transition: all $animation-effect;

    &:hover, &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: $tablet) {
        color: $h2-alt-text-color;
    }
}

.header__contacts-link {
    font-size: 14px;
    line-height: 1.36em;
    letter-spacing: 0.2em;
    color: $primary-text-color;

    &:hover, &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: $tablet) {
        color: $h2-alt-text-color;
    }
}

.header-container {
    @media screen and (min-width: $tablet) {
        flex-direction: row;
    }
}

.drop-down-menu {
    @media screen and (max-width: $before-tablet) {
        display: none;
        position: absolute;
        right: 0;
        top: 60px;
        min-width: 200px;
        max-width: 357px;
        background-color: $bg-color;

        transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
    transition: transform $animation-effect, opacity $animation-effect;
    }
}



.drop-button {
    @media screen and (min-width: $before-tablet) {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;

    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

    @media screen and (min-width: $tablet) {
        display: none;
      }
  }

  .drop-down-icon .icon-menu {
    @media screen and (min-width: $before-tablet) {
      display: none;

    }
  }

  .is-hidden {
    @media screen and (max-width: $before-tablet) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      .drop-down-menu {
        transform: scaleY(0);
        opacity: 0;
      }

      + .drop-button {
        .icon-menu {
          display: block;
          fill: $bg-color;
          background-color: transparent;
        }
        .icon-cross {
          display: none;
        }
      }
    }
  }

.hero-title {
    margin-bottom: 20px;

    font-family: $font-family;
    font-size: 48px;
    line-height: 1.17em;
    letter-spacing: 0.05em;
    color: $bg-color;
}

.hero-title--second {
    position: relative;
    margin-bottom: 20px;
    margin-left: 80px;

    font-size: 10px;
    font-weight: 600;
    line-height: 1.37em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);

    &::before {
        position: absolute;
        background-color: rgba(157, 164, 189, 0.6);
        content: '';
        width: 60px;
        height: 1px;
        top: 8px;
        left: -80px;}
}

.container--hero {
    padding-left: 31px;

    @media screen and (max-width:$before-tablet) {
        max-width: 310px;
        padding-top: 110px;
        padding-bottom: 180px;
    }

    @media screen and (min-width:520px) and(max-width:600px){
        padding-left: 50px;
    }

    @media screen and (min-width:601px) and(max-width:$before-tablet){
        padding-left: 80px;
    }

    @media screen and (min-width:$tablet) {
        max-width: 355px;
        padding-top: 200px;
        padding-bottom: 245px;
    }
}

.logo {
        fill: $bg-color;

    @media screen and (min-width: $tablet){
        fill: $primary-text-color;
    }
}

.hero-info {
    font-size: 16px;
    line-height: 1.62em;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.hero-overlay {
    position: relative;

    max-width: 1125px;
    max-height: 680px;
    margin-right: auto;
  margin-left: auto;
  background-image:
    url(..//images/header-slider/mobile-slider-img-3.jpg);
    background-color: $primary-text-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: $before-tablet){
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image:
      url(..//images/header-slider/mobile-slider-img-3@2x.jpg);
    }
  }


      @media screen and (min-width: $tablet) {
        background-image:
        url(..//images/header-slider/tabl-slider-img-3.jpg);

        @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image:
      url(..//images/header-slider/tabl-slider-img-3@2x.jpg);
    }
      }

      @media screen and (min-width: $desktop) {
        background-image:
        url(..//images/header-slider/desk-slider-img-3.jpg);

        @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image:
      url(..//images/header-slider/desk-slider-img-3@2x.jpg);
    }
      }
}

.header-nav {
    font-size: 18px;
    line-height: 1.39em;
    letter-spacing: 0.1em;
}