.masters {
  background-color: $bg-color-second;
  padding-top: 84px;
  padding-bottom: 84px;

  .title {
    position: relative;
    margin: 0;
    margin-left: 80px;
    margin-bottom: 20px;
    font-family: $font-family-open-sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $primary-text-color;
    &::before {
      position: absolute;
      background-color: $primary-text-color;
      content: '';
      width: 60px;
      height: 1px;
      top: 8px;
      left: -80px;
    }
  }
  .big-title {
    margin: 0;
    margin-bottom: 44px;
    text-align: left;
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;

    color: $primary-text-color;
  }
  .name {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 30px;
    font-family: $font-family-open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: center;
    color: $primary-text-color;
  }
  p {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: $font-family-open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;

    color: $accent-color;
  }
  ul {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .comand-soc {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }
  &-list {
    width: 100%;
    @media screen and (max-width: 1279px) {
      margin-bottom: 64px;
      &:last-child {
        margin-bottom: 0px;
      }
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin: 0;
      padding: 1px 1px;
      font-family: $font-family;
      color: $primary-text-color;
      transition: color $animation-effect;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
  &-soc {
    width: 1, 1em;
    height: 1, 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  .soc-cont {
    margin-right: 10px;
    background-color: $bg-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
  }
}

@media screen and (min-width: $tablet) {
  .masters {
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
      @media screen and (max-width: 1279px) {
        padding-left: 159px;
        padding-right: 159px;
      }
    }
  }
}
@media screen and (min-width: $desktop) {
  .masters {
    padding-top: 130px;
    padding-bottom: 130px;

    ul {
      display: flex;
      flex-wrap: wrap;
    }
    &-list {
      margin-right: 0;
      width: calc((100% - 30px * 2) / 3);
      margin-right: 30px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
