*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*how it’s made?*/

.How-its-made-section{
  background-color: #FFF5F6;
  min-width: 320px;
  padding: 60px 20px 60px 20px;
}
.container-cow-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.cow-title-1{
  color: #FFA5BA;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 15px;
}
.cow-title-2{
  color: #D41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin: 0px;
}
.cow-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/milk-img-1.png);
  background-size: 100%;
    background-repeat: no-repeat;
    background-position: 80% 75%;
}
.cow-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cow-cream{
  margin-top: 40px;
  margin-bottom: 40px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
}
.cow-cream-text-1{
  min-width: 220px;
  flex-shrink: 0;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%; 
  letter-spacing: 0.48px;
  margin-top: 0px;
  margin-bottom: 18px;
}
.cow-cream-text-2{
  min-width: 220px;
  flex-shrink: 0;
  color: #907E82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.48px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.cow-button{
  width: 176px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #FFF;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #D41443;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 14px;
}
.container-cow-cream-info ul{
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-cow-1{
  fill: rgba(255, 165, 186, 1);
}
.icon-cow-2{
  fill: rgba(255, 165, 186, 1);
}
.icon-cow-3{
  fill: rgba(255, 165, 186, 1);
}
.icon-cow-amount{
  color: #D41443;
  font-family: Titan One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 4px;
}
.icon-cow-amount-info{
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.24px;
  flex-shrink: 0;
  margin-top: 0px;
  margin-bottom: 32px;
  max-width: 320px;
}






/*Footer*/

.footer-section{
  background-color: #FFF5F6;
  }
.container-footer-title{
display: flex;
flex-direction: column;
gap: 16px;
padding-left: 20px;
margin-left: 0px;
}
.footer-social{
  display: flex;
  justify-content: end;
}
.footer-title-1{
  color: #FFA5BA;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  
}
.footer-title-2{
  color: #D41443;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}
.container-footer-social{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  padding-right: 20px;
  margin-right: 0px;
}
.icon-footer-list{
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.icon-footer-list li{
  width: 32px; 
  height: 32px; 
  background: #FEA5BB; 
  border-radius: 50%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-phone{
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}
.footer-phone-text{
  color: #000;
  text-align: right;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}
.footer-phone-number{
  color: #D41443;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  text-decoration: none;
}
.container-copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  border-top: 1px solid #E1E1E1;
  padding-bottom: 4px;
}
.text-copyright{
  color: #907E82;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
}





/* Tablet */
@media screen and (min-width: 768px) {
  
/*how it’s made?*/
.cow-title-1{
  font-size: 26px;
}
.cow-title-2{
  font-size: 48px;
  letter-spacing: 1.92px;
}
.container-cow-title{
  margin-bottom: 40px;
}
.cow-container{
  flex-direction: row;
  gap: 32px;
}
.container-cow-cream{
  margin-top: 0px;
  margin-bottom: 0px;
}
.cow-cream-text-1{
  font-size: 14px;
  line-height: 174%;
  letter-spacing: 0.56px;
  margin-bottom: 32px;
}
.cow-cream-text-2{
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 194%; 
  letter-spacing: 0.56px;
}
.container-cow-cream-info ul{
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 52px;
}
.icon-cow-amount{
  font-size: 48px;
  letter-spacing: 1.92px;
}
.icon-cow-amount-info{
  font-size: 14px;
  line-height: 174%; 
  letter-spacing: 0.28px;
  width: 170px;
  margin-top: 0px;
}
.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-title-1{
  font-size: 26px;
  letter-spacing: 1.04px;
}
.footer-title-2{
  font-size: 48px;
  letter-spacing: 2.88px;
}
.icon-footer-list{
  margin-top: 60px;
}
.container-footer-social{
  margin-top: 0px;
  margin-right: 0px;
  gap: 40px;
}
.footer-phone-text{
  font-size: 14px;
  line-height: 186%; 
}
.footer-phone-number{
  font-size: 14px;
  line-height: 186%;
}

.text-copyright{
  font-size: 14px;
  line-height: 186%; 
  letter-spacing: 0.28px;
}
#br-for-mobile-2 {
  display: none;
}
}


/* Desktop */
@media screen and (min-width: 1158px) {
  #br-for-mobile {
    display: none;
  }
  .cow-title-1{
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .cow-title-2{
    font-size: 58px;
    letter-spacing: 3.48px
  }
  .cow-container{
    gap: 80px;
  }
  .container-cow-cream{
    max-width: 419px;
  }
  .cow-cream-text-1{
    font-size: 16px;
    line-height: 176%; 
    letter-spacing: 0.64px;
  }
  .icon-cow-amount{
    font-size: 48px;
    letter-spacing: 1.92px;
  }
  .icon-cow-amount-info{
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.32px;
    width: 1000px
  }
  .container-cow-cream-info ul{
    gap: 80px;
  }
  .footer-phone-text{
    font-size: 16px;
    line-height: 186%; 
    letter-spacing: 0.32px;
  }
  .footer-phone-number{
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.32px;

  }
  
}