*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family:"DM Sans"
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*header-section*/
.splash-milk , .tasty-reaction , .article-banner{display: none;}
.header-section-desktop{display: none;}
.banner-section-desktop{display: none;}
.banner-section-tablet{display: none;}
.menu-button svg{
  width: 20px;
  height: 12px;}
.logo-header{
  display: flex;
  justify-content: center;
  align-items: center;}
.logo-header svg{
  width: 199px;
  height: 50px;}
.header-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  align-items: center;
  background: #FFB8CA;
}
.js-menu-container{display: none;}
.js-menu-container.is-open{display: flex;
flex-direction: column;
position: absolute;
top: 0;
right: 0;
background-color: #E17992;
width: 250px;
height: 100vh;
padding: 20px 20px;
z-index: 3;
}
.js-close-menu{
  border: none;
  width: 14px;
  height: 14px;
  display: flex;
  align-self: flex-end;}
.buy-btn-tablet{display: none;}
.buy-btn{
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background: #FFF;
  border: none;
  font-family: var(--font-family);
  color: #D41443;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content:center;
  align-items: center;
  gap:20px;
  margin-top: 24px;
}
.buy-btn:hover{background: #ECEBEB;}
.buy-btn svg{
  stroke-width: 2px;
  stroke: #D41443;
  width: 5px;
  height: 8px;}
.menu-drawer-navigation a{
  text-decoration: none;
  color: #FFF;
  font-family:var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu-drawer-navigation li a{margin-bottom: 14px;}
.current-nav a{color: #D41443;}
.menu-drawer-navigation ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}
.menu-drawer-navigation li{list-style-type: none;
}
.menu-drawer-navigation li {border-bottom:1px solid #E18298;
  padding-bottom: 14px;
  padding-top: 14px;
}
.menu-drawer-navigation a:hover{ color:#D41443;}
.dash-nav{height: 1px;
  background:#E18298;;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;}
.banner-section {
  background-color: #FFB8CA;
}
.title-banner{color: #FFF;
font-family: "Titan One";
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.04px;
text-transform: uppercase;
}
.title-banner span{color: #D41443;
  font-family: "Titan One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.5%;
  text-transform: uppercase;
}
.title-banner-btns{position: relative;
z-index: 2;
display: flex;
flex-direction: column;
margin-left: 20px;
top:160px}
.ice-cream-banner{border-radius: 50%;
background-color:#FFA5BA;;
width: 346px;
 height: 344px;
display:flex ;
justify-content: center;
align-items: center;
position: relative;
right:-20%;
bottom: 75px;}
  .ice-cream-img{
    width: 171px;
    height: 410px;
    position:absolute;
    top:9px;
    right:94px}
.btns-banner{display: flex;
flex-direction: row;
gap: 9px;}
.products-btn{background-color: #D41443;
  color: #FFF;
  text-align: center;
  font-family:var(--font-family);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 61px;
  height: 24px;
  border-radius: 22px; 
  border: none;
}
.made-btn{width: 82px;
  height: 24px;
  color: #D41443;
  text-align: center;
  font-family: var(--font-family);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  border-radius: 22px;
 border: none;}
.made-btn:hover{background-color: #ECEBEB;}
/*100% natural-section*/

/*how-its-made-section*/

/*carusell-section*/

/*locations-sections*/

/*footer-sections*/

/* Tablet */
@media screen and (min-width: 768px) {
  /*header-section*/
  .header-section-desktop{display: none;}
  .banner-section-desktop{display: none;}
  .header-section-tablet{display: flex;
 flex-direction: row;
background: #FFB8CA;
justify-content: space-between;
align-content: center;
padding-left:32px ;
padding-right: 32px;
padding-top: 32px;
width: 100%;}
.nav-tablet-and-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
  .buy-btn-tablet {
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background: #FFF;
    border: none;
    font-family: var(--font-family);
    color: #D41443;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     }
   .buy-btn-tablet:hover {
      background: #ECEBEB;
    }
   .buy-btn-tablet svg {
      stroke-width: 2px;
      stroke: #D41443;
      width: 4px;
      height: 8px;
    }
    .banner-section{display: none;}
    .banner-section-tablet{display: block;
    background-color: #FFB8CA;
    padding-left: 32px;
    padding-right: 32px;
}
 .banner-section-tablet .ice-cream-banner{
      width: 335px;
      height: 340px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top:43px;
      right: 26%;}
    .banner-section-tablet .ice-cream-img{
  width: 143px;
  height: 338px;
  position: absolute;
  top: 35px;
  right: 136px;
  bottom: 0;}
    .banner-section-tablet .title-banner-btns{
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      top: 0;
      margin: 0;
      width: 40%;}
            .splash-milk,
            .tasty-reaction,
            .article-banner {
              display: flex;
            }
     .banner-section-tablet .splash-milk{
        width: 152px;
        height: 154px;
      }
     .banner-section-tablet .milk-with-article{
        display: flex;
        flex-direction: row;
        z-index: 3;
        margin-top: 20px;
      }
      .banner-section-tablet .article-banner{width: 114px;
        height: 48px;
        color: #FFF;
        font-family: var(--font-family);
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 41px;
        display: flex;
       flex-direction: column;}
      .banner-section-tablet .article-banner img{
        width: 18px;
        height: 18px;}
    .banner-section-tablet .tasty-reaction{
      margin-top: 50px;
      text-align: right;
  }
  .banner-section-tablet .tasty-reaction img{
    width: 190px;
    height: 150px;
  }
  .banner-section-tablet .number-right-side{
  width: 43px;
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;  
}
    .banner-section-tablet .number-right-side h3{color: #D41443;
      font-family: "Titan One";
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.12px;
      text-transform: uppercase;
      margin: 0;
      z-index: 2;
    }
    .banner-section-tablet .number-right-side p{color: #FFF;
      font-family: var(--font-family);
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      margin-right: 10px;
      text-align: right;
  } 
   .banner-section-tablet .number-right-side svg{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.banner-section-tablet .right-side-banner{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 100px;
  width: 30%;
  padding-right: 32px;
}
.banner-section-tablet .right-side-banner div{margin-right: 0;}

  /*100% natural-section*/

  /*how-its-made-section*/

  /*carusell-section*/

  /*locations-sections*/

  /*footer-sections*/
}

/* Desktop */
@media screen and (min-width: 1158px) {
  /*header-section*/
  .header-section{display: none;}
  .banner-section-tablet{display: none;}
  .header-section-desktop{display: flex;
 background-color: #FFB8CA;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 37px 56px;}
.menu-desktop .current-nav a{color: #D41443;}
.menu-desktop ul{display: flex;
  flex-direction: row;
  gap: 32px;
  z-index: 3;
  position: relative;}
  .menu-desktop a{text-decoration: none;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}
    .menu-desktop a:hover{color: #D41443;}
  .menu-desktop li{list-style-type: none;}
  .banner-section-desktop{display: block;
background-color: #FFB8CA;
padding-left: 56px;
padding-right: 56px;
padding-bottom: 60px;}
  .banner-section-desktop .title-banner h1{
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    margin-bottom: 24px;
    }
  .banner-section-desktop .title-banner span{
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 90.5%;
    letter-spacing: 2.32px;
   }
  .banner-section-desktop .products-btn{width: 107px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
  .banner-section-desktop .made-btn{width: 138px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
    .banner-section-desktop .btns-banner{margin-bottom: 40px;}
  .banner-section-desktop .title-banner-btns{
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 40px;
    margin: 0;}
   .banner-section-desktop .article-banner p{
    width: 200px;
    height: 78px;color: #FFF;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;}
    .banner-section-desktop .article-banner img{
      width: 26px;
      height: 26px;}
            .banner-section-desktop .milk-with-article {
              display: flex;
              flex-direction: row;
              z-index: 3;
              margin-top: 20px;
            }
    .banner-section-desktop .article-banner{
    display: flex;
    flex-direction: column;
    padding-top:68px ;}
        .banner-section-desktop .number-right-side {
          width: 72px;
          position: relative;
          right: 0;
          display: flex;
          flex-direction: column;
          margin-bottom: 18px;
        }
 .banner-section-desktop .tasty-reaction {
   margin-top: 87px;
   text-align: right;}
 .banner-section-desktop .tasty-reaction img {
   width: 304px;
   height: 241px;
 }
  .banner-section-desktop .number-right-side h3 {
      color: #D41443;
      font-family: "Titan One";
      font-size: 46px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.84px;
      text-transform: uppercase;
      margin: 0;
      z-index: 2;
  }
   .banner-section-desktop .number-right-side p {
     color: #FFF;
     font-family:" DM Sans";
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-align: right;
     margin: 0;
     margin-right: 18px;
   }
    .food-trucks{
    width: 70px;}
   .banner-section-desktop .number-right-side svg {
     width: 30px;
     height: 30px;
     position: absolute;
     top: 0;
     right: 0;
     z-index: 1;
   }
   .banner-section-desktop .right-side-banner {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     position: absolute;
     right: 0;
     top: 156px;
     width: 30%;
     padding-right: 56px;
     }
   .banner-section-desktop .ice-cream-banner {
    width: 534px;
      height: 534px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 54px;
     right: 15%;
     bottom: 77px;}
   .banner-section-desktop .ice-cream-img {
    width: 236px;
      height: 555px;
     position: absolute;
     top: 50px;
     right: 179px;
     bottom: 0;
   }

  /*100% natural-section*/

  /*how-its-made-section*/

  /*carusell-section*/

  /*locations-sections*/

  /*footer-sections*/
}
