*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
}
a {
  text-decoration: none;
}

:root {
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*header-section*/

/*100% natural-section*/

/*how-its-made-section*/

/*carusell-section*/

/*locations-sections*/
.location-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.location-card {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
  display: flex;
  flex-direction: column;
  width: 87vw;
  border: 1px solid #e1e1e1;
  margin: 0 auto;
  border-radius: 24px;
  padding: 40px 32px;
  line-height: 22px;
}
.location-type h3 {
  color: #fff;
  background-color: #f0d1a5;
  width: 80px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0px;
  border-radius: 4px;
}
.location-card:nth-child(2) .location-type h3 {
  background-color: #c2e297;
  width: 130px;
}
.location-schedule ul {
  padding: 0px;
  margin: 0px;
}
.location-schedule :nth-child(2) {
  padding-bottom: 8px;
}
.location-schedule li:nth-child(even) {
  color: #ffa5ba;
}
.location-schedule li:nth-child(odd) {
  font-weight: bold;
}

.location-contact a,
.location-description p {
  color: #907e82;
  margin: 0px;
}

.location-description h4 {
  margin: 0px;
  padding-bottom: 8px;
}
.location-description,
.location-schedule {
  border-bottom: 1px solid #e1e1e1;
  padding: 24px 0px;
  margin: 0px;
}
.location-contact {
  padding-top: 24px;
  /* comment */
}

/*footer-sections*/

/* Tablet */
@media screen and (min-width: 768px) {
  /*header-section*/

  /*100% natural-section*/

  /*how-its-made-section*/

  /*carusell-section*/

  /*locations-sections*/

  /*footer-sections*/
}

/* Desktop */
@media screen and (min-width: 1158px) {
  /*header-section*/

  /*100% natural-section*/

  /*how-its-made-section*/

  /*carusell-section*/

  /*locations-sections*/

  /*footer-sections*/
}
