.header {
  background-color: getColor(heroBgrd);
}

.header a {
  text-decoration: none;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 38px;
  // padding-bottom: 38px;
  padding-bottom: -33px;
  z-index: 9;

  @media screen and (max-width: 767px) {
    padding-top: 6px;
  }
}

.logo-image {
  display: block;
  width: 199px;
  height: 100%;
  margin-right: 40px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  position: relative;
  z-index: 9;
  padding: 0;
  margin: 0;

}

.site-nav.list {
  display: flex;
}

.site-nav__link {
  text-decoration: none;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  margin: 15px 35px 15px auto;

  color: getColor(btncolor);

  &:hover,
  &:focus,
  &.current {
    color: getColor(accent);
  }
}

.mobile-nav .site-nav__link {
  font-size: 14px;    
}

.header__button {
  height: 44px;
  padding: 0 36px;
  border-radius: 22px;
  border: none;
  background-color: getColor(btncolor);
  color: getColor(accent);
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  margin-left: auto;
}

.main-nav + .header__button {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__button.side {
  display: inline;
  margin-left: 30px;
}


.button-icon {
  width: 4px;
  height: 8px;
  fill: getColor(accent);
  margin-left: 12px;
}



.mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 15px 20px;
  width: 250px;
  height: 100vh;
  background-color: getColor(bgcmobile);
  // transform: translateX(200%);
}

.mobile-nav .site-nav {
  display: inline-block;
}

.mobile-nav .site-nav__item {
  margin-right: 0;
  margin-bottom: 22px;
}


.main-nav .site-nav {
  display: none;

  @media screen and (min-width: 1199px) {
  display: flex;
  }
}

// * {
//   outline: 1px solid blue;
// }