.header {
    background-color: getColor(heroBgrd);
}
.header__button {
    margin-left: auto;
}

.button-icon {
    width: 4px;
    height: 8px;
    fill: getColor(accent);
}
  
//   .logo-image {
//     width: 100px;
//     height: 100%;
//   }
  
//   .logo-temp {
    //       width: 199px;
    //       height: 50px;
    //       color: indianred;
    //     }
.header .container {
    display: inline-flex;
    align-items: center;

}
.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    padding: 0;
    margin: 0;
}

.site-nav.list {
    display: flex;
}

.site-nav__link {
    text-decoration: none;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    margin: 15px 35px 15px 0;

    color: getColor(btncolor);
  
        &:hover,
        &:focus {
            color: getColor(accent);
    }
  }
  
  .header__button {
    height: 44px;
    padding: 0 36px;
    border-radius: 22px;
    border: none;
    background-color: getColor(btncolor);
    color: getColor(accent);
    font-family: $main-font;
    font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
  }

.logo-image {
    width: 199px;
    height: 50px;
    display: block;
}

.header .container {
    padding-top: 38px;
    padding-bottom: 38px;
}

* {
    outline: 1px solid blue;
}
