.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
}

.menu-button {
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 48px;
  z-index: 10;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu {
  fill: $main_black;
}
.icon-close {
  fill: $main_white;
}
.menu-icon {
  width: 24px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
}

.menu-icon.icon-size {
  width: 19px;
  height: 19px;
}
.menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  z-index: 0;
}

@media screen and (max-width: $tablet) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    width: 337px;
    height: 796px;

    background-color: $main_white;

    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16),
      0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
  }
}

.menu-container.is-open {
  display: block;
}
