.button-style {
  display: block;
  margin: 0;
  min-width: 160px;
  padding: 12px 37px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  background-color: transparent;

  a {
    color: $header-title-color;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.03rem;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $background-color;
    }

    @media screen and (min-width: $tablet) {
      color: $background-color;
    }
  }

  &:hover,
  &:focus {
    background-color: $accent-color;

    outline: none;
  }

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    padding: 12px 20px;
  }
}
