// variables

//, header
$background-color: #ffffff; //. цвет фона
$header-title-color: #303030; //.  текст хедера
$accent-color: #ff6c00; //. цвет ховера (фокуса)
$backdrop-bgc: rgba(25, 28, 38, 0.2); //. цвет оверлея для слайдерав хедере

$timing-function: cubic-bezier(0.4, 0, 0.2, 1); //. функция анимации
$time-amount: 250ms; //. время анимации

// breakpoints
$mobile: 480px; //. точка перелома для мобильных устройств
$tablet: 768px; //. точка перелома для планшетов
$desktop: 1280px; //. точка перелома для десктопов
