.container {
  margin: 0px auto;

  @media screen and (max-width: 479px) {
    max-width: 479px;
    padding: 0px 31px;
  }

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
    padding: 0px 31px;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0px 39px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 0px 55px;
  }
}
