
@mixin lineWithText($color) {
    // // тект должен быть position relative/ и инлайн, либо блок с заданой шириной,
    //  т.к. если стоит блок, он занимает всю ширину родителя,
    //  и бефор ставиться left/right по родителю.
    // Я еще подумаю, как это можно сделать максимально нормально, пока так (
      
      display: inline-block;
      position: relative;
      color: $color;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11px;
      line-height: 21px;
      letter-spacing: 0.1em;
  
      &:before {
        content: "";
        position: absolute;
        width: 60px;
        top: 10px;
        transform: translateY(-50%);
        left: -80px;
        // -80рх по тому что длинна этой полоски 60рх + 20рх отступ от текста
  
        border-top: 1px solid;
        border-color: inherit;
      }
  }

