%lineWithText {

  // // тект должен быть position relative/ и инлайн, либо блок с заданой шириной,
  //  т.к. если стоит блок, он занимает всю ширину родителя,
  //  и бефор ставиться left/right по родителю.
  // Я еще подумаю, как это можно сделать максимально нормально, пока так (
    
    display: inline;
    position: relative;
    margin-left: 200px;

    font-size: 11px;
    text-transform: uppercase;
    color: royalblue;

    &:before {
      content: "";
      position: absolute;
      width: 60px;
      top: 50%;
      transform: translateY(-50%);
      left: -80px;
      // -80рх по тому что длинна этой полоски 60рх + 20рх отступ от текста

      border-top: 1px solid;
      border-color: inherit;
    }
}
