.link {
  text-decoration: none;
}

.contacts-city {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  margin-top: 25px;

  letter-spacing: 0.04em;

  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.87;
    margin-top: 32px;
  }
}

.contacts-item-desc {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  position: relative;

  color: #907e82;

  margin-top: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
    margin-top: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
    margin-top: 10px;
  }
}

.contacts-item-desc::after {
  position: absolute;
  display: block;
  content: '';
  height: 0px;
  width: 100%;
  border: 1px solid #e1e1e1;

  left: 0;
  top: 80px;
}
.contacts-item-graph {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  letter-spacing: 0.04em;

  color: #000000;

  margin-top: 50px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.87;
    margin-top: 64px;
  }
}

.contacts-item-adress {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: #907e82;
  margin-top: 50px;
  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
    margin-top: 64px;
    margin-bottom: 62px;
  }
}
