.contacts-btn {
  border-width: 0px;
  border-radius: 22px;
  height: 44px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: block;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 86px;
  }
}
.locations {
  background: #d41342;
  color: #ffffff;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 10px;
  &:focus,
  &:hover {
    background-color: #c7133e;
  }

  @media screen and (max-width: 767px) {
    margin-top: 54px;
  }
}

.franchise {
  padding-left: 32px;
  padding-right: 32px;
  background: #ffffff;
  color: #d41443;
  &:focus,
  &:hover {
    background-color: #ecebeb;
  }
}
