.advantages-number {
  display: flex;
  flex-wrap: wrap;
}

.block-number {
  background-color: aqua;
}

<<<<<<< Updated upstream
.test {
  background-color: $accent-color;
}
.test2 {
  background-color: $accent-color;
}
=======

>>>>>>> Stashed changes
