.main-container {
  @include tablet {
    max-width: 767px;
  }
}
.doing-section {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;

  @include tablet {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.title-doing {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  text-align: center;
  letter-spacing: 0.08em;
  margin: 0 0 18px;
  color: $primary-text-color;

  @include desktop {
    font-size: 20px;
    line-height: 28px;
  }
}

.pseudo-line-title:after {
  display: block;
  margin: 15px auto 0;
}
.pseudo-line-title:after,
.pseudo-line:before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: $accent-color;
}
.doing-icon {
  width: 43.39px;
  height: 48px;
  fill: $accent-color;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 30px;
  }
}

.text-doing {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-top: 0;
  text-align: center;
  letter-spacing: 0.08em;
  color: $secondary-text-color;

  @include desktop {
    font-size: 18px;
    line-height: 28px;
  }
}
.doing-section-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin: 0 0 30px;

  @include desktop {
    font-size: 46px;
    text-align: left;
  }
}

.doing-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.doing-list-item {
  position: relative;
  flex-basis: 280px;
  padding: 30px 20px 20px;
  background: $primary-white-color;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.doing-list-item:not(:last-child) {
  @include mobile {
    margin-bottom: 15px;
  }
}
.doing-list-item:not(:nth-child(-n + 2)) {
  @media (max-width: 767px) and (min-width: 618px) {
    margin-bottom: 15px;
  }
}

.doing-list-item:nth-child(2n + 1) {
  @media (max-width: 767px) and (min-width: 618px) {
    margin-right: 15px;
  }
}
.doing-list-item:not(:nth-last-child(-n + 2)) {
  @include tablet {
    margin-bottom: 22px;
  }
}

.doing-list-item:nth-child(2n + 1) {
  @include tablet {
    margin-right: 20px;
  }
}
 .doing-list-item:not(:nth-last-child(-n + 3)) {
  @include tablet {
    margin-bottom: 20px;
  }
}

.doing-list-item {
  @include tablet {
    padding: 36px 20px 24px;
    flex-basis: 325px;
  }
}
.doing-list-item:not(:nth-last-child(-n + 3)) {
  @include desktop {
    margin-bottom: 20px;
  }
}
.doing-list-item:not(:nth-child(3n)) {
  @include desktop {
    margin-right: 20px;
  }
}

.doing-list-item {
  @include desktop {
    padding: 32px 30px 52px;
    flex-basis: 410px;
  }
}
// .doing-list-item:after,
// .doing-list-item:before {
//   content: '';
//   position: absolute;
//   top: 3%;
//   left: 3%;
//   right: 3%;
//   bottom: 3%;
//   border-color: #fff;
//   transition: transform 0.2s linear, background 0.3s linear,
//     -webkit-transform 0.2s linear;
// }

.doing-hover:hover {
  background-color: $accent-color;
  color: $primary-white-color;
}
.doing-hover:hover .pseudo-line-title:after {
  background-color: $primary-white-color;
}
.doing-hover:hover .text-doing {
  background-color: $accent-color;
  color: $primary-white-color;
}
.doing-hover:hover .title-doing {
  background-color: $accent-color;
  color: $primary-white-color;
}
.doing-list-item:hover .doing-icon {
  fill: $primary-white-color;
}
.doing-list-item:hover {
  transform: scale(1.05);
}
