@import '../layout/mixin';
.guarantee {
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: #fff;
    .container-guarantee {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        padding: 0px 20px;
    }
    .guarantee-list-wrapper {
        background-color: #f1f1f1;
        padding-top: 30px;
        padding-bottom: 31px;
    }
    .guarantee-header {
        font-weight: 800;
        font-size: 26px;
        line-height: 1.30;
        /* or 34px */
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .guarantee-list {
        padding-left: 7px;
    }
    .guarantee-item {
        position: relative;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        /* or 167% */
        color: #3D3D3D;
        padding-left: 28px;
        letter-spacing: 0.01em;
    }
    .guarantee-item:not(:last-child) {
        padding-bottom: 23px;
        border-left: 1px dashed $secondary-text-color;
    }
    .guarantee-item::after {
        content: '';
        position: absolute;
        top: 0px;
        left: -7px;
        display: block;
        width: 14.67px;
        height: 20px;
        background-image: url('../images/teacher-section/icons/fire-optimized.svg');
        background-size: cover;
    }
    .guarantee-item::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -7px;
        display: block;
        width: 15px;
        height: 28px;
        // background-color: red;
        background-color: #f1f1f1;
    }
    .accent-text {
        color: $accent-color;
    }
    @media screen and (min-width: 768px) {
        padding-bottom: 0px;
        .container-guarantee {
            // max-width: 900px;
            max-width: 768px;
            padding: 0px 40px;
        }
        .guarantee-header {
            font-size: 26px;
        }
        .guarantee-list-wrapper {
            background-color: #FFF;
            padding-top: 0px;
            padding-bottom: 50px;
        }
        .guarantee-list {
            background-color: #f1f1f1;
            padding: 30px 50px 30px 86px;
        }
        .guarantee-item {
            padding-left: 32px;
        }
        .guarantee-item:not(:last-child) {
            padding-bottom: 20px;
        }
    }
    @include desktop {
        .container-guarantee {
            width: 100%;
            max-width: 1316px;
            margin: 0 auto;
            padding: 0px 20px;
        }
        .guarantee-header {
            font-size: 46px;
            line-height: 1.3;
            margin-bottom: 50px;
        }
        .guarantee-list-wrapper {
            padding-bottom: 130px;
        }
        .guarantee-list {
            background-color: #f1f1f1;
            padding: 50px 112px 45px 112px;
        }
        .guarantee-item {
            padding-left: 41px;
            font-size: 20px;
            line-height: 1.4;
        }
        .guarantee-item:not(:last-child) {
            padding-bottom: 20px;
        }
        .guarantee-item::before {
            left: -12px;
            width: 24px;
            height: 42px;
            // background-color: red;
            background-color: #f1f1f1;
        }
        .guarantee-item::after {
            width: 22px;
            height: 30px;
            left: -12px;
        }
    }
}