.problems{
    background-image: linear-gradient($primary-text-color 0%, $primary-text-color 100%);
    background-repeat: no-repeat;
    background-size: 100% 545px;

    @include tablet{
        padding-left: 22px;
        padding-top: 60px;
        padding-right: 22px;
        background-size: 100% 340px;
    }

    @include desktop{
        padding-top: 100px;
        background-image: url(../images/problems/campfire.svg), linear-gradient($primary-text-color 0%, $primary-text-color 100%);
        background-size:100% 445px,100% 560px;
        background-position: left 660px bottom 152px, top;
    }

    .problems-title{
        width: 100%;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.36;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-block-start: 0px;
        margin-block-end: 0px;

        @include tablet{
            margin-right: auto;
            font-size: 26px;
            margin-left: auto;
            max-width: 668px;
        }

        @include desktop{
            max-width: 866px;
            font-size: 46px;
        }

        span{
            color: $accent-color;
        }
    }

    .problems-list{
        width: 100%;
        margin-top: 27px;
        background-color: #FFFFFF;
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

        @include tablet{
            max-width: 688px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 25px;
            padding-left: 96px;
            padding-right: 0px;
            padding-top: 22px;
            padding-bottom: 26px;
            display: flex;
            flex-wrap: wrap;
        }

        @include desktop{
            max-width: 1314px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 70px;
            padding-left: 114px;
            padding-top: 70px;
            padding-right: 0px;
            padding-bottom: 62px;
            display: flex;
            flex-wrap: wrap;
        }

        @include desktop{
            margin-top: 70px;
        }

        .problems-list-item{

            @include tablet{
                width: 100%;
                max-width: 236px;
                margin-top: 8px;
            }

            @include desktop{
                width: 100%;
                max-width: 336px;
            }

            &:not(:first-child){
                margin-top: 10px;

                @include tablet{
                    margin-top: 8px;
                }

                @include desktop{
                    margin-top: 0px;
                }
            }

            &:nth-child(2n+1){
                @include tablet{
                   margin-right: 40px;
                }
            }

            &:nth-child(n+4){
                margin-top: 32px;
            }

            &:not(:nth-child(3n+1)){
                @include desktop{
                    margin-left: 40px;
                }
            }

            &:nth-child(3n+1){
                @include desktop{
                    max-width: 290px;
                }
            }

            &>p{
                display: inline;
                margin-block-start: 0px;
                margin-block-end: 0px;
                font-weight: bold;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.08em;
                color: $accent-color;

                &::before{
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8px;
                    height: 3px;
                    width: 25px;
                    background-color: $accent-color;
                }
            }

            h3{
                font-weight: bold;
                font-size: 14px;
                line-height: 1.71;
                display: flex;
                align-items: center;
                letter-spacing: 0.08em;
                margin-block-start: 5px;
                margin-block-end: 0px;
                color: #111518;

                @include desktop{
                    font-size: 20px;
                }
            }
        }
    }
}

.problems.section{
    padding-bottom: 0px;
}