@import '../layout/mixin';
.teacher-section {
    background-color: #fff;
    &>.container-teacher {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        padding: 0px 20px;
    }
    .picture {
        display: block;
    }
    .section-header {
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.3;
        /* or 26px */
        letter-spacing: 0.03em;
        margin: 0 0 20px 1px;
    }
    .name-label {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.08em;
        margin: 0 0 0px 1px;
        padding-bottom: 10px;
        border-bottom: 1px solid $secondary-text-color;
    }
    .achievement-list {
        padding: 20px 0 0 27px;
    }
    .achievement-list-item {
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.214;
        letter-spacing: 0.06em;
    }
    .achievement-list-item::before {
        content: '';
        position: absolute;
        left: -27px;
        display: block;
        width: 17px;
        height: 14px;
        background-image: url('../images/teacher-section/icons/check-mark-optimized.svg');
        background-size: cover;
    }
    .achievement-list-item:not(:last-child) {
        margin: 0 0 20px 0;
    }
    .decor-dash {
        position: relative;
        height: 33px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .decor-dash::after {
        content: '';
        position: absolute;
        top: 19px;
        display: block;
        width: 20px;
        border-bottom: 2px solid $accent-color;
    }
    .about-teacher {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        color: $secondary-text-color;
        padding-left: 1px;
        letter-spacing: 0.08em;
        /* or 167% */
        .about-teacher-text+.about-teacher-text {
            margin-top: 15px;
        }
    }
    .about-teacher-text {
        margin: 0;
    }
    .certificate-link {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        /* identical to box height, or 167% */
        letter-spacing: 0.03em;
        color: $accent-color;
        text-decoration-line: underline;
        margin-top: 10px;
    }
    .thumb {
        margin-bottom: 20px;
    }
    .thumb>picture {
        width: 100%;
        max-width: 243px;
    }
    @media screen and (min-width: 768px) {
        .container-teacher {
            // max-width: 900px;
            max-width: 768px;
            padding: 0px 40px;
        }
        .about-info-wrapper {
            display: flex;
            justify-content: space-between;
        }
        .thumb {
            padding-left: 3px;
            margin-bottom: 0px;
        }
        .thumb>picture {
            width: 243px;
        }
        .about-info-text {
            display: block;
            margin-left: 40px;
        }
        .section-header {
            font-size: 26px;
        }
        .achievement-list-item:not(:last-child) {
            margin: 0 0 31px 0;
        }
        .decor-dash {
            margin-top: 0px;
        }
    }
    @include desktop {
        &.section {
            padding-top: 130px;
            padding-bottom: 122px;
        }
        .container-teacher {
            width: 100%;
            max-width: 1316px;
            margin: 0 auto;
            padding: 0px 20px;
        }
        .section-header {
            font-size: 46px;
            margin: 0 0 50px 0px;
        }
        .about-info-wrapper {
            display: flex;
            justify-content: space-between;
        }
        .thumb {
            padding-left: 3px;
            margin-bottom: 0px;
        }
        .thumb>picture {
            max-width: 100%;
            width: 530px;
        }
        .about-info-text {
            margin-left: 30px;
        }
        .name-label {
            font-size: 30px;
            line-height: 1.233;
            padding-bottom: 15px;
            /* identical to box height */
        }
        .achievement-list {
            padding: 30px 0 0 60px;
        }
        .achievement-list-item {
            font-size: 16px;
            line-height: 1.25;
        }
        .achievement-list-item:not(:last-child) {
            margin: 0 0 30px 0;
        }
        .achievement-list-item::before {
            width: 24.41px;
            height: 20px;
            left: -59px;
        }
        .decor-dash {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .about-teacher {
            font-size: 18px;
            line-height: 1.556;
        }
        .certificate-link {
            font-size: 18px;
            line-height: 1.56;
            margin-top: 20px;
        }
    }
}