.advantages {
  padding: 30px 0 50px 0;

  ul {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #111518;

    margin-left: 30px;
    margin-right: 30px;

    li {
      margin: 0 auto;
      height: 60px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
        min-width: 60px;
        max-width: 60px;
      }
    }

    li:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
