.benefits {
  padding: 0 0 40px 0;
  background: linear-gradient(
    to bottom,
    $dark-color-black 70%,
    $light-color-white 70%
  );

  .title {
    display: block;
    max-width: 50%;
    margin: 0 0 30px;
    text-align: left;
    color: #ffffff;

    @media screen and (min-width: $tablet) {
      text-align: center;
      max-width: initial;
    }
  }

  .benefits-list-wrapper {
    padding: 20px 30px 20px 30px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    background: $light-color-white;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    @media screen and (min-width: $tablet) {
      padding: 30px 100px 25px;
    }

    ol {
      padding: 0;
      margin: 0;

      list-style: none;
      counter-reset: steps;

      font-weight: bold;
      font-size: 14px;
      line-height: 20px;

      letter-spacing: 0.08em;

      color: #111518;

      li {
        display: flex;
        flex-direction: column;
        counter-increment: steps;
      }

      li::before {
        content: '— ' '0' counter(steps);
        margin-bottom: 10px;
        color: $bright-color-orange;
      }

      @media screen and (max-width: 767px) {
        li:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;

        li {
          width: calc((100% - 20px) / 2);
          max-width: 220px;

          @media screen and (min-width: $tablet) and (max-width: 1359px) {
            &:nth-child(odd) {
              margin-right: 20px;
            }
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 50px 0;
    background: linear-gradient(to bottom, #111518 45%, #ffffff 45%);
  }
}
