.contact {
    padding: 50px 0;
    background-color: #111518;
    background-image: url('../images/tablet/contacts-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/tablet/contacts-bg@2x.png');
        }

    @media screen and (min-width: $tablet) {
        background-image: url('../images/desktop/contacts-bg.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/desktop/contacts-bg@2x.png');
        }

        .container {
            @media screen and (min-width: $desktop) {
                padding: 0 135px;
            }
        }

    }

    h2 {
        font-weight: 800;
        font-size: 14px;
        line-height: 136%;

        text-align: center;
        letter-spacing: 0.03em;

        color: #FFFFFF;

        @media screen and (min-width: $tablet) {
            font-size: 26px;
            line-height: 130%;
        }

        @media screen and (min-width: $desktop) {
            width: 1090px;
            font-size: 46px;
            line-height: 60px;
        }
    }

    ul {
        margin: 30px 0;

        @media screen and (min-width: $desktop) {
            margin: 50px 0;
        }
    }
    
    li {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.08em;

        color: #FFFFFF;

        @media screen and (min-width: $tablet) {
            font-size: 14px;
            line-height: 17px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 30px;
            line-height: 37px;
        }
    }

    input {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.08em;
        color: #FFFFFF;

        width: 100%;
        background-color: transparent;
        outline: 1px solid $light-color-white;
        border: none;
        margin: 0;
        padding: 15px 0;
        padding-left: 30px;


        @media screen and (min-width: $tablet) {
            width: 390px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 20px;
            width: 478px;
            padding: 27px 0 27px 40px;
        }

        &:focus-within:not(:placeholder-shown):required:invalid {
            outline: 1px solid red;
        }

        &:focus-within {
            outline: 1px solid $bright-color-orange;
        }

        &:focus-within::placeholder {
            color: $bright-color-orange
        }
    }

    input::placeholder {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.08em;
        color: #FFFFFF;

        @media screen and (min-width: $desktop) {
            font-size: 20px;
        }
    }

    #name {
        margin-bottom: 30px;
    }

    #phone {
        margin-bottom: 50px;
    }

    .button {
        display: block;
        padding: 15px 10px;
        background-color: $bright-color-orange;

        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: #FFFFFF;
        border: 2px solid transparent;

        transition: color, background-color 250ms linear;

        cursor: pointer;

        &:hover,
        &:focus {
            color: $bright-color-orange;
            background-color: #FFFFFF;
            border: 2px solid $bright-color-orange;
        }

        @media screen and (min-width: $desktop) {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.14em;

            padding: 25px;
        }
    }

    .form-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}