header {
  .container {
    padding-top: 32px;
    padding-bottom: 46px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  .mobile-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: space-between;

    @media screen and (min-width: $mobile) {
      max-width: $mobile;
    }

    @media screen and (min-width: $tablet) {
      max-width: $tablet;
      padding: 0 40px;
      padding-top: 40px;
      padding-bottom: 70px;
    }

    @media screen and (min-width: 1360px) {
      display: none;
    }
  }
}
.decktop-navigation {
  display: flex;
  align-items: center;
  text-align: center;
}
.decktop-navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li:not(:last-child) {
    margin-right: 40px;
  }

  a {
    padding: 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.03em;
    color: $light-color-gray;
    text-transform: uppercase;

        transition: color 300ms linear;

    &:hover,
    &:focus {
      color: $bright-color-orange;
    }
  }
}

.button-consultation {
  padding: 16px 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $bright-color-orange;
  background: #ffffff;
  border: 2px solid $bright-color-orange;
  display: none;
  cursor: pointer;

      transition: color, background-color 500ms linear;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-right: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 60px;
    margin-right: 0;
    padding: 26px 24px;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;

    &:focus,
    &:hover {
      background: $bright-color-orange;
      color: $light-color-white;
    }
  }
}

.mobile-container-buttons {
  display: flex;
}

/*--- Стили мобильного меню ---*/

.backdrop-mobile.is-hidden {
  display: none;
  pointer-events: none;
}

.backdrop-mobile {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(17, 21, 24, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow-y: scroll;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.backdrop-menu {
  padding: 30px 20px;

  @media screen and (min-width: 480px) {
    width: $mobile;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: $tablet;
    padding: 42px 40px 72px 40px;
  }
}

.fixed-menu {
  display: flex;
  justify-content: space-between;

  .logo-container {
    @media screen and (max-width: $tablet - 1px) {
      padding: 8px 0;
    }
  }
}

.mobile-navigation {
  padding: 50px 0;

  @media screen and (min-width: 600px) {
    padding: 25px 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.mobile-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #ffffff;

    @media screen and (min-width: 600px) {
      font-weight: 700;
      font-size: 18px;
    }

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
  }
}

.button-menu-consultation {
  display: flex;
  margin: 0 auto;
  padding: 14px 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $bright-color-orange;
  border: 2px solid $bright-color-orange;
  background-color: rgba(0, 0, 0, 0);

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

/*--- Стили формы модального окна ---*/

.backdrop-form.is-hidden {
  display: none;
  pointer-events: none;
}

.backdrop-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(17, 21, 24, 0.9);
  z-index: 2;
  // opacity: 1;

  padding: 70px 20px;

  @media screen and (min-width: 600px) and (max-width: 767px) {
    padding: 20px 20px;
  }

  @media screen and (min-width: 768px) {
    background: rgba(17, 21, 24, 0.8);
    overflow-y: scroll;
    padding: 60px 20px;
  }
  @media screen and (min-width: 1360px) {
    padding: 80px 20px;
  }
}

.header-modal {
  position: relative;
  background: #fff;
  width: 100%;

  padding: 20px;

  @media screen and (min-width: 600px) and (max-width: 767px) {
    height: 100%;
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 450px;
  }
  @media screen and (min-width: 1360px) {
    width: 550px;
  }
}

.button-modal-close {
  position: absolute;
  top: 28px;
  right: 20px;
  border: 0;
  padding: 0;
  stroke: $dark-color-black;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 34px;
    right: 20px;
  }

  &:focus,
  &:hover {
    stroke: $bright-color-orange;
  }
}

.decktop-consultation-form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  @media screen and (min-width: 1360px) {
    padding: 40px 0;
  }

  h2 {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @media screen and (min-width: 600px) and (max-width: 767px) {
      font-weight: 800;
      font-size: 26px;
      line-height: 1.307;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 1360px) {
      font-weight: 800;
      font-size: 26px;
      line-height: 1.307;
      letter-spacing: 0.03em;
    }
  }

  .submit {
    margin: 0 auto;
    margin-top: 30px;
    min-width: 200px;
    padding: 8px 5px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: $bright-color-orange;
    border: 2px solid $bright-color-orange;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    @media screen and (min-width: 768px) {
      padding: 10px 5px;
    }
    @media screen and (min-width: 1360px) {
      padding: 16px 5px;
    }

    &:focus,
    &:hover {
      background: $bright-color-orange;
      border-radius: 4px;
      color: $light-color-white;
    }
  }
}

.form-bar {
  position: relative;
  margin-top: 25px;
  display: block;

  .form-input {
    padding: 11px;
    padding-left: 35px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
      border: 1px solid $bright-color-orange;
      outline: 0;
    }
  }

  .svg-modal {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  .form-text {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $light-color-gray;
  }
}

.form-input:focus + .svg-modal {
  fill: $bright-color-orange;
}

.form-input:focus ~ .form-text,
.form-input:not(:placeholder-shown) ~ .form-text {
  transform: translateY(-40px);
  left: 0;
}

.formbar-textarea {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 25px;

  .form-textarea {
    margin: 0;
    padding: 11px;
    padding-left: 16px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    &:focus {
      border: 1px solid $bright-color-orange;
      outline: 0;
    }
  }
  .text-textarea {
    position: absolute;
    left: 16px;
    top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $light-color-gray;
  }
}

.form-textarea:focus + .text-textarea,
.form-textarea:not(:placeholder-shown) + .text-textarea {
  transform: translateY(-35px);
  left: 0;
}
