.program-section {
  background-image: linear-gradient(
    to bottom,
    $dark-color-black 90%,
    $light-color-white 10%
  );
  @media screen and (min-width: $tablet) and (max-width: 1359px) {
    background-image: linear-gradient(
      to bottom,
      $dark-color-black 85%,
      $light-color-white 15%
    );
  }
}

.program-section .title {
  color: $light-color-white;
}

.program-item {
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  color: $light-color-white;
}

.program-skills {
  font-size: 12px;
  line-height: 1.667;
  text-transform: none;
  color: $bright-color-orange;
}

.program-skills .list {
  font-weight: 500;
  color: $light-color-gray;
  opacity: 0.5;
}
